Repository rust-lang/rust, pull requests merged in 2022-04, with the labels that each got.

#95475 rustdoc: Only show associated consts from inherent impls in sidebar
  src/librustdoc/html/render/mod.rs
  src/test/rustdoc/associated-consts.rs
Labels: T-rustdoc, S-waiting-on-bors

#95516 ptr_metadata test: avoid ptr-to-int transmutes
  library/core/tests/ptr.rs
Labels: S-waiting-on-bors, A-strict-provenance

#95528 skip slow int_log tests in Miri
  library/core/tests/num/int_log.rs
Labels: S-waiting-on-bors

#95531 expand: Do not count metavar declarations on RHS of `macro_rules`
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/quoted.rs
Labels: T-compiler, S-waiting-on-bors

#95532 make utf8_char_counts test faster in Miri
  library/alloc/tests/str.rs
Labels: S-waiting-on-bors

#95546 add notes about alignment-altering reallocations to Allocator docs
  library/core/src/alloc/mod.rs
Labels: S-waiting-on-bors

#95558 Rollup of 6 pull requests
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/quoted.rs
  library/alloc/tests/str.rs
  library/core/src/alloc/mod.rs
  library/core/tests/num/int_log.rs
  library/core/tests/ptr.rs
  src/librustdoc/html/render/mod.rs
  src/test/rustdoc/associated-consts.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95344 Make `impl Debug for rustdoc::clean::Item` easier to read
  src/librustdoc/clean/types.rs
Labels: T-rustdoc, S-waiting-on-bors

#95388 interpret: make isize::MAX the limit for dynamic value sizes
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  src/test/ui/consts/const-eval/ub-wide-ptr.32bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.64bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.rs
  src/test/ui/consts/const-size_of_val-align_of_val.rs
Labels: T-compiler, S-waiting-on-bors

#95530 rustdoc: do not show primitives and keywords as private
  src/librustdoc/clean/types.rs
  src/test/rustdoc/keyword.rs
  src/test/rustdoc/primitive.rs
Labels: T-rustdoc, S-waiting-on-bors

#95552 Rollup of 6 pull requests
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  compiler/rustc_middle/src/ty/closure.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  library/std/src/lib.rs
  src/librustdoc/clean/types.rs
  src/test/rustdoc/keyword.rs
  src/test/rustdoc/primitive.rs
  src/test/ui/consts/const-eval/ub-wide-ptr.32bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.64bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.rs
  src/test/ui/consts/const-size_of_val-align_of_val.rs
  src/test/ui/did_you_mean/brackets-to-braces-single-element.rs
  src/test/ui/did_you_mean/brackets-to-braces-single-element.stderr
  src/test/ui/did_you_mean/issue-87830-try-brackets-for-arrays.rs
  src/test/ui/did_you_mean/issue-87830-try-brackets-for-arrays.stderr
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-62529-3.stderr
  src/test/ui/issues/issue-59494.stderr
  src/test/ui/trait-bounds/mismatch-fn-trait.rs
  src/test/ui/trait-bounds/mismatch-fn-trait.stderr
  src/test/ui/unboxed-closures/unboxed-closures-fnmut-as-fn.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95032 Clean up, categorize and sort unstable features in std.
  library/std/src/lib.rs
Labels: C-cleanup, S-waiting-on-bors, T-libs

#95260 Better suggestions for `Fn`-family trait selection errors
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/ty/closure.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-62529-3.stderr
  src/test/ui/issues/issue-59494.stderr
  src/test/ui/trait-bounds/mismatch-fn-trait.rs
  src/test/ui/trait-bounds/mismatch-fn-trait.stderr
  src/test/ui/unboxed-closures/unboxed-closures-fnmut-as-fn.stderr
Labels: T-compiler, S-waiting-on-bors

#95293 suggest wrapping single-expr blocks in square brackets
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  src/test/ui/did_you_mean/brackets-to-braces-single-element.rs
  src/test/ui/did_you_mean/brackets-to-braces-single-element.stderr
  src/test/ui/did_you_mean/issue-87830-try-brackets-for-arrays.rs
  src/test/ui/did_you_mean/issue-87830-try-brackets-for-arrays.stderr
Labels: T-compiler, S-waiting-on-bors

#94883 Encode even more metadata through tables instead of EntryKind
  compiler/rustc_const_eval/src/const_eval/fn_queries.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_ty_utils/src/ty.rs
  compiler/rustc_typeck/src/collect.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95430 Disable #[thread_local] support on i686-pc-windows-msvc
  compiler/rustc_target/src/spec/i686_pc_windows_msvc.rs
Labels: T-compiler, S-waiting-on-bors

#95544 Add error message suggestion for missing noreturn in naked function
  compiler/rustc_passes/src/naked_functions.rs
  src/test/ui/asm/naked-functions.stderr
Labels: T-compiler, S-waiting-on-bors

#95556 Implement provenance preserving methods on NonNull
  library/core/src/ptr/non_null.rs
  library/core/tests/lib.rs
  library/core/tests/ptr.rs
Labels: T-libs-api, S-waiting-on-bors, A-strict-provenance

#95557 Fix `thread_local!` macro to be compatible with `no_implicit_prelude`
  library/std/src/thread/local.rs
  src/test/ui/macros/issue-95533.rs
Labels: S-waiting-on-bors, T-libs

#95559 small type system refactoring
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/infer/unify_key.rs
  compiler/rustc_typeck/src/check/fn_ctxt/mod.rs
  compiler/rustc_typeck/src/check/inherited.rs
  compiler/rustc_typeck/src/check/method/probe.rs
Labels: T-compiler, S-waiting-on-bors

#95560 convert more `DefId`s to `LocalDefId`
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_infer/src/infer/error_reporting/note.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_typeck/src/check/compare_method.rs
  compiler/rustc_typeck/src/check/method/confirm.rs
  compiler/rustc_typeck/src/check/wfcheck.rs
Labels: T-compiler, S-waiting-on-bors

#95581 Rollup of 8 pull requests
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_infer/src/infer/error_reporting/note.rs
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/infer/unify_key.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_passes/src/lib_features.rs
  compiler/rustc_passes/src/naked_functions.rs
  compiler/rustc_target/src/spec/i686_pc_windows_msvc.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_typeck/src/check/compare_method.rs
  compiler/rustc_typeck/src/check/fn_ctxt/mod.rs
  compiler/rustc_typeck/src/check/inherited.rs
  compiler/rustc_typeck/src/check/method/confirm.rs
  compiler/rustc_typeck/src/check/method/probe.rs
  compiler/rustc_typeck/src/check/wfcheck.rs
  library/core/src/alloc/layout.rs
  library/core/src/char/methods.rs
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/mem/mod.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/mod.rs
  library/core/src/num/nonzero.rs
  library/core/src/num/uint_macros.rs
  library/core/src/option.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/non_null.rs
  library/core/src/result.rs
  library/core/src/sync/atomic.rs
  library/core/src/time.rs
  library/core/tests/lib.rs
  library/core/tests/ptr.rs
  library/std/src/net/ip.rs
  library/std/src/thread/local.rs
  src/test/rustdoc/const-display.rs
  src/test/ui/asm/naked-functions.stderr
  src/test/ui/consts/assert-type-intrinsics.rs
  src/test/ui/consts/const-eval/simd/insert_extract.rs
  src/test/ui/lint/uninitialized-zeroed.rs
  src/test/ui/lint/uninitialized-zeroed.stderr
  src/test/ui/macros/issue-95533.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95354 Handle rustc_const_stable attribute in library feature collector
  compiler/rustc_passes/src/lib_features.rs
  library/core/src/alloc/layout.rs
  library/core/src/char/methods.rs
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/mem/mod.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/mod.rs
  library/core/src/num/nonzero.rs
  library/core/src/num/uint_macros.rs
  library/core/src/option.rs
  library/core/src/ptr/mod.rs
  library/core/src/result.rs
  library/core/src/sync/atomic.rs
  library/core/src/time.rs
  library/core/tests/lib.rs
  library/std/src/net/ip.rs
  src/test/rustdoc/const-display.rs
  src/test/ui/consts/assert-type-intrinsics.rs
  src/test/ui/consts/const-eval/simd/insert_extract.rs
Labels: T-compiler, S-waiting-on-bors

#95373 invalid_value lint: detect invalid initialization of arrays
  compiler/rustc_lint/src/builtin.rs
  src/test/ui/lint/uninitialized-zeroed.rs
  src/test/ui/lint/uninitialized-zeroed.stderr
Labels: T-compiler, S-waiting-on-bors

#95509 Simplify `MatcherPos` some more
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95571 ast_lowering: Stop wrapping `ident` matchers into groups
  compiler/rustc_session/src/lib.rs
  compiler/rustc_session/src/utils.rs
  src/test/ui/proc-macro/nested-macro-rules.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95537 Improve TyCtxt::type_of documentation
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95568 Fix invalid DOM generation
  src/librustdoc/html/render/print_item.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#94911 Make GATs object safe under generic_associated_types_extended feature
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  src/test/ui/generic-associated-types/gat-in-trait-path.base.stderr
  src/test/ui/generic-associated-types/gat-in-trait-path.rs
  src/test/ui/generic-associated-types/issue-67510-pass.base.stderr
  src/test/ui/generic-associated-types/issue-67510-pass.rs
  src/test/ui/generic-associated-types/issue-76535.base.stderr
  src/test/ui/generic-associated-types/issue-76535.extended.stderr
  src/test/ui/generic-associated-types/issue-76535.rs
  src/test/ui/generic-associated-types/issue-78671.base.stderr
  src/test/ui/generic-associated-types/issue-78671.extended.stderr
  src/test/ui/generic-associated-types/issue-78671.rs
  src/test/ui/generic-associated-types/issue-79422.base.stderr
  src/test/ui/generic-associated-types/issue-79422.extended.stderr
  src/test/ui/generic-associated-types/issue-79422.rs
  src/test/ui/generic-associated-types/trait-objects.base.stderr
  src/test/ui/generic-associated-types/trait-objects.extended.nll.stderr
  src/test/ui/generic-associated-types/trait-objects.extended.stderr
  src/test/ui/generic-associated-types/trait-objects.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95589 Include a header in .rlink files
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_interface/src/queries.rs
  src/test/run-make-fulldeps/separate-link-fail/Makefile
Labels: T-compiler, S-waiting-on-bors

#95593 diagnostics: add test case for bogus T:Sized suggestion
  src/test/ui/consts/const-eval/size-of-t.rs
  src/test/ui/consts/const-eval/size-of-t.stderr
Labels: T-compiler, S-waiting-on-bors

#95597 Refer to u8 by absolute path in expansion of thread_local
  library/std/src/thread/local.rs
  src/test/ui/thread-local/name-collision.rs
Labels: S-waiting-on-bors, T-libs

#95600 Rollup of 4 pull requests
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_interface/src/queries.rs
  library/std/src/lib.rs
  library/std/src/sys/sgx/abi/usercalls/alloc.rs
  library/std/src/thread/local.rs
  src/test/run-make-fulldeps/separate-link-fail/Makefile
  src/test/ui/consts/const-eval/size-of-t.rs
  src/test/ui/consts/const-eval/size-of-t.stderr
  src/test/ui/thread-local/name-collision.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95587 Remove need for associated_type_bounds in std.
  library/std/src/lib.rs
  library/std/src/sys/sgx/abi/usercalls/alloc.rs
Labels: C-cleanup, S-waiting-on-bors, T-libs

#95590 Fix multiline attributes handling in doctests
  compiler/rustc_parse/src/parser/diagnostics.rs
  src/librustdoc/doctest.rs
  src/test/rustdoc-ui/doc-comment-multi-line-cfg-attr.rs
  src/test/rustdoc-ui/doc-comment-multi-line-cfg-attr.stdout
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#88672 Suggest `i += 1` when we see `i++` or `++i`
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  src/test/ui/parser/increment-autofix.fixed
  src/test/ui/parser/increment-autofix.rs
  src/test/ui/parser/increment-autofix.stderr
  src/test/ui/parser/increment-notfixed.rs
  src/test/ui/parser/increment-notfixed.stderr
Labels: A-diagnostics, A-parser, T-compiler, S-waiting-on-bors, A-suggestion-diagnostics, merged-by-bors

#85321 Use DefPathHash instead of HirId to break inlining cycles.
  compiler/rustc_mir_transform/src/inline.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt-inlining

#90791 make memcmp return a value of c_int_width instead of i32
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/traits/consts.rs
  library/core/src/ffi/mod.rs
  library/core/src/slice/cmp.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92686 Add debug assertions to some unsafe functions
  compiler/rustc_data_structures/src/map_in_place.rs
  library/alloc/benches/vec.rs
  library/core/src/intrinsics.rs
  library/core/src/num/nonzero.rs
  library/core/src/ptr/mod.rs
  library/core/src/slice/index.rs
  library/core/src/slice/mod.rs
  library/core/src/slice/raw.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, I-libs-nominated

#95610 Improve doc example of DerefMut
  library/core/src/ops/deref.rs
Labels: S-waiting-on-bors, merged-by-bors

#95553 Don't emit non-asm contents error for naked function composed of errors
  compiler/rustc_passes/src/naked_functions.rs
  src/test/ui/asm/naked-functions.rs
  src/test/ui/asm/naked-functions.stderr
Labels: T-compiler, S-waiting-on-bors

#95613 Fix rustdoc attribute display
  src/librustdoc/html/render/mod.rs
  src/test/rustdoc/attribute-rendering.rs
Labels: T-rustdoc, S-waiting-on-bors

#95617 Fix &mut invalidation in ptr::swap doctest
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors

#95618 core: document that the align_of* functions return the alignment in bytes
  library/core/src/mem/mod.rs
Labels: S-waiting-on-bors, T-libs

#95619 Mark Location::caller() as #[inline]
  library/core/src/panic/location.rs
Labels: S-waiting-on-bors, merged-by-bors

#95606 linker: Implicitly link native libs as whole-archive in some more cases
  compiler/rustc_codegen_ssa/src/back/link.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95031 Do not use `ParamEnv::and` when building a cache key from a param-env and trait eval candidate
  compiler/rustc_middle/src/traits/select.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-80706.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95636 Bump version number to 1.62.0
  src/version
Labels: S-waiting-on-bors, merged-by-bors

#95639 Prepare 1.60.0 stable release
  RELEASES.md
  library/std/src/io/error/repr_bitpacked.rs
  src/ci/channel
Labels: S-waiting-on-bors, merged-by-bors

#95555 A new matcher representation for use in `parse_tt`
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#95431 Stabilize total_cmp
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/std/src/lib.rs
  library/test/src/lib.rs
Labels: S-waiting-on-bors

#95438 Add SyncUnsafeCell.
  library/core/src/cell.rs
  library/core/src/fmt/mod.rs
  library/core/src/lib.rs
Labels: T-libs-api, S-waiting-on-bors

#95467 Windows: Synchronize asynchronous pipe reads and writes
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/pipe.rs
Labels: S-waiting-on-bors

#95609 Suggest borrowing when trying to coerce unsized type into `dyn Trait`
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/issues/issue-14366.stderr
  src/test/ui/mismatched_types/cast-rfc0401.stderr
  src/test/ui/unsized/unsized-fn-param.stderr
Labels: T-compiler, S-waiting-on-bors

#95653 Rollup of 7 pull requests
  RELEASES.md
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  library/core/src/cell.rs
  library/core/src/fmt/mod.rs
  library/core/src/lib.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/std/src/lib.rs
  library/std/src/os/windows/process.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/pipe.rs
  library/test/src/lib.rs
  src/test/ui/issues/issue-14366.stderr
  src/test/ui/mismatched_types/cast-rfc0401.stderr
  src/test/ui/proc-macro/auxiliary/api/parse.rs
  src/test/ui/proc-macro/quote-debug.stdout
  src/test/ui/unsized/unsized-fn-param.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95343 Reduce unnecessary escaping in proc_macro::Literal::character/string
  compiler/rustc_expand/src/proc_macro_server.rs
  src/test/ui/proc-macro/auxiliary/api/parse.rs
  src/test/ui/proc-macro/quote-debug.stdout
Labels: T-compiler, S-waiting-on-bors

#94817 Release notes for 1.60.0
  RELEASES.md
Labels: S-waiting-on-bors

#92942 stabilize windows_process_extensions_raw_arg
  library/std/src/os/windows/process.rs
Labels: O-windows, T-libs-api, S-waiting-on-bors, S-waiting-on-fcp

#95588 explicitly distinguish pointer::addr and pointer::expose_addr
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
Labels: S-waiting-on-bors, A-strict-provenance

#95603 Fix late-bound ICE in `dyn` return type suggestion
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/impl-trait/dyn-trait-return-should-be-impl-trait.stderr
  src/test/ui/impl-trait/point-to-type-err-cause-on-impl-trait-return.stderr
  src/test/ui/issues/issue-18107.stderr
  src/test/ui/unsized/box-instead-of-dyn-fn.rs
  src/test/ui/unsized/box-instead-of-dyn-fn.stderr
  src/test/ui/unsized/issue-91801.rs
  src/test/ui/unsized/issue-91801.stderr
  src/test/ui/unsized/issue-91803.rs
  src/test/ui/unsized/issue-91803.stderr
Labels: T-compiler, S-waiting-on-bors

#95620 interpret: remove MemoryExtra in favor of giving access to the Machine
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
Labels: T-compiler, S-waiting-on-bors

#95630 Update `NonNull` pointer provenance methods' documentation
  library/core/src/ptr/non_null.rs
Labels: S-waiting-on-bors

#95631 Refactor: remove unnecessary nested blocks
  compiler/rustc_resolve/src/late.rs
Labels: T-compiler, S-waiting-on-bors

#95642 `CandidateSource::XCandidate` -> `CandidateSource::X`
  compiler/rustc_typeck/src/check/method/mod.rs
  compiler/rustc_typeck/src/check/method/probe.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
Labels: T-compiler, S-waiting-on-bors

#95337 rustdoc: Fix resolution of `crate`-relative paths in doc links
  compiler/rustc_resolve/src/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/test/rustdoc-ui/intra-doc/crate-nonexistent.rs
  src/test/rustdoc-ui/intra-doc/crate-nonexistent.stderr
  src/test/rustdoc/intra-doc/crate-relative-assoc.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#95607 Note invariance reason for FnDef types
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  src/test/ui/associated-types/cache/project-fn-ret-invariant.krisskross.nll.stderr
  src/test/ui/associated-types/cache/project-fn-ret-invariant.oneuse.nll.stderr
  src/test/ui/associated-types/cache/project-fn-ret-invariant.transmute.nll.stderr
  src/test/ui/c-variadic/variadic-ffi-4.stderr
  src/test/ui/hr-subtype/hr-subtype.free_inv_x_vs_free_inv_y.nll.stderr
  src/test/ui/match/match-ref-mut-invariance.nll.stderr
  src/test/ui/match/match-ref-mut-let-invariance.nll.stderr
  src/test/ui/nll/closure-requirements/propagate-approximated-shorter-to-static-no-bound.stderr
  src/test/ui/nll/closure-requirements/propagate-approximated-shorter-to-static-wrong-bound.stderr
  src/test/ui/nll/issue-95272.rs
  src/test/ui/nll/issue-95272.stderr
  src/test/ui/nll/type-check-pointer-coercions.stderr
  src/test/ui/nll/type-check-pointer-comparisons.stderr
  src/test/ui/nll/where_clauses_in_structs.stderr
  src/test/ui/regions/region-invariant-static-error-reporting.nll.stderr
  src/test/ui/regions/region-lifetime-bounds-on-fns-where-clause.nll.stderr
  src/test/ui/regions/region-multiple-lifetime-bounds-on-fns-where-clause.nll.stderr
  src/test/ui/regions/regions-bounded-method-type-parameters-cross-crate.nll.stderr
  src/test/ui/regions/regions-bounded-method-type-parameters-trait-bound.nll.stderr
  src/test/ui/regions/regions-infer-invariance-due-to-decl.nll.stderr
  src/test/ui/regions/regions-infer-invariance-due-to-mutability-3.nll.stderr
  src/test/ui/regions/regions-infer-invariance-due-to-mutability-4.nll.stderr
  src/test/ui/regions/regions-infer-not-param.nll.stderr
  src/test/ui/regions/regions-lifetime-bounds-on-fns.nll.stderr
  src/test/ui/regions/regions-trait-object-subtyping.nll.stderr
  src/test/ui/regions/regions-variance-invariant-use-contravariant.nll.stderr
  src/test/ui/regions/regions-variance-invariant-use-covariant.nll.stderr
  src/test/ui/variance/variance-btree-invariant-types.nll.stderr
  src/test/ui/variance/variance-cell-is-invariant.nll.stderr
  src/test/ui/variance/variance-use-invariant-struct-1.nll.stderr
Labels: T-compiler, S-waiting-on-bors

#95645 Fix intra doc link ICE when trying to get traits in scope for primitive
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/test/rustdoc/issue-95633.rs
Labels: T-rustdoc, S-waiting-on-bors

#95449 Fix `x doc --stage 0 compiler`
  src/bootstrap/bin/rustdoc.rs
Labels: S-waiting-on-bors

#95234 bootstrap.py: nixos check in /etc/os-release with quotes
  src/bootstrap/bootstrap.py
Labels: S-waiting-on-bors

#95654 diagnostics: use correct span for const generics
  compiler/rustc_ast_lowering/src/lib.rs
  src/test/ui/associated-types/trait-with-supertraits-needing-sized-self.stderr
  src/test/ui/async-await/issues/issue-78654.full.stderr
  src/test/ui/async-await/issues/issue-78654.min.stderr
  src/test/ui/const-generics/defaults/default-on-impl.stderr
  src/test/ui/const-generics/generic_const_exprs/issue-76595.stderr
  src/test/ui/const-generics/incorrect-number-of-const-args.stderr
  src/test/ui/const-generics/issues/issue-68366.full.stderr
  src/test/ui/const-generics/issues/issue-68366.min.stderr
  src/test/ui/const-generics/issues/issue-86820.stderr
  src/test/ui/const-generics/min_const_generics/default_function_param.stderr
  src/test/ui/const-generics/parser-error-recovery/issue-89013-no-kw.stderr
  src/test/ui/const-generics/parser-error-recovery/issue-89013.stderr
  src/test/ui/feature-gates/feature-gate-default_type_parameter_fallback.stderr
  src/test/ui/generics/generic-impl-more-params-with-defaults.stderr
  src/test/ui/generics/generic-type-more-params-with-defaults.stderr
  src/test/ui/generics/issue-61631-default-type-param-can-reference-self-in-trait.stderr
  src/test/ui/generics/wrong-number-of-args.stderr
  src/test/ui/impl-trait/where-allowed.stderr
  src/test/ui/issues/issue-78957.stderr
  src/test/ui/mir/thir-constparam-temp.stderr
  src/test/ui/missing/missing-items/missing-type-parameter2.stderr
  src/test/ui/polymorphization/const_parameters/closures.stderr
  src/test/ui/polymorphization/const_parameters/functions.stderr
  src/test/ui/polymorphization/generators.stderr
  src/test/ui/save-analysis/issue-89066.stderr
  src/test/ui/suggestions/lifetimes/missing-lifetimes-in-signature-before-const.fixed
  src/test/ui/suggestions/lifetimes/missing-lifetimes-in-signature-before-const.rs
  src/test/ui/suggestions/lifetimes/missing-lifetimes-in-signature-before-const.stderr
  src/test/ui/type-alias-impl-trait/generic_duplicate_param_use.stderr
  src/test/ui/type-alias-impl-trait/generic_nondefining_use.stderr
  src/test/ui/type/type-check-defaults.stderr
Labels: T-compiler, S-waiting-on-bors

#95670 Refactor: remove unused function parameters
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
Labels: T-compiler, S-waiting-on-bors

#95660 Update panic docs to make it clearer when to use panic vs Result
  library/core/src/macros/panic.md
Labels: S-waiting-on-bors

#94527 Let CTFE to handle partially uninitialized unions without marking the entire value as uninitialized.
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_cranelift/src/discriminant.rs
  compiler/rustc_codegen_cranelift/src/value_and_place.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/mod.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_target/src/abi/call/mips64.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_target/src/abi/call/riscv.rs
  compiler/rustc_target/src/abi/call/sparc64.rs
  compiler/rustc_target/src/abi/call/x86_64.rs
  compiler/rustc_target/src/abi/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/test/mir-opt/const_prop/invalid_constant.main.ConstProp.diff
  src/test/mir-opt/const_prop/invalid_constant.rs
  src/test/ui/consts/issue-69488.rs
  src/test/ui/consts/issue-94371.rs
  src/test/ui/layout/debug.stderr
  src/test/ui/layout/hexagon-enum.stderr
  src/test/ui/layout/thumb-enum.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95035 Replace Linux Mutex and Condvar with futex based ones.
  library/std/src/sync/condvar/tests.rs
  library/std/src/sys/unix/futex.rs
  library/std/src/sys/unix/locks/futex.rs
  library/std/src/sys/unix/locks/mod.rs
  library/std/src/sys/unix/time.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#95473 track individual proc-macro expansions in the self-profiler
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/proc_macro.rs
Labels: T-compiler, S-waiting-on-bors

#95547 caution against ptr-to-int transmutes
  library/core/src/intrinsics.rs
Labels: S-waiting-on-bors, A-strict-provenance

#95585 Explain why `&T` is cloned when `T` is not `Clone`
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  src/test/ui/typeck/explain_clone_autoref.rs
  src/test/ui/typeck/explain_clone_autoref.stderr
Labels: T-compiler, S-waiting-on-bors

#95663 diagnostics: give a special note for unsafe fn / Fn/FnOnce/FnMut
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  library/core/src/ops/function.rs
  src/test/ui/closures/coerce-unsafe-to-closure.stderr
  src/test/ui/rfcs/rfc-2396-target_feature-11/fn-traits.stderr
  src/test/ui/unboxed-closures/unboxed-closures-unsafe-extern-fn.stderr
  src/test/ui/unboxed-closures/unboxed-closures-wrong-arg-type-extern-fn.stderr
Labels: T-compiler, S-waiting-on-bors

#95681 resolve: Fix resolution of empty paths passed from rustdoc
  compiler/rustc_resolve/src/lib.rs
  src/test/rustdoc-ui/intra-doc/global-path.rs
  src/test/rustdoc-ui/intra-doc/global-path.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#88025 ScmCredentials netbsd implementation.
  library/std/src/os/unix/net/ancillary.rs
  library/std/src/os/unix/net/datagram.rs
  library/std/src/os/unix/net/stream.rs
  library/std/src/sys/unix/net.rs
Labels: I-needs-decision, O-netbsd, S-waiting-on-bors, T-libs

#95469 Fix unsound `File` methods
  library/std/src/fs.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/handle.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#95659 Rely on #[link] attribute for unwind on Fuchsia.
  library/unwind/build.rs
Labels: S-waiting-on-bors

#95684 rustdoc: Fix item info display overflow
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/librustdoc/html/render/mod.rs
  src/test/rustdoc-gui/item-info-overflow.goml
  src/test/rustdoc-gui/src/lib2/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#95693 interp: pass TyCtxt to Machine methods that do not take InterpCx
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
Labels: T-compiler, S-waiting-on-bors

#95699 fix: Vec leak when capacity is 0
  library/alloc/src/raw_vec.rs
Labels: S-waiting-on-bors, T-libs

#95711 Rollup of 4 pull requests
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  library/alloc/src/raw_vec.rs
  library/unwind/build.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/librustdoc/html/render/mod.rs
  src/test/rustdoc-gui/item-info-overflow.goml
  src/test/rustdoc-gui/src/lib2/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95707 interp/validity: enforce Scalar::Initialized
  compiler/rustc_const_eval/src/interpret/validity.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95669 Call `compute_locs` once per rule
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95649 New mir-opt deref_separator
  compiler/rustc_mir_transform/src/deref_separator.rs
  compiler/rustc_mir_transform/src/lib.rs
  src/test/mir-opt/derefer_test.main.Derefer.diff
  src/test/mir-opt/derefer_test.rs
  src/test/mir-opt/inline/issue_58867_inline_as_ref_as_mut.b.Inline.after.mir
  src/test/mir-opt/inline/issue_58867_inline_as_ref_as_mut.d.Inline.after.mir
  src/test/mir-opt/lower_array_len.array_bound.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_bound_mut.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_len.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_len_by_value.NormalizeArrayLen.diff
  src/test/mir-opt/lower_slice_len.bound.LowerSliceLenCalls.diff
  src/test/mir-opt/uninhabited_fallthrough_elimination.eliminate_fallthrough.UninhabitedEnumBranching.diff
  src/test/mir-opt/uninhabited_fallthrough_elimination.keep_fallthrough.UninhabitedEnumBranching.diff
  src/test/mir-opt/unreachable.main.UnreachablePropagation.diff
  src/test/mir-opt/unreachable_diverging.main.UnreachablePropagation.diff
  src/test/run-make/const_fn_mir/dump.mir
Labels: T-compiler, S-waiting-on-bors

#95721 Fix typo in bootstrap/setup.rs
  src/bootstrap/setup.rs
Labels: S-waiting-on-bors

#95730 Rename RWLock to RwLock in std::sys.
  library/std/src/panicking.rs
  library/std/src/sync/rwlock.rs
  library/std/src/sys/hermit/rwlock.rs
  library/std/src/sys/sgx/rwlock.rs
  library/std/src/sys/sgx/rwlock/tests.rs
  library/std/src/sys/solid/os.rs
  library/std/src/sys/solid/rwlock.rs
  library/std/src/sys/unix/locks/mod.rs
  library/std/src/sys/unix/locks/pthread_rwlock.rs
  library/std/src/sys/unix/os.rs
  library/std/src/sys/unsupported/locks/mod.rs
  library/std/src/sys/unsupported/locks/rwlock.rs
  library/std/src/sys/wasm/atomics/rwlock.rs
  library/std/src/sys/windows/locks/mod.rs
  library/std/src/sys/windows/locks/rwlock.rs
  library/std/src/sys_common/rwlock.rs
Labels: C-cleanup, S-waiting-on-bors, T-libs

#95731 Check that all hidden types are the same and then deduplicate them.
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  src/test/ui/type-alias-impl-trait/multiple_definitions.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#95742 Rollup of 6 pull requests
  .git-blame-ignore-revs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_mir_transform/src/deref_separator.rs
  compiler/rustc_mir_transform/src/lib.rs
  library/std/src/panicking.rs
  library/std/src/sync/rwlock.rs
  library/std/src/sys/hermit/rwlock.rs
  library/std/src/sys/sgx/rwlock.rs
  library/std/src/sys/sgx/rwlock/tests.rs
  library/std/src/sys/solid/os.rs
  library/std/src/sys/solid/rwlock.rs
  library/std/src/sys/unix/locks/mod.rs
  library/std/src/sys/unix/locks/pthread_rwlock.rs
  library/std/src/sys/unix/os.rs
  library/std/src/sys/unsupported/locks/mod.rs
  library/std/src/sys/unsupported/locks/rwlock.rs
  library/std/src/sys/wasm/atomics/rwlock.rs
  library/std/src/sys/windows/locks/mod.rs
  library/std/src/sys/windows/locks/rwlock.rs
  library/std/src/sys_common/rwlock.rs
  src/bootstrap/setup.rs
  src/bootstrap/util.rs
  src/test/mir-opt/derefer_test.main.Derefer.diff
  src/test/mir-opt/derefer_test.rs
  src/test/mir-opt/inline/issue_58867_inline_as_ref_as_mut.b.Inline.after.mir
  src/test/mir-opt/inline/issue_58867_inline_as_ref_as_mut.d.Inline.after.mir
  src/test/mir-opt/lower_array_len.array_bound.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_bound_mut.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_len.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_len_by_value.NormalizeArrayLen.diff
  src/test/mir-opt/lower_slice_len.bound.LowerSliceLenCalls.diff
  src/test/mir-opt/uninhabited_fallthrough_elimination.eliminate_fallthrough.UninhabitedEnumBranching.diff
  src/test/mir-opt/uninhabited_fallthrough_elimination.keep_fallthrough.UninhabitedEnumBranching.diff
  src/test/mir-opt/unreachable.main.UnreachablePropagation.diff
  src/test/mir-opt/unreachable_diverging.main.UnreachablePropagation.diff
  src/test/run-make/const_fn_mir/dump.mir
  src/test/ui/type-alias-impl-trait/multiple_definitions.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95342 Ignore "format the world" commit in git blame
  .git-blame-ignore-revs
Labels: S-waiting-on-bors

#95353 [bootstrap] Give a hard error when filtering tests for a file that does not exist
  src/bootstrap/util.rs
Labels: S-waiting-on-bors

#95709 Improve terse test output.
  library/test/src/formatters/terse.rs
Labels: S-waiting-on-bors

#95735 Revert "Mark Location::caller() as #[inline]"
  library/core/src/panic/location.rs
Labels: S-waiting-on-bors

#95738 Switch item-info from div to span
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc/stability.rs
Labels: T-rustdoc, S-waiting-on-bors

#95745 Rollup of 5 pull requests
  library/core/src/panic/location.rs
  library/std/src/io/stdio.rs
  library/std/src/sys/unix/thread.rs
  library/test/src/formatters/terse.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc/stability.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, rollup

#95626 Don't cast thread name to an integer for prctl
  library/std/src/sys/unix/thread.rs
Labels: S-waiting-on-bors

#95185 Stabilize Stdin::lines.
  library/std/src/io/stdio.rs
Labels: T-libs-api, S-waiting-on-bors

#95688 Update libc to 0.2.121
  Cargo.lock
  library/std/src/sys/unix/stack_overflow.rs
Labels: S-waiting-on-bors, merged-by-bors

#95678 Bump bootstrap compiler to 1.61.0 beta
  compiler/rustc_llvm/src/lib.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_target/src/abi/mod.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  library/alloc/src/alloc.rs
  library/alloc/src/borrow.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/src/slice.rs
  library/alloc/src/str.rs
  library/core/src/array/mod.rs
  library/core/src/bool.rs
  library/core/src/char/methods.rs
  library/core/src/clone.rs
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/src/marker.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/num/mod.rs
  library/core/src/option.rs
  library/core/src/panicking.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/result.rs
  library/core/src/slice/ascii.rs
  library/core/src/slice/mod.rs
  library/core/src/str/mod.rs
  library/proc_macro/src/lib.rs
  library/std/src/alloc.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/lib.rs
  library/test/src/console.rs
  library/test/src/formatters/json.rs
  library/test/src/formatters/pretty.rs
  library/test/src/tests.rs
  library/test/src/types.rs
  library/unwind/src/lib.rs
  src/bootstrap/dist.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/doctest.rs
  src/stage0.json
  src/test/rustdoc/rfc-2632-const-trait-impl.rs
  src/test/ui/intrinsics/const-eval-select-bad.stderr
  src/test/ui/target-feature/tied-features.rs
  src/test/ui/target-feature/tied-features.stderr
  src/tools/compiletest/src/header.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#95753 Correct safety reasoning in `str::make_ascii_{lower,upper}case()`
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#95757 Use gender neutral terms
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_typeck/src/check/wfcheck.rs
  compiler/rustc_typeck/src/collect.rs
  library/std/src/fs/tests.rs
  library/std/src/thread/local.rs
Labels: T-compiler, S-waiting-on-bors

#95706 rustdoc: Early doc link resolution fixes and refactorings
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/lib.rs
  src/librustdoc/core.rs
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/test/rustdoc-ui/intra-doc/assoc-mod-inner-outer.rs
  src/test/rustdoc-ui/intra-doc/auxiliary/assoc-mod-inner-outer-dep.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#95767 Report opaque type mismatches directly during borrowck of the function instead of within the `type_of` query.
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_typeck/src/collect/type_of.rs
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, merged-by-bors

#95440 Fix `x test src/tools/error_index_generator --stage {0,1}`
  src/bootstrap/builder.rs
  src/bootstrap/tool.rs
  src/bootstrap/util.rs
  src/tools/error_index_generator/build.rs
  src/tools/error_index_generator/main.rs
Labels: S-waiting-on-bors, merged-by-bors

#95775 make windows compat_fn (crudely) work on Miri
  library/std/src/sys/windows/compat.rs
Labels: S-waiting-on-bors, merged-by-bors

#95798 Rollup of 7 pull requests
  .mailmap
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/lib.rs
  library/alloc/src/lib.rs
  library/alloc/src/sync.rs
  library/alloc/src/vec/mod.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/vec.rs
  library/core/src/lib.rs
  library/core/src/slice/mod.rs
  library/core/src/tuple.rs
  library/core/tests/lib.rs
  library/core/tests/slice.rs
  library/std/src/sys/windows/pipe.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/x86_64-unknown-none.md
  src/test/ui/hrtb/issue-94034.rs
  src/test/ui/hrtb/issue-94034.stderr
  src/tools/build-manifest/src/main.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95761 Kickstart the inner usage of `macro_metavar_expr`
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/lib.rs
  library/core/src/lib.rs
  library/core/src/tuple.rs
Labels: T-compiler, S-waiting-on-bors

#95782 Windows: Increase a pipe's buffer capacity to 64kb
  library/std/src/sys/windows/pipe.rs
Labels: S-waiting-on-bors

#95791 hide an #[allow] directive from the Arc::new_cyclic doc example
  library/alloc/src/sync.rs
Labels: S-waiting-on-bors

#95634 Mailmap update
  .mailmap
Labels: S-waiting-on-bors

#95705 Promote x86_64-unknown-none target to Tier 2 and distribute build artifacts
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/x86_64-unknown-none.md
  src/tools/build-manifest/src/main.rs
Labels: relnotes, S-waiting-on-bors, T-infra

#95102 Add known-bug for #95034
  src/test/ui/hrtb/issue-94034.rs
  src/test/ui/hrtb/issue-94034.stderr
Labels: T-compiler, S-waiting-on-bors

#95519 Enforce well formedness for type alias impl trait's hidden type
  compiler/rustc_data_structures/src/vec_map.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/regionck.rs
  src/test/ui/type-alias-impl-trait/underconstrained_generic.rs
  src/test/ui/type-alias-impl-trait/underconstrained_generic.stderr
  src/test/ui/type-alias-impl-trait/underconstrained_lifetime.rs
  src/test/ui/type-alias-impl-trait/underconstrained_lifetime.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95524 Cached stable hash cleanups
  compiler/rustc_data_structures/src/intern.rs
  compiler/rustc_infer/src/infer/outlives/env.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/subst.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_query_system/src/ich/hcx.rs
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  compiler/rustc_typeck/src/check/place_op.rs
  src/tools/clippy/clippy_lints/src/case_sensitive_file_extension_comparisons.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95751 Don't report numeric inference ambiguity when we have previous errors
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/traits/no-fallback-multiple-impls.rs
  src/test/ui/traits/no-fallback-multiple-impls.stderr
  src/test/ui/traits/test-2.rs
  src/test/ui/traits/test-2.stderr
Labels: T-compiler, S-waiting-on-bors

#95764 [macro_metavar_expr] Add tests to ensure the feature requirement
  src/test/ui/macros/rfc-3086-metavar-expr/required-feature.rs
  src/test/ui/macros/rfc-3086-metavar-expr/required-feature.stderr
Labels: T-compiler, S-waiting-on-bors

#95787 reword panic vs result section to remove recoverable vs unrecoverable framing
  library/core/src/macros/panic.md
Labels: S-waiting-on-bors

#95797 Remove explicit delimiter token trees from `Delimited`.
  compiler/rustc_expand/src/mbe.rs
  compiler/rustc_expand/src/mbe/macro_check.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_expand/src/mbe/quoted.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
Labels: T-compiler, S-waiting-on-bors

#95804 rustdoc: Fix empty doc comment with backline ICE
  compiler/rustc_ast/src/util/comments.rs
  src/test/rustdoc/empty-doc-comment.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#95835 Rollup of 8 pull requests
  compiler/rustc_ast/src/util/comments.rs
  compiler/rustc_expand/src/mbe.rs
  compiler/rustc_expand/src/mbe/macro_check.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_expand/src/mbe/quoted.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/cast.rs
  library/alloc/src/boxed.rs
  library/alloc/src/boxed/thin.rs
  library/alloc/src/lib.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/thin_box.rs
  library/core/src/macros/panic.md
  library/std/src/error.rs
  library/std/src/lib.rs
  src/doc/unstable-book/src/language-features/strict-provenance.md
  src/test/rustdoc/empty-doc-comment.rs
  src/test/ui/box/thin_align.rs
  src/test/ui/box/thin_drop.rs
  src/test/ui/box/thin_new.rs
  src/test/ui/box/thin_zst.rs
  src/test/ui/coercion/coerce-issue-49593-box-never.nofallback.stderr
  src/test/ui/feature-gates/feature-gate-strict_provenance.rs
  src/test/ui/feature-gates/feature-gate-strict_provenance.stderr
  src/test/ui/intrinsics/panic-uninitialized-zeroed.rs
  src/test/ui/lint/lint-strict-provenance-fuzzy-casts.rs
  src/test/ui/lint/lint-strict-provenance-fuzzy-casts.stderr
  src/test/ui/lint/lint-strict-provenance-lossy-casts.rs
  src/test/ui/lint/lint-strict-provenance-lossy-casts.stderr
  src/test/ui/macros/rfc-3086-metavar-expr/required-feature.rs
  src/test/ui/macros/rfc-3086-metavar-expr/required-feature.stderr
  src/test/ui/traits/no-fallback-multiple-impls.rs
  src/test/ui/traits/no-fallback-multiple-impls.stderr
  src/test/ui/traits/test-2.rs
  src/test/ui/traits/test-2.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95374 assert_uninit_valid: ensure we detect at least arrays of uninhabited types
  src/test/ui/intrinsics/panic-uninitialized-zeroed.rs
Labels: T-compiler, S-waiting-on-bors

#95599 Strict provenance lints
  compiler/rustc_feature/src/active.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_typeck/src/check/cast.rs
  src/doc/unstable-book/src/language-features/strict-provenance.md
  src/test/ui/feature-gates/feature-gate-strict_provenance.rs
  src/test/ui/feature-gates/feature-gate-strict_provenance.stderr
  src/test/ui/lint/lint-strict-provenance-fuzzy-casts.rs
  src/test/ui/lint/lint-strict-provenance-fuzzy-casts.stderr
  src/test/ui/lint/lint-strict-provenance-lossy-casts.rs
  src/test/ui/lint/lint-strict-provenance-lossy-casts.stderr
Labels: T-compiler, S-waiting-on-bors, A-strict-provenance

#90066 Add new ThinBox type for 1 stack pointer wide heap allocated trait objects
  library/alloc/src/boxed.rs
  library/alloc/src/boxed/thin.rs
  library/alloc/src/lib.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/thin_box.rs
  library/std/src/error.rs
  library/std/src/lib.rs
  src/test/ui/box/thin_align.rs
  src/test/ui/box/thin_drop.rs
  src/test/ui/box/thin_new.rs
  src/test/ui/box/thin_zst.rs
  src/test/ui/coercion/coerce-issue-49593-box-never.nofallback.stderr
Labels: T-libs-api, S-waiting-on-bors, S-experimental

#95724 CI: update `rustc-perf` version used in CI and also the corresponding PGO benchmarks
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/ci/pgo.sh
Labels: S-waiting-on-bors, merged-by-bors

#95769 Hide cross-crate `#[doc(hidden)]` associated items in trait impls
  src/librustdoc/clean/inline.rs
  src/test/rustdoc/auxiliary/cross-crate-hidden-assoc-trait-items.rs
  src/test/rustdoc/cross-crate-hidden-assoc-trait-items.rs
Labels: T-rustdoc, S-waiting-on-bors, A-cross-crate-reexports

#95785 interpret: err instead of ICE on size mismatches in to_bits_or_ptr_internal
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
Labels: T-compiler, S-waiting-on-bors

#95802 fix unused constant warning on some Windows targets
  library/panic_abort/src/lib.rs
  library/std/src/sys/windows/mod.rs
Labels: S-waiting-on-bors

#95810 Use `format-args-capture` and remove unnecessary nested blocks
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/outlives_suggestion.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
Labels: T-compiler, S-waiting-on-bors

#95308 Reduce the amount of unstable features used in libproc_macro
  library/proc_macro/src/bridge/client.rs
  library/proc_macro/src/bridge/closure.rs
  library/proc_macro/src/bridge/mod.rs
  library/proc_macro/src/bridge/server.rs
  library/proc_macro/src/lib.rs
Labels: S-waiting-on-bors

#95697 refactor: simplify few string related interactions
  compiler/rustc_builtin_macros/src/compile_error.rs
  compiler/rustc_builtin_macros/src/env.rs
  compiler/rustc_builtin_macros/src/source_util.rs
  compiler/rustc_codegen_cranelift/src/driver/jit.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_incremental/src/assert_module_sources.rs
  compiler/rustc_middle/src/middle/resolve_lifetime.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95806 [beta] Bump stage0 to 1.60.0
  src/stage0.json
Labels: S-waiting-on-bors, merged-by-bors

#95805 Left overs of #95761
  compiler/rustc_expand/src/lib.rs
  library/core/src/tuple.rs
Labels: T-compiler, S-waiting-on-bors

#95831 Use bitwise XOR in to_ascii_uppercase
  library/core/src/num/mod.rs
Labels: S-waiting-on-bors

#95855 Rollup of 7 pull requests
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_expand/src/mbe/macro_check.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/quoted.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_session/src/parse.rs
  library/alloc/src/rc.rs
  library/alloc/src/string.rs
  library/core/src/alloc/layout.rs
  library/core/src/mem/mod.rs
  library/core/src/mem/valid_align.rs
  library/core/src/num/mod.rs
  library/core/src/tuple.rs
  library/core/tests/alloc.rs
  src/bootstrap/test.rs
  src/test/ui/consts/std/alloc.32bit.stderr
  src/test/ui/consts/std/alloc.64bit.stderr
  src/test/ui/consts/std/alloc.rs
  src/test/ui/macros/macro-match-nonterminal.rs
  src/test/ui/macros/macro-match-nonterminal.stderr
  src/test/ui/macros/macro-missing-fragment-deduplication.rs
  src/test/ui/macros/macro-missing-fragment-deduplication.stderr
  src/test/ui/macros/macro-missing-fragment.rs
  src/test/ui/macros/macro-missing-fragment.stderr
  src/test/ui/parser/macro/issue-33569.rs
  src/test/ui/parser/macro/issue-33569.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#95361 Make non-power-of-two alignments a validity error in `Layout`
  library/core/src/alloc/layout.rs
  library/core/src/mem/mod.rs
  library/core/src/mem/valid_align.rs
  library/core/tests/alloc.rs
  src/test/ui/consts/std/alloc.32bit.stderr
  src/test/ui/consts/std/alloc.64bit.stderr
  src/test/ui/consts/std/alloc.rs
Labels: S-waiting-on-bors, T-libs

#95369 Fix `x test src/librustdoc` with `download-rustc` enabled
  src/bootstrap/test.rs
Labels: S-waiting-on-bors

#95808 expand: Remove `ParseSess::missing_fragment_specifiers`
  compiler/rustc_expand/src/mbe/macro_check.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/quoted.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_session/src/parse.rs
  src/test/ui/macros/macro-match-nonterminal.rs
  src/test/ui/macros/macro-match-nonterminal.stderr
  src/test/ui/macros/macro-missing-fragment-deduplication.rs
  src/test/ui/macros/macro-missing-fragment-deduplication.stderr
  src/test/ui/macros/macro-missing-fragment.rs
  src/test/ui/macros/macro-missing-fragment.stderr
  src/test/ui/parser/macro/issue-33569.rs
  src/test/ui/parser/macro/issue-33569.stderr
Labels: T-compiler, S-waiting-on-bors

#95817 hide another #[allow] directive from a docs example
  library/alloc/src/rc.rs
Labels: S-waiting-on-bors

#94794 Clarify indexing into Strings
  library/alloc/src/string.rs
Labels: S-waiting-on-bors

#95435 Make def names and HIR names consistent.
  compiler/rustc_hir/src/definitions.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_monomorphize/src/polymorphize.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_typeck/src/astconv/generics.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/expr.rs
  compiler/rustc_typeck/src/check/fn_ctxt/mod.rs
  compiler/rustc_typeck/src/collect.rs
  src/test/ui/const-generics/occurs-check/unused-substs-1.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95254 Fix `cargo run` on Windows
  src/bootstrap/build.rs
Labels: S-waiting-on-bors, merged-by-bors

#95502 Fix `x doc compiler/rustc`
  src/bootstrap/doc.rs
  src/bootstrap/lib.rs
  src/bootstrap/metadata.rs
  src/bootstrap/test.rs
Labels: S-waiting-on-bors, merged-by-bors

#95621 Remove ptr-int transmute in std::sync::mpsc
  library/std/src/sync/mpsc/blocking.rs
  library/std/src/sync/mpsc/oneshot.rs
  library/std/src/sync/mpsc/shared.rs
  library/std/src/sync/mpsc/stream.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#95253 Make it possible to run `cargo test` for bootstrap
  src/bootstrap/builder/tests.rs
  src/bootstrap/lib.rs
  src/bootstrap/test.rs
Labels: S-waiting-on-bors, merged-by-bors

#95487 Avoid accessing HIR from MIR passes
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/mod.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_middle/src/middle/resolve_lifetime.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_symbol_mangling/src/lib.rs
  compiler/rustc_ty_utils/src/ty.rs
  compiler/rustc_typeck/src/collect.rs
  compiler/rustc_typeck/src/variance/mod.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#95889 Rollup of 7 pull requests
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_error_messages/locales/en-US/diagnostics.ftl
  compiler/rustc_mir_transform/src/deref_separator.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/cast.rs
  compiler/rustc_typeck/src/errors.rs
  library/core/src/char/convert.rs
  library/core/src/char/decode.rs
  library/core/src/char/mod.rs
  src/bootstrap/bootstrap.py
  src/librustdoc/html/markdown.rs
  src/test/mir-opt/derefer_test_multiple.main.Derefer.diff
  src/test/mir-opt/derefer_test_multiple.rs
  src/test/ui/borrowck/suggest-local-var-for-vector.rs
  src/test/ui/borrowck/suggest-local-var-for-vector.stderr
  src/test/ui/borrowck/suggest-storing-local-var-for-vector.rs
  src/test/ui/borrowck/suggest-storing-local-var-for-vector.stderr
  src/test/ui/borrowck/two-phase-nonrecv-autoref.nll.stderr
  src/test/ui/error-codes/E0516.stderr
  src/test/ui/issues/issue-29184.stderr
  src/test/ui/lint/lint-strict-provenance-lossy-casts.stderr
  src/test/ui/typeof/type_mismatch.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup
