Repository rust-lang/rust, pull requests merged in 2022-02, with the labels that each got.

#93381 Check the number of arguments first in `is_recursive_call`
  compiler/rustc_mir_build/src/lints.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93386 Check that `#[rustc_must_implement_one_of]` is applied to a trait
  compiler/rustc_passes/src/check_attr.rs
  src/test/ui/traits/default-method/rustc_must_implement_one_of_misuse.rs
  src/test/ui/traits/default-method/rustc_must_implement_one_of_misuse.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93259 rustc_errors: only box the `diagnostic` field in `DiagnosticBuilder`.
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  src/tools/rustfmt/src/parse/session.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93456 Remove an unnecessary transmute from opaque::Encoder
  compiler/rustc_serialize/src/opaque.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#93492 Hide failed command unless in verbose mode
  src/bootstrap/lib.rs
  src/build_helper/lib.rs
Labels: S-waiting-on-bors

#93504 kmc-solid: Increase the default stack size
  library/std/src/sys/itron/thread.rs
Labels: S-waiting-on-bors

#93513 Allow any pretty printed line to have at least 60 chars
  compiler/rustc_ast_pretty/src/pp.rs
  src/test/pretty/issue-4264.pp
  src/test/ui/match/issue-82392.stdout
  src/test/ui/proc-macro/quote-debug.stdout
Labels: T-compiler, S-waiting-on-bors

#93019 If an integer is entered with an upper-case base prefix (0Xbeef, 0O755, 0B1010), suggest to make it lowercase
  compiler/rustc_parse/src/parser/expr.rs
  src/test/ui/numeric/uppercase-base-prefix.fixed
  src/test/ui/numeric/uppercase-base-prefix.rs
  src/test/ui/numeric/uppercase-base-prefix.stderr
Labels: T-compiler, S-waiting-on-bors

#93090 `impl Display for io::ErrorKind`
  library/std/src/io/error.rs
Labels: T-libs-api, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#91343 Fix suggestion to slice if scrutinee is a `Result` or `Option`
  compiler/rustc_typeck/src/check/pat.rs
  src/test/ui/typeck/issue-91328.fixed
  src/test/ui/typeck/issue-91328.rs
  src/test/ui/typeck/issue-91328.stderr
Labels: T-compiler, S-waiting-on-bors

#86988 Carefully remove bounds checks from some chunk iterator functions
  library/core/src/slice/iter.rs
  library/core/tests/slice.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#93284 Disable drop range analysis
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges.rs
  src/test/ui/async-await/issue-93197.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93436 Update compiler_builtins to fix duplicate symbols in `armv7-linux-androideabi` rlib
  Cargo.lock
  library/std/Cargo.toml
Labels: S-waiting-on-bors

#92584 add rustc lint, warning when iterating over hashmaps 2
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/src/lib.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_incremental/src/lib.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_interface/src/lib.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_metadata/src/lib.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_mir_build/src/lib.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/lib.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_system/src/lib.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_save_analysis/src/lib.rs
  compiler/rustc_session/src/lib.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_symbol_mangling/src/lib.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_typeck/src/lib.rs
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
  src/test/ui-fulldeps/internal-lints/query_stability.rs
  src/test/ui-fulldeps/internal-lints/query_stability.stderr
  src/test/ui-fulldeps/internal-lints/query_stability_incorrect.rs
  src/test/ui-fulldeps/internal-lints/query_stability_incorrect.stderr
Labels: T-compiler, S-waiting-on-bors

#93267 implement a lint for suspicious auto trait impls
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_typeck/src/coherence/orphan.rs
  src/test/ui/auto-traits/suspicious-impls-lint.rs
  src/test/ui/auto-traits/suspicious-impls-lint.stderr
  src/test/ui/typeck/typeck-default-trait-impl-cross-crate-coherence.rs
  src/test/ui/typeck/typeck-default-trait-impl-cross-crate-coherence.stderr
  src/tools/clippy/tests/ui/non_send_fields_in_send_ty.rs
  src/tools/clippy/tests/ui/non_send_fields_in_send_ty.stderr
Labels: A-traits, T-compiler, S-waiting-on-bors, F-auto_traits

#93290 remove `TyS::same_type`
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_transform/src/function_item_references.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_ty_utils/src/representability.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
  src/tools/clippy/clippy_lints/src/implicit_hasher.rs
  src/tools/clippy/clippy_lints/src/len_zero.rs
  src/tools/clippy/clippy_lints/src/loops/explicit_into_iter_loop.rs
  src/tools/clippy/clippy_lints/src/loops/explicit_iter_loop.rs
  src/tools/clippy/clippy_lints/src/matches.rs
  src/tools/clippy/clippy_lints/src/methods/filter_map.rs
  src/tools/clippy/clippy_lints/src/methods/implicit_clone.rs
  src/tools/clippy/clippy_lints/src/methods/mod.rs
  src/tools/clippy/clippy_lints/src/methods/unnecessary_filter_map.rs
  src/tools/clippy/clippy_lints/src/needless_option_as_deref.rs
  src/tools/clippy/clippy_lints/src/needless_question_mark.rs
  src/tools/clippy/clippy_lints/src/new_without_default.rs
  src/tools/clippy/clippy_lints/src/redundant_slicing.rs
  src/tools/clippy/clippy_lints/src/size_of_in_element_count.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#91828 Implement `RawWaker` and `Waker` getters for underlying pointers
  library/core/src/task/wake.rs
  library/core/tests/lib.rs
  library/core/tests/waker.rs
Labels: T-libs-api, S-waiting-on-bors

#92021 Eliminate duplicate codes of is_single_fp_element
  compiler/rustc_target/src/abi/call/s390x.rs
  compiler/rustc_target/src/abi/call/x86.rs
  compiler/rustc_target/src/abi/mod.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#86374 Enable combining `+crt-static` and `relocation-model=pic` on `x86_64-unknown-linux-gnu`
  compiler/rustc_target/src/spec/x86_64_unknown_linux_gnu.rs
  src/test/run-make/static-pie/Makefile
  src/test/run-make/static-pie/check_clang_version.sh
  src/test/run-make/static-pie/check_gcc_version.sh
Labels: T-compiler, S-waiting-on-bors

#93442 Change Termination::report return type to ExitCode
  library/std/src/process.rs
  library/std/src/rt.rs
  library/test/src/lib.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#93285 Continue work on associated const equality
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/traits/project.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_traits/src/normalize_projection_ty.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  src/test/ui/associated-consts/assoc-const-eq-missing.rs
  src/test/ui/associated-consts/assoc-const-eq-missing.stderr
  src/test/ui/associated-consts/assoc-const-ty-mismatch.rs
  src/test/ui/associated-consts/assoc-const-ty-mismatch.stderr
  src/test/ui/associated-consts/assoc-const.rs
  src/test/ui/associated-consts/assoc-const.stderr
  src/test/ui/feature-gates/feature-gate-associated_const_equality.rs
  src/test/ui/feature-gates/feature-gate-associated_const_equality.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93466 Make dead code check a query.
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/lib.rs
  src/test/ui/lint/dead-code/lint-dead-code-1.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#93531 Fix incorrect panic message in example
  library/std/src/net/tcp.rs
Labels: S-waiting-on-bors

#93560 Fix two incorrect "it's" (typos in comments)
  compiler/rustc_middle/src/mir/mod.rs
Labels: T-compiler, S-waiting-on-bors

#92758 librustdoc: impl core::fmt::Write for rustdoc::html::render::Buffer
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/print_item.rs
Labels: T-rustdoc, S-waiting-on-bors

#93154 debuginfo: Make sure that type names for closure and generator environments are unique in debuginfo.
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  src/test/codegen/async-fn-debug-msvc.rs
  src/test/codegen/async-fn-debug.rs
  src/test/codegen/debug-vtable.rs
  src/test/codegen/debuginfo-generic-closure-env-names.rs
  src/test/codegen/generator-debug-msvc.rs
  src/test/codegen/generator-debug.rs
  src/test/debuginfo/captured-fields-1.rs
  src/test/debuginfo/function-names.rs
  src/test/debuginfo/generator-objects.rs
  src/test/debuginfo/issue-57822.rs
  src/test/debuginfo/type-names.rs
  src/test/debuginfo/var-captured-in-nested-closure.rs
Labels: A-debuginfo, T-compiler, S-waiting-on-bors, merged-by-bors

#93312 Return an indexmap in `all_local_trait_impls` query
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_resolve/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93546 Validate that values in switch int terminator are unique
  compiler/rustc_const_eval/src/transform/validate.rs
Labels: T-compiler, S-waiting-on-bors

#93571 better suggestion for duplicated `where` clause
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_parse/src/parser/item.rs
  src/test/ui/parser/bad-struct-following-where.rs
  src/test/ui/parser/bad-struct-following-where.stderr
  src/test/ui/parser/duplicate-where-clauses.rs
  src/test/ui/parser/duplicate-where-clauses.stderr
Labels: T-compiler, S-waiting-on-bors

#93574 don't suggest adding `let` due to bad assignment expressions inside of `while` loop
  compiler/rustc_typeck/src/check/expr.rs
  src/test/ui/typeck/issue-93486.rs
  src/test/ui/typeck/issue-93486.stderr
Labels: T-compiler, S-waiting-on-bors

#93590 More let_else adoptions
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_attr/src/lib.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/test.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_save_analysis/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#93592 Remove unused dep from rustc_arena
  Cargo.lock
  compiler/rustc_arena/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#93594 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_arena/Cargo.toml
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_attr/src/lib.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_data_structures/src/fingerprint.rs
  compiler/rustc_data_structures/src/fingerprint/tests.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/test.rs
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_save_analysis/src/lib.rs
  compiler/rustc_typeck/src/check/expr.rs
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/lifetime-name.rs
  src/test/ui/borrowck/issue-93093.rs
  src/test/ui/borrowck/issue-93093.stderr
  src/test/ui/parser/bad-struct-following-where.rs
  src/test/ui/parser/bad-struct-following-where.stderr
  src/test/ui/parser/duplicate-where-clauses.rs
  src/test/ui/parser/duplicate-where-clauses.stderr
  src/test/ui/typeck/issue-93486.rs
  src/test/ui/typeck/issue-93486.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93542 Prevent lifetime elision in type alias
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/lifetime-name.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92528 Make `Fingerprint::combine_commutative` associative
  compiler/rustc_data_structures/src/fingerprint.rs
  compiler/rustc_data_structures/src/fingerprint/tests.rs
Labels: T-compiler, S-waiting-on-bors

#93221 [borrowck] Fix help on mutating &self in async fns
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  src/test/ui/borrowck/issue-93093.rs
  src/test/ui/borrowck/issue-93093.stderr
Labels: T-compiler, S-waiting-on-bors

#93101 Support configuring whether to capture backtraces at runtime
  library/std/src/panic.rs
  library/std/src/panicking.rs
  library/std/src/sys_common/backtrace.rs
  src/test/ui/panics/runtime-switch.legacy.run.stderr
  src/test/ui/panics/runtime-switch.rs
  src/test/ui/panics/runtime-switch.v0.run.stderr
  src/tools/tidy/src/pal.rs
Labels: T-libs-api, T-compiler, S-waiting-on-bors, merged-by-bors

#93432 Compress amount of hashed bytes for `isize` values in StableHasher
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_data_structures/src/stable_hasher/tests.rs
  src/test/debuginfo/function-names.rs
  src/test/ui/symbol-names/basic.legacy.stderr
  src/test/ui/symbol-names/issue-60925.legacy.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93146 pub use std::simd::StdFloat;
  library/portable-simd/Cargo.toml
  library/portable-simd/crates/core_simd/Cargo.toml
  library/portable-simd/crates/core_simd/examples/nbody.rs
  library/portable-simd/crates/core_simd/src/intrinsics.rs
  library/portable-simd/crates/core_simd/src/masks.rs
  library/portable-simd/crates/core_simd/src/ops.rs
  library/portable-simd/crates/core_simd/src/round.rs
  library/portable-simd/crates/core_simd/src/vector.rs
  library/portable-simd/crates/core_simd/src/vector/float.rs
  library/portable-simd/crates/core_simd/tests/cast.rs
  library/portable-simd/crates/core_simd/tests/ops_macros.rs
  library/portable-simd/crates/core_simd/tests/round.rs
  library/portable-simd/crates/std_float/Cargo.toml
  library/portable-simd/crates/std_float/src/lib.rs
  library/std/src/lib.rs
  src/test/ui/simd/libm_std_can_float.rs
  src/test/ui/simd/portable-intrinsics-arent-exposed.rs
  src/test/ui/simd/portable-intrinsics-arent-exposed.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92932 Temporary fix for the layout of aligned enums
  compiler/rustc_middle/src/ty/layout.rs
  src/test/ui/aligned_enum_cast.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93515 Factor convenience functions out of main printer implementation
  compiler/rustc_ast_pretty/src/pp.rs
  compiler/rustc_ast_pretty/src/pp/convenience.rs
Labels: T-compiler, S-waiting-on-bors

#93566 Make rustc use `RUST_BACKTRACE=full` by default
  compiler/rustc_driver/src/lib.rs
  src/test/ui/panics/default-backtrace-ice.rs
  src/test/ui/panics/default-backtrace-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#93589 Use Option::then in two places
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_query_system/src/dep_graph/serialized.rs
Labels: T-compiler, S-waiting-on-bors

#93600 fix: Remove extra newlines from junit output
  library/test/src/formatters/junit.rs
Labels: S-waiting-on-bors

#93606 Correct incorrect description of preorder traversals
  compiler/rustc_middle/src/mir/traversal.rs
Labels: T-compiler, S-waiting-on-bors

#93621 Rollup of 7 pull requests
  compiler/rustc_ast_pretty/src/pp.rs
  compiler/rustc_ast_pretty/src/pp/convenience.rs
  compiler/rustc_const_eval/src/const_eval/error.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_middle/src/mir/traversal.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_query_system/src/dep_graph/serialized.rs
  library/test/src/formatters/junit.rs
  src/test/ui/consts/recursive.rs
  src/test/ui/consts/recursive.stderr
  src/test/ui/panics/default-backtrace-ice.rs
  src/test/ui/panics/default-backtrace-ice.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#92802 Deduplicate lines in long const-eval stack trace
  compiler/rustc_const_eval/src/const_eval/error.rs
  src/test/ui/consts/recursive.rs
  src/test/ui/consts/recursive.stderr
Labels: T-compiler, S-waiting-on-bors

#92310 rustdoc: Fix ICE report
  compiler/rustc_driver/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#93593 Fix ret > 1 bound if shadowed by const
  compiler/rustc_middle/src/ty/assoc.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  src/test/ui/associated-consts/shadowed-const.rs
  src/test/ui/associated-consts/shadowed-const.stderr
Labels: T-compiler, S-waiting-on-bors

#93630 clippy::perf fixes
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_typeck/src/check/expr.rs
Labels: T-compiler, S-waiting-on-bors

#93631 rustc_mir_dataflow: use iter::once instead of Some().into_iter
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
Labels: T-compiler, S-waiting-on-bors

#93632 rustdoc: clippy::complexity fixes
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/config.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/scrape_examples.rs
Labels: T-rustdoc, S-waiting-on-bors

#93638 rustdoc: remove unused Hash impl
  src/librustdoc/clean/types.rs
Labels: T-rustdoc, S-waiting-on-bors

#93645 Rollup of 11 pull requests
  .gitignore
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_middle/src/ty/assoc.rs
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/expr.rs
  library/core/tests/future.rs
  library/core/tests/hash/mod.rs
  library/core/tests/iter/traits/iterator.rs
  library/std/src/fs.rs
  library/std/src/path.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/config.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/scrape_examples.rs
  src/test/rustdoc-gui/search-filter.goml
  src/test/ui/associated-consts/shadowed-const.rs
  src/test/ui/associated-consts/shadowed-const.stderr
  src/tools/compiletest/src/runtest.rs
  src/tools/rustdoc-js/tester.js
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93402 Windows: Disable LLVM crash dialog boxes.
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#93508 Add rustdoc info to jsondocck output
  src/tools/compiletest/src/runtest.rs
Labels: S-waiting-on-bors

#93551 Add package.json in gitignore
  .gitignore
Labels: S-waiting-on-bors

#93555 Link `try_exists` docs to `Path::exists`
  library/std/src/fs.rs
  library/std/src/path.rs
Labels: S-waiting-on-bors

#93585 Missing tests for #92630
  library/core/tests/future.rs
  library/core/tests/hash/mod.rs
  library/core/tests/iter/traits/iterator.rs
Labels: S-waiting-on-bors

#92735 Add crate filter parameter in URL
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/static/js/storage.js
  src/test/rustdoc-gui/search-filter.goml
  src/tools/rustdoc-js/tester.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-search, A-rustdoc-js

#93576 Emit more valid HTML from rustdoc
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc/async-fn.rs
  src/test/rustdoc/auto_aliases.rs
  src/test/rustdoc/blanket-reexport-item.rs
  src/test/rustdoc/const-display.rs
  src/test/rustdoc/const-generics/add-impl.rs
  src/test/rustdoc/const-generics/const-generic-slice.rs
  src/test/rustdoc/const-generics/const-generics-docs.rs
  src/test/rustdoc/const-generics/const-impl.rs
  src/test/rustdoc/empty-impls.rs
  src/test/rustdoc/ensure-src-link.rs
  src/test/rustdoc/extern-default-method.rs
  src/test/rustdoc/generic-impl.rs
  src/test/rustdoc/issue-29503.rs
  src/test/rustdoc/issue-33302.rs
  src/test/rustdoc/issue-53812.rs
  src/test/rustdoc/issue-86620.rs
  src/test/rustdoc/primitive/primitive-generic-impl.rs
  src/test/rustdoc/sidebar-links-to-foreign-impl.rs
  src/test/rustdoc/sized_trait.rs
  src/test/rustdoc/source-version-separator.rs
  src/test/rustdoc/spotlight-from-dependency.rs
  src/test/rustdoc/src-links-auto-impls.rs
  src/test/rustdoc/trait-impl-items-links-and-anchors.rs
  src/test/rustdoc/version-separator-without-source.rs
  src/test/rustdoc/where-clause-order.rs
Labels: T-rustdoc, S-waiting-on-bors

#93608 Clean up `find_library_crate`
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_session/src/filesearch.rs
  compiler/rustc_session/src/search_paths.rs
Labels: T-compiler, S-waiting-on-bors

#93612 doc: use U+2212 for minus sign in integer MIN/MAX text
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors

#93615 Fix `isize` optimization in `StableHasher` for big-endian architectures
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_data_structures/src/stable_hasher/tests.rs
Labels: T-compiler, S-waiting-on-bors

#93495 kmc-solid: Fix off-by-one error in `SystemTime::now`
  library/std/src/sys/solid/time.rs
Labels: S-waiting-on-bors

#91589 impl `Arc::unwrap_or_clone`
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
Labels: T-libs-api, S-waiting-on-bors

#90132 Stabilize `-Z instrument-coverage` as `-C instrument-coverage`
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_codegen_ssa/src/traits/coverageinfo.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_mir_transform/src/coverage/debug.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  config.toml.example
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/codegen-options/index.md
  src/doc/rustc/src/instrument-coverage.md
  src/doc/unstable-book/src/compiler-flags/source-based-code-coverage.md
  src/librustdoc/doctest.rs
  src/test/mir-opt/coverage_graphviz.rs
  src/test/mir-opt/instrument_coverage.rs
  src/test/run-make-fulldeps/coverage-llvmir/Makefile
  src/test/run-make-fulldeps/coverage-llvmir/filecheck.testprog.txt
  src/test/run-make-fulldeps/coverage-reports/Makefile
  src/test/run-make-fulldeps/coverage-reports/expected_show_coverage.issue-85461.txt
  src/test/run-make-fulldeps/coverage-reports/expected_show_coverage.uses_crate.txt
  src/test/run-make-fulldeps/coverage/lib/inline_always_with_dead_code.rs
  src/test/run-make-fulldeps/coverage/lib/used_crate.rs
  src/test/ui/issues/issue-85461.rs
Labels: T-rustdoc, T-compiler, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#93597 Update browser-ui-test version
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/test/rustdoc-gui/type-declation-overflow.goml
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#93539 rustdoc: Collect traits in scope for foreign inherent impls
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/test/rustdoc/intra-doc/auxiliary/extern-inherent-impl-dep.rs
  src/test/rustdoc/intra-doc/extern-inherent-impl.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#93556 Change struct expr pretty printing to match rustfmt style
  compiler/rustc_ast_pretty/src/pp.rs
  compiler/rustc_ast_pretty/src/pp/convenience.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_ast_pretty/src/pprust/state/delimited.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_hir_pretty/src/lib.rs
  src/test/pretty/ast-stmt-expr-attr.rs
  src/test/pretty/issue-68710-field-attr-proc-mac-lost.rs
  src/test/pretty/stmt_expr_attributes.rs
  src/test/ui/macros/stringify.rs
  src/test/ui/rfc-2361-dbg-macro/dbg-macro-expected-behavior.run.stderr
Labels: T-compiler, S-waiting-on-bors

#93649 Add regression tests for issue 80309
  src/test/ui/ptr_ops/issue-80309-safe.rs
  src/test/ui/ptr_ops/issue-80309.rs
Labels: T-compiler, S-waiting-on-bors

#93657 Update CPU idle tracking for apple hosts
  src/ci/cpu-usage-over-time.py
Labels: S-waiting-on-bors

#93659 Refactor conditional
  src/librustdoc/html/static/js/search.js
Labels: T-rustdoc, S-waiting-on-bors

#93669 Resolve lifetimes for const generic defaults
  compiler/rustc_resolve/src/late/lifetimes.rs
  src/test/ui/const-generics/issue-93647.rs
  src/test/ui/const-generics/issue-93647.stderr
  src/test/ui/const-generics/outer-lifetime-in-const-generic-default.rs
  src/test/ui/const-generics/outer-lifetime-in-const-generic-default.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors, A-const-generics, F-const_generics_defaults

#93689 Rollup of 9 pull requests
  compiler/rustc_ast_pretty/src/pp.rs
  compiler/rustc_ast_pretty/src/pp/convenience.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_ast_pretty/src/pprust/state/delimited.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_error_codes/src/error_codes/E0604.md
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_target/src/spec/armv7_unknown_linux_uclibceabi.rs
  compiler/rustc_target/src/spec/mips64_openwrt_linux_musl.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_typeck/src/check/cast.rs
  src/ci/cpu-usage-over-time.py
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/armv7-unknown-linux-uclibceabi.md
  src/doc/rustc/src/platform-support/mips64-openwrt-linux-musl.md
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/search.js
  src/test/pretty/ast-stmt-expr-attr.rs
  src/test/pretty/issue-68710-field-attr-proc-mac-lost.rs
  src/test/pretty/stmt_expr_attributes.rs
  src/test/rustdoc-gui/hash-item-expansion.goml
  src/test/rustdoc-gui/item-info-width.goml
  src/test/ui/const-generics/issue-93647.rs
  src/test/ui/const-generics/issue-93647.stderr
  src/test/ui/const-generics/outer-lifetime-in-const-generic-default.rs
  src/test/ui/const-generics/outer-lifetime-in-const-generic-default.stderr
  src/test/ui/consts/const-eval/const-eval-overflow-4b.stderr
  src/test/ui/error-codes/E0604.stderr
  src/test/ui/error-festival.stderr
  src/test/ui/macros/stringify.rs
  src/test/ui/mismatched_types/cast-rfc0401.stderr
  src/test/ui/ptr_ops/issue-80309-safe.rs
  src/test/ui/ptr_ops/issue-80309.rs
  src/test/ui/rfc-2361-dbg-macro/dbg-macro-expected-behavior.run.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#92383 Add new target armv7-unknown-linux-uclibceabi (softfloat)
  compiler/rustc_target/src/spec/armv7_unknown_linux_uclibceabi.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/armv7-unknown-linux-uclibceabi.md
Labels: T-compiler, S-waiting-on-bors

#92651 Remove "up here" arrow on item-infos
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/hash-item-expansion.goml
  src/test/rustdoc-gui/item-info-width.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#91939 Clarify error on casting larger integers to char
  compiler/rustc_error_codes/src/error_codes/E0604.md
  compiler/rustc_typeck/src/check/cast.rs
  src/test/ui/consts/const-eval/const-eval-overflow-4b.stderr
  src/test/ui/error-codes/E0604.stderr
  src/test/ui/error-festival.stderr
  src/test/ui/mismatched_types/cast-rfc0401.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#92300 mips64-openwrt-linux-musl: Add Tier 3 target
  compiler/rustc_target/src/spec/mips64_openwrt_linux_musl.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/mips64-openwrt-linux-musl.md
Labels: T-compiler, S-waiting-on-bors

#90414 Optimize `core::str::Chars::count`
  library/alloc/tests/str.rs
  library/core/benches/str.rs
  library/core/benches/str/char_count.rs
  library/core/benches/str/corpora.rs
  library/core/src/str/count.rs
  library/core/src/str/iter.rs
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#93695 Rollup of 2 pull requests
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_typeck/src/collect.rs
  library/core/src/array/mod.rs
  library/core/src/cell.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/nonzero.rs
  library/core/src/num/uint_macros.rs
  library/core/src/panic/panic_info.rs
  src/test/ui/stability-attribute/missing-const-stability.rs
  src/test/ui/stability-attribute/missing-const-stability.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93489 Mark the panic_no_unwind lang item as nounwind
  compiler/rustc_typeck/src/collect.rs
  library/core/src/panic/panic_info.rs
Labels: T-compiler, S-waiting-on-bors

#90998 Require const stability attribute on all stable functions that are `const`
  compiler/rustc_passes/src/stability.rs
  library/core/src/array/mod.rs
  library/core/src/cell.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/nonzero.rs
  library/core/src/num/uint_macros.rs
  src/test/ui/stability-attribute/missing-const-stability.rs
  src/test/ui/stability-attribute/missing-const-stability.stderr
Labels: C-enhancement, A-attributes, T-libs-api, T-compiler, A-const-fn, S-waiting-on-bors, C-bug

#93179 Fix invalid special casing of the unreachable! macro
  compiler/rustc_builtin_macros/src/assert.rs
  compiler/rustc_builtin_macros/src/edition_panic.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_lint/src/non_fmt_panic.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/macros/mod.rs
  library/core/src/panic.rs
  library/core/src/panicking.rs
  src/test/mir-opt/issue_76432.test.SimplifyComparisonIntegral.diff
  src/test/ui/consts/const-eval/const_panic.stderr
  src/test/ui/consts/const-eval/const_panic_2021.stderr
  src/test/ui/consts/const-eval/const_panic_libcore_bin.stderr
  src/test/ui/macros/unreachable-arg.edition_2021.stderr
  src/test/ui/macros/unreachable-arg.rs
  src/test/ui/macros/unreachable-format-arg.rs
  src/test/ui/macros/unreachable-format-args.edition_2015.stderr
  src/test/ui/macros/unreachable-format-args.rs
  src/test/ui/non-fmt-panic.fixed
  src/test/ui/non-fmt-panic.rs
  src/test/ui/non-fmt-panic.stderr
  src/test/ui/proc-macro/quote-debug.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93643 use `fold_list` in `try_super_fold_with` for `SubstsRef`
  compiler/rustc_middle/src/ty/subst.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93737 bootstrap: prefer using '--config' over 'RUST_BOOTSTRAP_CONFIG'
  src/bootstrap/bootstrap.py
Labels: S-waiting-on-bors

#93738 Rollup of 13 pull requests
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_serialize/src/json.rs
  compiler/rustc_target/src/spec/mod.rs
  library/core/src/num/wrapping.rs
  library/std/src/ffi/c_str.rs
  library/test/src/console.rs
  library/test/src/formatters/json.rs
  library/test/src/formatters/junit.rs
  library/test/src/formatters/pretty.rs
  library/test/src/formatters/terse.rs
  library/test/src/test_result.rs
  library/test/src/tests.rs
  library/test/src/types.rs
  src/bootstrap/bin/main.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/build.rs
  src/bootstrap/lib.rs
  src/bootstrap/setup.rs
  src/etc/pre-push.sh
  src/librustdoc/doctest.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/markdown/tests.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/test/run-make-fulldeps/libtest-json/output-default.json
  src/test/run-make-fulldeps/libtest-json/output-stdout-success.json
  src/test/rustdoc-gui/sidebar-mobile.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-ui/check-attr-test.rs
  src/test/rustdoc-ui/check-attr-test.stderr
  src/test/rustdoc-ui/check-attr.rs
  src/test/rustdoc-ui/check-attr.stderr
  src/test/ui/consts/const-tup-index-span.stderr
  src/test/ui/consts/const_fn_trait_bound.stock.stderr
  src/test/ui/consts/min_const_fn/min_const_fn.stderr
  src/test/ui/consts/min_const_fn/min_const_fn_dyn.stderr
  src/test/ui/feature-gates/feature-gate-allow_fail.rs
  src/test/ui/feature-gates/feature-gate-allow_fail.stderr
  src/test/ui/fmt/format-args-capture-issue-93378.rs
  src/test/ui/fmt/format-args-capture-issue-93378.stderr
  src/test/ui/fmt/format-args-capture.rs
  src/test/ui/nll/issue-55825-const-fn.stderr
  src/test/ui/suggestions/args-instead-of-tuple-errors.rs
  src/test/ui/suggestions/args-instead-of-tuple-errors.stderr
  src/test/ui/suggestions/args-instead-of-tuple.fixed
  src/test/ui/suggestions/args-instead-of-tuple.rs
  src/test/ui/suggestions/args-instead-of-tuple.stderr
  src/test/ui/suggestions/issue-86100-tuple-paren-comma.stderr
  src/test/ui/test-attrs/test-allow-fail-attr.rs
  src/tools/compiletest/src/header.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93487 Fix linking stage1 toolchain in `./x.py setup`
  src/bootstrap/setup.rs
Labels: S-waiting-on-bors

#93673 Linkify sidebar headings for sibling items
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/test/rustdoc-gui/sidebar-mobile.goml
  src/test/rustdoc-gui/sidebar.goml
Labels: T-rustdoc, S-waiting-on-bors

#93680 Drop json::from_reader
  compiler/rustc_serialize/src/json.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors

#92724 Cleanup c_str.rs
  library/std/src/ffi/c_str.rs
Labels: S-waiting-on-bors, T-libs

#93208 Impl {Add,Sub,Mul,Div,Rem,BitXor,BitOr,BitAnd}Assign<$t> for Wrapping<$t> for rust 1.60.0
  library/core/src/num/wrapping.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#93394 Don't allow {} to refer to implicit captures in format_args.
  compiler/rustc_builtin_macros/src/format.rs
  src/test/ui/fmt/format-args-capture-issue-93378.rs
  src/test/ui/fmt/format-args-capture-issue-93378.stderr
  src/test/ui/fmt/format-args-capture.rs
Labels: beta-nominated, beta-accepted, T-compiler, S-waiting-on-bors, stable-nominated, stable-accepted

#93416 remove `allow_fail` test flag
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/removed.rs
  library/test/src/console.rs
  library/test/src/formatters/json.rs
  library/test/src/formatters/junit.rs
  library/test/src/formatters/pretty.rs
  library/test/src/formatters/terse.rs
  library/test/src/test_result.rs
  library/test/src/tests.rs
  library/test/src/types.rs
  src/librustdoc/doctest.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/markdown/tests.rs
  src/test/run-make-fulldeps/libtest-json/output-default.json
  src/test/run-make-fulldeps/libtest-json/output-stdout-success.json
  src/test/rustdoc-ui/check-attr-test.rs
  src/test/rustdoc-ui/check-attr-test.stderr
  src/test/rustdoc-ui/check-attr.rs
  src/test/rustdoc-ui/check-attr.stderr
  src/test/ui/feature-gates/feature-gate-allow_fail.rs
  src/test/ui/feature-gates/feature-gate-allow_fail.stderr
  src/test/ui/test-attrs/test-allow-fail-attr.rs
  src/tools/compiletest/src/header.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#91530 Suggest 1-tuple parentheses on exprs without existing parens
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  src/test/ui/consts/const-tup-index-span.stderr
  src/test/ui/suggestions/args-instead-of-tuple-errors.rs
  src/test/ui/suggestions/args-instead-of-tuple-errors.stderr
  src/test/ui/suggestions/args-instead-of-tuple.fixed
  src/test/ui/suggestions/args-instead-of-tuple.rs
  src/test/ui/suggestions/args-instead-of-tuple.stderr
  src/test/ui/suggestions/issue-86100-tuple-paren-comma.stderr
Labels: T-compiler, S-waiting-on-bors, A-suggestion-diagnostics

#88313 Make the pre-commit script pre-push instead
  src/bootstrap/bin/main.rs
  src/bootstrap/setup.rs
  src/etc/pre-push.sh
Labels: A-rustbuild, S-waiting-on-bors, T-infra, A-contributor-roadblock

#87869 Make io::Error use 64 bits on targets with 64 bit pointers.
  library/std/src/ffi/c_str.rs
  library/std/src/fs.rs
  library/std/src/io/buffered/bufreader.rs
  library/std/src/io/buffered/bufwriter.rs
  library/std/src/io/cursor.rs
  library/std/src/io/error.rs
  library/std/src/io/error/repr_bitpacked.rs
  library/std/src/io/error/repr_unpacked.rs
  library/std/src/io/error/tests.rs
  library/std/src/io/impls.rs
  library/std/src/io/mod.rs
  library/std/src/io/tests.rs
  library/std/src/net/mod.rs
  library/std/src/net/udp.rs
  library/std/src/os/fd/owned.rs
  library/std/src/os/unix/fs.rs
  library/std/src/os/unix/net/addr.rs
  library/std/src/os/wasi/fs.rs
  library/std/src/os/windows/io/socket.rs
  library/std/src/sys/hermit/fs.rs
  library/std/src/sys/hermit/mod.rs
  library/std/src/sys/hermit/net.rs
  library/std/src/sys/hermit/stdio.rs
  library/std/src/sys/hermit/thread.rs
  library/std/src/sys/sgx/mod.rs
  library/std/src/sys/sgx/net.rs
  library/std/src/sys/solid/fs.rs
  library/std/src/sys/solid/mod.rs
  library/std/src/sys/solid/net.rs
  library/std/src/sys/solid/os.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/l4re.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/net.rs
  library/std/src/sys/unix/os.rs
  library/std/src/sys/unix/process/process_fuchsia.rs
  library/std/src/sys/unix/process/process_unix.rs
  library/std/src/sys/unix/process/process_vxworks.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/sys/unsupported/common.rs
  library/std/src/sys/unsupported/os.rs
  library/std/src/sys/wasi/fs.rs
  library/std/src/sys/windows/fs.rs
  library/std/src/sys/windows/mod.rs
  library/std/src/sys/windows/net.rs
  library/std/src/sys/windows/process.rs
  library/std/src/sys/windows/stdio.rs
  library/std/src/sys/windows/thread.rs
  library/std/src/sys_common/fs.rs
  library/std/src/sys_common/net.rs
Labels: S-waiting-on-bors, merged-by-bors, A-error-handling, T-libs, PG-error-handling

#93672 update comment wrt const param defaults
  compiler/rustc_builtin_macros/src/deriving/mod.rs
Labels: T-compiler, S-waiting-on-bors

#93715 Fix horizontal trim for block doc comments
  compiler/rustc_ast/src/util/comments.rs
  compiler/rustc_ast/src/util/comments/tests.rs
  src/test/rustdoc-ui/block-doc-comment.rs
  src/test/rustdoc-ui/block-doc-comment.stdout
  src/test/rustdoc/strip-block-doc-comments-stars.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#93728 Add in ValuePair::Term
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/compare_method.rs
Labels: T-compiler, S-waiting-on-bors

#93762 Rollup of 9 pull requests
  compiler/rustc_ast/src/util/comments.rs
  compiler/rustc_ast/src/util/comments/tests.rs
  compiler/rustc_builtin_macros/src/deriving/mod.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/compare_method.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/str.rs
  library/core/src/num/mod.rs
  library/core/src/str/mod.rs
  library/core/src/str/validations.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/html_tags.rs
  src/librustdoc/scrape_examples.rs
  src/test/run-make-fulldeps/coverage-reports/expected_show_coverage.no_cov_crate.txt
  src/test/run-make-fulldeps/coverage/no_cov_crate.rs
  src/test/run-make/rustdoc-scrape-examples-whitespace/Makefile
  src/test/run-make/rustdoc-scrape-examples-whitespace/examples/ex.rs
  src/test/run-make/rustdoc-scrape-examples-whitespace/src/lib.rs
  src/test/rustdoc-gui/mobile.goml
  src/test/rustdoc-gui/sidebar-mobile.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-gui/type-declation-overflow.goml
  src/test/rustdoc-ui/block-doc-comment.rs
  src/test/rustdoc-ui/block-doc-comment.stdout
  src/test/rustdoc-ui/intra-doc/macro-rules.rs
  src/test/rustdoc-ui/suggestions/html-as-generics-no-suggestions.rs
  src/test/rustdoc-ui/suggestions/html-as-generics-no-suggestions.stderr
  src/test/rustdoc-ui/suggestions/html-as-generics.fixed
  src/test/rustdoc-ui/suggestions/html-as-generics.rs
  src/test/rustdoc-ui/suggestions/html-as-generics.stderr
  src/test/rustdoc/strip-block-doc-comments-stars.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93521 Fix hover effects in sidebar
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/mobile.goml
  src/test/rustdoc-gui/sidebar-mobile.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-gui/type-declation-overflow.goml
Labels: T-rustdoc, S-waiting-on-bors

#93569 rustdoc: correct unclosed HTML tags as generics
  src/librustdoc/lib.rs
  src/librustdoc/passes/html_tags.rs
  src/test/rustdoc-ui/suggestions/html-as-generics-no-suggestions.rs
  src/test/rustdoc-ui/suggestions/html-as-generics-no-suggestions.stderr
  src/test/rustdoc-ui/suggestions/html-as-generics.fixed
  src/test/rustdoc-ui/suggestions/html-as-generics.rs
  src/test/rustdoc-ui/suggestions/html-as-generics.stderr
Labels: T-rustdoc, S-waiting-on-bors

#92695 Add `#[no_coverage]` tests for nested functions
  src/test/run-make-fulldeps/coverage-reports/expected_show_coverage.no_cov_crate.txt
  src/test/run-make-fulldeps/coverage/no_cov_crate.rs
Labels: S-waiting-on-bors, A-code-coverage

#86497 Add {floor,ceil}_char_boundary methods to str
  library/alloc/tests/lib.rs
  library/alloc/tests/str.rs
  library/core/src/num/mod.rs
  library/core/src/str/mod.rs
  library/core/src/str/validations.rs
Labels: T-libs-api, S-waiting-on-bors

#93626 Fix HashMap not displaying correctly in VS debugger
  src/etc/natvis/libstd.natvis
Labels: A-debuginfo, O-windows-msvc, S-waiting-on-bors, merged-by-bors

#93783 Fix regression from lazy opaque types
  compiler/rustc_typeck/src/check/closure.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  src/test/ui/impl-trait/hidden-type-is-opaque-2.rs
  src/test/ui/impl-trait/hidden-type-is-opaque-2.stderr
  src/test/ui/impl-trait/hidden-type-is-opaque.rs
  src/test/ui/impl-trait/issues/issue-70877.rs
  src/test/ui/impl-trait/issues/issue-70877.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93767 deduplicate `lcnr` in mailmap
  .mailmap
Labels: S-waiting-on-bors

#93732 add fut/back compat tests for implied trait bounds
  src/test/ui/implied-bounds/hrlt-implied-trait-bounds-guard.rs
  src/test/ui/implied-bounds/hrlt-implied-trait-bounds-guard.stderr
  src/test/ui/implied-bounds/hrlt-implied-trait-bounds-roundtrip.rs
Labels: T-compiler, S-waiting-on-bors

#92715 Do not suggest char literal for zero-length strings
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  src/test/ui/inference/char-as-str-multi.rs
  src/test/ui/inference/char-as-str-multi.stderr
Labels: T-compiler, S-waiting-on-bors

#92917 Don't constrain projection predicates with inference vars in GAT substs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  src/test/ui/generic-associated-types/issue-74824.rs
  src/test/ui/generic-associated-types/issue-74824.stderr
  src/test/ui/generic-associated-types/issue-91762.rs
  src/test/ui/generic-associated-types/issue-91762.stderr
Labels: T-compiler, S-waiting-on-bors

#93206 Use `NtCreateFile` instead of `NtOpenFile` to open a file
  library/std/src/fs.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/fs.rs
Labels: S-waiting-on-bors

#91950 Point at type when a `static` `#[global_allocator]` doesn't `impl` `GlobalAlloc`
  compiler/rustc_builtin_macros/src/global_allocator.rs
  src/test/ui/allocator/not-an-allocator.stderr
Labels: T-compiler, S-waiting-on-bors

#93694 rustdoc: tweak line spacing and paragraph spacing for accessibility
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/docblock-big-code-mobile.goml
  src/test/rustdoc-gui/headings.goml
  src/test/rustdoc-gui/item-info-width.goml
  src/test/rustdoc-gui/mobile.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-gui/src-font-size.goml
  src/test/rustdoc-gui/type-declation-overflow.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#93735 Stabilize int_abs_diff in 1.60.0.
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
Labels: T-libs-api, S-waiting-on-bors

#93746 Remove defaultness from ImplItem.
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir/src/stable_hash_impls.rs
  compiler/rustc_hir_pretty/src/lib.rs
  src/librustdoc/clean/mod.rs
  src/test/incremental/hashes/trait_impls.rs
  src/tools/clippy/clippy_lints/src/utils/inspector.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#93748 rustc_query_impl: reduce visibility of some modules/fn's
  compiler/rustc_query_impl/src/plumbing.rs
Labels: T-compiler, S-waiting-on-bors

#93751 Drop tracking: track borrows of projections
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_typeck/src/check/generator_interior.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/record_consumed_borrow.rs
  src/test/ui/async-await/issue-93648.rs
Labels: T-compiler, S-waiting-on-bors

#93781 update `ty::TyKind` documentation
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_typeck/src/check/generator_interior.rs
Labels: T-compiler, S-waiting-on-bors

#93445 Add From<u8> for ExitCode
  library/std/src/process.rs
  library/std/src/sys/unix/process/process_common.rs
  library/std/src/sys/unsupported/process.rs
  library/std/src/sys/windows/process.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#92306 Improve opaque type higher-ranked region error message under NLL
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/type_check/canonical.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/custom.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/mod.rs
  src/test/ui/impl-trait/issues/issue-88236-2.nll.stderr
  src/test/ui/nll/relate_tys/opaque-hrtb.rs
  src/test/ui/nll/relate_tys/opaque-hrtb.stderr
  src/test/ui/type-alias-impl-trait/issue-57611-trait-alias.nll.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93681 Store rlink data in opaque binary format on disk
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_interface/src/queries.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93724 Delete -Zquery-stats infrastructure
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/stats.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#93741 Refactor query system to maintain a global job id counter
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#93753 Complete removal of #[main] attribute from compiler
  compiler/rustc_feature/src/builtin_attrs.rs
  src/test/ui/attributes/main-removed-1.rs
  src/test/ui/attributes/main-removed-1.stderr
  src/test/ui/attributes/main-removed-2/auxiliary/tokyo.rs
  src/test/ui/attributes/main-removed-2/main.rs
Labels: beta-nominated, T-compiler, regression-from-stable-to-stable, S-waiting-on-bors

#93799 Fix typo in `std::fmt` docs
  library/alloc/src/fmt.rs
Labels: S-waiting-on-bors

#93813 Make a few cleanup MIR passes public
  compiler/rustc_mir_transform/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#93836 Rollup of 6 pull requests
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_middle/src/middle/codegen_fn_attrs.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  compiler/rustc_typeck/src/collect.rs
  library/alloc/src/fmt.rs
  library/core/src/iter/traits/collect.rs
  src/test/codegen/debug-vtable.rs
  src/test/codegen/debuginfo-generic-closure-env-names.rs
  src/test/codegen/used_with_arg.rs
  src/test/ui/attributes/main-removed-1.rs
  src/test/ui/attributes/main-removed-1.stderr
  src/test/ui/attributes/main-removed-2/auxiliary/tokyo.rs
  src/test/ui/attributes/main-removed-2/main.rs
  src/test/ui/attributes/used_with_arg.rs
  src/test/ui/attributes/used_with_arg.stderr
  src/test/ui/attributes/used_with_multi_args.rs
  src/test/ui/attributes/used_with_multi_args.stderr
  src/test/ui/feature-gates/feature-gate-used_with_arg.rs
  src/test/ui/feature-gates/feature-gate-used_with_arg.stderr
  src/test/ui/iterators/collect-into-slice.rs
  src/test/ui/iterators/collect-into-slice.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93503 debuginfo: Fix DW_AT_containing_type vtable debuginfo regression
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  src/test/codegen/debug-vtable.rs
  src/test/codegen/debuginfo-generic-closure-env-names.rs
Labels: A-debuginfo, T-compiler, S-waiting-on-bors

#91443 Better suggestions when user tries to collect into an unsized `[_]`
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  library/core/src/iter/traits/collect.rs
  src/test/ui/iterators/collect-into-slice.rs
  src/test/ui/iterators/collect-into-slice.stderr
Labels: T-compiler, S-waiting-on-bors

#91504 `#[used(linker)]` attribute
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_middle/src/middle/codegen_fn_attrs.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_typeck/src/collect.rs
  src/test/codegen/used_with_arg.rs
  src/test/ui/attributes/used_with_arg.rs
  src/test/ui/attributes/used_with_arg.stderr
  src/test/ui/attributes/used_with_multi_args.rs
  src/test/ui/attributes/used_with_multi_args.stderr
  src/test/ui/feature-gates/feature-gate-used_with_arg.rs
  src/test/ui/feature-gates/feature-gate-used_with_arg.stderr
Labels: A-linkage, A-codegen, T-compiler, S-waiting-on-bors

#93802 fix oversight in the `min_const_generics` checks
  compiler/rustc_typeck/src/astconv/mod.rs
  src/test/ui/const-generics/min_const_generics/forbid-self-no-normalize.rs
  src/test/ui/const-generics/min_const_generics/forbid-self-no-normalize.stderr
Labels: T-compiler, S-waiting-on-bors

#93808 Remove first headings indent
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/markdown/tests.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/anchors.goml
  src/test/rustdoc-gui/headers-color.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#93824 Stabilize cfg_target_has_atomic
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_span/src/symbol.rs
  library/alloc/src/lib.rs
  library/core/src/lib.rs
  library/core/tests/lib.rs
  library/std/src/lib.rs
  src/test/run-make-fulldeps/atomic-lock-free/atomic_lock_free.rs
  src/test/ui/feature-gates/feature-gate-cfg-target-has-atomic-equal-alignment.rs
  src/test/ui/feature-gates/feature-gate-cfg-target-has-atomic-equal-alignment.stderr
  src/test/ui/feature-gates/feature-gate-cfg-target-has-atomic.rs
  src/test/ui/feature-gates/feature-gate-cfg-target-has-atomic.stderr
Labels: T-compiler, S-waiting-on-bors

#93830 Refactor sidebar printing code
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/test/rustdoc/trait_alias.rs
Labels: T-rustdoc, S-waiting-on-bors

#93861 Fix ICE if no trait assoc const eq
  compiler/rustc_typeck/src/collect/type_of.rs
  src/test/ui/associated-consts/issue-93835.rs
  src/test/ui/associated-consts/issue-93835.stderr
Labels: T-compiler, S-waiting-on-bors

#93891 Rollup of 8 pull requests
  .github/workflows/ci.yml
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_codegen_cranelift/src/archive.rs
  compiler/rustc_codegen_gcc/src/archive.rs
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir/src/stable_hash_impls.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  compiler/rustc_typeck/src/check/upvar.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  src/ci/github-actions/ci.yml
  src/librustdoc/html/static/js/search.js
  src/test/rustdoc-js-std/multi-query.js
  src/test/ui/associated-consts/issue-93835.rs
  src/test/ui/associated-consts/issue-93835.stderr
  src/tools/build-manifest/src/main.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93742 Drop rustc-docs from complete profile
  src/tools/build-manifest/src/main.rs
Labels: relnotes, S-waiting-on-bors

#93852 rustdoc: remove support for multi-query search
  src/librustdoc/html/static/js/search.js
  src/test/rustdoc-js-std/multi-query.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-search, A-rustdoc-js

#93443 Add comment on stable_hash_impl for OwnerNodes
  compiler/rustc_hir/src/stable_hash_impls.rs
Labels: T-compiler, S-waiting-on-bors

#92242 Erase regions before calculating layout for packed field capture
  compiler/rustc_typeck/src/check/upvar.rs
Labels: T-compiler, S-waiting-on-bors

#93782 Split `pauth` target feature
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  src/test/ui/target-feature/tied-features-cli.one.stderr
  src/test/ui/target-feature/tied-features-cli.rs
  src/test/ui/target-feature/tied-features-cli.three.stderr
  src/test/ui/target-feature/tied-features-cli.two.stderr
  src/test/ui/target-feature/tied-features.rs
  src/test/ui/target-feature/tied-features.stderr
Labels: T-compiler, S-waiting-on-bors

#93868 Fix incorrect register conflict detection in asm!
  compiler/rustc_ast_lowering/src/asm.rs
  src/test/ui/asm/reg-conflict.rs
  src/test/ui/asm/reg-conflict.stderr
Labels: T-compiler, S-waiting-on-bors

#93888 Implement `AsFd` for `&T` and `&mut T`.
  library/std/src/os/fd/owned.rs
  library/std/src/os/unix/fs.rs
  library/std/src/os/windows/io/handle.rs
  library/std/src/os/windows/io/socket.rs
Labels: S-waiting-on-bors

#93909 Fix typo: explicitely -> explicitly
  compiler/rustc_typeck/src/check/method/suggest.rs
  src/test/ui/traits/negative-impls/explicitly-unimplemented-error-message.rs
  src/test/ui/traits/negative-impls/explicitly-unimplemented-error-message.stderr
Labels: T-compiler, S-waiting-on-bors

#93910 fix mention of moved function in `rustc_hir` docs
  compiler/rustc_hir/src/itemlikevisit.rs
Labels: T-compiler, S-waiting-on-bors

#93921 Rollup of 10 pull requests
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_builtin_macros/src/standard_library_imports.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_hir/src/itemlikevisit.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  library/std/src/env.rs
  library/std/src/io/error.rs
  library/std/src/io/error/repr_bitpacked.rs
  library/std/src/os/fd/owned.rs
  library/std/src/os/unix/fs.rs
  library/std/src/os/windows/io/handle.rs
  library/std/src/os/windows/io/socket.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/windows/mod.rs
  src/test/rustdoc-json/type/dyn.rs
  src/test/rustdoc-json/type/fn_lifetime.rs
  src/test/rustdoc-json/type/generic_default.rs
  src/test/ui/asm/aarch64/parse-error.stderr
  src/test/ui/asm/reg-conflict.rs
  src/test/ui/asm/reg-conflict.stderr
  src/test/ui/asm/x86_64/parse-error.stderr
  src/test/ui/consts/issue-91560.fixed
  src/test/ui/consts/issue-91560.rs
  src/test/ui/consts/issue-91560.stderr
  src/test/ui/target-feature/tied-features-cli.one.stderr
  src/test/ui/target-feature/tied-features-cli.rs
  src/test/ui/target-feature/tied-features-cli.three.stderr
  src/test/ui/target-feature/tied-features-cli.two.stderr
  src/test/ui/target-feature/tied-features.rs
  src/test/ui/target-feature/tied-features.stderr
  src/test/ui/traits/negative-impls/explicitly-unimplemented-error-message.rs
  src/test/ui/traits/negative-impls/explicitly-unimplemented-error-message.stderr
  src/tools/jsondocck/src/main.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93660 rustdoc-json: Add some tests for typealias item
  src/test/rustdoc-json/type/dyn.rs
  src/test/rustdoc-json/type/fn_lifetime.rs
  src/test/rustdoc-json/type/generic_default.rs
  src/tools/jsondocck/src/main.rs
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#91607 Make `span_extend_to_prev_str()` more robust
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_span/src/source_map.rs
  src/test/ui/asm/aarch64/parse-error.stderr
  src/test/ui/asm/x86_64/parse-error.stderr
  src/test/ui/consts/issue-91560.fixed
  src/test/ui/consts/issue-91560.rs
  src/test/ui/consts/issue-91560.stderr
Labels: T-compiler, S-waiting-on-bors

#92895 Remove some unused functionality
  compiler/rustc_builtin_macros/src/standard_library_imports.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors
