Repository rust-lang/rust, pull requests merged in 2022-11, with the labels that each got.

#102950 Enable `x.py check` for miri
  src/bootstrap/builder.rs
  src/bootstrap/check.rs
  src/bootstrap/doc.rs
  src/bootstrap/test.rs
  src/bootstrap/tool.rs
  src/tools/miri/src/lib.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#103802 [beta] branch 1.66
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  library/alloc/src/boxed.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/set.rs
  library/core/src/error.rs
  library/core/src/hint.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  library/core/src/option.rs
  library/core/src/time.rs
  library/proc_macro/src/lib.rs
  library/std/src/time.rs
  src/bootstrap/dist.rs
  src/bootstrap/test.rs
  src/ci/channel
  src/librustdoc/clean/inline.rs
  src/test/rustdoc/auxiliary/incoherent-impl-types.rs
  src/test/rustdoc/rustc-incoherent-impls.rs
Labels: A-testsuite, T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#103805 Enable RUSTC_BOOTSTRAP for a few steps
  src/bootstrap/test.rs
Labels: A-bootstrap, S-waiting-on-bors

#103829 Rollup of 10 pull requests
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_const_eval/src/util/type_name.rs
  compiler/rustc_error_messages/locales/en-US/middle.ftl
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/traits/specialization_graph.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_transmute/src/layout/tree.rs
  src/bootstrap/test.rs
  src/doc/rustc/src/codegen-options/index.md
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/method-margins.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc/no-unit-struct-field.rs
  src/test/ui/coherence/strict-coherence-needs-negative-coherence.rs
  src/test/ui/coherence/strict-coherence-needs-negative-coherence.stderr
  src/test/ui/let-else/let-else-irrefutable.rs
  src/test/ui/let-else/let-else-irrefutable.stderr
  src/test/ui/transmutability/arrays/issue-103783-array-length.rs
  src/test/ui/transmutability/arrays/issue-103783-array-length.stderr
  x
  x.ps1
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-translation

#103749 Reduce span of let else irrefutable_let_patterns warning
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  src/test/ui/let-else/let-else-irrefutable.rs
  src/test/ui/let-else/let-else-irrefutable.stderr
Labels: T-compiler, S-waiting-on-bors

#103772 better error for `rustc_strict_coherence` misuse
  compiler/rustc_error_messages/locales/en-US/middle.ftl
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/traits/specialization_graph.rs
  src/test/ui/coherence/strict-coherence-needs-negative-coherence.rs
  src/test/ui/coherence/strict-coherence-needs-negative-coherence.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#103788 Fix ICE in checking transmutability of NaughtyLenArray
  compiler/rustc_transmute/src/layout/tree.rs
  src/test/ui/transmutability/arrays/issue-103783-array-length.rs
  src/test/ui/transmutability/arrays/issue-103783-array-length.stderr
Labels: T-compiler, S-waiting-on-bors

#103793 rustdoc: add margins to all impl-item toggles, not just methods
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/method-margins.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#103798 interpret: move type_name implementation to an interpreter-independent helper file
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_const_eval/src/util/type_name.rs
Labels: T-compiler, S-waiting-on-bors

#103799 Remove generation of tuple struct fields in the search index
  src/librustdoc/formats/cache.rs
  src/test/rustdoc/no-unit-struct-field.rs
Labels: T-rustdoc, S-waiting-on-bors

#103674 Update note about unstable split-debuginfo flag.
  src/doc/rustc/src/codegen-options/index.md
Labels: S-waiting-on-bors

#103692 Add `walk_generic_arg`
  compiler/rustc_hir/src/intravisit.rs
Labels: T-compiler, S-waiting-on-bors

#103007 Add better python discovery
  x
  x.ps1
Labels: A-bootstrap, S-waiting-on-bors

#103729 interpret: fix align_of_val on packed types
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  library/core/tests/lib.rs
  library/core/tests/mem.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#103759 Use `adt_def` during type collection.
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/collect.rs
  src/test/ui/error-codes/E0081.stderr
Labels: T-compiler, S-waiting-on-bors

#103809 Fix a typo in std::net mod doc comment
  library/std/src/net/mod.rs
Labels: S-waiting-on-bors, T-libs

#103584 Remove bounds check when array is indexed by enum
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  compiler/rustc_mir_transform/src/check_unsafety.rs
  src/test/codegen/enum-bounds-check-derived-idx.rs
  src/test/codegen/enum-bounds-check-issue-13926.rs
  src/test/codegen/enum-bounds-check.rs
  src/test/mir-opt/building/enum_cast.bar.built.after.mir
  src/test/mir-opt/building/enum_cast.boo.built.after.mir
  src/test/mir-opt/building/enum_cast.droppy.built.after.mir
  src/test/ui/type-alias-enum-variants/self-in-enum-definition.stderr
Labels: T-compiler, S-waiting-on-bors

#103706 Fix E0433 No Typo Suggestions
  compiler/rustc_resolve/src/late.rs
  src/test/ui/const-generics/issues/issue-82956.stderr
  src/test/ui/derived-errors/issue-31997-1.stderr
  src/test/ui/hygiene/no_implicit_prelude.stderr
  src/test/ui/proc-macro/amputate-span.stderr
  src/test/ui/resolve/missing-in-namespace.stderr
  src/test/ui/resolve/typo-suggestion-mistyped-in-path.rs
  src/test/ui/resolve/typo-suggestion-mistyped-in-path.stderr
  src/test/ui/resolve/use_suggestion.stderr
  src/test/ui/suggestions/core-std-import-order-issue-83564.stderr
  src/test/ui/suggestions/suggest-tryinto-edition-change.rs
  src/test/ui/suggestions/suggest-tryinto-edition-change.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#103061 Rewrite implementation of `#[alloc_error_handler]`
  compiler/rustc_builtin_macros/src/alloc_error_handler.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_codegen_cranelift/src/allocator.rs
  compiler/rustc_codegen_gcc/src/allocator.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/traits/backend.rs
  compiler/rustc_error_messages/locales/en-US/metadata.ftl
  compiler/rustc_error_messages/locales/en-US/passes.ftl
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir/src/weak_lang_items.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/weak_lang_items.rs
  library/alloc/src/alloc.rs
  library/core/src/macros/mod.rs
  library/core/src/prelude/v1.rs
  library/std/src/prelude/v1.rs
  src/test/run-make-fulldeps/issue-51671/Makefile
  src/test/run-make-fulldeps/issue-51671/app.rs
  src/test/ui/alloc-error/alloc-error-handler-bad-signature-1.rs
  src/test/ui/alloc-error/alloc-error-handler-bad-signature-1.stderr
  src/test/ui/alloc-error/alloc-error-handler-bad-signature-2.rs
  src/test/ui/alloc-error/alloc-error-handler-bad-signature-2.stderr
  src/test/ui/alloc-error/alloc-error-handler-bad-signature-3.rs
  src/test/ui/alloc-error/alloc-error-handler-bad-signature-3.stderr
  src/test/ui/feature-gates/feature-gate-alloc-error-handler.rs
  src/test/ui/feature-gates/feature-gate-alloc-error-handler.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, A-translation

#103590 (almost) Always use `ObligationCtxt` when dealing with canonical queries
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_traits/src/implied_outlives_bounds.rs
  compiler/rustc_traits/src/lib.rs
  compiler/rustc_traits/src/normalize_projection_ty.rs
  compiler/rustc_traits/src/type_op.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#103496 rustc_metadata: Encode even less doc comments
  compiler/rustc_metadata/src/rmeta/encoder.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#103833 :arrow_up: rust-analyzer
  src/tools/rust-analyzer/Cargo.lock
  src/tools/rust-analyzer/crates/flycheck/src/lib.rs
  src/tools/rust-analyzer/crates/hir-def/src/item_tree/lower.rs
  src/tools/rust-analyzer/crates/hir-def/src/path.rs
  src/tools/rust-analyzer/crates/hir-def/src/path/lower.rs
  src/tools/rust-analyzer/crates/hir-ty/src/chalk_ext.rs
  src/tools/rust-analyzer/crates/hir-ty/src/display.rs
  src/tools/rust-analyzer/crates/hir-ty/src/infer/path.rs
  src/tools/rust-analyzer/crates/hir-ty/src/infer/unify.rs
  src/tools/rust-analyzer/crates/hir-ty/src/lib.rs
  src/tools/rust-analyzer/crates/hir-ty/src/lower.rs
  src/tools/rust-analyzer/crates/hir-ty/src/method_resolution.rs
  src/tools/rust-analyzer/crates/hir-ty/src/tests/display_source_code.rs
  src/tools/rust-analyzer/crates/hir-ty/src/tests/traits.rs
  src/tools/rust-analyzer/crates/hir-ty/src/tls.rs
  src/tools/rust-analyzer/crates/hir/src/source_analyzer.rs
  src/tools/rust-analyzer/crates/ide/src/goto_definition.rs
  src/tools/rust-analyzer/crates/rust-analyzer/Cargo.toml
  src/tools/rust-analyzer/crates/rust-analyzer/src/bin/main.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/caps.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/cli/lsif.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/cli/scip.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/config.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/diagnostics/to_proto.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/from_proto.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/global_state.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/line_index.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/lsp_ext.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/lsp_utils.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/main_loop.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/to_proto.rs
  src/tools/rust-analyzer/crates/syntax/rust.ungram
  src/tools/rust-analyzer/crates/syntax/src/ast/generated/nodes.rs
  src/tools/rust-analyzer/docs/dev/architecture.md
  src/tools/rust-analyzer/docs/dev/lsp-extensions.md
  src/tools/rust-analyzer/editors/code/src/commands.ts
  src/tools/rust-analyzer/editors/code/src/ctx.ts
  src/tools/rust-analyzer/editors/code/src/main.ts
  src/tools/rust-analyzer/editors/code/src/run.ts
  src/tools/rust-analyzer/lib/lsp-server/Cargo.toml
Labels: S-waiting-on-bors

#103760 resolve: Turn the binding from `#[macro_export]` into a proper `Import`
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/effective_visibilities.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  src/test/ui/macros/issue-38715.rs
  src/test/ui/macros/issue-38715.stderr
  src/test/ui/privacy/effective_visibilities.rs
  src/test/ui/privacy/effective_visibilities.stderr
Labels: T-compiler, S-waiting-on-bors

#103813 rustdoc: remove unnecessary CSS `.search-results { clear: both }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#103817 rustdoc: rename syntax highlighting CSS class `attribute` to `attr`
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/highlight/fixtures/sample.html
  src/librustdoc/html/highlight/tests.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/highlight-colors.goml
  src/test/rustdoc/issue-41783.codeblock.html
  src/test/rustdoc/issue-41783.rs
Labels: T-rustdoc, S-waiting-on-bors

#84022 Make PROC_MACRO_DERIVE_RESOLUTION_FALLBACK a hard error
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/lib.rs
  src/test/ui/proc-macro/generate-mod.rs
  src/test/ui/proc-macro/generate-mod.stderr
Labels: I-needs-decision, T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#103217 Track where diagnostics were created.
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/json/tests.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/tests.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_macros/src/diagnostics/diagnostic.rs
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_monomorphize/src/errors.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_trait_selection/src/errors.rs
  src/librustdoc/core.rs
  src/librustdoc/doctest.rs
  src/test/rustdoc-ui/track-diagnostics.rs
  src/test/rustdoc-ui/track-diagnostics.stderr
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui/track-diagnostics/track.rs
  src/test/ui/track-diagnostics/track.stderr
  src/test/ui/track-diagnostics/track2.rs
  src/test/ui/track-diagnostics/track2.stderr
  src/test/ui/track-diagnostics/track3.rs
  src/test/ui/track-diagnostics/track3.stderr
  src/test/ui/track-diagnostics/track4.rs
  src/test/ui/track-diagnostics/track4.stderr
  src/test/ui/track-diagnostics/track5.rs
  src/test/ui/track-diagnostics/track5.stderr
  src/test/ui/track-diagnostics/track6.rs
  src/test/ui/track-diagnostics/track6.stderr
  src/tools/clippy/clippy_lints/src/doc.rs
  src/tools/clippy/src/driver.rs
  src/tools/clippy/tests/ui/track-diagnostics.rs
  src/tools/clippy/tests/ui/track-diagnostics.stderr
  src/tools/rustfmt/src/parse/session.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#103837 Migrate sidebar-links-color GUI test to functions
  src/test/rustdoc-gui/sidebar-links-color.goml
  src/test/rustdoc-gui/theme-in-history.goml
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#103839 Print valid `--print` requests if request is invalid
  compiler/rustc_session/src/config.rs
  src/test/run-make/valid-print-requests/Makefile
  src/test/run-make/valid-print-requests/valid-print-requests.stderr
Labels: T-compiler, S-waiting-on-bors

#103857 Rollup of 8 pull requests
  Cargo.lock
  Cargo.toml
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_borrowck/src/session_diagnostics.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_lint/src/errors.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_macros/src/diagnostics/mod.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_session/src/config.rs
  library/core/src/ops/control_flow.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/mod.rs
  library/std/src/sys/windows/stdio_uwp.rs
  src/bootstrap/builder.rs
  src/bootstrap/check.rs
  src/test/mir-opt/rustc.try_identity.DestinationPropagation.diff
  src/test/mir-opt/simplify_try.try_identity.DestinationPropagation.diff
  src/test/mir-opt/simplify_try.try_identity.SimplifyArmIdentity.diff
  src/test/mir-opt/simplify_try.try_identity.SimplifyBranchSame.after.mir
  src/test/mir-opt/simplify_try.try_identity.SimplifyLocals.after.mir
  src/test/run-make/valid-print-requests/Makefile
  src/test/run-make/valid-print-requests/valid-print-requests.stderr
  src/test/rustdoc-gui/sidebar-links-color.goml
  src/test/rustdoc-gui/theme-in-history.goml
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
  src/test/ui-fulldeps/session-diagnostic/subdiagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/subdiagnostic-derive.stderr
  src/tools/compiletest/Cargo.toml
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/util.rs
  src/tools/miropt-test-tools/Cargo.toml
  src/tools/miropt-test-tools/src/lib.rs
  src/tools/tidy/Cargo.toml
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
  src/tools/tidy/src/mir_opt_tests.rs
Labels: A-testsuite, T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#103637 Use stdio in UWP apps
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/mod.rs
  library/std/src/sys/windows/stdio_uwp.rs
Labels: S-waiting-on-bors, T-libs

#103638 Add `multivalue` target feature to WASM target
  compiler/rustc_codegen_ssa/src/target_features.rs
Labels: T-compiler, S-waiting-on-bors

#103575 Change #[suggestion_*] attributes to use style="..."
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_borrowck/src/session_diagnostics.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_lint/src/errors.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_macros/src/diagnostics/mod.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_passes/src/errors.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
  src/test/ui-fulldeps/session-diagnostic/subdiagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/subdiagnostic-derive.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#103072 compiletest: set the dylib path when gathering target cfg
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/util.rs
Labels: A-testsuite, S-waiting-on-bors

#103084 Derive `Eq` and `Hash` for `ControlFlow`
  library/core/src/ops/control_flow.rs
Labels: T-libs-api, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#103690 Make rustdoc Item::visibility computed on-demand
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/passes/strip_priv_imports.rs
  src/librustdoc/passes/strip_private.rs
  src/librustdoc/passes/stripper.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#103859 [stable] Lower lint level for READ_ZERO_BYTE_VEC
  src/bootstrap/config.rs
  src/bootstrap/native.rs
  src/tools/clippy/clippy_lints/src/lib.register_all.rs
  src/tools/clippy/clippy_lints/src/lib.register_correctness.rs
  src/tools/clippy/clippy_lints/src/lib.register_nursery.rs
  src/tools/clippy/clippy_lints/src/lib.register_pedantic.rs
  src/tools/clippy/clippy_lints/src/read_zero_byte_vec.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#103855 rustdoc: simplify mobile item-table CSS
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#103862 Use `ObligationCtxt` in `fully_normalize`
  compiler/rustc_trait_selection/src/traits/mod.rs
Labels: T-compiler, S-waiting-on-bors

#103864 Reorder `walk_` functions in intravisit.rs
  compiler/rustc_hir/src/intravisit.rs
Labels: T-compiler, S-waiting-on-bors

#103888 Rollup of 7 pull requests
  COPYRIGHT
  Cargo.lock
  compiler/rustc_const_eval/src/util/type_name.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  library/alloc/src/string.rs
  library/core/tests/any.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/type/issue-94187-verbose-type-name.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#103703 Gate some parser recovery behind the check
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
Labels: T-compiler, S-waiting-on-bors

#103774 Format `dyn Trait` better in `type_name` intrinsic
  compiler/rustc_const_eval/src/util/type_name.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  library/core/tests/any.rs
  src/test/ui/type/issue-94187-verbose-type-name.rs
Labels: T-compiler, S-waiting-on-bors

#103807 Add tracking issue for `string_extend_from_within`
  library/alloc/src/string.rs
Labels: T-libs-api, S-waiting-on-bors

#103275 Update tinystr
  COPYRIGHT
  Cargo.lock
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors

#103846 Revert "ci: Bring back ninja for dist builders"
  src/ci/docker/host-x86_64/dist-i686-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-clang.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#103870 Fix `inferred_kind` ICE
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  src/test/ui/consts/issue-103790.rs
  src/test/ui/consts/issue-103790.stderr
Labels: T-compiler, S-waiting-on-bors

#103875 Simplify astconv item def id handling
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
Labels: T-compiler, S-waiting-on-bors

#103886 rustdoc: Fix merge of attributes for reexports of local items
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  src/test/rustdoc/local-reexport-doc.rs
Labels: T-rustdoc, S-waiting-on-bors

#103890 rustdoc: remove unused mobile CSS `.rustdoc { padding-top: 0 }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#103903 Rollup of 6 pull requests
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/visit_ast.rs
  src/test/rustdoc/local-reexport-doc.rs
  src/test/ui/const-generics/generic_const_exprs/issue-99705.rs
  src/test/ui/consts/issue-103790.rs
  src/test/ui/consts/issue-103790.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#103610 Allow use of `-Clto=thin` with `-Ccodegen-units=1` in general
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors

#99801 fix(generic_const_exprs): Fix predicate inheritance for children of opaque types
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  src/test/ui/const-generics/generic_const_exprs/issue-99705.rs
Labels: S-waiting-on-bors, A-const-generics, F-generic_const_exprs, T-types

#103455 Fixed consistency of Apple simulator target's ABI
  compiler/rustc_target/src/spec/apple/tests.rs
  compiler/rustc_target/src/spec/apple_sdk_base.rs
  compiler/rustc_target/src/spec/x86_64_apple_ios.rs
  compiler/rustc_target/src/spec/x86_64_apple_tvos.rs
  compiler/rustc_target/src/spec/x86_64_apple_watchos_sim.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101834 Elaborate supertrait obligations when deducing closure signatures
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  src/test/ui/closures/issue-23012-supertrait-signature-inference.rs
  src/test/ui/type-alias-impl-trait/issue-57611-trait-alias.rs
  src/test/ui/type-alias-impl-trait/issue-57611-trait-alias.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce, T-types

#102928 rustdoc: use ThinVec for cleaned generics
  Cargo.lock
  compiler/rustc_ast/Cargo.toml
  compiler/rustc_ast_lowering/Cargo.toml
  compiler/rustc_builtin_macros/Cargo.toml
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_middle/Cargo.toml
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_query_system/Cargo.toml
  compiler/rustc_serialize/Cargo.toml
  src/librustdoc/Cargo.toml
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/json/conversions.rs
Labels: T-rustdoc, A-bootstrap, S-waiting-on-bors, merged-by-bors, A-query-system, A-rustdoc-json

#103930 Move some tests from `src/test/ui` to more reasonable places
  src/test/ui/macros/attr-from-macro.rs
  src/test/ui/macros/auxiliary/attr-from-macro.rs
  src/test/ui/repr/align-with-extern-c-fn.rs
  src/test/ui/repr/aligned_enum_cast.rs
  src/test/ui/repr/repr_c_int_align.rs
  src/test/ui/rfcs/rfc1623-2.rs
  src/test/ui/rfcs/rfc1623-2.stderr
  src/test/ui/rfcs/rfc1623-3.rs
  src/test/ui/rfcs/rfc1623-3.stderr
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#103931 Add note to RELEASES.md regarding issue 102754.
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#103938 rustdoc: clean up hardcoded CSS border color on search results
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/search-result-color.goml
Labels: T-rustdoc, S-waiting-on-bors

#103940 rustdoc: remove no-op CSS `#main-content > .item-info { margin-top: 0 }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#103954 Rollup of 10 pull requests
  RELEASES.md
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_middle/src/traits/specialization_graph.rs
  compiler/rustc_middle/src/ty/abstract_const.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_transmute/src/lib.rs
  compiler/rustc_ty_utils/src/ty.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/sty.rs
  src/doc/rustc/src/target-tier-policy.md
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/search-result-color.goml
  src/test/rustdoc/async-trait-sig.rs
  src/test/ui/macros/attr-from-macro.rs
  src/test/ui/macros/auxiliary/attr-from-macro.rs
  src/test/ui/repr/align-with-extern-c-fn.rs
  src/test/ui/repr/aligned_enum_cast.rs
  src/test/ui/repr/repr_c_int_align.rs
  src/test/ui/rfcs/rfc1623-2.rs
  src/test/ui/rfcs/rfc1623-2.stderr
  src/test/ui/rfcs/rfc1623-3.rs
  src/test/ui/rfcs/rfc1623-3.stderr
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup

#103825 Remove let_underscore_must_use from list of uplifted lints
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#103884 Add visit_fn_ret_ty to hir intravisit
  compiler/rustc_hir/src/intravisit.rs
Labels: T-compiler, S-waiting-on-bors

#103892 Properly render asyncness for trait fns without default body
  compiler/rustc_ty_utils/src/ty.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/test/rustdoc/async-trait-sig.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#103905 rustdoc: remove redundant mobile CSS `.sidebar-elems { background }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#103912 Add howto for adding new targets
  src/doc/rustc/src/target-tier-policy.md
Labels: S-waiting-on-bors

#103915 Improve use of ErrorGuaranteed and code cleanup
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_middle/src/traits/specialization_graph.rs
  compiler/rustc_middle/src/ty/abstract_const.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_transmute/src/lib.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/sty.rs
Labels: T-compiler, S-waiting-on-bors

#103098 asm: Match clang behavior for inlateout fixed register operands
  compiler/rustc_codegen_llvm/src/asm.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#103950 Fix ICE when negative impl is collected during eager mono
  compiler/rustc_monomorphize/src/collector.rs
  src/test/ui/traits/negative-impls/eager-mono.rs
Labels: T-compiler, S-waiting-on-bors

#103962 Rollup of 7 pull requests
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_hir_analysis/src/collect/lifetimes.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_resolve/src/imports.rs
  library/alloc/src/vec/mod.rs
  library/core/src/ffi/c_str.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/passes/stripper.rs
  src/test/ui/closures/binder/late-bound-in-body.rs
  src/test/ui/closures/binder/nested-closures-regions.rs
  src/test/ui/closures/binder/nested-closures-regions.stderr
  src/test/ui/closures/binder/nested-closures.rs
  src/test/ui/traits/negative-impls/eager-mono.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-rustdoc-json

#103935 Remove rustdoc clean::Visibility type
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/passes/stripper.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#103941 Fixed typos
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#103953 Remove unused argument from `throw_unresolved_import_error`
  compiler/rustc_resolve/src/imports.rs
Labels: T-compiler, S-waiting-on-bors

#103780 Fix late-bound lifetime closure ICEs in HIR typeck and MIR borrowck
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_hir_analysis/src/collect/lifetimes.rs
  src/test/ui/closures/binder/late-bound-in-body.rs
  src/test/ui/closures/binder/nested-closures-regions.rs
  src/test/ui/closures/binder/nested-closures-regions.stderr
  src/test/ui/closures/binder/nested-closures.rs
Labels: T-compiler, S-waiting-on-bors

#103845 Add track_caller to some Lock methods
  compiler/rustc_data_structures/src/sync.rs
Labels: T-compiler, S-waiting-on-bors

#103680 CStr: add some doc links
  library/core/src/ffi/c_str.rs
Labels: S-waiting-on-bors, T-libs

#101703 Add QEMU test for x86_64-unknown-uefi
  src/ci/docker/host-x86_64/test-various/Dockerfile
  src/ci/docker/host-x86_64/test-various/uefi_qemu_test/Cargo.toml
  src/ci/docker/host-x86_64/test-various/uefi_qemu_test/run.py
  src/ci/docker/host-x86_64/test-various/uefi_qemu_test/src/main.rs
Labels: S-waiting-on-bors, T-infra, merged-by-bors, O-UEFI

#103978 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_error_messages/locales/en-US/codegen_ssa.ftl
  compiler/rustc_error_messages/locales/en-US/passes.ftl
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_transform/src/check_unsafety.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  library/panic_abort/Cargo.toml
  library/panic_unwind/Cargo.toml
  library/test/src/lib.rs
  library/test/src/options.rs
  library/test/src/tests.rs
  library/unwind/Cargo.toml
  src/test/run-make-fulldeps/libtest-json/output-default.json
  src/test/run-make-fulldeps/libtest-json/output-stdout-success.json
  src/test/ui/asm/aarch64/llvm-58384.rs
  src/test/ui/derives/clone-debug-dead-code-in-the-same-struct.rs
  src/test/ui/derives/clone-debug-dead-code-in-the-same-struct.stderr
  src/test/ui/lint/dead-code/multiple-dead-codes-in-the-same-struct.rs
  src/test/ui/lint/dead-code/multiple-dead-codes-in-the-same-struct.stderr
  src/test/ui/lint/dead-code/tuple-struct-field.rs
  src/test/ui/lint/dead-code/tuple-struct-field.stderr
  src/test/ui/test-attrs/test-thread-capture.run.stdout
  src/test/ui/test-attrs/test-thread-nocapture.run.stderr
  src/test/ui/unsafe/unsafe-not-inherited.rs
  src/test/ui/unsafe/unsafe-not-inherited.stderr
  src/tools/tidy/Cargo.toml
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#103897 asm: Work around LLVM bug on AArch64
  compiler/rustc_codegen_llvm/src/asm.rs
  src/test/ui/asm/aarch64/llvm-58384.rs
Labels: T-compiler, S-waiting-on-bors

#103937 minor changes to make method lookup diagnostic code easier to read
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
Labels: T-compiler, S-waiting-on-bors

#103958 Test tidy should not count untracked paths towards entries limit
  Cargo.lock
  src/tools/tidy/Cargo.toml
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors

#103964 Give a specific lint for unsafety not being inherited
  compiler/rustc_mir_transform/src/check_unsafety.rs
  src/test/ui/unsafe/unsafe-not-inherited.rs
  src/test/ui/unsafe/unsafe-not-inherited.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#103681 libtest: run all tests in their own thread, if supported by the host
  library/test/src/lib.rs
  library/test/src/options.rs
  library/test/src/tests.rs
  src/test/run-make-fulldeps/libtest-json/output-default.json
  src/test/run-make-fulldeps/libtest-json/output-stdout-success.json
  src/test/ui/test-attrs/test-thread-capture.run.stdout
  src/test/ui/test-attrs/test-thread-nocapture.run.stderr
Labels: S-waiting-on-bors, T-libs

#103792 Migrate `codegen_ssa` to diagnostics structs - [Part 2]
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_error_messages/locales/en-US/codegen_ssa.ftl
  compiler/rustc_errors/src/diagnostic_impls.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#103367 Remove std's transitive dependency on cfg-if 0.1
  Cargo.lock
  library/panic_abort/Cargo.toml
  library/panic_unwind/Cargo.toml
  library/unwind/Cargo.toml
Labels: A-bootstrap, S-waiting-on-bors, T-libs

#103397 Port `dead_code` lints to be translatable.
  compiler/rustc_error_messages/locales/en-US/passes.ftl
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/errors.rs
  src/test/ui/derives/clone-debug-dead-code-in-the-same-struct.rs
  src/test/ui/derives/clone-debug-dead-code-in-the-same-struct.stderr
  src/test/ui/lint/dead-code/multiple-dead-codes-in-the-same-struct.rs
  src/test/ui/lint/dead-code/multiple-dead-codes-in-the-same-struct.stderr
  src/test/ui/lint/dead-code/tuple-struct-field.rs
  src/test/ui/lint/dead-code/tuple-struct-field.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#103298 Ensure that compile-flags arguments are the last in UI tests
  src/test/ui/compiletest-self-test/compile-flags-last.rs
  src/test/ui/compiletest-self-test/compile-flags-last.stderr
  src/test/ui/compiletest-self-test/ui-testing-optout.rs
  src/test/ui/compiletest-self-test/ui-testing-optout.stderr
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, merged-by-bors

#103980 rustdoc: simplify search results CSS and DOM
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/search.js
  src/test/rustdoc-gui/search-result-color.goml
  src/test/rustdoc-gui/search-result-display.goml
Labels: T-rustdoc, S-waiting-on-bors

#103984 Refactor tcx mk_const parameters.
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_traits/src/chalk/db.rs
  compiler/rustc_traits/src/chalk/lowering.rs
  compiler/rustc_ty_utils/src/consts.rs
Labels: T-compiler, S-waiting-on-bors

#103991 Rollup of 7 pull requests
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm/mod.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_lint/src/for_loops_over_fallibles.rs
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/traits/outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_traits/src/chalk/db.rs
  compiler/rustc_traits/src/chalk/lowering.rs
  compiler/rustc_ty_utils/src/consts.rs
  src/bootstrap/config.rs
  src/bootstrap/native.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/search.js
  src/test/codegen/ffi-const.rs
  src/test/codegen/ffi-pure.rs
  src/test/rustdoc-gui/search-result-color.goml
  src/test/rustdoc-gui/search-result-display.goml
  src/tools/tidy/src/mir_opt_tests.rs
Labels: S-waiting-on-bors, merged-by-bors

#103868 Use `TraitEngine` (by itself) less
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_lint/src/for_loops_over_fallibles.rs
  compiler/rustc_trait_selection/src/traits/outlives_bounds.rs
Labels: T-compiler, S-waiting-on-bors

#103946 Cleanup bind_pattern args
  compiler/rustc_mir_build/src/build/matches/mod.rs
Labels: T-compiler, S-waiting-on-bors

#103956 Make mir opt unused file check blessable
  src/tools/tidy/src/mir_opt_tests.rs
Labels: A-testsuite, S-waiting-on-bors

#103977 LLVM 16: Switch to using MemoryEffects
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm/mod.rs
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  src/test/codegen/ffi-const.rs
  src/test/codegen/ffi-pure.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#103878 Fix artifact version/channel detection for stable
  src/bootstrap/config.rs
  src/bootstrap/native.rs
Labels: A-bootstrap, S-waiting-on-bors

#103866 Remove some return-type diagnostic booleans from `FnCtxt`
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#103867 Remove `has_errors` from `FnCtxt`
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  src/test/ui/error-codes/E0767.rs
  src/test/ui/error-codes/E0767.stderr
Labels: T-compiler, S-waiting-on-bors

#103994 Specify that `break` cannot be used outside of loop *or* labeled block
  compiler/rustc_error_messages/locales/en-US/passes.ftl
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/loops.rs
  src/test/ui/array-slice-vec/array-break-length.stderr
  src/test/ui/closures/closure-array-break-length.stderr
  src/test/ui/error-codes/E0268.stderr
  src/test/ui/for-loop-while/break-outside-loop.stderr
  src/test/ui/issues/issue-28105.stderr
  src/test/ui/issues/issue-43162.stderr
  src/test/ui/issues/issue-50576.stderr
  src/test/ui/issues/issue-50581.stderr
  src/test/ui/issues/issue-83048.rs
  src/test/ui/issues/issue-83048.stderr
  src/test/ui/track-diagnostics/track.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, A-translation

#103995 Small round of typo fixes
  library/core/src/cell.rs
  library/core/src/error.md
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/pipe.rs
Labels: S-waiting-on-bors, T-libs

#103998 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_error_messages/locales/en-US/passes.ftl
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_interface/Cargo.toml
  compiler/rustc_interface/src/util.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/loops.rs
  compiler/rustc_session/Cargo.toml
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/filesearch.rs
  compiler/rustc_session/src/session.rs
  library/core/src/cell.rs
  library/core/src/error.md
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/pipe.rs
  src/librustdoc/clean/mod.rs
  src/test/rustdoc-ui/ambiguous-inherent-assoc-ty.rs
  src/test/rustdoc-ui/ambiguous-inherent-assoc-ty.stderr
  src/test/ui/array-slice-vec/array-break-length.stderr
  src/test/ui/assoc-inherent.rs
  src/test/ui/assoc-inherent.stderr
  src/test/ui/associated-inherent-types/assoc-inherent-no-body.rs
  src/test/ui/associated-inherent-types/assoc-inherent-no-body.stderr
  src/test/ui/associated-inherent-types/assoc-inherent-use.rs
  src/test/ui/closures/closure-array-break-length.stderr
  src/test/ui/error-codes/E0268.stderr
  src/test/ui/error-codes/E0767.rs
  src/test/ui/error-codes/E0767.stderr
  src/test/ui/for-loop-while/break-outside-loop.stderr
  src/test/ui/issues/issue-28105.stderr
  src/test/ui/issues/issue-43162.stderr
  src/test/ui/issues/issue-50576.stderr
  src/test/ui/issues/issue-50581.stderr
  src/test/ui/issues/issue-83048.rs
  src/test/ui/issues/issue-83048.stderr
  src/test/ui/resolve/resolve-self-in-impl.stderr
  src/test/ui/track-diagnostics/track.stderr
  src/tools/clippy/src/driver.rs
  src/tools/miri/src/bin/miri.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#103621 Correctly resolve Inherent Associated Types
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  src/librustdoc/clean/mod.rs
  src/test/rustdoc-ui/ambiguous-inherent-assoc-ty.rs
  src/test/rustdoc-ui/ambiguous-inherent-assoc-ty.stderr
  src/test/ui/assoc-inherent.rs
  src/test/ui/assoc-inherent.stderr
  src/test/ui/associated-inherent-types/assoc-inherent-no-body.rs
  src/test/ui/associated-inherent-types/assoc-inherent-no-body.stderr
  src/test/ui/associated-inherent-types/assoc-inherent-use.rs
  src/test/ui/resolve/resolve-self-in-impl.stderr
Labels: T-compiler, S-waiting-on-bors, F-inherent_associated_types

#103660 improve `filesearch::get_or_default_sysroot`
  Cargo.lock
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_interface/Cargo.toml
  compiler/rustc_interface/src/util.rs
  compiler/rustc_session/Cargo.toml
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/filesearch.rs
  compiler/rustc_session/src/session.rs
  src/tools/clippy/src/driver.rs
  src/tools/miri/src/bin/miri.rs
Labels: T-compiler, A-bootstrap, S-waiting-on-bors

#103691 [debuginfo] Make cpp-like debuginfo type names for slices and str consistent.
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  src/etc/natvis/intrinsic.natvis
  src/etc/natvis/liballoc.natvis
  src/test/debuginfo/basic-types.rs
  src/test/debuginfo/msvc-pretty-enums.rs
  src/test/debuginfo/msvc-scalarpair-params.rs
  src/test/debuginfo/pretty-std.rs
  src/test/debuginfo/rc_arc.rs
  src/test/debuginfo/result-types.rs
  src/test/debuginfo/type-names.rs
  src/test/debuginfo/unsized.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#103831 Fix capacity overflow issue during transmutability check
  compiler/rustc_transmute/src/layout/tree.rs
  src/test/ui/transmute/transmute-padding-ice.rs
  src/test/ui/transmute/transmute-padding-ice.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#104017 Rollup of 5 pull requests
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  src/bootstrap/builder.rs
  src/bootstrap/doc.rs
  src/librustdoc/config.rs
  src/librustdoc/html/layout.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/html/static/fonts/README.txt
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/html/static_files.rs
  src/librustdoc/html/templates/page.html
  src/librustdoc/html/templates/print_item.html
  src/librustdoc/lib.rs
  src/test/run-make/emit-shared-files/Makefile
  src/test/run-make/issue-88756-default-output/output-default.stdout
  src/test/rustdoc-gui/search-result-color.goml
  src/test/rustdoc/static-root-path.rs
  src/test/ui/did_you_mean/issue-103909.rs
  src/test/ui/did_you_mean/issue-103909.stderr
  src/tools/rustdoc-js/tester.js
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#103920 Move browser opening logic in `Builder`
  src/bootstrap/builder.rs
  src/bootstrap/doc.rs
Labels: A-bootstrap, S-waiting-on-bors

#103927 Do not make typo suggestions when suggesting pattern matching
  compiler/rustc_resolve/src/late/diagnostics.rs
  src/test/ui/did_you_mean/issue-103909.rs
  src/test/ui/did_you_mean/issue-103909.stderr
Labels: T-compiler, S-waiting-on-bors

#103972 Remove an option and choose a behaviour-preserving default instead.
  compiler/rustc_hir_analysis/src/astconv/mod.rs
Labels: T-compiler, S-waiting-on-bors

#103988 Fix search result bottom border color
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/search-result-color.goml
Labels: T-rustdoc, S-waiting-on-bors

#101702 rustdoc: add hash to filename of toolchain files
  src/librustdoc/config.rs
  src/librustdoc/html/layout.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/fonts/README.txt
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/html/static_files.rs
  src/librustdoc/html/templates/page.html
  src/librustdoc/html/templates/print_item.html
  src/librustdoc/lib.rs
  src/test/run-make/emit-shared-files/Makefile
  src/test/run-make/issue-88756-default-output/output-default.stdout
  src/test/rustdoc/static-root-path.rs
  src/tools/rustdoc-js/tester.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui, perf-regression

#102458 Stabilize the `instruction_set` feature
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  src/test/ui/asm/issue-92378.rs
  src/test/ui/error-codes/E0778.rs
  src/test/ui/error-codes/E0778.stderr
  src/test/ui/error-codes/E0779.rs
  src/test/ui/error-codes/E0779.stderr
  src/test/ui/feature-gates/feature-gate-isa_attribute.rs
  src/test/ui/feature-gates/feature-gate-isa_attribute.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#104009 Merge `QueryDescription` into `QueryConfig`
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#103975 Some tracing and comment cleanups
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#102618 rework applying closure requirements in borrowck
  compiler/rustc_borrowck/src/constraints/graph.rs
  compiler/rustc_borrowck/src/constraints/mod.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/dump_mir.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  src/test/ui/consts/issue-102117.rs
  src/test/ui/consts/issue-102117.stderr
  src/test/ui/generic-associated-types/issue-91139.rs
  src/test/ui/generic-associated-types/issue-91139.stderr
  src/test/ui/nll/closure-requirements/propagate-from-trait-match.rs
  src/test/ui/nll/closure-requirements/propagate-from-trait-match.stderr
  src/test/ui/nll/issue-98589-closures-relate-named-regions.stderr
  src/test/ui/nll/issue-98693.rs
  src/test/ui/nll/issue-98693.stderr
  src/test/ui/nll/ty-outlives/projection-implied-bounds.stderr
  src/test/ui/nll/ty-outlives/projection-no-regions-closure.stderr
  src/test/ui/nll/ty-outlives/projection-one-region-closure.stderr
  src/test/ui/nll/ty-outlives/projection-two-region-trait-bound-closure.stderr
  src/test/ui/nll/ty-outlives/ty-param-closure-approximate-lower-bound.stderr
  src/test/ui/nll/ty-outlives/ty-param-closure-outlives-from-return-type.stderr
  src/test/ui/nll/ty-outlives/ty-param-closure-outlives-from-where-clause.rs
  src/test/ui/nll/ty-outlives/ty-param-closure-outlives-from-where-clause.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#104002 fix a comment in UnsafeCell::new
  library/core/src/cell.rs
Labels: S-waiting-on-bors, T-libs

#104014 Migrate test-arrow to CSS variables
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/run-on-hover.goml
Labels: T-rustdoc, S-waiting-on-bors

#104016 Add internal descriptions to a few queries
  compiler/rustc_interface/src/proc_macro_decls.rs
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors

#104035 Add 'closure match' test to weird-exprs.rs.
  src/test/ui/weird-exprs.rs
Labels: T-compiler, S-waiting-on-bors

#104043 Rollup of 7 pull requests
  compiler/rustc_error_messages/locales/en-US/parser.ftl
  compiler/rustc_interface/src/proc_macro_decls.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  library/core/src/cell.rs
  src/bootstrap/dist.rs
  src/bootstrap/doc.rs
  src/bootstrap/test.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/huge-logo.goml
  src/test/rustdoc-gui/run-on-hover.goml
  src/test/rustdoc-gui/search-filter.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
  src/test/rustdoc-gui/source-code-page.goml
  src/test/rustdoc-gui/src/huge_logo/Cargo.lock
  src/test/rustdoc-gui/src/huge_logo/Cargo.toml
  src/test/rustdoc-gui/src/huge_logo/src/lib.rs
  src/test/ui/parser/issue-102806.rs
  src/test/ui/parser/issue-102806.stderr
  src/test/ui/weird-exprs.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#103990 rustdoc: clean up `.logo-container` layout CSS
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/huge-logo.goml
  src/test/rustdoc-gui/search-filter.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
  src/test/rustdoc-gui/source-code-page.goml
  src/test/rustdoc-gui/src/huge_logo/Cargo.lock
  src/test/rustdoc-gui/src/huge_logo/Cargo.toml
  src/test/rustdoc-gui/src/huge_logo/src/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#103851 Fix json flag in bootstrap doc
  src/bootstrap/dist.rs
  src/bootstrap/doc.rs
  src/bootstrap/test.rs
Labels: A-bootstrap, S-waiting-on-bors

#103012 Suggest use .. to fill in the rest of the fields of Struct
  compiler/rustc_error_messages/locales/en-US/parser.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  src/test/ui/parser/issue-102806.rs
  src/test/ui/parser/issue-102806.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#103720 Lint against usages of `struct_span_lint_hir`.
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_passes/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#103861 Use `codegen_select` in `vtable_trait_upcasting_coercion_new_vptr_slot`
  compiler/rustc_trait_selection/src/traits/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99943 Implement `std::marker::Tuple`, use it in `extern "rust-call"` and `Fn`-family traits
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/core/src/const_closure.rs
  library/core/src/intrinsics.rs
  library/core/src/ops/function.rs
  src/test/codegen/avr/avr-func-addrspace.rs
  src/test/incremental/hashes/extern_mods.rs
  src/test/run-pass-valgrind/unsized-locals/by-value-trait-objects-rust-call.rs
  src/test/run-pass-valgrind/unsized-locals/by-value-trait-objects-rust-call2.rs
  src/test/ui/abi/issues/issue-22565-rust-call.rs
  src/test/ui/abi/issues/issue-22565-rust-call.stderr
  src/test/ui/abi/rustcall-generic.rs
  src/test/ui/borrowck/borrow-immutable-upvar-mutation.rs
  src/test/ui/borrowck/borrow-immutable-upvar-mutation.stderr
  src/test/ui/borrowck/borrowck-move-by-capture.rs
  src/test/ui/c-variadic/issue-86053-1.stderr
  src/test/ui/cannot-mutate-captured-non-mut-var.rs
  src/test/ui/chalkify/closure.rs
  src/test/ui/chalkify/closure.stderr
  src/test/ui/chalkify/trait-objects.rs
  src/test/ui/chalkify/trait-objects.stderr
  src/test/ui/closures/issue-78720.stderr
  src/test/ui/error-codes/E0059.stderr
  src/test/ui/feature-gates/feature-gate-abi.rs
  src/test/ui/feature-gates/feature-gate-abi.stderr
  src/test/ui/function-pointer/unsized-ret.rs
  src/test/ui/function-pointer/unsized-ret.stderr
  src/test/ui/issues/issue-12127.rs
  src/test/ui/issues/issue-23024.stderr
  src/test/ui/issues/issue-7607-1.stderr
  src/test/ui/lang-items/lang-item-missing-generator.rs
  src/test/ui/lang-items/lang-item-missing-generator.stderr
  src/test/ui/mismatched_types/unboxed-closures-vtable-mismatch.rs
  src/test/ui/moves/moves-based-on-type-move-out-of-closure-env-issue-1965.rs
  src/test/ui/overloaded/overloaded-calls-nontuple.rs
  src/test/ui/overloaded/overloaded-calls-nontuple.stderr
  src/test/ui/parser/kw-in-trait-bounds.stderr
  src/test/ui/span/issue-11925.rs
  src/test/ui/typeck/issue-83693.stderr
  src/test/ui/unboxed-closures/non-tupled-arg-mismatch.rs
  src/test/ui/unboxed-closures/non-tupled-arg-mismatch.stderr
  src/test/ui/unboxed-closures/unboxed-closure-illegal-move.rs
  src/test/ui/unboxed-closures/unboxed-closures-mutate-upvar.rs
  src/test/ui/unboxed-closures/unboxed-closures-mutate-upvar.stderr
  src/test/ui/unboxed-closures/unboxed-closures-static-call-wrong-trait.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#104056 Vec: IntoIterator signature consistency
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#104059 Fix typo in `rustc_middle/lint.rs`
  compiler/rustc_middle/src/lint.rs
Labels: T-compiler, S-waiting-on-bors

#104062 rustdoc: remove unused CSS `#sidebar-filler`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#104065 Migrate rust logo filter to CSS variables
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/rust-logo.goml
Labels: T-rustdoc, S-waiting-on-bors

#104066 LLVM 16: Update RISCV data layout
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_freebsd.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_none_elf.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_openbsd.rs
  compiler/rustc_target/src/spec/riscv64imac_unknown_none_elf.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#104074 rustdoc: Add an example for round that is different from truncate
  library/std/src/f32.rs
  library/std/src/f64.rs
Labels: S-waiting-on-bors, T-libs

#104083 Rollup of 9 pull requests
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_ssa/src/traits/type_.rs
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_freebsd.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_none_elf.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_openbsd.rs
  compiler/rustc_target/src/spec/riscv64imac_unknown_none_elf.rs
  library/alloc/src/vec/mod.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/rust-logo.goml
  src/test/rustdoc/assoc-consts.rs
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds.rs
  src/test/rustdoc/inline_cross/auxiliary/assoc_item_trait_bounds.rs
  src/test/rustdoc/inline_cross/auxiliary/dyn_trait.rs
  src/test/rustdoc/inline_cross/dyn_trait.rs
  src/test/rustdoc/inline_cross/impl_trait.rs
  src/test/rustdoc/issue-20727.rs
  src/test/ui/parser/underscore-suffix-for-string.rs
  src/test/ui/parser/underscore-suffix-for-string.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#103885 rustdoc: various cross-crate reexport fixes
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/test/rustdoc/assoc-consts.rs
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds.rs
  src/test/rustdoc/inline_cross/auxiliary/assoc_item_trait_bounds.rs
  src/test/rustdoc/inline_cross/auxiliary/dyn_trait.rs
  src/test/rustdoc/inline_cross/dyn_trait.rs
  src/test/rustdoc/inline_cross/impl_trait.rs
  src/test/rustdoc/issue-20727.rs
Labels: T-rustdoc, S-waiting-on-bors, A-cross-crate-reexports

#104045 Add type_array to BaseTypeMethods
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_ssa/src/traits/type_.rs
Labels: T-compiler, S-waiting-on-bors

#103914 Make underscore_literal_suffix a hard error.
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_parse/src/lexer/mod.rs
  src/test/ui/parser/underscore-suffix-for-string.rs
  src/test/ui/parser/underscore-suffix-for-string.stderr
Labels: T-compiler, S-waiting-on-bors

#103218 Remove #![allow(rustc::potential_query_instability)] from rustc_infer
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/mismatched_static_lifetime.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/util.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/leak_check.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#101395 Add a codegen test for rust-lang/rust#96152
  src/test/assembly/strict_provenance.rs
Labels: S-waiting-on-bors, merged-by-bors

#104102 Rollup of 6 pull requests
  compiler/rustc_error_codes/src/error_codes/E0207.md
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_macros/src/diagnostics/error.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  library/alloc/src/collections/mod.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/test/rustdoc-ui/issue-103997.rs
  src/test/rustdoc-ui/issue-103997.stderr
  src/test/ui/closures/supertrait-hint-references-assoc-ty.rs
  src/test/ui/conditional-compilation/cfg_accessible-not_sure.rs
  src/test/ui/consts/issue-54954.rs
  src/test/ui/consts/issue-54954.stderr
  src/test/ui/dropck/issue-54943-1.rs
  src/test/ui/dropck/issue-54943-2.rs
  src/test/ui/match/issue-12552.rs
  src/test/ui/match/issue-12552.stderr
  src/test/ui/nll/issue-54943.rs
  src/test/ui/nll/issue-54943.stderr
  src/test/ui/parser/label-after-block-like.rs
  src/test/ui/parser/label-after-block-like.stderr
  src/test/ui/typeck/issue-10969.rs
  src/test/ui/typeck/issue-10969.stderr
  src/test/ui/typeck/issue-50687-ice-on-borrow.rs
  src/test/ui/typeck/issue-50687-ice-on-borrow.stderr
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#104052 Fix `resolution_failure` ICE
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/test/rustdoc-ui/issue-103997.rs
  src/test/rustdoc-ui/issue-103997.stderr
Labels: T-rustdoc, S-waiting-on-bors

#103986 Don't silently eat label before block in block-like expr
  compiler/rustc_parse/src/parser/diagnostics.rs
  src/test/ui/parser/label-after-block-like.rs
  src/test/ui/parser/label-after-block-like.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors, stable-nominated

#104003 Move some tests to more reasonable directories
  src/test/ui/consts/issue-54954.rs
  src/test/ui/consts/issue-54954.stderr
  src/test/ui/dropck/issue-54943-1.rs
  src/test/ui/dropck/issue-54943-2.rs
  src/test/ui/match/issue-12552.rs
  src/test/ui/match/issue-12552.stderr
  src/test/ui/nll/issue-54943.rs
  src/test/ui/nll/issue-54943.stderr
  src/test/ui/typeck/issue-10969.rs
  src/test/ui/typeck/issue-10969.stderr
  src/test/ui/typeck/issue-50687-ice-on-borrow.rs
  src/test/ui/typeck/issue-50687-ice-on-borrow.stderr
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#103569 fix and (re-)enable Miri cross-target checks on macOS and Windows
  src/bootstrap/sanity.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#103934 std: sync "Dependencies of the `backtrace` crate" with `backtrace`
  Cargo.lock
  library/std/Cargo.toml
Labels: C-cleanup, A-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#104013 rustdoc: use `ThinVec` and `Box<str>` to shrink `clean::ItemKind`
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/json/conversions.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#104023 Several query cleanups
  compiler/rustc_query_impl/src/profiling_support.rs
  compiler/rustc_query_system/src/cache.rs
  compiler/rustc_query_system/src/dep_graph/dep_node.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  compiler/rustc_query_system/src/values.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#104138 Rollup of 7 pull requests
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fallback.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_target/src/spec/windows_gnullvm_base.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/misc.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  library/core/benches/iter.rs
  library/core/benches/lib.rs
  library/core/src/array/mod.rs
  library/core/src/iter/adapters/array_chunks.rs
  library/core/tests/iter/adapters/array_chunks.rs
  src/doc/rustc/src/linker-plugin-lto.md
  src/test/ui/fmt/unicode-escape-spans.rs
  src/test/ui/fmt/unicode-escape-spans.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#103987 Remove `in_tail_expr` from FnCtxt
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
Labels: T-compiler, S-waiting-on-bors

#103865 Move `fallback_has_occurred` state tracking to `FnCtxt`
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fallback.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/misc.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
Labels: T-compiler, S-waiting-on-bors

#103651 Fix `rustc_parse_format` spans following escaped utf-8 multibyte chars
  compiler/rustc_parse_format/src/lib.rs
  src/test/ui/fmt/unicode-escape-spans.rs
  src/test/ui/fmt/unicode-escape-spans.stderr
Labels: T-compiler, S-waiting-on-bors

#103446 Specialize `iter::ArrayChunks::fold` for TrustedRandomAccess iterators
  library/core/benches/iter.rs
  library/core/benches/lib.rs
  library/core/src/array/mod.rs
  library/core/src/iter/adapters/array_chunks.rs
  library/core/tests/iter/adapters/array_chunks.rs
Labels: S-waiting-on-bors, T-libs
