Repository rust-lang/rust, pull requests merged in 2022-10, with the labels that each got.

#101969 Make fmt downloaded on every invocation of bootstrap
  src/bootstrap/lib.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#102361 Fix ICE in const_trait check code
  compiler/rustc_passes/src/check_const.rs
  src/test/ui/rfc-2632-const-trait-impl/issue-102156.rs
  src/test/ui/rfc-2632-const-trait-impl/issue-102156.stderr
Labels: T-compiler, S-waiting-on-bors

#102373 Flush delayed bugs before codegen
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_interface/src/queries.rs
Labels: T-compiler, S-waiting-on-bors

#102483 create def ids for impl traits during ast lowering
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_query_system/src/ich/hcx.rs
  compiler/rustc_resolve/src/def_collector.rs
  src/test/ui/generator/print/generator-print-verbose-1.stderr
  src/test/ui/nll/ty-outlives/impl-trait-captures.stderr
Labels: T-compiler, S-waiting-on-bors, A-query-system

#102490 Generate synthetic region from `impl` even in closure body within an associated fn
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  src/test/ui/borrowck/issue-102209.rs
  src/test/ui/borrowck/issue-102209.stderr
Labels: T-compiler, S-waiting-on-bors

#102492 Don't lower assoc bindings just to deny them
  compiler/rustc_hir_analysis/src/astconv/generics.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
Labels: T-compiler, S-waiting-on-bors

#102493 Group together more size assertions.
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
Labels: T-compiler, S-waiting-on-bors

#102521 rustdoc: add missing margin to no-docblock methods
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/no-docblock.goml
  src/test/rustdoc-gui/sidebar-mobile-scroll.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc/anchors.no_const_anchor.html
  src/test/rustdoc/anchors.no_trait_method_anchor.html
  src/test/rustdoc/anchors.no_tymethod_anchor.html
  src/test/rustdoc/anchors.no_type_anchor.html
  src/test/rustdoc/rfc-2632-const-trait-impl.rs
Labels: T-rustdoc, S-waiting-on-bors

#102526 Rollup of 7 pull requests
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/src/astconv/generics.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_passes/src/check_const.rs
  compiler/rustc_query_system/src/ich/hcx.rs
  compiler/rustc_resolve/src/def_collector.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/no-docblock.goml
  src/test/rustdoc-gui/sidebar-mobile-scroll.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc/anchors.no_const_anchor.html
  src/test/rustdoc/anchors.no_trait_method_anchor.html
  src/test/rustdoc/anchors.no_tymethod_anchor.html
  src/test/rustdoc/anchors.no_type_anchor.html
  src/test/rustdoc/rfc-2632-const-trait-impl.rs
  src/test/ui/borrowck/issue-102209.rs
  src/test/ui/borrowck/issue-102209.stderr
  src/test/ui/generator/print/generator-print-verbose-1.stderr
  src/test/ui/nll/ty-outlives/impl-trait-captures.stderr
  src/test/ui/rfc-2632-const-trait-impl/issue-102156.rs
  src/test/ui/rfc-2632-const-trait-impl/issue-102156.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-query-system

#102237 Migrate sidebar links color to CSS variables and unify themes with ayu
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/sidebar-links-color.goml
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-ui

#102519 Fix `format_args` capture for macro expanded format strings
  compiler/rustc_builtin_macros/src/format.rs
  src/test/ui/fmt/auxiliary/format-string-proc-macro.rs
  src/test/ui/fmt/format-args-capture-macro-hygiene.rs
  src/test/ui/fmt/format-args-capture-macro-hygiene.stderr
  src/test/ui/fmt/format-concat-span.stderr
  src/test/ui/fmt/format-expanded-string.rs
  src/test/ui/fmt/format-expanded-string.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#102533 rustdoc: remove unused CSS selector `a.source`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#102545 Rollup of 3 pull requests
  compiler/rustc_hir_analysis/src/check/expr.rs
  compiler/rustc_hir_analysis/src/check/fn_ctxt/suggestions.rs
  compiler/rustc_hir_analysis/src/check/op.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_session/src/parse.rs
  library/std/src/lib.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/wasi/fs.rs
  library/std/src/sys/wasi/time.rs
  library/std/src/sys/windows/fs.rs
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#102500 Remove `expr_parentheses_needed` from `ParseSess`
  compiler/rustc_hir_analysis/src/check/expr.rs
  compiler/rustc_hir_analysis/src/check/fn_ctxt/suggestions.rs
  compiler/rustc_hir_analysis/src/check/op.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_session/src/parse.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#101675 Improve `File::set_times` error handling
  library/std/src/lib.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/wasi/fs.rs
  library/std/src/sys/wasi/time.rs
  library/std/src/sys/windows/fs.rs
Labels: S-waiting-on-bors, T-libs

#102236 Compute lint levels by definition
  compiler/rustc_data_structures/src/sorted_map.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/expect.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_query_impl/src/keys.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  src/test/ui/lint/rfc-2383-lint-reason/force_warn_expected_lints_fulfilled.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, perf-regression

#102193 Change argument handling in `remote-test-server` and add new flags
  src/bootstrap/CHANGELOG.md
  src/tools/remote-test-server/src/main.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#102525 rustdoc: remove orphaned link on array bracket
  src/librustdoc/html/format.rs
  src/test/rustdoc/array-links.link_box_generic.html
  src/test/rustdoc/array-links.link_box_u32.html
  src/test/rustdoc/array-links.link_slice_generic.html
  src/test/rustdoc/array-links.link_slice_u32.html
  src/test/rustdoc/array-links.rs
Labels: T-rustdoc, S-waiting-on-bors

#102557 fix issue with x.py setup running into explicit panic
  src/bootstrap/lib.rs
Labels: A-bootstrap, S-waiting-on-bors

#102558 Rollup of 6 pull requests
  COPYRIGHT
  library/core/src/result.rs
  library/std/src/thread/mod.rs
  src/bootstrap/lib.rs
  src/librustdoc/html/format.rs
  src/test/rustdoc/array-links.link_box_generic.html
  src/test/rustdoc/array-links.link_box_u32.html
  src/test/rustdoc/array-links.link_slice_generic.html
  src/test/rustdoc/array-links.link_slice_u32.html
  src/test/rustdoc/array-links.rs
Labels: T-rustdoc, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#102313 Update docs so that deprecated method points to relevant method
  library/std/src/thread/mod.rs
Labels: S-waiting-on-bors, T-libs

#102353 Allow passing rustix_use_libc cfg using RUSTFLAGS
  src/bootstrap/lib.rs
Labels: A-bootstrap, S-waiting-on-bors, A-cranelift

#102405 Remove a FIXME whose code got moved away in #62883.
  library/core/src/result.rs
Labels: S-waiting-on-bors, T-libs

#102195 Improve the COPYRIGHT file
  COPYRIGHT
Labels: S-waiting-on-bors

#102424 Declare `main` as visibility hidden on targets that default to hidden.
  compiler/rustc_codegen_llvm/src/declare.rs
  src/test/codegen/abi-main-signature-32bit-c-int.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#102535 Tell LLVM that `partition_point` returns a valid fencepost
  library/core/src/slice/mod.rs
  src/test/codegen/binary-search-index-no-bound-check.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#102548 Mark Cell::replace() as #[inline]
  library/core/src/cell.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#98354 Change `is_some_and` to take by value
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_hir_analysis/src/lib.rs
  library/core/src/option.rs
  library/core/src/result.rs
  library/std/src/lib.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/stacked_borrows/stack.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#102538 Give `def_span` the same SyntaxContext as `span_with_body`.
  compiler/rustc_middle/src/hir/map/mod.rs
Labels: T-compiler, S-waiting-on-bors

#102556 Make `feature(const_btree_len)` implied by `feature(const_btree_new)`
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/set.rs
  src/tools/tidy/src/features.rs
Labels: T-libs-api, S-waiting-on-bors

#102566 Add a known-bug test for #102498
  src/test/ui/consts/constifconst-call-in-const-position.rs
  src/test/ui/consts/constifconst-call-in-const-position.stderr
Labels: T-compiler, S-waiting-on-bors

#102586 Rollup of 5 pull requests
  compiler/rustc_middle/src/hir/map/mod.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/set.rs
  library/alloc/src/sync.rs
  library/test/src/bench.rs
  library/test/src/lib.rs
  library/test/src/tests.rs
  library/test/src/types.rs
  src/librustdoc/doctest.rs
  src/test/ui/consts/constifconst-call-in-const-position.rs
  src/test/ui/consts/constifconst-call-in-const-position.stderr
  src/test/ui/rfc-1937-termination-trait/termination-trait-test-wrong-type.stderr
  src/tools/compiletest/src/main.rs
  src/tools/tidy/src/features.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#100451 Do not panic when a test function returns Result::Err.
  library/test/src/bench.rs
  library/test/src/lib.rs
  library/test/src/tests.rs
  library/test/src/types.rs
  src/librustdoc/doctest.rs
  src/test/ui/rfc-1937-termination-trait/termination-trait-test-wrong-type.stderr
  src/tools/compiletest/src/main.rs
Labels: S-waiting-on-bors, T-libs

#102098 Use fetch_update in sync::Weak::upgrade
  library/alloc/src/sync.rs
Labels: S-waiting-on-bors, T-libs

#102530 Upgrade dist-i586-gnu-i586-i686-musl to ubuntu:22.04
  src/ci/docker/README.md
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/Dockerfile
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/build-i586-gnu-toolchain.sh
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/i586-linux-gnu.config
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors, T-infra, merged-by-bors

#100557 fix: use git-commit-info for version information
  config.toml.example
  src/bootstrap/channel.rs
  src/bootstrap/config.rs
  src/bootstrap/dist.rs
  src/bootstrap/lib.rs
  src/bootstrap/native.rs
  src/bootstrap/sanity.rs
  src/bootstrap/tarball.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#102305 Get rid of exclude-list for Windows-only tests
  src/test/ui/abi/x86stdcall.rs
  src/test/ui/abi/x86stdcall2.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#102503 Enable inline stack probes on X86 with LLVM 16
  compiler/rustc_target/src/spec/i386_apple_ios.rs
  compiler/rustc_target/src/spec/i686_apple_darwin.rs
  compiler/rustc_target/src/spec/i686_linux_android.rs
  compiler/rustc_target/src/spec/i686_unknown_freebsd.rs
  compiler/rustc_target/src/spec/i686_unknown_haiku.rs
  compiler/rustc_target/src/spec/i686_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/i686_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/i686_unknown_netbsd.rs
  compiler/rustc_target/src/spec/i686_unknown_openbsd.rs
  compiler/rustc_target/src/spec/i686_wrs_vxworks.rs
  compiler/rustc_target/src/spec/linux_kernel_base.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/x86_64_apple_darwin.rs
  compiler/rustc_target/src/spec/x86_64_apple_ios.rs
  compiler/rustc_target/src/spec/x86_64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/x86_64_apple_tvos.rs
  compiler/rustc_target/src/spec/x86_64_apple_watchos_sim.rs
  compiler/rustc_target/src/spec/x86_64_fuchsia.rs
  compiler/rustc_target/src/spec/x86_64_linux_android.rs
  compiler/rustc_target/src/spec/x86_64_pc_solaris.rs
  compiler/rustc_target/src/spec/x86_64_sun_solaris.rs
  compiler/rustc_target/src/spec/x86_64_unknown_dragonfly.rs
  compiler/rustc_target/src/spec/x86_64_unknown_freebsd.rs
  compiler/rustc_target/src/spec/x86_64_unknown_haiku.rs
  compiler/rustc_target/src/spec/x86_64_unknown_hermit.rs
  compiler/rustc_target/src/spec/x86_64_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/x86_64_unknown_linux_gnux32.rs
  compiler/rustc_target/src/spec/x86_64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/x86_64_unknown_netbsd.rs
  compiler/rustc_target/src/spec/x86_64_unknown_none.rs
  compiler/rustc_target/src/spec/x86_64_unknown_openbsd.rs
  compiler/rustc_target/src/spec/x86_64_unknown_redox.rs
  compiler/rustc_target/src/spec/x86_64_wrs_vxworks.rs
  src/test/assembly/x86-stack-probes.rs
  src/test/codegen/stack-probes-call.rs
  src/test/codegen/stack-probes-inline.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#102508 Even more lexer improvements
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/tokentrees.rs
  compiler/rustc_parse/src/parser/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#102550 rustdoc: remove no-op CSS on `.impl, .method` etc
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#102591 Fix duplicate usage of `a` article.
  compiler/rustc_builtin_macros/src/test.rs
  src/test/ui/test-attrs/test-on-not-fn.stderr
  src/tools/rust-analyzer/crates/ide-db/src/imports/merge_imports.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/bin/logger.rs
Labels: T-compiler, S-waiting-on-bors

#102592 Remove a couple lifetimes that can be infered
  compiler/rustc_middle/src/lint.rs
Labels: T-compiler, S-waiting-on-bors

#102614 Rollup of 3 pull requests
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_middle/src/lint.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/test-attrs/test-on-not-fn.stderr
  src/tools/rust-analyzer/crates/ide-db/src/imports/merge_imports.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/bin/logger.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#102610 re-add git-commit-hash file to tarballs
  src/bootstrap/channel.rs
  src/bootstrap/dist.rs
  src/bootstrap/tarball.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#102597 Avoid ICE in printing RPITIT type
  compiler/rustc_middle/src/ty/print/pretty.rs
  src/test/ui/impl-trait/in-trait/issue-102571.rs
  src/test/ui/impl-trait/in-trait/issue-102571.stderr
Labels: T-compiler, S-waiting-on-bors

#102607 Improve documentation of `slice::{from_ptr_range, from_ptr_range_mut}`
  library/core/src/slice/raw.rs
Labels: S-waiting-on-bors, T-libs

#102613 Fix ICE #101739
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_transmute/src/lib.rs
  src/test/ui/transmutability/issue-101739-1.rs
  src/test/ui/transmutability/issue-101739-1.stderr
  src/test/ui/transmutability/issue-101739-2.rs
  src/test/ui/transmutability/issue-101739-2.stderr
Labels: T-compiler, S-waiting-on-bors

#102615 Cleanup some error code explanations
  compiler/rustc_error_codes/src/error_codes/E0045.md
  compiler/rustc_error_codes/src/error_codes/E0092.md
  compiler/rustc_error_codes/src/error_codes/E0161.md
  compiler/rustc_error_codes/src/error_codes/E0579.md
  compiler/rustc_error_codes/src/error_codes/E0622.md
  compiler/rustc_error_codes/src/error_codes/E0743.md
Labels: T-compiler, S-waiting-on-bors

#102617 `HirId` for `deferred_transmute_checks`
  compiler/rustc_hir_analysis/src/check/expr.rs
  compiler/rustc_hir_analysis/src/check/fn_ctxt/checks.rs
  compiler/rustc_hir_analysis/src/check/inherited.rs
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
Labels: T-compiler, S-waiting-on-bors

#102620 Migrate `.stab` elements style to CSS variables
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#102627 Rollup of 8 pull requests
  compiler/rustc_error_codes/src/error_codes/E0045.md
  compiler/rustc_error_codes/src/error_codes/E0092.md
  compiler/rustc_error_codes/src/error_codes/E0161.md
  compiler/rustc_error_codes/src/error_codes/E0579.md
  compiler/rustc_error_codes/src/error_codes/E0622.md
  compiler/rustc_error_codes/src/error_codes/E0743.md
  compiler/rustc_hir_analysis/src/check/expr.rs
  compiler/rustc_hir_analysis/src/check/fn_ctxt/checks.rs
  compiler/rustc_hir_analysis/src/check/inherited.rs
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_transmute/src/lib.rs
  library/core/src/slice/raw.rs
  library/core/src/str/traits.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds_with_bindings.out0.html
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds_with_bindings.out9.html
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds_with_bindings.rs
  src/test/rustdoc/inline_cross/auxiliary/assoc_item_trait_bounds_with_bindings.rs
  src/test/ui/impl-trait/in-trait/issue-102571.rs
  src/test/ui/impl-trait/in-trait/issue-102571.stderr
  src/test/ui/transmutability/issue-101739-1.rs
  src/test/ui/transmutability/issue-101739-1.stderr
  src/test/ui/transmutability/issue-101739-2.rs
  src/test/ui/transmutability/issue-101739-2.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#102439 rustdoc: re-sugar more cross-crate trait bounds
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds_with_bindings.out0.html
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds_with_bindings.out9.html
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds_with_bindings.rs
  src/test/rustdoc/inline_cross/auxiliary/assoc_item_trait_bounds_with_bindings.rs
Labels: T-rustdoc, S-waiting-on-bors, A-cross-crate-reexports

#102569 Improve `FromStr` example
  library/core/src/str/traits.rs
Labels: S-waiting-on-bors, T-libs

#102486 Add diagnostic struct for const eval error in `rustc_middle`
  compiler/rustc_error_messages/locales/en-US/middle.ftl
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/ty/adt.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#102632 Rollup of 7 pull requests
  compiler/rustc_builtin_macros/src/deriving/bounds.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/ord.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/hash.rs
  compiler/rustc_error_messages/locales/en-US/middle.ftl
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/ty/adt.rs
  library/alloc/src/sync.rs
  library/alloc/src/task.rs
  library/alloc/src/vec/mod.rs
  library/core/src/char/methods.rs
  library/core/src/convert/mod.rs
  library/core/src/lib.rs
  library/core/src/num/mod.rs
  library/core/tests/ascii.rs
  library/core/tests/lib.rs
  src/test/ui/deriving/deriving-default-enum.rs
  src/test/ui/macros/macros-nonfatal-errors.rs
  src/test/ui/macros/macros-nonfatal-errors.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#101308 introduce `{char, u8}::is_ascii_octdigit`
  library/core/src/char/methods.rs
  library/core/src/lib.rs
  library/core/src/num/mod.rs
  library/core/tests/ascii.rs
  library/core/tests/lib.rs
Labels: S-waiting-on-bors, T-libs

#101040 Fix `#[derive(Default)]` on a generic `#[default]` enum adding unnecessary `Default` bounds
  compiler/rustc_builtin_macros/src/deriving/bounds.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/ord.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/hash.rs
  src/test/ui/deriving/deriving-default-enum.rs
  src/test/ui/macros/macros-nonfatal-errors.rs
  src/test/ui/macros/macros-nonfatal-errors.stderr
Labels: T-libs-api, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#100470 Tweak `FpCategory` example order.
  library/core/src/num/mod.rs
Labels: S-waiting-on-bors, T-libs

#99460 docs: Improve AsRef / AsMut docs on blanket impls
  library/core/src/convert/mod.rs
Labels: S-waiting-on-bors, T-libs

#99216 docs: be less harsh in wording for Vec::from_raw_parts
  library/alloc/src/vec/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#98218 Document the conditional existence of `alloc::sync` and `alloc::task`.
  library/alloc/src/sync.rs
  library/alloc/src/task.rs
Labels: A-docs, S-waiting-on-bors, T-libs, A-atomic

#99099 Add T to PhantomData impl Debug
  library/core/src/fmt/mod.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#102395 errors: rename `typeck.ftl` to `hir_analysis.ftl`
  compiler/rustc_error_messages/locales/en-US/compiletest.ftl
  compiler/rustc_error_messages/locales/en-US/hir_analysis.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_macros/src/diagnostics/diagnostic.rs
  src/test/ui-fulldeps/internal-lints/diagnostics.rs
  src/test/ui-fulldeps/internal-lints/diagnostics.stderr
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#102547 Migrate CSS theme for search results
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/search-result-color.goml
Labels: T-rustdoc, S-waiting-on-bors

#102567 Delay evaluating lint primary message until after it would be suppressed
  compiler/rustc_middle/src/lint.rs
  src/test/ui/lint/auxiliary/trivial-cast-ice.rs
  src/test/ui/lint/trivial-cast-ice.rs
Labels: T-compiler, S-waiting-on-bors

#102624 rustdoc: remove font family CSS on `.rustdoc-toggle summary::before`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#102628 Change the parameter name of From::from to `value`
  library/core/src/convert/mod.rs
Labels: S-waiting-on-bors, T-libs

#102637 Ignore fuchsia on two compiler tests
  src/test/ui/process/process-panic-after-fork.rs
  src/test/ui/simd/target-feature-mixup.rs
Labels: T-compiler, S-waiting-on-bors

#102639 Improve spans when splitting multi-char operator tokens for proc macros.
  compiler/rustc_expand/src/proc_macro_server.rs
  src/test/ui/lint/redundant-semicolon/redundant-semi-proc-macro.stderr
  src/test/ui/proc-macro/attr-complex-fn.stdout
  src/test/ui/proc-macro/capture-macro-rules-invoke.stdout
  src/test/ui/proc-macro/debug/dump-debug-span-debug.rs
  src/test/ui/proc-macro/debug/dump-debug-span-debug.stderr
  src/test/ui/proc-macro/debug/dump-debug.stderr
  src/test/ui/proc-macro/dollar-crate-issue-57089.stdout
  src/test/ui/proc-macro/dollar-crate-issue-62325.stdout
  src/test/ui/proc-macro/dollar-crate.stdout
  src/test/ui/proc-macro/inner-attrs.stdout
  src/test/ui/proc-macro/issue-75930-derive-cfg.stdout
  src/test/ui/proc-macro/issue-76182-leading-vert-pat.stdout
  src/test/ui/proc-macro/meta-macro-hygiene.stdout
  src/test/ui/proc-macro/three-equals.stderr
Labels: T-compiler, S-waiting-on-bors

#102441 Suggest unwrap_or_else when a closure is given
  compiler/rustc_hir_analysis/src/check/fn_ctxt/suggestions.rs
  compiler/rustc_hir_analysis/src/check/method/suggest.rs
  src/test/ui/suggestions/sugg-else-for-closure.fixed
  src/test/ui/suggestions/sugg-else-for-closure.rs
  src/test/ui/suggestions/sugg-else-for-closure.stderr
Labels: T-compiler, S-waiting-on-bors

#102622 Move layout_of and friends from rustc_middle to rustc_ty_utils
  Cargo.lock
  compiler/rustc_middle/Cargo.toml
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_ty_utils/Cargo.toml
  compiler/rustc_ty_utils/src/abi.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/layout_sanity_check.rs
  compiler/rustc_ty_utils/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#102489 Normalize substs before resolving instance in `NoopMethodCall` lint
  compiler/rustc_lint/src/noop_method_call.rs
  src/test/ui/const-generics/generic_const_exprs/issue-102074.rs
  src/test/ui/lint/noop-method-call.rs
  src/test/ui/lint/noop-method-call.stderr
Labels: T-compiler, S-waiting-on-bors

#102559 Don't ICE when trying to copy unsized value in const prop
  compiler/rustc_const_eval/src/interpret/place.rs
  src/test/ui/const_prop/issue-102553.rs
Labels: T-compiler, S-waiting-on-bors

#102568 Lint against nested opaque types that don't satisfy associated type bounds
  compiler/rustc_error_messages/locales/en-US/lint.ftl
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_middle/src/lint.rs
  src/test/ui/impl-trait/nested-return-type2-tait.rs
  src/test/ui/impl-trait/nested-return-type2-tait.stderr
  src/test/ui/impl-trait/nested-return-type2.rs
  src/test/ui/impl-trait/nested-return-type2.stderr
  src/test/ui/impl-trait/nested-return-type3-tait.rs
  src/test/ui/impl-trait/nested-return-type3-tait.stderr
  src/test/ui/impl-trait/nested-return-type3-tait2.rs
  src/test/ui/impl-trait/nested-return-type3-tait2.stderr
  src/test/ui/impl-trait/nested-return-type3-tait3.rs
  src/test/ui/impl-trait/nested-return-type3-tait3.stderr
  src/test/ui/impl-trait/nested-return-type3.rs
  src/test/ui/impl-trait/nested-return-type3.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#102633 Fix rustdoc ICE in invalid_rust_codeblocks lint
  src/librustdoc/passes/check_code_block_syntax.rs
  src/test/rustdoc-ui/invalid-syntax.rs
  src/test/rustdoc-ui/invalid-syntax.stderr
Labels: T-rustdoc, S-waiting-on-bors

#102652 Rollup of 6 pull requests
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_error_messages/locales/en-US/lint.ftl
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/noop_method_call.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_middle/src/lint.rs
  library/alloc/src/vec/in_place_collect.rs
  library/alloc/src/vec/in_place_drop.rs
  library/alloc/src/vec/into_iter.rs
  library/alloc/src/vec/mod.rs
  library/alloc/tests/vec.rs
  library/core/src/future/ready.rs
  src/librustdoc/passes/check_code_block_syntax.rs
  src/test/rustdoc-ui/invalid-syntax.rs
  src/test/rustdoc-ui/invalid-syntax.stderr
  src/test/ui/const-generics/generic_const_exprs/issue-102074.rs
  src/test/ui/const_prop/issue-102553.rs
  src/test/ui/impl-trait/nested-return-type2-tait.rs
  src/test/ui/impl-trait/nested-return-type2-tait.stderr
  src/test/ui/impl-trait/nested-return-type2.rs
  src/test/ui/impl-trait/nested-return-type2.stderr
  src/test/ui/impl-trait/nested-return-type3-tait.rs
  src/test/ui/impl-trait/nested-return-type3-tait.stderr
  src/test/ui/impl-trait/nested-return-type3-tait2.rs
  src/test/ui/impl-trait/nested-return-type3-tait2.stderr
  src/test/ui/impl-trait/nested-return-type3-tait3.rs
  src/test/ui/impl-trait/nested-return-type3-tait3.stderr
  src/test/ui/impl-trait/nested-return-type3.rs
  src/test/ui/impl-trait/nested-return-type3.stderr
  src/test/ui/lint/noop-method-call.rs
  src/test/ui/lint/noop-method-call.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#101642 Fix in-place collection leak when remaining element destructor panic
  library/alloc/src/vec/in_place_collect.rs
  library/alloc/src/vec/in_place_drop.rs
  library/alloc/src/vec/into_iter.rs
  library/alloc/src/vec/mod.rs
  library/alloc/tests/vec.rs
Labels: S-waiting-on-bors, T-libs

#101189 Implement `Ready::into_inner()`
  library/core/src/future/ready.rs
Labels: T-libs-api, S-waiting-on-bors

#102653 resolve instance: missing value to `delay_span_bug`
  compiler/rustc_ty_utils/src/instance.rs
Labels: T-compiler, S-waiting-on-bors

#102488 Check generic argument compatibility when projecting assoc ty
  compiler/rustc_trait_selection/src/traits/project.rs
  src/test/ui/generic-associated-types/issue-102114.rs
  src/test/ui/generic-associated-types/issue-102114.stderr
Labels: T-compiler, S-waiting-on-bors

#102241 Package `rust-docs-json` into nightly components (take 3)
  src/bootstrap/dist.rs
  src/tools/build-manifest/src/main.rs
  src/tools/build-manifest/src/versions.rs
Labels: A-bootstrap, S-waiting-on-bors, T-release

#101768 Add `AsFd` implementations for stdio lock types on WASI.
  library/std/src/sys/wasi/stdio.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#102686 Don't build the compiler before building rls
  src/bootstrap/tool.rs
Labels: A-bootstrap, S-waiting-on-bors

#102699 Fix hamburger button color
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/sidebar-mobile.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#102704 Rollup of 5 pull requests
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/might_permit_raw_init.rs
  compiler/rustc_const_eval/src/util/might_permit_raw_init.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_hir_analysis/src/check/demand.rs
  compiler/rustc_hir_analysis/src/check/fn_ctxt/suggestions.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_target/src/abi/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/sidebar-mobile.goml
  src/test/ui/consts/assert-type-intrinsics.rs
  src/test/ui/consts/assert-type-intrinsics.stderr
  src/test/ui/inference/need_type_info/concrete-impl.stderr
  src/test/ui/inference/need_type_info/do-not-suggest-generic-arguments-for-turbofish.rs
  src/test/ui/inference/need_type_info/do-not-suggest-generic-arguments-for-turbofish.stderr
  src/test/ui/intrinsics/panic-uninitialized-zeroed.rs
  src/test/ui/issues/issue-24013.stderr
  src/test/ui/issues/issue-47486.stderr
  src/test/ui/lint/invalid_value.rs
  src/test/ui/lint/invalid_value.stderr
  src/test/ui/parser/expr-as-stmt-2.stderr
  src/test/ui/parser/expr-as-stmt.stderr
  src/test/ui/suggestions/boxed-variant-field.rs
  src/test/ui/suggestions/boxed-variant-field.stderr
  src/test/ui/suggestions/into-convert.rs
  src/test/ui/suggestions/into-convert.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#101061 panic-on-uninit: adjust checks to 0x01-filling
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/might_permit_raw_init.rs
  compiler/rustc_const_eval/src/util/might_permit_raw_init.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_target/src/abi/mod.rs
  src/test/ui/consts/assert-type-intrinsics.rs
  src/test/ui/consts/assert-type-intrinsics.stderr
  src/test/ui/intrinsics/panic-uninitialized-zeroed.rs
  src/test/ui/lint/invalid_value.rs
  src/test/ui/lint/invalid_value.stderr
Labels: T-compiler, S-waiting-on-bors

#100986 Stop suggesting adding generic args for turbofish
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  src/test/ui/inference/need_type_info/concrete-impl.stderr
  src/test/ui/inference/need_type_info/do-not-suggest-generic-arguments-for-turbofish.rs
  src/test/ui/inference/need_type_info/do-not-suggest-generic-arguments-for-turbofish.stderr
  src/test/ui/issues/issue-24013.stderr
  src/test/ui/issues/issue-47486.stderr
Labels: T-compiler, S-waiting-on-bors

#102438 Adding target_rustcflags to `compiletest` TargetCfg creation
  src/tools/compiletest/src/common.rs
Labels: S-waiting-on-bors, merged-by-bors

#102394 Fix unwind drop glue for if-then scopes
  compiler/rustc_mir_build/src/build/block.rs
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/scope.rs
  src/test/ui/let-else/issue-102317.rs
  src/test/ui/mir/issue-99852.rs
Labels: beta-nominated, beta-accepted, T-compiler, S-waiting-on-bors, merged-by-bors

#99324 Enable doctests in compiler/ crates
  compiler/rustc_ast/Cargo.toml
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_pretty/Cargo.toml
  compiler/rustc_attr/Cargo.toml
  compiler/rustc_borrowck/Cargo.toml
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_const_eval/Cargo.toml
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_error_messages/Cargo.toml
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_feature/Cargo.toml
  compiler/rustc_hir/Cargo.toml
  compiler/rustc_hir_pretty/Cargo.toml
  compiler/rustc_incremental/Cargo.toml
  compiler/rustc_index/Cargo.toml
  compiler/rustc_interface/Cargo.toml
  compiler/rustc_lexer/Cargo.toml
  compiler/rustc_metadata/Cargo.toml
  compiler/rustc_mir_build/Cargo.toml
  compiler/rustc_mir_dataflow/Cargo.toml
  compiler/rustc_mir_transform/Cargo.toml
  compiler/rustc_mir_transform/src/coverage/test_macros/Cargo.toml
  compiler/rustc_monomorphize/Cargo.toml
  compiler/rustc_parse/Cargo.toml
  compiler/rustc_plugin_impl/Cargo.toml
  compiler/rustc_query_system/Cargo.toml
  compiler/rustc_resolve/Cargo.toml
  compiler/rustc_span/Cargo.toml
  compiler/rustc_symbol_mangling/Cargo.toml
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_type_ir/Cargo.toml
Labels: S-waiting-on-bors, T-infra, merged-by-bors, A-query-system, A-translation

#102672 rustdoc: remove unused CSS class `in-band`
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/templates/print_item.html
  src/test/rustdoc-gui/anchors.goml
  src/test/rustdoc-gui/search-result-go-to-first.goml
  src/test/rustdoc-gui/toggle-click-deadspace.goml
  src/test/rustdoc/index-page.rs
  src/test/rustdoc/keyword.rs
  src/test/rustdoc/primitive-reference.rs
  src/test/rustdoc/primitive-slice-auto-trait.rs
  src/test/rustdoc/primitive-tuple-auto-trait.rs
  src/test/rustdoc/primitive-unit-auto-trait.rs
  src/test/rustdoc/primitive.rs
Labels: T-rustdoc, S-waiting-on-bors

#102707 rustdoc: render more cross-crate HRTBs properly
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/format.rs
  src/librustdoc/json/conversions.rs
  src/test/rustdoc/inline_cross/assoc_item_trait_bounds_with_bindings.rs
  src/test/rustdoc/inline_cross/auxiliary/assoc_item_trait_bounds_with_bindings.rs
  src/test/rustdoc/inline_cross/auxiliary/impl_trait_aux.rs
  src/test/rustdoc/inline_cross/impl_trait.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-cross-crate-reexports, A-rustdoc-json

#99497 Standard library OS support for Apple WatchOS
  library/std/src/os/mod.rs
  library/std/src/os/unix/mod.rs
  library/std/src/os/watchos/fs.rs
  library/std/src/os/watchos/mod.rs
  library/std/src/os/watchos/raw.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#102718 Fix `opaque_hidden_inferred_bound` lint ICE
  compiler/rustc_error_messages/locales/en-US/lint.ftl
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  src/test/ui/lint/issue-102705.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#102725 Remove `-Ztime`
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  src/bootstrap/bin/rustc.rs
  src/doc/rustc/src/command-line-arguments.md
  src/librustdoc/formats/renderer.rs
  src/test/rustdoc-ui/z-help.stdout
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, A-query-system

#102736 Migrate search input color to CSS variable
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
Labels: T-rustdoc, S-waiting-on-bors

#102741 Rollup of 5 pull requests
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_error_messages/locales/en-US/lint.ftl
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_ty_utils/src/lib.rs
  library/alloc/src/collections/btree/node.rs
  library/alloc/tests/autotraits.rs
  library/alloc/tests/lib.rs
  src/bootstrap/bin/rustc.rs
  src/doc/rustc/src/command-line-arguments.md
  src/librustdoc/formats/renderer.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui/associated-consts/associated-const-impl-wrong-lifetime.stderr
  src/test/ui/associated-consts/mismatched_impl_ty_1.rs
  src/test/ui/associated-consts/mismatched_impl_ty_2.rs
  src/test/ui/associated-consts/mismatched_impl_ty_3.rs
  src/test/ui/lint/issue-102705.rs
  src/test/ui/nll/trait-associated-constant.stderr
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-query-system, A-translation

#102680 Fix overconstrained Send impls in btree internals
  library/alloc/src/collections/btree/node.rs
  library/alloc/tests/autotraits.rs
  library/alloc/tests/lib.rs
Labels: S-waiting-on-bors, T-libs

#98496 make `compare_const_impl` a query and use it in `instance.rs`
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_ty_utils/src/lib.rs
  src/test/ui/associated-consts/associated-const-impl-wrong-lifetime.stderr
  src/test/ui/associated-consts/mismatched_impl_ty_1.rs
  src/test/ui/associated-consts/mismatched_impl_ty_2.rs
  src/test/ui/associated-consts/mismatched_impl_ty_3.rs
  src/test/ui/nll/trait-associated-constant.stderr
Labels: S-waiting-on-bors, A-query-system, T-types

#102744 rustdoc: remove unused CSS `.content .item-list`
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc/impl-disambiguation.rs
  src/test/rustdoc/impl-parts.rs
Labels: T-rustdoc, S-waiting-on-bors

#102747 rustdoc: remove unused CSS `.docblock a:not(.srclink)`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#102748 Disable compressed debug sections on i586-gnu
  src/ci/docker/README.md
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/i586-linux-gnu.config
Labels: S-waiting-on-bors, T-infra

#102761 let-else: test else block with non-never uninhabited type
  src/test/ui/let-else/let-else-non-diverging.rs
  src/test/ui/let-else/let-else-non-diverging.stderr
Labels: T-compiler, S-waiting-on-bors

#102767 Rollup of 6 pull requests
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_hir_analysis/src/check/_match.rs
  src/ci/docker/README.md
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/i586-linux-gnu.config
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc/impl-disambiguation.rs
  src/test/rustdoc/impl-parts.rs
  src/test/ui/async-await/issue-66387-if-without-else.stderr
  src/test/ui/consts/control-flow/issue-50577.stderr
  src/test/ui/expr/if/if-without-else-result.rs
  src/test/ui/expr/if/if-without-else-result.stderr
  src/test/ui/expr/if/issue-4201.rs
  src/test/ui/expr/if/issue-4201.stderr
  src/test/ui/issues/issue-19991.rs
  src/test/ui/issues/issue-19991.stderr
  src/test/ui/let-else/let-else-non-diverging.rs
  src/test/ui/let-else/let-else-non-diverging.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup

#102577 Warn about Visual Studio Code branding confusion
  compiler/rustc_codegen_ssa/src/back/link.rs
Labels: O-windows, T-compiler, S-waiting-on-bors

#102720 do not reverse the expected type and found type for ObligationCauseCo…
  compiler/rustc_hir_analysis/src/check/_match.rs
  src/test/ui/async-await/issue-66387-if-without-else.stderr
  src/test/ui/consts/control-flow/issue-50577.stderr
  src/test/ui/expr/if/if-without-else-result.rs
  src/test/ui/expr/if/if-without-else-result.stderr
  src/test/ui/expr/if/issue-4201.rs
  src/test/ui/expr/if/issue-4201.stderr
  src/test/ui/issues/issue-19991.rs
  src/test/ui/issues/issue-19991.stderr
Labels: S-waiting-on-bors

#102025 Delete the stage1 and stage0-sysroot directories when using download-rustc
  src/bootstrap/compile.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#102764 Check `WhereClauseReferencesSelf` after all other object safety checks
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  src/test/ui/object-safety/issue-102762.rs
  src/test/ui/object-safety/issue-102762.stderr
Labels: T-compiler, S-waiting-on-bors

#102779 Fix `type_of` ICE
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  src/test/ui/const-generics/generic_const_exprs/issue-102768.rs
  src/test/ui/const-generics/generic_const_exprs/issue-102768.stderr
Labels: T-compiler, S-waiting-on-bors

#102780 run Miri CI when std::sys changes
  src/ci/scripts/should-skip-this.sh
Labels: S-waiting-on-bors, T-infra

#102787 Rollup of 6 pull requests
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  library/core/src/iter/adapters/array_chunks.rs
  library/core/src/iter/adapters/map_while.rs
  library/core/src/iter/adapters/mod.rs
  library/core/src/iter/adapters/scan.rs
  library/core/src/iter/adapters/skip.rs
  library/core/src/iter/adapters/take.rs
  library/core/src/iter/adapters/take_while.rs
  library/core/src/iter/mod.rs
  library/core/src/iter/range.rs
  library/std/src/io/buffered/bufreader.rs
  library/std/src/io/buffered/bufreader/buffer.rs
  library/std/src/io/buffered/tests.rs
  library/std/src/keyword_docs.rs
  src/ci/scripts/should-skip-this.sh
  src/test/ui/const-generics/generic_const_exprs/issue-102768.rs
  src/test/ui/const-generics/generic_const_exprs/issue-102768.stderr
  src/test/ui/object-safety/issue-102762.rs
  src/test/ui/object-safety/issue-102762.stderr
Labels: T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#102475 unsafe keyword: trait examples and unsafe_op_in_unsafe_fn update
  library/std/src/keyword_docs.rs
Labels: S-waiting-on-bors, T-libs

#102300 Use a macro to not have to copy-paste `ConstFnMutClosure::new(&mut fold, NeverShortCircuit::wrap_mut_2_imp)).0` everywhere
  library/core/src/iter/adapters/array_chunks.rs
  library/core/src/iter/adapters/map_while.rs
  library/core/src/iter/adapters/mod.rs
  library/core/src/iter/adapters/scan.rs
  library/core/src/iter/adapters/skip.rs
  library/core/src/iter/adapters/take.rs
  library/core/src/iter/adapters/take_while.rs
  library/core/src/iter/mod.rs
  library/core/src/iter/range.rs
Labels: S-waiting-on-bors, T-libs

#99505 std: use futex in `Once`
  library/std/src/sync/once.rs
  library/std/src/sys_common/mod.rs
  library/std/src/sys_common/once/futex.rs
  library/std/src/sys_common/once/generic.rs
  library/std/src/sys_common/once/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#102778 Fix MIR inlining of asm_unwind
  compiler/rustc_mir_transform/src/inline.rs
  src/test/mir-opt/inline/asm-unwind.rs
  src/test/mir-opt/inline/asm_unwind.main.Inline.diff
Labels: T-compiler, S-waiting-on-bors

#102785 Remove `DefId` from some `SelectionCandidate` variants
  compiler/rustc_middle/src/traits/select.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors

#102797 rustdoc: remove no-op CSS `.rightside { position: initial }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#102798 rustdoc: add main-heading and example-wrap link CSS to big selector
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#102675 Remove `mir::CastKind::Misc`
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/ty/cast.rs
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  src/test/mir-opt/const_prop/cast.main.ConstProp.diff
  src/test/mir-opt/const_prop/indirect.main.ConstProp.diff
  src/test/mir-opt/enum_cast.bar.mir_map.0.mir
  src/test/mir-opt/enum_cast.boo.mir_map.0.mir
  src/test/mir-opt/enum_cast.droppy.mir_map.0.mir
  src/test/mir-opt/enum_cast.foo.mir_map.0.mir
  src/test/mir-opt/funky_arms.float_to_exponential_common.ConstProp.diff
  src/test/mir-opt/if_condition_int.dont_remove_comparison.SimplifyComparisonIntegral.diff
  src/test/mir-opt/inline/inline_diverging.g.Inline.diff
  src/test/mir-opt/issue_101973.inner.ConstProp.diff
  src/test/mir-opt/lower_intrinsics.f_copy_nonoverlapping.LowerIntrinsics.diff
  src/test/mir-opt/slice_drop_shim.core.ptr-drop_in_place.[String].AddMovesForPackedDrops.before.mir
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
Labels: T-compiler, S-waiting-on-bors

#101520 Allow transmutes between the same types after erasing lifetimes
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  src/test/ui/transmute-equal-assoc-types.rs
  src/test/ui/transmute-equal-assoc-types.stderr
  src/test/ui/transmute/lifetimes.rs
  src/test/ui/transmute/main.rs
  src/test/ui/transmute/main.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce, T-types

#102315 add a few more assert_unsafe_precondition
  library/core/src/hint.rs
  library/core/src/ptr/mod.rs
  src/test/codegen/mem-replace-direct-memcpy.rs
  src/test/ui/consts/const_unsafe_unreachable_ub.stderr
  src/tools/miri/tests/fail/unaligned_pointers/unaligned_ptr1.rs
  src/tools/miri/tests/fail/unaligned_pointers/unaligned_ptr_addr_of.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#102815 rustdoc: remove mobile topbar from source pages instead of hiding it
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/templates/page.html
  src/test/rustdoc-gui/sidebar-source-code.goml
Labels: T-rustdoc, S-waiting-on-bors

#102819 Rollup of 7 pull requests
  library/core/src/slice/ascii.rs
  src/bootstrap/README.md
  src/bootstrap/config.rs
  src/etc/rust-gdbgui
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/templates/page.html
  src/test/run-make/issue-36710/Makefile
  src/test/rustdoc-gui/sidebar-source-code.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc-gui/unsafe-fn.goml
Labels: T-rustdoc, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#102524 rustdoc: remove weird `<a href="#">` wrapper around unsafe triangle
  src/librustdoc/html/render/print_item.rs
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc-gui/unsafe-fn.goml
Labels: T-rustdoc, S-waiting-on-bors

#102581 Make the `config.src` handling for downloadable bootstrap more conservative
  src/bootstrap/config.rs
Labels: A-bootstrap, S-waiting-on-bors

#102604 Improve readability of bootstrap's README
  src/bootstrap/README.md
Labels: A-bootstrap, S-waiting-on-bors

#102723 test: run-make: skip when cross-compiling
  src/test/run-make/issue-36710/Makefile
Labels: S-waiting-on-bors

#99880 `EscapeAscii` is not an `ExactSizeIterator`
  library/core/src/slice/ascii.rs
Labels: beta-nominated, beta-accepted, T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#99194 Fix gdb-cmd for rust-gdbgui
  src/etc/rust-gdbgui
Labels: S-waiting-on-bors

#102782 Add regression test for #102124
  src/test/ui/const-generics/issue-102124.rs
Labels: T-compiler, S-waiting-on-bors

#102790 Fix llvm-tblgen for cross compiling
  src/bootstrap/dist.rs
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/native.rs
Labels: A-bootstrap, S-waiting-on-bors

#102807 Document `rust-docs-json` component
  src/doc/rustdoc/src/unstable-features.md
Labels: S-waiting-on-bors

#102812 Remove empty core::lazy and std::lazy
  library/core/src/lazy.rs
  library/core/src/lib.rs
  library/std/src/lazy.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#102818 Clean up rustdoc highlight.rs imports a bit
  src/librustdoc/html/highlight.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#102822 Rollup of 8 pull requests
  compiler/rustc_borrowck/src/type_check/canonical.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  library/core/src/lazy.rs
  library/core/src/lib.rs
  library/std/src/lazy.rs
  library/std/src/lib.rs
  src/bootstrap/dist.rs
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/native.rs
  src/doc/rustdoc/src/unstable-features.md
  src/librustdoc/html/highlight.rs
  src/test/ui/async-await/issue-70935-complex-spans.drop_tracking.stderr
  src/test/ui/coherence/coherence-fn-covariant-bound-vs-static.stderr
  src/test/ui/const-generics/issue-102124.rs
  src/test/ui/lifetimes/nested-binder-print.rs
  src/test/ui/lifetimes/nested-binder-print.stderr
  src/test/ui/lifetimes/re-empty-in-error.stderr
  src/test/ui/nll/closure-malformed-projection-input-issue-102800.rs
  src/test/ui/nll/closure-malformed-projection-input-issue-102800.stderr
  src/test/ui/regions/issue-102392.rs
  src/test/ui/regions/issue-102392.stderr
  src/test/ui/where-clauses/higher-ranked-fn-type.quiet.stderr
  src/test/ui/where-clauses/higher-ranked-fn-type.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#102514 Don't repeat lifetime names from outer binder in print
  compiler/rustc_middle/src/ty/print/pretty.rs
  src/test/ui/async-await/issue-70935-complex-spans.drop_tracking.stderr
  src/test/ui/coherence/coherence-fn-covariant-bound-vs-static.stderr
  src/test/ui/lifetimes/nested-binder-print.rs
  src/test/ui/lifetimes/nested-binder-print.stderr
  src/test/ui/lifetimes/re-empty-in-error.stderr
  src/test/ui/regions/issue-102392.rs
  src/test/ui/regions/issue-102392.stderr
  src/test/ui/where-clauses/higher-ranked-fn-type.quiet.stderr
  src/test/ui/where-clauses/higher-ranked-fn-type.rs
Labels: T-compiler, S-waiting-on-bors

#102661 rustdoc: Document effect of fundamental types
  src/doc/rustdoc/src/unstable-features.md
Labels: S-waiting-on-bors

#99818 don't ICE when normalizing closure input tys
  compiler/rustc_borrowck/src/type_check/canonical.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  src/test/ui/nll/closure-malformed-projection-input-issue-102800.rs
  src/test/ui/nll/closure-malformed-projection-input-issue-102800.stderr
Labels: T-compiler, S-waiting-on-bors

#102332 Update CI to use Android NDK r25b
  src/bootstrap/cc_detect.rs
  src/ci/docker/host-x86_64/arm-android/Dockerfile
  src/ci/docker/host-x86_64/dist-android/Dockerfile
  src/ci/docker/scripts/android-ndk.sh
Labels: A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#93668 Reduce CString allocations in std as much as possible
  library/std/src/sys/common/mod.rs
  library/std/src/sys/common/small_c_string.rs
  library/std/src/sys/common/tests.rs
  library/std/src/sys/hermit/fs.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/solid/os.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/os.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/sys/wasi/fs.rs
  library/std/src/sys/wasi/os.rs
  library/std/src/sys_common/net.rs
  src/tools/miri/tests/fail/shims/fs/isolated_file.stderr
Labels: S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#102820 Show let-else suggestion on stable.
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
Labels: T-compiler, S-waiting-on-bors

#102831 Don't use unnormalized type in `Ty::fn_sig` call in rustdoc `clean_middle_ty`
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/normalize-assoc-item.rs
Labels: T-rustdoc, S-waiting-on-bors

#102834 Remove unnecessary `lift`/`lift_to_tcx` calls from rustdoc
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
Labels: T-rustdoc, S-waiting-on-bors

#102838 remove cfg(bootstrap) from Miri
  src/tools/miri/cargo-miri/src/main.rs
  src/tools/miri/src/lib.rs
Labels: S-waiting-on-bors

#102850 Rollup of 8 pull requests
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/hir_wf_check.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_incremental/src/persist/dirty_clean.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/hir_stats.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_ty_utils/src/ty.rs
  library/core/src/alloc/layout.rs
  library/core/src/lib.rs
  library/core/src/mem/mod.rs
  library/core/src/ptr/alignment.rs
  library/core/src/ptr/mod.rs
  library/std/src/sys/unix/fs.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc/normalize-assoc-item.rs
  src/tools/clippy/clippy_lints/src/missing_inline.rs
  src/tools/clippy/clippy_lints/src/types/mod.rs
  src/tools/clippy/clippy_utils/src/check_proc_macro.rs
  src/tools/miri/cargo-miri/src/main.rs
  src/tools/miri/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#102799 rustdoc: remove hover gap in file picker
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#102829 rename `ImplItemKind::TyAlias` to `ImplItemKind::Type`
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/hir_wf_check.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_incremental/src/persist/dirty_clean.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/hir_stats.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_ty_utils/src/ty.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_lints/src/missing_inline.rs
  src/tools/clippy/clippy_lints/src/types/mod.rs
  src/tools/clippy/clippy_utils/src/check_proc_macro.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#102072 Add `ptr::Alignment` type
  library/core/src/alloc/layout.rs
  library/core/src/lib.rs
  library/core/src/mem/mod.rs
  library/core/src/ptr/alignment.rs
  library/core/src/ptr/mod.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#101118 fs::get_mode enable getting the data via fcntl/F_GETFL on major BSD
  library/std/src/sys/unix/fs.rs
Labels: S-waiting-on-bors, T-libs

#89123 add Vec::push_within_capacity - fallible, does not allocate
  library/alloc/src/vec/mod.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors
