Repository rust-lang/rust, pull requests merged in 2022-08, with the labels that each got.

#99052 Fix cloning from a BitSet with a different domain size
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_index/src/bit_set/tests.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99932 Fix unwinding on certain platforms when debug assertions are enabled
  library/panic_unwind/src/gcc.rs
Labels: S-waiting-on-bors, T-libs

#99973 Layout things
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_target/src/abi/mod.rs
  src/test/ui/layout/debug.stderr
  src/test/ui/layout/hexagon-enum.stderr
  src/test/ui/layout/issue-96158-scalarpair-payload-might-be-uninit.stderr
  src/test/ui/layout/issue-96185-overaligned-enum.stderr
  src/test/ui/layout/thumb-enum.stderr
  src/test/ui/layout/zero-sized-array-enum-niche.stderr
Labels: T-compiler, S-waiting-on-bors

#99980 Remove more Clean trait implementations
  src/librustdoc/clean/mod.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#99984 Fix compat.rs for `cfg(miri)`
  library/std/src/sys/windows/compat.rs
Labels: S-waiting-on-bors, T-libs

#99986 Add wrap suggestions for record variants
  compiler/rustc_typeck/src/check/demand.rs
  src/test/ui/did_you_mean/compatible-variants.rs
  src/test/ui/did_you_mean/compatible-variants.stderr
  src/test/ui/did_you_mean/issue-42764.rs
  src/test/ui/did_you_mean/issue-42764.stderr
Labels: T-compiler, S-waiting-on-bors

#99998 Rollup of 7 pull requests
  compiler/rustc_interface/src/util.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_target/src/abi/mod.rs
  compiler/rustc_typeck/src/check/demand.rs
  library/panic_unwind/src/gcc.rs
  library/std/src/sys/windows/compat.rs
  src/doc/unstable-book/src/compiler-flags/check-cfg.md
  src/doc/unstable-book/src/compiler-flags/location-detail.md
  src/librustdoc/clean/mod.rs
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui/check-cfg/invalid-cfg-value.rs
  src/test/ui/check-cfg/invalid-cfg-value.stderr
  src/test/ui/check-cfg/mix.rs
  src/test/ui/check-cfg/mix.stderr
  src/test/ui/did_you_mean/compatible-variants.rs
  src/test/ui/did_you_mean/compatible-variants.stderr
  src/test/ui/did_you_mean/issue-42764.rs
  src/test/ui/did_you_mean/issue-42764.stderr
  src/test/ui/layout/debug.stderr
  src/test/ui/layout/hexagon-enum.stderr
  src/test/ui/layout/issue-96158-scalarpair-payload-might-be-uninit.stderr
  src/test/ui/layout/issue-96185-overaligned-enum.stderr
  src/test/ui/layout/thumb-enum.stderr
  src/test/ui/layout/zero-sized-array-enum-niche.stderr
  src/test/ui/panics/location-detail-panic-no-location-info.rs
  src/test/ui/panics/location-detail-panic-no-location-info.run.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#99620 `-Z location-detail`: provide option to disable all location details
  compiler/rustc_session/src/options.rs
  src/doc/unstable-book/src/compiler-flags/location-detail.md
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui/panics/location-detail-panic-no-location-info.rs
  src/test/ui/panics/location-detail-panic-no-location-info.run.stderr
Labels: T-compiler, S-waiting-on-bors

#99519 Remove implicit names and values from `--cfg` in `--check-cfg`
  compiler/rustc_interface/src/util.rs
  compiler/rustc_session/src/config.rs
  src/doc/unstable-book/src/compiler-flags/check-cfg.md
  src/test/ui/check-cfg/invalid-cfg-value.rs
  src/test/ui/check-cfg/invalid-cfg-value.stderr
  src/test/ui/check-cfg/mix.rs
  src/test/ui/check-cfg/mix.stderr
Labels: T-compiler, S-waiting-on-bors

#99944 Limit symbols exported from proc macros
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  src/test/run-make-fulldeps/symbol-visibility/Makefile
  src/test/run-make-fulldeps/symbol-visibility/a_proc_macro.rs
  src/test/ui/proc-macro/auxiliary/proc-macro-panic.rs
  src/test/ui/proc-macro/invalid-punct-ident-1.rs
  src/test/ui/proc-macro/invalid-punct-ident-1.stderr
  src/test/ui/proc-macro/invalid-punct-ident-2.rs
  src/test/ui/proc-macro/invalid-punct-ident-2.stderr
  src/test/ui/proc-macro/invalid-punct-ident-3.rs
  src/test/ui/proc-macro/invalid-punct-ident-3.stderr
  src/test/ui/proc-macro/issue-76270-panic-in-libproc-macro.rs
  src/test/ui/proc-macro/issue-76270-panic-in-libproc-macro.stderr
  src/test/ui/proc-macro/load-panic-backtrace.rs
  src/test/ui/proc-macro/load-panic-backtrace.stderr
Labels: A-linkage, T-compiler, S-waiting-on-bors, I-heavy, merged-by-bors, A-proc-macros

#98246 Support setting file accessed/modified timestamps
  library/std/src/fs.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unsupported/fs.rs
  library/std/src/sys/wasi/fs.rs
  library/std/src/sys/wasi/time.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/fs.rs
  library/std/src/sys/windows/time.rs
  library/std/src/time.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#99884 Lexer improvements
  compiler/rustc_ast/src/util/comments.rs
  compiler/rustc_lexer/src/cursor.rs
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_lexer/src/tests.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/tokentrees.rs
  src/librustdoc/html/highlight.rs
  src/tools/clippy/clippy_lints/src/matches/mod.rs
  src/tools/clippy/clippy_lints/src/undocumented_unsafe_blocks.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#100024 Rollup of 8 pull requests
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_hir/src/definitions.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_mir_build/src/lints.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_typeck/src/check/_match.rs
  compiler/rustc_typeck/src/check/expr.rs
  src/bootstrap/tool.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/scrape_examples.rs
  src/test/rustdoc-ui/scrape-examples-fail-if-type-error.rs
  src/test/rustdoc-ui/scrape-examples-fail-if-type-error.stderr
  src/test/ui/async-await/no-const-async.stderr
  src/test/ui/borrowck/access-mode-in-closures.stderr
  src/test/ui/borrowck/borrowck-move-error-with-note.stderr
  src/test/ui/consts/issue-44415.stderr
  src/test/ui/cycle-trait/cycle-trait-default-type-trait.stderr
  src/test/ui/cycle-trait/cycle-trait-supertrait-direct.stderr
  src/test/ui/hrtb/hrtb-perfect-forwarding.stderr
  src/test/ui/issues/issue-12511.stderr
  src/test/ui/lint/unreachable_pub.stderr
  src/test/ui/moves/issue-99470-move-out-of-some.rs
  src/test/ui/moves/issue-99470-move-out-of-some.stderr
  src/test/ui/moves/moves-based-on-type-block-bad.stderr
  src/test/ui/nll/move-errors.stderr
  src/test/ui/resolve/issue-23305.stderr
  src/test/ui/suggestions/dont-suggest-ref/simple.stderr
  src/test/ui/traits/issue-91949-hangs-on-recursion.stderr
  src/test/ui/traits/trait-upcasting/cyclic-trait-resolution.stderr
  src/test/ui/type-alias-enum-variants/self-in-enum-definition.stderr
  src/tools/x/src/main.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#99911 Remove some uses of `guess_head_span`
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_mir_build/src/lints.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_typeck/src/check/_match.rs
  compiler/rustc_typeck/src/check/expr.rs
  src/test/ui/async-await/no-const-async.stderr
  src/test/ui/consts/issue-44415.stderr
  src/test/ui/cycle-trait/cycle-trait-default-type-trait.stderr
  src/test/ui/cycle-trait/cycle-trait-supertrait-direct.stderr
  src/test/ui/hrtb/hrtb-perfect-forwarding.stderr
  src/test/ui/issues/issue-12511.stderr
  src/test/ui/lint/unreachable_pub.stderr
  src/test/ui/resolve/issue-23305.stderr
  src/test/ui/traits/issue-91949-hangs-on-recursion.stderr
  src/test/ui/traits/trait-upcasting/cyclic-trait-resolution.stderr
  src/test/ui/type-alias-enum-variants/self-in-enum-definition.stderr
Labels: T-compiler, S-waiting-on-bors

#99976 Make Rustdoc exit with correct error code when scraping examples from invalid files
  src/librustdoc/scrape_examples.rs
  src/test/rustdoc-ui/scrape-examples-fail-if-type-error.rs
  src/test/rustdoc-ui/scrape-examples-fail-if-type-error.stderr
Labels: T-rustdoc, S-waiting-on-bors

#100003 Improve size assertions.
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/thir.rs
  src/librustdoc/clean/types.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#100012 Avoid `Ty` to `String` conversions
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
Labels: T-compiler, S-waiting-on-bors

#100020 better error when python is not found in x - issue #99648
  src/tools/x/src/main.rs
Labels: A-bootstrap, S-waiting-on-bors

#99340 Fix ICE in Definitions::create_def
  compiler/rustc_hir/src/definitions.rs
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors

#99629 Improve `cannot move out of` error message
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  src/test/ui/borrowck/access-mode-in-closures.stderr
  src/test/ui/borrowck/borrowck-move-error-with-note.stderr
  src/test/ui/moves/issue-99470-move-out-of-some.rs
  src/test/ui/moves/issue-99470-move-out-of-some.stderr
  src/test/ui/moves/moves-based-on-type-block-bad.stderr
  src/test/ui/nll/move-errors.stderr
  src/test/ui/suggestions/dont-suggest-ref/simple.stderr
Labels: T-compiler, S-waiting-on-bors

#99864 bootstrap: don't emit warn about duplicated deps with same/different features if some of sets actually empty
  src/bootstrap/tool.rs
Labels: A-bootstrap, S-waiting-on-bors

#99476 Add tests for raw-dylib with vectorcall, and fix vectorcall code generation
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_target/src/abi/call/x86.rs
  src/test/run-make/raw-dylib-alt-calling-convention/Makefile
  src/test/run-make/raw-dylib-alt-calling-convention/driver.rs
  src/test/run-make/raw-dylib-alt-calling-convention/extern.c
  src/test/run-make/raw-dylib-alt-calling-convention/lib.rs
  src/test/run-make/raw-dylib-alt-calling-convention/output.msvc.txt
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100033 Don't cancel try-perf branch if 'outdated'
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: S-waiting-on-bors, T-infra, merged-by-bors

#99431 Remove `fn backtrace` and replace with usages of provider API
  library/std/src/error.rs
  library/std/src/error/tests.rs
Labels: S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#99994 Remove `guess_head_span`
  compiler/rustc_typeck/src/check/_match.rs
Labels: T-compiler, S-waiting-on-bors

#100011 Use Parser's `restrictions` instead of `let_expr_allowed`
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  src/test/ui/rfc-2294-if-let-guard/feature-gate.rs
  src/test/ui/rfc-2294-if-let-guard/feature-gate.stderr
  src/test/ui/rfc-2497-if-let-chains/disallowed-positions.rs
  src/test/ui/rfc-2497-if-let-chains/disallowed-positions.stderr
Labels: T-compiler, S-waiting-on-bors

#100017 kmc-solid: Update `Socket::connect_timeout` to be in line with #78802
  library/std/src/sys/solid/net.rs
Labels: S-waiting-on-bors, T-libs

#100037 Update rustc man page to match `rustc --help`
  src/doc/man/rustc.1
Labels: S-waiting-on-bors

#99779 Fix item info pos and height
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/item-info-width.goml
  src/test/rustdoc-gui/item-info.goml
  src/test/rustdoc-gui/src/lib2/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#99156 `codegen_fulfill_obligation` expect erased regions
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/traits/codegen.rs
Labels: T-compiler, S-waiting-on-bors

#99293 only run --all-targets in stage0 for Std
  src/bootstrap/check.rs
Labels: A-bootstrap, S-waiting-on-bors

#99977 Add validation to const fn CStr creation
  library/core/src/ffi/c_str.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#100032 make `PlaceholderConst` not store the type of the const
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_traits/src/chalk/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100025 Remove redundant `TransferWrapper` struct
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
Labels: T-compiler, S-waiting-on-bors

#100045 Properly reject the `may_unwind` option in `global_asm!`
  compiler/rustc_builtin_macros/src/asm.rs
  src/test/ui/asm/aarch64/bad-options.stderr
  src/test/ui/asm/aarch64/parse-error.stderr
  src/test/ui/asm/x86_64/bad-options.stderr
  src/test/ui/asm/x86_64/parse-error.stderr
Labels: T-compiler, S-waiting-on-bors

#100052 RISC-V ASM test: relax label name constraint.
  src/test/assembly/asm/riscv-types.rs
Labels: S-waiting-on-bors

#100053 move [`assertions_on_result_states`] to restriction
  src/tools/clippy/clippy_lints/src/assertions_on_result_states.rs
  src/tools/clippy/clippy_lints/src/lib.register_all.rs
  src/tools/clippy/clippy_lints/src/lib.register_restriction.rs
  src/tools/clippy/clippy_lints/src/lib.register_style.rs
Labels: S-waiting-on-bors

#100057 Remove more Clean trait implementations
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#100063 Rollup of 7 pull requests
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_parse_format/src/tests.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/doctest.rs
  src/librustdoc/html/render/print_item.rs
  src/test/assembly/asm/riscv-types.rs
  src/test/ui/asm/aarch64/bad-options.stderr
  src/test/ui/asm/aarch64/parse-error.stderr
  src/test/ui/asm/x86_64/bad-options.stderr
  src/test/ui/asm/x86_64/parse-error.stderr
  src/tools/clippy/clippy_lints/src/assertions_on_result_states.rs
  src/tools/clippy/clippy_lints/src/lib.register_all.rs
  src/tools/clippy/clippy_lints/src/lib.register_restriction.rs
  src/tools/clippy/clippy_lints/src/lib.register_style.rs
  src/tools/clippy/clippy_lints/src/write.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#99987 Always include a position span in `rustc_parse_format::Argument`
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_parse_format/src/tests.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  src/tools/clippy/clippy_lints/src/write.rs
Labels: T-compiler, S-waiting-on-bors

#100005 Remove Clean trait for ast::Attribute and improve Attributes::from_ast
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/doctest.rs
  src/librustdoc/html/render/print_item.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#99509 remove `commit_unconditionally`
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_typeck/src/check/coercion.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100049 :arrow_up: rust-analyzer
  src/tools/rust-analyzer/.github/workflows/publish.yml
  src/tools/rust-analyzer/crates/hir-def/src/attr.rs
  src/tools/rust-analyzer/crates/hir-def/src/item_scope.rs
  src/tools/rust-analyzer/crates/hir-def/src/nameres/collector.rs
  src/tools/rust-analyzer/crates/hir-ty/src/chalk_ext.rs
  src/tools/rust-analyzer/crates/hir/src/lib.rs
  src/tools/rust-analyzer/crates/hir/src/semantics.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/expand_glob_import.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/inline_call.rs
  src/tools/rust-analyzer/crates/ide-assists/src/tests/generated.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/attribute.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/attribute/derive.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/expr.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/item_list.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/pattern.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/type.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/use_.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/vis.rs
  src/tools/rust-analyzer/crates/ide-completion/src/context.rs
  src/tools/rust-analyzer/crates/ide-completion/src/context/analysis.rs
  src/tools/rust-analyzer/crates/ide-completion/src/context/tests.rs
  src/tools/rust-analyzer/crates/ide-completion/src/render.rs
  src/tools/rust-analyzer/crates/ide-completion/src/render/function.rs
  src/tools/rust-analyzer/crates/ide-completion/src/render/pattern.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/expression.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/pattern.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/record.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/special.rs
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting.rs
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting/inject.rs
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting/test_data/highlight_module_docs_inline.html
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting/test_data/highlight_module_docs_outline.html
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting/tests.rs
  src/tools/rust-analyzer/crates/limit/src/lib.rs
  src/tools/rust-analyzer/crates/parser/src/grammar/paths.rs
  src/tools/rust-analyzer/crates/proc-macro-srv/src/lib.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/cli/load_cargo.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/reload.rs
  src/tools/rust-analyzer/crates/syntax/src/ast/generated/nodes.rs
  src/tools/rust-analyzer/crates/syntax/src/ast/node_ext.rs
  src/tools/rust-analyzer/crates/syntax/src/tests/sourcegen_ast.rs
  src/tools/rust-analyzer/docs/dev/README.md
  src/tools/rust-analyzer/xtask/src/release.rs
Labels: S-waiting-on-bors

#100070 Clarify Cargo.toml comments
  src/tools/rustc-workspace-hack/Cargo.toml
Labels: S-waiting-on-bors

#100082 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint_defs/src/lib.rs
  src/bootstrap/lib.rs
  src/doc/rustc/src/command-line-arguments.md
  src/test/ui/macros/issue-98466.stderr
  src/test/ui/macros/issue-99265.stderr
  src/test/ui/macros/issue-99907.fixed
  src/test/ui/macros/issue-99907.rs
  src/test/ui/macros/issue-99907.stderr
  src/tools/html-checker/Cargo.toml
  src/tools/html-checker/main.rs
  src/tools/rust-analyzer/.github/workflows/publish.yml
  src/tools/rust-analyzer/crates/hir-def/src/attr.rs
  src/tools/rust-analyzer/crates/hir-def/src/item_scope.rs
  src/tools/rust-analyzer/crates/hir-def/src/nameres/collector.rs
  src/tools/rust-analyzer/crates/hir-ty/src/chalk_ext.rs
  src/tools/rust-analyzer/crates/hir/src/lib.rs
  src/tools/rust-analyzer/crates/hir/src/semantics.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/expand_glob_import.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/inline_call.rs
  src/tools/rust-analyzer/crates/ide-assists/src/tests/generated.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/attribute.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/attribute/derive.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/expr.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/item_list.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/pattern.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/type.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/use_.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/vis.rs
  src/tools/rust-analyzer/crates/ide-completion/src/context.rs
  src/tools/rust-analyzer/crates/ide-completion/src/context/analysis.rs
  src/tools/rust-analyzer/crates/ide-completion/src/context/tests.rs
  src/tools/rust-analyzer/crates/ide-completion/src/render.rs
  src/tools/rust-analyzer/crates/ide-completion/src/render/function.rs
  src/tools/rust-analyzer/crates/ide-completion/src/render/pattern.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/expression.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/pattern.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/record.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/special.rs
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting.rs
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting/inject.rs
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting/test_data/highlight_module_docs_inline.html
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting/test_data/highlight_module_docs_outline.html
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting/tests.rs
  src/tools/rust-analyzer/crates/limit/src/lib.rs
  src/tools/rust-analyzer/crates/parser/src/grammar/paths.rs
  src/tools/rust-analyzer/crates/proc-macro-srv/src/lib.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/cli/load_cargo.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/reload.rs
  src/tools/rust-analyzer/crates/syntax/src/ast/generated/nodes.rs
  src/tools/rust-analyzer/crates/syntax/src/ast/node_ext.rs
  src/tools/rust-analyzer/crates/syntax/src/tests/sourcegen_ast.rs
  src/tools/rust-analyzer/docs/dev/README.md
  src/tools/rust-analyzer/xtask/src/release.rs
  src/tools/rustc-workspace-hack/Cargo.toml
Labels: T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#99958 Improve position named arguments lint underline and formatting names
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint_defs/src/lib.rs
  src/test/ui/macros/issue-98466.stderr
  src/test/ui/macros/issue-99265.stderr
  src/test/ui/macros/issue-99907.fixed
  src/test/ui/macros/issue-99907.rs
  src/test/ui/macros/issue-99907.stderr
Labels: T-compiler, S-waiting-on-bors

#100008 Update all pre-cloned submodules on startup
  src/bootstrap/lib.rs
Labels: A-bootstrap, S-waiting-on-bors

#100074 rustc-docs: Be less specific about the representation of `+bundle`
  src/doc/rustc/src/command-line-arguments.md
Labels: S-waiting-on-bors

#99933 parallelize HTML checking tool
  Cargo.lock
  src/tools/html-checker/Cargo.toml
  src/tools/html-checker/main.rs
Labels: S-waiting-on-bors

#100100 Rollup of 5 pull requests
  library/core/src/intrinsics.rs
  library/std/src/sys/wasm/mod.rs
  library/std/src/sys/windows/rand.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/html/static/js/main.js
  src/test/rustdoc/auxiliary/issue-99734-aux.rs
  src/test/rustdoc/issue-99734-multiple-foreigns-w-same-name.rs
  src/test/rustdoc/issue-99734-multiple-mods-w-same-name.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#99800 Fix futex module imports on wasm+atomics
  library/std/src/sys/wasm/mod.rs
Labels: S-waiting-on-bors, T-libs

#99738 rustdoc: avoid inlining modules with duplicate names
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/auxiliary/issue-99734-aux.rs
  src/test/rustdoc/issue-99734-multiple-foreigns-w-same-name.rs
  src/test/rustdoc/issue-99734-multiple-mods-w-same-name.rs
Labels: T-rustdoc, S-waiting-on-bors

#99614 do not claim that transmute is like memcpy
  library/core/src/intrinsics.rs
Labels: T-lang, T-libs-api, S-waiting-on-bors

#99371 Remove synchronization from Windows `hashmap_random_keys`
  library/std/src/sys/windows/rand.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#100023 Add back Send and Sync impls on ChunksMut iterators
  library/core/src/slice/iter.rs
  library/core/tests/slice.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#100064 fix is_disaligned logic for nested packed structs
  compiler/rustc_const_eval/src/util/alignment.rs
  src/test/ui/issues/issue-99838.rs
  src/test/ui/lint/unaligned_references.rs
  src/test/ui/lint/unaligned_references.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100088 update anyhow
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#100111 Provide suggestion on missing `let` in binding statement
  compiler/rustc_ast_passes/src/feature_gate.rs
  src/test/ui/type/missing-let-in-binding.fixed
  src/test/ui/type/missing-let-in-binding.rs
  src/test/ui/type/missing-let-in-binding.stderr
Labels: S-waiting-on-bors

#100068 Fix backwards-compatibility check for tests with `+whole-archive`
  compiler/rustc_codegen_ssa/src/back/link.rs
  src/test/run-make/native-link-modifier-whole-archive/Makefile
  src/test/run-make/native-link-modifier-whole-archive/directly_linked_test_minus_whole_archive.rs
  src/test/run-make/native-link-modifier-whole-archive/directly_linked_test_plus_whole_archive.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, stable-nominated

#100083 rustdoc: use a more compact encoding for source-files.js
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/js/source-script.js
Labels: T-rustdoc, S-waiting-on-bors

#100102 Fix typo
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
Labels: T-compiler, S-waiting-on-bors

#100104 Remove more Clean trait implementations
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
Labels: T-rustdoc, S-waiting-on-bors

#100105 Add regression test for #90871
  src/test/ui/closures/issue-90871.rs
  src/test/ui/closures/issue-90871.stderr
Labels: T-compiler, S-waiting-on-bors

#100107 fix trailing whitespace in error message
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  src/test/ui/borrowck/borrowck-for-loop-uninitialized-binding.stderr
Labels: T-compiler, S-waiting-on-bors

#100119 FilesTimes support does not build for ESP-IDF
  library/std/src/sys/unix/fs.rs
Labels: S-waiting-on-bors, T-libs

#100123 Rollup of 9 pull requests
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  library/std/src/sys/unix/fs.rs
  src/bootstrap/native.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/js/source-script.js
  src/test/run-make/native-link-modifier-whole-archive/Makefile
  src/test/run-make/native-link-modifier-whole-archive/directly_linked_test_minus_whole_archive.rs
  src/test/run-make/native-link-modifier-whole-archive/directly_linked_test_plus_whole_archive.rs
  src/test/ui/borrowck/borrowck-for-loop-uninitialized-binding.stderr
  src/test/ui/closures/issue-90871.rs
  src/test/ui/closures/issue-90871.stderr
  src/test/ui/type/missing-let-in-binding.fixed
  src/test/ui/type/missing-let-in-binding.rs
  src/test/ui/type/missing-let-in-binding.stderr
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#98877 Set llvm configs when building lld
  src/bootstrap/native.rs
Labels: A-LLVM, A-bootstrap, S-waiting-on-bors

#100029 Prevent ICE for `doc_alias` on match arm, statement, expression
  compiler/rustc_hir/src/target.rs
  compiler/rustc_passes/src/check_attr.rs
  src/test/rustdoc-ui/check-doc-alias-attr-location.stderr
  src/test/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  src/test/ui/lint/unused/unused_attributes-must_use.stderr
  src/test/ui/rustdoc/check-doc-alias-attr-location.rs
  src/test/ui/rustdoc/check-doc-alias-attr-location.stderr
Labels: T-compiler, S-waiting-on-bors

#100120 Rollup of 6 pull requests
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_hir/src/target.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_target/src/spec/aarch64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/apple_base.rs
  compiler/rustc_target/src/spec/apple_sdk_base.rs
  compiler/rustc_target/src/spec/tests/tests_impl.rs
  compiler/rustc_target/src/spec/x86_64_apple_ios_macabi.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/codegen.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_trait_selection/src/traits/structural_match.rs
  compiler/rustc_traits/src/implied_outlives_bounds.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  compiler/rustc_typeck/src/hir_wf_check.rs
  compiler/rustc_typeck/src/outlives/outlives_bounds.rs
  src/librustdoc/clean/auto_trait.rs
  src/test/rustdoc-ui/check-doc-alias-attr-location.stderr
  src/test/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  src/test/ui/lint/unused/unused_attributes-must_use.stderr
  src/test/ui/nll/issue-98589-closures-relate-named-regions.rs
  src/test/ui/nll/issue-98589-closures-relate-named-regions.stderr
  src/test/ui/parser/issue-99625-enum-struct-mutually-exclusive.fixed
  src/test/ui/parser/issue-99625-enum-struct-mutually-exclusive.rs
  src/test/ui/parser/issue-99625-enum-struct-mutually-exclusive.stderr
  src/test/ui/rustdoc/check-doc-alias-attr-location.rs
  src/test/ui/rustdoc/check-doc-alias-attr-location.stderr
  src/test/ui/specialization/issue-43037.rs
  src/test/ui/specialization/issue-43037.stderr
  src/test/ui/specialization/issue-45814.rs
  src/test/ui/specialization/issue-45814.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#99746 Use `TraitEngine` in more places that don't specifically need `FulfillmentContext::new_in_snapshot`
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/codegen.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_trait_selection/src/traits/structural_match.rs
  compiler/rustc_traits/src/implied_outlives_bounds.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  compiler/rustc_typeck/src/hir_wf_check.rs
  compiler/rustc_typeck/src/outlives/outlives_bounds.rs
Labels: T-compiler, S-waiting-on-bors

#99786 Recover from C++ style `enum struct`
  compiler/rustc_parse/src/parser/item.rs
  src/test/ui/parser/issue-99625-enum-struct-mutually-exclusive.fixed
  src/test/ui/parser/issue-99625-enum-struct-mutually-exclusive.rs
  src/test/ui/parser/issue-99625-enum-struct-mutually-exclusive.stderr
Labels: T-compiler, S-waiting-on-bors

#99795 Delay a bug when failed to normalize trait ref during specialization
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  src/test/ui/specialization/issue-43037.rs
  src/test/ui/specialization/issue-43037.stderr
  src/test/ui/specialization/issue-45814.rs
  src/test/ui/specialization/issue-45814.stderr
Labels: T-compiler, S-waiting-on-bors

#98771 Add support for link-flavor rust-lld for iOS, tvOS and watchOS
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_target/src/spec/aarch64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/apple_base.rs
  compiler/rustc_target/src/spec/apple_sdk_base.rs
  compiler/rustc_target/src/spec/tests/tests_impl.rs
  compiler/rustc_target/src/spec/x86_64_apple_ios_macabi.rs
Labels: T-compiler, S-waiting-on-bors

#98835 relate `closure_substs.parent_substs()` to parent fn in NLL
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  src/librustdoc/clean/auto_trait.rs
  src/test/ui/nll/issue-98589-closures-relate-named-regions.rs
  src/test/ui/nll/issue-98589-closures-relate-named-regions.stderr
Labels: final-comment-period, relnotes, S-waiting-on-bors, disposition-merge, I-types-nominated, T-types

#99843 Some `is_useful` cleanups
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100087 Avoid invalidating the CFG in `MirPatch`
  compiler/rustc_middle/src/mir/patch.rs
  compiler/rustc_mir_transform/src/remove_noop_landing_pads.rs
  src/test/mir-opt/derefer_complex_case.main.Derefer.diff
  src/test/mir-opt/derefer_terminator_test.main.Derefer.diff
  src/test/mir-opt/derefer_test.main.Derefer.diff
  src/test/mir-opt/derefer_test_multiple.main.Derefer.diff
  src/test/mir-opt/inline/dyn_trait.get_query.Inline.diff
  src/test/mir-opt/inline/dyn_trait.try_execute_query.Inline.diff
  src/test/mir-opt/inline/inline_any_operand.bar.Inline.after.mir
  src/test/mir-opt/inline/inline_closure.foo.Inline.after.mir
  src/test/mir-opt/inline/inline_closure_borrows_arg.foo.Inline.after.mir
  src/test/mir-opt/inline/inline_closure_captures.foo.Inline.after.mir
  src/test/mir-opt/inline/inline_compatibility.inlined_no_sanitize.Inline.diff
  src/test/mir-opt/inline/inline_compatibility.inlined_target_feature.Inline.diff
  src/test/mir-opt/inline/inline_cycle.one.Inline.diff
  src/test/mir-opt/inline/inline_cycle.two.Inline.diff
  src/test/mir-opt/inline/inline_cycle_generic.main.Inline.diff
  src/test/mir-opt/inline/inline_diverging.f.Inline.diff
  src/test/mir-opt/inline/inline_diverging.g.Inline.diff
  src/test/mir-opt/inline/inline_diverging.h.Inline.diff
  src/test/mir-opt/inline/inline_instruction_set.default.Inline.diff
  src/test/mir-opt/inline/inline_instruction_set.t32.Inline.diff
  src/test/mir-opt/inline/inline_options.main.Inline.after.mir
  src/test/mir-opt/inline/inline_retag.bar.Inline.after.mir
  src/test/mir-opt/inline/inline_shims.clone.Inline.diff
  src/test/mir-opt/inline/inline_shims.drop.Inline.diff
  src/test/mir-opt/inline/inline_specialization.main.Inline.diff
  src/test/mir-opt/inline/inline_trait_method_2.test2.Inline.after.mir
  src/test/mir-opt/inline/issue_58867_inline_as_ref_as_mut.a.Inline.after.mir
  src/test/mir-opt/inline/issue_58867_inline_as_ref_as_mut.b.Inline.after.mir
  src/test/mir-opt/inline/issue_58867_inline_as_ref_as_mut.c.Inline.after.mir
  src/test/mir-opt/inline/issue_58867_inline_as_ref_as_mut.d.Inline.after.mir
  src/test/mir-opt/inline/issue_76997_inline_scopes_parenting.main.Inline.after.mir
  src/test/mir-opt/lower_intrinsics.align_of.LowerIntrinsics.diff
  src/test/mir-opt/lower_intrinsics.discriminant.LowerIntrinsics.diff
  src/test/mir-opt/lower_intrinsics.forget.LowerIntrinsics.diff
  src/test/mir-opt/lower_intrinsics.non_const.LowerIntrinsics.diff
  src/test/mir-opt/lower_intrinsics.size_of.LowerIntrinsics.diff
  src/test/mir-opt/lower_intrinsics.unreachable.LowerIntrinsics.diff
  src/test/mir-opt/lower_intrinsics.wrapping.LowerIntrinsics.diff
  src/test/mir-opt/remove_storage_markers.main.RemoveStorageMarkers.diff
  src/test/mir-opt/remove_unneeded_drops.opt.RemoveUnneededDrops.diff
  src/test/mir-opt/remove_unneeded_drops.opt_generic_copy.RemoveUnneededDrops.diff
  src/test/mir-opt/simplify_arm.id_try.SimplifyArmIdentity.diff
  src/test/mir-opt/simplify_arm.id_try.SimplifyBranchSame.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99965 allow numbers with provenance within CTFE execution
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  src/test/ui/consts/const-eval/const-pointer-values-in-various-types.64bit.stderr
  src/test/ui/consts/const-eval/const-pointer-values-in-various-types.rs
  src/test/ui/consts/const-eval/ref_to_int_match.32bit.stderr
  src/test/ui/consts/const-eval/ref_to_int_match.64bit.stderr
  src/test/ui/consts/const-eval/ref_to_int_match.rs
  src/test/ui/consts/const-eval/ub-enum.32bit.stderr
  src/test/ui/consts/const-eval/ub-enum.64bit.stderr
  src/test/ui/consts/const-eval/ub-enum.rs
  src/test/ui/consts/const-eval/ub-ref-ptr.32bit.stderr
  src/test/ui/consts/const-eval/ub-ref-ptr.64bit.stderr
  src/test/ui/consts/const-eval/ub-ref-ptr.rs
  src/test/ui/consts/const-eval/ub-wide-ptr.32bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.64bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.rs
  src/test/ui/consts/miri_unleashed/ptr_arith.stderr
  src/test/ui/consts/ptr_comparisons.stderr
Labels: beta-nominated, beta-accepted, T-compiler, S-waiting-on-bors, merged-by-bors

#100058 Suggest a positional formatting argument instead of a captured argument
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_parse_format/src/lib.rs
  src/test/ui/fmt/struct-field-as-captured-argument.fixed
  src/test/ui/fmt/struct-field-as-captured-argument.rs
  src/test/ui/fmt/struct-field-as-captured-argument.stderr
Labels: T-compiler, S-waiting-on-bors

#100093 Enable unused_parens for match arms
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  src/test/ui/lint/unused/issue-92751.rs
  src/test/ui/lint/unused/issue-92751.stderr
Labels: T-compiler, S-waiting-on-bors

#100095 More EarlyBinder cleanups
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_traits/src/chalk/db.rs
  compiler/rustc_ty_utils/src/ty.rs
  compiler/rustc_typeck/src/check/wfcheck.rs
Labels: T-compiler, S-waiting-on-bors

#100138 Remove more Clean trait implementations
  src/librustdoc/clean/mod.rs
Labels: T-rustdoc, S-waiting-on-bors

#100148 RustWrapper: update for TypedPointerType in LLVM
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#100151 Rollup of 7 pull requests
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_traits/src/chalk/db.rs
  compiler/rustc_ty_utils/src/ty.rs
  compiler/rustc_typeck/src/check/wfcheck.rs
  src/ci/scripts/checkout-submodules.sh
  src/librustdoc/clean/mod.rs
  src/test/ui/fmt/struct-field-as-captured-argument.fixed
  src/test/ui/fmt/struct-field-as-captured-argument.rs
  src/test/ui/fmt/struct-field-as-captured-argument.stderr
  src/test/ui/lint/unused/issue-92751.rs
  src/test/ui/lint/unused/issue-92751.stderr
  src/test/ui/parser/issues/issue-88770.rs
  src/test/ui/parser/issues/issue-88770.stderr
  src/test/ui/parser/suggest-semi-in-array.rs
  src/test/ui/parser/suggest-semi-in-array.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup

#99772 Re-enable submodule archive downloads.
  src/ci/scripts/checkout-submodules.sh
Labels: S-waiting-on-bors, T-infra

#98796 Do not exclusively suggest `;` when `,` is also a choice
  compiler/rustc_parse/src/parser/diagnostics.rs
  src/test/ui/parser/issues/issue-88770.rs
  src/test/ui/parser/issues/issue-88770.stderr
  src/test/ui/parser/suggest-semi-in-array.rs
  src/test/ui/parser/suggest-semi-in-array.stderr
Labels: T-compiler, S-waiting-on-bors

#95026 Increase the minimum linux-gnu versions
  README.md
  src/ci/docker/README.md
  src/ci/docker/host-x86_64/dist-aarch64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-aarch64-linux/aarch64-linux-gnu.config
  src/ci/docker/host-x86_64/dist-arm-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-armhf-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-armv7-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-i686-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-powerpc-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-powerpc-linux/patches/glibc/2.11.1/001-PowerPC-Remove-unnecessary-mnew-mnemonics.patch
  src/ci/docker/host-x86_64/dist-powerpc-linux/patches/glibc/2.11.1/002-newer-gcc.patch
  src/ci/docker/host-x86_64/dist-powerpc-linux/powerpc-linux-gnu.config
  src/ci/docker/host-x86_64/dist-powerpc64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-powerpc64-linux/build-powerpc64-toolchain.sh
  src/ci/docker/host-x86_64/dist-powerpc64-linux/patches/glibc/2.11.1/001-PowerPC-Remove-unnecessary-mnew-mnemonics.patch
  src/ci/docker/host-x86_64/dist-powerpc64-linux/patches/glibc/2.11.1/002-Prevent-inlining-in-PPC64-initfini.s.patch
  src/ci/docker/host-x86_64/dist-powerpc64-linux/patches/glibc/2.11.1/003-newer-gcc.patch
  src/ci/docker/host-x86_64/dist-powerpc64-linux/powerpc64-linux-gnu.config
  src/ci/docker/host-x86_64/dist-powerpc64le-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-powerpc64le-linux/build-powerpc64le-toolchain.sh
  src/ci/docker/host-x86_64/dist-riscv64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-riscv64-linux/crosstool-ng.sh
  src/ci/docker/host-x86_64/dist-s390x-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-s390x-linux/patches/glibc/2.12.1/001-Use-.machine-to-prevent-AS-from-complaining-about-z9.patch
  src/ci/docker/host-x86_64/dist-s390x-linux/s390x-linux-gnu.config
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-binutils.sh
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-cmake.sh
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-curl.sh
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-gcc.sh
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-openssl.sh
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-python.sh
  src/ci/docker/host-x86_64/dist-x86_64-linux/download-openssl-curl.sh
  src/ci/docker/host-x86_64/dist-x86_64-linux/llvm-project-centos.patch
  src/doc/rustc/src/platform-support.md
Labels: T-compiler, final-comment-period, S-waiting-on-bors, T-infra, T-release, disposition-merge, needs-fcp, merged-by-bors

#97085 Add a test for issue #33172
  src/test/debuginfo/no_mangle-info.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99867 Split create_def and lowering of lifetimes for opaque types and bare async fns
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/lifetime_collector.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_resolve/src/lib.rs
  src/test/ui/impl-trait/rpit-assoc-pair-with-lifetime.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100073 Add test for raw-dylib with an external variable
  compiler/rustc_passes/src/check_attr.rs
  src/test/run-make/raw-dylib-c/extern_1.c
  src/test/run-make/raw-dylib-c/lib.rs
  src/test/run-make/raw-dylib-c/output.txt
  src/test/run-make/raw-dylib-link-ordinal/exporter.c
  src/test/run-make/raw-dylib-link-ordinal/exporter.def
  src/test/run-make/raw-dylib-link-ordinal/lib.rs
  src/test/run-make/raw-dylib-link-ordinal/output.txt
  src/test/ui/feature-gates/feature-gate-raw-dylib-2.rs
  src/test/ui/feature-gates/feature-gate-raw-dylib-2.stderr
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-and-name.rs
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-and-name.stderr
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-invalid-format.rs
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-invalid-format.stderr
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-missing-argument.rs
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-missing-argument.stderr
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-multiple.rs
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-multiple.stderr
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-too-large.rs
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-too-large.stderr
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-too-many-arguments.rs
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-too-many-arguments.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100174 Rollup of 6 pull requests
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  compiler/rustc_typeck/src/check/pat.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  library/std/src/sys/solid/fs.rs
  src/librustdoc/clean/mod.rs
  src/test/ui/argument-suggestions/issue-100154.rs
  src/test/ui/argument-suggestions/issue-100154.stderr
  src/test/ui/attributes/issue-90873.stderr
  src/test/ui/issues/issue-69396-const-no-type-in-macro.stderr
  src/test/ui/mismatched_types/E0409.stderr
  src/test/ui/mismatched_types/suggest-adding-or-removing-ref-for-binding-pattern.fixed
  src/test/ui/mismatched_types/suggest-adding-or-removing-ref-for-binding-pattern.rs
  src/test/ui/mismatched_types/suggest-adding-or-removing-ref-for-binding-pattern.stderr
  src/test/ui/parser/issues/issue-89574.stderr
  src/test/ui/parser/item-free-const-no-body-semantic-fail.stderr
  src/test/ui/parser/item-free-static-no-body-semantic-fail.stderr
  src/test/ui/parser/removed-syntax-static-fn.stderr
  src/test/ui/resolve/resolve-inconsistent-binding-mode.stderr
  src/test/ui/resolve/resolve-inconsistent-names.rs
  src/test/ui/resolve/resolve-inconsistent-names.stderr
  src/test/ui/suggestions/const-no-type.rs
  src/test/ui/suggestions/const-no-type.stderr
  src/test/ui/suggestions/unnamable-types.stderr
  src/test/ui/transmutability/references.stderr
  src/test/ui/typeck/issue-100164.fixed
  src/test/ui/typeck/issue-100164.rs
  src/test/ui/typeck/issue-100164.stderr
  src/test/ui/typeck/issue-79040.stderr
  src/test/ui/typeck/typeck_type_placeholder_item.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#100155 Use `node_type_opt` to skip over generics that were not expected
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/argument-suggestions/issue-100154.rs
  src/test/ui/argument-suggestions/issue-100154.stderr
  src/test/ui/transmutability/references.stderr
Labels: T-compiler, S-waiting-on-bors

#100157 rustdoc: use `collect()` instead of repeatedly pushing
  src/librustdoc/clean/mod.rs
Labels: T-rustdoc, S-waiting-on-bors

#100158 kmc-solid: Add a stub implementation of #98246 (`File::set_times`)
  library/std/src/sys/solid/fs.rs
Labels: S-waiting-on-bors, T-libs

#100166 Remove more Clean trait implementations
  src/librustdoc/clean/mod.rs
Labels: T-rustdoc, S-waiting-on-bors

#100168 Improve diagnostics for `const a: = expr;`
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  src/test/ui/attributes/issue-90873.stderr
  src/test/ui/issues/issue-69396-const-no-type-in-macro.stderr
  src/test/ui/parser/issues/issue-89574.stderr
  src/test/ui/parser/item-free-const-no-body-semantic-fail.stderr
  src/test/ui/parser/item-free-static-no-body-semantic-fail.stderr
  src/test/ui/parser/removed-syntax-static-fn.stderr
  src/test/ui/suggestions/const-no-type.rs
  src/test/ui/suggestions/const-no-type.stderr
  src/test/ui/suggestions/unnamable-types.stderr
  src/test/ui/typeck/issue-100164.fixed
  src/test/ui/typeck/issue-100164.rs
  src/test/ui/typeck/issue-100164.stderr
  src/test/ui/typeck/issue-79040.stderr
  src/test/ui/typeck/typeck_type_placeholder_item.stderr
Labels: T-compiler, S-waiting-on-bors

#99835 Suggest adding/removing `ref` for binding patterns
  compiler/rustc_typeck/src/check/pat.rs
  src/test/ui/mismatched_types/E0409.stderr
  src/test/ui/mismatched_types/suggest-adding-or-removing-ref-for-binding-pattern.fixed
  src/test/ui/mismatched_types/suggest-adding-or-removing-ref-for-binding-pattern.rs
  src/test/ui/mismatched_types/suggest-adding-or-removing-ref-for-binding-pattern.stderr
  src/test/ui/resolve/resolve-inconsistent-binding-mode.stderr
  src/test/ui/resolve/resolve-inconsistent-names.rs
  src/test/ui/resolve/resolve-inconsistent-names.stderr
Labels: T-compiler, S-waiting-on-bors

#100035 Enable function merging when opt is for size
  compiler/rustc_codegen_ssa/src/back/write.rs
  src/test/codegen/merge-functions.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99743 Some `FulfillmentContext`-related cleanups
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/misc.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/custom.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  compiler/rustc_typeck/src/hir_wf_check.rs
  compiler/rustc_typeck/src/lib.rs
  src/tools/clippy/clippy_lints/src/future_not_send.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100172 Bump to 1.65.0
  src/version
Labels: S-waiting-on-bors, merged-by-bors

#99893 Delay formatting trimmed path until lint/error is emitted
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_privacy/src/errors.rs
  compiler/rustc_privacy/src/lib.rs
  src/test/ui/lint/issue-99387.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100094 Detect type mismatch due to loop that might never iterate
  compiler/rustc_typeck/src/check/coercion.rs
  src/test/ui/for-loop-while/break-while-condition.stderr
  src/test/ui/typeck/issue-98982.rs
  src/test/ui/typeck/issue-98982.stderr
Labels: T-compiler, S-waiting-on-bors

#100132 Use (actually) dummy place for let-else divergence
  compiler/rustc_mir_build/src/build/matches/mod.rs
  src/test/ui/let-else/issue-100103.rs
Labels: T-compiler, S-waiting-on-bors

#100167 Recover `require`, `include` instead of `use` in item
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_span/src/symbol.rs
  src/test/ui/did_you_mean/use_instead_of_import.fixed
  src/test/ui/did_you_mean/use_instead_of_import.rs
  src/test/ui/did_you_mean/use_instead_of_import.stderr
Labels: T-compiler, S-waiting-on-bors

#100193 Remove more Clean trait implementations
  src/librustdoc/clean/mod.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#100195 Rollup of 4 pull requests
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_typeck/src/check/coercion.rs
  src/librustdoc/clean/mod.rs
  src/test/ui/did_you_mean/use_instead_of_import.fixed
  src/test/ui/did_you_mean/use_instead_of_import.rs
  src/test/ui/did_you_mean/use_instead_of_import.stderr
  src/test/ui/for-loop-while/break-while-condition.stderr
  src/test/ui/let-else/issue-100103.rs
  src/test/ui/typeck/issue-98982.rs
  src/test/ui/typeck/issue-98982.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#99524 Add release notes for Rust 1.63.0
  RELEASES.md
Labels: S-waiting-on-bors, merged-by-bors

#100117 Bump cc version in bootstrap
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#100213 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_macros/Cargo.toml
  compiler/rustc_typeck/src/check/coercion.rs
  compiler/rustc_typeck/src/check/demand.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/str/mod.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/compat.rs
  library/std/src/sys/windows/thread_parker.rs
  src/test/ui/closures/issue-84128.stderr
  src/test/ui/expr/if/if-branch-types.stderr
  src/test/ui/expr/if/if-else-type-mismatch.stderr
  src/test/ui/generator/type-mismatch-signature-deduction.stderr
  src/test/ui/impl-trait/equality.stderr
  src/test/ui/impl-trait/object-unsafe-trait-in-return-position-impl-trait.stderr
  src/test/ui/impl-trait/point-to-type-err-cause-on-impl-trait-return.stderr
  src/test/ui/mismatched_types/dont-point-return-on-E0308.rs
  src/test/ui/mismatched_types/dont-point-return-on-E0308.stderr
  src/test/ui/mismatched_types/issue-84976.stderr
  src/test/ui/reify-intrinsic.stderr
  src/test/ui/type-alias-impl-trait/issue-74280.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#100071 deps: dedupe `annotate-snippets` crate versions
  Cargo.lock
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_macros/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#100127 Remove Windows function preloading
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/compat.rs
  library/std/src/sys/windows/thread_parker.rs
Labels: S-waiting-on-bors, T-libs

#100130 Avoid pointing out `return` span if it has nothing to do with type error
  compiler/rustc_typeck/src/check/coercion.rs
  compiler/rustc_typeck/src/check/demand.rs
  src/test/ui/closures/issue-84128.stderr
  src/test/ui/expr/if/if-branch-types.stderr
  src/test/ui/expr/if/if-else-type-mismatch.stderr
  src/test/ui/generator/type-mismatch-signature-deduction.stderr
  src/test/ui/impl-trait/equality.stderr
  src/test/ui/impl-trait/object-unsafe-trait-in-return-position-impl-trait.stderr
  src/test/ui/impl-trait/point-to-type-err-cause-on-impl-trait-return.stderr
  src/test/ui/mismatched_types/dont-point-return-on-E0308.rs
  src/test/ui/mismatched_types/dont-point-return-on-E0308.stderr
  src/test/ui/mismatched_types/issue-84976.stderr
  src/test/ui/reify-intrinsic.stderr
  src/test/ui/type-alias-impl-trait/issue-74280.stderr
Labels: T-compiler, S-waiting-on-bors

#100169 Optimize `pointer::as_aligned_to`
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
Labels: S-waiting-on-bors, T-libs

#100175 ascii -> ASCII in code comment
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#100004 Move `x test --skip` to be part of `--exclude`
  src/bootstrap/builder/tests.rs
  src/bootstrap/flags.rs
  src/bootstrap/test.rs
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors, merged-by-bors

#100091 Check link ordinal to make sure it is targetted for foreign function
  compiler/rustc_error_messages/locales/en-US/passes.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-not-foreign-fn.rs
  src/test/ui/rfc-2627-raw-dylib/link-ordinal-not-foreign-fn.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99983 More layout sanity checks
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/layout_sanity_check.rs
  compiler/rustc_middle/src/ty/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99833 Fuchsia CI zircon lib improvement
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/ci/docker/host-x86_64/dist-various-2/build-fuchsia-toolchain.sh
Labels: S-waiting-on-bors, T-infra, merged-by-bors

#100218 Update compiler_builtins to 0.1.78
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#100230 Use start_point instead of next_point to point to elided lifetime amp…
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_resolve/src/late.rs
  src/test/ui/lifetimes/fullwidth-ampersand.rs
  src/test/ui/lifetimes/fullwidth-ampersand.stderr
Labels: T-compiler, S-waiting-on-bors

#100244 Add armv4t-none-eabi take2
  compiler/rustc_target/src/spec/armv4t_none_eabi.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support/armv4t_none_eabi.md
Labels: T-compiler, S-waiting-on-bors

#100019 Revive suggestions for boxed trait objects instead of impl Trait
  compiler/rustc_typeck/src/check/_match.rs
  compiler/rustc_typeck/src/check/expr.rs
  src/test/ui/impl-trait/point-to-type-err-cause-on-impl-trait-return.stderr
  src/test/ui/mismatched_types/do-not-suggest-boxed-trait-objects-instead-of-impl-trait.rs
  src/test/ui/mismatched_types/do-not-suggest-boxed-trait-objects-instead-of-impl-trait.stderr
  src/test/ui/mismatched_types/suggest-boxed-trait-objects-instead-of-impl-trait.fixed
  src/test/ui/mismatched_types/suggest-boxed-trait-objects-instead-of-impl-trait.rs
  src/test/ui/mismatched_types/suggest-boxed-trait-objects-instead-of-impl-trait.stderr
Labels: T-compiler, S-waiting-on-bors

#100038 Document the `no-std` target option in config.toml.example
  config.toml.example
Labels: S-waiting-on-bors

#100206 test: skip terminfo parsing in Miri
  library/test/src/term/terminfo/mod.rs
Labels: S-waiting-on-bors, T-libs

#100207 rustdoc: do not mark the contents of a skipped module as inlined
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/auxiliary/issue-100204-aux.rs
  src/test/rustdoc/issue-100204-inline-impl-through-glob-import.rs
Labels: T-rustdoc, beta-nominated, beta-accepted, S-waiting-on-bors, merged-by-bors

#98489 Only fetch HIR for naked functions that have the attribute.
  compiler/rustc_passes/src/naked_functions.rs
  src/test/ui/asm/naked-functions.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98863 Implement special-cased projection error message for some common traits
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/associated-types/associated-types-overridden-binding-2.rs
  src/test/ui/associated-types/associated-types-overridden-binding-2.stderr
  src/test/ui/async-await/async-block-control-flow-static-semantics.rs
  src/test/ui/async-await/async-block-control-flow-static-semantics.stderr
  src/test/ui/hrtb/issue-62203-hrtb-ice.rs
  src/test/ui/hrtb/issue-62203-hrtb-ice.stderr
  src/test/ui/impl-trait/issues/issue-78722.rs
  src/test/ui/impl-trait/issues/issue-78722.stderr
  src/test/ui/intrinsics/const-eval-select-bad.rs
  src/test/ui/intrinsics/const-eval-select-bad.stderr
  src/test/ui/issues/issue-31173.rs
  src/test/ui/issues/issue-31173.stderr
  src/test/ui/issues/issue-33941.rs
  src/test/ui/issues/issue-33941.stderr
  src/test/ui/never_type/fallback-closure-wrap.fallback.stderr
  src/test/ui/never_type/fallback-closure-wrap.rs
  src/test/ui/traits/assoc-type-in-superbad.rs
  src/test/ui/traits/assoc-type-in-superbad.stderr
  src/test/ui/type-alias-impl-trait/issue-57961.rs
  src/test/ui/type-alias-impl-trait/issue-57961.stderr
  src/test/ui/type-alias-impl-trait/issue-98604.rs
  src/test/ui/type-alias-impl-trait/issue-98604.stderr
  src/test/ui/type-alias-impl-trait/issue-98608.rs
  src/test/ui/type-alias-impl-trait/issue-98608.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100273 [stable] 1.63.0 release
  RELEASES.md
  src/ci/channel
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/auxiliary/issue-100204-aux.rs
  src/test/rustdoc/fn-bound.rs
  src/test/rustdoc/issue-100204-inline-impl-through-glob-import.rs
  src/tools/clippy/clippy_lints/src/lib.register_all.rs
  src/tools/clippy/clippy_lints/src/lib.register_nursery.rs
  src/tools/clippy/clippy_lints/src/lib.register_suspicious.rs
  src/tools/clippy/clippy_lints/src/matches/mod.rs
Labels: T-rustdoc, S-waiting-on-bors, T-infra, merged-by-bors

#100274 [beta] 1.64.0 branching
  src/bootstrap/test.rs
  src/ci/channel
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/auxiliary/issue-100204-aux.rs
  src/test/rustdoc/fn-bound.rs
  src/test/rustdoc/issue-100204-inline-impl-through-glob-import.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
  src/tools/clippy/clippy_lints/src/lib.register_all.rs
  src/tools/clippy/clippy_lints/src/lib.register_complexity.rs
  src/tools/clippy/clippy_lints/src/lib.register_nursery.rs
  src/tools/clippy/clippy_lints/src/lib.register_suspicious.rs
  src/tools/clippy/clippy_lints/src/matches/mod.rs
Labels: T-rustdoc, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#100205 Avoid ICE in rustdoc when using `Fn` bounds
  src/librustdoc/clean/auto_trait.rs
  src/test/rustdoc/fn-bound.rs
Labels: T-rustdoc, beta-accepted, S-waiting-on-bors, merged-by-bors

#100212 Remove more Clean trait implementations
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/mod.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#100238 Further improve error message for E0081
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/mod.rs
  src/test/ui/enum/enum-discrim-autosizing.rs
  src/test/ui/enum/enum-discrim-autosizing.stderr
  src/test/ui/error-codes/E0081.rs
  src/test/ui/error-codes/E0081.stderr
  src/test/ui/issues/issue-15524.rs
  src/test/ui/issues/issue-15524.stderr
  src/test/ui/tag-variant-disr-dup.rs
  src/test/ui/tag-variant-disr-dup.stderr
Labels: T-compiler, S-waiting-on-bors

#100268 Add regression test for #79148
  src/test/ui/proc-macro/auxiliary/re-export.rs
  src/test/ui/proc-macro/issue-79148.rs
  src/test/ui/proc-macro/issue-79148.stderr
Labels: T-compiler, S-waiting-on-bors

#100294 Update Duration::as_secs doc to point to as_secs_f64/32 for including fractional part
  library/core/src/time.rs
Labels: S-waiting-on-bors, T-libs

#100163 Refactor: remove an unnecessary string search
  compiler/rustc_typeck/src/check/expr.rs
  src/test/ui/typeck/issue-91210-ptr-method.stderr
Labels: T-compiler, S-waiting-on-bors

#100089 Add option to `mir::MutVisitor` to not invalidate CFG.
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_transform/src/cleanup_post_borrowck.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/deref_separator.rs
  compiler/rustc_mir_transform/src/elaborate_box_derefs.rs
  compiler/rustc_mir_transform/src/nrvo.rs
  compiler/rustc_mir_transform/src/reveal_all.rs
  compiler/rustc_mir_transform/src/simplify.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100221 Don't document impossible to call default trait items on impls
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  src/librustdoc/html/render/mod.rs
  src/test/rustdoc/impossible-default.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#100301 Avoid `&str` to `String` conversions
  compiler/rustc_typeck/src/check/coercion.rs
Labels: T-compiler, S-waiting-on-bors

#100305 Suggest adding an appropriate missing pattern excluding comments
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  src/test/ui/pattern/suggest-adding-appropriate-missing-pattern-excluding-comments.fixed
  src/test/ui/pattern/suggest-adding-appropriate-missing-pattern-excluding-comments.rs
  src/test/ui/pattern/suggest-adding-appropriate-missing-pattern-excluding-comments.stderr
Labels: T-compiler, S-waiting-on-bors

#100318 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/middle/stability.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_passes/src/lib_features.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_typeck/Cargo.toml
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/coercion.rs
  compiler/rustc_typeck/src/check/mod.rs
  src/bootstrap/test.rs
  src/etc/check_missing_items.py
  src/librustdoc/html/render/mod.rs
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  src/test/rustdoc-json/type/dyn.rs
  src/test/rustdoc-json/type/hrtb.rs
  src/test/rustdoc/impossible-default.rs
  src/test/ui/macros/auxiliary/issue-100199.rs
  src/test/ui/macros/issue-100199.rs
  src/test/ui/macros/issue-100199.stderr
  src/test/ui/pattern/suggest-adding-appropriate-missing-pattern-excluding-comments.fixed
  src/test/ui/pattern/suggest-adding-appropriate-missing-pattern-excluding-comments.rs
  src/test/ui/pattern/suggest-adding-appropriate-missing-pattern-excluding-comments.stderr
  src/test/ui/stability-attribute/auxiliary/default_body.rs
  src/test/ui/stability-attribute/default-body-stability-err.rs
  src/test/ui/stability-attribute/default-body-stability-err.stderr
  src/test/ui/stability-attribute/default-body-stability-ok-enables.rs
  src/test/ui/stability-attribute/default-body-stability-ok-impls.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#100181 add method to get the mutability of an AllocId
  compiler/rustc_const_eval/src/interpret/memory.rs
  src/bootstrap/test.rs
Labels: T-compiler, A-bootstrap, S-waiting-on-bors

#100228 Don't ICE while suggesting updating item path.
  compiler/rustc_resolve/src/diagnostics.rs
  src/test/ui/macros/auxiliary/issue-100199.rs
  src/test/ui/macros/issue-100199.rs
  src/test/ui/macros/issue-100199.stderr
Labels: T-compiler, S-waiting-on-bors

#99787 Rustdoc-Json: Document HRTB's on DynTrait
  src/etc/check_missing_items.py
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  src/test/rustdoc-json/type/dyn.rs
  src/test/rustdoc-json/type/hrtb.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#96478 Implement `#[rustc_default_body_unstable]`
  Cargo.lock
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/middle/stability.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_passes/src/lib_features.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_typeck/Cargo.toml
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/mod.rs
  src/test/ui/stability-attribute/auxiliary/default_body.rs
  src/test/ui/stability-attribute/default-body-stability-err.rs
  src/test/ui/stability-attribute/default-body-stability-err.stderr
  src/test/ui/stability-attribute/default-body-stability-ok-enables.rs
  src/test/ui/stability-attribute/default-body-stability-ok-impls.rs
Labels: T-compiler, S-waiting-on-bors

#100150 rustdoc: use a more compact encoding for implementors/trait.*.js
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/js/main.js
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#100256 Add some high-level docs to `FnCtxt` and `ItemCtxt`
  compiler/rustc_typeck/src/check/fn_ctxt/mod.rs
  compiler/rustc_typeck/src/collect.rs
Labels: T-compiler, S-waiting-on-bors

#100261 Set tainted errors bit before emitting coerce suggestions.
  compiler/rustc_typeck/src/check/coercion.rs
  src/test/ui/typeck/issue-100246.rs
  src/test/ui/typeck/issue-100246.stderr
Labels: T-compiler, S-waiting-on-bors

#100275 also update anyhow in codegen_cranelift
  compiler/rustc_codegen_cranelift/Cargo.lock
Labels: T-compiler, S-waiting-on-bors

#100281 Remove more Clean trait implementations
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#100314 Mention `unit-test` in MIR opt test README
  src/test/mir-opt/README.md
Labels: S-waiting-on-bors

#100319 Remove more Clean trait implementations
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors
