Repository rust-lang/rust, pull requests merged in 2022-06, with the labels that each got.

#97578 alloc: remove repeated word in comment
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#97596 Fixup feature name to be more consistent with others
  library/core/src/slice/raw.rs
Labels: S-waiting-on-bors, T-libs

#97316 Put a bound on collection misbehavior
  library/alloc/src/collections/binary_heap.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/set.rs
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
Labels: T-libs-api, final-comment-period, S-waiting-on-bors, disposition-merge

#97553 Add `#[inline]` to `Vec`'s `Deref/DerefMut`
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#97399 simplify code of finding arg index in `opt_const_param_of`
  compiler/rustc_typeck/src/collect/type_of.rs
Labels: T-compiler, S-waiting-on-bors

#97216 Ensure we never consider the null pointer dereferencable
  compiler/rustc_const_eval/src/interpret/memory.rs
Labels: T-compiler, S-waiting-on-bors

#94647 Expose `get_many_mut` and `get_many_unchecked_mut` to HashMap
  library/std/src/collections/hash/map.rs
Labels: T-libs-api, S-waiting-on-bors

#97592 rustdoc: also index impl trait and raw pointers
  src/librustdoc/clean/types.rs
  src/librustdoc/html/render/search_index.rs
  src/test/rustdoc-js/impl-trait.js
  src/test/rustdoc-js/impl-trait.rs
  src/test/rustdoc-js/raw-pointer.js
  src/test/rustdoc-js/raw-pointer.rs
Labels: T-rustdoc, S-waiting-on-bors

#97264 Suggest `extern crate foo` when failing to resolve `use foo`
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/imports.rs
  src/test/rustdoc-ui/intra-doc/unresolved-import-recovery.stderr
  src/test/rustdoc-ui/issue-61732.stderr
  src/test/ui/attributes/field-attributes-vis-unresolved.stderr
  src/test/ui/error-codes/E0432.stderr
  src/test/ui/feature-gates/feature-gate-extern_absolute_paths.stderr
  src/test/ui/imports/import3.stderr
  src/test/ui/imports/issue-1697.stderr
  src/test/ui/imports/issue-33464.stderr
  src/test/ui/imports/issue-36881.stderr
  src/test/ui/imports/issue-37887.stderr
  src/test/ui/imports/issue-53269.stderr
  src/test/ui/imports/issue-55457.stderr
  src/test/ui/imports/tool-mod-child.stderr
  src/test/ui/imports/unresolved-imports-used.stderr
  src/test/ui/keyword/extern/keyword-extern-as-identifier-use.stderr
  src/test/ui/privacy/restricted/test.stderr
  src/test/ui/resolve/editions-crate-root-2015.stderr
  src/test/ui/resolve/extern-prelude-fail.stderr
  src/test/ui/resolve/issue-82865.stderr
  src/test/ui/resolve/resolve-bad-visibility.stderr
  src/test/ui/simd/portable-intrinsics-arent-exposed.stderr
  src/test/ui/unresolved/unresolved-asterisk-imports.stderr
  src/test/ui/unresolved/unresolved-import.rs
  src/test/ui/unresolved/unresolved-import.stderr
Labels: T-compiler, S-waiting-on-bors

#96271 suggest `?` when method is missing on `Result<T, _>` but found on `T`
  compiler/rustc_typeck/src/check/method/suggest.rs
  src/test/ui/suggestions/enum-method-probe.fixed
  src/test/ui/suggestions/enum-method-probe.rs
  src/test/ui/suggestions/enum-method-probe.stderr
Labels: T-compiler, S-waiting-on-bors

#97613 rustdoc: Improve calculation of "Impls on Foreign Types"
  src/librustdoc/formats/mod.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/test/rustdoc/issue-75588.rs
Labels: T-rustdoc, S-waiting-on-bors, A-cross-crate-reexports

#97130 rustdoc: avoid including impl blocks with filled-in generics
  src/librustdoc/passes/collect_trait_impls.rs
  src/test/rustdoc/primitive-slice-auto-trait.rs
Labels: T-rustdoc, S-waiting-on-bors

#97166 Move conditions out of recover/report functions.
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_parse/src/parser/ty.rs
Labels: T-compiler, S-waiting-on-bors

#95594 Additional `*mut [T]` methods
  library/core/src/ptr/mut_ptr.rs
Labels: T-libs-api, S-waiting-on-bors

#97414 use 128 cache align for aarch64
  library/std/src/sync/mpsc/cache_aligned.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96737 Add Windows application manifest to rustc-main
  compiler/rustc/Windows Manifest.xml
  compiler/rustc/build.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97644 Rollup of 6 pull requests
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_error_messages/locales/en-US/parser.ftl
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/lib.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/different_lifetimes.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/named_anon_conflict.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/compare_method.rs
  library/alloc/src/boxed.rs
  library/alloc/src/sync.rs
  library/std/src/fs.rs
  src/test/ui/async-await/issue-76547.base.stderr
  src/test/ui/async-await/issue-76547.nll.stderr
  src/test/ui/async-await/issues/issue-63388-1.base.stderr
  src/test/ui/async-await/issues/issue-63388-1.nll.stderr
  src/test/ui/async-await/issues/issue-63388-1.rs
  src/test/ui/error-codes/E0308-2.stderr
  src/test/ui/generic-associated-types/parameter_number_and_kind_impl.stderr
  src/test/ui/issues/issue-17905-2.stderr
  src/test/ui/issues/issue-65230.stderr
  src/test/ui/nll/issue-52742.base.stderr
  src/test/ui/nll/issue-52742.nll.stderr
  src/test/ui/nll/issue-55394.base.stderr
  src/test/ui/self/arbitrary_self_types_pin_lifetime_impl_trait-async.stderr
  src/test/ui/self/arbitrary_self_types_pin_lifetime_mismatch-async.base.stderr
  src/test/ui/self/arbitrary_self_types_pin_lifetime_mismatch-async.nll.stderr
  src/test/ui/self/elision/lt-ref-self-async.base.stderr
  src/test/ui/self/elision/lt-ref-self-async.nll.stderr
  src/test/ui/self/elision/ref-mut-self-async.base.stderr
  src/test/ui/self/elision/ref-mut-self-async.nll.stderr
  src/test/ui/self/elision/ref-mut-struct-async.base.stderr
  src/test/ui/self/elision/ref-mut-struct-async.nll.stderr
  src/test/ui/self/elision/ref-self-async.base.stderr
  src/test/ui/self/elision/ref-self-async.nll.stderr
  src/test/ui/self/elision/ref-struct-async.base.stderr
  src/test/ui/self/elision/ref-struct-async.nll.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97397 Stabilize `box_into_pin`
  library/alloc/src/boxed.rs
Labels: S-waiting-on-bors, T-libs

#97587 Migrate more diagnostics to use the `#[derive(SessionDiagnostic)]`
  compiler/rustc_error_messages/locales/en-US/parser.ftl
  compiler/rustc_parse/src/parser/diagnostics.rs
Labels: T-compiler, S-waiting-on-bors

#97603 Arc make_mut doc comment spelling correction.
  library/alloc/src/sync.rs
Labels: S-waiting-on-bors, T-libs

#97635 Fix file metadata documentation for Windows
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#96894 Apply track_caller to closure on `expect_non_local()`
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#97023 Diagnose anonymous lifetimes errors more uniformly between async and regular fns
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/different_lifetimes.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/named_anon_conflict.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/compare_method.rs
  src/test/ui/async-await/issue-76547.base.stderr
  src/test/ui/async-await/issue-76547.nll.stderr
  src/test/ui/async-await/issues/issue-63388-1.base.stderr
  src/test/ui/async-await/issues/issue-63388-1.nll.stderr
  src/test/ui/async-await/issues/issue-63388-1.rs
  src/test/ui/error-codes/E0308-2.stderr
  src/test/ui/generic-associated-types/parameter_number_and_kind_impl.stderr
  src/test/ui/issues/issue-17905-2.stderr
  src/test/ui/issues/issue-65230.stderr
  src/test/ui/nll/issue-52742.base.stderr
  src/test/ui/nll/issue-52742.nll.stderr
  src/test/ui/nll/issue-55394.base.stderr
  src/test/ui/self/arbitrary_self_types_pin_lifetime_impl_trait-async.stderr
  src/test/ui/self/arbitrary_self_types_pin_lifetime_mismatch-async.base.stderr
  src/test/ui/self/arbitrary_self_types_pin_lifetime_mismatch-async.nll.stderr
  src/test/ui/self/elision/lt-ref-self-async.base.stderr
  src/test/ui/self/elision/lt-ref-self-async.nll.stderr
  src/test/ui/self/elision/ref-mut-self-async.base.stderr
  src/test/ui/self/elision/ref-mut-self-async.nll.stderr
  src/test/ui/self/elision/ref-mut-struct-async.base.stderr
  src/test/ui/self/elision/ref-mut-struct-async.nll.stderr
  src/test/ui/self/elision/ref-self-async.base.stderr
  src/test/ui/self/elision/ref-self-async.nll.stderr
  src/test/ui/self/elision/ref-struct-async.base.stderr
  src/test/ui/self/elision/ref-struct-async.nll.stderr
Labels: T-compiler, S-waiting-on-bors

#97293 Add #[rustc_box] and use it inside alloc
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_span/src/symbol.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/src/macros.rs
  library/alloc/src/vec/mod.rs
  src/test/ui/type/ascription/issue-47666.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#97599 Fix JSON reexport ICE
  src/librustdoc/json/conversions.rs
  src/librustdoc/json/mod.rs
  src/test/rustdoc-json/reexport/same_type_reexported_more_than_once.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#97617 Rustdoc anonymous reexports
  src/librustdoc/visit_ast.rs
  src/test/rustdoc/anonymous-reexport.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#97636 Revert #96682.
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  library/proc_macro/src/lib.rs
  src/test/ui/proc-macro/auxiliary/expand-expr.rs
  src/test/ui/proc-macro/capture-macro-rules-invoke.stdout
  src/test/ui/proc-macro/capture-unglued-token.stdout
  src/test/ui/proc-macro/expand-expr.rs
  src/test/ui/proc-macro/expr-stmt-nonterminal-tokens.stdout
  src/test/ui/proc-macro/issue-75734-pp-paren.stdout
  src/test/ui/proc-macro/issue-78675-captured-inner-attrs.stdout
  src/test/ui/proc-macro/issue-80760-empty-stmt.stdout
  src/test/ui/proc-macro/nested-nonterminal-tokens.stdout
  src/test/ui/proc-macro/nodelim-groups.stdout
  src/test/ui/proc-macro/nonterminal-expansion.stdout
  src/test/ui/proc-macro/nonterminal-token-hygiene.stdout
  src/test/ui/proc-macro/parent-source-spans.rs
  src/test/ui/proc-macro/parent-source-spans.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#97654 Rollup of 5 pull requests
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_builtin_macros/src/assert.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/fmt/mod.rs
  library/core/src/ptr/mod.rs
  library/proc_macro/src/lib.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/json/mod.rs
  src/librustdoc/visit_ast.rs
  src/test/rustdoc-json/reexport/same_type_reexported_more_than_once.rs
  src/test/rustdoc/anonymous-reexport.rs
  src/test/ui/proc-macro/auxiliary/expand-expr.rs
  src/test/ui/proc-macro/capture-macro-rules-invoke.stdout
  src/test/ui/proc-macro/capture-unglued-token.stdout
  src/test/ui/proc-macro/expand-expr.rs
  src/test/ui/proc-macro/expr-stmt-nonterminal-tokens.stdout
  src/test/ui/proc-macro/issue-75734-pp-paren.stdout
  src/test/ui/proc-macro/issue-78675-captured-inner-attrs.stdout
  src/test/ui/proc-macro/issue-80760-empty-stmt.stdout
  src/test/ui/proc-macro/nested-nonterminal-tokens.stdout
  src/test/ui/proc-macro/nodelim-groups.stdout
  src/test/ui/proc-macro/nonterminal-expansion.stdout
  src/test/ui/proc-macro/nonterminal-token-hygiene.stdout
  src/test/ui/proc-macro/parent-source-spans.rs
  src/test/ui/proc-macro/parent-source-spans.stderr
  src/test/ui/rfc-2011-nicer-assert-messages/feature-gate-generic_assert.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97420 Be a little nicer with casts when formatting `fn` pointers
  library/core/src/fmt/mod.rs
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, T-libs

#97450 [RFC 2011] Basic compiler infrastructure
  compiler/rustc_builtin_macros/src/assert.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_span/src/symbol.rs
  src/test/ui/rfc-2011-nicer-assert-messages/feature-gate-generic_assert.rs
Labels: T-compiler, S-waiting-on-bors

#97598 Simplify universal impl trait lowering
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97502 rustdoc: Add more test coverage
  src/test/rustdoc/nested-modules.rs
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors

#97645 don't use a `span_note` for ignored impls
  compiler/rustc_passes/src/dead.rs
  src/test/ui/derive-uninhabited-enum-38885.stderr
  src/test/ui/derives/clone-debug-dead-code.stderr
  src/test/ui/lint/dead-code/unused-variant.stderr
Labels: T-compiler, S-waiting-on-bors

#97497 Move some tests to more reasonable places
  src/test/ui/consts/issue-54387.rs
  src/test/ui/impl-trait/issue-54966.rs
  src/test/ui/impl-trait/issue-54966.stderr
  src/test/ui/imports/issue-26873-multifile/A/B.rs
  src/test/ui/imports/issue-26873-multifile/A/C.rs
  src/test/ui/imports/issue-26873-multifile/A/mod.rs
  src/test/ui/imports/issue-26873-multifile/compiletest-ignore-dir
  src/test/ui/imports/issue-26873-multifile/issue-26873-multifile.rs
  src/test/ui/imports/issue-26873-multifile/issue-26873-onefile.rs
  src/test/ui/imports/issue-26873-multifile/mod.rs
  src/test/ui/iterators/issue-28098.rs
  src/test/ui/iterators/issue-28098.stderr
  src/test/ui/match/issue-11319.rs
  src/test/ui/match/issue-11319.stderr
  src/test/ui/overloaded/issue-14958.rs
  src/test/ui/parser/issue-68091-unicode-ident-after-if.rs
  src/test/ui/parser/issue-68091-unicode-ident-after-if.stderr
  src/test/ui/parser/issue-68092-unicode-ident-after-incomplete-expr.rs
  src/test/ui/parser/issue-68092-unicode-ident-after-incomplete-expr.stderr
  src/test/ui/traits/issue-8153.rs
  src/test/ui/traits/issue-8153.stderr
  src/test/ui/type-alias/issue-14933.rs
  src/test/ui/typeck/issue-13853-2.rs
  src/test/ui/typeck/issue-13853-2.stderr
  src/test/ui/typeck/issue-13853-5.rs
  src/test/ui/typeck/issue-13853-5.stderr
  src/test/ui/typeck/issue-13853.rs
  src/test/ui/typeck/issue-13853.stderr
  src/tools/tidy/src/ui_tests.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96296 Remove label/lifetime shadowing warnings
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_error_codes/src/error_codes/E0263.md
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  src/test/ui/error-codes/E0263.rs
  src/test/ui/error-codes/E0263.stderr
  src/test/ui/for-loop-while/label_break_value.rs
  src/test/ui/for-loop-while/label_break_value.stderr
  src/test/ui/for-loop-while/label_break_value_invalid.rs
  src/test/ui/for-loop-while/label_break_value_invalid.stderr
  src/test/ui/generic-associated-types/shadowing.stderr
  src/test/ui/hygiene/duplicate_lifetimes.rs
  src/test/ui/hygiene/duplicate_lifetimes.stderr
  src/test/ui/hygiene/hygienic-labels-in-let.rs
  src/test/ui/hygiene/hygienic-labels-in-let.stderr
  src/test/ui/hygiene/hygienic-labels.rs
  src/test/ui/hygiene/hygienic-labels.stderr
  src/test/ui/lint/unused_labels.stderr
  src/test/ui/loops/loops-reject-duplicate-labels-2.rs
  src/test/ui/loops/loops-reject-duplicate-labels-2.stderr
  src/test/ui/loops/loops-reject-duplicate-labels.rs
  src/test/ui/loops/loops-reject-duplicate-labels.stderr
  src/test/ui/loops/loops-reject-labels-shadowing-lifetimes.rs
  src/test/ui/loops/loops-reject-labels-shadowing-lifetimes.stderr
  src/test/ui/loops/loops-reject-lifetime-shadowing-label.rs
  src/test/ui/loops/loops-reject-lifetime-shadowing-label.stderr
  src/test/ui/macros/macro-lifetime-used-with-labels.rs
  src/test/ui/macros/macro-lifetime-used-with-labels.stderr
  src/test/ui/regions/regions-name-duplicated.rs
  src/test/ui/regions/regions-name-duplicated.stderr
Labels: T-lang, T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#97653 add cast kind of from_exposed_addr (int-to-ptr casts)
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  src/test/mir-opt/const_prop/reify_fn_ptr.main.ConstProp.diff
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
Labels: T-compiler, S-waiting-on-bors, A-mir-opt

#97663 take back half-baked noaliasing check in Assignment
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/step.rs
Labels: T-compiler, S-waiting-on-bors

#97664 On E0204 suggest missing type param bounds
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  src/test/ui/moves/use_of_moved_value_copy_suggestions.fixed
  src/test/ui/moves/use_of_moved_value_copy_suggestions.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-2.fixed
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-2.rs
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-2.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-3.fixed
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-3.rs
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-3.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl.rs
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl.stderr
Labels: T-compiler, S-waiting-on-bors

#97668 rustdoc: clean up primitive.slice.html links
  src/etc/htmldocck.py
  src/librustdoc/html/format.rs
  src/test/rustdoc/slice-links.link_box_generic.html
  src/test/rustdoc/slice-links.link_box_u32.html
  src/test/rustdoc/slice-links.link_slice_generic.html
  src/test/rustdoc/slice-links.link_slice_u32.html
  src/test/rustdoc/slice-links.rs
Labels: T-rustdoc, S-waiting-on-bors

#97679 Rollup of 5 pull requests
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  library/core/src/array/mod.rs
  library/core/src/slice/raw.rs
  src/etc/htmldocck.py
  src/librustdoc/html/format.rs
  src/test/mir-opt/const_prop/reify_fn_ptr.main.ConstProp.diff
  src/test/rustdoc/slice-links.link_box_generic.html
  src/test/rustdoc/slice-links.link_box_u32.html
  src/test/rustdoc/slice-links.link_slice_generic.html
  src/test/rustdoc/slice-links.link_slice_u32.html
  src/test/rustdoc/slice-links.rs
  src/test/ui/moves/use_of_moved_value_copy_suggestions.fixed
  src/test/ui/moves/use_of_moved_value_copy_suggestions.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-2.fixed
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-2.rs
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-2.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-3.fixed
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-3.rs
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-3.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl.rs
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl.stderr
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97366 Stabilize `{slice,array}::from_ref`
  library/core/src/array/mod.rs
  library/core/src/slice/raw.rs
Labels: T-libs-api, S-waiting-on-bors

#97681 Add more eslint checks
  src/librustdoc/html/static/.eslintrc.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-js

#97694 Rollup of 3 pull requests
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/middle/resolve_lifetime.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  compiler/rustc_typeck/src/collect.rs
  compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/html/static/.eslintrc.js
  src/test/ui/derives/issue-97343.rs
  src/test/ui/derives/issue-97343.stderr
  src/test/ui/error-codes/E0109.stderr
  src/test/ui/error-codes/E0110.stderr
  src/test/ui/issues/issue-22706.rs
  src/test/ui/issues/issue-22706.stderr
  src/test/ui/issues/issue-57924.rs
  src/test/ui/issues/issue-57924.stderr
  src/test/ui/issues/issue-60989.rs
  src/test/ui/issues/issue-60989.stderr
  src/test/ui/mod-subitem-as-enum-variant.rs
  src/test/ui/mod-subitem-as-enum-variant.stderr
  src/test/ui/structs/struct-path-associated-type.rs
  src/test/ui/structs/struct-path-associated-type.stderr
  src/test/ui/structs/struct-path-self.rs
  src/test/ui/structs/struct-path-self.stderr
  src/test/ui/type-alias-enum-variants/enum-variant-generic-args.rs
  src/test/ui/type-alias-enum-variants/enum-variant-generic-args.stderr
  src/test/ui/type-alias-enum-variants/no-type-application-on-aliased-enum-variant.rs
  src/test/ui/type-alias-enum-variants/no-type-application-on-aliased-enum-variant.stderr
  src/test/ui/type/issue-91268.rs
  src/test/ui/type/issue-91268.stderr
  src/test/ui/typeck/prim-with-args.fixed
  src/test/ui/typeck/prim-with-args.rs
  src/test/ui/typeck/prim-with-args.stderr
  src/test/ui/usize-generic-argument-parent.rs
  src/test/ui/usize-generic-argument-parent.stderr
  src/tools/clippy/clippy_lints/src/lifetimes.rs
  src/tools/clippy/clippy_lints/src/ptr.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#97415 Compute `is_late_bound_map` query separately from lifetime resolution
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/middle/resolve_lifetime.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_typeck/src/collect.rs
  compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_lints/src/lifetimes.rs
  src/tools/clippy/clippy_lints/src/ptr.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#97471 Provide more context when denying invalid type params
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/derives/issue-97343.rs
  src/test/ui/derives/issue-97343.stderr
  src/test/ui/error-codes/E0109.stderr
  src/test/ui/error-codes/E0110.stderr
  src/test/ui/issues/issue-22706.rs
  src/test/ui/issues/issue-22706.stderr
  src/test/ui/issues/issue-57924.rs
  src/test/ui/issues/issue-57924.stderr
  src/test/ui/issues/issue-60989.rs
  src/test/ui/issues/issue-60989.stderr
  src/test/ui/mod-subitem-as-enum-variant.rs
  src/test/ui/mod-subitem-as-enum-variant.stderr
  src/test/ui/structs/struct-path-associated-type.rs
  src/test/ui/structs/struct-path-associated-type.stderr
  src/test/ui/structs/struct-path-self.rs
  src/test/ui/structs/struct-path-self.stderr
  src/test/ui/type-alias-enum-variants/enum-variant-generic-args.rs
  src/test/ui/type-alias-enum-variants/enum-variant-generic-args.stderr
  src/test/ui/type-alias-enum-variants/no-type-application-on-aliased-enum-variant.rs
  src/test/ui/type-alias-enum-variants/no-type-application-on-aliased-enum-variant.stderr
  src/test/ui/type/issue-91268.rs
  src/test/ui/type/issue-91268.stderr
  src/test/ui/typeck/prim-with-args.fixed
  src/test/ui/typeck/prim-with-args.rs
  src/test/ui/typeck/prim-with-args.stderr
  src/test/ui/usize-generic-argument-parent.rs
  src/test/ui/usize-generic-argument-parent.stderr
Labels: T-compiler, S-waiting-on-bors

#85993 Remove all json handling from rustc_serialize
  Cargo.lock
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/ast/tests.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_driver/Cargo.toml
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/json/tests.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_lint_defs/Cargo.toml
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_macros/src/serialize.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/mir/predecessors.rs
  compiler/rustc_middle/src/mir/switch_sources.rs
  compiler/rustc_middle/src/mir/traversal.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_serialize/src/collection_impls.rs
  compiler/rustc_serialize/src/json.rs
  compiler/rustc_serialize/src/json/tests.rs
  compiler/rustc_serialize/src/lib.rs
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_serialize/src/serialize.rs
  compiler/rustc_serialize/tests/json.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_target/Cargo.toml
  compiler/rustc_target/src/abi/mod.rs
  compiler/rustc_target/src/json.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_target/src/spec/crt_objects.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/tests.rs
  compiler/rustc_type_ir/src/sty.rs
  src/test/ui-fulldeps/extern-mod-syntax.rs
  src/test/ui-fulldeps/issue-11881.rs
  src/test/ui-fulldeps/issue-15924.rs
  src/test/ui-fulldeps/issue-2804.rs
  src/test/ui/ast-json/ast-json-ice.rs
  src/test/ui/ast-json/ast-json-noexpand-output.rs
  src/test/ui/ast-json/ast-json-noexpand-output.stdout
  src/test/ui/ast-json/ast-json-output.rs
  src/test/ui/ast-json/ast-json-output.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#95833 std: `<ExitStatus as Display>::fmt` name the signal it died from
  library/std/src/sys/unix/process/process_unix.rs
  library/std/src/sys/unix/process/process_unix/tests.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#97670 Make params be SmallVec as originally was
  compiler/rustc_ast_lowering/src/item.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97692 Add `#T-types/nominated` zulip notification
  triagebot.toml
Labels: S-waiting-on-bors

#97696 Do not ICE when failing to normalize during inlining.
  compiler/rustc_mir_transform/src/inline.rs
  src/test/ui/traits/issue-97695-double-trivial-bound.rs
Labels: T-compiler, S-waiting-on-bors

#97702 Remove useless LocalDefId in ImplTraitContext::Universal.
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#97717 Rollup of 5 pull requests
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_typeck/src/collect.rs
  src/test/ui/generic-associated-types/gat-trait-path-parenthesised-args.rs
  src/test/ui/generic-associated-types/gat-trait-path-parenthesised-args.stderr
  src/test/ui/traits/issue-97695-double-trivial-bound.rs
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#97446 Make hir().get_generics and generics_of consistent.
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_typeck/src/collect.rs
Labels: T-compiler, S-waiting-on-bors

#97656 Add a suggestion to replace parentheses with angle brackets on associated trait constraint
  compiler/rustc_ast_lowering/src/lib.rs
  src/test/ui/generic-associated-types/gat-trait-path-parenthesised-args.rs
  src/test/ui/generic-associated-types/gat-trait-path-parenthesised-args.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, A-suggestion-diagnostics

#97604 Inline `bridge::Buffer` methods.
  library/proc_macro/src/bridge/buffer.rs
Labels: S-waiting-on-bors, merged-by-bors, perf-regression

#97647 Lazily allocate and initialize pthread locks.
  library/std/src/sys/hermit/condvar.rs
  library/std/src/sys/hermit/mutex.rs
  library/std/src/sys/hermit/rwlock.rs
  library/std/src/sys/itron/condvar.rs
  library/std/src/sys/itron/mutex.rs
  library/std/src/sys/sgx/condvar.rs
  library/std/src/sys/sgx/mutex.rs
  library/std/src/sys/sgx/rwlock.rs
  library/std/src/sys/solid/rwlock.rs
  library/std/src/sys/unix/locks/futex.rs
  library/std/src/sys/unix/locks/futex_rwlock.rs
  library/std/src/sys/unix/locks/mod.rs
  library/std/src/sys/unix/locks/pthread_condvar.rs
  library/std/src/sys/unix/locks/pthread_mutex.rs
  library/std/src/sys/unix/locks/pthread_rwlock.rs
  library/std/src/sys/unsupported/locks/condvar.rs
  library/std/src/sys/unsupported/locks/mutex.rs
  library/std/src/sys/unsupported/locks/rwlock.rs
  library/std/src/sys/wasm/mod.rs
  library/std/src/sys/windows/locks/condvar.rs
  library/std/src/sys/windows/locks/mutex.rs
  library/std/src/sys/windows/locks/rwlock.rs
  library/std/src/sys_common/condvar.rs
  library/std/src/sys_common/condvar/check.rs
  library/std/src/sys_common/lazy_box.rs
  library/std/src/sys_common/mod.rs
  library/std/src/sys_common/mutex.rs
  library/std/src/sys_common/remutex.rs
  library/std/src/sys_common/rwlock.rs
Labels: A-concurrency, S-waiting-on-bors, T-libs

#97715 Support the `#[expect]` attribute on fn parameters (RFC-2383)
  compiler/rustc_ast_passes/src/ast_validation.rs
  src/test/ui/attributes/attrs-on-params.rs
  src/test/ui/attributes/attrs-on-params.stderr
  src/test/ui/lint/rfc-2383-lint-reason/expect_on_fn_params.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_on_fn_params.stderr
  src/test/ui/rfc-2565-param-attrs/param-attrs-builtin-attrs.rs
  src/test/ui/rfc-2565-param-attrs/param-attrs-builtin-attrs.stderr
  src/test/ui/rustdoc/check-doc-alias-attr-location.stderr
Labels: T-compiler, S-waiting-on-bors

#97716 Fix reachability analysis for const methods
  compiler/rustc_passes/src/reachable.rs
  src/test/ui/codegen/auxiliary/issue-97708-aux.rs
  src/test/ui/codegen/issue-97708.rs
Labels: T-compiler, S-waiting-on-bors

#97722 Tighten spans for bad fields in struct deriving `Copy`
  compiler/rustc_trait_selection/src/traits/misc.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-3.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl.stderr
  src/test/ui/union/union-copy.stderr
Labels: T-compiler, S-waiting-on-bors

#97729 Rollup of 5 pull requests
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_trait_selection/src/traits/misc.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  library/alloc/src/boxed/thin.rs
  library/alloc/src/lib.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/thin_box.rs
  library/std/src/sys/hermit/condvar.rs
  library/std/src/sys/hermit/mutex.rs
  library/std/src/sys/hermit/rwlock.rs
  library/std/src/sys/itron/condvar.rs
  library/std/src/sys/itron/mutex.rs
  library/std/src/sys/sgx/condvar.rs
  library/std/src/sys/sgx/mutex.rs
  library/std/src/sys/sgx/rwlock.rs
  library/std/src/sys/solid/rwlock.rs
  library/std/src/sys/unix/locks/futex.rs
  library/std/src/sys/unix/locks/futex_rwlock.rs
  library/std/src/sys/unix/locks/mod.rs
  library/std/src/sys/unix/locks/pthread_condvar.rs
  library/std/src/sys/unix/locks/pthread_mutex.rs
  library/std/src/sys/unix/locks/pthread_rwlock.rs
  library/std/src/sys/unsupported/locks/condvar.rs
  library/std/src/sys/unsupported/locks/mutex.rs
  library/std/src/sys/unsupported/locks/rwlock.rs
  library/std/src/sys/wasm/mod.rs
  library/std/src/sys/windows/locks/condvar.rs
  library/std/src/sys/windows/locks/mutex.rs
  library/std/src/sys/windows/locks/rwlock.rs
  library/std/src/sys_common/condvar.rs
  library/std/src/sys_common/condvar/check.rs
  library/std/src/sys_common/lazy_box.rs
  library/std/src/sys_common/mod.rs
  library/std/src/sys_common/mutex.rs
  library/std/src/sys_common/remutex.rs
  library/std/src/sys_common/rwlock.rs
  src/test/ui/attributes/attrs-on-params.rs
  src/test/ui/attributes/attrs-on-params.stderr
  src/test/ui/codegen/auxiliary/issue-97708-aux.rs
  src/test/ui/codegen/issue-97708.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_on_fn_params.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_on_fn_params.stderr
  src/test/ui/rfc-2565-param-attrs/param-attrs-builtin-attrs.rs
  src/test/ui/rfc-2565-param-attrs/param-attrs-builtin-attrs.stderr
  src/test/ui/rustdoc/check-doc-alias-attr-location.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl-3.stderr
  src/test/ui/suggestions/missing-bound-in-derive-copy-impl.stderr
  src/test/ui/union/union-copy.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#96642 Avoid zero-sized allocs in ThinBox if T and H are both ZSTs.
  library/alloc/src/boxed/thin.rs
  library/alloc/src/lib.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/thin_box.rs
Labels: S-waiting-on-bors, T-libs

#97137 Add PID to LLVM PGO profile path
  src/bootstrap/native.rs
  src/ci/pgo.sh
Labels: S-waiting-on-bors, T-infra, merged-by-bors

#97529 Use new cargo argument in bootstrap for cfg checking
  src/bootstrap/builder.rs
Labels: S-waiting-on-bors, merged-by-bors

#97191 Call the OS function to set the main thread's name on program init
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/windows/mod.rs
  src/test/debuginfo/thread-names.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#97609 Iterate over `maybe_unused_trait_imports` when checking dead trait imports
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_typeck/src/check_unused.rs
Labels: T-compiler, S-waiting-on-bors

#97688 test const_copy to make sure bytewise pointer copies are working
  library/core/tests/lib.rs
  library/core/tests/ptr.rs
Labels: S-waiting-on-bors, T-libs

#97707 Improve soundness of rustc_data_structures
  compiler/rustc_data_structures/src/base_n/tests.rs
  compiler/rustc_data_structures/src/graph/scc/tests.rs
  compiler/rustc_data_structures/src/owning_ref/tests.rs
  compiler/rustc_data_structures/src/sip128.rs
Labels: T-compiler, S-waiting-on-bors

#97731 Add regresion test for #87142
  src/test/ui/generator/issue-87142.rs
Labels: T-compiler, S-waiting-on-bors

#97735 Don't generate "Impls on Foreign Types" for std
  src/librustdoc/formats/mod.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#97737 Fix pretty printing named bound regions under -Zverbose
  compiler/rustc_middle/src/ty/print/pretty.rs
Labels: T-compiler, S-waiting-on-bors

#97742 Rollup of 6 pull requests
  compiler/rustc_data_structures/src/base_n/tests.rs
  compiler/rustc_data_structures/src/graph/scc/tests.rs
  compiler/rustc_data_structures/src/owning_ref/tests.rs
  compiler/rustc_data_structures/src/sip128.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_typeck/src/check_unused.rs
  library/core/tests/lib.rs
  library/core/tests/ptr.rs
  src/librustdoc/formats/mod.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/test/ui/generator/issue-87142.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#93717 Add build metrics to rustbuild
  Cargo.lock
  config.toml.example
  src/bootstrap/Cargo.toml
  src/bootstrap/bootstrap.py
  src/bootstrap/builder.rs
  src/bootstrap/config.rs
  src/bootstrap/lib.rs
  src/bootstrap/metrics.rs
  src/ci/run.sh
  src/ci/scripts/upload-artifacts.sh
Labels: S-waiting-on-bors, T-infra, merged-by-bors

#97391 Handle more cases in cfg_accessible
  compiler/rustc_resolve/src/macros.rs
  src/test/ui/conditional-compilation/cfg_accessible-bugs.rs
  src/test/ui/conditional-compilation/cfg_accessible-bugs.stderr
  src/test/ui/conditional-compilation/cfg_accessible-not_sure.edition2015.stderr
  src/test/ui/conditional-compilation/cfg_accessible-not_sure.edition2021.stderr
  src/test/ui/conditional-compilation/cfg_accessible-not_sure.rs
  src/test/ui/conditional-compilation/cfg_accessible-private.rs
  src/test/ui/conditional-compilation/cfg_accessible.rs
  src/test/ui/conditional-compilation/cfg_accessible.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97577 riscv32imac-unknown-xous-elf: add target
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/riscv32imac_unknown_xous_elf.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv32imac-unknown-xous-elf.md
  src/test/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97697 Replace `&Vec<_>`s with `&[_]`s
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/middle/region.rs
  compiler/rustc_middle/src/mir/traversal.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/debug.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_typeck/src/check/expr.rs
  compiler/rustc_typeck/src/check/upvar.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97756 Remove Azure Pipelines configuration
  .github/workflows/ci.yml
  src/ci/azure-pipelines/auto.yml
  src/ci/azure-pipelines/try.yml
  src/ci/github-actions/ci.yml
  src/ci/init_repo.sh
  src/ci/scripts/clean-disk.sh
  src/ci/scripts/disable-git-crlf-conversion.sh
  src/ci/scripts/setup-environment.sh
  src/ci/scripts/symlink-build-dir.sh
  src/ci/shared.sh
Labels: S-waiting-on-bors, merged-by-bors

#97710 implement ptr.addr() via transmute
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96551 [compiletest] Ignore known paths when abbreviating output
  src/tools/compiletest/src/read2.rs
  src/tools/compiletest/src/read2/tests.rs
  src/tools/compiletest/src/runtest.rs
Labels: S-waiting-on-bors, T-infra, merged-by-bors

#97721 Do `suggest_await_before_try` with infer variables in self, and clean up binders
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/suggestions/issue-97704.fixed
  src/test/ui/suggestions/issue-97704.rs
  src/test/ui/suggestions/issue-97704.stderr
Labels: T-compiler, S-waiting-on-bors

#97752 typo: `-Zcodegen-backend=llvm -Cpasses=list` should work now
  compiler/rustc_driver/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#97759 Suggest adding `{}` for `'label: non_block_expr`
  compiler/rustc_parse/src/parser/expr.rs
  src/test/ui/parser/labeled-no-colon-expr.stderr
  src/test/ui/parser/recover-labeled-non-block-expr.fixed
  src/test/ui/parser/recover-labeled-non-block-expr.rs
  src/test/ui/parser/recover-labeled-non-block-expr.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, A-suggestion-diagnostics

#97764 use strict provenance APIs
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, T-libs

#97765 Restore a test that was intended to test `as` cast to ptr
  src/test/ui/cast/casts-issue-46365.rs
Labels: T-compiler, S-waiting-on-bors

#97783 Rollup of 7 pull requests
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  library/core/src/ptr/mod.rs
  src/etc/htmldocck.py
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/passes/stripper.rs
  src/test/rustdoc/empty-impl-block.rs
  src/test/ui/cast/casts-issue-46365.rs
  src/test/ui/impl-trait/universal_wrong_hrtb.rs
  src/test/ui/impl-trait/universal_wrong_hrtb.stderr
  src/test/ui/parser/labeled-no-colon-expr.stderr
  src/test/ui/parser/recover-labeled-non-block-expr.fixed
  src/test/ui/parser/recover-labeled-non-block-expr.rs
  src/test/ui/parser/recover-labeled-non-block-expr.stderr
  src/test/ui/suggestions/issue-97704.fixed
  src/test/ui/suggestions/issue-97704.rs
  src/test/ui/suggestions/issue-97704.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97683 Fail gracefully when encountering an HRTB in APIT.
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  src/test/ui/impl-trait/universal_wrong_hrtb.rs
  src/test/ui/impl-trait/universal_wrong_hrtb.stderr
Labels: T-rustdoc, beta-nominated, T-compiler, S-waiting-on-bors

#90905 Add empty impl blocks if they have documentation
  src/etc/htmldocck.py
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/passes/stripper.rs
  src/test/rustdoc/empty-impl-block.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#97086 Report unsafe for overriding link sections
  compiler/rustc_lint/src/builtin.rs
  src/test/ui/lint/lint-unsafe-code.rs
  src/test/ui/lint/lint-unsafe-code.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97684 interpret: better control over whether we read data with provenance
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_target/src/abi/mod.rs
  src/test/ui/consts/const-eval/const-pointer-values-in-various-types.64bit.stderr
  src/test/ui/consts/const-eval/const-pointer-values-in-various-types.rs
  src/test/ui/consts/const-eval/ref_to_int_match.32bit.stderr
  src/test/ui/consts/const-eval/ref_to_int_match.64bit.stderr
  src/test/ui/consts/const-eval/ref_to_int_match.rs
  src/test/ui/consts/const-eval/ub-enum.32bit.stderr
  src/test/ui/consts/const-eval/ub-enum.64bit.stderr
  src/test/ui/consts/const-eval/ub-enum.rs
  src/test/ui/consts/const-eval/ub-ref-ptr.32bit.stderr
  src/test/ui/consts/const-eval/ub-ref-ptr.64bit.stderr
  src/test/ui/consts/const-eval/ub-ref-ptr.rs
  src/test/ui/consts/const-eval/ub-wide-ptr.32bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.64bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.rs
  src/test/ui/consts/miri_unleashed/ptr_arith.stderr
  src/test/ui/consts/ptr_comparisons.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97787 E0432: rust 2018 -> rust 2018 or later in --explain message
  compiler/rustc_error_codes/src/error_codes/E0432.md
Labels: T-compiler, S-waiting-on-bors

#97795 Rollup of 5 pull requests
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_error_codes/src/error_codes.rs
  compiler/rustc_error_codes/src/error_codes/E0432.md
  compiler/rustc_error_codes/src/error_codes/E0788.md
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/middle/resolve_lifetime.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/cfg_build.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs
  src/test/ui/generic-associated-types/elided-in-expr-position.stderr
  src/test/ui/generic-associated-types/issue-81862.stderr
  src/test/ui/lint/no-coverage.rs
  src/test/ui/lint/no-coverage.stderr
  src/test/ui/suggestions/missing-lifetime-specifier.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#97312 Compute lifetimes in scope at diagnostic time
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/middle/resolve_lifetime.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/cfg_build.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs
  src/test/ui/generic-associated-types/elided-in-expr-position.stderr
  src/test/ui/generic-associated-types/issue-81862.stderr
  src/test/ui/suggestions/missing-lifetime-specifier.stderr
Labels: T-compiler, S-waiting-on-bors

#97579 Avoid creating `SmallVec`s in `global_llvm_features`
  compiler/rustc_codegen_llvm/src/llvm_util.rs
Labels: T-compiler, S-waiting-on-bors

#97792 More eslint checks
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/js/main.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-js

#97794 Fix typo in redundant_pattern_match.rs
  src/tools/clippy/clippy_lints/src/matches/redundant_pattern_match.rs
Labels: S-waiting-on-bors

#97809 Rollup of 3 pull requests
  library/std/src/collections/hash/set.rs
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/js/main.js
  src/tools/clippy/clippy_lints/src/matches/redundant_pattern_match.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97700 Add note to documentation of HashSet::intersection
  library/std/src/collections/hash/set.rs
Labels: A-collections, S-waiting-on-bors, T-libs

#97512 Add support for emitting functions with `coldcc` to LLVM
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_target/src/spec/abi.rs
  compiler/rustc_target/src/spec/mod.rs
  src/test/codegen/cold-call-declare-and-call.rs
  src/test/ui/codemap_tests/unicode.stderr
  src/test/ui/feature-gates/feature-gate-rust_cold_cc.rs
  src/test/ui/feature-gates/feature-gate-rust_cold_cc.stderr
  src/test/ui/parser/issues/issue-8537.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97738 Fix ICEs from zsts within unsized types with non-zero offsets
  compiler/rustc_codegen_ssa/src/base.rs
  src/test/ui/unsized/issue-97732.rs
Labels: I-ICE, T-compiler, S-waiting-on-bors

#97771 Remove SIGIO reference on Haiku
  library/std/src/sys/unix/process/process_unix.rs
Labels: S-waiting-on-bors, T-libs

#97808 Add some unstable target features for the wasm target codegen
  compiler/rustc_codegen_ssa/src/target_features.rs
Labels: T-compiler, S-waiting-on-bors

#97058 Various refactors to the incr comp workproduct handling
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_incremental/src/persist/load.rs
  compiler/rustc_incremental/src/persist/save.rs
  compiler/rustc_incremental/src/persist/work_product.rs
  compiler/rustc_middle/src/mir/mono.rs
  compiler/rustc_query_system/src/dep_graph/dep_node.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
Labels: C-cleanup, A-codegen, T-compiler, S-waiting-on-bors

#97826 Add more information for rustdoc-gui tests
  src/test/rustdoc-gui/README.md
  src/tools/rustdoc-gui/tester.js
Labels: T-rustdoc, S-waiting-on-bors

#97821 Remove confusing sentence from `Mutex` docs
  library/std/src/sync/mutex.rs
Labels: S-waiting-on-bors, T-libs

#97325 Fix precise field capture of univariant enums
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  src/test/ui/closures/2229_closure_analysis/capture-enum-field.rs
Labels: T-compiler, S-waiting-on-bors

#95948 Improve the safety docs for `CStr`
  library/core/src/ffi/c_str.rs
Labels: S-waiting-on-bors, T-libs

#97081 Re-use the type op instead of calling the implied_outlives_bounds query directly
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/outlives/mod.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_typeck/src/check/regionck.rs
  compiler/rustc_typeck/src/outlives/outlives_bounds.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97829 Add regresion test for #95307
  src/test/ui/async-await/issues/issue-95307.rs
  src/test/ui/async-await/issues/issue-95307.stderr
Labels: T-compiler, S-waiting-on-bors

#97831 Remove `AlwaysLiveLocals` wrapper struct
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
  compiler/rustc_mir_dataflow/src/storage.rs
  compiler/rustc_mir_transform/src/generator.rs
Labels: T-compiler, S-waiting-on-bors

#97832 Change `Direction::{is_forward,is_backward}` functions into constants
  compiler/rustc_mir_dataflow/src/framework/cursor.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/framework/engine.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/tests.rs
Labels: T-compiler, S-waiting-on-bors

#97840 RustWrapper: adapt to APInt API changes in LLVM 15
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#97845 Use more targeted suggestion when confusing i8 with std::i8
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  src/test/ui/suggestions/suggest-std-when-using-type.stderr
Labels: T-compiler, S-waiting-on-bors

#97849 Rollup of 5 pull requests
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_mir_dataflow/src/framework/cursor.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/framework/engine.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/tests.rs
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
  compiler/rustc_mir_dataflow/src/storage.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  src/test/ui/async-await/issues/issue-95307.rs
  src/test/ui/async-await/issues/issue-95307.stderr
  src/test/ui/suggestions/suggest-std-when-using-type.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#97447 Folding revamp
  compiler/rustc_const_eval/src/interpret/util.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/fudge.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_infer/src/traits/structural_impls.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_macros/src/type_foldable.rs
  compiler/rustc_middle/src/macros.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/type_foldable.rs
  compiler/rustc_middle/src/ty/erase_regions.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/subst.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_monomorphize/src/polymorphize.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_trait_selection/src/opaque_types.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_trait_selection/src/traits/structural_match.rs
  compiler/rustc_traits/src/chalk/db.rs
  compiler/rustc_traits/src/chalk/lowering.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/op.rs
  compiler/rustc_typeck/src/check/wfcheck.rs
  compiler/rustc_typeck/src/check/writeback.rs
  compiler/rustc_typeck/src/coherence/orphan.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  compiler/rustc_typeck/src/constrained_generic_params.rs
  src/librustdoc/clean/auto_trait.rs
  src/tools/clippy/clippy_lints/src/unit_types/let_unit_value.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#97597 Preserve unused pointer to address casts
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_transform/src/dead_store_elimination.rs
  compiler/rustc_mir_transform/src/simplify.rs
  src/test/mir-opt/simplify-locals.rs
  src/test/mir-opt/simplify_locals.expose_addr.SimplifyLocals.diff
Labels: T-compiler, S-waiting-on-bors

#97819 Recover `import` instead of `use` in item
  compiler/rustc_parse/src/parser/item.rs
  src/test/ui/did_you_mean/use_instead_of_import.fixed
  src/test/ui/did_you_mean/use_instead_of_import.rs
  src/test/ui/did_you_mean/use_instead_of_import.stderr
Labels: T-compiler, S-waiting-on-bors

#97823 Recover missing comma after match arm
  compiler/rustc_parse/src/parser/expr.rs
  src/test/ui/parser/match-arm-without-braces.rs
  src/test/ui/parser/match-arm-without-braces.stderr
Labels: T-compiler, S-waiting-on-bors

#97851 Use repr(C) when depending on struct layout in ptr tests
  library/core/tests/ptr.rs
Labels: S-waiting-on-bors, T-libs

#97860 Rollup of 5 pull requests
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_transform/src/dead_store_elimination.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_ty_utils/src/instance.rs
  library/core/tests/ptr.rs
  src/test/mir-opt/simplify-locals.rs
  src/test/mir-opt/simplify_locals.expose_addr.SimplifyLocals.diff
  src/test/ui/did_you_mean/use_instead_of_import.fixed
  src/test/ui/did_you_mean/use_instead_of_import.rs
  src/test/ui/did_you_mean/use_instead_of_import.stderr
  src/test/ui/parser/match-arm-without-braces.rs
  src/test/ui/parser/match-arm-without-braces.stderr
  src/test/ui/traits/vtable/issue-97381.rs
  src/test/ui/traits/vtable/issue-97381.stderr
  src/test/ui/type/type-unsatisfiable.rs
  src/test/ui/type/type-unsatisfiable.usage.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97595 Remove unwrap from get_vtable
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_ty_utils/src/instance.rs
  src/test/ui/traits/vtable/issue-97381.rs
  src/test/ui/traits/vtable/issue-97381.stderr
  src/test/ui/type/type-unsatisfiable.rs
  src/test/ui/type/type-unsatisfiable.usage.stderr
Labels: T-compiler, S-waiting-on-bors

#94732 Make `Encodable` and `Encoder` infallible.
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/ptr.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_data_structures/src/fingerprint.rs
  compiler/rustc_data_structures/src/svh.rs
  compiler/rustc_incremental/src/persist/file_format.rs
  compiler/rustc_incremental/src/persist/load.rs
  compiler/rustc_incremental/src/persist/save.rs
  compiler/rustc_index/src/vec.rs
  compiler/rustc_macros/src/newtype.rs
  compiler/rustc_macros/src/serialize.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_metadata/src/rmeta/table.rs
  compiler/rustc_middle/src/mir/graph_cyclic_cache.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/predecessors.rs
  compiler/rustc_middle/src/mir/switch_sources.rs
  compiler/rustc_middle/src/mir/traversal.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_middle/src/ty/consts/int.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/list.rs
  compiler/rustc_middle/src/ty/subst.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/serialized.rs
  compiler/rustc_serialize/src/collection_impls.rs
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_serialize/src/serialize.rs
  compiler/rustc_serialize/tests/opaque.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_type_ir/src/codec.rs
  compiler/rustc_type_ir/src/sty.rs
  src/librustdoc/scrape_examples.rs
  src/test/ui-fulldeps/deriving-encodable-decodable-box.rs
  src/test/ui-fulldeps/deriving-encodable-decodable-cell-refcell.rs
  src/test/ui-fulldeps/issue-11881.rs
  src/test/ui-fulldeps/issue-14021.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#97846 Specify DWARF alignment in bits, not bytes.
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  src/test/codegen/debug-alignment.rs
Labels: T-compiler, S-waiting-on-bors

#97848 Impl Traits lowering minor refactors
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_typeck/src/astconv/mod.rs
Labels: T-compiler, S-waiting-on-bors

#97276 Stabilize `const_intrinsic_copy`
  library/alloc/tests/lib.rs
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/tests/lib.rs
  src/test/ui/consts/copy-intrinsic.rs
  src/test/ui/consts/intrinsic_without_const_stab.rs
  src/test/ui/consts/intrinsic_without_const_stab_fail.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#97878 Add regression test for anonymous lifetimes
  src/test/rustdoc/anonymous-lifetime.rs
Labels: T-rustdoc, S-waiting-on-bors

#97879 remove unneeded code
  library/std/src/sys/hermit/condvar.rs
Labels: S-waiting-on-bors, T-libs

#97880 Fix typo: fo->for
  compiler/rustc_expand/src/mbe/macro_parser.rs
Labels: T-compiler, S-waiting-on-bors

#97887 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_codegen_gcc/.github/workflows/ci.yml
  compiler/rustc_codegen_gcc/.gitignore
  compiler/rustc_codegen_gcc/.rustfmt.toml
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_codegen_gcc/build.sh
  compiler/rustc_codegen_gcc/build_sysroot/build_sysroot.sh
  compiler/rustc_codegen_gcc/build_sysroot/prepare_sysroot_src.sh
  compiler/rustc_codegen_gcc/cargo.sh
  compiler/rustc_codegen_gcc/clean_all.sh
  compiler/rustc_codegen_gcc/config.sh
  compiler/rustc_codegen_gcc/crate_patches/0002-rand-Disable-failing-test.patch
  compiler/rustc_codegen_gcc/example/std_example.rs
  compiler/rustc_codegen_gcc/patches/0024-core-Disable-portable-simd-test.patch
  compiler/rustc_codegen_gcc/prepare.sh
  compiler/rustc_codegen_gcc/prepare_build.sh
  compiler/rustc_codegen_gcc/rust-toolchain
  compiler/rustc_codegen_gcc/rustc_patches/compile_test.patch
  compiler/rustc_codegen_gcc/rustup.sh
  compiler/rustc_codegen_gcc/src/asm.rs
  compiler/rustc_codegen_gcc/src/base.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_gcc/src/declare.rs
  compiler/rustc_codegen_gcc/src/int.rs
  compiler/rustc_codegen_gcc/src/intrinsic/archs.rs
  compiler/rustc_codegen_gcc/src/intrinsic/llvm.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_gcc/test.sh
  compiler/rustc_codegen_gcc/tests/lang_tests_common.rs
  compiler/rustc_codegen_gcc/tests/lang_tests_debug.rs
  compiler/rustc_codegen_gcc/tests/lang_tests_release.rs
  compiler/rustc_codegen_gcc/tests/run/int.rs
  compiler/rustc_codegen_gcc/tests/run/int_overflow.rs
  compiler/rustc_codegen_gcc/tools/generate_intrinsics.py
  compiler/rustc_expand/src/mbe/macro_parser.rs
  library/std/src/sys/hermit/condvar.rs
  src/bootstrap/Cargo.toml
  src/bootstrap/bootstrap.py
  src/bootstrap/builder.rs
  src/bootstrap/config.rs
  src/bootstrap/format.rs
  src/bootstrap/lib.rs
  src/bootstrap/test.rs
  src/test/rustdoc/anonymous-lifetime.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97813 Sync rustc_codegen_gcc
  compiler/rustc_codegen_gcc/.github/workflows/ci.yml
  compiler/rustc_codegen_gcc/.gitignore
  compiler/rustc_codegen_gcc/.rustfmt.toml
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_codegen_gcc/build.sh
  compiler/rustc_codegen_gcc/build_sysroot/build_sysroot.sh
  compiler/rustc_codegen_gcc/build_sysroot/prepare_sysroot_src.sh
  compiler/rustc_codegen_gcc/cargo.sh
  compiler/rustc_codegen_gcc/clean_all.sh
  compiler/rustc_codegen_gcc/config.sh
  compiler/rustc_codegen_gcc/crate_patches/0002-rand-Disable-failing-test.patch
  compiler/rustc_codegen_gcc/example/std_example.rs
  compiler/rustc_codegen_gcc/patches/0024-core-Disable-portable-simd-test.patch
  compiler/rustc_codegen_gcc/prepare.sh
  compiler/rustc_codegen_gcc/prepare_build.sh
  compiler/rustc_codegen_gcc/rust-toolchain
  compiler/rustc_codegen_gcc/rustc_patches/compile_test.patch
  compiler/rustc_codegen_gcc/rustup.sh
  compiler/rustc_codegen_gcc/src/asm.rs
  compiler/rustc_codegen_gcc/src/base.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_gcc/src/declare.rs
  compiler/rustc_codegen_gcc/src/int.rs
  compiler/rustc_codegen_gcc/src/intrinsic/archs.rs
  compiler/rustc_codegen_gcc/src/intrinsic/llvm.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_gcc/test.sh
  compiler/rustc_codegen_gcc/tests/lang_tests_common.rs
  compiler/rustc_codegen_gcc/tests/lang_tests_debug.rs
  compiler/rustc_codegen_gcc/tests/lang_tests_release.rs
  compiler/rustc_codegen_gcc/tests/run/int.rs
  compiler/rustc_codegen_gcc/tests/run/int_overflow.rs
  compiler/rustc_codegen_gcc/tools/generate_intrinsics.py
Labels: T-compiler, S-waiting-on-bors

#97507 Move rustfmt downloads from bootstrap.py to rustbuild
  Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/bootstrap.py
  src/bootstrap/builder.rs
  src/bootstrap/config.rs
  src/bootstrap/format.rs
  src/bootstrap/lib.rs
  src/bootstrap/test.rs
Labels: S-waiting-on-bors

#97871 Suggest using `iter()` or `into_iter()` for `Vec`
  library/core/src/iter/traits/iterator.rs
  src/test/ui/iterators/vec-on-unimplemented.rs
  src/test/ui/iterators/vec-on-unimplemented.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, T-libs

#97882 Add regresion test for #67498
  src/test/ui/lifetimes/issue-67498.rs
Labels: T-compiler, S-waiting-on-bors

#97883 Remove `ignore-compare-mode-nll` annotations from tests
  src/test/ui/json-multiple.rs
  src/test/ui/json-options.rs
  src/test/ui/rmeta/emit-artifact-notifications.rs
  src/test/ui/save-analysis/emit-notifications.rs
Labels: T-compiler, S-waiting-on-bors

#97894 Fix polonius compare mode.
  src/tools/compiletest/src/runtest.rs
Labels: S-waiting-on-bors

#97557 Fix indices and remove some unwraps in arg mismatch algorithm
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/argument-suggestions/basic.stderr
  src/test/ui/argument-suggestions/issue-97484.rs
  src/test/ui/argument-suggestions/issue-97484.stderr
  src/test/ui/argument-suggestions/mixed_cases.stderr
  src/test/ui/argument-suggestions/permuted_arguments.stderr
  src/test/ui/argument-suggestions/swapped_arguments.stderr
Labels: T-compiler, S-waiting-on-bors

#97740 use precise spans for recursive const evaluation
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/intrinsics/caller_location.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_middle/src/mir/interpret/queries.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  src/test/ui/consts/recursive-zst-static.default.stderr
  src/test/ui/consts/recursive-zst-static.unleash.stderr
  src/test/ui/consts/write-to-static-mut-in-static.stderr
  src/test/ui/recursion/recursive-static-definition.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97772 Update minifier version to 0.2.1
  Cargo.lock
  src/librustdoc/Cargo.toml
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/theme.rs
  src/librustdoc/theme/tests.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#97862 optimize `superset` method of `IntervalSet`
  compiler/rustc_index/src/interval.rs
  compiler/rustc_index/src/interval/tests.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#97868 BTreeSet: avoid intermediate sorting when collecting sorted iterators
  library/alloc/src/collections/btree/set.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#97838 hexagon: adapt test for upstream output changes
  src/test/assembly/asm/hexagon-types.rs
Labels: S-waiting-on-bors

#97843 Relax mipsel-sony-psp's linker script
  compiler/rustc_target/src/spec/mipsel_sony_psp.rs
  compiler/rustc_target/src/spec/mipsel_sony_psp_linker_script.ld
Labels: T-compiler, S-waiting-on-bors

#97874 rewrite combine doc comment
  compiler/rustc_infer/src/infer/combine.rs
Labels: T-compiler, S-waiting-on-bors

#95860 Stabilize `$$` in Rust 1.63.0
  compiler/rustc_expand/src/mbe/quoted.rs
  src/test/ui/macros/rfc-3086-metavar-expr/allowed-features.rs
  src/test/ui/macros/rfc-3086-metavar-expr/required-features.rs
  src/test/ui/macros/rfc-3086-metavar-expr/required-features.stderr
Labels: A-macros, T-lang, relnotes, S-waiting-on-bors, proposed-final-comment-period, disposition-merge, finished-final-comment-period, F-macro-metavar-expr

#91970 Add the Provider api to core::any
  library/core/src/any.rs
  library/core/tests/any.rs
  library/core/tests/lib.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors, A-error-handling, PG-error-handling

#95770 std::io: Modify some ReadBuf method signatures to return `&mut Self`
  library/std/src/io/readbuf.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors, A-io

#95818 Stabilize the `bundle` native library modifier
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_error_codes/src/error_codes/E0060.md
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_session/src/config.rs
  library/unwind/src/lib.rs
  src/doc/rustc/src/command-line-arguments.md
  src/doc/unstable-book/src/language-features/native-link-modifiers-bundle.md
  src/test/run-make-fulldeps/static-nobundle/Makefile
  src/test/run-make-fulldeps/static-nobundle/bbb.rs
  src/test/run-make-fulldeps/static-nobundle/ccc.rs
  src/test/run-make-fulldeps/static-nobundle/ddd.rs
  src/test/run-make-fulldeps/tools.mk
  src/test/run-make/native-link-modifier-bundle/Makefile
  src/test/run-make/native-link-modifier-bundle/bundled.rs
  src/test/run-make/native-link-modifier-bundle/cdylib-bundled.rs
  src/test/run-make/native-link-modifier-bundle/cdylib-non-bundled.rs
  src/test/run-make/native-link-modifier-bundle/native-staticlib.c
  src/test/run-make/native-link-modifier-bundle/non-bundled.rs
  src/test/run-make/native-link-modifier-whole-archive/Makefile
  src/test/run-make/native-link-modifier-whole-archive/native_lib_in_src.rs
  src/test/ui/feature-gates/feature-gate-native_link_modifiers_bundle-2.rs
  src/test/ui/feature-gates/feature-gate-native_link_modifiers_bundle-3.rs
  src/test/ui/feature-gates/feature-gate-native_link_modifiers_bundle-3.stderr
  src/test/ui/feature-gates/feature-gate-native_link_modifiers_bundle.rs
  src/test/ui/feature-gates/feature-gate-native_link_modifiers_bundle.stderr
  src/test/ui/feature-gates/feature-gate-static-nobundle-2.rs
  src/test/ui/feature-gates/feature-gate-static-nobundle-2.stderr
  src/test/ui/feature-gates/feature-gate-static-nobundle.rs
  src/test/ui/feature-gates/feature-gate-static-nobundle.stderr
  src/test/ui/native-library-link-flags/mix-bundle-and-whole-archive-link-attr.rs
  src/test/ui/native-library-link-flags/modifiers-override.rs
  src/test/ui/native-library-link-flags/modifiers-override.stderr
Labels: T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#97922 Remove redundant calls to reserve in impl Write for VecDeque
  library/std/src/io/impls.rs
Labels: S-waiting-on-bors, T-libs

#97937 Fix a typo in `test/ui/hrtb/hrtb-just-for-static.rs`
  src/test/ui/hrtb/hrtb-just-for-static.rs
Labels: T-compiler, S-waiting-on-bors

#97939 Rollup of 6 pull requests
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_resolve/src/late.rs
  library/core/src/future/into_future.rs
  library/panic_unwind/src/emcc.rs
  library/std/src/io/impls.rs
  src/test/ui/higher-rank-trait-bounds/hrtb-wrong-kind.rs
  src/test/ui/higher-rank-trait-bounds/hrtb-wrong-kind.stderr
  src/test/ui/hrtb/hrtb-just-for-static.rs
  src/test/ui/lint/rfc-2383-lint-reason/avoid_delayed_good_path_ice.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97718 Fix `delayed_good_path_bug` ice for expected diagnostics (RFC 2383)
  compiler/rustc_errors/src/lib.rs
  src/test/ui/lint/rfc-2383-lint-reason/avoid_delayed_good_path_ice.rs
Labels: T-compiler, S-waiting-on-bors

#97876 update docs for `std::future::IntoFuture`
  library/core/src/future/into_future.rs
Labels: S-waiting-on-bors, T-libs
