Repository rust-lang/rust, pull requests merged in 2022-07, with the labels that each got.

#98640 Let rust-analyzer ship on stable, non-preview
  src/bootstrap/dist.rs
  src/bootstrap/tool.rs
  src/tools/build-manifest/src/main.rs
Labels: S-waiting-on-bors

#98686 add ice test for 46511
  src/test/ui/const-generics/issue-46511.rs
  src/test/ui/const-generics/issue-46511.stderr
Labels: T-compiler, S-waiting-on-bors

#98727 rustdoc: filter '_ lifetimes from ty::PolyTraitRef
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/auxiliary/issue-98697-reexport-with-anonymous-lifetime.rs
  src/test/rustdoc/issue-98697.rs
Labels: T-rustdoc, beta-nominated, S-waiting-on-bors

#98729 clarify that ExactSizeIterator::len returns the remaining length
  library/core/src/iter/traits/exact_size.rs
  library/core/src/iter/traits/iterator.rs
Labels: S-waiting-on-bors, T-libs

#98745 Add a `--build-dir` flag to rustbuild
  src/bootstrap/bootstrap.py
  src/bootstrap/config.rs
  src/bootstrap/flags.rs
Labels: A-rustbuild, S-waiting-on-bors

#98749 Add macro_rules! rustdoc change to 1.62 relnotes
  RELEASES.md
Labels: T-rustdoc, S-waiting-on-bors, T-release

#98752 Rollup of 9 pull requests
  RELEASES.md
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  library/core/src/iter/traits/exact_size.rs
  library/core/src/iter/traits/iterator.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/config.rs
  src/bootstrap/dist.rs
  src/bootstrap/flags.rs
  src/bootstrap/tool.rs
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/auxiliary/issue-98697-reexport-with-anonymous-lifetime.rs
  src/test/rustdoc/issue-98697.rs
  src/test/ui/const-generics/issue-46511.rs
  src/test/ui/const-generics/issue-46511.stderr
  src/test/ui/inference/need_type_info/expr-struct-type-relative-enum.rs
  src/test/ui/inference/need_type_info/expr-struct-type-relative-enum.stderr
  src/test/ui/inference/need_type_info/expr-struct-type-relative-gat.rs
  src/test/ui/inference/need_type_info/expr-struct-type-relative-gat.stderr
  src/test/ui/inference/need_type_info/expr-struct-type-relative.rs
  src/test/ui/inference/need_type_info/expr-struct-type-relative.stderr
  src/tools/build-manifest/src/main.rs
  triagebot.toml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#98610 fix `emit_inference_failure_err` ICE
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  src/test/ui/inference/need_type_info/expr-struct-type-relative-enum.rs
  src/test/ui/inference/need_type_info/expr-struct-type-relative-enum.stderr
  src/test/ui/inference/need_type_info/expr-struct-type-relative-gat.rs
  src/test/ui/inference/need_type_info/expr-struct-type-relative-gat.stderr
  src/test/ui/inference/need_type_info/expr-struct-type-relative.rs
  src/test/ui/inference/need_type_info/expr-struct-type-relative.stderr
Labels: T-compiler, S-waiting-on-bors

#98670 llvm-wrapper: adapt for LLVMConstExtractValue removal
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#98671 Fix source sidebar bugs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/source-script.js
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#98677 For diagnostic information of Boolean, remind it as use the type: 'bool'
  compiler/rustc_resolve/src/late/diagnostics.rs
  src/test/ui/lint/recommend-literal.rs
  src/test/ui/lint/recommend-literal.stderr
Labels: T-compiler, S-waiting-on-bors

#98684 add test for 72793
  src/test/ui/type-alias-impl-trait/issue-72793.rs
Labels: T-compiler, S-waiting-on-bors

#98688 interpret: add From<&MplaceTy> for PlaceTy
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/visitor.rs
Labels: T-compiler, S-waiting-on-bors

#98695 use "or pattern"
  compiler/rustc_errors/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#98709 Remove unneeded methods declaration for old web browsers
  src/librustdoc/html/static/js/main.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-js

#98717 get rid of tidy 'unnecessarily ignored' warnings
  src/tools/tidy/src/style.rs
Labels: A-testsuite, S-waiting-on-bors

#98730 Rollup of 10 pull requests
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/visitor.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_resolve/src/late/diagnostics.rs
  library/core/src/sync/exclusive.rs
  library/core/src/sync/mod.rs
  library/std/src/lib.rs
  library/std/src/sync/mod.rs
  library/std/src/thread/mod.rs
  library/std/src/thread/scoped.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/source-script.js
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
  src/test/ui/lint/recommend-literal.rs
  src/test/ui/lint/recommend-literal.stderr
  src/test/ui/type-alias-impl-trait/issue-72793.rs
  src/tools/tidy/src/style.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#98503 fix data race in thread::scope
  library/std/src/thread/mod.rs
  library/std/src/thread/scoped.rs
Labels: beta-nominated, beta-accepted, S-waiting-on-bors, T-libs

#98402 Rewrite dead-code pass to avoid fetching HIR.
  compiler/rustc_mir_build/src/thir/cx/mod.rs
  compiler/rustc_passes/src/dead.rs
  src/test/ui/associated-consts/associated-const-dead-code.stderr
  src/test/ui/closures/2229_closure_analysis/issue-87987.stderr
  src/test/ui/derive-uninhabited-enum-38885.stderr
  src/test/ui/derives/clone-debug-dead-code-in-the-same-struct.stderr
  src/test/ui/derives/clone-debug-dead-code.stderr
  src/test/ui/issues/issue-37515.stderr
  src/test/ui/lint/dead-code/impl-trait.stderr
  src/test/ui/lint/dead-code/issue-85255.stderr
  src/test/ui/lint/dead-code/lint-dead-code-1.stderr
  src/test/ui/lint/dead-code/lint-dead-code-3.rs
  src/test/ui/lint/dead-code/lint-dead-code-3.stderr
  src/test/ui/lint/dead-code/lint-dead-code-4.stderr
  src/test/ui/lint/dead-code/lint-dead-code-5.stderr
  src/test/ui/lint/dead-code/multiple-dead-codes-in-the-same-struct.stderr
  src/test/ui/lint/dead-code/type-alias.stderr
  src/test/ui/lint/dead-code/unused-struct-variant.stderr
  src/test/ui/lint/issue-17718-const-naming.stderr
  src/test/ui/span/macro-span-replacement.stderr
  src/test/ui/union/union-fields-1.mirunsafeck.stderr
  src/test/ui/union/union-fields-1.thirunsafeck.stderr
  src/test/ui/union/union-lint-dead-code.mirunsafeck.stderr
  src/test/ui/union/union-lint-dead-code.thirunsafeck.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98585 Make `ThinBox<T>` covariant in `T`
  library/alloc/src/boxed/thin.rs
  library/alloc/tests/thin_box.rs
Labels: T-libs-api, S-waiting-on-bors

#98644 fix ICE with -Wrust-2021-incompatible-closure-captures
  compiler/rustc_typeck/src/check/upvar.rs
  src/test/ui/span/drop-location-span-error-rust-2021-incompatible-closure-captures-93117.rs
  src/test/ui/span/drop-location-span-error-rust-2021-incompatible-closure-captures-93117.stderr
  src/test/ui/span/drop-location-span-error-rust-2021-incompatible-closure-captures-96258.rs
  src/test/ui/span/drop-location-span-error-rust-2021-incompatible-closure-captures-96258.stderr
Labels: T-compiler, S-waiting-on-bors

#98739 fix grammar in useless doc comment lint
  compiler/rustc_lint/src/builtin.rs
  src/test/ui/lint/unused/unused-doc-comments-edge-cases.stderr
Labels: T-compiler, S-waiting-on-bors

#98741 Many small deriving cleanups
  compiler/rustc_builtin_macros/src/deriving/bounds.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/ord.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/generic/ty.rs
  compiler/rustc_builtin_macros/src/deriving/hash.rs
Labels: T-compiler, S-waiting-on-bors

#98756 Use const instead of function and make it private
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
Labels: T-compiler, S-waiting-on-bors

#98767 Rollup of 6 pull requests
  compiler/rustc_builtin_macros/src/deriving/bounds.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/ord.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/generic/ty.rs
  compiler/rustc_builtin_macros/src/deriving/hash.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/upvar.rs
  library/alloc/src/boxed/thin.rs
  library/alloc/tests/thin_box.rs
  src/test/ui/lint/unused/unused-doc-comments-edge-cases.stderr
  src/test/ui/span/drop-location-span-error-rust-2021-incompatible-closure-captures-93117.rs
  src/test/ui/span/drop-location-span-error-rust-2021-incompatible-closure-captures-93117.stderr
  src/test/ui/span/drop-location-span-error-rust-2021-incompatible-closure-captures-96258.rs
  src/test/ui/span/drop-location-span-error-rust-2021-incompatible-closure-captures-96258.stderr
  src/test/ui/suggestions/suggest-blanket-impl-local-trait.rs
  src/test/ui/suggestions/suggest-blanket-impl-local-trait.stderr
  suggest-blanket-impl-local-trait
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#97488 Suggest blanket impl to the local traits
  compiler/rustc_typeck/src/astconv/mod.rs
  src/test/ui/suggestions/suggest-blanket-impl-local-trait.rs
  src/test/ui/suggestions/suggest-blanket-impl-local-trait.stderr
  suggest-blanket-impl-local-trait
Labels: T-compiler, S-waiting-on-bors

#98708 rustdoc: fix 98690 Panic if invalid path for -Z persist-doctests
  src/librustdoc/doctest.rs
  src/test/rustdoc-ui/issue-98690.rs
  src/test/rustdoc-ui/issue-98690.stderr
Labels: T-rustdoc, S-waiting-on-bors

#98418 Allow macOS to build LLVM as shared library
  src/bootstrap/lib.rs
  src/bootstrap/native.rs
Labels: A-rustbuild, S-waiting-on-bors

#98460 Use CSS variables to handle theming
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#98497 Improve some inference diagnostics
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/writeback.rs
  src/test/ui/array-slice-vec/infer_array_len.stderr
  src/test/ui/array-slice-vec/slice-pat-type-mismatches.stderr
  src/test/ui/cast/issue-85586.stderr
  src/test/ui/coherence/coherence-overlap-trait-alias.stderr
  src/test/ui/const-generics/generic_arg_infer/issue-91614.stderr
  src/test/ui/const-generics/generic_const_exprs/issue-72787.min.stderr
  src/test/ui/const-generics/generic_const_exprs/issue-72787.rs
  src/test/ui/impl-trait/hidden-type-is-opaque-2.stderr
  src/test/ui/inference/cannot-infer-partial-try-return.stderr
  src/test/ui/inference/erase-type-params-in-label.stderr
  src/test/ui/inference/issue-72616.stderr
  src/test/ui/inference/issue-72690.stderr
  src/test/ui/inference/issue-86162-1.stderr
  src/test/ui/inference/issue-86162-2.stderr
  src/test/ui/issues/issue-12028.stderr
  src/test/ui/issues/issue-15965.stderr
  src/test/ui/issues/issue-20261.stderr
  src/test/ui/issues/issue-2151.stderr
  src/test/ui/issues/issue-21974.stderr
  src/test/ui/issues/issue-24424.stderr
  src/test/ui/issues/issue-51116.rs
  src/test/ui/issues/issue-51116.stderr
  src/test/ui/issues/issue-69455.stderr
  src/test/ui/issues/issue-69683.stderr
  src/test/ui/issues/issue-71584.stderr
  src/test/ui/issues/issue-7813.stderr
  src/test/ui/lazy-type-alias-impl-trait/branches3.stderr
  src/test/ui/lifetimes/issue-34979.stderr
  src/test/ui/marker_trait_attr/region-overlap.stderr
  src/test/ui/pattern/issue-88074-pat-range-type-inference-err.stderr
  src/test/ui/pattern/pat-tuple-bad-type.stderr
  src/test/ui/span/issue-42234-unknown-receiver-type.full.stderr
  src/test/ui/span/issue-42234-unknown-receiver-type.generic_arg.stderr
  src/test/ui/span/method-and-field-eager-resolution.stderr
  src/test/ui/span/type-annotations-needed-expr.stderr
  src/test/ui/suggestions/suggest-closure-return-type-1.stderr
  src/test/ui/suggestions/suggest-closure-return-type-2.stderr
  src/test/ui/suggestions/suggest-closure-return-type-3.stderr
  src/test/ui/traits/issue-77982.stderr
  src/test/ui/traits/issue-85735.rs
  src/test/ui/traits/issue-85735.stderr
  src/test/ui/type-alias-impl-trait/closures_in_branches.stderr
  src/test/ui/type-alias-impl-trait/fallback.stderr
  src/test/ui/type/type-check/cannot_infer_local_or_array.stderr
  src/test/ui/type/type-check/issue-40294.stderr
  src/test/ui/typeck/issue-65611.stderr
  src/test/ui/unboxed-closures/unboxed-closures-failed-recursive-fn-2.stderr
Labels: T-compiler, S-waiting-on-bors

#97249 `<details>`/`<summary>` UI fixes
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/docblock-details.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#98725 [beta] Bump stage0 to 1.62.0
  src/stage0.json
Labels: S-waiting-on-bors, merged-by-bors

#98791 Remove the rogue ./suggest-blanket-impl-local-trait
  suggest-blanket-impl-local-trait
Labels: S-waiting-on-bors, merged-by-bors

#98763 bootstrap: illumos platform flags for split-debuginfo
  src/bootstrap/builder.rs
Labels: S-waiting-on-bors

#98766 cleanup mir visitor for `rustc::pass_by_value`
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/diagnostics/find_all_local_uses.rs
  compiler/rustc_borrowck/src/diagnostics/find_use.rs
  compiler/rustc_borrowck/src/type_check/liveness/local_use_map.rs
  compiler/rustc_borrowck/src/type_check/liveness/polonius.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/used_muts.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_const_eval/src/util/collect_writes.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_dataflow/src/impls/init_locals.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
  compiler/rustc_mir_transform/src/const_debuginfo.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/nrvo.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_mir_transform/src/simplify_try.rs
  compiler/rustc_monomorphize/src/collector.rs
Labels: T-compiler, S-waiting-on-bors

#98783 interpret: make a comment less scary
  compiler/rustc_const_eval/src/interpret/cast.rs
Labels: T-compiler, S-waiting-on-bors

#98802 Rollup of 5 pull requests
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/diagnostics/find_all_local_uses.rs
  compiler/rustc_borrowck/src/diagnostics/find_use.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/type_check/liveness/local_use_map.rs
  compiler/rustc_borrowck/src/type_check/liveness/polonius.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/used_muts.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_const_eval/src/util/collect_writes.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/cx/mod.rs
  compiler/rustc_mir_dataflow/src/impls/init_locals.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
  compiler/rustc_mir_transform/src/const_debuginfo.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/nrvo.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_mir_transform/src/simplify_try.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_save_analysis/src/lib.rs
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/cfg_build.rs
  src/bootstrap/builder.rs
  src/test/rustdoc-ui/issue-79494.rs
  src/test/rustdoc-ui/issue-79494.stderr
  src/tools/clippy/clippy_lints/src/escape.rs
  src/tools/clippy/clippy_lints/src/explicit_write.rs
  src/tools/clippy/clippy_lints/src/loops/mut_range_bound.rs
  src/tools/clippy/clippy_lints/src/loops/same_item_push.rs
  src/tools/clippy/clippy_lints/src/manual_rem_euclid.rs
  src/tools/clippy/clippy_lints/src/methods/iter_skip_next.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#98639 Factor out `hir::Node::Binding`
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/cx/mod.rs
  compiler/rustc_save_analysis/src/lib.rs
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/cfg_build.rs
  src/tools/clippy/clippy_lints/src/escape.rs
  src/tools/clippy/clippy_lints/src/explicit_write.rs
  src/tools/clippy/clippy_lints/src/loops/mut_range_bound.rs
  src/tools/clippy/clippy_lints/src/loops/same_item_push.rs
  src/tools/clippy/clippy_lints/src/manual_rem_euclid.rs
  src/tools/clippy/clippy_lints/src/methods/iter_skip_next.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#98653 Add regression test for #79494
  src/test/rustdoc-ui/issue-79494.rs
  src/test/rustdoc-ui/issue-79494.stderr
Labels: T-rustdoc, S-waiting-on-bors

#91743 Enable MIR inlining
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/util.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/normalize_erasing_regions.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/inline/cycle.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_ty_utils/src/instance.rs
  src/test/codegen/issue-37945.rs
  src/test/codegen/issue-75659.rs
  src/test/codegen/mem-replace-direct-memcpy.rs
  src/test/codegen/remap_path_prefix/main.rs
  src/test/codegen/simd-wide-sum.rs
  src/test/codegen/slice-ref-equality.rs
  src/test/codegen/swap-small-types.rs
  src/test/codegen/vec-in-place.rs
  src/test/mir-opt/inline/caller-with-trivial-bound.rs
  src/test/mir-opt/inline/caller_with_trivial_bound.foo.Inline.diff
  src/test/mir-opt/inline/inline_cycle.one.Inline.diff
  src/test/mir-opt/inline/inline_cycle.two.Inline.diff
  src/test/mir-opt/inline/inline_cycle_generic.main.Inline.diff
  src/test/ui/issues/issue-67552.rs
  src/test/ui/issues/issue-67552.stderr
  src/test/ui/panics/location-detail-unwrap-no-file.rs
  src/test/ui/polymorphization/generators.rs
  src/test/ui/polymorphization/predicates.rs
  src/test/ui/polymorphization/predicates.stderr
  src/test/ui/recursion/issue-83150.rs
  src/test/ui/recursion/issue-83150.stderr
  src/test/ui/trait-bounds/select-param-env-instead-of-blanket.rs
  src/test/ui/trait-bounds/select-param-env-instead-of-blanket.stderr
  src/test/ui/traits/issue-91949-hangs-on-recursion.rs
  src/test/ui/traits/issue-91949-hangs-on-recursion.stderr
  src/test/ui/type_length_limit.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt, A-mir-opt-inlining, perf-regression

#97235 Fix FFI-unwind unsoundness with mixed panic mode
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/dependency_format.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_mir_transform/src/abort_unwinding_calls.rs
  compiler/rustc_mir_transform/src/ffi_unwind_calls.rs
  compiler/rustc_mir_transform/src/lib.rs
  library/std/src/lib.rs
  src/test/ui/panic-runtime/auxiliary/needs-abort.rs
  src/test/ui/panic-runtime/auxiliary/needs-unwind.rs
  src/test/ui/panic-runtime/need-abort-got-unwind.rs
  src/test/ui/panic-runtime/need-abort-got-unwind.stderr
  src/test/ui/panic-runtime/need-unwind-got-abort.rs
  src/test/ui/panic-runtime/need-unwind-got-abort.stderr
  src/test/ui/panic-runtime/transitive-link-a-bunch.stderr
  src/test/ui/panic-runtime/want-unwind-got-abort.rs
  src/test/ui/panic-runtime/want-unwind-got-abort.stderr
  src/test/ui/panic-runtime/want-unwind-got-abort2.stderr
  src/test/ui/unwind-abis/feature-gate-c-unwind.rs
  src/test/ui/unwind-abis/feature-gate-c-unwind.stderr
  src/test/ui/unwind-abis/ffi-unwind-calls-lint.rs
  src/test/ui/unwind-abis/ffi-unwind-calls-lint.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, F-c_unwind

#97585 CTFE interning: don't walk allocations that don't need it
  compiler/rustc_const_eval/src/interpret/intern.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98701 Add regression test for #50439
  src/test/ui/consts/issue-50439.rs
  src/test/ui/consts/issue-50439.stderr
Labels: T-compiler, S-waiting-on-bors

#98715 add ice test for #97047
  src/test/ui/const-generics/generic_const_exprs/issue-97047-ice-1.rs
  src/test/ui/const-generics/generic_const_exprs/issue-97047-ice-1.stderr
  src/test/ui/const-generics/generic_const_exprs/issue-97047-ice-2.rs
  src/test/ui/const-generics/generic_const_exprs/issue-97047-ice-2.stderr
Labels: T-compiler, S-waiting-on-bors

#98753 Fix `x dist rust-dev` on a fresh checkout
  src/bootstrap/dist.rs
Labels: A-LLVM, A-rustbuild, S-waiting-on-bors

#98805 Add #95469 to the release notes
  RELEASES.md
Labels: S-waiting-on-bors

#98812 feat: Add a documentation problem issue template
  .github/ISSUE_TEMPLATE/documentation.md
Labels: S-waiting-on-bors

#98569 Avoid unnecessary work in `finalize_resolutions_in`.
  compiler/rustc_resolve/src/imports.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98570 get rid of `tcx` in deadlock handler when parallel compilation
  compiler/rustc_interface/src/util.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/query/job.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98673 Bump bootstrap compiler
  compiler/rustc_borrowck/src/borrowck_errors.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/lib.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_session/src/session.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/src/macros.rs
  library/alloc/src/vec/mod.rs
  library/core/src/clone.rs
  library/core/src/cmp.rs
  library/core/src/fmt/mod.rs
  library/core/src/hash/mod.rs
  library/core/src/primitive_docs.rs
  library/core/src/ptr/mod.rs
  library/core/src/tuple.rs
  library/core/tests/ptr.rs
  library/std/src/lib.rs
  library/std/src/primitive_docs.rs
  library/unwind/src/lib.rs
  src/librustdoc/lib.rs
  src/stage0.json
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#98755 Optimize `Vec::insert` for the case where `index == len`.
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#97437 `impl<T: AsRawFd> AsRawFd for {Arc,Box}<T>`
  library/std/src/os/fd/owned.rs
  library/std/src/os/fd/raw.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#98373 Move locking from bootstrap.py to rust bootstrap, using fd-lock
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/bin/main.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/lib.rs
  src/bootstrap/util.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#98439 Clean up submodule checkout scripts
  src/ci/docker/host-x86_64/dist-various-2/shared.sh
  src/ci/init_repo.sh
  src/ci/scripts/checkout-submodules.sh
Labels: S-waiting-on-bors, merged-by-bors

#98864 Rollup of 4 pull requests
  .github/ISSUE_TEMPLATE/library_tracking_issue.md
  compiler/rustc_driver/src/lib.rs
  src/bootstrap/builder.rs
  src/bootstrap/doc.rs
  src/librustdoc/config.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/lib.rs
  src/test/run-make/issue-88756-opt-help/Makefile
  src/test/run-make/issue-88756-opt-help/README.md
  src/test/run-make/issue-88756-opt-help/output-default.stdout
  src/test/run-make/issue-88756-opt-help/x.rs
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc-gui/source-code-page.goml
  src/test/rustdoc-ui/issue-83883-describe-lints.rs
  src/test/rustdoc-ui/issue-83883-describe-lints.stdout
  src/tools/compiletest/src/runtest.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#98764 add Miri to the nightly docs
  src/bootstrap/builder.rs
  src/bootstrap/doc.rs
Labels: A-bootstrap, A-docs, S-waiting-on-bors, A-miri

#98773 rustdoc: use <details> tag for the source code sidebar
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/html/static/js/source-script.js
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc-gui/source-code-page.goml
Labels: T-rustdoc, S-waiting-on-bors

#98799 Fix bug in `rustdoc -Whelp`
  compiler/rustc_driver/src/lib.rs
  src/librustdoc/config.rs
  src/librustdoc/lib.rs
  src/test/run-make/issue-88756-opt-help/Makefile
  src/test/run-make/issue-88756-opt-help/README.md
  src/test/run-make/issue-88756-opt-help/output-default.stdout
  src/test/run-make/issue-88756-opt-help/x.rs
  src/test/rustdoc-ui/issue-83883-describe-lints.rs
  src/test/rustdoc-ui/issue-83883-describe-lints.stdout
  src/tools/compiletest/src/runtest.rs
Labels: T-rustdoc, A-lint, S-waiting-on-bors

#98446 Don't use match-destructuring for derived ops on structs.
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_expand/src/build.rs
  src/test/mir-opt/combine_clone_of_primitives.{impl#0}-clone.InstCombine.diff
  src/test/run-make-fulldeps/coverage-reports/expected_show_coverage.uses_crate.txt
  src/test/ui/deriving/deriving-all-codegen.rs
  src/test/ui/deriving/deriving-all-codegen.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98731 Revert #95993 fix
  src/bootstrap/bin/rustdoc.rs
Labels: S-waiting-on-bors, merged-by-bors

#98870 Add regression test for #86784
  src/test/ui/recursion/issue-86784.rs
Labels: T-compiler, S-waiting-on-bors

#98874 Rollup of 5 pull requests
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_passes/src/entry.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/source-script.js
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc/assoc-types.rs
  src/test/rustdoc/decl-trailing-whitespace.declaration.html
  src/test/rustdoc/decl-trailing-whitespace.rs
  src/test/ui/abi/rustcall-generic.rs
  src/test/ui/recursion/issue-86784.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#98774 rustdoc: make source sidebar toggle a real button
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/source-script.js
  src/test/rustdoc-gui/sidebar-source-code-display.goml
Labels: T-rustdoc, S-waiting-on-bors

#98641 fully move dropck to mir
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_typeck/src/check/dropck.rs
  src/test/ui/dropck/dropck_no_diverge_on_nonregular_1.rs
  src/test/ui/dropck/dropck_no_diverge_on_nonregular_1.stderr
  src/test/ui/dropck/dropck_no_diverge_on_nonregular_2.rs
  src/test/ui/dropck/dropck_no_diverge_on_nonregular_2.stderr
  src/test/ui/dropck/dropck_no_diverge_on_nonregular_3.rs
  src/test/ui/dropck/dropck_no_diverge_on_nonregular_3.stderr
  src/test/ui/infinite/infinite-struct.rs
  src/test/ui/infinite/infinite-struct.stderr
  src/test/ui/infinite/infinite-tag-type-recursion.rs
  src/test/ui/infinite/infinite-tag-type-recursion.stderr
  src/test/ui/recursion/issue-38591-non-regular-dropck-recursion.rs
  src/test/ui/recursion/issue-38591-non-regular-dropck-recursion.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98817 Only obey optimize-tests flag on UI tests that are run-pass
  src/bootstrap/test.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/main.rs
  src/tools/compiletest/src/runtest.rs
Labels: S-waiting-on-bors, merged-by-bors

#98573 adapt native-link-modifier-bundle test to use llvm-nm
  src/test/run-make/native-link-modifier-bundle/Makefile
Labels: S-waiting-on-bors, merged-by-bors

#98627 interpret: don't rely on ScalarPair for overflowed arithmetic
  compiler/rustc_const_eval/src/interpret/operator.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#98878 add more `rustc_pass_by_value`
  compiler/rustc_borrowck/src/constraint_generation.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_type_ir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#98879 Fix "wrap closure in parenthesis" suggestion for `async` closure
  compiler/rustc_typeck/src/check/callee.rs
  src/test/ui/suggestions/suggest-on-bare-closure-call.rs
  src/test/ui/suggestions/suggest-on-bare-closure-call.stderr
Labels: T-compiler, S-waiting-on-bors

#98886 incr.comp.: Make split-dwarf commandline options [TRACKED].
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  src/test/incremental/split_debuginfo_mode.rs
Labels: T-compiler, S-waiting-on-bors

#98898 Add "no-div-regex" eslint rule
  src/librustdoc/html/static/.eslintrc.js
Labels: T-rustdoc, S-waiting-on-bors

#98904 Rollup of 8 pull requests
  compiler/rustc_borrowck/src/constraint_generation.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_typeck/src/check/callee.rs
  compiler/rustc_typeck/src/impl_wf_check/min_specialization.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/.eslintrc.js
  src/test/incremental/split_debuginfo_mode.rs
  src/test/rustdoc/assoc-consts.rs
  src/test/rustdoc/const-value-display.rs
  src/test/rustdoc/hide-complex-unevaluated-const-arguments.rs
  src/test/rustdoc/hide-complex-unevaluated-consts.rs
  src/test/rustdoc/show-const-contents.rs
  src/test/ui/specialization/min_specialization/repeated_projection_type.stderr
  src/test/ui/specialization/min_specialization/spec-marker-supertraits.stderr
  src/test/ui/specialization/min_specialization/specialization_super_trait.stderr
  src/test/ui/specialization/min_specialization/specialization_trait.stderr
  src/test/ui/specialization/min_specialization/specialize_on_trait.stderr
  src/test/ui/suggestions/suggest-on-bare-closure-call.rs
  src/test/ui/suggestions/suggest-on-bare-closure-call.stderr
  src/tools/tidy/src/bins.rs
  src/tools/tidy/src/main.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#98738 Clarify MIR semantics of checked binary operations
  compiler/rustc_middle/src/mir/syntax.rs
Labels: T-compiler, S-waiting-on-bors

#98782 Improve spans for specialization error
  compiler/rustc_typeck/src/impl_wf_check/min_specialization.rs
  src/test/ui/specialization/min_specialization/repeated_projection_type.stderr
  src/test/ui/specialization/min_specialization/spec-marker-supertraits.stderr
  src/test/ui/specialization/min_specialization/specialization_super_trait.stderr
  src/test/ui/specialization/min_specialization/specialization_trait.stderr
  src/test/ui/specialization/min_specialization/specialize_on_trait.stderr
Labels: T-compiler, S-waiting-on-bors

#98814 rustdoc: Censor certain complex unevaluated const exprs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/test/rustdoc/assoc-consts.rs
  src/test/rustdoc/const-value-display.rs
  src/test/rustdoc/hide-complex-unevaluated-const-arguments.rs
  src/test/rustdoc/hide-complex-unevaluated-consts.rs
  src/test/rustdoc/show-const-contents.rs
Labels: T-rustdoc, S-waiting-on-bors

#98846 interpret: track place alignment together with the type, not the value
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98872 Add method to mutate MIR body without invalidating CFG caches.
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_transform/src/dead_store_elimination.rs
  compiler/rustc_mir_transform/src/deaggregator.rs
  compiler/rustc_mir_transform/src/lower_slice_len.rs
  compiler/rustc_mir_transform/src/normalize_array_len.rs
  compiler/rustc_mir_transform/src/remove_storage_markers.rs
  compiler/rustc_mir_transform/src/remove_zsts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#98854 clean up the borrowing in rustc_hir_pretty
  compiler/rustc_hir_pretty/src/lib.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#98910 Rollup of 6 pull requests
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_const_eval/src/interpret/visitor.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/consts/int.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/writeback.rs
  library/std/src/net/tcp.rs
  src/test/ui/enum/suggest-default-attribute.rs
  src/test/ui/enum/suggest-default-attribute.stderr
  src/test/ui/inference/ambiguous_type_parameter.stderr
  src/test/ui/inference/cannot-infer-partial-try-return.rs
  src/test/ui/inference/cannot-infer-partial-try-return.stderr
  src/test/ui/inference/need_type_info/channel.rs
  src/test/ui/inference/need_type_info/channel.stderr
  src/test/ui/issues/issue-23041.stderr
  src/test/ui/issues/issue-24013.stderr
  src/test/ui/issues/issue-25368.rs
  src/test/ui/issues/issue-25368.stderr
  src/test/ui/methods/method-ambig-one-trait-unknown-int-type.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#98761 more `need_type_info` improvements
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/writeback.rs
  src/test/ui/inference/ambiguous_type_parameter.stderr
  src/test/ui/inference/cannot-infer-partial-try-return.rs
  src/test/ui/inference/cannot-infer-partial-try-return.stderr
  src/test/ui/inference/need_type_info/channel.rs
  src/test/ui/inference/need_type_info/channel.stderr
  src/test/ui/issues/issue-23041.stderr
  src/test/ui/issues/issue-24013.stderr
  src/test/ui/issues/issue-25368.rs
  src/test/ui/issues/issue-25368.stderr
  src/test/ui/methods/method-ambig-one-trait-unknown-int-type.stderr
Labels: T-compiler, S-waiting-on-bors

#98811 Interpret: AllocRange Debug impl, and use it more consistently
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/consts/int.rs
Labels: T-compiler, S-waiting-on-bors

#98847 fix interpreter validity check on Box
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_const_eval/src/interpret/visitor.rs
  compiler/rustc_const_eval/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#98873 Suggest `#[derive(Default)]` to enums with `#[default]`
  compiler/rustc_resolve/src/diagnostics.rs
  src/test/ui/enum/suggest-default-attribute.rs
  src/test/ui/enum/suggest-default-attribute.stderr
Labels: T-compiler, S-waiting-on-bors

#97300 Implement `FusedIterator` for `std::net::[Into]Incoming`
  library/std/src/net/tcp.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#96862 Change enum->int casts to not go through MIR casts.
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/mir/statement.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_middle/src/ty/cast.rs
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  src/test/codegen/enum-bounds-check-derived-idx.rs
  src/test/codegen/enum-bounds-check-issue-13926.rs
  src/test/codegen/enum-bounds-check-issue-82871.rs
  src/test/codegen/enum-bounds-check.rs
  src/test/mir-opt/enum_cast.bar.mir_map.0.mir
  src/test/mir-opt/enum_cast.boo.mir_map.0.mir
  src/test/mir-opt/enum_cast.droppy.mir_map.0.mir
  src/test/mir-opt/enum_cast.foo.mir_map.0.mir
  src/test/mir-opt/enum_cast.rs
  src/test/run-pass-valgrind/cast-enum-with-dtor.rs
Labels: T-lang, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#98624 lints: mostly translatable diagnostics
  compiler/rustc_error_messages/locales/en-US/lint.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_lint/src/array_into_iter.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/enum_intrinsics_non_enums.rs
  compiler/rustc_lint/src/expect.rs
  compiler/rustc_lint/src/hidden_unicode_codepoints.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/methods.rs
  compiler/rustc_lint/src/non_ascii_idents.rs
  compiler/rustc_lint/src/non_fmt_panic.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_lint/src/noop_method_call.rs
  compiler/rustc_lint/src/pass_by_value.rs
  compiler/rustc_lint/src/redundant_semicolon.rs
  compiler/rustc_lint/src/traits.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_passes/src/check_attr.rs
  src/test/ui-fulldeps/internal-lints/existing_doc_keyword.stderr
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
  src/test/ui/consts/const-eval/const_panic_stability.e2018.stderr
  src/test/ui/non-fmt-panic.stderr
Labels: T-compiler, S-waiting-on-bors

#97712 ptr::copy and ptr::swap are doing untyped copies
  library/core/src/intrinsics.rs
  library/core/src/ptr/mod.rs
  library/core/tests/ptr.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce, I-lang-nominated

#98584 continue nll transition by removing stuff
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/free_regions.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/outlives/env.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/query/dropck_outlives.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/custom.rs
  compiler/rustc_ty_utils/src/ty.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/compare_method.rs
  compiler/rustc_typeck/src/check/dropck.rs
  compiler/rustc_typeck/src/check/mod.rs
  compiler/rustc_typeck/src/check/regionck.rs
  compiler/rustc_typeck/src/check/wfcheck.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  compiler/rustc_typeck/src/impl_wf_check/min_specialization.rs
  compiler/rustc_typeck/src/outlives/outlives_bounds.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98860 adjust dangling-int-ptr error message
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  src/test/ui/const-ptr/forbidden_slices.32bit.stderr
  src/test/ui/const-ptr/forbidden_slices.64bit.stderr
  src/test/ui/consts/const-deref-ptr.stderr
  src/test/ui/consts/const-eval/const_raw_ptr_ops2.rs
  src/test/ui/consts/const-eval/const_raw_ptr_ops2.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.32bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.64bit.stderr
  src/test/ui/consts/const-mut-refs/mut_ref_in_final_dynamic_check.rs
  src/test/ui/consts/const-mut-refs/mut_ref_in_final_dynamic_check.stderr
  src/test/ui/consts/offset_from_ub.rs
  src/test/ui/consts/offset_from_ub.stderr
  src/test/ui/consts/offset_ub.stderr
  src/test/ui/consts/ptr_comparisons.stderr
  src/test/ui/error-codes/E0396-fixed.stderr
Labels: T-compiler, S-waiting-on-bors

#98888 interpret: fix CheckedBinOp behavior when overflow checking is disabled
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_middle/src/mir/syntax.rs
Labels: T-compiler, S-waiting-on-bors

#98889 Add regression test for #79467
  src/test/rustdoc-ui/issue-79467.rs
  src/test/rustdoc-ui/issue-79467.stderr
Labels: T-rustdoc, S-waiting-on-bors

#98895 bootstrap.py: Always use `.exe` for Windows
  src/bootstrap/bootstrap.py
Labels: S-waiting-on-bors

#98921 Refactor: remove a redundant mutable variable
  compiler/rustc_trait_selection/src/traits/fulfill.rs
Labels: T-compiler, S-waiting-on-bors

#98880 Proper macOS libLLVM symlink when cross compiling
  src/bootstrap/native.rs
Labels: A-bootstrap, S-waiting-on-bors

#98944 Edit `rustc_mir_dataflow::framework::lattice::FlatSet` docs
  compiler/rustc_mir_dataflow/src/framework/lattice.rs
Labels: T-compiler, S-waiting-on-bors

#98256 Fix whitespace handling after where clause
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/print_item.rs
  src/test/rustdoc/whitespace-after-where-clause.enum.html
  src/test/rustdoc/whitespace-after-where-clause.enum2.html
  src/test/rustdoc/whitespace-after-where-clause.rs
  src/test/rustdoc/whitespace-after-where-clause.struct.html
  src/test/rustdoc/whitespace-after-where-clause.struct2.html
  src/test/rustdoc/whitespace-after-where-clause.trait.html
  src/test/rustdoc/whitespace-after-where-clause.trait2.html
  src/test/rustdoc/whitespace-after-where-clause.union.html
  src/test/rustdoc/whitespace-after-where-clause.union2.html
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#96814 Fix repr(align) enum handling
  compiler/rustc_middle/src/ty/layout.rs
  src/test/ui/aligned_enum_cast.rs
  src/test/ui/layout/issue-96185-overaligned-enum.rs
  src/test/ui/layout/issue-96185-overaligned-enum.stderr
Labels: T-compiler, S-waiting-on-bors

#95503 bootstrap: Allow building individual crates
  src/bootstrap/builder.rs
  src/bootstrap/builder/tests.rs
  src/bootstrap/cache.rs
  src/bootstrap/check.rs
  src/bootstrap/compile.rs
  src/bootstrap/dist.rs
  src/bootstrap/doc.rs
  src/bootstrap/test.rs
  src/bootstrap/tool.rs
Labels: A-bootstrap, S-waiting-on-bors, T-infra

#98967 fix typo in note about multiple inaccessible type aliases
  compiler/rustc_resolve/src/diagnostics.rs
  src/test/ui/imports/inaccessible_type_aliases.rs
  src/test/ui/imports/inaccessible_type_aliases.stderr
Labels: T-compiler, S-waiting-on-bors

#98968 assert Scalar sanity
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_middle/src/ty/layout.rs
  src/test/ui/consts/const-enum-cast.rs
Labels: T-compiler, S-waiting-on-bors

#98970 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_lint/Cargo.toml
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_macros/src/diagnostics/diagnostic.rs
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/error.rs
  compiler/rustc_macros/src/diagnostics/mod.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_macros/src/lib.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_mir_transform/src/check_const_item_mutation.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  src/librustdoc/passes/check_code_block_syntax.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
  src/test/ui/consts/const-enum-cast.rs
  src/test/ui/imports/inaccessible_type_aliases.rs
  src/test/ui/imports/inaccessible_type_aliases.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#98881 Only compute DefKind through the query.
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_query_impl/src/plumbing.rs
Labels: T-compiler, S-waiting-on-bors

#98884 macros: `LintDiagnostic` derive
  Cargo.lock
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_lint/Cargo.toml
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_macros/src/diagnostics/diagnostic.rs
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/error.rs
  compiler/rustc_macros/src/diagnostics/mod.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_macros/src/lib.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_mir_transform/src/check_const_item_mutation.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  src/librustdoc/passes/check_code_block_syntax.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#98964 fix typo in function name
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
Labels: T-compiler, S-waiting-on-bors

#98959 Return a FxIndexSet in is_late_bound query.
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  src/test/incremental/async-lifetimes.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors

#98971 Fix typo in file descriptor docs
  library/std/src/os/fd/raw.rs
Labels: S-waiting-on-bors, T-libs

#98983 docs: Add overview of `rustc_middle::mir::TerminatorKind`
  compiler/rustc_middle/src/mir/syntax.rs
Labels: T-compiler, S-waiting-on-bors

#98984 Remove erroneous doc comment
  compiler/rustc_middle/src/mir/syntax.rs
Labels: T-compiler, S-waiting-on-bors

#98911 rustdoc: filter '_ lifetimes from ty::Generics
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/auxiliary/issue-98697-reexport-with-anonymous-lifetime.rs
  src/test/rustdoc/issue-98697.rs
Labels: T-rustdoc, S-waiting-on-bors

#98939 rustdoc: Add more semantic information to impl IDs
  library/core/src/char/convert.rs
  library/core/src/hash/mod.rs
  library/core/src/option.rs
  library/core/src/result.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/test/rustdoc-gui/anchors.goml
  src/test/rustdoc-gui/headers-color.goml
  src/test/rustdoc-gui/headings.goml
  src/test/rustdoc-gui/implementors.goml
  src/test/rustdoc-gui/item-info-overflow.goml
  src/test/rustdoc-gui/toggle-click-deadspace.goml
  src/test/rustdoc/auto-trait-not-send.rs
  src/test/rustdoc/blanket-reexport-item.rs
  src/test/rustdoc/const-generics/const-generics-docs.rs
  src/test/rustdoc/const-generics/const-impl.rs
  src/test/rustdoc/double-quote-escape.rs
  src/test/rustdoc/empty-impls.rs
  src/test/rustdoc/generic-impl.rs
  src/test/rustdoc/hidden-trait-struct-impls.rs
  src/test/rustdoc/impl-box.rs
  src/test/rustdoc/issue-29503.rs
  src/test/rustdoc/issue-75588.rs
  src/test/rustdoc/issue-78701.rs
  src/test/rustdoc/primitive/primitive-generic-impl.rs
  src/test/rustdoc/rfc-2632-const-trait-impl.rs
  src/test/rustdoc/sized_trait.rs
  src/test/rustdoc/src-links-auto-impls.rs
  src/test/rustdoc/trait-impl.rs
Labels: T-rustdoc, S-waiting-on-bors

#98519 Replace some `guess_head_span` with `def_span`
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_const_eval/src/transform/check_consts/ops.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/ty/error.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/compare_method.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  compiler/rustc_typeck/src/coherence/mod.rs
  compiler/rustc_typeck/src/coherence/orphan.rs
  compiler/rustc_typeck/src/lib.rs
  src/test/mir-opt/unusual_item_types.Test-X-{constructor#0}.mir_map.0.32bit.mir
  src/test/mir-opt/unusual_item_types.Test-X-{constructor#0}.mir_map.0.64bit.mir
  src/test/rustdoc-ui/deny-missing-docs-crate.stderr
  src/test/ui/empty/empty-struct-braces-pat-3.stderr
  src/test/ui/empty/empty-struct-tuple-pat.stderr
  src/test/ui/empty/empty-struct-unit-pat.stderr
  src/test/ui/issues/issue-34209.stderr
  src/test/ui/issues/issue-37884.stderr
  src/test/ui/issues/issue-77919.stderr
  src/test/ui/lint/lint-missing-doc.stderr
  src/test/ui/mismatched_types/issue-47706.stderr
  src/test/ui/namespace/namespace-mix.stderr
  src/test/ui/pattern/pat-tuple-field-count-cross.stderr
  src/test/ui/pattern/pat-tuple-overfield.stderr
  src/test/ui/proc-macro/parent-source-spans.stderr
  src/test/ui/repr/repr-transparent.stderr
  src/test/ui/resolve/privacy-enum-ctor.stderr
  src/test/ui/rfc-2008-non-exhaustive/variant.stderr
  src/test/ui/suggestions/fn-or-tuple-struct-without-args.stderr
  src/test/ui/suggestions/parenthesized-deref-suggestion.rs
  src/test/ui/suggestions/parenthesized-deref-suggestion.stderr
  src/test/ui/suggestions/suggest-variants.stderr
  src/tools/clippy/tests/ui/crashes/ice-6252.stderr
Labels: T-compiler, S-waiting-on-bors

#96935 Allow arithmetic and certain bitwise ops on AtomicPtr
  compiler/rustc_codegen_ssa/src/mir/intrinsic.rs
  library/core/src/sync/atomic.rs
  library/core/tests/atomic.rs
  library/core/tests/lib.rs
Labels: T-libs-api, T-compiler, S-waiting-on-bors

#98831 interpret: remove support for unsized_locals
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  src/test/ui/consts/const-eval/ub-ref-ptr.32bit.stderr
  src/test/ui/consts/const-eval/ub-ref-ptr.64bit.stderr
  src/test/ui/consts/offset_from_ub.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98487 Do not fetch HIR to compute variances.
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_typeck/src/variance/constraints.rs
  compiler/rustc_typeck/src/variance/solve.rs
  compiler/rustc_typeck/src/variance/terms.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98827 Suggest using block for `extern "abi" fn` with no body
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_parse/src/parser/mod.rs
  src/test/ui/extern/not-in-block.rs
  src/test/ui/extern/not-in-block.stderr
  src/tools/clippy/clippy_lints/src/excessive_bools.rs
  src/tools/clippy/clippy_utils/src/ast_utils.rs
  src/tools/rustfmt/src/items.rs
  src/tools/rustfmt/src/utils.rs
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#98841 Use a bitset instead of a hash map in HIR ID validator
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_passes/src/hir_id_validator.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98675 rustc_codegen_ssa: use `project_index`, not `project_field`, for array literals.
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98930 Make MIR basic blocks field public
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/invalidation.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_middle/src/mir/basic_blocks.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/traversal.rs
  compiler/rustc_mir_build/src/lints.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/framework/engine.rs
  compiler/rustc_mir_transform/src/add_call_guards.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
  compiler/rustc_mir_transform/src/dead_store_elimination.rs
  compiler/rustc_mir_transform/src/deaggregator.rs
  compiler/rustc_mir_transform/src/elaborate_box_derefs.rs
  compiler/rustc_mir_transform/src/instcombine.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  compiler/rustc_mir_transform/src/lower_slice_len.rs
  compiler/rustc_mir_transform/src/match_branches.rs
  compiler/rustc_mir_transform/src/normalize_array_len.rs
  compiler/rustc_mir_transform/src/nrvo.rs
  compiler/rustc_mir_transform/src/remove_storage_markers.rs
  compiler/rustc_mir_transform/src/remove_unneeded_drops.rs
  compiler/rustc_mir_transform/src/remove_zsts.rs
  compiler/rustc_mir_transform/src/separate_const_switch.rs
  compiler/rustc_mir_transform/src/simplify_try.rs
  src/tools/clippy/clippy_lints/src/redundant_clone.rs
Labels: T-compiler, S-waiting-on-bors

#98981 Edit `rustc_mir_dataflow::framework` documentation
  compiler/rustc_mir_dataflow/src/framework/mod.rs
Labels: T-compiler, S-waiting-on-bors

#98507 Finishing touches for `#[expect]` (RFC 2383)
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_lint_defs/src/lib.rs
  src/tools/clippy/clippy_lints/src/duplicate_mod.rs
  src/tools/clippy/tests/ui-cargo/duplicate_mod/fail/src/d.rs
  src/tools/clippy/tests/ui-cargo/duplicate_mod/fail/src/main.rs
  src/tools/clippy/tests/ui-cargo/duplicate_mod/fail/src/main.stderr
Labels: T-compiler, S-waiting-on-bors, F-lint_reasons

#95573 Make lowering a query
  Cargo.lock
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/block.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/type_map.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_hir/Cargo.toml
  compiler/rustc_hir/src/arena.rs
  compiler/rustc_hir/src/lib.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/dep_graph/mod.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/dep_graph/dep_node.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  compiler/rustc_query_system/src/ich/hcx.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
  src/librustdoc/passes/check_code_block_syntax.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#98844 Reword comments and rename HIR visiting methods.
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_incremental/src/assert_dep_graph.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/hir/nested_filter.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/check_const.rs
  compiler/rustc_passes/src/hir_id_validator.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_passes/src/loops.rs
  compiler/rustc_passes/src/naked_functions.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_typeck/src/collect.rs
  src/librustdoc/scrape_examples.rs
  src/test/ui/dep-graph/dep-graph-struct-signature.stderr
  src/test/ui/dep-graph/dep-graph-type-alias.stderr
  src/test/ui/stability-attribute/missing-const-stability.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#98979 interpret: use AllocRange in UninitByteAccess
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  src/test/ui/intrinsics/intrinsic-raw_eq-const-padding.stderr
Labels: T-compiler, S-waiting-on-bors

#98986 Fix missing word in comment
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
Labels: T-compiler, S-waiting-on-bors

#98994 replace process exit with more detailed exit in src/bootstrap/*.rs
  src/bootstrap/builder.rs
  src/bootstrap/compile.rs
  src/bootstrap/config.rs
  src/bootstrap/flags.rs
  src/bootstrap/format.rs
  src/bootstrap/lib.rs
  src/bootstrap/sanity.rs
  src/bootstrap/setup.rs
  src/bootstrap/test.rs
  src/bootstrap/tool.rs
  src/bootstrap/toolstate.rs
  src/bootstrap/util.rs
Labels: S-waiting-on-bors

#98995 Add a test for #80471
  src/test/ui/const-generics/issue-80471.rs
  src/test/ui/const-generics/issue-80471.stderr
Labels: T-compiler, S-waiting-on-bors

#99017 Replace boolean argument for print_where_clause with an enum to make code more clear
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#97917 Implement ExitCodeExt for Windows
  library/std/src/os/windows/process.rs
  library/std/src/process.rs
  library/std/src/sys/windows/process.rs
Labels: O-windows, T-libs-api, S-waiting-on-bors, A-process

#98795 A few cleanups
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_infer/src/infer/free_regions.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/opaque_types.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
Labels: T-compiler, S-waiting-on-bors

#98798 Fix caching bug in `download-rustc = true`
  src/bootstrap/builder.rs
  src/bootstrap/config.rs
Labels: A-bootstrap, S-waiting-on-bors, T-infra

#98718 Stabilize `into_future`
  library/core/src/future/into_future.rs
  library/core/src/future/mod.rs
  src/test/ui/async-await/await-into-future.rs
Labels: S-waiting-on-bors, T-libs

#98638 Use less string interning
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_codegen_ssa/src/back/command.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/traits/consts.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_span/src/symbol.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99054 Rollup of 4 pull requests
  Cargo.lock
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/ops.rs
  compiler/rustc_error_messages/locales/en-US/builtin_macros.ftl
  compiler/rustc_error_messages/locales/en-US/const_eval.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_macros/src/diagnostics/fluent.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/structural_match.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/cfg_build.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/cfg_visualize.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/record_consumed_borrow.rs
  src/test/ui/issues/issue-21974.stderr
  src/test/ui/issues/issue-24424.stderr
  src/test/ui/lifetimes/issue-34979.stderr
  src/test/ui/traits/issue-85735.stderr
  src/test/ui/type/type-check/issue-40294.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#98794 Highlight conflicting param-env candidates
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  src/test/ui/issues/issue-21974.stderr
  src/test/ui/issues/issue-24424.stderr
  src/test/ui/lifetimes/issue-34979.stderr
  src/test/ui/traits/issue-85735.stderr
  src/test/ui/type/type-check/issue-40294.stderr
Labels: T-compiler, S-waiting-on-bors

#98533 Add a `-Zdump-drop-tracking-cfg` debugging flag
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/cfg_build.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/cfg_visualize.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/record_consumed_borrow.rs
Labels: T-compiler, S-waiting-on-bors, A-async-await, A-contributor-roadblock, A-control-flow

#98614 don't succeed `evaluate_obligation` query if new opaque types were registered
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_infer/src/infer/undo_log.rs
  compiler/rustc_infer/src/traits/project.rs
  compiler/rustc_middle/src/traits/select.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/lib.rs
  src/test/ui/impl-trait/auto-trait-leak.rs
  src/test/ui/impl-trait/auto-trait-leak.stderr
  src/test/ui/type-alias-impl-trait/auto-trait-leakage3.rs
  src/test/ui/type-alias-impl-trait/auto-trait-leakage3.stderr
  src/test/ui/type-alias-impl-trait/inference-cycle.rs
  src/test/ui/type-alias-impl-trait/inference-cycle.stderr
  src/test/ui/type-alias-impl-trait/issue-98604.rs
  src/test/ui/type-alias-impl-trait/issue-98604.stderr
  src/test/ui/type-alias-impl-trait/issue-98608.rs
  src/test/ui/type-alias-impl-trait/issue-98608.stderr
  src/test/ui/type-alias-impl-trait/reveal_local.rs
  src/test/ui/type-alias-impl-trait/reveal_local.stderr
Labels: beta-nominated, beta-accepted, T-compiler, S-waiting-on-bors, stable-nominated, stable-accepted, merged-by-bors

#98961 Only enable ConstProp on opt level >= 1
  compiler/rustc_mir_transform/src/const_prop.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#99028 Miscellaneous inlining improvements
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#98915 Clarify deriving code
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/ord.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/hash.rs
Labels: T-compiler, S-waiting-on-bors

#98980 fix ICE in ConstProp
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  src/test/ui/consts/issue-96169.rs
Labels: T-compiler, S-waiting-on-bors

#99008 Adding suggestion for E0530
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/lib.rs
  src/test/ui/empty/empty-struct-tuple-pat.stderr
  src/test/ui/pattern/pat-tuple-field-count-cross.stderr
  src/test/ui/pattern/pat-tuple-overfield.stderr
  src/test/ui/pattern/pattern-binding-disambiguation.stderr
Labels: T-compiler, S-waiting-on-bors

#99043 Collapse some weirdly-wrapping derives
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_target/src/asm/mod.rs
Labels: T-compiler, S-waiting-on-bors

#99048 Remove a string comparison about types
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
Labels: T-compiler, S-waiting-on-bors

#99070 Update integer_atomics tracking issue
  compiler/rustc_codegen_cranelift/patches/0027-sysroot-128bit-atomic-operations.patch
  library/core/src/panic/unwind_safe.rs
  library/core/src/sync/atomic.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#99078 Rollup of 7 pull requests
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/ord.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/hash.rs
  compiler/rustc_codegen_cranelift/patches/0027-sysroot-128bit-atomic-operations.patch
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/asm/mod.rs
  compiler/rustc_target/src/spec/android_base.rs
  compiler/rustc_target/src/spec/apple_base.rs
  compiler/rustc_target/src/spec/dragonfly_base.rs
  compiler/rustc_target/src/spec/freebsd_base.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/netbsd_base.rs
  compiler/rustc_target/src/spec/openbsd_base.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  library/core/src/panic/unwind_safe.rs
  library/core/src/sync/atomic.rs
  src/doc/unstable-book/src/compiler-flags/dwarf-version.md
  src/test/assembly/dwarf5.rs
  src/test/ui/consts/issue-96169.rs
  src/test/ui/empty/empty-struct-tuple-pat.stderr
  src/test/ui/pattern/pat-tuple-field-count-cross.stderr
  src/test/ui/pattern/pat-tuple-overfield.stderr
  src/test/ui/pattern/pattern-binding-disambiguation.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#98350 Implement support for DWARF version 5.
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/spec/android_base.rs
  compiler/rustc_target/src/spec/apple_base.rs
  compiler/rustc_target/src/spec/dragonfly_base.rs
  compiler/rustc_target/src/spec/freebsd_base.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/netbsd_base.rs
  compiler/rustc_target/src/spec/openbsd_base.rs
  src/doc/unstable-book/src/compiler-flags/dwarf-version.md
  src/test/assembly/dwarf5.rs
Labels: T-compiler, S-waiting-on-bors

#98328 Fix several issues during cross compiling
  src/bootstrap/native.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#99022 MIR dataflow: Rename function to `always_storage_live_locals`
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_mir_dataflow/src/storage.rs
  compiler/rustc_mir_transform/src/generator.rs
Labels: T-compiler, S-waiting-on-bors

#99050 Clarify MIR semantics of storage statements
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_middle/src/mir/syntax.rs
Labels: T-compiler, S-waiting-on-bors

#99067 Intra-doc-link-ify reference to Clone::clone_from
  library/alloc/src/borrow.rs
Labels: S-waiting-on-bors, T-libs
