Repository rust-lang/rust, pull requests merged in 2022-01, with the labels that each got.

#92338 Add try_reserve and try_reserve_exact for OsString
  library/std/src/ffi/os_str.rs
  library/std/src/sys/unix/os_str.rs
  library/std/src/sys/windows/os_str.rs
  library/std/src/sys_common/wtf8.rs
Labels: S-waiting-on-bors

#92405 Add a couple needs-asm-support headers to tests
  src/test/incremental/hashes/inline_asm.rs
  src/test/incremental/issue-72386.rs
Labels: S-waiting-on-bors

#92435 Sync rustc_codegen_cranelift
  compiler/rustc_codegen_cranelift/.github/workflows/main.yml
  compiler/rustc_codegen_cranelift/.github/workflows/nightly-cranelift.yml
  compiler/rustc_codegen_cranelift/.gitignore
  compiler/rustc_codegen_cranelift/Cargo.toml
  compiler/rustc_codegen_cranelift/Readme.md
  compiler/rustc_codegen_cranelift/build_system/build_backend.rs
  compiler/rustc_codegen_cranelift/build_system/build_sysroot.rs
  compiler/rustc_codegen_cranelift/docs/usage.md
  compiler/rustc_codegen_cranelift/example/mini_core_hello_world.rs
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/cargo-clif.rs
  compiler/rustc_codegen_cranelift/scripts/setup_rust_fork.sh
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_codegen_cranelift/scripts/tests.sh
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/emit.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/mod.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/unwind.rs
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_cranelift/src/lib.rs
Labels: A-codegen, T-compiler, S-waiting-on-bors, A-cranelift

#92440 Fix mobile toggles position
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/toggle-docs-mobile.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92465 Rollup of 7 pull requests
  compiler/rustc_codegen_cranelift/.github/workflows/main.yml
  compiler/rustc_codegen_cranelift/.github/workflows/nightly-cranelift.yml
  compiler/rustc_codegen_cranelift/.gitignore
  compiler/rustc_codegen_cranelift/Cargo.toml
  compiler/rustc_codegen_cranelift/Readme.md
  compiler/rustc_codegen_cranelift/build_system/build_backend.rs
  compiler/rustc_codegen_cranelift/build_system/build_sysroot.rs
  compiler/rustc_codegen_cranelift/docs/usage.md
  compiler/rustc_codegen_cranelift/example/mini_core_hello_world.rs
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/cargo-clif.rs
  compiler/rustc_codegen_cranelift/scripts/setup_rust_fork.sh
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_codegen_cranelift/scripts/tests.sh
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/emit.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/mod.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/unwind.rs
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_cranelift/src/lib.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  config.toml.example
  library/std/src/ffi/os_str.rs
  library/std/src/sys/unix/os_str.rs
  library/std/src/sys/windows/os_str.rs
  library/std/src/sys_common/wtf8.rs
  src/bootstrap/compile.rs
  src/bootstrap/config.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/incremental/hashes/inline_asm.rs
  src/test/incremental/issue-72386.rs
  src/test/rustdoc-gui/anchors.goml
  src/test/rustdoc-gui/font-weight.goml
  src/test/rustdoc-gui/toggle-docs-mobile.goml
  src/test/rustdoc/assoc-item-cast.rs
  src/test/rustdoc/trait-impl-items-links-and-anchors.rs
  src/test/ui/consts/invalid-union.32bit.stderr
  src/test/ui/consts/invalid-union.64bit.stderr
  src/test/ui/consts/invalid-union.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#91375 config.rs: Add support for a per-target default_linker option.
  config.toml.example
  src/bootstrap/compile.rs
  src/bootstrap/config.rs
Labels: S-waiting-on-bors, T-infra

#91480 rustdoc: use smaller number of colors to distinguish items
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/anchors.goml
  src/test/rustdoc-gui/font-weight.goml
  src/test/rustdoc/assoc-item-cast.rs
  src/test/rustdoc/trait-impl-items-links-and-anchors.rs
Labels: T-rustdoc, S-waiting-on-bors

#90383 Extend check for UnsafeCell in consts to cover unions
  compiler/rustc_const_eval/src/interpret/validity.rs
  src/test/ui/consts/invalid-union.32bit.stderr
  src/test/ui/consts/invalid-union.64bit.stderr
  src/test/ui/consts/invalid-union.rs
Labels: T-compiler, S-waiting-on-bors

#92294 Add Attribute::meta_kind
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_passes/src/lib_features.rs
  compiler/rustc_typeck/src/collect.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#92374 Update libssh2-sys
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#92420 Fix whitespace in pretty printed PatKind::Range
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_hir_pretty/src/lib.rs
  src/test/ui/half-open-range-patterns/half-open-range-pats-ref-ambiguous-interp.stderr
  src/test/ui/macros/stringify.rs
  src/test/ui/parser/intersection-patterns.rs
  src/test/ui/parser/intersection-patterns.stderr
  src/test/ui/range/range-inclusive-pattern-precedence.fixed
  src/test/ui/range/range-inclusive-pattern-precedence.stderr
  src/test/ui/range/range-inclusive-pattern-precedence2.stderr
  src/test/ui/unpretty-expr-fn-arg.stdout
Labels: T-compiler, S-waiting-on-bors

#92457 Sync rustc_codegen_gcc
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_codegen_gcc/Readme.md
  compiler/rustc_codegen_gcc/patches/0023-core-Ignore-failing-tests.patch
  compiler/rustc_codegen_gcc/patches/0024-core-Disable-portable-simd-test.patch
  compiler/rustc_codegen_gcc/patches/0028-core-Disable-long-running-tests.patch
  compiler/rustc_codegen_gcc/rust-toolchain
  compiler/rustc_codegen_gcc/src/asm.rs
  compiler/rustc_codegen_gcc/src/back/write.rs
  compiler/rustc_codegen_gcc/src/base.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_gcc/tests/run/asm.rs
Labels: A-codegen, T-compiler, S-waiting-on-bors, A-gcc

#92460 [rustc_builtin_macros] add indices to format_foreign::printf::Substitution::Escape
  compiler/rustc_builtin_macros/src/format_foreign.rs
  compiler/rustc_builtin_macros/src/format_foreign/printf/tests.rs
  src/test/ui/macros/issue-92267.rs
  src/test/ui/macros/issue-92267.stderr
Labels: T-compiler, S-waiting-on-bors

#92469 Make tidy check for magic numbers that spell things
  library/std/src/net/ip.rs
  src/test/ui/link-section.rs
  src/tools/clippy/tests/ui/unreadable_literal.fixed
  src/tools/clippy/tests/ui/unreadable_literal.rs
  src/tools/clippy/tests/ui/unreadable_literal.stderr
  src/tools/tidy/src/style.rs
Labels: T-compiler, S-waiting-on-bors

#92471 Rollup of 7 pull requests
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_builtin_macros/src/format_foreign.rs
  compiler/rustc_builtin_macros/src/format_foreign/printf/tests.rs
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_codegen_gcc/Readme.md
  compiler/rustc_codegen_gcc/patches/0023-core-Ignore-failing-tests.patch
  compiler/rustc_codegen_gcc/patches/0024-core-Disable-portable-simd-test.patch
  compiler/rustc_codegen_gcc/patches/0028-core-Disable-long-running-tests.patch
  compiler/rustc_codegen_gcc/rust-toolchain
  compiler/rustc_codegen_gcc/src/asm.rs
  compiler/rustc_codegen_gcc/src/back/write.rs
  compiler/rustc_codegen_gcc/src/base.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_gcc/tests/run/asm.rs
  compiler/rustc_hir_pretty/src/lib.rs
  library/alloc/src/vec/mod.rs
  library/std/src/net/ip.rs
  src/bootstrap/bootstrap.py
  src/test/ui/half-open-range-patterns/half-open-range-pats-ref-ambiguous-interp.stderr
  src/test/ui/link-section.rs
  src/test/ui/macros/issue-92267.rs
  src/test/ui/macros/issue-92267.stderr
  src/test/ui/macros/stringify.rs
  src/test/ui/parser/intersection-patterns.rs
  src/test/ui/parser/intersection-patterns.stderr
  src/test/ui/range/range-inclusive-pattern-precedence.fixed
  src/test/ui/range/range-inclusive-pattern-precedence.stderr
  src/test/ui/range/range-inclusive-pattern-precedence2.stderr
  src/test/ui/unpretty-expr-fn-arg.stdout
  src/tools/clippy/tests/ui/unreadable_literal.fixed
  src/tools/clippy/tests/ui/unreadable_literal.rs
  src/tools/clippy/tests/ui/unreadable_literal.stderr
  src/tools/tidy/src/style.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#92097 Implement split_at_spare_mut without Deref to a slice so that the spare slice is valid
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#92412 Fix double space in pretty printed TryBlock
  compiler/rustc_ast_pretty/src/pprust/state.rs
  src/test/ui/macros/stringify.rs
Labels: T-compiler, S-waiting-on-bors

#88310 Lock bootstrap (x.py) build directory
  src/bootstrap/bootstrap.py
Labels: A-rustbuild, S-waiting-on-bors, T-infra

#92419 Mark drop calls in landing pads `cold` instead of `noinline`
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  src/test/codegen/unwind-landingpad-cold.rs
  src/test/codegen/unwind-landingpad-inline.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#92455 rustc_metadata: Use a query for collecting all traits in encoder
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92396 Remove CommandEnv::apply
  library/std/src/sys_common/process.rs
Labels: S-waiting-on-bors, merged-by-bors

#92297 Reduce compile time of rustbuild
  Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/bin/rustc.rs
  src/bootstrap/bin/rustdoc.rs
  src/bootstrap/builder.rs
  src/bootstrap/cache.rs
  src/bootstrap/config.rs
  src/bootstrap/dylib_util.rs
  src/bootstrap/lib.rs
  src/bootstrap/util.rs
Labels: T-compiler, A-rustbuild, S-waiting-on-bors

#92332 Add test for where clause order
  src/test/rustdoc/where-clause-order.rs
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors

#92438 Enforce formatting for rustc_codegen_cranelift
  rustfmt.toml
Labels: T-compiler, S-waiting-on-bors

#92463 Remove pronunciation guide from Vec<T>
  library/alloc/src/vec/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#92468 Emit an error for `--cfg=)`
  compiler/rustc_interface/src/interface.rs
  src/test/ui/conditional-compilation/cfg-arg-invalid-8.rs
  src/test/ui/conditional-compilation/cfg-arg-invalid-8.stderr
Labels: T-compiler, S-waiting-on-bors

#92482 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_interface/src/interface.rs
  library/alloc/src/vec/mod.rs
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
  library/std/src/thread/mod.rs
  rustfmt.toml
  src/bootstrap/Cargo.toml
  src/bootstrap/bin/rustc.rs
  src/bootstrap/bin/rustdoc.rs
  src/bootstrap/builder.rs
  src/bootstrap/cache.rs
  src/bootstrap/config.rs
  src/bootstrap/dylib_util.rs
  src/bootstrap/lib.rs
  src/bootstrap/util.rs
  src/test/rustdoc/where-clause-order.rs
  src/test/ui/conditional-compilation/cfg-arg-invalid-8.rs
  src/test/ui/conditional-compilation/cfg-arg-invalid-8.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#91593 Remove unnecessary bounds for some Hash{Map,Set} methods
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#84083 Clarify the guarantees that ThreadId does and doesn't make.
  library/std/src/thread/mod.rs
Labels: I-needs-decision, T-libs-api, A-docs, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#92034 Remove effect of `#[no_link]` attribute on name resolution
  compiler/rustc_metadata/src/rmeta/decoder.rs
  src/test/ui/no-link.rs
  src/test/ui/no-link.stderr
Labels: T-lang, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#91961 Track caller of slice split and swap
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, merged-by-bors

#92066 Support [x; n] expressions in concat_bytes!
  compiler/rustc_builtin_macros/src/concat_bytes.rs
  src/test/ui/macros/concat-bytes-error.rs
  src/test/ui/macros/concat-bytes-error.stderr
  src/test/ui/macros/concat-bytes.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#90128 Stabilize -Z symbol-mangling-version=v0 as -C symbol-mangling-version=v0
  compiler/rustc_codegen_gcc/config.sh
  compiler/rustc_codegen_gcc/test.sh
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_symbol_mangling/src/lib.rs
  src/doc/unstable-book/src/compiler-flags/instrument-coverage.md
  src/test/codegen/inline-hint.rs
  src/test/run-make-fulldeps/a-b-a-linker-guard/Makefile
  src/test/run-make-fulldeps/share-generics-dylib/Makefile
  src/test/ui/lifetimes/issue-84604.rs
  src/test/ui/panics/issue-47429-short-backtraces.rs
  src/test/ui/polymorphization/closure_in_upvar/fn.rs
  src/test/ui/polymorphization/closure_in_upvar/fnmut.rs
  src/test/ui/polymorphization/closure_in_upvar/fnonce.rs
  src/test/ui/polymorphization/closure_in_upvar/other.rs
  src/test/ui/polymorphization/symbol-ambiguity.rs
  src/test/ui/symbol-names/basic.rs
  src/test/ui/symbol-names/const-generics-demangling.rs
  src/test/ui/symbol-names/const-generics-str-demangling.rs
  src/test/ui/symbol-names/const-generics-structural-demangling.rs
  src/test/ui/symbol-names/const-generics.rs
  src/test/ui/symbol-names/impl1.rs
  src/test/ui/symbol-names/issue-60925.rs
  src/test/ui/symbol-names/issue-75326.rs
  src/test/ui/symbol-names/issue-76365.rs
  src/test/ui/symbol-names/trait-objects.rs
Labels: T-compiler, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#92395 Rustdoc: use ThinVec for GenericArgs bindings
  compiler/rustc_data_structures/src/thin_vec.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#92080 Move `PatKind::Lit` checking from ast_validation to ast lowering
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  src/test/ui/match/expr_before_ident_pat.stderr
  src/test/ui/pattern/issue-92074-macro-ice.rs
  src/test/ui/pattern/issue-92074-macro-ice.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92409 Couple of libtest cleanups
  library/test/src/lib.rs
  library/test/src/stats.rs
  library/test/src/types.rs
Labels: C-cleanup, S-waiting-on-bors, A-libtest

#92418 Fix spacing in pretty printed PatKind::Struct with no fields
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_hir_pretty/src/lib.rs
  src/test/ui/macros/stringify.rs
Labels: T-compiler, S-waiting-on-bors

#92444 Consolidate Result's and Option's methods into fewer impl blocks
  library/core/src/option.rs
  library/core/src/result.rs
  src/test/ui/issues/issue-50264-inner-deref-trait/option-as_deref_mut.stderr
  src/test/ui/issues/issue-50264-inner-deref-trait/result-as_deref_mut.stderr
  src/test/ui/mismatched_types/method-help-unsatisfied-bound.rs
  src/test/ui/mismatched_types/method-help-unsatisfied-bound.stderr
Labels: S-waiting-on-bors, T-libs

#92518 Rollup of 6 pull requests
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_macros/src/serialize.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_resolve/src/late.rs
  library/core/src/option.rs
  library/core/src/result.rs
  library/test/src/lib.rs
  library/test/src/stats.rs
  library/test/src/types.rs
  src/test/ui/issues/issue-50264-inner-deref-trait/option-as_deref_mut.stderr
  src/test/ui/issues/issue-50264-inner-deref-trait/result-as_deref_mut.stderr
  src/test/ui/macros/stringify.rs
  src/test/ui/mismatched_types/method-help-unsatisfied-bound.rs
  src/test/ui/mismatched_types/method-help-unsatisfied-bound.stderr
  src/test/ui/suggestions/while-let-typo.rs
  src/test/ui/suggestions/while-let-typo.stderr
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#92402 Suggest while let x = y when encountering while x = y
  compiler/rustc_resolve/src/late.rs
  src/test/ui/suggestions/while-let-typo.rs
  src/test/ui/suggestions/while-let-typo.stderr
Labels: T-compiler, S-waiting-on-bors

#92011 Use field span in `rustc_macros` when emitting decode call
  compiler/rustc_macros/src/serialize.rs
Labels: T-compiler, S-waiting-on-bors

#90102 Remove `NullOp::Box`
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_monomorphize/src/collector.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
Labels: T-compiler, S-waiting-on-bors

#92314 Do not use LEB128 for encoding u16 and i16
  compiler/rustc_serialize/src/opaque.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92259 Remove special-cased stable hashing for HIR module
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/stable_hash_impls.rs
  compiler/rustc_query_system/src/ich/impls_hir.rs
  src/test/incremental/hash-module-order.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#92456 Make the documentation of builtin macro attributes accessible
  library/core/src/macros/mod.rs
  library/core/src/prelude/v1.rs
  library/std/src/prelude/v1.rs
Labels: T-rustdoc, S-waiting-on-bors, T-libs

#92507 Suggest single quotes when char expected, str provided
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  src/test/ui/inference/char-as-str-multi.rs
  src/test/ui/inference/char-as-str-multi.stderr
  src/test/ui/inference/char-as-str-single.fixed
  src/test/ui/inference/char-as-str-single.rs
  src/test/ui/inference/char-as-str-single.stderr
  src/test/ui/inference/str-as-char.fixed
  src/test/ui/inference/str-as-char.rs
  src/test/ui/inference/str-as-char.stderr
  src/test/ui/issues/issue-23589.stderr
Labels: T-compiler, S-waiting-on-bors

#92525 intra-doc: Make `Receiver::into_iter` into a clickable link
  library/std/src/sync/mpsc/mod.rs
Labels: S-waiting-on-bors, A-intra-doc-links, T-libs

#92532 revert #92254 "Bump gsgdt to 0.1.3"
  Cargo.lock
  compiler/rustc_middle/Cargo.toml
  compiler/rustc_middle/src/mir/generic_graph.rs
Labels: T-compiler, S-waiting-on-bors

#92556 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/Cargo.toml
  compiler/rustc_middle/src/mir/generic_graph.rs
  library/alloc/src/alloc.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/tests/boxed.rs
  library/alloc/tests/lib.rs
  library/core/src/macros/mod.rs
  library/core/src/prelude/v1.rs
  library/std/src/prelude/v1.rs
  library/std/src/sync/mpsc/mod.rs
  library/std/src/sys/windows/stdio.rs
  src/test/ui/inference/char-as-str-multi.rs
  src/test/ui/inference/char-as-str-multi.stderr
  src/test/ui/inference/char-as-str-single.fixed
  src/test/ui/inference/char-as-str-single.rs
  src/test/ui/inference/char-as-str-single.stderr
  src/test/ui/inference/str-as-char.fixed
  src/test/ui/inference/str-as-char.rs
  src/test/ui/inference/str-as-char.stderr
  src/test/ui/issues/issue-23589.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#91884 Constify `Box<T, A>` methods
  library/alloc/src/alloc.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/tests/boxed.rs
  library/alloc/tests/lib.rs
Labels: S-waiting-on-bors

#92107 Actually set IMAGE_SCN_LNK_REMOVE for .rmeta
  compiler/rustc_codegen_ssa/src/back/metadata.rs
Labels: T-compiler, S-waiting-on-bors

#91754 Modifications to `std::io::Stdin` on Windows so that there is no longer a 4-byte buffer minimum in read().
  library/std/src/sys/windows/stdio.rs
Labels: S-waiting-on-bors, T-libs

#92516 Do not use deprecated -Zsymbol-mangling-version in bootstrap
  src/bootstrap/builder.rs
Labels: S-waiting-on-bors

#92551 rename StackPopClean::None to Root
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_mir_transform/src/const_prop.rs
Labels: T-compiler, S-waiting-on-bors

#92515 RustWrapper: adapt for an LLVM API change
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#92530 Move `contains` method of Option and Result lower in docs
  library/core/src/option.rs
  library/core/src/result.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#91587 core::ops::unsize: improve docs for DispatchFromDyn
  library/core/src/ops/unsize.rs
Labels: A-dst, A-docs, S-waiting-on-bors, F-dispatch_from_dyn, T-libs

#91907 Allow `_` as the length of array types and repeat expressions
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_save_analysis/src/sig.rs
  compiler/rustc_typeck/src/astconv/generics.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/expr.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/collect.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  src/librustdoc/clean/mod.rs
  src/test/ui/const-generics/generic_arg_infer/array-in-sig.rs
  src/test/ui/const-generics/generic_arg_infer/array-in-sig.stderr
  src/test/ui/const-generics/generic_arg_infer/array-repeat-expr.rs
  src/test/ui/const-generics/generic_arg_infer/infer-arg-test.rs
  src/test/ui/const-generics/generic_arg_infer/infer-arg-test.stderr
  src/test/ui/feature-gates/feature-gate-generic_arg_infer.normal.stderr
  src/test/ui/feature-gates/feature-gate-generic_arg_infer.rs
  src/tools/clippy/clippy_lints/src/trailing_empty_array.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_lints/src/utils/inspector.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/clippy/tests/ui/author/repeat.stdout
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-const-generics

#92498 Ignore flaky `panic-short-backtrace-windows-x86_64.rs` test for now
  src/test/ui/panics/panic-short-backtrace-windows-x86_64.rs
Labels: A-testsuite, O-windows, T-compiler, O-windows-msvc, S-waiting-on-bors, merged-by-bors

#92103 Do not hash leading zero bytes of i64 numbers in Sip128 hasher
  compiler/rustc_data_structures/src/sip128.rs
  src/test/debuginfo/function-names.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92322 Add another implementation example to Debug trait
  library/core/src/fmt/mod.rs
Labels: S-waiting-on-bors

#92448 Set font size proportional to user's font size
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92517 Explicitly pass `PATH` to the Windows exe resolver
  library/std/src/sys/windows/process.rs
  library/std/src/sys/windows/process/tests.rs
Labels: S-waiting-on-bors

#92545 Extract init_env_logger to crate
  Cargo.lock
  compiler/rustc_driver/Cargo.toml
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_log/Cargo.toml
  compiler/rustc_log/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#92182 Label more build steps
  src/bootstrap/bootstrap.py
  src/bootstrap/flags.rs
Labels: A-rustbuild, S-waiting-on-bors

#92388 Fix a minor mistake in `String::try_reserve_exact` examples
  library/alloc/src/string.rs
Labels: S-waiting-on-bors

#92442 Add negative `impl` for `Ord`, `PartialOrd` on `LocalDefId`
  compiler/rustc_span/src/def_id.rs
Labels: T-compiler, S-waiting-on-bors

#92483 Stabilize `result_cloned` and `result_copied`
  library/core/src/result.rs
Labels: S-waiting-on-bors, T-libs

#92575 ast: Always keep a `NodeId` in `ast::Crate`
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/placeholders.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/lib.rs
  src/test/ui/ast-json/ast-json-noexpand-output.stdout
  src/test/ui/ast-json/ast-json-output.stdout
Labels: T-compiler, S-waiting-on-bors

#92092 Drop guards in slice sorting derive src pointers from &mut T, which is invalidated by interior mutation in comparison
  library/alloc/src/slice.rs
  library/core/src/slice/sort.rs
Labels: S-waiting-on-bors, T-libs

#89819 cg: split dwarf for crate dependencies
  Cargo.lock
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_target/src/spec/mod.rs
  src/bootstrap/compile.rs
  src/bootstrap/dist.rs
  src/test/run-make-fulldeps/split-debuginfo/Makefile
  src/test/run-make-fulldeps/split-debuginfo/bar.rs
  src/test/run-make-fulldeps/split-debuginfo/foo.rs
  src/test/run-make-fulldeps/split-debuginfo/main.rs
  src/test/run-make-fulldeps/split-dwarf/Makefile
  src/test/run-make-fulldeps/split-dwarf/foo.rs
  src/tools/tidy/src/deps.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92389 Regression test for borrowck ICE #92015
  src/test/ui/borrowck/issue-92015.rs
  src/test/ui/borrowck/issue-92015.stderr
Labels: T-compiler, S-waiting-on-bors

#92404 Fix font size for [src] links in headers
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/src-font-size.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92443 Rustdoc: resolve associated traits for non-generic primitive types
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/test/rustdoc-ui/intra-doc/non-path-primitives.rs
  src/test/rustdoc-ui/intra-doc/non-path-primitives.stderr
  src/test/rustdoc/intra-doc/prim-associated-traits.rs
Labels: T-rustdoc, S-waiting-on-bors

#92609 Rollup of 7 pull requests
  compiler/rustc_typeck/src/check/callee.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  library/std/src/net/ip/tests.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/passes/check_doc_test_visibility.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/test/rustdoc-gui/run-on-hover.goml
  src/test/rustdoc-gui/src-font-size.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc-ui/intra-doc/non-path-primitives.rs
  src/test/rustdoc-ui/intra-doc/non-path-primitives.stderr
  src/test/rustdoc-ui/private-public-item-doc-test.rs
  src/test/rustdoc-ui/private-public-item-doc-test.stderr
  src/test/rustdoc-ui/public-reexported-item-doc-test.rs
  src/test/rustdoc/intra-doc/prim-associated-traits.rs
  src/test/ui/borrowck/issue-92015.rs
  src/test/ui/borrowck/issue-92015.stderr
  src/test/ui/c-variadic/variadic-unreachable-arg-error.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#92058 Make Run button visible on hover
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/run-on-hover.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92288 Fix a pair of mistyped test cases in `std::net::ip`
  library/std/src/net/ip/tests.rs
Labels: S-waiting-on-bors

#92349 Fix rustdoc::private_doc_tests lint for public re-exported items
  src/librustdoc/passes/check_doc_test_visibility.rs
  src/test/rustdoc-ui/private-public-item-doc-test.rs
  src/test/rustdoc-ui/private-public-item-doc-test.stderr
  src/test/rustdoc-ui/public-reexported-item-doc-test.rs
Labels: T-rustdoc, S-waiting-on-bors

#92360 Some cleanups around check_argument_types
  compiler/rustc_typeck/src/check/callee.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/c-variadic/variadic-unreachable-arg-error.rs
Labels: T-compiler, S-waiting-on-bors

#92417 Fix spacing and ordering of words in pretty printed Impl
  compiler/rustc_ast_pretty/src/pprust/state.rs
  src/test/ui/macros/stringify.rs
Labels: T-compiler, S-waiting-on-bors

#92504 Exit nonzero on rustc -Wall
  compiler/rustc_driver/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#92559 RustWrapper: adapt to new AttributeMask API
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#92589 Break the loop
  src/bootstrap/bootstrap.py
Labels: S-waiting-on-bors

#92607 rustc_metadata: Some minor cleanups and optimizations
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/fast_reject.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#92620 Remove unused `ExtendDefault` struct
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors

#92627 Rollup of 8 pull requests
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/fast_reject.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_typeck/src/collect.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  compiler/rustc_typeck/src/expr_use_visitor.rs
  library/alloc/src/vec/mod.rs
  src/bootstrap/bootstrap.py
  src/test/ui/macros/stringify.rs
  src/test/ui/mir/drop-elaboration-after-borrowck-error.rs
  src/test/ui/mir/drop-elaboration-after-borrowck-error.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#91055 return the correct type for closures in `type_of`
  compiler/rustc_typeck/src/collect.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  compiler/rustc_typeck/src/expr_use_visitor.rs
Labels: T-compiler, S-waiting-on-bors

#92207 Delay remaining `span_bug`s in drop elaboration
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  src/test/ui/mir/drop-elaboration-after-borrowck-error.rs
  src/test/ui/mir/drop-elaboration-after-borrowck-error.stderr
Labels: T-compiler, S-waiting-on-bors

#92592 [beta] backports
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_target/src/spec/aarch64_apple_darwin.rs
  compiler/rustc_target/src/spec/apple_base.rs
  compiler/rustc_target/src/spec/i686_apple_darwin.rs
  compiler/rustc_target/src/spec/x86_64_apple_darwin.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_type_ir/src/lib.rs
  library/core/src/lib.rs
  library/core/tests/lib.rs
  library/core/tests/simd.rs
  library/std/src/lib.rs
  library/std/src/process/tests.rs
  library/std/src/sys/windows/process.rs
  library/std/src/sys/windows/process/tests.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/incremental/issue-85360-eval-obligation-ice.rs
  src/test/rustdoc-gui/headers-color.goml
  src/test/ui/simd/libm_no_std_cant_float.rs
  src/test/ui/simd/libm_no_std_cant_float.stderr
  src/test/ui/simd/portable-intrinsics-arent-exposed.rs
  src/test/ui/simd/portable-intrinsics-arent-exposed.stderr
  src/test/ui/suggestions/issue-71394-no-from-impl.stderr
  src/test/ui/traits/issue-85360-eval-obligation-ice.rs
  src/test/ui/traits/issue-85360-eval-obligation-ice.stderr
  src/test/ui/traits/vtable/issue-91807.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-release, merged-by-bors

#92336 Remove &self from PrintState::to_string
  compiler/rustc_ast_pretty/src/pprust/mod.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
Labels: T-compiler, S-waiting-on-bors

#92568 Add note about non_exhaustive to variant_count
  library/core/src/mem/mod.rs
Labels: S-waiting-on-bors

#92600 Add some missing `#[must_use]` to some `f{32,64}` operations
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
Labels: relnotes, S-waiting-on-bors

#92610 Create CSS class instead of using inline style for search results
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92632 Implement stabilization of `#[feature(available_parallelism)]`
  library/std/src/thread/mod.rs
  library/test/src/lib.rs
Labels: T-libs-api, relnotes, S-waiting-on-bors

#92650 Fix typo in `StableCrateId` docs
  compiler/rustc_span/src/def_id.rs
Labels: T-compiler, S-waiting-on-bors

#92664 Rollup of 8 pull requests
  compiler/rustc_ast_pretty/src/pprust/mod.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_span/src/def_id.rs
  library/core/src/char/convert.rs
  library/core/src/char/mod.rs
  library/core/src/mem/mod.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/std/src/error.rs
  library/std/src/thread/mod.rs
  library/test/src/lib.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#92375 Consolidate checking for msvc when generating debuginfo
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
Labels: T-compiler, S-waiting-on-bors

#84640 Implement `TryFrom<char>` for `u8`
  library/core/src/char/convert.rs
  library/core/src/char/mod.rs
  library/std/src/error.rs
Labels: T-libs-api, relnotes, S-waiting-on-bors, proposed-final-comment-period, disposition-merge, needs-fcp

#91305 rustdoc: Remove apparently unnecessary conditional in `doc_value`
  src/librustdoc/clean/types.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, merged-by-bors

#92639 Bump version to 1.60.0
  src/version
Labels: S-waiting-on-bors, merged-by-bors

#90639 Add a query for resolving an impl item from the trait item
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/traits/specialization_graph.rs
  compiler/rustc_middle/src/ty/assoc.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_passes/src/check_const.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_save_analysis/src/lib.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_traits/src/chalk/db.rs
  compiler/rustc_ty_utils/src/assoc.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_ty_utils/src/lib.rs
  compiler/rustc_ty_utils/src/ty.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/mod.rs
  compiler/rustc_typeck/src/collect.rs
  src/test/ui/span/impl-wrong-item-for-trait.stderr
  src/tools/clippy/clippy_lints/src/len_zero.rs
  src/tools/clippy/clippy_lints/src/non_copy_const.rs
  src/tools/clippy/clippy_lints/src/use_self.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#91919 Don't perform any new queries while reading a query result on disk
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#92068 Switch all libraries to the 2021 edition
  library/alloc/Cargo.toml
  library/alloc/src/vec/mod.rs
  library/core/Cargo.toml
  library/core/src/array/mod.rs
  library/core/src/convert/mod.rs
  library/core/src/iter/traits/collect.rs
  library/core/src/iter/traits/iterator.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  library/core/src/panicking.rs
  library/panic_abort/Cargo.toml
  library/panic_unwind/Cargo.toml
  library/proc_macro/Cargo.toml
  library/profiler_builtins/Cargo.toml
  library/rustc-std-workspace-alloc/Cargo.toml
  library/rustc-std-workspace-core/Cargo.toml
  library/rustc-std-workspace-std/Cargo.toml
  library/test/Cargo.toml
  library/unwind/Cargo.toml
  src/tools/tidy/src/edition.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#92497 Remove LazyMeta::min_size
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_metadata/src/rmeta/table.rs
Labels: C-cleanup, A-metadata, T-compiler, S-waiting-on-bors, merged-by-bors

#92086 rustc_metadata: Optimize and document module children decoding
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/hir/exports.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/metadata.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/visit_ast.rs
  src/librustdoc/visit_lib.rs
  src/tools/clippy/clippy_lints/src/macro_use.rs
  src/tools/clippy/clippy_lints/src/utils/internal_lints.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/clippy/tests/ui/macro_use_imports.fixed
  src/tools/clippy/tests/ui/macro_use_imports.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#92657 Implemented const casts of raw pointers
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
Labels: T-libs-api, S-waiting-on-bors, A-raw-pointers

#92690 Rollup of 8 pull requests
  RELEASES.md
  compiler/rustc_ast/src/ast_like.rs
  compiler/rustc_ast/src/lib.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_expand/src/placeholders.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_resolve/src/late.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/sync/atomic.rs
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/core.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/templates/page.html
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/librustdoc/passes/collect_trait_impls.rs
  src/test/rustdoc-gui/escape-key.goml
  src/test/rustdoc-gui/search-filter.goml
  src/test/rustdoc-gui/toggle-docs-mobile.goml
  src/test/ui/foreign/issue-91370-foreign-fn-block-impl.rs
  src/test/ui/foreign/issue-91370-foreign-fn-block-impl.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#92490 Move crate drop-down to search results page
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/templates/page.html
  src/test/rustdoc-gui/escape-key.goml
  src/test/rustdoc-gui/search-filter.goml
  src/test/rustdoc-gui/toggle-docs-mobile.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92510 Don't resolve blocks in foreign functions
  compiler/rustc_resolve/src/late.rs
  src/test/ui/foreign/issue-91370-foreign-fn-block-impl.rs
  src/test/ui/foreign/issue-91370-foreign-fn-block-impl.stderr
Labels: A-resolve, T-compiler, S-waiting-on-bors

#92573 expand: Refactor InvocationCollector visitor for better code reuse
  compiler/rustc_ast/src/ast_like.rs
  compiler/rustc_ast/src/lib.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_expand/src/placeholders.rs
Labels: T-compiler, S-waiting-on-bors

#92608 rustdoc: Introduce a resolver cache for sharing data between early doc link resolution and later passes
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_middle/src/query/mod.rs
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/core.rs
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/librustdoc/passes/collect_trait_impls.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#92671 Make `Atomic*::from_mut` return `&mut Atomic*`
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors

#92673 Remove useless collapse toggle on "all items" page
  src/librustdoc/html/render/mod.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92055 Add release notes for 1.58
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#92534 Hash `Ident` spans in all HIR structures
  compiler/rustc_hir/src/hir.rs
  src/test/incremental/hashes/trait_defs.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#92278 Ensure that `Fingerprint` caching respects hashing configuration
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_middle/src/ty/impls_ty.rs
  compiler/rustc_query_system/src/ich/hcx.rs
  compiler/rustc_query_system/src/ich/impls_hir.rs
  compiler/rustc_query_system/src/ich/mod.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#87487 Fixes wrong unreachable_pub lints on nested and glob public reexport
  compiler/rustc_errors/src/snippet.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_middle/src/middle/privacy.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/access_levels.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  library/alloc/src/collections/btree/map.rs
  library/core/src/iter/adapters/mod.rs
  library/core/src/iter/sources.rs
  library/core/src/iter/traits/mod.rs
  library/std/src/io/buffered/mod.rs
  library/std/src/io/mod.rs
  library/std/src/os/linux/raw.rs
  library/std/src/os/unix/io/raw.rs
  src/test/ui/lint/lint-pub-unreachable-for-nested-glob.rs
  src/tools/rustfmt/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#92357 Fix invalid removal of newlines from doc comments
  compiler/rustc_ast/src/util/comments.rs
  src/test/rustdoc/mixing-doc-comments-and-attrs.S1_top-doc.html
  src/test/rustdoc/mixing-doc-comments-and-attrs.S3_top-doc.html
  src/test/rustdoc/mixing-doc-comments-and-attrs.rs
Labels: T-rustdoc, T-compiler, relnotes, S-waiting-on-bors

#92602 Make source links look cleaner
  library/std/src/lib.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/html/templates/print_item.html
  src/test/rustdoc-gui/anchors.goml
  src/test/rustdoc-gui/headings.goml
  src/test/rustdoc-gui/toggle-docs.goml
  src/test/rustdoc/ensure-src-link.rs
  src/test/rustdoc/external-macro-src.rs
  src/test/rustdoc/issue-16265-1.rs
  src/test/rustdoc/issue-16265-2.rs
  src/test/rustdoc/issue-26606.rs
  src/test/rustdoc/src-links-auto-impls.rs
  src/test/rustdoc/thread-local-src.rs
  src/test/rustdoc/trait-src-link.rs
Labels: T-rustdoc, S-waiting-on-bors

#92636 Normalize generator-local types with unevaluated constants
  compiler/rustc_mir_transform/src/generator.rs
  src/test/ui/async-await/interior-with-const-generic-expr.rs
Labels: T-compiler, S-waiting-on-bors

#92693 Release notes: add `Result::unwrap_{,err_}unchecked`
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#92702 Clean up lang_items::extract
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir/src/weak_lang_items.rs
  compiler/rustc_passes/src/lang_items.rs
  compiler/rustc_passes/src/weak_lang_items.rs
  compiler/rustc_typeck/src/collect.rs
Labels: T-compiler, S-waiting-on-bors

#92248 Normalize struct tail type when checking Pointee trait
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  src/test/ui/traits/pointee-deduction.rs
Labels: T-compiler, S-waiting-on-bors

#92601 rustdoc: Remove the intra-doc links side channel
  src/librustdoc/clean/types.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, A-intra-doc-links, merged-by-bors

#92012 Make `DefId` `repr(C)`, optimize big-endian field order
  compiler/rustc_span/src/def_id.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92723 [stable] Prepare Rust 1.58.0 release
  RELEASES.md
  src/ci/channel
Labels: S-waiting-on-bors, merged-by-bors

#92070 Replace usages of vec![].into_iter with [].into_iter
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_data_structures/src/thin_vec/tests.rs
  compiler/rustc_data_structures/src/vec_map/tests.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_graphviz/src/tests.rs
  compiler/rustc_incremental/src/persist/fs/tests.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_target/src/spec/avr_gnu_base.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_typeck/src/check/coercion.rs
  compiler/rustc_typeck/src/variance/terms.rs
  library/alloc/src/collections/btree/map/tests.rs
  library/alloc/src/collections/vec_deque/mod.rs
  library/alloc/tests/linked_list.rs
  library/alloc/tests/string.rs
  library/alloc/tests/vec.rs
  library/alloc/tests/vec_deque.rs
  library/core/src/convert/mod.rs
  library/core/src/iter/adapters/map.rs
  library/core/src/iter/traits/collect.rs
  library/core/src/iter/traits/iterator.rs
  library/core/src/option.rs
  library/core/src/result.rs
  library/core/tests/iter/adapters/intersperse.rs
  library/core/tests/iter/adapters/peekable.rs
  library/core/tests/iter/traits/iterator.rs
  library/std/src/collections/hash/map/tests.rs
  library/std/src/collections/mod.rs
  library/std/src/keyword_docs.rs
  library/test/src/tests.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#90948 Actually instantiate the opaque type when checking bounds
  compiler/rustc_typeck/src/check/check.rs
  src/test/ui/type-alias-impl-trait/issue-57611-trait-alias.nll.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#92533 Store a `Symbol` instead of an `Ident` in `VariantDef`/`FieldDef`
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/mod.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/ty/closure.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/build/matches/test.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/expr.rs
  compiler/rustc_typeck/src/check/method/mod.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  compiler/rustc_typeck/src/check/pat.rs
  compiler/rustc_typeck/src/coherence/builtin.rs
  compiler/rustc_typeck/src/collect.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/clippy/clippy_lints/src/default.rs
  src/tools/clippy/clippy_lints/src/default_numeric_fallback.rs
  src/tools/clippy/clippy_lints/src/inconsistent_struct_constructor.rs
  src/tools/clippy/clippy_lints/src/matches.rs
Labels: T-rustdoc, T-compiler, A-incr-comp, S-waiting-on-bors, merged-by-bors

#92707 Extended the note on the use of `no_run` attribute
  src/doc/rustdoc/src/documentation-tests.md
Labels: S-waiting-on-bors

#92709 Improve documentation for File::options to give a more likely example
  library/std/src/fs.rs
Labels: T-libs-api, S-waiting-on-bors

#92720 Fix doc formatting for time.rs
  library/std/src/time.rs
Labels: S-waiting-on-bors

#92732 Add note about upstream commit musl-patch-configure.diff is derived from
  src/ci/docker/scripts/musl-toolchain.sh
Labels: S-waiting-on-bors

#92742 Add missing suffix for sidebar-items script path
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
Labels: T-rustdoc, S-waiting-on-bors

#92748 Eliminate "boxed" wording in `std::error::Error` documentation
  library/std/src/error.rs
Labels: S-waiting-on-bors, T-libs

#92754 Update AsmArgs field visibility for rustfmt
  compiler/rustc_builtin_macros/src/asm.rs
Labels: T-compiler, S-waiting-on-bors

#92764 Fix rust logo style
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/rust-logo.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#92506 Document Box<T> FFI guarantee in 1.41.0 release notes
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#92699 rustdoc: Display "private fields" instead of "fields omitted"
  src/librustdoc/html/render/print_item.rs
  src/test/rustdoc/structfields.rs
  src/test/rustdoc/toggle-item-contents.rs
  src/test/rustdoc/union.rs
Labels: T-rustdoc, S-waiting-on-bors

#92703 RELEASES.md: Add 1.58 release note for `File::options` stabilization
  RELEASES.md
Labels: S-waiting-on-bors

#92328 Tweak sentence in `transmute` docs
  library/core/src/intrinsics.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#92432 Error when selected impl is not const in constck
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  src/test/ui/rfc-2632-const-trait-impl/default-method-body-is-const-same-trait-ck.rs
  src/test/ui/rfc-2632-const-trait-impl/default-method-body-is-const-same-trait-ck.stderr
Labels: T-compiler, S-waiting-on-bors

#92169 Remove ArenaCacheSelector for visible_parent_map query ( + LRC)
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92553 Simpilfy thread::JoinInner.
  library/std/src/thread/mod.rs
Labels: A-runtime, C-cleanup, S-waiting-on-bors, merged-by-bors, T-libs

#89861 Closure capture cleanup & refactor
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_middle/src/ty/closure.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_typeck/src/check/regionck.rs
  compiler/rustc_typeck/src/check/upvar.rs
  compiler/rustc_typeck/src/expr_use_visitor.rs
  src/test/ui/closures/2229_closure_analysis/arrays-completely-captured.rs
  src/test/ui/closures/2229_closure_analysis/arrays-completely-captured.stderr
  src/test/ui/closures/2229_closure_analysis/destructure_patterns.rs
  src/test/ui/closures/2229_closure_analysis/destructure_patterns.stderr
  src/test/ui/closures/2229_closure_analysis/diagnostics/union.rs
  src/test/ui/closures/2229_closure_analysis/diagnostics/union.stderr
  src/test/ui/closures/2229_closure_analysis/nested-closure.rs
  src/test/ui/closures/2229_closure_analysis/nested-closure.stderr
  src/test/ui/closures/2229_closure_analysis/repr_packed.rs
  src/test/ui/closures/2229_closure_analysis/repr_packed.stderr
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92832 Update RELEASES for 1.58.
  RELEASES.md
Labels: S-waiting-on-bors

#92277 rustc_metadata: Stop passing `CrateMetadataRef` by reference (step 1)
  compiler/rustc_metadata/src/rmeta/decoder.rs
Labels: T-compiler, S-waiting-on-bors, perf-regression

#91687 rustdoc: do not emit tuple variant fields if none are documented
  src/librustdoc/html/render/print_item.rs
  src/test/rustdoc/issue-88600.rs
  src/test/rustdoc/tuple-struct-fields-doc.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#91938 Add `std::error::Report` type
  library/std/src/error.rs
  library/std/src/error/tests.rs
Labels: T-libs-api, S-waiting-on-bors, A-error-handling

#92006 Welcome opaque types into the fold
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/mod.rs
  src/test/ui/type-alias-impl-trait/bound_reduction2.rs
  src/test/ui/type-alias-impl-trait/bound_reduction2.stderr
Labels: T-compiler, S-waiting-on-bors
