Repository rust-lang/rust, pull requests merged in 2022-05, with the labels that each got.

#93815 Update intravisit docs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir/src/itemlikevisit.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#95362 Support arrays of zeros in Vec's __rust_alloc_zeroed optimization
  library/alloc/src/vec/is_zero.rs
Labels: S-waiting-on-bors, merged-by-bors

#96490 Make [e]println macros eagerly drop temporaries (for backport)
  library/std/src/macros.rs
  src/test/pretty/dollar-crate.pp
  src/test/run-make-fulldeps/coverage-reports/expected_show_coverage.closure.txt
  src/test/ui/macros/trace-macro.stderr
  src/test/ui/pattern/usefulness/tuple-struct-nonexhaustive.stderr
Labels: beta-nominated, beta-accepted, T-libs-api, S-waiting-on-bors, merged-by-bors

#96078 Implement str to [u8] conversion for refcounted containers
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#96576 Also report the call site of PME errors locally.
  compiler/rustc_monomorphize/src/collector.rs
  src/test/ui/consts/const-eval/issue-50814-2.stderr
  src/test/ui/consts/const-eval/issue-50814.stderr
  src/test/ui/generics/post_monomorphization_error_backtrace.rs
  src/test/ui/generics/post_monomorphization_error_backtrace.stderr
  src/test/ui/polymorphization/generators.stderr
  src/test/ui/polymorphization/predicates.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96376 Add `do yeet` expressions to allow experimentation in nightly
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/util/parser.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/ops/mod.rs
  library/core/src/ops/try_trait.rs
  library/core/src/option.rs
  library/core/src/result.rs
  src/doc/unstable-book/src/language-features/yeet-expr.md
  src/test/pretty/yeet-expr.rs
  src/test/ui/feature-gates/feature-gate-yeet_expr-in-cfg.rs
  src/test/ui/feature-gates/feature-gate-yeet_expr-in-cfg.stderr
  src/test/ui/feature-gates/feature-gate-yeet_expr.rs
  src/test/ui/feature-gates/feature-gate-yeet_expr.stderr
  src/test/ui/inference/question-mark-type-infer.stderr
  src/test/ui/issues/issue-32709.stderr
  src/test/ui/try-trait/bad-interconversion.stderr
  src/test/ui/try-trait/option-to-result.stderr
  src/test/ui/try-trait/try-on-option.stderr
  src/test/ui/try-trait/yeet-for-option.rs
  src/test/ui/try-trait/yeet-for-result.rs
  src/tools/clippy/clippy_utils/src/sugg.rs
  src/tools/rustfmt/src/expr.rs
  src/tools/rustfmt/src/utils.rs
Labels: T-lang, T-libs-api, T-compiler, S-waiting-on-bors, merged-by-bors

#96549 Move Derefer before Retag
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/patch.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/deref_separator.rs
  compiler/rustc_mir_transform/src/lib.rs
  src/test/mir-opt/derefer_complex_case.main.Derefer.diff
  src/test/mir-opt/derefer_terminator_test.main.Derefer.diff
  src/test/mir-opt/derefer_test.main.Derefer.diff
  src/test/mir-opt/derefer_test_multiple.main.Derefer.diff
  src/test/mir-opt/early_otherwise_branch.opt1.EarlyOtherwiseBranch.diff
  src/test/mir-opt/early_otherwise_branch.opt2.EarlyOtherwiseBranch.diff
  src/test/mir-opt/early_otherwise_branch.opt3.EarlyOtherwiseBranch.diff
  src/test/mir-opt/early_otherwise_branch_3_element_tuple.opt1.EarlyOtherwiseBranch.diff
  src/test/mir-opt/early_otherwise_branch_noopt.noopt1.EarlyOtherwiseBranch.diff
  src/test/mir-opt/early_otherwise_branch_soundness.no_deref_ptr.EarlyOtherwiseBranch.diff
  src/test/mir-opt/early_otherwise_branch_soundness.no_downcast.EarlyOtherwiseBranch.diff
  src/test/mir-opt/if_condition_int.dont_opt_bool.SimplifyComparisonIntegral.diff
  src/test/mir-opt/if_condition_int.dont_opt_floats.SimplifyComparisonIntegral.diff
  src/test/mir-opt/if_condition_int.dont_remove_comparison.SimplifyComparisonIntegral.diff
  src/test/mir-opt/if_condition_int.opt_char.SimplifyComparisonIntegral.diff
  src/test/mir-opt/if_condition_int.opt_i8.SimplifyComparisonIntegral.diff
  src/test/mir-opt/if_condition_int.opt_multiple_ifs.SimplifyComparisonIntegral.diff
  src/test/mir-opt/if_condition_int.opt_negative.SimplifyComparisonIntegral.diff
  src/test/mir-opt/if_condition_int.opt_u32.SimplifyComparisonIntegral.diff
  src/test/mir-opt/lower_array_len.array_bound.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_bound_mut.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_len.NormalizeArrayLen.diff
  src/test/mir-opt/lower_array_len.array_len_by_value.NormalizeArrayLen.diff
  src/test/mir-opt/lower_slice_len.bound.LowerSliceLenCalls.diff
  src/test/mir-opt/nrvo_simple.nrvo.RenameReturnPlace.diff
  src/test/mir-opt/uninhabited_fallthrough_elimination.eliminate_fallthrough.UninhabitedEnumBranching.diff
  src/test/mir-opt/uninhabited_fallthrough_elimination.keep_fallthrough.UninhabitedEnumBranching.diff
  src/test/mir-opt/unreachable.main.UnreachablePropagation.diff
  src/test/mir-opt/unreachable_diverging.main.UnreachablePropagation.diff
  src/test/run-make/const_fn_mir/dump.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96582 resolve: Cleanup path resolution finalization
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96521 rustdoc: Resolve doc links referring to `macro_rules` items
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/lib.rs
  library/core/src/macros/mod.rs
  library/std/src/macros.rs
  library/std/src/thread/local.rs
  library/std/src/thread/mod.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/test/rustdoc-ui/intra-doc/macro-rules-error.rs
  src/test/rustdoc-ui/intra-doc/macro-rules-error.stderr
  src/test/rustdoc-ui/intra-doc/macro-rules.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#96517 [compiletest] Extract code to detect files related to a test into a different function
  src/tools/compiletest/src/main.rs
Labels: S-waiting-on-bors, merged-by-bors

#96499 Make it possible to write doctests for bootstrap
  src/bootstrap/test.rs
Labels: S-waiting-on-bors

#96567 Fix docs for u32 and i32 logs func
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#96568 std::fmt: Various fixes and improvements to documentation
  library/alloc/src/fmt.rs
Labels: S-waiting-on-bors, T-libs

#96571 Add a bathroom stall to weird expressions test
  src/test/ui/weird-exprs.rs
Labels: T-compiler, S-waiting-on-bors

#96610 Update browser-ui-test version to 0.9.0
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/tools/rustdoc-gui/tester.js
Labels: T-rustdoc, S-waiting-on-bors

#96622 Rollup of 7 pull requests
  library/alloc/src/collections/binary_heap.rs
  library/alloc/src/collections/binary_heap/tests.rs
  library/alloc/src/collections/linked_list/tests.rs
  library/alloc/src/fmt.rs
  library/alloc/src/string.rs
  library/alloc/src/vec/mod.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/linked_list.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  src/bootstrap/test.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/test/ui/weird-exprs.rs
  src/tools/rustdoc-gui/tester.js
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#96222 Clarify docs for `from_raw_parts` on `Vec` and `String`
  library/alloc/src/string.rs
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#94126 Classify BinaryHeap & LinkedList unit tests as such
  library/alloc/src/collections/binary_heap.rs
  library/alloc/src/collections/binary_heap/tests.rs
  library/alloc/src/collections/linked_list/tests.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/linked_list.rs
Labels: S-waiting-on-bors, T-libs

#96600 Move some tests to more reasonable places
  src/test/ui/associated-types/issue-19081.rs
  src/test/ui/codegen/issue-16602-1.rs
  src/test/ui/codegen/issue-16602-2.rs
  src/test/ui/codegen/issue-16602-3.rs
  src/test/ui/macros/issue-35450.rs
  src/test/ui/macros/issue-35450.stderr
  src/test/ui/mismatched_types/issue-47706-trait.rs
  src/test/ui/mismatched_types/issue-47706-trait.stderr
  src/test/ui/mismatched_types/issue-47706.rs
  src/test/ui/mismatched_types/issue-47706.stderr
  src/test/ui/nll/issue-52213.nll.stderr
  src/test/ui/nll/issue-52213.rs
  src/test/ui/nll/issue-52213.stderr
  src/test/ui/resolve/issue-73427.rs
  src/test/ui/resolve/issue-73427.stderr
  src/test/ui/save-analysis/issue-37323.rs
  src/test/ui/structs-enums/multiple-reprs.rs
  src/test/ui/traits/issue-32963.rs
  src/test/ui/traits/issue-32963.stderr
  src/test/ui/traits/issue-4107.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96596 Tweak the vec-calloc runtime check to only apply to shortish-arrays
  library/alloc/src/vec/is_zero.rs
  src/test/codegen/vec-calloc.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96310 Remove DebbugerScripts from bootstrap CLI
  src/bootstrap/builder.rs
  src/bootstrap/dist.rs
Labels: S-waiting-on-bors, merged-by-bors

#96431 rustc: Panic by default in `DefIdTree::parent`
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_codegen_llvm/src/debuginfo/utils.rs
  compiler/rustc_const_eval/src/const_eval/fn_queries.rs
  compiler/rustc_const_eval/src/util/call_kind.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/util.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/middle/stability.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_monomorphize/src/partitioning/default.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/entry.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_save_analysis/src/lib.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  compiler/rustc_typeck/src/collect.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/librustdoc/passes/calculate_doc_coverage.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/librustdoc/passes/collect_trait_impls.rs
  src/tools/clippy/clippy_lints/src/matches/redundant_pattern_match.rs
  src/tools/clippy/clippy_lints/src/methods/bind_instead_of_map.rs
  src/tools/clippy/clippy_lints/src/methods/chars_cmp.rs
  src/tools/clippy/clippy_lints/src/methods/option_map_or_none.rs
  src/tools/clippy/clippy_lints/src/missing_doc.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#96436 linker: Stop using whole-archive on dependencies of dylibs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  src/doc/rustc/src/command-line-arguments.md
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96578 Fix -Zdump-mir-dataflow by implementing DebugWithContext for ChunkedBitSet
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_index/src/bit_set/tests.rs
  compiler/rustc_mir_dataflow/src/framework/fmt.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92566 Inline `__iterator_get_unchecked` for some iterator adapters.
  library/core/benches/iter.rs
  library/core/benches/lib.rs
  library/core/src/iter/adapters/enumerate.rs
  library/core/src/iter/adapters/map.rs
  library/core/src/iter/adapters/zip.rs
  library/core/src/slice/iter/macros.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96580 Remove `ignore` from E0705 test
  compiler/rustc_error_codes/src/error_codes/E0705.md
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96587 Refactor the WriteBackendMethods and ExtraBackendMethods traits
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/back/lto.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/traits/backend.rs
  compiler/rustc_codegen_ssa/src/traits/write.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors, A-cranelift, A-gcc

#96589 Use source callsite in check_argument_types suggestion
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/typeck/remove-extra-argument.fixed
  src/test/ui/typeck/remove-extra-argument.rs
  src/test/ui/typeck/remove-extra-argument.stderr
Labels: T-compiler, S-waiting-on-bors

#96599 Update `RValue::Discriminant` documentation
  compiler/rustc_middle/src/mir/mod.rs
Labels: T-compiler, S-waiting-on-bors

#96614 Add a regression test for #92305
  src/test/ui/impl-trait/issues/issue-92305.rs
  src/test/ui/impl-trait/issues/issue-92305.stderr
Labels: T-compiler, S-waiting-on-bors

#96629 Fix invalid keyword order for function declarations
  compiler/rustc_parse/src/parser/item.rs
  src/test/ui/async-await/no-async-const.stderr
  src/test/ui/async-await/no-unsafe-async.stderr
  src/test/ui/fn/keyword-order.rs
  src/test/ui/fn/keyword-order.stderr
  src/test/ui/parser/issues/issue-19398.stderr
  src/test/ui/parser/issues/issue-87217-keyword-order/several-kw-jump.rs
  src/test/ui/parser/issues/issue-87217-keyword-order/several-kw-jump.stderr
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-async.rs
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-async.stderr
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-const.rs
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-const.stderr
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-unsafe.rs
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-unsafe.stderr
Labels: T-compiler, S-waiting-on-bors

#96641 Use a yes/no enum instead of a bool.
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
Labels: T-compiler, S-waiting-on-bors

#96646 Mitigate impact of subtle invalid call suggestion logic
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/argument-suggestions/issue-96638.rs
  src/test/ui/argument-suggestions/issue-96638.stderr
Labels: T-compiler, S-waiting-on-bors

#96663 Rollup of 8 pull requests
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/back/lto.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/traits/backend.rs
  compiler/rustc_codegen_ssa/src/traits/write.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/templates/page.html
  src/test/rustdoc-gui/escape-key.goml
  src/test/rustdoc-gui/settings.goml
  src/test/rustdoc-gui/theme-change.goml
  src/test/rustdoc-gui/theme-in-history.goml
  src/test/ui/argument-suggestions/issue-96638.rs
  src/test/ui/argument-suggestions/issue-96638.stderr
  src/test/ui/async-await/no-async-const.stderr
  src/test/ui/async-await/no-unsafe-async.stderr
  src/test/ui/fn/keyword-order.rs
  src/test/ui/fn/keyword-order.stderr
  src/test/ui/impl-trait/issues/issue-92305.rs
  src/test/ui/impl-trait/issues/issue-92305.stderr
  src/test/ui/parser/issues/issue-19398.stderr
  src/test/ui/parser/issues/issue-87217-keyword-order/several-kw-jump.rs
  src/test/ui/parser/issues/issue-87217-keyword-order/several-kw-jump.stderr
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-async.rs
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-async.stderr
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-const.rs
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-const.stderr
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-unsafe.rs
  src/test/ui/parser/issues/issue-87217-keyword-order/wrong-unsafe.stderr
  src/test/ui/typeck/remove-extra-argument.fixed
  src/test/ui/typeck/remove-extra-argument.rs
  src/test/ui/typeck/remove-extra-argument.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93097 Switch settings menu to full js
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/templates/page.html
  src/test/rustdoc-gui/escape-key.goml
  src/test/rustdoc-gui/settings.goml
  src/test/rustdoc-gui/theme-change.goml
  src/test/rustdoc-gui/theme-in-history.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui, A-rustdoc-js

#96280 library/core: Fixes implement of c_uint, c_long, c_ulong
  library/core/src/ffi/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96558 Make rustc_parse_format compile on stable
  Cargo.lock
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_lint/src/non_fmt_panic.rs
  compiler/rustc_parse_format/Cargo.toml
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_parse_format/src/tests.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  src/tools/clippy/clippy_lints/src/write.rs
Labels: A-parser, T-compiler, S-waiting-on-bors, merged-by-bors

#95380 Fix unit struct/enum variant in destructuring assignment
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_resolve/src/late.rs
  src/test/ui/destructuring-assignment/struct-or-enum-variant-path.rs
Labels: T-lang, T-compiler, S-waiting-on-bors, merged-by-bors

#96353 When suggesting to import an item, also suggest changing the path if appropriate
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/lib.rs
  src/test/ui/macros/macro-outer-attributes.stderr
  src/test/ui/namespace/namespace-mix.stderr
  src/test/ui/parser/circular_modules_main.stderr
  src/test/ui/resolve/enums-are-namespaced-xc.stderr
  src/test/ui/resolve/issue-50599.stderr
  src/test/ui/resolve/missing-in-namespace.stderr
  src/test/ui/resolve/privacy-enum-ctor.stderr
  src/test/ui/resolve/resolve-primitive-fallback.stderr
  src/test/ui/trait-bounds/shadowed-path-in-trait-bound-suggestion.fixed
  src/test/ui/trait-bounds/shadowed-path-in-trait-bound-suggestion.rs
  src/test/ui/trait-bounds/shadowed-path-in-trait-bound-suggestion.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96447 rustdoc: Resolve doc links on fields during early resolution
  src/librustdoc/passes/collect_intra_doc_links/early.rs
  src/test/rustdoc-ui/intra-doc/assoc-field.rs
  src/test/rustdoc-ui/intra-doc/auxiliary/assoc-field-dep.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#96662 Fix typo in lint levels doc
  src/doc/rustc/src/lints/levels.md
Labels: S-waiting-on-bors

#96679 Quick fix for #96223.
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/suggestions/issue-96223.rs
  src/test/ui/suggestions/issue-96223.stderr
Labels: T-compiler, S-waiting-on-bors

#96684 Update `ProjectionElem::Downcast` documentation
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/tcx.rs
Labels: T-compiler, S-waiting-on-bors

#96686 Add some TAIT-related tests
  src/test/ui/type-alias-impl-trait/issue-53398-cyclic-types.rs
  src/test/ui/type-alias-impl-trait/issue-53398-cyclic-types.stderr
  src/test/ui/type-alias-impl-trait/issue-58662-generator-with-lifetime.rs
  src/test/ui/type-alias-impl-trait/issue-89952.rs
  src/test/ui/type-alias-impl-trait/issue-94429.rs
  src/test/ui/type-alias-impl-trait/issue-94429.stderr
Labels: T-compiler, S-waiting-on-bors

#96695 Rollup of 6 pull requests
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/bootstrap/builder.rs
  src/doc/rustc/src/lints/levels.md
  src/test/rustdoc-ui/block-doc-comment.rs
  src/test/rustdoc-ui/block-doc-comment.stdout
  src/test/ui/suggestions/issue-96223.rs
  src/test/ui/suggestions/issue-96223.stderr
  src/test/ui/type-alias-impl-trait/issue-53398-cyclic-types.rs
  src/test/ui/type-alias-impl-trait/issue-53398-cyclic-types.stderr
  src/test/ui/type-alias-impl-trait/issue-58662-generator-with-lifetime.rs
  src/test/ui/type-alias-impl-trait/issue-89952.rs
  src/test/ui/type-alias-impl-trait/issue-94429.rs
  src/test/ui/type-alias-impl-trait/issue-94429.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#96597 openbsd: unbreak build on native platform
  src/bootstrap/builder.rs
Labels: S-waiting-on-bors

#96668 Fix flaky rustdoc-ui test because it did not replace time result
  src/test/rustdoc-ui/block-doc-comment.rs
  src/test/rustdoc-ui/block-doc-comment.stdout
Labels: T-rustdoc, S-waiting-on-bors

#96683 Speed up `Token::{ident,lifetime}`
  compiler/rustc_ast/src/token.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96546 Overhaul `MacArgs`
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/validate_attr.rs
  src/test/ui/ast-json/ast-json-noexpand-output.stdout
  src/test/ui/ast-json/ast-json-output.stdout
  src/test/ui/attributes/issue-90873.rs
  src/test/ui/attributes/issue-90873.stderr
  src/test/ui/attributes/key-value-expansion-on-mac.rs
  src/test/ui/attributes/key-value-expansion-on-mac.stderr
  src/test/ui/attributes/key-value-expansion.rs
  src/test/ui/attributes/key-value-expansion.stderr
  src/test/ui/consts/issue-90878-2.rs
  src/test/ui/consts/issue-90878-2.stderr
  src/test/ui/malformed/malformed-interpolated.rs
  src/test/ui/malformed/malformed-interpolated.stderr
  src/tools/clippy/clippy_utils/src/ast_utils.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96593 Revert "Prefer projection candidates instead of param_env candidates for Sized predicates"
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  src/test/ui/generic-associated-types/bugs/issue-89352.base.stderr
  src/test/ui/generic-associated-types/bugs/issue-89352.rs
  src/test/ui/generic-associated-types/issue-93262.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96658 Move callback to the () => {} syntax.
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/static/js/storage.js
Labels: T-rustdoc, S-waiting-on-bors

#96677 Add more tests for label-break-value
  src/test/ui/for-loop-while/label_break_value.rs
  src/test/ui/for-loop-while/label_break_value.stderr
  src/test/ui/for-loop-while/label_break_value_invalid.rs
  src/test/ui/for-loop-while/label_break_value_invalid.stderr
Labels: T-compiler, S-waiting-on-bors

#96697 Enable tracing for all queries
  Cargo.lock
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors

#96720 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_ast_pretty/src/lib.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_interface/src/lib.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_mir_build/src/lib.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/lib.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_typeck/src/lib.rs
  library/core/src/bool.rs
  library/core/tests/lib.rs
  library/std/src/sys_common/condvar/check.rs
  library/std/src/sys_common/thread.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/lib.rs
  src/test/ui/const-generics/const-arg-in-const-arg.full.stderr
  src/test/ui/const-generics/const-arg-in-const-arg.min.stderr
  src/test/ui/const-generics/const-arg-in-const-arg.rs
  src/test/ui/const-generics/const-argument-non-static-lifetime.min.stderr
  src/test/ui/const-generics/const-argument-non-static-lifetime.rs
  src/test/ui/const-generics/issues/issue-775377.rs
  src/test/ui/const-generics/issues/issue-775377.stderr
  src/test/ui/const-generics/issues/issue-83993.rs
  src/test/ui/for-loop-while/label_break_value.rs
  src/test/ui/for-loop-while/label_break_value.stderr
  src/test/ui/for-loop-while/label_break_value_invalid.rs
  src/test/ui/for-loop-while/label_break_value_invalid.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#96603 Enable full revision in const generics ui tests
  src/test/ui/const-generics/const-arg-in-const-arg.full.stderr
  src/test/ui/const-generics/const-arg-in-const-arg.min.stderr
  src/test/ui/const-generics/const-arg-in-const-arg.rs
  src/test/ui/const-generics/const-argument-non-static-lifetime.min.stderr
  src/test/ui/const-generics/const-argument-non-static-lifetime.rs
  src/test/ui/const-generics/issues/issue-775377.rs
  src/test/ui/const-generics/issues/issue-775377.stderr
  src/test/ui/const-generics/issues/issue-83993.rs
Labels: T-compiler, S-waiting-on-bors

#96616 Relax memory ordering used in `min_stack`
  library/std/src/sys_common/thread.rs
Labels: S-waiting-on-bors, T-libs

#96619 Relax memory ordering used in SameMutexCheck
  library/std/src/sys_common/condvar/check.rs
Labels: S-waiting-on-bors, T-libs

#96628 Stabilize `bool::then_some`
  compiler/rustc_ast_pretty/src/lib.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_interface/src/lib.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_mir_build/src/lib.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_query_system/src/lib.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_typeck/src/lib.rs
  library/core/src/bool.rs
  library/core/tests/lib.rs
  src/librustdoc/lib.rs
Labels: T-libs-api, S-waiting-on-bors

#96626 Avoid using `rand::thread_rng` in the stdlib benchmarks.
  Cargo.lock
  library/alloc/benches/binary_heap.rs
  library/alloc/benches/btree/map.rs
  library/alloc/benches/btree/set.rs
  library/alloc/benches/lib.rs
  library/alloc/benches/slice.rs
  library/alloc/benches/vec.rs
  library/core/Cargo.toml
  library/core/benches/lib.rs
  library/core/benches/num/int_log/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96630 Include nonexported macro_rules! macros in the doctest target
  library/core/src/internal_macros.rs
  src/librustdoc/doctest.rs
  src/librustdoc/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#96649 Make it clear that `to_ipv4` returns an IPv4 address for the IPv6 loopback
  library/std/src/net/ip.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#91779 Add a new Rust attribute to support embedding debugger visualizers
  Cargo.lock
  compiler/rustc_builtin_macros/src/source_util.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_passes/Cargo.toml
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/debugger_visualizer.rs
  compiler/rustc_passes/src/lib.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  src/doc/unstable-book/src/language-features/debugger-visualizer.md
  src/test/debuginfo/msvc-embedded-natvis.natvis
  src/test/debuginfo/msvc-embedded-natvis.rs
  src/test/ui/feature-gates/feature-gate-debugger-visualizer.rs
  src/test/ui/feature-gates/feature-gate-debugger-visualizer.stderr
  src/test/ui/invalid/invalid-debugger-visualizer-option.rs
  src/test/ui/invalid/invalid-debugger-visualizer-option.stderr
  src/test/ui/invalid/invalid-debugger-visualizer-target.rs
  src/test/ui/invalid/invalid-debugger-visualizer-target.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, F-debugger_visualizer

#96673 Report that opaque types are not allowed in impls even in the presence of other errors
  compiler/rustc_typeck/src/coherence/orphan.rs
  compiler/rustc_typeck/src/constrained_generic_params.rs
  src/test/ui/type-alias-impl-trait/coherence.rs
  src/test/ui/type-alias-impl-trait/coherence.stderr
Labels: T-compiler, S-waiting-on-bors

#96682 Show invisible delimeters (within comments) when pretty printing.
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  library/proc_macro/src/lib.rs
  src/test/ui/proc-macro/auxiliary/expand-expr.rs
  src/test/ui/proc-macro/capture-macro-rules-invoke.stdout
  src/test/ui/proc-macro/capture-unglued-token.stdout
  src/test/ui/proc-macro/expand-expr.rs
  src/test/ui/proc-macro/expr-stmt-nonterminal-tokens.stdout
  src/test/ui/proc-macro/issue-75734-pp-paren.stdout
  src/test/ui/proc-macro/issue-78675-captured-inner-attrs.stdout
  src/test/ui/proc-macro/issue-80760-empty-stmt.stdout
  src/test/ui/proc-macro/nested-nonterminal-tokens.stdout
  src/test/ui/proc-macro/nodelim-groups.stdout
  src/test/ui/proc-macro/nonterminal-expansion.stdout
  src/test/ui/proc-macro/nonterminal-token-hygiene.stdout
  src/test/ui/proc-macro/parent-source-spans.rs
  src/test/ui/proc-macro/parent-source-spans.stderr
Labels: T-compiler, S-waiting-on-bors

#96714 interpret/validity: debug-check ScalarPair layout information
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
Labels: T-compiler, S-waiting-on-bors

#96734 Rollup of 7 pull requests
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_typeck/src/coherence/orphan.rs
  compiler/rustc_typeck/src/constrained_generic_params.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  library/core/tests/num/i128.rs
  library/core/tests/num/i16.rs
  library/core/tests/num/i32.rs
  library/core/tests/num/i64.rs
  library/core/tests/num/i8.rs
  library/core/tests/num/int_macros.rs
  library/core/tests/num/u128.rs
  library/core/tests/num/u16.rs
  library/core/tests/num/u32.rs
  library/core/tests/num/u64.rs
  library/core/tests/num/u8.rs
  library/core/tests/num/uint_macros.rs
  library/proc_macro/src/lib.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/static/js/storage.js
  src/test/ui/proc-macro/auxiliary/expand-expr.rs
  src/test/ui/proc-macro/capture-macro-rules-invoke.stdout
  src/test/ui/proc-macro/capture-unglued-token.stdout
  src/test/ui/proc-macro/expand-expr.rs
  src/test/ui/proc-macro/expr-stmt-nonterminal-tokens.stdout
  src/test/ui/proc-macro/issue-75734-pp-paren.stdout
  src/test/ui/proc-macro/issue-78675-captured-inner-attrs.stdout
  src/test/ui/proc-macro/issue-80760-empty-stmt.stdout
  src/test/ui/proc-macro/nested-nonterminal-tokens.stdout
  src/test/ui/proc-macro/nodelim-groups.stdout
  src/test/ui/proc-macro/nonterminal-expansion.stdout
  src/test/ui/proc-macro/nonterminal-token-hygiene.stdout
  src/test/ui/proc-macro/parent-source-spans.rs
  src/test/ui/proc-macro/parent-source-spans.stderr
  src/test/ui/resolve/issue-2356.stderr
  src/test/ui/suggestions/assoc_fn_without_self.rs
  src/test/ui/suggestions/assoc_fn_without_self.stderr
  src/test/ui/type-alias-impl-trait/coherence.rs
  src/test/ui/type-alias-impl-trait/coherence.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-review, merged-by-bors, rollup, T-libs

#96507 Suggest calling `Self::associated_function()`
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  src/test/ui/resolve/issue-2356.stderr
  src/test/ui/suggestions/assoc_fn_without_self.rs
  src/test/ui/suggestions/assoc_fn_without_self.stderr
Labels: T-compiler, S-waiting-on-bors

#96635 Use "strict" mode in JS scripts
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/static/js/storage.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-js

#95359 Update `int_roundings` methods from feedback
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  library/core/tests/num/i128.rs
  library/core/tests/num/i16.rs
  library/core/tests/num/i32.rs
  library/core/tests/num/i64.rs
  library/core/tests/num/i8.rs
  library/core/tests/num/int_macros.rs
  library/core/tests/num/u128.rs
  library/core/tests/num/u16.rs
  library/core/tests/num/u32.rs
  library/core/tests/num/u64.rs
  library/core/tests/num/u8.rs
  library/core/tests/num/uint_macros.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#95843 Improve Rc::new_cyclic and Arc::new_cyclic documentation
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#96520 generalize "incoherent impls" impl for user defined types
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_typeck/src/check/method/probe.rs
  compiler/rustc_typeck/src/coherence/inherent_impls.rs
  library/core/src/ffi/c_str.rs
  src/test/ui/incoherent-inherent-impls/auxiliary/extern-crate.rs
  src/test/ui/incoherent-inherent-impls/needs-has-incoherent-impls.rs
  src/test/ui/incoherent-inherent-impls/needs-has-incoherent-impls.stderr
  src/test/ui/incoherent-inherent-impls/no-attr-empty-impl.rs
  src/test/ui/incoherent-inherent-impls/no-attr-empty-impl.stderr
Labels: T-libs-api, T-compiler, S-waiting-on-bors, merged-by-bors

#96639 Fix typo in `offset_from` documentation
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
Labels: S-waiting-on-bors, T-libs

#96704 Add rotation animation on settings button when loading
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui, A-rustdoc-js

#96730 Add a regression test for #64173 and #66152
  src/test/ui/lifetimes/issue-64173-unused-lifetimes.rs
  src/test/ui/lifetimes/issue-64173-unused-lifetimes.stderr
Labels: T-compiler, S-waiting-on-bors

#96741 Improve settings loading strategy
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui, A-rustdoc-js

#96744 Implement [OsStr]::join
  library/std/src/ffi/os_str.rs
  library/std/src/ffi/os_str/tests.rs
  library/std/src/lib.rs
Labels: T-libs-api, S-waiting-on-bors

#96747 Add `track_caller` to `DefId::expect_local()`
  compiler/rustc_span/src/def_id.rs
Labels: T-compiler, S-waiting-on-bors

#96759 Rollup of 7 pull requests
  compiler/rustc_span/src/def_id.rs
  library/core/src/intrinsics.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/std/src/ffi/os_str.rs
  library/std/src/ffi/os_str/tests.rs
  library/std/src/lib.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
  src/test/ui/lifetimes/issue-64173-unused-lifetimes.rs
  src/test/ui/lifetimes/issue-64173-unused-lifetimes.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#96174 mark ptr-int-transmute test as no_run
  library/core/src/intrinsics.rs
Labels: S-waiting-on-bors, T-libs

#96510 Use futex-based locks and thread parker on {Free, Open, DragonFly}BSD.
  Cargo.lock
  library/std/Cargo.toml
  library/std/src/sync/condvar/tests.rs
  library/std/src/sys/unix/futex.rs
  library/std/src/sys/unix/locks/futex_rwlock.rs
  library/std/src/sys/unix/locks/mod.rs
  library/std/src/sys/unix/thread_parker.rs
  library/std/src/sys_common/thread_parker/mod.rs
Labels: A-concurrency, O-openbsd, O-freebsd, O-netbsd, S-waiting-on-bors, O-dragonfly, merged-by-bors, T-libs

#94598 Add a dedicated length-prefixing method to `Hasher`
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/sip128.rs
  compiler/rustc_data_structures/src/stable_hasher.rs
  library/alloc/src/boxed.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/linked_list.rs
  library/alloc/src/collections/vec_deque/mod.rs
  library/alloc/src/lib.rs
  library/core/src/hash/mod.rs
  library/core/src/hash/sip.rs
  library/core/tests/hash/mod.rs
  library/core/tests/lib.rs
  library/std/src/collections/hash/map.rs
  library/std/src/lib.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#95183 Weaken needlessly restrictive orderings on `Arc::*_count`
  library/alloc/src/sync.rs
Labels: S-waiting-on-bors, merged-by-bors

#95454 Fixing #95444 by only displaying passes that take more than 5 millise…
  compiler/rustc_data_structures/src/profiling.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96776 Fix two minor issues in hir.rs
  compiler/rustc_hir/src/hir.rs
Labels: T-compiler, S-waiting-on-bors

#96782 a small `mirror_expr` cleanup
  compiler/rustc_mir_build/src/thir/cx/expr.rs
Labels: T-compiler, S-waiting-on-bors

#96557 Allow inline consts to reference generic params
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_resolve/src/late.rs
  src/test/ui/inline-const/const-expr-generic-err.rs
  src/test/ui/inline-const/const-expr-generic-err.stderr
  src/test/ui/inline-const/const-expr-generic-err2.rs
  src/test/ui/inline-const/const-expr-generic-err2.stderr
  src/test/ui/inline-const/const-expr-generic.rs
  src/test/ui/inline-const/const-match-pat-generic.rs
  src/test/ui/inline-const/const-match-pat-generic.stderr
  src/tools/clippy/tests/ui/indexing_slicing_index.stderr
Labels: T-lang, T-compiler, S-waiting-on-bors, F-inline_const

#96590 rustdoc: when running a function-signature search, tweak the tab bar
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/search.js
  src/test/rustdoc-gui/search-tab-change-title-fn-sig.goml
  src/test/rustdoc-gui/search-tab-selection-if-current-is-empty.goml
Labels: T-rustdoc, S-waiting-on-bors

#96650 Collect function instance used in `global_asm!` sym operand
  compiler/rustc_monomorphize/src/collector.rs
  src/test/assembly/asm/global_asm.rs
Labels: T-compiler, S-waiting-on-bors

#96733 turn `append_place_to_string` from recursion into iteration
  compiler/rustc_borrowck/src/diagnostics/mod.rs
Labels: T-compiler, S-waiting-on-bors

#96748 Fixes reexports in search
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/js/search.js
  src/test/rustdoc-gui/search-reexport.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-search, A-rustdoc-js

#96752 Put the incompatible_closure_captures lint messages in alphabetical order
  compiler/rustc_typeck/src/check/upvar.rs
  src/test/ui/closures/2229_closure_analysis/migrations/auto_traits.stderr
  src/test/ui/closures/2229_closure_analysis/migrations/mir_calls_to_shims.stderr
  src/test/ui/closures/2229_closure_analysis/migrations/multi_diagnostics.stderr
Labels: T-compiler, S-waiting-on-bors

#96754 rustdoc: ensure HTML/JS side implementors don't have dups
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/js/main.js
  src/test/rustdoc-gui/implementors.goml
  src/test/rustdoc-gui/src/lib2/implementors/lib.rs
  src/test/rustdoc-gui/src/lib2/lib.rs
  src/test/rustdoc/hidden-impls.rs
Labels: T-rustdoc, S-waiting-on-bors

#96772 Suggest fully qualified path with appropriate params
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  src/test/ui/traits/suggest-fully-qualified-path-with-appropriate-params.rs
  src/test/ui/traits/suggest-fully-qualified-path-with-appropriate-params.stderr
Labels: T-compiler, S-waiting-on-bors

#96785 Rollup of 10 pull requests
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_typeck/src/check/upvar.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/search.js
  src/test/assembly/asm/global_asm.rs
  src/test/rustdoc-gui/implementors.goml
  src/test/rustdoc-gui/search-reexport.goml
  src/test/rustdoc-gui/search-tab-change-title-fn-sig.goml
  src/test/rustdoc-gui/search-tab-selection-if-current-is-empty.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-gui/src/lib2/implementors/lib.rs
  src/test/rustdoc-gui/src/lib2/lib.rs
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc/hidden-impls.rs
  src/test/ui/closures/2229_closure_analysis/migrations/auto_traits.stderr
  src/test/ui/closures/2229_closure_analysis/migrations/mir_calls_to_shims.stderr
  src/test/ui/closures/2229_closure_analysis/migrations/multi_diagnostics.stderr
  src/test/ui/inline-const/const-expr-generic-err.rs
  src/test/ui/inline-const/const-expr-generic-err.stderr
  src/test/ui/inline-const/const-expr-generic-err2.rs
  src/test/ui/inline-const/const-expr-generic-err2.stderr
  src/test/ui/inline-const/const-expr-generic.rs
  src/test/ui/inline-const/const-match-pat-generic.rs
  src/test/ui/inline-const/const-match-pat-generic.stderr
  src/test/ui/traits/suggest-fully-qualified-path-with-appropriate-params.rs
  src/test/ui/traits/suggest-fully-qualified-path-with-appropriate-params.stderr
  src/tools/clippy/tests/ui/indexing_slicing_index.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#96458 Don't cache results of coinductive cycle
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96531 Remove ItemLikeVisitor impls from rustc_typeck
  compiler/rustc_metadata/src/foreign_modules.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_passes/src/lang_items.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  compiler/rustc_typeck/src/check/mod.rs
  compiler/rustc_typeck/src/check_unused.rs
  compiler/rustc_typeck/src/coherence/inherent_impls.rs
  compiler/rustc_typeck/src/coherence/inherent_impls_overlap.rs
  compiler/rustc_typeck/src/coherence/unsafety.rs
  compiler/rustc_typeck/src/impl_wf_check.rs
  compiler/rustc_typeck/src/outlives/implicit_infer.rs
  compiler/rustc_typeck/src/outlives/test.rs
  compiler/rustc_typeck/src/variance/constraints.rs
  compiler/rustc_typeck/src/variance/terms.rs
  compiler/rustc_typeck/src/variance/test.rs
  src/test/ui/dep-graph/dep-graph-trait-impl-two-traits.rs
  src/test/ui/dep-graph/dep-graph-trait-impl-two-traits.stderr
  src/tools/clippy/clippy_lints/src/same_name_method.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#96701 update `jemallocator` example to use 2018 edition import syntax
  library/std/src/alloc.rs
Labels: S-waiting-on-bors, T-libs

#96746 Fix an ICE on #96738
  compiler/rustc_typeck/src/check/method/suggest.rs
  src/test/ui/typeck/issue-96738.rs
  src/test/ui/typeck/issue-96738.stderr
Labels: T-compiler, S-waiting-on-bors

#96778 Remove closures on `expect_local` to apply `#[track_caller]`
  compiler/rustc_span/src/def_id.rs
Labels: T-compiler, S-waiting-on-bors

#96781 Fix an incorrect link in The Unstable Book
  src/doc/unstable-book/src/language-features/plugin.md
Labels: S-waiting-on-bors

#96783 Link to correct issue in issue-95034 known-bug
  src/test/ui/hrtb/issue-95034.rs
  src/test/ui/hrtb/issue-95034.stderr
Labels: T-compiler, S-waiting-on-bors

#96801 Add regression test for #96319
  src/test/incremental/issue-96319-coinductive-cycle.rs
Labels: S-waiting-on-bors

#96804 Rollup of 8 pull requests
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  library/std/src/alloc.rs
  src/bootstrap/builder.rs
  src/doc/unstable-book/src/language-features/plugin.md
  src/test/incremental/issue-96319-coinductive-cycle.rs
  src/test/ui/hrtb/issue-95034.rs
  src/test/ui/hrtb/issue-95034.stderr
  src/test/ui/typeck/issue-96738.rs
  src/test/ui/typeck/issue-96738.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#96660 [bootstrap] Give a better error when trying to run a path with no registered step
  src/bootstrap/builder.rs
Labels: S-waiting-on-bors

#96758 bootstrap: bsd platform flags for split debuginfo
  src/bootstrap/builder.rs
Labels: S-waiting-on-bors

#96780 Update LLVM version used to build OS X and Windows artifacts to 14.0.2
  src/ci/scripts/install-clang.sh
Labels: S-waiting-on-bors, merged-by-bors

#96788 Improve validator around field projections and checked bin ops
  compiler/rustc_const_eval/src/transform/validate.rs
Labels: T-compiler, A-mir, S-waiting-on-bors, A-mir-opt

#96805 Change eslint rules from configuration comments to configuration file
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/js/externs.js
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/source-script.js
  src/librustdoc/html/static/js/storage.js
Labels: T-rustdoc, S-waiting-on-bors

#96811 Fix a minor typo in the description of Formatter
  library/core/src/fmt/mod.rs
Labels: S-waiting-on-bors, T-libs

#96581 make Size and Align debug-printing a bit more compact
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_target/src/abi/mod.rs
  src/test/mir-opt/const_debuginfo.main.ConstDebugInfo.diff
  src/test/mir-opt/const_prop/control_flow_simplification.hello.ConstProp.diff
  src/test/mir-opt/inline/inline_diverging.g.Inline.diff
  src/test/mir-opt/inline/inline_into_box_place.main.Inline.32bit.diff
  src/test/mir-opt/inline/inline_into_box_place.main.Inline.64bit.diff
  src/test/mir-opt/issue_76432.test.SimplifyComparisonIntegral.diff
  src/test/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.mir
  src/test/mir-opt/no_drop_for_inactive_variant.unwrap.SimplifyCfg-elaborate-drops.after.mir
  src/test/mir-opt/no_spurious_drop_after_call.main.ElaborateDrops.before.mir
  src/test/mir-opt/storage_live_dead_in_statics.XXX.mir_map.0.mir
  src/test/mir-opt/uninhabited_enum_branching.main.SimplifyCfg-after-uninhabited-enum-branching.after.mir
  src/test/mir-opt/uninhabited_enum_branching.main.UninhabitedEnumBranching.diff
  src/test/mir-opt/uninhabited_enum_branching2.main.SimplifyCfg-after-uninhabited-enum-branching.after.mir
  src/test/mir-opt/uninhabited_enum_branching2.main.UninhabitedEnumBranching.diff
  src/test/ui/layout/debug.rs
  src/test/ui/layout/debug.stderr
  src/test/ui/layout/hexagon-enum.stderr
  src/test/ui/layout/homogeneous-aggr-zero-sized-c-struct.stderr
  src/test/ui/layout/homogeneous-aggr-zero-sized-repr-rust.rs
  src/test/ui/layout/homogeneous-aggr-zero-sized-repr-rust.stderr
  src/test/ui/layout/issue-96158-scalarpair-payload-might-be-uninit.rs
  src/test/ui/layout/issue-96158-scalarpair-payload-might-be-uninit.stderr
  src/test/ui/layout/thumb-enum.stderr
  src/test/ui/layout/zero-sized-array-union.stderr
Labels: T-compiler, S-waiting-on-bors

#96636 Fix jump to def regression
  src/doc/rustdoc/src/unstable-features.md
  src/librustdoc/html/render/span_map.rs
  src/test/rustdoc/check-source-code-urls-to-def.rs
Labels: T-rustdoc, S-waiting-on-bors

#96760 diagnostics: port more diagnostics to derive + add support for `Vec` fields
  compiler/rustc_error_messages/locales/en-US/typeck.ftl
  compiler/rustc_macros/src/diagnostics/diagnostic.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_typeck/src/astconv/generics.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  compiler/rustc_typeck/src/errors.rs
  src/test/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
Labels: T-compiler, S-waiting-on-bors

#96657 Use 64-bit time on 32-bit linux-gnu
  library/std/src/os/linux/fs.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/futex.rs
  library/std/src/sys/unix/thread_parker.rs
  library/std/src/sys/unix/time.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96670 Enable cfg checking of cargo features for everything but std
  src/bootstrap/builder.rs
Labels: S-waiting-on-bors, merged-by-bors

#96822 Enforce quote rule for JS source code
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/storage.js
Labels: T-rustdoc, S-waiting-on-bors

#96824 Rollup of 10 pull requests
  compiler/rustc_feature/src/active.rs
  library/core/src/ptr/mut_ptr.rs
  library/std/src/env.rs
  library/std/src/fs.rs
  src/bootstrap/defaults/config.codegen.toml
  src/bootstrap/defaults/config.compiler.toml
  src/bootstrap/defaults/config.tools.toml
  src/bootstrap/test.rs
  src/bootstrap/tool.rs
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/storage.js
  src/test/ui/const-generics/const-argument-non-static-lifetime.rs
  src/test/ui/type-alias-impl-trait/auxiliary/collect_hidden_types.rs
  src/test/ui/type-alias-impl-trait/collect_hidden_types.rs
  src/test/ui/type-alias-impl-trait/cross_inference.rs
  src/test/ui/type-alias-impl-trait/cross_inference_pattern_bug.rs
  src/test/ui/type-alias-impl-trait/cross_inference_pattern_bug.stderr
  src/test/ui/type-alias-impl-trait/cross_inference_pattern_bug_no_type.rs
  src/test/ui/type-alias-impl-trait/cross_inference_pattern_bug_no_type.stderr
  src/test/ui/type-alias-impl-trait/cross_inference_rpit.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#96586 Add aliases for std::fs::canonicalize
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#96667 Add regression test
  src/test/ui/type-alias-impl-trait/auxiliary/collect_hidden_types.rs
  src/test/ui/type-alias-impl-trait/collect_hidden_types.rs
Labels: S-waiting-on-bors

#96671 Remove hard links from `env::current_exe` security example
  library/std/src/env.rs
Labels: S-waiting-on-bors, T-libs

#96726 Add regression and bug tests
  src/test/ui/type-alias-impl-trait/cross_inference.rs
  src/test/ui/type-alias-impl-trait/cross_inference_pattern_bug.rs
  src/test/ui/type-alias-impl-trait/cross_inference_pattern_bug.stderr
  src/test/ui/type-alias-impl-trait/cross_inference_pattern_bug_no_type.rs
  src/test/ui/type-alias-impl-trait/cross_inference_pattern_bug_no_type.stderr
  src/test/ui/type-alias-impl-trait/cross_inference_rpit.rs
Labels: T-compiler, S-waiting-on-bors

#96756 Enable compiler-docs by default for `compiler`, `codegen`, and `tools` profiles
  src/bootstrap/defaults/config.codegen.toml
  src/bootstrap/defaults/config.compiler.toml
  src/bootstrap/defaults/config.tools.toml
Labels: S-waiting-on-bors

#96757 Don't constantly rebuild clippy on `x test src/tools/clippy`.
  src/bootstrap/test.rs
  src/bootstrap/tool.rs
Labels: S-waiting-on-bors

#96769 Remove `adx_target_feature` feature from active features list
  compiler/rustc_feature/src/active.rs
Labels: T-compiler, S-waiting-on-bors

#96777 Make the test `check-pass` not to produce a JSON file
  src/test/ui/const-generics/const-argument-non-static-lifetime.rs
Labels: T-compiler, S-waiting-on-bors

#96336 Link to correct `as_mut` in docs for `pointer::as_ref`
  library/core/src/ptr/mut_ptr.rs
Labels: S-waiting-on-bors, T-libs

#94206 Create clippy lint against unexpectedly late drop for temporaries in match scrutinee expressions
  library/std/src/sync/mutex.rs
  library/std/src/sync/rwlock.rs
  src/tools/clippy/CHANGELOG.md
  src/tools/clippy/clippy_lints/src/lib.register_lints.rs
  src/tools/clippy/clippy_lints/src/lib.register_nursery.rs
  src/tools/clippy/clippy_lints/src/lib.rs
  src/tools/clippy/clippy_lints/src/significant_drop_in_scrutinee.rs
  src/tools/clippy/clippy_utils/src/attrs.rs
  src/tools/clippy/tests/ui/significant_drop_in_scrutinee.rs
  src/tools/clippy/tests/ui/significant_drop_in_scrutinee.stderr
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96155 Followups for method call error change
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/callee.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/argument-suggestions/basic.rs
  src/test/ui/argument-suggestions/basic.stderr
  src/test/ui/associated-types/associated-types-issue-20346.stderr
  src/test/ui/associated-types/higher-ranked-projection.bad.stderr
  src/test/ui/async-await/generator-desc.stderr
  src/test/ui/async-await/suggest-missing-await.stderr
  src/test/ui/borrowck/suggest-local-var-imm-and-mut.nll.stderr
  src/test/ui/closures/closure_cap_coerce_many_fail.stderr
  src/test/ui/coercion/coerce-reborrow-multi-arg-fail.stderr
  src/test/ui/const-generics/const-argument-cross-crate-mismatch.min.stderr
  src/test/ui/destructuring-assignment/default-match-bindings-forbidden.stderr
  src/test/ui/destructuring-assignment/tuple_destructure_fail.stderr
  src/test/ui/error-codes/E0057.stderr
  src/test/ui/error-codes/E0502.nll.stderr
  src/test/ui/estr-subtyping.rs
  src/test/ui/estr-subtyping.stderr
  src/test/ui/fn/fn-item-type.rs
  src/test/ui/fn/fn-item-type.stderr
  src/test/ui/generator/type-mismatch-signature-deduction.stderr
  src/test/ui/indexing-requires-a-uint.stderr
  src/test/ui/issues/issue-13359.stderr
  src/test/ui/let-else/let-else-non-diverging.stderr
  src/test/ui/mismatched_types/issue-26480.stderr
  src/test/ui/or-patterns/already-bound-name.stderr
  src/test/ui/or-patterns/inconsistent-modes.stderr
  src/test/ui/parser/recover-range-pats.stderr
  src/test/ui/reify-intrinsic.stderr
  src/test/ui/resolve/resolve-inconsistent-binding-mode.stderr
  src/test/ui/rfc-2005-default-binding-mode/lit.stderr
  src/test/ui/span/E0057.rs
  src/test/ui/span/E0057.stderr
  src/test/ui/suggestions/issue-81839.stderr
  src/test/ui/suggestions/match-prev-arm-needing-semi.rs
  src/test/ui/suggestions/match-prev-arm-needing-semi.stderr
  src/test/ui/suggestions/match-with-different-arm-types-as-stmt-instead-of-expr.stderr
  src/test/ui/suggestions/opaque-type-error.stderr
  src/test/ui/traits/issue-52893.stderr
  src/test/ui/tuple/wrong_argument_ice-4.stderr
  src/test/ui/unboxed-closures/unboxed-closures-type-mismatch.stderr
  src/test/ui/unsized/box-instead-of-dyn-fn.stderr
  src/test/ui/wf/wf-unsafe-trait-obj-match.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96457 Initialize rust-analyzer submodule on bootstrap
  src/bootstrap/bootstrap.py
  src/bootstrap/lib.rs
Labels: S-waiting-on-bors, merged-by-bors

#96659 Improve error for missing cmake
  src/bootstrap/sanity.rs
Labels: S-waiting-on-bors, merged-by-bors

#96689 Move check-bootstrap from a makefile rule to test::Bootstrap
  src/bootstrap/mk/Makefile.in
  src/bootstrap/test.rs
  src/ci/run.sh
Labels: S-waiting-on-bors, merged-by-bors

#96770 Track if a where bound comes from a impl Trait desugar
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_lint/src/builtin.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_lints/src/lib.register_nursery.rs
  src/tools/clippy/clippy_lints/src/lib.register_pedantic.rs
  src/tools/clippy/clippy_lints/src/lifetimes.rs
  src/tools/clippy/clippy_lints/src/trait_bounds.rs
  src/tools/clippy/tests/ui/trait_duplication_in_bounds.stderr
  src/tools/clippy/tests/ui/type_repetition_in_bounds.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93675 fix panic in Path::strip_prefix
  library/std/src/path.rs
  library/std/src/sys/windows/path/tests.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96302 Add more diagnostic items
  library/core/src/fmt/mod.rs
  library/core/src/sync/atomic.rs
  library/std/src/error.rs
  src/test/ui/coercion/coerce-issue-49593-box-never-windows.nofallback.stderr
  src/test/ui/coercion/coerce-issue-49593-box-never.nofallback.stderr
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96835 Add more eslint rules
  src/librustdoc/html/static/.eslintrc.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-js

#96846 Rollup of 5 pull requests
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  library/core/src/hash/mod.rs
  src/bootstrap/builder.rs
  src/librustdoc/html/static/.eslintrc.js
  src/test/ui/const-generics/issues/issue-77357.rs
  src/test/ui/const-generics/issues/issue-77357.stderr
  src/test/ui/const-generics/issues/issue-96654.rs
  src/test/ui/suggestions/issue-96555.rs
  src/test/ui/suggestions/issue-96555.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#96617 Fix incorrect syntax suggestion with `pub async fn`
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/suggestions/issue-96555.rs
  src/test/ui/suggestions/issue-96555.stderr
Labels: T-compiler, S-waiting-on-bors

#96828 Further elaborate the lack of guarantees from `Hasher`
  library/core/src/hash/mod.rs
Labels: S-waiting-on-bors, T-libs

#96829 Fix the `x.py clippy` command
  src/bootstrap/builder.rs
Labels: S-waiting-on-bors

#96830 Add and tweak const-generics tests
  src/test/ui/const-generics/issues/issue-77357.rs
  src/test/ui/const-generics/issues/issue-77357.stderr
  src/test/ui/const-generics/issues/issue-96654.rs
Labels: T-compiler, S-waiting-on-bors

#95542 Support tool lints with the `#[expect]` attribute (RFC 2383)
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_lint/src/expect.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_query_impl/src/keys.rs
  src/librustdoc/core.rs
  src/test/rustdoc-ui/expect-tool-lint-rfc-2383.rs
  src/test/rustdoc-ui/expect-tool-lint-rfc-2383.stderr
  src/test/ui/lint/rfc-2383-lint-reason/expect_tool_lint_rfc_2383.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_tool_lint_rfc_2383.stderr
  src/test/ui/lint/rfc-2383-lint-reason/no_ice_for_partial_compiler_runs.rs
  src/test/ui/lint/rfc-2383-lint-reason/no_ice_for_partial_compiler_runs.stdout
  src/tools/clippy/tests/ui/expect_tool_lint_rfc_2383.rs
  src/tools/clippy/tests/ui/expect_tool_lint_rfc_2383.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, F-lint_reasons

#96802 [feat] Make sys::windows::os_str::Slice repr(transparent)
  library/std/src/sys/windows/os_str.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#96877 Rollup of 6 pull requests
  compiler/rustc_middle/src/ty/subst.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/expr.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/method/confirm.rs
  compiler/rustc_typeck/src/check/method/mod.rs
  compiler/rustc_typeck/src/check/method/probe.rs
  library/alloc/src/collections/vec_deque/iter.rs
  library/alloc/src/collections/vec_deque/iter_mut.rs
  library/alloc/src/vec/into_iter.rs
  library/core/src/convert/num.rs
  library/core/src/iter/adapters/cloned.rs
  library/core/src/iter/adapters/copied.rs
  library/core/src/iter/adapters/enumerate.rs
  library/core/src/iter/adapters/fuse.rs
  library/core/src/iter/adapters/map.rs
  library/core/src/iter/adapters/zip.rs
  library/core/src/iter/range.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/primitive_docs.rs
  library/core/src/slice/iter.rs
  library/core/src/slice/iter/macros.rs
  library/core/src/str/iter.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/ffi/os_str.rs
  library/std/src/ffi/os_str/tests.rs
  library/std/src/lib.rs
  library/std/src/primitive_docs.rs
  src/librustdoc/html/static/js/search.js
  src/test/ui/lint/unused/unused-attr-doc-hidden.fixed
  src/test/ui/lint/unused/unused-attr-doc-hidden.rs
  src/test/ui/lint/unused/unused-attr-doc-hidden.stderr
  src/test/ui/typeck/issue-96738.rs
  src/test/ui/typeck/issue-96738.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#96841 Revert "Implement [OsStr]::join", which was merged without FCP.
  library/std/src/ffi/os_str.rs
  library/std/src/ffi/os_str/tests.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#96844 Actually fix ICE from #96583
  compiler/rustc_typeck/src/check/expr.rs
  src/test/ui/typeck/issue-96738.rs
  src/test/ui/typeck/issue-96738.stderr
Labels: T-compiler, S-waiting-on-bors

#96854 Some subst cleanup
  compiler/rustc_middle/src/ty/subst.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/method/confirm.rs
  compiler/rustc_typeck/src/check/method/mod.rs
  compiler/rustc_typeck/src/check/method/probe.rs
Labels: T-compiler, S-waiting-on-bors

#96858 Remove unused param from search.js::checkPath
  src/librustdoc/html/static/js/search.js
Labels: T-rustdoc, S-waiting-on-bors

#96008 Warn on unused `#[doc(hidden)]` attributes on trait impl items
  compiler/rustc_passes/src/check_attr.rs
  library/alloc/src/collections/vec_deque/iter.rs
  library/alloc/src/collections/vec_deque/iter_mut.rs
  library/alloc/src/vec/into_iter.rs
  library/core/src/convert/num.rs
  library/core/src/iter/adapters/cloned.rs
  library/core/src/iter/adapters/copied.rs
  library/core/src/iter/adapters/enumerate.rs
  library/core/src/iter/adapters/fuse.rs
  library/core/src/iter/adapters/map.rs
  library/core/src/iter/adapters/zip.rs
  library/core/src/iter/range.rs
  library/core/src/slice/iter.rs
  library/core/src/slice/iter/macros.rs
  library/core/src/str/iter.rs
  src/test/ui/lint/unused/unused-attr-doc-hidden.fixed
  src/test/ui/lint/unused/unused-attr-doc-hidden.rs
  src/test/ui/lint/unused/unused-attr-doc-hidden.stderr
Labels: T-rustdoc, A-lint, T-compiler, S-waiting-on-bors

#95483 Improve floating point documentation
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/primitive_docs.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/primitive_docs.rs
Labels: S-waiting-on-bors, T-libs

#96473 store `codegen_fn_attrs` in crate metadata
  compiler/rustc_hir/src/def.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/middle/codegen_fn_attrs.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_transform/src/abort_unwinding_calls.rs
  compiler/rustc_mir_transform/src/check_unsafety.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_symbol_mangling/src/lib.rs
  compiler/rustc_typeck/src/collect.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#96838 Optimize switch sources representation and usage
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/switch_sources.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors
