Repository rust-lang/rust, pull requests merged in 2022-12, with the labels that each got.

#104160 Extract WStrUnits to sys_common::wstr
  library/std/src/sys/windows/args.rs
  library/std/src/sys_common/mod.rs
  library/std/src/sys_common/wstr.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#105091 add Tshepang Mbambo to .mailmap
  .mailmap
Labels: S-waiting-on-bors, A-meta

#105095 Rollup of 9 pull requests
  .mailmap
  compiler/rustc_middle/src/ty/diagnostics.rs
  src/bootstrap/lib.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/rustdoc-json-types/lib.rs
  src/test/rustdoc-json/fns/pattern_arg.rs
  src/test/rustdoc-json/traits/uses_extern_trait.rs
  src/test/ui/proc-macro/auxiliary/issue-104884.rs
  src/test/ui/proc-macro/issue-104884-trait-impl-sugg-err.rs
  src/test/ui/proc-macro/issue-104884-trait-impl-sugg-err.stderr
  src/test/ui/traits/issue-104322.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, A-rustdoc-json

#105063 Rustdoc Json Tests: Don't assume that core::fmt::Debug will always have one item.
  src/test/rustdoc-json/traits/uses_extern_trait.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#105064 rustdoc: add comment to confusing CSS `main { min-width: 0 }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#105074 Add Nicholas Bishop to `.mailmap`
  .mailmap
Labels: S-waiting-on-bors, A-meta

#105081 Add a regression test for #104322
  src/test/ui/traits/issue-104322.rs
Labels: T-compiler, S-waiting-on-bors

#105086 rustdoc: clean up sidebar link CSS
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#104865 Don't overwrite local changes when updating submodules
  src/bootstrap/lib.rs
Labels: A-bootstrap, S-waiting-on-bors

#104895 Avoid Invalid code suggested when encountering unsatisfied trait bounds in derive macro code
  compiler/rustc_middle/src/ty/diagnostics.rs
  src/test/ui/proc-macro/auxiliary/issue-104884.rs
  src/test/ui/proc-macro/issue-104884-trait-impl-sugg-err.rs
  src/test/ui/proc-macro/issue-104884-trait-impl-sugg-err.stderr
Labels: T-compiler, S-waiting-on-bors

#103065 rustdoc-json: Document and Test that args can be patterns.
  src/rustdoc-json-types/lib.rs
  src/test/rustdoc-json/fns/pattern_arg.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#104861 Attribute cleanups
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/util/literal.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_builtin_macros/src/alloc_error_handler.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/cfg_accessible.rs
  compiler/rustc_builtin_macros/src/derive.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/ord.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/mod.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_builtin_macros/src/proc_macro_harness.rs
  compiler/rustc_builtin_macros/src/standard_library_imports.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_builtin_macros/src/util.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_parse/src/validate_attr.rs
  src/test/ui/span/macro-ty-params.rs
  src/test/ui/span/macro-ty-params.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#104975 `#![custom_mir]`: Various improvements
  compiler/rustc_mir_build/src/build/custom/mod.rs
  compiler/rustc_mir_build/src/build/custom/parse.rs
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_mir_build/src/build/mod.rs
  library/core/src/intrinsics/mir.rs
  src/test/mir-opt/building/custom/arbitrary_let.arbitrary_let.built.after.mir
  src/test/mir-opt/building/custom/arbitrary_let.rs
  src/test/mir-opt/building/custom/consts.consts.built.after.mir
  src/test/mir-opt/building/custom/consts.rs
  src/test/mir-opt/building/custom/consts.statics.built.after.mir
  src/test/mir-opt/building/custom/references.immut_ref.built.after.mir
  src/test/mir-opt/building/custom/references.mut_ref.built.after.mir
  src/test/mir-opt/building/custom/simple_assign.simple.built.after.mir
  src/test/mir-opt/building/custom/simple_assign.simple_ref.built.after.mir
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#105078 Fix `expr_to_spanned_string` ICE
  compiler/rustc_expand/src/base.rs
  compiler/rustc_session/src/errors.rs
  src/test/ui/macros/issue-105011.rs
  src/test/ui/macros/issue-105011.stderr
Labels: T-compiler, S-waiting-on-bors

#105087 Extract llvm datalayout parsing out of spec module
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors

#105088 rustdoc: remove redundant CSS `div.desc { display: block }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#105106 Fix ICE from #105101
  compiler/rustc_builtin_macros/src/deriving/default.rs
  src/test/ui/deriving/issue-105101.rs
  src/test/ui/deriving/issue-105101.stderr
Labels: T-lang, S-waiting-on-bors

#105125 Rollup of 4 pull requests
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_target/src/spec/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/deriving/issue-105101.rs
  src/test/ui/deriving/issue-105101.stderr
  src/test/ui/macros/issue-105011.rs
  src/test/ui/macros/issue-105011.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#104963 rustc_ast_lowering: Stop lowering imports into multiple items
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_hir/src/arena.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/collect/lifetimes.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_lint/src/passes.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/hir_stats.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_passes/src/upvars.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/effective_visibilities.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_save_analysis/src/lib.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/core.rs
  src/librustdoc/html/render/span_map.rs
  src/librustdoc/json/mod.rs
  src/librustdoc/visit_ast.rs
  src/test/ui/consts/miri_unleashed/tls.stderr
  src/test/ui/generator/print/generator-print-verbose-1.stderr
  src/test/ui/generic-associated-types/self-outlives-lint.stderr
  src/test/ui/privacy/effective_visibilities.rs
  src/test/ui/privacy/effective_visibilities.stderr
  src/test/ui/stats/hir-stats.stderr
  src/tools/clippy/clippy_lints/src/disallowed_types.rs
  src/tools/clippy/clippy_lints/src/from_over_into.rs
  src/tools/clippy/clippy_lints/src/macro_use.rs
  src/tools/clippy/clippy_lints/src/methods/option_map_unwrap_or.rs
  src/tools/clippy/clippy_lints/src/missing_enforced_import_rename.rs
  src/tools/clippy/clippy_lints/src/redundant_pub_crate.rs
  src/tools/clippy/clippy_lints/src/single_component_path_imports.rs
  src/tools/clippy/clippy_lints/src/unnecessary_self_imports.rs
  src/tools/clippy/clippy_lints/src/unsafe_removed_from_name.rs
  src/tools/clippy/clippy_lints/src/utils/internal_lints/lint_without_lint_pass.rs
  src/tools/clippy/clippy_lints/src/utils/internal_lints/metadata_collector.rs
  src/tools/clippy/clippy_lints/src/wildcard_imports.rs
  src/tools/clippy/clippy_utils/src/ast_utils.rs
  src/tools/clippy/clippy_utils/src/usage.rs
  src/tools/clippy/tests/ui/macro_use_imports.stderr
  src/tools/rustfmt/src/imports.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#105166 Rollup of 6 pull requests
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_builtin_macros/src/type_ascribe.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_span/src/symbol.rs
  library/alloc/src/collections/vec_deque/mod.rs
  library/core/src/macros/mod.rs
  library/core/src/prelude/v1.rs
  library/std/src/fs.rs
  library/std/src/prelude/v1.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/scrape-examples-fonts.goml
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-1.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-2.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-3.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-4.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-5.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-6.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-7.rs
  src/test/rustdoc-gui/src/scrape_examples/src/lib.rs
  src/test/rustdoc-gui/toggle-docs.goml
  src/test/ui/associated-consts/issue-93835.rs
  src/test/ui/associated-consts/issue-93835.stderr
  src/test/ui/closures/issue-90871.rs
  src/test/ui/closures/issue-90871.stderr
  src/test/ui/coercion/coerce-expect-unsized-ascribed.rs
  src/test/ui/coercion/coerce-expect-unsized-ascribed.stderr
  src/test/ui/consts/const_in_pattern/accept_structural.rs
  src/test/ui/consts/const_in_pattern/reject_non_structural.rs
  src/test/ui/enum/issue-67945-2.rs
  src/test/ui/enum/issue-67945-2.stderr
  src/test/ui/lint/unused/issue-88519-unused-paren.rs
  src/test/ui/mir/mir_ascription_coercion.rs
  src/test/ui/nll/user-annotations/issue-57731-ascibed-coupled-types.rs
  src/test/ui/nll/user-annotations/issue-57731-ascibed-coupled-types.stderr
  src/test/ui/nll/user-annotations/type_ascription_static_lifetime.rs
  src/test/ui/nll/user-annotations/type_ascription_static_lifetime.stderr
  src/test/ui/raw-ref-op/raw-ref-temp-deref.rs
  src/test/ui/raw-ref-op/raw-ref-temp.rs
  src/test/ui/raw-ref-op/raw-ref-temp.stderr
  src/test/ui/reachable/expr_type.rs
  src/test/ui/reachable/expr_type.stderr
  src/test/ui/type/type-ascription-soundness.rs
  src/test/ui/type/type-ascription-soundness.stderr
  src/test/ui/type/type-ascription.rs
  src/test/ui/typeck/issue-91267.rs
  src/test/ui/typeck/issue-91267.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#105126 Make `VecDeque::new_in` unstably const
  library/alloc/src/collections/vec_deque/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#105132 Migrate summary toggle filter to CSS variable
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/toggle-docs.goml
Labels: T-rustdoc, S-waiting-on-bors

#105136 clarify comment on Deref promotion
  compiler/rustc_const_eval/src/transform/promote_consts.rs
Labels: T-compiler, S-waiting-on-bors

#105137 Add tracking issue number for `file_create_new` feature
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#105143 rustdoc: use simpler CSS for setting the font on scraped examples
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/scrape-examples-fonts.goml
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-1.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-2.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-3.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-4.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-5.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-6.rs
  src/test/rustdoc-gui/src/scrape_examples/examples/check-many-7.rs
  src/test/rustdoc-gui/src/scrape_examples/src/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#104614 Add `type_ascribe!` macro as placeholder syntax for type ascription
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_builtin_macros/src/type_ascribe.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/macros/mod.rs
  library/core/src/prelude/v1.rs
  library/std/src/prelude/v1.rs
  src/test/ui/associated-consts/issue-93835.rs
  src/test/ui/associated-consts/issue-93835.stderr
  src/test/ui/closures/issue-90871.rs
  src/test/ui/closures/issue-90871.stderr
  src/test/ui/coercion/coerce-expect-unsized-ascribed.rs
  src/test/ui/coercion/coerce-expect-unsized-ascribed.stderr
  src/test/ui/consts/const_in_pattern/accept_structural.rs
  src/test/ui/consts/const_in_pattern/reject_non_structural.rs
  src/test/ui/enum/issue-67945-2.rs
  src/test/ui/enum/issue-67945-2.stderr
  src/test/ui/lint/unused/issue-88519-unused-paren.rs
  src/test/ui/mir/mir_ascription_coercion.rs
  src/test/ui/nll/user-annotations/issue-57731-ascibed-coupled-types.rs
  src/test/ui/nll/user-annotations/issue-57731-ascibed-coupled-types.stderr
  src/test/ui/nll/user-annotations/type_ascription_static_lifetime.rs
  src/test/ui/nll/user-annotations/type_ascription_static_lifetime.stderr
  src/test/ui/raw-ref-op/raw-ref-temp-deref.rs
  src/test/ui/raw-ref-op/raw-ref-temp.rs
  src/test/ui/raw-ref-op/raw-ref-temp.stderr
  src/test/ui/reachable/expr_type.rs
  src/test/ui/reachable/expr_type.stderr
  src/test/ui/type/type-ascription-soundness.rs
  src/test/ui/type/type-ascription-soundness.stderr
  src/test/ui/type/type-ascription.rs
  src/test/ui/typeck/issue-91267.rs
  src/test/ui/typeck/issue-91267.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#104863 Reduce macro usage for lints
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/passes.rs
  compiler/rustc_session/src/options.rs
  src/librustdoc/lib.rs
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui-fulldeps/lint-plugin-cmdline-load.stderr
  src/test/ui-fulldeps/lint-plugin-deny-attr.stderr
  src/test/ui-fulldeps/lint-plugin-deny-cmdline.stderr
  src/test/ui-fulldeps/lint-plugin-forbid-attrs.rs
  src/test/ui-fulldeps/lint-plugin-forbid-attrs.stderr
  src/test/ui-fulldeps/lint-plugin-forbid-cmdline.rs
  src/test/ui-fulldeps/lint-plugin-forbid-cmdline.stderr
  src/test/ui-fulldeps/lint-plugin.stderr
  src/test/ui-fulldeps/lint-tool-cmdline-allow.stderr
  src/test/ui-fulldeps/lint-tool-test.rs
  src/test/ui-fulldeps/lint-tool-test.stderr
  src/test/ui/lint/issue-97094.nointerleaved.stderr
  src/test/ui/lint/issue-97094.rs
  src/test/ui/lint/issue-97094.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#104999 Adjust inlining attributes around panic_immediate_abort
  library/core/src/panicking.rs
  library/core/src/slice/index.rs
  library/std/src/panicking.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#105163 Check lifetime param count in `collect_trait_impl_trait_tys`
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  src/test/ui/async-await/in-trait/lifetime-mismatch.rs
  src/test/ui/async-await/in-trait/lifetime-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#105185 Move `normalize_fn_sig` to `TypeErrCtxt`
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/inherited.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#105187 Rollup of 7 pull requests
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/inherited.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/values.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/assembly/asm/aarch64-el2vmsa.rs
  src/test/assembly/sparc-struct-abi.rs
  src/test/ui/async-await/in-trait/lifetime-mismatch.rs
  src/test/ui/async-await/in-trait/lifetime-mismatch.stderr
  src/test/ui/query-system/fn-sig-cycle-arity.rs
  src/test/ui/query-system/fn-sig-cycle-arity.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#105026 v8a as default aarch64 target
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  src/test/assembly/asm/aarch64-el2vmsa.rs
Labels: T-compiler, S-waiting-on-bors

#105144 Document normalization methods `At::{normalize,query_normalize}`
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
Labels: T-compiler, S-waiting-on-bors

#105155 rustdoc: clean up help and settings button CSS
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#105162 Properly synthesize `FnSig` value during cycle
  compiler/rustc_middle/src/values.rs
  src/test/ui/query-system/fn-sig-cycle-arity.rs
  src/test/ui/query-system/fn-sig-cycle-arity.stderr
Labels: T-compiler, S-waiting-on-bors

#105033 sparc-struct-abi: work around new tail-call optimization
  src/test/assembly/sparc-struct-abi.rs
Labels: S-waiting-on-bors, llvm-main

#105196 Rollup of 7 pull requests
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  library/alloc/src/vec/mod.rs
  library/std/src/fs.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/json/mod.rs
  src/test/rustdoc-json/intra-doc-links/auxiliary/enum_variant_in_trait_method.rs
  src/test/rustdoc-json/intra-doc-links/foreign_variant.rs
  src/test/rustdoc-json/reexport/auxiliary/trait_with_docs.rs
  src/test/rustdoc-json/reexport/synthesize_trait_with_docs.rs
  src/test/rustdoc-json/traits/uses_extern_trait.rs
  src/test/ui/fn/signature-error-reporting-under-verbose.rs
  src/test/ui/fn/signature-error-reporting-under-verbose.stderr
  src/test/ui/trait-bounds/impl-bound-with-references-error.rs
  src/test/ui/trait-bounds/impl-bound-with-references-error.stderr
  src/tools/jsondoclint/src/validator.rs
  src/tools/jsondoclint/src/validator/tests.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-rustdoc-json

#105181 Don't add a note for implementing a trait if its inner type is erroneous
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  src/test/ui/trait-bounds/impl-bound-with-references-error.rs
  src/test/ui/trait-bounds/impl-bound-with-references-error.stderr
Labels: T-compiler, S-waiting-on-bors

#105182 Rustdoc-Json: Don't inline foreign traits
  src/librustdoc/json/mod.rs
  src/test/rustdoc-json/intra-doc-links/auxiliary/enum_variant_in_trait_method.rs
  src/test/rustdoc-json/intra-doc-links/foreign_variant.rs
  src/test/rustdoc-json/reexport/auxiliary/trait_with_docs.rs
  src/test/rustdoc-json/reexport/synthesize_trait_with_docs.rs
  src/test/rustdoc-json/traits/uses_extern_trait.rs
  src/tools/jsondoclint/src/validator.rs
  src/tools/jsondoclint/src/validator/tests.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#105188 Don't elide type information when printing E0308 with `-Zverbose`
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  src/test/ui/fn/signature-error-reporting-under-verbose.rs
  src/test/ui/fn/signature-error-reporting-under-verbose.stderr
Labels: T-compiler, S-waiting-on-bors

#105189 rustdoc: clean up redundant CSS on `.rustdoc-toggle.hideme`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#105032 improve doc of into_boxed_slice and impl From<Vec<T>> for Box<[T]>
  library/alloc/src/vec/mod.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#105100 Add missing intra-doc link
  library/std/src/fs.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#104903 Use ocx.normalize in report_projection_error
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
Labels: T-compiler, S-waiting-on-bors

#105133 Ensure query backtraces work for `DefId`s created after ast lowering
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#105183 Merge generics and where predicates and prevent duplicates in where predicates
  src/librustdoc/clean/mod.rs
  src/test/rustdoc/bounds-in-multiple-parts.rs
  src/test/rustdoc/impl-parts.rs
  src/test/rustdoc/rfc-2632-const-trait-impl.rs
  src/test/rustdoc/whitespace-after-where-clause.enum.html
  src/test/rustdoc/whitespace-after-where-clause.struct.html
  src/test/rustdoc/whitespace-after-where-clause.union.html
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#97485 Rewrite LLVM's archive writer in Rust
  Cargo.lock
  LICENSES/LLVM-exception.txt
  compiler/rustc_codegen_cranelift/Cargo.lock
  compiler/rustc_codegen_cranelift/Cargo.toml
  compiler/rustc_codegen_cranelift/src/archive.rs
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_codegen_gcc/src/archive.rs
  compiler/rustc_codegen_gcc/src/errors.rs
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_data_structures/src/memmap.rs
  compiler/rustc_error_messages/locales/en-US/codegen_gcc.ftl
  compiler/rustc_error_messages/locales/en-US/codegen_llvm.ftl
  compiler/rustc_error_messages/locales/en-US/codegen_ssa.ftl
  compiler/rustc_llvm/build.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_llvm/llvm-wrapper/SymbolWrapper.cpp
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-compiler, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, A-cranelift, A-meta, A-gcc, A-translation

#105212 Switch to the `macos-12-xl` builder
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#105193 Disable coverage instrumentation for naked functions
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_mir_transform/src/inline.rs
  src/test/codegen/naked-nocoverage.rs
Labels: T-compiler, A-naked, S-waiting-on-bors, A-code-coverage

#105200 Remove useless filter in unused extern crate check.
  compiler/rustc_hir_analysis/src/check_unused.rs
  src/test/ui/attributes/unused-item-in-attr.rs
  src/test/ui/attributes/unused-item-in-attr.stderr
Labels: T-compiler, S-waiting-on-bors

#105201 Do not call fn_sig on non-functions.
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  src/test/ui/suggestions/assoc-const-as-fn.rs
  src/test/ui/suggestions/assoc-const-as-fn.stderr
Labels: T-compiler, S-waiting-on-bors

#105208 Add AmbiguityError for inconsistent resolution for an import
  compiler/rustc_resolve/src/imports.rs
  src/test/ui/resolve/issue-105069.rs
  src/test/ui/resolve/issue-105069.stderr
Labels: T-compiler, S-waiting-on-bors

#105214 update Miri
  Cargo.lock
  src/tools/miri/CONTRIBUTING.md
  src/tools/miri/Cargo.lock
  src/tools/miri/Cargo.toml
  src/tools/miri/cargo-miri/src/phases.rs
  src/tools/miri/cargo-miri/src/setup.rs
  src/tools/miri/ci.sh
  src/tools/miri/miri
  src/tools/miri/rust-version
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/borrow_tracker/mod.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/item.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/stack.rs
  src/tools/miri/src/concurrency/data_race.rs
  src/tools/miri/src/concurrency/init_once.rs
  src/tools/miri/src/concurrency/sync.rs
  src/tools/miri/src/concurrency/thread.rs
  src/tools/miri/src/concurrency/vector_clock.rs
  src/tools/miri/src/concurrency/weak_memory.rs
  src/tools/miri/src/diagnostics.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/intptrcast.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/env.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/panic.rs
  src/tools/miri/src/shims/time.rs
  src/tools/miri/src/shims/tls.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/src/shims/unix/linux/sync.rs
  src/tools/miri/src/shims/unix/sync.rs
  src/tools/miri/src/shims/unix/thread.rs
  src/tools/miri/src/shims/windows/sync.rs
  src/tools/miri/src/shims/windows/thread.rs
  src/tools/miri/src/tag_gc.rs
  src/tools/miri/tests/fail/function_calls/exported_symbol_abi_mismatch.rs
  src/tools/miri/tests/fail/function_calls/exported_symbol_bad_unwind2.rs
  src/tools/miri/tests/many-seeds/scoped-thread-leak.rs
  src/tools/miri/tests/pass/concurrency/scope.rs
Labels: A-bootstrap, S-waiting-on-bors

#105050 Remove useless borrows and derefs
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_ast/src/util/comments.rs
  compiler/rustc_ast/src/util/literal.rs
  compiler/rustc_ast/src/util/parser.rs
  compiler/rustc_ast/src/util/unicode.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_data_structures/src/intern.rs
  compiler/rustc_data_structures/src/memmap.rs
  compiler/rustc_data_structures/src/owning_ref/mod.rs
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_errors/src/translation.rs
  compiler/rustc_fs_util/src/lib.rs
  compiler/rustc_graphviz/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/hir_id.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_macros/src/diagnostics/diagnostic.rs
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_session/src/cgu_reuse_tracker.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_span/src/analyze_source_file.rs
  compiler/rustc_span/src/caching_source_map_view.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/span_encoding.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/abi/call/sparc64.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#105153 Create a hacky fail-fast mode that stops tests at the first failure
  library/test/src/cli.rs
  library/test/src/console.rs
  library/test/src/lib.rs
  library/test/src/tests.rs
  src/tools/compiletest/src/main.rs
Labels: A-testsuite, S-waiting-on-bors, T-libs

#105164 Restore `use` suggestion for `dyn` method call requiring `Sized`
  compiler/rustc_hir_typeck/src/method/mod.rs
  src/test/ui/issues/issue-35976.rs
  src/test/ui/issues/issue-35976.unimported.stderr
Labels: T-compiler, S-waiting-on-bors

#104199 Keep track of the start of the argument block of a closure
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui-fulldeps/pprust-expr-roundtrip.rs
  src/tools/rustfmt/src/closures.rs
Labels: T-compiler, S-waiting-on-bors

#105217 Don't exit with an error if there are no changes to submodules
  src/bootstrap/lib.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#104757 Consolidate rustdoc's lint passes into a single pass
  src/librustdoc/passes/bare_urls.rs
  src/librustdoc/passes/check_code_block_syntax.rs
  src/librustdoc/passes/lint.rs
  src/librustdoc/passes/lint/bare_urls.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  src/librustdoc/passes/lint/html_tags.rs
  src/librustdoc/passes/mod.rs
  src/test/rustdoc-ui/issue-91713.stdout
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#105121 Cheaper `dump_mir` take two
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_mir_build/src/build/custom/mod.rs
  compiler/rustc_mir_dataflow/src/framework/engine.rs
  compiler/rustc_mir_transform/src/coverage/debug.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/dump_mir.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_mir_transform/src/simplify_branches.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#105237 Add regression test for #79450
  src/test/ui/rfc-2632-const-trait-impl/issue-79450.rs
  src/test/ui/rfc-2632-const-trait-impl/issue-79450.stderr
Labels: T-compiler, S-waiting-on-bors

#105248 Rollup of 4 pull requests
  compiler/rustc_ast/src/util/classify.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_target/src/spec/aarch64_apple_darwin.rs
  compiler/rustc_target/src/spec/apple/tests.rs
  compiler/rustc_target/src/spec/apple_base.rs
  compiler/rustc_target/src/spec/i686_apple_darwin.rs
  compiler/rustc_target/src/spec/x86_64_apple_darwin.rs
  src/test/run-make/macos-deployment-target/Makefile
  src/test/run-make/macos-deployment-target/with_deployment_target.rs
  src/test/ui/inline-const/expr-with-block-err.rs
  src/test/ui/inline-const/expr-with-block-err.stderr
  src/test/ui/inline-const/expr-with-block.rs
  src/test/ui/rfc-2632-const-trait-impl/issue-79450.rs
  src/test/ui/rfc-2632-const-trait-impl/issue-79450.stderr
  src/test/ui/suggestions/dont-suggest-ufcs-for-const.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#105123 Fix passing MACOSX_DEPLOYMENT_TARGET to the linker
  compiler/rustc_target/src/spec/aarch64_apple_darwin.rs
  compiler/rustc_target/src/spec/apple/tests.rs
  compiler/rustc_target/src/spec/apple_base.rs
  compiler/rustc_target/src/spec/i686_apple_darwin.rs
  compiler/rustc_target/src/spec/x86_64_apple_darwin.rs
  src/test/run-make/macos-deployment-target/Makefile
  src/test/run-make/macos-deployment-target/with_deployment_target.rs
Labels: O-macos, T-compiler, S-waiting-on-bors

#105142 Make inline const block `ExprWithBlock`
  compiler/rustc_ast/src/util/classify.rs
  src/test/ui/inline-const/expr-with-block-err.rs
  src/test/ui/inline-const/expr-with-block-err.stderr
  src/test/ui/inline-const/expr-with-block.rs
Labels: T-lang, T-compiler, S-waiting-on-bors, F-inline_const

#104856 Don't suggest associated function call for associated const.
  compiler/rustc_hir_typeck/src/method/probe.rs
  src/test/ui/suggestions/dont-suggest-ufcs-for-const.stderr
Labels: T-compiler, S-waiting-on-bors

#103293 Remove drop order twist of && and || and make them associative
  compiler/rustc_hir_analysis/src/check/region.rs
  src/test/ui/drop/drop_order.rs
  src/test/ui/drop/issue-103107.rs
Labels: T-lang, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#105141 Fix ICE on invalid variable declarations in macro calls
  compiler/rustc_parse/src/parser/stmt.rs
  src/test/ui/macros/issue-103529.rs
  src/test/ui/macros/issue-103529.stderr
Labels: T-compiler, S-waiting-on-bors

#105224 Properly substitute inherent associated types.
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  src/test/ui/associated-inherent-types/struct-generics.rs
Labels: T-compiler, S-waiting-on-bors

#105236 Add regression test for #47814
  src/test/ui/associated-consts/issue-47814.rs
  src/test/ui/associated-consts/issue-47814.stderr
Labels: T-compiler, S-waiting-on-bors

#105247 Use parent function WfCheckingContext to check RPITIT.
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  src/test/ui/async-await/in-trait/async-generics-and-bounds.stderr
  src/test/ui/async-await/in-trait/async-generics.stderr
  src/test/ui/async-await/in-trait/async-lifetimes-and-bounds.rs
  src/test/ui/async-await/in-trait/async-lifetimes-and-bounds.stderr
  src/test/ui/async-await/in-trait/async-lifetimes.rs
  src/test/ui/async-await/in-trait/async-lifetimes.stderr
  src/test/ui/async-await/in-trait/implied-bounds.rs
  src/test/ui/impl-trait/in-trait/where-clause.rs
Labels: T-compiler, S-waiting-on-bors

#105253 Update a couple of rustbuild deps
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
Labels: A-bootstrap, S-waiting-on-bors

#105261 Rollup of 6 pull requests
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/test/ui/associated-consts/issue-47814.rs
  src/test/ui/associated-consts/issue-47814.stderr
  src/test/ui/associated-inherent-types/struct-generics.rs
  src/test/ui/async-await/in-trait/async-generics-and-bounds.stderr
  src/test/ui/async-await/in-trait/async-generics.stderr
  src/test/ui/async-await/in-trait/async-lifetimes-and-bounds.rs
  src/test/ui/async-await/in-trait/async-lifetimes-and-bounds.stderr
  src/test/ui/async-await/in-trait/async-lifetimes.rs
  src/test/ui/async-await/in-trait/async-lifetimes.stderr
  src/test/ui/async-await/in-trait/implied-bounds.rs
  src/test/ui/impl-trait/in-trait/where-clause.rs
  src/test/ui/macros/issue-103529.rs
  src/test/ui/macros/issue-103529.stderr
  src/test/ui/resolve/bad-module.stderr
  src/test/ui/resolve/issue-101749-2.rs
  src/test/ui/resolve/issue-101749-2.stderr
  src/test/ui/resolve/issue-101749.fixed
  src/test/ui/resolve/issue-101749.rs
  src/test/ui/resolve/issue-101749.stderr
  src/test/ui/resolve/issue-24968.stderr
  src/test/ui/resolve/typo-suggestion-mistyped-in-path.stderr
  src/test/ui/resolve/use_suggestion.stderr
  src/test/ui/suggestions/crate-or-module-typo.stderr
Labels: T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#101975 Suggest to use . instead of :: when accessing a method of an object
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late.rs
  src/test/ui/resolve/bad-module.stderr
  src/test/ui/resolve/issue-101749-2.rs
  src/test/ui/resolve/issue-101749-2.stderr
  src/test/ui/resolve/issue-101749.fixed
  src/test/ui/resolve/issue-101749.rs
  src/test/ui/resolve/issue-101749.stderr
  src/test/ui/resolve/issue-24968.stderr
  src/test/ui/resolve/typo-suggestion-mistyped-in-path.stderr
  src/test/ui/resolve/use_suggestion.stderr
  src/test/ui/suggestions/crate-or-module-typo.stderr
Labels: T-compiler, S-waiting-on-bors

#104535 rustc_codegen_ssa: Fix for codegen_get_discr
  compiler/rustc_codegen_ssa/src/mir/place.rs
  src/test/codegen/enum-match.rs
  src/test/ui/enum-discriminant/issue-104519.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#105094 Make sure async constructs do not `impl Generator`
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  src/test/ui/async-await/generator-not-future.rs
  src/test/ui/async-await/generator-not-future.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#104920 Avoid some `InferCtxt::build` calls
  compiler/rustc_hir_analysis/src/astconv/generics.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/return/tail-expr-as-potential-return.rs
  src/test/ui/return/tail-expr-as-potential-return.stderr
Labels: C-cleanup, T-compiler, S-waiting-on-bors, merged-by-bors

#104824 deps: update cpufeatures, swap difference to dissimilar
  Cargo.lock
  compiler/rustc_lexer/Cargo.toml
  src/bootstrap/Cargo.lock
  src/librustdoc/Cargo.toml
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors

#105046 Send `VecDeque::from_iter` via `Vec::from_iter`
  library/alloc/src/collections/vec_deque/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, perf-regression, perf-regression-triaged

#105176 CI: reduce docker image sizes
  src/ci/docker/host-aarch64/aarch64-gnu/Dockerfile
  src/ci/docker/host-x86_64/dist-i686-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-freebsd/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-illumos/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-musl/Dockerfile
  src/ci/docker/host-x86_64/i686-gnu-nopt/Dockerfile
  src/ci/docker/host-x86_64/i686-gnu/Dockerfile
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/ci/docker/host-x86_64/test-various/Dockerfile
  src/ci/docker/host-x86_64/wasm32/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-aux/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-debug/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-distcheck/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-13-stage1/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-13/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-nopt/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu/Dockerfile
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#105301 update Miri
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/tests/fail/stacked_borrows/notunpin_dereferenceable_fakeread.rs
  src/tools/miri/tests/fail/stacked_borrows/notunpin_dereferenceable_fakeread.stderr
  src/tools/miri/tests/pass/stacked-borrows/future-self-referential.rs
Labels: S-waiting-on-bors

#105328 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_resolve/src/late.rs
  library/core/src/cmp.rs
  library/std/Cargo.toml
  src/bootstrap/flags.rs
  src/bootstrap/lib.rs
  src/bootstrap/setup.rs
  src/ci/docker/scripts/freebsd-toolchain.sh
  src/test/ui/async-await/track-caller/issue-105134.rs
  src/test/ui/async-await/track-caller/panic-track-caller.rs
  src/test/ui/const-generics/defaults/self-referential.rs
  src/test/ui/const-generics/defaults/self-referential.stderr
  src/test/ui/duplicate/duplicate-type-parameter.stderr
  src/test/ui/parser/expr-as-stmt.fixed
  src/test/ui/parser/expr-as-stmt.rs
  src/test/ui/parser/expr-as-stmt.stderr
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/tests/fail/stacked_borrows/notunpin_dereferenceable_fakeread.rs
  src/tools/miri/tests/fail/stacked_borrows/notunpin_dereferenceable_fakeread.stderr
  src/tools/miri/tests/pass/stacked-borrows/future-self-referential.rs
Labels: A-testsuite, T-compiler, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#105222 std update libc version and freebsd image build dependencies
  Cargo.lock
  library/std/Cargo.toml
  src/ci/docker/scripts/freebsd-toolchain.sh
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors, T-infra, T-libs

#105230 Skip recording resolution for duplicated generic params.
  compiler/rustc_resolve/src/late.rs
  src/test/ui/const-generics/defaults/self-referential.rs
  src/test/ui/const-generics/defaults/self-referential.stderr
  src/test/ui/duplicate/duplicate-type-parameter.stderr
Labels: T-compiler, S-waiting-on-bors

#104952 Streamline the user experience for `x.py setup`
  src/bootstrap/flags.rs
  src/bootstrap/lib.rs
  src/bootstrap/setup.rs
Labels: A-bootstrap, S-waiting-on-bors

#104912 PartialEq: PERs are homogeneous
  library/core/src/cmp.rs
Labels: S-waiting-on-bors, T-libs

#105119 Disable top down MIR inlining
  compiler/rustc_mir_transform/src/inline.rs
  src/test/mir-opt/inline/cycle.g.Inline.diff
  src/test/mir-opt/inline/cycle.main.Inline.diff
  src/test/mir-opt/inline/exponential_runtime.main.Inline.diff
  src/test/mir-opt/inline/exponential_runtime.rs
  src/test/mir-opt/inline/inline_cycle.one.Inline.diff
  src/test/mir-opt/inline/inline_cycle.two.Inline.diff
  src/test/mir-opt/inline/inline_cycle_generic.main.Inline.diff
  src/test/mir-opt/inline/inline_diverging.h.Inline.diff
  src/test/mir-opt/separate_const_switch.identity.SeparateConstSwitch.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#105220 feed resolver_for_lowering instead of storing it in a field
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_macros/src/query.rs
  compiler/rustc_metadata/src/fs.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_mir_transform/src/dump_mir.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#105207 interpret: clobber return place when calling function
  compiler/rustc_const_eval/src/interpret/eval_context.rs
Labels: T-compiler, S-waiting-on-bors

#105246 Fix --pass in compiletest
  src/tools/compiletest/src/header.rs
Labels: A-testsuite, S-waiting-on-bors

#105256 Add small comment explaining what `method-margins.goml` test is about
  src/test/rustdoc-gui/method-margins.goml
Labels: T-rustdoc, S-waiting-on-bors

#105289 Fix dupe word typos
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_resolve/src/late.rs
  library/core/src/iter/sources/repeat_n.rs
  library/core/src/str/pattern.rs
  library/std/src/sync/mpmc/array.rs
  library/std/src/thread/scoped.rs
  src/test/ui/rfc-1445-restrict-constants-in-patterns/match-requires-both-partialeq-and-eq.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#105309 rustdoc: remove no-op mobile CSS `.sidebar { margin: 0; padding: 0 }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#105315 Normalize inherent associated types after substitution
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  src/test/ui/associated-inherent-types/normalize-projection-0.rs
  src/test/ui/associated-inherent-types/normalize-projection-1.rs
Labels: T-compiler, S-waiting-on-bors, F-inherent_associated_types

#105324 Point at GAT `where` clause when an obligation is unsatisfied
  compiler/rustc_trait_selection/src/traits/project.rs
  src/test/ui/generic-associated-types/own-bound-span.rs
  src/test/ui/generic-associated-types/own-bound-span.stderr
  src/test/ui/object-safety/object-safety-supertrait-mentions-GAT.stderr
Labels: T-compiler, S-waiting-on-bors

#105338 Tweak "the following other types implement trait"
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/binop/binop-mul-i32-f32.stderr
  src/test/ui/const-generics/defaults/rp_impl_trait_fail.stderr
  src/test/ui/consts/const-eval/const-eval-overflow-3b.stderr
  src/test/ui/consts/const-eval/const-eval-overflow-4b.stderr
  src/test/ui/did_you_mean/issue-39802-show-5-trait-impls.stderr
  src/test/ui/impl-trait/equality.stderr
  src/test/ui/issues/issue-24352.stderr
  src/test/ui/kindck/kindck-copy.stderr
  src/test/ui/lexer/lex-bad-char-literals-6.stderr
  src/test/ui/mismatched_types/binops.stderr
  src/test/ui/never_type/issue-13352.stderr
  src/test/ui/numbers-arithmetic/not-suggest-float-literal.stderr
  src/test/ui/numbers-arithmetic/suggest-float-literal.stderr
  src/test/ui/span/multiline-span-simple.stderr
  src/test/ui/traits/issue-79458.stderr
  src/test/ui/try-trait/bad-interconversion.stderr
  src/test/ui/type-alias-impl-trait/self-referential-2.stderr
  src/test/ui/type-alias-impl-trait/self-referential-4.stderr
  src/test/ui/type-alias-impl-trait/self-referential.stderr
  src/test/ui/type/type-check-defaults.stderr
  src/test/ui/typeck/issue-81293.stderr
  src/test/ui/ufcs/ufcs-qpath-self-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#105175 Add StableOrd trait as proposed in MCP 533.
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_data_structures/src/fingerprint.rs
  compiler/rustc_data_structures/src/sorted_map.rs
  compiler/rustc_data_structures/src/sorted_map/index_map.rs
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_hir/src/hir_id.rs
  compiler/rustc_session/src/config.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#105365 Rollup of 11 pull requests
  Cargo.lock
  Cargo.toml
  compiler/rustc_borrowck/src/type_check/canonical.rs
  compiler/rustc_error_messages/locales/en-US/hir_analysis.ftl
  compiler/rustc_hir_analysis/src/check/compare_method.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/variance/mod.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/subst.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_trait_selection/src/traits/codegen.rs
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  config.toml.example
  library/std/src/sync/mpsc/mod.rs
  src/bootstrap/builder.rs
  src/bootstrap/config.rs
  src/bootstrap/run.rs
  src/bootstrap/sanity.rs
  src/bootstrap/tool.rs
  src/test/ui/async-await/in-trait/return-type-suggestion.rs
  src/test/ui/async-await/in-trait/return-type-suggestion.stderr
  src/test/ui/auto-traits/bad-generics-on-dyn.rs
  src/test/ui/auto-traits/bad-generics-on-dyn.stderr
  src/test/ui/const-generics/generic_const_exprs/const_kind_expr/wf_obligation.rs
  src/test/ui/const-generics/generic_const_exprs/const_kind_expr/wf_obligation.stderr
  src/test/ui/impl-trait/nested-return-type4.rs
  src/test/ui/impl-trait/nested-return-type4.stderr
  src/test/ui/issues/issue-105330.rs
  src/test/ui/issues/issue-105330.stderr
  src/test/ui/macros/syntax-error-recovery.stderr
  src/test/ui/parser/issue-101477-enum.stderr
  src/test/ui/parser/issue-103869.rs
  src/test/ui/parser/issue-103869.stderr
  src/test/ui/parser/macro/issue-37113.stderr
  src/test/ui/structs/struct-fn-in-definition.rs
  src/test/ui/structs/struct-fn-in-definition.stderr
  src/test/ui/trait-bounds/impl-missing-where-clause-lifetimes-from-trait.rs
  src/test/ui/trait-bounds/impl-missing-where-clause-lifetimes-from-trait.stderr
  src/test/ui/typeck/path-to-method-sugg-unresolved-expr.rs
  src/test/ui/typeck/path-to-method-sugg-unresolved-expr.stderr
  src/tools/collect-license-metadata/Cargo.toml
  src/tools/collect-license-metadata/src/licenses.rs
  src/tools/collect-license-metadata/src/main.rs
  src/tools/collect-license-metadata/src/path_tree.rs
  src/tools/collect-license-metadata/src/reuse.rs
  src/tools/generate-copyright/Cargo.toml
  src/tools/generate-copyright/src/main.rs
Labels: T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#105287 Synthesize substitutions for bad auto traits in dyn types
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/subst.rs
  src/test/ui/auto-traits/bad-generics-on-dyn.rs
  src/test/ui/auto-traits/bad-generics-on-dyn.stderr
Labels: T-compiler, S-waiting-on-bors

#105310 Be more careful about unresolved exprs in suggestion
  compiler/rustc_hir_typeck/src/method/suggest.rs
  src/test/ui/typeck/path-to-method-sugg-unresolved-expr.rs
  src/test/ui/typeck/path-to-method-sugg-unresolved-expr.stderr
Labels: T-compiler, S-waiting-on-bors

#105339 support `ConstKind::Expr` in `is_const_evaluatable` and `WfPredicates::compute`
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  src/test/ui/const-generics/generic_const_exprs/const_kind_expr/wf_obligation.rs
  src/test/ui/const-generics/generic_const_exprs/const_kind_expr/wf_obligation.stderr
Labels: T-compiler, S-waiting-on-bors, A-const-generics

#105340 Avoid ICE by accounting for missing type
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/issues/issue-105330.rs
  src/test/ui/issues/issue-105330.stderr
Labels: T-compiler, S-waiting-on-bors

#105342 Make `note_obligation_cause_code` take a `impl ToPredicate` for predicate
  compiler/rustc_borrowck/src/type_check/canonical.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/traits/codegen.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors

#105243 remove no-op 'let _ = '
  library/std/src/sync/mpsc/mod.rs
Labels: S-waiting-on-bors, T-libs

#104439 Add prototype to generate `COPYRIGHT` from REUSE metadata
  Cargo.lock
  Cargo.toml
  config.toml.example
  src/bootstrap/builder.rs
  src/bootstrap/config.rs
  src/bootstrap/run.rs
  src/bootstrap/sanity.rs
  src/bootstrap/tool.rs
  src/tools/collect-license-metadata/Cargo.toml
  src/tools/collect-license-metadata/src/licenses.rs
  src/tools/collect-license-metadata/src/main.rs
  src/tools/collect-license-metadata/src/path_tree.rs
  src/tools/collect-license-metadata/src/reuse.rs
  src/tools/generate-copyright/Cargo.toml
  src/tools/generate-copyright/src/main.rs
Labels: A-bootstrap, S-waiting-on-bors

#105229 Re-enable removal of ZST writes to unions
  compiler/rustc_mir_transform/src/remove_zsts.rs
  src/test/mir-opt/remove_zsts.get_union.PreCodegen.after.mir
  src/test/mir-opt/remove_zsts.get_union.RemoveZsts.diff
  src/test/mir-opt/remove_zsts.rs
  src/test/mir-opt/remove_zsts_dont_touch_unions.get_union.RemoveZsts.after.mir
  src/test/mir-opt/remove_zsts_dont_touch_unions.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#105378 Rollup of 9 pull requests
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_data_structures/src/intern.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_lint/src/pass_by_value.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/subst.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/sty.rs
  compiler/rustc_type_ir/src/ty_info.rs
  library/core/src/future/mod.rs
  library/core/src/task/wake.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/enum-variants.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc-gui/toggle-docs.goml
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui/async-await/async-await-let-else.drop-tracking.stderr
  src/test/ui/async-await/issue-68112.drop_tracking.stderr
  src/test/ui/async-await/issue-68112.no_drop_tracking.stderr
  src/test/ui/async-await/issue-69446-fnmut-capture.stderr
  src/test/ui/async-await/issue-70935-complex-spans.drop_tracking.stderr
  src/test/ui/async-await/partial-drop-partial-reinit.drop_tracking.stderr
  src/test/ui/async-await/partial-drop-partial-reinit.no_drop_tracking.stderr
  src/test/ui/lint/issue-104897.rs
  src/test/ui/lint/issue-104897.stderr
  src/test/ui/maximal_mir_to_hir_coverage.rs
  src/test/ui/regions/closure-in-projection-issue-97405.rs
  src/test/ui/regions/closure-in-projection-issue-97405.stderr
  src/test/ui/suggestions/assoc-const-as-fn.stderr
  src/test/ui/suggestions/try-removing-the-field.rs
  src/test/ui/suggestions/try-removing-the-field.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#105250 Replace usage of `ResumeTy` in async lowering with `Context`
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/future/mod.rs
  library/core/src/task/wake.rs
  src/test/ui/async-await/async-await-let-else.drop-tracking.stderr
  src/test/ui/async-await/issue-68112.drop_tracking.stderr
  src/test/ui/async-await/issue-68112.no_drop_tracking.stderr
  src/test/ui/async-await/issue-69446-fnmut-capture.stderr
  src/test/ui/async-await/issue-70935-complex-spans.drop_tracking.stderr
  src/test/ui/async-await/partial-drop-partial-reinit.drop_tracking.stderr
  src/test/ui/async-await/partial-drop-partial-reinit.no_drop_tracking.stderr
  src/test/ui/regions/closure-in-projection-issue-97405.rs
  src/test/ui/regions/closure-in-projection-issue-97405.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#105286 Add -Z maximal-hir-to-mir-coverage flag
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_session/src/options.rs
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui/maximal_mir_to_hir_coverage.rs
Labels: T-compiler, S-waiting-on-bors

#105320 rustdoc: simplify CSS selectors on top-doc and non-exhaustive toggles
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/enum-variants.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc-gui/toggle-docs.goml
Labels: T-rustdoc, S-waiting-on-bors

#105349 Point at args in associated const fn pointers
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  src/test/ui/suggestions/assoc-const-as-fn.stderr
Labels: T-compiler, S-waiting-on-bors

#105362 Cleanup macro-expanded code in `rustc_type_ir`
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_type_ir/src/sty.rs
Labels: T-compiler, S-waiting-on-bors

#105370 Remove outdated syntax from trait alias pretty printing
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_hir_pretty/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#105174 Suggest removing struct field from destructive binding only in shorthand scenario
  compiler/rustc_passes/src/liveness.rs
  src/test/ui/suggestions/try-removing-the-field.rs
  src/test/ui/suggestions/try-removing-the-field.stderr
Labels: T-compiler, S-waiting-on-bors

#104898 Put all cached values into a central struct instead of just the stable hash
  compiler/rustc_data_structures/src/intern.rs
  compiler/rustc_lint/src/pass_by_value.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/subst.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/ty_info.rs
Labels: T-compiler, S-waiting-on-bors

#105388 rustdoc: remove redundant CSS `.import-item .stab { font-size }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#105397 Rollup of 6 pull requests
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  src/doc/unstable-book/src/language-features/abi-efiapi.md
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/associated-inherent-types/issue-104260.rs
  triagebot.toml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#105358 Add a test for #104260
  src/test/ui/associated-inherent-types/issue-104260.rs
Labels: T-compiler, S-waiting-on-bors

#105380 add const generics ping files things for me
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#105382 remove an excess `this`
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
Labels: T-compiler, S-waiting-on-bors

#105390 unstable-book: Add `ignore` to `abi_efiapi` example code
  src/doc/unstable-book/src/language-features/abi-efiapi.md
Labels: S-waiting-on-bors

#105298 llvm-wrapper: adapt for an LLVM API change
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, llvm-main

#105291 Remove `{Early,Late}LintPassObjects`.
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/late.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#104799 Support Option and similar enums as type of static variable with linkage attribute
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_gcc/src/errors.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_error_codes/src/error_codes.rs
  compiler/rustc_error_codes/src/error_codes/E0791.md
  compiler/rustc_error_messages/locales/en-US/codegen_gcc.ftl
  compiler/rustc_error_messages/locales/en-US/codegen_llvm.ftl
  compiler/rustc_error_messages/locales/en-US/hir_analysis.ftl
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_middle/src/middle/codegen_fn_attrs.rs
  library/std/src/sys/unix/weak.rs
  src/test/ui/feature-gates/feature-gate-linkage.rs
  src/test/ui/feature-gates/feature-gate-linkage.stderr
  src/test/ui/linkage-attr/auxiliary/def_external.rs
  src/test/ui/linkage-attr/linkage-import.rs
  src/test/ui/linkage-attr/linkage-requires-raw-ptr.rs
  src/test/ui/linkage-attr/linkage-requires-raw-ptr.stderr
  src/test/ui/linkage-attr/linkage2.rs
  src/test/ui/linkage-attr/linkage2.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, A-translation

#103459 Pass on null handle values to child process
  library/std/src/sys/windows/process.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#105400 normalize before handling simple checks for evaluatability of `ty::Const`
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  src/test/ui/const-generics/generic_const_exprs/normed_to_param_is_evaluatable.rs
Labels: T-compiler, S-waiting-on-bors, A-const-generics

#105403 rustdoc: simplify CSS selectors for item table `.stab`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#105418 fix: remove hack from link.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra

#105425 Rollup of 6 pull requests
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/invalidation.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_builtin_macros/src/alloc_error_handler.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/concat.rs
  compiler/rustc_builtin_macros/src/concat_bytes.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/generic/ty.rs
  compiler/rustc_builtin_macros/src/deriving/mod.rs
  compiler/rustc_builtin_macros/src/env.rs
  compiler/rustc_builtin_macros/src/format_foreign.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/async-await/drop-track-bad-field-in-fru.rs
  src/test/ui/async-await/drop-track-bad-field-in-fru.stderr
  src/test/ui/const-generics/generic_const_exprs/normed_to_param_is_evaluatable.rs
  src/test/ui/structs/unresolved-struct-with-fru.rs
  src/test/ui/structs/unresolved-struct-with-fru.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#105267 Don't ICE in ExprUseVisitor on FRU for non-existent struct
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_privacy/src/lib.rs
  src/test/ui/async-await/drop-track-bad-field-in-fru.rs
  src/test/ui/async-await/drop-track-bad-field-in-fru.stderr
  src/test/ui/structs/unresolved-struct-with-fru.rs
  src/test/ui/structs/unresolved-struct-with-fru.stderr
Labels: T-compiler, S-waiting-on-bors

#105343 Simplify attribute handling in rustc_ast_lowering
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#105368 Remove more `ref` patterns from the compiler
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/invalidation.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_builtin_macros/src/alloc_error_handler.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/concat.rs
  compiler/rustc_builtin_macros/src/concat_bytes.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/generic/ty.rs
  compiler/rustc_builtin_macros/src/deriving/mod.rs
  compiler/rustc_builtin_macros/src/env.rs
  compiler/rustc_builtin_macros/src/format_foreign.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
Labels: T-compiler, S-waiting-on-bors

#105477 Ignore errors when including clear_expected_if_blessed
  src/test/run-make/coverage-reports/Makefile
Labels: S-waiting-on-bors, merged-by-bors

#105255 Make nested RPIT inherit the parent opaque's generics.
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  src/test/ui/async-await/in-trait/nested-rpit.rs
Labels: T-compiler, S-waiting-on-bors

#105317 make retagging work even with 'unstable' places
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_mir_transform/src/shim.rs
  src/test/mir-opt/inline/inline_retag.bar.Inline.after.mir
  src/test/mir-opt/retag.array_casts.SimplifyCfg-elaborate-drops.after.mir
  src/test/mir-opt/retag.core.ptr-drop_in_place.Test.SimplifyCfg-make_shim.after.mir
  src/test/mir-opt/retag.main-{closure#0}.SimplifyCfg-elaborate-drops.after.mir
  src/test/mir-opt/retag.main.SimplifyCfg-elaborate-drops.after.mir
  src/test/mir-opt/retag.{impl#0}-foo.SimplifyCfg-elaborate-drops.after.mir
  src/tools/miri/src/borrow_tracker/mod.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/diagnostics.rs
  src/tools/miri/src/machine.rs
Labels: T-compiler, S-waiting-on-bors

#105120 kmc-solid: `std::sys` code maintenance
  library/std/src/sys/itron/condvar.rs
  library/std/src/sys/itron/mutex.rs
  library/std/src/sys/itron/thread.rs
  library/std/src/sys/solid/io.rs
  library/std/src/sys/solid/os.rs
Labels: S-waiting-on-bors, T-libs

#105405 Stop passing -export-dynamic to wasm-ld.
  compiler/rustc_target/src/spec/wasm32_unknown_unknown.rs
Labels: T-compiler, relnotes, S-waiting-on-bors

#104922 Detect long types in E0308 and write them to disk
  Cargo.lock
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/note.rs
  compiler/rustc_middle/src/ty/error.rs
  compiler/rustc_session/Cargo.toml
  compiler/rustc_session/src/session.rs
  src/test/ui/diagnostic-width/long-E0308.rs
  src/test/ui/diagnostic-width/long-E0308.stderr
  src/test/ui/error-codes/E0275.stderr
  src/test/ui/issues/issue-20413.stderr
  src/test/ui/issues/issue-23122-2.stderr
  src/test/ui/recursion/issue-83150.stderr
  src/test/ui/regions/issue-102374.rs
  src/test/ui/regions/issue-102374.stderr
  src/test/ui/traits/issue-91949-hangs-on-recursion.stderr
Labels: T-compiler, A-bootstrap, S-waiting-on-bors

#105486 Rollup of 10 pull requests
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/note_region.rs
  compiler/rustc_infer/src/infer/error_reporting/suggest.rs
  compiler/rustc_infer/src/infer/note.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/structural_match.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  compiler/rustc_traits/src/codegen.rs
  compiler/rustc_traits/src/lib.rs
  compiler/rustc_ty_utils/src/lib.rs
  compiler/rustc_ty_utils/src/structural_match.rs
  library/core/src/ptr/mod.rs
  library/core/src/slice/mod.rs
  src/ci/docker/host-x86_64/dist-powerpc64le-linux/Dockerfile
  src/librustdoc/config.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/scrape-examples-help.md
  src/librustdoc/lib.rs
  src/librustdoc/scrape_examples.rs
  src/test/rustdoc-gui/basic.goml
  src/test/rustdoc-gui/docblock-table.goml
  src/test/rustdoc-gui/scrape-examples-button-focus.goml
  src/test/rustdoc-gui/scrape-examples-toggle.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
  src/test/rustdoc-ui/const-evalutation-ice.rs
  src/test/rustdoc-ui/const-evalutation-ice.stderr
  src/test/ui/mir/validate/issue-95978-validator-lifetime-comparison.rs
  src/test/ui/mir/validate/needs-reveal-all.rs
  src/tools/clippy/clippy_lints/src/methods/unnecessary_to_owned.rs
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#105387 Improve Rustdoc scrape-examples UI
  src/librustdoc/config.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/static/scrape-examples-help.md
  src/librustdoc/lib.rs
  src/librustdoc/scrape_examples.rs
  src/test/rustdoc-gui/scrape-examples-button-focus.goml
  src/test/rustdoc-gui/scrape-examples-toggle.goml
Labels: T-rustdoc, S-waiting-on-bors

#105389 Enable profiler in dist-powerpc64le-linux
  src/ci/docker/host-x86_64/dist-powerpc64le-linux/Dockerfile
Labels: A-testsuite, S-waiting-on-bors, T-infra

#105427 Dont silently ignore rustdoc errors
  src/librustdoc/lib.rs
  src/test/rustdoc-ui/const-evalutation-ice.rs
  src/test/rustdoc-ui/const-evalutation-ice.stderr
Labels: T-rustdoc, S-waiting-on-bors

#105442 rustdoc: clean up docblock table CSS
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/docblock-table.goml
  src/test/rustdoc-gui/src/test_docs/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#105443 Move some queries and methods
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/note_region.rs
  compiler/rustc_infer/src/infer/error_reporting/suggest.rs
  compiler/rustc_infer/src/infer/note.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/structural_match.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  compiler/rustc_traits/src/codegen.rs
  compiler/rustc_traits/src/lib.rs
  compiler/rustc_ty_utils/src/lib.rs
  compiler/rustc_ty_utils/src/structural_match.rs
Labels: T-compiler, S-waiting-on-bors

#105455 use the correct `Reveal` during validation
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_middle/src/mir/syntax.rs
  src/test/ui/mir/validate/issue-95978-validator-lifetime-comparison.rs
  src/test/ui/mir/validate/needs-reveal-all.rs
Labels: T-compiler, S-waiting-on-bors

#105470 Clippy: backport ICE fix before beta branch
  src/tools/clippy/clippy_lints/src/methods/unnecessary_to_owned.rs
Labels: S-waiting-on-bors

#105474 lib docs: fix typo
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, T-libs

#105216 Remove unused GUI test
  src/test/rustdoc-gui/basic.goml
Labels: T-rustdoc, S-waiting-on-bors

#105245 attempt to clarify align_to docs
  library/core/src/slice/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#105262 Make some trivial functions `#[inline(always)]`
  library/core/src/clone.rs
  library/core/src/convert/mod.rs
  library/core/src/hint.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/mod.rs
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#105499 Bump version to 1.68
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors
