Repository rust-lang/rust, pull requests merged in 2022-03, with the labels that each got.

#94299 Caching the stable hash of Ty within itself
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  src/test/ui/symbol-names/basic.legacy.stderr
  src/test/ui/symbol-names/issue-60925.legacy.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#94384 Add Atomic*::from_mut_slice
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors

#94448 5 - Make more use of `let_chains`
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/lib.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_passes/src/reachable.rs
Labels: T-compiler, S-waiting-on-bors

#94452 Sync portable-simd for bitmasks &c.
  library/portable-simd/crates/core_simd/examples/spectral_norm.rs
  library/portable-simd/crates/core_simd/src/comparisons.rs
  library/portable-simd/crates/core_simd/src/intrinsics.rs
  library/portable-simd/crates/core_simd/src/lib.rs
  library/portable-simd/crates/core_simd/src/masks.rs
  library/portable-simd/crates/core_simd/src/masks/bitmask.rs
  library/portable-simd/crates/core_simd/src/masks/full_masks.rs
  library/portable-simd/crates/core_simd/src/masks/to_bitmask.rs
  library/portable-simd/crates/core_simd/src/math.rs
  library/portable-simd/crates/core_simd/src/ops.rs
  library/portable-simd/crates/core_simd/src/reduction.rs
  library/portable-simd/crates/core_simd/src/round.rs
  library/portable-simd/crates/core_simd/src/select.rs
  library/portable-simd/crates/core_simd/src/swizzle.rs
  library/portable-simd/crates/core_simd/src/to_bytes.rs
  library/portable-simd/crates/core_simd/src/vector.rs
  library/portable-simd/crates/core_simd/src/vector/ptr.rs
  library/portable-simd/crates/core_simd/src/vendor.rs
  library/portable-simd/crates/core_simd/tests/masks.rs
  library/portable-simd/crates/core_simd/tests/ops_macros.rs
  library/portable-simd/crates/core_simd/tests/round.rs
Labels: S-waiting-on-bors

#94469 Rollup of 7 pull requests
  compiler/rustc_macros/src/session_diagnostic.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/lib.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  library/core/src/sync/atomic.rs
  library/portable-simd/crates/core_simd/examples/spectral_norm.rs
  library/portable-simd/crates/core_simd/src/comparisons.rs
  library/portable-simd/crates/core_simd/src/intrinsics.rs
  library/portable-simd/crates/core_simd/src/lib.rs
  library/portable-simd/crates/core_simd/src/masks.rs
  library/portable-simd/crates/core_simd/src/masks/bitmask.rs
  library/portable-simd/crates/core_simd/src/masks/full_masks.rs
  library/portable-simd/crates/core_simd/src/masks/to_bitmask.rs
  library/portable-simd/crates/core_simd/src/math.rs
  library/portable-simd/crates/core_simd/src/ops.rs
  library/portable-simd/crates/core_simd/src/reduction.rs
  library/portable-simd/crates/core_simd/src/round.rs
  library/portable-simd/crates/core_simd/src/select.rs
  library/portable-simd/crates/core_simd/src/swizzle.rs
  library/portable-simd/crates/core_simd/src/to_bytes.rs
  library/portable-simd/crates/core_simd/src/vector.rs
  library/portable-simd/crates/core_simd/src/vector/ptr.rs
  library/portable-simd/crates/core_simd/src/vendor.rs
  library/portable-simd/crates/core_simd/tests/masks.rs
  library/portable-simd/crates/core_simd/tests/ops_macros.rs
  library/portable-simd/crates/core_simd/tests/round.rs
  library/std/src/sys/windows/net.rs
  library/std/src/sys_common/net.rs
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/test/ui/feature-gates/issue-43106-gating-of-builtin-attrs.rs
  src/test/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  src/test/ui/lint/unused/unused_attributes-must_use.rs
  src/test/ui/lint/unused/unused_attributes-must_use.stderr
  src/test/ui/parser/expr-as-stmt-2.stderr
  src/test/ui/parser/expr-as-stmt.stderr
  src/test/ui/rfc-2497-if-let-chains/disallowed-positions.stderr
  src/test/ui/typeck/deref-multi.rs
  src/test/ui/typeck/deref-multi.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93926 Lint against more useless `#[must_use]` attributes
  compiler/rustc_macros/src/session_diagnostic.rs
  compiler/rustc_passes/src/check_attr.rs
  src/test/ui/feature-gates/issue-43106-gating-of-builtin-attrs.rs
  src/test/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  src/test/ui/lint/unused/unused_attributes-must_use.rs
  src/test/ui/lint/unused/unused_attributes-must_use.stderr
Labels: T-compiler, S-waiting-on-bors

#94094 use BOOL for TCP_NODELAY setsockopt value on Windows
  library/std/src/sys/windows/net.rs
  library/std/src/sys_common/net.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#93385 Rustdoc ty consistency fixes
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#91545 Generalize "remove `&`" and "add `*`" suggestions to more than one deref
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  src/test/ui/parser/expr-as-stmt-2.stderr
  src/test/ui/parser/expr-as-stmt.stderr
  src/test/ui/rfc-2497-if-let-chains/disallowed-positions.stderr
  src/test/ui/typeck/deref-multi.rs
  src/test/ui/typeck/deref-multi.stderr
Labels: T-compiler, S-waiting-on-bors

#94438 Check method input expressions once
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/expr.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/mismatched_types/overloaded-calls-bad.rs
  src/test/ui/mismatched_types/overloaded-calls-bad.stderr
  src/test/ui/tuple/wrong_argument_ice-2.rs
  src/test/ui/tuple/wrong_argument_ice-2.stderr
Labels: T-compiler, S-waiting-on-bors

#94359 Fix inconsistent symbol mangling of integers constants with -Zverbose
  compiler/rustc_symbol_mangling/src/legacy.rs
  src/test/ui/symbol-names/const-generics-demangling.legacy.stderr
  src/test/ui/symbol-names/const-generics-demangling.rs
  src/test/ui/symbol-names/const-generics-demangling.stderr
  src/test/ui/symbol-names/const-generics-demangling.v0.stderr
  src/test/ui/symbol-names/types.legacy.stderr
  src/test/ui/symbol-names/types.rs
  src/test/ui/symbol-names/types.verbose-legacy.stderr
Labels: T-compiler, S-waiting-on-bors

#94465 6 - Make more use of `let_chains`
  compiler/rustc_mir_build/src/build/expr/stmt.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_build/src/lib.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
Labels: T-compiler, S-waiting-on-bors

#87402 Direct users towards using Rust target feature names in CLI
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_codegen_ssa/src/traits/backend.rs
  compiler/rustc_data_structures/src/small_c_str.rs
  compiler/rustc_middle/src/query/mod.rs
  src/test/ui/target-feature/missing-plusminus-2.rs
  src/test/ui/target-feature/missing-plusminus-2.stderr
  src/test/ui/target-feature/missing-plusminus.rs
  src/test/ui/target-feature/missing-plusminus.stderr
  src/test/ui/target-feature/similar-feature-suggestion.rs
  src/test/ui/target-feature/similar-feature-suggestion.stderr
  src/test/ui/target-feature/tied-features-cli.one.stderr
  src/test/ui/target-feature/tied-features-cli.rs
  src/test/ui/target-feature/tied-features-cli.three.stderr
  src/test/ui/target-feature/tied-features-cli.two.stderr
  src/test/ui/target-feature/tied-features.rs
  src/test/ui/target-feature/tied-features.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94464 Suggest adding a new lifetime parameter when two elided lifetimes should match up for traits and impls.
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/different_lifetimes.rs
  src/test/ui/issues/issue-17728.stderr
  src/test/ui/lifetimes/lifetime-errors/ex3-both-anon-regions-return-type-is-anon.stderr
  src/test/ui/lifetimes/lifetime-errors/ex3-both-anon-regions-self-is-anon.stderr
  src/test/ui/lifetimes/lifetime-errors/ex3-both-anon-regions-using-impl-items.stderr
  src/test/ui/self/arbitrary_self_types_pin_lifetime_mismatch.stderr
  src/test/ui/self/elision/lt-ref-self.stderr
  src/test/ui/self/elision/ref-mut-self.stderr
  src/test/ui/self/elision/ref-mut-struct.stderr
  src/test/ui/self/elision/ref-self.stderr
  src/test/ui/self/elision/ref-struct.stderr
Labels: T-compiler, S-waiting-on-bors

#94476 7 - Make more use of `let_chains`
  compiler/rustc_mir_transform/src/const_debuginfo.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/coverage/debug.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/instcombine.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/required_consts.rs
Labels: T-compiler, S-waiting-on-bors

#94478 Fix panic when handling intra doc links generated from macro
  src/librustdoc/passes/mod.rs
  src/test/rustdoc-ui/auxiliary/module_macro_doc.rs
  src/test/rustdoc-ui/macro-docs.rs
  src/test/rustdoc-ui/macro-docs.stderr
  src/test/rustdoc-ui/macro-docs.stdout
Labels: T-rustdoc, S-waiting-on-bors

#94482 compiler: fix some typos
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_builtin_macros/src/cfg_eval.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_data_structures/src/sso/either_iter.rs
  compiler/rustc_hir/src/definitions.rs
Labels: T-compiler, S-waiting-on-bors

#94496 tests: accept llvm intrinsic in align-checking test
  src/test/codegen/dst-vtable-align-nonzero.rs
Labels: S-waiting-on-bors

#94498 9 - Make more use of `let_chains`
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/query/dropck_outlives.rs
  compiler/rustc_trait_selection/src/traits/relationships.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
Labels: T-compiler, S-waiting-on-bors

#94503 Provide C FFI types via core::ffi, not just in std
  library/core/src/ffi/c_char.md
  library/core/src/ffi/c_double.md
  library/core/src/ffi/c_float.md
  library/core/src/ffi/c_int.md
  library/core/src/ffi/c_long.md
  library/core/src/ffi/c_longlong.md
  library/core/src/ffi/c_schar.md
  library/core/src/ffi/c_short.md
  library/core/src/ffi/c_uchar.md
  library/core/src/ffi/c_uint.md
  library/core/src/ffi/c_ulong.md
  library/core/src/ffi/c_ulonglong.md
  library/core/src/ffi/c_ushort.md
  library/core/src/ffi/c_void.md
  library/core/src/ffi/mod.rs
  library/core/src/internal_macros.rs
  library/std/src/lib.rs
  library/std/src/os/raw/mod.rs
  library/std/src/sys/unix/process/process_unix.rs
  library/std/src/sys/unix/process/process_unsupported.rs
  library/std/src/sys/unix/process/process_vxworks.rs
  library/std/src/sys/windows/c.rs
  src/tools/tidy/src/pal.rs
Labels: S-waiting-on-bors, T-libs

#94229 Remove LLVM attribute removal
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/declare.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm/mod.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#92214 Error if submodule fetch fails.
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
  src/ci/init_repo.sh
Labels: S-waiting-on-bors, merged-by-bors

#94499 Documentation was missed when demoting Windows XP to no_std only
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors

#94505 Restore the local filter on mono item sorting
  compiler/rustc_middle/src/mir/mono.rs
  src/test/codegen/debuginfo-generic-closure-env-names.rs
Labels: T-compiler, S-waiting-on-bors

#94375 Adt copy suggestions
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  src/test/ui/moves/use_of_moved_value_clone_suggestions.rs
  src/test/ui/moves/use_of_moved_value_clone_suggestions.stderr
  src/test/ui/moves/use_of_moved_value_copy_suggestions.fixed
  src/test/ui/moves/use_of_moved_value_copy_suggestions.rs
  src/test/ui/moves/use_of_moved_value_copy_suggestions.stderr
Labels: C-enhancement, A-diagnostics, T-compiler, S-waiting-on-bors, A-suggestion-diagnostics

#94433 Improve allowness of the unexpected_cfgs lint
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_builtin_macros/src/cfg.rs
  compiler/rustc_builtin_macros/src/cfg_eval.rs
  compiler/rustc_builtin_macros/src/derive.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_metadata/src/native_libs.rs
  src/test/ui/check-cfg/allow-macro-cfg.rs
  src/test/ui/check-cfg/allow-same-level.rs
  src/test/ui/check-cfg/allow-same-level.stderr
  src/test/ui/check-cfg/allow-top-level.rs
  src/test/ui/check-cfg/allow-upper-level.rs
Labels: T-compiler, S-waiting-on-bors

#93354 Add documentation about `BorrowedFd::to_owned`.
  library/std/src/os/fd/owned.rs
  library/std/src/os/windows/io/handle.rs
  library/std/src/os/windows/io/socket.rs
Labels: S-waiting-on-bors

#93663 Rename `BorrowedFd::borrow_raw_fd` to `BorrowedFd::borrow_raw`.
  library/std/src/os/fd/mod.rs
  library/std/src/os/fd/owned.rs
  library/std/src/os/fd/tests.rs
  library/std/src/os/windows/io/handle.rs
  library/std/src/os/windows/io/socket.rs
  library/std/src/sys/unix/stdio.rs
Labels: S-waiting-on-bors

#92061 update char signess for openbsd
  library/core/src/ffi/mod.rs
Labels: O-openbsd, S-waiting-on-bors

#93072 Compatible variants suggestion with desugaring
  compiler/rustc_typeck/src/check/demand.rs
  src/test/ui/async-await/proper-span-for-type-error.fixed
  src/test/ui/async-await/proper-span-for-type-error.stderr
  src/test/ui/did_you_mean/compatible-variants.rs
  src/test/ui/did_you_mean/compatible-variants.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, A-suggestion-diagnostics

#94484 8 - Make more use of `let_chains`
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_infer/src/infer/fudge.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
Labels: T-compiler, S-waiting-on-bors

#94522 Remove out-of-context line at end of E0284 message
  compiler/rustc_error_codes/src/error_codes/E0284.md
Labels: T-compiler, S-waiting-on-bors

#94534 Re-export (unstable) core::ffi types from std::ffi
  library/std/src/ffi/mod.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors

#94536 Move transmute_undefined_repr back to nursery again
  src/tools/clippy/clippy_lints/src/lib.register_all.rs
  src/tools/clippy/clippy_lints/src/lib.register_correctness.rs
  src/tools/clippy/clippy_lints/src/lib.register_nursery.rs
  src/tools/clippy/clippy_lints/src/transmute/mod.rs
Labels: S-waiting-on-bors

#94537 Use ? operator in one instance instead of manual match
  src/librustdoc/doctest.rs
Labels: T-rustdoc, S-waiting-on-bors

#94544 Add some examples to comments in mbe code
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
Labels: T-compiler, S-waiting-on-bors

#94548 Rollup of 8 pull requests
  compiler/rustc_error_codes/src/error_codes/E0284.md
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_infer/src/infer/fudge.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  library/std/src/ffi/mod.rs
  library/std/src/lib.rs
  library/std/src/os/fd/raw.rs
  library/std/src/os/windows/io/handle.rs
  library/std/src/os/windows/io/raw.rs
  library/std/src/os/windows/io/socket.rs
  src/librustdoc/doctest.rs
  src/test/rustdoc/strip-enum-variant.rs
  src/tools/clippy/clippy_lints/src/lib.register_all.rs
  src/tools/clippy/clippy_lints/src/lib.register_correctness.rs
  src/tools/clippy/clippy_lints/src/lib.register_nursery.rs
  src/tools/clippy/clippy_lints/src/transmute/mod.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94101 rustdoc: add test cases for hidden enum variants
  src/test/rustdoc/strip-enum-variant.rs
Labels: T-rustdoc, S-waiting-on-bors

#93562 Update the documentation for `{As,Into,From}Raw{Fd,Handle,Socket}`.
  library/std/src/os/fd/raw.rs
  library/std/src/os/windows/io/handle.rs
  library/std/src/os/windows/io/raw.rs
  library/std/src/os/windows/io/socket.rs
Labels: S-waiting-on-bors

#94512 Miri/CTFE: properly treat overflow in (signed) division/rem as UB
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  library/core/tests/num/wrapping.rs
  src/test/ui/consts/const-int-unchecked.stderr
  src/test/ui/numbers-arithmetic/issue-8460-const.noopt.stderr
  src/test/ui/numbers-arithmetic/issue-8460-const.opt.stderr
  src/test/ui/numbers-arithmetic/issue-8460-const.opt_with_overflow_checks.stderr
  src/test/ui/numbers-arithmetic/issue-8460-const.rs
  src/tools/clippy/tests/ui/modulo_one.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#84944 remove obligation dedup from `impl_or_trait_obligations`
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: A-traits, T-compiler, S-waiting-on-bors, merged-by-bors

#87835 Implementation of the `expect` attribute (RFC 2383)
  Cargo.lock
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/expect.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/Cargo.toml
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_session/src/session.rs
  src/test/ui/lint/rfc-2383-lint-reason/catch_multiple_lint_triggers.rs
  src/test/ui/lint/rfc-2383-lint-reason/crate_level_expect.rs
  src/test/ui/lint/rfc-2383-lint-reason/crate_level_expect.stderr
  src/test/ui/lint/rfc-2383-lint-reason/expect_inside_macro.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_lint_from_macro.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_lint_from_macro.stderr
  src/test/ui/lint/rfc-2383-lint-reason/expect_missing_feature_gate.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_missing_feature_gate.stderr
  src/test/ui/lint/rfc-2383-lint-reason/expect_multiple_lints.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_multiple_lints.stderr
  src/test/ui/lint/rfc-2383-lint-reason/expect_nested_lint_levels.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_nested_lint_levels.stderr
  src/test/ui/lint/rfc-2383-lint-reason/expect_with_forbid.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_with_forbid.stderr
  src/test/ui/lint/rfc-2383-lint-reason/expect_with_reason.rs
  src/test/ui/lint/rfc-2383-lint-reason/expect_with_reason.stderr
  src/test/ui/lint/rfc-2383-lint-reason/fulfilled_expectation_early_lints.rs
  src/test/ui/lint/rfc-2383-lint-reason/fulfilled_expectation_late_lints.rs
  src/test/ui/lint/rfc-2383-lint-reason/multiple_expect_attrs.rs
  src/test/ui/lint/rfc-2383-lint-reason/multiple_expect_attrs.stderr
Labels: T-lang, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#94547 `parse_tt` cleanups
  compiler/rustc_expand/src/mbe/macro_parser.rs
Labels: T-compiler, S-waiting-on-bors

#94550 rustdoc: Add test for higher kinded functions generated by macros
  src/test/rustdoc/macro-higher-kinded-function.rs
Labels: T-rustdoc, S-waiting-on-bors

#94551 Doc: Fix use of quote instead of backstick in Adapter::map.
  library/core/src/iter/adapters/map.rs
Labels: S-waiting-on-bors

#94554 Fix invalid lint_node_id being put on a removed stmt
  compiler/rustc_expand/src/expand.rs
  src/test/ui/check-cfg/stmt-no-ice.rs
  src/test/ui/check-cfg/stmt-no-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#94555 all: fix some typos
  RELEASES.md
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_error_codes/src/error_codes/E0772.md
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_incremental/src/persist/load.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/mismatched_static_lifetime.rs
Labels: T-compiler, S-waiting-on-bors

#94563 Remove a unnecessary `..` pattern
  compiler/rustc_resolve/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#94571 Rollup of 8 pull requests
  RELEASES.md
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_error_codes/src/error_codes/E0772.md
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_incremental/src/persist/load.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/mismatched_static_lifetime.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/ty/fast_reject.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/specialization_graph.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  library/core/src/iter/adapters/map.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/thread/mod.rs
  src/test/rustdoc/macro-higher-kinded-function.rs
  src/test/ui/check-cfg/stmt-no-ice.rs
  src/test/ui/check-cfg/stmt-no-ice.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94057 improve comments for `simplify_type`
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/ty/fast_reject.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/specialization_graph.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
Labels: T-compiler, S-waiting-on-bors

#92697 Use cgroup quotas for calculating `available_parallelism`
  library/std/src/sys/unix/thread.rs
  library/std/src/thread/mod.rs
Labels: S-waiting-on-bors, T-libs

#94009 Support GATs in Rustdoc
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/fold.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/lib.rs
  src/librustdoc/passes/check_doc_test_visibility.rs
  src/librustdoc/visit.rs
  src/rustdoc-json-types/lib.rs
  src/test/rustdoc-json/generic-associated-types/gats.rs
  src/test/rustdoc/generic-associated-types/gats.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json, perf-regression

#94575 CTFE SwitchInt: update comment
  compiler/rustc_const_eval/src/interpret/terminator.rs
Labels: T-compiler, S-waiting-on-bors

#94582 Fix a bug in `x.py fmt` that prevents some files being formatted.
  src/bootstrap/format.rs
Labels: S-waiting-on-bors

#94588 Rollup of 10 pull requests
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_driver/src/pretty.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_macros/src/newtype.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/asm/arm.rs
  compiler/rustc_typeck/src/check_unused.rs
  library/std/src/io/mod.rs
  library/std/src/io/stdio.rs
  library/std/src/io/stdio/tests.rs
  library/std/src/net/mod.rs
  library/std/src/os/windows/io/handle.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/fs.rs
  library/std/src/sys/windows/handle.rs
  library/std/src/sys/windows/thread.rs
  src/bootstrap/builder.rs
  src/bootstrap/cc_detect.rs
  src/bootstrap/compile.rs
  src/bootstrap/format.rs
  src/bootstrap/lib.rs
  src/bootstrap/native.rs
  src/bootstrap/test.rs
  src/doc/favicon.inc
  src/doc/redirect.inc
  src/doc/rustdoc/src/the-doc-attribute.md
  src/librustdoc/html/templates/page.html
  src/test/ui/lint/issue-87308.rs
  src/test/ui/lint/issue-87308.stdout
  src/test/ui/repr/issue-83921-pretty.normal.stderr
  src/test/ui/repr/issue-83921-pretty.pretty.stdout
  src/test/ui/repr/issue-83921-pretty.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/main.rs
  src/tools/compiletest/src/runtest.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94339 ARM: Only allow using d16-d31 with asm! when supported by the target
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/asm/arm.rs
Labels: T-compiler, S-waiting-on-bors

#94404 Make Ord and PartialOrd opt-out in `newtype_index`
  compiler/rustc_macros/src/newtype.rs
Labels: T-compiler, S-waiting-on-bors

#94466 bootstrap: correct reading of flags for llvm
  src/bootstrap/builder.rs
  src/bootstrap/cc_detect.rs
  src/bootstrap/compile.rs
  src/bootstrap/lib.rs
  src/bootstrap/native.rs
  src/bootstrap/test.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/main.rs
  src/tools/compiletest/src/runtest.rs
Labels: relnotes, S-waiting-on-bors

#94572 Use `HandleOrNull` and `HandleOrInvalid` in the Windows FFI bindings.
  library/std/src/os/windows/io/handle.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/fs.rs
  library/std/src/sys/windows/handle.rs
  library/std/src/sys/windows/thread.rs
Labels: S-waiting-on-bors

#93913 Remove the everybody loops pass
  compiler/rustc_driver/src/pretty.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_typeck/src/check_unused.rs
  src/test/ui/lint/issue-87308.rs
  src/test/ui/lint/issue-87308.stdout
  src/test/ui/repr/issue-83921-pretty.normal.stderr
  src/test/ui/repr/issue-83921-pretty.pretty.stdout
  src/test/ui/repr/issue-83921-pretty.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#93965 Make regular stdio lock() return 'static handles
  library/std/src/io/mod.rs
  library/std/src/io/stdio.rs
  library/std/src/io/stdio/tests.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#93418 rustdoc & doc: no `shortcut` for `rel="icon"`
  src/doc/favicon.inc
  src/doc/redirect.inc
  src/doc/rustdoc/src/the-doc-attribute.md
  src/librustdoc/html/templates/page.html
Labels: T-rustdoc, S-waiting-on-bors

#88805 Clarification of default socket flags
  library/std/src/net/mod.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#94159 Add !align metadata on loads of &/&mut/Box
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  src/test/codegen/loads.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94539 Pass LLVM string attributes as string slices
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm/mod.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94524 Remove num_cpus dependency from bootstrap, build-manifest and rustc_s…
  Cargo.lock
  compiler/rustc_session/Cargo.toml
  compiler/rustc_session/src/options.rs
  src/bootstrap/Cargo.toml
  src/bootstrap/config.rs
  src/bootstrap/flags.rs
  src/bootstrap/lib.rs
  src/tools/build-manifest/Cargo.toml
  src/tools/build-manifest/src/main.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#94549 Rename JoinHandle::is_running to is_finished.
  library/std/src/thread/mod.rs
  library/std/src/thread/scoped.rs
  library/std/src/thread/tests.rs
Labels: T-libs-api, S-waiting-on-bors

#94568 Remove some dead code from rustbuild
  src/bootstrap/config.rs
  src/bootstrap/toolstate.rs
Labels: C-cleanup, A-rustbuild, S-waiting-on-bors

#94593 Do not recover from `Ty?` in macro parsing
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/nonterminal.rs
  compiler/rustc_parse/src/parser/ty.rs
  src/test/ui/parser/trailing-question-in-macro-type.rs
  src/test/ui/parser/trailing-question-in-macro-type.stderr
Labels: beta-nominated, S-waiting-on-bors

#94600 Use if let instead of manual match
  src/librustdoc/clean/types.rs
Labels: T-rustdoc, S-waiting-on-bors

#94612 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/nonterminal.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_session/Cargo.toml
  compiler/rustc_session/src/options.rs
  library/std/src/sync/once.rs
  library/std/src/thread/mod.rs
  library/std/src/thread/scoped.rs
  library/std/src/thread/tests.rs
  src/bootstrap/Cargo.toml
  src/bootstrap/config.rs
  src/bootstrap/flags.rs
  src/bootstrap/lib.rs
  src/bootstrap/toolstate.rs
  src/librustdoc/clean/types.rs
  src/test/ui/issues/issue-87707.rs
  src/test/ui/issues/issue-87707.run.stderr
  src/test/ui/parser/trailing-question-in-macro-type.rs
  src/test/ui/parser/trailing-question-in-macro-type.stderr
  src/tools/build-manifest/Cargo.toml
  src/tools/build-manifest/src/main.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#94236 Add #[track_caller] to track callers when initializing poisoned Once
  library/std/src/sync/once.rs
  src/test/ui/issues/issue-87707.rs
  src/test/ui/issues/issue-87707.run.stderr
Labels: T-compiler, S-waiting-on-bors, perf-regression, perf-regression-triaged

#94494 Bump autocfg to 1.1.0
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#94298 Enable conditional compilation checking on the Rust codebase
  compiler/rustc_data_structures/src/sorted_map/index_map.rs
  library/core/src/mem/maybe_uninit.rs
  library/std/src/os/windows/fs.rs
  src/bootstrap/builder.rs
  src/bootstrap/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94577 only disable SIMD for doctests in Miri (not for the stdlib build itself)
  library/core/src/lib.rs
  library/core/src/slice/mod.rs
  library/core/tests/simd.rs
  library/core/tests/slice.rs
Labels: S-waiting-on-bors

#94595 Fix invalid `unresolved imports` errors for a single-segment import
  compiler/rustc_resolve/src/imports.rs
  src/test/ui/rust-2018/unresolved-asterisk-imports.rs
  src/test/ui/rust-2018/unresolved-asterisk-imports.stderr
  src/test/ui/unresolved/unresolved-asterisk-imports.rs
  src/test/ui/unresolved/unresolved-asterisk-imports.stderr
Labels: T-compiler, S-waiting-on-bors

#94596 Delay bug in expr adjustment when check_expr is called multiple times
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/mismatched_types/overloaded-calls-bad.rs
  src/test/ui/mismatched_types/overloaded-calls-bad.stderr
  src/test/ui/tuple/wrong_argument_ice-3.rs
  src/test/ui/tuple/wrong_argument_ice-3.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#94618 Don't round stack size up for created threads in Windows
  library/std/src/sys/windows/thread.rs
Labels: O-windows, S-waiting-on-bors

#94628 Rollup of 5 pull requests
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  library/core/src/lib.rs
  library/core/src/slice/mod.rs
  library/core/tests/simd.rs
  library/core/tests/slice.rs
  library/std/src/sys/windows/thread.rs
  src/test/ui/check-cfg/empty-values.rs
  src/test/ui/check-cfg/empty-values.stderr
  src/test/ui/check-cfg/well-known-values.rs
  src/test/ui/check-cfg/well-known-values.stderr
  src/test/ui/mismatched_types/overloaded-calls-bad.rs
  src/test/ui/mismatched_types/overloaded-calls-bad.stderr
  src/test/ui/rust-2018/unresolved-asterisk-imports.rs
  src/test/ui/rust-2018/unresolved-asterisk-imports.stderr
  src/test/ui/tuple/wrong_argument_ice-3.rs
  src/test/ui/tuple/wrong_argument_ice-3.stderr
  src/test/ui/unresolved/unresolved-asterisk-imports.rs
  src/test/ui/unresolved/unresolved-asterisk-imports.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94362 Add well known values to `--check-cfg` implementation
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/spec/mod.rs
  src/test/ui/check-cfg/empty-values.rs
  src/test/ui/check-cfg/empty-values.stderr
  src/test/ui/check-cfg/well-known-values.rs
  src/test/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors

#93142 Do not point at whole file missing `fn main`
  compiler/rustc_passes/src/entry.rs
  src/test/ui/attributes/issue-90873.rs
  src/test/ui/attributes/issue-90873.stderr
  src/test/ui/conditional-compilation/cfg-attr-cfg-2.stderr
  src/test/ui/conditional-compilation/cfg-in-crate-1.stderr
  src/test/ui/continue-after-missing-main.nll.stderr
  src/test/ui/continue-after-missing-main.rs
  src/test/ui/continue-after-missing-main.stderr
  src/test/ui/elided-test.stderr
  src/test/ui/entry-point/imported_main_const_fn_item_type_forbidden.rs
  src/test/ui/entry-point/imported_main_const_fn_item_type_forbidden.stderr
  src/test/ui/entry-point/imported_main_const_forbidden.rs
  src/test/ui/entry-point/imported_main_const_forbidden.stderr
  src/test/ui/main-wrong-location.rs
  src/test/ui/main-wrong-location.stderr
  src/test/ui/missing/missing-main.stderr
  src/test/ui/parser/issues/issue-49040.stderr
  src/tools/clippy/tests/ui/crashes/ice-6250.stderr
  src/tools/clippy/tests/ui/crashes/ice-6251.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94446 UNIX `remove_dir_all()`: Try recursing first on the slow path
  library/std/src/sys/unix/fs.rs
Labels: S-waiting-on-bors

#94460 Reenable generator drop tracking tests and fix mutation handling
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/record_consumed_borrow.rs
  compiler/rustc_typeck/src/expr_use_visitor.rs
  src/test/ui/async-await/async-fn-nonsend.rs
  src/test/ui/async-await/drop-and-assign.rs
  src/test/ui/async-await/unresolved_type_param.rs
  src/test/ui/async-await/unresolved_type_param.stderr
  src/test/ui/generator/drop-control-flow.rs
  src/test/ui/generator/issue-57478.rs
  src/test/ui/generator/partial-drop.rs
  src/test/ui/generator/partial-drop.stderr
Labels: T-compiler, S-waiting-on-bors

#94620 Edit docs on consistency of `PartialOrd` and `PartialEq`
  library/core/src/cmp.rs
Labels: S-waiting-on-bors

#94624 Downgrade `#[test]` on macro call to warning
  compiler/rustc_builtin_macros/src/test.rs
  src/test/ui/test-attrs/test-on-not-fn.rs
  src/test/ui/test-attrs/test-on-not-fn.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#94626 Add known-bug directive to issue #47511 test case
  src/test/ui/issues/issue-47511.rs
  src/test/ui/issues/issue-47511.stderr
Labels: T-compiler, S-waiting-on-bors

#94631 Fix typo in c-variadic
  src/doc/unstable-book/src/language-features/c-variadic.md
Labels: S-waiting-on-bors

#94634 Rollup of 6 pull requests
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/record_consumed_borrow.rs
  compiler/rustc_typeck/src/expr_use_visitor.rs
  library/core/src/cmp.rs
  library/std/src/sys/unix/fs.rs
  src/doc/unstable-book/src/language-features/c-variadic.md
  src/test/ui/async-await/async-fn-nonsend.rs
  src/test/ui/async-await/drop-and-assign.rs
  src/test/ui/async-await/unresolved_type_param.rs
  src/test/ui/async-await/unresolved_type_param.stderr
  src/test/ui/generator/drop-control-flow.rs
  src/test/ui/generator/issue-57478.rs
  src/test/ui/generator/partial-drop.rs
  src/test/ui/generator/partial-drop.stderr
  src/test/ui/issues/issue-47511.rs
  src/test/ui/issues/issue-47511.stderr
  src/test/ui/test-attrs/test-on-not-fn.rs
  src/test/ui/test-attrs/test-on-not-fn.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94546 Clean up the std library's #![feature]s
  library/std/src/lib.rs
Labels: C-cleanup, S-waiting-on-bors, merged-by-bors, T-libs

#94561 Improve unexpected_cfgs lint when their is no value expected
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint_defs/src/lib.rs
  src/test/ui/check-cfg/empty-values.stderr
  src/test/ui/check-cfg/no-values.rs
  src/test/ui/check-cfg/no-values.stderr
  src/test/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94480 Remove build_helper
  Cargo.lock
  compiler/rustc_llvm/Cargo.toml
  compiler/rustc_llvm/build.rs
  src/bootstrap/Cargo.toml
  src/bootstrap/builder.rs
  src/bootstrap/cc_detect.rs
  src/bootstrap/channel.rs
  src/bootstrap/clean.rs
  src/bootstrap/compile.rs
  src/bootstrap/config.rs
  src/bootstrap/dist.rs
  src/bootstrap/doc.rs
  src/bootstrap/flags.rs
  src/bootstrap/format.rs
  src/bootstrap/install.rs
  src/bootstrap/lib.rs
  src/bootstrap/metadata.rs
  src/bootstrap/native.rs
  src/bootstrap/run.rs
  src/bootstrap/sanity.rs
  src/bootstrap/tarball.rs
  src/bootstrap/test.rs
  src/bootstrap/tool.rs
  src/bootstrap/toolstate.rs
  src/bootstrap/util.rs
  src/build_helper/Cargo.toml
  src/build_helper/lib.rs
Labels: C-cleanup, T-compiler, A-rustbuild, S-waiting-on-bors, merged-by-bors

#92123 Implement RFC 3184 - thread local cell methods
  library/std/src/lib.rs
  library/std/src/thread/local.rs
  src/test/ui/suggestions/missing-lifetime-specifier.rs
  src/test/ui/suggestions/missing-lifetime-specifier.stderr
  src/test/ui/threads-sendsync/issue-43733.mir.stderr
  src/test/ui/threads-sendsync/issue-43733.rs
  src/test/ui/threads-sendsync/issue-43733.thir.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94630 Update note about tier 2 docs.
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors

#94633 Suggest removing a semicolon after derive attributes
  compiler/rustc_parse/src/parser/item.rs
  src/test/ui/parser/attr-with-a-semicolon.rs
  src/test/ui/parser/attr-with-a-semicolon.stderr
Labels: T-compiler, S-waiting-on-bors

#94642 Fix source code pages scroll
  src/librustdoc/html/static/js/source-script.js
  src/test/rustdoc-gui/source-anchor-scroll.goml
  src/test/rustdoc-gui/src/link_to_definition/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui, A-rustdoc-js

#94645 do not attempt to open cgroup files under Miri
  library/std/src/sys/unix/thread.rs
Labels: S-waiting-on-bors

#94648 Rollup of 4 pull requests
  compiler/rustc_parse/src/parser/item.rs
  library/std/src/sys/unix/thread.rs
  src/doc/rustc/src/platform-support.md
  src/librustdoc/html/static/js/source-script.js
  src/test/rustdoc-gui/source-anchor-scroll.goml
  src/test/rustdoc-gui/src/link_to_definition/lib.rs
  src/test/ui/parser/attr-with-a-semicolon.rs
  src/test/ui/parser/attr-with-a-semicolon.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94601 add address sanitizer fo android
  compiler/rustc_target/src/spec/aarch64_linux_android.rs
  compiler/rustc_target/src/spec/arm_linux_androideabi.rs
  compiler/rustc_target/src/spec/armv7_linux_androideabi.rs
  compiler/rustc_target/src/spec/i686_linux_android.rs
  compiler/rustc_target/src/spec/x86_64_linux_android.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#93805 rustdoc: Stop textually replacing `Self` in doc links before resolving them
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/test/rustdoc/intra-doc/associated-items.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#90076 Change location of where clause on GATs
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_parse/src/parser/item.rs
  src/test/ui/feature-gates/feature-gate-generic_associated_types.rs
  src/test/ui/feature-gates/feature-gate-generic_associated_types.stderr
  src/test/ui/generic-associated-types/bugs/issue-87735.rs
  src/test/ui/generic-associated-types/bugs/issue-87748.rs
  src/test/ui/generic-associated-types/collections-project-default.rs
  src/test/ui/generic-associated-types/collections.rs
  src/test/ui/generic-associated-types/construct_with_other_type.rs
  src/test/ui/generic-associated-types/gat-in-trait-path.rs
  src/test/ui/generic-associated-types/generic-associated-types-where.rs
  src/test/ui/generic-associated-types/generic-associated-types-where.stderr
  src/test/ui/generic-associated-types/impl_bounds.rs
  src/test/ui/generic-associated-types/impl_bounds.stderr
  src/test/ui/generic-associated-types/impl_bounds_ok.rs
  src/test/ui/generic-associated-types/issue-47206-where-clause.rs
  src/test/ui/generic-associated-types/issue-47206-where-clause.stderr
  src/test/ui/generic-associated-types/issue-76826.rs
  src/test/ui/generic-associated-types/issue-79422.rs
  src/test/ui/generic-associated-types/issue-84931.stderr
  src/test/ui/generic-associated-types/issue-86787.rs
  src/test/ui/generic-associated-types/issue-88287.rs
  src/test/ui/generic-associated-types/issue-90014.stderr
  src/test/ui/generic-associated-types/issue-91139.rs
  src/test/ui/generic-associated-types/issue-92033.stderr
  src/test/ui/generic-associated-types/issue-92280.rs
  src/test/ui/generic-associated-types/iterable.rs
  src/test/ui/generic-associated-types/missing-where-clause-on-trait.rs
  src/test/ui/generic-associated-types/missing-where-clause-on-trait.stderr
  src/test/ui/generic-associated-types/projection-bound-cycle-generic.rs
  src/test/ui/generic-associated-types/projection-bound-cycle.rs
  src/test/ui/generic-associated-types/streaming_iterator.rs
  src/test/ui/parser/bounds-lifetime-where.rs
  src/test/ui/parser/bounds-lifetime-where.stderr
  src/test/ui/parser/removed-syntax-ptr-lifetime.rs
  src/test/ui/parser/removed-syntax-ptr-lifetime.stderr
  src/test/ui/parser/type-alias-where-fixable.fixed
  src/test/ui/parser/type-alias-where-fixable.rs
  src/test/ui/parser/type-alias-where-fixable.stderr
  src/test/ui/parser/type-alias-where.rs
  src/test/ui/parser/type-alias-where.stderr
  src/tools/clippy/clippy_utils/src/ast_utils.rs
  src/tools/rustfmt/src/items.rs
Labels: T-lang, T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#94621 rustbuild: support RelWithDebInfo for lld
  src/bootstrap/native.rs
Labels: S-waiting-on-bors

#94649 Unix path::absolute: Fix leading "." component
  library/std/src/path/tests.rs
  library/std/src/sys/unix/path.rs
Labels: S-waiting-on-bors

#94668 Rollup of 3 pull requests
  library/core/src/iter/traits/iterator.rs
  library/std/src/path/tests.rs
  library/std/src/sys/unix/path.rs
  src/bootstrap/native.rs
Labels: S-waiting-on-bors, merged-by-bors, rollup

#92509 doc: `Iterator::partition` use partial type hints
  library/core/src/iter/traits/iterator.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#94617 Update `itertools`
  Cargo.lock
  compiler/rustc_ast_passes/Cargo.toml
  compiler/rustc_borrowck/Cargo.toml
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_mir_transform/Cargo.toml
  src/librustdoc/Cargo.toml
  src/tools/clippy/Cargo.toml
  src/tools/clippy/clippy_dev/Cargo.toml
  src/tools/clippy/clippy_lints/Cargo.toml
  src/tools/rustfmt/Cargo.toml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#94669 Update -Z unpretty error message
  compiler/rustc_session/src/config.rs
Labels: T-compiler, S-waiting-on-bors

#94673 Rollup of 3 pull requests
  Cargo.lock
  compiler/rustc_ast_passes/Cargo.toml
  compiler/rustc_borrowck/Cargo.toml
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_mir_transform/Cargo.toml
  compiler/rustc_session/src/config.rs
  src/librustdoc/Cargo.toml
  src/librustdoc/html/format.rs
  src/test/rustdoc/const-generics/generic_const_exprs.rs
  src/test/rustdoc/rfc-2632-const-trait-impl.rs
  src/tools/clippy/Cargo.toml
  src/tools/clippy/clippy_dev/Cargo.toml
  src/tools/clippy/clippy_lints/Cargo.toml
  src/tools/rustfmt/Cargo.toml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#93412 Improve rustdoc const bounds
  src/librustdoc/html/format.rs
  src/test/rustdoc/const-generics/generic_const_exprs.rs
  src/test/rustdoc/rfc-2632-const-trait-impl.rs
Labels: T-rustdoc, S-waiting-on-bors

#94579 Always include global target features in function attributes
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/small_c_str.rs
  compiler/rustc_data_structures/src/small_str.rs
  compiler/rustc_data_structures/src/small_str/tests.rs
  src/test/codegen/target-feature-overrides.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94679 Rollup of 3 pull requests
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  library/core/src/pin.rs
  src/test/ui/lto/lto-duplicate-symbols.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94659 explain why shift with signed offset works the way it does
  compiler/rustc_const_eval/src/interpret/operator.rs
Labels: T-compiler, S-waiting-on-bors

#94671 fix pin doc typo
  library/core/src/pin.rs
Labels: S-waiting-on-bors

#94672 Improved error message for failed bitcode load
  compiler/rustc_codegen_llvm/src/back/lto.rs
  src/test/ui/lto/lto-duplicate-symbols.stderr
Labels: T-compiler, S-waiting-on-bors

#94597 Introduce `ConstAllocation`.
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_ssa/src/traits/consts.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/intrinsics/type_name.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_data_structures/src/intern.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/interpret/queries.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_typeck/src/check/mod.rs
  src/tools/clippy/clippy_utils/src/consts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94638 cleanup: remove unused ability to have LLVM null-terminate const strings
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/context.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94272 fs: Don't dereference a pointer to a too-small allocation
  library/std/src/sys/unix/fs.rs
Labels: S-waiting-on-bors, merged-by-bors

#94676 Remove unnecessary `..` patterns
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  src/librustdoc/clean/mod.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#94684 Fix rustdoc for GATs with with anonymous bound regions
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  src/test/rustdoc/generic-associated-types/issue-94683.rs
Labels: T-rustdoc, S-waiting-on-bors

#94552 [beta] backport fix for #94502
  compiler/rustc_borrowck/src/diagnostics/outlives_suggestion.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  src/test/ui/nll/lint-no-err.rs
  src/test/ui/nll/lint-no-err.stderr
Labels: beta-nominated, beta-accepted, T-compiler, S-waiting-on-bors, merged-by-bors

#94685 interpret: move saturating_add/sub into (pub) helper method
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
Labels: T-compiler, S-waiting-on-bors

#94688 Erase regions when checking for missing Copy predicates
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  src/test/ui/borrowck/copy-suggestion-region-vid.rs
  src/test/ui/borrowck/copy-suggestion-region-vid.stderr
Labels: T-compiler, S-waiting-on-bors

#94695 Rollup of 4 pull requests
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_span/src/hygiene.rs
  src/test/ui/borrowck/copy-suggestion-region-vid.rs
  src/test/ui/borrowck/copy-suggestion-region-vid.stderr
  src/test/ui/nll/lint-no-err.rs
  src/test/ui/nll/lint-no-err.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94553 add tests for #94502
  src/test/ui/nll/lint-no-err.rs
  src/test/ui/nll/lint-no-err.stderr
Labels: T-compiler, S-waiting-on-bors

#94614 Remove ordering traits from `rustc_span::hygiene::LocalExpnId`
  compiler/rustc_span/src/hygiene.rs
Labels: T-compiler, S-waiting-on-bors

#94690 Clarify `Layout` interning.
  compiler/rustc_codegen_cranelift/src/abi/comments.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_data_structures/src/intern.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_mir_transform/src/uninhabited_enum_branching.rs
  compiler/rustc_target/src/abi/mod.rs
  compiler/rustc_target/src/lib.rs
  src/librustdoc/html/render/print_item.rs
  src/tools/clippy/clippy_lints/src/transmute/transmute_undefined_repr.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#94696 Remove whitespaces and use CSS to align line numbers to the right instead
  src/librustdoc/html/sources.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/source-code-page.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#94700 rustdoc: Update minifier version
  Cargo.lock
  src/librustdoc/Cargo.toml
Labels: T-rustdoc, S-waiting-on-bors

#93350 libunwind: readd link attrs to _Unwind_Backtrace
  library/unwind/src/libunwind.rs
Labels: S-waiting-on-bors

#94709 Add link to closed PR for future optimizers of ChunkedBitSet relations
  compiler/rustc_index/src/bit_set.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#90887 Try to normalize associated types before processing obligations
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  src/test/ui/associated-types/issue-59324.rs
  src/test/ui/associated-types/issue-59324.stderr
  src/test/ui/generic-associated-types/issue-90729.rs
  src/test/ui/generic-associated-types/issue-91139.migrate.stderr
  src/test/ui/generic-associated-types/issue-91139.rs
  src/test/ui/generic-associated-types/issue-93341.rs
  src/test/ui/generic-associated-types/issue-93342.rs
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-62529-1.rs
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-62529-1.stderr
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-71955.migrate.stderr
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-71955.nll.stderr
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-71955.rs
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-85455.rs
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-85455.stderr
  src/test/ui/type-alias-impl-trait/generic_duplicate_param_use9.rs
  src/test/ui/type-alias-impl-trait/generic_duplicate_param_use9.stderr
  src/test/ui/type-alias-impl-trait/issue-89686.rs
  src/test/ui/type-alias-impl-trait/issue-89686.stderr
  src/test/ui/unboxed-closures/issue-53448.rs
  src/test/ui/unboxed-closures/issue-53448.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#94580 Emit `unused_attributes` if a level attr only has a reason
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_passes/src/check_attr.rs
  src/test/ui/empty/empty-attributes.rs
  src/test/ui/empty/empty-attributes.stderr
  src/test/ui/lint/rfc-2383-lint-reason/lint-attribute-only-with-reason.rs
  src/test/ui/lint/rfc-2383-lint-reason/lint-attribute-only-with-reason.stderr
Labels: T-compiler, S-waiting-on-bors

#94586 Generalize `get_nullable_type` to allow types where null is all-ones.
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_lint/src/types.rs
  src/test/ui/feature-gates/feature-gate-rustc-attrs-1.rs
  src/test/ui/feature-gates/feature-gate-rustc-attrs-1.stderr
Labels: T-compiler, S-waiting-on-bors

#94712 promot debug_assert to assert
  library/std/src/sys/unix/rwlock.rs
Labels: S-waiting-on-bors

#94559 Remove argument from closure in thread::Scope::spawn.
  library/core/src/sync/atomic.rs
  library/std/src/thread/scoped.rs
Labels: T-libs-api, S-waiting-on-bors

#92385 Add Result::{ok, err, and, or, unwrap_or} as const
  library/core/src/result.rs
Labels: T-libs-api, S-waiting-on-bors

#92260 Move some more bootstrap logic from python to rust
  src/bootstrap/Cargo.toml
  src/bootstrap/bootstrap.py
  src/bootstrap/builder.rs
  src/bootstrap/builder/tests.rs
  src/bootstrap/config.rs
  src/bootstrap/flags.rs
  src/bootstrap/lib.rs
  src/bootstrap/setup.rs
  src/bootstrap/test.rs
  src/bootstrap/util.rs
Labels: A-rustbuild, S-waiting-on-bors, merged-by-bors

#94702 Reinstate #93800
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94689 Use impl substs in `#[rustc_on_unimplemented]`
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  compiler/rustc_typeck/src/check/check.rs
  src/test/ui/consts/issue-94675.rs
  src/test/ui/consts/issue-94675.stderr
  src/test/ui/issues/issue-87707.rs
  src/test/ui/issues/issue-87707.run.stderr
  src/test/ui/on-unimplemented/impl-substs.rs
  src/test/ui/on-unimplemented/impl-substs.stderr
Labels: T-compiler, S-waiting-on-bors

#94714 Enable `close_read_wakes_up` test on Windows
  library/std/src/net/tcp/tests.rs
Labels: S-waiting-on-bors

#94723 Add core::hint::must_use
  library/core/src/hint.rs
Labels: T-libs-api, S-waiting-on-bors

#94724 unix: Avoid name conversions in `remove_dir_all_recursive`
  library/std/src/sys/unix/fs.rs
Labels: S-waiting-on-bors

#94730 Reverted atomic_mut_ptr feature removal causing compilation break
  library/std/src/lib.rs
Labels: S-waiting-on-bors

#94751 Rollup of 5 pull requests
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  compiler/rustc_typeck/src/check/check.rs
  library/core/src/hint.rs
  library/std/src/lib.rs
  library/std/src/net/tcp/tests.rs
  library/std/src/sys/unix/fs.rs
  src/test/ui/consts/issue-94675.rs
  src/test/ui/consts/issue-94675.stderr
  src/test/ui/issues/issue-87707.rs
  src/test/ui/issues/issue-87707.run.stderr
  src/test/ui/on-unimplemented/impl-substs.rs
  src/test/ui/on-unimplemented/impl-substs.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#94750 unix: reduce the size of DirEntry
  library/std/src/sys/unix/fs.rs
Labels: S-waiting-on-bors, merged-by-bors

#94583 Add a team for '@rustbot ping fuchsia'
  triagebot.toml
Labels: S-waiting-on-bors

#94686 Do not allow `#[rustc_legacy_const_generics]` on methods
  compiler/rustc_passes/src/check_attr.rs
  src/test/ui/invalid/invalid-rustc_legacy_const_generics-arguments.rs
  src/test/ui/invalid/invalid-rustc_legacy_const_generics-arguments.stderr
Labels: T-compiler, S-waiting-on-bors

#94699 BTree: remove dead data needlessly complicating insert
  library/alloc/src/collections/btree/map/entry.rs
  library/alloc/src/collections/btree/node.rs
Labels: S-waiting-on-bors

#94756 Use `unreachable!` for an unreachable code path
  library/std/src/sys/windows/mod.rs
Labels: S-waiting-on-bors

#94312 Edit `rustc_trait_selection::infer::lattice` docs
  compiler/rustc_infer/src/infer/glb.rs
  compiler/rustc_infer/src/infer/lattice.rs
  compiler/rustc_infer/src/infer/lub.rs
Labels: T-compiler, S-waiting-on-bors

#94515 Tweak move error
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  src/test/ui/borrowck/borrowck-feature-nll-overrides-migrate.edition.stderr
  src/test/ui/borrowck/borrowck-feature-nll-overrides-migrate.zflag.stderr
  src/test/ui/borrowck/borrowck-move-by-capture.stderr
  src/test/ui/borrowck/borrowck-move-out-of-overloaded-auto-deref.stderr
  src/test/ui/borrowck/issue-27282-mutation-in-guard.stderr
  src/test/ui/borrowck/unboxed-closures-move-upvar-from-non-once-ref-closure.stderr
  src/test/ui/error-codes/E0507.stderr
  src/test/ui/issues/issue-27282-move-ref-mut-into-guard.stderr
  src/test/ui/issues/issue-61108.stderr
  src/test/ui/issues/issue-64559.stderr
  src/test/ui/loops/issue-82916.stderr
  src/test/ui/moves/issue-46099-move-in-macro.stderr
  src/test/ui/moves/move-fn-self-receiver.stderr
  src/test/ui/moves/move-in-guard-2.stderr
  src/test/ui/nll/match-guards-always-borrow.stderr
  src/test/ui/suggestions/borrow-for-loop-head.stderr
  src/test/ui/suggestions/for-i-in-vec.stderr
  src/test/ui/suggestions/option-content-move2.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors
