Repository rust-lang/rust, pull requests merged in 2022-09, with the labels that each got.

#101230 lint: avoid linting diag functions with diag lints
  compiler/rustc_lint/src/internal.rs
  src/test/ui-fulldeps/internal-lints/diagnostics.rs
  src/test/ui-fulldeps/internal-lints/diagnostics.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#101236 Avoid needless buffer zeroing in `std::sys::windows::fs`
  library/std/src/sys/windows/fs.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#101240 Fix a typo on `wasm64-unknown-unknown` doc
  src/doc/rustc/src/platform-support/wasm64-unknown-unknown.md
Labels: S-waiting-on-bors

#100787 Pretty printing give proper error message without panic
  compiler/rustc_driver/src/pretty.rs
  compiler/rustc_driver/src/session_diagnostics.rs
  compiler/rustc_error_messages/locales/en-US/driver.ftl
  src/test/ui/unpretty/avoid-crash.rs
  src/test/ui/unpretty/avoid-crash.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#101161 Fix uintended diagnostic caused by `drain(..)`
  compiler/rustc_resolve/src/late/diagnostics.rs
  src/test/ui/resolve/issue-73427.rs
  src/test/ui/resolve/issue-73427.stderr
  src/test/ui/resolve/privacy-enum-ctor.stderr
Labels: T-compiler, S-waiting-on-bors

#101165 Use more `into_iter` rather than `drain(..)`
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_data_structures/src/sorted_map.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/translation.rs
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_typeck/src/check/writeback.rs
Labels: T-compiler, S-waiting-on-bors

#101229 Link “? operator” to relevant chapter in The Book
  library/core/src/macros/mod.rs
Labels: S-waiting-on-bors, T-libs

#100838 Suggest moving redundant generic args of an assoc fn to its trait
  compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs
  src/test/ui/const-generics/invalid-const-arg-for-type-param.stderr
  src/test/ui/suggestions/issue-89064.rs
  src/test/ui/suggestions/issue-89064.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#100844 migrate rustc_query_system to use SessionDiagnostic
  compiler/rustc_error_messages/locales/en-US/query_system.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_query_system/src/error.rs
  compiler/rustc_query_system/src/lib.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  src/test/ui-fulldeps/session-diagnostic/subdiagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/subdiagnostic-derive.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#100210 proc_macro/bridge: send diagnostics over the bridge as a struct
  compiler/rustc_expand/src/proc_macro_server.rs
  library/proc_macro/src/bridge/client.rs
  library/proc_macro/src/bridge/mod.rs
  library/proc_macro/src/bridge/server.rs
  library/proc_macro/src/diagnostic.rs
  src/tools/rust-analyzer/crates/proc-macro-srv/src/abis/abi_sysroot/ra_server.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100537 rustc_target: Add some more target spec sanity checking
  compiler/rustc_target/src/spec/aarch64_nintendo_switch_freestanding.rs
  compiler/rustc_target/src/spec/android_base.rs
  compiler/rustc_target/src/spec/apple_base.rs
  compiler/rustc_target/src/spec/avr_gnu_base.rs
  compiler/rustc_target/src/spec/hexagon_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/l4re_base.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/powerpc_unknown_freebsd.rs
  compiler/rustc_target/src/spec/tests/tests_impl.rs
  compiler/rustc_target/src/spec/uefi_msvc_base.rs
  compiler/rustc_target/src/spec/x86_64_unknown_l4re_uclibc.rs
  compiler/rustc_target/src/spec/x86_64_unknown_none.rs
  src/test/codegen/abi-efiapi.rs
  src/test/codegen/avr/avr-func-addrspace.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100869 Replace `rustc_data_structures::thin_vec::ThinVec` with `thin_vec::ThinVec`
  Cargo.lock
  compiler/rustc_ast/Cargo.toml
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/ast_traits.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_ast_lowering/Cargo.toml
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_builtin_macros/Cargo.toml
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/ord.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_builtin_macros/src/standard_library_imports.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/map_in_place.rs
  compiler/rustc_data_structures/src/thin_vec.rs
  compiler/rustc_data_structures/src/thin_vec/tests.rs
  compiler/rustc_middle/Cargo.toml
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/Cargo.toml
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  compiler/rustc_serialize/Cargo.toml
  compiler/rustc_serialize/src/collection_impls.rs
  src/librustdoc/Cargo.toml
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/tools/tidy/src/deps.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#100958 compiler/rustc_codegen_ssa/src/mir/place.rs: Remove LLVM bug workaround
  compiler/rustc_codegen_ssa/src/mir/place.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100606 ci: Upgrade non-dist Linux testers from ubuntu:16.04 to 22.04
  src/bootstrap/test.rs
  src/ci/docker/host-x86_64/i686-gnu-nopt/Dockerfile
  src/ci/docker/host-x86_64/i686-gnu/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-aux/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-distcheck/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/test/rustdoc-gui/type-declation-overflow.goml
Labels: A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#98960 Remove EntryKind from metadata.
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_metadata/src/rmeta/table.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#101270 Update outdated comment about output capturing in print_to.
  library/std/src/io/stdio.rs
Labels: S-waiting-on-bors, T-libs

#101271 Fix filename of armv4t-none-eabi.md
  src/doc/rustc/src/platform-support/armv4t-none-eabi.md
Labels: S-waiting-on-bors

#101274 Fix typo in comment
  src/librustdoc/passes/stripper.rs
Labels: T-rustdoc, S-waiting-on-bors

#101285 Do not suggest adding `move` to closure when `move` is already used
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  src/test/ui/borrowck/do-not-suggest-adding-move-when-closure-is-already-marked-as-move.rs
  src/test/ui/borrowck/do-not-suggest-adding-move-when-closure-is-already-marked-as-move.stderr
Labels: T-compiler, S-waiting-on-bors

#101295 Rollup of 14 pull requests
  .gitignore
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/lib.rs
  config.toml.example
  library/core/src/num/nonzero.rs
  library/std/src/io/stdio.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/config.rs
  src/bootstrap/lib.rs
  src/doc/rustc/src/platform-support/armv4t-none-eabi.md
  src/doc/rustc/src/platform-support/fuchsia.md
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/passes/propagate_doc_cfg.rs
  src/librustdoc/passes/stripper.rs
  src/test/rustdoc-gui/src/lib2/lib.rs
  src/test/rustdoc-gui/where-whitespace.goml
  src/test/rustdoc/const-generics/const-generics-docs.rs
  src/test/rustdoc/doc_auto_cfg_nested_impl.rs
  src/test/rustdoc/generic-associated-types/gats.rs
  src/test/rustdoc/higher-ranked-trait-bounds.rs
  src/test/rustdoc/impl-parts.rs
  src/test/rustdoc/issue-20727-4.rs
  src/test/rustdoc/issue-21801.rs
  src/test/rustdoc/issue-29503.rs
  src/test/rustdoc/issue-34928.rs
  src/test/rustdoc/issue-50159.rs
  src/test/rustdoc/issue-51236.rs
  src/test/rustdoc/issue-54705.rs
  src/test/rustdoc/issue-98697.rs
  src/test/rustdoc/primitive-slice-auto-trait.rs
  src/test/rustdoc/synthetic_auto/basic.rs
  src/test/rustdoc/synthetic_auto/complex.rs
  src/test/rustdoc/synthetic_auto/lifetimes.rs
  src/test/rustdoc/synthetic_auto/manual.rs
  src/test/rustdoc/synthetic_auto/nested.rs
  src/test/rustdoc/synthetic_auto/no-redundancy.rs
  src/test/rustdoc/synthetic_auto/project.rs
  src/test/rustdoc/synthetic_auto/self-referential.rs
  src/test/rustdoc/synthetic_auto/static-region.rs
  src/test/rustdoc/where-clause-order.rs
  src/test/rustdoc/where.rs
  src/test/ui/borrowck/do-not-suggest-adding-move-when-closure-is-already-marked-as-move.rs
  src/test/ui/borrowck/do-not-suggest-adding-move-when-closure-is-already-marked-as-move.stderr
  src/test/ui/modules/auxiliary/dummy_lib.rs
  src/test/ui/modules/special_module_name.rs
  src/test/ui/modules/special_module_name.stderr
  src/test/ui/modules/special_module_name_ignore.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#101190 Make docs formulation more consistent for NonZero{int}
  library/core/src/num/nonzero.rs
Labels: S-waiting-on-bors, T-libs

#101245 Remove unneeded where whitespace
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/test/rustdoc-gui/src/lib2/lib.rs
  src/test/rustdoc-gui/where-whitespace.goml
  src/test/rustdoc/const-generics/const-generics-docs.rs
  src/test/rustdoc/generic-associated-types/gats.rs
  src/test/rustdoc/higher-ranked-trait-bounds.rs
  src/test/rustdoc/impl-parts.rs
  src/test/rustdoc/issue-20727-4.rs
  src/test/rustdoc/issue-21801.rs
  src/test/rustdoc/issue-29503.rs
  src/test/rustdoc/issue-34928.rs
  src/test/rustdoc/issue-50159.rs
  src/test/rustdoc/issue-51236.rs
  src/test/rustdoc/issue-54705.rs
  src/test/rustdoc/issue-98697.rs
  src/test/rustdoc/primitive-slice-auto-trait.rs
  src/test/rustdoc/synthetic_auto/basic.rs
  src/test/rustdoc/synthetic_auto/complex.rs
  src/test/rustdoc/synthetic_auto/lifetimes.rs
  src/test/rustdoc/synthetic_auto/manual.rs
  src/test/rustdoc/synthetic_auto/nested.rs
  src/test/rustdoc/synthetic_auto/no-redundancy.rs
  src/test/rustdoc/synthetic_auto/project.rs
  src/test/rustdoc/synthetic_auto/self-referential.rs
  src/test/rustdoc/synthetic_auto/static-region.rs
  src/test/rustdoc/where-clause-order.rs
  src/test/rustdoc/where.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, A-rustdoc-ui

#101251 Fix bad target name in Walkthrough
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: S-waiting-on-bors

#101254 rustdoc: remove unused `.docblock .impl-items` CSS
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101256 Fixes/adjustments to Fuchsia doc walkthrough
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: S-waiting-on-bors

#101279 Fix doc_auto_cfg for impl blocks in different modules with different `cfg`
  src/librustdoc/passes/propagate_doc_cfg.rs
  src/test/rustdoc/doc_auto_cfg_nested_impl.rs
Labels: T-rustdoc, S-waiting-on-bors

#101292 rustdoc: remove unneeded CSS `.content table td:first-child > a`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#100852 Use `getuid` to check instead of `USER` env var in rustbuild
  src/bootstrap/bootstrap.py
  src/bootstrap/lib.rs
Labels: beta-nominated, beta-accepted, A-bootstrap, S-waiting-on-bors

#101072 bootstrap: Add llvm-has-rust-patches target option
  .gitignore
  config.toml.example
  src/bootstrap/config.rs
  src/bootstrap/lib.rs
Labels: A-bootstrap, S-waiting-on-bors

#94467 Add `special_module_name` lint
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/lib.rs
  src/test/ui/modules/auxiliary/dummy_lib.rs
  src/test/ui/modules/special_module_name.rs
  src/test/ui/modules/special_module_name.stderr
  src/test/ui/modules/special_module_name_ignore.rs
Labels: T-compiler, S-waiting-on-bors

#100935 ci: Upgrade android containers from ubuntu:16.04 to 22.04
  src/ci/docker/host-x86_64/arm-android/Dockerfile
  src/ci/docker/host-x86_64/dist-android/Dockerfile
  src/ci/docker/scripts/android-base-apt-get.sh
Labels: S-waiting-on-bors, T-infra, merged-by-bors

#100943 Simplify the `define_query` macro
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/query/config.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#101166 Generate error index with mdbook instead of raw HTML pages
  Cargo.lock
  src/bootstrap/doc.rs
  src/tools/error_index_generator/Cargo.toml
  src/tools/error_index_generator/book_config.toml
  src/tools/error_index_generator/error-index.css
  src/tools/error_index_generator/error-index.js
  src/tools/error_index_generator/main.rs
  src/tools/error_index_generator/redirect.js
Labels: A-bootstrap, A-docs, S-waiting-on-bors, A-error-codes

#101294 Fix #100844 rebase accident
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  src/test/ui-fulldeps/session-diagnostic/subdiagnostic-derive.rs
  src/test/ui-fulldeps/session-diagnostic/subdiagnostic-derive.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#100552 rustc_target: Add a compatibility layer to separate internal and user-facing linker flavors
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_target/src/spec/asmjs_unknown_emscripten.rs
  compiler/rustc_target/src/spec/bpf_base.rs
  compiler/rustc_target/src/spec/l4re_base.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/nvptx64_nvidia_cuda.rs
  compiler/rustc_target/src/spec/tests/tests_impl.rs
  compiler/rustc_target/src/spec/wasm32_unknown_emscripten.rs
Labels: T-compiler, S-waiting-on-bors

#99583 Add additional methods to the Demand type
  library/core/src/any.rs
  library/core/tests/any.rs
Labels: T-libs-api, S-waiting-on-bors

#100147 optimization of access level table construction
  compiler/rustc_error_messages/locales/en-US/privacy.ftl
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_privacy/src/errors.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/access_levels.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  src/test/ui/privacy/access_levels.rs
  src/test/ui/privacy/access_levels.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#97739 Uplift the `let_underscore` lints from clippy into rustc.
  compiler/rustc_lint/src/let_underscore.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  library/std/src/sync/mutex.rs
  library/std/src/sync/rwlock.rs
  src/test/ui/lint/let_underscore/let_underscore_drop.rs
  src/test/ui/lint/let_underscore/let_underscore_drop.stderr
  src/test/ui/lint/let_underscore/let_underscore_lock.rs
  src/test/ui/lint/let_underscore/let_underscore_lock.stderr
  src/tools/lint-docs/src/groups.rs
Labels: T-lang, T-compiler, relnotes, S-waiting-on-bors

#101323 Remove unused .toggle-label CSS rule
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#101333 Rollup of 6 pull requests
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_error_messages/locales/en-US/trait_selection.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_passes/src/lib_features.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_trait_selection/src/autoderef.rs
  compiler/rustc_trait_selection/src/errors.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/fs.rs
  src/bootstrap/compile.rs
  src/bootstrap/dist.rs
  src/bootstrap/lib.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/ui/mir/issue-99866.rs
  src/tools/lld-wrapper/src/main.rs
  src/tools/replace-version-placeholder/src/main.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#100814 Porting 'compiler/rustc_trait_selection' to translatable diagnostics - Part 1
  compiler/rustc_error_messages/locales/en-US/trait_selection.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_trait_selection/src/autoderef.rs
  compiler/rustc_trait_selection/src/errors.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#101215 Also replace the version placeholder in rustc_attr
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_passes/src/lib_features.rs
  src/tools/replace-version-placeholder/src/main.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#100121 Try normalizing types without RevealAll in ParamEnv in MIR validation
  compiler/rustc_const_eval/src/transform/validate.rs
  src/test/ui/mir/issue-99866.rs
Labels: T-compiler, S-waiting-on-bors

#100200 Change implementation of `-Z gcc-ld` and `lld-wrapper` again
  compiler/rustc_codegen_ssa/src/back/link.rs
  src/bootstrap/compile.rs
  src/bootstrap/dist.rs
  src/bootstrap/lib.rs
  src/tools/lld-wrapper/src/main.rs
Labels: T-compiler, A-bootstrap, S-waiting-on-bors

#97802 Support `#[unix_sigpipe = "inherit|sig_dfl"]` on `fn main()` to prevent ignoring `SIGPIPE`
  compiler/rustc_codegen_cranelift/src/main_shim.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/entry.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/config/sigpipe.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_typeck/src/lib.rs
  library/std/src/rt.rs
  library/std/src/sys/hermit/mod.rs
  library/std/src/sys/sgx/mod.rs
  library/std/src/sys/solid/mod.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unsupported/common.rs
  library/std/src/sys/windows/mod.rs
  src/doc/unstable-book/src/language-features/unix-sigpipe.md
  src/test/ui/attributes/unix_sigpipe/auxiliary/sigpipe-utils.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-crate.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-crate.stderr
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-duplicates.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-duplicates.stderr
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-error.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-inherit.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-list.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-list.stderr
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-non-main-fn.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-non-main-fn.stderr
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-non-root-main.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-non-root-main.stderr
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-not-used.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-only-feature.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-rustc_main.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-sig_dfl.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-start.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-start.stderr
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-struct.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-struct.stderr
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-wrong.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe-wrong.stderr
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe.rs
  src/test/ui/attributes/unix_sigpipe/unix_sigpipe.stderr
  src/test/ui/feature-gates/feature-gate-unix_sigpipe.rs
  src/test/ui/feature-gates/feature-gate-unix_sigpipe.stderr
Labels: T-lang, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#100966 Revert "Remove deferred sized checks"
  compiler/rustc_typeck/src/check/expr.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  compiler/rustc_typeck/src/check/inherited.rs
  compiler/rustc_typeck/src/check/mod.rs
  src/test/incremental/const-generics/hash-tyvid-regression-1.rs
  src/test/ui/associated-types/associated-types-path-2.rs
  src/test/ui/associated-types/associated-types-path-2.stderr
  src/test/ui/coercion/issue-101066.rs
  src/test/ui/feature-gates/feature-gate-unsized_fn_params.stderr
  src/test/ui/iterators/issue-28098.rs
  src/test/ui/iterators/issue-28098.stderr
  src/test/ui/on-unimplemented/multiple-impls.rs
  src/test/ui/on-unimplemented/multiple-impls.stderr
  src/test/ui/on-unimplemented/on-impl.rs
  src/test/ui/on-unimplemented/on-impl.stderr
  src/test/ui/ufcs/ufcs-qpath-self-mismatch.rs
  src/test/ui/ufcs/ufcs-qpath-self-mismatch.stderr
  src/test/ui/unsized/issue-30355.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101139 Shrink `thir::Pat`
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_mir_build/src/build/block.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  compiler/rustc_mir_build/src/build/matches/test.rs
  compiler/rustc_mir_build/src/build/matches/util.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_build/src/thir/cx/block.rs
  compiler/rustc_mir_build/src/thir/cx/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_ty_utils/src/consts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101217 [drop tracking] Use parent expression for scope, not parent node
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_typeck/src/check/generator_interior.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/record_consumed_borrow.rs
  src/test/ui/async-await/issue-73137.rs
Labels: T-compiler, S-waiting-on-bors

#101325 Windows RNG: Use `BCRYPT_RNG_ALG_HANDLE` by default
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/rand.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#101330 Fix `std::collections::HashSet::drain` documentation
  library/std/src/collections/hash/set.rs
Labels: S-waiting-on-bors, T-libs

#101338 Fix unsupported syntax in .manifest file
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: S-waiting-on-bors

#101348 Cleanup css theme
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/search-form-elements.goml
  src/test/rustdoc-gui/search-input.goml
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#101361 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_error_messages/locales/en-US/metadata.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/dependency_format.rs
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_metadata/src/fs.rs
  compiler/rustc_metadata/src/lib.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_typeck/src/check/generator_interior.rs
  compiler/rustc_typeck/src/check/generator_interior/drop_ranges/record_consumed_borrow.rs
  library/core/src/ops/range.rs
  library/std/src/collections/hash/set.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/rand.rs
  src/doc/rustc/src/platform-support/fuchsia.md
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/test/rustdoc-gui/search-form-elements.goml
  src/test/rustdoc-gui/search-input.goml
  src/test/ui/async-await/issue-73137.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#100928 Migrate rustc_metadata to SessionDiagnostics
  Cargo.lock
  compiler/rustc_error_messages/locales/en-US/metadata.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/dependency_format.rs
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_metadata/src/fs.rs
  compiler/rustc_metadata/src/lib.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#99736 Partially stabilize `bound_as_ref` by stabilizing `Bound::as_ref`
  library/core/src/ops/range.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, S-waiting-on-fcp, to-announce

#101154 interpret: fix unnecessary allocation in validation visitor
  compiler/rustc_const_eval/src/interpret/validity.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100574 Add warning against unexpected --cfg with --check-cfg
  compiler/rustc_error_messages/locales/en-US/lint.ftl
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/parse.rs
  src/test/ui/check-cfg/allow-at-crate-level.rs
  src/test/ui/check-cfg/invalid-cfg-value.stderr
  src/test/ui/check-cfg/mix.rs
  src/test/ui/check-cfg/mix.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#101364 Shrink suggestion span of argument mismatch error
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/argument-suggestions/basic.stderr
  src/test/ui/argument-suggestions/complex.stderr
  src/test/ui/argument-suggestions/exotic-calls.stderr
  src/test/ui/argument-suggestions/extra_arguments.stderr
  src/test/ui/argument-suggestions/issue-96638.stderr
  src/test/ui/argument-suggestions/issue-97197.stderr
  src/test/ui/argument-suggestions/issue-97484.stderr
  src/test/ui/argument-suggestions/issue-98894.stderr
  src/test/ui/argument-suggestions/issue-98897.stderr
  src/test/ui/argument-suggestions/issue-99482.stderr
  src/test/ui/argument-suggestions/missing_arguments.stderr
  src/test/ui/argument-suggestions/mixed_cases.stderr
  src/test/ui/argument-suggestions/permuted_arguments.stderr
  src/test/ui/argument-suggestions/swapped_arguments.stderr
  src/test/ui/c-variadic/variadic-ffi-1.stderr
  src/test/ui/error-codes/E0057.stderr
  src/test/ui/error-codes/E0060.stderr
  src/test/ui/error-codes/E0061.stderr
  src/test/ui/higher-rank-trait-bounds/issue-58451.stderr
  src/test/ui/issues/issue-16939.stderr
  src/test/ui/issues/issue-18819.stderr
  src/test/ui/issues/issue-4935.stderr
  src/test/ui/lifetimes/issue-26638.stderr
  src/test/ui/methods/method-call-err-msg.stderr
  src/test/ui/mismatched_types/overloaded-calls-bad.stderr
  src/test/ui/not-enough-arguments.stderr
  src/test/ui/resolve/resolve-primitive-fallback.stderr
  src/test/ui/span/issue-34264.stderr
  src/test/ui/span/missing-unit-argument.stderr
  src/test/ui/suggestions/args-instead-of-tuple-errors.stderr
  src/test/ui/suggestions/args-instead-of-tuple.stderr
  src/test/ui/tuple/wrong_argument_ice-3.stderr
  src/test/ui/tuple/wrong_argument_ice-4.stderr
  src/test/ui/type-alias-enum-variants/enum-variant-priority-higher-than-other-inherent.stderr
  src/test/ui/type/type-ascription-instead-of-initializer.stderr
  src/test/ui/typeck/remove-extra-argument.stderr
  src/test/ui/typeck/struct-enum-wrong-args.stderr
Labels: T-compiler, S-waiting-on-bors

#101378 Rollup of 4 pull requests
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/doc/rustc/src/platform-support/fuchsia.md
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/json/conversions.rs
  src/test/rustdoc-gui/item-info-alignment.goml
  src/test/rustdoc-gui/src/lib2/lib.rs
  src/test/ui/argument-suggestions/basic.stderr
  src/test/ui/argument-suggestions/complex.stderr
  src/test/ui/argument-suggestions/exotic-calls.stderr
  src/test/ui/argument-suggestions/extra_arguments.stderr
  src/test/ui/argument-suggestions/issue-96638.stderr
  src/test/ui/argument-suggestions/issue-97197.stderr
  src/test/ui/argument-suggestions/issue-97484.stderr
  src/test/ui/argument-suggestions/issue-98894.stderr
  src/test/ui/argument-suggestions/issue-98897.stderr
  src/test/ui/argument-suggestions/issue-99482.stderr
  src/test/ui/argument-suggestions/missing_arguments.stderr
  src/test/ui/argument-suggestions/mixed_cases.stderr
  src/test/ui/argument-suggestions/permuted_arguments.stderr
  src/test/ui/argument-suggestions/swapped_arguments.stderr
  src/test/ui/c-variadic/variadic-ffi-1.stderr
  src/test/ui/error-codes/E0057.stderr
  src/test/ui/error-codes/E0060.stderr
  src/test/ui/error-codes/E0061.stderr
  src/test/ui/higher-rank-trait-bounds/issue-58451.stderr
  src/test/ui/issues/issue-16939.stderr
  src/test/ui/issues/issue-18819.stderr
  src/test/ui/issues/issue-4935.stderr
  src/test/ui/lifetimes/issue-26638.stderr
  src/test/ui/methods/method-call-err-msg.stderr
  src/test/ui/mismatched_types/overloaded-calls-bad.stderr
  src/test/ui/not-enough-arguments.stderr
  src/test/ui/resolve/resolve-primitive-fallback.stderr
  src/test/ui/span/issue-34264.stderr
  src/test/ui/span/missing-unit-argument.stderr
  src/test/ui/suggestions/args-instead-of-tuple-errors.stderr
  src/test/ui/suggestions/args-instead-of-tuple.stderr
  src/test/ui/tuple/wrong_argument_ice-3.stderr
  src/test/ui/tuple/wrong_argument_ice-4.stderr
  src/test/ui/type-alias-enum-variants/enum-variant-priority-higher-than-other-inherent.stderr
  src/test/ui/type/type-ascription-instead-of-initializer.stderr
  src/test/ui/typeck/remove-extra-argument.stderr
  src/test/ui/typeck/struct-enum-wrong-args.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-rustdoc-json

#101335 rustdoc: remove old CSS selector that causes weird spacing
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/item-info-alignment.goml
  src/test/rustdoc-gui/src/lib2/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#101347 ffx component run should provide a collection
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: S-waiting-on-bors

#101365 remove redundant clones
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  src/librustdoc/json/conversions.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-rustdoc-json

#101214 Do not call object_lifetime_default on lifetime params.
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  src/test/ui/object-lifetime/object-lifetime-default.rs
  src/test/ui/object-lifetime/object-lifetime-default.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101349 rustdoc: remove `.impl-items { flex-basis }` CSS, not in flex container
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101369 Fix `global_asm` macro pretty printing
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  src/test/ui/asm/unpretty-expanded.rs
  src/test/ui/asm/unpretty-expanded.stdout
Labels: T-compiler, S-waiting-on-bors

#101396 Rollup of 4 pull requests
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/asm/unpretty-expanded.rs
  src/test/ui/asm/unpretty-expanded.stdout
  src/test/ui/async-await/issues/issue-62009-1.stderr
  src/test/ui/binop/issue-77910-1.stderr
  src/test/ui/closures/coerce-unsafe-to-closure.stderr
  src/test/ui/extern/extern-wrong-value-type.stderr
  src/test/ui/intrinsics/const-eval-select-bad.stderr
  src/test/ui/issues/issue-59488.stderr
  src/test/ui/issues/issue-70724-add_type_neq_err_label-unwrap.stderr
  src/test/ui/issues/issue-99875.rs
  src/test/ui/issues/issue-99875.stderr
  src/test/ui/namespace/namespace-mix.stderr
  src/test/ui/proc-macro/signature.stderr
  src/test/ui/rfcs/rfc-2396-target_feature-11/fn-traits.stderr
  src/test/ui/suggestions/async-fn-ctor-passed-as-arg-where-it-should-have-been-called.stderr
  src/test/ui/suggestions/deref-path-method.rs
  src/test/ui/suggestions/deref-path-method.stderr
  src/test/ui/suggestions/fn-ctor-passed-as-arg-where-it-should-have-been-called.stderr
  src/test/ui/unboxed-closures/unboxed-closures-unsafe-extern-fn.stderr
  src/test/ui/unboxed-closures/unboxed-closures-wrong-abi.stderr
  src/test/ui/unboxed-closures/unboxed-closures-wrong-arg-type-extern-fn.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#100302 Suggest associated method on deref types when path syntax method fails
  compiler/rustc_typeck/src/check/method/suggest.rs
  src/test/ui/suggestions/deref-path-method.rs
  src/test/ui/suggestions/deref-path-method.stderr
Labels: T-compiler, S-waiting-on-bors

#100647 Make trait bound not satisfied specify kind
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/async-await/issues/issue-62009-1.stderr
  src/test/ui/binop/issue-77910-1.stderr
  src/test/ui/closures/coerce-unsafe-to-closure.stderr
  src/test/ui/extern/extern-wrong-value-type.stderr
  src/test/ui/intrinsics/const-eval-select-bad.stderr
  src/test/ui/issues/issue-59488.stderr
  src/test/ui/issues/issue-70724-add_type_neq_err_label-unwrap.stderr
  src/test/ui/issues/issue-99875.rs
  src/test/ui/issues/issue-99875.stderr
  src/test/ui/namespace/namespace-mix.stderr
  src/test/ui/proc-macro/signature.stderr
  src/test/ui/rfcs/rfc-2396-target_feature-11/fn-traits.stderr
  src/test/ui/suggestions/async-fn-ctor-passed-as-arg-where-it-should-have-been-called.stderr
  src/test/ui/suggestions/fn-ctor-passed-as-arg-where-it-should-have-been-called.stderr
  src/test/ui/unboxed-closures/unboxed-closures-unsafe-extern-fn.stderr
  src/test/ui/unboxed-closures/unboxed-closures-wrong-abi.stderr
  src/test/ui/unboxed-closures/unboxed-closures-wrong-arg-type-extern-fn.stderr
Labels: T-compiler, S-waiting-on-bors

#101250 bump deps
  Cargo.lock
  src/tools/rustc-workspace-hack/Cargo.toml
  src/tools/tidy/src/deps.rs
Labels: S-waiting-on-bors, merged-by-bors

#101296 Use head span for `rustc_on_unimplemented`'s `enclosing_scope` attr
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/on_unimplemented.rs
  library/core/src/ops/try_trait.rs
  src/test/ui/on-unimplemented/enclosing-scope.rs
  src/test/ui/on-unimplemented/enclosing-scope.stderr
  src/test/ui/on-unimplemented/parent-label.rs
  src/test/ui/on-unimplemented/parent-label.stderr
  src/test/ui/rfc-2497-if-let-chains/disallowed-positions.stderr
  src/test/ui/try-trait/bad-interconversion.stderr
  src/test/ui/try-trait/option-to-result.stderr
  src/test/ui/try-trait/try-on-option-diagnostics.stderr
  src/test/ui/try-trait/try-on-option.stderr
  src/test/ui/try-trait/try-operator-on-main.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101411 Rollup of 7 pull requests
  compiler/rustc_typeck/src/check/op.rs
  library/alloc/src/collections/btree/dedup_sorted_iter.rs
  library/core/src/char/methods.rs
  library/core/src/lib.rs
  library/core/src/unicode/unicode_data.rs
  library/std/src/alloc.rs
  library/std/src/fs.rs
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/search-input.goml
  src/test/ui/typeck/assign-non-lval-needs-deref.rs
  src/test/ui/typeck/assign-non-lval-needs-deref.stderr
  src/tools/unicode-table-generator/src/range_search.rs
  src/tools/unicode-table-generator/src/raw_emitter.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#101322 Fix internal doc link
  library/alloc/src/collections/btree/dedup_sorted_iter.rs
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
Labels: S-waiting-on-bors, T-infra, T-libs

#101385 updated description of File struct in std::fs
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#101388 Don't delay invalid LHS bug unless it will be covered by an error in `check_overloaded_binop`
  compiler/rustc_typeck/src/check/op.rs
  src/test/ui/typeck/assign-non-lval-needs-deref.rs
  src/test/ui/typeck/assign-non-lval-needs-deref.stderr
Labels: T-compiler, S-waiting-on-bors

#101394 Forbid mixing `System` with direct sytem allocator calls
  library/std/src/alloc.rs
Labels: T-libs-api, S-waiting-on-bors, I-libs-api-nominated

#101397 rustdoc: remove redundant mobile-sized `.source nav:not(.sidebar).sub`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101401 Make `char::is_lowercase` and `char::is_uppercase` const
  library/core/src/char/methods.rs
  library/core/src/lib.rs
  library/core/src/unicode/unicode_data.rs
  src/tools/unicode-table-generator/src/range_search.rs
  src/tools/unicode-table-generator/src/raw_emitter.rs
Labels: T-libs-api, S-waiting-on-bors, const-hack

#101407 Remove duplicated test (superseeded by search-form-elements.goml)
  src/test/rustdoc-gui/search-input.goml
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#93455 Implement internal `IsZero` for Wrapping and Saturating for `Vec` optimizations
  library/alloc/src/lib.rs
  library/alloc/src/vec/is_zero.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#100576 Make `ReentrantMutex` movable and `const`
  library/std/src/io/stdio.rs
  library/std/src/sync/once_lock.rs
  library/std/src/sys/hermit/mutex.rs
  library/std/src/sys/itron/mutex.rs
  library/std/src/sys/sgx/mutex.rs
  library/std/src/sys/unix/locks/fuchsia_mutex.rs
  library/std/src/sys/unix/locks/futex_mutex.rs
  library/std/src/sys/unix/locks/pthread_mutex.rs
  library/std/src/sys/unsupported/locks/mutex.rs
  library/std/src/sys/windows/locks/mutex.rs
  library/std/src/sys_common/remutex.rs
  library/std/src/sys_common/remutex/tests.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#100759 Make `const_eval_select` a real intrinsic
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_middle/src/ty/consts/valtree.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  library/core/src/intrinsics.rs
  library/core/src/mem/valid_align.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/num/nonzero.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/slice/index.rs
  library/core/src/slice/mod.rs
  library/core/src/slice/raw.rs
  library/core/src/str/mod.rs
  src/test/ui/consts/const-float-bits-reject-conv.stderr
  src/test/ui/intrinsics/const-eval-select-backtrace-std.rs
  src/test/ui/intrinsics/const-eval-select-backtrace-std.run.stderr
  src/test/ui/intrinsics/const-eval-select-backtrace.rs
  src/test/ui/intrinsics/const-eval-select-backtrace.run.stderr
  src/test/ui/intrinsics/const-eval-select-bad.rs
  src/test/ui/intrinsics/const-eval-select-bad.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#101386 Rustdoc-Json: Add enum discriminant
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/fold.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/visit.rs
  src/rustdoc-json-types/lib.rs
  src/test/rustdoc-json/enums/discriminant/basic.rs
  src/test/rustdoc-json/enums/discriminant/expr.rs
  src/test/rustdoc-json/enums/discriminant/limits.rs
  src/test/rustdoc-json/enums/discriminant/num_underscore_and_suffix.rs
  src/test/rustdoc-json/enums/discriminant/only_some_have_discriminant.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#101414 proc_macro/bridge: use the cross-thread executor for nested proc-macros
  library/proc_macro/src/bridge/server.rs
  src/test/ui/proc-macro/auxiliary/expand-expr.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101367 Suggest `{Option,Result}::{copied,clone}()` to satisfy type mismatch
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  src/test/ui/suggestions/copied-and-cloned.fixed
  src/test/ui/suggestions/copied-and-cloned.rs
  src/test/ui/suggestions/copied-and-cloned.stderr
Labels: T-compiler, S-waiting-on-bors

#101391 more clippy::perf fixes
  compiler/rustc_lint/src/context.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_resolve/src/diagnostics.rs
  library/std/src/sys/unix/thread.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/write_shared.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-libs

#101409 Don't fire `rust_2021_incompatible_closure_captures` in `edition = 2021` crates
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_typeck/src/check/upvar.rs
  src/test/ui/lint/issue-101284.rs
Labels: T-compiler, S-waiting-on-bors

#101429 Don't suggest reborrow if usage is inside a closure
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  src/test/ui/borrowck/issue-101119.rs
  src/test/ui/borrowck/issue-101119.stderr
Labels: T-compiler, S-waiting-on-bors

#101439 Rollup of 6 pull requests
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_passes/src/hir_stats.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_typeck/src/astconv/generics.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  compiler/rustc_typeck/src/check/upvar.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  library/std/src/sys/unix/thread.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/write_shared.rs
  src/test/ui/borrowck/issue-101119.rs
  src/test/ui/borrowck/issue-101119.stderr
  src/test/ui/lint/issue-101284.rs
  src/test/ui/stats/hir-stats.stderr
  src/test/ui/suggestions/copied-and-cloned.fixed
  src/test/ui/suggestions/copied-and-cloned.rs
  src/test/ui/suggestions/copied-and-cloned.stderr
  src/tools/clippy/clippy_lints/src/loops/never_loop.rs
  src/tools/clippy/clippy_lints/src/manual_bits.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#101142 Improve HIR stats
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_passes/src/hir_stats.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_typeck/src/astconv/generics.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  src/test/ui/stats/hir-stats.stderr
  src/tools/clippy/clippy_lints/src/loops/never_loop.rs
  src/tools/clippy/clippy_lints/src/manual_bits.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#101420 Fix `hir::Local` doc to match with the variable name used: `init`
  compiler/rustc_hir/src/hir.rs
Labels: T-compiler, S-waiting-on-bors

#101228 Simplify `hir::PathSegment`
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/hir_id.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_save_analysis/src/dump_visitor.rs
  compiler/rustc_save_analysis/src/lib.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/check.rs
  compiler/rustc_typeck/src/check/wfcheck.rs
  compiler/rustc_typeck/src/collect/type_of.rs
  compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs
  src/librustdoc/html/render/span_map.rs
  src/tools/clippy/clippy_lints/src/operators/op_ref.rs
  src/tools/clippy/clippy_lints/src/ref_option_ref.rs
  src/tools/clippy/clippy_lints/src/trait_bounds.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#101418 Revert "Mention rust-analyzer maintainers when `proc_macro` bridge is changed"
  triagebot.toml
Labels: S-waiting-on-bors

#101425 Point at type parameter in plain path expr
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  src/test/ui/typeck/point-at-type-param-in-path-expr.rs
  src/test/ui/typeck/point-at-type-param-in-path-expr.stderr
Labels: T-compiler, S-waiting-on-bors

#101426 Don't duplicate file descriptors into stdio fds
  library/std/src/os/fd/owned.rs
Labels: S-waiting-on-bors, T-libs

#101447 Remove generics_def_id_map from the resolver.
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_resolve/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#101464 Rollup of 7 pull requests
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_typeck/src/check/fn_ctxt/checks.rs
  library/std/src/io/stdio.rs
  library/std/src/os/fd/owned.rs
  src/test/ui/let-else/let-else-drop-order.rs
  src/test/ui/let-else/let-else-drop-order.run.stdout
  src/test/ui/typeck/point-at-type-param-in-path-expr.rs
  src/test/ui/typeck/point-at-type-param-in-path-expr.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#101402 Add a Machine hook for inline assembly
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
Labels: T-compiler, S-waiting-on-bors

#101404 Fix cleanup for uninitialized stdout
  library/std/src/io/stdio.rs
Labels: S-waiting-on-bors, T-libs

#99291 Add let else drop order tests
  src/test/ui/let-else/let-else-drop-order.rs
  src/test/ui/let-else/let-else-drop-order.run.stdout
Labels: T-compiler, S-waiting-on-bors

#101359 Point out when a callable is not actually callable because its return is not sized
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_typeck/src/check/callee.rs
  compiler/rustc_typeck/src/check/cast.rs
  compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs
  src/test/ui/issues/issue-41139.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101362 Suggest removing unnecessary prefix let in patterns
  compiler/rustc_ast/src/token.rs
  compiler/rustc_error_messages/locales/en-US/parser.ftl
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/pat.rs
  src/test/ui/parser/unnecessary-let.rs
  src/test/ui/parser/unnecessary-let.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#101412 Some more cleanup in `core`
  library/core/src/slice/iter/macros.rs
  library/core/src/slice/sort.rs
Labels: S-waiting-on-bors, T-libs

#101427 Fix ICE, generalize 'move generics to trait' suggestion for >0 non-rcvr arguments
  compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs
  src/test/ui/suggestions/issue-101421.rs
  src/test/ui/suggestions/issue-101421.stderr
  src/test/ui/suggestions/move-generic-to-trait-in-method-with-params.rs
  src/test/ui/suggestions/move-generic-to-trait-in-method-with-params.stderr
Labels: T-compiler, S-waiting-on-bors

#101021 Migrate ``rustc_middle`` diagnostic
  compiler/rustc_error_messages/locales/en-US/middle.ftl
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/middle/limits.rs
  compiler/rustc_middle/src/traits/query.rs
  compiler/rustc_middle/src/ty/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#100658 TyCtxt::get_attr should check that no duplicates are allowed
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/lib.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_typeck/src/check/check.rs
  src/test/ui/attributes/issue-100631.rs
  src/test/ui/attributes/issue-100631.stderr
Labels: T-compiler, S-waiting-on-bors

#100733 Inline `<T as From<T>>::from`
  library/core/src/convert/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#101434 Update `SessionDiagnostic::into_diagnostic` to take `Handler` instead of `ParseSess`
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_attr/src/session_diagnostics.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_lint/src/errors.rs
  compiler/rustc_macros/src/diagnostics/diagnostic.rs
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_monomorphize/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_trait_selection/src/errors.rs
  compiler/rustc_typeck/src/astconv/errors.rs
  compiler/rustc_typeck/src/errors.rs
  src/test/ui-fulldeps/internal-lints/diagnostics.rs
  src/test/ui-fulldeps/internal-lints/diagnostics.stderr
Labels: T-compiler, S-waiting-on-bors, A-query-system, A-translation

#101445 Suggest introducing an explicit lifetime if it does not exist
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  src/test/ui/lifetimes/suggest-introducing-and-adding-missing-lifetime.rs
  src/test/ui/lifetimes/suggest-introducing-and-adding-missing-lifetime.stderr
  src/test/ui/suggestions/lifetimes/missing-lifetimes-in-signature-2.stderr
  src/test/ui/suggestions/lifetimes/missing-lifetimes-in-signature.stderr
Labels: T-compiler, S-waiting-on-bors

#101457 Recover from using `;` as separator between fields
  compiler/rustc_parse/src/parser/item.rs
  src/test/ui/parser/recover-field-semi.rs
  src/test/ui/parser/recover-field-semi.stderr
  src/test/ui/parser/removed-syntax-field-semicolon.rs
  src/test/ui/parser/removed-syntax-field-semicolon.stderr
Labels: T-compiler, S-waiting-on-bors

#101462 Rustdoc-Json: Store Variant Fields as their own item.
  src/etc/check_missing_items.py
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  src/test/rustdoc-json/enums/field_hidden.rs
  src/test/rustdoc-json/enums/kind.rs
  src/test/rustdoc-json/enums/struct_field_hidden.rs
  src/test/rustdoc-json/enums/tuple_fields_hidden.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#101471 Report number of delayed bugs properly with `-Ztreat-err-as-bug`
  compiler/rustc_errors/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#101473 Add more size assertions for MIR types.
  compiler/rustc_middle/src/mir/mod.rs
Labels: T-compiler, S-waiting-on-bors

#101357 Include enum path in variant suggestion
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
  src/test/ui/closures/2229_closure_analysis/match/non-exhaustive-match.rs
  src/test/ui/closures/2229_closure_analysis/match/non-exhaustive-match.stderr
  src/test/ui/empty/empty-never-array.rs
  src/test/ui/empty/empty-never-array.stderr
  src/test/ui/error-codes/E0004.stderr
  src/test/ui/feature-gates/feature-gate-non_exhaustive_omitted_patterns_lint.rs
  src/test/ui/feature-gates/feature-gate-non_exhaustive_omitted_patterns_lint.stderr
  src/test/ui/issue-94866.stderr
  src/test/ui/match/match_non_exhaustive.rs
  src/test/ui/match/match_non_exhaustive.stderr
  src/test/ui/pattern/usefulness/doc-hidden-non-exhaustive.rs
  src/test/ui/pattern/usefulness/doc-hidden-non-exhaustive.stderr
  src/test/ui/pattern/usefulness/empty-match.exhaustive_patterns.stderr
  src/test/ui/pattern/usefulness/empty-match.normal.stderr
  src/test/ui/pattern/usefulness/empty-match.rs
  src/test/ui/pattern/usefulness/issue-15129.rs
  src/test/ui/pattern/usefulness/issue-15129.stderr
  src/test/ui/pattern/usefulness/issue-31561.rs
  src/test/ui/pattern/usefulness/issue-31561.stderr
  src/test/ui/pattern/usefulness/issue-35609.stderr
  src/test/ui/pattern/usefulness/issue-39362.stderr
  src/test/ui/pattern/usefulness/issue-40221.stderr
  src/test/ui/pattern/usefulness/issue-50900.rs
  src/test/ui/pattern/usefulness/issue-50900.stderr
  src/test/ui/pattern/usefulness/issue-56379.rs
  src/test/ui/pattern/usefulness/issue-56379.stderr
  src/test/ui/pattern/usefulness/issue-72377.rs
  src/test/ui/pattern/usefulness/issue-72377.stderr
  src/test/ui/pattern/usefulness/match-arm-statics-2.rs
  src/test/ui/pattern/usefulness/match-arm-statics-2.stderr
  src/test/ui/pattern/usefulness/non-exhaustive-defined-here.rs
  src/test/ui/pattern/usefulness/non-exhaustive-defined-here.stderr
  src/test/ui/pattern/usefulness/non-exhaustive-match-nested.rs
  src/test/ui/pattern/usefulness/non-exhaustive-match-nested.stderr
  src/test/ui/pattern/usefulness/non-exhaustive-match.rs
  src/test/ui/pattern/usefulness/non-exhaustive-match.stderr
  src/test/ui/pattern/usefulness/non-exhaustive-pattern-witness.rs
  src/test/ui/pattern/usefulness/non-exhaustive-pattern-witness.stderr
  src/test/ui/pattern/usefulness/stable-gated-patterns.rs
  src/test/ui/pattern/usefulness/stable-gated-patterns.stderr
  src/test/ui/pattern/usefulness/struct-like-enum-nonexhaustive.stderr
  src/test/ui/pattern/usefulness/unstable-gated-patterns.rs
  src/test/ui/pattern/usefulness/unstable-gated-patterns.stderr
  src/test/ui/rfc-2008-non-exhaustive/enum_same_crate_empty_match.rs
  src/test/ui/rfc-2008-non-exhaustive/enum_same_crate_empty_match.stderr
  src/test/ui/rfc-2008-non-exhaustive/omitted-patterns.stderr
  src/test/ui/rfc-2008-non-exhaustive/stable-omitted-patterns.stderr
  src/test/ui/rfc-2008-non-exhaustive/uninhabited/match.stderr
  src/test/ui/rfc-2008-non-exhaustive/uninhabited/match_same_crate.stderr
  src/test/ui/rfc-2008-non-exhaustive/uninhabited/match_with_exhaustive_patterns.stderr
  src/test/ui/uninhabited/uninhabited-irrefutable.rs
  src/test/ui/uninhabited/uninhabited-irrefutable.stderr
Labels: T-compiler, S-waiting-on-bors

#100404 change stdlib circular dependencies handling
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_hir/src/weak_lang_items.rs
Labels: T-compiler, S-waiting-on-bors, T-infra, merged-by-bors

#101451 Add incremental test for changing struct name in assoc type.
  src/test/incremental/issue-100521-change-struct-name-assocty.rs
Labels: S-waiting-on-bors

#101468 fix RPIT ICE for implicit HRTB when missing dyn
  compiler/rustc_ast_lowering/src/lib.rs
  src/test/ui/impl-trait/generic-with-implicit-hrtb-without-dyn.edition2015.stderr
  src/test/ui/impl-trait/generic-with-implicit-hrtb-without-dyn.edition2021.stderr
  src/test/ui/impl-trait/generic-with-implicit-hrtb-without-dyn.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#101481 Fix compile errors for uwp-windows-msvc targets
  library/std/src/sys/windows/fs.rs
Labels: S-waiting-on-bors, T-libs

#101484 Remove dead broken code from const zst handling in backends
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/traits/consts.rs
Labels: T-compiler, S-waiting-on-bors

#101486 Add list of recognized repr attributes to the unrecognized repr error
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_passes/src/check_attr.rs
  src/test/ui/issues/issue-43988.stderr
  src/test/ui/repr/invalid_repr_list_help.rs
  src/test/ui/repr/invalid_repr_list_help.stderr
Labels: T-compiler, S-waiting-on-bors

#101488 rustdoc: remove unused CSS `#results > table`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101491 rustdoc: remove outdated CSS `.sub-variant > div > .item-info`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101497 :arrow_up: rust-analyzer
  src/tools/rust-analyzer/.github/workflows/ci.yaml
  src/tools/rust-analyzer/.github/workflows/release.yaml
  src/tools/rust-analyzer/crates/hir-def/src/body.rs
  src/tools/rust-analyzer/crates/hir-def/src/body/lower.rs
  src/tools/rust-analyzer/crates/hir-def/src/body/pretty.rs
  src/tools/rust-analyzer/crates/hir-def/src/body/scope.rs
  src/tools/rust-analyzer/crates/hir-def/src/expr.rs
  src/tools/rust-analyzer/crates/hir-def/src/nameres.rs
  src/tools/rust-analyzer/crates/hir-def/src/nameres/collector.rs
  src/tools/rust-analyzer/crates/hir-def/src/nameres/mod_resolution.rs
  src/tools/rust-analyzer/crates/hir-def/src/nameres/tests/mod_resolution.rs
  src/tools/rust-analyzer/crates/hir-def/src/resolver.rs
  src/tools/rust-analyzer/crates/hir-expand/src/lib.rs
  src/tools/rust-analyzer/crates/hir-expand/src/name.rs
  src/tools/rust-analyzer/crates/hir-ty/src/autoderef.rs
  src/tools/rust-analyzer/crates/hir-ty/src/diagnostics/expr.rs
  src/tools/rust-analyzer/crates/hir-ty/src/diagnostics/match_check/deconstruct_pat.rs
  src/tools/rust-analyzer/crates/hir-ty/src/diagnostics/match_check/usefulness.rs
  src/tools/rust-analyzer/crates/hir-ty/src/infer.rs
  src/tools/rust-analyzer/crates/hir-ty/src/infer/expr.rs
  src/tools/rust-analyzer/crates/hir-ty/src/inhabitedness.rs
  src/tools/rust-analyzer/crates/hir-ty/src/lib.rs
  src/tools/rust-analyzer/crates/hir-ty/src/lower.rs
  src/tools/rust-analyzer/crates/hir-ty/src/tests/macros.rs
  src/tools/rust-analyzer/crates/hir-ty/src/tests/regression.rs
  src/tools/rust-analyzer/crates/hir-ty/src/tests/simple.rs
  src/tools/rust-analyzer/crates/hir-ty/src/tests/traits.rs
  src/tools/rust-analyzer/crates/hir/src/diagnostics.rs
  src/tools/rust-analyzer/crates/hir/src/lib.rs
  src/tools/rust-analyzer/crates/hir/src/source_analyzer.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/convert_two_arm_bool_match_to_matches_macro.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/extract_struct_from_enum_variant.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/replace_or_with_or_else.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/replace_turbofish_with_explicit_type.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/unmerge_match_arm.rs
  src/tools/rust-analyzer/crates/ide-assists/src/lib.rs
  src/tools/rust-analyzer/crates/ide-assists/src/tests/generated.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/expr.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/expression.rs
  src/tools/rust-analyzer/crates/ide-db/src/syntax_helpers/node_ext.rs
  src/tools/rust-analyzer/crates/ide-diagnostics/src/handlers/break_outside_of_loop.rs
  src/tools/rust-analyzer/crates/ide-diagnostics/src/handlers/missing_match_arms.rs
  src/tools/rust-analyzer/crates/ide/src/inlay_hints.rs
  src/tools/rust-analyzer/crates/parser/src/grammar/paths.rs
  src/tools/rust-analyzer/crates/parser/src/syntax_kind/generated.rs
  src/tools/rust-analyzer/crates/parser/test_data/parser/inline/ok/0202_typepathfn_with_coloncolon.rast
  src/tools/rust-analyzer/crates/parser/test_data/parser/inline/ok/0202_typepathfn_with_coloncolon.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/global_state.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/handlers.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/reload.rs
  src/tools/rust-analyzer/crates/syntax/rust.ungram
  src/tools/rust-analyzer/crates/syntax/src/ast/generated/nodes.rs
  src/tools/rust-analyzer/crates/syntax/src/ast/make.rs
  src/tools/rust-analyzer/crates/syntax/src/ast/token_ext.rs
  src/tools/rust-analyzer/crates/syntax/src/tests/sourcegen_ast.rs
  src/tools/rust-analyzer/lib/la-arena/src/lib.rs
Labels: S-waiting-on-bors

#100801 Track PGO profiles in depinfo
  compiler/rustc_interface/src/passes.rs
  src/test/run-make/track-pgo-dep-info/Makefile
  src/test/run-make/track-pgo-dep-info/main.rs
Labels: T-compiler, S-waiting-on-bors, T-infra, merged-by-bors

#101232 Add test for #98294
  src/test/codegen/issue-98294-get-mut-copy-from-slice-opt.rs
Labels: S-waiting-on-bors, merged-by-bors

#101432 Shrink `PredicateS`
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/walk.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/check/method/mod.rs
  compiler/rustc_typeck/src/variance/constraints.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
  src/tools/clippy/clippy_lints/src/methods/mod.rs
  src/tools/clippy/clippy_lints/src/methods/unnecessary_to_owned.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#101476 Open a BCrypt algorithm handle
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/rand.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#101416 stdio: Document no support for writing to non-blocking stdio/stderr
  library/std/src/io/stdio.rs
  library/std/src/macros.rs
Labels: S-waiting-on-bors, T-libs

#101493 Pass ImplTraitContext as &mut to avoid the need of ImplTraitContext::reborrow
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/block.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_lowering/src/path.rs
Labels: T-compiler, S-waiting-on-bors

#101502 Do not suggest a semicolon for a macro without `!`
  compiler/rustc_parse/src/parser/expr.rs
  src/test/ui/parser/do-not-suggest-semicolon-before-array.rs
  src/test/ui/parser/do-not-suggest-semicolon-before-array.stderr
  src/test/ui/parser/do-not-suggest-semicolon-between-macro-without-exclamation-mark-and-array.rs
  src/test/ui/parser/do-not-suggest-semicolon-between-macro-without-exclamation-mark-and-array.stderr
  src/test/ui/parser/suggest-semicolon-before-array.fixed
  src/test/ui/parser/suggest-semicolon-before-array.rs
  src/test/ui/parser/suggest-semicolon-before-array.stderr
Labels: T-compiler, S-waiting-on-bors

#101503 Add debug calls
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_passes/src/hir_id_validator.rs
  compiler/rustc_resolve/src/late/lifetimes.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_typeck/src/astconv/mod.rs
  compiler/rustc_typeck/src/collect.rs
  compiler/rustc_typeck/src/collect/item_bounds.rs
Labels: T-compiler, S-waiting-on-bors

#101506 rustdoc: remove unused CSS `#main-content > .since`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101507 rustdoc: remove unused CSS `#main-content > table td`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101521 Rustdoc-Json: More accurate struct type.
  src/etc/check_missing_items.py
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  src/rustdoc-json-types/tests.rs
  src/test/rustdoc-json/nested.rs
  src/test/rustdoc-json/structs/plain_all_pub.rs
  src/test/rustdoc-json/structs/plain_doc_hidden.rs
  src/test/rustdoc-json/structs/plain_empty.rs
  src/test/rustdoc-json/structs/plain_pub_priv.rs
  src/test/rustdoc-json/structs/tuple.rs
  src/test/rustdoc-json/structs/tuple_empty.rs
  src/test/rustdoc-json/structs/tuple_pub_priv.rs
  src/test/rustdoc-json/structs/unit.rs
  src/test/rustdoc-json/structs/with_generics.rs
  src/test/rustdoc-json/structs/with_primitives.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#101525 Fix typo in pass_manager.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
Labels: T-compiler, S-waiting-on-bors

#101534 rustdoc: remove unused mobile CSS `.rustdoc { flex-direction }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101535 Fix error printing mistake in tidy
  src/tools/tidy/src/features.rs
Labels: S-waiting-on-bors

#101536 Add documentation for Attr::is_doc_comment
  compiler/rustc_ast/src/attr/mod.rs
Labels: T-compiler, S-waiting-on-bors

#101538 rustdoc: remove unused CSS `.content .methods > div`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#101343 Add -api-level to pm command
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: S-waiting-on-bors

#94075 Use niche-filling optimization even when multiple variants have data.
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_codegen_cranelift/src/discriminant.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/cpp_like.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/mod.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/native.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_data_structures/src/obligation_forest/mod.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_target/src/abi/mod.rs
  src/librustdoc/clean/types.rs
  src/test/debuginfo/msvc-pretty-enums.rs
  src/test/ui/layout/issue-96158-scalarpair-payload-might-be-uninit.stderr
  src/test/ui/layout/zero-sized-array-enum-niche.stderr
  src/test/ui/stats/hir-stats.rs
  src/test/ui/stats/hir-stats.stderr
  src/test/ui/structs-enums/type-sizes.rs
Labels: T-compiler, relnotes, S-waiting-on-bors, merged-by-bors, perf-regression

#101303 Make `HandleCycleError` an enum instead of a macro-generated closure
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/values.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/error.rs
  compiler/rustc_query_system/src/lib.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  compiler/rustc_query_system/src/values.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#101504 Fix `-Zgcc-ld=lld`
  src/test/run-make/issue-71519/Makefile
  src/tools/compiletest/src/header.rs
  src/tools/lld-wrapper/src/main.rs
Labels: S-waiting-on-bors, merged-by-bors

#101549 Use HashStable_Generic in rustc_type_ir
  Cargo.lock
  compiler/rustc_query_system/Cargo.toml
  compiler/rustc_query_system/src/ich/impls_syntax.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/sty.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#101399 Shrink span for bindings with subpatterns.
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  src/test/mir-opt/exponential_or.match_tuple.SimplifyCfg-initial.after.mir
  src/test/mir-opt/uniform_array_move_out.move_out_by_subslice.mir_map.0.mir
  src/test/ui/borrowck/bindings-after-at-or-patterns-slice-patterns-box-patterns.stderr
  src/test/ui/borrowck/borrowck-describe-lvalue.stderr
  src/test/ui/borrowck/borrowck-move-out-from-array-match.stderr
  src/test/ui/borrowck/borrowck-move-out-from-array-no-overlap-match.stderr
  src/test/ui/borrowck/borrowck-move-out-from-array-use-match.stderr
  src/test/ui/borrowck/borrowck-move-out-from-array-use-no-overlap-match.stderr
  src/test/ui/borrowck/borrowck-move-out-from-array-use.stderr
  src/test/ui/borrowck/borrowck-move-out-from-array.stderr
  src/test/ui/borrowck/borrowck-slice-pattern-element-loan-array.stderr
  src/test/ui/borrowck/borrowck-slice-pattern-element-loan-slice.stderr
  src/test/ui/borrowck/borrowck-vec-pattern-move-tail.stderr
  src/test/ui/borrowck/borrowck-vec-pattern-nesting.stderr
  src/test/ui/moves/move-out-of-array-ref.stderr
  src/test/ui/moves/move-out-of-slice-2.stderr
  src/test/ui/nll/issue-51244.stderr
  src/test/ui/pattern/bindings-after-at/bind-by-move-neither-can-live-while-the-other-survives-1.stderr
  src/test/ui/pattern/bindings-after-at/bind-by-move-no-subbindings-fun-param.stderr
  src/test/ui/pattern/bindings-after-at/borrowck-move-and-move.stderr
  src/test/ui/pattern/bindings-after-at/borrowck-pat-at-and-box.stderr
  src/test/ui/pattern/bindings-after-at/borrowck-pat-by-move-and-ref-inverse.stderr
  src/test/ui/pattern/bindings-after-at/borrowck-pat-by-move-and-ref.stderr
  src/test/ui/pattern/bindings-after-at/borrowck-pat-ref-mut-and-ref.stderr
  src/test/ui/pattern/bindings-after-at/borrowck-pat-ref-mut-twice.stderr
  src/test/ui/pattern/bindings-after-at/copy-and-move-mixed.stderr
  src/test/ui/pattern/bindings-after-at/default-binding-modes-both-sides-independent.stderr
  src/test/ui/pattern/bindings-after-at/nested-binding-modes-mut.stderr
  src/test/ui/pattern/move-ref-patterns/borrowck-move-ref-pattern.stderr
Labels: T-compiler, S-waiting-on-bors

#101422 Hermit: Add File::set_time stub
  library/std/src/sys/hermit/fs.rs
Labels: S-waiting-on-bors, T-libs

#101455 Avoid UB in the Windows filesystem code in... bootstrap?
  src/bootstrap/Cargo.toml
  src/bootstrap/util.rs
Labels: A-bootstrap, S-waiting-on-bors

#101498 rustc: Parameterize `ty::Visibility` over used ID
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/metadata.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/assoc.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_typeck/src/check/demand.rs
  compiler/rustc_typeck/src/check/expr.rs
  compiler/rustc_typeck/src/check/method/suggest.rs
  compiler/rustc_typeck/src/check/pat.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_lints/src/default.rs
  src/tools/clippy/clippy_lints/src/derive.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#101153 Migrate another part of rustc_infer to session diagnostic
  compiler/rustc_error_messages/locales/en-US/infer.ftl
  compiler/rustc_infer/src/errors.rs
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/errors/note_and_explain.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/different_lifetimes.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/mismatched_static_lifetime.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#98900 const_generics: correctly deal with bound variables
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs
  src/test/ui/closures/issue-52437.rs
  src/test/ui/closures/issue-52437.stderr
  src/test/ui/issues/issue-66706.rs
  src/test/ui/issues/issue-66706.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-const-generics, F-generic_const_exprs

#101467 Shrink `hir::Ty` and `hir::Pat`
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/pat_util.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/hir_stats.rs
  compiler/rustc_typeck/src/check/pat.rs
  src/librustdoc/clean/mod.rs
  src/test/ui/stats/hir-stats.stderr
  src/tools/clippy/clippy_lints/src/equatable_if_let.rs
  src/tools/clippy/clippy_lints/src/matches/match_same_arms.rs
  src/tools/clippy/clippy_lints/src/matches/single_match.rs
  src/tools/clippy/clippy_lints/src/question_mark.rs
  src/tools/clippy/clippy_lints/src/unit_types/let_unit_value.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors
