Repository rust-lang/rust, pull requests merged in 2023-08, with the labels that each got.

#114200 Detect trait upcasting through struct tail unsizing in new solver select
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  tests/ui/traits/trait-upcasting/upcast-through-struct-tail.current.stderr
  tests/ui/traits/trait-upcasting/upcast-through-struct-tail.next.stderr
  tests/ui/traits/trait-upcasting/upcast-through-struct-tail.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#114308 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_lexer/Cargo.toml
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  library/core/src/cell/once.rs
  library/core/src/fmt/mod.rs
  library/std/src/ffi/mod.rs
  library/std/src/sync/lazy_lock.rs
  library/std/src/sync/mutex.rs
  library/std/src/sync/once_lock.rs
  library/std/src/sync/rwlock.rs
  src/tools/opt-dist/src/tests.rs
  src/tools/tidy/src/deps.rs
  tests/ui/auto-traits/issue-83857-ub.rs
  tests/ui/auto-traits/issue-83857-ub.stderr
  tests/ui/impl-trait/auto-trait-leak
  tests/ui/lexer/lex-emoji-identifiers.rs
  tests/ui/lexer/lex-emoji-identifiers.stderr
  tests/ui/traits/trait-upcasting/upcast-through-struct-tail.current.stderr
  tests/ui/traits/trait-upcasting/upcast-through-struct-tail.next.stderr
  tests/ui/traits/trait-upcasting/upcast-through-struct-tail.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#114165 Add missing rvalues to smir
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
Labels: T-compiler, S-waiting-on-bors

#114182 clean up after 113312
  tests/ui/auto-traits/issue-83857-ub.rs
  tests/ui/auto-traits/issue-83857-ub.stderr
  tests/ui/impl-trait/auto-trait-leak
Labels: T-compiler, S-waiting-on-bors

#114193 Update lexer emoji diagnostics to Unicode 15.0
  Cargo.lock
  compiler/rustc_lexer/Cargo.toml
  compiler/rustc_lexer/src/lib.rs
  src/tools/tidy/src/deps.rs
  tests/ui/lexer/lex-emoji-identifiers.rs
  tests/ui/lexer/lex-emoji-identifiers.stderr
Labels: A-testsuite, A-diagnostics, A-unicode, T-compiler, T-bootstrap, S-waiting-on-bors

#113701 Re-export core::ffi::FromBytesUntilNulError in std::ffi
  library/std/src/ffi/mod.rs
Labels: T-libs-api, final-comment-period, S-waiting-on-bors, disposition-merge

#109318 Make `Debug` representations of `[Lazy, Once]*[Cell, Lock]` consistent with `Mutex` and `RwLock`
  library/core/src/cell/once.rs
  library/core/src/fmt/mod.rs
  library/std/src/sync/lazy_lock.rs
  library/std/src/sync/mutex.rs
  library/std/src/sync/once_lock.rs
  library/std/src/sync/rwlock.rs
Labels: T-libs-api, S-waiting-on-bors, I-libs-api-nominated

#111753 Only consider places with the same local in each_borrow_involving_path.
  compiler/rustc_borrowck/src/invalidation.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/path_utils.rs
  compiler/rustc_borrowck/src/places_conflict.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#113786 Disable dist tests on beta/stable
  src/ci/stage-build.py
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#114262 Improve the rust style guide doc
  src/doc/style-guide/src/README.md
  src/doc/style-guide/src/advice.md
  src/doc/style-guide/src/expressions.md
  src/doc/style-guide/src/items.md
  src/doc/style-guide/src/nightly.md
  src/doc/style-guide/src/principles.md
  src/doc/style-guide/src/statements.md
  src/doc/style-guide/src/types.md
Labels: S-waiting-on-bors, T-style

#114313 [rustc_data_structures] Simplify SortedMap::insert.
  compiler/rustc_data_structures/src/sorted_map.rs
Labels: T-compiler, S-waiting-on-bors

#113743 Directly link more target docs
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors

#113588 bootstrap: use git merge-base for LLVM CI download logic
  src/bootstrap/llvm.rs
  src/tools/build_helper/src/git.rs
Labels: T-bootstrap, S-waiting-on-bors

#113394 style-guide: Document style editions, start 2024 style edition
  src/doc/style-guide/src/SUMMARY.md
  src/doc/style-guide/src/editions.md
Labels: S-waiting-on-bors, T-style

#111081 impl SliceIndex<str> for (Bound<usize>, Bound<usize>)
  library/core/src/slice/index.rs
  library/core/src/slice/mod.rs
  library/core/src/str/traits.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp

#114283 Use parking lot's rwlock even without parallel-rustc
  compiler/rustc_data_structures/src/sync/vec.rs
Labels: T-compiler, S-waiting-on-bors

#114288 Improve diagnostic for wrong borrow on binary operations
  compiler/rustc_hir_typeck/src/op.rs
  tests/ui/binop/borrow-suggestion-109352-2.rs
  tests/ui/binop/borrow-suggestion-109352-2.stderr
  tests/ui/binop/borrow-suggestion-109352.fixed
  tests/ui/binop/borrow-suggestion-109352.rs
  tests/ui/binop/borrow-suggestion-109352.stderr
Labels: T-compiler, S-waiting-on-bors

#114296 interpret: fix alignment handling for Repeat expressions
  compiler/rustc_const_eval/src/interpret/step.rs
  src/tools/miri/tests/pass/align_repeat_into_packed_field.rs
  src/tools/miri/tests/pass/align_repeat_into_well_aligned_array.rs
Labels: T-compiler, S-waiting-on-bors

#114306 [rustc_data_structures][perf] Simplify base_n::push_str.
  compiler/rustc_data_structures/src/base_n.rs
Labels: T-compiler, S-waiting-on-bors

#114320 Cover statements for stable_mir
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
Labels: T-compiler, S-waiting-on-bors

#114331 Rollup of 7 pull requests
  compiler/rustc_codegen_llvm/src/coverageinfo/ffi.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/map_data.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_data_structures/src/base_n.rs
  compiler/rustc_data_structures/src/sync/vec.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/debug.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/query.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  library/std/src/backtrace.rs
  library/std/src/backtrace/tests.rs
  src/tools/miri/tests/pass/align_repeat_into_packed_field.rs
  src/tools/miri/tests/pass/align_repeat_into_well_aligned_array.rs
  tests/mir-opt/coverage_graphviz.bar.InstrumentCoverage.0.dot
  tests/mir-opt/coverage_graphviz.main.InstrumentCoverage.0.dot
  tests/mir-opt/instrument_coverage.bar.InstrumentCoverage.diff
  tests/mir-opt/instrument_coverage.main.InstrumentCoverage.diff
  tests/ui/binop/borrow-suggestion-109352-2.rs
  tests/ui/binop/borrow-suggestion-109352-2.stderr
  tests/ui/binop/borrow-suggestion-109352.fixed
  tests/ui/binop/borrow-suggestion-109352.rs
  tests/ui/binop/borrow-suggestion-109352.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#113428 coverage: Replace `ExpressionOperandId` with enum `Operand`
  compiler/rustc_codegen_llvm/src/coverageinfo/ffi.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/map_data.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/debug.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/query.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
  tests/mir-opt/coverage_graphviz.bar.InstrumentCoverage.0.dot
  tests/mir-opt/coverage_graphviz.main.InstrumentCoverage.0.dot
  tests/mir-opt/instrument_coverage.bar.InstrumentCoverage.diff
  tests/mir-opt/instrument_coverage.main.InstrumentCoverage.diff
Labels: T-compiler, S-waiting-on-bors, A-code-coverage, I-compiler-nominated

#100455 Implement RefUnwindSafe for Backtrace
  library/std/src/backtrace.rs
  library/std/src/backtrace/tests.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#113854 aarch64-msvc: remove CI hack for bad Windows SDK version
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
  src/ci/scripts/install-clang.sh
Labels: A-testsuite, O-windows, S-waiting-on-bors, T-infra, merged-by-bors

#105545 cleanup: remove pointee types
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/callee.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/gdb.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_llvm/src/va_arg.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/meth.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/mir/intrinsic.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/traits/consts.rs
  compiler/rustc_codegen_ssa/src/traits/type_.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-gather.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-scatter.rs
  tests/ui/dyn-star/llvm-old-style-ptrs.rs
  tests/ui/limits/issue-17913.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114273 Move doc comment desugaring out of `TokenCursor`.
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_parse/src/parser/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#113339 Filter out short-lived LLVM diagnostics before they reach the rustc handler
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/diagnostic.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114170 add `dropck_outlives` comments
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/outlives.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114199 Don't unsize coerce infer vars in select in new solver
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  tests/ui/inference/type-infer-generalize-ty-var.rs
  tests/ui/traits/new-solver/dont-coerce-infer-to-dyn.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#114301 Don't check unnecessarily that impl trait is RPIT
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  tests/ui/impl-trait/in-trait/missing-lt-outlives-in-rpitit-114274.rs
  tests/ui/impl-trait/in-trait/missing-lt-outlives-in-rpitit-114274.stderr
Labels: T-compiler, S-waiting-on-bors

#114314 Tweaks to `adt_sized_constraint`
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_ty_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#114322 Fix invalid slice coercion suggestion reported in turbofish
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/dst/issue-90528-unsizing-not-suggestion-110063.rs
  tests/ui/dst/issue-90528-unsizing-not-suggestion-110063.stderr
Labels: T-compiler, S-waiting-on-bors

#114340 [rustc_attr][nit] Replace `filter` + `is_some` with `map_or`.
  compiler/rustc_attr/src/builtin.rs
Labels: T-compiler, S-waiting-on-bors

#114358 Rollup of 6 pull requests
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_ty_utils/src/ty.rs
  tests/ui/borrowck/borrowck-borrowed-uniq-rvalue-2.stderr
  tests/ui/dst/issue-90528-unsizing-not-suggestion-110063.rs
  tests/ui/dst/issue-90528-unsizing-not-suggestion-110063.stderr
  tests/ui/impl-trait/in-trait/missing-lt-outlives-in-rpitit-114274.rs
  tests/ui/impl-trait/in-trait/missing-lt-outlives-in-rpitit-114274.stderr
  tests/ui/inference/type-infer-generalize-ty-var.rs
  tests/ui/lifetimes/borrowck-let-suggestion.stderr
  tests/ui/pin-macro/lifetime_errors_on_promotion_misusage.stderr
  tests/ui/traits/new-solver/dont-coerce-infer-to-dyn.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#114178 Account for macros when suggesting a new let binding
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  tests/ui/borrowck/borrowck-borrowed-uniq-rvalue-2.stderr
  tests/ui/lifetimes/borrowck-let-suggestion.stderr
  tests/ui/pin-macro/lifetime_errors_on_promotion_misusage.stderr
Labels: T-compiler, S-waiting-on-bors

#114360 coverage: Consolidate FFI types into one module
  compiler/rustc_codegen_llvm/src/coverageinfo/ffi.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/map_data.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#112431 Improve `invalid_reference_casting` lint
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/reference_casting.rs
  library/core/src/cell.rs
  src/tools/miri/tests/fail/both_borrows/illegal_write1.rs
  src/tools/miri/tests/fail/stacked_borrows/illegal_write3.rs
  tests/ui/const-generics/issues/issue-100313.rs
  tests/ui/const-generics/issues/issue-100313.stderr
  tests/ui/lint/reference_casting.rs
  tests/ui/lint/reference_casting.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114335 fix and extend ptr_comparison test
  tests/ui/consts/ptr_comparisons.rs
  tests/ui/consts/ptr_comparisons.stderr
Labels: T-compiler, S-waiting-on-bors

#114347 x.py print more detailed format files and untracked files count
  src/bootstrap/format.rs
Labels: T-bootstrap, S-waiting-on-bors

#114321 get auto traits for parallel rustc
  compiler/rustc_ast/src/format.rs
  src/librustdoc/clean/utils.rs
Labels: T-rustdoc, T-bootstrap, S-waiting-on-bors, perf-regression

#114079 Use `upvar_tys` in more places, make it return a list
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/diagnostics/var_name.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/mod.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_trait_selection/src/traits/query/dropck_outlives.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/needs_drop.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#114166 Add regression test for resolving `--extern libc=test.rlib`
  tests/ui/imports/resolve-other-libc.rs
  tests/ui/imports/resolve-other-libc.stderr
Labels: T-compiler, S-waiting-on-bors

#114345 Revert #113588 to fix bootstrap timings
  src/bootstrap/llvm.rs
  src/tools/build_helper/src/git.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#113292 Suggest `x build library` for a custom toolchain that fails to load `core`
  compiler/rustc_metadata/messages.ftl
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_metadata/src/locator.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113220 Clarify documentation for `CStr`
  library/core/src/ffi/c_str.rs
Labels: A-docs, S-waiting-on-bors, merged-by-bors, T-libs

#114353 Some parser and AST cleanups
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_builtin_macros/src/assert.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/edition_panic.rs
  compiler/rustc_expand/src/placeholders.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_parse/src/validate_attr.rs
  src/librustdoc/clean/render_macro_matchers.rs
  src/tools/rustfmt/src/expr.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#114400 Rollup of 3 pull requests
  .mailmap
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#114363 avoid 'miri' when refering to the shared interpreter
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_symbol_mangling/src/v0.rs
Labels: T-compiler, S-waiting-on-bors

#114371 Add myself to mailmap
  .mailmap
Labels: S-waiting-on-bors, A-meta

#114387 Temporarily eholk from review rotation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#114396 Miscellaneous HIR typeck nits
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expectation.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112043 Fix suggestion spans for expr from macro expansions
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/typeck/issue-110017-format-into-help-deletes-macro.fixed
  tests/ui/typeck/issue-110017-format-into-help-deletes-macro.rs
  tests/ui/typeck/issue-110017-format-into-help-deletes-macro.stderr
  tests/ui/typeck/issue-112007-leaked-writeln-macro-internals.fixed
  tests/ui/typeck/issue-112007-leaked-writeln-macro-internals.rs
  tests/ui/typeck/issue-112007-leaked-writeln-macro-internals.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113199 Infer type in irrefutable slice patterns with fixed length as array
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/array-slice-vec/infer_array_len.rs
  tests/ui/array-slice-vec/infer_array_len.stderr
  tests/ui/array-slice-vec/slice-pat-type-mismatches.rs
  tests/ui/array-slice-vec/slice-pat-type-mismatches.stderr
  tests/ui/destructuring-assignment/slice_destructure_fail.rs
  tests/ui/destructuring-assignment/slice_destructure_fail.stderr
  tests/ui/pattern/slice-array-infer.rs
  tests/ui/pattern/slice-pattern-refutable.rs
  tests/ui/pattern/slice-pattern-refutable.stderr
  tests/ui/pattern/slice-patterns-ambiguity.rs
  tests/ui/pattern/slice-patterns-ambiguity.stderr
  tests/ui/pattern/slice-patterns-irrefutable.rs
  tests/ui/pattern/slice-patterns-irrefutable.stderr
  tests/ui/pattern/slice-patterns-nested.rs
Labels: relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, T-types

#114403 fix the span in the suggestion of remove question mark
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  tests/ui/suggestions/remove-question-symbol-with-paren.rs
  tests/ui/suggestions/remove-question-symbol-with-paren.stderr
Labels: T-compiler, S-waiting-on-bors

#114408 Temporary remove myself from review rotation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#114415 Skip checking of `rustc_codegen_gcc` with vendoring enabled
  src/bootstrap/check.rs
Labels: T-bootstrap, S-waiting-on-bors

#114372 const validation: point at where we found a pointer but expected an integer
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/allocation/provenance_map.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  src/tools/miri/src/diagnostics.rs
  src/tools/miri/tests/fail/validity/uninit_float.stderr
  src/tools/miri/tests/fail/validity/uninit_integer.stderr
  tests/ui/const-ptr/forbidden_slices.stderr
  tests/ui/consts/const-eval/const-pointer-values-in-various-types.64bit.stderr
  tests/ui/consts/const-eval/raw-bytes.32bit.stderr
  tests/ui/consts/const-eval/raw-bytes.64bit.stderr
  tests/ui/consts/const-eval/ref_to_int_match.32bit.stderr
  tests/ui/consts/const-eval/ref_to_int_match.64bit.stderr
  tests/ui/consts/const-eval/ub-enum.32bit.stderr
  tests/ui/consts/const-eval/ub-enum.64bit.stderr
  tests/ui/consts/const-eval/ub-int-array.32bit.stderr
  tests/ui/consts/const-eval/ub-int-array.64bit.stderr
  tests/ui/consts/const-eval/ub-int-array.rs
  tests/ui/consts/const-eval/ub-ref-ptr.stderr
  tests/ui/consts/const-eval/ub-wide-ptr.stderr
  tests/ui/consts/extra-const-ub/detect-extra-ub.rs
  tests/ui/consts/extra-const-ub/detect-extra-ub.with_flag.stderr
  tests/ui/consts/issue-83182.rs
  tests/ui/consts/issue-83182.stderr
  tests/ui/consts/issue-miri-1910.stderr
  tests/ui/consts/miri_unleashed/ptr_arith.rs
  tests/ui/consts/miri_unleashed/ptr_arith.stderr
  tests/ui/intrinsics/intrinsic-raw_eq-const-bad.rs
  tests/ui/intrinsics/intrinsic-raw_eq-const-bad.stderr
  tests/ui/intrinsics/intrinsic-raw_eq-const-padding.rs
Labels: T-compiler, S-waiting-on-bors

#114395 [rustc_span][perf] Hoist lookup sorted by words out of the loop.
  compiler/rustc_span/src/edit_distance.rs
Labels: T-compiler, S-waiting-on-bors

#114237 parser: more friendly hints for handling `async move` in the 2015 edition
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  tests/ui/parser/issues/issue-114219.rs
  tests/ui/parser/issues/issue-114219.stderr
Labels: T-compiler, S-waiting-on-bors

#113657 Expand, rename and improve `incorrect_fn_null_checks` lint
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/fn_null_check.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/ptr_nulls.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  src/tools/clippy/clippy_lints/src/renamed_lints.rs
  src/tools/clippy/tests/ui/rename.fixed
  src/tools/clippy/tests/ui/rename.rs
  src/tools/clippy/tests/ui/rename.stderr
  tests/ui/consts/ptr_is_null.rs
  tests/ui/lint/fn_null_check.rs
  tests/ui/lint/fn_null_check.stderr
  tests/ui/lint/ptr_null_checks.rs
  tests/ui/lint/ptr_null_checks.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#110833 Only unpack tupled args in inliner if we expect args to be unpacked
  compiler/rustc_mir_transform/src/inline.rs
  tests/mir-opt/inline/cycle.g.Inline.panic-abort.diff
  tests/mir-opt/inline/cycle.g.Inline.panic-unwind.diff
  tests/mir-opt/inline/cycle.main.Inline.panic-abort.diff
  tests/mir-opt/inline/cycle.main.Inline.panic-unwind.diff
  tests/mir-opt/inline/dont_ice_on_generic_rust_call.call.Inline.panic-abort.diff
  tests/mir-opt/inline/dont_ice_on_generic_rust_call.call.Inline.panic-unwind.diff
  tests/mir-opt/inline/dont_ice_on_generic_rust_call.rs
  tests/mir-opt/inline/inline_box_fn.call.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_box_fn.call.Inline.panic-unwind.diff
  tests/mir-opt/inline/inline_box_fn.rs
  tests/mir-opt/inline/inline_cycle.two.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_cycle.two.Inline.panic-unwind.diff
  tests/mir-opt/inline/inline_diverging.h.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_diverging.h.Inline.panic-unwind.diff
  tests/mir-opt/inline/issue_78442.bar.Inline.panic-abort.diff
  tests/mir-opt/inline/issue_78442.bar.Inline.panic-unwind.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114305 Strip unexpected debuginfo from `libLLVM.so` and `librustc_driver.so` when not requesting any debuginfo
  src/bootstrap/compile.rs
  src/bootstrap/config.rs
  src/bootstrap/llvm.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#114449 Rollup of 8 pull requests
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_error_codes/src/error_codes/E0439.md
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  library/std/src/sys/unix/kernel_copy.rs
  src/tools/compiletest/src/runtest.rs
  tests/incremental/issue-61530.rs
  tests/rustdoc-gui/pocket-menu.goml
  tests/rustdoc-gui/sidebar-source-code-display.goml
  tests/ui/parser/macro/macro-expand-to-field.rs
  tests/ui/parser/macro/macro-expand-to-field.stderr
  tests/ui/parser/macro/macro-expand-to-match-arm.rs
  tests/ui/parser/macro/macro-expand-to-match-arm.stderr
  tests/ui/simd/intrinsic/generic-elements-pass.rs
  tests/ui/simd/intrinsic/generic-elements.rs
  tests/ui/simd/intrinsic/generic-elements.stderr
  tests/ui/simd/intrinsic/inlining-issue67557-ice.rs
  tests/ui/simd/intrinsic/inlining-issue67557.rs
  tests/ui/simd/shuffle-not-out-of-bounds.rs
  tests/ui/simd/shuffle-not-out-of-bounds.stderr
  tests/ui/simd/shuffle.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#114348 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/pocket-menu.goml
Labels: T-rustdoc, S-waiting-on-bors

#114373 unix/kernel_copy.rs: copy_file_range_candidate allows empty output files
  library/std/src/sys/unix/kernel_copy.rs
Labels: S-waiting-on-bors, T-libs

#114429 compiletest: Handle non-utf8 paths (fix FIXME)
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#114431 Enable tests on rustc_codegen_ssa
  compiler/rustc_codegen_ssa/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#113999 Specify macro is invalid in certain contexts
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/pat.rs
  tests/ui/parser/macro/macro-expand-to-field.rs
  tests/ui/parser/macro/macro-expand-to-field.stderr
  tests/ui/parser/macro/macro-expand-to-match-arm.rs
  tests/ui/parser/macro/macro-expand-to-match-arm.stderr
Labels: T-compiler, S-waiting-on-bors

#113534 Forbid old-style `simd_shuffleN` intrinsics
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_error_codes/src/error_codes/E0439.md
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  tests/incremental/issue-61530.rs
  tests/ui/simd/intrinsic/generic-elements-pass.rs
  tests/ui/simd/intrinsic/generic-elements.rs
  tests/ui/simd/intrinsic/generic-elements.stderr
  tests/ui/simd/intrinsic/inlining-issue67557-ice.rs
  tests/ui/simd/intrinsic/inlining-issue67557.rs
  tests/ui/simd/shuffle-not-out-of-bounds.rs
  tests/ui/simd/shuffle-not-out-of-bounds.stderr
  tests/ui/simd/shuffle.rs
Labels: T-compiler, S-waiting-on-bors

#114350 cg_llvm: stop identifying ADTs in LLVM IR
  compiler/rustc_codegen_llvm/src/type_of.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#114253 Compute variances for lazy type aliases
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/variance/constraints.rs
  compiler/rustc_hir_analysis/src/variance/mod.rs
  compiler/rustc_hir_analysis/src/variance/terms.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/query/mod.rs
  tests/rustdoc-json/type/inherent_associated_type_bound.rs
  tests/rustdoc-json/type/inherent_associated_type_projections.rs
  tests/rustdoc/inherent-projections.rs
  tests/ui/associated-inherent-types/issue-111879-0.rs
  tests/ui/associated-inherent-types/issue-111879-0.stderr
  tests/ui/associated-inherent-types/late-bound-regions.rs
  tests/ui/associated-inherent-types/late-bound-regions.stderr
  tests/ui/associated-inherent-types/not-found-self-type-differs.alias.stderr
  tests/ui/associated-inherent-types/not-found-self-type-differs.local.stderr
  tests/ui/associated-inherent-types/not-found-self-type-differs.rs
  tests/ui/associated-inherent-types/not-found-self-type-differs.stderr
  tests/ui/associated-inherent-types/substitute-params-bad.rs
  tests/ui/associated-inherent-types/substitute-params.rs
  tests/ui/associated-inherent-types/type-alias-bounds-are-enforced.rs
  tests/ui/associated-inherent-types/type-alias-bounds-are-enforced.stderr
  tests/ui/lazy-type-alias/variance.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-rustdoc-json, A-variance, T-types, F-lazy_type_alias

#114427 Handle non-utf8 rpaths (fix FIXME)
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
Labels: T-compiler, S-waiting-on-bors

#114440 bootstrap: config: fix version comparison bug
  src/bootstrap/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#114451 Rollup of 5 pull requests
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/variance/constraints.rs
  compiler/rustc_hir_analysis/src/variance/mod.rs
  compiler/rustc_hir_analysis/src/variance/terms.rs
  compiler/rustc_hir_typeck/src/mem_categorization.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/place.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/ty/closure.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_trait_selection/src/solve/canonicalize.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_type_ir/src/lib.rs
  src/bootstrap/config.rs
  src/tools/clippy/clippy_utils/src/sugg.rs
  tests/rustdoc-json/type/inherent_associated_type_bound.rs
  tests/rustdoc-json/type/inherent_associated_type_projections.rs
  tests/rustdoc/inherent-projections.rs
  tests/ui/associated-inherent-types/issue-111879-0.rs
  tests/ui/associated-inherent-types/issue-111879-0.stderr
  tests/ui/associated-inherent-types/late-bound-regions.rs
  tests/ui/associated-inherent-types/late-bound-regions.stderr
  tests/ui/associated-inherent-types/not-found-self-type-differs.alias.stderr
  tests/ui/associated-inherent-types/not-found-self-type-differs.local.stderr
  tests/ui/associated-inherent-types/not-found-self-type-differs.rs
  tests/ui/associated-inherent-types/not-found-self-type-differs.stderr
  tests/ui/associated-inherent-types/substitute-params-bad.rs
  tests/ui/associated-inherent-types/substitute-params.rs
  tests/ui/associated-inherent-types/type-alias-bounds-are-enforced.rs
  tests/ui/associated-inherent-types/type-alias-bounds-are-enforced.stderr
  tests/ui/lazy-type-alias/variance.rs
  tests/ui/type-alias-impl-trait/issue-96572-unconstrained.rs
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-rustdoc-json, WG-trait-system-refactor

#114022 Perform OpaqueCast field projection on HIR, too.
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_typeck/src/mem_categorization.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_middle/src/hir/place.rs
  compiler/rustc_middle/src/ty/closure.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  src/tools/clippy/clippy_utils/src/sugg.rs
  tests/ui/type-alias-impl-trait/issue-96572-unconstrained.rs
Labels: T-compiler, S-waiting-on-bors

#114355 resolve before canonicalization in new solver, ICE if unresolved
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_trait_selection/src/solve/canonicalize.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_type_ir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#114036 Rework upcasting confirmation to support upcasting to fewer projections in target bounds
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/traits/solve/inspect.rs
  compiler/rustc_middle/src/traits/solve/inspect/format.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/traits/trait-upcasting/fewer-associated.rs
  tests/ui/traits/trait-upcasting/illegal-upcast-from-impl.current.stderr
  tests/ui/traits/trait-upcasting/illegal-upcast-from-impl.next.stderr
  tests/ui/traits/trait-upcasting/illegal-upcast-from-impl.rs
  tests/ui/traits/trait-upcasting/normalization.rs
Labels: S-waiting-on-bors, merged-by-bors, F-trait_upcasting, perf-regression, T-types, WG-trait-system-refactor

#114414 Make test harness lint about unnnameable tests.
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint_defs/src/builtin.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113575 don't ICE on higher ranked hidden types
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  tests/ui/impl-trait/nested-rpit-hrtb-2.rs
  tests/ui/impl-trait/nested-rpit-hrtb-2.stderr
  tests/ui/type-alias-impl-trait/nested-tait-hrtb.rs
  tests/ui/type-alias-impl-trait/nested-tait-hrtb.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114104 Lots of tiny incremental simplifications of `EmitterWriter` internals
  Cargo.lock
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/Cargo.toml
  compiler/rustc_expand/src/tests.rs
  compiler/rustc_session/src/session.rs
  src/librustdoc/core.rs
  src/librustdoc/doctest.rs
  src/tools/clippy/clippy_lints/src/doc.rs
  src/tools/rustfmt/src/parse/session.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#114418 bump parking_lot to 0.12
  Cargo.lock
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_query_system/Cargo.toml
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/query/job.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#114450 Fix ICE failed to get layout for ReferencesError
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_llvm/src/context.rs
  tests/ui/invalid/issue-114435-layout-type-err.rs
  tests/ui/invalid/issue-114435-layout-type-err.stderr
Labels: T-compiler, S-waiting-on-bors

#114461 Fix unwrap on None
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/typeck/issue-114423.rs
  tests/ui/typeck/issue-114423.stderr
Labels: T-compiler, S-waiting-on-bors

#114462 interpret: add mplace_to_ref helper method
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/mod.rs
Labels: T-compiler, S-waiting-on-bors

#114472 Reword `confusable_idents` lint
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/non_ascii_idents.rs
  tests/ui/lint/rfc-2457-non-ascii-idents/lint-confusable-idents.rs
  tests/ui/lint/rfc-2457-non-ascii-idents/lint-confusable-idents.stderr
Labels: T-compiler, S-waiting-on-bors

#114477 Account for `Rc` and `Arc` when suggesting to clone
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  tests/ui/moves/use_of_moved_value_clone_suggestions.stderr
Labels: T-compiler, S-waiting-on-bors

#114351 [rustc_span][perf] Remove unnecessary string joins and allocs.
  compiler/rustc_span/src/edit_distance.rs
Labels: T-compiler, S-waiting-on-bors

#113945 Fix wrong span for trait selection failure error reporting
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/dst/issue-113447.fixed
  tests/ui/dst/issue-113447.rs
  tests/ui/dst/issue-113447.stderr
Labels: T-compiler, S-waiting-on-bors

#98333 Re-enable atomic loads and stores for all RISC-V targets
  compiler/rustc_target/src/spec/riscv32i_unknown_none_elf.rs
  compiler/rustc_target/src/spec/riscv32im_unknown_none_elf.rs
  compiler/rustc_target/src/spec/riscv32imc_unknown_none_elf.rs
Labels: T-compiler, S-waiting-on-bors, A-target-specs, O-riscv, merged-by-bors, A-atomic

#114475 Migrate GUI colors test to original CSS color format
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  tests/rustdoc-gui/run-on-hover.goml
Labels: T-rustdoc, S-waiting-on-bors

#114482 Fix ui-fulldeps missing the `internal_features` lint on stage 0
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#114490 Fix a typo in the error reporting for sealed traits.
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/privacy/sealed-traits/sealed-trait-local.stderr
Labels: T-compiler, S-waiting-on-bors

#114491 Rename issue #114423 test files to include context
  tests/ui/typeck/issue-114423-ice-regression-in-suggestion.rs
  tests/ui/typeck/issue-114423-ice-regression-in-suggestion.stderr
Labels: T-compiler, S-waiting-on-bors

#114492 Rollup of 5 pull requests
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/traits/solve/cache.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/probe.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/search_graph/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph/overflow.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/tools/compiletest/src/runtest.rs
  tests/rustdoc-gui/run-on-hover.goml
  tests/ui/dyn-star/param-env-region-infer.current.stderr
  tests/ui/dyn-star/param-env-region-infer.next.stderr
  tests/ui/dyn-star/param-env-region-infer.rs
  tests/ui/privacy/sealed-traits/sealed-trait-local.stderr
  tests/ui/traits/new-solver/coinduction/fixpoint-exponential-growth.rs
  tests/ui/traits/new-solver/coinduction/fixpoint-exponential-growth.stderr
  tests/ui/traits/new-solver/coinduction/incompleteness-unstable-result.rs
  tests/ui/traits/new-solver/coinduction/incompleteness-unstable-result.stderr
  tests/ui/traits/new-solver/overflow/global-cache.rs
  tests/ui/traits/new-solver/overflow/global-cache.stderr
  tests/ui/typeck/issue-114423-ice-regression-in-suggestion.rs
  tests/ui/typeck/issue-114423-ice-regression-in-suggestion.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#114287 update overflow handling in the new trait solver
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/traits/solve/cache.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/probe.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/search_graph/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph/overflow.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  tests/ui/dyn-star/param-env-region-infer.current.stderr
  tests/ui/dyn-star/param-env-region-infer.next.stderr
  tests/ui/dyn-star/param-env-region-infer.rs
  tests/ui/traits/new-solver/coinduction/fixpoint-exponential-growth.rs
  tests/ui/traits/new-solver/coinduction/fixpoint-exponential-growth.stderr
  tests/ui/traits/new-solver/coinduction/incompleteness-unstable-result.rs
  tests/ui/traits/new-solver/coinduction/incompleteness-unstable-result.stderr
  tests/ui/traits/new-solver/overflow/global-cache.rs
  tests/ui/traits/new-solver/overflow/global-cache.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113734 Convert builtin "global" late lints to run per module
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/foreign_modules.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/query/mod.rs
  src/librustdoc/core.rs
  tests/ui/lint/clashing-extern-fn.stderr
  tests/ui/lint/issue-111359.stderr
  tests/ui/lint/issue-1866.stderr
  tests/ui/lint/lint-attr-everywhere-late.stderr
  tests/ui/lint/lint-missing-doc.stderr
  tests/ui/lint/missing-doc-private-macro.stderr
  tests/ui/missing_debug_impls.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#114459 Do not run ConstProp on mir_for_ctfe.
  compiler/rustc_mir_transform/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109348 Resolve visibility paths as modules not as types.
  compiler/rustc_error_codes/src/error_codes/E0577.md
  compiler/rustc_resolve/src/build_reduced_graph.rs
  tests/ui/resolve/unresolved-segments-visibility.rs
  tests/ui/resolve/unresolved-segments-visibility.stderr
  tests/ui/span/visibility-ty-params.rs
  tests/ui/span/visibility-ty-params.stderr
  tests/ui/use/use-self-type.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114498 Print tidy command with bless tidy check failure
  src/tools/tidy/src/fluent_alphabetical.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#114514 Rollup of 3 pull requests
  compiler/rustc_lint/src/builtin.rs
  library/core/src/clone.rs
  src/tools/tidy/src/fluent_alphabetical.rs
  tests/ui/lint/missing-copy-implementations-negative-copy.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#114248 Make lint missing-copy-implementations honor negative `Copy` impls
  compiler/rustc_lint/src/builtin.rs
  tests/ui/lint/missing-copy-implementations-negative-copy.rs
Labels: A-lint, T-compiler, S-waiting-on-bors, F-negative_impls

#114029 Explain more clearly why `fn() -> T` can't be `#[derive(Clone)]`
  library/core/src/clone.rs
Labels: T-libs-api, S-waiting-on-bors

#114143 Rename tests/ui/issues/issue-100605.rs to ../type/option-ref-advice.rs
  src/tools/tidy/src/ui_tests.rs
  tests/ui/issues/issue-100605.rs
  tests/ui/type/option-ref-advice.rs
  tests/ui/type/option-ref-advice.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#111200 Optimize `Iterator` implementation for `&mut impl Iterator + Sized`
  library/core/src/iter/mod.rs
  library/core/src/iter/traits/double_ended.rs
  library/core/src/iter/traits/iterator.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#114476 Fix missing dependency file with `-Zunpretty`
  compiler/rustc_driver_impl/src/lib.rs
  tests/run-make/pretty-print-with-dep-file/Makefile
  tests/run-make/pretty-print-with-dep-file/with-dep.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114486 Avoid invalid NaN lint machine-applicable suggestion in const context
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/types.rs
  tests/ui/lint/invalid-nan-comparison.stderr
Labels: T-compiler, S-waiting-on-bors

#114503 Remove invalid lint when there is a generic argument in prefix path
  compiler/rustc_resolve/src/late.rs
  tests/ui/resolve/issue-114433-invalid-unused-qualifications-suggestion.rs
Labels: T-compiler, S-waiting-on-bors

#114509 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/scrape-examples-toggle.goml
Labels: T-rustdoc, S-waiting-on-bors

#114524 Also ICE when goals go from Ok to Err in new solver
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#114526 Rollup of 4 pull requests
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  tests/rustdoc-gui/scrape-examples-toggle.goml
  tests/ui/lint/invalid-nan-comparison.stderr
  tests/ui/resolve/issue-114433-invalid-unused-qualifications-suggestion.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#114528 Delete some useless casts from global_allocator expansion
  compiler/rustc_builtin_macros/src/global_allocator.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114487 Consolidate opaque ty and async fn lowering code
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/lifetime_collector.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_resolve/src/late.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113648 don't replace opaque types under binders with infer vars
  compiler/rustc_infer/src/infer/opaque_types.rs
  tests/ui/generic-associated-types/issue-90014-tait2.rs
  tests/ui/generic-associated-types/issue-90014-tait2.stderr
  tests/ui/type-alias-impl-trait/under-binder.rs
  tests/ui/type-alias-impl-trait/under-binder.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114516 parent_module_from_def_id does not need to be a query.
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114553 Rollup of 5 pull requests
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  library/std/src/lib.rs
  library/std/src/sys/unix/fs.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
  src/tools/linkchecker/main.rs
  tests/rustdoc-gui/search-error.goml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#114466 Add Allocation to SMIR
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
Labels: T-compiler, S-waiting-on-bors

#114505 Add documentation to has_deref
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
Labels: T-compiler, S-waiting-on-bors

#114519 use offset_of! to calculate dirent64 field offsets
  library/std/src/lib.rs
  library/std/src/sys/unix/fs.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#114537 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/search-error.goml
Labels: T-rustdoc, S-waiting-on-bors

#114539 linkchecker: Remove unneeded FIXME about intra-doc links
  src/tools/linkchecker/main.rs
Labels: S-waiting-on-bors, T-dev-tools

#114502 Steal MIR for CTFE when possible.
  compiler/rustc_mir_transform/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#114535 bump schannel, miow to drop windows-sys 0.42
  Cargo.lock
  src/tools/compiletest/Cargo.toml
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#114542 interpret: use ConstPropNonsense for more const-prop induced issues
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/interpret/step.rs
Labels: T-compiler, S-waiting-on-bors

#114543 add tests for some fixed ConstProp ICEs
  tests/ui/const_prop/ice-issue-111353.rs
  tests/ui/const_prop/ice-issue-96944.rs
Labels: T-compiler, S-waiting-on-bors

#114550 Generate better function argument names in global_allocator expansion
  compiler/rustc_ast/src/expand/allocator.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_codegen_cranelift/src/allocator.rs
  compiler/rustc_codegen_gcc/src/allocator.rs
  compiler/rustc_codegen_llvm/src/allocator.rs
Labels: T-compiler, S-waiting-on-bors

#114556 Issue numbers are enforced on active features; remove FIXME
  compiler/rustc_feature/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#114558 Remove FIXME about NLL diagnostic that is already improved
  tests/ui/nll/guarantor-issue-46974.rs
  tests/ui/nll/guarantor-issue-46974.stderr
Labels: T-compiler, S-waiting-on-bors

#114565 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_ast/src/expand/allocator.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_codegen_cranelift/src/allocator.rs
  compiler/rustc_codegen_gcc/src/allocator.rs
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_feature/src/lib.rs
  src/tools/compiletest/Cargo.toml
  tests/ui/const_prop/ice-issue-111353.rs
  tests/ui/const_prop/ice-issue-96944.rs
  tests/ui/nll/guarantor-issue-46974.rs
  tests/ui/nll/guarantor-issue-46974.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#112916 Add more context to `quit_if_file_exists` in `configure.py` & delete config.toml in CI
  src/bootstrap/configure.py
  src/ci/docker/README.md
  src/ci/docker/run.sh
  src/ci/run.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#114206 fix(ci): Ensure idempotence of user creation
  src/ci/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#114549 Style fix and refactor on resolve diagnostics
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
Labels: T-compiler, S-waiting-on-bors

#114229 Nest tests/codegen/sanitizer*.rs tests in sanitizer dir
  tests/codegen/sanitizer/cfi-add-canonical-jump-tables-flag.rs
  tests/codegen/sanitizer/cfi-add-enable-split-lto-unit-flag.rs
  tests/codegen/sanitizer/cfi-emit-type-checks-attr-no-sanitize.rs
  tests/codegen/sanitizer/cfi-emit-type-checks.rs
  tests/codegen/sanitizer/cfi-emit-type-metadata-attr-cfi-encoding.rs
  tests/codegen/sanitizer/cfi-emit-type-metadata-id-itanium-cxx-abi.rs
  tests/codegen/sanitizer/cfi-emit-type-metadata-itanium-cxx-abi-generalized.rs
  tests/codegen/sanitizer/cfi-emit-type-metadata-itanium-cxx-abi-normalized-generalized.rs
  tests/codegen/sanitizer/cfi-emit-type-metadata-itanium-cxx-abi-normalized.rs
  tests/codegen/sanitizer/cfi-emit-type-metadata-itanium-cxx-abi.rs
  tests/codegen/sanitizer/cfi-emit-type-metadata-trait-objects.rs
  tests/codegen/sanitizer/cfi-generalize-pointers.rs
  tests/codegen/sanitizer/cfi-normalize-integers.rs
  tests/codegen/sanitizer/kasan-emits-instrumentation.rs
  tests/codegen/sanitizer/kcfi-add-kcfi-flag.rs
  tests/codegen/sanitizer/kcfi-emit-kcfi-operand-bundle-attr-no-sanitize.rs
  tests/codegen/sanitizer/kcfi-emit-kcfi-operand-bundle-itanium-cxx-abi-generalized.rs
  tests/codegen/sanitizer/kcfi-emit-kcfi-operand-bundle-itanium-cxx-abi-normalized-generalized.rs
  tests/codegen/sanitizer/kcfi-emit-kcfi-operand-bundle-itanium-cxx-abi-normalized.rs
  tests/codegen/sanitizer/kcfi-emit-kcfi-operand-bundle-itanium-cxx-abi.rs
  tests/codegen/sanitizer/kcfi-emit-kcfi-operand-bundle.rs
  tests/codegen/sanitizer/kcfi-emit-type-metadata-trait-objects.rs
  tests/codegen/sanitizer/memory-track-origins.rs
  tests/codegen/sanitizer/memtag-attr-check.rs
  tests/codegen/sanitizer/no-sanitize-inlining.rs
  tests/codegen/sanitizer/no-sanitize.rs
  tests/codegen/sanitizer/safestack-attr-check.rs
  tests/codegen/sanitizer/sanitizer-recover.rs
  tests/codegen/sanitizer/scs-attr-check.rs
Labels: S-waiting-on-bors

#114230 Nest other codegen test topics
  tests/codegen/box-maybe-uninit-llvm14.rs
  tests/codegen/cffi/c-variadic-copy.rs
  tests/codegen/cffi/c-variadic-opt.rs
  tests/codegen/cffi/c-variadic.rs
  tests/codegen/cffi/ffi-const.rs
  tests/codegen/cffi/ffi-out-of-bounds-loads.rs
  tests/codegen/cffi/ffi-pure.rs
  tests/codegen/cffi/ffi-returns-twice.rs
  tests/codegen/enum/enum-bounds-check-derived-idx.rs
  tests/codegen/enum/enum-bounds-check-issue-13926.rs
  tests/codegen/enum/enum-bounds-check-issue-82871.rs
  tests/codegen/enum/enum-bounds-check.rs
  tests/codegen/enum/enum-debug-clike.rs
  tests/codegen/enum/enum-debug-niche-2.rs
  tests/codegen/enum/enum-debug-niche.rs
  tests/codegen/enum/enum-debug-tagged.rs
  tests/codegen/enum/enum-discriminant-value.rs
  tests/codegen/enum/enum-match.rs
  tests/codegen/enum/enum-u128.rs
  tests/codegen/macos/i686-macosx-deployment-target.rs
  tests/codegen/macos/i686-no-macosx-deployment-target.rs
  tests/codegen/macos/x86_64-macosx-deployment-target.rs
  tests/codegen/macos/x86_64-no-macosx-deployment-target.rs
  tests/codegen/naked-fn/naked-functions.rs
  tests/codegen/naked-fn/naked-nocoverage.rs
  tests/codegen/naked-fn/naked-noinline.rs
  tests/codegen/simd/simd-wide-sum.rs
  tests/codegen/simd/simd_arith_offset.rs
  tests/codegen/simd/swap-simd-types.rs
  tests/codegen/simd/unpadded-simd.rs
  tests/codegen/vec-calloc-llvm14.rs
Labels: S-waiting-on-bors

#114362 string.rs: remove "Basic usage" text
  library/alloc/src/string.rs
Labels: S-waiting-on-bors, T-libs

#114365 str.rs: remove "Basic usage" text
  library/alloc/src/str.rs
Labels: S-waiting-on-bors, T-libs

#114382 Add a new `compare_bytes` intrinsic instead of calling `memcmp` directly
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics.rs
  library/core/src/slice/cmp.rs
  src/tools/miri/tests/fail/uninit_buffer.stderr
  src/tools/miri/tests/fail/uninit_buffer_with_provenance.stderr
  tests/codegen/intrinsics/compare_bytes.rs
  tests/ui/consts/const-compare-bytes-ub.rs
  tests/ui/consts/const-compare-bytes-ub.stderr
  tests/ui/consts/const-compare-bytes.rs
  tests/ui/proc-macro/meta-macro-hygiene.stdout
  tests/ui/proc-macro/nonterminal-token-hygiene.stdout
Labels: T-compiler, S-waiting-on-bors, T-libs

#114093 Add regression test for `echo 'mod unknown;' | rustc -`
  tests/run-make/unknown-mod-stdin/Makefile
  tests/run-make/unknown-mod-stdin/unknown-mod.stderr
  tests/run-make/unknown-mod-stdin/unknown-mod.stdout
Labels: S-waiting-on-bors

#98935 Implement `Option::take_if`
  library/core/src/option.rs
Labels: T-libs-api, S-waiting-on-bors

#114560 update Miri
  src/tools/miri/.github/workflows/ci.yml
  src/tools/miri/CONTRIBUTING.md
  src/tools/miri/cargo-miri/src/main.rs
  src/tools/miri/cargo-miri/src/phases.rs
  src/tools/miri/cargo-miri/src/setup.rs
  src/tools/miri/cargo-miri/src/util.rs
  src/tools/miri/miri
  src/tools/miri/miri-script/Cargo.lock
  src/tools/miri/miri-script/Cargo.toml
  src/tools/miri/miri-script/miri
  src/tools/miri/miri-script/src/commands.rs
  src/tools/miri/miri-script/src/main.rs
  src/tools/miri/miri-script/src/util.rs
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/perms.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/tests/compiletest.rs
  src/tools/miri/tests/fail/both_borrows/retag_data_race_protected_read.rs
  src/tools/miri/tests/fail/both_borrows/retag_data_race_protected_read.stack.stderr
  src/tools/miri/tests/fail/both_borrows/retag_data_race_protected_read.tree.stderr
  src/tools/miri/tests/fail/both_borrows/retag_data_race_write.rs
  src/tools/miri/tests/fail/both_borrows/retag_data_race_write.stack.stderr
  src/tools/miri/tests/fail/both_borrows/retag_data_race_write.tree.stderr
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing2.rs
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing2.stderr
  src/tools/miri/tests/fail/stacked_borrows/retag_data_race_read.stack.stderr
  src/tools/miri/tests/fail/stacked_borrows/retag_data_race_read.tree.stderr
  src/tools/miri/tests/fail/tree_borrows/fragile-data-race.rs
  src/tools/miri/tests/fail/tree_borrows/fragile-data-race.stderr
  src/tools/miri/tests/fail/tree_borrows/reserved/cell-protected-write.rs
  src/tools/miri/tests/fail/tree_borrows/reserved/int-protected-write.rs
  src/tools/miri/tests/fail/tree_borrows/retag-data-race.rs
  src/tools/miri/tests/fail/unaligned_pointers/field_requires_parent_struct_alignment.rs
  src/tools/miri/tests/fail/unaligned_pointers/field_requires_parent_struct_alignment.stderr
  src/tools/miri/tests/pass-dep/shims/libc-fs.rs
  src/tools/miri/tests/pass-dep/shims/libc-misc.rs
  src/tools/miri/tests/pass/align_repeat_into_packed_field.rs
  src/tools/miri/tests/pass/align_strange_enum_discriminant_offset.rs
  src/tools/miri/tests/pass/issues/issue-53728.rs
  src/tools/miri/tests/pass/ptr_raw.rs
  src/tools/miri/tests/pass/shims/fs.rs
  src/tools/miri/tests/pass/stacked-borrows/stacked-borrows.rs
  src/tools/miri/tests/pass/strange_references.rs
  src/tools/miri/tests/pass/tree_borrows/cell-alternate-writes.rs
  src/tools/miri/tests/pass/tree_borrows/end-of-protector.rs
  src/tools/miri/tests/pass/tree_borrows/formatting.rs
  src/tools/miri/tests/pass/tree_borrows/reborrow-is-read.rs
  src/tools/miri/tests/pass/tree_borrows/reserved.rs
  src/tools/miri/tests/pass/tree_borrows/tree-borrows.rs
  src/tools/miri/tests/pass/tree_borrows/unique.rs
  src/tools/miri/tests/pass/tree_borrows/vec_unique.rs
  src/tools/miri/tests/utils/fs.rs
  src/tools/miri/tests/utils/macros.rs
  src/tools/miri/tests/utils/miri_extern.rs
  src/tools/miri/tests/utils/mod.rs
Labels: S-waiting-on-bors, merged-by-bors

#113902 Make `unconditional_recursion` warning detect recursive drops
  Cargo.lock
  compiler/rustc_mir_build/src/lib.rs
  compiler/rustc_mir_build/src/lints.rs
  compiler/rustc_mir_transform/Cargo.toml
  compiler/rustc_mir_transform/src/lib.rs
  tests/ui/lint/lint-unconditional-drop-recursion.rs
  tests/ui/lint/lint-unconditional-drop-recursion.stderr
Labels: C-enhancement, A-lint, T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#114570 [miri][typo] Fix a typo in a vector_block comment.
  src/tools/miri/src/concurrency/vector_clock.rs
Labels: S-waiting-on-bors

#114573 CI: do not hide error logs in a group
  src/ci/run.sh
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra

#114585 Rollup of 9 pull requests
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  compiler/rustc_target/src/spec/abi.rs
  compiler/rustc_target/src/spec/avr_gnu_base.rs
  compiler/rustc_target/src/spec/sparc_unknown_linux_gnu.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  library/panic_unwind/src/lib.rs
  src/ci/run.sh
  src/doc/unstable-book/src/language-features/abi-thiscall.md
  src/tools/miri/src/concurrency/vector_clock.rs
  src/tools/rust-analyzer/crates/ide-db/src/generated/lints.rs
  tests/codegen/unwind-abis/thiscall-unwind-abi.rs
  tests/ui/abi/unsupported.aarch64.stderr
  tests/ui/abi/unsupported.arm.stderr
  tests/ui/abi/unsupported.i686.stderr
  tests/ui/abi/unsupported.rs
  tests/ui/abi/unsupported.x64.stderr
  tests/ui/extern/extern-thiscall.rs
  tests/ui/feature-gates/feature-gate-thiscall.rs
  tests/ui/feature-gates/feature-gate-thiscall.stderr
  tests/ui/panic-handler/weak-lang-item-2.rs
  tests/ui/traits/new-solver/object-soundness-requires-generalization.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#114485 Add trait decls to SMIR
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
Labels: T-compiler, S-waiting-on-bors

#114495 Set max_atomic_width for AVR to 16
  compiler/rustc_target/src/spec/avr_gnu_base.rs
Labels: T-compiler, S-waiting-on-bors

#114496 Set max_atomic_width for sparc-unknown-linux-gnu to 32
  compiler/rustc_target/src/spec/sparc_unknown_linux_gnu.rs
Labels: T-compiler, S-waiting-on-bors

#114510 llvm-wrapper: adapt for LLVM API changes
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, llvm-main

#114562 stabilize abi_thiscall
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_target/src/spec/abi.rs
  library/panic_unwind/src/lib.rs
  src/doc/unstable-book/src/language-features/abi-thiscall.md
  src/tools/rust-analyzer/crates/ide-db/src/generated/lints.rs
  tests/codegen/unwind-abis/thiscall-unwind-abi.rs
  tests/ui/abi/unsupported.aarch64.stderr
  tests/ui/abi/unsupported.arm.stderr
  tests/ui/abi/unsupported.i686.stderr
  tests/ui/abi/unsupported.rs
  tests/ui/abi/unsupported.x64.stderr
  tests/ui/extern/extern-thiscall.rs
  tests/ui/feature-gates/feature-gate-thiscall.rs
  tests/ui/feature-gates/feature-gate-thiscall.stderr
Labels: T-compiler, relnotes, S-waiting-on-bors, T-libs

#114196 Bubble up nested goals from equation in `predicates_for_object_candidate`
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  tests/ui/traits/new-solver/object-soundness-requires-generalization.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113568 Fix spurious test failure with `panic=abort`
  tests/ui/panic-handler/weak-lang-item-2.rs
Labels: T-compiler, S-waiting-on-bors
