Repository rust-lang/rust, pull requests merged in 2023-11, with the labels that each got.

#117388 Turn const_caller_location from a query to a hook
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/util/caller_location.rs
  compiler/rustc_middle/src/hooks/mod.rs
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors

#117417 Add a stable MIR visitor
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/stable_mir/src/lib.rs
  compiler/stable_mir/src/mir.rs
  compiler/stable_mir/src/mir/body.rs
  compiler/stable_mir/src/mir/mono.rs
  compiler/stable_mir/src/mir/visit.rs
  compiler/stable_mir/src/ty.rs
  tests/ui-fulldeps/stable-mir/smir_visitor.rs
Labels: T-compiler, S-waiting-on-bors

#117439 prepopulate opaque ty storage before using it
  compiler/rustc_borrowck/src/type_check/mod.rs
Labels: T-compiler, S-waiting-on-bors

#117451 Add support for pre-unix-epoch file dates on Apple platforms (#108277)
  library/std/src/fs/tests.rs
  library/std/src/sys/unix/time.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#117459 Rollup of 5 pull requests
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/util/caller_location.rs
  compiler/rustc_middle/src/hooks/mod.rs
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/stable_mir/src/lib.rs
  compiler/stable_mir/src/mir.rs
  compiler/stable_mir/src/mir/body.rs
  compiler/stable_mir/src/mir/mono.rs
  compiler/stable_mir/src/mir/visit.rs
  compiler/stable_mir/src/ty.rs
  library/std/src/fs/tests.rs
  library/std/src/sys/unix/time.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/sidebar.rs
  tests/rustdoc/sidebar-items.rs
  tests/rustdoc/trait-object-safe.rs
  tests/ui-fulldeps/stable-mir/smir_visitor.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#113241 rustdoc: Document lack of object safety on affected traits
  src/librustdoc/clean/types.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/sidebar.rs
  tests/rustdoc/sidebar-items.rs
  tests/rustdoc/trait-object-safe.rs
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#113970 Replace switch to unreachable by assume statements
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/simplify_branches.rs
  compiler/rustc_mir_transform/src/uninhabited_enum_branching.rs
  compiler/rustc_mir_transform/src/unreachable_prop.rs
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.Inline.panic-abort.diff
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.Inline.panic-unwind.diff
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/duplicate_switch_targets.ub_if_b.PreCodegen.after.mir
  tests/mir-opt/separate_const_switch.identity.SeparateConstSwitch.diff
  tests/mir-opt/uninhabited_enum_branching.byref.UninhabitedEnumBranching.diff
  tests/mir-opt/uninhabited_enum_branching.custom_discriminant.UninhabitedEnumBranching.diff
  tests/mir-opt/uninhabited_enum_branching.main.SimplifyCfg-after-uninhabited-enum-branching.after.mir
  tests/mir-opt/uninhabited_enum_branching.rs
  tests/mir-opt/uninhabited_enum_branching.simple.UninhabitedEnumBranching.diff
  tests/mir-opt/uninhabited_enum_branching2.main.SimplifyCfg-after-uninhabited-enum-branching.after.mir
  tests/mir-opt/uninhabited_enum_branching2.rs
  tests/mir-opt/uninhabited_fallthrough_elimination.keep_fallthrough.UninhabitedEnumBranching.diff
  tests/mir-opt/unreachable.as_match.UnreachablePropagation.panic-abort.diff
  tests/mir-opt/unreachable.as_match.UnreachablePropagation.panic-unwind.diff
  tests/mir-opt/unreachable.if_let.UnreachablePropagation.panic-abort.diff
  tests/mir-opt/unreachable.if_let.UnreachablePropagation.panic-unwind.diff
  tests/mir-opt/unreachable.rs
  tests/mir-opt/unreachable_diverging.main.UnreachablePropagation.panic-abort.diff
  tests/mir-opt/unreachable_diverging.main.UnreachablePropagation.panic-unwind.diff
  tests/mir-opt/unreachable_diverging.rs
Labels: T-compiler, A-mir, S-waiting-on-bors, merged-by-bors, A-mir-opt, perf-regression

#116692 Match usize/isize exhaustively with half-open ranges
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  compiler/rustc_mir_build/src/build/matches/test.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
  tests/ui/feature-gates/feature-gate-precise_pointer_size_matching.rs
  tests/ui/feature-gates/feature-gate-precise_pointer_size_matching.stderr
  tests/ui/pattern/usefulness/integer-ranges/pointer-sized-int.allow.stderr
  tests/ui/pattern/usefulness/integer-ranges/pointer-sized-int.deny.stderr
  tests/ui/pattern/usefulness/integer-ranges/pointer-sized-int.rs
  tests/ui/pattern/usefulness/integer-ranges/precise_pointer_matching-message.rs
  tests/ui/pattern/usefulness/integer-ranges/precise_pointer_matching-message.stderr
  tests/ui/pattern/usefulness/issue-85222-types-containing-non-exhaustive-types.rs
  tests/ui/pattern/usefulness/issue-85222-types-containing-non-exhaustive-types.stderr
  tests/ui/pattern/usefulness/non-exhaustive-pattern-witness.rs
  tests/ui/pattern/usefulness/non-exhaustive-pattern-witness.stderr
  tests/ui/pattern/usefulness/refutable-pattern-errors.rs
  tests/ui/pattern/usefulness/refutable-pattern-errors.stderr
  tests/ui/pattern/usefulness/refutable-pattern-in-fn-arg.rs
  tests/ui/pattern/usefulness/refutable-pattern-in-fn-arg.stderr
  tests/ui/pattern/usefulness/tuple-struct-nonexhaustive.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#117422 Stabilize `file_set_times`
  library/std/src/fs.rs
  library/std/src/os/ios/fs.rs
  library/std/src/os/macos/fs.rs
  library/std/src/os/watchos/fs.rs
  library/std/src/os/windows/fs.rs
Labels: O-windows, O-macos, O-ios, S-waiting-on-bors, merged-by-bors, T-libs, O-watchos

#115356 `std::thread::set_name` exploit the return on haiku
  library/std/src/sys/unix/thread.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-unix

#117397 Don't emit delayed good-path bugs on panic
  compiler/rustc_errors/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#117401 Refactor: move suggestion functions from demand to suggestions
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
Labels: T-compiler, S-waiting-on-bors

#117475 Inline and remove `create_session`.
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/util.rs
Labels: T-compiler, S-waiting-on-bors

#117482 Rollup of 4 pull requests
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/util.rs
  library/core/src/lib.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  src/tools/miri/tests/fail/intrinsics/unchecked_shl.rs
  src/tools/miri/tests/fail/intrinsics/unchecked_shr.rs
  tests/codegen/unchecked_shifts.rs
  tests/mir-opt/inline/unchecked_shifts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#115626 Clean up unchecked_math, separate out unchecked_shifts
  library/core/src/lib.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  src/tools/miri/tests/fail/intrinsics/unchecked_shl.rs
  src/tools/miri/tests/fail/intrinsics/unchecked_shr.rs
  tests/codegen/unchecked_shifts.rs
  tests/mir-opt/inline/unchecked_shifts.rs
Labels: S-waiting-on-bors, T-libs

#114208 Support enum variants in offset_of!
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_error_codes/src/error_codes.rs
  compiler/rustc_error_codes/src/error_codes/E0795.md
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_target/src/abi/mod.rs
  compiler/stable_mir/src/mir/body.rs
  library/core/src/mem/mod.rs
  tests/mir-opt/const_prop/offset_of.concrete.ConstProp.panic-abort.diff
  tests/mir-opt/const_prop/offset_of.concrete.ConstProp.panic-unwind.diff
  tests/mir-opt/const_prop/offset_of.generic.ConstProp.panic-abort.diff
  tests/mir-opt/const_prop/offset_of.generic.ConstProp.panic-unwind.diff
  tests/mir-opt/const_prop/offset_of.rs
  tests/mir-opt/dataflow-const-prop/offset_of.concrete.DataflowConstProp.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/offset_of.concrete.DataflowConstProp.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/offset_of.generic.DataflowConstProp.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/offset_of.generic.DataflowConstProp.panic-unwind.diff
  tests/ui/offset-of/offset-of-enum.rs
  tests/ui/offset-of/offset-of-enum.stderr
  tests/ui/offset-of/offset-of-private.rs
  tests/ui/offset-of/offset-of-private.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117307 Set max_atomic_width for riscv32*-esp-espidf to 32
  compiler/rustc_target/src/spec/riscv32imac_esp_espidf.rs
  compiler/rustc_target/src/spec/riscv32imc_esp_espidf.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117289 Account for `ref` and `mut` in the wrong place for pattern ident renaming
  compiler/rustc_parse/src/parser/pat.rs
  tests/ui/pattern/incorrect-placement-of-pattern-modifiers.fixed
  tests/ui/pattern/incorrect-placement-of-pattern-modifiers.rs
  tests/ui/pattern/incorrect-placement-of-pattern-modifiers.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117029 Add FileCheck annotations to MIR-opt inlining tests
  tests/mir-opt/inline/asm_unwind.rs
  tests/mir-opt/inline/caller_with_trivial_bound.rs
  tests/mir-opt/inline/cycle.rs
  tests/mir-opt/inline/dont_ice_on_generic_rust_call.rs
  tests/mir-opt/inline/dyn_trait.rs
  tests/mir-opt/inline/exponential_runtime.rs
  tests/mir-opt/inline/inline_any_operand.rs
  tests/mir-opt/inline/inline_box_fn.rs
  tests/mir-opt/inline/inline_closure.rs
  tests/mir-opt/inline/inline_closure_borrows_arg.rs
  tests/mir-opt/inline/inline_closure_captures.rs
  tests/mir-opt/inline/inline_coroutine.main.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_coroutine.main.Inline.panic-unwind.diff
  tests/mir-opt/inline/inline_coroutine.rs
  tests/mir-opt/inline/inline_diverging.rs
  tests/mir-opt/inline/inline_instruction_set.rs
  tests/mir-opt/inline/inline_into_box_place.rs
  tests/mir-opt/inline/inline_options.rs
  tests/mir-opt/inline/inline_retag.rs
  tests/mir-opt/inline/inline_specialization.rs
  tests/mir-opt/inline/inline_trait_method.rs
  tests/mir-opt/inline/inline_trait_method_2.rs
  tests/mir-opt/inline/issue_58867_inline_as_ref_as_mut.rs
  tests/mir-opt/inline/issue_76997_inline_scopes_parenting.main.Inline.after.mir
  tests/mir-opt/inline/issue_76997_inline_scopes_parenting.rs
  tests/mir-opt/inline/issue_78442.rs
  tests/mir-opt/inline/unchecked_shifts.rs
  tests/mir-opt/inline/unsized_argument.rs
  tests/mir-opt/inline/unwrap_unchecked.rs
Labels: S-waiting-on-bors, merged-by-bors

#117298 Recover from missing param list in function definitions
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/mismatched_types/recovered-block.rs
  tests/ui/mismatched_types/recovered-block.stderr
  tests/ui/parser/issues/issue-108109-fn-missing-params.fixed
  tests/ui/parser/issues/issue-108109-fn-missing-params.rs
  tests/ui/parser/issues/issue-108109-fn-missing-params.stderr
  tests/ui/parser/removed-syntax-fn-sigil.rs
  tests/ui/parser/removed-syntax-fn-sigil.stderr
Labels: T-compiler, S-waiting-on-bors

#117373 Avoid the path trimming ICE lint in error reporting
  compiler/rustc_const_eval/src/interpret/cast.rs
Labels: T-compiler, S-waiting-on-bors

#117441 Do not assert in op_to_const.
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_middle/src/hooks/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.rs
Labels: T-compiler, S-waiting-on-bors

#117488 Update minifier-rs version to 0.3.0
  Cargo.lock
  src/librustdoc/Cargo.toml
Labels: T-rustdoc, S-waiting-on-bors

#117498 Rollup of 4 pull requests
  Cargo.lock
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_middle/src/hooks/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/item.rs
  src/librustdoc/Cargo.toml
  src/tools/clippy/clippy_utils/src/consts.rs
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.rs
  tests/ui/mismatched_types/recovered-block.rs
  tests/ui/mismatched_types/recovered-block.stderr
  tests/ui/parser/issues/issue-108109-fn-missing-params.fixed
  tests/ui/parser/issues/issue-108109-fn-missing-params.rs
  tests/ui/parser/issues/issue-108109-fn-missing-params.stderr
  tests/ui/parser/removed-syntax-fn-sigil.rs
  tests/ui/parser/removed-syntax-fn-sigil.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#117506 fixes: typo in `std::cmp::Ord` trait docs
  library/core/src/cmp.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117386 Fix switch_stdout_to on Windows7
  library/std/tests/switch-stdout.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117204 Minor improvements to `rustc_ast_passes`
  Cargo.lock
  compiler/rustc_ast_passes/Cargo.toml
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  tests/ui/bounds-lifetime.rs
  tests/ui/bounds-lifetime.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117466 Don't check for alias bounds in liveness when aliases have escaping bound vars
  compiler/rustc_infer/src/infer/outlives/for_liveness.rs
  tests/ui/borrowck/alias-liveness/escaping-bounds-2.rs
  tests/ui/borrowck/alias-liveness/escaping-bounds-2.stderr
  tests/ui/borrowck/alias-liveness/escaping-bounds.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117495 Clarify `Unsize` documentation
  library/core/src/marker.rs
  tests/ui/unsized/unsize-coerce-multiple-adt-params.rs
Labels: T-libs-api, T-compiler, S-waiting-on-bors, T-libs

#117509 Remove support for alias `-Z symbol-mangling-version`
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  src/tools/tidy/src/ui_tests.rs
  tests/run-make/crate-hash-rustc-version/Makefile
  tests/ui/symbol-mangling-version/bad-value.bad.stderr
  tests/ui/symbol-mangling-version/bad-value.blank.stderr
  tests/ui/symbol-mangling-version/bad-value.no-value.stderr
  tests/ui/symbol-mangling-version/bad-value.rs
  tests/ui/symbol-mangling-version/stable.rs
  tests/ui/symbol-mangling-version/unstable.legacy.stderr
  tests/ui/symbol-mangling-version/unstable.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#117512 Expand mem::offset_of! docs
  library/core/src/mem/mod.rs
Labels: S-waiting-on-bors, T-libs

#117513 Rollup of 4 pull requests
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/traits/solve/cache.rs
  compiler/rustc_middle/src/traits/solve/inspect.rs
  compiler/rustc_middle/src/traits/solve/inspect/format.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/solve/inspect/build.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  library/core/src/marker.rs
  library/core/src/mem/mod.rs
  src/tools/tidy/src/ui_tests.rs
  tests/run-make/crate-hash-rustc-version/Makefile
  tests/ui/symbol-mangling-version/bad-value.bad.stderr
  tests/ui/symbol-mangling-version/bad-value.blank.stderr
  tests/ui/symbol-mangling-version/bad-value.no-value.stderr
  tests/ui/symbol-mangling-version/bad-value.rs
  tests/ui/symbol-mangling-version/stable.rs
  tests/ui/symbol-mangling-version/unstable.legacy.stderr
  tests/ui/symbol-mangling-version/unstable.rs
  tests/ui/unsized/unsize-coerce-multiple-adt-params.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#117394 use global cache when computing proof trees
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/traits/solve/cache.rs
  compiler/rustc_middle/src/traits/solve/inspect.rs
  compiler/rustc_middle/src/traits/solve/inspect/format.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/solve/inspect/build.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#117521 Fix order of implementations in the "implementations on foreign types" section
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc-gui/impl_on_foreign_order.goml
  tests/rustdoc-gui/search-tab.goml
  tests/rustdoc-gui/src/test_docs/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#117471 bootstrap: do not purge docs on CI environment
  src/bootstrap/src/core/builder.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#117134 dropck_outlives check whether generator witness needs_drop
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_trait_selection/src/traits/query/dropck_outlives.rs
  compiler/rustc_traits/src/dropck_outlives.rs
  compiler/rustc_ty_utils/src/needs_drop.rs
  compiler/rustc_type_ir/src/ty_kind.rs
  tests/ui/coroutine/borrowing.stderr
  tests/ui/coroutine/issue-110929-coroutine-conflict-error-ice.rs
  tests/ui/coroutine/issue-110929-coroutine-conflict-error-ice.stderr
  tests/ui/coroutine/retain-resume-ref.stderr
  tests/ui/dropck/coroutine-liveness-1.rs
  tests/ui/dropck/coroutine-liveness-2.rs
Labels: beta-nominated, final-comment-period, S-waiting-on-bors, disposition-merge, merged-by-bors, perf-regression, T-types

#117131 Add all RPITITs when augmenting param-env with GAT bounds in `check_type_bounds`
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  tests/ui/generic-associated-types/assume-gat-normalization-for-nested-goals.rs
  tests/ui/impl-trait/in-trait/nested-rpitit-bounds.rs
  tests/ui/traits/new-solver/specialization-transmute.rs
  tests/ui/traits/new-solver/specialization-transmute.stderr
  tests/ui/traits/new-solver/specialization-unconstrained.rs
  tests/ui/traits/new-solver/specialization-unconstrained.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117313 Run part of `rustc_codegen_gcc`'s tests in CI
  .github/workflows/ci.yml
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_codegen_gcc/config.sh
  compiler/rustc_codegen_gcc/example/alloc_example.rs
  compiler/rustc_codegen_gcc/example/alloc_system.rs
  compiler/rustc_codegen_gcc/example/mod_bench.rs
  src/bootstrap/configure.py
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-15/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-15/script.sh
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/ci/docker/run.sh
  src/ci/github-actions/ci.yml
  src/ci/run.sh
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#117508 Use `FxIndexSet` in the symbol interner.
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_span/src/symbol/tests.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117510 Add track_caller to transmute_copy
  library/core/src/mem/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117535 Revert "Auto merge of #117328 - lqd:cranelift-rocket, r=Mark-Simulacrum"
  src/bootstrap/src/core/build_steps/dist.rs
  src/ci/docker/run.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#117434 delegate `<Box<E> as Error>::provide` to `<E as Error>::provide`
  library/alloc/src/boxed.rs
Labels: S-waiting-on-bors, T-libs

#117523 oli-obk is on vacation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#115333 Guarantee representation of None in NPO
  library/core/src/option.rs
Labels: T-lang, T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#117540 clone less
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/passes/lint/html_tags.rs
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#115274 Run tidy license checker on more workspaces
  src/ci/docker/host-x86_64/test-various/uefi_qemu_test/Cargo.lock
  src/etc/test-float-parse/Cargo.lock
  src/etc/test-float-parse/Cargo.toml
  src/tools/tidy/src/deps.rs
  src/tools/tidy/src/extdeps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#117343 Cleanup `rustc_mir_build/../check_match.rs`
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  tests/ui/closures/2229_closure_analysis/match/non-exhaustive-match.stderr
  tests/ui/error-codes/E0004.stderr
  tests/ui/feature-gates/feature-gate-non_exhaustive_omitted_patterns_lint.stderr
  tests/ui/match/match_non_exhaustive.stderr
  tests/ui/pattern/issue-94866.stderr
  tests/ui/pattern/usefulness/conflicting_bindings.rs
  tests/ui/pattern/usefulness/conflicting_bindings.stderr
  tests/ui/pattern/usefulness/doc-hidden-non-exhaustive.stderr
  tests/ui/pattern/usefulness/empty-match.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/empty-match.normal.stderr
  tests/ui/pattern/usefulness/empty-match.rs
  tests/ui/pattern/usefulness/issue-35609.stderr
  tests/ui/pattern/usefulness/issue-39362.stderr
  tests/ui/pattern/usefulness/issue-40221.stderr
  tests/ui/pattern/usefulness/issue-56379.stderr
  tests/ui/pattern/usefulness/non-exhaustive-defined-here.rs
  tests/ui/pattern/usefulness/non-exhaustive-defined-here.stderr
  tests/ui/pattern/usefulness/non-exhaustive-match-nested.stderr
  tests/ui/pattern/usefulness/non-exhaustive-match.stderr
  tests/ui/pattern/usefulness/non-exhaustive-pattern-witness.stderr
  tests/ui/pattern/usefulness/stable-gated-patterns.stderr
  tests/ui/pattern/usefulness/struct-like-enum-nonexhaustive.stderr
  tests/ui/pattern/usefulness/unstable-gated-patterns.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/enum_same_crate_empty_match.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/uninhabited/match.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/uninhabited/match_same_crate.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/uninhabited/match_with_exhaustive_patterns.stderr
Labels: T-compiler, S-waiting-on-bors

#117550 Use `filter_map` in `try_par_for_each_in`
  compiler/rustc_data_structures/src/sync/parallel.rs
Labels: T-compiler, S-waiting-on-bors

#117554 consts: remove dead code around `i1` constant values
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#117564 Rollup of 3 pull requests
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_data_structures/src/sync/parallel.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  tests/ui/closures/2229_closure_analysis/match/non-exhaustive-match.stderr
  tests/ui/error-codes/E0004.stderr
  tests/ui/feature-gates/feature-gate-non_exhaustive_omitted_patterns_lint.stderr
  tests/ui/match/match_non_exhaustive.stderr
  tests/ui/pattern/issue-94866.stderr
  tests/ui/pattern/usefulness/conflicting_bindings.rs
  tests/ui/pattern/usefulness/conflicting_bindings.stderr
  tests/ui/pattern/usefulness/doc-hidden-non-exhaustive.stderr
  tests/ui/pattern/usefulness/empty-match.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/empty-match.normal.stderr
  tests/ui/pattern/usefulness/empty-match.rs
  tests/ui/pattern/usefulness/issue-35609.stderr
  tests/ui/pattern/usefulness/issue-39362.stderr
  tests/ui/pattern/usefulness/issue-40221.stderr
  tests/ui/pattern/usefulness/issue-56379.stderr
  tests/ui/pattern/usefulness/non-exhaustive-defined-here.rs
  tests/ui/pattern/usefulness/non-exhaustive-defined-here.stderr
  tests/ui/pattern/usefulness/non-exhaustive-match-nested.stderr
  tests/ui/pattern/usefulness/non-exhaustive-match.stderr
  tests/ui/pattern/usefulness/non-exhaustive-pattern-witness.stderr
  tests/ui/pattern/usefulness/stable-gated-patterns.stderr
  tests/ui/pattern/usefulness/struct-like-enum-nonexhaustive.stderr
  tests/ui/pattern/usefulness/unstable-gated-patterns.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/enum_same_crate_empty_match.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/uninhabited/match.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/uninhabited/match_same_crate.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/uninhabited/match_with_exhaustive_patterns.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#117094 Warn users who set `non_exhaustive_omitted_patterns` lint level on a match arm
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
  src/tools/clippy/tests/ui/match_same_arms_non_exhaustive.rs
  tests/ui/rfcs/rfc-2008-non-exhaustive/omitted-patterns-dont-lint-on-arm.lint.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/omitted-patterns-dont-lint-on-arm.normal.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/omitted-patterns-dont-lint-on-arm.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#113343 Update the alignment checks to match rust-lang/reference#1387
  compiler/rustc_mir_transform/src/check_alignment.rs
  tests/debuginfo/simple-struct.rs
  tests/ui/mir/alignment/addrof_alignment.rs
  tests/ui/mir/alignment/i686-pc-windows-msvc.rs
  tests/ui/mir/alignment/misaligned_lhs.rs
  tests/ui/mir/alignment/misaligned_rhs.rs
  tests/ui/mir/alignment/packed.rs
  tests/ui/mir/alignment/place_computation.rs
  tests/ui/mir/alignment/place_without_read.rs
  tests/ui/mir/alignment/two_pointers.rs
Labels: S-waiting-on-bors, merged-by-bors, T-opsem

#117534 clarify that the str invariant is a safety, not validity, invariant
  library/core/src/primitive_docs.rs
Labels: S-waiting-on-bors, T-libs

#117562 triagebot no-merges: exclude different case
  triagebot.toml
Labels: S-waiting-on-bors, T-infra, A-meta

#117570 fallback for `construct_generic_bound_failure`
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  tests/ui/impl-trait/in-trait/async-and-ret-ref.rs
  tests/ui/impl-trait/in-trait/async-and-ret-ref.stderr
Labels: T-compiler, S-waiting-on-bors

#117583 Remove `'tcx` lifetime on `PlaceholderConst`
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
Labels: T-compiler, S-waiting-on-bors

#117590 Rollup of 6 pull requests
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  library/core/src/convert/mod.rs
  library/core/src/ops/deref.rs
  library/core/src/primitive_docs.rs
  tests/ui/impl-trait/in-trait/async-and-ret-ref.rs
  tests/ui/impl-trait/in-trait/async-and-ret-ref.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#116894 Guarantee that `char` has the same size and alignment as `u32`
  library/core/src/primitive_docs.rs
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#110340 Deref docs: expand and remove "smart pointer" qualifier
  library/core/src/convert/mod.rs
  library/core/src/ops/deref.rs
Labels: S-waiting-on-bors, T-libs

#117503 Hint optimizer about try-reserved capacity
  library/alloc/src/raw_vec.rs
  tests/codegen/vec-reserve-extend.rs
  tests/ui/hygiene/panic-location.run.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#117581 Bump compiler_builtins to 0.1.103
  Cargo.lock
  library/std/Cargo.toml
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117589 Make sure that predicates with unmentioned bound vars are still considered global in the old solver
  compiler/rustc_middle/src/ty/erase_regions.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_type_ir/src/flags.rs
  tests/ui/late-bound-lifetimes/predicate-is-global.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116218 Stabilize `const_maybe_uninit_zeroed` and `const_mem_zeroed`
  library/alloc/src/lib.rs
  library/core/src/intrinsics.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/mem/mod.rs
  library/core/tests/mem.rs
  tests/ui/consts/assert-type-intrinsics.rs
  tests/ui/consts/assert-type-intrinsics.stderr
Labels: T-lang, T-libs-api, S-waiting-on-bors, A-const-eval, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, S-waiting-on-fcp, to-announce

#117469 Add FileCheck annotations to a few MIR opt tests
  tests/mir-opt/building/while_storage.rs
  tests/mir-opt/building/while_storage.while_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/building/while_storage.while_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/const_debuginfo.main.ConstDebugInfo.diff
  tests/mir-opt/const_debuginfo.rs
  tests/mir-opt/const_prop/indirect_mutation.bar.ConstProp.diff
  tests/mir-opt/const_prop/indirect_mutation.foo.ConstProp.diff
  tests/mir-opt/const_prop/indirect_mutation.rs
  tests/mir-opt/const_prop_miscompile.rs
  tests/mir-opt/while_storage.rs
  tests/mir-opt/while_storage.while_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/while_storage.while_loop.PreCodegen.after.panic-unwind.mir
Labels: S-waiting-on-bors, merged-by-bors

#117504 Remove obsolete support for linking unwinder on Android
  Cargo.lock
  library/unwind/Cargo.toml
  library/unwind/build.rs
  library/unwind/src/lib.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117524 bootstrap/setup: create hooks directory if non-existing
  src/bootstrap/src/core/build_steps/setup.rs
Labels: T-bootstrap, S-waiting-on-bors

#117588 Remove unused LoadResult::DecodeIncrCache variant
  compiler/rustc_incremental/messages.ftl
  compiler/rustc_incremental/src/errors.rs
  compiler/rustc_incremental/src/persist/load.rs
Labels: T-compiler, S-waiting-on-bors

#117596 Add diagnostic items for a few of core's builtin macros
  library/core/src/macros/mod.rs
Labels: S-waiting-on-bors, T-libs

#117608 Rollup of 4 pull requests
  compiler/rustc_incremental/messages.ftl
  compiler/rustc_incremental/src/errors.rs
  compiler/rustc_incremental/src/persist/load.rs
  library/core/src/macros/mod.rs
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/lib.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#116017 Don't pass `-stdlib=libc++` when building C files on macOS
  src/bootstrap/src/lib.rs
Labels: O-macos, T-bootstrap, S-waiting-on-bors

#117537 Feature gate enums in offset_of
  compiler/rustc_error_codes/src/error_codes/E0795.md
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/mem/mod.rs
  tests/mir-opt/const_prop/offset_of.rs
  tests/ui/feature-gates/feature-gate-offset-of-enum.rs
  tests/ui/feature-gates/feature-gate-offset-of-enum.stderr
  tests/ui/offset-of/offset-of-enum.rs
  tests/ui/offset-of/offset-of-private.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, F-offset_of

#117574 improve compiler&tool documenting and re-enable cranelift on CI
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/ci/docker/run.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#117179 Avoid unnecessary comparison in partition_equal
  library/core/src/slice/sort.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117191 generate beta manifests as pre-requisit to rust-lang/rustup#1329
  src/tools/build-manifest/src/main.rs
Labels: S-waiting-on-bors, merged-by-bors

#96979 Override `Waker::clone_from` to avoid cloning `Waker`s unnecessarily
  library/core/src/task/wake.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#117576 Fix excessive initialization and reads beyond EOF in `io::copy(_, Vec<u8>)` specialization
  library/std/src/io/copy.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117585 Add the `Span` of the `move` keyword to the HIR.
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/tests/ui/author/blocks.stdout
  src/tools/rustfmt/src/closures.rs
  src/tools/rustfmt/src/expr.rs
  tests/ui-fulldeps/pprust-expr-roundtrip.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117607 bump clang version for dist-x86_64-linux from 17.0.2 to 17.0.4
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-clang.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#117435 enable parallel rustc front end in nightly builds
  Cargo.lock
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_data_structures/src/marker.rs
  compiler/rustc_data_structures/src/sync.rs
  config.example.toml
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
  src/ci/run.sh
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#117578 Derive `TyEncodable`/`TyDecodable` in `rustc_type_ir`
  compiler/rustc_macros/src/serialize.rs
  compiler/rustc_type_ir/src/canonical.rs
  compiler/rustc_type_ir/src/const_kind.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/predicate_kind.rs
  compiler/rustc_type_ir/src/region_kind.rs
  compiler/rustc_type_ir/src/ty_kind.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117613 Remove from vacation and compiler review group
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#116988 document that the null pointer has the 0 address
  library/core/src/ptr/mod.rs
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#117603 Make the randomize feature of rustc_abi additive
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_mir_transform/src/sroa.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117292 Detect misparsed binop caused by missing semi
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/op.rs
  tests/ui/binop/false-binop-caused-by-missing-semi.fixed
  tests/ui/binop/false-binop-caused-by-missing-semi.rs
  tests/ui/binop/false-binop-caused-by-missing-semi.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117516 add test for #113375
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/ice-113375-index-out-of-bounds-generics.rs
Labels: T-compiler, S-waiting-on-bors

#117631 Documentation cleanup for core::error::Request.
  library/core/src/error.rs
Labels: S-waiting-on-bors, T-libs

#117637 Check binders with bound vars for global bounds that don't hold
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  tests/ui/late-bound-lifetimes/predicate-is-global.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#117641 Rollup of 4 pull requests
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  library/core/src/error.rs
  tests/ui/late-bound-lifetimes/predicate-is-global.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/const_closure-const_trait_impl-ice-113381.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/const_closure-const_trait_impl-ice-113381.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/ice-113375-index-out-of-bounds-generics.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#117190 add test for #113381
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/const_closure-const_trait_impl-ice-113381.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/const_closure-const_trait_impl-ice-113381.stderr
Labels: T-compiler, S-waiting-on-bors

#117511 Emit explanatory note for move errors in packed struct derives
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  tests/ui/derives/deriving-with-repr-packed-move-errors.rs
  tests/ui/derives/deriving-with-repr-packed-move-errors.stderr
  tests/ui/derives/deriving-with-repr-packed.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117006 When not finding assoc fn on type, look for builder fn
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/atomic-from-mut-not-available.stderr
  tests/ui/parser/emoji-identifiers.stderr
  tests/ui/resolve/fn-new-doesnt-exist.rs
  tests/ui/resolve/fn-new-doesnt-exist.stderr
  tests/ui/resolve/issue-82865.stderr
  tests/ui/suggestions/deref-path-method.stderr
  tests/ui/suggestions/issue-109291.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117418 Build a better MIR body when errors are encountered
  compiler/rustc_mir_build/src/build/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117610 Only instantiate binder during dyn's built-in trait candidate probe once
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  tests/ui/traits/non-lifetime-via-dyn-builtin.current.stderr
  tests/ui/traits/non-lifetime-via-dyn-builtin.next.stderr
  tests/ui/traits/non-lifetime-via-dyn-builtin.rs
  tests/ui/traits/non_lifetime_binders/disqualifying-object-candidates.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117297 Give a better diagnostic for missing parens in Fn* bounds
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/parser/issues/issue-108109-fn-trait-missing-paren.fixed
  tests/ui/parser/issues/issue-108109-fn-trait-missing-paren.rs
  tests/ui/parser/issues/issue-108109-fn-trait-missing-paren.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115904 rustdoc: stop preloading Source Serif 4 Bold
  src/librustdoc/html/templates/page.html
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-ui

#117617 Bump libc dependency
  Cargo.lock
  library/std/Cargo.toml
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117616 warn when using an unstable feature with -Ctarget-feature
  compiler/rustc_codegen_llvm/messages.ftl
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  tests/ui/numbers-arithmetic/saturating-float-casts-wasm.stderr
  tests/ui/target-feature/similar-feature-suggestion.stderr
  tests/ui/target-feature/unstable-feature.rs
  tests/ui/target-feature/unstable-feature.stderr
Labels: T-compiler, S-waiting-on-bors

#117675 llvm-wrapper: Remove include of non-existant Vectorize.h
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
Labels: T-compiler, S-waiting-on-bors, llvm-main

#115485 Format macro const literals with pretty printer
  compiler/rustc_metadata/src/lib.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  tests/rustdoc/issue-115295-macro-const-display.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#117672 ci: bump gcc on dist x64 linux builder to 9.5
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-gcc.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#117692 Rollup of 4 pull requests
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/passes/lint/redundant_explicit_links.rs
  tests/ui/consts/const-blocks/fn-call-in-non-const.stderr
  tests/ui/consts/const-blocks/trait-error.stderr
  tests/ui/consts/const-fn-in-vec.rs
  tests/ui/consts/const-fn-in-vec.stderr
  tests/ui/methods/disambiguate-multiple-blanket-impl.stderr
  tests/ui/methods/disambiguate-multiple-impl.stderr
  tests/ui/methods/disambiguate-multiple-trait-2.stderr
  tests/ui/methods/disambiguate-multiple-trait.stderr
  tests/ui/methods/method-ambig-two-traits-from-bounds.stderr
  tests/ui/methods/method-deref-to-same-trait-object-with-separate-params.stderr
  tests/ui/span/issue-37767.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#117625 Fix some clippy perf lints
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_session/src/config.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/passes/lint/redundant_explicit_links.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#117655 Method suggestion code tweaks
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/methods/disambiguate-multiple-blanket-impl.stderr
  tests/ui/methods/disambiguate-multiple-impl.stderr
  tests/ui/methods/disambiguate-multiple-trait-2.stderr
  tests/ui/methods/disambiguate-multiple-trait.stderr
  tests/ui/methods/method-ambig-two-traits-from-bounds.stderr
  tests/ui/methods/method-deref-to-same-trait-object-with-separate-params.stderr
  tests/ui/span/issue-37767.stderr
Labels: T-compiler, S-waiting-on-bors

#116399 Small changes w/ `query::Erase<_>`
  compiler/rustc_middle/src/query/erase.rs
Labels: T-compiler, S-waiting-on-bors

#113925 Improve diagnostic for const ctors in array repeat expressions
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/consts/const-blocks/fn-call-in-non-const.stderr
  tests/ui/consts/const-blocks/trait-error.stderr
  tests/ui/consts/const-fn-in-vec.rs
  tests/ui/consts/const-fn-in-vec.stderr
Labels: T-compiler, S-waiting-on-bors

#116881 Add a new `download-ci-llvm = if-unchanged` option and enable it by default for `profile = codegen`
  config.example.toml
  src/bootstrap/defaults/config.codegen.toml
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, has-merge-commits

#117542 Only use `normalize_param_env` when normalizing predicate in `check_item_bounds`
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  tests/ui/generic-associated-types/assume-gat-normalization-for-nested-goals.rs
  tests/ui/generic-associated-types/assume-gat-normalization-for-nested-goals.stderr
  tests/ui/generic-associated-types/higher-ranked-self-impl-requirement.rs
  tests/ui/traits/new-solver/specialization-transmute.rs
  tests/ui/traits/new-solver/specialization-transmute.stderr
  tests/ui/traits/new-solver/specialization-unconstrained.rs
  tests/ui/traits/new-solver/specialization-unconstrained.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#117650 Add -Zcross-crate-inline-threshold=yes
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_mir_transform/src/cross_crate_inline.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  tests/codegen/cross-crate-inlining/always-inline.rs
  tests/codegen/cross-crate-inlining/auxiliary/always.rs
  tests/codegen/cross-crate-inlining/auxiliary/leaf.rs
  tests/codegen/cross-crate-inlining/auxiliary/never.rs
  tests/codegen/cross-crate-inlining/leaf-inlining.rs
  tests/codegen/cross-crate-inlining/never-inline.rs
Labels: T-compiler, S-waiting-on-bors

#117663 bump some deps
  Cargo.lock
  src/bootstrap/Cargo.lock
  src/tools/rust-installer/Cargo.toml
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#117667 Document clippy_config in nightly-rustc docs
  src/bootstrap/src/core/build_steps/doc.rs
Labels: T-bootstrap, S-waiting-on-bors

#117698 Clarify `space_between`
  compiler/rustc_ast_pretty/src/pprust/state.rs
  tests/ui/macros/stringify.rs
Labels: T-compiler, S-waiting-on-bors

#117700 coverage: Rename the `run-coverage` test mode to `coverage-run`
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  tests/coverage-run-rustdoc/auxiliary/doctest_crate.rs
  tests/coverage-run-rustdoc/doctest.coverage
  tests/coverage-run-rustdoc/doctest.rs
  tests/coverage/README.md
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-code-coverage

#117706 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_mir_transform/src/cross_crate_inline.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/aix.md
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/rust-installer/Cargo.toml
  src/tools/tidy/src/deps.rs
  tests/codegen/cross-crate-inlining/always-inline.rs
  tests/codegen/cross-crate-inlining/auxiliary/always.rs
  tests/codegen/cross-crate-inlining/auxiliary/leaf.rs
  tests/codegen/cross-crate-inlining/auxiliary/never.rs
  tests/codegen/cross-crate-inlining/leaf-inlining.rs
  tests/codegen/cross-crate-inlining/never-inline.rs
  tests/coverage-run-rustdoc/auxiliary/doctest_crate.rs
  tests/coverage-run-rustdoc/doctest.coverage
  tests/coverage-run-rustdoc/doctest.rs
  tests/coverage/README.md
  tests/rustdoc/const-effect-param.rs
  tests/rustdoc/inline_cross/auxiliary/const-effect-param.rs
  tests/rustdoc/inline_cross/auxiliary/const-fn.rs
  tests/rustdoc/inline_cross/const-effect-param.rs
  tests/rustdoc/inline_cross/const-fn.rs
  tests/ui/macros/stringify.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#117531 rustdoc: properly elide cross-crate host effect args
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  tests/rustdoc/const-effect-param.rs
  tests/rustdoc/inline_cross/auxiliary/const-effect-param.rs
  tests/rustdoc/inline_cross/auxiliary/const-fn.rs
  tests/rustdoc/inline_cross/const-effect-param.rs
  tests/rustdoc/inline_cross/const-fn.rs
Labels: T-rustdoc, S-waiting-on-bors

#114316 Add AIX platform support document
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/aix.md
Labels: S-waiting-on-bors

#115460 Don't panic in `<BorrowedCursor as io::Write>::write`
  library/std/src/io/readbuf.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, T-libs, to-announce

#117560 Compute polonius loan scopes over the region graph
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  tests/ui/nll/polonius/location-insensitive-scopes-issue-117146.nll.stderr
  tests/ui/nll/polonius/location-insensitive-scopes-issue-117146.polonius.stderr
  tests/ui/nll/polonius/location-insensitive-scopes-issue-117146.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117679 tests/rustdoc-json: Avoid needless use of `no_core` and `lang_items`
  tests/rustdoc-json/doc_hidden_failure.rs
  tests/rustdoc-json/enums/field_hidden.rs
  tests/rustdoc-json/enums/kind.rs
  tests/rustdoc-json/enums/tuple_fields_hidden.rs
  tests/rustdoc-json/enums/use_glob.rs
  tests/rustdoc-json/enums/use_variant.rs
  tests/rustdoc-json/fn_pointer/generics.rs
  tests/rustdoc-json/fns/extern_c_variadic.rs
  tests/rustdoc-json/fns/generic_args.rs
  tests/rustdoc-json/fns/generic_returns.rs
  tests/rustdoc-json/fns/generics.rs
  tests/rustdoc-json/generic-associated-types/gats.rs
  tests/rustdoc-json/glob_import.rs
  tests/rustdoc-json/impls/impl_item_visibility.rs
  tests/rustdoc-json/impls/impl_item_visibility_show_hidden.rs
  tests/rustdoc-json/impls/impl_item_visibility_show_private.rs
  tests/rustdoc-json/impls/import_from_private.rs
  tests/rustdoc-json/impls/issue-112852-dangling-trait-impl-id-2.rs
  tests/rustdoc-json/impls/issue-112852-dangling-trait-impl-id-3.rs
  tests/rustdoc-json/impls/issue-112852-dangling-trait-impl-id.rs
  tests/rustdoc-json/impls/local_for_local.rs
  tests/rustdoc-json/impls/local_for_local_primitive.rs
  tests/rustdoc-json/lifetime/longest.rs
  tests/rustdoc-json/lifetime/outlives.rs
  tests/rustdoc-json/methods/abi.rs
  tests/rustdoc-json/non_lifetime_binders.rs
  tests/rustdoc-json/primitives/primitive_overloading.rs
  tests/rustdoc-json/reexport/export_extern_crate_as_self.rs
  tests/rustdoc-json/reexport/glob_collision.rs
  tests/rustdoc-json/reexport/glob_extern.rs
  tests/rustdoc-json/reexport/glob_private.rs
  tests/rustdoc-json/reexport/in_root_and_mod.rs
  tests/rustdoc-json/reexport/in_root_and_mod_pub.rs
  tests/rustdoc-json/reexport/macro.rs
  tests/rustdoc-json/reexport/mod_not_included.rs
  tests/rustdoc-json/reexport/private_twice_one_inline.rs
  tests/rustdoc-json/reexport/private_two_names.rs
  tests/rustdoc-json/reexport/pub_use_doc_hidden.rs
  tests/rustdoc-json/reexport/rename_private.rs
  tests/rustdoc-json/reexport/rename_public.rs
  tests/rustdoc-json/reexport/same_name_different_types.rs
  tests/rustdoc-json/reexport/same_type_reexported_more_than_once.rs
  tests/rustdoc-json/reexport/simple_private.rs
  tests/rustdoc-json/reexport/simple_public.rs
  tests/rustdoc-json/return_private.rs
  tests/rustdoc-json/stripped_modules.rs
  tests/rustdoc-json/traits/implementors.rs
  tests/rustdoc-json/traits/private_supertrait.rs
  tests/rustdoc-json/traits/supertrait.rs
  tests/rustdoc-json/type/inherent_associated_type.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#117713 Add test for reexported hidden item with `--document-hidden-items`
  tests/rustdoc-json/reexport/reexport_of_hidden.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#117263 handle the case when the change-id isn't found
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#117282 Recover from incorrectly ordered/duplicated function keywords
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/async-await/no-async-const.rs
  tests/ui/async-await/no-async-const.stderr
  tests/ui/async-await/no-unsafe-async.rs
  tests/ui/async-await/no-unsafe-async.stderr
  tests/ui/parser/issues/issue-87217-keyword-order/const-async-const.rs
  tests/ui/parser/issues/issue-87217-keyword-order/const-async-const.stderr
  tests/ui/parser/issues/issue-87217-keyword-order/recovery.rs
  tests/ui/parser/issues/issue-87217-keyword-order/recovery.stderr
  tests/ui/parser/issues/issue-87217-keyword-order/several-kw-jump.rs
  tests/ui/parser/issues/issue-87217-keyword-order/several-kw-jump.stderr
  tests/ui/parser/issues/issue-87217-keyword-order/wrong-async.rs
  tests/ui/parser/issues/issue-87217-keyword-order/wrong-const.rs
  tests/ui/parser/issues/issue-87217-keyword-order/wrong-unsafe.rs
Labels: T-compiler, S-waiting-on-bors

#116930 patterns: reject raw pointers that are not just integers
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  library/core/src/marker.rs
  tests/ui/closures/2229_closure_analysis/match/match-edge-cases_1.rs
  tests/ui/closures/2229_closure_analysis/match/match-edge-cases_1.stderr
  tests/ui/consts/const_in_pattern/issue-34784-match-on-non-int-raw-ptr.rs
  tests/ui/consts/const_in_pattern/issue-34784-match-on-non-int-raw-ptr.stderr
  tests/ui/consts/const_in_pattern/issue-44333.rs
  tests/ui/consts/const_in_pattern/issue-44333.stderr
  tests/ui/consts/issue-34784.rs
  tests/ui/pattern/usefulness/consts-opaque.rs
  tests/ui/pattern/usefulness/consts-opaque.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/fn-ptr-is-structurally-matchable.rs
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/fn-ptr-is-structurally-matchable.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-63479-match-fnptr.rs
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-63479-match-fnptr.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, I-lang-nominated

#117454 Run tests in CI for aarch64-apple-darwin
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
  src/ci/scripts/install-tidy.sh
  tests/rustdoc-ui/issues/issue-107918.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#117557 Make `FatalErrorMarker` lower priority than other panics
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/sync/parallel.rs
  compiler/rustc_span/src/fatal_error.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117645 Extend builtin/auto trait args with error when they have >1 argument
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/auto-traits/has-arguments.rs
  tests/ui/auto-traits/has-arguments.stderr
Labels: T-compiler, S-waiting-on-bors

#117694 Move `BorrowedBuf` and `BorrowedCursor` from `std:io` to `core::io`
  compiler/rustc_span/src/lib.rs
  library/core/src/io/borrowed_buf.rs
  library/core/src/io/mod.rs
  library/core/src/lib.rs
  library/core/tests/io/borrowed_buf.rs
  library/core/tests/io/mod.rs
  library/core/tests/lib.rs
  library/std/src/io/impls.rs
  library/std/src/io/mod.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#117705 triagebot.toml: use inclusive language
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#117723 speed up `x clean`
  src/bootstrap/src/core/build_steps/clean.rs
Labels: T-bootstrap, S-waiting-on-bors

#117724 Restore rustc shim error message
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/utils/bin_helpers.rs
Labels: T-bootstrap, S-waiting-on-bors

#116762 Fixup `Atomic*::from_ptr` safety docs
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors, T-libs

#117632 Update ICU4X
  Cargo.lock
  compiler/rustc_baked_icu_data/Cargo.toml
  compiler/rustc_baked_icu_data/src/data/fallback/likelysubtags_v1/mod.rs
  compiler/rustc_baked_icu_data/src/data/fallback/likelysubtags_v1/und.rs.data
  compiler/rustc_baked_icu_data/src/data/fallback/mod.rs
  compiler/rustc_baked_icu_data/src/data/fallback/parents_v1/mod.rs
  compiler/rustc_baked_icu_data/src/data/fallback/parents_v1/und.rs.data
  compiler/rustc_baked_icu_data/src/data/fallback/supplement/co_v1/mod.rs
  compiler/rustc_baked_icu_data/src/data/fallback/supplement/co_v1/und.rs.data
  compiler/rustc_baked_icu_data/src/data/fallback/supplement/mod.rs
  compiler/rustc_baked_icu_data/src/data/list/and_v1/en.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/es.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/fr.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/it.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/ja.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/mod.rs
  compiler/rustc_baked_icu_data/src/data/list/and_v1/pt.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/ru.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/tr.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/und.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/zh-Hant.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/zh.rs.data
  compiler/rustc_baked_icu_data/src/data/list/mod.rs
  compiler/rustc_baked_icu_data/src/data/macros.rs
  compiler/rustc_baked_icu_data/src/data/macros/fallback_likelysubtags_v1.data.rs
  compiler/rustc_baked_icu_data/src/data/macros/fallback_parents_v1.data.rs
  compiler/rustc_baked_icu_data/src/data/macros/fallback_supplement_co_v1.data.rs
  compiler/rustc_baked_icu_data/src/data/macros/list_and_v1.data.rs
  compiler/rustc_baked_icu_data/src/data/mod.rs
  src/tools/tidy/src/deps.rs
  src/tools/tidy/src/style.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#117734 Remove `-Z strip`.
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117712 generator layout: ignore fake borrows
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/def_use.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/invalidation.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/places_conflict.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/resolver.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_dataflow/src/impls/borrowed_locals.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_transform/src/cleanup_post_borrowck.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/ssa.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/stable_mir/src/mir/body.rs
  tests/mir-opt/building/match_false_edges.full_tested_match.built.after.mir
  tests/mir-opt/building/match_false_edges.full_tested_match2.built.after.mir
  tests/mir-opt/building/match_false_edges.main.built.after.mir
  tests/mir-opt/match_arm_scopes.complicated_match.panic-abort.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/match_arm_scopes.complicated_match.panic-unwind.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/match_test.main.SimplifyCfg-initial.after.mir
  tests/mir-opt/remove_fake_borrows.match_guard.CleanupPostBorrowck.panic-abort.diff
  tests/mir-opt/remove_fake_borrows.match_guard.CleanupPostBorrowck.panic-unwind.diff
  tests/ui/coroutine/witness-ignore-fake-reads.rs
Labels: beta-nominated, beta-accepted, final-comment-period, S-waiting-on-bors, disposition-merge, merged-by-bors, I-types-nominated, T-types, WG-trait-system-refactor

#117122 Allow configuring the parent GitHub repository
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/build_steps/suggest.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/config/config.rs
  src/stage0.json
  src/tools/build_helper/src/git.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/lib.rs
  src/tools/suggest-tests/src/main.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors

#117708 check config file before prompts on `x setup`
  src/bootstrap/bootstrap.py
  src/bootstrap/bootstrap_test.py
  src/bootstrap/configure.py
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/core/build_steps/clean.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/install.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/core/build_steps/suggest.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/build_steps/toolstate.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/flags.rs
  src/bootstrap/src/core/download.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/bin_helpers.rs
  src/bootstrap/src/utils/helpers.rs
  src/bootstrap/src/utils/metrics.rs
  src/bootstrap/src/utils/render_tests.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#117727 Emit #[inline] on derive(Debug)
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  tests/codegen/simd/unpadded-simd.rs
  tests/ui/deriving/deriving-all-codegen.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#117764 [beta] backports
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/def_use.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/invalidation.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/places_conflict.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/resolver.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_middle/src/ty/erase_regions.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_dataflow/src/impls/borrowed_locals.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_transform/src/cleanup_post_borrowck.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_mir_transform/src/ssa.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/query/dropck_outlives.rs
  compiler/rustc_traits/src/dropck_outlives.rs
  compiler/rustc_ty_utils/src/needs_drop.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/sty.rs
  compiler/stable_mir/src/mir/body.rs
  tests/mir-opt/building/match_false_edges.full_tested_match.built.after.mir
  tests/mir-opt/building/match_false_edges.full_tested_match2.built.after.mir
  tests/mir-opt/building/match_false_edges.main.built.after.mir
  tests/mir-opt/match_arm_scopes.complicated_match.panic-abort.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/match_arm_scopes.complicated_match.panic-unwind.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/match_test.main.SimplifyCfg-initial.after.mir
  tests/mir-opt/remove_fake_borrows.match_guard.CleanupPostBorrowck.panic-abort.diff
  tests/mir-opt/remove_fake_borrows.match_guard.CleanupPostBorrowck.panic-unwind.diff
  tests/ui/dropck/coroutine-liveness-1.rs
  tests/ui/dropck/coroutine-liveness-2.rs
  tests/ui/generator/borrowing.stderr
  tests/ui/generator/issue-110929-generator-conflict-error-ice.rs
  tests/ui/generator/issue-110929-generator-conflict-error-ice.stderr
  tests/ui/generator/retain-resume-ref.stderr
  tests/ui/generator/witness-ignore-fake-reads.rs
  tests/ui/late-bound-lifetimes/predicate-is-global.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#117730 Closure-consuming helper functions for `fmt::Debug` helpers
  library/alloc/src/fmt.rs
  library/core/src/fmt/builders.rs
  library/core/src/fmt/mod.rs
Labels: S-waiting-on-bors, T-libs

#117741 Fix typo in internal.rs
  compiler/rustc_smir/src/rustc_internal/internal.rs
Labels: T-compiler, S-waiting-on-bors

#117743 Suggest removing `;` for `;` within let-chains
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/parser/semi-in-let-chain.rs
  tests/ui/parser/semi-in-let-chain.stderr
Labels: T-compiler, S-waiting-on-bors

#117751 rustdoc-json: Fix test so it actually checks things
  tests/rustdoc-json/reexport/pub_use_doc_hidden.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#117769 Rollup of 6 pull requests
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_smir/src/rustc_internal/internal.rs
  library/alloc/src/fmt.rs
  library/core/src/fmt/builders.rs
  library/core/src/fmt/mod.rs
  library/core/src/slice/mod.rs
  src/doc/rustc/src/exploit-mitigations.md
  src/doc/rustc/src/images/image1.png
  src/doc/rustc/src/images/image2.png
  src/doc/rustc/src/images/image3.png
  tests/rustdoc-json/reexport/pub_use_doc_hidden.rs
  tests/ui/parser/semi-in-let-chain.rs
  tests/ui/parser/semi-in-let-chain.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-rustdoc-json

#117039 Clarify UB in `get_unchecked(_mut)`
  library/core/src/slice/mod.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#114191 Update exploit mitigations documentation
  src/doc/rustc/src/exploit-mitigations.md
  src/doc/rustc/src/images/image1.png
  src/doc/rustc/src/images/image2.png
  src/doc/rustc/src/images/image3.png
Labels: S-waiting-on-bors, PG-exploit-mitigations

#117757 [beta] Clippy beta backport
  src/tools/clippy/clippy_lints/src/needless_pass_by_ref_mut.rs
  src/tools/clippy/tests/ui/infinite_loop.rs
  src/tools/clippy/tests/ui/infinite_loop.stderr
  src/tools/clippy/tests/ui/let_underscore_future.rs
  src/tools/clippy/tests/ui/let_underscore_future.stderr
  src/tools/clippy/tests/ui/mut_key.rs
  src/tools/clippy/tests/ui/mut_key.stderr
  src/tools/clippy/tests/ui/mut_reference.rs
  src/tools/clippy/tests/ui/mut_reference.stderr
  src/tools/clippy/tests/ui/needless_pass_by_ref_mut.rs
  src/tools/clippy/tests/ui/needless_pass_by_ref_mut.stderr
  src/tools/clippy/tests/ui/should_impl_trait/method_list_2.rs
  src/tools/clippy/tests/ui/should_impl_trait/method_list_2.stderr
  src/tools/clippy/tests/ui/slow_vector_initialization.rs
  src/tools/clippy/tests/ui/slow_vector_initialization.stderr
Labels: S-waiting-on-bors, merged-by-bors

#117750 bump few ICU4X leftover deps
  Cargo.lock
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#117572 update and clarify addr_of docs
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117765 enable unstable feature on `x clean [PATH]`
  src/bootstrap/src/core/build_steps/clean.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#117779 Subtree update for rustc_codegen_cranelift
  compiler/rustc_codegen_cranelift/Readme.md
  compiler/rustc_codegen_cranelift/build_system/tests.rs
  compiler/rustc_codegen_cranelift/config.txt
  compiler/rustc_codegen_cranelift/example/neon.rs
  compiler/rustc_codegen_cranelift/patches/stdlib-lock.toml
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_codegen_cranelift/src/inline_asm.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/llvm.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/llvm_aarch64.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/llvm_x86.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_cranelift/src/value_and_place.rs
Labels: A-codegen, T-compiler, S-waiting-on-bors, merged-by-bors, A-cranelift

#115229 On method chain expression failure, look for missing method in earlier segments of the chain
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/structs/method-chain-expression-failure.rs
  tests/ui/structs/method-chain-expression-failure.stderr
  tests/ui/suggestions/chain-method-call-mutation-in-place.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors
