Repository rust-lang/rust, pull requests merged in 2023-05, with the labels that each got.

#111015 Remove wrong assertion in match checking.
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  tests/ui/match/guards-parenthesized-and.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#111023 Test precise capture with a multi-variant enum and exhaustive patterns
  tests/ui/closures/2229_closure_analysis/run_pass/multivariant.rs
Labels: T-compiler, S-waiting-on-bors

#111032 Migrate `builtin_macros::asm` diagnostics to translatable diagnostics
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/errors.rs
Labels: T-compiler, S-waiting-on-bors

#111033 Ping Nadrieril when changing exhaustiveness checking
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#111037 Close parentheses for `offset_of` in AST pretty printing
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  tests/pretty/offset_of.rs
Labels: T-compiler, S-waiting-on-bors

#111026 Only cache typeck results if it's the typeck root
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111010 Make `mem::replace` simpler in codegen
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics.rs
  library/core/src/ptr/mod.rs
  src/tools/miri/tests/fail/dangling_pointers/null_pointer_write_zst.rs
  src/tools/miri/tests/fail/dangling_pointers/null_pointer_write_zst.stderr
  tests/codegen/mem-replace-big-type.rs
  tests/codegen/mem-replace-direct-memcpy.rs
  tests/codegen/mem-replace-simple-type.rs
  tests/mir-opt/lower_intrinsics.option_payload.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.ptr_offset.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.rs
  tests/mir-opt/lower_intrinsics.write_via_move_string.LowerIntrinsics.diff
  tests/mir-opt/pre-codegen/mem_replace.manual_replace.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/mem_replace.mem_replace.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/mem_replace.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#111067 Make x.py work again in most (all?) cases
  src/bootstrap/bootstrap.py
  x.py
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#111065 Explicitly document how Send and Sync relate to references
  library/core/src/marker.rs
Labels: S-waiting-on-bors, T-libs

#111066 Rollup of 7 pull requests
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_mir_transform/src/lib.rs
  library/core/src/marker.rs
  library/std/src/fs.rs
  library/std/src/net/tcp.rs
  library/std/src/net/udp.rs
  library/std/src/os/linux/process.rs
  library/std/src/path.rs
  library/std/src/process.rs
  library/std/src/sys/hermit/fd.rs
  library/std/src/sys/hermit/fs.rs
  library/std/src/sys/hermit/net.rs
  library/std/src/sys/sgx/fd.rs
  library/std/src/sys/sgx/net.rs
  library/std/src/sys/solid/net.rs
  library/std/src/sys/unix/fd.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/l4re.rs
  library/std/src/sys/unix/net.rs
  library/std/src/sys/unix/os_str.rs
  library/std/src/sys/unix/pipe.rs
  library/std/src/sys/unix/time.rs
  library/std/src/sys/wasi/fd.rs
  library/std/src/sys/wasi/fs.rs
  library/std/src/sys/wasi/net.rs
  library/std/src/sys/windows/fs.rs
  library/std/src/sys/windows/handle.rs
  library/std/src/sys/windows/net.rs
  library/std/src/sys/windows/os_str.rs
  library/std/src/sys_common/net.rs
  library/std/src/sys_common/wtf8.rs
  library/std/src/time.rs
  tests/pretty/tests-are-sorted.pp
  tests/run-make/coverage-reports/expected_show_coverage.test_harness.txt
  tests/run-make/coverage/test_harness.rs
  tests/ui/borrowck/tainted-promoteds.rs
  tests/ui/borrowck/tainted-promoteds.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#110987 update wasi_clock_time_api ref.
  library/std/src/time.rs
Labels: S-waiting-on-bors, T-libs

#111038 Leave promoteds untainted by errors when borrowck fails
  compiler/rustc_mir_transform/src/lib.rs
  tests/ui/borrowck/tainted-promoteds.rs
  tests/ui/borrowck/tainted-promoteds.stderr
Labels: T-compiler, S-waiting-on-bors

#111042 Add `#[no_coverage]` to the test harness's `fn main`
  compiler/rustc_builtin_macros/src/test_harness.rs
  tests/pretty/tests-are-sorted.pp
  tests/run-make/coverage-reports/expected_show_coverage.test_harness.txt
  tests/run-make/coverage/test_harness.rs
Labels: T-compiler, S-waiting-on-bors, A-libtest, A-code-coverage

#111057 Make sure the implementation of TcpStream::as_raw_fd is fully inlined
  library/std/src/fs.rs
  library/std/src/net/tcp.rs
  library/std/src/net/udp.rs
  library/std/src/os/linux/process.rs
  library/std/src/process.rs
  library/std/src/sys/hermit/fd.rs
  library/std/src/sys/hermit/fs.rs
  library/std/src/sys/hermit/net.rs
  library/std/src/sys/sgx/fd.rs
  library/std/src/sys/sgx/net.rs
  library/std/src/sys/solid/net.rs
  library/std/src/sys/unix/fd.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/l4re.rs
  library/std/src/sys/unix/net.rs
  library/std/src/sys/unix/os_str.rs
  library/std/src/sys/unix/pipe.rs
  library/std/src/sys/wasi/fd.rs
  library/std/src/sys/wasi/fs.rs
  library/std/src/sys/wasi/net.rs
  library/std/src/sys/windows/fs.rs
  library/std/src/sys/windows/handle.rs
  library/std/src/sys/windows/net.rs
  library/std/src/sys/windows/os_str.rs
  library/std/src/sys_common/net.rs
  library/std/src/sys_common/wtf8.rs
Labels: S-waiting-on-bors, T-libs

#110093 Add 64-bit `time_t` support on 32-bit glibc Linux to `set_times`
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/time.rs
Labels: O-linux, S-waiting-on-bors, T-libs

#109540 std docs: edit `PathBuf::set_file_name` example
  library/std/src/path.rs
Labels: A-docs, S-waiting-on-bors, T-libs, A-io

#106075 Partial stabilisation of `c_unwind`
  compiler/rustc_feature/src/active.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_target/src/spec/abi.rs
  library/panic_unwind/src/emcc.rs
  library/panic_unwind/src/gcc.rs
  library/panic_unwind/src/seh.rs
  tests/run-make/c-unwind-abi-catch-lib-panic/main.rs
  tests/run-make/c-unwind-abi-catch-lib-panic/panic.rs
  tests/run-make/c-unwind-abi-catch-panic/main.rs
  tests/run-make/foreign-double-unwind/foo.rs
  tests/run-make/foreign-exceptions/foo.rs
  tests/run-make/foreign-rust-exceptions/bar.rs
  tests/run-make/foreign-rust-exceptions/foo.rs
  tests/rustdoc-json/fn_pointer/abi.rs
  tests/rustdoc-json/fns/abi.rs
  tests/rustdoc-json/methods/abi.rs
  tests/ui/feature-gates/feature-gate-thiscall.rs
  tests/ui/feature-gates/feature-gate-thiscall.stderr
  tests/ui/feature-gates/feature-gate-vectorcall.rs
  tests/ui/panic-runtime/auxiliary/needs-unwind.rs
  tests/ui/stability-attribute/stability-attribute-trait-impl.rs
  tests/ui/stability-attribute/stability-attribute-trait-impl.stderr
  tests/ui/unwind-abis/feature-gate-c-unwind-enabled.rs
  tests/ui/unwind-abis/feature-gate-c-unwind.rs
  tests/ui/unwind-abis/feature-gate-c-unwind.stderr
  tests/ui/unwind-abis/feature-gate-c_unwind.rs
  tests/ui/unwind-abis/feature-gate-stdcall-unwind.rs
  tests/ui/unwind-abis/feature-gate-stdcall-unwind.stderr
  tests/ui/unwind-abis/feature-gate-system-unwind.rs
  tests/ui/unwind-abis/feature-gate-system-unwind.stderr
  tests/ui/unwind-abis/ffi-unwind-calls-lint.rs
  tests/ui/unwind-abis/ffi-unwind-calls-lint.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, A-rustdoc-json

#109521 Don't validate constants in const propagation
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  tests/mir-opt/const_prop/transmute.from_char.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.from_char.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.invalid_bool.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.invalid_bool.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.invalid_char.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.invalid_char.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.less_as_i8.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.less_as_i8.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.rs
  tests/mir-opt/const_prop/transmute.undef_union_as_integer.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.undef_union_as_integer.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_box.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_box.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_direct.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_direct.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_mut.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_mut.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_ref.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_ref.ConstProp.64bit.diff
  tests/mir-opt/const_prop/transmute.valid_char.ConstProp.32bit.diff
  tests/mir-opt/const_prop/transmute.valid_char.ConstProp.64bit.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111048 Mark`feature(return_position_impl_trait_in_trait)` and`feature(async_fn_in_trait)` as not incomplete
  compiler/rustc_feature/src/active.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.rs
  tests/ui/associated-type-bounds/return-type-notation/basic.with.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.without.stderr
  tests/ui/associated-type-bounds/return-type-notation/equality.rs
  tests/ui/associated-type-bounds/return-type-notation/equality.stderr
  tests/ui/associated-type-bounds/return-type-notation/missing.rs
  tests/ui/associated-type-bounds/return-type-notation/missing.stderr
  tests/ui/async-await/in-trait/async-default-fn-overridden.current.stderr
  tests/ui/async-await/in-trait/async-default-fn-overridden.next.stderr
  tests/ui/async-await/in-trait/async-default-fn-overridden.rs
  tests/ui/async-await/in-trait/bad-signatures.current.stderr
  tests/ui/async-await/in-trait/bad-signatures.next.stderr
  tests/ui/async-await/in-trait/bad-signatures.rs
  tests/ui/async-await/in-trait/dont-project-to-specializable-projection.current.stderr
  tests/ui/async-await/in-trait/dont-project-to-specializable-projection.next.stderr
  tests/ui/async-await/in-trait/lifetime-mismatch.current.stderr
  tests/ui/async-await/in-trait/lifetime-mismatch.next.stderr
  tests/ui/async-await/in-trait/lifetime-mismatch.rs
  tests/ui/async-await/in-trait/missing-send-bound.current.stderr
  tests/ui/async-await/in-trait/missing-send-bound.next.stderr
  tests/ui/async-await/in-trait/missing-send-bound.rs
  tests/ui/async-await/in-trait/object-safety.current.stderr
  tests/ui/async-await/in-trait/object-safety.next.stderr
  tests/ui/async-await/in-trait/object-safety.rs
  tests/ui/async-await/in-trait/return-type-suggestion.current.stderr
  tests/ui/async-await/in-trait/return-type-suggestion.next.stderr
  tests/ui/async-await/in-trait/return-type-suggestion.rs
  tests/ui/async-await/return-type-notation/issue-110963-early.stderr
  tests/ui/async-await/return-type-notation/issue-110963-late.rs
  tests/ui/async-await/return-type-notation/issue-110963-late.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.cfg.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.no.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.rs
  tests/ui/impl-trait/in-trait/box-coerce-span-in-default.current.stderr
  tests/ui/impl-trait/in-trait/box-coerce-span-in-default.next.stderr
  tests/ui/impl-trait/in-trait/box-coerce-span-in-default.rs
  tests/ui/impl-trait/in-trait/default-method-binder-shifting.current.stderr
  tests/ui/impl-trait/in-trait/default-method-binder-shifting.next.stderr
  tests/ui/impl-trait/in-trait/default-method-binder-shifting.rs
  tests/ui/impl-trait/in-trait/default-method-constraint.current.stderr
  tests/ui/impl-trait/in-trait/default-method-constraint.next.stderr
  tests/ui/impl-trait/in-trait/default-method-constraint.rs
  tests/ui/impl-trait/in-trait/dont-project-to-rpitit-with-no-value.current.stderr
  tests/ui/impl-trait/in-trait/dont-project-to-rpitit-with-no-value.next.stderr
  tests/ui/impl-trait/in-trait/dont-project-to-rpitit-with-no-value.rs
Labels: T-compiler, S-waiting-on-bors

#110895 Remove `all` in target_thread_local cfg
  library/std/src/sys/common/thread_local/mod.rs
Labels: S-waiting-on-bors, T-libs

#110955 uplift `clippy::clone_double_ref` as `suspicious_double_ref_op`
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/noop_method_call.rs
  library/core/tests/clone.rs
  src/librustdoc/html/format.rs
  src/tools/clippy/clippy_lints/src/declared_lints.rs
  src/tools/clippy/clippy_lints/src/methods/clone_on_copy.rs
  src/tools/clippy/clippy_lints/src/methods/mod.rs
  src/tools/clippy/clippy_lints/src/renamed_lints.rs
  src/tools/clippy/tests/ui/explicit_deref_methods.fixed
  src/tools/clippy/tests/ui/explicit_deref_methods.rs
  src/tools/clippy/tests/ui/rename.fixed
  src/tools/clippy/tests/ui/rename.rs
  src/tools/clippy/tests/ui/rename.stderr
  src/tools/clippy/tests/ui/unnecessary_clone.rs
  src/tools/clippy/tests/ui/unnecessary_clone.stderr
  tests/ui/lint/noop-method-call.rs
  tests/ui/lint/noop-method-call.stderr
  tests/ui/lint/suspicious-double-ref-op.rs
  tests/ui/lint/suspicious-double-ref-op.stderr
Labels: T-compiler, S-waiting-on-bors

#110512 Fix elaboration with associated type bounds
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/lib.rs
  tests/rustdoc-ui/issues/issue-105742.rs
  tests/rustdoc-ui/issues/issue-105742.stderr
  tests/ui/associated-type-bounds/duplicate.rs
  tests/ui/associated-type-bounds/duplicate.stderr
  tests/ui/associated-type-bounds/supertrait-defines-ty.rs
  tests/ui/const-generics/assoc_const_eq_diagnostic.rs
  tests/ui/const-generics/assoc_const_eq_diagnostic.stderr
  tests/ui/error-codes/E0719.rs
  tests/ui/error-codes/E0719.stderr
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-2.nn.stderr
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-2.ny.stderr
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-2.rs
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-2.yn.stderr
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-2.yy.stderr
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-3.nn.stderr
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-3.ny.stderr
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-3.rs
  tests/ui/rfc-2632-const-trait-impl/super-traits-fail-3.yn.stderr
  tests/ui/traits/issue-38404.rs
  tests/ui/traits/issue-38404.stderr
  tests/ui/typeck/typeck-builtin-bound-type-parameters.rs
  tests/ui/typeck/typeck-builtin-bound-type-parameters.stderr
Labels: T-compiler, S-waiting-on-bors

#108161 Add `ConstParamTy` trait
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/misc.rs
  library/core/src/lib.rs
  library/core/src/marker.rs
  src/tools/compiletest/src/runtest.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_bad.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_bad.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_bad_empty_array.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_bad_empty_array.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_generic_bounds_do_not_hold.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_generic_bounds_do_not_hold.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_good.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_bad_field.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_bad_field.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_no_structural_eq.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_no_structural_eq.stderr
  tests/ui/const-generics/nested-type.rs
  tests/ui/fmt/format-string-error.rs
  tests/ui/parser/issues/issue-62913.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-libs, A-translation

#108668 Stabilize debugger_visualizer
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  src/doc/unstable-book/src/language-features/debugger-visualizer.md
  tests/debuginfo/auxiliary/dependency-with-embedded-visualizers.rs
  tests/debuginfo/embedded-visualizer.rs
  tests/ui/feature-gates/feature-gate-debugger-visualizer.rs
  tests/ui/feature-gates/feature-gate-debugger-visualizer.stderr
  tests/ui/invalid/invalid-debugger-visualizer-option.rs
  tests/ui/invalid/invalid-debugger-visualizer-option.stderr
  tests/ui/invalid/invalid-debugger-visualizer-target.rs
  tests/ui/invalid/invalid-debugger-visualizer-target.stderr
Labels: T-compiler, S-waiting-on-bors

#105076 Refactor core::char::EscapeDefault and co. structures
  library/core/src/ascii.rs
  library/core/src/char/methods.rs
  library/core/src/char/mod.rs
  library/core/src/escape.rs
  library/core/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#111028 Make some simple queries no longer cache on disk
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#109729 Ensure test library issues json string line-by-line
  library/test/src/formatters/json.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#110846 Optimize builder sizes
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#110865 ci: upgrade and refactor crosstool-ng builders
  src/ci/docker/README.md
  src/ci/docker/host-x86_64/dist-aarch64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-aarch64-linux/aarch64-linux-gnu.config
  src/ci/docker/host-x86_64/dist-aarch64-linux/aarch64-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-aarch64-linux/build-toolchains.sh
  src/ci/docker/host-x86_64/dist-arm-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-arm-linux/arm-linux-gnueabi.config
  src/ci/docker/host-x86_64/dist-arm-linux/arm-linux-gnueabi.defconfig
  src/ci/docker/host-x86_64/dist-arm-linux/build-toolchains.sh
  src/ci/docker/host-x86_64/dist-armhf-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-armhf-linux/arm-linux-gnueabihf.config
  src/ci/docker/host-x86_64/dist-armhf-linux/arm-linux-gnueabihf.defconfig
  src/ci/docker/host-x86_64/dist-armhf-linux/build-toolchains.sh
  src/ci/docker/host-x86_64/dist-armv7-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-armv7-linux/armv7-linux-gnueabihf.config
  src/ci/docker/host-x86_64/dist-armv7-linux/armv7-linux-gnueabihf.defconfig
  src/ci/docker/host-x86_64/dist-armv7-linux/build-toolchains.sh
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/Dockerfile
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/build-i586-gnu-toolchain.sh
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/i586-linux-gnu.config
  src/ci/docker/host-x86_64/dist-i586-gnu-i586-i686-musl/i586-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-mips-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-mips-linux/build-mips-toolchain.sh
  src/ci/docker/host-x86_64/dist-mips-linux/mips-linux-gnu.config
  src/ci/docker/host-x86_64/dist-mips-linux/mips-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-mips64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-mips64-linux/build-mips64-toolchain.sh
  src/ci/docker/host-x86_64/dist-mips64-linux/mips64-linux-gnu.config
  src/ci/docker/host-x86_64/dist-mips64-linux/mips64-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-mips64el-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-mips64el-linux/mips64el-linux-gnu.config
  src/ci/docker/host-x86_64/dist-mips64el-linux/mips64el-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-mipsel-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-mipsel-linux/build-mipsel-toolchain.sh
  src/ci/docker/host-x86_64/dist-mipsel-linux/mipsel-linux-gnu.config
  src/ci/docker/host-x86_64/dist-mipsel-linux/mipsel-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-powerpc-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-powerpc-linux/build-powerpc-toolchain.sh
  src/ci/docker/host-x86_64/dist-powerpc-linux/powerpc-linux-gnu.config
  src/ci/docker/host-x86_64/dist-powerpc-linux/powerpc-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-powerpc64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-powerpc64-linux/build-powerpc64-toolchain.sh
  src/ci/docker/host-x86_64/dist-powerpc64-linux/powerpc64-linux-gnu.config
  src/ci/docker/host-x86_64/dist-powerpc64-linux/powerpc64-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-powerpc64-linux/shared.sh
  src/ci/docker/host-x86_64/dist-riscv64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-riscv64-linux/build-toolchains.sh
  src/ci/docker/host-x86_64/dist-riscv64-linux/riscv64-unknown-linux-gnu.config
  src/ci/docker/host-x86_64/dist-riscv64-linux/riscv64-unknown-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-s390x-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-s390x-linux/build-s390x-toolchain.sh
  src/ci/docker/host-x86_64/dist-s390x-linux/s390x-linux-gnu.config
  src/ci/docker/host-x86_64/dist-s390x-linux/s390x-linux-gnu.defconfig
  src/ci/docker/scripts/crosstool-ng-1.24.sh
  src/ci/docker/scripts/crosstool-ng-build.sh
  src/ci/docker/scripts/crosstool-ng.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#111062 Don't bail out early when checking invalid `repr` attr
  compiler/rustc_passes/src/check_attr.rs
  tests/ui/repr/invalid_repr_list_help.rs
  tests/ui/repr/invalid_repr_list_help.stderr
Labels: T-compiler, S-waiting-on-bors

#111069 remove pointless `FIXME` in `bootstrap::download`
  src/bootstrap/download.rs
Labels: T-bootstrap, S-waiting-on-bors

#111086 Remove `MemEncoder`
  Cargo.lock
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_serialize/Cargo.toml
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_serialize/tests/opaque.rs
  tests/ui-fulldeps/deriving-encodable-decodable-box.rs
  tests/ui-fulldeps/deriving-encodable-decodable-cell-refcell.rs
  tests/ui-fulldeps/issue-14021.rs
Labels: T-compiler, S-waiting-on-bors

#111097 Avoid ICEing miri on layout query cycles
  compiler/rustc_middle/messages.ftl
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/values.rs
  src/librustdoc/html/templates/type_layout.html
  src/tools/miri/tests/fail/layout_cycle.rs
  src/tools/miri/tests/fail/layout_cycle.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#111112 Add some triagebot notifications for nnethercote.
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#110791 Implement negative bounds for internal testing purposes
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/bounds.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/path.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  src/librustdoc/html/format.rs
  src/librustdoc/json/conversions.rs
  src/tools/rustfmt/src/types.rs
  src/tools/rustfmt/tests/target/negative-bounds.rs
  tests/ui/feature-gates/feature-gate-negative_bounds.rs
  tests/ui/feature-gates/feature-gate-negative_bounds.stderr
  tests/ui/issues/issue-58857.stderr
  tests/ui/parser/issues/issue-33418.fixed
  tests/ui/parser/issues/issue-33418.rs
  tests/ui/parser/issues/issue-33418.stderr
  tests/ui/parser/issues/issue-67146-negative-outlives-bound-syntactic-fail.fixed
  tests/ui/parser/issues/issue-67146-negative-outlives-bound-syntactic-fail.rs
  tests/ui/parser/issues/issue-67146-negative-outlives-bound-syntactic-fail.stderr
  tests/ui/traits/negative-bounds/associated-constraints.rs
  tests/ui/traits/negative-bounds/associated-constraints.stderr
  tests/ui/traits/negative-bounds/simple.rs
  tests/ui/traits/negative-bounds/simple.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-rustdoc-json

#110874 Adjust obligation cause code for `find_and_report_unsatisfied_index_impl`
  compiler/rustc_hir_typeck/src/expr.rs
  tests/ui/typeck/bad-index-due-to-nested.stderr
Labels: T-compiler, S-waiting-on-bors

#110908 resolve: One more attempt to simplify `module_children`
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#110943 interpret: fail more gracefully on uninit unsized locals
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  tests/ui/const_prop/const-prop-ice.rs
  tests/ui/const_prop/const-prop-ice.stderr
  tests/ui/const_prop/const-prop-ice2.rs
  tests/ui/const_prop/const-prop-ice2.stderr
  tests/ui/const_prop/const-prop-ice3.rs
  tests/ui/const_prop/const-prop-overflowing-casts.rs
  tests/ui/const_prop/const-prop-read-static-in-const.rs
  tests/ui/const_prop/const-prop-read-static-in-const.stderr
  tests/ui/const_prop/unsized-local-ice.rs
Labels: T-compiler, S-waiting-on-bors

#110436 Support loading version information from xz tarballs
  Cargo.lock
  src/tools/build-manifest/Cargo.toml
  src/tools/build-manifest/src/versions.rs
Labels: S-waiting-on-bors

#107978 Correctly convert an NT path to a Win32 path in `read_link`
  library/std/src/fs/tests.rs
  library/std/src/sys/windows/args.rs
  library/std/src/sys/windows/fs.rs
Labels: S-waiting-on-bors, T-libs

#111141 Return error code from x.ps1
  x.ps1
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#111127 Constify slice flatten method
  library/core/src/slice/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#111154 Use builtin FFX isolation for Fuchsia test runner
  src/ci/docker/scripts/fuchsia-test-runner.py
Labels: A-testsuite, S-waiting-on-bors, T-infra

#111104 Update ICU4X to 1.2
  Cargo.lock
  compiler/rustc_baked_icu_data/Cargo.toml
  compiler/rustc_baked_icu_data/src/data/fallback/likelysubtags_v1/und.rs.data
  compiler/rustc_baked_icu_data/src/data/fallback/parents_v1/und.rs.data
  compiler/rustc_baked_icu_data/src/data/fallback/supplement/co_v1/und.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/en.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/es.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/fr.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/it.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/ja.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/pt.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/ru.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/tr.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/und.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/zh-Hant.rs.data
  compiler/rustc_baked_icu_data/src/data/list/and_v1/zh.rs.data
  compiler/rustc_baked_icu_data/src/data/mod.rs
  compiler/rustc_error_messages/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, A-translation

#110970 tidy: remove ENTRY_LIMIT maximum checking and set it to 900
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#110371 rustdoc: restructure type search engine to pick-and-use IDs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/externs.js
  src/librustdoc/html/static/js/search.js
  src/tools/rustdoc-js/tester.js
  tests/rustdoc-gui/search-corrections.goml
  tests/rustdoc-js/generics-trait.js
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#105695 Replace generic thread parker with explicit no-op parker
  library/std/src/sys/unsupported/mod.rs
  library/std/src/sys/unsupported/thread_parking.rs
  library/std/src/sys/wasi/mod.rs
  library/std/src/sys/wasm/mod.rs
  library/std/src/sys_common/thread_parking/generic.rs
  library/std/src/sys_common/thread_parking/mod.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs, A-atomic

#97594 Implement tuple<->array convertions via `From`
  library/core/src/primitive_docs.rs
  library/core/src/tuple.rs
  library/std/src/primitive_docs.rs
  tests/ui/issues/issue-32709.stderr
  tests/ui/suggestions/issue-71394-no-from-impl.stderr
Labels: T-libs-api, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#110806 Replace `tcx.mk_trait_ref` with `TraitRef::new`
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/autoderef.rs
  compiler/rustc_hir_analysis/src/bounds.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/placeholder_error.rs
  compiler/rustc_infer/src/traits/engine.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_ty_utils/src/ty.rs
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_lints/src/derive.rs
  src/tools/clippy/clippy_lints/src/escape.rs
  src/tools/clippy/clippy_lints/src/methods/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#111174 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_builtin_macros/Cargo.toml
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_data_structures/src/fingerprint.rs
  compiler/rustc_data_structures/src/svh.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/dropck.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_incremental/src/persist/fs.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/ty/abstract_const.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/incremental/change_crate_dep_kind.rs
  tests/incremental/issue-80691-bad-eval-cache.rs
  tests/run-make/c-unwind-abi-catch-lib-panic/Makefile
  tests/run-make/c-unwind-abi-catch-panic/Makefile
  tests/run-make/const_fn_mir/Makefile
  tests/run-make/debug-assertions/Makefile
  tests/run-make/foreign-double-unwind/Makefile
  tests/run-make/foreign-exceptions/Makefile
  tests/run-make/foreign-rust-exceptions/Makefile
  tests/run-make/libtest-json/Makefile
  tests/run-make/static-unwinding/Makefile
  tests/run-make/test-benches/Makefile
  tests/ui/const-generics/generic_const_exprs/nested_uneval_unification-2.rs
  tests/ui/consts/const-block-const-bound.rs
  tests/ui/consts/const-block-const-bound.stderr
  tests/ui/dropck/negative.rs
  tests/ui/dropck/negative.stderr
  tests/ui/dropck/reservation.rs
  tests/ui/dropck/reservation.stderr
  tests/ui/impl-trait/in-trait/auxiliary/rpitit.rs
  tests/ui/impl-trait/in-trait/foreign-dyn-error.rs
  tests/ui/impl-trait/in-trait/foreign-dyn-error.stderr
  tests/ui/impl-trait/in-trait/foreign.rs
  tests/ui/self/self-ctor-inner-const.rs
  tests/ui/self/self-ctor-inner-const.stderr
  tests/ui/test-attrs/test-type.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#111070 Don't suffix `RibKind` variants
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
Labels: T-compiler, S-waiting-on-bors

#111103 correctly recurse when expanding anon consts
  compiler/rustc_middle/src/ty/abstract_const.rs
  tests/ui/const-generics/generic_const_exprs/nested_uneval_unification-2.rs
Labels: T-compiler, S-waiting-on-bors

#111020 Validate resolution for SelfCtor too.
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  tests/ui/self/self-ctor-inner-const.rs
  tests/ui/self/self-ctor-inner-const.stderr
Labels: T-compiler, S-waiting-on-bors

#111024 Use the full Fingerprint when stringifying Svh
  compiler/rustc_data_structures/src/fingerprint.rs
  compiler/rustc_data_structures/src/svh.rs
  compiler/rustc_incremental/src/persist/fs.rs
Labels: T-compiler, S-waiting-on-bors

#111027 Remove `allow(rustc::potential_query_instability)` for `builtin_macros`
  Cargo.lock
  compiler/rustc_builtin_macros/Cargo.toml
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#111039 Encode def span for foreign return-position `impl Trait` in trait
  compiler/rustc_metadata/src/rmeta/encoder.rs
  tests/ui/impl-trait/in-trait/auxiliary/rpitit.rs
  tests/ui/impl-trait/in-trait/foreign-dyn-error.rs
  tests/ui/impl-trait/in-trait/foreign-dyn-error.stderr
  tests/ui/impl-trait/in-trait/foreign.rs
Labels: T-compiler, S-waiting-on-bors

#110859 Explicitly reject negative and reservation drop impls
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/dropck.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_middle/src/ty/util.rs
  tests/ui/consts/const-block-const-bound.rs
  tests/ui/consts/const-block-const-bound.stderr
  tests/ui/dropck/negative.rs
  tests/ui/dropck/negative.stderr
  tests/ui/dropck/reservation.rs
  tests/ui/dropck/reservation.stderr
Labels: T-compiler, S-waiting-on-bors

#111201 bootstrap: add .gitmodules to the sources
  src/bootstrap/dist.rs
Labels: beta-nominated, T-bootstrap, S-waiting-on-bors

#111210 Rollup of 8 pull requests
  Cargo.lock
  Cargo.toml
  compiler/rustc_borrowck/src/def_use.rs
  compiler/rustc_borrowck/src/renumber.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_resolve/src/late.rs
  library/alloc/src/lib.rs
  library/alloc/src/string.rs
  library/core/src/array/ascii.rs
  library/core/src/array/mod.rs
  library/core/src/ascii.rs
  library/core/src/ascii/ascii_char.rs
  library/core/src/char/methods.rs
  library/core/src/num/mod.rs
  library/core/src/num/nonzero.rs
  library/core/src/slice/ascii.rs
  library/core/src/str/mod.rs
  library/std/src/ascii.rs
  library/sysroot/Cargo.toml
  library/sysroot/src/lib.rs
  library/test/Cargo.toml
  library/test/src/formatters/junit.rs
  src/bootstrap/check.rs
  src/bootstrap/clean.rs
  src/bootstrap/compile.rs
  src/bootstrap/dist.rs
  src/bootstrap/doc.rs
  src/bootstrap/test.rs
  tests/codegen/ascii-char.rs
  tests/mir-opt/dead-store-elimination/place_mention.main.DeadStoreElimination.diff
  tests/mir-opt/dead-store-elimination/place_mention.rs
  tests/run-make/libtest-junit/Makefile
  tests/run-make/libtest-junit/f.rs
  tests/run-make/libtest-junit/output-default.xml
  tests/run-make/libtest-junit/output-stdout-success.xml
  tests/run-make/libtest-junit/validate_junit.py
  tests/ui/const-generics/sneaky-array-repeat-expr.rs
  tests/ui/const-generics/sneaky-array-repeat-expr.stderr
  tests/ui/consts/issue-50439.rs
  tests/ui/consts/issue-50439.stderr
  tests/ui/self/elision/nested-item.rs
  tests/ui/self/elision/nested-item.stderr
  tests/ui/typeck/repeat-expr-checks-wf.rs
  tests/ui/typeck/repeat-expr-checks-wf.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#110982 Do not recurse into const generic args when resolving self lifetime elision.
  compiler/rustc_resolve/src/late.rs
  tests/ui/self/elision/nested-item.rs
  tests/ui/self/elision/nested-item.stderr
Labels: T-compiler, S-waiting-on-bors

#111100 check array type of repeat exprs is wf
  compiler/rustc_borrowck/src/renumber.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/mir/visit.rs
  tests/ui/const-generics/sneaky-array-repeat-expr.rs
  tests/ui/const-generics/sneaky-array-repeat-expr.stderr
  tests/ui/consts/issue-50439.rs
  tests/ui/consts/issue-50439.stderr
  tests/ui/typeck/repeat-expr-checks-wf.rs
  tests/ui/typeck/repeat-expr-checks-wf.stderr
Labels: T-compiler, S-waiting-on-bors

#111186 Add `is_positive` method for signed non-zero integers.
  library/core/src/num/nonzero.rs
Labels: T-libs-api, S-waiting-on-bors

#110826 Make PlaceMention a non-mutating use.
  compiler/rustc_borrowck/src/def_use.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  tests/mir-opt/dead-store-elimination/place_mention.main.DeadStoreElimination.diff
  tests/mir-opt/dead-store-elimination/place_mention.rs
Labels: T-compiler, S-waiting-on-bors

#111009 Add `ascii::Char` (ACP#179)
  library/alloc/src/lib.rs
  library/alloc/src/string.rs
  library/core/src/array/ascii.rs
  library/core/src/array/mod.rs
  library/core/src/ascii.rs
  library/core/src/ascii/ascii_char.rs
  library/core/src/char/methods.rs
  library/core/src/num/mod.rs
  library/core/src/slice/ascii.rs
  library/core/src/str/mod.rs
  library/std/src/ascii.rs
  tests/codegen/ascii-char.rs
Labels: S-waiting-on-bors, T-libs

#110651 libtest: include test output in junit xml reports
  library/test/src/formatters/junit.rs
  tests/run-make/libtest-junit/Makefile
  tests/run-make/libtest-junit/f.rs
  tests/run-make/libtest-junit/output-default.xml
  tests/run-make/libtest-junit/output-stdout-success.xml
  tests/run-make/libtest-junit/validate_junit.py
Labels: S-waiting-on-bors, T-libs

#108865 Add a `sysroot` crate to represent the standard library crates
  Cargo.lock
  Cargo.toml
  library/sysroot/Cargo.toml
  library/sysroot/src/lib.rs
  library/test/Cargo.toml
  src/bootstrap/check.rs
  src/bootstrap/clean.rs
  src/bootstrap/compile.rs
  src/bootstrap/doc.rs
  src/bootstrap/test.rs
Labels: T-bootstrap, S-waiting-on-bors, T-libs

#111014 try to downgrade Arc -> Lrc -> Rc -> no-Rc in few places
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/reverse_sccs.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_passes/src/debugger_visualizer.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111173 Still more encoder cleanups
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_serialize/src/serialize.rs
Labels: T-compiler, S-waiting-on-bors

#111187 bootstrap: add llvm-project/runtimes to the sources
  src/bootstrap/dist.rs
Labels: A-LLVM, T-bootstrap, S-waiting-on-bors

#111213 Fixup "since" dates for `array_tuple_conv` feature
  library/core/src/tuple.rs
Labels: S-waiting-on-bors, T-libs

#111223 Use `free-args` consistently in bootstrap
  src/bootstrap/config.rs
  src/bootstrap/flags.rs
  src/bootstrap/run.rs
  src/bootstrap/test.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#111231 Rollup of 8 pull requests
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_serialize/src/serialize.rs
  library/core/src/tuple.rs
  library/std/src/sys/common/thread_local/mod.rs
  library/std/src/sys/common/thread_local/os_local.rs
  library/std/src/thread/mod.rs
  src/bootstrap/config.rs
  src/bootstrap/dist.rs
  src/bootstrap/flags.rs
  src/bootstrap/run.rs
  src/bootstrap/test.rs
  tests/mir-opt/const_prop/address_of_pair.fn0.ConstProp.diff
  tests/mir-opt/const_prop/address_of_pair.rs
  tests/mir-opt/const_prop_miscompile.bar.ConstProp.diff
  tests/mir-opt/const_prop_miscompile.foo.ConstProp.diff
  tests/ui/impl-trait/issues/issue-86800.rs
  tests/ui/impl-trait/issues/issue-86800.stderr
  tests/ui/panics/default-backtrace-ice.rs
  tests/ui/panics/default-backtrace-ice.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#110946 avoid duplicating TLS state between test std and realstd
  library/std/src/sys/common/thread_local/mod.rs
  library/std/src/sys/common/thread_local/os_local.rs
  library/std/src/thread/mod.rs
Labels: S-waiting-on-bors, T-libs

#111052 Fix problems with backtraces in two ui tests.
  tests/ui/impl-trait/issues/issue-86800.rs
  tests/ui/impl-trait/issues/issue-86800.stderr
  tests/ui/panics/default-backtrace-ice.rs
  tests/ui/panics/default-backtrace-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#111236 bump rustc-build-sysroot to fix miri sysroot build
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#111238 btree_map: `Cursor{,Mut}::peek_prev` must agree
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/map/tests.rs
Labels: S-waiting-on-bors, T-libs

#110876 Added default target cpu to `--print target-cpus` output and updated docs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  src/doc/rustc/src/codegen-options/index.md
Labels: T-compiler, S-waiting-on-bors

#111068 Improve check-cfg implementation
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_session/src/config.rs
  tests/rustdoc-ui/check-cfg/check-cfg.stderr
  tests/rustdoc-ui/doctest/check-cfg-test.stderr
  tests/ui/check-cfg/compact-values.stderr
  tests/ui/check-cfg/diagnotics.rs
  tests/ui/check-cfg/diagnotics.stderr
  tests/ui/check-cfg/invalid-cfg-name.stderr
  tests/ui/check-cfg/invalid-cfg-value.stderr
  tests/ui/check-cfg/mix.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/no-values.stderr
  tests/ui/check-cfg/values-target-json.stderr
  tests/ui/check-cfg/well-known-names.stderr
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors

#110773 Reduce MIR dump file count for MIR-opt tests
  src/tools/compiletest/src/runtest.rs
  src/tools/miropt-test-tools/src/lib.rs
  tests/mir-opt/const_allocation.main.ConstProp.after.32bit.mir
  tests/mir-opt/const_allocation.main.ConstProp.after.64bit.mir
  tests/mir-opt/const_allocation2.main.ConstProp.after.32bit.mir
  tests/mir-opt/const_allocation2.main.ConstProp.after.64bit.mir
  tests/mir-opt/const_allocation3.main.ConstProp.after.32bit.mir
  tests/mir-opt/const_allocation3.main.ConstProp.after.64bit.mir
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#108801 Implement RFC 3348, `c"foo"` literals
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/util/literal.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_builtin_macros/src/concat.rs
  compiler/rustc_builtin_macros/src/concat_bytes.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_lexer/src/unescape.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unescape_error_reporting.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_session/messages.ftl
  compiler/rustc_session/src/errors.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/ffi/c_str.rs
  library/proc_macro/src/bridge/mod.rs
  src/librustdoc/html/highlight.rs
  src/tools/clippy/clippy_lints/src/matches/match_same_arms.rs
  src/tools/clippy/clippy_lints/src/strlen_on_c_strings.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/basic.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/non-ascii.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-libs

#103056 Fix `checked_{add,sub}_duration` incorrectly returning `None` when `other` has more than `i64::MAX` seconds
  library/std/src/sys/hermit/time.rs
  library/std/src/sys/solid/time.rs
  library/std/src/sys/unix/time.rs
  library/std/src/time/tests.rs
Labels: S-waiting-on-bors, T-libs

#111139 Fix MXCSR configuration dependent timing
  library/std/src/sys/sgx/abi/entry.S
Labels: S-waiting-on-bors, T-libs

#111239 Remove unnecessary attribute from a diagnostic
  compiler/rustc_hir_analysis/src/errors.rs
  tests/ui/specialization/issue-111232.rs
  tests/ui/specialization/issue-111232.stderr
Labels: T-compiler, S-waiting-on-bors

#111246 forbid escaping bound vars in combine
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/method_chain.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
Labels: T-compiler, S-waiting-on-bors

#111251 Issue 109502 follow up, remove unnecessary Vec::new() from compile_test()
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#111261 Mark `ErrorGuaranteed` constructor as deprecated so people don't use it
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_span/src/lib.rs
  src/librustdoc/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#110780 rustdoc-search: add slices and arrays to index
  src/librustdoc/html/render/search_index.rs
  tests/rustdoc-js/slice-array.js
  tests/rustdoc-js/slice-array.rs
Labels: T-rustdoc, S-waiting-on-bors

#110830 Add FreeBSD cpuset support to `std::thread::available_concurrency`
  library/std/src/sys/unix/thread.rs
Labels: S-waiting-on-bors, T-libs

#107129 Update the version of musl used on `*-linux-musl` targets to 1.2.3
  src/ci/docker/host-x86_64/dist-arm-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-musl/Dockerfile
  src/ci/docker/host-x86_64/test-various/Dockerfile
  src/ci/docker/scripts/musl-toolchain.sh
  src/ci/docker/scripts/musl.sh
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#104872 Avoid alignment mismatch between ABI and layout for unions.
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_ty_utils/src/layout_sanity_check.rs
  compiler/rustc_ty_utils/src/lib.rs
  tests/ui/layout/debug.rs
  tests/ui/layout/debug.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109421 Add `force` option for `--extern` flag
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_session/src/config.rs
  tests/ui/extern-flag/auxiliary/panic_handler.rs
  tests/ui/extern-flag/force-extern.rs
  tests/ui/extern-flag/no-force-extern.rs
  tests/ui/extern-flag/redundant-force-extern.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#111167 debuginfo: split method declaration and definition
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  tests/run-make/issue-109934-lto-debuginfo/Makefile
  tests/run-make/issue-109934-lto-debuginfo/lib.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#111230 add hint for =< as <=
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/parser/eq-less-to-less-eq.rs
  tests/ui/parser/eq-less-to-less-eq.stderr
Labels: T-compiler, S-waiting-on-bors

#111279 More robust debug assertions for `Instance::resolve` on built-in traits with non-standard trait items
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_ty_utils/src/instance.rs
Labels: T-compiler, S-waiting-on-bors

#111287 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_hir_analysis/src/check/dropck.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_ty_utils/src/instance.rs
  src/librustdoc/lib.rs
  src/tools/clippy/src/driver.rs
  src/tools/miri/src/bin/miri.rs
  src/tools/rustfmt/src/bin/main.rs
  tests/run-make/issue-109934-lto-debuginfo/Makefile
  tests/run-make/issue-109934-lto-debuginfo/lib.rs
  tests/rustdoc-ui/ice-bug-report-url.rs
  tests/rustdoc-ui/ice-bug-report-url.stderr
  tests/ui-fulldeps/stable-mir/crate-info.rs
  tests/ui/dropck/explicit-drop-bounds.bad1.stderr
  tests/ui/dropck/explicit-drop-bounds.bad2.stderr
  tests/ui/dropck/explicit-drop-bounds.rs
  tests/ui/dropck/explicit-implied-outlives.bad1.stderr
  tests/ui/dropck/explicit-implied-outlives.bad2.stderr
  tests/ui/dropck/explicit-implied-outlives.rs
  tests/ui/dropck/transitive-outlives-2.rs
  tests/ui/dropck/transitive-outlives.bad.stderr
  tests/ui/dropck/transitive-outlives.rs
  tests/ui/dropck/trivial-impl-bounds.rs
  tests/ui/parser/eq-less-to-less-eq.rs
  tests/ui/parser/eq-less-to-less-eq.stderr
  tests/ui/traits/non_lifetime_binders/drop-impl-pred.no.stderr
  tests/ui/traits/non_lifetime_binders/drop-impl-pred.rs
  tests/ui/traits/non_lifetime_binders/drop-impl-pred.yes.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#110985 Fix spans in LLVM-generated inline asm errors
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#110989 Make the BUG_REPORT_URL configurable by tools
  compiler/rustc_driver_impl/src/lib.rs
  src/librustdoc/lib.rs
  src/tools/clippy/src/driver.rs
  src/tools/miri/src/bin/miri.rs
  src/tools/rustfmt/src/bin/main.rs
  tests/rustdoc-ui/ice-bug-report-url.rs
  tests/rustdoc-ui/ice-bug-report-url.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-miri, A-rustfmt, A-clippy

#110577 Use fulfillment to check `Drop` impl compatibility
  compiler/rustc_hir_analysis/src/check/dropck.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/dropck/explicit-drop-bounds.bad1.stderr
  tests/ui/dropck/explicit-drop-bounds.bad2.stderr
  tests/ui/dropck/explicit-drop-bounds.rs
  tests/ui/dropck/explicit-implied-outlives.bad1.stderr
  tests/ui/dropck/explicit-implied-outlives.bad2.stderr
  tests/ui/dropck/explicit-implied-outlives.rs
  tests/ui/dropck/transitive-outlives-2.rs
  tests/ui/dropck/transitive-outlives.bad.stderr
  tests/ui/dropck/transitive-outlives.rs
  tests/ui/dropck/trivial-impl-bounds.rs
  tests/ui/traits/non_lifetime_binders/drop-impl-pred.no.stderr
  tests/ui/traits/non_lifetime_binders/drop-impl-pred.rs
  tests/ui/traits/non_lifetime_binders/drop-impl-pred.yes.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, T-types

#110610 Add Terminator conversion from MIR to SMIR, part #1
  Cargo.lock
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
Labels: T-compiler, S-waiting-on-bors

#110907 Populate effective visibilities in 'rustc_privacy'
  compiler/rustc_middle/src/middle/privacy.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/effective_visibilities.rs
  library/core/src/iter/adapters/flatten.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, perf-regression, perf-regression-triaged

#110972 Remove aws cli install.
  .github/workflows/ci.yml
  src/ci/docker/run.sh
  src/ci/github-actions/ci.yml
  src/ci/scripts/install-awscli.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#111151 check bootstrap scripts syntax
  x
  x.ps1
Labels: T-bootstrap, S-waiting-on-bors

#111237 asm: loongarch64: Implementation of clobber_abi
  compiler/rustc_target/src/asm/mod.rs
Labels: T-compiler, S-waiting-on-bors

#111274 Expand the LLVM coverage of `--print target-cpus`
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#111289 Check arguments length in trivial diagnostic lint
  compiler/rustc_lint/src/internal.rs
  tests/ui/lint/internal/trivial-diagnostics.rs
  tests/ui/lint/internal/trivial-diagnostics.stderr
Labels: T-compiler, S-waiting-on-bors

#111002 Fix the test directories suggested by `./x.py suggest`
  src/tools/suggest-tests/src/static_suggestions.rs
  src/tools/suggest-tests/src/tests.rs
Labels: S-waiting-on-bors

#111203 Output LLVM optimization remark kind in `-Cremark` output
  compiler/rustc_codegen_llvm/messages.ftl
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  tests/ui/optimization-remark.rs
Labels: T-compiler, S-waiting-on-bors

#110693 Migrate bootstrap to Clap-based argument parsing
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/builder.rs
  src/bootstrap/builder/tests.rs
  src/bootstrap/check.rs
  src/bootstrap/config.rs
  src/bootstrap/config/tests.rs
  src/bootstrap/flags.rs
  src/bootstrap/lib.rs
  src/bootstrap/test.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#111293 rustc --explain E0726 - grammar fixing (it's => its + add a `the` where it felt right to do so)
  compiler/rustc_error_codes/src/error_codes/E0726.md
Labels: T-compiler, S-waiting-on-bors

#111300 Emit while_true lint spanning the entire loop condition
  compiler/rustc_lint/src/builtin.rs
Labels: T-compiler, S-waiting-on-bors

#111301 Remove calls to `mem::forget` and `mem::replace` in `Option::get_or_insert_with`.
  library/core/src/option.rs
Labels: S-waiting-on-bors, T-libs

#111303 update Rust Unstable Book docs for `--extern force`
  src/doc/unstable-book/src/compiler-flags/extern-options.md
Labels: S-waiting-on-bors

#111311 Rollup of 7 pull requests
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_error_codes/src/error_codes/E0726.md
  compiler/rustc_lint/src/builtin.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/option.rs
  library/core/src/tuple.rs
  src/doc/unstable-book/src/compiler-flags/extern-options.md
  tests/ui/lint/lint-missing-doc.rs
  tests/ui/lint/lint-missing-doc.stderr
  tests/ui/simd/issue-105439.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#111150 added TraitAlias to check_item() for missing_docs
  compiler/rustc_lint/src/builtin.rs
  tests/ui/lint/lint-missing-doc.rs
  tests/ui/lint/lint-missing-doc.stderr
Labels: T-compiler, S-waiting-on-bors

#110094 clean up `transmute`s in `core`
  library/core/src/mem/maybe_uninit.rs
  library/core/src/tuple.rs
Labels: S-waiting-on-bors, T-libs

#105583 Operand::extract_field: only cast llval if it's a pointer and replace bitcast w/ pointercast.
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  tests/ui/simd/issue-105439.rs
Labels: T-compiler, S-waiting-on-bors

#111125 Inline SocketAddr methods
  library/core/src/net/socket_addr.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#111161 Support return-type bounds on associated methods from supertraits
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  tests/ui/associated-type-bounds/return-type-notation/missing.rs
  tests/ui/associated-type-bounds/return-type-notation/missing.stderr
  tests/ui/async-await/return-type-notation/super-method-bound-ambig.rs
  tests/ui/async-await/return-type-notation/super-method-bound-ambig.stderr
  tests/ui/async-await/return-type-notation/super-method-bound.rs
  tests/ui/async-await/return-type-notation/super-method-bound.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111222 Constify `[u8]::is_ascii` (unstably)
  library/core/src/array/ascii.rs
  library/core/src/lib.rs
  library/core/src/slice/ascii.rs
  library/core/src/slice/mod.rs
  library/core/src/str/mod.rs
  tests/assembly/slice-is_ascii.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#111224 Remove `tidy` key in PR CI
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#111290 [beta] backport
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  src/bootstrap/dist.rs
  tests/ui/match/guards-parenthesized-and.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#111306 Update hashbrown from 0.12.3 to 0.13.1 for std
  Cargo.lock
  library/std/Cargo.toml
Labels: S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#106621 enable `rust_2018_idioms` lint group for doctests
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_graphviz/src/lib.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/different_lifetimes.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/find_anon_type.rs
  compiler/rustc_infer/src/infer/outlives/test_type_match.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_lint_defs/src/builtin.rs
  library/alloc/src/borrow.rs
  library/alloc/src/fmt.rs
  library/alloc/src/rc.rs
  library/alloc/src/string.rs
  library/alloc/src/sync.rs
  library/alloc/src/vec/drain.rs
  library/alloc/src/vec/drain_filter.rs
  library/alloc/src/vec/mod.rs
  library/alloc/src/vec/splice.rs
  library/core/src/cell.rs
  library/core/src/fmt/builders.rs
  library/core/src/fmt/mod.rs
  library/core/src/intrinsics/mir.rs
  library/core/src/iter/adapters/chain.rs
  library/core/src/macros/mod.rs
  library/core/src/marker.rs
  library/core/src/ops/arith.rs
  library/core/src/primitive_docs.rs
  library/std/src/keyword_docs.rs
  library/std/src/os/unix/fs.rs
  library/std/src/path.rs
  library/std/src/primitive_docs.rs
  library/std/src/process.rs
  src/bootstrap/builder.rs
  src/bootstrap/compile.rs
Labels: T-compiler, T-bootstrap, A-docs, S-waiting-on-bors, merged-by-bors, T-libs

#111323 Give a more helpful error when running the rustc shim directly
  src/bootstrap/bin/rustc.rs
  src/bootstrap/bin/rustdoc.rs
Labels: T-bootstrap, S-waiting-on-bors

#111022 Use smaller ints for bitflags
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_target/src/abi/call/mod.rs
Labels: T-compiler, S-waiting-on-bors

#111056 Fix some suggestions where a `Box<T>` is expected.
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/issues/auxiliary/issue-111011.rs
  tests/ui/issues/auxiliary/issue-111011.stderr
  tests/ui/suggestions/suggest-boxed-empty-block.fixed
  tests/ui/suggestions/suggest-boxed-empty-block.rs
  tests/ui/suggestions/suggest-boxed-empty-block.stderr
Labels: T-compiler, S-waiting-on-bors

#111265 Make generics_of has_self on RPITITs delegate to the opaque
  compiler/rustc_ty_utils/src/assoc.rs
Labels: T-compiler, S-waiting-on-bors

#110827 Fix lifetime suggestion for type aliases with objects in them
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_middle/src/ty/context.rs
  tests/ui/borrowck/suggest-lt-on-ty-alias-w-generics.rs
  tests/ui/borrowck/suggest-lt-on-ty-alias-w-generics.stderr
Labels: T-compiler, S-waiting-on-bors

#110297 Make `(try_)subst_and_normalize_erasing_regions` take `EarlyBinder`
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_llvm/src/debuginfo/create_scope_map.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/normalize_erasing_regions.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/inline/cycle.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/partitioning/default.rs
  compiler/rustc_monomorphize/src/util.rs
  compiler/rustc_ty_utils/src/instance.rs
  src/tools/clippy/clippy_lints/src/methods/unnecessary_to_owned.rs
Labels: T-compiler, S-waiting-on-bors

#111331 Mark s390x condition code register as clobbered in inline assembly
  compiler/rustc_codegen_llvm/src/asm.rs
  src/doc/unstable-book/src/language-features/asm-experimental-arch.md
Labels: T-compiler, S-waiting-on-bors

#111211 Don't compute trait super bounds unless they're positive
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  tests/ui/traits/negative-bounds/supertrait.rs
  tests/ui/traits/negative-bounds/supertrait.stderr
Labels: T-compiler, S-waiting-on-bors

#110377 Update max_atomic_width of armv7r and armv7_sony_vita targets to 64.
  compiler/rustc_target/src/spec/armebv7r_none_eabi.rs
  compiler/rustc_target/src/spec/armebv7r_none_eabihf.rs
  compiler/rustc_target/src/spec/armv7_sony_vita_newlibeabihf.rs
  compiler/rustc_target/src/spec/armv7r_none_eabi.rs
  compiler/rustc_target/src/spec/armv7r_none_eabihf.rs
Labels: T-compiler, S-waiting-on-bors

#110824 ConstProp into PlaceElem::Index.
  compiler/rustc_mir_transform/src/const_prop.rs
  tests/mir-opt/const_prop/bad_op_unsafe_oob_for_slices.main.ConstProp.32bit.diff
  tests/mir-opt/const_prop/bad_op_unsafe_oob_for_slices.main.ConstProp.64bit.diff
  tests/mir-opt/const_prop/large_array_index.main.ConstProp.32bit.diff
  tests/mir-opt/const_prop/large_array_index.main.ConstProp.64bit.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111007 Disable nrvo mir opt
  compiler/rustc_mir_transform/src/nrvo.rs
  tests/codegen/fewer-names.rs
  tests/codegen/mem-replace-big-type.rs
  tests/codegen/nrvo.rs
  tests/codegen/var-names.rs
  tests/mir-opt/inline/inline_into_box_place.main.Inline.diff
  tests/mir-opt/inline/issue_58867_inline_as_ref_as_mut.b.Inline.after.mir
  tests/mir-opt/inline/issue_58867_inline_as_ref_as_mut.d.Inline.after.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.PreCodegen.after.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.Inline.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.PreCodegen.after.mir
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.Inline.diff
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.PreCodegen.after.mir
  tests/mir-opt/nrvo_miscompile_111005.rs
  tests/mir-opt/nrvo_miscompile_111005.wrong.RenameReturnPlace.diff
  tests/mir-opt/pre-codegen/mem_replace.manual_replace.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/mem_replace.mem_replace.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_index.slice_index_range.PreCodegen.after.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111354 Fix miscompilation when calling default methods on `Future`
  compiler/rustc_ty_utils/src/instance.rs
Labels: T-compiler, S-waiting-on-bors

#111118 Suggest struct when we get colon in fileds in enum
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/structs-enums/issue-103869.fixed
  tests/ui/structs-enums/issue-103869.rs
  tests/ui/structs-enums/issue-103869.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#111170 Diagnostic args are still args if they're documented
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive-doc-comment-field.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive-doc-comment-field.stderr
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#111004 Migrate `mir_transform` to translatable diagnostics
  Cargo.lock
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_mir_transform/Cargo.toml
  compiler/rustc_mir_transform/messages.ftl
  compiler/rustc_mir_transform/src/check_const_item_mutation.rs
  compiler/rustc_mir_transform/src/check_packed_ref.rs
  compiler/rustc_mir_transform/src/check_unsafety.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/errors.rs
  compiler/rustc_mir_transform/src/ffi_unwind_calls.rs
  compiler/rustc_mir_transform/src/function_item_references.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
Labels: T-compiler, S-waiting-on-bors

#104070 Prevent aborting guard from aborting the process in a forced unwind
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
  library/std/src/personality/dwarf/eh.rs
  library/std/src/personality/gcc.rs
  tests/codegen/vec-shrink-panik.rs
  tests/run-make/forced-unwind-terminate-pof/Makefile
  tests/run-make/forced-unwind-terminate-pof/foo.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#111296 Always const-evaluate the GCD in `slice::align_to_offsets`
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#110027 Add `#[inline]` to functions that are never called
  library/core/src/cmp.rs
  library/core/src/convert/mod.rs
  library/core/src/fmt/mod.rs
  library/core/src/intrinsics.rs
  library/core/src/intrinsics/mir.rs
  library/core/src/num/error.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#110152 Start using `windows sys` for Windows FFI bindings in std
  Cargo.lock
  Cargo.toml
  library/std/src/os/windows/io/socket.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/c/errors.rs
  library/std/src/sys/windows/c/windows_sys.lst
  library/std/src/sys/windows/c/windows_sys.rs
  library/std/src/sys/windows/compat.rs
  library/std/src/sys/windows/fs.rs
  library/std/src/sys/windows/handle.rs
  library/std/src/sys/windows/io.rs
  library/std/src/sys/windows/net.rs
  library/std/src/sys/windows/pipe.rs
  library/std/src/sys/windows/process.rs
  library/std/src/sys/windows/rand.rs
  library/std/src/sys/windows/stack_overflow.rs
  library/std/src/sys/windows/stdio.rs
  library/std/src/sys/windows/thread.rs
  src/bootstrap/builder.rs
  src/bootstrap/run.rs
  src/bootstrap/tool.rs
  src/tools/generate-windows-sys/Cargo.toml
  src/tools/generate-windows-sys/src/main.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#111252 Min specialization improvements
  compiler/rustc_data_structures/src/owned_slice.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  tests/ui/rfc-2632-const-trait-impl/specialization/const-default-bound-non-const-specialized-bound.rs
  tests/ui/rfc-2632-const-trait-impl/specialization/const-default-bound-non-const-specialized-bound.stderr
  tests/ui/rfc-2632-const-trait-impl/specialization/issue-95186-specialize-on-tilde-const.rs
  tests/ui/rfc-2632-const-trait-impl/specialization/issue-95187-same-trait-bound-different-constness.rs
  tests/ui/specialization/min_specialization/specialize-associated-type.rs
  tests/ui/specialization/min_specialization/specialize_nothing.rs
  tests/ui/specialization/min_specialization/specialize_nothing.stderr
  tests/ui/specialization/min_specialization/specialize_on_type_error.rs
  tests/ui/specialization/min_specialization/specialize_on_type_error.stderr
  tests/ui/specialization/min_specialization/specialize_with_generalize_lifetimes.rs
  tests/ui/specialization/min_specialization/specialize_with_generalize_lifetimes.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#110694 Implement builtin # syntax and use it for offset_of!(...)
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_builtin_macros/src/offset_of.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/mem/mod.rs
  tests/mir-opt/const_prop/offset_of.concrete.ConstProp.diff
  tests/mir-opt/const_prop/offset_of.generic.ConstProp.diff
  tests/ui/feature-gates/feature-gate-builtin_syntax.rs
  tests/ui/feature-gates/feature-gate-builtin_syntax.stderr
  tests/ui/offset-of/offset-of-arg-count.rs
  tests/ui/offset-of/offset-of-arg-count.stderr
  tests/ui/offset-of/offset-of-builtin.rs
  tests/ui/offset-of/offset-of-builtin.stderr
  tests/ui/offset-of/offset-of-dst-field.stderr
  tests/ui/offset-of/offset-of-unstable.stderr
  tests/ui/parser/builtin-syntax.rs
  tests/ui/parser/builtin-syntax.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-meta, T-libs

#110304 Add GNU Property Note
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  tests/run-make/branch-protection-check-IBT/Makefile
  tests/run-make/branch-protection-check-IBT/main.rs
Labels: A-linkage, A-security, T-compiler, S-waiting-on-bors

#110504 Tweak borrow suggestion span
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/argument-suggestions/issue-97484.stderr
  tests/ui/async-await/issues/issue-102206.stderr
  tests/ui/coercion/coercion-slice.stderr
  tests/ui/inference/deref-suggestion.stderr
  tests/ui/issues/issue-11374.stderr
  tests/ui/issues/issue-17033.stderr
  tests/ui/issues/issue-18819.stderr
  tests/ui/issues/issue-46302.stderr
  tests/ui/issues/issue-46756-consider-borrowing-cast-or-binexpr.stderr
  tests/ui/issues/issue-61106.stderr
  tests/ui/methods/method-self-arg-1.stderr
  tests/ui/mismatched_types/dont-point-return-on-E0308.stderr
  tests/ui/mut/mut-cross-borrowing.stderr
  tests/ui/range/issue-54505-no-literals.fixed
  tests/ui/range/issue-54505-no-literals.rs
  tests/ui/range/issue-54505-no-literals.stderr
  tests/ui/range/issue-54505-no-std.rs
  tests/ui/range/issue-54505-no-std.stderr
  tests/ui/range/issue-54505.fixed
  tests/ui/range/issue-54505.rs
  tests/ui/range/issue-54505.stderr
  tests/ui/range/issue-73553-misinterp-range-literal.stderr
  tests/ui/span/coerce-suggestions.stderr
  tests/ui/span/issue-39018.stderr
  tests/ui/str/str-array-assignment.stderr
  tests/ui/suggestions/as-ref.stderr
  tests/ui/suggestions/suggest-ref-macro.rs
  tests/ui/suggestions/suggest-ref-macro.stderr
  tests/ui/type/type-mismatch.stderr
  tests/ui/typeck/bad-index-due-to-nested.stderr
  tests/ui/typeck/bad-type-in-vec-contains.stderr
  tests/ui/typeck/issue-13853.stderr
  tests/ui/unsized-locals/suggest-borrow.stderr
Labels: T-compiler, S-waiting-on-bors

#110583 tweak "make mut" spans when assigning to locals
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  tests/ui/array-slice-vec/slice-mut-2.stderr
  tests/ui/borrowck/borrow-raw-address-of-deref-mutability.stderr
  tests/ui/borrowck/borrowck-access-permissions.stderr
  tests/ui/borrowck/borrowck-assign-to-andmut-in-aliasable-loc.stderr
  tests/ui/borrowck/borrowck-borrow-mut-base-ptr-in-aliasable-loc.stderr
  tests/ui/borrowck/borrowck-issue-14498.stderr
  tests/ui/borrowck/borrowck-reborrow-from-mut.stderr
  tests/ui/borrowck/issue-85765.stderr
  tests/ui/borrowck/mutability-errors.stderr
  tests/ui/closures/2229_closure_analysis/diagnostics/mut_ref.stderr
  tests/ui/did_you_mean/issue-38147-4.stderr
  tests/ui/did_you_mean/issue-39544.stderr
  tests/ui/did_you_mean/issue-40823.stderr
  tests/ui/error-codes/E0389.stderr
  tests/ui/issues/issue-51515.rs
  tests/ui/issues/issue-51515.stderr
  tests/ui/issues/issue-61623.stderr
  tests/ui/nll/issue-47388.stderr
  tests/ui/nll/issue-51244.stderr
  tests/ui/nll/issue-57989.stderr
  tests/ui/pattern/move-ref-patterns/borrowck-move-ref-pattern.stderr
  tests/ui/span/borrowck-borrow-overloaded-auto-deref-mut.stderr
  tests/ui/span/borrowck-borrow-overloaded-deref-mut.stderr
  tests/ui/span/borrowck-call-is-borrow-issue-12224.stderr
  tests/ui/span/borrowck-call-method-from-mut-aliasable.stderr
  tests/ui/span/borrowck-fn-in-const-b.stderr
  tests/ui/span/borrowck-object-mutability.stderr
  tests/ui/span/mut-arg-hint.stderr
  tests/ui/suggestions/issue-68049-2.stderr
  tests/ui/suggestions/suggest-ref-mut.rs
  tests/ui/suggestions/suggest-ref-mut.stderr
  tests/ui/trivial-bounds/trivial-bounds-inconsistent-copy-reborrow.stderr
Labels: T-compiler, S-waiting-on-bors

#111371 Revert "Populate effective visibilities in `rustc_privacy`"
  compiler/rustc_middle/src/middle/privacy.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/effective_visibilities.rs
  library/core/src/iter/adapters/flatten.rs
  tests/ui/reachable/auxiliary/foreign-priv-aux.rs
  tests/ui/reachable/foreign-priv.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#111242 support set `rpath` option for each target independently
  config.example.toml
  src/bootstrap/CHANGELOG.md
  src/bootstrap/builder.rs
  src/bootstrap/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#111282 Remove some `assume`s from slice iterators that don't do anything
  library/core/src/slice/iter/macros.rs
  tests/codegen/slice-iter-nonnull.rs
Labels: S-waiting-on-bors, T-libs
