Repository rust-lang/rust, pull requests merged in 2023-12, with the labels that each got.

#116892 Add `-Zfunction-return={keep,thunk-extern}` option
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_session/messages.ftl
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  src/doc/unstable-book/src/compiler-flags/function-return.md
  tests/assembly/x86_64-function-return.rs
  tests/codegen/function-return.rs
  tests/ui/invalid-compile-flags/function-return/requires-x86-or-x86_64.aarch64.stderr
  tests/ui/invalid-compile-flags/function-return/requires-x86-or-x86_64.rs
  tests/ui/invalid-compile-flags/function-return/thunk-extern-requires-non-large-code-model.large.stderr
  tests/ui/invalid-compile-flags/function-return/thunk-extern-requires-non-large-code-model.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118472 `rustc_session` cleanups
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_codegen_ssa/src/traits/backend.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_incremental/src/persist/fs.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/cstore.rs
  compiler/rustc_session/src/filesearch.rs
  compiler/rustc_session/src/lib.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/output.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_session/src/utils.rs
  tests/run-make/valid-print-requests/valid-print-requests.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118461 Change `SwitchTarget` representation in StableMIR
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/stable_mir/src/mir/body.rs
  compiler/stable_mir/src/mir/pretty.rs
  compiler/stable_mir/src/mir/visit.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118482 explain a good reason for why LocalValue does not store the type of the local
  compiler/rustc_const_eval/src/interpret/eval_context.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118216 Refactor NLL constraint generation and most of polonius fact generation
  compiler/rustc_borrowck/src/constraint_generation.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/polonius/loan_invalidations.rs
  compiler/rustc_borrowck/src/polonius/loan_kills.rs
  compiler/rustc_borrowck/src/polonius/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117472 Stabilize C string literals
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_builtin_macros/src/concat_bytes.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_parse/src/lexer/mod.rs
  src/tools/clippy/tests/ui/needless_raw_string.fixed
  src/tools/clippy/tests/ui/needless_raw_string.rs
  src/tools/clippy/tests/ui/needless_raw_string.stderr
  src/tools/clippy/tests/ui/needless_raw_string_hashes.fixed
  src/tools/clippy/tests/ui/needless_raw_string_hashes.rs
  src/tools/clippy/tests/ui/needless_raw_string_hashes.stderr
  tests/ui/proc-macro/literal-to-string.rs
  tests/ui/proc-macro/literal-to-string.stdout
  tests/ui/rfcs/rfc-3348-c-string-literals/basic.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/non-ascii.rs
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#115993 vis note for no pub reexports glob import
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/imports.rs
  tests/ui/imports/no-pub-reexports-but-used.rs
  tests/ui/imports/no-pub-reexports-but-used.stderr
  tests/ui/imports/reexports.rs
  tests/ui/imports/reexports.stderr
  tests/ui/privacy/issue-46209-private-enum-variant-reexport.stderr
  tests/ui/privacy/private-variant-reexport.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117248 Error if symlinks are not supported in CI
  library/std/src/fs/tests.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#118175 Centralize live loans maintenance to fix scope differences due to liveness
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/values.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  tests/ui/nll/polonius/location-insensitive-scopes-liveness.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118465 Update mdbook to 0.4.36
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#117754 Handle recursion limit for subtype and well-formed predicates
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  tests/ui/traits/subtype-recursion-limit.rs
  tests/ui/traits/subtype-recursion-limit.stderr
  tests/ui/traits/well-formed-recursion-limit.rs
  tests/ui/traits/well-formed-recursion-limit.stderr
  tests/ui/type-inference/generalize-subtyped-variables.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-types

#118498 fix an ICE when a valtree failed to evaluate
  compiler/rustc_middle/src/ty/consts.rs
  tests/ui/const-generics/ice-118285-fn-ptr-value.rs
  tests/ui/const-generics/ice-118285-fn-ptr-value.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117912 Name explicit registers in conflict register errors for inline assembly
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/asm.rs
  tests/ui/asm/aarch64/bad-reg.rs
  tests/ui/asm/aarch64/bad-reg.stderr
  tests/ui/asm/x86_64/bad-reg.rs
  tests/ui/asm/x86_64/bad-reg.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118484 Add substring API for `OsStr`
  library/std/src/ffi/os_str.rs
  library/std/src/ffi/os_str/tests.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#118347 Avoid per-register closure expansions
  compiler/rustc_ast_lowering/src/asm.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118542 Fix parser ICE from attrs
  compiler/rustc_parse/src/parser/diagnostics.rs
  tests/ui/parser/issues/issue-118530-ice.rs
  tests/ui/parser/issues/issue-118530-ice.stderr
  tests/ui/parser/issues/issue-118531-ice.rs
  tests/ui/parser/issues/issue-118531-ice.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118487 move exposed-provenance APIs into separate feature gate
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/std/src/lib.rs
  src/tools/miri/tests/fail/provenance/ptr_int_unexposed.rs
  src/tools/miri/tests/fail/provenance/ptr_invalid.rs
  src/tools/miri/tests/fail/provenance/strict_provenance_cast.rs
  src/tools/miri/tests/fail/stacked_borrows/exposed_only_ro.rs
  src/tools/miri/tests/pass/ptr_int_from_exposed.rs
  src/tools/miri/tests/pass/stacked-borrows/int-to-ptr.rs
  src/tools/miri/tests/pass/stacked-borrows/unknown-bottom-gc.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#118546 update hashbrown
  Cargo.lock
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#118567 Miri subtree update
  src/tools/miri/README.md
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/tests/fail/tree_borrows/reserved/cell-protected-write.rs
  src/tools/miri/tests/fail/tree_borrows/reserved/int-protected-write.rs
  src/tools/miri/tests/fail/uninit/uninit-after-aggregate-assign.rs
  src/tools/miri/tests/fail/uninit/uninit-after-aggregate-assign.stderr
  src/tools/miri/tests/fail/uninit/uninit_alloc_diagnostic.rs
  src/tools/miri/tests/fail/uninit/uninit_alloc_diagnostic.stderr
  src/tools/miri/tests/fail/uninit/uninit_alloc_diagnostic_with_provenance.rs
  src/tools/miri/tests/fail/uninit/uninit_alloc_diagnostic_with_provenance.stderr
  src/tools/miri/tests/fail/uninit/uninit_byte_read.rs
  src/tools/miri/tests/fail/uninit/uninit_byte_read.stderr
  src/tools/miri/tests/fail/validity/invalid_bool_op.rs
  src/tools/miri/tests/fail/validity/invalid_bool_op.stderr
  src/tools/miri/tests/fail/validity/invalid_char_op.rs
  src/tools/miri/tests/fail/validity/invalid_char_op.stderr
  src/tools/miri/tests/fail/validity/invalid_enum_op.rs
  src/tools/miri/tests/fail/validity/invalid_enum_op.stderr
  src/tools/miri/tests/fail/validity/invalid_int_op.rs
  src/tools/miri/tests/fail/validity/invalid_int_op.stderr
  src/tools/miri/tests/pass/concurrency/sync.rs
  src/tools/miri/tests/pass/portable-simd.rs
  src/tools/miri/tests/pass/stacked-borrows/stack-printing.rs
  src/tools/miri/tests/pass/tree_borrows/cell-alternate-writes.rs
  src/tools/miri/tests/pass/tree_borrows/end-of-protector.rs
  src/tools/miri/tests/pass/tree_borrows/formatting.rs
  src/tools/miri/tests/pass/tree_borrows/reborrow-is-read.rs
  src/tools/miri/tests/pass/tree_borrows/reserved.rs
  src/tools/miri/tests/pass/tree_borrows/unique.rs
  src/tools/miri/tests/pass/tree_borrows/vec_unique.rs
Labels: S-waiting-on-bors, merged-by-bors

#118526 Fix ICE: `fn_arg_names: unexpected item DefId(..)`
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/mismatched_types/issue-118510.rs
  tests/ui/mismatched_types/issue-118510.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113730 Report errors in jobserver inherited through environment variables
  Cargo.lock
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_data_structures/src/jobserver.rs
  compiler/rustc_session/src/session.rs
  src/tools/miri/cargo-miri/src/phases.rs
  tests/run-make/jobserver-error/Makefile
  tests/run-make/jobserver-error/cannot_open_fd.stderr
  tests/run-make/jobserver-error/not_a_pipe.stderr
  tests/run-make/jobserver-error/poisoned_pipe.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#117869 [rustdoc] Add highlighting for comments in items declaration
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc-gui/item-decl-comment-highlighting.goml
  tests/rustdoc-gui/sidebar-source-code.goml
  tests/rustdoc-gui/src/proc_macro_test/Cargo.lock
  tests/rustdoc-gui/src/proc_macro_test/Cargo.toml
  tests/rustdoc-gui/src/proc_macro_test/lib.rs
  tests/rustdoc-gui/src/test_docs/lib.rs
  tests/rustdoc/where.SWhere_Simd_item-decl.html
  tests/rustdoc/where.alpha_trait_decl.html
  tests/rustdoc/whitespace-after-where-clause.union.html
  tests/rustdoc/whitespace-after-where-clause.union2.html
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#118495 Restrict what symbols can be used in `#[diagnostic::on_unimplemented]` format strings
  compiler/rustc_trait_selection/messages.ftl
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  tests/ui/diagnostic_namespace/on_unimplemented/do_not_accept_options_of_the_internal_rustc_attribute.rs
  tests/ui/diagnostic_namespace/on_unimplemented/do_not_accept_options_of_the_internal_rustc_attribute.stderr
  tests/ui/diagnostic_namespace/on_unimplemented/do_not_fail_parsing_on_invalid_options_1.rs
  tests/ui/diagnostic_namespace/on_unimplemented/do_not_fail_parsing_on_invalid_options_1.stderr
Labels: T-compiler, S-waiting-on-bors

#118540 codegen, miri: fix computing the offset of an unsized field in a packed struct
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  src/tools/miri/tests/pass/issues/issue-3200-packed-field-offset.rs
  src/tools/miri/tests/pass/issues/issue-3200-packed2-field-offset.rs
  tests/ui/packed/issue-118537-field-offset-ice.rs
  tests/ui/packed/issue-118537-field-offset.rs
Labels: T-compiler, S-waiting-on-bors

#118551 more targeted errors when extern types end up in places they should not
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_ty_utils/src/abi.rs
Labels: T-compiler, S-waiting-on-bors

#118573 rustc: Harmonize `DefKind` and `DefPathData`
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir/src/definitions.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_ty_utils/src/assoc.rs
Labels: T-compiler, S-waiting-on-bors

#118586 Improve example in `slice::windows()` doc
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#118602 Rollup of 5 pull requests
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir/src/definitions.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/messages.ftl
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_ty_utils/src/abi.rs
  compiler/rustc_ty_utils/src/assoc.rs
  library/core/src/slice/mod.rs
  src/tools/miri/tests/pass/issues/issue-3200-packed-field-offset.rs
  src/tools/miri/tests/pass/issues/issue-3200-packed2-field-offset.rs
  tests/ui/diagnostic_namespace/on_unimplemented/do_not_accept_options_of_the_internal_rustc_attribute.rs
  tests/ui/diagnostic_namespace/on_unimplemented/do_not_accept_options_of_the_internal_rustc_attribute.stderr
  tests/ui/diagnostic_namespace/on_unimplemented/do_not_fail_parsing_on_invalid_options_1.rs
  tests/ui/diagnostic_namespace/on_unimplemented/do_not_fail_parsing_on_invalid_options_1.stderr
  tests/ui/packed/issue-118537-field-offset-ice.rs
  tests/ui/packed/issue-118537-field-offset.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#118592 Subtree update of `rust-analyzer`
  src/tools/rust-analyzer/Cargo.lock
  src/tools/rust-analyzer/Cargo.toml
  src/tools/rust-analyzer/crates/hir-def/src/item_tree.rs
  src/tools/rust-analyzer/crates/hir-def/src/item_tree/lower.rs
  src/tools/rust-analyzer/crates/hir-ty/src/infer.rs
  src/tools/rust-analyzer/crates/hir-ty/src/lower.rs
  src/tools/rust-analyzer/crates/hir-ty/src/mir.rs
  src/tools/rust-analyzer/crates/hir-ty/src/mir/lower.rs
  src/tools/rust-analyzer/crates/hir-ty/src/mir/pretty.rs
  src/tools/rust-analyzer/crates/hir-ty/src/tests/patterns.rs
  src/tools/rust-analyzer/crates/hir/src/lib.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/remove_parentheses.rs
  src/tools/rust-analyzer/crates/ide-completion/src/completions/dot.rs
  src/tools/rust-analyzer/crates/ide-completion/src/render.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests/pattern.rs
  src/tools/rust-analyzer/crates/ide-diagnostics/src/handlers/missing_match_arms.rs
  src/tools/rust-analyzer/crates/ide/src/inlay_hints.rs
  src/tools/rust-analyzer/crates/ide/src/inlay_hints/implicit_drop.rs
  src/tools/rust-analyzer/crates/ide/src/static_index.rs
  src/tools/rust-analyzer/crates/parser/src/grammar.rs
  src/tools/rust-analyzer/crates/parser/src/grammar/expressions.rs
  src/tools/rust-analyzer/crates/parser/src/grammar/items.rs
  src/tools/rust-analyzer/crates/parser/test_data/parser/inline/err/0024_comma_after_functional_update_syntax.rast
  src/tools/rust-analyzer/crates/parser/test_data/parser/inline/err/0024_comma_after_functional_update_syntax.rs
  src/tools/rust-analyzer/crates/parser/test_data/parser/inline/err/0024_top_level_let.rast
  src/tools/rust-analyzer/crates/parser/test_data/parser/inline/err/0024_top_level_let.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/cli/analysis_stats.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/config.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/reload.rs
  src/tools/rust-analyzer/crates/test-utils/src/minicore.rs
  src/tools/rust-analyzer/docs/user/generated_config.adoc
  src/tools/rust-analyzer/editors/code/package.json
  src/tools/rust-analyzer/editors/code/src/debug.ts
  src/tools/rust-analyzer/editors/code/src/toolchain.ts
Labels: S-waiting-on-bors, merged-by-bors

#118607 [stable] 1.74.1 release
  RELEASES.md
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/places_conflict.rs
  compiler/rustc_borrowck/src/prefixes.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/value_and_place.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_const_eval/src/util/compare_types.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_dataflow/src/move_paths/abs_domain.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_transform/src/add_subtyping_projections.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/reveal_all.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  library/core/src/mem/mod.rs
  src/tools/cargotest/main.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  src/version
  tests/ui/impl-trait/impl-subtyper.rs
  tests/ui/impl-trait/impl-subtyper2.rs
  tests/ui/type-alias-impl-trait/normalize-alias-type.rs
  tests/ui/type-alias-impl-trait/tait-normalize.rs
  tests/ui/type/subtyping-opaque-type.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, T-release, merged-by-bors, T-libs

#118565 interpret: make numeric_intrinsic accessible from Miri
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
Labels: T-compiler, S-waiting-on-bors

#118591 portable-simd: fix test suite build
  library/portable-simd/crates/core_simd/tests/pointers.rs
Labels: S-waiting-on-bors

#118600 [rustdoc] Don't generate the "Fields" heading if there is no field displayed
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc/enum-variant-fields-heading.rs
  tests/rustdoc/enum-variant-fields-heading.variants.html
Labels: T-rustdoc, S-waiting-on-bors

#118618 Rollup of 4 pull requests
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  library/portable-simd/crates/core_simd/tests/pointers.rs
  src/librustdoc/html/escape.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/highlight/fixtures/dos_line.html
  src/librustdoc/html/highlight/fixtures/sample.html
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc/enum-variant-fields-heading.rs
  tests/rustdoc/enum-variant-fields-heading.variants.html
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#118508 rustdoc: do not escape quotes in body text
  src/librustdoc/html/escape.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/highlight/fixtures/dos_line.html
  src/librustdoc/html/highlight/fixtures/sample.html
Labels: T-rustdoc, S-waiting-on-bors

#117088 generalize: handle occurs check failure in aliases
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/generalize.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  tests/ui/coherence/occurs-check/associated-type.next.stderr
  tests/ui/coherence/occurs-check/associated-type.old.stderr
  tests/ui/coherence/occurs-check/associated-type.rs
  tests/ui/coherence/occurs-check/opaques.next.stderr
  tests/ui/coherence/occurs-check/opaques.rs
  tests/ui/traits/new-solver/equating-projection-cyclically.rs
  tests/ui/traits/new-solver/equating-projection-cyclically.stderr
  tests/ui/traits/new-solver/generalize/occurs-check-nested-alias.next.stderr
  tests/ui/traits/new-solver/generalize/occurs-check-nested-alias.rs
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, S-waiting-on-fcp, to-announce, T-types

#118230 Streamline MIR dataflow cursors
  compiler/rustc_mir_dataflow/src/framework/cursor.rs
  compiler/rustc_mir_dataflow/src/framework/engine.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/mod.rs
  compiler/rustc_mir_dataflow/src/framework/tests.rs
  compiler/rustc_mir_dataflow/src/framework/visitor.rs
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_mir_transform/src/coroutine.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118066 Structured `use` suggestion on privacy error
  compiler/rustc_resolve/src/diagnostics.rs
  tests/ui/imports/issue-55884-2.stderr
  tests/ui/imports/private-std-reexport-suggest-public.fixed
  tests/ui/imports/private-std-reexport-suggest-public.rs
  tests/ui/imports/private-std-reexport-suggest-public.stderr
  tests/ui/privacy/privacy2.stderr
  tests/ui/proc-macro/disappearing-resolution.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118640 Miri subtree update
  src/tools/miri/rust-version
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/src/shims/unix/mem.rs
  src/tools/miri/tests/fail/unaligned_pointers/promise_alignment.rs
  src/tools/miri/tests/fail/unaligned_pointers/promise_alignment_zero.rs
  src/tools/miri/tests/fail/unaligned_pointers/promise_alignment_zero.stderr
  src/tools/miri/tests/pass/align_offset_symbolic.rs
  src/tools/miri/tests/pass/issues/issue-3200-packed-field-offset.rs
  src/tools/miri/tests/pass/issues/issue-3200-packed2-field-offset.rs
  src/tools/miri/tests/pass/portable-simd.rs
Labels: S-waiting-on-bors, merged-by-bors

#118362 make sure panic_nounwind_fmt can still be fully inlined (e.g. for panic_immediate_abort)
  library/core/src/panicking.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#118488 Change prefetch to avoid deadlock
  compiler/rustc_metadata/src/rmeta/encoder.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118637 rustc_symbol_mangling,rustc_interface,rustc_driver_impl: Enforce `rustc::potential_query_instability` lint
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_interface/src/lib.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_symbol_mangling/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#118471 Fix typos in README.md
  README.md
Labels: S-waiting-on-bors, A-meta

#118594 Remove mention of rust to make the error message generic.
  src/librustdoc/html/render/mod.rs
  tests/rustdoc/deprecated-future-staged-api.rs
Labels: T-rustdoc, S-waiting-on-bors

#118598 Remove the `precise_pointer_size_matching` feature gate
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  tests/ui/feature-gates/feature-gate-precise_pointer_size_matching.stderr
  tests/ui/pattern/usefulness/integer-ranges/pointer-sized-int.allow.stderr
  tests/ui/pattern/usefulness/integer-ranges/pointer-sized-int.deny.stderr
  tests/ui/pattern/usefulness/integer-ranges/pointer-sized-int.rs
  tests/ui/pattern/usefulness/integer-ranges/precise_pointer_matching-message.stderr
  tests/ui/pattern/usefulness/issue-85222-types-containing-non-exhaustive-types.stderr
Labels: T-compiler, S-waiting-on-bors

#118606 Fix `x` not to quit after `x` prints `settings.json`
  src/bootstrap/src/core/build_steps/setup.rs
Labels: T-bootstrap, S-waiting-on-bors

#118608 Use default params until effects in desugaring
  compiler/rustc_hir_analysis/src/astconv/generics.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/effect-param-infer.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.stderr
Labels: T-compiler, S-waiting-on-bors

#117922 Tweak unclosed generics errors
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/generics.rs
  tests/ui/generic-associated-types/parse/trait-path-expected-token.stderr
  tests/ui/generic-associated-types/parse/trait-path-expressions.stderr
  tests/ui/generic-associated-types/parse/trait-path-missing-gen_arg.stderr
  tests/ui/generic-associated-types/parse/trait-path-segments.stderr
  tests/ui/generic-associated-types/parse/trait-path-types.stderr
  tests/ui/generics/unclosed-generics-in-impl-def.rs
  tests/ui/generics/unclosed-generics-in-impl-def.stderr
  tests/ui/issues/issue-34334.stderr
  tests/ui/parser/missing-closing-angle-bracket-eq-constraint.stderr
Labels: T-compiler, S-waiting-on-bors

#118457 Add support for `gen fn`
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/late.rs
  src/tools/clippy/clippy_lints/src/doc/needless_doctest_main.rs
  src/tools/clippy/clippy_utils/src/ast_utils.rs
  src/tools/rustfmt/src/closures.rs
  src/tools/rustfmt/src/expr.rs
  src/tools/rustfmt/src/items.rs
  src/tools/rustfmt/src/utils.rs
  tests/ui-fulldeps/pprust-expr-roundtrip.rs
  tests/ui/coroutine/async_gen_fn.rs
  tests/ui/coroutine/async_gen_fn.stderr
  tests/ui/coroutine/gen_fn.e2024.stderr
  tests/ui/coroutine/gen_fn.rs
  tests/ui/coroutine/gen_fn_iter.rs
  tests/ui/coroutine/gen_fn_lifetime_capture.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118273 Split `Vec::dedup_by` into 2 cycles
  library/alloc/benches/vec.rs
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#118547 std: Invert logic for inclusion of `sys_common::net`
  library/std/src/sys_common/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#117072 Use `unwinding` crate for unwinding on Xous platform
  Cargo.lock
  compiler/rustc_target/src/spec/targets/riscv32imac_unknown_xous_elf.rs
  library/panic_unwind/src/lib.rs
  library/std/src/sys/personality/mod.rs
  library/std/src/sys/xous/os.rs
  library/unwind/Cargo.toml
  library/unwind/src/lib.rs
  library/unwind/src/libunwind.rs
  library/unwind/src/unwinding.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#118587 Cleanup error handlers some more
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_codegen_cranelift/src/concurrency_limiter.rs
  compiler/rustc_codegen_gcc/src/errors.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_mir_transform/src/errors.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors

#118642 bootstrap(builder.rs): Don't explicitly warn against `semicolon_in_expressions_from_macros`
  src/bootstrap/src/core/builder.rs
Labels: T-bootstrap, S-waiting-on-bors

#118655 Rollup of 9 pull requests
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_codegen_cranelift/src/concurrency_limiter.rs
  compiler/rustc_codegen_gcc/src/errors.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/astconv/object_safety.rs
  compiler/rustc_hir_analysis/src/coherence/unsafety.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_mir_transform/src/errors.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_query_system/src/lib.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  library/alloc/tests/lib.rs
  library/core/src/cell.rs
  library/core/src/intrinsics.rs
  library/core/src/tuple.rs
  library/core/tests/lib.rs
  library/std/src/sys/unix/os.rs
  src/bootstrap/src/core/builder.rs
  src/tools/rust-analyzer/crates/proc-macro-srv/src/lib.rs
  tests/ui/coherence/normalize-for-errors.current.stderr
  tests/ui/coherence/normalize-for-errors.next.stderr
  tests/ui/coherence/normalize-for-errors.rs
  tests/ui/error-codes/E0401.stderr
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/issue-71955.stderr
  tests/ui/lifetimes/issue-105675.stderr
  tests/ui/lifetimes/issue-79187-2.stderr
  tests/ui/lifetimes/issue-79187.stderr
  tests/ui/lifetimes/lifetime-errors/issue_74400.stderr
  tests/ui/lint/internal_features.rs
  tests/ui/lint/internal_features.stderr
  tests/ui/mismatched_types/closure-mismatch.stderr
  tests/ui/nll/missing-universe-cause-issue-114907.stderr
  tests/ui/parser/recover-hrtb-before-dyn-impl-kw.rs
  tests/ui/parser/recover-hrtb-before-dyn-impl-kw.stderr
  tests/ui/rfcs/rfc-1623-static/rfc1623-2.stderr
  tests/ui/traits/issue-85735.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-query-system, O-unix, WG-trait-system-refactor

#118268 Pretty print `Fn<(..., ...)>` trait refs with parentheses (almost) always
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/astconv/object_safety.rs
  compiler/rustc_hir_analysis/src/coherence/unsafety.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  tests/ui/error-codes/E0401.stderr
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/issue-71955.stderr
  tests/ui/lifetimes/issue-105675.stderr
  tests/ui/lifetimes/issue-79187-2.stderr
  tests/ui/lifetimes/issue-79187.stderr
  tests/ui/lifetimes/lifetime-errors/issue_74400.stderr
  tests/ui/mismatched_types/closure-mismatch.stderr
  tests/ui/nll/missing-universe-cause-issue-114907.stderr
  tests/ui/rfcs/rfc-1623-static/rfc1623-2.stderr
  tests/ui/traits/issue-85735.stderr
Labels: T-compiler, S-waiting-on-bors

#118346 Add `deeply_normalize_for_diagnostics`, use it in coherence
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  tests/ui/coherence/normalize-for-errors.current.stderr
  tests/ui/coherence/normalize-for-errors.next.stderr
  tests/ui/coherence/normalize-for-errors.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#118350 Simplify Default for tuples
  library/core/src/tuple.rs
Labels: S-waiting-on-bors, T-libs

#118450 Use OnceCell in cell module documentation
  library/core/src/cell.rs
Labels: S-waiting-on-bors, T-libs

#118585 Fix parser ICE when recovering `dyn`/`impl` after `for<...>`
  compiler/rustc_parse/src/parser/ty.rs
  tests/ui/parser/recover-hrtb-before-dyn-impl-kw.rs
  tests/ui/parser/recover-hrtb-before-dyn-impl-kw.stderr
Labels: T-compiler, S-waiting-on-bors

#117793 Update variable name to fix `unused_variables` warning
  library/std/src/sys/unix/os.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#118123 Add support for making lib features internal
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_query_system/src/lib.rs
  library/alloc/tests/lib.rs
  library/core/src/intrinsics.rs
  library/core/tests/lib.rs
  src/tools/rust-analyzer/crates/proc-macro-srv/src/lib.rs
  tests/ui/lint/internal_features.rs
  tests/ui/lint/internal_features.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, A-query-system

#118650 add comment about keeping flags in sync between bootstrap.py and bootstrap.rs
  src/bootstrap/bootstrap.py
Labels: T-bootstrap, S-waiting-on-bors

#118664 docs: remove #110800 from release notes
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#118669 library: fix comment about const assert in win api
  library/std/src/sys/windows/api.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#118679 Rollup of 7 pull requests
  RELEASES.md
  compiler/rustc_smir/src/rustc_internal/internal.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/rustc_smir/src/rustc_smir/convert/mod.rs
  compiler/rustc_smir/src/rustc_smir/convert/ty.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/riscv32imafc_unknown_none_elf.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/error.rs
  compiler/stable_mir/src/mir/body.rs
  compiler/stable_mir/src/mir/visit.rs
  compiler/stable_mir/src/ty.rs
  library/alloc/src/boxed.rs
  library/std/src/sys/windows/api.rs
  src/bootstrap/bootstrap.py
  src/ci/docker/host-x86_64/dist-various-1/Dockerfile
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv32i-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32im-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32imac-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32imafc-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32imc-unknown-none-elf.md
  src/tools/build-manifest/src/main.rs
  tests/ui-fulldeps/stable-mir/check_ty_fold.rs
  tests/ui/traits/question-mark-result-err-mismatch.rs
  tests/ui/traits/question-mark-result-err-mismatch.stderr
  tests/ui/try-block/try-block-bad-type.stderr
  tests/ui/try-trait/bad-interconversion.stderr
  tests/ui/try-trait/issue-32709.stderr
Labels: A-testsuite, O-windows, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, T-release, merged-by-bors, rollup, T-libs

#117874 `riscv32` platform support
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/riscv32imafc_unknown_none_elf.rs
  src/ci/docker/host-x86_64/dist-various-1/Dockerfile
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv32i-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32im-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32imac-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32imafc-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32imc-unknown-none-elf.md
  src/tools/build-manifest/src/main.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra

#117563 docs: clarify explicitly freeing heap allocated memory
  library/alloc/src/boxed.rs
Labels: S-waiting-on-bors, T-libs

#116496 Provide context when `?` can't be called because of `Result<_, E>`
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui/traits/question-mark-result-err-mismatch.rs
  tests/ui/traits/question-mark-result-err-mismatch.stderr
  tests/ui/try-block/try-block-bad-type.stderr
  tests/ui/try-trait/bad-interconversion.stderr
  tests/ui/try-trait/issue-32709.stderr
Labels: T-compiler, S-waiting-on-bors

#118504 Enforce `must_use` on associated types and RPITITs that have a must-use trait in bounds
  compiler/rustc_lint/src/unused.rs
  tests/ui/lint/unused/assoc-types.assoc_ty.stderr
  tests/ui/lint/unused/assoc-types.rpitit.stderr
  tests/ui/lint/unused/assoc-types.rs
Labels: T-compiler, S-waiting-on-bors

#118660 rustc_arena: add `alloc_str`
  compiler/rustc_arena/src/lib.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_span/src/symbol.rs
Labels: T-compiler, S-waiting-on-bors

#118681 Fix is_foreign_item for StableMIR instance
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/lib.rs
  compiler/stable_mir/src/mir/mono.rs
  tests/ui-fulldeps/stable-mir/check_instance.rs
Labels: T-compiler, S-waiting-on-bors

#118687 Rollup of 6 pull requests
  compiler/rustc_arena/src/lib.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_llvm/build.rs
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_llvm/llvm-wrapper/Linker.cpp
  compiler/rustc_llvm/llvm-wrapper/SuppressLLVMWarnings.h
  compiler/rustc_llvm/llvm-wrapper/SymbolWrapper.cpp
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_span/src/symbol.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/lib.rs
  compiler/stable_mir/src/mir/mono.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/doc/unstable-book/src/compiler-flags/check-cfg.md
  tests/ui-fulldeps/stable-mir/check_instance.rs
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names-values.rs
  tests/ui/check-cfg/exhaustive-names.rs
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/exhaustive-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-values.empty_values.stderr
  tests/ui/check-cfg/exhaustive-values.rs
  tests/ui/check-cfg/exhaustive-values.without_names.stderr
  tests/ui/check-cfg/invalid-arguments.names_simple_ident.stderr
  tests/ui/check-cfg/invalid-arguments.rs
  tests/ui/check-cfg/invalid-arguments.values_simple_ident.stderr
  tests/ui/check-cfg/invalid-arguments.values_string_literals.stderr
  tests/ui/check-cfg/mix.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/no-expected-values.empty.stderr
  tests/ui/check-cfg/no-expected-values.mixed.stderr
  tests/ui/check-cfg/no-expected-values.rs
  tests/ui/check-cfg/no-expected-values.simple.stderr
  tests/ui/check-cfg/no-expected-values.values.stderr
  tests/ui/check-cfg/order-independant.names_after.stderr
  tests/ui/check-cfg/order-independant.names_before.stderr
  tests/ui/check-cfg/order-independant.rs
  tests/ui/check-cfg/order-independant.values_after.stderr
  tests/ui/check-cfg/order-independant.values_before.stderr
  tests/ui/check-cfg/unexpected-cfg-name.names.stderr
  tests/ui/check-cfg/unexpected-cfg-name.rs
  tests/ui/check-cfg/unexpected-cfg-name.stderr
  tests/ui/check-cfg/unexpected-cfg-value.rs
  tests/ui/check-cfg/unexpected-cfg-value.stderr
  tests/ui/check-cfg/values-target-json.rs
  tests/ui/feature-gates/feature-gate-check-cfg.rs
  tests/ui/lint/unused/assoc-types.assoc_ty.stderr
  tests/ui/lint/unused/assoc-types.rpitit.stderr
  tests/ui/lint/unused/assoc-types.rs
  tests/ui/resolve/issue-118295.rs
  tests/ui/resolve/issue-118295.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#117981 Remove deprecated `--check-cfg` syntax
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_llvm/build.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/doc/unstable-book/src/compiler-flags/check-cfg.md
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names-values.rs
  tests/ui/check-cfg/exhaustive-names.rs
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/exhaustive-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-values.empty_values.stderr
  tests/ui/check-cfg/exhaustive-values.rs
  tests/ui/check-cfg/exhaustive-values.without_names.stderr
  tests/ui/check-cfg/invalid-arguments.names_simple_ident.stderr
  tests/ui/check-cfg/invalid-arguments.rs
  tests/ui/check-cfg/invalid-arguments.values_simple_ident.stderr
  tests/ui/check-cfg/invalid-arguments.values_string_literals.stderr
  tests/ui/check-cfg/mix.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/no-expected-values.empty.stderr
  tests/ui/check-cfg/no-expected-values.mixed.stderr
  tests/ui/check-cfg/no-expected-values.rs
  tests/ui/check-cfg/no-expected-values.simple.stderr
  tests/ui/check-cfg/no-expected-values.values.stderr
  tests/ui/check-cfg/order-independant.names_after.stderr
  tests/ui/check-cfg/order-independant.names_before.stderr
  tests/ui/check-cfg/order-independant.rs
  tests/ui/check-cfg/order-independant.values_after.stderr
  tests/ui/check-cfg/order-independant.values_before.stderr
  tests/ui/check-cfg/unexpected-cfg-name.names.stderr
  tests/ui/check-cfg/unexpected-cfg-name.rs
  tests/ui/check-cfg/unexpected-cfg-name.stderr
  tests/ui/check-cfg/unexpected-cfg-value.rs
  tests/ui/check-cfg/unexpected-cfg-value.stderr
  tests/ui/check-cfg/values-target-json.rs
  tests/ui/feature-gates/feature-gate-check-cfg.rs
Labels: T-compiler, S-waiting-on-bors

#118177 Suppress warnings in LLVM wrapper when targeting MSVC
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_llvm/llvm-wrapper/Linker.cpp
  compiler/rustc_llvm/llvm-wrapper/SuppressLLVMWarnings.h
  compiler/rustc_llvm/llvm-wrapper/SymbolWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#118317 tip for define macro name after `macro_rules!`
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  tests/ui/resolve/issue-118295.rs
  tests/ui/resolve/issue-118295.stderr
Labels: T-compiler, S-waiting-on-bors

#118684 Remove `PolyGenSig` since it's always a dummy binder
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_ty_utils/src/abi.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-types

#116565 add teeos std impl
  compiler/rustc_target/src/spec/targets/aarch64_unknown_teeos.rs
  library/panic_abort/src/lib.rs
  library/std/build.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/teeos/alloc.rs
  library/std/src/sys/teeos/locks/condvar.rs
  library/std/src/sys/teeos/locks/mod.rs
  library/std/src/sys/teeos/locks/rwlock.rs
  library/std/src/sys/teeos/mod.rs
  library/std/src/sys/teeos/net.rs
  library/std/src/sys/teeos/os.rs
  library/std/src/sys/teeos/rand.rs
  library/std/src/sys/teeos/stdio.rs
  library/std/src/sys/teeos/thread.rs
  library/std/src/sys/teeos/thread_local_dtor.rs
  library/std/src/sys/unix/time.rs
  library/std/src/thread/mod.rs
  src/doc/rustc/src/platform-support/aarch64-unknown-teeos.md
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-unix

#118685 `EvaluatedToUnknown` -> `EvaluatedToAmbigStackDependent`, `EvaluatedToRecur` -> `EvaluatedToErrStackDependent`
  compiler/rustc_middle/src/traits/select.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118463 Re-enable `rustc_codegen_gcc` tests in CI
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-16/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-17/Dockerfile
  src/ci/docker/run.sh
  src/ci/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#118635 Fewer early errors
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/messages.ftl
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/session.rs
  tests/run-make/jobserver-error/cannot_open_fd.stderr
  tests/run-make/jobserver-error/not_a_pipe.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118706 Fix `rustc_codegen_gcc` build and tests failure in CI
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/example/std_example.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118688 Add method to get type of an Rvalue in StableMIR
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/mir/body.rs
  compiler/stable_mir/src/mir/mono.rs
  compiler/stable_mir/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#118707 Ping GuillaumeGomez for changes in rustc_codegen_gcc
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#118712 targets: remove not-added {i386,i486}-unknown-linux-gnu
  compiler/rustc_target/src/spec/targets/i386_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/i486_unknown_linux_gnu.rs
Labels: T-compiler, S-waiting-on-bors

#118719 CFI: Add char to CFI integer normalization
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  tests/codegen/sanitizer/cfi-normalize-integers.rs
Labels: S-waiting-on-bors, PG-exploit-mitigations

#118723 Rollup of 6 pull requests
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_target/src/spec/targets/i386_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/i486_unknown_linux_gnu.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/mir/body.rs
  compiler/stable_mir/src/mir/mono.rs
  compiler/stable_mir/src/ty.rs
  tests/codegen/sanitizer/cfi-normalize-integers.rs
  tests/ui/extern/issue-116203.rs
  tests/ui/extern/issue-116203.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#118710 avoid instantiating infer vars with infer
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/type_variable.rs
Labels: T-compiler, S-waiting-on-bors

#118725 split `NormalizesTo` out of `Projection` 3
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/type_variable.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_smir/src/rustc_smir/convert/ty.rs
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/canonicalize.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/inherent.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/mod.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/opaques.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/weak_types.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/structural_normalize.rs
  compiler/rustc_traits/src/normalize_erasing_regions.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/predicate_kind.rs
  tests/ui/traits/new-solver/alias-bound-unsound.rs
  tests/ui/traits/new-solver/alias-bound-unsound.stderr
  tests/ui/traits/new-solver/generalize/generalize-proj-new-universe-index-2.rs
  tests/ui/traits/new-solver/generalize/occurs-check-nested-alias.next.stderr
  tests/ui/traits/new-solver/generalize/occurs-check-nested-alias.rs
  tests/ui/traits/new-solver/projection/param-env-trait-candidate-1.rs
  tests/ui/traits/new-solver/projection/param-env-trait-candidate-2.rs
  tests/ui/traits/new-solver/specialization-transmute.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#118301 docs: publish nightly doc for `rustfix`
  src/bootstrap/src/core/build_steps/doc.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#118505 Elaborate on ip_addr bit conversion endianness
  library/core/src/net/ip_addr.rs
Labels: S-waiting-on-bors, T-libs

#118677 [rustdoc] Fix display of features
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/item-info.goml
  tests/rustdoc-gui/src/lib2/Cargo.toml
  tests/rustdoc-gui/src/lib2/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#118690 coverage: Avoid unnecessary macros in unit tests
  Cargo.lock
  compiler/rustc_mir_transform/Cargo.toml
  compiler/rustc_mir_transform/src/coverage/test_macros/Cargo.toml
  compiler/rustc_mir_transform/src/coverage/test_macros/src/lib.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#118693 Tell MirUsedCollector that the pointer alignment checks calls its panic symbol
  compiler/rustc_monomorphize/src/collector.rs
Labels: T-compiler, S-waiting-on-bors

#118695 coverage: Merge refined spans in a separate final pass
  compiler/rustc_mir_transform/src/coverage/spans.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#118709 fix jobserver GLOBAL_CLIENT_CHECKED uninitialized before use
  compiler/rustc_data_structures/src/jobserver.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/session.rs
  tests/run-make/jobserver-error/cannot_open_fd.stderr
  tests/run-make/jobserver-error/not_a_pipe.stderr
Labels: T-compiler, S-waiting-on-bors

#118722 rustdoc: remove unused parameter `reversed` from onEach(Lazy)
  src/librustdoc/html/static/js/storage.js
Labels: T-rustdoc, S-waiting-on-bors

#118732 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_data_structures/src/jobserver.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_mir_transform/Cargo.toml
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/test_macros/Cargo.toml
  compiler/rustc_mir_transform/src/coverage/test_macros/src/lib.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_session/src/session.rs
  library/core/src/net/ip_addr.rs
  library/std/src/sync/once_lock.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/storage.js
  tests/run-make/jobserver-error/cannot_open_fd.stderr
  tests/run-make/jobserver-error/not_a_pipe.stderr
  tests/rustdoc-gui/item-info.goml
  tests/rustdoc-gui/src/lib2/Cargo.toml
  tests/rustdoc-gui/src/lib2/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#118668 Resolve associated item bindings by namespace
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/astconv/bounds.rs
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/errors.rs
  tests/ui/associated-consts/assoc-const-eq-ambiguity.rs
  tests/ui/associated-consts/assoc-const-eq-ambiguity.stderr
  tests/ui/associated-consts/assoc-const-eq-missing.rs
  tests/ui/associated-consts/assoc-const-eq-missing.stderr
  tests/ui/associated-consts/assoc-const-eq-ty-alias-noninteracting.rs
  tests/ui/associated-consts/assoc-const-ty-mismatch.rs
  tests/ui/associated-consts/assoc-const-ty-mismatch.stderr
  tests/ui/associated-consts/shadowed-const.rs
  tests/ui/associated-consts/shadowed-const.stderr
  tests/ui/associated-type-bounds/consts.rs
  tests/ui/associated-type-bounds/consts.stderr
  tests/ui/associated-type-bounds/issue-99828.rs
  tests/ui/associated-type-bounds/issue-99828.stderr
  tests/ui/associated-type-bounds/return-type-notation/missing.rs
  tests/ui/associated-type-bounds/return-type-notation/missing.stderr
  tests/ui/async-await/return-type-notation/super-method-bound-ambig.rs
  tests/ui/async-await/return-type-notation/super-method-bound-ambig.stderr
  tests/ui/const-generics/assoc_const_eq_diagnostic.rs
  tests/ui/const-generics/assoc_const_eq_diagnostic.stderr
  tests/ui/error-codes/E0221.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.cfg.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118689 Fix const drop checking
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/post_drop_elaboration.rs
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/ui/consts/precise-drop-with-promoted.rs
  tests/ui/consts/precise-drop-with-promoted.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118527 never_patterns: Parse match arms with no body
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_expand/messages.ftl
  compiler/rustc_expand/src/build.rs
  compiler/rustc_expand/src/errors.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/placeholders.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_resolve/src/late.rs
  src/tools/clippy/clippy_lints/src/non_expressive_names.rs
  src/tools/clippy/clippy_lints/src/redundant_else.rs
  src/tools/clippy/clippy_utils/src/ast_utils.rs
  src/tools/rustfmt/src/matches.rs
  src/tools/rustfmt/src/spanned.rs
  tests/ui/feature-gates/feature-gate-never_patterns.rs
  tests/ui/feature-gates/feature-gate-never_patterns.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions1.rs
  tests/ui/half-open-range-patterns/range_pat_interactions1.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions2.rs
  tests/ui/half-open-range-patterns/range_pat_interactions2.stderr
  tests/ui/parser/attribute/attr-stmt-expr-attr-bad.rs
  tests/ui/parser/attribute/attr-stmt-expr-attr-bad.stderr
  tests/ui/parser/issues/issue-24375.rs
  tests/ui/parser/issues/issue-24375.stderr
  tests/ui/parser/macro/macro-expand-to-match-arm.rs
  tests/ui/parser/macro/macro-expand-to-match-arm.stderr
  tests/ui/parser/match-arm-without-body.rs
  tests/ui/parser/match-arm-without-body.stderr
  tests/ui/parser/pat-lt-bracket-1.rs
  tests/ui/parser/pat-lt-bracket-1.stderr
  tests/ui/pattern/never_patterns.rs
  tests/ui/rfcs/rfc-0000-never_patterns/check.rs
  tests/ui/rfcs/rfc-0000-never_patterns/check.stderr
  tests/ui/rfcs/rfc-0000-never_patterns/parse.rs
  tests/ui/rfcs/rfc-0000-never_patterns/parse.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117681 Explicitly implement `DynSync` and `DynSend` for `TyCtxt`
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118502 fix: correct the arg for 'suggest to use associated function syntax' diagnostic
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.fixed
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.rs
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.stderr
Labels: T-compiler, S-waiting-on-bors

#118694 Add instance evaluation and methods to read an allocation in StableMIR
  Cargo.lock
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/rustc_smir/alloc.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/convert/error.rs
  compiler/rustc_smir/src/rustc_smir/convert/mod.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/error.rs
  compiler/stable_mir/src/lib.rs
  compiler/stable_mir/src/mir/alloc.rs
  compiler/stable_mir/src/mir/body.rs
  compiler/stable_mir/src/mir/mono.rs
  compiler/stable_mir/src/target.rs
  compiler/stable_mir/src/ty.rs
  tests/ui-fulldeps/stable-mir/check_allocation.rs
Labels: T-compiler, S-waiting-on-bors

#118715 privacy: visit trait def id of projections
  compiler/rustc_privacy/src/lib.rs
  tests/ui/privacy/auxiliary/issue-117997.rs
  tests/ui/privacy/issue-117997.rs
  tests/ui/privacy/private-in-public.rs
  tests/ui/privacy/private-in-public.stderr
Labels: T-compiler, S-waiting-on-bors

#118730 recurse into refs when comparing tys for diagnostics
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  tests/ui/associated-consts/associated-const-impl-wrong-lifetime.stderr
  tests/ui/associated-types/dont-suggest-cyclic-constraint.stderr
  tests/ui/async-await/in-trait/async-example-desugared-boxed-in-trait.stderr
  tests/ui/borrowck/regions-bound-missing-bound-in-impl.stderr
  tests/ui/box/issue-82446.stderr
  tests/ui/closure-expected-type/expect-fn-supply-fn.stderr
  tests/ui/closures/multiple-fn-bounds.stderr
  tests/ui/fn/fn-pointer-mismatch.rs
  tests/ui/fn/fn-pointer-mismatch.stderr
  tests/ui/generic-associated-types/issue-88360.stderr
  tests/ui/higher-ranked/subtype/hr-subtype.bound_a_b_ret_a_vs_bound_a_ret_a.stderr
  tests/ui/higher-ranked/subtype/hr-subtype.bound_a_vs_free_x.stderr
  tests/ui/higher-ranked/trait-bounds/hrtb-exists-forall-fn.stderr
  tests/ui/impl-trait/in-trait/specialization-broken.stderr
  tests/ui/impl-trait/recursive-type-alias-impl-trait-declaration-too-subtle.stderr
  tests/ui/implied-bounds/issue-100690.stderr
  tests/ui/issues/issue-17905-2.stderr
  tests/ui/issues/issue-20225.stderr
  tests/ui/issues/issue-24322.stderr
  tests/ui/issues/issue-37884.stderr
  tests/ui/let-else/let-else-binding-explicit-mut-annotated.stderr
  tests/ui/lifetimes/issue-79187-2.stderr
  tests/ui/lub-glb/old-lub-glb-hr-noteq1.leak.stderr
  tests/ui/lub-glb/old-lub-glb-hr-noteq1.noleak.stderr
  tests/ui/lub-glb/old-lub-glb-hr-noteq2.leak.stderr
  tests/ui/mir/field-projection-mutating-context.stderr
  tests/ui/mismatched_types/closure-arg-type-mismatch.stderr
  tests/ui/mismatched_types/issue-36053-2.stderr
  tests/ui/mismatched_types/normalize-fn-sig.stderr
  tests/ui/moves/assignment-of-clone-call-on-ref-due-to-missing-bound.stderr
  tests/ui/nll/relate_tys/hr-fn-aaa-as-aba.stderr
  tests/ui/nll/relate_tys/universe-violation.stderr
  tests/ui/nll/trait-associated-constant.stderr
  tests/ui/or-patterns/inconsistent-modes.stderr
  tests/ui/range/issue-73553-misinterp-range-literal.stderr
  tests/ui/regions/issue-101280.stderr
  tests/ui/regions/region-lifetime-bounds-on-fns-where-clause.stderr
  tests/ui/regions/region-multiple-lifetime-bounds-on-fns-where-clause.stderr
  tests/ui/regions/regions-lifetime-bounds-on-fns.stderr
  tests/ui/resolve/resolve-inconsistent-binding-mode.stderr
  tests/ui/rfcs/rfc-2005-default-binding-mode/lit.stderr
  tests/ui/rfcs/rfc-2528-type-changing-struct-update/issue-92010-trait-bound-not-satisfied.stderr
  tests/ui/static/static-reference-to-fn-1.stderr
  tests/ui/suggestions/as-ref.stderr
  tests/ui/suggestions/clone-on-unconstrained-borrowed-type-param.stderr
  tests/ui/suggestions/method-access-to-range-literal-typo.stderr
  tests/ui/suggestions/mut-ref-reassignment.stderr
  tests/ui/traits/impl-method-mismatch.stderr
  tests/ui/traits/wrong-mul-method-signature.stderr
  tests/ui/type/type-check/point-at-inference-2.stderr
  tests/ui/type/type-mismatch.stderr
  tests/ui/typeck/bad-index-due-to-nested.stderr
  tests/ui/typeck/mismatched-map-under-self.stderr
  tests/ui/ufcs/ufcs-explicit-self-bad.rs
  tests/ui/ufcs/ufcs-explicit-self-bad.stderr
  tests/ui/unsafe/unsafe-trait-impl.rs
  tests/ui/unsafe/unsafe-trait-impl.stderr
Labels: T-compiler, S-waiting-on-bors

#118736 temporarily revert "ice on ambguity in mir typeck"
  compiler/rustc_trait_selection/src/traits/query/type_op/mod.rs
  tests/ui/wf/unnormalized-projection-guides-inference.rs
Labels: T-compiler, S-waiting-on-bors

#117586 Uplift the (new solver) canonicalizer into `rustc_next_trait_solver`
  Cargo.lock
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_next_trait_solver/Cargo.toml
  compiler/rustc_next_trait_solver/src/canonicalizer.rs
  compiler/rustc_next_trait_solver/src/lib.rs
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_type_ir/src/canonical.rs
  compiler/rustc_type_ir/src/const_kind.rs
  compiler/rustc_type_ir/src/debug.rs
  compiler/rustc_type_ir/src/infcx.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/ty_kind.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system, WG-trait-system-refactor

#114136 add LinkedList::{retain,retain_mut}
  library/alloc/src/collections/linked_list.rs
Labels: S-waiting-on-author, merged-by-bors, T-libs

#117873 Add emulated TLS support
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_llvm/src/back/owned_target_machine.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_target/src/spec/base/android.rs
  compiler/rustc_target/src/spec/base/linux_ohos.rs
  compiler/rustc_target/src/spec/base/openbsd.rs
  compiler/rustc_target/src/spec/mod.rs
  library/std/src/sys/unix/thread_local_dtor.rs
  src/doc/unstable-book/src/compiler-flags/tls-model.md
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs, O-unix

#118150 Add new targets {x86_64,i686}-win7-windows-msvc
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/i686_win7_windows_msvc.rs
  compiler/rustc_target/src/spec/targets/x86_64_win7_windows_msvc.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/win7-windows-msvc.md
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118762 Some more minor `async gen`-related nits
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
Labels: T-compiler, S-waiting-on-bors

#118771 Rollup of 7 pull requests
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_mir_build/src/build/cfg.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/tools/tidy/src/main.rs
  tests/coverage/if_not.cov-map
  tests/coverage/if_not.coverage
  tests/coverage/if_not.rs
  tests/coverage/lazy_boolean.cov-map
  tests/coverage/lazy_boolean.coverage
  tests/coverage/no_spans.cov-map
  tests/coverage/no_spans.coverage
  tests/coverage/no_spans.rs
  tests/ui/abi/riscv-discoverability-guidance.rs
  tests/ui/coroutine/async_gen_fn_iter.rs
  tests/ui/implied-bounds/auxiliary/bevy_ecs.rs
  tests/ui/implied-bounds/bevy_world_query.rs
  tests/ui/implied-bounds/from-trait-impl.rs
  tests/ui/implied-bounds/gluon_salsa.rs
  tests/ui/implied-bounds/normalization-nested.lifetime.stderr
  tests/ui/implied-bounds/normalization-nested.rs
  tests/ui/implied-bounds/normalization-preserve-equality.borrowck.stderr
  tests/ui/implied-bounds/normalization-preserve-equality.rs
  tests/ui/implied-bounds/sod_service_chain.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#118512 Add tests related to normalization in implied bounds
  tests/ui/implied-bounds/auxiliary/bevy_ecs.rs
  tests/ui/implied-bounds/bevy_world_query.rs
  tests/ui/implied-bounds/from-trait-impl.rs
  tests/ui/implied-bounds/gluon_salsa.rs
  tests/ui/implied-bounds/normalization-nested.lifetime.stderr
  tests/ui/implied-bounds/normalization-nested.rs
  tests/ui/implied-bounds/normalization-preserve-equality.borrowck.stderr
  tests/ui/implied-bounds/normalization-preserve-equality.rs
  tests/ui/implied-bounds/sod_service_chain.rs
Labels: T-compiler, S-waiting-on-bors

#118610 update target feature following LLVM API change
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  tests/ui/abi/riscv-discoverability-guidance.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#118666 coverage: Simplify the heuristic for ignoring `async fn` return spans
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  tests/coverage/no_spans.cov-map
  tests/coverage/no_spans.coverage
  tests/coverage/no_spans.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#118737 Extend tidy alphabetical checking to `tests/`.
  src/tools/tidy/src/main.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#118764 Make async generators fused by default
  compiler/rustc_mir_transform/src/coroutine.rs
  tests/ui/coroutine/async_gen_fn_iter.rs
Labels: T-compiler, S-waiting-on-bors

#118198 coverage: Use `SpanMarker` to improve coverage spans for `if !` expressions
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_mir_build/src/build/cfg.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  tests/coverage/if_not.cov-map
  tests/coverage/if_not.coverage
  tests/coverage/if_not.rs
  tests/coverage/lazy_boolean.cov-map
  tests/coverage/lazy_boolean.coverage
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#116170 Don't include destruction scopes in THIR
  compiler/rustc_middle/src/middle/region.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/build/block.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_build/src/thir/cx/block.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/print.rs
  tests/ui/thir-print/thir-flat-const-variant.stdout
  tests/ui/thir-print/thir-flat.stdout
  tests/ui/thir-print/thir-tree-match.stdout
  tests/ui/thir-print/thir-tree.stdout
Labels: T-lang, T-compiler, S-waiting-on-bors, merged-by-bors

#118638 More `rustc_mir_dataflow` cleanups
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/mod.rs
  compiler/rustc_mir_dataflow/src/framework/visitor.rs
  compiler/rustc_mir_dataflow/src/impls/borrowed_locals.rs
  compiler/rustc_mir_dataflow/src/impls/initialized.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
Labels: T-compiler, S-waiting-on-bors

#118702 Strengthen well known check-cfg names and values test
  compiler/rustc_session/src/config.rs
  tests/ui/check-cfg/compact-values.rs
  tests/ui/check-cfg/compact-values.stderr
  tests/ui/check-cfg/values-target-json.rs
  tests/ui/check-cfg/values-target-json.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors

#118734 Unescaping cleanups
  compiler/rustc_lexer/src/unescape.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.rs
Labels: T-compiler, S-waiting-on-bors

#118766 Lower some forgotten spans
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#118780 Rollup of 6 pull requests
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_lexer/src/unescape.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/mod.rs
  compiler/rustc_mir_dataflow/src/framework/visitor.rs
  compiler/rustc_mir_dataflow/src/impls/borrowed_locals.rs
  compiler/rustc_mir_dataflow/src/impls/initialized.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_span/src/symbol.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-masked-load.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-masked-store.rs
  tests/ui/check-cfg/compact-values.rs
  tests/ui/check-cfg/compact-values.stderr
  tests/ui/check-cfg/values-target-json.rs
  tests/ui/check-cfg/values-target-json.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/macros/issue-118048.rs
  tests/ui/macros/issue-118048.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.rs
  tests/ui/simd/masked-load-store-build-fail.rs
  tests/ui/simd/masked-load-store-build-fail.stderr
  tests/ui/simd/masked-load-store-check-fail.rs
  tests/ui/simd/masked-load-store-check-fail.stderr
  tests/ui/simd/masked-load-store.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#117953 Add more SIMD platform-intrinsics
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_span/src/symbol.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-masked-load.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-masked-store.rs
  tests/ui/simd/masked-load-store-build-fail.rs
  tests/ui/simd/masked-load-store-build-fail.stderr
  tests/ui/simd/masked-load-store-check-fail.rs
  tests/ui/simd/masked-load-store-check-fail.stderr
  tests/ui/simd/masked-load-store.rs
Labels: T-compiler, S-waiting-on-bors

#118057 dedup for duplicate suggestions
  compiler/rustc_errors/src/diagnostic.rs
  tests/ui/macros/issue-118048.rs
  tests/ui/macros/issue-118048.stderr
Labels: T-compiler, S-waiting-on-bors

#117771 Build Fuchsia in CI
  .github/workflows/ci.yml
  src/bootstrap/src/core/build_steps/compile.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-integration/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-integration/build-fuchsia.sh
  src/ci/docker/scripts/build-fuchsia-toolchain.sh
  src/ci/docker/scripts/shared.sh
  src/ci/github-actions/ci.yml
  src/ci/shared.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#118308 Don't warn an empty pattern unreachable if we're not sure the data is valid
  compiler/rustc_middle/src/ty/inhabitedness/inhabited_predicate.rs
  compiler/rustc_middle/src/ty/inhabitedness/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
  tests/ui/pattern/usefulness/empty-match-check-notes.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/empty-match-check-notes.normal.stderr
  tests/ui/pattern/usefulness/empty-match-check-notes.rs
  tests/ui/pattern/usefulness/empty-match.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/empty-match.normal.stderr
  tests/ui/pattern/usefulness/empty-match.rs
  tests/ui/pattern/usefulness/empty-types.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/empty-types.normal.stderr
  tests/ui/pattern/usefulness/empty-types.rs
  tests/ui/pattern/usefulness/slice_of_empty.rs
  tests/ui/pattern/usefulness/slice_of_empty.stderr
  tests/ui/uninhabited/uninhabited-patterns.rs
  tests/ui/uninhabited/uninhabited-patterns.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#118069 allow bypassing the build directory lock
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/flags.rs
  src/etc/completions/x.py.fish
  src/etc/completions/x.py.ps1
  src/etc/completions/x.py.sh
  src/etc/completions/x.py.zsh
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#118747 Remove extra check cfg handled by libc directly
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#118774 add test for inductive cycle hangs
  tests/ui/traits/new-solver/cycles/coinduction/fixpoint-exponential-growth.rs
  tests/ui/traits/new-solver/cycles/coinduction/fixpoint-exponential-growth.stderr
  tests/ui/traits/new-solver/cycles/inductive-fixpoint-hang.rs
  tests/ui/traits/new-solver/cycles/inductive-fixpoint-hang.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#118775 chore: add test case for type with generic
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.fixed
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.rs
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.stderr
Labels: T-compiler, S-waiting-on-bors

#118782 use `&` instead of start-process in x.ps1
  x.ps1
Labels: T-bootstrap, S-waiting-on-bors

#118787 Rollup of 5 pull requests
  config.example.toml
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.fixed
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.rs
  tests/ui/suggestions/suggest-assoc-fn-call-without-receiver.stderr
  tests/ui/traits/new-solver/cycles/coinduction/fixpoint-exponential-growth.rs
  tests/ui/traits/new-solver/cycles/coinduction/fixpoint-exponential-growth.stderr
  tests/ui/traits/new-solver/cycles/inductive-fixpoint-hang.rs
  tests/ui/traits/new-solver/cycles/inductive-fixpoint-hang.stderr
  x.ps1
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#117966 add safe compilation options
  config.example.toml
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#118550 Add FileCheck annotations to const_prop tests
  tests/mir-opt/const_prop/address_of_pair.rs
  tests/mir-opt/const_prop/aggregate.foo.PreCodegen.after.panic-abort.mir
  tests/mir-opt/const_prop/aggregate.foo.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/const_prop/aggregate.main.PreCodegen.after.panic-abort.mir
  tests/mir-opt/const_prop/aggregate.main.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/const_prop/aggregate.rs
  tests/mir-opt/const_prop/array_index.rs
  tests/mir-opt/const_prop/bad_op_div_by_zero.rs
  tests/mir-opt/const_prop/bad_op_mod_by_zero.rs
  tests/mir-opt/const_prop/bad_op_unsafe_oob_for_slices.rs
  tests/mir-opt/const_prop/boolean_identities.rs
  tests/mir-opt/const_prop/boolean_identities.test.ConstProp.diff
  tests/mir-opt/const_prop/boxes.rs
  tests/mir-opt/const_prop/cast.rs
  tests/mir-opt/const_prop/checked_add.rs
  tests/mir-opt/const_prop/const_prop_fails_gracefully.rs
  tests/mir-opt/const_prop/discriminant.rs
  tests/mir-opt/const_prop/indirect.rs
  tests/mir-opt/const_prop/inherit_overflow.rs
  tests/mir-opt/const_prop/issue_66971.main.ConstProp.panic-abort.diff
  tests/mir-opt/const_prop/issue_66971.main.ConstProp.panic-unwind.diff
  tests/mir-opt/const_prop/issue_66971.rs
  tests/mir-opt/const_prop/issue_67019.main.ConstProp.panic-abort.diff
  tests/mir-opt/const_prop/issue_67019.main.ConstProp.panic-unwind.diff
  tests/mir-opt/const_prop/issue_67019.rs
  tests/mir-opt/const_prop/mult_by_zero.rs
  tests/mir-opt/const_prop/mutable_variable.rs
  tests/mir-opt/const_prop/mutable_variable_aggregate.rs
  tests/mir-opt/const_prop/mutable_variable_aggregate_mut_ref.rs
  tests/mir-opt/const_prop/mutable_variable_aggregate_partial_read.rs
  tests/mir-opt/const_prop/mutable_variable_no_prop.rs
  tests/mir-opt/const_prop/mutable_variable_unprop_assign.rs
  tests/mir-opt/const_prop/pointer_expose_address.main.ConstProp.panic-abort.diff
  tests/mir-opt/const_prop/pointer_expose_address.main.ConstProp.panic-unwind.diff
  tests/mir-opt/const_prop/pointer_expose_address.rs
  tests/mir-opt/const_prop/read_immutable_static.rs
  tests/mir-opt/const_prop/ref_deref.main.ConstProp.diff
  tests/mir-opt/const_prop/ref_deref.rs
  tests/mir-opt/const_prop/ref_deref_project.main.ConstProp.diff
  tests/mir-opt/const_prop/ref_deref_project.rs
  tests/mir-opt/const_prop/reify_fn_ptr.rs
  tests/mir-opt/const_prop/repeat.rs
  tests/mir-opt/const_prop/return_place.rs
  tests/mir-opt/const_prop/scalar_literal_propagation.rs
  tests/mir-opt/const_prop/slice_len.main.ConstProp.32bit.panic-abort.diff
  tests/mir-opt/const_prop/slice_len.main.ConstProp.32bit.panic-unwind.diff
  tests/mir-opt/const_prop/slice_len.main.ConstProp.64bit.panic-abort.diff
  tests/mir-opt/const_prop/slice_len.main.ConstProp.64bit.panic-unwind.diff
  tests/mir-opt/const_prop/slice_len.rs
  tests/mir-opt/const_prop/switch_int.rs
  tests/mir-opt/const_prop/tuple_literal_propagation.rs
  tests/mir-opt/const_prop/while_let_loops.rs
Labels: S-waiting-on-bors, merged-by-bors, A-mir-opt

#116949 Stablize arc_unwrap_or_clone
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
Labels: T-libs-api, S-waiting-on-bors, needs-fcp, merged-by-bors

#118788 Don't print host effect param in pretty `path_generic_args`
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_const_eval/src/util/type_name.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_build/src/build/matches/test.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-const-trait-method-fail.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-generic-method-nonconst.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-default-method-bodies.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/cross-crate.gatednc.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/default-method-body-is-const-same-trait-ck.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118792 Fix typo in `std::sync::Mutex` example
  library/std/src/sync/mutex.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#116278 Generalize LLD usage in bootstrap
  config.example.toml
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/sanity.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/tests/config.rs
  src/bootstrap/src/utils/cc_detect.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/bootstrap/src/utils/helpers.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#116952 Implement 2024-edition lifetime capture rules RFC
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/feature-gates/feature-gate-lifetime-capture-rules-2024.rs
  tests/ui/feature-gates/feature-gate-lifetime-capture-rules-2024.stderr
  tests/ui/impl-trait/implicit-capture-late.rs
  tests/ui/impl-trait/implicit-capture-late.stderr
  tests/ui/impl-trait/variance.e2024.stderr
  tests/ui/impl-trait/variance.new.stderr
  tests/ui/impl-trait/variance.old.stderr
  tests/ui/impl-trait/variance.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118791 Use immediate_backend_type when reading from a const alloc
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  tests/ui/codegen/const-bool-bitcast.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118703 Remove unused bootstrap config option
  config.example.toml
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/utils/change_tracker.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#118368 Implement `--env` compiler flag (without `tracked_env` support)
  compiler/rustc_builtin_macros/src/env.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  src/doc/unstable-book/src/compiler-flags/env.md
  tests/ui/extenv/extenv-env-overload.rs
  tests/ui/extenv/extenv-env.rs
  tests/ui/extenv/extenv-not-env.rs
  tests/ui/feature-gates/env-flag.rs
  tests/ui/feature-gates/env-flag.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118810 Revert using MCP510 in bootstrap
  src/bootstrap/src/utils/helpers.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#118032 guarantee that char and u32 are ABI-compatible
  compiler/rustc_const_eval/src/interpret/terminator.rs
  library/core/src/primitive_docs.rs
  src/tools/miri/tests/pass/function_calls/abi_compat.rs
  tests/ui/abi/compatibility.rs
Labels: T-lang, T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#118494 Rearrange `default_configuration` and `CheckCfg::fill_well_known`.
  compiler/rustc_session/src/config.rs
  tests/ui/check-cfg/allow-same-level.stderr
  tests/ui/check-cfg/compact-names.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_names_values.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names.exhaustive_names.stderr
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/mix.cfg.stderr
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/stmt-no-ice.stderr
  tests/ui/check-cfg/well-known-names.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#117116 Implement repr(packed) for repr(simd)
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_ty_utils/src/layout.rs
  tests/ui/simd/repr_packed.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#118823 Rollup of 3 pull requests
  compiler/rustc_error_codes/src/error_codes/E0705.md
  compiler/rustc_expand/messages.ftl
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/errors.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/lib.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_span/src/edition.rs
  compiler/rustc_span/src/symbol.rs
  library/std/src/sys_common/thread.rs
  src/librustdoc/html/static/js/search.js
  src/tools/rustfmt/tests/source/issue-2927-2.rs
  src/tools/rustfmt/tests/source/issue-2927.rs
  src/tools/rustfmt/tests/target/issue-2927-2.rs
  src/tools/rustfmt/tests/target/issue-2927.rs
  tests/rustdoc-js/assoc-type.js
  tests/rustdoc-js/enum-variant-not-type.js
  tests/rustdoc-js/enum-variant-not-type.rs
  tests/ui/editions/edition-feature-ok.rs
  tests/ui/editions/edition-feature-redundant.rs
  tests/ui/editions/edition-feature-redundant.stderr
  tests/ui/editions/epoch-gate-feature.rs
  tests/ui/error-codes/E0705.rs
  tests/ui/error-codes/E0705.stderr
  tests/ui/proc-macro/custom-attr-only-one-derive.rs
  tests/ui/rust-2018/edition-lint-fully-qualified-paths.fixed
  tests/ui/rust-2018/edition-lint-fully-qualified-paths.rs
  tests/ui/rust-2018/edition-lint-fully-qualified-paths.stderr
  tests/ui/rust-2018/edition-lint-nested-empty-paths.fixed
  tests/ui/rust-2018/edition-lint-nested-empty-paths.rs
  tests/ui/rust-2018/edition-lint-nested-empty-paths.stderr
  tests/ui/rust-2018/edition-lint-nested-paths.fixed
  tests/ui/rust-2018/edition-lint-nested-paths.rs
  tests/ui/rust-2018/edition-lint-nested-paths.stderr
  tests/ui/rust-2018/edition-lint-paths.fixed
  tests/ui/rust-2018/edition-lint-paths.rs
  tests/ui/rust-2018/edition-lint-paths.stderr
  tests/ui/rust-2018/extern-crate-idiomatic.fixed
  tests/ui/rust-2018/extern-crate-idiomatic.rs
  tests/ui/rust-2018/extern-crate-referenced-by-self-path.fixed
  tests/ui/rust-2018/extern-crate-referenced-by-self-path.rs
  tests/ui/rust-2018/extern-crate-rename.fixed
  tests/ui/rust-2018/extern-crate-rename.rs
  tests/ui/rust-2018/extern-crate-rename.stderr
  tests/ui/rust-2018/extern-crate-submod.fixed
  tests/ui/rust-2018/extern-crate-submod.rs
  tests/ui/rust-2018/extern-crate-submod.stderr
  tests/ui/rust-2018/issue-51008-1.rs
  tests/ui/rust-2018/issue-51008.rs
  tests/ui/rust-2018/proc-macro-crate-in-paths.rs
  tests/ui/rust-2018/suggestions-not-always-applicable.fixed
  tests/ui/rust-2018/suggestions-not-always-applicable.rs
  tests/ui/tool_lints_2018_preview.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs
