Repository rust-lang/rust, pull requests merged in 2023-07, with the labels that each got.

#113186 document that the panic in collect_intra_doc_links is load-bearing
  src/librustdoc/passes/collect_intra_doc_links.rs
Labels: T-rustdoc, S-waiting-on-bors

#113187 No need to distinguish `LocalTy` from `Ty`
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_hir_typeck/src/inherited.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_hir_typeck/src/writeback.rs
Labels: T-compiler, S-waiting-on-bors

#113189 compiletest: Only trim the end of process output
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#113191 Update browser-ui-test version and improve GUI test
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  tests/rustdoc-gui/search-result-display.goml
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#113206 User may want to skip tidy check sometimes
  src/etc/pre-push.sh
Labels: S-waiting-on-bors

#113216 Rollup of 8 pull requests
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_hir_typeck/src/inherited.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  library/core/src/str/mod.rs
  library/std/src/collections/hash/map.rs
  src/bootstrap/defaults/config.dist.toml
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/etc/pre-push.sh
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/compiletest/src/runtest.rs
  tests/rustdoc-gui/search-result-display.goml
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#113072 str docs: remove "Basic usage" text where not useful
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#113153 make HashMap::or_insert_with example more simple
  library/std/src/collections/hash/map.rs
Labels: S-waiting-on-bors, T-libs

#113185 Set `channel = nightly` in dist profile
  src/bootstrap/defaults/config.dist.toml
Labels: T-bootstrap, S-waiting-on-bors

#113154 change snapshot tracking in fulfillment contexts
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/autoderef.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/traits/chalk_fulfill.rs
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/custom.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#113194 Mark wrapped intrinsics as inline(always)
  library/core/src/intrinsics.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#111992 Test benchmarks with `-Z panic-abort-tests`
  library/test/src/console.rs
  library/test/src/lib.rs
  library/test/src/types.rs
  tests/ui/test-attrs/test-fn-signature-verification-for-explicit-return-type.rs
  tests/ui/test-attrs/test-panic-abort.rs
  tests/ui/test-attrs/test-panic-abort.run.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#113182 Error when RPITITs' hidden types capture more lifetimes than their trait definitions
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  tests/ui/impl-trait/in-trait/method-signature-matches.lt.stderr
  tests/ui/impl-trait/in-trait/signature-mismatch.current.stderr
  tests/ui/impl-trait/in-trait/signature-mismatch.next.stderr
  tests/ui/impl-trait/in-trait/signature-mismatch.rs
Labels: T-compiler, S-waiting-on-bors

#113226 Fix try builds on the msvc builder
  src/bootstrap/dist.rs
Labels: T-bootstrap, S-waiting-on-bors

#113168 fix(resolve): skip assertion judgment when NonModule is dummy
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/imports/auxiliary/issue-85992-extern-1.rs
  tests/ui/imports/auxiliary/issue-85992-extern-2.rs
  tests/ui/imports/issue-85992.rs
  tests/ui/imports/issue-85992.stderr
Labels: T-compiler, S-waiting-on-bors

#113174 Better messages for next on a iterator inside for loops
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  tests/ui/suggestions/issue-102972.rs
  tests/ui/suggestions/issue-102972.stderr
Labels: T-compiler, S-waiting-on-bors

#113196 Fix associated items effective visibility calculation for type privacy lints
  compiler/rustc_privacy/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#113225 Update Rustfmt (add let-else support)
  Cargo.lock
  src/tools/rustfmt/CHANGELOG.md
  src/tools/rustfmt/Cargo.lock
  src/tools/rustfmt/Cargo.toml
  src/tools/rustfmt/Configurations.md
  src/tools/rustfmt/config_proc_macro/Cargo.lock
  src/tools/rustfmt/rust-toolchain
  src/tools/rustfmt/src/config/config_type.rs
  src/tools/rustfmt/src/config/mod.rs
  src/tools/rustfmt/src/config/options.rs
  src/tools/rustfmt/src/expr.rs
  src/tools/rustfmt/src/items.rs
  src/tools/rustfmt/tests/source/configs/single_line_let_else_max_width/100.rs
  src/tools/rustfmt/tests/source/configs/single_line_let_else_max_width/50.rs
  src/tools/rustfmt/tests/source/configs/single_line_let_else_max_width/zero.rs
  src/tools/rustfmt/tests/source/configs/use_small_heuristics/default.rs
  src/tools/rustfmt/tests/source/configs/use_small_heuristics/max.rs
  src/tools/rustfmt/tests/source/configs/use_small_heuristics/off.rs
  src/tools/rustfmt/tests/source/let_else.rs
  src/tools/rustfmt/tests/target/configs/single_line_let_else_max_width/100.rs
  src/tools/rustfmt/tests/target/configs/single_line_let_else_max_width/50.rs
  src/tools/rustfmt/tests/target/configs/single_line_let_else_max_width/zero.rs
  src/tools/rustfmt/tests/target/configs/use_small_heuristics/default.rs
  src/tools/rustfmt/tests/target/configs/use_small_heuristics/max.rs
  src/tools/rustfmt/tests/target/configs/use_small_heuristics/off.rs
  src/tools/rustfmt/tests/target/let_else.rs
Labels: S-waiting-on-bors, merged-by-bors

#111035 Shrink error variants for layout and fn_abi
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_hir_typeck/src/intrinsicck.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/values.rs
  compiler/rustc_passes/src/layout_test.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_ty_utils/src/abi.rs
  compiler/rustc_ty_utils/src/layout.rs
  src/librustdoc/html/render/type_layout.rs
  src/tools/miri/src/machine.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#112910 Implement most of MCP510
  Cargo.lock
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/Cargo.toml
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_target/src/spec/mod.rs
  tests/run-make/rust-lld/Makefile
  tests/run-make/rust-lld/main.rs
  tests/ui/linkage-attr/incompatible-flavor.stderr
  tests/ui/linkage-attr/unstable-flavor.bpf.stderr
  tests/ui/linkage-attr/unstable-flavor.ptx.stderr
  tests/ui/linkage-attr/unstable-flavor.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112756 Use RustOptimize to set optimize
  src/bootstrap/builder.rs
  src/bootstrap/config.rs
  src/bootstrap/config/tests.rs
  src/bootstrap/lib.rs
  src/bootstrap/test.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#112718 Make simd_shuffle_indices use valtrees
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/mir/constant.rs
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_middle/src/mir/interpret/queries.rs
  compiler/rustc_middle/src/mir/mod.rs
  src/tools/clippy/clippy_lints/src/non_copy_const.rs
  src/tools/clippy/tests/ui/crashes/ice-9445.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113040 Add `-Zremark-dir` unstable flag to write LLVM optimization remarks to YAML
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  tests/run-make/optimization-remarks-dir/Makefile
  tests/run-make/optimization-remarks-dir/foo.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108537 rustdoc: Allow whitespace as path separator like double colon
  src/doc/rustdoc/src/how-to-read-rustdoc.md
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-gui/search-tab-change-title-fn-sig.goml
  tests/rustdoc-js-std/parser-errors.js
  tests/rustdoc-js-std/parser-filter.js
  tests/rustdoc-js-std/parser-generics.js
  tests/rustdoc-js-std/parser-quote.js
  tests/rustdoc-js-std/parser-separators.js
  tests/rustdoc-js-std/parser-slice-array.js
  tests/rustdoc-js-std/parser-weird-queries.js
  tests/rustdoc-js-std/vec-new.js
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#113046 cargo update
  Cargo.lock
  compiler/rustc_driver/Cargo.toml
  compiler/rustc_log/Cargo.toml
  compiler/rustc_macros/Cargo.toml
  library/std/Cargo.toml
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#112882 Rewrite `UnDerefer`
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_dataflow/src/move_paths/mod.rs
  compiler/rustc_mir_dataflow/src/rustc_peek.rs
  compiler/rustc_mir_dataflow/src/un_derefer.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/remove_uninit_drops.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113253 Fixed documentation of from<CString> for Rc<CStr>: Arc -> Rc
  library/alloc/src/ffi/c_str.rs
Labels: S-waiting-on-bors, T-libs

#113258 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/notable-trait.goml
Labels: T-rustdoc, S-waiting-on-bors

#113259 Suggest `x build library` for a custom toolchain that fails to load `core`
  compiler/rustc_metadata/messages.ftl
  compiler/rustc_metadata/src/errors.rs
Labels: T-compiler, S-waiting-on-bors

#113271 Rollup of 3 pull requests
  compiler/rustc_metadata/messages.ftl
  compiler/rustc_metadata/src/errors.rs
  library/alloc/src/ffi/c_str.rs
  tests/rustdoc-gui/notable-trait.goml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#113275 link to PERMITTED_DEPENDENCIES in tidy error
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#113288 Revert "Suggest `x build library` for a custom toolchain that fails to load `core`"
  compiler/rustc_metadata/messages.ftl
  compiler/rustc_metadata/src/errors.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113286 Don't perform selection if inherent associated types are not enabled
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  tests/ui/associated-inherent-types/assoc-inherent-unstable.rs
  tests/ui/associated-inherent-types/assoc-inherent-unstable.stderr
  tests/ui/associated-inherent-types/bugs/cycle-iat-inside-of-adt.rs
  tests/ui/associated-inherent-types/bugs/cycle-iat-inside-of-adt.stderr
  tests/ui/associated-inherent-types/dont-select-if-disabled.rs
  tests/ui/associated-inherent-types/dont-select-if-disabled.stderr
  tests/ui/associated-inherent-types/issue-109071.no_gate.stderr
  tests/ui/associated-inherent-types/issue-109071.rs
  tests/ui/resolve/resolve-self-in-impl.stderr
Labels: T-compiler, S-waiting-on-bors

#113293 Rollup of 3 pull requests
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/label-next-to-symbol.goml
  tests/rustdoc-gui/src/test_docs/lib.rs
  tests/ui/associated-inherent-types/assoc-inherent-unstable.rs
  tests/ui/associated-inherent-types/assoc-inherent-unstable.stderr
  tests/ui/associated-inherent-types/bugs/cycle-iat-inside-of-adt.rs
  tests/ui/associated-inherent-types/bugs/cycle-iat-inside-of-adt.stderr
  tests/ui/associated-inherent-types/dont-select-if-disabled.rs
  tests/ui/associated-inherent-types/dont-select-if-disabled.stderr
  tests/ui/associated-inherent-types/issue-109071.no_gate.stderr
  tests/ui/associated-inherent-types/issue-109071.rs
  tests/ui/resolve/resolve-self-in-impl.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#113285 [rustdoc] Fix display of long inline cfg labels
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/label-next-to-symbol.goml
  tests/rustdoc-gui/src/test_docs/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#112869 Implement selection via new trait solver
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#108611 lint/ctypes: ext. abi fn-ptr in internal abi fn
  compiler/rustc_lint/src/types.rs
  compiler/rustc_target/src/abi/call/x86_64.rs
  tests/ui/abi/foreign/foreign-fn-with-byval.rs
  tests/ui/abi/issue-94223.rs
  tests/ui/hashmap/hashmap-memory.rs
  tests/ui/lint/lint-ctypes-94223.rs
  tests/ui/lint/lint-ctypes-94223.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113215 Make RPITITs assume/require their parent method's predicates
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_ty_utils/src/ty.rs
  tests/ui/impl-trait/in-trait/issue-102140.next.stderr
  tests/ui/impl-trait/in-trait/wf-bounds.current.stderr
  tests/ui/impl-trait/in-trait/wf-bounds.next.stderr
  tests/ui/impl-trait/in-trait/wf-bounds.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113304 Upgrade to indexmap 2.0.0
  Cargo.lock
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_serialize/Cargo.toml
  compiler/rustc_span/Cargo.toml
  src/tools/bump-stage0/Cargo.toml
  tests/ui-fulldeps/missing-rustc-driver-error.stderr
Labels: T-compiler, S-waiting-on-bors, T-infra, merged-by-bors

#113213 Fix outdated comment of `fn_can_unwind`
  compiler/rustc_middle/src/ty/layout.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113274 Remove `mips*-unknown-linux-gnu*` builders
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#113325 Replace `mk_const` with `Const::new_x` methods
  compiler/rustc_hir_analysis/src/astconv/bounds.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/generalize.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/abstract_const.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/opaque_types.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_mir_build/src/thir/constant.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/solve/canonicalize.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_ty_utils/src/consts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#113296 add flag for enabling global cache usage for proof trees and printing proof trees on error
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/inspect.rs
  compiler/rustc_trait_selection/src/solve/inspect/dump.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113324 implement `ConstEvaluatable` goals in new solver
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  tests/ui/const-generics/defaults/default-param-wf-concrete.next.stderr
  tests/ui/const-generics/defaults/default-param-wf-concrete.old.stderr
  tests/ui/const-generics/defaults/default-param-wf-concrete.rs
  tests/ui/consts/const-len-underflow-separate-spans.next.stderr
  tests/ui/consts/const-len-underflow-separate-spans.old.stderr
  tests/ui/consts/const-len-underflow-separate-spans.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113330 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/lib.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/inspect.rs
  compiler/rustc_trait_selection/src/solve/inspect/dump.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/doc/rustc/src/platform-support.md
  tests/ui/const-generics/defaults/default-param-wf-concrete.next.stderr
  tests/ui/const-generics/defaults/default-param-wf-concrete.old.stderr
  tests/ui/const-generics/defaults/default-param-wf-concrete.rs
  tests/ui/consts/const-len-underflow-separate-spans.next.stderr
  tests/ui/consts/const-len-underflow-separate-spans.old.stderr
  tests/ui/consts/const-len-underflow-separate-spans.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#113192 `assemble_candidates_after_normalizing_self_ty` docs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113251 Use scoped-tls for SMIR to map between TyCtxt and SMIR datastructures
  Cargo.lock
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/lib.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
Labels: T-compiler, S-waiting-on-bors

#113282 Update platform-support.md to improve ARM target descriptions
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors

#113329 add `ecx.probe_candidate`
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/probe.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#112319 Don't require associated types with Self: Sized bounds in `dyn Trait` objects
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/astconv/object_safety.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  tests/ui/object-safety/assoc_type_bounds_sized.rs
  tests/ui/object-safety/assoc_type_bounds_sized.stderr
  tests/ui/object-safety/assoc_type_bounds_sized_others.rs
  tests/ui/object-safety/assoc_type_bounds_sized_others.stderr
  tests/ui/object-safety/assoc_type_bounds_sized_unnecessary.rs
  tests/ui/object-safety/assoc_type_bounds_sized_unnecessary.stderr
  tests/ui/object-safety/assoc_type_bounds_sized_used.rs
  tests/ui/object-safety/assoc_type_bounds_sized_used.stderr
Labels: A-associated-items, T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, S-waiting-on-fcp, to-announce, T-types

#112594 Return `Ok` on kill if process has already exited
  library/std/src/process.rs
  library/std/src/process/tests.rs
  library/std/src/sys/unix/process/process_unix.rs
  library/std/src/sys/unix/process/process_vxworks.rs
  library/std/src/sys/windows/process.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, S-waiting-on-fcp, to-announce

#113317 -Ztrait-solver=next: stop depending on old solver
  compiler/rustc_infer/src/infer/projection.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113319 `TypeParameterDefinition` always require a `DefId`
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/type_variable.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
Labels: T-compiler, S-waiting-on-bors

#113320 Add some extra information to opaque type cycle errors
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  compiler/rustc_query_system/src/values.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/generator/layout-error.rs
  tests/ui/generator/layout-error.stderr
  tests/ui/impl-trait/auto-trait-leak.rs
  tests/ui/impl-trait/auto-trait-leak.stderr
  tests/ui/impl-trait/issue-103181-2.rs
  tests/ui/impl-trait/issue-103181-2.stderr
  tests/ui/type-alias-impl-trait/auto-trait-leakage3.rs
  tests/ui/type-alias-impl-trait/auto-trait-leakage3.stderr
  tests/ui/type-alias-impl-trait/inference-cycle.rs
  tests/ui/type-alias-impl-trait/inference-cycle.stderr
  tests/ui/type-alias-impl-trait/reveal_local.rs
  tests/ui/type-alias-impl-trait/reveal_local.stderr
Labels: T-compiler, S-waiting-on-bors, A-query-system

#113321 Move `ty::ConstKind` to `rustc_type_ir`
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/inhabitedness/inhabited_predicate.rs
  compiler/rustc_middle/src/ty/inhabitedness/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/structural_impls.rs
  compiler/rustc_type_ir/src/sty.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  tests/mir-opt/issue_99325.main.built.after.mir
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113337 Winnow specialized impls during selection in new solver
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  tests/ui/traits/new-solver/winnow-specializing-impls.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113355 Move most coverage code out of `rustc_codegen_ssa`
  compiler/rustc_codegen_gcc/src/coverageinfo.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/ffi.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/map_data.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/coverageinfo/mod.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_codegen_ssa/src/mir/coverageinfo.rs
  compiler/rustc_codegen_ssa/src/mir/statement.rs
  compiler/rustc_codegen_ssa/src/traits/coverageinfo.rs
  compiler/rustc_codegen_ssa/src/traits/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#113356 Add support for NetBSD/riscv64 aka. riscv64gc-unknown-netbsd.
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/riscv64gc_unknown_netbsd.rs
  library/core/src/ffi/mod.rs
  src/bootstrap/llvm.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/netbsd.md
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-libs

#113010 rust-installer & rls: remove exclusion from rustfmt & tidy
  rustfmt.toml
  src/bootstrap/tool.rs
  src/tools/rust-installer/install-template.sh
  src/tools/rust-installer/src/combiner.rs
  src/tools/rust-installer/src/generator.rs
  src/tools/rust-installer/src/main.rs
  src/tools/rust-installer/src/scripter.rs
  src/tools/rust-installer/src/tarballer.rs
  src/tools/rust-installer/src/util.rs
  src/tools/rust-installer/test.sh
  src/tools/tidy/src/bins.rs
  src/tools/tidy/src/walk.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-meta

#113287 enable test_join test in Miri
  library/alloc/tests/vec.rs
  library/core/tests/future.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#113291 Specialize `try_destructure_mir_constant` for its sole user (pretty printing)
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/query/keys.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  src/tools/clippy/clippy_utils/src/consts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113334 Revert the lexing of `c"…"` string literals
  Cargo.lock
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/gdb.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_lexer/src/lib.rs
  library/std/src/lib.rs
  library/std/src/sys/unix/args.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/process/process_common.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/compat.rs
  library/std/src/sys/windows/mod.rs
  src/tools/tidy/src/deps.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/basic.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/basic.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/edition-2015-2018-lexing.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/non-ascii.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/non-ascii.stderr
Labels: A-testsuite, beta-nominated, T-compiler, T-bootstrap, S-waiting-on-bors, F-c_str_literals

#113350 Fix the issue of wrong diagnosis for extern pub fn
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/parser/issue-113342.rs
  tests/ui/parser/issue-113342.stderr
Labels: T-compiler, S-waiting-on-bors

#113371 Fix submodule handling when the current branch is named after a tag
  src/bootstrap/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, A-contributor-roadblock

#113384 style-guide: Clarify grammar for small patterns (not a semantic change)
  src/doc/style-guide/src/expressions.md
Labels: S-waiting-on-bors, T-style

#113391 Rollup of 9 pull requests
  Cargo.lock
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/gdb.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/effective_visibilities.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
  library/std/src/lib.rs
  library/std/src/sys/unix/args.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/process/process_common.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/compat.rs
  library/std/src/sys/windows/mod.rs
  src/bootstrap/lib.rs
  src/doc/style-guide/src/SUMMARY.md
  src/doc/style-guide/src/expressions.md
  src/doc/style-guide/src/nightly.md
  src/tools/tidy/src/deps.rs
  tests/ui/generic-associated-types/gat-bounds-not-checked-with-right-substitutions.rs
  tests/ui/generic-associated-types/gat-bounds-not-checked-with-right-substitutions.stderr
  tests/ui/parser/issue-113342.rs
  tests/ui/parser/issue-113342.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/basic.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/basic.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/edition-2015-2018-lexing.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/non-ascii.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/non-ascii.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, T-style

#113145 style-guide: Document newline rules for assignment operators
  src/doc/style-guide/src/expressions.md
Labels: S-waiting-on-bors, proposed-final-comment-period, disposition-merge, S-waiting-on-fcp, T-style

#113163 Add a regression test for #112895
  tests/ui/generic-associated-types/gat-bounds-not-checked-with-right-substitutions.rs
  tests/ui/generic-associated-types/gat-bounds-not-checked-with-right-substitutions.stderr
Labels: T-compiler, S-waiting-on-bors

#113332 resolve: Use `Interned` for some interned structures
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/effective_visibilities.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
Labels: T-compiler, S-waiting-on-bors

#112791 llvm ffi: Expose `CallInst->setTailCallKind`
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: A-LLVM, T-compiler, T-bootstrap, S-waiting-on-bors, F-explicit_tail_calls

#111119 style-guide: Add chapter about formatting for nightly-only syntax
  src/doc/style-guide/src/SUMMARY.md
  src/doc/style-guide/src/nightly.md
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, T-style

#113348 Remove some unnecessary(?) normalization
  tests/ui/duplicate/dupe-symbols-7.rs
  tests/ui/duplicate/dupe-symbols-7.stderr
  tests/ui/limits/huge-array-simple-32.rs
  tests/ui/limits/huge-array-simple-32.stderr
  tests/ui/limits/huge-array-simple-64.rs
  tests/ui/limits/huge-array-simple-64.stderr
  tests/ui/limits/huge-array.rs
  tests/ui/limits/huge-array.stderr
  tests/ui/limits/huge-enum.rs
  tests/ui/limits/huge-enum.stderr
  tests/ui/limits/huge-struct.rs
  tests/ui/limits/huge-struct.stderr
  tests/ui/limits/issue-15919-32.rs
  tests/ui/limits/issue-15919-32.stderr
  tests/ui/limits/issue-15919-64.rs
  tests/ui/limits/issue-15919-64.stderr
  tests/ui/limits/issue-17913.rs
  tests/ui/limits/issue-56762.rs
  tests/ui/limits/issue-56762.stderr
  tests/ui/linkage-attr/linkage3.rs
  tests/ui/linkage-attr/linkage3.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113402 Diagnose unsorted CGUs.
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors

#113395 Dont ICE for `dyn* Trait: Trait` (built-in object) goals during selection in new trait solver
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  tests/ui/dyn-star/box.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113406 Rollup of 4 pull requests
  compiler/rustc_monomorphize/src/partitioning.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  src/tools/compiletest/src/read2.rs
  src/tools/compiletest/src/runtest.rs
  tests/ui/dyn-star/box.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#113246 fix compiletest crash
  src/tools/compiletest/src/read2.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#112295 Fix the tests-listing-format-json test on Windows
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#113323 Use `llvm-config` instead of `download-ci-llvm` in PGO script
  src/ci/stage-build.py
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#112779 CI: merge x86_64-gnu-llvm-14 and x86_64-gnu-llvm-14-stage1 CI jobs
  .github/workflows/ci.yml
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-14-stage1/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-14/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-14/script.sh
  src/ci/docker/run.sh
  src/ci/github-actions/ci.yml
  src/ci/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#113269 Update compiler builtins
  Cargo.lock
  library/std/Cargo.toml
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#113417 [beta] Clippy beta backport
  src/tools/clippy/clippy_lints/src/default_constructed_unit_structs.rs
  src/tools/clippy/clippy_lints/src/items_after_test_module.rs
  src/tools/clippy/clippy_lints/src/let_with_type_underscore.rs
  src/tools/clippy/clippy_lints/src/redundant_clone.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/clippy/tests/ui/default_constructed_unit_structs.fixed
  src/tools/clippy/tests/ui/default_constructed_unit_structs.rs
  src/tools/clippy/tests/ui/default_constructed_unit_structs.stderr
  src/tools/clippy/tests/ui/let_with_type_underscore.rs
  src/tools/clippy/tests/ui/let_with_type_underscore.stderr
  src/tools/clippy/tests/ui/redundant_clone.fixed
  src/tools/clippy/tests/ui/redundant_clone.rs
  src/tools/clippy/tests/ui/redundant_clone.stderr
  src/tools/clippy/tests/ui/unnecessary_to_owned.fixed
  src/tools/clippy/tests/ui/unnecessary_to_owned.rs
Labels: S-waiting-on-bors, merged-by-bors

#112796 CI: merge msvc cargo and tools jobs
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#113429 Rollup of 8 pull requests
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  library/alloc/src/boxed.rs
  library/std/src/io/buffered/bufreader.rs
  library/std/src/io/buffered/bufwriter.rs
  tests/ui/async-await/in-trait/return-not-existing-pair.current.stderr
  tests/ui/async-await/in-trait/return-not-existing-pair.next.stderr
  tests/ui/async-await/in-trait/return-not-existing-pair.rs
  tests/ui/async-await/in-trait/return-not-existing-type-wrapping-rpitit.current.stderr
  tests/ui/async-await/in-trait/return-not-existing-type-wrapping-rpitit.next.stderr
  tests/ui/async-await/in-trait/return-not-existing-type-wrapping-rpitit.rs
  tests/ui/traits/new-solver/dont-remap-tait-substs.rs
  tests/ui/traits/new-solver/dont-remap-tait-substs.stderr
  tests/ui/traits/new-solver/dont-type_of-tait-in-defining-scope.not_send.stderr
  tests/ui/traits/new-solver/dont-type_of-tait-in-defining-scope.rs
  tests/ui/traits/new-solver/dyn-any-dont-prefer-impl.rs
  tests/ui/type-alias-impl-trait/issue-109054.rs
  tests/ui/type-alias-impl-trait/issue-109054.stderr
  tests/ui/type-inference/issue-113283-alllocator-trait-eq.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#113318 Revert "alloc: Allow comparing Boxs over different allocators", add regression test
  library/alloc/src/boxed.rs
  tests/ui/type-inference/issue-113283-alllocator-trait-eq.rs
Labels: T-libs-api, T-compiler, S-waiting-on-bors

#113397 Prefer object candidates in new selection
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  tests/ui/traits/new-solver/dyn-any-dont-prefer-impl.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113419 Avoid calling item_name for RPITIT
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  tests/ui/async-await/in-trait/return-not-existing-pair.current.stderr
  tests/ui/async-await/in-trait/return-not-existing-pair.next.stderr
  tests/ui/async-await/in-trait/return-not-existing-pair.rs
Labels: T-compiler, S-waiting-on-bors

#113421 Do not assert >1 RPITITs on collect_return_position_impl_trait_in_trait_tys
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  tests/ui/async-await/in-trait/return-not-existing-type-wrapping-rpitit.current.stderr
  tests/ui/async-await/in-trait/return-not-existing-type-wrapping-rpitit.next.stderr
  tests/ui/async-await/in-trait/return-not-existing-type-wrapping-rpitit.rs
Labels: T-compiler, S-waiting-on-bors

#113164 Add a regression test for #109054
  tests/ui/type-alias-impl-trait/issue-109054.rs
  tests/ui/type-alias-impl-trait/issue-109054.stderr
Labels: T-compiler, S-waiting-on-bors

#112825 Don't call `type_of` on TAIT in defining scope in new solver
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  tests/ui/traits/new-solver/dont-remap-tait-substs.rs
  tests/ui/traits/new-solver/dont-remap-tait-substs.stderr
  tests/ui/traits/new-solver/dont-type_of-tait-in-defining-scope.not_send.stderr
  tests/ui/traits/new-solver/dont-type_of-tait-in-defining-scope.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#112008 Fix incorrect documented default bufsize in bufreader/writer
  library/std/src/io/buffered/bufreader.rs
  library/std/src/io/buffered/bufwriter.rs
Labels: S-waiting-on-bors, T-libs

#111917 Simplify duplicate checks for mir validator
  compiler/rustc_const_eval/src/transform/validate.rs
Labels: T-compiler, S-waiting-on-bors

#113270 perform TokenStream replacement in-place when possible in expand_macro
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113308 Split `SelectionContext::select` into fns that take a binder and don't
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/ops.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_infer/src/traits/mod.rs
  compiler/rustc_middle/src/query/keys.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  compiler/rustc_traits/src/codegen.rs
  compiler/rustc_ty_utils/src/instance.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#113437 Sync portable-simd to 2023 July 07
  library/portable-simd/.github/workflows/ci.yml
  library/portable-simd/crates/core_simd/src/cast.rs
  library/portable-simd/crates/core_simd/src/elements/const_ptr.rs
  library/portable-simd/crates/core_simd/src/elements/float.rs
  library/portable-simd/crates/core_simd/src/elements/int.rs
  library/portable-simd/crates/core_simd/src/elements/mut_ptr.rs
  library/portable-simd/crates/core_simd/src/elements/uint.rs
  library/portable-simd/crates/core_simd/src/iter.rs
  library/portable-simd/crates/core_simd/src/lib.rs
  library/portable-simd/crates/core_simd/src/masks.rs
  library/portable-simd/crates/core_simd/src/mod.rs
  library/portable-simd/crates/core_simd/src/ops.rs
  library/portable-simd/crates/core_simd/src/ord.rs
  library/portable-simd/crates/core_simd/src/simd/prelude.rs
  library/portable-simd/crates/core_simd/src/swizzle_dyn.rs
  library/portable-simd/crates/core_simd/src/vector.rs
  library/portable-simd/crates/core_simd/tests/cast.rs
  library/portable-simd/crates/core_simd/tests/round.rs
  src/tools/miri/tests/pass/portable-simd-ptrs.rs
Labels: S-waiting-on-bors, merged-by-bors

#113245 sanity check field offsets in unsizeable structs
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#113455 Fix failing clippy tests
  src/tools/clippy/clippy_lints/src/incorrect_impls.rs
  src/tools/clippy/tests/ui/needless_raw_string.fixed
  src/tools/clippy/tests/ui/needless_raw_string.rs
  src/tools/clippy/tests/ui/needless_raw_string.stderr
  src/tools/clippy/tests/ui/needless_raw_string_hashes.fixed
  src/tools/clippy/tests/ui/needless_raw_string_hashes.rs
  src/tools/clippy/tests/ui/needless_raw_string_hashes.stderr
Labels: beta-nominated, beta-accepted, S-waiting-on-bors, merged-by-bors

#113453 Remove unused from_method from rustc_on_unimplemented
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  tests/ui/impl-trait/in-trait/return-dont-satisfy-bounds.current.stderr
  tests/ui/impl-trait/in-trait/return-dont-satisfy-bounds.next.stderr
  tests/ui/impl-trait/in-trait/return-dont-satisfy-bounds.rs
Labels: T-compiler, S-waiting-on-bors

#113456 Avoid calling report_forbidden_specialization for RPITITs
  compiler/rustc_hir_analysis/src/check/check.rs
  tests/ui/async-await/in-trait/missing-feature-flag.current.stderr
  tests/ui/async-await/in-trait/missing-feature-flag.next.stderr
  tests/ui/async-await/in-trait/missing-feature-flag.rs
Labels: T-compiler, S-waiting-on-bors

#113467 Fix comment of `fn_can_unwind`
  compiler/rustc_middle/src/ty/layout.rs
Labels: T-compiler, S-waiting-on-bors

#113413 Add needs-triage to all new issues
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#113426 Don't ICE in `resolve_bound_vars` when associated return-type bounds are in bad positions
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  tests/ui/async-await/return-type-notation/rtn-in-impl-signature.rs
  tests/ui/async-await/return-type-notation/rtn-in-impl-signature.stderr
Labels: T-compiler, S-waiting-on-bors

#113427 Remove `variances_of` on RPITIT GATs, remove its one use-case
  compiler/rustc_hir_analysis/src/variance/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
Labels: T-compiler, S-waiting-on-bors

#113441 miri: check that assignments do not self-overlap
  compiler/rustc_const_eval/src/interpret/place.rs
  src/tools/miri/tests/fail/overlapping_assignment.rs
  src/tools/miri/tests/fail/overlapping_assignment.stderr
Labels: T-compiler, S-waiting-on-bors

#113450 Fail the build if clippy tests don't pass
  src/bootstrap/test.rs
  src/tools/clippy/tests/ui/to_string_in_format_args_incremental.rs
  src/tools/clippy/tests/ui/to_string_in_format_args_incremental.stderr
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#113484 Rollup of 7 pull requests
  .github/workflows/ci.yml
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/partitioning.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/llvm.rs
  src/ci/github-actions/ci.yml
  tests/ui-fulldeps/stable-mir/crate-info.rs
  tests/ui/async-await/in-trait/async-associated-types2.rs
  tests/ui/consts/const_in_pattern/issue-73431.rs
  tests/ui/dyn-star/param-env-region-infer.current.stderr
  tests/ui/dyn-star/param-env-region-infer.next.stderr
  tests/ui/dyn-star/param-env-region-infer.rs
  tests/ui/impl-trait/reveal-during-codegen.rs
  tests/ui/issues/issue-67552.rs
  tests/ui/issues/issue-67552.stderr
  tests/ui/recursion/issue-95134.rs
  tests/ui/traits/new-solver/slice-match-byte-lit.rs
  tests/ui/traits/new-solver/slice-match-byte-lit.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, WG-trait-system-refactor

#113335 Reveal opaques in new solver
  compiler/rustc_trait_selection/src/solve/normalize.rs
  tests/ui/async-await/in-trait/async-associated-types2.rs
  tests/ui/dyn-star/param-env-region-infer.current.stderr
  tests/ui/dyn-star/param-env-region-infer.next.stderr
  tests/ui/dyn-star/param-env-region-infer.rs
  tests/ui/impl-trait/reveal-during-codegen.rs
  tests/ui/issues/issue-67552.rs
  tests/ui/issues/issue-67552.stderr
  tests/ui/recursion/issue-95134.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#113390 CGU formation tweaks
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors

#113399 Structurally normalize again for byte string lit pat checking
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/traits/new-solver/slice-match-byte-lit.rs
  tests/ui/traits/new-solver/slice-match-byte-lit.stderr
Labels: T-compiler, S-waiting-on-bors

#113412 Add basic types to SMIR
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
Labels: T-compiler, S-waiting-on-bors

#112931 Enable zlib in LLVM on aarch64-apple-darwin
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/llvm.rs
Labels: T-bootstrap, S-waiting-on-bors

#113158 tests: unset `RUSTC_LOG_COLOR` in a test
  tests/ui/consts/const_in_pattern/issue-73431.rs
Labels: T-compiler, S-waiting-on-bors

#113173 CI: include workflow name in concurrency group
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#113482 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/sidebar-source-code.goml
Labels: T-rustdoc, S-waiting-on-bors

#113491 Rollup of 6 pull requests
  README.md
  RELEASES.md
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  library/core/src/slice/mod.rs
  tests/mir-opt/building/issue_110508.rs
  tests/mir-opt/building/issue_110508.{impl#0}-BAR.built.after.mir
  tests/mir-opt/building/issue_110508.{impl#0}-SELF_BAR.built.after.mir
  tests/rustdoc-gui/sidebar-source-code.goml
  tests/ui/binop/binop-mul-i32-f32.stderr
  tests/ui/binop/shift-various-bad-types.stderr
  tests/ui/const-generics/exhaustive-value.stderr
  tests/ui/const-generics/generic_arg_infer/issue-91614.stderr
  tests/ui/const-generics/issues/issue-67185-2.stderr
  tests/ui/consts/const-eval/const-eval-overflow-3b.stderr
  tests/ui/consts/const-eval/const-eval-overflow-4b.stderr
  tests/ui/consts/missing-larger-array-impl.rs
  tests/ui/consts/missing-larger-array-impl.stderr
  tests/ui/consts/too_generic_eval_ice.stderr
  tests/ui/deriving/issue-103157.stderr
  tests/ui/did_you_mean/issue-21659-show-relevant-trait-impls-2.stderr
  tests/ui/did_you_mean/issue-39802-show-5-trait-impls.stderr
  tests/ui/did_you_mean/issue-49746-unicode-confusable-in-float-literal-expt.stderr
  tests/ui/fmt/ifmt-unimpl.stderr
  tests/ui/impl-trait/equality.stderr
  tests/ui/issues/issue-11771.stderr
  tests/ui/issues/issue-24352.stderr
  tests/ui/issues/issue-32709.stderr
  tests/ui/issues/issue-50582.stderr
  tests/ui/iterators/invalid-iterator-chain-with-int-infer.stderr
  tests/ui/iterators/invalid-iterator-chain.stderr
  tests/ui/mismatched_types/binops.stderr
  tests/ui/never_type/diverging-fallback-no-leak.fallback.stderr
  tests/ui/never_type/issue-13352.stderr
  tests/ui/nll/user-annotations/normalization-2.stderr
  tests/ui/numbers-arithmetic/not-suggest-float-literal.stderr
  tests/ui/numbers-arithmetic/suggest-float-literal.stderr
  tests/ui/on-unimplemented/multiple-impls.stderr
  tests/ui/on-unimplemented/slice-index.stderr
  tests/ui/on-unimplemented/sum.stderr
  tests/ui/pattern/issue-110508.rs
  tests/ui/range/range-1.stderr
  tests/ui/span/multiline-span-simple.stderr
  tests/ui/suggestions/impl-trait-return-trailing-semicolon.stderr
  tests/ui/suggestions/into-str.stderr
  tests/ui/suggestions/issue-71394-no-from-impl.stderr
  tests/ui/thir-print/thir-flat-const-variant.rs
  tests/ui/thir-print/thir-flat-const-variant.stdout
  tests/ui/traits/bound/assoc-fn-bound-root-obligation.stderr
  tests/ui/try-trait/bad-interconversion.stderr
  tests/ui/try-trait/option-to-result.stderr
  tests/ui/try-trait/try-on-option.stderr
  tests/ui/type-alias-impl-trait/nested-tait-inference2.stderr
  tests/ui/type/type-check-defaults.stderr
  tests/ui/typeck/issue-81293.stderr
  tests/ui/typeck/issue-90101.stderr
  tests/ui/ufcs/ufcs-qpath-self-mismatch.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup, A-meta, T-libs

#113254 Use consistent formatting in Readme
  README.md
Labels: S-waiting-on-bors, A-meta

#113005 Don't call `query_normalize` when reporting similar impls
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  tests/ui/binop/binop-mul-i32-f32.stderr
  tests/ui/binop/shift-various-bad-types.stderr
  tests/ui/const-generics/exhaustive-value.stderr
  tests/ui/const-generics/generic_arg_infer/issue-91614.stderr
  tests/ui/const-generics/issues/issue-67185-2.stderr
  tests/ui/consts/const-eval/const-eval-overflow-3b.stderr
  tests/ui/consts/const-eval/const-eval-overflow-4b.stderr
  tests/ui/consts/missing-larger-array-impl.rs
  tests/ui/consts/missing-larger-array-impl.stderr
  tests/ui/consts/too_generic_eval_ice.stderr
  tests/ui/deriving/issue-103157.stderr
  tests/ui/did_you_mean/issue-21659-show-relevant-trait-impls-2.stderr
  tests/ui/did_you_mean/issue-39802-show-5-trait-impls.stderr
  tests/ui/did_you_mean/issue-49746-unicode-confusable-in-float-literal-expt.stderr
  tests/ui/fmt/ifmt-unimpl.stderr
  tests/ui/impl-trait/equality.stderr
  tests/ui/issues/issue-11771.stderr
  tests/ui/issues/issue-24352.stderr
  tests/ui/issues/issue-32709.stderr
  tests/ui/issues/issue-50582.stderr
  tests/ui/iterators/invalid-iterator-chain-with-int-infer.stderr
  tests/ui/iterators/invalid-iterator-chain.stderr
  tests/ui/mismatched_types/binops.stderr
  tests/ui/never_type/diverging-fallback-no-leak.fallback.stderr
  tests/ui/never_type/issue-13352.stderr
  tests/ui/numbers-arithmetic/not-suggest-float-literal.stderr
  tests/ui/numbers-arithmetic/suggest-float-literal.stderr
  tests/ui/on-unimplemented/multiple-impls.stderr
  tests/ui/on-unimplemented/slice-index.stderr
  tests/ui/on-unimplemented/sum.stderr
  tests/ui/range/range-1.stderr
  tests/ui/span/multiline-span-simple.stderr
  tests/ui/suggestions/impl-trait-return-trailing-semicolon.stderr
  tests/ui/suggestions/into-str.stderr
  tests/ui/suggestions/issue-71394-no-from-impl.stderr
  tests/ui/traits/bound/assoc-fn-bound-root-obligation.stderr
  tests/ui/try-trait/bad-interconversion.stderr
  tests/ui/try-trait/option-to-result.stderr
  tests/ui/try-trait/try-on-option.stderr
  tests/ui/type-alias-impl-trait/nested-tait-inference2.stderr
  tests/ui/type/type-check-defaults.stderr
  tests/ui/typeck/issue-81293.stderr
  tests/ui/typeck/issue-90101.stderr
  tests/ui/ufcs/ufcs-qpath-self-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#113064 std: edit [T]::swap docs
  library/core/src/slice/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#113138 Add release notes for 1.71.0
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#113217 resolve typerelative ctors to adt
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  tests/mir-opt/building/issue_110508.rs
  tests/mir-opt/building/issue_110508.{impl#0}-BAR.built.after.mir
  tests/mir-opt/building/issue_110508.{impl#0}-SELF_BAR.built.after.mir
  tests/ui/nll/user-annotations/normalization-2.stderr
  tests/ui/pattern/issue-110508.rs
  tests/ui/thir-print/thir-flat-const-variant.rs
  tests/ui/thir-print/thir-flat-const-variant.stdout
Labels: T-compiler, S-waiting-on-bors

#113483 [beta] backport
  Cargo.lock
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_lint/src/drop_forget_useless.rs
  library/std/Cargo.toml
  tests/run-make/allocator-shim-circular-deps/Makefile
  tests/run-make/allocator-shim-circular-deps/main.rs
  tests/run-make/allocator-shim-circular-deps/my_lib.rs
  tests/ui/lint/dropping_copy_types.rs
  tests/ui/lint/dropping_references.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/basic.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/basic.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/edition-2015-2018-lexing.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/gate.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/no-nuls.stderr
  tests/ui/rfcs/rfc-3348-c-string-literals/non-ascii.rs
  tests/ui/rfcs/rfc-3348-c-string-literals/non-ascii.stderr
  tests/ui/suggestions/issue-71394-no-from-impl.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#113485 Bump version to 1.73
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#113276 Update rustix
  Cargo.lock
  compiler/rustc_driver/Cargo.toml
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#112235 Port PGO/LTO/BOLT optimized build pipeline to Rust
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/bootstrap/Cargo.lock
  src/bootstrap/builder.rs
  src/bootstrap/metrics.rs
  src/bootstrap/render_tests.rs
  src/bootstrap/test.rs
  src/bootstrap/tool.rs
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/ci/github-actions/ci.yml
  src/ci/stage-build.py
  src/tools/build_helper/Cargo.toml
  src/tools/build_helper/src/lib.rs
  src/tools/build_helper/src/metrics.rs
  src/tools/opt-dist/Cargo.toml
  src/tools/opt-dist/README.md
  src/tools/opt-dist/src/environment/linux.rs
  src/tools/opt-dist/src/environment/mod.rs
  src/tools/opt-dist/src/environment/windows.rs
  src/tools/opt-dist/src/exec.rs
  src/tools/opt-dist/src/main.rs
  src/tools/opt-dist/src/metrics.rs
  src/tools/opt-dist/src/tests.rs
  src/tools/opt-dist/src/timer.rs
  src/tools/opt-dist/src/training.rs
  src/tools/opt-dist/src/utils/io.rs
  src/tools/opt-dist/src/utils/mod.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#113306 Update debuginfo test runner to provide more useful output
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/debugger.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#113488 update Miri
  Cargo.lock
  src/tools/miri/.github/workflows/ci.yml
  src/tools/miri/Cargo.lock
  src/tools/miri/Cargo.toml
  src/tools/miri/cargo-miri/src/main.rs
  src/tools/miri/cargo-miri/src/util.rs
  src/tools/miri/miri
  src/tools/miri/rust-version
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/stack.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/mod.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/env.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/src/shims/os_str.rs
  src/tools/miri/src/shims/unix/linux/fd.rs
  src/tools/miri/tests/compiletest.rs
  src/tools/miri/tests/fail/shims/memchr_null.rs
  src/tools/miri/tests/fail/shims/memchr_null.stderr
  src/tools/miri/tests/fail/shims/memcmp_null.rs
  src/tools/miri/tests/fail/shims/memcmp_null.stderr
  src/tools/miri/tests/fail/shims/memcpy_zero.rs
  src/tools/miri/tests/fail/shims/memcpy_zero.stderr
  src/tools/miri/tests/fail/shims/memrchr_null.rs
  src/tools/miri/tests/fail/shims/memrchr_null.stderr
  src/tools/miri/tests/pass/vec.rs
Labels: S-waiting-on-bors, merged-by-bors

#113469 Remove `default_free_fn` feature
  library/core/src/default.rs
  src/doc/unstable-book/src/library-features/default-free-fn.md
  tests/ui/resolve/issue-2356.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#113493 additional io::copy specializations
  library/std/src/io/copy.rs
  library/std/src/io/copy/tests.rs
Labels: S-waiting-on-bors, T-libs

#113508 Rollup of 5 pull requests
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  config.example.toml
  library/core/src/default.rs
  library/std/src/io/copy.rs
  library/std/src/io/copy/tests.rs
  src/bootstrap/config.rs
  src/bootstrap/config/tests.rs
  src/ci/docker/host-x86_64/test-various/Dockerfile
  src/doc/unstable-book/src/library-features/default-free-fn.md
  tests/assembly/stack-protector/stack-protector-heuristics-effect.rs
  tests/assembly/wasm_exceptions.rs
  tests/codegen/array-codegen.rs
  tests/codegen/avr/avr-func-addrspace.rs
  tests/codegen/consts.rs
  tests/codegen/enum-match.rs
  tests/codegen/fewer-names.rs
  tests/codegen/function-arguments-noopt.rs
  tests/codegen/function-arguments.rs
  tests/codegen/intrinsics/transmute-niched.rs
  tests/codegen/intrinsics/transmute-x64.rs
  tests/codegen/intrinsics/transmute.rs
  tests/codegen/match-optimized.rs
  tests/codegen/mem-replace-big-type.rs
  tests/codegen/mem-replace-simple-type.rs
  tests/codegen/repeat-trusted-len.rs
  tests/codegen/repr-transparent-aggregates-1.rs
  tests/codegen/riscv-abi/riscv64-lp64-lp64f-lp64d-abi.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-arithmetic-saturating.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-extract-insert.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-transmute-array.rs
  tests/codegen/simd_arith_offset.rs
  tests/codegen/slice-iter-len-eq-zero.rs
  tests/codegen/transmute-scalar.rs
  tests/codegen/uninit-consts.rs
  tests/codegen/union-abi.rs
  tests/codegen/var-names.rs
  tests/codegen/wasm_exceptions.rs
  tests/run-make/wasm-exceptions-nostd/Makefile
  tests/run-make/wasm-exceptions-nostd/src/arena_alloc.rs
  tests/run-make/wasm-exceptions-nostd/src/lib.rs
  tests/run-make/wasm-exceptions-nostd/src/logging.rs
  tests/run-make/wasm-exceptions-nostd/src/panicking.rs
  tests/run-make/wasm-exceptions-nostd/verify.mjs
  tests/ui/resolve/issue-2356.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#113247 Add Tests for native wasm exceptions
  src/ci/docker/host-x86_64/test-various/Dockerfile
  tests/assembly/stack-protector/stack-protector-heuristics-effect.rs
  tests/assembly/wasm_exceptions.rs
  tests/codegen/repr-transparent-aggregates-1.rs
  tests/codegen/wasm_exceptions.rs
  tests/run-make/wasm-exceptions-nostd/Makefile
  tests/run-make/wasm-exceptions-nostd/src/arena_alloc.rs
  tests/run-make/wasm-exceptions-nostd/src/lib.rs
  tests/run-make/wasm-exceptions-nostd/src/logging.rs
  tests/run-make/wasm-exceptions-nostd/src/panicking.rs
  tests/run-make/wasm-exceptions-nostd/verify.mjs
Labels: A-testsuite, S-waiting-on-bors, T-infra

#113273 Use String or Int to set the opt level
  config.example.toml
  src/bootstrap/config.rs
  src/bootstrap/config/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#111618 Always name the return place.
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  tests/codegen/array-codegen.rs
  tests/codegen/avr/avr-func-addrspace.rs
  tests/codegen/consts.rs
  tests/codegen/enum-match.rs
  tests/codegen/fewer-names.rs
  tests/codegen/function-arguments-noopt.rs
  tests/codegen/function-arguments.rs
  tests/codegen/intrinsics/transmute-niched.rs
  tests/codegen/intrinsics/transmute-x64.rs
  tests/codegen/intrinsics/transmute.rs
  tests/codegen/match-optimized.rs
  tests/codegen/mem-replace-big-type.rs
  tests/codegen/mem-replace-simple-type.rs
  tests/codegen/repeat-trusted-len.rs
  tests/codegen/riscv-abi/riscv64-lp64-lp64f-lp64d-abi.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-arithmetic-saturating.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-extract-insert.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-transmute-array.rs
  tests/codegen/simd_arith_offset.rs
  tests/codegen/slice-iter-len-eq-zero.rs
  tests/codegen/transmute-scalar.rs
  tests/codegen/uninit-consts.rs
  tests/codegen/union-abi.rs
  tests/codegen/var-names.rs
Labels: T-compiler, S-waiting-on-bors

#113341 Copy stage0 `rustc` binaries to `stage0-sysroot`
  src/bootstrap/compile.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#113389 Re-enable some coverage tests on Linux
  tests/run-coverage/uses_crate.coverage
  tests/run-coverage/uses_crate.rs
  tests/run-coverage/uses_inline_crate.coverage
  tests/run-coverage/uses_inline_crate.rs
Labels: S-waiting-on-bors, merged-by-bors, A-code-coverage

#113127 Set error handler output format as soon as possible
  compiler/rustc_session/src/config.rs
  tests/ui/conditional-compilation/cfg-arg-invalid-1.rs
  tests/ui/conditional-compilation/cfg-arg-invalid-2.rs
  tests/ui/conditional-compilation/cfg-arg-invalid-4.rs
  tests/ui/conditional-compilation/cfg-arg-invalid-6.rs
  tests/ui/conditional-compilation/cfg-arg-invalid-8.rs
  tests/ui/conditional-compilation/cfg-arg-invalid-9.rs
  tests/ui/conditional-compilation/cfg-empty-codemap.rs
  tests/ui/diagnostic-flags/colored-session-opt-error.rs
  tests/ui/diagnostic-flags/colored-session-opt-error.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108485 move pal cfgs in f32 and f64 to sys
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/sys/mod.rs
  src/tools/tidy/src/pal.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#108796 move personality to sys
  library/std/src/lib.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/personality/dwarf/eh.rs
  library/std/src/sys/personality/dwarf/mod.rs
  library/std/src/sys/personality/dwarf/tests.rs
  library/std/src/sys/personality/emcc.rs
  library/std/src/sys/personality/gcc.rs
  library/std/src/sys/personality/mod.rs
  src/tools/tidy/src/pal.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#113520 Rollup of 1 pull requests
  triagebot.toml
Labels: S-waiting-on-bors, merged-by-bors, rollup, A-meta

#113524 Remove the library/term exception in tidy's pal checker code
  src/tools/tidy/src/pal.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#113541 [stable] Prepare 1.71.0 stable release
  RELEASES.md
  src/ci/channel
Labels: A-testsuite, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#113544 CI: use `macos-13` runner for Apple jobs
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#113523 Reuse LLVMConstInBoundsGEP2
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#113528 Dynamically size sigaltstk in rustc
  compiler/rustc_driver_impl/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#113543 Remove `rustc_llvm` from llvm-stamp nags
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#113551 bootstrap: Don't print "Skipping" twice
  src/bootstrap/builder.rs
Labels: T-bootstrap, S-waiting-on-bors

#113556 Don't use serde-derive in the rls shim
  Cargo.lock
  src/tools/rls/Cargo.toml
  src/tools/rls/src/main.rs
Labels: S-waiting-on-bors

#113386 style-guide: Expand example of combinable expressions to include arrays
  src/doc/style-guide/src/expressions.md
Labels: S-waiting-on-bors, T-style

#113540 [beta] promote 1.72
  compiler/rustc_feature/src/active.rs
  library/alloc/src/string.rs
  library/core/src/ffi/c_str.rs
  library/std/src/ffi/os_str.rs
  library/std/src/sync/mpsc/mod.rs
  src/ci/channel
  src/ci/stage-build.py
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#113316 Rewrite `UnDerefer`, again
  compiler/rustc_borrowck/src/type_check/liveness/polonius.rs
  compiler/rustc_mir_dataflow/src/impls/mod.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_dataflow/src/move_paths/mod.rs
  compiler/rustc_mir_dataflow/src/un_derefer.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#111717 Uplift `clippy::fn_null_check` lint
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/fn_null_check.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  src/tools/clippy/clippy_lints/src/declared_lints.rs
  src/tools/clippy/clippy_lints/src/fn_null_check.rs
  src/tools/clippy/clippy_lints/src/lib.rs
  src/tools/clippy/clippy_lints/src/renamed_lints.rs
  src/tools/clippy/tests/ui/fn_null_check.rs
  src/tools/clippy/tests/ui/fn_null_check.stderr
  src/tools/clippy/tests/ui/rename.fixed
  src/tools/clippy/tests/ui/rename.rs
  src/tools/clippy/tests/ui/rename.stderr
  tests/ui/lint/fn_null_check.rs
  tests/ui/lint/fn_null_check.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#113130 Correct the Android stat struct definitions
  library/std/src/os/android/raw.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, S-waiting-on-fcp, to-announce
