Repository rust-lang/rust, pull requests merged in 2023-09, with the labels that each got.

#115400 Return ident for ExprField and PatField HIR nodes
  compiler/rustc_hir/src/hir.rs
  tests/ui/attributes/issue-115264-expr-field.rs
  tests/ui/attributes/issue-115264-pat-field.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114448 docs: improve std::fs::read doc
  library/std/src/fs.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#113201 Permit recursive weak type aliases
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_trait_selection/messages.ftl
  compiler/rustc_trait_selection/src/traits/project.rs
  tests/ui/infinite/infinite-type-alias-mutual-recursion.feature.stderr
  tests/ui/infinite/infinite-type-alias-mutual-recursion.gated.stderr
  tests/ui/infinite/infinite-type-alias-mutual-recursion.rs
  tests/ui/infinite/infinite-vec-type-recursion.feature.stderr
  tests/ui/infinite/infinite-vec-type-recursion.gated.stderr
  tests/ui/infinite/infinite-vec-type-recursion.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115415 [`Clippy`] Use symbols intended for `arithmetic_side_effects`
  library/core/src/num/saturating.rs
  library/core/src/num/wrapping.rs
  src/tools/clippy/clippy_lints/src/operators/arithmetic_side_effects.rs
  src/tools/clippy/tests/ui/arithmetic_side_effects.rs
  src/tools/clippy/tests/ui/arithmetic_side_effects.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111752 Lower `Or` pattern without allocating place
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  tests/codegen/slice-as_chunks.rs
  tests/codegen/slice-iter-nonnull.rs
  tests/mir-opt/bool_compare.opt1.InstSimplify.diff
  tests/mir-opt/bool_compare.opt2.InstSimplify.diff
  tests/mir-opt/bool_compare.opt3.InstSimplify.diff
  tests/mir-opt/bool_compare.opt4.InstSimplify.diff
  tests/mir-opt/building/logical_or_in_conditional.rs
  tests/mir-opt/building/logical_or_in_conditional.test_complex.built.after.mir
  tests/mir-opt/building/logical_or_in_conditional.test_or.built.after.mir
  tests/mir-opt/const_goto_storage.match_nested_if.ConstGoto.diff
  tests/mir-opt/dataflow-const-prop/if.main.DataflowConstProp.diff
  tests/mir-opt/equal_true.opt.InstSimplify.diff
  tests/mir-opt/if_condition_int.dont_opt_floats.SimplifyComparisonIntegral.diff
  tests/mir-opt/if_condition_int.opt_char.SimplifyComparisonIntegral.diff
  tests/mir-opt/if_condition_int.opt_i8.SimplifyComparisonIntegral.diff
  tests/mir-opt/if_condition_int.opt_multiple_ifs.SimplifyComparisonIntegral.diff
  tests/mir-opt/if_condition_int.opt_negative.SimplifyComparisonIntegral.diff
  tests/mir-opt/if_condition_int.opt_u32.SimplifyComparisonIntegral.diff
  tests/mir-opt/inline/inline_diverging.g.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_diverging.g.Inline.panic-unwind.diff
  tests/mir-opt/issue_99325.main.built.after.mir
  tests/mir-opt/lower_array_len.array_bound.NormalizeArrayLen.panic-abort.diff
  tests/mir-opt/lower_array_len.array_bound.NormalizeArrayLen.panic-unwind.diff
  tests/mir-opt/lower_array_len.array_bound_mut.NormalizeArrayLen.panic-abort.diff
  tests/mir-opt/lower_array_len.array_bound_mut.NormalizeArrayLen.panic-unwind.diff
  tests/mir-opt/lower_slice_len.bound.LowerSliceLenCalls.panic-abort.diff
  tests/mir-opt/lower_slice_len.bound.LowerSliceLenCalls.panic-unwind.diff
  tests/mir-opt/matches_reduce_branches.match_nested_if.MatchBranchSimplification.diff
  tests/mir-opt/not_equal_false.opt.InstSimplify.diff
  tests/mir-opt/pre-codegen/chained_comparison.naive.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/chained_comparison.returning.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/checked_ops.step_forward.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.int_range.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/mem_replace.mem_replace.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/range_iter.forward_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/range_iter.forward_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/range_iter.range_iter_next.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/range_iter.range_iter_next.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_filter.variant_a-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_filter.variant_b-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_mut_usize.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_mut_usize.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.range_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.range_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/retag.array_casts.SimplifyCfg-elaborate-drops.after.panic-abort.mir
  tests/mir-opt/retag.array_casts.SimplifyCfg-elaborate-drops.after.panic-unwind.mir
  tests/run-coverage/lazy_boolean.coverage
  tests/ui/rfcs/rfc-2497-if-let-chains/chains-without-let.rs
  tests/ui/rfcs/rfc-2497-if-let-chains/chains-without-let.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, perf-regression

#114065 `impl TryFrom<char> for u16`
  library/core/src/char/convert.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#115411 miri ABI check: fix handling of 1-ZST; don't accept sign differences
  compiler/rustc_const_eval/src/interpret/terminator.rs
  src/tools/miri/tests/pass/function_calls/abi_compat.rs
Labels: T-compiler, S-waiting-on-bors

#115424 diagnostics: avoid wrong `unused_parens` on `x as (T) < y`
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/passes.rs
  compiler/rustc_lint/src/unused.rs
  tests/ui/lint/unused/unused-parens-issue-106413.rs
  tests/ui/lint/unused/unused-parens-issue-106413.stderr
Labels: T-compiler, S-waiting-on-bors

#115425 remove unnecessary heap allocation
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
Labels: T-compiler, S-waiting-on-bors

#115446 fix version for abi_thiscall to 1.73.0, which was forgotten to change when stabilized and (later) moved to beta
  compiler/rustc_feature/src/accepted.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#115447 Add comment so pub items are not removed
  compiler/rustc_errors/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#115452 Rollup of 5 pull requests
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/passes.rs
  compiler/rustc_lint/src/unused.rs
  src/tools/miri/tests/pass/function_calls/abi_compat.rs
  tests/ui/lint/unused/unused-parens-issue-106413.rs
  tests/ui/lint/unused/unused-parens-issue-106413.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#115276 rustdoc: correctly deal with self ty params when eliding default object lifetimes
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  tests/rustdoc/inline_cross/auxiliary/dyn_trait.rs
  tests/rustdoc/inline_cross/dyn_trait.rs
Labels: T-rustdoc, beta-nominated, beta-accepted, S-waiting-on-bors, stable-nominated, stable-accepted, merged-by-bors

#113295 Implement Step for ascii::Char
  library/core/src/iter/range.rs
  library/core/tests/iter/range.rs
  library/core/tests/lib.rs
  tests/ui/range/range-1.stderr
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#115422 Use `OnceLock` for `SingleCache`
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_middle/src/mir/basic_blocks.rs
  compiler/rustc_query_system/src/query/caches.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#115286 Skip rendering metadata strings from include_str!/include_bytes!
  compiler/rustc_metadata/src/lib.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/json/conversions.rs
  tests/rustdoc/show-const-contents.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#115443 feat(std): Stabilize 'os_str_bytes' feature
  library/std/src/ffi/mod.rs
  library/std/src/ffi/os_str.rs
  library/std/src/path.rs
  library/std/src/sys/common/small_c_string.rs
  library/std/src/sys/common/tests.rs
  library/std/src/sys/unix/os_str.rs
  library/std/src/sys/unix/os_str/tests.rs
  library/std/src/sys/unix/path.rs
  library/std/src/sys/unix/process/process_common.rs
  library/std/src/sys/windows/args.rs
  library/std/src/sys/windows/os_str.rs
  library/std/src/sys/windows/path.rs
  library/std/src/sys/windows/process.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/shims/os_str.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/tests/utils/fs.rs
Labels: O-windows, T-libs-api, S-waiting-on-bors, T-libs, O-unix

#115444 Create a SMIR visitor
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/visitor.rs
Labels: T-compiler, S-waiting-on-bors

#115449 Const-stabilize `is_ascii`
  library/core/src/lib.rs
  library/core/src/slice/ascii.rs
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#115456 Add spastorino on vacation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#115469 Rollup of 7 pull requests
  compiler/rustc_llvm/build.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/visitor.rs
  library/core/src/lib.rs
  library/core/src/num/nonzero.rs
  library/core/src/option.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/ascii.rs
  library/core/src/str/mod.rs
  library/std/src/ffi/mod.rs
  library/std/src/ffi/os_str.rs
  library/std/src/path.rs
  library/std/src/sys/common/small_c_string.rs
  library/std/src/sys/common/tests.rs
  library/std/src/sys/solid/error.rs
  library/std/src/sys/solid/mod.rs
  library/std/src/sys/solid/net.rs
  library/std/src/sys/unix/os_str.rs
  library/std/src/sys/unix/os_str/tests.rs
  library/std/src/sys/unix/path.rs
  library/std/src/sys/unix/process/process_common.rs
  library/std/src/sys/windows/args.rs
  library/std/src/sys/windows/os_str.rs
  library/std/src/sys/windows/path.rs
  library/std/src/sys/windows/process.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/shims/os_str.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/tests/utils/fs.rs
  triagebot.toml
Labels: O-windows, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, O-unix, O-solid

#115427 kmc-solid: Fix `is_interrupted`
  library/std/src/sys/solid/error.rs
  library/std/src/sys/solid/mod.rs
  library/std/src/sys/solid/net.rs
Labels: S-waiting-on-bors, T-libs, O-solid

#114845 Add alignment to the NPO guarantee
  library/core/src/num/nonzero.rs
  library/core/src/option.rs
  library/core/src/ptr/non_null.rs
Labels: T-lang, T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#114349 rustc_llvm: Link to `zlib` on dragonfly and solaris
  compiler/rustc_llvm/build.rs
Labels: T-compiler, S-waiting-on-bors

#115409 bootstrap: use git merge-base for LLVM CI download logic
  src/bootstrap/llvm.rs
  src/tools/build_helper/src/git.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#115429 Fall through when resolving elided assoc const lifetimes
  compiler/rustc_resolve/src/late.rs
  tests/ui/associated-consts/double-elided.rs
  tests/ui/associated-consts/double-elided.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115273 Optimize Take::{fold, for_each} when wrapping TrustedRandomAccess iterators
  library/core/src/iter/adapters/take.rs
  tests/codegen/lib-optimizations/iter-sum.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#115471 also skip musl checks when BOOTSTRAP_SKIP_TARGET_SANITY is set
  src/bootstrap/sanity.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#115484 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/sidebar.goml
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#115436 [rustdoc] Fix type based search
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/full-path-function.js
  tests/rustdoc-js/full-path-function.js
  tests/rustdoc-js/full-path-function.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#115441 fix the repetitive word
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, WG-trait-system-refactor

#115472 make it more clear what 'Tier 2' (without host tools) means
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors, merged-by-bors

#115470 add stable provenance
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/alloc.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115496 update Miri
  src/tools/miri/README.md
  src/tools/miri/ci.sh
  src/tools/miri/miri-script/src/commands.rs
  src/tools/miri/rust-version
Labels: S-waiting-on-bors, merged-by-bors

#115361 Don't manually compute param indices when adding implicit `Sized` and `ConstParamHasTy`
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115448 optimize bootstrap dep tree
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#115478 Emit unused doc comment warnings for pat and expr fields
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  tests/ui/lint/unused/unused-doc-comments-edge-cases.rs
  tests/ui/lint/unused/unused-doc-comments-edge-cases.stderr
Labels: T-compiler, S-waiting-on-bors

#115490 rustdoc: update comment in search.js for #107629
  src/librustdoc/html/static/js/search.js
Labels: T-rustdoc, S-waiting-on-bors

#115503 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/code-color.goml
Labels: T-rustdoc, S-waiting-on-bors

#115510 Rollup of 3 pull requests
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-gui/code-color.goml
  tests/ui/lint/unused/unused-doc-comments-edge-cases.rs
  tests/ui/lint/unused/unused-doc-comments-edge-cases.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#115270 Add note on non-exhaustiveness when matching on str and nested non-exhaustive enums
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
  tests/ui/closures/2229_closure_analysis/match/non-exhaustive-match.stderr
  tests/ui/match/match_non_exhaustive.stderr
  tests/ui/pattern/usefulness/auxiliary/non-exhaustive.rs
  tests/ui/pattern/usefulness/issue-105479-str-non-exhaustiveness.rs
  tests/ui/pattern/usefulness/issue-105479-str-non-exhaustiveness.stderr
  tests/ui/pattern/usefulness/issue-30240.stderr
  tests/ui/pattern/usefulness/nested-non-exhaustive-enums.rs
  tests/ui/pattern/usefulness/nested-non-exhaustive-enums.stderr
  tests/ui/rfcs/rfc-2008-non-exhaustive/enum.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115445 remove some unused crate deps
  Cargo.lock
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_traits/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, A-query-system

#115489 Use std::io::Error::is_interrupted everywhere
  library/std/src/io/buffered/bufwriter.rs
  library/std/src/io/copy.rs
  library/std/src/io/mod.rs
  library/std/src/os/unix/fs.rs
  library/std/src/os/wasi/fs.rs
  library/std/src/sys/hermit/mod.rs
  library/std/src/sys/hermit/net.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/net.rs
  library/std/src/sys/unix/process/process_unix.rs
Labels: S-waiting-on-bors, T-libs, O-unix, O-wasi, O-hermit

#115512 Command::spawn: Fix STARTUPINFOW.cb being initialized with the address of size_of
  library/std/src/sys/windows/process.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#115518 Rollup of 5 pull requests
  Cargo.lock
  RELEASES.md
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_traits/Cargo.toml
  library/core/src/ops/range.rs
  library/std/src/io/buffered/bufwriter.rs
  library/std/src/io/copy.rs
  library/std/src/io/mod.rs
  library/std/src/os/unix/fs.rs
  library/std/src/os/wasi/fs.rs
  library/std/src/sys/hermit/mod.rs
  library/std/src/sys/hermit/net.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/net.rs
  library/std/src/sys/unix/process/process_unix.rs
  library/std/src/sys/windows/process.rs
Labels: O-windows, T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup, T-libs, A-query-system, O-unix, O-wasi, O-hermit

#115279 RangeFull: Remove parens around .. in documentation snippet
  library/core/src/ops/range.rs
Labels: S-waiting-on-bors, T-libs

#115318 Reference uplifted clippy lints' rustc name in the release notes
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#115491 Outline panicking code for `RefCell::borrow` and `RefCell::borrow_mut`
  library/core/src/cell.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#115391 Encode DepKind as u16
  compiler/rustc_middle/src/dep_graph/dep_node.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115493 Move RawOsError defination to sys
  library/std/src/io/error.rs
  library/std/src/io/error/repr_bitpacked.rs
  library/std/src/sys/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#115513 Don't forget to normalize the translated message
  compiler/rustc_errors/src/emitter.rs
  tests/ui/consts/const-eval/const_panic-normalize-tabs-115498.rs
  tests/ui/consts/const-eval/const_panic-normalize-tabs-115498.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115541 Mirror the rustc-perf source
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/tools/opt-dist/src/environment/windows.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#115467 Do not require associated types with Self: Sized to uphold bounds when confirming object candidate
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/ui/impl-trait/in-trait/issue-102140.stderr
  tests/ui/impl-trait/in-trait/object-safety-sized.rs
  tests/ui/object-safety/assoc_type_bounds_sized_used.rs
  tests/ui/object-safety/assoc_type_bounds_sized_used.stderr
  tests/ui/object-safety/call-when-assoc-ty-is-sized.rs
Labels: S-waiting-on-bors, merged-by-bors, T-types, WG-trait-system-refactor

#115531 read_via_copy: don't prematurely optimize away the read
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  tests/mir-opt/lower_intrinsics.read_via_copy_uninhabited.LowerIntrinsics.panic-abort.diff
  tests/mir-opt/lower_intrinsics.read_via_copy_uninhabited.LowerIntrinsics.panic-unwind.diff
  tests/ui/consts/const-eval/ub-uninhabit.rs
  tests/ui/consts/const-eval/ub-uninhabit.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115488 Take `&mut Results` in `ResultsVisitor`
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/visitor.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/generator.rs
Labels: T-compiler, S-waiting-on-bors

#115492 Allow `large_assignments` for Box/Arc/Rc initialization
  compiler/rustc_monomorphize/src/collector.rs
  tests/ui/async-await/large_moves.attribute.stderr
  tests/ui/async-await/large_moves.option.stderr
  tests/ui/async-await/large_moves.rs
Labels: T-compiler, S-waiting-on-bors

#115519 Don't ICE on associated type projection without feature gate in new solver
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  tests/ui/traits/new-solver/dont-ice-on-assoc-projection.rs
  tests/ui/traits/new-solver/dont-ice-on-assoc-projection.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#115534 Expose more information with DefId in smir
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
Labels: T-compiler, S-waiting-on-bors

#115553 Rollup of 5 pull requests
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/visitor.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_monomorphize/messages.ftl
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/errors.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  tests/ui/async-await/large_moves.attribute.stderr
  tests/ui/async-await/large_moves.option.stderr
  tests/ui/async-await/large_moves.rs
  tests/ui/rmeta/auxiliary/rmeta-meta.rs
  tests/ui/rmeta/no_optitimized_mir.rs
  tests/ui/rmeta/no_optitimized_mir.stderr
  tests/ui/traits/new-solver/dont-ice-on-assoc-projection.rs
  tests/ui/traits/new-solver/dont-ice-on-assoc-projection.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#115353 Emit error instead of ICE when optimized MIR is missing
  compiler/rustc_monomorphize/messages.ftl
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/errors.rs
  tests/ui/rmeta/auxiliary/rmeta-meta.rs
  tests/ui/rmeta/no_optitimized_mir.rs
  tests/ui/rmeta/no_optitimized_mir.stderr
Labels: T-compiler, S-waiting-on-bors

#115543 Retry download of rustc-perf in opt-dist
  src/tools/opt-dist/src/environment/windows.rs
  src/tools/opt-dist/src/utils/mod.rs
Labels: S-waiting-on-bors, merged-by-bors

#115544 support `{disable,enable}-patch-binaries-for-nix` in configure.py
  src/bootstrap/configure.py
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#115523 improve `AttrTokenStream`
  compiler/rustc_ast/src/tokenstream.rs
Labels: T-compiler, S-waiting-on-bors

#115536 interpret: make MemPlace, Place, Operand types private to the interpreter
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/mod.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/mod.rs
  src/tools/miri/src/concurrency/data_race.rs
  src/tools/miri/src/concurrency/thread.rs
  src/tools/miri/src/concurrency/weak_memory.rs
  src/tools/miri/src/diagnostics.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/env.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/src/shims/os_str.rs
  src/tools/miri/src/shims/unix/android/dlsym.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/src/shims/unix/linux/sync.rs
  src/tools/miri/src/shims/unix/macos/dlsym.rs
  src/tools/miri/src/shims/unix/macos/foreign_items.rs
  src/tools/miri/src/shims/windows/dlsym.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/src/tag_gc.rs
Labels: T-compiler, S-waiting-on-bors

#114813 explain why we can mutate the FPU control word
  library/core/src/num/dec2flt/fpu.rs
  library/core/src/num/dec2flt/number.rs
Labels: S-waiting-on-bors, T-libs

#115559 implied bounds: do not ICE on unconstrained region vars
  compiler/rustc_trait_selection/src/traits/outlives_bounds.rs
  tests/ui/implied-bounds/implied-bounds-unconstrained-1.rs
  tests/ui/implied-bounds/implied-bounds-unconstrained-2.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, stable-nominated

#115579 Rollup of 3 pull requests
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_trait_selection/src/traits/outlives_bounds.rs
  library/core/src/intrinsics.rs
  library/core/src/ptr/mod.rs
  tests/ui-fulldeps/stable-mir/compilation-result.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
  tests/ui/implied-bounds/implied-bounds-unconstrained-1.rs
  tests/ui/implied-bounds/implied-bounds-unconstrained-2.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#115397 Add support to return value in StableMIR interface and not crash due to compilation error
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  tests/ui-fulldeps/stable-mir/compilation-result.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
Labels: T-compiler, S-waiting-on-bors

#114794 clarify safety documentation of ptr::swap and ptr::copy
  library/core/src/intrinsics.rs
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, T-libs

#115507 Use relative positions inside a SourceFile.
  compiler/rustc_codegen_cranelift/src/debuginfo/line_info.rs
  compiler/rustc_codegen_llvm/src/debuginfo/create_scope_map.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_query_system/src/ich/impls_syntax.rs
  compiler/rustc_span/src/analyze_source_file.rs
  compiler/rustc_span/src/analyze_source_file/tests.rs
  compiler/rustc_span/src/caching_source_map_view.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_span/src/source_map/tests.rs
  compiler/rustc_span/src/tests.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/scrape_examples.rs
  src/tools/clippy/clippy_lints/src/undocumented_unsafe_blocks.rs
  src/tools/clippy/clippy_utils/src/source.rs
  src/tools/rustfmt/src/parse/session.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#115371 Make if let guard parsing consistent with normal guards
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/parser/struct-literal-in-if.rs
  tests/ui/parser/struct-literal-in-if.stderr
  tests/ui/parser/struct-literal-in-match-guard.rs
  tests/ui/parser/struct-literal-in-while.rs
  tests/ui/parser/struct-literal-in-while.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115529 Fix error report for size overflow from transmute
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_transmute/src/lib.rs
  compiler/rustc_transmute/src/maybe_transmutable/mod.rs
  tests/ui/transmute/issue-115402-overflow-size.rs
  tests/ui/transmute/issue-115402-overflow-size.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115584 replace doc occurrences of ItemLikeVisitor
  compiler/rustc_hir/src/intravisit.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115453 Stabilize `io_error_other` feature
  library/std/src/io/error.rs
Labels: relnotes, S-waiting-on-bors, merged-by-bors, T-libs

#115532 Implement SMIR generic parameter instantiation
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/fold.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  compiler/rustc_smir/src/stable_mir/visitor.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115401 Add `FreezeLock` type and use it to store `Definitions`
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_data_structures/src/sync/freeze.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_session/src/cstore.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#115252 Represent MIR composite debuginfo as projections instead of aggregates
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/custom/parse.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_transform/src/remove_zsts.rs
  compiler/rustc_mir_transform/src/sroa.rs
  tests/mir-opt/const_debuginfo.main.ConstDebugInfo.diff
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/sroa/lifetimes.foo.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.constant.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.ref_copies.ScalarReplacementOfAggregates.diff
Labels: A-debuginfo, A-codegen, T-compiler, A-mir, S-waiting-on-bors, merged-by-bors

#115614 Fix minor grammar typo
  library/core/src/error.md
Labels: S-waiting-on-bors, T-libs

#115574 Replace `rustc_data_structures` dependency with `rustc_index` in `rustc_parse_format`
  Cargo.lock
  compiler/rustc_parse_format/Cargo.toml
  compiler/rustc_parse_format/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#115578 Clarify cryptic comments
  compiler/rustc_lint/src/traits.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/ty/sty.rs
  tests/ui/drop-bounds/drop-bounds-impl-drop.rs
  tests/ui/privacy/unnameable_types.rs
Labels: T-compiler, S-waiting-on-bors

#115587 fix #115348
  compiler/rustc_mir_transform/src/check_unsafety.rs
  tests/ui/unsafe/issue-115348-false-positive-warning-of-unnecessary-unsafe.rs
  tests/ui/unsafe/issue-115348-false-positive-warning-of-unnecessary-unsafe.stderr
Labels: T-compiler, S-waiting-on-bors

#115596 A small change
  compiler/rustc_parse/src/parser/attr_wrapper.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#115598 Fix log formatting in bootstrap
  src/bootstrap/lib.rs
  src/bootstrap/llvm.rs
Labels: T-bootstrap, S-waiting-on-bors

#115605 Better Debug for `Ty` in smir
  compiler/rustc_smir/src/stable_mir/ty.rs
Labels: T-compiler, S-waiting-on-bors

#114511 Remove the unhelpful let binding diag comes from FormatArguments
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  tests/ui/borrowck/issue-114374-invalid-help-fmt-args.rs
  tests/ui/borrowck/issue-114374-invalid-help-fmt-args.stderr
Labels: T-compiler, S-waiting-on-bors

#114946 Preserve ASAN-related symbols during LTO.
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  tests/codegen/sanitizer/address-sanitizer-globals-tracking.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115166 Lint on invalid usage of `UnsafeCell::raw_get` in reference casting
  compiler/rustc_lint/src/reference_casting.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/cell.rs
  tests/ui/lint/reference_casting.rs
  tests/ui/lint/reference_casting.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#110050 Use a specialized varint + bitpacking scheme for DepGraph encoding
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/dep_graph/mod.rs
  compiler/rustc_query_system/src/dep_graph/edges.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  compiler/rustc_query_system/src/dep_graph/serialized.rs
  compiler/rustc_query_system/src/lib.rs
  compiler/rustc_serialize/src/opaque.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#115616 Sync rustc_codegen_cranelift
  compiler/rustc_codegen_cranelift/docs/usage.md
  compiler/rustc_codegen_cranelift/patches/stdlib-lock.toml
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
Labels: A-codegen, T-compiler, S-waiting-on-bors, merged-by-bors, A-cranelift

#115582 Implement refinement lint for RPITIT
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item/refine.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/ty/generic_args.rs
  tests/ui/async-await/in-trait/async-example-desugared-extra.rs
  tests/ui/async-await/in-trait/async-example-desugared.rs
  tests/ui/impl-trait/in-trait/auxiliary/rpitit.rs
  tests/ui/impl-trait/in-trait/bad-item-bound-within-rpitit.rs
  tests/ui/impl-trait/in-trait/bad-item-bound-within-rpitit.stderr
  tests/ui/impl-trait/in-trait/deep-match-works.rs
  tests/ui/impl-trait/in-trait/foreign.rs
  tests/ui/impl-trait/in-trait/issue-102571.rs
  tests/ui/impl-trait/in-trait/issue-102571.stderr
  tests/ui/impl-trait/in-trait/nested-rpitit.rs
  tests/ui/impl-trait/in-trait/object-safety.rs
  tests/ui/impl-trait/in-trait/refine.rs
  tests/ui/impl-trait/in-trait/refine.stderr
  tests/ui/impl-trait/in-trait/reveal.rs
  tests/ui/impl-trait/in-trait/rpitit-shadowed-by-missing-adt.rs
  tests/ui/impl-trait/in-trait/signature-mismatch.failure.stderr
  tests/ui/impl-trait/in-trait/signature-mismatch.rs
  tests/ui/impl-trait/in-trait/specialization-substs-remap.rs
  tests/ui/impl-trait/in-trait/success.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115602 Don't report any errors in `lower_intrinsics`.
  compiler/rustc_borrowck/messages.ftl
  compiler/rustc_borrowck/src/session_diagnostics.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_mir_transform/messages.ftl
  compiler/rustc_mir_transform/src/errors.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114183 Stabilize `PATH` option for `--print KIND=PATH`
  compiler/rustc_session/src/config.rs
  src/doc/rustc/src/command-line-arguments.md
  src/doc/unstable-book/src/compiler-flags/path-options.md
  tests/run-make/print-cfg/Makefile
  tests/ui/feature-gates/print-with-path.cfg.stderr
  tests/ui/feature-gates/print-with-path.rs
  tests/ui/feature-gates/print-with-path.target-cpus.stderr
  tests/ui/feature-gates/print-with-path.target-features.stderr
Labels: T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#114855 rustdoc: show inner enum and struct in type definition for concrete type
  src/doc/rustdoc/src/how-to-read-rustdoc.md
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/fold.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/sidebar.rs
  src/librustdoc/json/conversions.rs
  tests/rustdoc/auxiliary/cross_crate_generic_typedef.rs
  tests/rustdoc/typedef-inner-variants-lazy_type_alias.rs
  tests/rustdoc/typedef-inner-variants.rs
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, A-rustdoc-ui, A-rustdoc-json

#115527 Don't require `Drop` for `[PhantomData<T>; N]` where `N` and `T` are generic, if `T` requires `Drop`
  compiler/rustc_ty_utils/src/needs_drop.rs
  tests/ui/consts/drop-maybe_uninit.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors

#114299 Add char::MIN
  library/core/src/char/methods.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#115586 coverage: Simplify the `coverageinfo` query
  compiler/rustc_mir_transform/src/coverage/query.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#115608 miri: catch function calls where the argument is caller-invalid / the return value callee-invalid
  compiler/rustc_const_eval/src/interpret/place.rs
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_callee_arg.rs
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_callee_arg.stderr
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_callee_ret.rs
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_callee_ret.stderr
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_caller_arg.rs
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_caller_arg.stderr
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_caller_ret.rs
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_caller_ret.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115665 Rollup of 7 pull requests
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_type_ir/src/lib.rs
  src/ci/docker/host-x86_64/dist-various-2/build-wasi-threads-toolchain.sh
  src/ci/docker/host-x86_64/dist-various-2/build-wasi-toolchain.sh
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/wasm32-wasi-preview1-threads.md
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/templates/page.html
  tests/rustdoc/const-generics/const-generic-defaults.rs
  tests/rustdoc/const-generics/const-generics-docs.rs
  tests/rustdoc/issue-88600.rs
  tests/rustdoc/private-fields-tuple-struct.rs
  tests/rustdoc/where.SWhere_Simd_item-decl.html
  tests/rustdoc/where.alpha_trait_decl.html
  tests/rustdoc/where.rs
  tests/ui/associated-type-bounds/return-type-notation/basic.without.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.current.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.next.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.rs
  tests/ui/trait-bounds/issue-82038.rs
  tests/ui/trait-bounds/issue-82038.stderr
  tests/ui/traits/object/enforce-supertrait-projection.rs
  tests/ui/traits/object/enforce-supertrait-projection.stderr
  tests/ui/traits/suggest-dereferences/dont-suggest-unsize-deref.rs
  tests/ui/traits/suggest-dereferences/dont-suggest-unsize-deref.stderr
  tests/ui/traits/suggest-dereferences/issue-39029.fixed
  tests/ui/traits/suggest-dereferences/issue-39029.rs
  tests/ui/traits/suggest-dereferences/issue-39029.stderr
  tests/ui/traits/suggest-dereferences/issue-62530.fixed
  tests/ui/traits/suggest-dereferences/issue-62530.rs
  tests/ui/traits/suggest-dereferences/issue-62530.stderr
  tests/ui/traits/suggest-dereferences/multiple-0.fixed
  tests/ui/traits/suggest-dereferences/multiple-0.rs
  tests/ui/traits/suggest-dereferences/multiple-0.stderr
  tests/ui/traits/suggest-dereferences/multiple-1.rs
  tests/ui/traits/suggest-dereferences/multiple-1.stderr
  tests/ui/traits/suggest-dereferences/root-obligation.fixed
  tests/ui/traits/suggest-dereferences/root-obligation.rs
  tests/ui/traits/suggest-dereferences/root-obligation.stderr
  tests/ui/traits/suggest-dereferences/suggest-dereferencing-receiver-argument.fixed
  tests/ui/traits/suggest-dereferences/suggest-dereferencing-receiver-argument.rs
  tests/ui/traits/suggest-dereferences/suggest-dereferencing-receiver-argument.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup

#115604 rustdoc: Render private fields in tuple struct as `/* private fields */`
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc/const-generics/const-generic-defaults.rs
  tests/rustdoc/const-generics/const-generics-docs.rs
  tests/rustdoc/issue-88600.rs
  tests/rustdoc/private-fields-tuple-struct.rs
  tests/rustdoc/where.SWhere_Simd_item-decl.html
  tests/rustdoc/where.alpha_trait_decl.html
  tests/rustdoc/where.rs
Labels: T-rustdoc, S-waiting-on-bors

#115624 Print the path of a return-position impl trait in trait when `return_type_notation` is enabled
  compiler/rustc_middle/src/ty/print/pretty.rs
  tests/ui/associated-type-bounds/return-type-notation/basic.without.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.current.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.next.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.rs
Labels: T-compiler, S-waiting-on-bors

#115629 Don't suggest dereferencing to unsized type
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/traits/object/enforce-supertrait-projection.rs
  tests/ui/traits/object/enforce-supertrait-projection.stderr
  tests/ui/traits/suggest-dereferences/dont-suggest-unsize-deref.rs
  tests/ui/traits/suggest-dereferences/dont-suggest-unsize-deref.stderr
  tests/ui/traits/suggest-dereferences/issue-39029.fixed
  tests/ui/traits/suggest-dereferences/issue-39029.rs
  tests/ui/traits/suggest-dereferences/issue-39029.stderr
  tests/ui/traits/suggest-dereferences/issue-62530.fixed
  tests/ui/traits/suggest-dereferences/issue-62530.rs
  tests/ui/traits/suggest-dereferences/issue-62530.stderr
  tests/ui/traits/suggest-dereferences/multiple-0.fixed
  tests/ui/traits/suggest-dereferences/multiple-0.rs
  tests/ui/traits/suggest-dereferences/multiple-0.stderr
  tests/ui/traits/suggest-dereferences/multiple-1.rs
  tests/ui/traits/suggest-dereferences/multiple-1.stderr
  tests/ui/traits/suggest-dereferences/root-obligation.fixed
  tests/ui/traits/suggest-dereferences/root-obligation.rs
  tests/ui/traits/suggest-dereferences/root-obligation.stderr
  tests/ui/traits/suggest-dereferences/suggest-dereferencing-receiver-argument.fixed
  tests/ui/traits/suggest-dereferences/suggest-dereferencing-receiver-argument.rs
  tests/ui/traits/suggest-dereferences/suggest-dereferencing-receiver-argument.stderr
Labels: T-compiler, S-waiting-on-bors

#115634 Use `newtype_index` for `IntVid` and `FloatVid`.
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_type_ir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#115649 diagnostics: add test case for trait bounds diagnostic
  tests/ui/trait-bounds/issue-82038.rs
  tests/ui/trait-bounds/issue-82038.stderr
Labels: T-compiler, S-waiting-on-bors

#115655 rustdoc: remove unused ID `mainThemeStyle`
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/templates/page.html
Labels: T-rustdoc, S-waiting-on-bors

#115345 MCP661: Move wasm32-wasi-preview1-threads target to Tier 2
  src/ci/docker/host-x86_64/dist-various-2/build-wasi-threads-toolchain.sh
  src/ci/docker/host-x86_64/dist-various-2/build-wasi-toolchain.sh
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/wasm32-wasi-preview1-threads.md
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra

#113492 Add CL and CMD into to pdb debug info
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_session/src/session.rs
  src/librustdoc/config.rs
  src/librustdoc/core.rs
  src/librustdoc/doctest.rs
  tests/run-make-fulldeps/issue-19371/foo.rs
  tests/run-make/pdb-buildinfo-cl-cmd/Makefile
  tests/run-make/pdb-buildinfo-cl-cmd/main.rs
  tests/run-make/pdb-buildinfo-cl-cmd/stringlist.txt
Labels: O-windows, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#115372 add rustc_abi(assert_eq) to test some guaranteed or at least highly expected ABI compatibility guarantees
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/abi_test.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/layout_test.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_target/src/abi/call/wasm.rs
  compiler/rustc_ty_utils/src/abi.rs
  tests/codegen/repr/transparent.rs
  tests/ui/abi/compatibility.rs
  tests/ui/abi/debug.rs
  tests/ui/abi/debug.stderr
  tests/ui/layout/debug.rs
  tests/ui/layout/debug.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115633 Lint node for `PRIVATE_BOUNDS`/`PRIVATE_INTERFACES` is the item which names the private type
  compiler/rustc_privacy/src/lib.rs
  tests/ui/privacy/private-bounds-locally-allowed.rs
Labels: T-compiler, S-waiting-on-bors

#115638 `-Cllvm-args` usability improvement
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#115643 fix: return early when has tainted in mir-lint
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  tests/ui/unsized/issue-115203.rs
  tests/ui/unsized/issue-115203.stderr
Labels: T-compiler, S-waiting-on-bors

#115672 Rollup of 6 pull requests
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_privacy/src/lib.rs
  library/core/src/mem/mod.rs
  library/core/src/ptr/mut_ptr.rs
  src/bootstrap/builder.rs
  src/bootstrap/builder/tests.rs
  src/ci/docker/host-x86_64/wasm32/Dockerfile
  src/librustdoc/html/render/mod.rs
  tests/rustdoc/issue-32077-type-alias-impls.rs
  tests/ui/privacy/private-bounds-locally-allowed.rs
  tests/ui/unsized/issue-115203.rs
  tests/ui/unsized/issue-115203.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#115088 Fix Step Skipping Caused by Using the `--exclude` Option
  src/bootstrap/builder.rs
  src/bootstrap/builder/tests.rs
  src/ci/docker/host-x86_64/wasm32/Dockerfile
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#115201 rustdoc: list matching impls on type aliases
  library/core/src/ptr/mut_ptr.rs
  src/librustdoc/html/render/mod.rs
  tests/rustdoc/issue-32077-type-alias-impls.rs
Labels: T-rustdoc, S-waiting-on-bors, T-libs

#104299 Clarify stability guarantee for lifetimes in enum discriminants
  library/core/src/mem/mod.rs
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#115418 Use `Freeze` for `SourceFile`
  compiler/rustc_codegen_cranelift/src/debuginfo/line_info.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_data_structures/src/sync/freeze.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_query_system/src/ich/impls_syntax.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_span/src/source_map/tests.rs
  compiler/rustc_span/src/tests.rs
  src/tools/clippy/clippy_lints/src/undocumented_unsafe_blocks.rs
  src/tools/clippy/clippy_utils/src/source.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#115641 lto: load bitcode sections by name
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, llvm-main

#115417 Use the same DISubprogram for each instance of the same inlined function within a caller
  compiler/rustc_codegen_gcc/src/debuginfo.rs
  compiler/rustc_codegen_llvm/src/debuginfo/create_scope_map.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/traits/debuginfo.rs
  tests/codegen/debuginfo-inline-callsite-location.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115630 Dont suggest use between `use` and cfg attr
  compiler/rustc_resolve/src/diagnostics.rs
  tests/ui/resolve/suggest-import-without-clobbering-attrs.fixed
  tests/ui/resolve/suggest-import-without-clobbering-attrs.rs
  tests/ui/resolve/suggest-import-without-clobbering-attrs.stderr
Labels: T-compiler, S-waiting-on-bors

#115662 Improve "associated type not found" diagnostics
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  tests/ui/associated-types/issue-23595-2.stderr
  tests/ui/error-codes/E0220.stderr
  tests/ui/lifetimes/issue-95023.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, D-papercut

#115673 Fix sanitize/cfg.rs test
  tests/ui/sanitize/cfg.rs
Labels: T-compiler, S-waiting-on-bors

#115685 Rollup of 5 pull requests
  compiler/rustc_codegen_llvm/messages.ftl
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  tests/run-make/compressed-debuginfo/Makefile
  tests/run-make/compressed-debuginfo/foo.rs
  tests/ui/associated-types/issue-23595-2.stderr
  tests/ui/error-codes/E0220.stderr
  tests/ui/lifetimes/issue-95023.stderr
  tests/ui/linkage-attr/common-linkage-non-zero-init.rs
  tests/ui/linkage-attr/common-linkage-non-zero-init.stderr
  tests/ui/resolve/suggest-import-without-clobbering-attrs.fixed
  tests/ui/resolve/suggest-import-without-clobbering-attrs.rs
  tests/ui/resolve/suggest-import-without-clobbering-attrs.stderr
  tests/ui/sanitize/cfg.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#113807 Tests crash from inappropriate use of common linkage
  tests/ui/linkage-attr/common-linkage-non-zero-init.rs
  tests/ui/linkage-attr/common-linkage-non-zero-init.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#115669 rustdoc: Change syntax for anonymous functions set in JS
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#115657 Avoid a `source_span` query when encoding Spans into query results
  compiler/rustc_incremental/src/persist/save.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115594 Span tweaks
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/span_encoding.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#115698 Fix ICE in improper_ctypes_definitions lint
  compiler/rustc_lint/src/types.rs
  tests/ui/lint/lint-ctypes-94223.rs
  tests/ui/lint/lint-ctypes-94223.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#114590 Allow redirecting subprocess stdout to our stderr etc. (redux)
  library/std/src/process.rs
  library/std/src/sys/unix/process/process_common.rs
  library/std/src/sys/unsupported/process.rs
  library/std/src/sys/windows/process.rs
Labels: O-windows, T-libs-api, S-waiting-on-bors, merged-by-bors, O-unix, A-process

#115703 Add function that returns span of an item in smir
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115722 [beta] backport
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_trait_selection/src/traits/outlives_bounds.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  tests/rustdoc/inline_cross/auxiliary/dyn_trait.rs
  tests/rustdoc/inline_cross/dyn_trait.rs
  tests/ui/implied-bounds/implied-bounds-unconstrained-1.rs
  tests/ui/implied-bounds/implied-bounds-unconstrained-2.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#115712 rustc_layout, rustc_abi: make sure the types are well-formed
  compiler/rustc_passes/src/abi_test.rs
  compiler/rustc_passes/src/layout_test.rs
  tests/ui/abi/compatibility.rs
  tests/ui/abi/debug.rs
  tests/ui/abi/debug.stderr
  tests/ui/associated-types/issue-85103-layout-debug.rs
  tests/ui/associated-types/issue-85103-layout-debug.stderr
  tests/ui/associated-types/issue-85103.rs
  tests/ui/associated-types/issue-85103.stderr
  tests/ui/layout/debug.rs
  tests/ui/layout/debug.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115668 Make the deadlock panic clearly refer to a deadlock
  compiler/rustc_query_system/src/query/job.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#115713 Abort if check nightly options failed on stable
  compiler/rustc_session/src/config.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115725 Fixed typo in re-exports.md
  src/doc/rustdoc/src/write-documentation/re-exports.md
Labels: S-waiting-on-bors, merged-by-bors

#115711 Use `FreezeLock` for `CStore`
  compiler/rustc_data_structures/src/sync/freeze.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_session/src/cstore.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115731 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/search-no-result.goml
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#115306 Encode only MIR reachable from other crates
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_passes/src/reachable.rs
  tests/mir-opt/funky_arms.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#112701 Run part of cg_clif's tests in CI
  src/bootstrap/builder.rs
  src/bootstrap/test.rs
  src/ci/run.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, A-cranelift

#115682 rustdoc: add impl items from aliased type into sidebar
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/sidebar.rs
  tests/rustdoc/issue-32077-type-alias-impls.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#114967 QNX: pass a truncated thread name to the OS
  library/std/src/sys/unix/thread.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#115388 Add optimized lock methods for `Sharded` and refactor `Lock`
  compiler/rustc_data_structures/src/sharded.rs
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_data_structures/src/sync/lock.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/query/caches.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#115504 resolve: derive diag for undetermined macro resolution
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/macros.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115530 update `build.extended` comments in `config.example.toml`
  config.example.toml
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#115661 Disentangle `Debug` and `Display` for `Ty`.
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/generic_args.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_passes/src/abi_test.rs
  compiler/rustc_passes/src/layout_test.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_ty_utils/src/layout.rs
  tests/mir-opt/building/async_await.b-{closure#0}.generator_resume.0.mir
  tests/mir-opt/generator_drop_cleanup.main-{closure#0}.generator_drop.0.panic-abort.mir
  tests/mir-opt/generator_drop_cleanup.main-{closure#0}.generator_drop.0.panic-unwind.mir
  tests/mir-opt/generator_tiny.main-{closure#0}.generator_resume.0.mir
  tests/mir-opt/issue_99325.main.built.after.32bit.mir
  tests/mir-opt/issue_99325.main.built.after.64bit.mir
  tests/mir-opt/issue_99325.rs
  tests/ui/abi/debug.rs
  tests/ui/abi/debug.stderr
  tests/ui/async-await/async-is-unwindsafe.stderr
  tests/ui/layout/debug.stderr
  tests/ui/layout/zero-sized-array-enum-niche.stderr
  tests/ui/thir-print/thir-flat-const-variant.stdout
  tests/ui/thir-print/thir-tree-match.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115656 Enable incremental-relative-spans by default.
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115308 suggest iter_mut() where trying to modify elements from .iter()
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  tests/ui/borrowck/issue-115259-suggest-iter-mut.fixed
  tests/ui/borrowck/issue-115259-suggest-iter-mut.rs
  tests/ui/borrowck/issue-115259-suggest-iter-mut.stderr
  tests/ui/borrowck/issue-62387-suggest-iter-mut-2.fixed
  tests/ui/borrowck/issue-62387-suggest-iter-mut-2.rs
  tests/ui/borrowck/issue-62387-suggest-iter-mut-2.stderr
  tests/ui/borrowck/issue-62387-suggest-iter-mut.fixed
  tests/ui/borrowck/issue-62387-suggest-iter-mut.rs
  tests/ui/borrowck/issue-62387-suggest-iter-mut.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115595 Fix incorrect mutable suggestion information for binding in ref pattern like: `let &b = a;`
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  tests/ui/pattern/issue-114896.rs
  tests/ui/pattern/issue-114896.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115752 rustdoc: Add missing "Aliased type" title in the sidebar
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/sidebar.rs
  tests/rustdoc/issue-32077-type-alias-impls.rs
Labels: T-rustdoc, S-waiting-on-bors

#115702 Update mailmap
  .mailmap
Labels: S-waiting-on-bors, A-meta

#115727 Implement fallback for effect param
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_typeck/src/fallback.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/generalize.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/undo_log.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/infer/unify_key.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_trait_selection/src/solve/canonicalize.rs
  src/librustdoc/clean/mod.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/fallback.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#115739 Call `LateLintPass::check_attribute` from `with_lint_attrs`
  compiler/rustc_lint/src/late.rs
  src/tools/clippy/tests/ui/allow_attributes.fixed
  src/tools/clippy/tests/ui/allow_attributes.rs
  src/tools/clippy/tests/ui/blanket_clippy_restriction_lints.stderr
Labels: T-compiler, S-waiting-on-bors
