Repository rust-lang/rust, pull requests merged in 2023-10, with the labels that each got.

#116108 Pass `-jN` from Make to `BOOTSTRAP_ARGS`
  src/bootstrap/mk/Makefile.in
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#116302 Bump to 1.75.0
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#116225 Add integration for new bors
  .github/workflows/ci.yml
  .reuse/dep5
  rust-bors.toml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors, A-meta

#115670 Partially outline code inside the panic! macro
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/panic.rs
  library/core/src/panicking.rs
  src/tools/clippy/clippy_lints/src/mixed_read_write_in_expression.rs
  src/tools/clippy/clippy_utils/src/macros.rs
  src/tools/clippy/tests/ui/match_same_arms_non_exhaustive.rs
  src/tools/clippy/tests/ui/match_same_arms_non_exhaustive.stderr
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#116307 Miri subtree update
  Cargo.lock
  src/tools/miri/Cargo.lock
  src/tools/miri/Cargo.toml
  src/tools/miri/rust-version
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/src/shims/x86/mod.rs
  src/tools/miri/src/shims/x86/sse2.rs
  src/tools/miri/src/shims/x86/sse3.rs
  src/tools/miri/src/shims/x86/ssse3.rs
  src/tools/miri/tests/pass/float.rs
  src/tools/miri/tests/pass/intrinsics-math.rs
  src/tools/miri/tests/pass/intrinsics-x86-sse2.rs
  src/tools/miri/tests/pass/intrinsics-x86-sse3-ssse3.rs
  src/tools/miri/tests/pass/portable-simd.rs
Labels: S-waiting-on-bors, merged-by-bors

#116292 warn if source is not either a git clone or a dist tarball
  src/bootstrap/bootstrap.py
Labels: T-bootstrap, S-waiting-on-bors

#116295 Fix `core::mem::drop` docs inaccuracy
  library/core/src/mem/mod.rs
Labels: S-waiting-on-bors, T-libs

#116299 Update location of `auxiliary/lint-plugin-test.rs`
  src/doc/unstable-book/src/language-features/plugin.md
Labels: S-waiting-on-bors

#116311 Rollup of 3 pull requests
  library/core/src/mem/mod.rs
  src/bootstrap/bootstrap.py
  src/doc/unstable-book/src/language-features/plugin.md
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#115554 Build `rustc` with a single CGU on x64 Linux
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors, perf-regression

#107651 [WIP] Build `rustc` with a single CGU on x64 Linux
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
Labels: A-testsuite, T-bootstrap, S-waiting-on-author, T-infra, perf-regression

#116224 `rustc_arena` overhaul
  compiler/rustc_arena/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116228 resolve: skip underscore character during candidate lookup
  compiler/rustc_resolve/src/diagnostics.rs
  tests/ui/resolve/issue-116164.rs
  tests/ui/resolve/issue-116164.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116259 Factor out duplicated `entry_point_type` functions
  compiler/rustc_ast/src/entry.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_passes/src/entry.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116304 coverage: Regression test for functions with unreachable bodies
  tests/coverage-map/unreachable.cov-map
  tests/coverage-map/unreachable.rs
  tests/run-coverage/unreachable.coverage
  tests/run-coverage/unreachable.rs
Labels: S-waiting-on-bors, merged-by-bors, A-code-coverage

#116281 Cleanup number handling in match exhaustiveness
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  tests/ui/pattern/usefulness/floats.rs
  tests/ui/pattern/usefulness/floats.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116207 Stdio support for UEFI
  library/std/src/lib.rs
  library/std/src/sys/uefi/mod.rs
  library/std/src/sys/uefi/stdio.rs
  src/doc/rustc/src/platform-support/unknown-uefi.md
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#116317 Add track_caller attribute to Result::unwrap_or_else
  library/core/src/result.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#116325 Add `ptr::addr_eq`
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#115898 bootstrap major change detection implementation
  compiler/rustc_codegen_cranelift/scripts/setup_rust_fork.sh
  compiler/rustc_codegen_gcc/test.sh
  config.example.toml
  src/bootstrap/CHANGELOG.md
  src/bootstrap/README.md
  src/bootstrap/bin/main.rs
  src/bootstrap/bootstrap_test.py
  src/bootstrap/config.rs
  src/bootstrap/config/tests.rs
  src/bootstrap/lib.rs
  src/bootstrap/setup.rs
  src/doc/rustc/src/platform-support/aarch64-unknown-teeos.md
  src/doc/rustc/src/platform-support/nto-qnx.md
  src/doc/rustc/src/platform-support/openharmony.md
  src/tools/opt-dist/src/tests.rs
  triagebot.toml
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-meta

#116276 bootstrap: copy self-contained linking components to `stage0-sysroot`
  src/bootstrap/compile.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#116313 Some small cleanups in `rustc_abi`
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#116326 Correct misleading std::fmt::Binary example (#116165)
  library/core/src/fmt/mod.rs
Labels: S-waiting-on-bors, T-libs

#116340 `skip_binder` to `instantiate_identity`
  compiler/rustc_middle/src/ty/instance.rs
Labels: T-compiler, S-waiting-on-bors

#116346 Rollup of 3 pull requests
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_middle/src/ty/instance.rs
  library/core/src/fmt/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#116331 update jemalloc-sys to most recent release
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#116356 Rollup of 5 pull requests
  compiler/rustc_resolve/src/late.rs
  library/core/src/hint.rs
  library/std/src/sys/unix/fs.rs
  src/bootstrap/install.rs
  src/tools/build_helper/src/ci.rs
  tests/ui/or-patterns/missing-bindings.stderr
  tests/ui/resolve/resolve-inconsistent-names.stderr
  tests/ui/span/issue-39698.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#116289 Add missing #[inline] on AsFd impl for sys::unix::fs::File
  library/std/src/sys/unix/fs.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#116349 ensure the parent path's existence on `x install`
  src/bootstrap/install.rs
Labels: T-bootstrap, S-waiting-on-bors

#116350 Improve wording of `hint::black_box` docs
  library/core/src/hint.rs
Labels: S-waiting-on-bors, T-libs

#114453 Print GHA log groups to stdout instead of stderr
  src/tools/build_helper/src/ci.rs
Labels: S-waiting-on-bors

#114454 Replace `HashMap` with `IndexMap` in pattern binding resolve
  compiler/rustc_resolve/src/late.rs
  tests/ui/or-patterns/missing-bindings.stderr
  tests/ui/resolve/resolve-inconsistent-names.stderr
  tests/ui/span/issue-39698.stderr
Labels: T-compiler, S-waiting-on-bors

#102099 Rebased: Mark drop calls in landing pads cold instead of noinline
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
  tests/assembly/stack-protector/stack-protector-heuristics-effect.rs
  tests/codegen/issue-97217.rs
  tests/codegen/unwind-landingpad-cold.rs
  tests/codegen/unwind-landingpad-inline.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#116364 [stable] 1.73.0 release
  RELEASES.md
  src/ci/channel
  src/tools/clippy/clippy_lints/src/needless_pass_by_ref_mut.rs
  src/tools/clippy/tests/ui/infinite_loop.stderr
  src/tools/clippy/tests/ui/let_underscore_future.stderr
  src/tools/clippy/tests/ui/mut_key.stderr
  src/tools/clippy/tests/ui/mut_reference.stderr
  src/tools/clippy/tests/ui/needless_pass_by_ref_mut.rs
  src/tools/clippy/tests/ui/should_impl_trait/method_list_2.stderr
  src/tools/clippy/tests/ui/slow_vector_initialization.stderr
Labels: A-testsuite, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#116083 Add release notes for 1.73.0
  RELEASES.md
Labels: S-waiting-on-bors, T-release, merged-by-bors

#116351 Add `must_use` on pointer equality functions
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, T-libs

#116158 Don't suggest nonsense suggestions for unconstrained type vars in `note_source_of_type_mismatch_constraint`
  compiler/rustc_hir_typeck/src/demand.rs
  tests/ui/type/type-check/point-at-inference-issue-116155.rs
  tests/ui/type/type-check/point-at-inference-issue-116155.stderr
Labels: T-compiler, S-waiting-on-bors

#116355 Clarify float rounding direction for signed zero
  library/core/src/primitive_docs.rs
Labels: S-waiting-on-bors, T-libs

#115726 For a single impl candidate, try to unify it with error trait ref
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  tests/ui/const-generics/occurs-check/unused-substs-1.stderr
  tests/ui/generic-const-items/unsatisfied-bounds.stderr
  tests/ui/impl-trait/issues/issue-62742.stderr
  tests/ui/indexing/index-help.stderr
  tests/ui/indexing/indexing-requires-a-uint.stderr
  tests/ui/integral-indexing.stderr
  tests/ui/issues/issue-34334.stderr
  tests/ui/issues/issue-45801.stderr
  tests/ui/issues/issue-66923-show-error-for-correct-call.stderr
  tests/ui/iterators/invalid-iterator-chain.stderr
  tests/ui/never_type/never-value-fallback-issue-66757.nofallback.stderr
  tests/ui/on-unimplemented/impl-substs.stderr
  tests/ui/on-unimplemented/on-impl.stderr
  tests/ui/on-unimplemented/slice-index.stderr
  tests/ui/str/str-idx.stderr
  tests/ui/str/str-mut-idx.stderr
  tests/ui/suggestions/issue-101623.stderr
  tests/ui/suggestions/suggest-dereferencing-index.stderr
  tests/ui/traits/coercion-generic-bad.stderr
  tests/ui/try-block/try-block-bad-type.stderr
  tests/ui/try-trait/bad-interconversion.stderr
Labels: T-compiler, S-waiting-on-bors

#113053 add notes about non-compliant FP behavior on 32bit x86 targets
  src/doc/rustc/src/platform-support.md
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#115025 Make subtyping explicit in MIR
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/places_conflict.rs
  compiler/rustc_borrowck/src/prefixes.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/value_and_place.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_const_eval/src/util/compare_types.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_dataflow/src/move_paths/abs_domain.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_transform/src/add_subtyping_projections.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  tests/mir-opt/inline/inline_generator.main.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_generator.main.Inline.panic-unwind.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116374 Print normalized ty
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
Labels: T-compiler, S-waiting-on-bors

#116371 Remove unused features from `rustc_llvm`.
  compiler/rustc_llvm/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#116376 Rollup of 5 pull requests
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_infer/messages.ftl
  compiler/rustc_infer/src/infer/outlives/test_type_match.rs
  compiler/rustc_llvm/Cargo.toml
  compiler/rustc_middle/src/ty/_match.rs
  compiler/rustc_monomorphize/messages.ftl
  compiler/rustc_parse/messages.ftl
  compiler/rustc_query_system/messages.ftl
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_session/messages.ftl
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/const-bound-on-not-const-associated-fn.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/const-bound-on-not-const-associated-fn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/tilde-const-and-const-params.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/tilde-const-and-const-params.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/trait-where-clause.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/trait-where-clause.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-query-system

#115863 Add check_unused_messages in tidy
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_infer/messages.ftl
  compiler/rustc_monomorphize/messages.ftl
  compiler/rustc_parse/messages.ftl
  compiler/rustc_query_system/messages.ftl
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_session/messages.ftl
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-query-system

#116362 [beta] promote release
  .github/workflows/ci.yml
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/removed.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/alloc/src/vec/mod.rs
  library/core/src/char/convert.rs
  library/core/src/mem/mod.rs
  library/core/src/num/mod.rs
  library/core/src/num/saturating.rs
  library/core/src/slice/ascii.rs
  library/core/src/str/mod.rs
  library/std/src/ffi/os_str.rs
  library/std/src/io/error.rs
  library/std/src/num.rs
  library/std/src/os/unix/process.rs
  library/std/src/os/windows/process.rs
  library/std/src/process.rs
  src/ci/channel
  src/ci/github-actions/ci.yml
Labels: A-testsuite, O-windows, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, T-libs, O-unix

#116282 Fix broken links
  compiler/rustc_target/src/spec/thumbv7neon_linux_androideabi.rs
  compiler/rustc_target/src/spec/thumbv7neon_unknown_linux_gnueabihf.rs
  compiler/rustc_target/src/spec/thumbv7neon_unknown_linux_musleabihf.rs
  library/std/src/sys/personality/gcc.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#116328 Factor out common token generation in `fluent_messages`.
  compiler/rustc_fluent_macro/src/fluent.rs
  compiler/rustc_log/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#116379 non_lifetime_binders: fix ICE in lint opaque-hidden-inferred-bound
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  tests/ui/traits/non_lifetime_binders/on-rpit.rs
  tests/ui/traits/non_lifetime_binders/on-rpit.stderr
Labels: T-compiler, S-waiting-on-bors

#116261 a small wf and clause cleanup
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_ty_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#115301 coverage: Allow each coverage statement to have multiple code regions
  compiler/rustc_codegen_llvm/src/coverageinfo/map_data.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/query.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
  compiler/rustc_mir_transform/src/simplify.rs
  tests/coverage-map/status-quo/async.cov-map
  tests/coverage-map/status-quo/async2.cov-map
  tests/coverage-map/status-quo/closure.cov-map
  tests/coverage-map/status-quo/closure_bug.cov-map
  tests/coverage-map/status-quo/closure_macro.cov-map
  tests/coverage-map/status-quo/closure_macro_async.cov-map
  tests/coverage-map/status-quo/conditions.cov-map
  tests/coverage-map/status-quo/continue.cov-map
  tests/coverage-map/status-quo/dead_code.cov-map
  tests/coverage-map/status-quo/generator.cov-map
  tests/coverage-map/status-quo/inline-dead.cov-map
  tests/coverage-map/status-quo/inline.cov-map
  tests/coverage-map/status-quo/issue-93054.cov-map
  tests/coverage-map/status-quo/lazy_boolean.cov-map
  tests/coverage-map/status-quo/loops_branches.cov-map
  tests/coverage-map/status-quo/no_cov_crate.cov-map
  tests/coverage-map/status-quo/partial_eq.cov-map
  tests/coverage-map/status-quo/simple_loop.cov-map
  tests/coverage-map/status-quo/simple_match.cov-map
  tests/coverage-map/status-quo/test_harness.cov-map
  tests/coverage-map/status-quo/try_error_result.cov-map
  tests/coverage-map/status-quo/unused.cov-map
  tests/coverage-map/status-quo/yield.cov-map
  tests/mir-opt/instrument_coverage.bar.InstrumentCoverage.diff
  tests/mir-opt/instrument_coverage.main.InstrumentCoverage.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#105394 Improve UdpSocket documentation
  library/std/src/net/udp.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, A-io

#116367 Use `addr_eq` in `{Arc,Rc}::ptr_eq`
  library/alloc/src/lib.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#116386 Add missing inline attributes to Duration trait impls
  library/core/src/time.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#116363 Adapt `todo!` documentation to mention displaying custom values
  library/core/src/macros/mod.rs
Labels: S-waiting-on-bors, T-libs

#116365 bootstrap: make copying linker binaries conditional
  src/bootstrap/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#116388 rustdoc: fix & clean up handling of cross-crate higher-ranked parameters
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/format.rs
  src/librustdoc/json/conversions.rs
  tests/rustdoc/inline_cross/auxiliary/fn-type.rs
  tests/rustdoc/inline_cross/auxiliary/impl_trait_aux.rs
  tests/rustdoc/inline_cross/auxiliary/non_lifetime_binders.rs
  tests/rustdoc/inline_cross/fn-type.rs
  tests/rustdoc/inline_cross/impl_trait.rs
  tests/rustdoc/inline_cross/non_lifetime_binders.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, A-cross-crate-reexports

#116393 Emit feature gate *warning* for `auto` traits pre-expansion
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/auto-traits/pre-cfg.rs
  tests/ui/auto-traits/pre-cfg.stderr
  tests/ui/macros/stringify.rs
Labels: T-compiler, S-waiting-on-bors

#116395 Mark myself as vacation or whatever
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#116408 Rollup of 7 pull requests
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_parse/src/parser/item.rs
  library/core/src/macros/mod.rs
  library/std/src/process.rs
  library/std/src/sync/rwlock.rs
  src/bootstrap/compile.rs
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/format.rs
  src/librustdoc/json/conversions.rs
  tests/rustdoc/inline_cross/auxiliary/fn-type.rs
  tests/rustdoc/inline_cross/auxiliary/impl_trait_aux.rs
  tests/rustdoc/inline_cross/auxiliary/non_lifetime_binders.rs
  tests/rustdoc/inline_cross/fn-type.rs
  tests/rustdoc/inline_cross/impl_trait.rs
  tests/rustdoc/inline_cross/non_lifetime_binders.rs
  tests/ui/auto-traits/pre-cfg.rs
  tests/ui/auto-traits/pre-cfg.stderr
  tests/ui/macros/stringify.rs
  triagebot.toml
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, A-rustdoc-json

#115961 Replace 'mutex' with 'lock' in RwLock documentation
  library/std/src/sync/rwlock.rs
Labels: S-waiting-on-bors, T-libs

#116146 Clarify `arg` and `args` documentation
  library/std/src/process.rs
Labels: S-waiting-on-bors, T-libs

#116353 Add new bors try branches to CI
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#116360 Point to full `async fn` for future
  compiler/rustc_ast_lowering/src/lib.rs
  src/tools/clippy/tests/ui/crashes/ice-10645.stderr
  src/tools/clippy/tests/ui/future_not_send.stderr
  tests/ui/async-await/async-await-let-else.stderr
  tests/ui/async-await/in-trait/async-example-desugared-boxed-in-trait.stderr
  tests/ui/async-await/in-trait/async-generics-and-bounds.stderr
  tests/ui/async-await/in-trait/async-generics.stderr
  tests/ui/async-await/in-trait/async-recursive-generic.stderr
  tests/ui/async-await/in-trait/async-recursive.stderr
  tests/ui/async-await/in-trait/dont-project-to-specializable-projection.stderr
  tests/ui/async-await/issue-64130-3-other.stderr
  tests/ui/async-await/issues/issue-67893.stderr
  tests/ui/async-await/mutually-recursive-async-impl-trait-type.stderr
  tests/ui/async-await/partial-drop-partial-reinit.stderr
  tests/ui/async-await/recursive-async-impl-trait-type.stderr
  tests/ui/suggestions/impl-trait-missing-lifetime.stderr
  tests/ui/suggestions/suggest-ret-on-async-w-late.stderr
  tests/ui/typeck/issue-90027-async-fn-return-suggestion.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116381 Remove wasm32-unknown-emscripten tests from CI
  .github/workflows/ci.yml
  src/ci/docker/host-x86_64/wasm32/Dockerfile
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#116413 Remove E0551
  compiler/rustc_attr/Cargo.toml
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_attr/src/session_diagnostics.rs
  compiler/rustc_error_codes/src/error_codes/E0551.md
  tests/ui/deprecation/deprecation-sanity.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115200 Disable CFI for core and std CFI violations
  library/core/src/fmt/rt.rs
  library/core/src/lib.rs
  library/std/src/lib.rs
  library/std/src/sys/unix/thread_local_dtor.rs
  src/doc/unstable-book/src/compiler-flags/sanitizer.md
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-unix, PG-exploit-mitigations

#114417 Fix multiple `expect` attribs in impl block
  compiler/rustc_passes/src/dead.rs
  tests/ui/lint/rfc-2383-lint-reason/expect_unused_inside_impl_block.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116370 Remove the `TypedArena::alloc_from_iter` specialization.
  compiler/rustc_arena/src/lib.rs
  compiler/rustc_ast_lowering/src/format.rs
  compiler/rustc_hir_analysis/src/variance/mod.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  compiler/rustc_ty_utils/src/consts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116184 Add `async_fn_in_trait` lint
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/async_fn_in_trait.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/async-await/in-trait/async-associated-types.rs
  tests/ui/async-await/in-trait/async-default-fn-overridden.rs
  tests/ui/async-await/in-trait/async-example-desugared-extra.rs
  tests/ui/async-await/in-trait/async-example-desugared.rs
  tests/ui/async-await/in-trait/async-example.rs
  tests/ui/async-await/in-trait/async-lifetimes-and-bounds.rs
  tests/ui/async-await/in-trait/async-lifetimes.rs
  tests/ui/async-await/in-trait/early-bound-1.rs
  tests/ui/async-await/in-trait/early-bound-2.rs
  tests/ui/async-await/in-trait/implied-bounds.rs
  tests/ui/async-await/in-trait/issue-102138.rs
  tests/ui/async-await/in-trait/issue-102219.rs
  tests/ui/async-await/in-trait/issue-102310.rs
  tests/ui/async-await/in-trait/issue-104678.rs
  tests/ui/async-await/in-trait/nested-rpit.rs
  tests/ui/async-await/in-trait/normalize-opaque-with-bound-vars.rs
  tests/ui/async-await/in-trait/warn.rs
  tests/ui/async-await/in-trait/warn.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.cfg.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.no.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.rs
  tests/ui/impl-trait/in-trait/assumed-wf-bounds-in-impl.rs
  tests/ui/impl-trait/in-trait/default-body-with-rpit.rs
  tests/ui/impl-trait/in-trait/default-body.rs
  tests/ui/impl-trait/in-trait/early.rs
  tests/ui/impl-trait/in-trait/suggest-missing-item.fixed
  tests/ui/impl-trait/in-trait/suggest-missing-item.rs
  tests/ui/impl-trait/in-trait/suggest-missing-item.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116273 Only trigger `refining_impl_trait` lint on reachable traits
  compiler/rustc_hir_analysis/src/check/compare_impl_item/refine.rs
  tests/ui/async-await/in-trait/missing-feature-flag.stderr
  tests/ui/impl-trait/in-trait/refine.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116429 Diagnostics: Be more careful when suggesting struct fields
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/did_you_mean/auxiliary/doc-hidden-fields.rs
  tests/ui/did_you_mean/dont-suggest-doc-hidden-fields.rs
  tests/ui/did_you_mean/dont-suggest-doc-hidden-fields.stderr
  tests/ui/did_you_mean/dont-suggest-hygienic-fields.rs
  tests/ui/did_you_mean/dont-suggest-hygienic-fields.stderr
  tests/ui/did_you_mean/issue-93210-ignore-doc-hidden.rs
  tests/ui/did_you_mean/issue-93210-ignore-doc-hidden.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#116431 Tweak wording of E0562
  compiler/rustc_ast_lowering/messages.ftl
  tests/ui/associated-consts/issue-105330.stderr
  tests/ui/async-await/in-trait/fn-not-async-err2.rs
  tests/ui/async-await/in-trait/fn-not-async-err2.stderr
  tests/ui/feature-gates/feature-gate-associated_type_bounds.rs
  tests/ui/feature-gates/feature-gate-associated_type_bounds.stderr
  tests/ui/feature-gates/feature-gate-impl_trait_in_fn_trait_return.rs
  tests/ui/feature-gates/feature-gate-impl_trait_in_fn_trait_return.stderr
  tests/ui/feature-gates/feature-gate-return_position_impl_trait_in_trait.rs
  tests/ui/feature-gates/feature-gate-return_position_impl_trait_in_trait.stderr
  tests/ui/impl-trait/issues/issue-54600.rs
  tests/ui/impl-trait/issues/issue-54600.stderr
  tests/ui/impl-trait/issues/issue-54840.rs
  tests/ui/impl-trait/issues/issue-54840.stderr
  tests/ui/impl-trait/issues/issue-58504.rs
  tests/ui/impl-trait/issues/issue-58504.stderr
  tests/ui/impl-trait/issues/issue-58956.rs
  tests/ui/impl-trait/issues/issue-58956.stderr
  tests/ui/impl-trait/issues/issue-70971.rs
  tests/ui/impl-trait/issues/issue-70971.stderr
  tests/ui/impl-trait/issues/issue-79099.rs
  tests/ui/impl-trait/issues/issue-79099.stderr
  tests/ui/impl-trait/issues/issue-83929-impl-trait-in-generic-default.rs
  tests/ui/impl-trait/issues/issue-83929-impl-trait-in-generic-default.stderr
  tests/ui/impl-trait/issues/issue-84919.rs
  tests/ui/impl-trait/issues/issue-84919.stderr
  tests/ui/impl-trait/issues/issue-86642.rs
  tests/ui/impl-trait/issues/issue-86642.stderr
  tests/ui/impl-trait/issues/issue-87295.rs
  tests/ui/impl-trait/issues/issue-87295.stderr
  tests/ui/impl-trait/nested_impl_trait.rs
  tests/ui/impl-trait/nested_impl_trait.stderr
  tests/ui/impl-trait/where-allowed.rs
  tests/ui/impl-trait/where-allowed.stderr
  tests/ui/issues/issue-47715.rs
  tests/ui/issues/issue-47715.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-fn-type.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-fn-type.stderr
  tests/ui/typeck/issue-104513-ice.rs
  tests/ui/typeck/issue-104513-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#116432 rustdoc: rename `issue-\d+.rs` tests to have meaningful names (part 2)
  tests/rustdoc/anchor-id-duplicate-method-name-25001.rs
  tests/rustdoc/anchor-id-trait-tymethod-28478.rs
  tests/rustdoc/deduplicate-glob-import-impl-21474.rs
  tests/rustdoc/deduplicate-trait-impl-22025.rs
  tests/rustdoc/doctest-hide-empty-line-23106.rs
  tests/rustdoc/doctest-markdown-inline-parse-23744.rs
  tests/rustdoc/doctest-multi-line-string-literal-25944.rs
  tests/rustdoc/extern-fn-22038.rs
  tests/rustdoc/ice-reexport-crate-root-28927.rs
  tests/rustdoc/impl-assoc-type-21092.rs
  tests/rustdoc/inline_cross/auxiliary/issue-21801.rs
  tests/rustdoc/inline_cross/auxiliary/issue-23207-1.rs
  tests/rustdoc/inline_cross/auxiliary/issue-23207-2.rs
  tests/rustdoc/inline_cross/auxiliary/issue-27362-aux.rs
  tests/rustdoc/inline_cross/const-fn-27362.rs
  tests/rustdoc/inline_cross/deduplicate-inlined-items-23207.rs
  tests/rustdoc/inline_cross/sugar-closure-crate-21801.rs
  tests/rustdoc/issue-23106.rs
  tests/rustdoc/macro-doc-comment-23812.rs
  tests/rustdoc/markdown-table-escape-pipe-27862.rs
  tests/rustdoc/search-index-primitive-inherent-method-23511.rs
  tests/rustdoc/src-link-external-macro-26606.rs
  tests/rustdoc/src-mod-path-absolute-26995.rs
  tests/rustdoc/staged-api-feature-issue-27759.rs
  tests/rustdoc/strip-priv-imports-pass-27104.rs
Labels: T-rustdoc, S-waiting-on-bors

#116223 Fix misuses of a vs an
  compiler/rustc_ast/src/token.rs
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_ssa/src/traits/type_.rs
  compiler/rustc_mir_build/src/build/expr/mod.rs
  compiler/rustc_ty_utils/src/abi.rs
  library/alloc/src/collections/btree/dedup_sorted_iter.rs
  src/doc/rustc/src/platform-support/mips-release-6.md
  tests/ui/codegen/issue-79865-llvm-miscompile.rs
  tests/ui/consts/const-adt-align-mismatch.rs
  tests/ui/debuginfo/sroa-fragment-debuginfo.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-libs

#116427 Remove mir::LocalDecl::internal.
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/patch.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  compiler/rustc_mir_build/src/build/expr/as_temp.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/misc.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_transform/src/check_unsafety.rs
  compiler/rustc_mir_transform/src/deref_separator.rs
  compiler/rustc_mir_transform/src/elaborate_box_derefs.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_mir_transform/src/inline.rs
  tests/mir-opt/const_prop/inherit_overflow.main.ConstProp.panic-abort.diff
  tests/mir-opt/const_prop/inherit_overflow.main.ConstProp.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/inherit_overflow.main.DataflowConstProp.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/inherit_overflow.main.DataflowConstProp.panic-unwind.diff
  tests/mir-opt/inline/inline_closure_captures.foo.Inline.after.mir
  tests/mir-opt/inline/inline_generator.main.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_generator.main.Inline.panic-unwind.diff
  tests/mir-opt/inline/inline_into_box_place.main.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_into_box_place.main.Inline.panic-unwind.diff
  tests/mir-opt/inline/issue_106141.outer.Inline.panic-abort.diff
  tests/mir-opt/inline/issue_106141.outer.Inline.panic-unwind.diff
  tests/mir-opt/inline/issue_58867_inline_as_ref_as_mut.b.Inline.after.mir
  tests/mir-opt/inline/issue_58867_inline_as_ref_as_mut.d.Inline.after.mir
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.Inline.panic-abort.diff
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.Inline.panic-unwind.diff
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.panic-abort.mir
  tests/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/checked_ops.step_forward.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/simple_option_map.ezmap.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_filter.variant_a-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/separate_const_switch.identity.SeparateConstSwitch.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#104153 doc: expand description for f32 and f64 associated constants
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#114042 core library: Disable fpmath tests for i586 ...
  library/core/src/num/f32.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#116415 Move subtyper below reveal_all and change reveal_all
  compiler/rustc_mir_transform/src/add_subtyping_projections.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/reveal_all.rs
  tests/mir-opt/inline/inline_generator.main.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_generator.main.Inline.panic-unwind.diff
  tests/ui/impl-trait/impl-subtyper.rs
  tests/ui/impl-trait/impl-subtyper2.rs
  tests/ui/type-alias-impl-trait/normalize-alias-type.rs
  tests/ui/type-alias-impl-trait/tait-normalize.rs
  tests/ui/type/subtyping-opaque-type.rs
Labels: T-compiler, S-waiting-on-bors

#116452 Do not assert that hidden types don't have erased regions.
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors

#116220 stabilize `Option::as_`(`mut_`)`slice`
  compiler/rustc_hir_typeck/src/lib.rs
  library/core/src/option.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#116288 Add Span to various smir types
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/stable_mir/src/mir/body.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
Labels: T-compiler, S-waiting-on-bors

#116417 Remove is global hack
  compiler/rustc_middle/src/ty/mod.rs
  tests/ui/traits/associated_type_bound/impl-is-shadowed.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, I-types-nominated

#116269 Bring back generic parameters for indices in rustc_abi and make it compile on stable
  Cargo.lock
  compiler/rustc_abi/Cargo.toml
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_target/Cargo.toml
  compiler/rustc_target/src/abi/mod.rs
  compiler/rustc_ty_utils/src/layout.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101150 Clean up SGX user memory copies
  library/std/src/sys/sgx/abi/usercalls/alloc.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-SGX

#116463 Remove libc
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/cmath.rs
  library/std/src/sys/windows/fs.rs
  library/std/src/sys/windows/io.rs
  library/std/src/sys/windows/net.rs
  library/std/src/sys/windows/process.rs
  library/std/src/sys/windows/thread.rs
Labels: O-windows, S-waiting-on-bors, merged-by-bors, T-libs

#116421 Clarify `invalid_reference_casting` lint around interior mutable types
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/reference_casting.rs
  tests/ui/lint/reference_casting.rs
  tests/ui/lint/reference_casting.stderr
Labels: T-compiler, S-waiting-on-bors

#116469 Fix typo in README.md
  README.md
Labels: S-waiting-on-bors, A-meta

#116472 Rollup of 2 pull requests
  README.md
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/reference_casting.rs
  tests/ui/lint/reference_casting.rs
  tests/ui/lint/reference_casting.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#116018 Increasing the SIMD size improves the vectorization possibilities
  tests/codegen/simd/simd-wide-sum.rs
Labels: S-waiting-on-bors, merged-by-bors, llvm-main

#111595 `waitqueue` clarifications for SGX platform
  library/std/src/sys/sgx/waitqueue/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-SGX

#116475 rustdoc-search: fix bug with multi-item impl trait
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js/impl-trait.js
  tests/rustdoc-js/impl-trait.rs
Labels: T-rustdoc, S-waiting-on-bors

#116329 update some comments around swap()
  compiler/rustc_middle/src/mir/syntax.rs
  library/core/src/mem/mod.rs
  library/core/tests/array.rs
  tests/ui/consts/const-eval/nrvo.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#115588 Fix a comment in std::iter::successors
  library/core/src/iter/sources/successors.rs
Labels: S-waiting-on-bors, T-libs

#115454 Clarify example in docs of str::char_slice
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#115522 Clarify ManuallyDrop bit validity
  library/core/src/mem/manually_drop.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#115304 Allow file names to end with '>'
  compiler/rustc_span/src/lib.rs
  tests/run-make/silly-file-names/Makefile
  tests/run-make/silly-file-names/silly-file-names.rs
  tests/run-make/silly-file-names/silly-file-names.run.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116423 Fix typo in attrs.rs
  src/tools/clippy/clippy_lints/src/attrs.rs
Labels: S-waiting-on-bors

#116466 `rustc_transmute` cleanups
  compiler/rustc_transmute/src/lib.rs
  compiler/rustc_transmute/src/maybe_transmutable/mod.rs
Labels: T-compiler, S-waiting-on-bors

#116474 Assorted small cleanups
  Cargo.lock
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_session/src/config.rs
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/lib.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#116481 Reuse existing `Some`s in `Option::(x)or`
  library/core/src/option.rs
Labels: S-waiting-on-bors, T-libs

#116484 Minor doc clarification in Once::call_once
  library/std/src/sync/once.rs
Labels: S-waiting-on-bors, T-libs

#116492 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_middle/src/hooks/mod.rs
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_session/src/config.rs
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/lib.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_transmute/src/lib.rs
  compiler/rustc_transmute/src/maybe_transmutable/mod.rs
  library/core/src/convert/mod.rs
  library/core/src/option.rs
  library/std/src/sync/once.rs
  src/tools/clippy/clippy_lints/src/attrs.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-query-system

#116297 add some docs to hooks/mod.rs
  compiler/rustc_middle/src/hooks/mod.rs
Labels: T-compiler, S-waiting-on-bors

#114564 Attempt to describe the intent behind the `From` trait further
  library/core/src/convert/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#114709 Use `io_error_more` on WASI
  library/std/src/sys/wasi/mod.rs
Labels: C-enhancement, S-waiting-on-bors, merged-by-bors, A-error-handling, T-libs, O-wasi

#116500 Add tvOS to target_os for register_dtor
  library/std/src/sys/unix/thread_local_dtor.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#116501 Rollup of 4 pull requests
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/constant.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  library/std/src/sys/unix/thread_local_dtor.rs
  src/tools/miri/src/concurrency/thread.rs
  tests/ui/asm/x86_64/issue-96797.rs
  tests/ui/parser/assoc/assoc-const-underscore-semantic-fail.rs
  tests/ui/parser/assoc/assoc-const-underscore-semantic-fail.stderr
  tests/ui/parser/assoc/assoc-const-underscore-syntactic-pass.rs
  tests/ui/parser/assoc/assoc-oddities-1.rs
  tests/ui/parser/assoc/assoc-oddities-1.stderr
  tests/ui/parser/assoc/assoc-oddities-2.rs
  tests/ui/parser/assoc/assoc-oddities-2.stderr
  tests/ui/parser/assoc/assoc-static-semantic-fail.rs
  tests/ui/parser/assoc/assoc-static-semantic-fail.stderr
  tests/ui/parser/assoc/assoc-static-syntactic-fail.rs
  tests/ui/parser/assoc/assoc-static-syntactic-fail.stderr
  tests/ui/parser/assoc/assoc-type-in-type-arg.rs
  tests/ui/parser/assoc/assoc-type-in-type-arg.stderr
  tests/ui/parser/assoc/associated-types-project-from-hrtb-explicit.rs
  tests/ui/parser/assoc/associated-types-project-from-hrtb-explicit.stderr
  tests/ui/parser/issues/issue-15980.rs
  tests/ui/parser/issues/issue-15980.stderr
  tests/ui/parser/issues/issue-52496.stderr
  tests/ui/parser/issues/issue-89396.fixed
  tests/ui/parser/issues/issue-89396.rs
  tests/ui/parser/issues/issue-89396.stderr
  tests/ui/parser/missing-fat-arrow.rs
  tests/ui/parser/missing-fat-arrow.stderr
  tests/ui/parser/removed-syntax-with-2.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#116458 Properly export function defined in test which uses global_asm!()
  tests/ui/asm/x86_64/issue-96797.rs
Labels: T-compiler, S-waiting-on-bors

#116400 Detect missing `=>` after match guard during parsing
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  tests/ui/parser/assoc/assoc-const-underscore-semantic-fail.rs
  tests/ui/parser/assoc/assoc-const-underscore-semantic-fail.stderr
  tests/ui/parser/assoc/assoc-const-underscore-syntactic-pass.rs
  tests/ui/parser/assoc/assoc-oddities-1.rs
  tests/ui/parser/assoc/assoc-oddities-1.stderr
  tests/ui/parser/assoc/assoc-oddities-2.rs
  tests/ui/parser/assoc/assoc-oddities-2.stderr
  tests/ui/parser/assoc/assoc-static-semantic-fail.rs
  tests/ui/parser/assoc/assoc-static-semantic-fail.stderr
  tests/ui/parser/assoc/assoc-static-syntactic-fail.rs
  tests/ui/parser/assoc/assoc-static-syntactic-fail.stderr
  tests/ui/parser/assoc/assoc-type-in-type-arg.rs
  tests/ui/parser/assoc/assoc-type-in-type-arg.stderr
  tests/ui/parser/assoc/associated-types-project-from-hrtb-explicit.rs
  tests/ui/parser/assoc/associated-types-project-from-hrtb-explicit.stderr
  tests/ui/parser/issues/issue-15980.rs
  tests/ui/parser/issues/issue-15980.stderr
  tests/ui/parser/issues/issue-52496.stderr
  tests/ui/parser/issues/issue-89396.fixed
  tests/ui/parser/issues/issue-89396.rs
  tests/ui/parser/issues/issue-89396.stderr
  tests/ui/parser/missing-fat-arrow.rs
  tests/ui/parser/missing-fat-arrow.stderr
  tests/ui/parser/removed-syntax-with-2.stderr
Labels: T-compiler, S-waiting-on-bors

#116277 dont call mir.post_mono_checks in codegen
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/constant.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_monomorphize/src/collector.rs
  src/tools/miri/src/concurrency/thread.rs
Labels: T-compiler, S-waiting-on-bors

#116318 Invoke `backtrace-rs` buildscript in `std` buildscript
  Cargo.lock
  library/std/Cargo.toml
  library/std/build.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#109214 Use `HashMap::with_capacity_and_hasher` instead of using base
  library/std/src/collections/hash/set.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#116457 fix fast-path for try_eval_scalar_int
  compiler/rustc_middle/src/mir/consts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#115583 fix detecting references to packed unsized fields
  compiler/rustc_const_eval/src/util/alignment.rs
  tests/ui/lint/unaligned_references.rs
  tests/ui/lint/unaligned_references.stderr
Labels: T-lang, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#116310 rustc_monomorphize: Introduce check_fn_args_move_size()
  compiler/rustc_monomorphize/src/collector.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116330 remove Key impls for types that involve an AllocId
  compiler/rustc_middle/src/query/keys.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#100806 Fix generic bound of `str::SplitInclusive`'s `DoubleEndedIterator` impl
  library/core/src/str/iter.rs
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, T-libs, to-announce

#116437 Clean up `rustc_features`
  compiler/rustc_expand/src/config.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/lib.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_middle/src/middle/stability.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
  src/tools/clippy/clippy_lints/src/manual_float_methods.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116416 Bump host compiler on x64 dist Linux to LLVM 17.0.2
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-clang.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#114623 Print some information from try builds to GitHub summary
  Cargo.lock
  src/ci/docker/run.sh
  src/tools/opt-dist/Cargo.toml
  src/tools/opt-dist/src/main.rs
  src/tools/opt-dist/src/utils/artifact_size.rs
  src/tools/opt-dist/src/utils/mod.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#116450 Enable new bors try branch to run on CI
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
  src/ci/run.sh
  src/ci/scripts/verify-channel.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#116486 Fix to register analysis passes with -Zllvm-plugins at link-time
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116487 compiler: env/path handling fixes
  compiler/rustc_codegen_cranelift/build_system/main.rs
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_driver_impl/src/session_diagnostics.rs
  compiler/rustc_metadata/src/creader.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116509 tests/run-make: Move RUSTC_TEST_OP to tools.mk and use in more places
  tests/run-make/const_fn_mir/Makefile
  tests/run-make/metadata-dep-info/Makefile
  tests/run-make/overwrite-input/Makefile
  tests/run-make/raw-dylib-alt-calling-convention/Makefile
  tests/run-make/raw-dylib-import-name-type/Makefile
  tests/run-make/raw-dylib-inline-cross-dylib/Makefile
  tests/run-make/raw-dylib-link-ordinal/Makefile
  tests/run-make/raw-dylib-stdcall-ordinal/Makefile
  tests/run-make/silly-file-names/Makefile
  tests/run-make/tools.mk
  tests/run-make/unknown-mod-stdin/Makefile
Labels: S-waiting-on-bors, merged-by-bors

#116514 linker: Remove `-Zgcc-ld` option
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  src/bootstrap/compile.rs
  src/bootstrap/dist.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/lld-wrapper/src/main.rs
  tests/run-make/issue-71519/Makefile
  tests/run-make/issue-71519/main.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors

#116183 Always preserve DebugInfo in DeadStoreElimination.
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_mir_dataflow/src/debuginfo.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_mir_transform/src/dead_store_elimination.rs
  tests/incremental/hashes/for_loops.rs
  tests/incremental/hashes/loop_expressions.rs
  tests/incremental/hashes/while_loops.rs
  tests/mir-opt/dead-store-elimination/cycle.cycle.DeadStoreElimination.diff
  tests/mir-opt/dead-store-elimination/cycle.cycle.DeadStoreElimination.panic-abort.diff
  tests/mir-opt/dead-store-elimination/cycle.cycle.DeadStoreElimination.panic-unwind.diff
  tests/mir-opt/dead-store-elimination/cycle.rs
  tests/mir-opt/dest-prop/dead_stores_better.f.DestinationPropagation.after.panic-abort.mir
  tests/mir-opt/dest-prop/dead_stores_better.f.DestinationPropagation.after.panic-unwind.mir
  tests/mir-opt/dest-prop/union.main.DestinationPropagation.panic-abort.diff
  tests/mir-opt/dest-prop/union.main.DestinationPropagation.panic-unwind.diff
  tests/mir-opt/issue_101973.inner.ConstProp.panic-abort.diff
  tests/mir-opt/issue_101973.inner.ConstProp.panic-unwind.diff
  tests/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.panic-abort.mir
  tests/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/checked_ops.step_forward.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.filter_mapped.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.int_range.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/range_iter.forward_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/range_iter.forward_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/range_iter.range_iter_next.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/range_iter.range_iter_next.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_filter.variant_a-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.range_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.range_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-unwind.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt, perf-regression

#116454 Generalize small dominators optimization
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_data_structures/src/graph/dominators/mod.rs
  compiler/rustc_data_structures/src/graph/dominators/tests.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_transform/src/ssa.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116515 linker: Remove unstable legacy CLI linker flavors
  compiler/rustc_target/src/spec/mod.rs
  src/doc/rustc/src/codegen-options/index.md
  tests/ui/linkage-attr/unstable-flavor.bpf.stderr
  tests/ui/linkage-attr/unstable-flavor.ptx.stderr
  tests/ui/linkage-attr/unstable-flavor.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116468 Streamline `rustc_serialize`
  compiler/rustc_serialize/src/collection_impls.rs
  compiler/rustc_serialize/src/lib.rs
  compiler/rustc_serialize/src/serialize.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116096 Make FnDef 1-ZST in LLVM debuginfo.
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  tests/codegen/debug-fndef-size.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116533 Do not run optimizations on trivial MIR.
  compiler/rustc_mir_transform/src/lib.rs
  tests/ui/consts/issue-67696-const-prop-ice.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116537 Fix suggestion span involving wrongly placed generic arg on variant
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  tests/ui/typeck/issue-116473-ice-wrong-span-variant-args.rs
  tests/ui/typeck/issue-116473-ice-wrong-span-variant-args.stderr
Labels: T-compiler, S-waiting-on-bors

#116543 In smir `find_crates` returns `Vec<Crate>` instead of `Option<Crate>`
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/stable_mir/src/lib.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
Labels: T-compiler, S-waiting-on-bors

#116549 Simplify some mir passes by using let chains
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  compiler/rustc_mir_transform/src/lower_slice_len.rs
  compiler/rustc_mir_transform/src/uninhabited_enum_branching.rs
Labels: T-compiler, S-waiting-on-bors

#116556 Sync rustc_codegen_cranelift
  compiler/rustc_codegen_cranelift/Cargo.lock
  compiler/rustc_codegen_cranelift/Cargo.toml
  compiler/rustc_codegen_cranelift/Readme.md
  compiler/rustc_codegen_cranelift/build_system/build_backend.rs
  compiler/rustc_codegen_cranelift/build_system/prepare.rs
  compiler/rustc_codegen_cranelift/build_system/tests.rs
  compiler/rustc_codegen_cranelift/build_system/utils.rs
  compiler/rustc_codegen_cranelift/config.txt
  compiler/rustc_codegen_cranelift/example/mini_core.rs
  compiler/rustc_codegen_cranelift/patches/0001-portable-simd-Allow-internal-features.patch
  compiler/rustc_codegen_cranelift/patches/0001-regex-Ignore-test-which-gets-miscompiled-with-llvm-sysroot.patch
  compiler/rustc_codegen_cranelift/patches/0027-coretests-128bit-atomic-operations.patch
  compiler/rustc_codegen_cranelift/patches/portable-simd-lock.toml
  compiler/rustc_codegen_cranelift/patches/rand-lock.toml
  compiler/rustc_codegen_cranelift/patches/regex-lock.toml
  compiler/rustc_codegen_cranelift/patches/stdlib-lock.toml
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/setup_rust_fork.sh
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_cranelift/src/abi/pass_mode.rs
  compiler/rustc_codegen_cranelift/src/abi/returning.rs
  compiler/rustc_codegen_cranelift/src/allocator.rs
  compiler/rustc_codegen_cranelift/src/analyze.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/cast.rs
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_cranelift/src/concurrency_limiter.rs
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/emit.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/line_info.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/mod.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/object.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/unwind.rs
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_cranelift/src/driver/jit.rs
  compiler/rustc_codegen_cranelift/src/global_asm.rs
  compiler/rustc_codegen_cranelift/src/inline_asm.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/llvm.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/llvm_aarch64.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/llvm_x86.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_cranelift/src/lib.rs
  compiler/rustc_codegen_cranelift/src/pointer.rs
  compiler/rustc_codegen_cranelift/src/pretty_clif.rs
  compiler/rustc_codegen_cranelift/src/value_and_place.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, A-codegen, T-compiler, T-bootstrap, S-waiting-on-bors, A-cranelift, subtree-sync

#116561 Add a test for fixed ICE
  tests/ui/typeck/escaping_bound_vars.rs
  tests/ui/typeck/escaping_bound_vars.stderr
Labels: T-compiler, S-waiting-on-bors

#116532 Add RUSTFLAGS_BOOTSTRAP to RUSTFLAGS for bootstrap compilation
  src/bootstrap/bootstrap.py
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#116497 Extend `impl`'s `def_span` to include its where clauses
  compiler/rustc_middle/src/hir/map/mod.rs
  src/tools/clippy/tests/ui/crashes/ice-6252.stderr
  tests/ui/associated-types/associated-types-coherence-failure.stderr
  tests/ui/associated-types/hr-associated-type-bound-2.stderr
  tests/ui/associated-types/impl-wf-cycle-1.stderr
  tests/ui/associated-types/impl-wf-cycle-2.stderr
  tests/ui/coherence/coherence-overlap-downstream.next.stderr
  tests/ui/coherence/coherence-overlap-downstream.old.stderr
  tests/ui/coherence/coherence-overlap-upstream.stderr
  tests/ui/coherence/coherence-wasm-bindgen.stderr
  tests/ui/coherence/inter-crate-ambiguity-causes-notes.next.stderr
  tests/ui/coherence/inter-crate-ambiguity-causes-notes.old.stderr
  tests/ui/coherence/warn-when-cycle-is-error-in-coherence.stderr
  tests/ui/const-generics/generic_const_exprs/issue-80742.stderr
  tests/ui/error-codes/E0374.stderr
  tests/ui/error-codes/E0377.stderr
  tests/ui/error-codes/E0476.stderr
  tests/ui/invalid_dispatch_from_dyn_impls.stderr
  tests/ui/issues/issue-43355.stderr
  tests/ui/issues/issue-77919.stderr
  tests/ui/never_type/never-from-impl-is-reserved.stderr
  tests/ui/privacy/private-in-public-warn.stderr
  tests/ui/privacy/private-in-public.stderr
  tests/ui/privacy/where-priv-type.stderr
  tests/ui/privacy/where-pub-type-impls-priv-trait.stderr
  tests/ui/specialization/issue-52050.stderr
  tests/ui/trait-bounds/impl-bound-with-references-error.stderr
  tests/ui/traits/issue-33140-hack-boundaries.stderr
  tests/ui/traits/new-solver/coherence/issue-102048.stderr
  tests/ui/traits/new-solver/dont-ice-on-assoc-projection.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109882 Support AIX in Rust standard library
  library/std/build.rs
  library/std/src/os/aix/fs.rs
  library/std/src/os/aix/mod.rs
  library/std/src/os/aix/raw.rs
  library/std/src/os/mod.rs
  library/std/src/os/unix/mod.rs
  library/std/src/sys/unix/args.rs
  library/std/src/sys/unix/env.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/os.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/sys/unix/thread_local_dtor.rs
  library/unwind/src/lib.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-unix, O-aix

#116366 Suggest labeling block if `break` is in bare block
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/loops.rs
  tests/ui/parser/attribute/attr-bad-meta-2.rs
  tests/ui/parser/attribute/attr-bad-meta-2.stderr
  tests/ui/parser/attribute/attr-bad-meta-3.rs
  tests/ui/parser/attribute/attr-bad-meta-3.stderr
  tests/ui/parser/attribute/attr-bad-meta.rs
  tests/ui/parser/attribute/attr-bad-meta.stderr
  tests/ui/parser/attribute/attr-before-eof.rs
  tests/ui/parser/attribute/attr-before-eof.stderr
  tests/ui/parser/attribute/attr-dangling-in-fn.rs
  tests/ui/parser/attribute/attr-dangling-in-fn.stderr
  tests/ui/parser/attribute/attr-dangling-in-mod.rs
  tests/ui/parser/attribute/attr-dangling-in-mod.stderr
  tests/ui/parser/attribute/attr-stmt-expr-attr-bad.rs
  tests/ui/parser/attribute/attr-stmt-expr-attr-bad.stderr
  tests/ui/parser/attribute/attr-with-a-semicolon.rs
  tests/ui/parser/attribute/attr-with-a-semicolon.stderr
  tests/ui/parser/attribute/attr.rs
  tests/ui/parser/attribute/attr.stderr
  tests/ui/parser/attribute/attribute-with-no-generics-in-parameter-list.rs
  tests/ui/parser/attribute/attribute-with-no-generics-in-parameter-list.stderr
  tests/ui/parser/attribute/attrs-after-extern-mod.rs
  tests/ui/parser/attribute/attrs-after-extern-mod.stderr
  tests/ui/parser/break-in-unlabeled-block-in-macro.rs
  tests/ui/parser/break-in-unlabeled-block-in-macro.stderr
  tests/ui/parser/break-in-unlabeled-block.fixed
  tests/ui/parser/break-in-unlabeled-block.rs
  tests/ui/parser/break-in-unlabeled-block.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116548 Improve handling of assertion failures with very long conditions
  compiler/rustc_builtin_macros/src/assert.rs
  tests/ui/macros/assert-long-condition.rs
  tests/ui/macros/assert-long-condition.run.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116409 coverage: Separate initial span extraction from span processing
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#116551 miri: make NaN generation non-deterministic
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/operator.rs
  src/tools/miri/tests/pass/float_nan.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#116586 use env variable to control thread ids in rustc_log
  compiler/rustc_log/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#116589 coverage: Unbox and simplify `bcb_filtered_successors`
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#116595 -Zmir-enable-passes: document that this may enable unsound passes
  compiler/rustc_mir_transform/src/early_otherwise_branch.rs
  compiler/rustc_mir_transform/src/large_enums.rs
  compiler/rustc_mir_transform/src/nrvo.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors

#116596 reorder files in solve
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals/inherent_projection.rs
  compiler/rustc_trait_selection/src/solve/project_goals/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals/opaques.rs
  compiler/rustc_trait_selection/src/solve/project_goals/weak_types.rs
  compiler/rustc_trait_selection/src/solve/search_graph.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#116598 Rollup of 4 pull requests
  compiler/rustc_log/src/lib.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
  compiler/rustc_mir_transform/src/early_otherwise_branch.rs
  compiler/rustc_mir_transform/src/large_enums.rs
  compiler/rustc_mir_transform/src/nrvo.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals/inherent_projection.rs
  compiler/rustc_trait_selection/src/solve/project_goals/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals/opaques.rs
  compiler/rustc_trait_selection/src/solve/project_goals/weak_types.rs
  compiler/rustc_trait_selection/src/solve/search_graph.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#116503 Update docs for mips target tier demotion.
  RELEASES.md
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors, T-release
