Repository rust-lang/rust, pull requests merged in 2023-02, with the labels that each got.

#102513 make unaligned_reference a hard error
  compiler/rustc_error_codes/src/error_codes.rs
  compiler/rustc_error_codes/src/error_codes/E0793.md
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_mir_transform/src/check_packed_ref.rs
  src/tools/miri/tests/fail/unaligned_pointers/reference_to_packed.rs
  src/tools/miri/tests/fail/unaligned_pointers/reference_to_packed.stderr
  tests/ui/binding/issue-53114-safety-checks.rs
  tests/ui/binding/issue-53114-safety-checks.stderr
  tests/ui/closures/2229_closure_analysis/diagnostics/repr_packed.rs
  tests/ui/closures/2229_closure_analysis/diagnostics/repr_packed.stderr
  tests/ui/derives/deriving-with-repr-packed-2.rs
  tests/ui/derives/deriving-with-repr-packed-2.stderr
  tests/ui/derives/deriving-with-repr-packed.rs
  tests/ui/derives/deriving-with-repr-packed.stderr
  tests/ui/lint/unaligned_references.rs
  tests/ui/lint/unaligned_references.stderr
  tests/ui/lint/unaligned_references_external_macro.rs
  tests/ui/lint/unaligned_references_external_macro.stderr
  tests/ui/packed/issue-27060-rpass.rs
  tests/ui/packed/issue-27060-rpass.stderr
  tests/ui/packed/issue-27060.rs
  tests/ui/packed/issue-27060.stderr
  tests/ui/packed/packed-struct-borrow-element-64bit.rs
  tests/ui/packed/packed-struct-borrow-element-64bit.stderr
  tests/ui/packed/packed-struct-borrow-element.rs
  tests/ui/packed/packed-struct-borrow-element.stderr
Labels: A-testsuite, T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#107467 Improve enum checks
  compiler/rustc_ast/src/util/comments.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/styled_buffer.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_hir_analysis/src/astconv/generics.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_metadata/src/dependency_format.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/mir/graphviz.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_mir_build/src/build/expr/as_temp.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/coverage/debug.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_save_analysis/src/sig.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
Labels: T-compiler, S-waiting-on-bors

#107486 Track bound types like bound regions
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_traits/src/chalk/db.rs
  compiler/rustc_traits/src/chalk/lowering.rs
  compiler/rustc_traits/src/chalk/mod.rs
Labels: T-compiler, S-waiting-on-bors

#107491 rustdoc: remove unused CSS from `.setting-check`
  src/librustdoc/html/static/css/settings.css
Labels: T-rustdoc, S-waiting-on-bors

#107508 `Edition` micro refactor
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_span/src/edition.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#107525 PointeeInfo is advisory only
  compiler/rustc_abi/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#107527 rustdoc: stop making unstable items transparent
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc/inline_cross/macros.rs
  tests/rustdoc/issue-32374.rs
  tests/rustdoc/reexport-check.rs
Labels: T-rustdoc, S-waiting-on-bors

#107535 Replace unwrap with ? in TcpListener doc
  library/std/src/net/tcp.rs
Labels: S-waiting-on-bors, T-libs

#107331 Clean up eslint annotations and remove unused JS function
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/storage.js
Labels: T-rustdoc, S-waiting-on-bors

#107348 small refactor to new projection code
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/search_graph/mod.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#107354 rustdoc: update Source Serif 4 from 4.004 to 4.005
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/fonts/SourceSerif4-Bold.ttf.woff2
  src/librustdoc/html/static/fonts/SourceSerif4-It.ttf.woff2
  src/librustdoc/html/static/fonts/SourceSerif4-LICENSE.md
  src/librustdoc/html/static/fonts/SourceSerif4-Regular.ttf.woff2
Labels: T-rustdoc, S-waiting-on-bors

#107412 avoid needless checks
  compiler/rustc_codegen_llvm/src/context.rs
Labels: T-compiler, S-waiting-on-bors

#106898 Include both md and yaml ICE ticket templates
  .github/ISSUE_TEMPLATE/ice.md
  .github/ISSUE_TEMPLATE/ice.yaml
Labels: S-waiting-on-bors

#107533 Extend `-Z print-type-sizes` to distinguish generator upvars+locals from "normal" fields.
  compiler/rustc_session/src/code_stats.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_ty_utils/src/layout.rs
  tests/ui/print_type_sizes/async.stdout
  tests/ui/print_type_sizes/generator.stdout
  tests/ui/print_type_sizes/generator_discr_placement.stdout
Labels: T-compiler, S-waiting-on-bors

#107546 Rollup of 6 pull requests
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_session/src/code_stats.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_ty_utils/src/layout.rs
  library/core/src/ops/arith.rs
  library/core/src/slice/mod.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/download.rs
  tests/ui/binop/binary-op-on-double-ref.fixed
  tests/ui/binop/binary-op-on-double-ref.rs
  tests/ui/binop/binary-op-on-double-ref.stderr
  tests/ui/binop/issue-28837.rs
  tests/ui/binop/issue-28837.stderr
  tests/ui/lang-items/lang-item-missing-generator.rs
  tests/ui/lang-items/lang-item-missing-generator.stderr
  tests/ui/let-else/accidental-if.stderr
  tests/ui/print_type_sizes/async.stdout
  tests/ui/print_type_sizes/generator.stdout
  tests/ui/print_type_sizes/generator_discr_placement.stdout
  tests/ui/rfc-2497-if-let-chains/ensure-that-let-else-does-not-interact-with-let-chains.stderr
  x.py
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#107442 improve panic message for slice windows and chunks
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#107470 Small bootstrap improvements
  src/bootstrap/bootstrap.py
  src/bootstrap/download.rs
  x.py
Labels: T-bootstrap, S-waiting-on-bors

#107487 Make the "extra if in let...else block" hint a suggestion
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/let-else/accidental-if.stderr
  tests/ui/rfc-2497-if-let-chains/ensure-that-let-else-does-not-interact-with-let-chains.stderr
Labels: T-compiler, S-waiting-on-bors

#107499 Do not depend on Generator trait when deducing closure signature
  compiler/rustc_hir_typeck/src/closure.rs
  tests/ui/lang-items/lang-item-missing-generator.rs
  tests/ui/lang-items/lang-item-missing-generator.stderr
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#107389 Fixing confusion between mod and remainder
  compiler/rustc_hir_typeck/src/op.rs
  library/core/src/ops/arith.rs
  tests/ui/binop/binary-op-on-double-ref.fixed
  tests/ui/binop/binary-op-on-double-ref.rs
  tests/ui/binop/binary-op-on-double-ref.stderr
  tests/ui/binop/issue-28837.rs
  tests/ui/binop/issue-28837.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#107257 Strengthen validation of FFI attributes
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_error_messages/locales/en-US/passes.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  tests/ui/ffi_const.rs
  tests/ui/ffi_const.stderr
  tests/ui/ffi_pure.rs
  tests/ui/ffi_pure.stderr
  tests/ui/ffi_returns_twice.rs
  tests/ui/ffi_returns_twice.stderr
Labels: A-ffi, T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#107574 Revert "switch to the macos-12-xl builder"
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#105670 rustc_parse: diagnostics migration, v4
  compiler/rustc_error_messages/locales/en-US/hir_typeck.ftl
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/nonterminal.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_parse/src/parser/ty.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
  tests/ui-fulldeps/session-diagnostic/subdiagnostic-derive.rs
  tests/ui-fulldeps/session-diagnostic/subdiagnostic-derive.stderr
  tests/ui/pub/pub-ident-fn-3.rs
  tests/ui/pub/pub-ident-fn-3.stderr
  tests/ui/pub/pub-ident-fn-or-struct-2.rs
  tests/ui/pub/pub-ident-fn-or-struct-2.stderr
  tests/ui/pub/pub-ident-struct-2.rs
  tests/ui/pub/pub-ident-struct-2.stderr
  tests/ui/pub/pub-ident-struct-3.rs
  tests/ui/pub/pub-ident-struct-3.stderr
  tests/ui/pub/pub-ident-struct-4.fixed
  tests/ui/pub/pub-ident-struct-4.rs
  tests/ui/pub/pub-ident-struct-4.stderr
  tests/ui/track-diagnostics/track4.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#107576 Add proc-macro boilerplate to crt-static test
  tests/ui/proc-macro/crt-static.rs
Labels: T-compiler, S-waiting-on-bors

#107584 Rollup of 5 pull requests
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  src/doc/style-guide/src/statements.md
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/images/down-arrow.svg
  src/librustdoc/html/static/images/toggle-minus.svg
  src/librustdoc/html/static/images/toggle-plus.svg
  src/librustdoc/html/static_files.rs
  tests/ui/async-await/dont-suggest-missing-await.stderr
  tests/ui/async-await/generator-desc.stderr
  tests/ui/async-await/issue-61076.rs
  tests/ui/async-await/issue-61076.stderr
  tests/ui/async-await/issue-98634.stderr
  tests/ui/async-await/issues/issue-102206.stderr
  tests/ui/async-await/suggest-missing-await-closure.stderr
  tests/ui/async-await/suggest-missing-await.stderr
  tests/ui/deriving/deriving-all-codegen.stdout
  tests/ui/impl-trait/in-trait/method-signature-matches.stderr
  tests/ui/impl-trait/issue-102605.stderr
  tests/ui/impl-trait/issue-99914.stderr
  tests/ui/proc-macro/crt-static.rs
  tests/ui/suggestions/if-then-neeing-semi.rs
  tests/ui/suggestions/if-then-neeing-semi.stderr
  tests/ui/suggestions/issue-81839.stderr
  tests/ui/suggestions/match-prev-arm-needing-semi.rs
  tests/ui/suggestions/match-prev-arm-needing-semi.stderr
  tests/ui/type-alias-impl-trait/issue-98604.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-style

#107531 Inline CSS background images directly into the CSS
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/images/down-arrow.svg
  src/librustdoc/html/static/images/toggle-minus.svg
  src/librustdoc/html/static/images/toggle-plus.svg
  src/librustdoc/html/static_files.rs
Labels: T-rustdoc, S-waiting-on-bors

#107312 Add Style Guide rules for let-else statements
  src/doc/style-guide/src/statements.md
Labels: S-waiting-on-bors, T-style

#107488 Fix syntax in `-Zunpretty-expanded` output for derived `PartialEq`.
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_expand/src/build.rs
  tests/ui/deriving/deriving-all-codegen.stdout
Labels: T-compiler, S-waiting-on-bors

#107201 Remove confusing 'while checking' note from opaque future type mismatches
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  tests/ui/async-await/dont-suggest-missing-await.stderr
  tests/ui/async-await/generator-desc.stderr
  tests/ui/async-await/issue-61076.rs
  tests/ui/async-await/issue-61076.stderr
  tests/ui/async-await/issue-98634.stderr
  tests/ui/async-await/issues/issue-102206.stderr
  tests/ui/async-await/suggest-missing-await-closure.stderr
  tests/ui/async-await/suggest-missing-await.stderr
  tests/ui/impl-trait/in-trait/method-signature-matches.stderr
  tests/ui/impl-trait/issue-102605.stderr
  tests/ui/impl-trait/issue-99914.stderr
  tests/ui/suggestions/if-then-neeing-semi.rs
  tests/ui/suggestions/if-then-neeing-semi.stderr
  tests/ui/suggestions/issue-81839.stderr
  tests/ui/suggestions/match-prev-arm-needing-semi.rs
  tests/ui/suggestions/match-prev-arm-needing-semi.stderr
  tests/ui/type-alias-impl-trait/issue-98604.stderr
Labels: T-compiler, S-waiting-on-bors

#107478 Revert "Teach parser to understand fake anonymous enum syntax" and related commits
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/ty.rs
  tests/ui/parser/anon-enums-are-ambiguous.rs
  tests/ui/parser/anon-enums.rs
  tests/ui/parser/anon-enums.stderr
  tests/ui/parser/fake-anon-enums-in-macros.rs
  tests/ui/parser/issues/issue-87086-colon-path-sep.rs
  tests/ui/parser/issues/issue-87086-colon-path-sep.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#107559 Rename `rust_2015` → `is_rust_2015`
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_span/src/edition.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#107601 Rollup of 7 pull requests
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/mem_categorization.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_passes/src/hir_id_validator.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_span/src/edition.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/mir-opt/const_debuginfo.main.ConstDebugInfo.diff
  tests/mir-opt/const_prop/bad_op_mod_by_zero.main.ConstProp.diff
  tests/mir-opt/const_prop/scalar_literal_propagation.main.ConstProp.diff
  tests/mir-opt/copy-prop/cycle.main.CopyProp.diff
  tests/mir-opt/copy-prop/dead_stores_79191.f.CopyProp.after.mir
  tests/mir-opt/copy-prop/dead_stores_better.f.CopyProp.after.mir
  tests/mir-opt/copy-prop/issue_107511.main.CopyProp.diff
  tests/mir-opt/copy-prop/issue_107511.rs
  tests/mir-opt/dataflow-const-prop/inherit_overflow.main.DataflowConstProp.diff
  tests/mir-opt/funky_arms.float_to_exponential_common.ConstProp.diff
  tests/mir-opt/issue_101973.inner.ConstProp.diff
  tests/mir-opt/issue_76432.test.SimplifyComparisonIntegral.diff
  tests/mir-opt/simplify_match.main.ConstProp.diff
  tests/mir-opt/slice_filter.variant_a-{closure#0}.CopyProp.diff
  tests/mir-opt/slice_filter.variant_a-{closure#0}.DestinationPropagation.diff
  tests/mir-opt/slice_filter.variant_b-{closure#0}.CopyProp.diff
  tests/mir-opt/slice_filter.variant_b-{closure#0}.DestinationPropagation.diff
  tests/mir-opt/try_identity_e2e.new.PreCodegen.after.mir
  tests/mir-opt/try_identity_e2e.old.PreCodegen.after.mir
  tests/ui/did_you_mean/issue-46718-struct-pattern-dotdotdot.stderr
  tests/ui/half-open-range-patterns/half-open-range-pats-inclusive-match-arrow.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-inclusive-match-arrow.stderr
  tests/ui/parser/issue-102806.stderr
  tests/ui/parser/issues/issue-63135.stderr
  tests/ui/stats/hir-stats.rs
  tests/ui/structs-enums/struct-enum-ignoring-field-with-underscore.rs
  tests/ui/structs-enums/struct-enum-ignoring-field-with-underscore.stderr
  tests/ui/uninhabited/issue-107505.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-translation

#107493 Improve diagnostic for missing space in range pattern
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/pat.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-inclusive-match-arrow.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-inclusive-match-arrow.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#107515 Improve pretty-printing of `HirIdValidator` errors
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/mem_categorization.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_passes/src/hir_id_validator.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
Labels: T-compiler, S-waiting-on-bors

#107532 Erase regions before doing uninhabited check in borrowck
  compiler/rustc_borrowck/src/type_check/mod.rs
  tests/ui/uninhabited/issue-107505.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#106919 Recover `_` as `..` in field pattern
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/pat.rs
  tests/ui/did_you_mean/issue-46718-struct-pattern-dotdotdot.stderr
  tests/ui/parser/issue-102806.stderr
  tests/ui/parser/issues/issue-63135.stderr
  tests/ui/structs-enums/struct-enum-ignoring-field-with-underscore.rs
  tests/ui/structs-enums/struct-enum-ignoring-field-with-underscore.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#107000 Fix handling of items inside a `doc(hidden)` block
  src/librustdoc/clean/mod.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/passes/strip_hidden.rs
  src/librustdoc/visit_ast.rs
  tests/rustdoc-ui/infinite-recursive-type-impl-trait-return.rs
  tests/rustdoc-ui/infinite-recursive-type-impl-trait-return.stderr
  tests/rustdoc-ui/infinite-recursive-type-impl-trait.rs
  tests/rustdoc-ui/infinite-recursive-type-impl-trait.stderr
  tests/rustdoc/hidden-private.rs
  tests/rustdoc/impl-in-const-block.rs
  tests/rustdoc/redirect.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#107241 Add `rust.lto=off` to bootstrap and set as compiler/library default
  config.toml.example
  src/bootstrap/compile.rs
  src/bootstrap/config.rs
  src/bootstrap/defaults/config.compiler.toml
  src/bootstrap/defaults/config.library.toml
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#107543 Enable Cargo's sparse protocol in CI
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
  src/ci/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#107608 Use triple rather than arch for fuchsia test-runner
  src/ci/docker/scripts/fuchsia-test-runner.py
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: A-testsuite, S-waiting-on-bors, T-infra

#107500 Add tests to assert current behavior of large future sizes
  tests/ui/async-await/future-sizes/future-as-arg.rs
  tests/ui/async-await/future-sizes/large-arg.rs
  tests/ui/async-await/future-sizes/large-arg.stdout
Labels: T-compiler, S-waiting-on-bors

#107598 Fix benchmarks in library/core with black_box
  library/core/benches/char/methods.rs
  library/core/benches/num/flt2dec/strategy/dragon.rs
  library/core/benches/num/flt2dec/strategy/grisu.rs
Labels: S-waiting-on-bors, T-libs

#107602 Parse and recover from type ascription in patterns
  compiler/rustc_parse/src/parser/diagnostics.rs
  tests/ui/parser/issues/issue-87086-colon-path-sep.rs
  tests/ui/parser/issues/issue-87086-colon-path-sep.stderr
  tests/ui/parser/type-ascription-in-pattern.rs
  tests/ui/parser/type-ascription-in-pattern.stderr
Labels: T-compiler, S-waiting-on-bors

#106805 Suggest `{var:?}` when finding `{?:var}` in inline format strings
  compiler/rustc_parse_format/src/lib.rs
  tests/ui/fmt/format-string-wrong-order.rs
  tests/ui/fmt/format-string-wrong-order.stderr
Labels: T-compiler, S-waiting-on-bors, A-meta, A-translation

#107569 ast: Optimize list and value extraction primitives for attributes
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_passes/src/lib_features.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#107599 Don't generate unecessary `&&self.field` in deriving Debug
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  tests/ui/deriving/deriving-all-codegen.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#107585 Don't cause a cycle when formatting query description that references a FnDef
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_query_impl/src/plumbing.rs
  tests/ui/async-await/no-const-async.stderr
  tests/ui/impl-trait/auto-trait-leak.stderr
  tests/ui/parser/fn-header-semantic-fail.stderr
  tests/ui/query-system/no-query-in-printing-during-query-descr.rs
  tests/ui/query-system/no-query-in-printing-during-query-descr.stderr
Labels: T-compiler, S-waiting-on-bors, A-query-system

#107427 Add candidates for DiscriminantKind builtin
  compiler/rustc_trait_selection/src/solve/assembly.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#107539 Emit warnings on unused parens in index expressions
  compiler/rustc_lint/src/unused.rs
  tests/ui/lint/unused/issue-96606.rs
  tests/ui/lint/unused/issue-96606.stderr
Labels: T-compiler, S-waiting-on-bors

#107544 Improve `TokenCursor`.
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_expand/src/mbe/metavar_expr.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  src/tools/rustfmt/src/macros.rs
Labels: T-compiler, S-waiting-on-bors

#107082 Autotrait bounds on dyn-safe trait methods
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  tests/ui/coherence/coherence-impl-trait-for-marker-trait-negative.rs
  tests/ui/coherence/coherence-impl-trait-for-marker-trait-negative.stderr
  tests/ui/coherence/coherence-impl-trait-for-marker-trait-positive.rs
  tests/ui/coherence/coherence-impl-trait-for-marker-trait-positive.stderr
  tests/ui/where-clauses/self-in-where-clause-allowed.rs
  tests/ui/where-clauses/self-in-where-clause-allowed.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, F-auto_traits, A-auto-traits, T-types, A-coherence

#107595 Retry opening proc-macro DLLs a few times on Windows.
  compiler/rustc_metadata/src/creader.rs
Labels: T-compiler, S-waiting-on-bors

#107615 Replace nbsp in all rustdoc code blocks
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc/doc-notable_trait.some-struct-new.html
  tests/rustdoc/doc-notable_trait.wrap-me.html
  tests/rustdoc/whitespace-after-where-clause.enum2.html
  tests/rustdoc/whitespace-after-where-clause.struct2.html
  tests/rustdoc/whitespace-after-where-clause.union2.html
Labels: T-rustdoc, S-waiting-on-bors

#107621 Intern external constraints in new solver
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph/cache.rs
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, A-meta, WG-trait-system-refactor

#107631 loudly tell people when they change `Cargo.lock`
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#107632 Clarifying that .map() returns None if None.
  library/core/src/option.rs
Labels: S-waiting-on-bors, T-libs

#107650 Rollup of 8 pull requests
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph/cache.rs
  library/core/src/cmp.rs
  library/core/src/const_closure.rs
  library/core/src/iter/adapters/array_chunks.rs
  library/core/src/iter/adapters/by_ref_sized.rs
  library/core/src/iter/mod.rs
  library/core/src/lib.rs
  library/core/src/ops/try_trait.rs
  library/core/src/option.rs
  library/std/src/io/error.rs
  library/std/src/io/error/repr_bitpacked.rs
  library/std/src/io/error/repr_unpacked.rs
  library/std/src/io/error/tests.rs
  library/std/src/io/mod.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc/doc-notable_trait.some-struct-new.html
  tests/rustdoc/doc-notable_trait.wrap-me.html
  tests/rustdoc/whitespace-after-where-clause.enum2.html
  tests/rustdoc/whitespace-after-where-clause.struct2.html
  tests/rustdoc/whitespace-after-where-clause.union2.html
  tests/ui/parser/recover-quantified-closure.rs
  tests/ui/parser/recover-quantified-closure.stderr
  tests/ui/rfc-2632-const-trait-impl/const-closure-parse-not-item.rs
  tests/ui/suggestions/suggest-fn-ptr-for-fn-item-in-fn-ret.fixed
  tests/ui/suggestions/suggest-fn-ptr-for-fn-item-in-fn-ret.rs
  tests/ui/suggestions/suggest-fn-ptr-for-fn-item-in-fn-ret.stderr
  triagebot.toml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, WG-trait-system-refactor

#107519 Add type alias for raw OS errors
  library/std/src/io/error.rs
  library/std/src/io/error/repr_bitpacked.rs
  library/std/src/io/error/repr_unpacked.rs
  library/std/src/io/error/tests.rs
  library/std/src/io/mod.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs, S-waiting-on-ACP

#107551 Replace `ConstFnMutClosure` with const closures
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  library/core/src/cmp.rs
  library/core/src/const_closure.rs
  library/core/src/iter/adapters/array_chunks.rs
  library/core/src/iter/adapters/by_ref_sized.rs
  library/core/src/iter/mod.rs
  library/core/src/lib.rs
  library/core/src/ops/try_trait.rs
  tests/ui/parser/recover-quantified-closure.rs
  tests/ui/parser/recover-quantified-closure.stderr
  tests/ui/rfc-2632-const-trait-impl/const-closure-parse-not-item.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#106887 Make const/fn return params more suggestable
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_middle/src/ty/fold.rs
  tests/ui/suggestions/suggest-fn-ptr-for-fn-item-in-fn-ret.fixed
  tests/ui/suggestions/suggest-fn-ptr-for-fn-item-in-fn-ret.rs
  tests/ui/suggestions/suggest-fn-ptr-for-fn-item-in-fn-ret.stderr
Labels: T-compiler, S-waiting-on-bors

#107591 llvm-wrapper: adapt for LLVM API changes
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, llvm-main

#107549 Move code in `rustc_driver` out to a new `rustc_driver_impl` crate to allow pipelining
  Cargo.lock
  compiler/rustc/Cargo.toml
  compiler/rustc_driver/Cargo.toml
  compiler/rustc_driver/src/lib.rs
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_driver_impl/README.md
  compiler/rustc_driver_impl/src/args.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_driver_impl/src/pretty.rs
  compiler/rustc_driver_impl/src/session_diagnostics.rs
  compiler/rustc_error_messages/locales/en-US/driver.ftl
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#107661 Remove Esteban from review queues for a while
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#107672 Rollup of 3 pull requests
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  src/bootstrap/README.md
  src/bootstrap/lib.rs
  tests/ui/borrowck/borrowck-borrow-mut-base-ptr-in-aliasable-loc.stderr
  tests/ui/borrowck/issue-85765.rs
  tests/ui/borrowck/issue-85765.stderr
  tests/ui/borrowck/issue-91206.rs
  tests/ui/borrowck/issue-91206.stderr
  tests/ui/borrowck/issue-92015.stderr
  tests/ui/issues/issue-51515.rs
  tests/ui/issues/issue-51515.stderr
  triagebot.toml
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#107646 Provide structured suggestion for binding needing type on E0594
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  tests/ui/borrowck/borrowck-borrow-mut-base-ptr-in-aliasable-loc.stderr
  tests/ui/borrowck/issue-85765.rs
  tests/ui/borrowck/issue-85765.stderr
  tests/ui/borrowck/issue-91206.rs
  tests/ui/borrowck/issue-91206.stderr
  tests/ui/borrowck/issue-92015.stderr
  tests/ui/issues/issue-51515.rs
  tests/ui/issues/issue-51515.stderr
Labels: T-compiler, S-waiting-on-bors

#107116 consolidate bootstrap docs
  src/bootstrap/README.md
  src/bootstrap/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#107434 emit `ConstEquate` in `TypeRelating<D>`
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_middle/src/ty/relate.rs
  tests/ui/const-generics/generic_const_exprs/const_kind_expr/relate_binop_arg_tys.rs
  tests/ui/const-generics/generic_const_exprs/const_kind_expr/relate_binop_arg_tys.stderr
  tests/ui/const-generics/generic_const_exprs/const_kind_expr/relate_cast_arg_ty.rs
  tests/ui/const-generics/generic_const_exprs/const_kind_expr/relate_cast_arg_ty.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-const-generics

#107679 Less import overhead for errors
  compiler/rustc_const_eval/src/transform/check_consts/ops.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#102842 rustdoc: change trait bound formatting
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc/auxiliary/inline-default-methods.rs
  tests/rustdoc/decl-trailing-whitespace.declaration.html
  tests/rustdoc/inline-default-methods.rs
  tests/rustdoc/issue-85454.rs
  tests/rustdoc/where.SWhere_TraitWhere_item-decl.html
  tests/rustdoc/where.rs
  tests/rustdoc/whitespace-after-where-clause.trait.html
  tests/rustdoc/whitespace-after-where-clause.trait2.html
Labels: T-rustdoc, A-traits, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#107663 don't point at nonexisting code beyond EOF when warning about delims
  compiler/rustc_lint/src/unused.rs
  tests/ui/malformed/issue-107423-unused-delim-only-one-no-pair.rs
  tests/ui/malformed/issue-107423-unused-delim-only-one-no-pair.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#107526 Recover form missing expression in `for` loop
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/parser/missing-expression-in-for-loop.rs
  tests/ui/parser/missing-expression-in-for-loop.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#107627 Optimize `fold_ty`
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/resolve.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#107141 rustdoc: compute maximum Levenshtein distance based on the query
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-gui/src/test_docs/lib.rs
  tests/rustdoc-js-std/regex.js
  tests/rustdoc-js-std/typed-query.js
  tests/rustdoc-js/doc-alias.js
  tests/rustdoc-js/module-substring.js
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#107697 Fix typo in HashMap::with_capacity
  library/std/src/collections/hash/map.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#107667 Remove `OnHit` callback from query caches.
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_query_system/src/query/caches.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, perf-regression

#107685 Suggest adding a return type for async functions
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/typeck/issue-90027-async-fn-return-suggestion.rs
  tests/ui/typeck/issue-90027-async-fn-return-suggestion.stderr
Labels: T-compiler, S-waiting-on-bors

#107687 Adapt SROA MIR opt for aggregated MIR
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/sroa.rs
  tests/mir-opt/const_debuginfo.main.ConstDebugInfo.diff
  tests/mir-opt/const_prop/mutable_variable_aggregate.main.ConstProp.diff
  tests/mir-opt/const_prop/mutable_variable_aggregate_mut_ref.main.ConstProp.diff
  tests/mir-opt/const_prop/mutable_variable_unprop_assign.main.ConstProp.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.ConstProp.32bit.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.ConstProp.64bit.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.PreCodegen.after.32bit.mir
  tests/mir-opt/const_prop/optimizes_into_variable.main.PreCodegen.after.64bit.mir
  tests/mir-opt/const_prop/optimizes_into_variable.main.ScalarReplacementOfAggregates.32bit.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.ScalarReplacementOfAggregates.64bit.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.SimplifyLocals-final.after.32bit.mir
  tests/mir-opt/const_prop/optimizes_into_variable.main.SimplifyLocals-final.after.64bit.mir
  tests/mir-opt/simple_option_map_e2e.ezmap.PreCodegen.after.mir
  tests/mir-opt/sroa.copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.escaping.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.flat.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.ref_copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.rs
  tests/mir-opt/sroa.structs.ScalarReplacementOfAggregates.diff
Labels: T-compiler, S-waiting-on-bors, A-mir-opt

#107727 Rollup of 5 pull requests
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/sroa.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/generics.rs
  src/librustdoc/html/static/css/themes/ayu.css
  tests/mir-opt/const_debuginfo.main.ConstDebugInfo.diff
  tests/mir-opt/const_prop/mutable_variable_aggregate.main.ConstProp.diff
  tests/mir-opt/const_prop/mutable_variable_aggregate_mut_ref.main.ConstProp.diff
  tests/mir-opt/const_prop/mutable_variable_unprop_assign.main.ConstProp.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.ConstProp.32bit.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.ConstProp.64bit.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.PreCodegen.after.32bit.mir
  tests/mir-opt/const_prop/optimizes_into_variable.main.PreCodegen.after.64bit.mir
  tests/mir-opt/const_prop/optimizes_into_variable.main.ScalarReplacementOfAggregates.32bit.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.ScalarReplacementOfAggregates.64bit.diff
  tests/mir-opt/const_prop/optimizes_into_variable.main.SimplifyLocals-final.after.32bit.mir
  tests/mir-opt/const_prop/optimizes_into_variable.main.SimplifyLocals-final.after.64bit.mir
  tests/mir-opt/simple_option_map_e2e.ezmap.PreCodegen.after.mir
  tests/mir-opt/sroa.copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.escaping.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.flat.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.ref_copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.rs
  tests/mir-opt/sroa.structs.ScalarReplacementOfAggregates.diff
  tests/ui/lifetimes/issue-107492-default-value-for-lifetime.rs
  tests/ui/lifetimes/issue-107492-default-value-for-lifetime.stderr
  tests/ui/suggest-null-ptr.fixed
  tests/ui/suggest-null-ptr.rs
  tests/ui/suggest-null-ptr.stderr
  tests/ui/typeck/issue-90027-async-fn-return-suggestion.rs
  tests/ui/typeck/issue-90027-async-fn-return-suggestion.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-translation

#107580 Recover from lifetimes with default lifetimes in generic args
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/generics.rs
  tests/ui/lifetimes/issue-107492-default-value-for-lifetime.rs
  tests/ui/lifetimes/issue-107492-default-value-for-lifetime.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, A-translation, T-style

#107669 rustdoc: combine duplicate rules in ayu CSS
  src/librustdoc/html/static/css/themes/ayu.css
Labels: T-rustdoc, S-waiting-on-bors

#107553 Suggest std::ptr::null if literal 0 is given to a raw pointer function argument
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/suggest-null-ptr.fixed
  tests/ui/suggest-null-ptr.rs
  tests/ui/suggest-null-ptr.stderr
Labels: T-compiler, S-waiting-on-bors

#107714 Clarify wording on f64::round() and f32::round()
  library/std/src/f32.rs
  library/std/src/f64.rs
Labels: S-waiting-on-bors, T-libs

#107720 end entry paragraph with a period (.)
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#107724 remove unused rustc_* imports
  Cargo.lock
  compiler/rustc_ast_lowering/Cargo.toml
  compiler/rustc_ast_pretty/Cargo.toml
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_const_eval/Cargo.toml
  compiler/rustc_hir_analysis/Cargo.toml
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_interface/Cargo.toml
  compiler/rustc_mir_build/Cargo.toml
  compiler/rustc_mir_dataflow/Cargo.toml
  compiler/rustc_privacy/Cargo.toml
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_traits/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, A-query-system

#107725 Turn MarkdownWithToc into a struct with named fields
  src/librustdoc/html/markdown.rs
  src/librustdoc/markdown.rs
Labels: T-rustdoc, S-waiting-on-bors

#107731 interpret: move discriminant reading and writing to separate file
  compiler/rustc_const_eval/src/interpret/discriminant.rs
  compiler/rustc_const_eval/src/interpret/mod.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
Labels: T-compiler, S-waiting-on-bors

#107735 Add mailmap for commits made by xes@meta.com
  .mailmap
Labels: S-waiting-on-bors, A-meta

#107738 Rollup of 9 pull requests
  .mailmap
  Cargo.lock
  compiler/rustc_ast_lowering/Cargo.toml
  compiler/rustc_ast_pretty/Cargo.toml
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_const_eval/Cargo.toml
  compiler/rustc_const_eval/src/interpret/discriminant.rs
  compiler/rustc_const_eval/src/interpret/mod.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_hir_analysis/Cargo.toml
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_interface/Cargo.toml
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_mir_build/Cargo.toml
  compiler/rustc_mir_dataflow/Cargo.toml
  compiler/rustc_privacy/Cargo.toml
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_session/src/code_stats.rs
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_traits/Cargo.toml
  compiler/rustc_ty_utils/src/layout.rs
  library/core/src/num/uint_macros.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  src/ci/stage-build.py
  src/librustdoc/html/markdown.rs
  src/librustdoc/markdown.rs
  tests/ui/async-await/future-sizes/large-arg.stdout
  tests/ui/derives/deriving-copyclone.stderr
  tests/ui/errors/trait-bound-error-spans/blame-trait-error.rs
  tests/ui/errors/trait-bound-error-spans/blame-trait-error.stderr
  tests/ui/errors/traits/blame-trait-error-spans-on-exprs.rs
  tests/ui/errors/traits/blame-trait-error-spans-on-exprs.stderr
  tests/ui/print_type_sizes/async.stdout
  tests/ui/print_type_sizes/generator.stdout
  tests/ui/print_type_sizes/generator_discr_placement.stdout
  tests/ui/traits/negative-impls/negated-auto-traits-error.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-meta, T-libs, A-query-system

#107596 Add nicer output to PGO build timer
  src/ci/stage-build.py
Labels: A-testsuite, S-waiting-on-bors, T-infra

#107692 Sort Generator `print-type-sizes` according to their yield points
  compiler/rustc_session/src/code_stats.rs
  compiler/rustc_ty_utils/src/layout.rs
  tests/ui/async-await/future-sizes/large-arg.stdout
  tests/ui/print_type_sizes/async.stdout
  tests/ui/print_type_sizes/generator.stdout
  tests/ui/print_type_sizes/generator_discr_placement.stdout
Labels: T-compiler, S-waiting-on-bors

#106477 Refine error spans for "The trait bound `T: Trait` is not satisfied" when passing literal structs/tuples
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/derives/deriving-copyclone.stderr
  tests/ui/errors/trait-bound-error-spans/blame-trait-error.rs
  tests/ui/errors/trait-bound-error-spans/blame-trait-error.stderr
  tests/ui/errors/traits/blame-trait-error-spans-on-exprs.rs
  tests/ui/errors/traits/blame-trait-error-spans-on-exprs.stderr
  tests/ui/traits/negative-impls/negated-auto-traits-error.stderr
Labels: T-compiler, S-waiting-on-bors

#107693 rustc_metadata: Encode/decode some `LazyArrays` without an `Option`
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_metadata/src/rmeta/table.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_ty_utils/src/assoc.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#106180 make &mut !Unpin not dereferenceable, and Box<!Unpin> not noalias
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_ty_utils/src/abi.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/tests/fail/stacked_borrows/deallocate_against_protector2.rs
  src/tools/miri/tests/fail/stacked_borrows/deallocate_against_protector2.stderr
  src/tools/miri/tests/pass/stacked-borrows/future-self-referential.rs
  src/tools/miri/tests/pass/stacked-borrows/stacked-borrows.rs
  tests/codegen/function-arguments-noopt.rs
  tests/codegen/function-arguments.rs
Labels: T-lang, T-compiler, S-waiting-on-bors, merged-by-bors

#107611 [1.67-stable backport] Revert back to LlvmArchiveBuilder on all platforms
  compiler/rustc_codegen_llvm/src/back/archive.rs
Labels: T-compiler, S-waiting-on-review

#107743 Release 1.67.1
  .github/workflows/ci.yml
  RELEASES.md
  compiler/rustc_codegen_llvm/src/back/archive.rs
  src/bootstrap/cache.rs
  src/ci/github-actions/ci.yml
  src/tools/clippy/clippy_lints/src/format_args.rs
  src/version
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#107704 Run `expand-yaml-anchors` in `x test tidy`
  src/bootstrap/test.rs
  src/tools/expand-yaml-anchors/src/main.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#107671 Fix suggestions rendering when the diff span is multiline
  compiler/rustc_errors/src/emitter.rs
  src/tools/tidy/src/ui_tests.rs
  tests/ui/issues/issue-92741.fixed
  tests/ui/issues/issue-92741.rs
  tests/ui/issues/issue-92741.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, merged-by-bors

#107662 Turn projections into copies in CopyProp.
  compiler/rustc_mir_transform/src/copy_prop.rs
  tests/mir-opt/copy-prop/move_projection.f.CopyProp.diff
  tests/mir-opt/copy-prop/move_projection.rs
  tests/mir-opt/simple_option_map_e2e.ezmap.PreCodegen.after.mir
Labels: T-compiler, S-waiting-on-bors, A-mir-opt

#107695 Add test for Future inflating arg size to 3x
  tests/ui/async-await/future-sizes/async-awaiting-fut.rs
  tests/ui/async-await/future-sizes/async-awaiting-fut.stdout
Labels: T-compiler, S-waiting-on-bors

#107700 Run the tools builder on all PRs
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
  src/ci/scripts/should-skip-this.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#107706 Mark 'atomic_mut_ptr' methods const
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors, T-libs

#107709 Fix problem noticed in PR106859 with char -> u8 suggestion
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  tests/ui/suggestions/type-mismatch-byte-literal.rs
  tests/ui/suggestions/type-mismatch-byte-literal.stderr
Labels: T-compiler, S-waiting-on-bors

#107471 rustdoc: do not include empty default-settings tag in HTML
  src/librustdoc/html/templates/page.html
Labels: T-rustdoc, S-waiting-on-bors

#107555 Modify existing bounds if they exist
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_const_eval/src/transform/check_consts/ops.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/associated-types/hr-associated-type-projection-1.stderr
  tests/ui/generic-associated-types/issue-68656-unsized-values.stderr
  tests/ui/generic-associated-types/missing-bounds.fixed
  tests/ui/generic-associated-types/missing-bounds.stderr
  tests/ui/suggestions/restrict-existing-type-bounds.rs
  tests/ui/suggestions/restrict-existing-type-bounds.stderr
Labels: T-compiler, S-waiting-on-bors

#107740 Avoid locking the global context across the `after_expansion` callback
  compiler/rustc_driver_impl/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#107746 Split fn_ctxt/adjust_fulfillment_errors from fn_ctxt/checks
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
Labels: T-compiler, S-waiting-on-bors

#107749 allow quick-edit convenience
  src/doc/rustc/book.toml
Labels: S-waiting-on-bors

#107750 make more readable
  src/doc/rustc/src/codegen-options/index.md
Labels: S-waiting-on-bors

#107755 remove binder from query constraints
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_middle/src/infer/canonical.rs
Labels: T-compiler, S-waiting-on-bors

#107756 miri: fix ICE when running out of address space
  compiler/rustc_const_eval/src/interpret/intrinsics/caller_location.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  src/tools/miri/src/intptrcast.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/panic.rs
Labels: T-compiler, S-waiting-on-bors

#107764 llvm-16: Use Triple.h from new header location.
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
Labels: T-compiler, S-waiting-on-bors, llvm-main

#107768 Rollup of 8 pull requests
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_const_eval/src/interpret/intrinsics/caller_location.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/query/mod.rs
  src/doc/rustc/book.toml
  src/doc/rustc/src/codegen-options/index.md
  src/tools/miri/src/intptrcast.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/panic.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#107719 Remove `arena_cache` modifier from `upstream_monomorphizations_for`
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors

#107688 ReErased regions are local
  compiler/rustc_type_ir/src/lib.rs
  tests/ui/mir/issue-107678-projection-with-lifetime.rs
  tests/ui/mir/issue-107691.rs
  tests/ui/recursion/issue-83150.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#107757 Allow automatically creating vscode `settings.json` with `x setup`
  src/bootstrap/setup.rs
  src/bootstrap/setup/tests.rs
  src/etc/vscode_settings.json
Labels: T-bootstrap, S-waiting-on-bors

#107769 Rename `PointerSized` to `PointerLike`
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/solve/assembly.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  library/core/src/marker.rs
  tests/ui/dyn-star/align.over_aligned.stderr
  tests/ui/dyn-star/align.rs
  tests/ui/dyn-star/check-size-at-cast-polymorphic-bad.rs
  tests/ui/dyn-star/check-size-at-cast-polymorphic-bad.stderr
  tests/ui/dyn-star/check-size-at-cast.rs
  tests/ui/dyn-star/check-size-at-cast.stderr
  tests/ui/dyn-star/upcast.stderr
  tests/ui/traits/new-solver/pointer-like.rs
  tests/ui/traits/new-solver/pointer-like.stderr
  tests/ui/traits/new-solver/pointer-sized.rs
  tests/ui/traits/new-solver/pointer-sized.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, WG-trait-system-refactor

#107770 rustdoc: use a newline instead of `<br>` to format code headers
  src/librustdoc/html/format.rs
  tests/rustdoc/async-fn.rs
  tests/rustdoc/const-generics/const-generics-docs.rs
  tests/rustdoc/decl-trailing-whitespace.declaration.html
  tests/rustdoc/generic-associated-types/gats.rs
  tests/rustdoc/inline_cross/impl_trait.rs
  tests/rustdoc/issue-34928.rs
  tests/rustdoc/reexports-priv.rs
  tests/rustdoc/where.SWhere_Simd_item-decl.html
  tests/rustdoc/where.SWhere_TraitWhere_item-decl.html
  tests/rustdoc/where.rs
  tests/rustdoc/whitespace-after-where-clause.enum.html
  tests/rustdoc/whitespace-after-where-clause.struct.html
  tests/rustdoc/whitespace-after-where-clause.trait.html
  tests/rustdoc/whitespace-after-where-clause.union.html
Labels: T-rustdoc, S-waiting-on-bors

#107771 Tweak ICE message
  compiler/rustc_driver_impl/src/lib.rs
  tests/ui/consts/const-eval/const-eval-query-stack.rs
  tests/ui/consts/const-eval/const-eval-query-stack.stderr
  tests/ui/fmt/respanned-literal-issue-106191.rs
  tests/ui/impl-trait/issues/issue-86800.stderr
  tests/ui/layout/valid_range_oob.stderr
  tests/ui/panics/default-backtrace-ice.stderr
  tests/ui/treat-err-as-bug/delay_span_bug.stderr
  tests/ui/treat-err-as-bug/err.stderr
Labels: T-compiler, S-waiting-on-bors

#107773 Clearly signal purpose of the yaml template
  .github/ISSUE_TEMPLATE/ice.yaml
Labels: S-waiting-on-bors

#107776 Docs: Fix format of headings in String::reserve
  library/alloc/src/string.rs
Labels: S-waiting-on-bors, T-libs

#107779 Remove astconv usage in diagnostic
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/typeck/issue-107775.rs
  tests/ui/typeck/issue-107775.stderr
Labels: T-compiler, S-waiting-on-bors

#107529 Optimize query_cache_hit to reduce code size of the query hot path.
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, perf-regression

#107609 Backport reverts to fix thin archive reading for 1 68 beta
  .github/workflows/ci.yml
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_codegen_ssa/src/back/archive.rs
  src/ci/github-actions/ci.yml
  src/tools/clippy/clippy_lints/src/format_args.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors

#107811 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/generic/ty.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_infer/src/infer/equate.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/sub.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_mir_dataflow/src/drop_flag_effects.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/infcx_ext.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  library/alloc/src/collections/btree/borrow.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/map/entry.rs
  library/alloc/src/collections/btree/map/tests.rs
  library/alloc/src/collections/btree/navigate.rs
  library/alloc/src/collections/btree/node.rs
  library/std/src/io/error.rs
  library/std/src/io/mod.rs
  src/librustdoc/json/mod.rs
  tests/ui/macros/stringify.rs
  tests/ui/rfc-2632-const-trait-impl/const_derives/derive-const-with-params.rs
  tests/ui/unpretty/ast-const-trait-bound.rs
  tests/ui/unpretty/ast-const-trait-bound.stdout
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-rustdoc-json, WG-trait-system-refactor

#107710 Update strip-ansi-escapes and vte
  Cargo.lock
Labels: S-waiting-on-bors

#107758 Change `arena_cache` to not alter the declared query result
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/query.rs
Labels: T-compiler, S-waiting-on-bors

#107777 Make `derive_const` derive properly const-if-const impls
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/generic/ty.rs
  compiler/rustc_expand/src/build.rs
  tests/ui/macros/stringify.rs
  tests/ui/rfc-2632-const-trait-impl/const_derives/derive-const-with-params.rs
  tests/ui/unpretty/ast-const-trait-bound.rs
  tests/ui/unpretty/ast-const-trait-bound.stdout
Labels: T-compiler, S-waiting-on-bors

#107780 Rename `replace_bound_vars_with_*` to `instantiate_binder_with_*`
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_infer/src/infer/equate.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/sub.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/infcx_ext.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#107793 Add missing tracking issue for `RawOsError`
  library/std/src/io/error.rs
  library/std/src/io/mod.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#107807 Fix small debug typo
  src/librustdoc/json/mod.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#107271 Treat Drop as a rmw operation
  compiler/rustc_mir_dataflow/src/drop_flag_effects.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
Labels: T-compiler, S-waiting-on-bors

#105641 Implement cursors for BTreeMap
  library/alloc/src/collections/btree/borrow.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/map/entry.rs
  library/alloc/src/collections/btree/map/tests.rs
  library/alloc/src/collections/btree/navigate.rs
  library/alloc/src/collections/btree/node.rs
Labels: T-libs-api, S-waiting-on-bors

#107717 Optimize `TyKind::eq`.
  compiler/rustc_type_ir/src/sty.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#107761 Replace a command line flag with an env var to allow tools to initialize the tracing loggers at their own discretion
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_log/src/lib.rs
  compiler/rustc_session/src/options.rs
  tests/rustdoc-ui/z-help.stdout
  tests/ui/attributes/log-backtrace.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#107790 x.py fails all downloads that use a tempdir with snap curl #107722
  src/bootstrap/bootstrap.py
Labels: T-bootstrap, S-waiting-on-bors

#107813 Do not eagerly recover for bad `impl Trait` types in macros
  compiler/rustc_parse/src/parser/ty.rs
  tests/ui/parser/bad-recover-kw-after-impl.rs
  tests/ui/parser/bad-recover-ty-after-impl.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#107819 Set `rust-analyzer.check.invocationLocation` to `root`
  src/bootstrap/setup.rs
  src/etc/vscode_settings.json
Labels: T-bootstrap, S-waiting-on-bors

#107828 Rollup of 9 pull requests
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_log/src/lib.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/solve/search_graph/mod.rs
  library/alloc/src/lib.rs
  library/core/src/error.rs
  library/core/src/ffi/c_str.rs
  library/core/src/slice/memchr.rs
  library/std/src/lib.rs
  library/std/src/os/fd/owned.rs
  library/std/src/os/fd/raw.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/setup.rs
  src/etc/vscode_settings.json
  src/librustdoc/html/static/images/wheel.svg
  src/tools/miri/tests/pass-dep/shims/pthreads.rs
  tests/rustdoc-ui/z-help.stdout
  tests/ui/attributes/log-backtrace.rs
  tests/ui/derives/deriving-with-repr-packed.rs
  tests/ui/derives/deriving-with-repr-packed.stderr
  tests/ui/parser/bad-recover-kw-after-impl.rs
  tests/ui/parser/bad-recover-ty-after-impl.rs
  tests/ui/traits/new-solver/provisional-result-done.rs
  tests/ui/traits/new-solver/provisional-result-done.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#107713 Extend `BYTE_SLICE_IN_PACKED_STRUCT_WITH_DERIVE`.
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/derives/deriving-with-repr-packed.rs
  tests/ui/derives/deriving-with-repr-packed.stderr
Labels: T-compiler, S-waiting-on-bors

#107429 Stabilize feature `cstr_from_bytes_until_nul`
  library/alloc/src/lib.rs
  library/core/src/error.rs
  library/core/src/ffi/c_str.rs
  library/core/src/slice/memchr.rs
  library/std/src/lib.rs
  src/tools/miri/tests/pass-dep/shims/pthreads.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#107317 Implement `AsFd` and `AsRawFd` for `Rc`
  library/std/src/os/fd/owned.rs
  library/std/src/os/fd/raw.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#106938 Add missing normalization for union fields types
  compiler/rustc_hir_analysis/src/check/check.rs
  tests/ui/union/projection-as-union-type-error-2.rs
  tests/ui/union/projection-as-union-type-error-2.stderr
  tests/ui/union/projection-as-union-type-error.rs
  tests/ui/union/projection-as-union-type-error.stderr
  tests/ui/union/projection-as-union-type.rs
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, T-types

#107808 bootstrap.py: fix build-failure message
  src/bootstrap/bootstrap.py
Labels: T-bootstrap, S-waiting-on-bors

#107834 create symlink for legacy rustfmt path
  src/bootstrap/download.rs
  src/bootstrap/lib.rs
  src/bootstrap/native.rs
Labels: T-bootstrap, S-waiting-on-author

#107835 use idiomatic formatting
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
Labels: T-compiler, S-waiting-on-bors

#107840 Rollup of 5 pull requests
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unescape_error_reporting.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/download.rs
  src/bootstrap/lib.rs
  src/bootstrap/native.rs
  tests/ui/parser/raw/too-many-hash.rs
  tests/ui/parser/raw/too-many-hash.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-translation

#107446 Migrate some of `rustc_parse` to derive diagnostics
  compiler/rustc_error_messages/locales/en-US/parse.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unescape_error_reporting.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/parser/raw/too-many-hash.rs
  tests/ui/parser/raw/too-many-hash.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#107843 Sync rustc_codegen_cranelift
  compiler/rustc_codegen_cranelift/.github/workflows/main.yml
  compiler/rustc_codegen_cranelift/build_sysroot/Cargo.lock
  compiler/rustc_codegen_cranelift/build_system/abi_cafe.rs
  compiler/rustc_codegen_cranelift/build_system/bench.rs
  compiler/rustc_codegen_cranelift/build_system/build_backend.rs
  compiler/rustc_codegen_cranelift/build_system/build_sysroot.rs
  compiler/rustc_codegen_cranelift/build_system/mod.rs
  compiler/rustc_codegen_cranelift/build_system/prepare.rs
  compiler/rustc_codegen_cranelift/build_system/tests.rs
  compiler/rustc_codegen_cranelift/build_system/utils.rs
  compiler/rustc_codegen_cranelift/config.txt
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_codegen_cranelift/src/abi/comments.rs
  compiler/rustc_codegen_cranelift/src/allocator.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_cranelift/src/compiler_builtins.rs
  compiler/rustc_codegen_cranelift/src/config.rs
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_cranelift/src/driver/jit.rs
  compiler/rustc_codegen_cranelift/src/driver/mod.rs
  compiler/rustc_codegen_cranelift/src/global_asm.rs
  compiler/rustc_codegen_cranelift/src/inline_asm.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_cranelift/src/value_and_place.rs
Labels: A-codegen, T-compiler, S-waiting-on-bors, merged-by-bors, A-cranelift

#107786 Implement some tweaks in the new solver
  compiler/rustc_trait_selection/src/solve/assembly.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  tests/ui/traits/new-solver/elaborate-item-bounds.rs
  tests/ui/traits/new-solver/provisional-result-done.rs
  tests/ui/traits/new-solver/provisional-result-done.stderr
  tests/ui/traits/new-solver/temporary-ambiguity.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#107803 Do not bring trait alias supertraits into scope
  compiler/rustc_hir_typeck/src/method/probe.rs
  tests/ui/traits/alias/issue-107747-do-not-assemble-supertraits.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system
