Repository rust-lang/rust, pull requests merged in 2023-04, with the labels that each got.

#109165 allow ReError in CanonicalUserTypeAnnotation
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  tests/ui/nll/user-annotations/region-error-ice-109072.rs
  tests/ui/nll/user-annotations/region-error-ice-109072.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109721 Switch to LLD as default linker for {arm,thumb}v4t-none-eabi
  compiler/rustc_target/src/spec/armv4t_none_eabi.rs
  compiler/rustc_target/src/spec/thumbv4t_none_eabi.rs
  src/doc/rustc/src/platform-support/armv4t-none-eabi.md
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109801 add test for normalization in implied bounds query
  tests/ui/implied-bounds/normalization-nested.lifetime.stderr
  tests/ui/implied-bounds/normalization-nested.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109483 Optimize `LazyCell` size
  library/core/src/cell/lazy.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#109833 bootstrap: replace `atty` with `is-terminal`, dedupe deps
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/config.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#109834 Add Nilstrieb to mailmap
  .mailmap
Labels: S-waiting-on-bors, merged-by-bors, A-meta

#109836 Fix `non_exhaustive_omitted_patterns` on arguments and locals
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
  tests/ui/rfc-2008-non-exhaustive/omitted-patterns.rs
  tests/ui/rfc-2008-non-exhaustive/omitted-patterns.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109701 Stabilize `binary_heap_retain`
  library/alloc/src/collections/binary_heap/mod.rs
  library/alloc/tests/lib.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#109852 Rollup of 4 pull requests
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/middle/mod.rs
  compiler/rustc_middle/src/ty/consts/valtree.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/partitioning/default.rs
  compiler/rustc_passes/src/entry.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/outlives_bounds.rs
  compiler/rustc_traits/src/chalk/lowering.rs
  library/core/src/iter/traits/iterator.rs
  library/std/src/os/fd/owned.rs
  src/librustdoc/config.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/render/sidebar.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#109839 Improve grammar of Iterator.partition_in_place
  library/core/src/iter/traits/iterator.rs
Labels: S-waiting-on-bors, T-libs

#109840 Fix typo in std/src/os/fd/owned.rs
  library/std/src/os/fd/owned.rs
Labels: S-waiting-on-bors, T-libs

#109844 a couple clippy::complexity fixes
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/librustdoc/config.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/render/sidebar.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#109846 more clippy::complexity fixes (iter_kv_map, map_flatten, nonminimal_bool)
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/middle/mod.rs
  compiler/rustc_middle/src/ty/consts/valtree.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_monomorphize/src/partitioning/default.rs
  compiler/rustc_passes/src/entry.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/traits/outlives_bounds.rs
  compiler/rustc_traits/src/chalk/lowering.rs
Labels: T-compiler, S-waiting-on-bors

#109008 Drop array patterns using subslices
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  tests/ui/mir/issue-109004-drop-large-array.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#109811 Replace any existing `build/host` symlink
  src/bootstrap/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#109741 [beta] backport
  .github/workflows/ci.yml
  compiler/rustc_codegen_ssa/src/back/link.rs
  src/bootstrap/lib.rs
  src/ci/github-actions/ci.yml
  src/stage0.json
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#109849 Use `FieldIdx` in various things related to aggregates
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_index/src/vec.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_mir_transform/src/generator.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#108288 fix `build --stage 2 compiler/rustc` panic
  src/bootstrap/compile.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#109856 fix(middle): emit error rather than delay bug when reaching limit
  compiler/rustc_middle/messages.ftl
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/ty/util.rs
  tests/ui/autoref-autoderef/issue-38940.rs
  tests/ui/autoref-autoderef/issue-38940.stderr
  tests/ui/did_you_mean/recursion_limit_deref.stderr
Labels: T-compiler, S-waiting-on-bors

#109868 Improve PR job names in Github Actions preview
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#109871 Include invocation start times
  src/bootstrap/metrics.rs
Labels: T-bootstrap, S-waiting-on-bors

#109873 Move some UI tests into subdirectories
  src/tools/tidy/src/ui_tests.rs
  tests/ui/generics/slightly-nice-generic-literal-messages.rs
  tests/ui/generics/slightly-nice-generic-literal-messages.stderr
  tests/ui/lexer/unterminated-comment.rs
  tests/ui/lexer/unterminated-comment.stderr
  tests/ui/lexer/unterminated-nested-comment.rs
  tests/ui/lexer/unterminated-nested-comment.stderr
  tests/ui/privacy/auxiliary/xc-private-method-lib.rs
  tests/ui/privacy/xc-private-method.rs
  tests/ui/privacy/xc-private-method.stderr
  tests/ui/privacy/xc-private-method2.rs
  tests/ui/privacy/xc-private-method2.stderr
  tests/ui/reachable/reachable-unnameable-type-alias.rs
  tests/ui/resolve/disambiguate-identical-names.rs
  tests/ui/resolve/disambiguate-identical-names.stderr
  tests/ui/thread-local/thread-local-mutation.rs
  tests/ui/thread-local/thread-local-mutation.stderr
  tests/ui/thread-local/thread-local-static.rs
  tests/ui/thread-local/thread-local-static.stderr
  tests/ui/traits/wrong-mul-method-signature.rs
  tests/ui/traits/wrong-mul-method-signature.stderr
  tests/ui/tuple/tuple-index.rs
  tests/ui/typeck/output-type-mismatch.rs
  tests/ui/typeck/output-type-mismatch.stderr
  tests/ui/typeck/suppressed-error.rs
  tests/ui/typeck/suppressed-error.stderr
  tests/ui/typeck/tag-that-dare-not-speak-its-name.rs
  tests/ui/typeck/tag-that-dare-not-speak-its-name.stderr
  tests/ui/typeck/terr-in-field.rs
  tests/ui/typeck/terr-in-field.stderr
  tests/ui/typeck/terr-sorts.rs
  tests/ui/typeck/terr-sorts.stderr
  tests/ui/typeck/while-type-error.rs
  tests/ui/typeck/while-type-error.stderr
  tests/ui/typeck/wrong-ret-type.rs
  tests/ui/typeck/wrong-ret-type.stderr
  tests/ui/ufcs/ufcs-polymorphic-paths.rs
  tests/ui/unique/expr-block-generic-unique1.rs
  tests/ui/unique/expr-block-generic-unique2.rs
  tests/ui/unique/expr-if-unique.rs
  tests/ui/unique/unique-object-noncopyable.rs
  tests/ui/unique/unique-object-noncopyable.stderr
  tests/ui/unique/unique-pinned-nocopy.rs
  tests/ui/unique/unique-pinned-nocopy.stderr
  tests/ui/unique/unwind-unique.rs
  tests/ui/unpretty/mir-unpretty.rs
  tests/ui/unpretty/mir-unpretty.stderr
  tests/ui/unpretty/unpretty-expr-fn-arg.rs
  tests/ui/unpretty/unpretty-expr-fn-arg.stdout
  tests/ui/unsafe/foreign-unsafe-fn-called.mir.stderr
  tests/ui/unsafe/foreign-unsafe-fn-called.rs
  tests/ui/unsafe/foreign-unsafe-fn-called.thir.stderr
  tests/ui/unsafe/new-unsafe-pointers.rs
  tests/ui/unsafe/unsafe-fn-called-from-unsafe-blk.rs
  tests/ui/unsafe/unsafe-fn-called-from-unsafe-fn.rs
  tests/ui/unsafe/unsafe-pointer-assignability.rs
  tests/ui/variance/variance-intersection-of-ref-and-opt-ref.rs
  tests/ui/variance/variance-iterators-in-libcore.rs
  tests/ui/wasm/wasm-custom-section-relocations.rs
  tests/ui/wasm/wasm-custom-section-relocations.stderr
Labels: C-cleanup, A-testsuite, T-compiler, S-waiting-on-bors

#109642 check for missing codegen backeng config
  src/bootstrap/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#109722 Implement read_buf for RustHermit
  library/std/src/sys/hermit/net.rs
Labels: S-waiting-on-bors, T-libs

#109526 LIBPATH is used as dylib's path environment variable on AIX
  src/bootstrap/bootstrap.py
  src/bootstrap/dylib_util.rs
  src/tools/compiletest/src/util.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#108448 binary_heap: Optimize Extend implementation.
  library/alloc/src/collections/binary_heap/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#109819 Use `&IndexSlice` instead of `&IndexVec` where possible
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/constraints/mod.rs
  compiler/rustc_borrowck/src/consumers.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/var_name.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/member_constraints.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/renumber.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/mod.rs
  compiler/rustc_codegen_ssa/src/coverageinfo/map.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_data_structures/src/graph/dominators/mod.rs
  compiler/rustc_data_structures/src/graph/iterate/mod.rs
  compiler/rustc_data_structures/src/graph/scc/mod.rs
  compiler/rustc_index/src/vec.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_middle/src/mir/basic_blocks.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/mir/traversal.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_mir_build/src/build/custom/mod.rs
  compiler/rustc_mir_build/src/build/custom/parse.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_dataflow/src/move_paths/mod.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/check_alignment.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_mir_transform/src/lower_slice_len.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_mir_transform/src/ssa.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109771 Increase libffi version to 3.2 to support s390x
  Cargo.lock
  src/tools/miri/Cargo.toml
Labels: S-waiting-on-bors, merged-by-bors

#109883 Add links to <cell.rs>
  library/core/src/cell.rs
Labels: S-waiting-on-bors, T-libs

#109896 Never consider int and float vars for `FnPtr` candidates
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/fn/fn-ptr-trait-int-float-infer-var.rs
Labels: T-compiler, S-waiting-on-bors

#109902 Add async-await test for #107414
  tests/ui/async-await/missed-capture-issue-107414.rs
Labels: T-compiler, S-waiting-on-bors

#109783 Update contributing links for rustc-dev-guide changes
  CONTRIBUTING.md
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#109876 rustdoc: make intra-doc link pass non-quadratic for repeated links
  src/librustdoc/clean/types.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#109888 Remove optimal xz settings from CI
  src/ci/run.sh
  src/tools/rust-installer/src/compression.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#109599 diagnostics: account for glob shadowing when linting redundant imports
  compiler/rustc_resolve/src/ident.rs
  tests/ui/lint/use-redundant/issue-92904.rs
  tests/ui/lint/use-redundant/use-redundant-glob-parent.rs
  tests/ui/lint/use-redundant/use-redundant-glob-parent.stderr
  tests/ui/lint/use-redundant/use-redundant-glob.rs
  tests/ui/lint/use-redundant/use-redundant-glob.stderr
  tests/ui/lint/use-redundant/use-redundant-multiple-namespaces.rs
  tests/ui/lint/use-redundant/use-redundant-not-parent.rs
  tests/ui/lint/use-redundant/use-redundant.rs
  tests/ui/lint/use-redundant/use-redundant.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109891 llvm 16 finally reconizes some additional vec in-place conversions as noops
  tests/codegen/vec-in-place.rs
Labels: S-waiting-on-bors, merged-by-bors

#109941 Rollup of 9 pull requests
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_borrowck/src/type_check/liveness/local_use_map.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_index/src/vec.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/normalize_erasing_regions.rs
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_ty_utils/src/layout.rs
  src/librustdoc/html/format.rs
  src/librustdoc/visit_ast.rs
  src/tools/clippy/clippy_lints/src/redundant_static_lifetimes.rs
  src/tools/clippy/clippy_utils/src/ast_utils.rs
  src/tools/rustfmt/src/items.rs
  tests/rustdoc/async-fn-opaque-item.rs
  tests/rustdoc/generic-associated-types/issue-109488.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.stderr
  tests/ui/associated-type-bounds/return-type-notation/unpretty-parenthesized.rs
  tests/ui/associated-type-bounds/return-type-notation/unpretty-parenthesized.stderr
  tests/ui/associated-type-bounds/return-type-notation/unpretty-parenthesized.stdout
  tests/ui/lifetimes/issue-93911.rs
  tests/ui/mir/issue-109743.rs
  tests/ui/rfc-2008-non-exhaustive/omitted-patterns.rs
  tests/ui/rfc-2008-non-exhaustive/omitted-patterns.stderr
  tests/ui/stats/hir-stats.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#109838 Fix `non_exhaustive_omitted_patterns` lint span
  compiler/rustc_mir_build/src/thir/pattern/deconstruct_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/usefulness.rs
  tests/ui/rfc-2008-non-exhaustive/omitted-patterns.rs
  tests/ui/rfc-2008-non-exhaustive/omitted-patterns.stderr
Labels: T-compiler, S-waiting-on-bors

#109901 Enforce VarDebugInfo::Place in MIR validation.
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_middle/src/mir/mod.rs
Labels: T-compiler, S-waiting-on-bors

#109913 Doc-comment `IndexVec::from_elem` and use it in a few more places
  compiler/rustc_borrowck/src/type_check/liveness/local_use_map.rs
  compiler/rustc_index/src/vec.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_ty_utils/src/layout.rs
Labels: T-compiler, S-waiting-on-bors

#109914 Emit feature error for parenthesized generics in associated type bounds
  compiler/rustc_ast_passes/src/feature_gate.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.stderr
  tests/ui/associated-type-bounds/return-type-notation/unpretty-parenthesized.rs
  tests/ui/associated-type-bounds/return-type-notation/unpretty-parenthesized.stderr
  tests/ui/associated-type-bounds/return-type-notation/unpretty-parenthesized.stdout
Labels: T-compiler, S-waiting-on-bors

#109919 rustdoc: escape GAT args in more cases
  src/librustdoc/html/format.rs
  tests/rustdoc/generic-associated-types/issue-109488.rs
Labels: T-rustdoc, S-waiting-on-bors

#109937 Don't collect return-position impl traits for documentation
  src/librustdoc/visit_ast.rs
  tests/rustdoc/async-fn-opaque-item.rs
Labels: T-rustdoc, beta-nominated, S-waiting-on-bors

#109938 Move a const-prop-lint specific hack from mir interpret to const-prop-lint and make it fallible
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_middle/src/ty/normalize_erasing_regions.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  tests/ui/mir/issue-109743.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#109940 Add regression test for #93911
  tests/ui/lifetimes/issue-93911.rs
Labels: T-compiler, S-waiting-on-bors

#109723 Pull some tuple variant fields out into their own struct
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/late.rs
  src/tools/clippy/clippy_lints/src/redundant_static_lifetimes.rs
  src/tools/clippy/clippy_utils/src/ast_utils.rs
  src/tools/rustfmt/src/items.rs
  tests/ui/stats/hir-stats.stderr
Labels: T-compiler, S-waiting-on-bors

#109808 Extend -Cdebuginfo with new options and named aliases
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  src/doc/rustc/src/codegen-options/index.md
  tests/codegen/debug-limited.rs
  tests/codegen/debug-line-directives-only.rs
  tests/codegen/debug-line-tables-only.rs
  tests/rustdoc-ui/c-help.stdout
Labels: A-testsuite, A-debuginfo, T-compiler, S-waiting-on-bors, T-infra, finished-final-comment-period, merged-by-bors

#109944 Do not suppress temporary_cstring_as_ptr in macros.
  compiler/rustc_lint/src/methods.rs
  tests/ui/lint/lint-temporary-cstring-as-ptr.rs
  tests/ui/lint/lint-temporary-cstring-as-ptr.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#94786 Document NonZeroXxx layout guarantees
  library/core/src/num/nonzero.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#109843 Allow `transmute`s to produce `OperandValue`s instead of needing `alloca`s
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/traits/type_.rs
  tests/codegen/intrinsics/transmute.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-transmute-array.rs
  tests/codegen/transmute-scalar.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109954 Disable path trimming during graphviz output
  compiler/rustc_mir_dataflow/src/framework/engine.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109945 Remove the use of `-use-gnu-stack` when BOLTing LLVM
  src/bootstrap/bolt.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#109117 Avoid a few locks
  Cargo.lock
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_data_structures/src/sync/vec.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_passes/src/entry.rs
  compiler/rustc_query_system/src/cache.rs
  compiler/rustc_session/src/cstore.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#109956 Tweak debug outputs to make debugging new solver easier
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_trait_selection/src/solve/assembly.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph/mod.rs
  tests/mir-opt/address_of.address_of_reborrow.SimplifyCfg-initial.after.mir
  tests/mir-opt/basic_assignment.main.SimplifyCfg-initial.after.mir
  tests/mir-opt/building/issue_101867.main.built.after.mir
  tests/mir-opt/building/receiver_ptr_mutability.main.built.after.mir
  tests/mir-opt/issue_72181_1.main.built.after.mir
  tests/mir-opt/issue_99325.main.built.after.mir
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#109966 Rollup of 6 pull requests
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_trait_selection/src/solve/assembly.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph/mod.rs
  src/bootstrap/builder.rs
  src/ci/docker/host-x86_64/mingw-check-tidy/Dockerfile
  src/librustdoc/html/static/css/rustdoc.css
  tests/mir-opt/address_of.address_of_reborrow.SimplifyCfg-initial.after.mir
  tests/mir-opt/basic_assignment.main.SimplifyCfg-initial.after.mir
  tests/mir-opt/building/issue_101867.main.built.after.mir
  tests/mir-opt/building/receiver_ptr_mutability.main.built.after.mir
  tests/mir-opt/issue_72181_1.main.built.after.mir
  tests/mir-opt/issue_99325.main.built.after.mir
  tests/rustdoc-gui/source-code-page-code-scroll.goml
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-meta, WG-trait-system-refactor

#109847 Only create graphviz nodes for reachable MIR bb's
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
Labels: T-compiler, S-waiting-on-bors

#109848 submodule detection for proper fix on #96188
  src/bootstrap/builder.rs
Labels: T-bootstrap, S-waiting-on-bors

#109932 Source code scrollbar
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/source-code-page-code-scroll.goml
Labels: T-rustdoc, S-waiting-on-bors

#109952 Move comment about python2 closer to the place it's used
  src/ci/docker/host-x86_64/mingw-check-tidy/Dockerfile
Labels: A-testsuite, S-waiting-on-bors, T-infra

#107236 Add T-bootstrap label to tools
  triagebot.toml
Labels: T-bootstrap, S-waiting-on-bors, A-meta

#107925 Use SipHash-1-3 instead of SipHash-2-4 for StableHasher
  compiler/rustc_data_structures/src/sip128.rs
  compiler/rustc_data_structures/src/sip128/tests.rs
  compiler/rustc_data_structures/src/stable_hasher/tests.rs
  tests/assembly/asm/global_asm.rs
  tests/codegen/consts.rs
  tests/codegen/remap_path_prefix/main.rs
  tests/codegen/virtual-function-elimination.rs
  tests/debuginfo/function-names.rs
  tests/mir-opt/inline/inline_closure.foo.Inline.after.mir
  tests/mir-opt/inline/inline_closure_borrows_arg.foo.Inline.after.mir
  tests/mir-opt/inline/inline_closure_captures.foo.Inline.after.mir
  tests/mir-opt/inline/inline_cycle_generic.main.Inline.diff
  tests/mir-opt/inline/inline_generator.main.Inline.diff
  tests/mir-opt/inline/issue_76997_inline_scopes_parenting.main.Inline.after.mir
  tests/mir-opt/issue_99325.main.built.after.mir
  tests/mir-opt/retag.main.SimplifyCfg-elaborate-drops.after.mir
  tests/rustdoc-ui/intra-doc/issue-108653-associated-items.stderr
  tests/rustdoc/issue-25001.rs
  tests/ui/consts/miri_unleashed/tls.stderr
  tests/ui/generator/print/generator-print-verbose-1.drop_tracking.stderr
  tests/ui/generator/print/generator-print-verbose-1.drop_tracking_mir.stderr
  tests/ui/generator/print/generator-print-verbose-1.no_drop_tracking.stderr
  tests/ui/nll/ty-outlives/impl-trait-captures.stderr
  tests/ui/symbol-names/basic.legacy.stderr
  tests/ui/symbol-names/basic.v0.stderr
  tests/ui/symbol-names/foreign-types.stderr
  tests/ui/symbol-names/impl1.v0.stderr
  tests/ui/symbol-names/issue-60925.legacy.stderr
  tests/ui/symbol-names/issue-60925.v0.stderr
  tests/ui/symbol-names/issue-75326.v0.stderr
  tests/ui/symbol-names/trait-objects.v0.stderr
  tests/ui/thir-print/thir-flat.stdout
  tests/ui/thir-print/thir-tree-match.stdout
  tests/ui/thir-print/thir-tree.stdout
  tests/ui/where-clauses/higher-ranked-fn-type.verbose.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression-triaged

#109437 resolve: Restore some effective visibility optimizations
  compiler/rustc_resolve/src/effective_visibilities.rs
  tests/ui/privacy/effective_visibilities.rs
  tests/ui/privacy/effective_visibilities.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109968 Add regression test for #80409
  tests/ui/inference/issue-80409.rs
Labels: T-compiler, S-waiting-on-bors

#109969 Add regression test for #86351
  tests/ui/const_prop/issue-86351.rs
Labels: T-compiler, S-waiting-on-bors

#109973 rustdoc: Improve logo display very small screen
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/huge-logo.goml
  tests/rustdoc-gui/source-code-page.goml
Labels: T-rustdoc, S-waiting-on-bors

#109986 Rollup of 7 pull requests
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_log/src/lib.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_target/src/spec/aarch64_unknown_linux_ohos.rs
  compiler/rustc_target/src/spec/armv7_unknown_linux_ohos.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/lib.rs
  tests/rustdoc-gui/huge-logo.goml
  tests/rustdoc-gui/source-code-page.goml
  tests/ui/const_prop/issue-86351.rs
  tests/ui/dyn-star/const-and-static.rs
  tests/ui/dyn-star/const-and-static.stderr
  tests/ui/inference/issue-80409.rs
  tests/ui/resolve/tool-import.rs
  tests/ui/resolve/tool-import.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#109909 Deny `use`ing tool paths
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/ident.rs
  tests/ui/resolve/tool-import.rs
  tests/ui/resolve/tool-import.stderr
Labels: T-compiler, S-waiting-on-bors

#109921 Don't ICE when encountering `dyn*` in statics or consts
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  tests/ui/dyn-star/const-and-static.rs
  tests/ui/dyn-star/const-and-static.stderr
Labels: T-compiler, S-waiting-on-bors

#109922 Disable `has_thread_local` on OpenHarmony
  compiler/rustc_target/src/spec/aarch64_unknown_linux_ohos.rs
  compiler/rustc_target/src/spec/armv7_unknown_linux_ohos.rs
Labels: T-compiler, S-waiting-on-bors

#109926 write threads info into log only when debugging
  compiler/rustc_log/src/lib.rs
  src/librustdoc/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#109792 Only visit reachable blocks in ConstProp lint.
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  tests/ui/const_prop/unreachable-bounds.rs
  tests/ui/const_prop/unreachable-overflow.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109874 Reduce the default max number of files in a UI test directory
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, S-waiting-on-bors, merged-by-bors

#109915 Use `FieldIdx` in `FieldsShape`
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_index/src/vec.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109333 Erase query cache values
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/query/caches.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, perf-regression, perf-regression-triaged

#109977 rustdoc: avoid including line numbers in Google SERP snippets
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/templates/source.html
Labels: T-rustdoc, S-waiting-on-bors

#109980 Derive String's PartialEq implementation
  library/alloc/src/string.rs
Labels: S-waiting-on-bors, T-libs

#109984 Remove f32 & f64 from MemDecoder/MemEncoder
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_serialize/src/serialize.rs
  compiler/rustc_serialize/tests/opaque.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#110004 add `dont_check_failure_status` option in the compiler test
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  tests/ui/recursion/issue-95134.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#110012 Rollup of 7 pull requests
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_serialize/src/serialize.rs
  compiler/rustc_serialize/tests/opaque.rs
  compiler/rustc_span/src/edit_distance.rs
  compiler/rustc_trait_selection/src/solve/trait_goals/structural_traits.rs
  library/alloc/src/string.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/templates/source.html
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  tests/ui/argument-suggestions/issue-109425.fixed
  tests/ui/argument-suggestions/issue-109425.rs
  tests/ui/argument-suggestions/issue-109425.stderr
  tests/ui/recursion/issue-95134.rs
  tests/ui/suggestions/issue-109291.rs
  tests/ui/suggestions/issue-109291.stderr
  tests/ui/suggestions/issue-109396.stderr
  tests/ui/traits/new-solver/auto-with-drop_tracking_mir.fail.stderr
  tests/ui/traits/new-solver/auto-with-drop_tracking_mir.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-query-system, WG-trait-system-refactor

#109782 Don't leave a comma at the start of argument list when removing arguments
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/argument-suggestions/issue-109425.fixed
  tests/ui/argument-suggestions/issue-109425.rs
  tests/ui/argument-suggestions/issue-109425.stderr
  tests/ui/suggestions/issue-109396.stderr
Labels: T-compiler, S-waiting-on-bors

#109755 Implement support for `GeneratorWitnessMIR` in new solver
  compiler/rustc_trait_selection/src/solve/trait_goals/structural_traits.rs
  tests/ui/traits/new-solver/auto-with-drop_tracking_mir.fail.stderr
  tests/ui/traits/new-solver/auto-with-drop_tracking_mir.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#109395 Fix issue when there are multiple candidates for edit_distance_with_substrings
  compiler/rustc_span/src/edit_distance.rs
  tests/ui/suggestions/issue-109291.rs
  tests/ui/suggestions/issue-109291.stderr
Labels: T-compiler, S-waiting-on-bors

#109162 extend `detect_src_and_out` test
  src/bootstrap/config/tests.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#110016 Run collapsed GUI test in mobile mode as well
  tests/rustdoc-gui/go-to-collapsed-elem.goml
Labels: T-rustdoc, S-waiting-on-bors

#110022 Avoid unwrap in Parser::is_lit_bad_ident
  compiler/rustc_parse/src/parser/diagnostics.rs
  tests/ui/parser/issues/issue-110014.rs
  tests/ui/parser/issues/issue-110014.stderr
Labels: T-compiler, S-waiting-on-bors

#110024 Rollup of 6 pull requests
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_resolve/src/diagnostics.rs
  library/std/src/sys/common/thread_local/os_local.rs
  library/std/src/sys/windows/fs.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/util.rs
  tests/rustdoc-gui/go-to-collapsed-elem.goml
  tests/ui/inference/need_type_info/concrete-impl.rs
  tests/ui/inference/need_type_info/concrete-impl.stderr
  tests/ui/inference/need_type_info/issue-109905.rs
  tests/ui/inference/need_type_info/issue-109905.stderr
  tests/ui/parser/issues/issue-110014.rs
  tests/ui/parser/issues/issue-110014.stderr
  tests/ui/rfc-2008-non-exhaustive/struct.stderr
  tests/ui/rfc-2008-non-exhaustive/variant.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#109957 diagnostics: account for self type when looking for source of unsolved type variable
  compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs
  tests/ui/inference/need_type_info/concrete-impl.rs
  tests/ui/inference/need_type_info/concrete-impl.stderr
  tests/ui/inference/need_type_info/issue-109905.rs
  tests/ui/inference/need_type_info/issue-109905.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#109960 Fix buffer overrun in bootstrap and (test-only) symlink_junction
  library/std/src/sys/windows/fs.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/util.rs
Labels: T-bootstrap, S-waiting-on-bors, T-libs

#110013 Label `non_exhaustive` attribute on privacy errors from non-local items
  compiler/rustc_resolve/src/diagnostics.rs
  tests/ui/rfc-2008-non-exhaustive/struct.stderr
  tests/ui/rfc-2008-non-exhaustive/variant.stderr
Labels: T-compiler, S-waiting-on-bors

#109806 Workaround #109797 on windows-gnu
  library/std/src/sys/common/thread_local/os_local.rs
Labels: S-waiting-on-bors, T-libs

#109663 migrate rustc_macros to syn 2.0
  Cargo.lock
  compiler/rustc_macros/Cargo.toml
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/error.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_macros/src/hash_stable.rs
  compiler/rustc_macros/src/newtype.rs
  compiler/rustc_macros/src/query.rs
  compiler/rustc_macros/src/type_foldable.rs
  compiler/rustc_macros/src/type_visitable.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
  tests/ui-fulldeps/session-diagnostic/subdiagnostic-derive.rs
  tests/ui-fulldeps/session-diagnostic/subdiagnostic-derive.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, A-translation

#109990 Remove an unnecessary `mut` in `BufWriter::into_parts`.
  library/std/src/io/buffered/bufwriter.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#110019 Stabilize is_some_and
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_hir_analysis/src/lib.rs
  library/core/src/option.rs
  library/core/src/result.rs
  library/std/src/lib.rs
  src/tools/miri/src/lib.rs
Labels: T-libs-api, T-compiler, S-waiting-on-bors, merged-by-bors

#110036 Remove u32 on BrAnon and BoundTyKind::Anon in favor of BoundVar on Placeholder types
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_typeck/src/generator_interior/mod.rs
  compiler/rustc_infer/src/errors/note_and_explain.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/placeholder_relation.rs
  compiler/rustc_infer/src/infer/higher_ranked/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/leak_check.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/solve/canonicalize.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/trait_goals/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_traits/src/chalk/db.rs
  compiler/rustc_traits/src/chalk/lowering.rs
  tests/ui/impl-trait/impl-fn-hrtb-bounds-2.stderr
  tests/ui/nll/closure-requirements/escape-argument-callee.stderr
  tests/ui/nll/closure-requirements/escape-argument.stderr
  tests/ui/nll/closure-requirements/propagate-approximated-fail-no-postdom.stderr
  tests/ui/nll/closure-requirements/propagate-approximated-ref.stderr
  tests/ui/nll/closure-requirements/propagate-approximated-shorter-to-static-comparing-against-free.stderr
  tests/ui/nll/closure-requirements/propagate-approximated-shorter-to-static-no-bound.stderr
  tests/ui/nll/closure-requirements/propagate-approximated-shorter-to-static-wrong-bound.stderr
  tests/ui/nll/closure-requirements/propagate-approximated-val.stderr
  tests/ui/nll/closure-requirements/propagate-despite-same-free-region.stderr
  tests/ui/nll/closure-requirements/propagate-fail-to-approximate-longer-no-bounds.stderr
  tests/ui/nll/closure-requirements/propagate-fail-to-approximate-longer-wrong-bounds.stderr
  tests/ui/nll/closure-requirements/return-wrong-bound-region.stderr
  tests/ui/nll/ty-outlives/ty-param-closure-approximate-lower-bound.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#109983 Inline try_from and try_into
  library/core/src/convert/mod.rs
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.PreCodegen.after.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.Inline.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.PreCodegen.after.mir
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#109788 More descriptive error when qself path doesnt have a trait on the RHS of `as`
  compiler/rustc_resolve/src/late.rs
  tests/ui/parser/dyn-trait-compatibility.rs
  tests/ui/parser/dyn-trait-compatibility.stderr
  tests/ui/rust-2018/edition-lint-fully-qualified-paths.fixed
  tests/ui/rust-2018/edition-lint-fully-qualified-paths.rs
  tests/ui/rust-2018/edition-lint-fully-qualified-paths.stderr
  tests/ui/traits/associated_type_bound/assoc_type_bound_with_struct.rs
  tests/ui/traits/associated_type_bound/assoc_type_bound_with_struct.stderr
  tests/ui/ufcs/ufcs-partially-resolved.rs
  tests/ui/ufcs/ufcs-partially-resolved.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109448 Download beta compiler toolchain in bootstrap if it doesn't yet exist
  src/bootstrap/config.rs
  src/bootstrap/download.rs
  src/bootstrap/test.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#109971 Yeet `owning_ref`
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/memmap.rs
  compiler/rustc_data_structures/src/owned_slice.rs
  compiler/rustc_data_structures/src/owned_slice/tests.rs
  compiler/rustc_data_structures/src/owning_ref/LICENSE
  compiler/rustc_data_structures/src/owning_ref/mod.rs
  compiler/rustc_data_structures/src/owning_ref/tests.rs
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_metadata/src/lib.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#110043 Fix help message for `infer_source_kind_subdiag_let`
  compiler/rustc_infer/messages.ftl
  tests/ui/const-generics/defaults/doesnt_infer.stderr
  tests/ui/inference/issue-83606.stderr
  tests/ui/issues/issue-98299.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109995 chore(tcp): change a hardcoded port number in a doctest to `port` var
  library/std/src/net/tcp.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#110065 Fix wrong type in docs: i16 -> u16
  library/core/src/num/shells/u16.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#110068 Temporarily remove myself from reviewers list
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#110075 Fix a typo in `config.example.toml`
  config.example.toml
Labels: T-bootstrap, S-waiting-on-bors

#110076 Rollup of 5 pull requests
  config.example.toml
  library/core/src/num/shells/u16.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/storage.js
  tests/rustdoc-gui/theme-defaults.goml
  triagebot.toml
Labels: T-rustdoc, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#110030 rustdoc: clean up JS
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/storage.js
Labels: T-rustdoc, S-waiting-on-bors

#110037 rustdoc: add test and bug fix for theme defaults
  src/librustdoc/html/static/js/storage.js
  tests/rustdoc-gui/theme-defaults.goml
Labels: T-rustdoc, S-waiting-on-bors

#110069 Switched provisional evaluation cache map to FxIndexMap, and replaced map.drain_filter with map.retain
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109767 Remove mention of `missing_doc_code_examples` lint from rustdoc book
  src/doc/rustdoc/src/unstable-features.md
  src/doc/rustdoc/src/write-documentation/what-to-include.md
Labels: S-waiting-on-bors, merged-by-bors

#109862 llvm: replace some deprecated functions, add fixmes
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106281 Add ability to transmute (somewhat) with generic consts in arrays
  compiler/rustc_feature/src/active.rs
  compiler/rustc_hir_typeck/src/intrinsicck.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/const-generics/transmute-fail.rs
  tests/ui/const-generics/transmute-fail.stderr
  tests/ui/const-generics/transmute.rs
  tests/ui/const-generics/transmute_no_gate.rs
  tests/ui/const-generics/transmute_no_gate.stderr
Labels: T-lang, T-compiler, S-waiting-on-bors, merged-by-bors, I-lang-nominated

#109925 rustdoc: migrate item_union to an Askama template
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/html/templates/item_union.html
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#110031 Make elaboration generic over input
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_trait_selection/src/solve/assembly.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  src/tools/clippy/clippy_lints/src/needless_pass_by_value.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#109413 Enforce that `PointerLike` requires a pointer-like ABI
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  library/core/src/marker.rs
  tests/ui/dyn-star/align.normal.stderr
  tests/ui/dyn-star/align.over_aligned.stderr
  tests/ui/dyn-star/align.rs
  tests/ui/dyn-star/check-size-at-cast-polymorphic-bad.rs
  tests/ui/dyn-star/check-size-at-cast-polymorphic-bad.stderr
  tests/ui/dyn-star/check-size-at-cast.rs
  tests/ui/dyn-star/check-size-at-cast.stderr
  tests/ui/dyn-star/upcast.stderr
  tests/ui/traits/new-solver/pointer-like.rs
  tests/ui/traits/new-solver/pointer-like.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, WG-trait-system-refactor

#110096 Tweak tuple indexing suggestion
  compiler/rustc_hir_typeck/src/expr.rs
  tests/ui/index_message.rs
  tests/ui/index_message.stderr
  tests/ui/issues/issue-27842.rs
  tests/ui/issues/issue-27842.stderr
Labels: T-compiler, S-waiting-on-bors

#110101 Rollup of 6 pull requests
  .editorconfig
  compiler/rustc_hir_typeck/src/expr.rs
  config.example.toml
  library/core/src/primitive_docs.rs
  library/std/src/primitive_docs.rs
  src/bootstrap/channel.rs
  src/bootstrap/config.rs
  src/bootstrap/defaults/config.codegen.toml
  src/bootstrap/lib.rs
  src/bootstrap/tool.rs
  src/ci/docker/host-x86_64/x86_64-gnu-distcheck/Dockerfile
  src/doc/unstable-book/src/language-features/lang-items.md
  src/doc/unstable-book/src/language-features/plugin.md
  tests/ui/index_message.rs
  tests/ui/index_message.stderr
  tests/ui/issues/issue-27842.rs
  tests/ui/issues/issue-27842.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-meta, T-libs

#110058 Remove `box_syntax` usage
  src/doc/unstable-book/src/language-features/lang-items.md
  src/doc/unstable-book/src/language-features/plugin.md
Labels: S-waiting-on-bors

#110059 ignore_git → omit_git_hash
  config.example.toml
  src/bootstrap/channel.rs
  src/bootstrap/config.rs
  src/bootstrap/lib.rs
  src/bootstrap/tool.rs
  src/ci/docker/host-x86_64/x86_64-gnu-distcheck/Dockerfile
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#110060 Document that `&T` and `&mut T` are `Sync` if `T` is
  library/core/src/primitive_docs.rs
  library/std/src/primitive_docs.rs
Labels: T-libs-api, A-docs, S-waiting-on-bors

#110086 Add `max_line_length` to `.editorconfig`, matching rustfmt
  .editorconfig
Labels: S-waiting-on-bors, A-meta

#109173 Add tier 3 no_std x86 support for QNX Neutrino RTOS, version 7.0
  compiler/rustc_target/src/spec/aarch64_unknown_nto_qnx_710.rs
  compiler/rustc_target/src/spec/i586_pc_nto_qnx700.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/nto_qnx_base.rs
  compiler/rustc_target/src/spec/x86_64_pc_nto_qnx710.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/nto-qnx.md
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#110041 Suggest defining const parameter when appropriate
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/missing/missing-items/missing-const-parameter.rs
  tests/ui/missing/missing-items/missing-const-parameter.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, merged-by-bors

#109500 resolve: Preserve reexport chains in `ModChild`ren
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/metadata.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/imports.rs
  library/std/src/collections/mod.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#109684 Revert #104100, Allow using `Range` as an `Iterator` in const contexts.
  library/core/src/iter/range.rs
  library/core/src/iter/traits/double_ended.rs
  library/core/src/iter/traits/iterator.rs
  library/core/src/iter/traits/marker.rs
  library/core/src/lib.rs
  library/core/tests/iter/consts.rs
  library/core/tests/iter/mod.rs
  library/core/tests/lib.rs
  tests/ui/consts/const-fn-error.rs
  tests/ui/consts/const-fn-error.stderr
  tests/ui/consts/const-for.rs
  tests/ui/consts/const-for.stderr
  tests/ui/typeck/typeck_type_placeholder_item.rs
  tests/ui/typeck/typeck_type_placeholder_item.stderr
Labels: T-libs-api, T-compiler, S-waiting-on-bors, merged-by-bors

#109751 AIX uses gmake for GNU style Makefile
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, S-waiting-on-bors, merged-by-bors

#109760 Better diagnostic when pattern matching tuple structs
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/structs/struct-tuple-field-names.rs
  tests/ui/structs/struct-tuple-field-names.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, merged-by-bors

#110095 Migrate remainder of rustc_ty_utils to `SessionDiagnostic`
  compiler/rustc_ty_utils/messages.ftl
  compiler/rustc_ty_utils/src/errors.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/lib.rs
  tests/ui/simd/monomorphize-heterogeneous.rs
  tests/ui/simd/monomorphize-heterogeneous.stderr
Labels: T-compiler, S-waiting-on-bors

#110108 Add renaming of ignore-git to changelog
  src/bootstrap/CHANGELOG.md
Labels: T-bootstrap, S-waiting-on-bors

#110114 compiletest: Give a better error message if `node` isn't installed
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#110127 Rollup of 6 pull requests
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_ty_utils/messages.ftl
  compiler/rustc_ty_utils/src/errors.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/lib.rs
  src/bootstrap/CHANGELOG.md
  src/tools/compiletest/src/runtest.rs
  tests/ui/simd/monomorphize-heterogeneous.rs
  tests/ui/simd/monomorphize-heterogeneous.stderr
  tests/ui/traits/non_lifetime_binders/method-probe.rs
  tests/ui/traits/non_lifetime_binders/method-probe.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#110028 Migrate `rustc_hir_analysis` to session diagnostic [Part 3]
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/errors.rs
Labels: T-compiler, S-waiting-on-bors

#109985 Add little `is_test_crate` function
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors

#108843 Instantiate instead of erasing binder when probing param methods
  compiler/rustc_hir_typeck/src/method/probe.rs
  tests/ui/traits/non_lifetime_binders/method-probe.rs
  tests/ui/traits/non_lifetime_binders/method-probe.stderr
Labels: T-compiler, S-waiting-on-bors

#109880 Fix macOS and Windows installers when rust-docs is not available.
  src/bootstrap/dist.rs
  src/etc/installer/msi/rust.wxs
  src/etc/installer/pkg/Distribution.xml
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#110008 bump few deps
  Cargo.lock
  src/tools/rustbook/Cargo.toml
  src/tools/tidy/Cargo.toml
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#110021 Fix a couple ICEs in the new `CastKind::Transmute` code
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  tests/codegen/intrinsics/transmute-x64.rs
  tests/codegen/intrinsics/transmute.rs
Labels: T-compiler, S-waiting-on-bors

#110044 Avoid some manual slice length calculation
  library/core/src/mem/maybe_uninit.rs
Labels: S-waiting-on-bors, T-libs

#110115 compiletest: Use remap-path-prefix only in CI
  src/tools/compiletest/src/header.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#110121 Fix `x check --stage 1` when download-rustc is enabled
  src/bootstrap/check.rs
Labels: T-bootstrap, S-waiting-on-bors

#110124 Some clippy fixes in the compiler
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_arena/src/lib.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_data_structures/src/graph/implementation/mod.rs
  compiler/rustc_data_structures/src/memmap.rs
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_data_structures/src/sharded.rs
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_data_structures/src/stack.rs
  compiler/rustc_data_structures/src/sync/vec.rs
  compiler/rustc_data_structures/src/unord.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/mbe/metavar_expr.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/src/coherence/inherent_impls_overlap.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_hir_typeck/src/generator_interior/drop_ranges/cfg_build.rs
  compiler/rustc_hir_typeck/src/generator_interior/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_index/src/vec.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_llvm/src/lib.rs
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/fluent.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/patch.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/mir/traversal.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/ty/consts/int.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_query_system/src/query/caches.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_target/src/spec/abi.rs
  compiler/rustc_transmute/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system, A-translation, WG-trait-system-refactor

#109724 prioritize param env candidates if they don't guide type inference
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  tests/ui/higher-rank-trait-bounds/issue-95230.new.stderr
  tests/ui/higher-rank-trait-bounds/issue-95230.rs
  tests/ui/traits/new-solver/alias_eq_dont_use_normalizes_to_if_substs_eq.rs
  tests/ui/traits/new-solver/prefer-candidate-no-constraints.rs
  tests/ui/traits/new-solver/prefer-param-env-on-ambiguity.rs
  tests/ui/traits/new-solver/recursive-self-normalization-2.stderr
  tests/ui/traits/new-solver/recursive-self-normalization.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#110078 Bump serde to use syn 2.0
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#107007 Improve the floating point parser in dec2flt.
  library/core/src/num/dec2flt/common.rs
  library/core/src/num/dec2flt/decimal.rs
  library/core/src/num/dec2flt/mod.rs
  library/core/src/num/dec2flt/parse.rs
  library/core/tests/num/dec2flt/parse.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#108698 Migrating rustc_infer to session diagnostics (part 5)
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_infer/messages.ftl
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/suggest.rs
  compiler/rustc_middle/src/ty/sty.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#109638 Add suggestion to remove `derive()` if invoked macro is non-derive
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/macros.rs
  tests/ui/macros/macro-path-prelude-fail-4.stderr
  tests/ui/macros/macro-path-prelude-fail-5.rs
  tests/ui/macros/macro-path-prelude-fail-5.stderr
  tests/ui/proc-macro/macro-namespace-reserved-2.stderr
  tests/ui/tool-attributes/tool-attributes-misplaced-2.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109778 rustc_middle: Document which exactly `DefId`s don't have `DefKind`s
  compiler/rustc_middle/src/hir/map/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109850 Emits non-overlapping suggestions for arguments with wrong types
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/argument-suggestions/issue-109831.rs
  tests/ui/argument-suggestions/issue-109831.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#110146 fix(doc): do not parse inline when output is json for external crate
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  tests/rustdoc-ui/intra-doc/auxiliary/inner-crate-enum.rs
  tests/rustdoc-ui/intra-doc/inline-external-enum.rs
Labels: T-rustdoc, S-waiting-on-bors

#110147 Add regression test for #104916
  tests/ui/associated-type-bounds/issue-104916.rs
  tests/ui/associated-type-bounds/issue-104916.stderr
Labels: T-compiler, S-waiting-on-bors

#109923 Update `error [E0449]: unnecessary visibility qualifier` to be more clear
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_error_codes/src/error_codes/E0449.md
  tests/ui/error-codes/E0449.stderr
  tests/ui/issues/issue-28433.rs
  tests/ui/issues/issue-28433.stderr
  tests/ui/parser/assoc-static-semantic-fail.rs
  tests/ui/parser/assoc-static-semantic-fail.stderr
  tests/ui/parser/default.rs
  tests/ui/parser/default.stderr
  tests/ui/parser/trait-pub-assoc-const.rs
  tests/ui/parser/trait-pub-assoc-const.stderr
  tests/ui/parser/trait-pub-assoc-ty.rs
  tests/ui/parser/trait-pub-assoc-ty.stderr
  tests/ui/parser/trait-pub-method.rs
  tests/ui/parser/trait-pub-method.stderr
  tests/ui/privacy/issue-29161.rs
  tests/ui/privacy/issue-29161.stderr
  tests/ui/privacy/priv-in-bad-locations.rs
  tests/ui/privacy/priv-in-bad-locations.stderr
  tests/ui/privacy/privacy-sanity.rs
  tests/ui/privacy/privacy-sanity.stderr
  tests/ui/privacy/useless-pub.rs
  tests/ui/privacy/useless-pub.stderr
Labels: T-compiler, S-waiting-on-bors

#110070 The `wrapping_neg` example for unsigned types shouldn't use `i8`
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs
