Repository rust-lang/rust, pull requests merged in 2023-01, with the labels that each got.

#106297 rustdoc: merge scrape-help CSS
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#106328 Add comment explaining what the GUI scrape-examples-fonts test is about
  src/test/rustdoc-gui/scrape-examples-fonts.goml
Labels: T-rustdoc, S-waiting-on-bors

#106334 Fix tidy unittest.
  src/bootstrap/builder.rs
  src/bootstrap/test.rs
  src/ci/docker/host-x86_64/mingw-check-tidy/Dockerfile
  src/tools/tidy/src/features/version/tests.rs
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors, T-infra

#106336 Rollup of 4 pull requests
  library/std/src/path.rs
  src/bootstrap/builder.rs
  src/bootstrap/test.rs
  src/ci/docker/host-x86_64/mingw-check-tidy/Dockerfile
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/scrape-examples-fonts.goml
  src/tools/tidy/src/features/version/tests.rs
Labels: A-testsuite, T-rustdoc, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#106280 docs: add link to `Path::join` in `PathBuf::push`
  library/std/src/path.rs
Labels: S-waiting-on-bors, T-libs

#106312 Added link from Targets to Platform Support in the book
  src/doc/rustc/src/targets/index.md
Labels: A-docs, S-waiting-on-bors, merged-by-bors

#106350 Add comment explaining what docblock-table GUI test is about
  src/test/rustdoc-gui/docblock-table.goml
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#106349 Use the correct tracking issue for `dyn_star`
  compiler/rustc_feature/src/active.rs
  src/test/ui/dyn-star/align.normal.stderr
  src/test/ui/dyn-star/align.over_aligned.stderr
  src/test/ui/dyn-star/dispatch-on-pin-mut.stderr
  src/test/ui/dyn-star/dont-unsize-coerce-dyn-star.stderr
  src/test/ui/dyn-star/feature-gate-dyn_star.stderr
  src/test/ui/dyn-star/no-explicit-dyn-star-cast.stderr
  src/test/ui/dyn-star/no-unsize-coerce-dyn-trait.stderr
  src/test/ui/dyn-star/return.stderr
  src/test/ui/dyn-star/upcast.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106352 Document read_line gotchas
  library/std/src/io/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#106358 Implement fix for #67535
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  src/test/ui/issues/issue-67535.rs
  src/test/ui/issues/issue-67535.stderr
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, merged-by-bors

#106301 rustdoc: use the regular arrow indicator for dir-entry CSS
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/source-code-page.goml
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#106272 Add codegen test for issue 103840
  src/test/codegen/issue-103840.rs
Labels: S-waiting-on-bors, merged-by-bors

#106307 Abolish `QueryVTable` in favour of more assoc items on `QueryConfig`
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#106364 Reenable limited top-down MIR inlining
  compiler/rustc_mir_transform/src/inline.rs
  src/test/mir-opt/inline/cycle.g.Inline.diff
  src/test/mir-opt/inline/cycle.main.Inline.diff
  src/test/mir-opt/inline/exponential_runtime.main.Inline.diff
  src/test/mir-opt/inline/inline_cycle.one.Inline.diff
  src/test/mir-opt/inline/inline_cycle.two.Inline.diff
  src/test/mir-opt/inline/inline_cycle_generic.main.Inline.diff
  src/test/mir-opt/inline/inline_diverging.h.Inline.diff
  src/test/mir-opt/separate_const_switch.identity.SeparateConstSwitch.diff
  src/test/mir-opt/simple_option_map_e2e.ezmap.PreCodegen.after.mir
  src/test/mir-opt/simple_option_map_e2e.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#106315 Cleanup `mingw-tidy` docker job
  src/ci/docker/host-x86_64/mingw-check-tidy/Dockerfile
  src/ci/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#106354 Rustdoc-Json: Report discriminant on all kinds of enum variant.
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/fold.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/passes/stripper.rs
  src/librustdoc/visit.rs
  src/rustdoc-json-types/lib.rs
  src/test/rustdoc-json/enums/discriminant/basic.rs
  src/test/rustdoc-json/enums/discriminant/expr.rs
  src/test/rustdoc-json/enums/discriminant/limits.rs
  src/test/rustdoc-json/enums/discriminant/num_underscore_and_suffix.rs
  src/test/rustdoc-json/enums/discriminant/only_some_have_discriminant.rs
  src/test/rustdoc-json/enums/discriminant/struct.rs
  src/test/rustdoc-json/enums/discriminant/tuple.rs
  src/test/rustdoc-json/enums/field_hidden.rs
  src/test/rustdoc-json/enums/kind.rs
  src/test/rustdoc-json/enums/struct_field_hidden.rs
  src/test/rustdoc-json/enums/tuple_fields_hidden.rs
  src/test/rustdoc-json/enums/variant_struct.rs
  src/test/rustdoc-json/enums/variant_tuple_struct.rs
  src/tools/jsondoclint/src/validator.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#106366 Fix rustdoc ICE on bad typedef with mismatching types
  src/librustdoc/clean/mod.rs
  src/test/rustdoc-ui/issue-105334.rs
  src/test/rustdoc-ui/issue-105334.stderr
  src/test/rustdoc-ui/issue-105737.rs
  src/test/rustdoc-ui/issue-105737.stderr
  src/test/rustdoc-ui/issue-105742.rs
  src/test/rustdoc-ui/issue-105742.stderr
  src/test/rustdoc-ui/issue-106226.rs
  src/test/rustdoc-ui/issue-106226.stderr
  src/test/rustdoc-ui/issue-96287.rs
  src/test/rustdoc-ui/issue-96287.stderr
Labels: T-rustdoc, S-waiting-on-bors

#106383 Document some of the AST nodes
  compiler/rustc_ast/src/ast.rs
Labels: T-compiler, S-waiting-on-bors

#105558 Reduce HIR debug output
  compiler/rustc_data_structures/src/sorted_map.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/hir_id.rs
  src/test/ui/thir-tree.stdout
Labels: T-compiler, S-waiting-on-bors

#104298 Add notes and examples about non-intuitive `PathBuf::set_extension` behavior
  library/std/src/path.rs
Labels: S-waiting-on-bors, T-libs

#95985 Add PhantomData marker to Context to make Context !Send and !Sync
  library/core/src/task/wake.rs
  library/core/tests/task.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, A-async-await, to-announce

#106371 do not add noalias in return position
  compiler/rustc_ty_utils/src/abi.rs
  src/test/codegen/function-arguments.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#105609 Only include metadata for non-dynamic libraries in rustc-dev
  compiler/rustc_error_messages/locales/en-US/metadata.ftl
  compiler/rustc_metadata/src/dependency_format.rs
  compiler/rustc_metadata/src/errors.rs
  src/bootstrap/check.rs
  src/bootstrap/compile.rs
  src/test/run-make-fulldeps/save-analysis/foo.rs
  src/test/ui-fulldeps/deriving-encodable-decodable-box.rs
  src/test/ui-fulldeps/deriving-encodable-decodable-cell-refcell.rs
  src/test/ui-fulldeps/deriving-global.rs
  src/test/ui-fulldeps/deriving-hygiene.rs
  src/test/ui-fulldeps/dropck_tarena_sound_drop.rs
  src/test/ui-fulldeps/empty-struct-braces-derive.rs
  src/test/ui-fulldeps/issue-14021.rs
  src/test/ui-fulldeps/missing-rustc-driver-error.rs
  src/test/ui-fulldeps/missing-rustc-driver-error.stderr
  src/test/ui-fulldeps/mod_dir_path_canonicalized.rs
  src/test/ui-fulldeps/pprust-expr-roundtrip.rs
  src/test/ui-fulldeps/regions-mock-tcx.rs
  src/test/ui-fulldeps/rustc_encodable_hygiene.rs
  src/tools/miri/src/lib.rs
  src/tools/rustfmt/src/lib.rs
Labels: T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, A-translation

#95644 `Split*::as_str` refactor
  library/core/src/lib.rs
  library/core/src/str/iter.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#101792 Only specify `--target` by default for `-Zgcc-ld=lld` on wasm
  compiler/rustc_codegen_ssa/src/back/link.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106356 clean: Remove `ctor_kind` from `VariantStruct`.
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/render/print_item.rs
Labels: T-rustdoc, S-waiting-on-bors

#106365 Grammar : Missing "is" in format specifier diagnostic
  compiler/rustc_builtin_macros/src/format.rs
  src/test/ui/fmt/ifmt-bad-arg.stderr
  src/test/ui/fmt/issue-89173.rs
  src/test/ui/fmt/issue-89173.stderr
  src/test/ui/macros/format-foreign.stderr
  src/test/ui/macros/format-unused-lables.stderr
  src/test/ui/macros/issue-92267.stderr
Labels: T-compiler, S-waiting-on-bors

#106388 rustdoc: remove legacy box-sizing CSS
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#106392 `has_overflow` only if value is *not* within limit
  compiler/rustc_trait_selection/src/solve/overflow.rs
Labels: T-compiler, S-waiting-on-bors

#106402 Fix dupe word typos
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/late.rs
  src/librustdoc/visit_ast.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#106409 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_trait_selection/src/solve/overflow.rs
  src/bootstrap/bootstrap.py
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/visit_ast.rs
  src/test/ui/borrowck/borrowck-drop-from-guard.rs
  src/test/ui/borrowck/borrowck-drop-from-guard.stderr
  src/test/ui/borrowck/borrowck-mutate-in-guard.rs
  src/test/ui/borrowck/borrowck-mutate-in-guard.stderr
  src/test/ui/borrowck/issue-31287-drop-in-guard.rs
  src/test/ui/borrowck/issue-31287-drop-in-guard.stderr
  src/test/ui/fmt/ifmt-bad-arg.stderr
  src/test/ui/fmt/issue-89173.rs
  src/test/ui/fmt/issue-89173.stderr
  src/test/ui/issues/issue-29723.rs
  src/test/ui/issues/issue-29723.stderr
  src/test/ui/macros/format-foreign.stderr
  src/test/ui/macros/format-unused-lables.stderr
  src/test/ui/macros/issue-92267.stderr
  src/test/ui/nll/issue-24535-allow-mutable-borrow-in-match-guard.rs
  src/test/ui/nll/issue-27282-move-match-input-into-guard.rs
  src/test/ui/nll/issue-27282-move-match-input-into-guard.stderr
  src/test/ui/nll/issue-27282-move-ref-mut-into-guard.rs
  src/test/ui/nll/issue-27282-move-ref-mut-into-guard.stderr
  src/test/ui/nll/issue-27282-mutation-in-guard.rs
  src/test/ui/nll/issue-27282-mutation-in-guard.stderr
  src/test/ui/nll/issue-27282-reborrow-ref-mut-in-guard.rs
  src/test/ui/nll/issue-27282-reborrow-ref-mut-in-guard.stderr
  src/test/ui/nll/match-cfg-fake-edges.rs
  src/test/ui/nll/match-cfg-fake-edges.stderr
  src/test/ui/nll/match-guards-always-borrow.rs
  src/test/ui/nll/match-guards-always-borrow.stderr
  src/test/ui/nll/match-guards-partially-borrow.rs
  src/test/ui/nll/match-guards-partially-borrow.stderr
  src/test/ui/rfc-0107-bind-by-move-pattern-guards/rfc-reject-double-move-across-arms.rs
  src/test/ui/rfc-0107-bind-by-move-pattern-guards/rfc-reject-double-move-across-arms.stderr
  src/test/ui/rfc-0107-bind-by-move-pattern-guards/rfc-reject-double-move-in-first-arm.rs
  src/test/ui/rfc-0107-bind-by-move-pattern-guards/rfc-reject-double-move-in-first-arm.stderr
  src/tools/tidy/Cargo.toml
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
  src/tools/tidy/src/x_version.rs
  src/tools/x/src/main.rs
Labels: A-testsuite, T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#106005 Test the borrowck behavior of if-let guards
  src/test/ui/borrowck/borrowck-drop-from-guard.rs
  src/test/ui/borrowck/borrowck-drop-from-guard.stderr
  src/test/ui/borrowck/borrowck-mutate-in-guard.rs
  src/test/ui/borrowck/borrowck-mutate-in-guard.stderr
  src/test/ui/borrowck/issue-31287-drop-in-guard.rs
  src/test/ui/borrowck/issue-31287-drop-in-guard.stderr
  src/test/ui/issues/issue-29723.rs
  src/test/ui/issues/issue-29723.stderr
  src/test/ui/nll/issue-24535-allow-mutable-borrow-in-match-guard.rs
  src/test/ui/nll/issue-27282-move-match-input-into-guard.rs
  src/test/ui/nll/issue-27282-move-match-input-into-guard.stderr
  src/test/ui/nll/issue-27282-move-ref-mut-into-guard.rs
  src/test/ui/nll/issue-27282-move-ref-mut-into-guard.stderr
  src/test/ui/nll/issue-27282-mutation-in-guard.rs
  src/test/ui/nll/issue-27282-mutation-in-guard.stderr
  src/test/ui/nll/issue-27282-reborrow-ref-mut-in-guard.rs
  src/test/ui/nll/issue-27282-reborrow-ref-mut-in-guard.stderr
  src/test/ui/nll/match-cfg-fake-edges.rs
  src/test/ui/nll/match-cfg-fake-edges.stderr
  src/test/ui/nll/match-guards-always-borrow.rs
  src/test/ui/nll/match-guards-always-borrow.stderr
  src/test/ui/nll/match-guards-partially-borrow.rs
  src/test/ui/nll/match-guards-partially-borrow.stderr
  src/test/ui/rfc-0107-bind-by-move-pattern-guards/rfc-reject-double-move-across-arms.rs
  src/test/ui/rfc-0107-bind-by-move-pattern-guards/rfc-reject-double-move-across-arms.stderr
  src/test/ui/rfc-0107-bind-by-move-pattern-guards/rfc-reject-double-move-in-first-arm.rs
  src/test/ui/rfc-0107-bind-by-move-pattern-guards/rfc-reject-double-move-in-first-arm.stderr
Labels: T-compiler, S-waiting-on-bors

#105681 some fixes/improvements to mir::visit module
  compiler/rustc_middle/src/mir/visit.rs
Labels: T-compiler, S-waiting-on-bors

#104552 warn newer available version of the x tool
  Cargo.lock
  src/bootstrap/bootstrap.py
  src/tools/tidy/Cargo.toml
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
  src/tools/tidy/src/x_version.rs
  src/tools/x/src/main.rs
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors

#105752 Refactoring report_method_error
  compiler/rustc_hir_typeck/src/method/suggest.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#105712 PlayStation Vita support
  compiler/rustc_target/src/spec/armv7_sony_vita_newlibeabihf.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/armv7-sony-vita-eabihf.md
  src/test/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106353 Reduce spans for `unsafe impl` errors
  compiler/rustc_hir_analysis/src/coherence/unsafety.rs
  src/test/ui/coherence/coherence-default-trait-impl.stderr
  src/test/ui/dropck/dropck-eyepatch-implies-unsafe-impl.stderr
  src/test/ui/error-codes/E0199.stderr
  src/test/ui/error-codes/E0200.stderr
  src/test/ui/traits/safety-trait-impl-cc.stderr
  src/test/ui/traits/safety-trait-impl.stderr
Labels: T-compiler, S-waiting-on-bors

#106381 Jsondoclint: Add `--verbose` and `--json-output` options
  Cargo.lock
  src/tools/jsondoclint/Cargo.toml
  src/tools/jsondoclint/src/json_find.rs
  src/tools/jsondoclint/src/main.rs
  src/tools/jsondoclint/src/validator.rs
  src/tools/jsondoclint/src/validator/tests.rs
Labels: T-rustdoc, A-bootstrap, S-waiting-on-bors, A-rustdoc-json

#106411 rustdoc: remove legacy font-feature-settings CSS
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#106414 Add cuviper to the review rotation for libs
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#106432 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_hir_analysis/src/coherence/unsafety.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/method/prelude2021.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_macros/src/symbols/tests.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_resolve/src/ident.rs
  library/alloc/src/alloc.rs
  library/alloc/src/lib.rs
  library/core/src/panicking.rs
  library/std/src/alloc.rs
  src/bootstrap/dist.rs
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/native.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/coherence/coherence-default-trait-impl.stderr
  src/test/ui/dropck/dropck-eyepatch-implies-unsafe-impl.stderr
  src/test/ui/error-codes/E0199.stderr
  src/test/ui/error-codes/E0200.stderr
  src/test/ui/traits/safety-trait-impl-cc.stderr
  src/test/ui/traits/safety-trait-impl.stderr
  src/test/ui/unsafe/auxiliary/issue-106126.rs
  src/test/ui/unsafe/issue-106126-good-path-bug.rs
  src/tools/jsondoclint/Cargo.toml
  src/tools/jsondoclint/src/json_find.rs
  src/tools/jsondoclint/src/main.rs
  src/tools/jsondoclint/src/validator.rs
  src/tools/jsondoclint/src/validator/tests.rs
  triagebot.toml
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, A-rustdoc-json

#106045 default OOM handler: use non-unwinding panic, to match std handler
  library/alloc/src/alloc.rs
  library/alloc/src/lib.rs
  library/core/src/panicking.rs
  library/std/src/alloc.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#106157 Don't trim path for `unsafe_op_in_unsafe_fn` lints
  compiler/rustc_mir_build/src/check_unsafety.rs
  src/test/ui/unsafe/auxiliary/issue-106126.rs
  src/test/ui/unsafe/issue-106126-good-path-bug.rs
Labels: T-compiler, S-waiting-on-bors

#105541 Simplify some iterator combinators
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/method/prelude2021.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_macros/src/symbols/tests.rs
  compiler/rustc_resolve/src/ident.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#104748 Ensure `lld` is supported with `download-ci-llvm`
  src/bootstrap/dist.rs
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/native.rs
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors, T-infra

#104376 layout_of: `T: Thin` implies `sizeof(&T) == sizeof(usize)`
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_ty_utils/src/layout.rs
  src/test/ui/layout/thin-meta-implies-thin-ptr.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106436 Enable doctests for rustc_query_impl
  compiler/rustc_query_impl/Cargo.toml
Labels: A-testsuite, T-compiler, S-waiting-on-bors, A-query-system

#106442 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_ast/src/util/literal.rs
  compiler/rustc_error_messages/locales/en-US/session.ftl
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_monomorphize/Cargo.toml
  compiler/rustc_monomorphize/src/partitioning/mod.rs
  compiler/rustc_query_impl/Cargo.toml
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/future/future.rs
  library/std/src/macros.rs
  src/bootstrap/run.rs
  src/doc/unstable-book/src/compiler-flags/dump-mono-stats-format.md
  src/doc/unstable-book/src/compiler-flags/dump-mono-stats.md
  src/test/codegen/box-maybe-uninit-llvm14.rs
  src/test/codegen/box-maybe-uninit.rs
  src/test/run-make/dump-mono-stats/Makefile
  src/test/run-make/dump-mono-stats/foo.rs
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui/fn/issue-80179.rs
  src/test/ui/fn/issue-80179.stderr
  src/test/ui/fn/suggest-return-closure.rs
  src/test/ui/fn/suggest-return-closure.stderr
  src/test/ui/fn/suggest-return-future.rs
  src/test/ui/fn/suggest-return-future.stderr
  src/test/ui/lexer/error-stage.stderr
  src/test/ui/lexer/lex-bad-numeric-literals.rs
  src/test/ui/lexer/lex-bad-numeric-literals.stderr
  src/test/ui/macros/issue-104769-concat_bytes-invalid-literal.stderr
  src/test/ui/parser/int-literal-too-large-span.stderr
  src/test/ui/parser/issues/issue-5544-a.stderr
  src/test/ui/parser/issues/issue-5544-b.stderr
  src/tools/bump-stage0/src/main.rs
  src/tools/tidy/src/style.rs
Labels: A-testsuite, T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, A-query-system, A-translation

#106396 Allow passing a specific date to `bump-stage0`
  src/bootstrap/run.rs
  src/tools/bump-stage0/src/main.rs
Labels: A-bootstrap, S-waiting-on-bors, T-infra

#106200 Suggest `impl Fn*` and `impl Future` in `-> _` return suggestions
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/future/future.rs
  src/test/ui/fn/issue-80179.rs
  src/test/ui/fn/issue-80179.stderr
  src/test/ui/fn/suggest-return-closure.rs
  src/test/ui/fn/suggest-return-closure.stderr
  src/test/ui/fn/suggest-return-future.rs
  src/test/ui/fn/suggest-return-future.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#106239 Deallocate ThinBox even if the value unwinds on drop
  library/alloc/src/boxed/thin.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#106382 Fix handling of dead unwinds in backward analyses
  compiler/rustc_mir_dataflow/src/framework/direction.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106224 Small fixes for --crate-type staticlib
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_error_messages/locales/en-US/codegen_ssa.ftl
Labels: A-linkage, T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#106391 rustdoc: allow popover child links to work
  src/librustdoc/html/static/js/main.js
  src/test/rustdoc-gui/help-page.goml
Labels: T-rustdoc, S-waiting-on-bors

#106398 Fix a few clippy lints in libtest
  library/test/src/console.rs
  library/test/src/formatters/json.rs
  library/test/src/formatters/junit.rs
  library/test/src/formatters/pretty.rs
  library/test/src/formatters/terse.rs
  library/test/src/lib.rs
  library/test/src/term/terminfo/mod.rs
  library/test/src/term/terminfo/parm.rs
  library/test/src/term/terminfo/searcher.rs
  library/test/src/test_result.rs
  library/test/src/types.rs
Labels: S-waiting-on-bors, T-libs

#106412 Fix link generation for local primitive types in rustdoc JSON output
  src/librustdoc/json/conversions.rs
  src/test/rustdoc-json/primitives/local_primitive.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#106451 Merge borrowck permission checks
  compiler/rustc_borrowck/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#106460 Move tests
  src/test/ui/associated-consts/issue-105330.rs
  src/test/ui/associated-consts/issue-105330.stderr
  src/test/ui/associated-types/issue-25700-1.rs
  src/test/ui/associated-types/issue-25700-2.rs
  src/test/ui/associated-types/issue-25700.rs
  src/test/ui/associated-types/issue-25700.stderr
  src/test/ui/codegen/issue-82859-slice-miscompile.rs
  src/test/ui/command/issue-10626.rs
  src/test/ui/drop/issue-2734.rs
  src/test/ui/dropck/issue-34053.rs
  src/test/ui/enum-discriminant/issue-72554.rs
  src/test/ui/enum-discriminant/issue-72554.stderr
  src/test/ui/extern/issue-13655.rs
  src/test/ui/macros/issue-10536.rs
  src/test/ui/macros/issue-10536.stderr
  src/test/ui/nll/issue-54189.rs
  src/test/ui/nll/issue-54189.stderr
  src/test/ui/traits/issue-99875.rs
  src/test/ui/traits/issue-99875.stderr
  src/test/ui/typeck/issue-18937-1.rs
  src/test/ui/typeck/issue-18937.rs
  src/test/ui/typeck/issue-18937.stderr
  src/test/ui/typeck/issue-31173.rs
  src/test/ui/typeck/issue-31173.stderr
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#106461 docs: fix broken link "search bar"
  library/std/src/lib.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#105409 Don't deduce a signature that makes a closure cyclic
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/closures/supertrait-hint-cycle-2.rs
  src/test/ui/closures/supertrait-hint-cycle-3.rs
  src/test/ui/closures/supertrait-hint-cycle.rs
  src/test/ui/issues/issue-25439.stderr
  src/test/ui/unboxed-closures/unboxed-closure-no-cyclic-sig.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106385 Split `-Zchalk` flag into `-Ztrait-solver=(classic|chalk|next)` flag
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_ty_utils/src/ty.rs
  src/test/rustdoc-ui/z-help.stdout
  src/test/ui/chalkify/arithmetic.rs
  src/test/ui/chalkify/assert.rs
  src/test/ui/chalkify/basic.rs
  src/test/ui/chalkify/bugs/async.rs
  src/test/ui/chalkify/builtin-copy-clone.rs
  src/test/ui/chalkify/chalk_initial_program.rs
  src/test/ui/chalkify/closure.rs
  src/test/ui/chalkify/generic_impls.rs
  src/test/ui/chalkify/impl_wf.rs
  src/test/ui/chalkify/impl_wf_2.rs
  src/test/ui/chalkify/inherent_impl.rs
  src/test/ui/chalkify/inherent_impl_min.rs
  src/test/ui/chalkify/lower_env1.rs
  src/test/ui/chalkify/lower_env2.rs
  src/test/ui/chalkify/lower_env3.rs
  src/test/ui/chalkify/lower_impl.rs
  src/test/ui/chalkify/lower_struct.rs
  src/test/ui/chalkify/lower_trait.rs
  src/test/ui/chalkify/lower_trait_higher_rank.rs
  src/test/ui/chalkify/lower_trait_where_clause.rs
  src/test/ui/chalkify/println.rs
  src/test/ui/chalkify/projection.rs
  src/test/ui/chalkify/recursive_where_clause_on_type.rs
  src/test/ui/chalkify/super_trait.rs
  src/test/ui/chalkify/trait-objects.rs
  src/test/ui/chalkify/trait_implied_bound.rs
  src/test/ui/chalkify/type_implied_bound.rs
  src/test/ui/chalkify/type_inference.rs
  src/test/ui/chalkify/type_wf.rs
  src/test/ui/implied-bounds/hrlt-implied-trait-bounds-guard.rs
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#106403 Rename `hir::Map::{get_,find_}parent_node` to `hir::Map::{,opt_}parent_id`, and add `hir::Map::{get,find}_parent`
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_const_eval/src/transform/check_consts/mod.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/lifetimes.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/structured_errors/wrong_number_of_generic_args.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/generator_interior/drop_ranges/record_consumed_borrow.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_infer/src/infer/error_reporting/suggest.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/error.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_save_analysis/src/lib.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_ty_utils/src/ty.rs
  src/librustdoc/passes/check_doc_test_visibility.rs
  src/tools/clippy/clippy_lints/src/casts/cast_slice_different_sizes.rs
  src/tools/clippy/clippy_lints/src/escape.rs
  src/tools/clippy/clippy_lints/src/index_refutable_slice.rs
  src/tools/clippy/clippy_lints/src/loops/same_item_push.rs
  src/tools/clippy/clippy_lints/src/manual_rem_euclid.rs
  src/tools/clippy/clippy_lints/src/matches/match_single_binding.rs
  src/tools/clippy/clippy_lints/src/mixed_read_write_in_expression.rs
  src/tools/clippy/clippy_lints/src/needless_pass_by_value.rs
  src/tools/clippy/clippy_lints/src/non_copy_const.rs
  src/tools/clippy/clippy_lints/src/pass_by_ref_or_value.rs
  src/tools/clippy/clippy_lints/src/unit_types/unit_arg.rs
  src/tools/clippy/clippy_lints/src/unnecessary_wraps.rs
  src/tools/clippy/clippy_lints/src/utils/internal_lints/metadata_collector.rs
  src/tools/clippy/clippy_lints/src/utils/internal_lints/unnecessary_def_path.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#106462 rustdoc: remove unnecessary wrapper around sidebar and mobile logos
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/templates/page.html
Labels: T-rustdoc, S-waiting-on-bors

#106464 Update Fuchsia walkthrough with new configs
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: S-waiting-on-bors

#105846 Account for return-position `impl Trait` in trait in `opt_suggest_box_span`
  compiler/rustc_hir_typeck/src/_match.rs
  src/test/ui/impl-trait/in-trait/box-coerce-span-in-default.rs
  src/test/ui/impl-trait/in-trait/box-coerce-span-in-default.stderr
Labels: T-compiler, S-waiting-on-bors

#106404 Remove duplicated elaborate box derefs pass
  compiler/rustc_mir_transform/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106487 Fix --kbd-color variable name in rustdoc.css
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/help-page.goml
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#106416 Shrink `ParseResult` in the hot path.
  compiler/rustc_expand/src/mbe/diagnostics.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106429 Add vendor to Fuchsia's target triple
  compiler/rustc_target/src/spec/aarch64_unknown_fuchsia.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/x86_64_unknown_fuchsia.rs
  src/bootstrap/native.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/ci/docker/host-x86_64/dist-various-2/build-fuchsia-toolchain.sh
  src/ci/docker/scripts/fuchsia-test-runner.py
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/fuchsia.md
  src/doc/unstable-book/src/compiler-flags/sanitizer.md
  src/test/assembly/stack-protector/stack-protector-target-support.rs
  src/tools/build-manifest/src/main.rs
  src/tools/compiletest/src/util.rs
Labels: A-testsuite, T-compiler, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#106491 Fix error-index redirect to work with the back button.
  src/tools/error_index_generator/book_config.toml
  src/tools/error_index_generator/main.rs
  src/tools/error_index_generator/redirect.js
Labels: S-waiting-on-bors

#106494 Add regression test for #58355
  src/test/ui/type/issue-58355.rs
  src/test/ui/type/issue-58355.stderr
Labels: T-compiler, S-waiting-on-bors

#106499 fix [type error] for error E0029 and E0277
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/typeck/issue-105946.rs
  src/test/ui/typeck/issue-105946.stderr
Labels: T-compiler, S-waiting-on-bors

#106400 Point at expressions where inference refines an unexpected type
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  src/test/ui/type/type-check/assignment-in-if.stderr
  src/test/ui/type/type-check/point-at-inference-2.rs
  src/test/ui/type/type-check/point-at-inference-2.stderr
  src/test/ui/type/type-check/point-at-inference-3.fixed
  src/test/ui/type/type-check/point-at-inference-3.rs
  src/test/ui/type/type-check/point-at-inference-3.stderr
  src/test/ui/type/type-check/point-at-inference.fixed
  src/test/ui/type/type-check/point-at-inference.rs
  src/test/ui/type/type-check/point-at-inference.stderr
Labels: T-compiler, S-waiting-on-bors

#105805 Suggest adding named lifetime when the return contains value borrowed from more than one lifetimes of function inputs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  src/test/ui/impl-trait/static-return-lifetime-infered.rs
  src/test/ui/impl-trait/static-return-lifetime-infered.stderr
  src/test/ui/lifetimes/issue-105227.fixed
  src/test/ui/lifetimes/issue-105227.rs
  src/test/ui/lifetimes/issue-105227.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106474 cleanup: handle -Zmutable-noalias like -Zbox-noalias
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_ty_utils/src/abi.rs
  src/test/codegen/noalias-flag.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106501 Correct detection of elided lifetimes in impl-trait.
  compiler/rustc_hir_analysis/src/collect/lifetimes.rs
  src/test/ui/suggestions/impl-trait-missing-lifetime-gated.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors

#106415 Handle non-existent upstream master branches in `x fmt`
  Cargo.lock
  Cargo.toml
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/format.rs
  src/bootstrap/lib.rs
  src/bootstrap/native.rs
  src/bootstrap/util.rs
  src/tools/build_helper/Cargo.toml
  src/tools/build_helper/src/ci.rs
  src/tools/build_helper/src/git.rs
  src/tools/build_helper/src/lib.rs
Labels: A-bootstrap, S-waiting-on-bors, merged-by-bors

#106534 rustdoc-gui: Use new block syntax for define-function in goml scripts
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/test/rustdoc-gui/anchors.goml
  src/test/rustdoc-gui/code-color.goml
  src/test/rustdoc-gui/codeblock-tooltip.goml
  src/test/rustdoc-gui/docblock-code-block-line-number.goml
  src/test/rustdoc-gui/docblock-table.goml
  src/test/rustdoc-gui/headers-color.goml
  src/test/rustdoc-gui/headings.goml
  src/test/rustdoc-gui/help-page.goml
  src/test/rustdoc-gui/highlight-colors.goml
  src/test/rustdoc-gui/item-decl-colors.goml
  src/test/rustdoc-gui/jump-to-def-background.goml
  src/test/rustdoc-gui/links-color.goml
  src/test/rustdoc-gui/notable-trait.goml
  src/test/rustdoc-gui/run-on-hover.goml
  src/test/rustdoc-gui/rust-logo.goml
  src/test/rustdoc-gui/scrape-examples-color.goml
  src/test/rustdoc-gui/scrape-examples-toggle.goml
  src/test/rustdoc-gui/search-no-result.goml
  src/test/rustdoc-gui/search-result-color.goml
  src/test/rustdoc-gui/search-result-display.goml
  src/test/rustdoc-gui/search-tab.goml
  src/test/rustdoc-gui/sidebar-links-color.goml
  src/test/rustdoc-gui/sidebar-mobile.goml
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-gui/source-code-page.goml
  src/test/rustdoc-gui/stab-badge.goml
  src/test/rustdoc-gui/target.goml
  src/test/rustdoc-gui/toggle-docs.goml
  src/test/rustdoc-gui/unsafe-fn.goml
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#106542 Add default and latest stable edition to --edition in rustc (attempt 2)
  compiler/rustc_session/src/config.rs
Labels: T-compiler, S-waiting-on-bors

#106544 Rollup of 7 pull requests
  compiler/rustc_error_codes/src/error_codes/E0729.md
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_middle/src/macros.rs
  compiler/rustc_middle/src/util/bug.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/session.rs
  library/core/src/macros/mod.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/sources.rs
  src/test/rustdoc-gui/anchors.goml
  src/test/rustdoc-gui/code-color.goml
  src/test/rustdoc-gui/codeblock-tooltip.goml
  src/test/rustdoc-gui/docblock-code-block-line-number.goml
  src/test/rustdoc-gui/docblock-table.goml
  src/test/rustdoc-gui/headers-color.goml
  src/test/rustdoc-gui/headings.goml
  src/test/rustdoc-gui/help-page.goml
  src/test/rustdoc-gui/highlight-colors.goml
  src/test/rustdoc-gui/item-decl-colors.goml
  src/test/rustdoc-gui/jump-to-def-background.goml
  src/test/rustdoc-gui/links-color.goml
  src/test/rustdoc-gui/notable-trait.goml
  src/test/rustdoc-gui/run-on-hover.goml
  src/test/rustdoc-gui/rust-logo.goml
  src/test/rustdoc-gui/scrape-examples-color.goml
  src/test/rustdoc-gui/scrape-examples-toggle.goml
  src/test/rustdoc-gui/search-no-result.goml
  src/test/rustdoc-gui/search-result-color.goml
  src/test/rustdoc-gui/search-result-display.goml
  src/test/rustdoc-gui/search-tab.goml
  src/test/rustdoc-gui/sidebar-links-color.goml
  src/test/rustdoc-gui/sidebar-mobile.goml
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-gui/source-code-page.goml
  src/test/rustdoc-gui/stab-badge.goml
  src/test/rustdoc-gui/target.goml
  src/test/rustdoc-gui/toggle-docs.goml
  src/test/rustdoc-gui/unsafe-fn.goml
  src/test/rustdoc/src-links.rs
  src/test/rustdoc/src-links/fizz.rs
  src/tools/tidy/src/error_codes.rs
  src/tools/tidy/src/error_codes_check.rs
  src/tools/tidy/src/errors.rs
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#106453 Improve include macro documentation
  library/core/src/macros/mod.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#106466 Fix rustdoc source code rendering for `#[path = "../path/to/mod.rs"]` links
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/sources.rs
  src/test/rustdoc/src-links.rs
  src/test/rustdoc/src-links/fizz.rs
Labels: T-rustdoc, S-waiting-on-bors

#106528 Tiny formatting fix
  compiler/rustc_parse/src/parser/expr.rs
Labels: T-compiler, S-waiting-on-bors

#106287 Add some docs to `bug`, `span_bug` and `delay_span_bug`
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_middle/src/macros.rs
  compiler/rustc_middle/src/util/bug.rs
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors

#106341 refactor: clean up `errors.rs` and `error_codes_check.rs`
  compiler/rustc_error_codes/src/error_codes/E0729.md
  src/tools/tidy/src/error_codes.rs
  src/tools/tidy/src/error_codes_check.rs
  src/tools/tidy/src/errors.rs
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#106538 rustdoc: Strip imports of items which are `#[doc(hidden)]`
  src/librustdoc/clean/types.rs
  src/librustdoc/passes/stripper.rs
  src/test/rustdoc-json/doc_hidden_failure.rs
  src/test/rustdoc-json/reexport/pub_use_doc_hidden.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#106525 Report WF error for chalk *and* new solver
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/test/ui/chalkify/recursive_where_clause_on_type.rs
  src/test/ui/chalkify/recursive_where_clause_on_type.stderr
Labels: T-compiler, S-waiting-on-bors

#106533 Use smaller spans for missing lifetime/generic args
  compiler/rustc_hir_analysis/src/structured_errors/wrong_number_of_generic_args.rs
  src/test/rustdoc-ui/issue-105742.stderr
  src/test/ui/consts/issue-103790.stderr
  src/test/ui/generic-associated-types/elided-in-expr-position.stderr
  src/test/ui/generic-associated-types/gat-trait-path-missing-lifetime.stderr
  src/test/ui/generic-associated-types/issue-71176.stderr
  src/test/ui/generic-associated-types/issue-76535.base.stderr
  src/test/ui/generic-associated-types/issue-76535.extended.stderr
  src/test/ui/generic-associated-types/issue-78671.base.stderr
  src/test/ui/generic-associated-types/issue-78671.extended.stderr
  src/test/ui/generic-associated-types/issue-79422.base.stderr
  src/test/ui/generic-associated-types/issue-79422.extended.stderr
  src/test/ui/generic-associated-types/issue-79636-1.stderr
  src/test/ui/generic-associated-types/issue-79636-2.stderr
  src/test/ui/generic-associated-types/issue-80433.stderr
  src/test/ui/generic-associated-types/issue-81712-cyclic-traits.stderr
  src/test/ui/generic-associated-types/issue-81862.stderr
  src/test/ui/generic-associated-types/missing_lifetime_args.stderr
  src/test/ui/generics/generic-type-less-params-with-defaults.stderr
  src/test/ui/generics/wrong-number-of-args.stderr
  src/test/ui/impl-trait/issues/issue-92305.stderr
  src/test/ui/issues/issue-14092.stderr
  src/test/ui/issues/issue-23024.stderr
  src/test/ui/issues/issue-86756.stderr
  src/test/ui/lifetimes/missing-lifetime-in-alias.stderr
  src/test/ui/tag-type-args.stderr
  src/test/ui/type/ascription/issue-34255-1.stderr
  src/test/ui/ufcs/ufcs-qpath-missing-params.stderr
Labels: T-compiler, S-waiting-on-bors

#106543 rustdoc: remove no-op CSS `.rustdoc.source .sidebar { width: 0 }`
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
Labels: T-rustdoc, S-waiting-on-bors

#106554 Fix a typo in the explanation of E0588
  compiler/rustc_error_codes/src/error_codes/E0588.md
Labels: T-compiler, S-waiting-on-bors

#106558 Rollup of 4 pull requests
  compiler/rustc_error_codes/src/error_codes/E0588.md
  compiler/rustc_hir_analysis/src/structured_errors/wrong_number_of_generic_args.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/rustdoc-gui/sidebar-source-code-display.goml
  src/test/rustdoc-gui/sidebar-source-code.goml
  src/test/rustdoc-ui/issue-105742.stderr
  src/test/ui/chalkify/recursive_where_clause_on_type.rs
  src/test/ui/chalkify/recursive_where_clause_on_type.stderr
  src/test/ui/consts/issue-103790.stderr
  src/test/ui/generic-associated-types/elided-in-expr-position.stderr
  src/test/ui/generic-associated-types/gat-trait-path-missing-lifetime.stderr
  src/test/ui/generic-associated-types/issue-71176.stderr
  src/test/ui/generic-associated-types/issue-76535.base.stderr
  src/test/ui/generic-associated-types/issue-76535.extended.stderr
  src/test/ui/generic-associated-types/issue-78671.base.stderr
  src/test/ui/generic-associated-types/issue-78671.extended.stderr
  src/test/ui/generic-associated-types/issue-79422.base.stderr
  src/test/ui/generic-associated-types/issue-79422.extended.stderr
  src/test/ui/generic-associated-types/issue-79636-1.stderr
  src/test/ui/generic-associated-types/issue-79636-2.stderr
  src/test/ui/generic-associated-types/issue-80433.stderr
  src/test/ui/generic-associated-types/issue-81712-cyclic-traits.stderr
  src/test/ui/generic-associated-types/issue-81862.stderr
  src/test/ui/generic-associated-types/missing_lifetime_args.stderr
  src/test/ui/generics/generic-type-less-params-with-defaults.stderr
  src/test/ui/generics/wrong-number-of-args.stderr
  src/test/ui/impl-trait/issues/issue-92305.stderr
  src/test/ui/issues/issue-14092.stderr
  src/test/ui/issues/issue-23024.stderr
  src/test/ui/issues/issue-86756.stderr
  src/test/ui/lifetimes/missing-lifetime-in-alias.stderr
  src/test/ui/tag-type-args.stderr
  src/test/ui/type/ascription/issue-34255-1.stderr
  src/test/ui/ufcs/ufcs-qpath-missing-params.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#106283 Add help diag. for `const = Enum` missing braces around `Enum`
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  src/test/ui/const-generics/assoc_const_eq_diagnostic.rs
  src/test/ui/const-generics/assoc_const_eq_diagnostic.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106519 Detect bindings assigned blocks without tail expressions
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/type/binding-assigned-block-without-tail-expression.rs
  src/test/ui/type/binding-assigned-block-without-tail-expression.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106036 Add regression test for #86106
  src/test/codegen/issue-86106.rs
Labels: S-waiting-on-bors, merged-by-bors

#106553 docs: make `HashSet::retain` doctest more clear
  library/std/src/collections/hash/set.rs
Labels: S-waiting-on-bors, T-libs

#106556 rustdoc: remove no-op mobile CSS `.content { margin-left: 0 }`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#106564 Change to immutable borrow when cloning element of RepeatN
  library/core/src/iter/sources/repeat_n.rs
Labels: S-waiting-on-bors, T-libs

#106573 Rollup of 10 pull requests
  Cargo.lock
  compiler/rustc_borrowck/src/borrowck_errors.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/common.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_codegen_ssa/src/mir/constant.rs
  compiler/rustc_codegen_ssa/src/mir/intrinsic.rs
  compiler/rustc_error_messages/locales/en-US/codegen_ssa.ftl
  compiler/rustc_error_messages/locales/en-US/infer.ftl
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/named_anon_conflict.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/placeholder_error.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
  compiler/rustc_resolve/src/late.rs
  library/alloc/src/collections/vec_deque/mod.rs
  library/core/src/iter/sources/repeat_n.rs
  library/core/src/marker.rs
  library/std/src/collections/hash/set.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/closures/2229_closure_analysis/diagnostics/borrowck/borrowck-3.rs
  src/test/ui/closures/2229_closure_analysis/diagnostics/borrowck/borrowck-3.stderr
  src/test/ui/error-codes/E0637.stderr
  src/test/ui/generics/issue-65285-incorrect-explicit-lifetime-name-needed.stderr
  src/test/ui/process/process-panic-after-fork.rs
  src/test/ui/unboxed-closures/unboxed-closure-region.rs
  src/test/ui/unboxed-closures/unboxed-closure-region.stderr
  src/test/ui/underscore-lifetime/where-clause-inherent-impl-ampersand.rust2015.stderr
  src/test/ui/underscore-lifetime/where-clause-inherent-impl-ampersand.rust2018.stderr
  src/test/ui/underscore-lifetime/where-clause-trait-impl-region.rust2015.stderr
  src/test/ui/underscore-lifetime/where-clause-trait-impl-region.rust2018.stderr
  src/tools/rustfmt/tests/target/issue_4110.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-translation

#106509 Detect closures assigned to binding in block
  compiler/rustc_borrowck/src/borrowck_errors.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  src/test/ui/closures/2229_closure_analysis/diagnostics/borrowck/borrowck-3.rs
  src/test/ui/closures/2229_closure_analysis/diagnostics/borrowck/borrowck-3.stderr
  src/test/ui/unboxed-closures/unboxed-closure-region.rs
  src/test/ui/unboxed-closures/unboxed-closure-region.stderr
  src/tools/rustfmt/tests/target/issue_4110.rs
Labels: T-compiler, S-waiting-on-bors

#105859 Point out span where we could introduce higher-ranked lifetime
  compiler/rustc_resolve/src/late.rs
  src/test/ui/error-codes/E0637.stderr
  src/test/ui/generics/issue-65285-incorrect-explicit-lifetime-name-needed.stderr
  src/test/ui/underscore-lifetime/where-clause-inherent-impl-ampersand.rust2015.stderr
  src/test/ui/underscore-lifetime/where-clause-inherent-impl-ampersand.rust2018.stderr
  src/test/ui/underscore-lifetime/where-clause-trait-impl-region.rust2015.stderr
  src/test/ui/underscore-lifetime/where-clause-trait-impl-region.rust2018.stderr
Labels: T-compiler, S-waiting-on-bors

#105128 Add O(1) `Vec -> VecDeque` conversion guarantee
  library/alloc/src/collections/vec_deque/mod.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#105517 Fix process-panic-after-fork.rs to pass on newer versions of Android.
  src/test/ui/process/process-panic-after-fork.rs
Labels: T-compiler, S-waiting-on-bors

#104543 Migrate `codegen_ssa` to diagnostics structs - [Part 3]
  Cargo.lock
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/common.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_codegen_ssa/src/mir/constant.rs
  compiler/rustc_codegen_ssa/src/mir/intrinsic.rs
  compiler/rustc_error_messages/locales/en-US/codegen_ssa.ftl
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_errors/src/lib.rs
Labels: T-compiler, A-bootstrap, S-waiting-on-bors, A-translation

#104081 PhantomData layout guarantees
  library/core/src/marker.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, S-waiting-on-fcp, to-announce

#101936 Migrating rustc_infer to session diagnostics (part 3)
  compiler/rustc_error_messages/locales/en-US/infer.ftl
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/named_anon_conflict.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/placeholder_error.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/trait_impl_difference.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#104658 Update `rand` in the stdlib tests, and remove the `getrandom` feature from it.
  Cargo.lock
  library/alloc/Cargo.toml
  library/alloc/benches/slice.rs
  library/alloc/src/collections/binary_heap/tests.rs
  library/alloc/src/collections/linked_list/tests.rs
  library/alloc/src/lib.rs
  library/alloc/src/slice.rs
  library/alloc/src/slice/tests.rs
  library/alloc/tests/slice.rs
  library/core/Cargo.toml
  library/core/benches/num/int_log/mod.rs
  library/core/tests/lib.rs
  library/core/tests/num/flt2dec/random.rs
  library/core/tests/slice.rs
  library/std/Cargo.toml
  library/std/src/collections/hash/map/tests.rs
  library/std/src/fs/tests.rs
  library/std/src/lib.rs
  library/std/src/sync/rwlock/tests.rs
  library/std/src/sys_common/io.rs
  library/std/tests/env.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, A-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#106580 remove unreachable error code `E0313`
  compiler/rustc_error_codes/src/error_codes.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/note.rs
  compiler/rustc_infer/src/infer/mod.rs
  src/tools/tidy/src/error_codes.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#106581 Do not emit wrong E0308 suggestion for closure mismatch
  compiler/rustc_hir_typeck/src/demand.rs
  src/test/ui/type/closure-with-wrong-borrows.rs
  src/test/ui/type/closure-with-wrong-borrows.stderr
Labels: T-compiler, S-waiting-on-bors

#106588 Rollup of 8 pull requests
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_error_codes/src/error_codes.rs
  compiler/rustc_error_codes/src/error_codes/E0015.md
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/note.rs
  compiler/rustc_infer/src/infer/mod.rs
  library/alloc/src/collections/vec_deque/mod.rs
  library/std/src/path.rs
  src/bootstrap/setup.rs
  src/etc/pre-push.sh
  src/test/ui/borrowck/issue-93078.rs
  src/test/ui/borrowck/issue-93078.stderr
  src/test/ui/error-codes/E0013.rs
  src/test/ui/error-codes/E0013.stderr
  src/test/ui/error-codes/E0015.rs
  src/test/ui/error-codes/E0015.stderr
  src/test/ui/type/closure-with-wrong-borrows.rs
  src/test/ui/type/closure-with-wrong-borrows.stderr
  src/tools/jsondoclint/src/validator.rs
  src/tools/jsondoclint/src/validator/tests.rs
  src/tools/tidy/src/error_codes.rs
Labels: A-testsuite, T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-rustdoc-json

#106410 Suggest `mut self: &mut Self` for `?Sized` impls
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  src/test/ui/borrowck/issue-93078.rs
  src/test/ui/borrowck/issue-93078.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#106457 Adjust comments about pre-push.sh hook
  src/bootstrap/setup.rs
  src/etc/pre-push.sh
Labels: A-bootstrap, S-waiting-on-bors

#106546 jsondoclint: Check local items in `paths` are also in `index`.
  src/tools/jsondoclint/src/validator.rs
  src/tools/jsondoclint/src/validator/tests.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#106557 Add some UI tests and reword error-code docs
  compiler/rustc_error_codes/src/error_codes/E0015.md
  src/test/ui/error-codes/E0013.rs
  src/test/ui/error-codes/E0013.stderr
  src/test/ui/error-codes/E0015.rs
  src/test/ui/error-codes/E0015.stderr
  src/tools/tidy/src/error_codes.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#106562 Clarify examples for `VecDeque::get/get_mut`
  library/alloc/src/collections/vec_deque/mod.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#103104 Stabilize `main_separator_str`
  library/std/src/path.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#105733 Add type flags support for `Ty` and `Const` late-bound variables
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_middle/src/ty/erase_regions.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106235 Rework `Bounds` collection
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/bounds.rs
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_privacy/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106449 Add retry mechanism for rustdoc GUI tests to reduce flakyness
  src/tools/rustdoc-gui/tester.js
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#90291 Loosen the bound on the Debug implementation of Weak.
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#106584 Document that `Vec::from_raw_parts[_in]` must be given a pointer from the correct allocator.
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#106600 Suppress type errors that come from private fields
  compiler/rustc_hir_typeck/src/expr.rs
  src/test/ui/issues/issue-25386.rs
  src/test/ui/issues/issue-25386.stderr
  src/test/ui/privacy/private-field-ty-err.rs
  src/test/ui/privacy/private-field-ty-err.stderr
Labels: T-compiler, S-waiting-on-bors

#106602 Add goml scripts to tidy checks
  src/test/rustdoc-gui/escape-key.goml
  src/test/rustdoc-gui/impl-doc.goml
  src/test/rustdoc-gui/mobile.goml
  src/test/rustdoc-gui/rust-logo.goml
  src/test/rustdoc-gui/scrape-examples-button-focus.goml
  src/test/rustdoc-gui/sidebar.goml
  src/test/rustdoc-gui/type-declation-overflow.goml
  src/tools/tidy/src/style.rs
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors

#106606 Do not emit structured suggestion for turbofish with wrong span
  compiler/rustc_parse/src/parser/diagnostics.rs
  src/test/ui/parser/nested-bad-turbofish.rs
  src/test/ui/parser/nested-bad-turbofish.stderr
Labels: T-compiler, S-waiting-on-bors

#106497 Suggest using clone when we have &T and T implemented Clone
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/suggestions/issue-106443-sugg-clone-for-arg.rs
  src/test/ui/suggestions/issue-106443-sugg-clone-for-arg.stderr
  src/test/ui/suggestions/issue-106443-sugg-clone-for-bound.rs
  src/test/ui/suggestions/issue-106443-sugg-clone-for-bound.stderr
Labels: T-compiler, S-waiting-on-bors

#104163 Don't derive Debug for `OnceWith` & `RepeatWith`
  library/core/src/iter/sources/once_with.rs
  library/core/src/iter/sources/repeat_with.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, S-waiting-on-fcp, to-announce

#106582 Improve spans of non-WF implied bound types
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  src/test/ui/associated-types/associated-types-for-unimpl-trait.stderr
  src/test/ui/associated-types/associated-types-no-suitable-bound.stderr
  src/test/ui/associated-types/associated-types-no-suitable-supertrait-2.stderr
  src/test/ui/associated-types/associated-types-no-suitable-supertrait.stderr
  src/test/ui/associated-types/associated-types-projection-to-unrelated-trait-in-method-without-default.stderr
  src/test/ui/associated-types/issue-59324.rs
  src/test/ui/associated-types/issue-59324.stderr
  src/test/ui/issues/issue-18611.stderr
  src/test/ui/issues/issue-20831-debruijn.stderr
  src/test/ui/issues/issue-35570.stderr
  src/test/ui/nll/normalization-bounds-error.stderr
  src/test/ui/regions/regions-implied-bounds-projection-gap-hr-1.stderr
  src/test/ui/specialization/min_specialization/issue-79224.rs
  src/test/ui/specialization/min_specialization/issue-79224.stderr
  src/test/ui/traits/issue-91594.stderr
  src/test/ui/wf/issue-103573.stderr
  src/test/ui/wf/wf-foreign-fn-decl-ret.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106340 Always permit ConstProp to exploit arithmetic identities
  compiler/rustc_mir_transform/src/const_prop.rs
  src/test/mir-opt/div_overflow.const_dividend.PreCodegen.after.mir
  src/test/mir-opt/div_overflow.const_divisor.PreCodegen.after.mir
  src/test/mir-opt/div_overflow.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#101947 Don't normalize in AstConv
  compiler/rustc_borrowck/src/type_check/canonical.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_middle/src/traits/query.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_traits/src/type_op.rs
  src/test/ui/generic-associated-types/issue-91139.rs
  src/test/ui/generic-associated-types/issue-91139.stderr
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-85455.rs
  src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-85455.stderr
  src/test/ui/nll/closure-malformed-projection-input-issue-102800.rs
  src/test/ui/nll/closure-malformed-projection-input-issue-102800.stderr
  src/test/ui/nll/ty-outlives/wf-unreachable.stderr
  src/test/ui/nll/user-annotations/ascribed-type-wf.rs
  src/test/ui/nll/user-annotations/ascribed-type-wf.stderr
  src/test/ui/nll/user-annotations/closure-sig.rs
  src/test/ui/nll/user-annotations/normalization-2.rs
  src/test/ui/nll/user-annotations/normalization-2.stderr
  src/test/ui/nll/user-annotations/normalization-default.rs
  src/test/ui/nll/user-annotations/normalization-default.stderr
  src/test/ui/nll/user-annotations/normalization-infer.rs
  src/test/ui/nll/user-annotations/normalization-infer.stderr
  src/test/ui/nll/user-annotations/normalization-self.rs
  src/test/ui/nll/user-annotations/normalization-self.stderr
  src/test/ui/nll/user-annotations/normalization.rs
  src/test/ui/nll/user-annotations/normalization.stderr
  src/test/ui/regions/regions-assoc-type-in-supertrait-outlives-container.stderr
  src/test/ui/regions/regions-free-region-ordering-caller.stderr
  src/test/ui/regions/regions-outlives-projection-container-hrtb.stderr
  src/test/ui/regions/regions-outlives-projection-container-wc.stderr
  src/test/ui/regions/regions-outlives-projection-container.stderr
  src/test/ui/type-alias-impl-trait/associated-type-impl-trait-lifetime.rs
  src/test/ui/ufcs/ufcs-partially-resolved.stderr
Labels: A-borrow-checker, A-bootstrap, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, T-types

#106468 Use FxIndexSet when updating obligation causes in `adjust_fulfillment_errors_for_expr_obligation`
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
Labels: T-compiler, S-waiting-on-bors

#106549 Use fmt named parameters in rustc_borrowck
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/outlives_suggestion.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/diagnostics/var_name.rs
  compiler/rustc_borrowck/src/facts.rs
Labels: T-compiler, S-waiting-on-bors

#106389 Simplify some canonical type alias names
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/ascribe_user_type.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/eq.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/mod.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/normalize.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/outlives.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/prove_predicate.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/subtype.rs
Labels: T-compiler, S-waiting-on-bors

#106047 Fix ui constant tests for big-endian platforms
  src/test/ui/const-ptr/forbidden_slices.64bit.stderr
  src/test/ui/const-ptr/forbidden_slices.rs
  src/test/ui/const-ptr/forbidden_slices.stderr
  src/test/ui/consts/const-eval/raw-bytes.32bit.stderr
  src/test/ui/consts/const-eval/raw-bytes.64bit.stderr
  src/test/ui/consts/const-eval/raw-bytes.rs
  src/test/ui/consts/const-eval/ub-enum.32bit.stderr
  src/test/ui/consts/const-eval/ub-enum.64bit.stderr
  src/test/ui/consts/const-eval/ub-enum.rs
  src/test/ui/consts/const-eval/ub-nonnull.32bit.stderr
  src/test/ui/consts/const-eval/ub-nonnull.rs
  src/test/ui/consts/const-eval/ub-nonnull.stderr
  src/test/ui/consts/const-eval/ub-ref-ptr.64bit.stderr
  src/test/ui/consts/const-eval/ub-ref-ptr.rs
  src/test/ui/consts/const-eval/ub-ref-ptr.stderr
  src/test/ui/consts/const-eval/ub-uninhabit.rs
  src/test/ui/consts/const-eval/ub-uninhabit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.64bit.stderr
  src/test/ui/consts/const-eval/ub-wide-ptr.rs
  src/test/ui/consts/const-eval/ub-wide-ptr.stderr
  src/test/ui/consts/issue-83182.64bit.stderr
  src/test/ui/consts/issue-83182.rs
  src/test/ui/consts/issue-83182.stderr
  src/test/ui/consts/std/alloc.32bit.stderr
  src/test/ui/consts/std/alloc.64bit.stderr
  src/test/ui/consts/std/alloc.rs
  src/test/ui/consts/validate_never_arrays.32bit.stderr
  src/test/ui/consts/validate_never_arrays.64bit.stderr
  src/test/ui/consts/validate_never_arrays.rs
  src/test/ui/consts/validate_never_arrays.stderr
Labels: T-compiler, S-waiting-on-bors

#106061 Enable Shadow Call Stack for Fuchsia on AArch64
  compiler/rustc_target/src/spec/aarch64_unknown_fuchsia.rs
Labels: T-compiler, S-waiting-on-bors

#106164 Move `check_region_obligations_and_report_errors` to `TypeErrCtxt`
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
Labels: T-compiler, S-waiting-on-bors

#106291 Fix incorrect suggestion for extra `&` in pattern
  compiler/rustc_hir_typeck/src/pat.rs
  src/test/ui/mismatched_types/issue-106182.fixed
  src/test/ui/mismatched_types/issue-106182.rs
  src/test/ui/mismatched_types/issue-106182.stderr
  src/test/ui/mismatched_types/ref-pat-suggestions.stderr
Labels: T-compiler, S-waiting-on-bors

#105292 Change a commit_if_ok call to probe
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  src/test/ui/const-generics/ensure_is_evaluatable.rs
  src/test/ui/const-generics/ensure_is_evaluatable.stderr
  src/test/ui/const-generics/fn_with_two_const_inputs.rs
  src/test/ui/const-generics/fn_with_two_const_inputs.stderr
  src/test/ui/const-generics/fn_with_two_same_const_inputs.rs
  src/test/ui/const-generics/issues/issue-105037.rs
  src/test/ui/const-generics/two_matching_preds.rs
  src/test/ui/const-generics/unify_with_nested_expr.rs
  src/test/ui/const-generics/unify_with_nested_expr.stderr
Labels: T-compiler, S-waiting-on-bors

#105655 Remove invalid case for mutable borrow suggestion
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/test/ui/suggestions/issue-105645.rs
  src/test/ui/suggestions/issue-105645.stderr
Labels: T-compiler, S-waiting-on-bors

#106495 Add regression test for #100772
  src/test/ui/lto/issue-100772.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#106636 Accept old spelling of Fuchsia target triples
  compiler/rustc_target/src/spec/aarch64_fuchsia.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/x86_64_fuchsia.rs
  src/doc/rustc/src/platform-support.md
Labels: T-compiler, S-waiting-on-bors

#106639 update Miri
  src/tools/miri/cargo-miri/src/phases.rs
  src/tools/miri/ci.sh
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/stacked_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/range_map.rs
  src/tools/miri/src/shims/env.rs
  src/tools/miri/src/shims/os_str.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/test_dependencies/Cargo.lock
  src/tools/miri/test_dependencies/Cargo.toml
  src/tools/miri/tests/fail/stacked_borrows/aliasing_mut3.stderr
  src/tools/miri/tests/fail/stacked_borrows/fnentry_invalidation.stderr
  src/tools/miri/tests/fail/stacked_borrows/fnentry_invalidation2.stderr
  src/tools/miri/tests/pass/concurrency/tls_lib_drop.rs
  src/tools/miri/tests/pass/shims/env/current_exe.rs
Labels: S-waiting-on-bors

#106640 update test for inductive canonical cycles
  src/test/ui/traits/solver-cycles/inductive-canonical-cycle.rs
  src/test/ui/traits/solver-cycles/inductive-canonical-cycle.stderr
Labels: T-compiler, S-waiting-on-bors

#106647 rustdoc: merge common CSS for `a`
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#106656 Rollup of 9 pull requests
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_const_eval/src/util/compare_types.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/table.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_target/src/spec/aarch64_fuchsia.rs
  compiler/rustc_target/src/spec/bpf_base.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/x86_64_fuchsia.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_traits/src/codegen.rs
  library/core/src/iter/traits/iterator.rs
  src/bootstrap/check.rs
  src/bootstrap/compile.rs
  src/bootstrap/tool.rs
  src/doc/rustc/src/platform-support.md
  src/librustdoc/html/static/css/rustdoc.css
  src/test/ui/hygiene/extern-prelude-from-opaque-fail.stderr
  src/test/ui/imports/bad-import-in-nested.rs
  src/test/ui/imports/bad-import-in-nested.stderr
  src/test/ui/imports/bad-import-with-rename.rs
  src/test/ui/imports/bad-import-with-rename.stderr
  src/test/ui/test-attrs/inaccessible-test-modules.stderr
  src/test/ui/traits/solver-cycles/inductive-canonical-cycle.rs
  src/test/ui/traits/solver-cycles/inductive-canonical-cycle.stderr
  src/tools/miri/cargo-miri/src/phases.rs
  src/tools/miri/ci.sh
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/stacked_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/range_map.rs
  src/tools/miri/src/shims/env.rs
  src/tools/miri/src/shims/os_str.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/test_dependencies/Cargo.lock
  src/tools/miri/test_dependencies/Cargo.toml
  src/tools/miri/tests/fail/stacked_borrows/aliasing_mut3.stderr
  src/tools/miri/tests/fail/stacked_borrows/fnentry_invalidation.stderr
  src/tools/miri/tests/fail/stacked_borrows/fnentry_invalidation2.stderr
  src/tools/miri/tests/pass/concurrency/tls_lib_drop.rs
  src/tools/miri/tests/pass/shims/env/current_exe.rs
Labels: T-rustdoc, T-compiler, A-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#106175 Fix bad import suggestion with nested `use` tree
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/imports.rs
  src/test/ui/hygiene/extern-prelude-from-opaque-fail.stderr
  src/test/ui/imports/bad-import-in-nested.rs
  src/test/ui/imports/bad-import-in-nested.stderr
  src/test/ui/imports/bad-import-with-rename.rs
  src/test/ui/imports/bad-import-with-rename.stderr
  src/test/ui/test-attrs/inaccessible-test-modules.stderr
Labels: T-compiler, S-waiting-on-bors

#106204 No need to take opaques in `check_type_bounds`
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_const_eval/src/util/compare_types.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/table.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_traits/src/codegen.rs
Labels: T-compiler, S-waiting-on-bors

#106387 Revert "bootstrap: Get rid of `tail_args` in `stream_cargo`"
  src/bootstrap/check.rs
  src/bootstrap/compile.rs
  src/bootstrap/tool.rs
Labels: A-bootstrap, S-waiting-on-bors

#105708 Enable atomic cas for bpf targets
  compiler/rustc_target/src/spec/bpf_base.rs
Labels: T-compiler, S-waiting-on-bors

#105034 Add example for iterator_flatten
  library/core/src/iter/traits/iterator.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#106662 specialize impl of `ToString` on `bool`
  library/alloc/src/string.rs
Labels: S-waiting-on-bors, T-libs

#106671 Change flags with a fixed default value from Option<bool> to bool
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_ty_utils/src/abi.rs
Labels: T-compiler, S-waiting-on-bors
