Repository rust-lang/rust, pull requests merged in 2023-06, with the labels that each got.

#110807 linker: Report linker flavors incompatible with the current target
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_session/messages.ftl
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_target/src/spec/mod.rs
  tests/ui/linkage-attr/incompatible-flavor.rs
  tests/ui/linkage-attr/incompatible-flavor.stderr
  tests/ui/linkage-attr/issue-10755.rs
  tests/ui/linkage-attr/unstable-flavor.bpf.stderr
  tests/ui/linkage-attr/unstable-flavor.ptx.stderr
  tests/ui/linkage-attr/unstable-flavor.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111567 Uplift `clippy::cast_ref_to_mut` lint
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/cast_ref_to_mut.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  src/tools/clippy/clippy_lints/src/casts/cast_ref_to_mut.rs
  src/tools/clippy/clippy_lints/src/casts/mod.rs
  src/tools/clippy/clippy_lints/src/declared_lints.rs
  src/tools/clippy/clippy_lints/src/renamed_lints.rs
  src/tools/clippy/tests/ui/cast_ref_to_mut.rs
  src/tools/clippy/tests/ui/cast_ref_to_mut.stderr
  src/tools/clippy/tests/ui/rename.fixed
  src/tools/clippy/tests/ui/rename.rs
  src/tools/clippy/tests/ui/rename.stderr
  src/tools/miri/tests/fail/modifying_constants.rs
  src/tools/miri/tests/fail/stacked_borrows/shr_frozen_violation1.rs
  tests/ui/const-generics/issues/issue-100313.rs
  tests/ui/const-generics/issues/issue-100313.stderr
  tests/ui/lint/cast_ref_to_mut.rs
  tests/ui/lint/cast_ref_to_mut.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#103877 Replace const eval limit by a lint and add an exponential backoff warning
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/middle/limits.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_session/src/session.rs
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/ci/stage-build.py
  src/doc/unstable-book/src/language-features/const-eval-limit.md
  src/tools/rust-analyzer/crates/hir-def/src/builtin_attr.rs
  tests/ui/consts/const-eval/infinite_loop.rs
  tests/ui/consts/const-eval/infinite_loop.stderr
  tests/ui/consts/const-eval/issue-52475.rs
  tests/ui/consts/const-eval/issue-52475.stderr
  tests/ui/consts/const-eval/issue-70723.rs
  tests/ui/consts/const-eval/issue-70723.stderr
  tests/ui/consts/const-eval/stable-metric/ctfe-fn-call.rs
  tests/ui/consts/const-eval/stable-metric/ctfe-fn-call.stderr
  tests/ui/consts/const-eval/stable-metric/ctfe-labelled-loop.rs
  tests/ui/consts/const-eval/stable-metric/ctfe-labelled-loop.stderr
  tests/ui/consts/const-eval/stable-metric/ctfe-recursion.rs
  tests/ui/consts/const-eval/stable-metric/ctfe-recursion.stderr
  tests/ui/consts/const-eval/stable-metric/ctfe-simple-loop.allow.stderr
  tests/ui/consts/const-eval/stable-metric/ctfe-simple-loop.rs
  tests/ui/consts/const-eval/stable-metric/ctfe-simple-loop.stderr
  tests/ui/consts/const-eval/stable-metric/ctfe-simple-loop.warn.stderr
  tests/ui/consts/const_limit/const_eval_limit_not_reached.rs
  tests/ui/consts/const_limit/const_eval_limit_overflow.rs
  tests/ui/consts/const_limit/const_eval_limit_overflow.stderr
  tests/ui/consts/const_limit/const_eval_limit_reached.rs
  tests/ui/consts/const_limit/const_eval_limit_reached.stderr
  tests/ui/consts/const_limit/feature-gate-const_eval_limit.rs
  tests/ui/consts/const_limit/feature-gate-const_eval_limit.stderr
Labels: A-testsuite, T-lang, relnotes, S-waiting-on-bors, T-infra, A-const-eval, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors

#112128 Don't compute inlining status of mono items in advance.
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors

#112141 remove reference to Into in ? operator core/std docs, fix #111655
  library/core/src/convert/mod.rs
Labels: S-waiting-on-bors, T-libs

#112164 Rollup of 7 pull requests
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/partitioning.rs
  library/core/src/convert/mod.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  tests/codegen/intrinsics/transmute.rs
  tests/rustdoc-gui/codeblock-tooltip.goml
  tests/rustdoc-gui/notable-trait.goml
  tests/rustdoc/intra-doc/issue-108459.rs
  tests/rustdoc/intra-doc/prim-precedence.rs
  tests/ui/chalkify/bugs/async.stderr
  tests/ui/dyn-star/param-env-infer.next.stderr
  tests/ui/impl-trait/auto-trait-leak.stderr
  tests/ui/impl-trait/multiple-defining-usages-in-body.rs
  tests/ui/impl-trait/multiple-defining-usages-in-body.stderr
  tests/ui/loops/dont-suggest-break-thru-item.rs
  tests/ui/loops/dont-suggest-break-thru-item.stderr
  tests/ui/traits/new-solver/dont-remap-tait-substs.rs
  tests/ui/type-alias-impl-trait/cross_inference.rs
  tests/ui/type-alias-impl-trait/multiple-def-uses-in-one-fn.rs
  tests/ui/type-alias-impl-trait/multiple-def-uses-in-one-fn.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#111892 rustdoc: add interaction delays for tooltip popovers
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  tests/rustdoc-gui/codeblock-tooltip.goml
  tests/rustdoc-gui/notable-trait.goml
Labels: T-rustdoc, S-waiting-on-bors

#111980 Preserve substs in opaques recorded in typeck results
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  tests/ui/chalkify/bugs/async.stderr
  tests/ui/dyn-star/param-env-infer.next.stderr
  tests/ui/impl-trait/auto-trait-leak.stderr
  tests/ui/impl-trait/multiple-defining-usages-in-body.rs
  tests/ui/impl-trait/multiple-defining-usages-in-body.stderr
  tests/ui/traits/new-solver/dont-remap-tait-substs.rs
  tests/ui/type-alias-impl-trait/cross_inference.rs
  tests/ui/type-alias-impl-trait/multiple-def-uses-in-one-fn.rs
  tests/ui/type-alias-impl-trait/multiple-def-uses-in-one-fn.stderr
Labels: T-compiler, S-waiting-on-bors

#112024 Don't suggest break through nested items
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/loops/dont-suggest-break-thru-item.rs
  tests/ui/loops/dont-suggest-break-thru-item.stderr
Labels: T-compiler, S-waiting-on-bors

#111318 Add a distinct `OperandValue::ZeroSized` variant for ZSTs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  tests/codegen/intrinsics/transmute.rs
Labels: T-compiler, S-waiting-on-bors

#108459 rustdoc: Fix LinkReplacer link matching
  src/librustdoc/html/markdown.rs
  tests/rustdoc/intra-doc/issue-108459.rs
  tests/rustdoc/intra-doc/prim-precedence.rs
Labels: T-rustdoc, S-waiting-on-bors

#112002 Enable ScalarReplacementOfAggregates in optimized builds
  compiler/rustc_mir_transform/src/sroa.rs
  tests/codegen/issues/issue-105386-ub-in-debuginfo.rs
  tests/incremental/hashes/match_expressions.rs
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.PreCodegen.after.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.Inline.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/mem_replace.mem_replace.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/simple_option_map.ezmap.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_mut_usize.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt, perf-regression

#111660 Do not build docs in try builds
  .github/workflows/ci.yml
  src/ci/docker/run.sh
  src/ci/github-actions/ci.yml
  src/ci/stage-build.py
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#112133 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/theme-in-history.goml
Labels: T-rustdoc, S-waiting-on-bors

#112146 Fix `src/etc/pre-push.sh` when `build.locked-deps` is already set
  src/etc/pre-push.sh
Labels: S-waiting-on-bors

#112147 add inline-const test for elided lifetimes being infer vars
  tests/ui/inline-const/elided-lifetime-being-infer-vars.rs
Labels: T-compiler, S-waiting-on-bors

#112154 Fix bug in utf16_to_utf8 for zero length strings
  library/std/src/sys/windows/stdio.rs
  library/std/src/sys/windows/stdio/tests.rs
Labels: S-waiting-on-bors, T-libs

#112155 Improve CGU debug printing.
  compiler/rustc_middle/src/mir/mono.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors

#112173 Mention GuillaumeGomez in case GUI tests are updated
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#112184 Rollup of 8 pull requests
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/mir/mono.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_monomorphize/src/partitioning.rs
  library/std/src/sys/windows/stdio.rs
  library/std/src/sys/windows/stdio/tests.rs
  src/bootstrap/test.rs
  src/etc/pre-push.sh
  tests/rustdoc-gui/theme-in-history.goml
  tests/ui/inline-const/elided-lifetime-being-infer-vars.rs
  triagebot.toml
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#111802 Make `x test --dry-run` less verbose
  src/bootstrap/test.rs
Labels: T-bootstrap, S-waiting-on-bors

#111496 Extra context for unreachable_pub lint
  compiler/rustc_lint/src/builtin.rs
Labels: T-compiler, S-waiting-on-bors

#111553 Add a few MIR pre-codegen tests
  tests/mir-opt/pre-codegen/chained_comparison.bitand.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/chained_comparison.naive.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/chained_comparison.returning.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/chained_comparison.rs
  tests/mir-opt/pre-codegen/checked_ops.checked_shl.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/checked_ops.rs
  tests/mir-opt/pre-codegen/checked_ops.step_forward.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.filter_mapped.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.int_range.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.mapped.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.rs
  tests/mir-opt/pre-codegen/loops.vec_move.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_filter.rs
  tests/mir-opt/pre-codegen/slice_filter.variant_a-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_filter.variant_b-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_iter.range_loop.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_iter.rs
  tests/mir-opt/slice_filter.rs
  tests/mir-opt/slice_filter.variant_a-{closure#0}.CopyProp.diff
  tests/mir-opt/slice_filter.variant_a-{closure#0}.DestinationPropagation.diff
  tests/mir-opt/slice_filter.variant_a-{closure#0}.ReferencePropagation.diff
  tests/mir-opt/slice_filter.variant_b-{closure#0}.CopyProp.diff
  tests/mir-opt/slice_filter.variant_b-{closure#0}.DestinationPropagation.diff
  tests/mir-opt/slice_filter.variant_b-{closure#0}.ReferencePropagation.diff
Labels: A-mir, S-waiting-on-bors, merged-by-bors

#112190 Improve comments on `TyCtxt` and `GlobalCtxt`.
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors

#112193 Check tuple elements are `Sized` in `offset_of`
  compiler/rustc_hir_typeck/src/expr.rs
  tests/ui/offset-of/offset-of-dst-field.rs
  tests/ui/offset-of/offset-of-dst-field.stderr
  tests/ui/offset-of/offset-of-tuple.rs
  tests/ui/offset-of/offset-of-tuple.stderr
  tests/ui/offset-of/offset-of-unsized.rs
Labels: T-compiler, S-waiting-on-bors

#112150 Support 128-bit atomics on all x86_64 Apple targets
  compiler/rustc_target/src/spec/x86_64_apple_ios.rs
  compiler/rustc_target/src/spec/x86_64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/x86_64_apple_tvos.rs
  compiler/rustc_target/src/spec/x86_64_apple_watchos_sim.rs
Labels: T-compiler, S-waiting-on-bors

#112174 Fix broken link
  compiler/rustc_target/src/abi/call/x86_64.rs
Labels: T-compiler, S-waiting-on-bors

#111914 CFI: Fix cfi with async: transform_ty: unexpected GeneratorWitness(Bi…
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  tests/ui/sanitize/issue-111184-generator-witness.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#112030 Migrate `item_trait_alias` to Askama
  src/librustdoc/html/render/print_item.rs
Labels: T-rustdoc, S-waiting-on-bors

#112152 Fix the progress message for `x doc rustc`
  src/bootstrap/builder.rs
  src/bootstrap/doc.rs
  src/bootstrap/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#112165 Rename `impl_defaultness` to `defaultness`
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/traits/specialization_graph.rs
  compiler/rustc_middle/src/ty/assoc.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_ty_utils/src/assoc.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_ty_utils/src/ty.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/clippy/clippy_lints/src/missing_inline.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#112182 CFI: Fix cfi with repr(transparent): transform_ty: unexpected Alias(Proj
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  tests/codegen/sanitizer-cfi-emit-type-metadata-id-itanium-cxx-abi.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#112189 Debug-assert that closures and generators are made with the right number of substitutions
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors

#112205 Add rustdoc test for double-hyphen to dash doc comment conversion
  tests/rustdoc/double-hyphen-to-dash.rs
Labels: T-rustdoc, S-waiting-on-bors

#112206 Fix typo in `std::cell` module docs
  library/core/src/cell.rs
Labels: S-waiting-on-bors, T-libs

#112212 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/gdb.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/traits/specialization_graph.rs
  compiler/rustc_middle/src/ty/assoc.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_ty_utils/src/assoc.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_ty_utils/src/ty.rs
  library/core/src/cell.rs
  library/std/src/lib.rs
  library/std/src/sys/unix/args.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/process/process_common.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/compat.rs
  library/std/src/sys/windows/mod.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/clippy/clippy_lints/src/missing_inline.rs
  src/tools/tidy/src/deps.rs
  tests/codegen/sanitizer-cfi-emit-type-metadata-id-itanium-cxx-abi.rs
  tests/rustdoc/double-hyphen-to-dash.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#111647 use c literals in compiler and library
  Cargo.lock
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/gdb.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  library/std/src/lib.rs
  library/std/src/sys/unix/args.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/process/process_common.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/compat.rs
  library/std/src/sys/windows/mod.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-libs

#112162 Clarify mono item usage
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112166 bootstrap: Rename profile = user to profile = dist
  src/bootstrap/setup.rs
Labels: T-bootstrap, S-waiting-on-bors

#112168 Lower `unchecked_div`/`_rem` to MIR's `BinOp::Div`/`Rem`
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_ssa/src/mir/intrinsic.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  tests/mir-opt/lower_intrinsics.align_of.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.assume.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.discriminant.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.f_copy_nonoverlapping.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.forget.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.non_const.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.option_payload.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.ptr_offset.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.read_via_copy_primitive.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.read_via_copy_uninhabited.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.rs
  tests/mir-opt/lower_intrinsics.size_of.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.transmute_inhabited.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.transmute_ref_dst.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.transmute_to_box_uninhabited.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.transmute_to_mut_uninhabited.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.transmute_to_ref_uninhabited.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.transmute_uninhabited.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.unchecked.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.unreachable.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.with_overflow.LowerIntrinsics.diff
  tests/mir-opt/lower_intrinsics.write_via_move_string.LowerIntrinsics.diff
Labels: T-compiler, S-waiting-on-bors

#112183 Normalize anon consts in new solver
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/outlives/mod.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  tests/ui/traits/new-solver/array-default.rs
  tests/ui/traits/new-solver/structural-resolve-field.rs
  tests/ui/traits/new-solver/unevaluated-const-impl-trait-ref.fails.stderr
  tests/ui/traits/new-solver/unevaluated-const-impl-trait-ref.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#112211 pass `--lib` to `x doc`
  src/bootstrap/doc.rs
Labels: T-bootstrap, S-waiting-on-bors

#112223 Don't ICE in new solver when auto traits have associated types
  compiler/rustc_trait_selection/src/solve/project_goals.rs
  tests/ui/auto-traits/issue-23080-2.current.stderr
  tests/ui/auto-traits/issue-23080-2.next.stderr
  tests/ui/auto-traits/issue-23080-2.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#109609 Separate AnonConst from ConstBlock in HIR.
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/generator_interior/drop_ranges/cfg_build.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_transform/src/check_unsafety.rs
  compiler/rustc_passes/src/check_const.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/loops.rs
  compiler/rustc_ty_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#112217 Update dependencies with reported vulnerabilities
  Cargo.lock
  compiler/rustc_data_structures/src/temp_dir.rs
  src/tools/rust-installer/Cargo.toml
  src/tools/rust-installer/src/util.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#111350 Remove leftover of type ascription feature gating
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_hir_typeck/src/cast.rs
  tests/ui/lint/trivial-casts-featuring-type-ascription.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#111516 Don't use `can_eq` in `derive(..)` suggestion for missing method
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/issues/issue-62375.stderr
  tests/ui/typeck/derive-sugg-arg-arity.rs
  tests/ui/typeck/derive-sugg-arg-arity.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#109432 QNX Neutrino: exponential backoff when fork/spawn needs a retry
  library/std/src/sys/unix/process/process_unix.rs
  src/doc/rustc/src/platform-support/nto-qnx.md
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-neutrino

#112032 Migrate `item_primitive` to Askama
  src/librustdoc/html/render/print_item.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#112253 Rollup of 7 pull requests
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  library/core/src/option.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/clean.rs
  src/bootstrap/config.rs
  src/bootstrap/setup.rs
  src/etc/rust_analyzer_settings.json
  src/tools/x/Cargo.lock
  tests/codegen/box-maybe-uninit-llvm14.rs
  tests/codegen/box-maybe-uninit.rs
  tests/codegen/call-metadata.rs
  tests/codegen/debug-column.rs
  tests/codegen/drop.rs
  tests/codegen/external-no-mangle-statics.rs
  tests/codegen/issues/issue-86106.rs
  tests/codegen/link_section.rs
  tests/codegen/mir-inlined-line-numbers.rs
  tests/codegen/naked-noinline.rs
  tests/codegen/personality_lifetimes.rs
  tests/codegen/ptr-read-metadata.rs
  tests/codegen/tuple-layout-opt.rs
  tests/codegen/union-abi.rs
  tests/codegen/unwind-abis/c-unwind-abi.rs
  tests/codegen/unwind-abis/cdecl-unwind-abi.rs
  tests/codegen/unwind-abis/nounwind-on-stable-panic-unwind.rs
  tests/codegen/unwind-abis/system-unwind-abi.rs
  tests/codegen/unwind-extern-exports.rs
  tests/codegen/unwind-extern-imports.rs
  tests/codegen/vec-shrink-panik.rs
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.rs
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.stderr
  tests/ui/mismatched_types/suggest-option-asderef.fixed
  tests/ui/mismatched_types/suggest-option-asderef.rs
  tests/ui/mismatched_types/suggest-option-asderef.stderr
  tests/ui/typeck/return-dyn-type-mismatch-2.rs
  tests/ui/typeck/return-dyn-type-mismatch-2.stderr
  tests/ui/typeck/return-dyn-type-mismatch.rs
  tests/ui/typeck/return-dyn-type-mismatch.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#111998 Add other workspaces to `linkedProjects` in rust_analyzer_settings
  src/bootstrap/setup.rs
  src/etc/rust_analyzer_settings.json
  src/tools/x/Cargo.lock
Labels: T-bootstrap, S-waiting-on-bors, A-contributor-roadblock

#112215 only suppress coercion error if type is definitely unsized
  compiler/rustc_hir_typeck/src/coercion.rs
  tests/ui/typeck/return-dyn-type-mismatch-2.rs
  tests/ui/typeck/return-dyn-type-mismatch-2.stderr
  tests/ui/typeck/return-dyn-type-mismatch.rs
  tests/ui/typeck/return-dyn-type-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#112231 Make sure the build.rustc version is either the same or 1 apart (revised)
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#111659 suggest `Option::as_deref(_mut)` on type mismatch in option combinator if it passes typeck
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.rs
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.stderr
  tests/ui/mismatched_types/suggest-option-asderef.fixed
  tests/ui/mismatched_types/suggest-option-asderef.rs
  tests/ui/mismatched_types/suggest-option-asderef.stderr
Labels: T-compiler, S-waiting-on-bors

#111702 Option::map_or_else: Show an example of integrating with Result
  library/core/src/option.rs
Labels: S-waiting-on-bors, T-libs

#111878 Fix codegen test suite for bare-metal-like targets
  tests/codegen/box-maybe-uninit-llvm14.rs
  tests/codegen/box-maybe-uninit.rs
  tests/codegen/call-metadata.rs
  tests/codegen/debug-column.rs
  tests/codegen/drop.rs
  tests/codegen/external-no-mangle-statics.rs
  tests/codegen/issues/issue-86106.rs
  tests/codegen/link_section.rs
  tests/codegen/mir-inlined-line-numbers.rs
  tests/codegen/naked-noinline.rs
  tests/codegen/personality_lifetimes.rs
  tests/codegen/ptr-read-metadata.rs
  tests/codegen/tuple-layout-opt.rs
  tests/codegen/union-abi.rs
  tests/codegen/unwind-abis/c-unwind-abi.rs
  tests/codegen/unwind-abis/cdecl-unwind-abi.rs
  tests/codegen/unwind-abis/nounwind-on-stable-panic-unwind.rs
  tests/codegen/unwind-abis/system-unwind-abi.rs
  tests/codegen/unwind-extern-exports.rs
  tests/codegen/unwind-extern-imports.rs
  tests/codegen/vec-shrink-panik.rs
Labels: S-waiting-on-bors

#111969 bootstrap: Make `clean` respect `dry-run`
  src/bootstrap/clean.rs
Labels: T-bootstrap, S-waiting-on-bors

#112244 update Miri
  src/tools/miri/ci.sh
  src/tools/miri/miri
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/tree_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/perms.rs
  src/tools/miri/src/diagnostics.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/tests/compiletest.rs
  src/tools/miri/tests/fail/intrinsics/unchecked_shl.rs
  src/tools/miri/tests/fail/intrinsics/unchecked_shl.stderr
  src/tools/miri/tests/fail/intrinsics/unchecked_shr.rs
  src/tools/miri/tests/fail/intrinsics/unchecked_shr.stderr
  src/tools/miri/tests/fail/tree-borrows/alternate-read-write.stderr
  src/tools/miri/tests/fail/tree-borrows/error-range.stderr
  src/tools/miri/tests/fail/tree-borrows/fragile-data-race.stderr
  src/tools/miri/tests/fail/tree-borrows/read-to-local.stderr
  src/tools/miri/tests/fail/tree-borrows/strongly-protected.stderr
  src/tools/miri/tests/fail/tree-borrows/write-during-2phase.stderr
  src/tools/miri/tests/pass/shims/fs.rs
Labels: S-waiting-on-bors, merged-by-bors

#112240 Only check inlining counter after recursing.
  compiler/rustc_mir_transform/src/inline.rs
  tests/mir-opt/inline/cycle.main.Inline.diff
  tests/mir-opt/inline/exponential_runtime.main.Inline.diff
  tests/mir-opt/inline/inline_cycle.two.Inline.diff
  tests/mir-opt/inline/inline_cycle_generic.main.Inline.diff
  tests/mir-opt/inline/inline_diverging.h.Inline.diff
  tests/mir-opt/pre-codegen/checked_ops.checked_shl.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.int_range.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/range_iter.forward_loop.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/range_iter.range_iter_next.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_iter.range_loop.PreCodegen.after.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112246 [beta] backports + stage0 bump
  compiler/rustc_borrowck/src/def_use.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_mir_transform/src/ssa.rs
  src/stage0.json
  tests/ui/closures/2229_closure_analysis/unique-borrows-are-invariant-1.rs
  tests/ui/closures/2229_closure_analysis/unique-borrows-are-invariant-1.stderr
  tests/ui/closures/2229_closure_analysis/unique-borrows-are-invariant-2.rs
  tests/ui/closures/2229_closure_analysis/unique-borrows-are-invariant-2.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors

#109525 Rpath is not supported on AIX
  src/bootstrap/builder.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#112172 doc: improve explanation
  library/std/src/sync/once.rs
Labels: S-waiting-on-bors, T-libs

#112178 Fix bug where private item with intermediate doc hidden re-export was not inlined
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  tests/rustdoc/inline-private-with-intermediate-doc-hidden.rs
  tests/rustdoc/reexport-attr-merge.rs
Labels: T-rustdoc, S-waiting-on-bors

#112270 Rollup of 6 pull requests
  library/core/src/option.rs
  library/std/src/sync/once.rs
  src/bootstrap/builder.rs
  src/bootstrap/compile.rs
  src/bootstrap/download.rs
  src/bootstrap/test.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  tests/rustdoc/inline-private-with-intermediate-doc-hidden.rs
  tests/rustdoc/reexport-attr-merge.rs
  triagebot.toml
Labels: T-rustdoc, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#111982 Revert "Enable incremental independent of stage"
  src/bootstrap/builder.rs
Labels: T-bootstrap, S-waiting-on-bors

#112158 Add portable-simd mention
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#110701 Fix `x test core` when download-rustc is enabled
  src/bootstrap/builder.rs
  src/bootstrap/compile.rs
  src/bootstrap/download.rs
  src/bootstrap/test.rs
Labels: T-bootstrap, S-waiting-on-bors, A-download-rustc

#109093 add `#[doc(alias="flatmap")]` to `Option::and_then`
  library/core/src/option.rs
Labels: S-waiting-on-bors, T-libs

#112176 Print the full arguments passed to `./configure` in CI
  src/bootstrap/configure.py
  src/ci/run.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#112247 rust-lld: add rpath entry to the correct `lib` folder
  src/bootstrap/llvm.rs
Labels: T-bootstrap, S-waiting-on-bors

#112274 Migrate GUI colors test to original CSS color format
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  tests/rustdoc-gui/sidebar-mobile.goml
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#112277 Don't require the output from libtest to be valid UTF-8
  src/bootstrap/render_tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#112282 Rollup of 3 pull requests
  src/bootstrap/llvm.rs
  src/bootstrap/render_tests.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  tests/rustdoc-gui/sidebar-mobile.goml
Labels: A-testsuite, T-rustdoc, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup

#112266 Fix type-inference regression in #112225
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/async-await/issues/issue-112225-1.rs
  tests/ui/async-await/issues/issue-112225-2.rs
  tests/ui/async-await/issues/issue-112225-2.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-review, merged-by-bors

#112272 Show note for type ascription on a local binding interpreted as a constant pattern and not a new variable
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  tests/ui/mir/issue-112269.rs
  tests/ui/mir/issue-112269.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#110945 rustdoc: render visibility on associated types
  src/librustdoc/html/render/mod.rs
  tests/rustdoc/anchors.no_type_anchor2.html
  tests/rustdoc/visibility.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-ui, F-inherent_associated_types

#112299 Don't double-print status messages in GHA
  src/bootstrap/lib.rs
  src/tools/build_helper/src/ci.rs
Labels: T-bootstrap, S-waiting-on-bors

#112311 Ignore fluent message reordering in `git blame`
  .git-blame-ignore-revs
Labels: S-waiting-on-bors, A-meta

#112317 Rollup of 6 pull requests
  .git-blame-ignore-revs
  compiler/rustc_driver/src/lib.rs
  library/alloc/src/vec/mod.rs
  library/alloc/src/vec/spec_from_elem.rs
  src/bootstrap/builder.rs
  src/bootstrap/check.rs
  src/bootstrap/lib.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/visit_ast.rs
  src/tools/build_helper/src/ci.rs
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#112243 Remove unneeded `Buffer` allocations when `&mut fmt::Write` can be used directly
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
Labels: T-rustdoc, S-waiting-on-bors

#112263 Remove ExtendElement, ExtendWith, extend_with
  library/alloc/src/vec/mod.rs
  library/alloc/src/vec/spec_from_elem.rs
Labels: S-waiting-on-bors, T-libs

#112291 Disable RustAnalyzer check by default, run Rustfmt check before
  src/bootstrap/builder.rs
  src/bootstrap/check.rs
Labels: T-bootstrap, S-waiting-on-bors

#112303 Normalize in infcx instead of globally for `Option::as_deref` suggestion
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/mismatched_types/suggest-option-asderef-inference-var.rs
  tests/ui/mismatched_types/suggest-option-asderef-inference-var.stderr
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.rs
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.stderr
  tests/ui/mismatched_types/suggest-option-asderef.fixed
  tests/ui/mismatched_types/suggest-option-asderef.rs
  tests/ui/mismatched_types/suggest-option-asderef.stderr
Labels: T-compiler, S-waiting-on-bors

#112316 Ensure space is inserted after keyword in `unused_delims`
  compiler/rustc_lint/src/unused.rs
  tests/ui/lint/lint-unnecessary-parens.fixed
  tests/ui/lint/lint-unnecessary-parens.rs
  tests/ui/lint/lint-unnecessary-parens.stderr
Labels: T-compiler, S-waiting-on-bors

#112318 Merge method, type and const object safety checks
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
Labels: T-compiler, S-waiting-on-bors

#112322 Don't mention `IMPLIED_BOUNDS_ENTAILMENT` if signatures reference error
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  tests/ui/implied-bounds/references-err.rs
  tests/ui/implied-bounds/references-err.stderr
Labels: T-compiler, S-waiting-on-bors

#112324 Rollup of 6 pull requests
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/custom.rs
  tests/ui/attributes/doc-test-literal.rs
  tests/ui/attributes/doc-test-literal.stderr
  tests/ui/implied-bounds/references-err.rs
  tests/ui/implied-bounds/references-err.stderr
  tests/ui/issues/issue-13167.rs
  tests/ui/issues/issue-15734.rs
  tests/ui/lint/lint-unnecessary-parens.fixed
  tests/ui/lint/lint-unnecessary-parens.rs
  tests/ui/lint/lint-unnecessary-parens.stderr
  tests/ui/mismatched_types/suggest-option-asderef-inference-var.rs
  tests/ui/mismatched_types/suggest-option-asderef-inference-var.stderr
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.rs
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.stderr
  tests/ui/mismatched_types/suggest-option-asderef.fixed
  tests/ui/mismatched_types/suggest-option-asderef.rs
  tests/ui/mismatched_types/suggest-option-asderef.stderr
  tests/ui/nll/issue-53119.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#112081 Avoid ICE on `#![doc(test(...)]` with literal parameter
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  tests/ui/attributes/doc-test-literal.rs
  tests/ui/attributes/doc-test-literal.stderr
Labels: T-compiler, S-waiting-on-bors

#112196 Resolve vars in result from `scrape_region_constraints`
  compiler/rustc_trait_selection/src/traits/query/type_op/custom.rs
  tests/ui/issues/issue-13167.rs
  tests/ui/issues/issue-15734.rs
  tests/ui/nll/issue-53119.rs
Labels: T-compiler, S-waiting-on-bors

#111999 Use `load`+`store` instead of `memcpy` for small integer arrays
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/traits/type_.rs
  tests/codegen/array-codegen.rs
  tests/codegen/mem-replace-simple-type.rs
  tests/codegen/swap-simd-types.rs
  tests/codegen/swap-small-types.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112344 Rollup of 7 pull requests
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/riscv32imac_esp_espidf.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/esp-idf.md
  src/etc/gdb_load_rust_pretty_printers.py
  src/librustdoc/clean/blanket_impl.rs
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/print.checks
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/script.sh
  tests/ui/borrowck/issue-111554.rs
  tests/ui/borrowck/issue-111554.stderr
  tests/ui/closures/issue-111932.rs
  tests/ui/closures/issue-111932.stderr
  tests/ui/parser/issue-112188.fixed
  tests/ui/parser/issue-112188.rs
  tests/ui/parser/issue-112188.stderr
  tests/ui/parser/issue-49257.stderr
  tests/ui/unsized-locals/issue-67981.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#112199 Fix suggestion for matching struct with `..` on both ends
  compiler/rustc_parse/src/parser/pat.rs
  tests/ui/parser/issue-112188.fixed
  tests/ui/parser/issue-112188.rs
  tests/ui/parser/issue-112188.stderr
  tests/ui/parser/issue-49257.stderr
Labels: T-compiler, S-waiting-on-bors

#112220 Cleanup some `EarlyBinder::skip_binder()` -> `EarlyBinder::subst_identity()`
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_mir_transform/src/shim.rs
  src/librustdoc/clean/blanket_impl.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#112325 diagnostics: do not suggest type name tweaks on type-inferred closure args
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/closures/issue-111932.rs
  tests/ui/closures/issue-111932.stderr
  tests/ui/unsized-locals/issue-67981.stderr
Labels: T-compiler, S-waiting-on-bors

#111962 Make GDB Python Pretty Printers loadable after spawning GDB, avoiding required `rust-gdb`
  src/etc/gdb_load_rust_pretty_printers.py
Labels: S-waiting-on-bors

#112019 Don't suggest changing `&self` and `&mut self` in function signature to be mutable when taking `&mut self` in closure
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  tests/ui/borrowck/issue-111554.rs
  tests/ui/borrowck/issue-111554.stderr
Labels: T-compiler, S-waiting-on-bors

#111369 Added custom risc32-imac for esp-espidf target
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/riscv32imac_esp_espidf.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/esp-idf.md
Labels: T-compiler, S-waiting-on-bors

#111058 Correct fortanix LVI test print function
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/print.checks
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/script.sh
Labels: A-testsuite, S-waiting-on-bors

#112310 Add new Tier-3 targets: `loongarch64-unknown-none*`
  compiler/rustc_target/src/spec/loongarch64_unknown_none.rs
  compiler/rustc_target/src/spec/loongarch64_unknown_none_softfloat.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/loongarch-none.md
Labels: T-compiler, S-waiting-on-bors

#112334 Add myself to highfive rotation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#112340 remove `TyCtxt::has_error_field` helper method
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_middle/src/ty/util.rs
  tests/ui/const-generics/const-param-type-depends-on-type-param.full.stderr
  tests/ui/const-generics/const-param-type-depends-on-type-param.min.stderr
  tests/ui/const-generics/const-param-type-depends-on-type-param.rs
Labels: T-compiler, S-waiting-on-bors

#112343 Prevent emitting `missing_docs` for `pub extern crate`
  compiler/rustc_lint/src/builtin.rs
  tests/ui/lint/auxiliary/missing_docs.rs
  tests/ui/lint/lint-missing-doc.rs
  tests/ui/lint/lint-missing-doc.stderr
Labels: T-compiler, S-waiting-on-bors

#112356 Fix comment for `get_region_var_origins`
  compiler/rustc_infer/src/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#112358 Remove default visitor impl in region constraint generation
  compiler/rustc_borrowck/src/constraint_generation.rs
Labels: T-compiler, S-waiting-on-bors

#112361 Rollup of 8 pull requests
  compiler/rustc_borrowck/src/constraint_generation.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_target/src/spec/loongarch64_unknown_none.rs
  compiler/rustc_target/src/spec/loongarch64_unknown_none_softfloat.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/loongarch-none.md
  tests/ui/const-generics/const-param-type-depends-on-type-param.full.stderr
  tests/ui/const-generics/const-param-type-depends-on-type-param.min.stderr
  tests/ui/const-generics/const-param-type-depends-on-type-param.rs
  tests/ui/lint/auxiliary/missing_docs.rs
  tests/ui/lint/lint-missing-doc.rs
  tests/ui/lint/lint-missing-doc.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#111250 Add Terminator conversion from MIR to SMIR, part #2
  compiler/rustc_smir/src/rustc_smir/mod.rs
Labels: T-compiler, S-waiting-on-bors

#111495 Run tests on PGO/LTO/BOLT optimized dist artifacts
  src/bootstrap/lib.rs
  src/bootstrap/test.rs
  src/ci/stage-build.py
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#111819 Improved std support for ps vita target
  Cargo.lock
  compiler/rustc_target/src/spec/armv7_sony_vita_newlibeabihf.rs
  library/std/Cargo.toml
  library/std/src/os/unix/process.rs
  library/std/src/sys/unix/fd.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/mod.rs
  library/std/src/sys/unix/net.rs
  library/std/src/sys/unix/thread_parking/pthread.rs
  src/doc/rustc/src/platform-support/armv7-sony-vita-newlibeabihf.md
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#96875 Add `task::Waker::noop`
  library/core/src/task/wake.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors, T-libs

#111047 Emit an error when return-type-notation is used with type/const params
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_infer/src/infer/type_variable.rs
  compiler/rustc_middle/src/infer/unify_key.rs
  tests/ui/async-await/return-type-notation/ty-or-ct-params.rs
  tests/ui/async-await/return-type-notation/ty-or-ct-params.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112345 fix(expand): prevent infinity loop in macro containing only "///"
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  tests/ui/macros/issue-112342-1.rs
  tests/ui/macros/issue-112342-1.stderr
  tests/ui/macros/issue-112342-2.rs
  tests/ui/macros/issue-112342-2.stderr
Labels: T-compiler, S-waiting-on-bors

#112383 Rollup of 6 pull requests
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_hir_analysis/src/autoderef.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/inherited.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/equate.rs
  compiler/rustc_infer/src/infer/lattice.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_infer/src/infer/projection.rs
  compiler/rustc_infer/src/infer/sub.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/structural_normalize.rs
  compiler/rustc_traits/src/codegen.rs
  compiler/rustc_traits/src/evaluate_obligation.rs
  src/bootstrap/compile.rs
  src/librustdoc/visit_ast.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/runtest.rs
  tests/ui/macros/issue-112342-1.rs
  tests/ui/macros/issue-112342-1.stderr
  tests/ui/macros/issue-112342-2.rs
  tests/ui/macros/issue-112342-2.stderr
  tests/ui/specialization/specialization-default-items-drop-coherence.coherence.stderr
  tests/ui/specialization/specialization-default-items-drop-coherence.next.stderr
  tests/ui/specialization/specialization-default-items-drop-coherence.rs
  tests/ui/traits/new-solver/tait-eq-proj-2.rs
  tests/ui/traits/new-solver/tait-eq-proj.rs
  tests/ui/traits/new-solver/tait-eq-tait.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#112251 rustdoc: convert `if let Some()` that always matches to variable
  src/librustdoc/visit_ast.rs
Labels: T-rustdoc, S-waiting-on-bors

#112076 Fall back to bidirectional normalizes-to if no subst-relate candidate in alias-relate goal
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  tests/ui/traits/new-solver/tait-eq-proj-2.rs
  tests/ui/traits/new-solver/tait-eq-proj.rs
  tests/ui/traits/new-solver/tait-eq-tait.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#112122 Add `-Ztrait-solver=next-coherence`
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_analysis/src/autoderef.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/inherited.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/combine.rs
  compiler/rustc_infer/src/infer/equate.rs
  compiler/rustc_infer/src/infer/lattice.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_infer/src/infer/projection.rs
  compiler/rustc_infer/src/infer/sub.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/structural_normalize.rs
  compiler/rustc_traits/src/codegen.rs
  compiler/rustc_traits/src/evaluate_obligation.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/runtest.rs
  tests/ui/specialization/specialization-default-items-drop-coherence.coherence.stderr
  tests/ui/specialization/specialization-default-items-drop-coherence.next.stderr
  tests/ui/specialization/specialization-default-items-drop-coherence.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, WG-trait-system-refactor

#112359 Respect `RUST_BACKTRACE` for delayed bugs
  compiler/rustc_errors/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#112382 download-rustc: Fix `x test core` on MacOS
  src/bootstrap/compile.rs
Labels: T-bootstrap, S-waiting-on-bors, A-download-rustc

#109005 Remember names of `cfg`-ed out items to mention them in diagnostics
  compiler/rustc_ast/src/expand/mod.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
  tests/ui/cfg/auxiliary/cfged_out.rs
  tests/ui/cfg/diagnostics-cross-crate.rs
  tests/ui/cfg/diagnostics-cross-crate.stderr
  tests/ui/cfg/diagnostics-not-a-def.rs
  tests/ui/cfg/diagnostics-not-a-def.stderr
  tests/ui/cfg/diagnostics-reexport.rs
  tests/ui/cfg/diagnostics-reexport.stderr
  tests/ui/cfg/diagnostics-same-crate.rs
  tests/ui/cfg/diagnostics-same-crate.stderr
  tests/ui/macros/builtin-std-paths-fail.stderr
  tests/ui/macros/macro-outer-attributes.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#111698 Force all native libraries to be statically linked when linking a static binary
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/rustc/src/command-line-arguments.md
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112012 Avoid one `rustc` rebuild in the optimized build pipeline
  src/bootstrap/compile.rs
  src/ci/stage-build.py
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, perf-regression

#112292 Avoid unwind across `extern "C"` in `thread_local::fast_local`
  library/std/src/sys/common/thread_local/fast_local.rs
  library/std/src/sys/common/thread_local/mod.rs
  library/std/src/thread/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#110040 Removed use of iteration through a HashMap/HashSet in rustc_incremental and replaced with IndexMap/IndexSet
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_cranelift/src/lib.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/traits/backend.rs
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_data_structures/src/unord.rs
  compiler/rustc_hir/src/hir_id.rs
  compiler/rustc_incremental/src/assert_dep_graph.rs
  compiler/rustc_incremental/src/assert_module_sources.rs
  compiler/rustc_incremental/src/lib.rs
  compiler/rustc_incremental/src/persist/dirty_clean.rs
  compiler/rustc_incremental/src/persist/fs.rs
  compiler/rustc_incremental/src/persist/fs/tests.rs
  compiler/rustc_incremental/src/persist/load.rs
  compiler/rustc_incremental/src/persist/save.rs
  compiler/rustc_incremental/src/persist/work_product.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_query_system/src/dep_graph/dep_node.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_session/src/config.rs
  src/tools/clippy/clippy_lints/src/wildcard_imports.rs
  tests/run-make-fulldeps/hotplug_codegen_backend/the_backend.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#112388 Migrate GUI colors test to original CSS color format
  tests/rustdoc-gui/theme-change.goml
Labels: T-rustdoc, S-waiting-on-bors

#112389 Add a test for #105709
  tests/ui/const-generics/generic_const_exprs/inline-const-in-const-generic-defaults.rs
Labels: T-compiler, S-waiting-on-bors

#112309 bootstrap: remove dependency `is-terminal`
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#112034 Migrate `item_opaque_ty` to Askama
  src/librustdoc/html/render/print_item.rs
Labels: T-rustdoc, S-waiting-on-bors

#112179 Avoid passing --cpu-features when empty
  compiler/rustc_codegen_ssa/src/back/link.rs
Labels: T-compiler, S-waiting-on-bors

#112420 Rollup of 4 pull requests
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  library/core/src/any.rs
  library/core/src/intrinsics.rs
  src/bootstrap/tool.rs
  tests/ui/traits/new-solver/normalized-const-built-in-op.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-query-system

#112333 Don't hold the active queries lock while calling `make_query`
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#112339 Fix rust-analyzer proc macro server
  src/bootstrap/tool.rs
Labels: T-bootstrap, S-waiting-on-bors

#109953 Use 128 bits for TypeId hash
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/ty/util.rs
  library/core/src/any.rs
  library/core/src/intrinsics.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#112068 Move tests from `ui/discrim` dir
  src/tools/tidy/src/ui_tests.rs
  tests/ui/enum-discriminant/discriminant-ill-typed.rs
  tests/ui/enum-discriminant/discriminant-ill-typed.stderr
  tests/ui/enum-discriminant/discriminant-overflow-2.rs
  tests/ui/enum-discriminant/discriminant-overflow-2.stderr
  tests/ui/enum-discriminant/discriminant-overflow.rs
  tests/ui/enum-discriminant/discriminant-overflow.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#112116 Misc HIR typeck type mismatch tweaks
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_infer/messages.ftl
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_infer/src/infer/error_reporting/suggest.rs
  tests/ui/associated-types/dont-suggest-cyclic-constraint.rs
  tests/ui/associated-types/dont-suggest-cyclic-constraint.stderr
  tests/ui/inference/deref-suggestion.stderr
  tests/ui/issues/issue-100605.stderr
  tests/ui/let-else/let-else-ref-bindings.stderr
  tests/ui/suggestions/as-ref.rs
  tests/ui/suggestions/as-ref.stderr
  tests/ui/suggestions/dont-suggest-try_into-in-macros.stderr
  tests/ui/switched-expectations.stderr
  tests/ui/typeck/issue-89856.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112395 Add Terminator::InlineAsm conversion from MIR to SMIR
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
Labels: T-compiler, S-waiting-on-bors

#112411 add programmerjake to portable-simd cc list
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#112428 Structurally resolve pointee in `check_pat_lit`
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/traits/new-solver/slice-match-byte-lit.rs
Labels: T-compiler, S-waiting-on-bors

#112444 Don't debug-print `Interned` or `PrivateZst`
  compiler/rustc_data_structures/src/intern.rs
Labels: T-compiler, S-waiting-on-bors

#112450 Rollup of 5 pull requests
  compiler/rustc_data_structures/src/intern.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  tests/ui/async-await/drop-track-bad-field-in-fru.stderr
  tests/ui/did_you_mean/issue-42599_available_fields_note.stderr
  tests/ui/error-codes/E0560.stderr
  tests/ui/issues/issue-5439.stderr
  tests/ui/proc-macro/span-preservation.stderr
  tests/ui/structs/struct-field-cfg.stderr
  tests/ui/structs/struct-fields-shorthand.stderr
  tests/ui/structs/struct-fields-too-many.stderr
  tests/ui/traits/new-solver/slice-match-byte-lit.rs
  tests/ui/union/union-fields-2.mirunsafeck.stderr
  tests/ui/union/union-fields-2.thirunsafeck.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#111626 Write to stdout if `-` is given as output file
  Cargo.lock
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_driver_impl/src/pretty.rs
  compiler/rustc_interface/Cargo.toml
  compiler/rustc_interface/messages.ftl
  compiler/rustc_interface/src/errors.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_metadata/messages.ftl
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_metadata/src/fs.rs
  compiler/rustc_mir_transform/src/dump_mir.rs
  compiler/rustc_session/Cargo.toml
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/output.rs
  compiler/rustc_session/src/session.rs
  src/doc/rustc/src/command-line-arguments.md
  tests/run-make-fulldeps/hotplug_codegen_backend/the_backend.rs
  tests/run-make-fulldeps/issue-19371/foo.rs
  tests/run-make/emit-to-stdout/Makefile
  tests/run-make/emit-to-stdout/emit-link.stderr
  tests/run-make/emit-to-stdout/emit-llvm-bc.stderr
  tests/run-make/emit-to-stdout/emit-metadata.stderr
  tests/run-make/emit-to-stdout/emit-multiple-types.stderr
  tests/run-make/emit-to-stdout/emit-obj.stderr
  tests/run-make/emit-to-stdout/test.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors

#111530 Uplift `clippy::undropped_manually_drops` lint
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/drop_forget_useless.rs
  compiler/rustc_lint/src/lints.rs
  library/core/tests/manually_drop.rs
  src/tools/clippy/clippy_lints/src/declared_lints.rs
  src/tools/clippy/clippy_lints/src/drop_forget_ref.rs
  src/tools/clippy/clippy_lints/src/renamed_lints.rs
  src/tools/clippy/tests/ui/rename.fixed
  src/tools/clippy/tests/ui/rename.rs
  src/tools/clippy/tests/ui/rename.stderr
  src/tools/clippy/tests/ui/undropped_manually_drops.rs
  src/tools/clippy/tests/ui/undropped_manually_drops.stderr
  tests/ui/lint/undropped_manually_drops.rs
  tests/ui/lint/undropped_manually_drops.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#112429 [rustdoc] List matching impls on type aliases
  library/core/src/ptr/mut_ptr.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc/issue-32077-type-alias-impls.rs
Labels: T-rustdoc, S-waiting-on-bors

#112442 Deduplicate identical region constraints in new solver
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  tests/ui/traits/new-solver/dedup-regions.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#112465 Rollup of 3 pull requests
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  library/core/src/ptr/mut_ptr.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc/issue-32077-type-alias-impls.rs
  tests/ui/traits/new-solver/dedup-regions.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#112260 Improve document of `unsafe_code` lint
  compiler/rustc_lint/src/builtin.rs
Labels: T-compiler, S-waiting-on-bors

#112216 Support float-like tuple indices in offset_of!()
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/offset-of/offset-of-tuple-nested.rs
  tests/ui/offset-of/offset-of-tuple.rs
  tests/ui/offset-of/offset-of-tuple.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112426 increase the accuracy of effective visibilities calculation
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_resolve/src/effective_visibilities.rs
  tests/ui/privacy/effective_visibilities_full_priv.rs
  tests/ui/privacy/effective_visibilities_full_priv.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112452 Make "consider importing" consistent for macros
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
  tests/ui/empty/empty-macro-use.stderr
  tests/ui/hygiene/no_implicit_prelude-2018.stderr
  tests/ui/macros/issue-88228.rs
  tests/ui/macros/issue-88228.stderr
  tests/ui/macros/macro-use-wrong-name.stderr
  tests/ui/missing/missing-macro-use.stderr
  tests/ui/proc-macro/derive-helper-shadowing.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#112369 More CGU cleanups
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors

#112467 Compile rustc_driver by default
  src/bootstrap/doc.rs
Labels: T-bootstrap, S-waiting-on-bors

#112481 Ignore tests that hang in new solver
  tests/ui/closures/issue-72408-nested-closures-exponential.rs
  tests/ui/issues/issue-37311-type-length-limit/issue-37311.rs
  tests/ui/issues/issue-37311-type-length-limit/issue-37311.stderr
  tests/ui/iterators/issue-58952-filter-type-length.rs
  tests/ui/recursion/issue-83150.rs
  tests/ui/recursion/issue-83150.stderr
  tests/ui/traits/issue-91949-hangs-on-recursion.rs
  tests/ui/traits/issue-91949-hangs-on-recursion.stderr
Labels: T-compiler, S-waiting-on-bors
