Repository rust-lang/rust, pull requests merged in 2023-03, with the labels that each got.

#108531 rustdoc: Show that repeated expression arrays can be made with constant values
  library/core/src/primitive_docs.rs
  library/std/src/primitive_docs.rs
Labels: S-waiting-on-bors, T-libs

#108550 Remove the `capture_disjoint_fields` feature
  compiler/rustc_feature/src/active.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  tests/debuginfo/captured-fields-1.rs
  tests/debuginfo/captured-fields-2.rs
  tests/ui/closures/2229_closure_analysis/issue_88118.rs
Labels: T-compiler, S-waiting-on-bors

#108554 Only look for param in item's generics if it actually comes from generics
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  tests/ui/traits/non_lifetime_binders/object-lifetime-default-for-late.rs
  tests/ui/traits/non_lifetime_binders/object-lifetime-default-for-late.stderr
Labels: T-compiler, S-waiting-on-bors

#108555 Fix a race in the query system
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#108558 add missing feature in core/tests
  library/core/tests/lib.rs
Labels: S-waiting-on-bors, T-libs

#108587 Rollup of 10 pull requests
  .mailmap
  Cargo.lock
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_data_structures/src/sorted_map/index_map.rs
  compiler/rustc_data_structures/src/sorted_map/tests.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_middle/src/query/keys.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_mir_transform/src/instcombine.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_session/src/filesearch.rs
  src/bootstrap/clean.rs
  src/doc/rustc/src/platform-support/fuchsia.md
  tests/ui/parser/issue-108495-dec.rs
  tests/ui/parser/issue-108495-dec.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#108520 Small cleanup to `one_bound_for_assoc_type`
  compiler/rustc_hir_analysis/src/astconv/mod.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#108560 Some `infer/mod.rs` cleanups
  compiler/rustc_infer/src/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#108563 Make mailmap more correct
  .mailmap
Labels: S-waiting-on-bors, A-meta

#108564 Fix `x clean` with specific paths
  src/bootstrap/clean.rs
Labels: T-bootstrap, S-waiting-on-bors

#108571 Add contains_key to SortedIndexMultiMap
  compiler/rustc_data_structures/src/sorted_map/index_map.rs
  compiler/rustc_data_structures/src/sorted_map/tests.rs
Labels: T-compiler, S-waiting-on-bors

#108578 Update Fuchsia platform team members
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: S-waiting-on-bors

#108505 Further unify validity intrinsics
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_middle/src/query/keys.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_mir_transform/src/instcombine.rs
Labels: T-compiler, S-waiting-on-bors

#108376 compiler/rustc_session: fix sysroot detection logic
  compiler/rustc_session/src/filesearch.rs
Labels: T-compiler, S-waiting-on-bors

#108400 add llvm cgu instructions stats to perf
  Cargo.lock
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#108496 fix #108495, postfix decrement and prefix decrement has no warning
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/parser/issue-108495-dec.rs
  tests/ui/parser/issue-108495-dec.stderr
Labels: T-compiler, S-waiting-on-bors

#108476 Remove or document uses of #[rustc_box] in library
  library/alloc/src/boxed.rs
  library/alloc/src/macros.rs
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#105871 Add `Option::as_`(`mut_`)`slice`
  library/core/src/lib.rs
  library/core/src/option.rs
  tests/codegen/option-as-slice.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#108446 Name LLVM anonymous constants by a hash of their contents
  compiler/rustc_codegen_llvm/src/common.rs
  tests/codegen/consts.rs
  tests/codegen/remap_path_prefix/main.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108620 Rollup of 7 pull requests
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_parse/locales/en-US.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_ty_utils/src/assoc.rs
  library/alloc/src/collections/vec_deque/mod.rs
  library/alloc/tests/vec_deque.rs
  src/bootstrap/doc.rs
  src/doc/rustdoc/src/how-to-read-rustdoc.md
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/parser-errors.js
  tests/rustdoc-js-std/parser-filter.js
  tests/rustdoc-js-std/parser-ident.js
  tests/rustdoc-js/macro-search.js
  tests/rustdoc-js/macro-search.rs
  tests/rustdoc-ui/z-help.stdout
  tests/ui/async-await/issues/issue-107280.rs
  tests/ui/async-await/issues/issue-107280.stderr
  tests/ui/const-generics/issues/issue-105821.rs
  tests/ui/for/for-else-err.rs
  tests/ui/for/for-else-err.stderr
  tests/ui/for/for-else-let-else-err.rs
  tests/ui/for/for-else-let-else-err.stderr
  tests/ui/let-else/let-else-brace-before-else.fixed
  tests/ui/let-else/let-else-brace-before-else.rs
  tests/ui/let-else/let-else-brace-before-else.stderr
  tests/ui/loops/loop-else-break-with-value.rs
  tests/ui/loops/loop-else-break-with-value.stderr
  tests/ui/loops/loop-else-err.rs
  tests/ui/loops/loop-else-err.stderr
  tests/ui/loops/loop-else-let-else-err.rs
  tests/ui/loops/loop-else-let-else-err.stderr
  tests/ui/while/while-else-err.rs
  tests/ui/while/while-else-err.stderr
  tests/ui/while/while-else-let-else-err.rs
  tests/ui/while/while-else-let-else-err.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#108568 Make associated_item_def_ids for traits use an unstable option to also return associated types for RPITITs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_ty_utils/src/assoc.rs
  tests/rustdoc-ui/z-help.stdout
Labels: T-compiler, S-waiting-on-bors

#108604 Add regression test for #107280
  tests/ui/async-await/issues/issue-107280.rs
  tests/ui/async-await/issues/issue-107280.stderr
Labels: T-compiler, S-waiting-on-bors

#108605 Add regression test for #105821
  tests/ui/const-generics/issues/issue-105821.rs
Labels: T-compiler, S-waiting-on-bors

#108394 Make `x doc --open` work on every book
  src/bootstrap/doc.rs
Labels: T-bootstrap, S-waiting-on-bors

#108427 Recover from for-else and while-else
  compiler/rustc_parse/locales/en-US.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/for/for-else-err.rs
  tests/ui/for/for-else-err.stderr
  tests/ui/for/for-else-let-else-err.rs
  tests/ui/for/for-else-let-else-err.stderr
  tests/ui/let-else/let-else-brace-before-else.fixed
  tests/ui/let-else/let-else-brace-before-else.rs
  tests/ui/let-else/let-else-brace-before-else.stderr
  tests/ui/loops/loop-else-break-with-value.rs
  tests/ui/loops/loop-else-break-with-value.stderr
  tests/ui/loops/loop-else-err.rs
  tests/ui/loops/loop-else-err.stderr
  tests/ui/loops/loop-else-let-else-err.rs
  tests/ui/loops/loop-else-let-else-err.stderr
  tests/ui/while/while-else-err.rs
  tests/ui/while/while-else-err.stderr
  tests/ui/while/while-else-let-else-err.rs
  tests/ui/while/while-else-let-else-err.stderr
Labels: T-compiler, S-waiting-on-bors

#108143 rustdoc: search by macro when query ends with `!`
  src/doc/rustdoc/src/how-to-read-rustdoc.md
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/parser-errors.js
  tests/rustdoc-js-std/parser-filter.js
  tests/rustdoc-js-std/parser-ident.js
  tests/rustdoc-js/macro-search.js
  tests/rustdoc-js/macro-search.rs
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#108483 Merge two different equality specialization traits in `core`
  library/core/src/array/equality.rs
  library/core/src/cmp.rs
  library/core/src/cmp/bytewise.rs
  library/core/src/intrinsics.rs
  library/core/src/slice/cmp.rs
  tests/codegen/array-equality.rs
  tests/codegen/slice-ref-equality.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#106673 Add support for QNX Neutrino to standard library
  Cargo.lock
  library/core/src/ffi/mod.rs
  library/std/Cargo.toml
  library/std/build.rs
  library/std/src/net/tcp/tests.rs
  library/std/src/net/udp/tests.rs
  library/std/src/os/mod.rs
  library/std/src/os/nto/fs.rs
  library/std/src/os/nto/mod.rs
  library/std/src/os/nto/raw.rs
  library/std/src/os/unix/mod.rs
  library/std/src/os/unix/net/datagram.rs
  library/std/src/os/unix/net/tests.rs
  library/std/src/os/unix/process.rs
  library/std/src/os/unix/ucred.rs
  library/std/src/sys/unix/args.rs
  library/std/src/sys/unix/env.rs
  library/std/src/sys/unix/fd.rs
  library/std/src/sys/unix/fs.rs
  library/std/src/sys/unix/locks/pthread_condvar.rs
  library/std/src/sys/unix/net.rs
  library/std/src/sys/unix/os.rs
  library/std/src/sys/unix/process/process_unix.rs
  library/std/src/sys/unix/thread.rs
  library/std/src/sys/unix/thread_parking/pthread.rs
  library/std/src/sys/unix/time.rs
  library/std/src/sys_common/backtrace.rs
  library/std/src/sys_common/net.rs
  library/std/src/sys_common/thread_local_key.rs
  library/unwind/src/lib.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/nto-qnx.md
  tests/codegen/thread-local.rs
  tests/ui/abi/stack-probes-lto.rs
  tests/ui/abi/stack-probes.rs
  tests/ui/command/command-setgroups.rs
  tests/ui/intrinsics/intrinsic-alignment.rs
  tests/ui/process/process-sigpipe.rs
  tests/ui/runtime/out-of-stack.rs
  tests/ui/runtime/signal-alternate-stack-cleanup.rs
  tests/ui/structs-enums/rec-align-u64.rs
  tests/ui/thread-local/tls.rs
  tests/ui/wait-forked-but-failed-child.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, O-neutrino

#108585 Run compiler test suite in parallel on Fuchsia
  src/ci/docker/scripts/fuchsia-test-runner.py
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: A-testsuite, S-waiting-on-bors, T-infra

#108606 Add test case for mismatched open/close delims
  tests/ui/parser/issues/issue-104367.rs
  tests/ui/parser/issues/issue-104367.stderr
  tests/ui/parser/issues/issue-105209.rs
  tests/ui/parser/issues/issue-105209.stderr
Labels: T-compiler, S-waiting-on-bors

#108609 Highlight whole expression for E0599
  compiler/rustc_hir_typeck/src/method/suggest.rs
  src/tools/compiletest/src/runtest.rs
  tests/ui/methods/method-call-err-msg.stderr
  tests/ui/typeck/issue-31173.stderr
Labels: A-testsuite, A-diagnostics, T-compiler, S-waiting-on-bors

#108640 Rollup of 5 pull requests
  compiler/rustc_ast_lowering/locales/en-US.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_mir_build/locales/en-US.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  src/ci/docker/scripts/fuchsia-test-runner.py
  src/doc/rustc/src/platform-support/fuchsia.md
  src/tools/clippy/clippy_utils/src/higher.rs
  src/tools/compiletest/src/runtest.rs
  tests/ui/attributes/rustc-box.rs
  tests/ui/attributes/rustc-box.stderr
  tests/ui/methods/method-call-err-msg.stderr
  tests/ui/parser/issues/issue-104367.rs
  tests/ui/parser/issues/issue-104367.stderr
  tests/ui/parser/issues/issue-105209.rs
  tests/ui/parser/issues/issue-105209.stderr
  tests/ui/suggestions/suggest-trait-in-ufcs-in-hrtb.rs
  tests/ui/suggestions/suggest-trait-in-ufcs-in-hrtb.stderr
  tests/ui/typeck/issue-31173.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup

#108516 Restrict `#[rustc_box]` to `Box::new` calls
  compiler/rustc_ast_lowering/locales/en-US.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_mir_build/locales/en-US.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  src/tools/clippy/clippy_utils/src/higher.rs
  tests/ui/attributes/rustc-box.rs
  tests/ui/attributes/rustc-box.stderr
Labels: T-compiler, S-waiting-on-bors

#108654 Revert stabilization of `#![feature(target_feature_11)]`
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  library/core/src/lib.rs
  tests/mir-opt/inline/inline_compatibility.inlined_no_sanitize.Inline.diff
  tests/mir-opt/inline/inline_compatibility.inlined_target_feature.Inline.diff
  tests/mir-opt/inline/inline_compatibility.not_inlined_c_variadic.Inline.diff
  tests/mir-opt/inline/inline_compatibility.not_inlined_no_sanitize.Inline.diff
  tests/mir-opt/inline/inline_compatibility.not_inlined_target_feature.Inline.diff
  tests/mir-opt/inline/inline_compatibility.rs
  tests/ui/asm/x86_64/issue-89875.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/check-pass.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/closures-inherit-target_feature.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/feature-gate-target_feature_11.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/feature-gate-target_feature_11.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/fn-ptr.mir.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/fn-ptr.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/fn-ptr.thir.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/fn-traits.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/fn-traits.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/issue-99876.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.mir.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.thir.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/trait-impl.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/trait-impl.stderr
  tests/ui/target-feature/invalid-attribute.rs
  tests/ui/target-feature/invalid-attribute.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#108644 Allow setting hashmap toml values in `./configure`
  src/bootstrap/configure.py
Labels: T-bootstrap, S-waiting-on-bors

#108672 Feed queries on impl side for RPITITs when using lower_impl_trait_in_trait_to_assoc_ty
  compiler/rustc_ty_utils/src/assoc.rs
  tests/ui/impl-trait/in-trait/new-lowering-strategy/simple-trait.rs
Labels: T-compiler, S-waiting-on-bors

#108677 Rollup of 8 pull requests
  .github/workflows/ci.yml
  compiler/rustc_builtin_macros/src/env.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_ty_utils/src/assoc.rs
  src/bootstrap/configure.py
  src/ci/github-actions/ci.yml
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/html/static/js/search.js
  src/tools/miri/src/machine.rs
  src/tools/rustdoc-js/tester.js
  tests/rustdoc-gui/search-error.goml
  tests/rustdoc-js-std/parser-errors.js
  tests/ui/errors/trait-bound-error-spans/blame-trait-error.rs
  tests/ui/errors/trait-bound-error-spans/blame-trait-error.stderr
  tests/ui/errors/traits/blame-trait-error-spans-on-exprs.stderr
  tests/ui/extenv/extenv-not-defined-default.rs
  tests/ui/extenv/extenv-not-defined-default.stderr
  tests/ui/extenv/issue-55897.stderr
  tests/ui/impl-trait/in-trait/new-lowering-strategy/simple-trait.rs
  tests/ui/macros/macros-nonfatal-errors.stderr
  tests/ui/thir-print/thir-flat.stdout
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup

#108557 Point error span at Some constructor argument when trait resolution fails
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  tests/ui/errors/trait-bound-error-spans/blame-trait-error.rs
  tests/ui/errors/trait-bound-error-spans/blame-trait-error.stderr
  tests/ui/errors/traits/blame-trait-error-spans-on-exprs.stderr
Labels: T-compiler, S-waiting-on-bors

#108573 Explain compile-time vs run-time difference in env!() error message
  compiler/rustc_builtin_macros/src/env.rs
  tests/ui/extenv/extenv-not-defined-default.rs
  tests/ui/extenv/extenv-not-defined-default.stderr
  tests/ui/extenv/issue-55897.stderr
  tests/ui/macros/macros-nonfatal-errors.stderr
Labels: T-compiler, S-waiting-on-bors

#108584 Put backtick content from rustdoc search errors into a <code> elements
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/css/themes/ayu.css
  src/librustdoc/html/static/css/themes/dark.css
  src/librustdoc/html/static/css/themes/light.css
  src/librustdoc/html/static/js/search.js
  src/tools/rustdoc-js/tester.js
  tests/rustdoc-gui/search-error.goml
  tests/rustdoc-js-std/parser-errors.js
Labels: T-rustdoc, S-waiting-on-bors

#108624 Make `ExprKind` the first field in `thir::Expr`
  compiler/rustc_middle/src/thir.rs
  tests/ui/thir-print/thir-flat.stdout
Labels: T-compiler, S-waiting-on-bors

#108367 Re-apply "switch to the macos-12-xl builder"
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#108022 Support allocations with non-Box<[u8]> bytes
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  src/tools/miri/src/machine.rs
Labels: T-compiler, S-waiting-on-bors

#108685 Match unmatched backticks in compiler/
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_data_structures/src/stable_hasher/tests.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_infer/locales/en-US.ftl
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_interface/locales/en-US.ftl
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_session/locales/en-US.ftl
  compiler/rustc_session/src/config.rs
  tests/ui/suggestions/impl-on-dyn-trait-with-implicit-static-bound.stderr
Labels: T-compiler, S-waiting-on-bors, A-query-system

#108694 Match unmatched backticks in compiler/ comments
  compiler/rustc_ast/src/util/parser.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/values.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_typeck/src/mem_categorization.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_incremental/src/assert_module_sources.rs
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/nll_relate/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/spanview.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/inhabitedness/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_mir_transform/src/check_const_item_mutation.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/lower_slice_len.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_passes/src/hir_stats.rs
  compiler/rustc_passes/src/liveness/rwu_table.rs
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#108599 Remove legacy PM leftovers
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#108667 Fix another ICE in `point_at_expr_source_of_inferred_type`
  compiler/rustc_hir_typeck/src/demand.rs
  tests/ui/typeck/bad-type-in-vec-contains.rs
  tests/ui/typeck/bad-type-in-vec-contains.stderr
Labels: T-compiler, S-waiting-on-bors

#108674 Clippy Fix array-size-threshold config deserialization error
  src/tools/clippy/book/src/lint_configuration.md
  src/tools/clippy/clippy_lints/src/lib.rs
  src/tools/clippy/clippy_lints/src/utils/conf.rs
  src/tools/clippy/tests/ui/crashes/ice-10044.rs
  src/tools/clippy/tests/ui/crashes/ice-10044.stderr
  src/tools/clippy/tests/ui/large_stack_arrays.rs
  src/tools/clippy/tests/ui/large_stack_arrays.stderr
  tests/ui-toml/array_size_threshold/array_size_threshold.rs
  tests/ui-toml/array_size_threshold/array_size_threshold.stderr
  tests/ui-toml/array_size_threshold/clippy.toml
Labels: T-compiler, S-waiting-on-bors

#108553 Deny capturing late-bound non-lifetime param in anon const
  compiler/rustc_hir_analysis/locales/en-US.ftl
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/errors.rs
  tests/ui/traits/non_lifetime_binders/late-bound-in-anon-ct.rs
  tests/ui/traits/non_lifetime_binders/late-bound-in-anon-ct.stderr
Labels: T-compiler, S-waiting-on-bors

#107981 new solver: implement canonicalization and region constraints
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/canonical/substitute.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/infer/mod.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/solve/canonical/canonicalize.rs
  compiler/rustc_trait_selection/src/solve/canonical/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/project_goals.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#108540 Add `Atomic*::from_ptr`
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors, T-libs

#108292 Label opaque type for 'captures lifetime' error message
  compiler/rustc_infer/locales/en-US.ftl
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  tests/ui/async-await/multiple-lifetimes/ret-impl-trait-one.stderr
  tests/ui/impl-trait/hidden-lifetimes.stderr
  tests/ui/impl-trait/impl-fn-hrtb-bounds-2.stderr
  tests/ui/impl-trait/multiple-lifetimes/error-handling-2.stderr
  tests/ui/impl-trait/multiple-lifetimes/ordinary-bounds-unrelated.stderr
  tests/ui/impl-trait/multiple-lifetimes/ordinary-bounds-unsuited.stderr
  tests/ui/impl-trait/must_outlive_least_region_or_bound.stderr
  tests/ui/impl-trait/nested-return-type4.stderr
  tests/ui/impl-trait/region-escape-via-bound.stderr
  tests/ui/impl-trait/static-return-lifetime-infered.stderr
  tests/ui/lifetimes/issue-105227.stderr
  tests/ui/nll/issue-73159-rpit-static.stderr
  tests/ui/nll/member-constraints/min-choice-reject-ambiguous.stderr
  tests/ui/nll/member-constraints/nested-impl-trait-fail.stderr
  tests/ui/nll/ty-outlives/impl-trait-captures.stderr
  tests/ui/self/arbitrary_self_types_pin_lifetime_impl_trait-async.stderr
  tests/ui/self/arbitrary_self_types_pin_lifetime_impl_trait.stderr
  tests/ui/suggestions/lifetimes/missing-lifetimes-in-signature.stderr
  tests/ui/type-alias-impl-trait/imply_bounds_from_bounds_param.stderr
  tests/ui/type-alias-impl-trait/missing_lifetime_bound.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#104549 add -Zexport-executable-symbols to unstable book
  src/doc/unstable-book/src/compiler-flags/export-executable-symbols.md
Labels: S-waiting-on-bors

#108670 [beta] stage0 bump and backports
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  library/alloc/src/collections/vec_deque/mod.rs
  library/alloc/src/collections/vec_deque/tests.rs
  library/alloc/tests/vec_deque.rs
  library/std/src/sys/windows/c.rs
  library/std/src/sys/windows/rand.rs
  src/stage0.json
  src/tools/clippy/clippy_lints/src/lib.rs
  src/tools/clippy/clippy_lints/src/utils/conf.rs
  src/tools/clippy/tests/ui/crashes/ice-10044.rs
  src/tools/clippy/tests/ui/crashes/ice-10044.stderr
  src/tools/clippy/tests/ui/large_stack_arrays.rs
  src/tools/clippy/tests/ui/large_stack_arrays.stderr
  tests/ui-toml/array_size_threshold/array_size_threshold.rs
  tests/ui-toml/array_size_threshold/array_size_threshold.stderr
  tests/ui-toml/array_size_threshold/clippy.toml
  tests/ui/type/type-check/assignment-in-if.stderr
  tests/ui/type/type-check/point-at-inference-2.stderr
  tests/ui/type/type-check/point-at-inference-3.fixed
  tests/ui/type/type-check/point-at-inference-3.rs
  tests/ui/type/type-check/point-at-inference-3.stderr
  tests/ui/type/type-check/point-at-inference.fixed
  tests/ui/type/type-check/point-at-inference.rs
  tests/ui/type/type-check/point-at-inference.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors, T-libs

#89518 Add vectored positioned I/O on Unix
  library/std/src/os/unix/fs.rs
  library/std/src/os/unix/fs/tests.rs
  library/std/src/sys/unix/fd.rs
  library/std/src/sys/unix/fs.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors, O-unix

#108689 Remove `NormalizationError::ConstantKind`
  compiler/rustc_middle/src/ty/normalize_erasing_regions.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108727 rustc_expand: make proc-macro derive error translatable
  compiler/rustc_expand/locales/en-US.ftl
  compiler/rustc_expand/src/errors.rs
  compiler/rustc_expand/src/proc_macro.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#108732 Rollup of 6 pull requests
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_expand/locales/en-US.ftl
  compiler/rustc_expand/src/errors.rs
  compiler/rustc_expand/src/proc_macro.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_session/src/session.rs
  library/alloc/src/string.rs
  library/core/src/str/traits.rs
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/parser-errors.js
  tests/ui/parser/issue-107705.rs
  tests/ui/parser/issue-107705.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#108656 Rustdoc search: Emit an error for unclosed generic
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/parser-errors.js
Labels: T-rustdoc, S-waiting-on-bors

#108660 Remove ne implementations from strings
  library/alloc/src/string.rs
  library/core/src/str/traits.rs
Labels: S-waiting-on-bors, T-libs

#108669 Allow checking whether a type allows being uninitialized
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_middle/src/ty/layout.rs
Labels: T-compiler, S-waiting-on-bors

#108405 Lazily compute crate name for consider_optimizing
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors

#108298 Fix ICE: check if snippet is `)`
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/parser/issue-107705.rs
  tests/ui/parser/issue-107705.stderr
Labels: T-compiler, S-waiting-on-bors

#108692 Don't call `temporary_scope` twice.
  compiler/rustc_mir_build/src/thir/cx/expr.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108740 Bump version to 1.70.0
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#108734 rustdoc: Note in a type's layout/size if it is uninhabited
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc/type-layout.rs
Labels: T-rustdoc, S-waiting-on-bors

#108747 Rollup of 7 pull requests
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/lib.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  config.toml.example
  src/bootstrap/configure.py
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/search_index.rs
  tests/rustdoc-js-std/option-type-signatures.js
  tests/rustdoc-js/where-clause.js
  tests/rustdoc-js/where-clause.rs
  tests/rustdoc/type-layout.rs
  tests/ui/suggestions/multiline-multipart-suggestion.rs
  tests/ui/suggestions/multiline-multipart-suggestion.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#108632 Omit unchanged options from config.toml in `configure.py`
  config.toml.example
  src/bootstrap/configure.py
Labels: T-bootstrap, S-waiting-on-bors

#108715 Remove unclosed_delims from parser
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
Labels: T-compiler, S-waiting-on-bors

#108723 rustdoc: function signature search with traits in `where` clause
  src/librustdoc/html/render/search_index.rs
  tests/rustdoc-js-std/option-type-signatures.js
  tests/rustdoc-js/where-clause.js
  tests/rustdoc-js/where-clause.rs
Labels: T-rustdoc, S-waiting-on-bors

#108724 field is not used outside the crate
  compiler/rustc_infer/src/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#108736 Remove `allow(potential_query_instability)` from `ast_passes`
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#108627 Properly colorize multi-part suggestions in the same line
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  tests/ui/suggestions/multiline-multipart-suggestion.rs
  tests/ui/suggestions/multiline-multipart-suggestion.stderr
Labels: T-compiler, S-waiting-on-bors

#107723 Apply BOLT optimizations without rebuilding LLVM
  src/bootstrap/bolt.rs
  src/bootstrap/dist.rs
  src/bootstrap/native.rs
  src/ci/stage-build.py
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#107844 Desugaring of drop and replace at MIR build
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_mir_build/src/build/expr/stmt.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_span/src/hygiene.rs
  tests/mir-opt/basic_assignment.main.ElaborateDrops.diff
  tests/mir-opt/basic_assignment.main.SimplifyCfg-initial.after.mir
  tests/mir-opt/basic_assignment.rs
  tests/mir-opt/issue_41110.test.ElaborateDrops.diff
  tests/mir-opt/issue_41888.main.ElaborateDrops.diff
  tests/mir-opt/packed_struct_drop_aligned.main.SimplifyCfg-elaborate-drops.after.mir
  tests/run-make/coverage-reports/expected_show_coverage.closure.txt
  tests/ui/borrowck/borrowck-vec-pattern-nesting.rs
  tests/ui/borrowck/borrowck-vec-pattern-nesting.stderr
  tests/ui/borrowck/issue-45199.rs
  tests/ui/borrowck/issue-45199.stderr
  tests/ui/borrowck/issue-58776-borrowck-scans-children.rs
  tests/ui/borrowck/issue-58776-borrowck-scans-children.stderr
  tests/ui/liveness/liveness-assign/liveness-assign-imm-local-with-drop.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108744 Don't ICE when encountering bound var in builtin copy/clone bounds
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/traits/non_lifetime_binders/bad-copy-cond.rs
  tests/ui/traits/non_lifetime_binders/bad-copy-cond.stderr
Labels: T-compiler, S-waiting-on-bors

#108749 Clean up rustdoc-js tester.js file
  src/tools/rustdoc-js/tester.js
Labels: T-rustdoc, S-waiting-on-bors

#108771 Rollup of 7 pull requests
  .gitignore
  Cargo.lock
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  config.toml.example
  src/bootstrap/config.rs
  src/bootstrap/defaults/config.codegen.toml
  src/bootstrap/flags.rs
  src/bootstrap/native.rs
  src/bootstrap/setup.rs
  src/bootstrap/setup/tests.rs
  src/doc/rustc/src/platform-support/armeb-unknown-linux-gnueabi.md
  src/etc/rust_analyzer_settings.json
  src/rustdoc-json-types/Cargo.toml
  src/rustdoc-json-types/lib.rs
  src/tools/jsondoclint/Cargo.toml
  src/tools/jsondoclint/src/validator/tests.rs
  src/tools/replace-version-placeholder/src/main.rs
  src/tools/rustdoc-js/tester.js
  src/tools/tidy/src/alphabetical.rs
  src/tools/tidy/src/bins.rs
  src/tools/tidy/src/debug_artifacts.rs
  src/tools/tidy/src/edition.rs
  src/tools/tidy/src/error_codes.rs
  src/tools/tidy/src/features.rs
  src/tools/tidy/src/main.rs
  src/tools/tidy/src/pal.rs
  src/tools/tidy/src/rustdoc_gui_tests.rs
  src/tools/tidy/src/style.rs
  src/tools/tidy/src/target_specific_tests.rs
  src/tools/tidy/src/ui_tests.rs
  src/tools/tidy/src/unit_tests.rs
  src/tools/tidy/src/walk.rs
  tests/run-make/rustdoc-verify-output-files/Makefile
  tests/ui/traits/non_lifetime_binders/bad-copy-cond.rs
  tests/ui/traits/non_lifetime_binders/bad-copy-cond.stderr
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, A-rustdoc-json

#108613 Remove `llvm.skip-rebuild` option
  config.toml.example
  src/bootstrap/config.rs
  src/bootstrap/flags.rs
  src/bootstrap/native.rs
  src/doc/rustc/src/platform-support/armeb-unknown-linux-gnueabi.md
Labels: T-bootstrap, S-waiting-on-bors

#108616 Sync codegen defaults with compiler defaults and add a ping message so they stay in sync
  src/bootstrap/defaults/config.codegen.toml
  triagebot.toml
Labels: T-bootstrap, S-waiting-on-bors, A-meta

#108618 Rename `src/etc/vscode_settings.json` to `rust_analyzer_settings.json`
  src/bootstrap/setup.rs
  src/bootstrap/setup/tests.rs
  src/etc/rust_analyzer_settings.json
Labels: T-bootstrap, S-waiting-on-bors

#108626 rustdoc-json: switch from HashMap to FxHashMap to fix non-determinism
  Cargo.lock
  src/rustdoc-json-types/Cargo.toml
  src/rustdoc-json-types/lib.rs
  src/tools/jsondoclint/Cargo.toml
  src/tools/jsondoclint/src/validator/tests.rs
  tests/run-make/rustdoc-verify-output-files/Makefile
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#106440 Ignore files in .gitignore in tidy
  .gitignore
  src/tools/replace-version-placeholder/src/main.rs
  src/tools/tidy/src/alphabetical.rs
  src/tools/tidy/src/bins.rs
  src/tools/tidy/src/debug_artifacts.rs
  src/tools/tidy/src/edition.rs
  src/tools/tidy/src/error_codes.rs
  src/tools/tidy/src/features.rs
  src/tools/tidy/src/main.rs
  src/tools/tidy/src/pal.rs
  src/tools/tidy/src/rustdoc_gui_tests.rs
  src/tools/tidy/src/style.rs
  src/tools/tidy/src/target_specific_tests.rs
  src/tools/tidy/src/ui_tests.rs
  src/tools/tidy/src/unit_tests.rs
  src/tools/tidy/src/walk.rs
Labels: A-testsuite, S-waiting-on-bors

#108041 Add 1.68.0 release notes
  RELEASES.md
Labels: S-waiting-on-bors, T-release, merged-by-bors

#105117 Add more debug assertions to unsafe functions
  library/core/src/slice/index.rs
  library/core/src/slice/mod.rs
  library/core/src/str/traits.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#108157 Use `partial_cmp` to implement tuple `lt`/`le`/`ge`/`gt`
  library/core/benches/lib.rs
  library/core/benches/tuple.rs
  library/core/src/tuple.rs
  tests/codegen/comparison-operators-2-tuple.rs
Labels: T-libs-api, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce

#108789 Rollup of 7 pull requests
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  src/bootstrap/format.rs
  src/tools/tidy/src/error_codes.rs
  src/tools/tidy/src/features.rs
  tests/ui/impl-trait/in-trait/dont-project-to-rpitit-with-no-value.rs
  tests/ui/impl-trait/in-trait/dont-project-to-rpitit-with-no-value.stderr
  tests/ui/impl-trait/recursive-impl-trait-type-indirect.drop_tracking_mir.stderr
  tests/ui/parser/issues/issue-108242-semicolon-recovery.rs
  tests/ui/parser/issues/issue-108242-semicolon-recovery.stderr
  tests/ui/suggestions/issue-107860.rs
  tests/ui/suggestions/issue-107860.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#108746 Don't project to RPITIT that has no default value
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  tests/ui/impl-trait/in-trait/dont-project-to-rpitit-with-no-value.rs
  tests/ui/impl-trait/in-trait/dont-project-to-rpitit-with-no-value.stderr
Labels: T-compiler, S-waiting-on-bors

#108770 Improve documentation and argument naming of some TyCtxt methods
  compiler/rustc_middle/src/ty/trait_def.rs
Labels: T-compiler, S-waiting-on-bors

#108775 Use the correct bound vars in return type suggestion.
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/suggestions/issue-107860.rs
  tests/ui/suggestions/issue-107860.stderr
Labels: T-compiler, S-waiting-on-bors

#108776 Make `x test tidy` less noisy
  src/bootstrap/format.rs
  src/tools/tidy/src/error_codes.rs
  src/tools/tidy/src/features.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#108244 Add test for semicolon recovery ICE
  tests/ui/parser/issues/issue-108242-semicolon-recovery.rs
  tests/ui/parser/issues/issue-108242-semicolon-recovery.stderr
Labels: T-compiler, S-waiting-on-bors

#108787 Erase regions even when failing to normalize type in MIR opts
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/sroa.rs
  tests/mir-opt/sroa.constant.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.dropping.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.enums.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.escaping.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.flat.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.ref_copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.structs.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa.unions.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/lifetimes.foo.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/lifetimes.rs
  tests/mir-opt/sroa/structs.constant.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.dropping.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.enums.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.escaping.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.flat.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.ref_copies.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.rs
  tests/mir-opt/sroa/structs.structs.ScalarReplacementOfAggregates.diff
  tests/mir-opt/sroa/structs.unions.ScalarReplacementOfAggregates.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108402 Allow using `bool` instead of `Option<()>` in diagnostics
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, merged-by-bors, A-translation

#108818 [stable] Promote 1.68.0 beta to stable
  RELEASES.md
  src/ci/channel
Labels: A-testsuite, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#108817 [beta] Promote 1.69.0 nightly to beta
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/active.rs
  library/core/src/error.rs
  library/core/src/ffi/c_str.rs
  library/core/src/net/socket_addr.rs
  library/std/src/os/fd/owned.rs
  library/std/src/os/fd/raw.rs
  src/ci/channel
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#108750 Fix `ObligationCtxt::sub`
  compiler/rustc_trait_selection/src/traits/engine.rs
Labels: T-compiler, S-waiting-on-bors

#108780 Add regression tests for issue 70919
  tests/ui/borrowck/drop-in-loop.rs
  tests/ui/borrowck/drop-in-loop.stderr
  tests/ui/borrowck/issue-70919-drop-in-loop.rs
Labels: T-compiler, S-waiting-on-bors

#108786 Check for free regions in MIR validation
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_mir_transform/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#108790 Do not ICE when interpreting a cast between non-monomorphic types
  compiler/rustc_const_eval/src/interpret/cast.rs
  tests/ui/mir/unsize-trait.rs
Labels: T-compiler, S-waiting-on-bors

#108803 Do not ICE when failing to normalize in ConstProp.
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  tests/ui/associated-types/issue-67684.rs
Labels: T-compiler, S-waiting-on-bors

#108807 Emit the suspicious_auto_trait_impls for negative impls as well
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  tests/ui/auto-traits/suspicious-negative-impls-lint.rs
  tests/ui/auto-traits/suspicious-negative-impls-lint.stderr
  tests/ui/coherence/coherence-conflicting-negative-trait-impl.rs
  tests/ui/coherence/coherence-conflicting-negative-trait-impl.stderr
  tests/ui/coherence/coherence-orphan.rs
  tests/ui/coherence/coherence-orphan.stderr
  tests/ui/issues/issue-106755.rs
  tests/ui/issues/issue-106755.stderr
Labels: T-compiler, S-waiting-on-bors

#108812 Add regression test for #98444
  tests/ui/lint/unconditional_panic_98444.rs
  tests/ui/lint/unconditional_panic_98444.stderr
Labels: T-compiler, S-waiting-on-bors

#108821 Rollup of 8 pull requests
  compiler/rustc_const_eval/src/const_eval/fn_queries.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  tests/ui/associated-types/issue-67684.rs
  tests/ui/auto-traits/suspicious-negative-impls-lint.rs
  tests/ui/auto-traits/suspicious-negative-impls-lint.stderr
  tests/ui/borrowck/drop-in-loop.rs
  tests/ui/borrowck/drop-in-loop.stderr
  tests/ui/borrowck/issue-70919-drop-in-loop.rs
  tests/ui/coherence/coherence-conflicting-negative-trait-impl.rs
  tests/ui/coherence/coherence-conflicting-negative-trait-impl.stderr
  tests/ui/coherence/coherence-orphan.rs
  tests/ui/coherence/coherence-orphan.stderr
  tests/ui/issues/issue-106755.rs
  tests/ui/issues/issue-106755.stderr
  tests/ui/lint/unconditional_panic_98444.rs
  tests/ui/lint/unconditional_panic_98444.stderr
  tests/ui/mir/unsize-trait.rs
  tests/ui/stability-attribute/auxiliary/const-stability-attribute-implies.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-missing.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-missing.stderr
  tests/ui/stability-attribute/const-stability-attribute-implies-no-feature.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-no-feature.stderr
  tests/ui/stability-attribute/const-stability-attribute-implies-using-stable.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-using-stable.stderr
  tests/ui/stability-attribute/const-stability-attribute-implies-using-unstable.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-using-unstable.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#107801 const_eval: `implies_by` in `rustc_const_unstable`
  compiler/rustc_const_eval/src/const_eval/fn_queries.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_passes/src/stability.rs
  tests/ui/stability-attribute/auxiliary/const-stability-attribute-implies.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-missing.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-missing.stderr
  tests/ui/stability-attribute/const-stability-attribute-implies-no-feature.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-no-feature.stderr
  tests/ui/stability-attribute/const-stability-attribute-implies-using-stable.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-using-stable.stderr
  tests/ui/stability-attribute/const-stability-attribute-implies-using-unstable.rs
  tests/ui/stability-attribute/const-stability-attribute-implies-using-unstable.stderr
Labels: T-compiler, S-waiting-on-bors

#108691 fix multiple issues when promoting type-test subject
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_middle/src/mir/query.rs
  tests/ui/nll/closure-requirements/type-test-subject-non-trivial-region.rs
  tests/ui/nll/closure-requirements/type-test-subject-opaque-1.rs
  tests/ui/nll/closure-requirements/type-test-subject-opaque-2.rs
  tests/ui/nll/closure-requirements/type-test-subject-unnamed-region.rs
  tests/ui/nll/ty-outlives/projection-one-region-closure.stderr
  tests/ui/nll/ty-outlives/projection-one-region-trait-bound-closure.stderr
  tests/ui/nll/ty-outlives/projection-two-region-trait-bound-closure.stderr
Labels: A-borrow-checker, beta-nominated, T-compiler, S-waiting-on-bors, stable-nominated, merged-by-bors

#108735 Remove `allow(potential_query_instability)` from `borrowck`
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/find_use.rs
  compiler/rustc_borrowck/src/diagnostics/outlives_suggestion.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/member_constraints.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/region_infer/reverse_sccs.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_borrowck/src/used_muts.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#95317 Add `round_ties_even` to `f32` and `f64`
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics.rs
  library/std/src/f32.rs
  library/std/src/f32/tests.rs
  library/std/src/f64.rs
  library/std/src/f64/tests.rs
  library/std/src/lib.rs
Labels: T-libs-api, T-compiler, S-waiting-on-bors, merged-by-bors

#108763 Use `nuw` when calculating slice lengths from `Range`s
  library/core/src/slice/index.rs
  tests/codegen/slice-indexing.rs
  tests/ui/consts/const-eval/ub-slice-get-unchecked.rs
  tests/ui/consts/const-eval/ub-slice-get-unchecked.stderr
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#108823 Add tracking issue for cf-protection to unstable book
  src/doc/unstable-book/src/compiler-flags/cf-protection.md
Labels: S-waiting-on-bors

#108855 Custom MIR: Support `as` casts
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  tests/mir-opt/building/custom/as_cast.float_to_int.built.after.mir
  tests/mir-opt/building/custom/as_cast.int_to_int.built.after.mir
  tests/mir-opt/building/custom/as_cast.int_to_ptr.built.after.mir
  tests/mir-opt/building/custom/as_cast.rs
Labels: T-compiler, S-waiting-on-bors

#108863 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  config.toml.example
  src/bootstrap/CHANGELOG.md
  src/bootstrap/config.rs
  src/bootstrap/configure.py
  src/bootstrap/native.rs
  src/doc/unstable-book/src/compiler-flags/cf-protection.md
  src/librustdoc/Cargo.toml
  src/librustdoc/askama.toml
  src/librustdoc/html/templates/STYLE.md
  src/librustdoc/html/templates/page.html
  src/librustdoc/html/templates/print_item.html
  tests/mir-opt/building/custom/as_cast.float_to_int.built.after.mir
  tests/mir-opt/building/custom/as_cast.int_to_int.built.after.mir
  tests/mir-opt/building/custom/as_cast.int_to_ptr.built.after.mir
  tests/mir-opt/building/custom/as_cast.rs
  tests/run-make/translation/Makefile
  tests/ui/async-await/issue-108572.rs
  tests/ui/async-await/issue-108572.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#108728 infer: fix and improve comments
  compiler/rustc_infer/src/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#108731 feat: impl better help for `.poll()` not found on `impl Future`
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/async-await/issue-108572.rs
  tests/ui/async-await/issue-108572.stderr
Labels: T-compiler, S-waiting-on-bors

#108774 Greatly improve the error messages when `run-make/translation` fails
  tests/run-make/translation/Makefile
Labels: A-testsuite, S-waiting-on-bors, A-contributor-roadblock

#108619 Remove the option to disable `llvm-version-check`
  config.toml.example
  src/bootstrap/CHANGELOG.md
  src/bootstrap/config.rs
  src/bootstrap/configure.py
  src/bootstrap/native.rs
Labels: T-bootstrap, S-waiting-on-bors

#108167 Make `rustc_query_system` take `QueryConfig` by instance.
  compiler/rustc_query_impl/src/on_disk_cache.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  compiler/rustc_query_system/src/query/caches.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#108866 Force to use the stage 2 compiler when config.download_rustc is set
  src/bootstrap/builder.rs
  src/bootstrap/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#108793 Append to existing `PYTHONPATH` in compiletest instead of overwriting
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, S-waiting-on-bors

#108822 Remove references to PassManagerBuilder
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#108583 Account for binders correctly when adding default RPITIT method assumption
  compiler/rustc_ty_utils/src/ty.rs
  tests/ui/impl-trait/in-trait/default-method-binder-shifting.rs
  tests/ui/impl-trait/in-trait/default-method-binder-shifting.stderr
Labels: T-compiler, S-waiting-on-bors

#108460 migrate `rustc_hir_analysis` to session diagnostic [Part Two]
  compiler/rustc_hir_analysis/locales/en-US.ftl
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/structured_errors/missing_cast_for_variadic_arg.rs
  compiler/rustc_hir_analysis/src/structured_errors/sized_unsized_cast.rs
  compiler/rustc_hir_analysis/src/variance/test.rs
Labels: T-compiler, S-waiting-on-bors

#108581 Add a new config flag, dist.include-mingw-linker.
  config.toml.example
  src/bootstrap/config.rs
  src/bootstrap/dist.rs
Labels: T-bootstrap, S-waiting-on-bors

#108312 Do not implement HashStable for HashSet (MCP 533)
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_data_structures/src/unord.rs
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  compiler/rustc_hir_analysis/src/check_unused.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/query.rs
  compiler/rustc_mir_transform/src/check_unsafety.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/asm/aarch64.rs
  compiler/rustc_target/src/asm/arm.rs
  compiler/rustc_target/src/asm/mod.rs
  compiler/rustc_target/src/asm/riscv.rs
  compiler/rustc_target/src/asm/x86.rs
  compiler/rustc_ty_utils/src/assoc.rs
  src/tools/clippy/clippy_lints/src/wildcard_imports.rs
  src/tools/miri/src/bin/miri.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108121 always resolve to universal regions if possible
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_middle/src/infer/unify_key.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  tests/rustdoc/normalize-assoc-item.rs
  tests/ui/traits/inductive-overflow/lifetime.rs
  tests/ui/traits/inductive-overflow/lifetime.stderr
  tests/ui/wf/hir-wf-check-erase-regions.rs
  tests/ui/wf/hir-wf-check-erase-regions.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#108883 Suppress copy impl error when post-normalized type references errors
  compiler/rustc_trait_selection/src/traits/misc.rs
  tests/ui/coherence/illegal-copy-bad-projection.rs
  tests/ui/coherence/illegal-copy-bad-projection.stderr
  tests/ui/const-generics/bad-generic-in-copy-impl.rs
  tests/ui/const-generics/bad-generic-in-copy-impl.stderr
Labels: T-compiler, S-waiting-on-bors

#108884 Tweak illegal `Copy` impl message
  compiler/rustc_hir_analysis/locales/en-US.ftl
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_typeck/locales/en-US.ftl
  library/core/src/marker.rs
  tests/ui/coherence/coherence-impls-copy.stderr
  tests/ui/coherence/deep-bad-copy-reason.rs
  tests/ui/coherence/deep-bad-copy-reason.stderr
  tests/ui/error-codes/E0184.stderr
  tests/ui/error-codes/E0206.rs
  tests/ui/error-codes/E0206.stderr
  tests/ui/exclusive-drop-and-copy.rs
  tests/ui/exclusive-drop-and-copy.stderr
  tests/ui/issues/issue-27340.rs
  tests/ui/issues/issue-27340.stderr
  tests/ui/opt-in-copy.rs
  tests/ui/opt-in-copy.stderr
  tests/ui/range/range_traits-2.stderr
  tests/ui/range/range_traits-3.stderr
  tests/ui/range/range_traits-6.stderr
  tests/ui/span/E0204.rs
  tests/ui/span/E0204.stderr
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-3.fixed
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-3.rs
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-3.stderr
  tests/ui/suggestions/missing-bound-in-derive-copy-impl.rs
  tests/ui/suggestions/missing-bound-in-derive-copy-impl.stderr
  tests/ui/suggestions/missing-bound-in-manual-copy-impl-2.fixed
  tests/ui/suggestions/missing-bound-in-manual-copy-impl-2.rs
  tests/ui/suggestions/missing-bound-in-manual-copy-impl-2.stderr
  tests/ui/suggestions/missing-bound-in-manual-copy-impl.fixed
  tests/ui/suggestions/missing-bound-in-manual-copy-impl.rs
  tests/ui/suggestions/missing-bound-in-manual-copy-impl.stderr
  tests/ui/traits/copy-is-not-modulo-regions.not_static.stderr
  tests/ui/traits/copy-is-not-modulo-regions.rs
  tests/ui/traits/issue-50480.rs
  tests/ui/traits/issue-50480.stderr
  tests/ui/union/union-copy.rs
  tests/ui/union/union-copy.stderr
Labels: T-compiler, S-waiting-on-bors

#108887 Rename `MapInPlace` as `FlatMapInPlace`.
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_data_structures/src/flat_map_in_place.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
Labels: T-compiler, S-waiting-on-bors

#108901 fix: evaluate with wrong obligation stack
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/traits/unsend-future.rs
  tests/ui/traits/unsend-future.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#108903 Move Clippy tests back to their intended directory
  src/tools/clippy/tests/ui-toml/array_size_threshold/array_size_threshold.rs
  src/tools/clippy/tests/ui-toml/array_size_threshold/array_size_threshold.stderr
  src/tools/clippy/tests/ui-toml/array_size_threshold/clippy.toml
Labels: S-waiting-on-bors

#108846 StableMIR: Proof-of-concept implementation + test
  Cargo.lock
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/README.md
  compiler/rustc_smir/rust-toolchain.toml
  compiler/rustc_smir/src/lib.rs
  compiler/rustc_smir/src/mir.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/very_unstable.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
Labels: T-compiler, S-waiting-on-bors

#108873 Simplify `sort_by` calls
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_monomorphize/src/partitioning/merging.rs
  compiler/rustc_monomorphize/src/partitioning/mod.rs
  compiler/rustc_parse/src/lexer/diagnostics.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_session/src/code_stats.rs
Labels: T-compiler, S-waiting-on-bors

#108856 Remove DropAndReplace terminator
  compiler/rustc_borrowck/src/invalidation.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/used_muts.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/post_drop_elaboration.rs
  compiler/rustc_const_eval/src/transform/check_consts/resolver.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_middle/src/mir/spanview.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/terminator.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_build/src/lints.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/impls/borrowed_locals.rs
  compiler/rustc_mir_dataflow/src/impls/storage_liveness.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/abort_unwinding_calls.rs
  compiler/rustc_mir_transform/src/add_moves_for_packed_drops.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/check_unsafety.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/coverage/debug.rs
  compiler/rustc_mir_transform/src/coverage/graph.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/tests.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/generator.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/remove_noop_landing_pads.rs
  compiler/rustc_mir_transform/src/remove_uninit_drops.rs
  compiler/rustc_mir_transform/src/separate_const_switch.rs
  compiler/rustc_monomorphize/src/collector.rs
  library/core/src/intrinsics/mir.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  tests/mir-opt/building/custom/terminators.drop_first.built.after.mir
  tests/mir-opt/building/custom/terminators.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#108882 Tweak E0740
  compiler/rustc_hir_analysis/locales/en-US.ftl
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/errors.rs
  tests/ui/union/field_checks.rs
  tests/ui/union/field_checks.stderr
  tests/ui/union/issue-41073.rs
  tests/ui/union/issue-41073.stderr
  tests/ui/union/union-with-drop-fields.mirunsafeck.stderr
  tests/ui/union/union-with-drop-fields.rs
  tests/ui/union/union-with-drop-fields.thirunsafeck.stderr
  tests/ui/union/unresolved-field-isnt-copy.rs
  tests/ui/union/unresolved-field-isnt-copy.stderr
Labels: T-compiler, S-waiting-on-bors

#108898 Set `LIBC_CHECK_CFG=1` when building Rust code in bootstrap
  src/bootstrap/builder.rs
Labels: T-bootstrap, S-waiting-on-bors

#108911 Improve rustdoc-gui/tester.js code a bit
  src/tools/rustdoc-gui/tester.js
Labels: T-rustdoc, S-waiting-on-bors

#108916 Remove an unused return value in `rustc_hir_typeck`
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#108839 Canonicalize root var when making response from new solver
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/solve/canonical/canonicalize.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  tests/ui/traits/new-solver/canonical-ty-var-eq-in-response.rs
  tests/ui/traits/new-solver/deduce-ty-from-object.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#108754 Retry `pred_known_to_hold_modulo_regions` with fulfillment if ambiguous
  compiler/rustc_trait_selection/src/traits/mod.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#108759 1.41.1 supported 32-bit Apple targets
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#108951 ci: use `apt install --download-only` for solaris debs
  src/ci/docker/host-x86_64/dist-various-2/build-solaris-toolchain.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#108917 Consider target_family as pal
  src/tools/tidy/src/pal.rs
Labels: A-testsuite, S-waiting-on-bors

#108922 Add auto notification for changes to stable mir
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#108929 Fix typo in span_map.rs
  src/librustdoc/html/render/span_map.rs
Labels: T-rustdoc, S-waiting-on-bors

#108934 Rollup of 8 pull requests
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_parse/locales/en-US.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/stmt.rs
  src/bootstrap/format.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/span_map.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/html/templates/page.html
  src/librustdoc/visit_ast.rs
  src/tools/tidy/src/pal.rs
  tests/run-make-fulldeps/rustdoc-themes/foo.rs
  tests/rustdoc-gui/scrape-examples-button-focus.goml
  tests/rustdoc/issue-108679-reexport-of-reexport.rs
  tests/ui/parser/integer-literal-start-ident.rs
  tests/ui/parser/integer-literal-start-ident.stderr
  tests/ui/parser/issues/issue-104088.rs
  tests/ui/parser/issues/issue-104088.stderr
  tests/ui/suggestions/correct-binder-for-arbitrary-bound-sugg.rs
  tests/ui/suggestions/correct-binder-for-arbitrary-bound-sugg.stderr
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#108854 feat/refactor: improve errors in case of ident with number at start
  compiler/rustc_parse/locales/en-US.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/stmt.rs
  tests/ui/parser/integer-literal-start-ident.rs
  tests/ui/parser/integer-literal-start-ident.stderr
  tests/ui/parser/issues/issue-104088.rs
  tests/ui/parser/issues/issue-104088.stderr
Labels: T-compiler, S-waiting-on-bors

#108870 Fix invalid inlining of reexport of reexport of private item
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  tests/rustdoc/issue-108679-reexport-of-reexport.rs
Labels: T-rustdoc, S-waiting-on-bors

#108778 x fmt: Don't print all modified files if there's more than 10
  src/bootstrap/format.rs
Labels: T-bootstrap, S-waiting-on-bors

#108294 Place binder correctly for arbitrary trait bound suggestion
  compiler/rustc_middle/src/ty/diagnostics.rs
  tests/ui/suggestions/correct-binder-for-arbitrary-bound-sugg.rs
  tests/ui/suggestions/correct-binder-for-arbitrary-bound-sugg.stderr
Labels: T-compiler, S-waiting-on-bors

#106915 Only load one CSS theme by default
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/html/templates/page.html
  tests/run-make-fulldeps/rustdoc-themes/foo.rs
  tests/rustdoc-gui/scrape-examples-button-focus.goml
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra
