Repository rust-lang/rust, pull requests merged in 2024-11, with the labels that each got.

#132206 Update compiler-builtins to 0.1.136
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#132209 Fix validation when lowering `?` trait bounds
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  tests/ui/impl-trait/precise-capturing/bound-modifiers.rs
  tests/ui/impl-trait/precise-capturing/bound-modifiers.stderr
  tests/ui/issues/issue-37534.rs
  tests/ui/issues/issue-37534.stderr
  tests/ui/trait-bounds/maybe-bound-generics-deny.rs
  tests/ui/trait-bounds/maybe-bound-generics-deny.stderr
  tests/ui/trait-bounds/maybe-bound-has-path-args.rs
  tests/ui/trait-bounds/maybe-bound-has-path-args.stderr
  tests/ui/trait-bounds/maybe-bound-with-assoc.rs
  tests/ui/trait-bounds/maybe-bound-with-assoc.stderr
Labels: T-compiler, S-waiting-on-bors

#132294 Bump Fuchsia
  src/ci/docker/host-x86_64/x86_64-fuchsia/build-fuchsia.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#132357 Improve missing_abi lint
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/lint/cli-lint-override.forbid_warn.stderr
  tests/ui/lint/cli-lint-override.force_warn_deny.stderr
  tests/ui/lint/cli-lint-override.warn_deny.stderr
Labels: T-compiler, S-waiting-on-bors

#132385 compiler: Move `rustc_target::spec::abi::Abi` to `rustc_abi::ExternAbi`
  Cargo.lock
  compiler/rustc_abi/Cargo.toml
  compiler/rustc_abi/src/extern_abi/mod.rs
  compiler/rustc_abi/src/extern_abi/tests.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_hir_pretty/Cargo.toml
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_lint_defs/Cargo.toml
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_mir_build/Cargo.toml
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors

#132417 macOS: Document the difference between Clang's `-darwin` and `-macosx` targets
  src/doc/rustc/src/platform-support/apple-darwin.md
Labels: O-macos, A-docs, S-waiting-on-bors

#132421 Remove `""` case from RISC-V `llvm_abiname` match statement
  compiler/rustc_codegen_ssa/src/back/metadata.rs
Labels: T-compiler, S-waiting-on-bors

#132422 llvm: Match new LLVM 128-bit integer alignment on sparc
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_target/src/spec/targets/sparc64_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/sparc64_unknown_netbsd.rs
  compiler/rustc_target/src/spec/targets/sparc64_unknown_openbsd.rs
  compiler/rustc_target/src/spec/targets/sparc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/sparc_unknown_none_elf.rs
  compiler/rustc_target/src/spec/targets/sparcv9_sun_solaris.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#131168 Fix `target_os` for `mipsel-sony-psx`
  compiler/rustc_target/src/spec/targets/mipsel_sony_psx.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors

#132403 continue `TypingMode` refactor
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_const_eval/src/check_consts/mod.rs
  compiler/rustc_const_eval/src/check_consts/ops.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/stack.rs
  compiler/rustc_const_eval/src/util/compare_types.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/validate.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/normalize.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  src/tools/clippy/clippy_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#131634 Use protected visibility when building rustc with LLD
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#132402 Remove support for decompressing dylib metadata
  Cargo.lock
  compiler/rustc_metadata/Cargo.toml
  compiler/rustc_metadata/src/locator.rs
  src/tools/rust-analyzer/Cargo.lock
  src/tools/rust-analyzer/Cargo.toml
  src/tools/rust-analyzer/crates/proc-macro-srv/Cargo.toml
  src/tools/rust-analyzer/crates/proc-macro-srv/src/dylib/version.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-compiler, relnotes, T-bootstrap, S-waiting-on-bors, merged-by-bors

#132196 Some where clause lowering simplifications
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#132276 Double-check conditional constness in MIR
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_const_eval/src/check_consts/ops.rs
  tests/ui/traits/const-traits/const-drop-fail-2.stderr
  tests/ui/traits/const-traits/const-drop.precise.stderr
  tests/ui/traits/const-traits/const-drop.stock.stderr
  tests/ui/traits/const-traits/cross-crate.rs
  tests/ui/traits/const-traits/cross-crate.stock.stderr
  tests/ui/traits/const-traits/cross-crate.stocknc.stderr
  tests/ui/traits/const-traits/default-method-body-is-const-body-checking.rs
  tests/ui/traits/const-traits/default-method-body-is-const-body-checking.stderr
  tests/ui/traits/const-traits/specializing-constness-2.stderr
  tests/ui/traits/const-traits/staged-api-user-crate.rs
  tests/ui/traits/const-traits/staged-api-user-crate.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#131829 Remove support for `-Zprofile` (gcov-style coverage instrumentation)
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  src/doc/rustc/src/instrument-coverage.md
  src/doc/unstable-book/src/compiler-flags/profile.md
  tests/run-make/profile/rmake.rs
  tests/run-make/profile/test.rs
Labels: T-compiler, relnotes, S-waiting-on-bors, A-run-make

#132369 style-guide: Only use the new binop heuristic for assignments
  src/doc/style-guide/src/editions.md
  src/doc/style-guide/src/expressions.md
Labels: S-waiting-on-bors, T-style

#132383 Implement suggestion for never type fallback lints
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/fallback.rs
  tests/ui/editions/never-type-fallback-breaking.e2021.stderr
  tests/ui/never_type/defaulted-never-note.nofallback.stderr
  tests/ui/never_type/dependency-on-fallback-to-unit.stderr
  tests/ui/never_type/diverging-fallback-control-flow.nofallback.stderr
  tests/ui/never_type/diverging-fallback-no-leak.nofallback.stderr
  tests/ui/never_type/diverging-fallback-unconstrained-return.nofallback.stderr
  tests/ui/never_type/fallback-closure-ret.nofallback.stderr
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.e2015.stderr
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.e2024.stderr
Labels: T-compiler, S-waiting-on-bors

#132413 update offset_of! docs to reflect the stabilization of nesting
  library/core/src/mem/mod.rs
Labels: S-waiting-on-bors, T-libs

#132438 Remove unncessary option for default rust-analyzer setting
  src/bootstrap/src/core/build_steps/setup.rs
  src/etc/rust_analyzer_settings.json
Labels: T-bootstrap, S-waiting-on-bors

#132439 Add `f16` and `f128` to `invalid_nan_comparison`
  compiler/rustc_lint/src/types.rs
  tests/ui/lint/invalid-nan-comparison-suggestion.fixed
  tests/ui/lint/invalid-nan-comparison-suggestion.rs
  tests/ui/lint/invalid-nan-comparison-suggestion.stderr
  tests/ui/lint/invalid-nan-comparison.rs
  tests/ui/lint/invalid-nan-comparison.stderr
Labels: A-lint, T-compiler, S-waiting-on-bors, F-f16_and_f128, L-invalid_nan_comparisons

#132444 rustdoc: Directly use rustc_abi instead of reexports
  src/librustdoc/clean/types.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/type_layout.rs
  src/librustdoc/json/conversions.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#132445 Cleanup attributes around unchecked shifts and unchecked negation in const
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
Labels: S-waiting-on-bors, T-libs

#132448 Add missing backtick
  tests/ui/consts/promote-not.rs
Labels: T-compiler, S-waiting-on-bors

#132450 Show actual MIR when MIR building forgot to terminate block
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_mir_build/src/build/mod.rs
Labels: T-compiler, S-waiting-on-bors

#132451 remove some unnecessary rustc_allow_const_fn_unstable
  library/core/src/mem/maybe_uninit.rs
  library/core/src/num/nonzero.rs
  library/core/src/ptr/mod.rs
  library/core/src/slice/mod.rs
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#132455 make const_alloc_layout feature gate only about functions that are already stable
  library/core/src/alloc/layout.rs
Labels: S-waiting-on-bors, T-libs

#132456 Move remaining inline assembly test files into asm directory
  tests/assembly/asm/comments.rs
  tests/codegen/asm/arm64ec-clobbers.rs
  tests/codegen/asm/foo.s
  tests/codegen/asm/global_asm.rs
  tests/codegen/asm/global_asm_include.rs
  tests/codegen/asm/global_asm_x2.rs
  tests/codegen/asm/goto.rs
  tests/codegen/asm/may_unwind.rs
  tests/codegen/asm/maybe-uninit.rs
  tests/codegen/asm/msp430-clobbers.rs
  tests/codegen/asm/multiple-options.rs
  tests/codegen/asm/options.rs
  tests/codegen/asm/powerpc-clobbers.rs
  tests/codegen/asm/s390x-clobbers.rs
  tests/codegen/asm/sanitize-llvm.rs
  tests/codegen/asm/x86-clobber_abi.rs
  tests/codegen/asm/x86-clobbers.rs
  tests/codegen/asm/x86-target-clobbers.rs
Labels: A-inline-assembly, S-waiting-on-bors

#132459 feat(byte_sub_ptr): unstably add ptr::byte_sub_ptr
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
Labels: S-waiting-on-bors, T-libs

#131037 Move versioned Apple LLVM targets from `rustc_target` to `rustc_codegen_ssa`
  compiler/rustc_codegen_cranelift/src/lib.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/apple.rs
  compiler/rustc_codegen_ssa/src/back/apple/tests.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_codegen_ssa/src/back/mod.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/base/apple/tests.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors, O-apple

#132170 Add a Few Codegen Tests
  tests/codegen/issues/issue-64219-fn-ptr-call-returning-never-is-noreturn.rs
  tests/codegen/issues/issue-86109-eliminate-div-by-zero-check.rs
Labels: T-compiler, S-waiting-on-bors

#132333 rust_analyzer_helix.toml: add library/ manifest
  src/etc/rust_analyzer_helix.toml
Labels: S-waiting-on-bors

#132398 Add a couple of intra-doc links to str
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#132411 CI: switch dist-x86_64-musl to free runner
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#132453 Also treat `impl` definition parent as transparent regarding modules
  compiler/rustc_lint/src/non_local_def.rs
  tests/ui/lint/non-local-defs/convoluted-locals-132427.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, L-non_local_definitions

#132457 Remove needless #![feature(asm_experimental_arch)] from loongarch64 inline assembly test
  tests/assembly/asm/loongarch-type.rs
Labels: S-waiting-on-bors

#132465 refactor(config): remove FIXME statement in comment of `omit-git-hash`
  config.example.toml
Labels: T-bootstrap, S-waiting-on-bors

#132466 Account for late-bound depth when capturing all opaque lifetimes.
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  tests/ui/impl-trait/in-trait/late-bound-in-object-assocty.rs
Labels: T-compiler, S-waiting-on-bors

#132471 Add a bunch of mailmap entries
  .mailmap
Labels: S-waiting-on-bors, A-meta

#132488 Remove or fix some more `FIXME(async_closure)`
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  tests/ui/async-await/async-closures/mangle.rs
  tests/ui/async-await/async-closures/no-borrow-from-env.rs
  tests/ui/async-await/async-closures/not-fn.rs
  tests/ui/async-await/async-closures/precise-captures.rs
  tests/ui/async-await/async-closures/without-precise-captures-we-are-powerless.rs
  tests/ui/async-await/async-closures/without-precise-captures-we-are-powerless.stderr
Labels: T-compiler, S-waiting-on-bors

#132497 Rollup of 11 pull requests
  .mailmap
  compiler/rustc_codegen_cranelift/src/lib.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/apple.rs
  compiler/rustc_codegen_ssa/src/back/apple/tests.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_codegen_ssa/src/back/mod.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_lint/src/non_local_def.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/base/apple/tests.rs
  compiler/rustc_target/src/spec/mod.rs
  config.example.toml
  library/core/src/str/mod.rs
  src/ci/github-actions/jobs.yml
  src/etc/rust_analyzer_helix.toml
  tests/assembly/asm/loongarch-type.rs
  tests/codegen/issues/issue-64219-fn-ptr-call-returning-never-is-noreturn.rs
  tests/codegen/issues/issue-86109-eliminate-div-by-zero-check.rs
  tests/ui/async-await/async-closures/mangle.rs
  tests/ui/async-await/async-closures/no-borrow-from-env.rs
  tests/ui/async-await/async-closures/not-fn.rs
  tests/ui/async-await/async-closures/precise-captures.rs
  tests/ui/async-await/async-closures/without-precise-captures-we-are-powerless.rs
  tests/ui/async-await/async-closures/without-precise-captures-we-are-powerless.stderr
  tests/ui/impl-trait/in-trait/late-bound-in-object-assocty.rs
  tests/ui/lint/non-local-defs/convoluted-locals-132427.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-meta, T-libs, O-apple

#132468 [beta] backports
  compiler/rustc_mir_transform/src/gvn.rs
  library/Cargo.lock
  library/std/Cargo.toml
  library/std/src/sys/thread_local/native/mod.rs
  library/std/src/sys/thread_local/os.rs
  library/std/tests/thread.rs
  tests/codegen/clone_as_copy.rs
  tests/codegen/try_question_mark_nop.rs
  tests/mir-opt/gvn_clone.rs
  tests/mir-opt/gvn_clone.{impl#0}-clone.GVN.diff
  tests/mir-opt/gvn_copy_aggregate.rs
  tests/mir-opt/pre-codegen/clone_as_copy.rs
  tests/mir-opt/pre-codegen/no_inlined_clone.{impl#0}-clone.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/try_identity.old.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/simplify_aggregate_to_copy_miscompile.foo.GVN.diff
  tests/mir-opt/simplify_aggregate_to_copy_miscompile.rs
  tests/ui/mir/clone-canonicalization-miscompile-132353.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#125579 Add `--print host-tuple` to print host target tuple
  compiler/rustc_codegen_cranelift/src/global_asm.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/filesearch.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/search_paths.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/rustc/src/command-line-arguments.md
  src/doc/rustdoc/src/command-line-arguments.md
  src/librustdoc/config.rs
  src/librustdoc/doctest.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/miri/src/machine.rs
  src/tools/opt-dist/src/environment.rs
  src/tools/opt-dist/src/exec.rs
  src/tools/opt-dist/src/main.rs
  src/tools/opt-dist/src/tests.rs
  tests/ui/invalid-compile-flags/print.stderr
  tests/ui/print-request/host.rs
  tests/ui/print-request/host.stdout
  tests/ui/print-request/invalid-target.rs
  tests/ui/print-request/invalid-target.stderr
  tests/ui/print-request/macos-target.rs
  tests/ui/print-request/macos-target.stdout
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce, A-compiletest

#132458 get rid of a whole bunch of unnecessary rustc_const_unstable attributes
  library/core/src/array/iter.rs
  library/core/src/char/methods.rs
  library/core/src/lib.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/net/ip_addr.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/mod.rs
  library/core/src/num/nonzero.rs
  library/core/src/num/uint_macros.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/str/converts.rs
  library/core/src/sync/exclusive.rs
  library/core/src/task/wake.rs
  library/core/src/time.rs
  library/core/src/unicode/unicode_data.rs
  library/core/tests/lib.rs
  src/tools/unicode-table-generator/src/range_search.rs
  src/tools/unicode-table-generator/src/raw_emitter.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#132526 Subtree sync for rustc_codegen_cranelift
  compiler/rustc_codegen_cranelift/Cargo.lock
  compiler/rustc_codegen_cranelift/Cargo.toml
  compiler/rustc_codegen_cranelift/build_system/build_sysroot.rs
  compiler/rustc_codegen_cranelift/build_system/prepare.rs
  compiler/rustc_codegen_cranelift/patches/0002-abi-cafe-Disable-broken-tests.patch
  compiler/rustc_codegen_cranelift/patches/0022-coretests-Disable-not-compiling-tests.patch
  compiler/rustc_codegen_cranelift/patches/0027-coretests-128bit-atomic-operations.patch
  compiler/rustc_codegen_cranelift/patches/0028-coretests-Disable-long-running-tests.patch
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/line_info.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/mod.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/unwind.rs
  compiler/rustc_codegen_cranelift/src/inline_asm.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_cranelift/src/lib.rs
  compiler/rustc_codegen_cranelift/src/pretty_clif.rs
  compiler/rustc_codegen_cranelift/src/trap.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, A-codegen, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-cranelift, has-merge-commits

#132419 PassWrapper: adapt for llvm/llvm-project@b01e2a8b5620466c3b
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, llvm-main

#129329 Implement `From<&mut {slice}>` for `Box/Rc/Arc<{slice}>`
  library/alloc/src/boxed/convert.rs
  library/alloc/src/ffi/c_str.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/std/src/ffi/os_str.rs
  library/std/src/path.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#131377 Add LowerExp and UpperExp implementations to NonZero
  library/core/src/num/nonzero.rs
  library/core/tests/nonzero.rs
Labels: T-libs-api, S-waiting-on-bors, finished-final-comment-period, needs-fcp, to-announce

#132393 Docs: added brief colon explanation
  library/alloc/src/fmt.rs
Labels: S-waiting-on-bors, T-libs

#132437 coverage: Regression test for inlining into an uninstrumented crate
  tests/coverage/auxiliary/inline_mixed_helper.rs
  tests/coverage/inline_mixed.rs
Labels: S-waiting-on-bors, A-code-coverage

#132499 unicode_data.rs: show command for generating file
  library/core/src/unicode/unicode_data.rs
  src/tools/unicode-table-generator/src/main.rs
Labels: S-waiting-on-bors, T-libs

#132503 better test for const HashMap; remove const_hash leftovers
  library/core/src/hash/sip.rs
  library/core/src/lib.rs
  library/core/tests/lib.rs
  library/std/src/collections/hash/map/tests.rs
  library/std/src/hash/random.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#132511 stabilize const_arguments_as_str
  library/core/src/fmt/mod.rs
  library/core/src/lib.rs
  library/core/src/panic/panic_info.rs
Labels: S-waiting-on-bors, T-libs

#132520 NFC add known bug nr to test
  tests/ui/specialization/source-impl-requires-constraining-predicates-ambig.rs
Labels: T-compiler, S-waiting-on-bors

#132522 make codegen help output more consistent
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors

#132523 Added regression test for generics index out of bounds
  tests/ui/traits/ice-index-out-of-bounds-issue-117446.rs
  tests/ui/traits/ice-index-out-of-bounds-issue-117446.stderr
Labels: T-compiler, S-waiting-on-bors

#132528 Use `*_opt` typeck results fns to not ICE in fallback suggestion
  compiler/rustc_hir_typeck/src/fallback.rs
  tests/ui/never_type/suggestion-ice-132517.rs
  tests/ui/never_type/suggestion-ice-132517.stderr
Labels: T-compiler, S-waiting-on-bors

#132537 PassWrapper: adapt for llvm/llvm-project@5445edb5d
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, llvm-main

#132540 Do not format generic consts
  compiler/rustc_ast/src/ast.rs
  src/tools/rustfmt/src/items.rs
  src/tools/rustfmt/tests/target/const-generics.rs
Labels: T-compiler, S-waiting-on-bors

#132543 add and update some crashtests
  tests/crashes/126268.rs
  tests/crashes/131050.rs
  tests/crashes/132126.rs
Labels: S-waiting-on-bors

#132550 compiler: Continue introducing rustc_abi to the compiler
  Cargo.lock
  compiler/rustc_borrowck/Cargo.toml
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/path_utils.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir/Cargo.toml
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_monomorphize/Cargo.toml
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_sanitizers/Cargo.toml
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/encode.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/mod.rs
  compiler/rustc_sanitizers/src/cfi/typeid/mod.rs
  compiler/rustc_sanitizers/src/kcfi/typeid/mod.rs
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#132555 Rollup of 15 pull requests
  Cargo.lock
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_borrowck/Cargo.toml
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/path_utils.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir/Cargo.toml
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/src/fallback.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_monomorphize/Cargo.toml
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_sanitizers/Cargo.toml
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/encode.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/mod.rs
  compiler/rustc_sanitizers/src/cfi/typeid/mod.rs
  compiler/rustc_sanitizers/src/kcfi/typeid/mod.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
  library/alloc/src/boxed/convert.rs
  library/alloc/src/ffi/c_str.rs
  library/alloc/src/fmt.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/core/src/fmt/mod.rs
  library/core/src/hash/sip.rs
  library/core/src/lib.rs
  library/core/src/num/nonzero.rs
  library/core/src/panic/panic_info.rs
  library/core/src/unicode/unicode_data.rs
  library/core/tests/lib.rs
  library/core/tests/nonzero.rs
  library/std/src/collections/hash/map/tests.rs
  library/std/src/ffi/os_str.rs
  library/std/src/hash/random.rs
  library/std/src/lib.rs
  library/std/src/path.rs
  src/tools/rustfmt/src/items.rs
  src/tools/rustfmt/tests/target/const-generics.rs
  src/tools/unicode-table-generator/src/main.rs
  tests/coverage/auxiliary/inline_mixed_helper.rs
  tests/coverage/inline_mixed.rs
  tests/crashes/126268.rs
  tests/crashes/131050.rs
  tests/crashes/132126.rs
  tests/ui/never_type/suggestion-ice-132517.rs
  tests/ui/never_type/suggestion-ice-132517.stderr
  tests/ui/specialization/source-impl-requires-constraining-predicates-ambig.rs
  tests/ui/traits/ice-index-out-of-bounds-issue-117446.rs
  tests/ui/traits/ice-index-out-of-bounds-issue-117446.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, PG-exploit-mitigations

#132542 add const_panic macro to make it easier to fall back to non-formatting panic in const
  library/core/src/char/methods.rs
  library/core/src/macros/mod.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/num/mod.rs
  library/core/src/slice/index.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#123723 Make `std::os::darwin` public
  library/std/src/os/darwin/fs.rs
  library/std/src/os/darwin/mod.rs
  library/std/src/os/ios/mod.rs
  library/std/src/os/macos/mod.rs
  library/std/src/os/mod.rs
  library/std/src/os/unix/mod.rs
Labels: O-macos, O-ios, T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, A-meta, to-announce, O-unix, O-watchos, O-tvos, O-visionos, O-apple

#126136 Call the target libdir target libdir
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/mod.rs
Labels: T-bootstrap, S-waiting-on-bors

#132516 Add bad-reg inline assembly ui test for RISC-V and s390x
  tests/auxiliary/minicore.rs
  tests/ui/asm/riscv/bad-reg.riscv32e.stderr
  tests/ui/asm/riscv/bad-reg.riscv32gc.stderr
  tests/ui/asm/riscv/bad-reg.riscv32i.stderr
  tests/ui/asm/riscv/bad-reg.riscv32imafc.stderr
  tests/ui/asm/riscv/bad-reg.riscv64gc.stderr
  tests/ui/asm/riscv/bad-reg.riscv64imac.stderr
  tests/ui/asm/riscv/bad-reg.rs
  tests/ui/asm/riscv/riscv32e-registers.riscv32e.stderr
  tests/ui/asm/riscv/riscv32e-registers.riscv32em.stderr
  tests/ui/asm/riscv/riscv32e-registers.riscv32emc.stderr
  tests/ui/asm/riscv/riscv32e-registers.rs
  tests/ui/asm/s390x/bad-reg.rs
  tests/ui/asm/s390x/bad-reg.s390x.stderr
Labels: A-inline-assembly, T-compiler, S-waiting-on-bors

#132521 replace manual time convertions with std ones, comptime time format parsing
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_incremental/src/persist/fs.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#132560 Remove outdated tidy license fixmes
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#132563 Modify `NonZero` documentation to reference the underlying integer type
  library/core/src/num/nonzero.rs
Labels: S-waiting-on-bors, T-libs

#132434 Update `compiler-builtins` and enable f128 tests on all non-buggy platforms
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
  library/std/build.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#132423 remove const-support for align_offset and is_aligned
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/lib.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/ascii.rs
  library/core/src/slice/memchr.rs
  library/core/src/str/converts.rs
  library/core/src/str/validations.rs
  library/core/src/ub_checks.rs
  library/core/tests/lib.rs
  library/core/tests/ptr.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#132565 Reduce dependence on the target name
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_target/src/spec/mod.rs
  tests/run-make/target-specs/definitely-not-builtin-target.json
  tests/run-make/target-specs/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#132576 remove attribute ids from hir stats (they're simply not needed)
  compiler/rustc_passes/src/hir_stats.rs
Labels: T-compiler, S-waiting-on-bors

#131222 Generate correct symbols.o for sparc-unknown-none-elf
  compiler/rustc_codegen_ssa/src/back/metadata.rs
Labels: T-compiler, S-waiting-on-bors, O-SPARC

#132250 `rustc_borrowck` cleanups
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/constraints/mod.rs
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/prefixes.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/region_infer/values.rs
  compiler/rustc_borrowck/src/type_check/canonical.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_borrowck/src/type_check/liveness/local_use_map.rs
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/polonius.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#132275 Register `~const` preds for `Deref` adjustments in HIR typeck
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/place_op.rs
  compiler/rustc_middle/src/ty/adjustment.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  tests/ui/traits/const-traits/effects/auxiliary/minicore.rs
  tests/ui/traits/const-traits/effects/minicore-deref-fail.rs
  tests/ui/traits/const-traits/effects/minicore-deref-fail.stderr
  tests/ui/traits/const-traits/effects/minicore-works.rs
  tests/ui/traits/const-traits/effects/minicore.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#132355 Fix compiler panic with a large number of threads
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors

#132486 No need to instantiate binder in `confirm_async_closure_candidate`
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
Labels: T-compiler, S-waiting-on-bors

#132559 find the generic container rather than simply looking up for the assoc with const arg
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  tests/ui/traits/bound/unknown-assoc-with-const-arg.rs
  tests/ui/traits/bound/unknown-assoc-with-const-arg.stderr
Labels: T-compiler, S-waiting-on-bors

#132579 add rustc std workspace crate sources
  Cargo.lock
  Cargo.toml
  library/rustc-std-workspace-core/README.md
  src/rustc-std-workspace/README.md
  src/rustc-std-workspace/rustc-std-workspace-alloc/Cargo.toml
  src/rustc-std-workspace/rustc-std-workspace-alloc/src/lib.rs
  src/rustc-std-workspace/rustc-std-workspace-core/Cargo.toml
  src/rustc-std-workspace/rustc-std-workspace-core/src/lib.rs
  src/rustc-std-workspace/rustc-std-workspace-std/Cargo.toml
  src/rustc-std-workspace/rustc-std-workspace-std/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#132583 Suggest creating unary tuples when types don't match a trait
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/diagnostic_namespace/do_not_recommend/do_not_apply_attribute_without_feature_flag.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/supress_suggestions_in_help.current.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/supress_suggestions_in_help.next.stderr
  tests/ui/layout/rust-call-abi-not-a-tuple-ice-81974.stderr
  tests/ui/on-unimplemented/suggest_tuple_wrap.rs
  tests/ui/on-unimplemented/suggest_tuple_wrap.stderr
  tests/ui/on-unimplemented/suggest_tuple_wrap_root_obligation.rs
  tests/ui/on-unimplemented/suggest_tuple_wrap_root_obligation.stderr
  tests/ui/overloaded/overloaded-calls-nontuple.stderr
Labels: T-compiler, S-waiting-on-bors

#131341 Support clobber_abi and vector registers (clobber-only) in PowerPC inline assembly
  compiler/rustc_codegen_gcc/src/asm.rs
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_target/src/asm/mod.rs
  compiler/rustc_target/src/asm/powerpc.rs
  src/doc/unstable-book/src/language-features/asm-experimental-arch.md
  tests/codegen/asm/powerpc-clobbers.rs
  tests/ui/asm/powerpc/bad-reg.aix64.stderr
  tests/ui/asm/powerpc/bad-reg.powerpc.stderr
  tests/ui/asm/powerpc/bad-reg.powerpc64.stderr
  tests/ui/asm/powerpc/bad-reg.powerpc64le.stderr
  tests/ui/asm/powerpc/bad-reg.rs
Labels: A-inline-assembly, T-compiler, O-PowerPC, S-waiting-on-bors, merged-by-bors

#131153 Improve duplicate derive Copy/Clone diagnostics
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  tests/ui/derives/duplicate-derive-copy-clone-diagnostics.rs
  tests/ui/derives/duplicate-derive-copy-clone-diagnostics.stderr
Labels: T-compiler, S-waiting-on-bors

#132025 fix suggestion for diagnostic error E0027
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/destructuring-assignment/struct_destructure_fail.stderr
  tests/ui/error-codes/E0027.stderr
  tests/ui/pattern/usefulness/doc-hidden-fields.stderr
  tests/ui/pattern/usefulness/stable-gated-fields.stderr
  tests/ui/pattern/usefulness/unstable-gated-fields.stderr
  tests/ui/structs/struct-field-cfg.stderr
  tests/ui/structs/struct-pat-derived-error.stderr
  tests/ui/structs/struct-tuple-field-names.stderr
  tests/ui/structs/suggest-replacing-field-when-specifying-same-type.stderr
  tests/ui/typeck/issue-87872-missing-inaccessible-field-pattern.stderr
Labels: T-compiler, S-waiting-on-bors

#132303 More tests for non-exhaustive C-like enums in FFI
  tests/ui/rfcs/rfc-2008-non-exhaustive/improper_ctypes/auxiliary/types.rs
  tests/ui/rfcs/rfc-2008-non-exhaustive/improper_ctypes/extern_crate_improper.rs
Labels: T-compiler, S-waiting-on-bors

#132492 remove support for extern-block const intrinsics
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_const_eval/src/check_consts/ops.rs
  compiler/rustc_const_eval/src/const_eval/fn_queries.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_middle/src/ty/intrinsic.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/tests/lib.rs
  tests/rustdoc/const-intrinsic.rs
  tests/ui/closures/coerce-unsafe-to-closure.stderr
  tests/ui/consts/auxiliary/unstable_intrinsic.rs
  tests/ui/consts/const-compare-bytes-ub.rs
  tests/ui/consts/const-compare-bytes-ub.stderr
  tests/ui/consts/const-compare-bytes.rs
  tests/ui/consts/const-eval/simd/insert_extract.rs
  tests/ui/consts/const-unstable-intrinsic.rs
  tests/ui/consts/const-unstable-intrinsic.stderr
  tests/ui/consts/copy-intrinsic.rs
  tests/ui/consts/copy-intrinsic.stderr
  tests/ui/intrinsics/intrinsic-raw_eq-const-bad.rs
  tests/ui/intrinsics/intrinsic-raw_eq-const-bad.stderr
  tests/ui/intrinsics/intrinsic-raw_eq-const.rs
  tests/ui/intrinsics/reify-intrinsic.stderr
  tests/ui/repr/16-bit-repr-c-enum.rs
  tests/ui/stability-attribute/missing-const-stability.rs
  tests/ui/target-feature/feature-hierarchy.rs
  tests/ui/target-feature/no-llvm-leaks.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#132587 Revert "Avoid nested replacement ranges" from #129346.
  compiler/rustc_parse/src/parser/attr_wrapper.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#132596 [rustdoc] Fix `--show-coverage` when JSON output format is used
  src/librustdoc/clean/mod.rs
  src/librustdoc/core.rs
  src/librustdoc/passes/calculate_doc_coverage.rs
  src/librustdoc/passes/strip_hidden.rs
  src/librustdoc/passes/strip_priv_imports.rs
  src/librustdoc/passes/strip_private.rs
  src/librustdoc/visit_ast.rs
  tests/rustdoc-ui/show-coverage-json.rs
  tests/rustdoc-ui/show-coverage-json.stdout
  tests/rustdoc-ui/show-coverage.rs
  tests/rustdoc-ui/show-coverage.stdout
Labels: T-rustdoc, S-waiting-on-bors

#132598 Clippy: Move some attribute lints to be early pass (post expansion)
  src/tools/clippy/clippy_lints/src/attrs/allow_attributes.rs
  src/tools/clippy/clippy_lints/src/attrs/allow_attributes_without_reason.rs
  src/tools/clippy/clippy_lints/src/attrs/blanket_clippy_restriction_lints.rs
  src/tools/clippy/clippy_lints/src/attrs/deprecated_semver.rs
  src/tools/clippy/clippy_lints/src/attrs/duplicated_attributes.rs
  src/tools/clippy/clippy_lints/src/attrs/mixed_attributes_style.rs
  src/tools/clippy/clippy_lints/src/attrs/mod.rs
  src/tools/clippy/clippy_lints/src/attrs/should_panic_without_expect.rs
  src/tools/clippy/clippy_lints/src/attrs/useless_attribute.rs
  src/tools/clippy/clippy_lints/src/lib.rs
  src/tools/clippy/clippy_utils/src/check_proc_macro.rs
  src/tools/clippy/tests/ui/allow_attributes.stderr
  src/tools/clippy/tests/ui/allow_attributes_without_reason.stderr
  src/tools/clippy/tests/ui/attrs.stderr
  src/tools/clippy/tests/ui/blanket_clippy_restriction_lints.stderr
Labels: A-attributes, S-waiting-on-bors, A-clippy

#132606 Improve example of `impl Pattern for &[char]`
  library/core/src/str/pattern.rs
Labels: S-waiting-on-bors, T-libs

#132608 document `type_implements_trait`
  compiler/rustc_trait_selection/src/infer.rs
Labels: T-compiler, S-waiting-on-bors

#132609 docs: fix grammar in doc comment at unix/process.rs
  library/std/src/os/unix/process.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#129884 mark some target features as 'forbidden' so they cannot be (un)set with -Ctarget-feature
  compiler/rustc_codegen_gcc/messages.ftl
  compiler/rustc_codegen_gcc/src/errors.rs
  compiler/rustc_codegen_gcc/src/gcc_util.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/messages.ftl
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/target-feature/auxiliary/using-target-feature-unstable.rs
  tests/ui/target-feature/forbidden-target-feature-attribute.rs
  tests/ui/target-feature/forbidden-target-feature-attribute.stderr
  tests/ui/target-feature/forbidden-target-feature-cfg.rs
  tests/ui/target-feature/forbidden-target-feature-flag-disable.rs
  tests/ui/target-feature/forbidden-target-feature-flag-disable.stderr
  tests/ui/target-feature/forbidden-target-feature-flag.rs
  tests/ui/target-feature/forbidden-target-feature-flag.stderr
  tests/ui/target-feature/using-target-feature-unstable.rs
Labels: T-compiler, relnotes, S-waiting-on-bors, merged-by-bors

#132631 Rollup of 4 pull requests
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  library/core/src/char/methods.rs
  library/core/src/fmt/num.rs
  library/core/src/lib.rs
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#132153 Stabilise `const_char_encode_utf16`.
  library/core/src/char/methods.rs
  library/core/src/lib.rs
Labels: T-libs-api, S-waiting-on-bors

#132473 [core/fmt] Replace checked slice indexing by unchecked to support panic-free code
  library/core/src/fmt/num.rs
Labels: S-waiting-on-bors, T-libs

#132600 PassWrapper: adapt for new parameter in LLVM
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, llvm-main

#132630 triagebot: ping wg-const-eval when relevant files change
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#132259 rustc_codegen_llvm: Add a new 'pc' option to branch-protection
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  src/doc/unstable-book/src/compiler-flags/branch-protection.md
  tests/assembly/aarch64-pointer-auth.rs
  tests/codegen/branch-protection.rs
  tests/run-make/pointer-auth-link-with-c/rmake.rs
  tests/ui/invalid-compile-flags/branch-protection-missing-pac-ret.BADFLAGS.stderr
  tests/ui/invalid-compile-flags/branch-protection-missing-pac-ret.BADFLAGSPC.stderr
  tests/ui/invalid-compile-flags/branch-protection-missing-pac-ret.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations, A-run-make

#132409 CI: switch 7 linux jobs to free runners
  .github/workflows/ci.yml
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#132498 Suggest fixing typos and let bindings at the same time
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/error-festival.stderr
  tests/ui/suggestions/suggest-let-and-typo-issue-132483.rs
  tests/ui/suggestions/suggest-let-and-typo-issue-132483.stderr
Labels: T-compiler, S-waiting-on-bors

#132524 chore(style): sync submodule exclusion list between tidy and rustfmt
  rustfmt.toml
  src/tools/tidy/src/walk.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-meta

#132567 Properly suggest `E::assoc` when we encounter `E::Variant::assoc`
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/enum/assoc-fn-call-on-variant.rs
  tests/ui/enum/assoc-fn-call-on-variant.stderr
  tests/ui/resolve/resolve-variant-assoc-item.stderr
Labels: T-compiler, S-waiting-on-bors

#132571 add const_eval_select macro to reduce redundancy
  library/core/src/char/methods.rs
  library/core/src/ffi/c_str.rs
  library/core/src/intrinsics.rs
  library/core/src/macros/mod.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/num/mod.rs
  library/core/src/panic.rs
  library/core/src/panicking.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/slice/ascii.rs
  library/core/src/slice/index.rs
  library/core/src/slice/memchr.rs
  library/core/src/str/validations.rs
  library/core/src/ub_checks.rs
  tests/ui/consts/const-ptr-is-null.stderr
Labels: S-waiting-on-bors, T-libs

#132637 Do not filter empty lint passes & re-do CTFE pass
  compiler/rustc_lint/src/late.rs
  src/tools/clippy/clippy_lints/src/ctfe.rs
Labels: T-compiler, S-waiting-on-bors

#132642 Add documentation on `ast::Attribute`
  compiler/rustc_ast/src/attr/mod.rs
Labels: T-compiler, S-waiting-on-bors

#132661 Rollup of 8 pull requests
  .github/workflows/ci.yml
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  library/core/src/char/methods.rs
  library/core/src/ffi/c_str.rs
  library/core/src/intrinsics.rs
  library/core/src/macros/mod.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/num/mod.rs
  library/core/src/panic.rs
  library/core/src/panicking.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/slice/ascii.rs
  library/core/src/slice/index.rs
  library/core/src/slice/memchr.rs
  library/core/src/str/validations.rs
  library/core/src/ub_checks.rs
  rustfmt.toml
  src/ci/github-actions/jobs.yml
  src/doc/unstable-book/src/compiler-flags/branch-protection.md
  src/tools/clippy/clippy_lints/src/ctfe.rs
  src/tools/tidy/src/walk.rs
  tests/assembly/aarch64-pointer-auth.rs
  tests/codegen/branch-protection.rs
  tests/run-make/pointer-auth-link-with-c/rmake.rs
  tests/ui/consts/const-ptr-is-null.stderr
  tests/ui/enum/assoc-fn-call-on-variant.rs
  tests/ui/enum/assoc-fn-call-on-variant.stderr
  tests/ui/error-festival.stderr
  tests/ui/invalid-compile-flags/branch-protection-missing-pac-ret.BADFLAGS.stderr
  tests/ui/invalid-compile-flags/branch-protection-missing-pac-ret.BADFLAGSPC.stderr
  tests/ui/invalid-compile-flags/branch-protection-missing-pac-ret.rs
  tests/ui/resolve/resolve-variant-assoc-item.stderr
  tests/ui/suggestions/suggest-let-and-typo-issue-132483.rs
  tests/ui/suggestions/suggest-let-and-typo-issue-132483.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-meta, T-libs, PG-exploit-mitigations, A-run-make

#131405 bootstrap/codegen_ssa: ship llvm-strip and use it for -Cstrip
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/builder/mod.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors

#132077 Add a new `wide-arithmetic` feature for WebAssembly
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, O-wasm, S-waiting-on-bors

#132562 Remove the `wasm32-wasi` target from rustc
  compiler/rustc_session/src/config.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasi.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip1.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip2.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/wasm32-wasip1.md
  src/doc/unstable-book/src/compiler-flags/wasm-c-abi.md
  src/tools/build-manifest/src/main.rs
  src/tools/compiletest/src/header/tests.rs
  tests/assembly/targets/targets-elf.rs
  tests/codegen/repr/transparent-opaque-ptr.rs
Labels: A-testsuite, T-compiler, relnotes, T-bootstrap, O-wasm, S-waiting-on-bors, T-infra, O-wasi, A-compiletest

#132660 Remove unused errs.rs file
  compiler/rustc_hir_analysis/src/check/errs.rs
Labels: T-compiler, S-waiting-on-bors

#132664 Rollup of 5 pull requests
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_hir_analysis/src/check/errs.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasi.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip1.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip2.rs
  compiler/rustc_target/src/target_features.rs
  library/core/src/cell.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/builder/mod.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/wasm32-wasip1.md
  src/doc/unstable-book/src/compiler-flags/wasm-c-abi.md
  src/tools/build-manifest/src/main.rs
  src/tools/compiletest/src/header/tests.rs
  tests/assembly/targets/targets-elf.rs
  tests/codegen/repr/transparent-opaque-ptr.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, A-compiletest

#131261 Stabilize `UnsafeCell::from_mut`
  library/core/src/cell.rs
Labels: T-libs-api, S-waiting-on-bors

#132500 make char::is_whitespace unstably const
  library/core/src/char/methods.rs
  library/core/src/unicode/unicode_data.rs
  src/tools/unicode-table-generator/src/cascading_map.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#132663 Tweak E0320 overflow error wording
  compiler/rustc_middle/messages.ftl
  tests/ui/dropck/dropck_no_diverge_on_nonregular_1.rs
  tests/ui/dropck/dropck_no_diverge_on_nonregular_1.stderr
  tests/ui/dropck/dropck_no_diverge_on_nonregular_2.rs
  tests/ui/dropck/dropck_no_diverge_on_nonregular_2.stderr
  tests/ui/dropck/dropck_no_diverge_on_nonregular_3.rs
  tests/ui/dropck/dropck_no_diverge_on_nonregular_3.stderr
  tests/ui/recursion/issue-38591-non-regular-dropck-recursion.rs
  tests/ui/recursion/issue-38591-non-regular-dropck-recursion.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#131721 Add new unstable feature `const_eq_ignore_ascii_case`
  library/core/src/lib.rs
  library/core/src/slice/ascii.rs
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#132404 Suggest swapping LHS and RHS when RHS impls `PartialEq<lhs_ty>`
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/op.rs
  tests/ui/suggestions/partialeq_suggest_swap.rs
  tests/ui/suggestions/partialeq_suggest_swap.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#132697 Clean middle generics using paren sugar if trait has `#[rustc_paren_sugar]`
  src/librustdoc/clean/utils.rs
  tests/rustdoc/inline_cross/assoc_item_trait_bounds.rs
  tests/rustdoc/inline_cross/auxiliary/assoc_item_trait_bounds.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#132617 Fix an extra newline in rendered std doc
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#132698 Remove unneeded fields in `scrape_examples::FindCalls`
  src/librustdoc/scrape_examples.rs
Labels: T-rustdoc, S-waiting-on-bors

#132700 add note not to re-report crashes from `crashes` tests
  tests/crashes/README.md
Labels: S-waiting-on-bors

#132703 Rollup of 3 pull requests
  library/std/src/lib.rs
  src/librustdoc/scrape_examples.rs
  tests/crashes/README.md
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#132625 Only disable cache if predicate has opaques within it
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#131888 Revert using `HEAP` static in Windows alloc
  library/std/src/sys/alloc/windows.rs
Labels: O-windows, S-waiting-on-bors, merged-by-bors, T-libs

#132705 Inline str::repeat
  library/alloc/src/str.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#132710 more crash tests
  tests/crashes/132127.rs
  tests/crashes/132142.rs
  tests/crashes/132320.rs
  tests/crashes/132330.rs
  tests/crashes/132335.rs
  tests/crashes/132391.rs
  tests/crashes/132430.rs
  tests/crashes/132530.rs
Labels: S-waiting-on-bors, merged-by-bors

#132635 bootstrap: add quoting support to avoid splitting
  src/bootstrap/configure.py
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#132057 miri: update ABI compat checks to accept Option-like types
  compiler/rustc_const_eval/src/interpret/call.rs
  src/tools/miri/tests/pass/function_calls/abi_compat.rs
Labels: T-compiler, S-waiting-on-bors

#132665 Implement `div_ceil` for `NonZero<unsigned>`
  library/core/src/num/nonzero.rs
Labels: S-waiting-on-bors, T-libs

#132694 fix(x): fix a regex used to find python executable
  x
Labels: T-bootstrap, S-waiting-on-bors

#132707 Add --diagnostic-width to some tests failing after 1a0c5021838
  tests/ui/coroutine/clone-impl-async.rs
  tests/ui/coroutine/clone-impl-async.stderr
  tests/ui/coroutine/clone-impl-static.rs
  tests/ui/coroutine/clone-impl-static.stderr
  tests/ui/coroutine/gen_block_is_coro.rs
  tests/ui/impl-trait/issue-55872-3.rs
  tests/ui/impl-trait/issue-55872-3.stderr
  tests/ui/not-clone-closure.rs
  tests/ui/not-clone-closure.stderr
Labels: T-compiler, S-waiting-on-bors, llvm-main

#132715 fix `LazyLock::get` and `LazyLock::get_mut` document
  library/std/src/sync/lazy_lock.rs
Labels: S-waiting-on-bors, T-libs

#132716 chore(issue-template): fix branch name
  .github/ISSUE_TEMPLATE/tracking_issue.md
Labels: S-waiting-on-bors

#132722 Rollup of 6 pull requests
  .github/ISSUE_TEMPLATE/tracking_issue.md
  compiler/rustc_const_eval/src/interpret/call.rs
  library/core/src/num/nonzero.rs
  library/std/src/sync/lazy_lock.rs
  src/tools/miri/tests/pass/function_calls/abi_compat.rs
  tests/ui/coroutine/clone-impl-async.rs
  tests/ui/coroutine/clone-impl-async.stderr
  tests/ui/coroutine/clone-impl-static.rs
  tests/ui/coroutine/clone-impl-static.stderr
  tests/ui/coroutine/gen_block_is_coro.rs
  tests/ui/impl-trait/issue-55872-3.rs
  tests/ui/impl-trait/issue-55872-3.stderr
  tests/ui/not-clone-closure.rs
  tests/ui/not-clone-closure.stderr
  x
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#132714 unpin and update memchr
  library/Cargo.lock
  library/std/Cargo.toml
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#132638 Remove fixme comment about clobber_abi on PowerPC
  compiler/rustc_target/src/asm/mod.rs
Labels: T-compiler, O-PowerPC, S-waiting-on-bors

#132729 Make fn_abi_sanity_check a bit stricter
  compiler/rustc_ty_utils/src/abi.rs
Labels: T-compiler, S-waiting-on-bors

#132736 Rollup of 4 pull requests
  Cargo.lock
  compiler/rustc/src/main.rs
  compiler/rustc_ast_lowering/Cargo.toml
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_hir_analysis/Cargo.toml
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_typeck/Cargo.toml
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_lint/Cargo.toml
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_next_trait_solver/Cargo.toml
  compiler/rustc_target/Cargo.toml
  compiler/rustc_target/src/asm/mod.rs
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_ty_utils/src/abi.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#132726 Remove unused intercrate dependencies
  Cargo.lock
  compiler/rustc/src/main.rs
  compiler/rustc_ast_lowering/Cargo.toml
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_hir_analysis/Cargo.toml
  compiler/rustc_hir_typeck/Cargo.toml
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_lint/Cargo.toml
  compiler/rustc_next_trait_solver/Cargo.toml
  compiler/rustc_target/Cargo.toml
  compiler/rustc_trait_selection/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#132734 remove 'platform-intrinsic' ABI leftovers
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_middle/src/ty/instance.rs
Labels: T-compiler, S-waiting-on-bors

#132472 Basic inline assembly support for SPARC and SPARC64
  compiler/rustc_codegen_gcc/src/asm.rs
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/asm/mod.rs
  compiler/rustc_target/src/asm/sparc.rs
  src/doc/unstable-book/src/language-features/asm-experimental-arch.md
  tests/assembly/asm/sparc-types.rs
  tests/codegen/asm/sparc-clobbers.rs
  tests/ui/asm/bad-arch.rs
  tests/ui/asm/bad-arch.stderr
  tests/ui/asm/sparc/bad-reg.rs
  tests/ui/asm/sparc/bad-reg.sparc.stderr
  tests/ui/asm/sparc/bad-reg.sparc64.stderr
  tests/ui/asm/sparc/bad-reg.sparcv8plus.stderr
Labels: A-inline-assembly, T-compiler, S-waiting-on-bors, O-SPARC, merged-by-bors

#128849 Tweak detection of multiple crate versions to be more encompassing
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  tests/run-make/crate-loading/multiple-dep-versions-3.rs
  tests/run-make/crate-loading/multiple-dep-versions.rs
  tests/run-make/crate-loading/rmake.rs
  tests/ui/typeck/foreign_struct_trait_unimplemented.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, merged-by-bors, A-run-make

#132696 Compile `test_num_f128` conditionally on `reliable_f128_math` config
  library/std/src/f128/tests.rs
Labels: S-waiting-on-bors, T-libs, F-f16_and_f128

#132737 bootstrap: Print better message if lock pid isn't available
  src/bootstrap/src/bin/main.rs
Labels: T-bootstrap, S-waiting-on-bors

#131913 Add `{ignore,needs}-{rustc,std}-debug-assertions` directive support
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/config/config.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/directive-list.rs
  src/tools/compiletest/src/header/cfg.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/lib.rs
  tests/codegen/binary-heap-peek-mut-pop-no-panic.rs
  tests/codegen/mem-replace-big-type.rs
  tests/codegen/mem-replace-simple-type.rs
  tests/codegen/slice-reverse.rs
  tests/codegen/vec-in-place.rs
  tests/codegen/vec-shrink-panik.rs
  tests/codegen/vec-with-capacity.rs
  tests/codegen/vecdeque-drain.rs
  tests/codegen/vecdeque_no_panic.rs
  tests/mir-opt/pre-codegen/mem_replace.rs
  tests/mir-opt/pre-codegen/ptr_offset.rs
  tests/mir-opt/pre-codegen/slice_iter.rs
  tests/ui/print_type_sizes/niche-filling.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-compiletest

#132095 Fix #131977 parens mangled in shared mut static lint suggestion
  compiler/rustc_lint/src/static_mut_refs.rs
  tests/ui/statics/static-mut-shared-parens.rs
  tests/ui/statics/static-mut-shared-parens.stderr
Labels: T-compiler, S-waiting-on-bors

#132131 [StableMIR] API to retrieve definitions from crates
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/lib.rs
  tests/ui-fulldeps/stable-mir/check_crate_defs.rs
Labels: T-compiler, S-waiting-on-bors, A-stable-MIR

#132639 core: move intrinsics.rs into intrinsics folder
  library/core/src/intrinsics/mod.rs
  tests/ui/consts/const-eval/raw-pointer-ub.stderr
  tests/ui/intrinsics/const-eval-select-bad.stderr
Labels: S-waiting-on-bors, T-libs

#132739 Fix `librustdoc/scrape_examples.rs` formatting
  src/librustdoc/scrape_examples.rs
Labels: T-rustdoc, S-waiting-on-bors

#132740 Update test for LLVM 20's new vector splat syntax
  tests/codegen/simd-intrinsic/simd-intrinsic-generic-bitmask.rs
Labels: S-waiting-on-bors, llvm-main

#132741 Update mips64 data layout to match LLVM 20 change
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_target/src/spec/targets/mips64_openwrt_linux_musl.rs
  compiler/rustc_target/src/spec/targets/mips64_unknown_linux_gnuabi64.rs
  compiler/rustc_target/src/spec/targets/mips64_unknown_linux_muslabi64.rs
  compiler/rustc_target/src/spec/targets/mips64el_unknown_linux_gnuabi64.rs
  compiler/rustc_target/src/spec/targets/mips64el_unknown_linux_muslabi64.rs
  compiler/rustc_target/src/spec/targets/mipsisa64r6_unknown_linux_gnuabi64.rs
  compiler/rustc_target/src/spec/targets/mipsisa64r6el_unknown_linux_gnuabi64.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main
