Repository rust-lang/rust, pull requests merged in 2024-07, with the labels that each got.

#127026 Cleanup bootstrap check-cfg
  library/alloc/Cargo.toml
  library/core/Cargo.toml
  library/std/Cargo.toml
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#127082 Add back `help-page.goml` rustdoc GUI test
  tests/rustdoc-gui/help-page.goml
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#127090 Reduce merge conflicts from rustfmt's wrapping
  compiler/rustc_interface/src/tests.rs
Labels: T-compiler, S-waiting-on-bors

#127105 Only update `Eq` operands in GVN if it can update both sides
  compiler/rustc_mir_transform/src/gvn.rs
  tests/mir-opt/gvn.remove_casts_must_change_both_sides.GVN.panic-abort.diff
  tests/mir-opt/gvn.remove_casts_must_change_both_sides.GVN.panic-unwind.diff
  tests/mir-opt/gvn.rs
  tests/mir-opt/gvn_ptr_eq_with_constant.main.GVN.diff
  tests/mir-opt/gvn_ptr_eq_with_constant.rs
Labels: T-compiler, S-waiting-on-bors

#127181 Introduce a `rustc_` attribute to dump all the `DefId` parents of a `DefId`
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_hir_analysis/src/collect/dump.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/attributes/dump_def_parents.rs
  tests/ui/attributes/dump_def_parents.stderr
Labels: T-compiler, S-waiting-on-bors

#127191 Ensure `out_of_scope_macro_calls` lint is registered
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/macros/out-of-scope-macro-calls-lint-registered.rs
Labels: T-compiler, S-waiting-on-bors, L-out_of_scope_macro_calls

#127197 Rollup of 7 pull requests
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_hir_analysis/src/collect/dump.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/net/ip_addr.rs
  src/ci/docker/host-x86_64/dist-loongarch64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  tests/mir-opt/gvn.remove_casts_must_change_both_sides.GVN.panic-abort.diff
  tests/mir-opt/gvn.remove_casts_must_change_both_sides.GVN.panic-unwind.diff
  tests/mir-opt/gvn.rs
  tests/mir-opt/gvn_ptr_eq_with_constant.main.GVN.diff
  tests/mir-opt/gvn_ptr_eq_with_constant.rs
  tests/ui/attributes/dump_def_parents.rs
  tests/ui/attributes/dump_def_parents.stderr
  tests/ui/macros/out-of-scope-macro-calls-lint-registered.rs
  tests/ui/simd/dont-invalid-bitcast-masks.rs
  tests/ui/simd/dont-invalid-bitcast-x86_64.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#126923 test: dont optimize to invalid bitcasts
  tests/ui/simd/dont-invalid-bitcast-masks.rs
  tests/ui/simd/dont-invalid-bitcast-x86_64.rs
Labels: T-compiler, S-waiting-on-bors

#127150 Fix x86_64 code being produced for bare-metal LoongArch targets' `compiler_builtins`
  src/ci/docker/host-x86_64/dist-loongarch64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
Labels: A-testsuite, S-waiting-on-bors, T-infra

#127182 Fix error in documentation for IpAddr::to_canonical and Ipv6Addr::to_canonical
  library/core/src/net/ip_addr.rs
Labels: S-waiting-on-bors, T-libs

#127113 Avoid MIR bloat in inlining
  compiler/rustc_mir_transform/src/cost_checker.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_session/src/options.rs
  library/alloc/src/raw_vec.rs
  library/alloc/src/vec/mod.rs
  tests/codegen-units/item-collection/drop_in_place_intrinsic.rs
  tests/mir-opt/inline/inline_more_in_non_inline.marked_inline_direct.Inline.after.panic-abort.mir
  tests/mir-opt/inline/inline_more_in_non_inline.marked_inline_direct.Inline.after.panic-unwind.mir
  tests/mir-opt/inline/inline_more_in_non_inline.marked_inline_indirect.Inline.after.panic-abort.mir
  tests/mir-opt/inline/inline_more_in_non_inline.marked_inline_indirect.Inline.after.panic-unwind.mir
  tests/mir-opt/inline/inline_more_in_non_inline.monomorphic_not_inline.Inline.after.panic-abort.mir
  tests/mir-opt/inline/inline_more_in_non_inline.monomorphic_not_inline.Inline.after.panic-unwind.mir
  tests/mir-opt/inline/inline_more_in_non_inline.rs
  tests/mir-opt/inline/inline_shims.drop.Inline.panic-abort.diff
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.slice_iter_mut_next_back.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.slice_iter_mut_next_back.PreCodegen.after.panic-unwind.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#126832 linker: Refactor interface for passing arguments to linker
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
Labels: T-compiler, S-waiting-on-bors

#127201 Improve run-make-support API
  src/tools/run-make-support/src/command.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/rustc.rs
  src/tools/run-make-support/src/rustdoc.rs
  tests/run-make/comment-section/rmake.rs
  tests/run-make/compressed-debuginfo/rmake.rs
  tests/run-make/inaccessible-temp-dir/rmake.rs
  tests/run-make/static-pie/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#127216 Rollup of 8 pull requests
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  library/core/src/panic.rs
  library/core/src/panic/panic_info.rs
  library/core/src/time.rs
  library/core/tests/lib.rs
  library/std/src/lib.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/doc/style-guide/src/nightly.md
  src/tools/run-make-support/src/command.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/rustc.rs
  src/tools/run-make-support/src/rustdoc.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/comment-section/rmake.rs
  tests/run-make/compressed-debuginfo/rmake.rs
  tests/run-make/inaccessible-temp-dir/rmake.rs
  tests/run-make/static-pie/rmake.rs
  tests/run-make/volatile-intrinsics/Makefile
  tests/run-make/volatile-intrinsics/rmake.rs
  tests/run-make/wasm-abi/rmake.rs
  tests/run-make/wasm-exceptions-nostd/Makefile
  tests/run-make/wasm-exceptions-nostd/rmake.rs
  tests/run-make/wasm-exceptions-nostd/src/lib.rs
  tests/run-make/wasm-exceptions-nostd/src/panicking.rs
  tests/run-make/wasm-override-linker/Makefile
  tests/run-make/wasm-override-linker/rmake.rs
  tests/run-make/weird-output-filenames/Makefile
  tests/run-make/weird-output-filenames/rmake.rs
  tests/ui/return/tail-expr-as-potential-return.rs
  tests/ui/return/tail-expr-as-potential-return.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, T-style, A-run-make

#126732 Stabilize `PanicInfo::message()` and `PanicMessage`
  library/core/src/panic.rs
  library/core/src/panic/panic_info.rs
  library/std/src/lib.rs
  tests/run-make/wasm-exceptions-nostd/src/lib.rs
Labels: S-waiting-on-bors, S-waiting-on-fcp, T-libs, A-panic

#126753 Add nightly style guide section for `precise_capturing` `use<>` syntax
  src/doc/style-guide/src/nightly.md
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, T-style

#126880 Migrate `volatile-intrinsics`, `weird-output-filenames`, `wasm-override-linker`, `wasm-exceptions-nostd` to `rmake`
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/compressed-debuginfo/rmake.rs
  tests/run-make/volatile-intrinsics/Makefile
  tests/run-make/volatile-intrinsics/rmake.rs
  tests/run-make/wasm-abi/rmake.rs
  tests/run-make/wasm-exceptions-nostd/Makefile
  tests/run-make/wasm-exceptions-nostd/rmake.rs
  tests/run-make/wasm-exceptions-nostd/src/panicking.rs
  tests/run-make/wasm-override-linker/Makefile
  tests/run-make/wasm-override-linker/rmake.rs
  tests/run-make/weird-output-filenames/Makefile
  tests/run-make/weird-output-filenames/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-run-make

#127128 Stabilize `duration_abs_diff`
  library/core/src/time.rs
  library/core/tests/lib.rs
Labels: S-waiting-on-bors, T-libs

#127129 Use full expr span for return suggestion on type error/ambiguity
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/return/tail-expr-as-potential-return.rs
  tests/ui/return/tail-expr-as-potential-return.stderr
Labels: T-compiler, S-waiting-on-bors

#127188 improve the way bootstrap handles rustlib components
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#126941 Migrate `run-make/llvm-ident` to `rmake.rs`
  src/tools/run-make-support/src/llvm.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/llvm-ident/Makefile
  tests/run-make/llvm-ident/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#127232 Change to the NetBSD archive URL rather than the CDN
  src/ci/docker/host-x86_64/dist-x86_64-netbsd/build-netbsd-toolchain.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#127152 Bootstrap: Try renaming the file if removing fails
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#126883 Parenthesize break values containing leading label
  compiler/rustc_ast/src/util/classify.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  tests/ui/unpretty/expanded-interpolation.rs
  tests/ui/unpretty/expanded-interpolation.stdout
Labels: T-compiler, S-waiting-on-bors

#127146 Uplift fast rejection to new solver
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/fast_reject.rs
  compiler/rustc_middle/src/ty/impls_ty.rs
  compiler/rustc_next_trait_solver/src/solve/normalizes_to/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_type_ir/src/fast_reject.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lib.rs
  src/librustdoc/html/render/write_shared.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#127168 Use the aligned size for alloca at args/ret when the pass mode is cast
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_target/src/abi/call/mod.rs
  tests/codegen/cast-target-abi.rs
  tests/codegen/cffi/ffi-out-of-bounds-loads.rs
Labels: T-compiler, S-waiting-on-bors

#127203 Fix import suggestion error when path segment failed not from starting
  compiler/rustc_resolve/src/diagnostics.rs
  tests/ui/imports/suggest-import-issue-120074.rs
  tests/ui/imports/suggest-import-issue-120074.stderr
Labels: T-compiler, S-waiting-on-bors

#127224 Make `FloatTy` checks exhaustive in pretty print
  compiler/rustc_middle/src/ty/print/pretty.rs
Labels: T-compiler, S-waiting-on-bors

#127230 chore: remove duplicate words
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/interpret/discriminant.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_middle/src/ty/closure.rs
  compiler/rustc_mir_build/src/build/expr/as_place.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  library/core/src/clone.rs
  library/core/src/iter/adapters/mod.rs
  library/core/src/num/dec2flt/lemire.rs
  library/std/src/io/error/repr_bitpacked.rs
  library/std/src/sys/pal/unix/args.rs
  library/std/src/sys/pal/windows/alloc.rs
  src/tools/clippy/clippy_lints/src/empty_with_brackets.rs
  src/tools/clippy/clippy_lints/src/non_copy_const.rs
  tests/ui/closures/2229_closure_analysis/migrations/precise_no_migrations.rs
  tests/ui/traits/associated_type_bound/116464-invalid-assoc-type-suggestion-in-trait-impl.rs
Labels: O-windows, T-compiler, S-waiting-on-bors, T-libs, O-unix

#127243 Add test for adt_const_params
  tests/ui/const-generics/adt_const_params/nested_bad_const_param_ty.rs
  tests/ui/const-generics/adt_const_params/nested_bad_const_param_ty.stderr
Labels: T-compiler, S-waiting-on-bors

#123720 Rewrite handling of universe-leaking placeholder regions into outlives constraints
  compiler/rustc_borrowck/src/constraints/mod.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_middle/src/mir/query.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#123737 Check alias args for WF even if they have escaping bound vars
  compiler/rustc_trait_selection/src/traits/wf.rs
  tests/ui/higher-ranked/well-formed-aliases.rs
  tests/ui/higher-ranked/well-formed-aliases.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, T-types

#123588 Stabilize `hint::assert_unchecked`
  library/alloc/src/lib.rs
  library/core/src/hint.rs
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/std/src/lib.rs
  tests/ui/consts/const-assert-unchecked-ub.rs
  tests/ui/consts/const-assert-unchecked-ub.stderr
Labels: T-libs-api, T-compiler, S-waiting-on-bors

#126403 Actually report normalization-based type errors correctly for alias-relate obligations in new solver
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui/diagnostic_namespace/do_not_recommend/as_expression.next.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.nn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.ny.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.yn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.yy.stderr
  tests/ui/traits/next-solver/async.fail.stderr
  tests/ui/traits/next-solver/async.rs
  tests/ui/traits/next-solver/more-object-bound.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#126917 Disable rmake test `inaccessible-temp-dir` on riscv64
  tests/run-make/inaccessible-temp-dir/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#127115 unreferenced-used-static: run test everywhere
  tests/ui/linkage-attr/unreferenced-used-static-issue-127052.rs
Labels: T-compiler, S-waiting-on-bors

#127204 Stabilize atomic_bool_fetch_not
  library/core/src/sync/atomic.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#127239 remove unnecessary ignore-endian-big from stack-overflow-trait-infer …
  tests/ui/sized/stack-overflow-trait-infer-98842.32bit.stderr
  tests/ui/sized/stack-overflow-trait-infer-98842.64bit.stderr
  tests/ui/sized/stack-overflow-trait-infer-98842.rs
Labels: T-compiler, S-waiting-on-bors

#127245 Add a test for `generic_const_exprs`
  tests/ui/const-generics/generic_const_exprs/adt_wf_hang.rs
  tests/ui/const-generics/generic_const_exprs/adt_wf_hang.stderr
Labels: T-compiler, S-waiting-on-bors

#127246 Give remote-test-client a longer timeout
  src/tools/remote-test-client/src/main.rs
Labels: A-testsuite, S-waiting-on-bors

#127261 Rollup of 8 pull requests
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  library/alloc/src/lib.rs
  library/core/src/hint.rs
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/src/sync/atomic.rs
  library/std/src/lib.rs
  src/tools/remote-test-client/src/main.rs
  tests/run-make/inaccessible-temp-dir/rmake.rs
  tests/ui/const-generics/generic_const_exprs/adt_wf_hang.rs
  tests/ui/const-generics/generic_const_exprs/adt_wf_hang.stderr
  tests/ui/consts/const-assert-unchecked-ub.rs
  tests/ui/consts/const-assert-unchecked-ub.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/as_expression.next.stderr
  tests/ui/linkage-attr/unreferenced-used-static-issue-127052.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.nn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.ny.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.yn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.yy.stderr
  tests/ui/sized/stack-overflow-trait-infer-98842.32bit.stderr
  tests/ui/sized/stack-overflow-trait-infer-98842.64bit.stderr
  tests/ui/sized/stack-overflow-trait-infer-98842.rs
  tests/ui/traits/next-solver/async.fail.stderr
  tests/ui/traits/next-solver/async.rs
  tests/ui/traits/next-solver/more-object-bound.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor, A-run-make

#125507 Re-implement a type-size based limit
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_cranelift/src/main_shim.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_infer/src/infer/error_reporting/nice_region_error/static_impl_trait.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/noop_method_call.rs
  compiler/rustc_middle/messages.ftl
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/middle/limits.rs
  compiler/rustc_middle/src/mir/interpret/queries.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_middle/src/util/call_kind.rs
  compiler/rustc_mir_build/src/lints.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/inline/cycle.rs
  compiler/rustc_monomorphize/messages.ftl
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/errors.rs
  compiler/rustc_passes/src/abi_test.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  compiler/rustc_ty_utils/src/instance.rs
  src/tools/clippy/clippy_lints/src/assigning_clones.rs
  src/tools/clippy/clippy_lints/src/non_copy_const.rs
  src/tools/miri/src/eval.rs
  tests/ui/closures/issue-72408-nested-closures-exponential.rs
  tests/ui/closures/issue-72408-nested-closures-exponential.stderr
  tests/ui/codegen/overflow-during-mono.rs
  tests/ui/codegen/overflow-during-mono.stderr
  tests/ui/issues/issue-22638.rs
  tests/ui/issues/issue-22638.stderr
  tests/ui/issues/issue-37311-type-length-limit/issue-37311.rs
  tests/ui/issues/issue-37311-type-length-limit/issue-37311.stderr
  tests/ui/iterators/issue-58952-filter-type-length.rs
  tests/ui/iterators/issue-58952-filter-type-length.stderr
  tests/ui/iterators/iter-map-fold-type-length.rs
  tests/ui/recursion/issue-83150.rs
  tests/ui/recursion/issue-83150.stderr
  tests/ui/traits/issue-91949-hangs-on-recursion.rs
  tests/ui/traits/issue-91949-hangs-on-recursion.stderr
  tests/ui/type_length_limit.rs
  tests/ui/type_length_limit.stderr
Labels: relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, perf-regression, T-types

#126094 linker: Link dylib crates by path
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  tests/run-make/dylib-soname/foo.rs
  tests/run-make/dylib-soname/rmake.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, A-run-make

#127270 bootstrap: pass correct struct size to winapi
  src/bootstrap/src/bin/rustc.rs
Labels: T-bootstrap, S-waiting-on-bors

#127278 Rollup of 8 pull requests
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_builtin_macros/src/cfg_eval.rs
  compiler/rustc_codegen_llvm/src/back/owned_target_machine.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_expand/src/mbe/diagnostics.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_middle/src/middle/lang_items.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/mod.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lang_items.rs
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/utils/tarball.rs
  src/doc/unstable-book/src/compiler-flags/verbose-asm.md
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/rustc.rs
  src/tools/rust-installer/src/combiner.rs
  src/tools/rust-installer/src/generator.rs
  src/tools/rust-installer/src/tarballer.rs
  tests/assembly/asm-comments.rs
  tests/run-make/emit-named-files/rmake.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.gated.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.ungated.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.gated.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.ungated.stderr
  tests/ui/self/arbitrary-self-from-method-substs-ice.rs
  tests/ui/self/arbitrary-self-from-method-substs-ice.stderr
  tests/ui/self/arbitrary-self-from-method-substs.default.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor, A-run-make

#126803 Change `asm-comments` to `verbose-asm`, always emit user comments
  compiler/rustc_codegen_llvm/src/back/owned_target_machine.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_session/src/options.rs
  src/doc/unstable-book/src/compiler-flags/verbose-asm.md
  tests/assembly/asm-comments.rs
Labels: T-compiler, S-waiting-on-bors

#127050 Make mtime of reproducible tarballs dependent on git commit
  src/bootstrap/src/utils/tarball.rs
  src/tools/rust-installer/src/combiner.rs
  src/tools/rust-installer/src/generator.rs
  src/tools/rust-installer/src/tarballer.rs
Labels: T-bootstrap, S-waiting-on-bors

#127145 Add `as_lang_item` to `LanguageItems`, new trait solver
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_middle/src/middle/lang_items.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/mod.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lang_items.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#127202 Remove global error count checks from typeck
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  tests/ui/self/arbitrary-self-from-method-substs-ice.rs
  tests/ui/self/arbitrary-self-from-method-substs-ice.stderr
  tests/ui/self/arbitrary-self-from-method-substs.default.stderr
Labels: T-compiler, S-waiting-on-bors

#127233 Some parser cleanups
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_builtin_macros/src/cfg_eval.rs
  compiler/rustc_expand/src/mbe/diagnostics.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/mod.rs
Labels: T-compiler, S-waiting-on-bors

#127248 Add parse fail test using safe trait/impl trait
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.gated.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.ungated.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.gated.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.ungated.stderr
Labels: T-compiler, S-waiting-on-bors

#127264 Small `run-make-support` API improvements
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/rustc.rs
  tests/run-make/emit-named-files/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#127036 Make jump threading state sparse
  compiler/rustc_mir_dataflow/src/framework/lattice.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/jump_threading.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt

#127044 Migrate `dylib-chain`, `rlib-chain`, `issue-47384`, `msvc-opt-minsize` and `test-harness` `run-make` tests to ui/rmake
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  src/tools/tidy/src/ui_tests.rs
  tests/run-make/dylib-chain/Makefile
  tests/run-make/dylib-chain/rmake.rs
  tests/run-make/include-all-symbols-linking/lib.rs
  tests/run-make/include-all-symbols-linking/linker.ld
  tests/run-make/include-all-symbols-linking/main.rs
  tests/run-make/include-all-symbols-linking/rmake.rs
  tests/run-make/issue-47384/Makefile
  tests/run-make/msvc-opt-minsize/Makefile
  tests/run-make/msvc-opt-minsize/foo.rs
  tests/run-make/rlib-chain/Makefile
  tests/run-make/rlib-chain/rmake.rs
  tests/run-make/test-harness/Makefile
  tests/run-make/test-harness/rmake.rs
  tests/ui/msvc-opt-minsize.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#127253 Fix incorrect suggestion for extra argument with a type error
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/argument-suggestions/suggest-better-removing-issue-126246.rs
  tests/ui/argument-suggestions/suggest-better-removing-issue-126246.stderr
Labels: T-compiler, S-waiting-on-bors

#127280 Disable rmake test rustdoc-io-error on riscv64gc-gnu
  tests/run-make/inaccessible-temp-dir/rmake.rs
  tests/run-make/rustdoc-io-error/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#127294 Less magic number for corountine
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_transform/src/coroutine.rs
Labels: T-compiler, S-waiting-on-bors

#127127 rustdoc: update to pulldown-cmark 0.11
  Cargo.lock
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_resolve/Cargo.toml
  compiler/rustc_resolve/src/rustdoc.rs
  src/librustdoc/Cargo.toml
  src/librustdoc/html/markdown.rs
  src/librustdoc/lint.rs
  src/librustdoc/passes/lint.rs
  src/librustdoc/passes/lint/bare_urls.rs
  src/librustdoc/passes/lint/html_tags.rs
  src/librustdoc/passes/lint/redundant_explicit_links.rs
  src/librustdoc/passes/lint/unportable_markdown.rs
  src/tools/clippy/clippy_lints/src/doc/mod.rs
  src/tools/tidy/src/deps.rs
  tests/rustdoc-ui/unportable-markdown.rs
  tests/rustdoc-ui/unportable-markdown.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#127226 Optimize SipHash by reordering compress instructions
  compiler/rustc_data_structures/src/sip128.rs
  library/core/src/hash/sip.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#127293 Use `IndexVec` for coroutine local mapping
  compiler/rustc_index/src/vec.rs
  compiler/rustc_mir_transform/src/coroutine.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#126792 wasm64 build with target-feature=+simd128,+atomics
  library/portable-simd/crates/core_simd/src/swizzle_dyn.rs
  library/std/src/lib.rs
  library/std/src/sys/pal/wasm/atomics/futex.rs
  library/std/src/sys/pal/wasm/atomics/thread.rs
Labels: O-wasm, S-waiting-on-bors, T-libs

#127195 Remove unqualified form import of io::Error in process_vxworks.rs and fallback on remove_dir_impl for vxworks
  library/std/src/sys/pal/unix/fs.rs
  library/std/src/sys/pal/unix/process/process_vxworks.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#127287 jsondocck: Use correct index for error message.
  src/tools/jsondocck/src/main.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#127289 rustdoc-json: Better representation of lifetime bounds in where clauses.
  src/librustdoc/clean/types.rs
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  src/tools/jsondoclint/src/validator.rs
  tests/rustdoc-json/lifetime/outlives_in_param.rs
  tests/rustdoc-json/lifetime/outlives_in_where.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#127303 chore: remove repeat words
  library/core/src/hint.rs
  library/core/src/slice/sort/stable/drift.rs
Labels: S-waiting-on-bors, T-libs

#127305 Rollup of 5 pull requests
  library/core/src/hint.rs
  library/core/src/slice/sort/stable/drift.rs
  library/portable-simd/crates/core_simd/src/swizzle_dyn.rs
  library/std/src/lib.rs
  library/std/src/sys/pal/unix/fs.rs
  library/std/src/sys/pal/unix/process/process_vxworks.rs
  library/std/src/sys/pal/wasm/atomics/futex.rs
  library/std/src/sys/pal/wasm/atomics/thread.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  src/tools/jsondocck/src/main.rs
  src/tools/jsondoclint/src/validator.rs
  tests/rustdoc-json/lifetime/outlives_in_param.rs
  tests/rustdoc-json/lifetime/outlives_in_where.rs
Labels: T-rustdoc, O-wasm, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix, A-rustdoc-json

#127120 Bootstrap command refactoring: consolidate output modes (step 3)
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/build_steps/run.rs
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/core/build_steps/suggest.rs
  src/bootstrap/src/core/build_steps/synthetic_targets.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/build_steps/toolstate.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/metadata.rs
  src/bootstrap/src/core/sanity.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/cc_detect.rs
  src/bootstrap/src/utils/channel.rs
  src/bootstrap/src/utils/exec.rs
  src/bootstrap/src/utils/helpers.rs
  src/bootstrap/src/utils/tarball.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#127170 Stop using specialization in rustc_index and rustc_borrowck
  compiler/rustc_borrowck/src/facts.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_index/src/lib.rs
  compiler/rustc_index_macros/src/lib.rs
  compiler/rustc_index_macros/src/newtype.rs
  compiler/rustc_type_ir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123043 Disable dead variant removal for `#[repr(C)]` enums.
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  tests/ui/abi/compatibility.rs
  tests/ui/repr/repr-c-dead-variants.aarch64-unknown-linux-gnu.stderr
  tests/ui/repr/repr-c-dead-variants.armebv7r-none-eabi.stderr
  tests/ui/repr/repr-c-dead-variants.i686-pc-windows-msvc.stderr
  tests/ui/repr/repr-c-dead-variants.rs
  tests/ui/repr/repr-c-dead-variants.x86_64-unknown-linux-gnu.stderr
  tests/ui/repr/repr-c-int-dead-variants.rs
  tests/ui/repr/repr-c-int-dead-variants.stderr
Labels: T-lang, S-waiting-on-bors

#126405 Migrate some rustc_builtin_macros to SessionDiagnostic
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_builtin_macros/src/proc_macro_harness.rs
  compiler/rustc_builtin_macros/src/source_util.rs
Labels: T-compiler, S-waiting-on-bors, A-translation

#127037 Remove some duplicated tests
  tests/ui/type-alias-impl-trait/tait-in-function-return-type-issue-101903.rs
  tests/ui/type-alias-impl-trait/tait-in-function-return-type-issue-101903.stderr
  tests/ui/type/subtyping-opaque-type.rs
Labels: T-compiler, S-waiting-on-bors

#127283 Reject SmartPointer constructions not serving the purpose
  compiler/rustc_builtin_macros/src/deriving/smart_ptr.rs
  tests/ui/deriving/deriving-smart-pointer-neg.rs
  tests/ui/deriving/deriving-smart-pointer-neg.stderr
  tests/ui/deriving/deriving-smart-pointer.rs
  tests/ui/feature-gates/feature-gate-derive-smart-pointer.rs
  tests/ui/feature-gates/feature-gate-derive-smart-pointer.stderr
Labels: T-compiler, S-waiting-on-bors

#127307 Allow to have different types for arguments of `Rustc::remap_path_prefix`
  src/tools/run-make-support/src/rustc.rs
Labels: S-waiting-on-bors, A-run-make

#127309 jsondocck: add `$FILE` built-in variable
  src/tools/jsondocck/src/cache.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#127314 Trivial update on tidy bless note
  src/tools/tidy/src/run_make_tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#127319 Remove a use of `StructuredDiag`, which is incompatible with automatic error tainting and error translations
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/structured_errors.rs
  compiler/rustc_hir_analysis/src/structured_errors/sized_unsized_cast.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/errors.rs
  tests/ui/consts/slice_elem_ty_mismatch_in_unsizing_cast.rs
  tests/ui/consts/slice_elem_ty_mismatch_in_unsizing_cast.stderr
Labels: T-compiler, S-waiting-on-bors

#127317 Miri subtree update
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/tree_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/perms.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/unix/fd.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/x86/avx.rs
  src/tools/miri/tests/fail/tree_borrows/protector-write-lazy.rs
  src/tools/miri/tests/fail/tree_borrows/protector-write-lazy.stderr
  src/tools/miri/tests/pass-dep/libc/libc-fs.rs
  src/tools/miri/tests/pass/shims/x86/intrinsics-x86-avx.rs
Labels: S-waiting-on-bors, merged-by-bors

#127288 cache type sizes in type-size limit visitor
  compiler/rustc_middle/src/ty/instance.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#123781 Miri function identity hack: account for possible inlining
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/tests/pass/function_pointers.rs
  src/tools/miri/tests/pass/issues/issue-91636.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#126171 simd_bitmask intrinsic: add a non-power-of-2 multi-byte example
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  library/core/src/intrinsics/simd.rs
  tests/ui/simd/simd-bitmask-notpow2.rs
  tests/ui/simd/simd-bitmask.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#127344 crashes: add latest
  tests/crashes/126896.rs
  tests/crashes/126939.rs
  tests/crashes/126942.rs
  tests/crashes/126944.rs
  tests/crashes/126966.rs
  tests/crashes/126969.rs
  tests/crashes/126982.rs
  tests/crashes/127222.rs
  tests/crashes/127266.rs
  tests/crashes/127299.rs
  tests/crashes/127304.rs
  tests/crashes/127332.rs
Labels: S-waiting-on-bors, merged-by-bors

#127008 Match ergonomics 2024: Implement TC's match ergonomics proposal
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_span/src/symbol.rs
  src/tools/tidy/src/features.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/feature-gate-ref_pat_eat_one_layer_2024.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/feature-gate-ref_pat_eat_one_layer_2024.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.both.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.classic.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.structural.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-patterns, A-edition-2024

#126709 Migrate `include_bytes_deps`, `optimization-remarks-dir-pgo`, `optimization-remarks-dir`, `issue-40535` and `rmeta-preferred` `run-make` tests to rmake
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/include-bytes-deps/input.bin
  tests/run-make/include-bytes-deps/input.md
  tests/run-make/include-bytes-deps/input.txt
  tests/run-make/include-bytes-deps/main.rs
  tests/run-make/include-bytes-deps/rmake.rs
  tests/run-make/include_bytes_deps/Makefile
  tests/run-make/issue-40535/Makefile
  tests/run-make/metadata-only-crate-no-ice/bar.rs
  tests/run-make/metadata-only-crate-no-ice/baz.rs
  tests/run-make/metadata-only-crate-no-ice/foo.rs
  tests/run-make/metadata-only-crate-no-ice/rmake.rs
  tests/run-make/optimization-remarks-dir-pgo/Makefile
  tests/run-make/optimization-remarks-dir-pgo/rmake.rs
  tests/run-make/optimization-remarks-dir/Makefile
  tests/run-make/optimization-remarks-dir/rmake.rs
  tests/run-make/rmeta-preferred/Makefile
  tests/run-make/rmeta-preferred/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-run-make

#127214 Use the native unwind function in miri where possible
  library/panic_unwind/src/lib.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
Labels: S-waiting-on-bors, T-libs

#127320 Update windows-bindgen to 0.58.0
  Cargo.lock
  library/std/src/sys/pal/windows/c.rs
  library/std/src/sys/pal/windows/c/bindings.txt
  library/std/src/sys/pal/windows/c/windows_sys.rs
  library/std/src/sys/pal/windows/c/windows_targets.rs
  library/std/src/sys/pal/windows/stdio.rs
  src/tools/generate-windows-sys/Cargo.toml
  src/tools/generate-windows-sys/src/main.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#127349 Tweak `-1 as usize` suggestion
  compiler/rustc_hir_typeck/src/op.rs
  tests/ui/feature-gates/feature-gate-negate-unsigned.stderr
  tests/ui/unsigned-literal-negation.stderr
Labels: T-compiler, S-waiting-on-bors

#127352 coverage: Rename `mir::coverage::BranchInfo` to `CoverageInfoHi`
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_mir_build/src/build/coverageinfo.rs
  compiler/rustc_mir_build/src/build/coverageinfo/mcdc.rs
  compiler/rustc_mir_build/src/build/custom/mod.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_transform/src/coverage/mappings.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#127359 Improve run make llvm ident code
  src/tools/run-make-support/src/command.rs
  tests/run-make/llvm-ident/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#127360 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_middle/src/middle/dependency_format.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_mir_build/src/build/coverageinfo.rs
  compiler/rustc_mir_build/src/build/coverageinfo/mcdc.rs
  compiler/rustc_mir_build/src/build/custom/mod.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_transform/src/coverage/mappings.rs
  library/panic_unwind/src/lib.rs
  library/std/src/sys/pal/windows/c.rs
  library/std/src/sys/pal/windows/c/bindings.txt
  library/std/src/sys/pal/windows/c/windows_sys.rs
  library/std/src/sys/pal/windows/c/windows_targets.rs
  library/std/src/sys/pal/windows/stdio.rs
  src/tools/generate-windows-sys/Cargo.toml
  src/tools/generate-windows-sys/src/main.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/run-make-support/src/command.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/include-bytes-deps/input.bin
  tests/run-make/include-bytes-deps/input.md
  tests/run-make/include-bytes-deps/input.txt
  tests/run-make/include-bytes-deps/main.rs
  tests/run-make/include-bytes-deps/rmake.rs
  tests/run-make/include_bytes_deps/Makefile
  tests/run-make/issue-40535/Makefile
  tests/run-make/llvm-ident/rmake.rs
  tests/run-make/metadata-only-crate-no-ice/bar.rs
  tests/run-make/metadata-only-crate-no-ice/baz.rs
  tests/run-make/metadata-only-crate-no-ice/foo.rs
  tests/run-make/metadata-only-crate-no-ice/rmake.rs
  tests/run-make/optimization-remarks-dir-pgo/Makefile
  tests/run-make/optimization-remarks-dir-pgo/rmake.rs
  tests/run-make/optimization-remarks-dir/Makefile
  tests/run-make/optimization-remarks-dir/rmake.rs
  tests/run-make/rmeta-preferred/Makefile
  tests/run-make/rmeta-preferred/rmake.rs
  tests/ui/feature-gates/feature-gate-negate-unsigned.stderr
  tests/ui/unsigned-literal-negation.stderr
Labels: A-testsuite, O-windows, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-run-make

#124290 DependencyList: removed outdated comment
  compiler/rustc_middle/src/middle/dependency_format.rs
Labels: T-compiler, S-waiting-on-bors

#127365 Fix a few doc comment for compiler-interal API docs.
  compiler/rustc_hir_typeck/src/typeck_root_ctxt.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#127312 Make CI more agnostic of the owning GitHub organization
  src/ci/docker/run.sh
  src/ci/github-actions/calculate-job-matrix.py
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#123600 impl PathBuf::add_extension and Path::with_added_extension
  library/std/src/path.rs
  library/std/src/path/tests.rs
Labels: S-waiting-on-bors, T-libs

#127107 Improve dead code analysis
  compiler/rustc_passes/src/dead.rs
  library/core/src/default.rs
  src/tools/rust-analyzer/crates/salsa/salsa-macros/src/database_storage.rs
  tests/ui-fulldeps/deriving-global.rs
  tests/ui-fulldeps/deriving-hygiene.rs
  tests/ui/const-generics/issues/issue-86535-2.rs
  tests/ui/const-generics/issues/issue-86535.rs
  tests/ui/impl-trait/extra-impl-in-trait-impl.fixed
  tests/ui/impl-trait/extra-impl-in-trait-impl.rs
  tests/ui/impl-trait/extra-impl-in-trait-impl.stderr
  tests/ui/lint/dead-code/issue-59003.rs
  tests/ui/lint/dead-code/lint-unused-adt-appeared-in-pattern.rs
  tests/ui/lint/dead-code/lint-unused-adt-appeared-in-pattern.stderr
  tests/ui/lint/dead-code/not-lint-used-adt-appeared-in-pattern.rs
  tests/ui/lint/dead-code/unused-adt-impl-pub-trait-with-assoc-const.rs
  tests/ui/lint/dead-code/unused-adt-impl-pub-trait-with-assoc-const.stderr
  tests/ui/lint/dead-code/unused-struct-derive-default.rs
  tests/ui/lint/dead-code/unused-struct-derive-default.stderr
  tests/ui/parser/issues/issue-105366.fixed
  tests/ui/parser/issues/issue-105366.rs
  tests/ui/parser/issues/issue-105366.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#127221 Improve well known value check-cfg diagnostic for the standard library
  compiler/rustc_lint/src/context/diagnostics/check_cfg.rs
Labels: T-compiler, S-waiting-on-bors

#127333 Split `SolverDelegate` back out from `InferCtxtLike`
  Cargo.lock
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_infer/src/infer/context.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_next_trait_solver/src/canonicalizer.rs
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/resolve.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/probe.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#127363 Improve readability of some fmt code examples
  library/core/src/fmt/mod.rs
Labels: S-waiting-on-bors, T-libs

#127366 Use `ControlFlow` results for visitors that are only looking for a single value
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/inspect_obligations.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
Labels: T-compiler, S-waiting-on-bors

#127368 Added dots at the sentence ends of rustc AST doc
  compiler/rustc_ast/src/ast.rs
Labels: T-compiler, S-waiting-on-bors

#127393 Remove clubby789 from review rotation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#127403 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/inspect_obligations.rs
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_infer/src/infer/context.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_lint/src/context/diagnostics/check_cfg.rs
  compiler/rustc_next_trait_solver/src/canonicalizer.rs
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/resolve.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/probe.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/lib.rs
  library/core/src/default.rs
  library/core/src/fmt/mod.rs
  library/std/src/path.rs
  library/std/src/path/tests.rs
  src/tools/rust-analyzer/crates/salsa/salsa-macros/src/database_storage.rs
  tests/ui-fulldeps/deriving-global.rs
  tests/ui-fulldeps/deriving-hygiene.rs
  tests/ui/const-generics/issues/issue-86535-2.rs
  tests/ui/const-generics/issues/issue-86535.rs
  tests/ui/impl-trait/extra-impl-in-trait-impl.fixed
  tests/ui/impl-trait/extra-impl-in-trait-impl.rs
  tests/ui/impl-trait/extra-impl-in-trait-impl.stderr
  tests/ui/lint/dead-code/issue-59003.rs
  tests/ui/lint/dead-code/lint-unused-adt-appeared-in-pattern.rs
  tests/ui/lint/dead-code/lint-unused-adt-appeared-in-pattern.stderr
  tests/ui/lint/dead-code/not-lint-used-adt-appeared-in-pattern.rs
  tests/ui/lint/dead-code/unused-adt-impl-pub-trait-with-assoc-const.rs
  tests/ui/lint/dead-code/unused-adt-impl-pub-trait-with-assoc-const.stderr
  tests/ui/lint/dead-code/unused-struct-derive-default.rs
  tests/ui/lint/dead-code/unused-struct-derive-default.stderr
  tests/ui/parser/issues/issue-105366.fixed
  tests/ui/parser/issues/issue-105366.rs
  tests/ui/parser/issues/issue-105366.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, WG-trait-system-refactor

#125751 Add `new_range_api` for RFC 3550
  library/core/src/lib.rs
  library/core/src/range.rs
  library/core/src/range/iter.rs
  library/core/src/range/legacy.rs
  library/core/src/slice/index.rs
  library/core/src/str/traits.rs
  src/tools/linkchecker/main.rs
  tests/ui/range/issue-54505-no-std.stderr
Labels: T-libs-api, S-waiting-on-bors

#127098 Migrate `output-type-permutations` `run-make` test to rmake
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/output-type-permutations/Makefile
  tests/run-make/output-type-permutations/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-run-make

#127369 Match ergonomics 2024: align with RFC again
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2021.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2021_fail.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2021_fail.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.both.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.classic.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.structural.stderr
Labels: T-compiler, S-waiting-on-bors, A-patterns, A-edition-2024

#127383 Use verbose style for argument removal suggestion
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/argument-suggestions/basic.stderr
  tests/ui/argument-suggestions/exotic-calls.stderr
  tests/ui/argument-suggestions/extra_arguments.stderr
  tests/ui/argument-suggestions/suggest-better-removing-issue-126246.stderr
  tests/ui/error-codes/E0057.stderr
  tests/ui/impl-trait/opaque-used-in-extraneous-argument.stderr
  tests/ui/inference/ice-ifer-var-leaked-out-of-rollback-122098.stderr
  tests/ui/issues/issue-16939.stderr
  tests/ui/issues/issue-4935.stderr
  tests/ui/methods/method-call-err-msg.stderr
  tests/ui/resolve/resolve-primitive-fallback.stderr
  tests/ui/span/issue-34264.stderr
  tests/ui/tuple/wrong_argument_ice-4.stderr
  tests/ui/type/type-ascription-instead-of-initializer.stderr
  tests/ui/typeck/remove-extra-argument.stderr
  tests/ui/typeck/struct-enum-wrong-args.stderr
Labels: S-waiting-on-bors

#127392 Use verbose suggestion for changing arg type
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  tests/ui/associated-types/defaults-specialization.stderr
  tests/ui/compare-method/bad-self-type.stderr
  tests/ui/compare-method/issue-90444.stderr
  tests/ui/compare-method/reordered-type-param.stderr
  tests/ui/feature-gates/feature-gate-unboxed-closures-manual-impls.stderr
  tests/ui/impl-trait/impl-generic-mismatch-ab.stderr
  tests/ui/impl-trait/in-assoc-type-unconstrained.stderr
  tests/ui/impl-trait/in-trait/method-signature-matches.lt.stderr
  tests/ui/impl-trait/in-trait/method-signature-matches.mismatch.stderr
  tests/ui/impl-trait/in-trait/method-signature-matches.mismatch_async.stderr
  tests/ui/impl-trait/in-trait/opaque-and-lifetime-mismatch.stderr
  tests/ui/impl-trait/in-trait/specialization-broken.stderr
  tests/ui/impl-trait/recursive-type-alias-impl-trait-declaration-too-subtle.stderr
  tests/ui/impl-trait/trait_type.stderr
  tests/ui/impl-trait/where-allowed.stderr
  tests/ui/issues/issue-20225.stderr
  tests/ui/issues/issue-21332.stderr
  tests/ui/mismatched_types/E0053.stderr
  tests/ui/mismatched_types/issue-112036.stderr
  tests/ui/mismatched_types/issue-13033.stderr
  tests/ui/mismatched_types/trait-impl-fn-incompatibility.stderr
  tests/ui/traits/issue-35869.stderr
  tests/ui/traits/wrong-mul-method-signature.stderr
  tests/ui/type-alias-impl-trait/unnameable_type.stderr
  tests/ui/typeck/mismatched-map-under-self.stderr
  tests/ui/ufcs/ufcs-explicit-self-bad.stderr
Labels: T-compiler, S-waiting-on-bors

#127275 offset_from, offset: clearly separate safety requirements the user needs to prove from corollaries that automatically follow
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  tests/ui/consts/offset_from_ub.rs
  tests/ui/consts/offset_from_ub.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#127379 rustdoc-search: stop constructing pointless arrays in decode
  src/librustdoc/html/static/js/search.js
Labels: S-waiting-on-bors, A-rustdoc-search, A-rustdoc-js, T-rustdoc-frontend

#127391 Use verbose suggestion for `ptr::null_mut()`
  compiler/rustc_hir_typeck/src/errors.rs
  tests/ui/typeck/ptr-null-mutability-suggestions.stderr
Labels: T-compiler, S-waiting-on-bors

#127420 Rollup of 3 pull requests
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_hir_typeck/src/errors.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  src/librustdoc/html/static/js/search.js
  tests/ui/consts/offset_from_ub.rs
  tests/ui/consts/offset_from_ub.stderr
  tests/ui/typeck/ptr-null-mutability-suggestions.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#127388 Elaboration tweaks
  compiler/rustc_infer/src/traits/util.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#127386 Uplift outlives components to `rustc_type_ir`
  compiler/rustc_hir_analysis/src/outlives/utils.rs
  compiler/rustc_infer/src/infer/outlives/components.rs
  compiler/rustc_infer/src/infer/outlives/mod.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/walk.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/outlives.rs
  tests/ui/async-await/in-trait/async-generics-and-bounds.stderr
  tests/ui/async-await/in-trait/async-generics.stderr
Labels: T-compiler, S-waiting-on-bors

#127405 uplift `PredicateEmittingRelation`
  Cargo.lock
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_infer/src/infer/relate/glb.rs
  compiler/rustc_infer/src/infer/relate/lattice.rs
  compiler/rustc_infer/src/infer/relate/lub.rs
  compiler/rustc_infer/src/infer/relate/mod.rs
  compiler/rustc_infer/src/infer/relate/type_relating.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_next_trait_solver/src/lib.rs
  compiler/rustc_next_trait_solver/src/relate.rs
  compiler/rustc_next_trait_solver/src/relate/combine.rs
  compiler/rustc_type_ir/src/interner.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#127410 Correct description of E0502
  compiler/rustc_error_codes/src/error_codes/E0502.md
Labels: T-compiler, S-waiting-on-bors

#127417 Show fnsig's unit output explicitly when there is output diff in diagnostics
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  tests/ui/compare-method/bad-self-type.stderr
  tests/ui/error-codes/E0308.stderr
  tests/ui/feature-gates/feature-gate-unboxed-closures-manual-impls.stderr
  tests/ui/fn/fn_def_opaque_coercion_to_fn_ptr.stderr
  tests/ui/impl-trait/in-assoc-type-unconstrained.stderr
  tests/ui/impl-trait/trait_type.stderr
  tests/ui/lang-items/start_lang_item_args.missing_ret.stderr
  tests/ui/method-output-diff-issue-127263.rs
  tests/ui/method-output-diff-issue-127263.stderr
  tests/ui/panic-handler/panic-handler-bad-signature-1.stderr
  tests/ui/traits/impl-method-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#127430 Rollup of 4 pull requests
  Cargo.lock
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_error_codes/src/error_codes/E0502.md
  compiler/rustc_hir_analysis/src/outlives/utils.rs
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/outlives/components.rs
  compiler/rustc_infer/src/infer/outlives/mod.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_infer/src/infer/relate/glb.rs
  compiler/rustc_infer/src/infer/relate/lattice.rs
  compiler/rustc_infer/src/infer/relate/lub.rs
  compiler/rustc_infer/src/infer/relate/mod.rs
  compiler/rustc_infer/src/infer/relate/type_relating.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/walk.rs
  compiler/rustc_next_trait_solver/src/lib.rs
  compiler/rustc_next_trait_solver/src/relate.rs
  compiler/rustc_next_trait_solver/src/relate/combine.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/outlives.rs
  tests/ui/async-await/in-trait/async-generics-and-bounds.stderr
  tests/ui/async-await/in-trait/async-generics.stderr
  tests/ui/compare-method/bad-self-type.stderr
  tests/ui/error-codes/E0308.stderr
  tests/ui/feature-gates/feature-gate-unboxed-closures-manual-impls.stderr
  tests/ui/fn/fn_def_opaque_coercion_to_fn_ptr.stderr
  tests/ui/impl-trait/in-assoc-type-unconstrained.stderr
  tests/ui/impl-trait/trait_type.stderr
  tests/ui/lang-items/start_lang_item_args.missing_ret.stderr
  tests/ui/method-output-diff-issue-127263.rs
  tests/ui/method-output-diff-issue-127263.stderr
  tests/ui/panic-handler/panic-handler-bad-signature-1.stderr
  tests/ui/traits/impl-method-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#126987 out_of_scope_macro_calls: Detect calls inside attributes more precisely
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
  tests/ui/macros/out-of-scope-calls-false-positives.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#127335 Migrate `emit-shared-files` and `emit-path-unhashed` `run-make` tests to rmake
  src/tools/run-make-support/src/diff/mod.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/emit-path-unhashed/Makefile
  tests/run-make/emit-path-unhashed/rmake.rs
  tests/run-make/emit-shared-files/Makefile
  tests/run-make/emit-shared-files/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#127404 Don't try to label `ObligationCauseCode::CompareImplItem` for an RPITIT, since it has no name
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/crashes/125099.rs
  tests/ui/impl-trait/in-trait/false-positive-predicate-entailment-error.current.stderr
  tests/ui/impl-trait/in-trait/false-positive-predicate-entailment-error.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#127321 Bootstrap command refactoring: quality-of-life improvements (step 4)
  src/bootstrap/src/core/build_steps/clean.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/build_steps/install.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/build_steps/perf.rs
  src/bootstrap/src/core/build_steps/run.rs
  src/bootstrap/src/core/build_steps/suggest.rs
  src/bootstrap/src/core/build_steps/synthetic_targets.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/build_steps/vendor.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/download.rs
  src/bootstrap/src/core/metadata.rs
  src/bootstrap/src/core/sanity.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/cc_detect.rs
  src/bootstrap/src/utils/exec.rs
  src/bootstrap/src/utils/helpers.rs
  src/bootstrap/src/utils/tarball.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#127428 Don't use regexes in tidy checks
  src/tools/tidy/src/style.rs
  src/tools/tidy/src/style/tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#123253 Specialize `TrustedLen` for `Iterator::unzip()`
  library/alloc/src/collections/vec_deque/mod.rs
  library/alloc/src/collections/vec_deque/spec_extend.rs
  library/alloc/src/lib.rs
  library/alloc/src/vec/mod.rs
  library/core/src/iter/traits/collect.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#127455 Make tidy problematic const checking fast again
  src/tools/tidy/src/style.rs
  src/tools/tidy/src/style/tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#127179 Print `TypeId` as hex for debugging
  library/core/src/any.rs
Labels: S-waiting-on-bors, T-libs

#127189 LinkedList's Cursor: method to get a ref to the cursor's list
  library/alloc/src/collections/linked_list.rs
Labels: S-waiting-on-bors, T-libs

#127236 doc: update config file path in platform-support/wasm32-wasip1-threads.md
  src/doc/rustc/src/platform-support/wasm32-wasip1-threads.md
Labels: S-waiting-on-bors

#127297 Improve std::Path's Hash quality by avoiding prefix collisions
  library/std/src/path.rs
  library/std/src/path/tests.rs
Labels: S-waiting-on-bors, T-libs

#127308 Attribute cleanups
  compiler/rustc_ast/src/ast_traits.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/lib.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_builtin_macros/src/cfg_eval.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_resolve/src/late.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-query-system

#127354 Describe Sized requirements for mem::offset_of
  library/core/src/mem/mod.rs
Labels: S-waiting-on-bors, T-libs

#127409 Emit a wrap expr span_bug only if context is not tainted
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  tests/crashes/127332.rs
  tests/ui/typeck/ice-with-expr-not-struct-127332.rs
  tests/ui/typeck/ice-with-expr-not-struct-127332.stderr
Labels: T-compiler, S-waiting-on-bors

#127447 once_lock: make test not take as long in Miri
  library/std/src/sync/once_lock.rs
Labels: S-waiting-on-bors, T-libs

#127454 Rollup of 8 pull requests
  compiler/rustc_ast/src/ast_traits.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/lib.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_builtin_macros/src/cfg_eval.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_resolve/src/late.rs
  library/alloc/src/collections/linked_list.rs
  library/core/src/any.rs
  library/core/src/mem/mod.rs
  library/std/src/path.rs
  library/std/src/path/tests.rs
  library/std/src/sync/once_lock.rs
  src/doc/rustc/src/platform-support/wasm32-wasip1-threads.md
  tests/crashes/127332.rs
  tests/ui/typeck/ice-with-expr-not-struct-127332.rs
  tests/ui/typeck/ice-with-expr-not-struct-127332.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#127172 Make `can_eq` process obligations (almost) everywhere
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/generic-associated-types/assume-gat-normalization-for-nested-goals.next.stderr
  tests/ui/impl-trait/nested_impl_trait.rs
  tests/ui/impl-trait/nested_impl_trait.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.nn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.ny.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.yn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/issue-100222.yy.stderr
  tests/ui/traits/next-solver/auto-with-drop_tracking_mir.fail.stderr
  tests/ui/traits/next-solver/typeck/receiver-self-ty-check-eq.rs
  tests/ui/type-alias-impl-trait/method_resolution3.current.stderr
  tests/ui/type-alias-impl-trait/method_resolution3.next.stderr
  tests/ui/type-alias-impl-trait/method_resolution3.rs
  tests/ui/type-alias-impl-trait/method_resolution4.current.stderr
  tests/ui/type-alias-impl-trait/method_resolution4.next.stderr
  tests/ui/type-alias-impl-trait/method_resolution4.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#127421 Cache hir_owner_nodes in ParentHirIterator.
  compiler/rustc_middle/src/hir/map/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#127459 rustdoc-json: add type/trait alias tests
  tests/rustdoc-json/trait_alias.rs
  tests/rustdoc-json/type_alias.rs
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#126841 [`macro_metavar_expr_concat`] Add support for literals
  compiler/rustc_expand/src/mbe/metavar_expr.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  tests/ui/macros/macro-metavar-expr-concat/allowed-operations.rs
  tests/ui/macros/macro-metavar-expr-concat/raw-identifiers.rs
  tests/ui/macros/macro-metavar-expr-concat/raw-identifiers.stderr
  tests/ui/macros/macro-metavar-expr-concat/syntax-errors.rs
  tests/ui/macros/macro-metavar-expr-concat/syntax-errors.stderr
  tests/ui/macros/macro-metavar-expr-concat/unicode-expansion.rs
  tests/ui/macros/rfc-3086-metavar-expr/syntax-errors.stderr
Labels: T-compiler, S-waiting-on-bors

#126881 Make `NEVER_TYPE_FALLBACK_FLOWING_INTO_UNSAFE` a deny-by-default lint in edition 2024
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.e2015.stderr
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.e2024.stderr
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.rs
Labels: T-compiler, S-waiting-on-bors

#126921 Give VaList its own home
  library/core/src/ffi/mod.rs
  library/core/src/ffi/va_list.rs
  src/tools/tidy/src/pal.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-libs, F-c_variadic, A-run-make

#127367 Run alloc sync tests
  library/alloc/src/sync.rs
Labels: S-waiting-on-bors, T-libs

#127431 Use field ident spans directly instead of the full field span in diagnostics on local fields
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/resolve/field-and-method-in-self-not-available-in-assoc-fn.stderr
  tests/ui/resolve/issue-2356.stderr
  tests/ui/resolve/issue-60057.stderr
  tests/ui/resolve/typo-suggestion-for-variable-with-name-similar-to-struct-field.stderr
  tests/ui/resolve/unresolved_static_type_field.stderr
Labels: T-compiler, S-waiting-on-bors

#127437 Uplift trait ref is knowable into `rustc_next_trait_solver`
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_infer/src/infer/context.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_next_trait_solver/src/coherence.rs
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/lib.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#127439 Uplift elaboration into `rustc_type_ir`
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/traits/util.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/elaborate_impl.rs
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/predicate.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/mod.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/structural_traits.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_ty_utils/src/opaque_types.rs
  compiler/rustc_ty_utils/src/sig_types.rs
  compiler/rustc_type_ir/src/binder.rs
  compiler/rustc_type_ir/src/elaborate.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lib.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_utils/src/ty.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#127451 Improve `run-make/output-type-permutations` code and improve `filename_not_in_denylist` API
  src/tools/run-make-support/src/lib.rs
  tests/run-make/output-type-permutations/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#127452 Fix intrinsic const parameter counting with `effects`
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  tests/ui/intrinsics/not-overridden.rs
  tests/ui/intrinsics/safe-intrinsic-mismatch.effects.stderr
  tests/ui/intrinsics/safe-intrinsic-mismatch.rs
  tests/ui/intrinsics/safe-intrinsic-mismatch.stock.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.stderr
Labels: T-compiler, S-waiting-on-bors

#127438 Make `push_outlives_components` into a `TypeVisitor`
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_type_ir/src/outlives.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#127199 coverage: Extract hole spans from HIR instead of MIR
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  tests/coverage-run-rustdoc/doctest.coverage
  tests/coverage/async.cov-map
  tests/coverage/async.coverage
  tests/coverage/async.rs
  tests/coverage/attr/nested.cov-map
  tests/coverage/attr/nested.coverage
  tests/coverage/attr/nested.rs
  tests/coverage/attr/off-on-sandwich.cov-map
  tests/coverage/attr/off-on-sandwich.coverage
  tests/coverage/attr/off-on-sandwich.rs
  tests/coverage/closure_macro.cov-map
  tests/coverage/closure_macro_async.cov-map
  tests/coverage/holes.cov-map
  tests/coverage/holes.coverage
  tests/coverage/holes.rs
  tests/coverage/no_cov_crate.cov-map
  tests/coverage/no_cov_crate.coverage
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#127355 Mark format! with must_use hint
  library/alloc/src/collections/btree/map/tests.rs
  library/alloc/src/collections/btree/set/tests.rs
  library/alloc/src/fmt.rs
  library/alloc/src/lib.rs
  library/alloc/src/macros.rs
  library/alloc/tests/fmt.rs
  library/core/tests/fmt/builders.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/builder.rs
  src/tools/clippy/tests/ui/or_fun_call.fixed
  src/tools/clippy/tests/ui/or_fun_call.stderr
  src/tools/miri/tests/pass/intptrcast.rs
  src/tools/miri/tests/pass/packed_struct.rs
  src/tools/miri/tests/pass/shims/fs.rs
  src/tools/miri/tests/pass/shims/io.rs
  src/tools/miri/tests/pass/vecdeque.rs
  tests/pretty/issue-4264.pp
  tests/ui/deriving/deriving-in-fn.rs
  tests/ui/fmt/struct-field-as-captured-argument.fixed
  tests/ui/fmt/struct-field-as-captured-argument.rs
  tests/ui/fmt/struct-field-as-captured-argument.stderr
  tests/ui/issues/issue-20676.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-libs

#127399 Verify that allocations output by GVN are sufficiently aligned.
  compiler/rustc_mir_transform/src/gvn.rs
  tests/ui/mir/alignment/misaligned-constant-gvn.rs
Labels: T-compiler, S-waiting-on-bors

#127460 clarify `sys::unix::fd::FileDesc::drop` comment
  library/std/src/os/fd/owned.rs
Labels: S-waiting-on-bors, T-libs

#127467 bootstrap: once_cell::sync::Lazy -> std::sync::LazyLock
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/utils/cache.rs
Labels: T-bootstrap, S-waiting-on-bors
