Repository rust-lang/rust, pull requests merged in 2024-04, with the labels that each got.

#123270 doc: mention heap allocation earlier in String docs
  library/alloc/src/string.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#122972 Use the `Align` type when parsing alignment attributes
  Cargo.lock
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_attr/Cargo.toml
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/mod.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_middle/src/middle/codegen_fn_attrs.rs
  compiler/rustc_middle/src/ty/mod.rs
  tests/ui/repr/repr-align.rs
  tests/ui/repr/repr-align.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#122663 Fix error message for `env!` when env var is not valid Unicode
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/env.rs
  compiler/rustc_builtin_macros/src/errors.rs
  library/core/src/macros/mod.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/rustc.rs
  tests/run-make/non-unicode-env/non_unicode_env.rs
  tests/run-make/non-unicode-env/non_unicode_env.stderr
  tests/run-make/non-unicode-env/rmake.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#123192 Refactor the way bootstrap invokes `cargo miri`
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/run.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/lib.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  src/tools/miri/cargo-miri/src/phases.rs
  src/tools/miri/cargo-miri/src/setup.rs
Labels: A-testsuite, O-windows, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#123310 Don't inherit codegen attrs from parent static
  compiler/rustc_const_eval/src/interpret/intern.rs
  tests/ui/statics/nested-allocations-dont-inherit-codegen-attrs.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors

#122046 match lowering: handle or-patterns one layer at a time
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/simplify.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123265 Refactor stack overflow handling
  library/std/src/panicking.rs
  library/std/src/rt.rs
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/itron/thread.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/teeos/thread.rs
  library/std/src/sys/pal/uefi/thread.rs
  library/std/src/sys/pal/unix/stack_overflow.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unsupported/thread.rs
  library/std/src/sys/pal/wasi/thread.rs
  library/std/src/sys/pal/windows/thread.rs
  library/std/src/sys/pal/xous/thread.rs
  library/std/src/sys/sync/rwlock/queue.rs
  library/std/src/sys_common/mod.rs
  library/std/src/sys_common/thread_info.rs
  library/std/src/thread/mod.rs
  tests/ui/stability-attribute/stability-in-private-module.rs
  tests/ui/stability-attribute/stability-in-private-module.stderr
Labels: O-windows, S-waiting-on-bors, A-thread-locals, merged-by-bors, T-libs, O-SGX, O-unix, A-thread, A-stack-probe, O-wasi, O-hermit, O-itron

#123315 std::thread: adding get_name implementation for solaris/illumos.
  library/std/src/sys/pal/unix/thread.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-unix

#123318 chore: fix footnotes/links in `platform-support.md`
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors, merged-by-bors

#123320 Fixup parsing of `rustc_never_type_options` attribute
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123327 Update `ParamEnv` docs
  compiler/rustc_middle/src/ty/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123323 std::thread: set_name change for solaris/illumos.
  library/std/src/sys/pal/unix/thread.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#123330 Pass RUST_BACKTRACE when running docker.
  src/ci/docker/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#123346 Rollup of 2 pull requests
  library/std/src/sys/pal/unix/thread.rs
  src/ci/docker/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, O-unix

#122945 improve example on inserting to a sorted vector to avoid shifting equal elements
  library/alloc/src/collections/vec_deque/mod.rs
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#122267 Eagerly instantiate closure/coroutine-like bounds with placeholders to deal with binders correctly
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/higher-ranked/builtin-closure-like-bounds.rs
  tests/ui/higher-ranked/closure-bound-codegen-ice.rs
  tests/ui/higher-ranked/trait-bounds/fn-ptr.classic.stderr
  tests/ui/higher-ranked/trait-bounds/fn-ptr.current.stderr
  tests/ui/higher-ranked/trait-bounds/fn-ptr.rs
  tests/ui/higher-ranked/trait-bounds/future.classic.stderr
  tests/ui/higher-ranked/trait-bounds/future.current.stderr
  tests/ui/higher-ranked/trait-bounds/future.rs
  tests/ui/lifetimes/issue-105675.rs
  tests/ui/lifetimes/lifetime-errors/issue_74400.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, T-types

#123336 Note impact of `-Cstrip` on backtraces
  src/doc/rustc/src/codegen-options/index.md
Labels: S-waiting-on-bors, merged-by-bors

#123347 Only allow compiler_builtins to call LLVM intrinsics, not any link_name function
  compiler/rustc_monomorphize/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123340 rustdoc: heavily simplify the synthesis of auto trait impls
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  tests/rustdoc/synthetic_auto/bounds.rs
  tests/rustdoc/synthetic_auto/complex.rs
  tests/rustdoc/synthetic_auto/lifetimes.rs
  tests/rustdoc/synthetic_auto/no-redundancy.rs
  tests/rustdoc/synthetic_auto/project.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#123354 fix: build on haiku by adding missing import
  library/std/src/sys/pal/unix/thread.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-unix

#123338 Update to new browser-ui-test version
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  tests/rustdoc-gui/anchors.goml
  tests/rustdoc-gui/code-color.goml
  tests/rustdoc-gui/codeblock-tooltip.goml
  tests/rustdoc-gui/cursor.goml
  tests/rustdoc-gui/docblock-code-block-line-number.goml
  tests/rustdoc-gui/docblock-table.goml
  tests/rustdoc-gui/escape-key.goml
  tests/rustdoc-gui/globals.goml
  tests/rustdoc-gui/go-to-collapsed-elem.goml
  tests/rustdoc-gui/headers-color.goml
  tests/rustdoc-gui/headings-anchor.goml
  tests/rustdoc-gui/headings.goml
  tests/rustdoc-gui/help-page.goml
  tests/rustdoc-gui/highlight-colors.goml
  tests/rustdoc-gui/item-decl-colors.goml
  tests/rustdoc-gui/item-decl-comment-highlighting.goml
  tests/rustdoc-gui/item-info-alignment.goml
  tests/rustdoc-gui/item-info.goml
  tests/rustdoc-gui/jump-to-def-background.goml
  tests/rustdoc-gui/label-next-to-symbol.goml
  tests/rustdoc-gui/links-color.goml
  tests/rustdoc-gui/notable-trait.goml
  tests/rustdoc-gui/pocket-menu.goml
  tests/rustdoc-gui/run-on-hover.goml
  tests/rustdoc-gui/rust-logo.goml
  tests/rustdoc-gui/scrape-examples-color.goml
  tests/rustdoc-gui/scrape-examples-toggle.goml
  tests/rustdoc-gui/search-corrections.goml
  tests/rustdoc-gui/search-error.goml
  tests/rustdoc-gui/search-filter.goml
  tests/rustdoc-gui/search-form-elements.goml
  tests/rustdoc-gui/search-keyboard.goml
  tests/rustdoc-gui/search-no-result.goml
  tests/rustdoc-gui/search-reexport.goml
  tests/rustdoc-gui/search-result-color.goml
  tests/rustdoc-gui/search-result-display.goml
  tests/rustdoc-gui/search-result-impl-disambiguation.goml
  tests/rustdoc-gui/search-result-keyword.goml
  tests/rustdoc-gui/search-tab-change-title-fn-sig.goml
  tests/rustdoc-gui/search-tab.goml
  tests/rustdoc-gui/setting-auto-hide-content-large-items.goml
  tests/rustdoc-gui/setting-auto-hide-item-methods-docs.goml
  tests/rustdoc-gui/setting-auto-hide-trait-implementations.goml
  tests/rustdoc-gui/setting-go-to-only-result.goml
  tests/rustdoc-gui/settings.goml
  tests/rustdoc-gui/sidebar-links-color.goml
  tests/rustdoc-gui/sidebar-mobile.goml
  tests/rustdoc-gui/sidebar-source-code-display.goml
  tests/rustdoc-gui/sidebar-source-code.goml
  tests/rustdoc-gui/sidebar.goml
  tests/rustdoc-gui/source-code-page.goml
  tests/rustdoc-gui/stab-badge.goml
  tests/rustdoc-gui/target.goml
  tests/rustdoc-gui/toggle-docs.goml
  tests/rustdoc-gui/type-declation-overflow.goml
  tests/rustdoc-gui/unsafe-fn.goml
  tests/rustdoc-gui/warning-block.goml
  tests/rustdoc-gui/where-whitespace.goml
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#123366 Minor by_move_body impl cleanups
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
Labels: T-compiler, S-waiting-on-bors

#123371 Remove dangling `.mir.stderr` and `.thir.stderr` test files
  tests/ui/consts/const-extern-fn/const-extern-fn-requires-unsafe.mir.stderr
  tests/ui/consts/const-extern-fn/const-extern-fn-requires-unsafe.thir.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/fn-ptr.mir.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/fn-ptr.thir.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.mir.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.thir.stderr
Labels: T-compiler, S-waiting-on-bors

#122614 rustdoc-search: shard the search result descriptions
  Cargo.lock
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/librustdoc/Cargo.toml
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/render/search_index/encode.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/storage.js
  src/tools/rustdoc-js/.eslintrc.js
  src/tools/rustdoc-js/tester.js
  tests/rustdoc/search-index-summaries.rs
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#118310 Add `Ord::cmp` for primitives as a `BinOp` in MIR
  compiler/rustc_codegen_cranelift/src/codegen_i128.rs
  compiler/rustc_codegen_cranelift/src/num.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/traits/consts.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_ty_utils/src/consts.rs
  compiler/stable_mir/src/mir/body.rs
  library/core/src/cmp.rs
  library/core/src/intrinsics.rs
  library/core/tests/intrinsics.rs
  library/core/tests/lib.rs
  tests/assembly/x86_64-cmp.rs
  tests/codegen/intrinsics/three_way_compare.rs
  tests/mir-opt/lower_intrinsics.rs
  tests/mir-opt/lower_intrinsics.three_way_compare_char.LowerIntrinsics.panic-abort.diff
  tests/mir-opt/lower_intrinsics.three_way_compare_char.LowerIntrinsics.panic-unwind.diff
  tests/mir-opt/lower_intrinsics.three_way_compare_signed.LowerIntrinsics.panic-abort.diff
  tests/mir-opt/lower_intrinsics.three_way_compare_signed.LowerIntrinsics.panic-unwind.diff
  tests/mir-opt/lower_intrinsics.three_way_compare_unsigned.LowerIntrinsics.panic-abort.diff
  tests/mir-opt/lower_intrinsics.three_way_compare_unsigned.LowerIntrinsics.panic-unwind.diff
  tests/mir-opt/pre-codegen/derived_ord.rs
  tests/mir-opt/pre-codegen/derived_ord.{impl#0}-partial_cmp.PreCodegen.after.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#123198 Add fn const BuildHasherDefault::new
  library/core/src/hash/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#123226 De-LLVM the unchecked shifts [MCP#693]
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/common.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  library/core/src/intrinsics.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/mod.rs
  library/core/src/num/uint_macros.rs
  library/core/src/ptr/mod.rs
  tests/codegen/unchecked_shifts.rs
  tests/mir-opt/inline/unchecked_shifts.rs
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_bigger.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_bigger.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_bigger.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_bigger.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/lower_intrinsics.rs
  tests/mir-opt/lower_intrinsics.unchecked.LowerIntrinsics.panic-abort.diff
  tests/mir-opt/lower_intrinsics.unchecked.LowerIntrinsics.panic-unwind.diff
  tests/ui/consts/const-int-unchecked.rs
  tests/ui/consts/const-int-unchecked.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#123302 Make sure to insert `Sized` bound first into clauses list
  compiler/rustc_hir_analysis/src/bounds.rs
  tests/incremental/hashes/function_interfaces.rs
  tests/ui/methods/probe-overflow-due-to-sized-predicate-ordering.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#123348 rustdoc: add a couple of regression tests
  tests/rustdoc-ui/synthetic-auto-trait-impls/const-in-super-trait-and-item-bound.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/projections-in-super-trait-bound-unsatisfied.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/projections-in-super-trait-bound-unsatisfied.stderr
  tests/rustdoc-ui/synthetic-auto-trait-impls/unconstrained-param-in-impl-ambiguity.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/unconstrained-param-in-impl-ambiguity.stderr
Labels: T-rustdoc, S-waiting-on-bors

#123362 Check that nested statics in thread locals are duplicated per thread.
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
  tests/ui/statics/nested_thread_local.rs
  tests/ui/statics/nested_thread_local.stderr
Labels: T-compiler, S-waiting-on-bors

#123368 CFI: Support non-general coroutines
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  tests/ui/sanitizer/cfi-coroutine.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#123375 rustdoc: synthetic auto trait impls: accept unresolved region vars for now
  src/librustdoc/clean/auto_trait.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/lifetime-generic-user-impl-normalize.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/lifetime-generic-user-impl.rs
Labels: T-rustdoc, S-waiting-on-bors

#123378 Update sysinfo to 0.30.8
  Cargo.lock
Labels: S-waiting-on-bors

#123385 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/common.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
  compiler/rustc_hir_analysis/src/bounds.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  library/core/src/hash/mod.rs
  library/core/src/intrinsics.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/mod.rs
  library/core/src/num/uint_macros.rs
  library/core/src/ptr/mod.rs
  src/librustdoc/clean/auto_trait.rs
  tests/codegen/unchecked_shifts.rs
  tests/incremental/hashes/function_interfaces.rs
  tests/mir-opt/inline/unchecked_shifts.rs
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_bigger.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_bigger.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_bigger.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_bigger.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.PreCodegen.after.panic-abort.mir
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_smaller.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/lower_intrinsics.rs
  tests/mir-opt/lower_intrinsics.unchecked.LowerIntrinsics.panic-abort.diff
  tests/mir-opt/lower_intrinsics.unchecked.LowerIntrinsics.panic-unwind.diff
  tests/rustdoc-ui/synthetic-auto-trait-impls/const-in-super-trait-and-item-bound.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/lifetime-generic-user-impl-normalize.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/lifetime-generic-user-impl.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/projections-in-super-trait-bound-unsatisfied.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/projections-in-super-trait-bound-unsatisfied.stderr
  tests/rustdoc-ui/synthetic-auto-trait-impls/unconstrained-param-in-impl-ambiguity.rs
  tests/rustdoc-ui/synthetic-auto-trait-impls/unconstrained-param-in-impl-ambiguity.stderr
  tests/ui/consts/const-int-unchecked.rs
  tests/ui/consts/const-int-unchecked.stderr
  tests/ui/methods/probe-overflow-due-to-sized-predicate-ordering.rs
  tests/ui/sanitizer/cfi-coroutine.rs
  tests/ui/statics/nested_thread_local.rs
  tests/ui/statics/nested_thread_local.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, PG-exploit-mitigations

#122791 Make inductive cycles always ambiguous
  compiler/rustc_middle/src/traits/select.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/marker_trait_attr/unsound-overlap.rs
  tests/ui/marker_trait_attr/unsound-overlap.stderr
  tests/ui/specialization/issue-39448.rs
  tests/ui/specialization/issue-39448.stderr
  tests/ui/specialization/issue-39618.rs
  tests/ui/specialization/issue-39618.stderr
  tests/ui/traits/stack-error-order-dependence-2.rs
  tests/ui/traits/stack-error-order-dependence.rs
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, T-types

#123380 Improve bootstrap comments
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/llvm.rs
Labels: T-bootstrap, S-waiting-on-bors

#122865 Split hir ty lowerer's error reporting code in check functions to mod errors.
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/object_safety.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  tests/ui/sized/ensure-overriding-bindings-in-pattern-with-ty-err-doesnt-ice.rs
  tests/ui/sized/ensure-overriding-bindings-in-pattern-with-ty-err-doesnt-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#122935 rename ptr::from_exposed_addr -> ptr::with_exposed_provenance
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/ty/cast.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/rustc_span/src/symbol.rs
  compiler/stable_mir/src/mir/body.rs
  library/core/src/intrinsics/simd.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/portable-simd/crates/core_simd/src/simd/ptr/const_ptr.rs
  library/portable-simd/crates/core_simd/src/simd/ptr/mut_ptr.rs
  library/portable-simd/crates/core_simd/tests/pointers.rs
  library/std/src/os/xous/ffi.rs
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/itron/thread.rs
  library/std/src/sys/pal/xous/thread_local_key.rs
  library/std/src/sys/pal/zkvm/thread_local_key.rs
  library/std/src/sys/personality/dwarf/eh.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  src/tools/miri/README.md
  src/tools/miri/src/alloc_addresses/mod.rs
  src/tools/miri/src/diagnostics.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/tests/fail/provenance/ptr_int_unexposed.rs
  src/tools/miri/tests/fail/provenance/strict_provenance_cast.rs
  src/tools/miri/tests/fail/provenance/strict_provenance_cast.stderr
  src/tools/miri/tests/fail/stacked_borrows/exposed_only_ro.rs
  src/tools/miri/tests/pass/box.stack.stderr
  src/tools/miri/tests/pass/extern_types.stack.stderr
  src/tools/miri/tests/pass/portable-simd-ptrs.rs
  src/tools/miri/tests/pass/ptr_int_from_exposed.rs
  src/tools/miri/tests/pass/stacked-borrows/int-to-ptr.rs
  src/tools/miri/tests/pass/stacked-borrows/issue-miri-2389.stderr
  src/tools/miri/tests/pass/stacked-borrows/unknown-bottom-gc.rs
  tests/mir-opt/building/custom/as_cast.int_to_ptr.built.after.mir
  tests/mir-opt/const_prop/reify_fn_ptr.main.GVN.diff
  tests/mir-opt/const_prop/reify_fn_ptr.rs
  tests/ui/lint/lint-strict-provenance-fuzzy-casts.stderr
  tests/ui/simd/intrinsic/ptr-cast.rs
Labels: T-libs-api, T-compiler, S-waiting-on-bors, T-libs, I-libs-api-nominated, A-strict-provenance, O-hermit, O-itron

#123182 Avoid expanding to unstable internal method
  compiler/rustc_expand/src/build.rs
  tests/ui/derives/auxiliary/rustc-serialize.rs
  tests/ui/derives/rustc-decodable-issue-123156.rs
  tests/ui/derives/rustc-decodable-issue-123156.stderr
Labels: A-macros, T-compiler, S-waiting-on-bors

#123203 Add `Context::ext`
  library/core/src/task/wake.rs
  tests/ui/async-await/async-is-unwindsafe.rs
  tests/ui/async-await/async-is-unwindsafe.stderr
Labels: T-libs-api, S-waiting-on-bors, I-libs-api-nominated

#122225 Rename `UninhabitedEnumBranching` to `UnreachableEnumBranching`
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_mir_transform/src/unreachable_enum_branching.rs
  tests/codegen/enum/uninhabited_enum_default_branch.rs
  tests/codegen/enum/unreachable_enum_default_branch.rs
  tests/mir-opt/simplify_dead_blocks.assert_nonzero_nonmax.SimplifyCfg-after-unreachable-enum-branching.diff
  tests/mir-opt/simplify_dead_blocks.rs
  tests/mir-opt/simplify_duplicate_unreachable_blocks.assert_nonzero_nonmax.SimplifyCfg-after-uninhabited-enum-branching.diff
  tests/mir-opt/simplify_duplicate_unreachable_blocks.rs
  tests/mir-opt/uninhabited_fallthrough_elimination.eliminate_fallthrough.UnreachableEnumBranching.diff
  tests/mir-opt/uninhabited_fallthrough_elimination.keep_fallthrough.UnreachableEnumBranching.diff
  tests/mir-opt/uninhabited_fallthrough_elimination.rs
  tests/mir-opt/unreachable_enum_branching.byref.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.byref.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.custom_discriminant.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.custom_discriminant.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t1.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t1.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t2.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t2.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t3.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t3.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4_unreachable_default.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4_unreachable_default.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4_unreachable_default_2.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4_unreachable_default_2.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t5_unreachable_default.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t5_unreachable_default.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.rs
  tests/mir-opt/unreachable_enum_branching.simple.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.simple.UnreachableEnumBranching.panic-unwind.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123349 Fix capture analysis for by-move closure bodies
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  src/tools/miri/tests/pass/async-closure-captures.rs
  src/tools/miri/tests/pass/async-closure-captures.stdout
  tests/ui/async-await/async-closures/captures.rs
  tests/ui/async-await/async-closures/captures.run.stdout
Labels: T-compiler, S-waiting-on-bors, F-async_closure

#123359 Link against libc++abi and libunwind as well when building LLVM wrappers on AIX
  compiler/rustc_llvm/build.rs
Labels: T-compiler, S-waiting-on-bors

#123388 use a consistent style for links
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#123402 Rollup of 4 pull requests
  compiler/rustc_llvm/build.rs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  library/std/src/fs.rs
  library/std/src/sys/pal/mod.rs
  library/std/src/sys/pal/wasip2/cabi_realloc.rs
  library/std/src/sys/pal/wasip2/mod.rs
  src/tools/miri/tests/pass/async-closure-captures.rs
  src/tools/miri/tests/pass/async-closure-captures.stdout
  tests/ui/async-await/async-closures/captures.rs
  tests/ui/async-await/async-closures/captures.run.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-wasi

#122411 Provide cabi_realloc on wasm32-wasip2 by default
  library/std/src/sys/pal/mod.rs
  library/std/src/sys/pal/wasip2/cabi_realloc.rs
  library/std/src/sys/pal/wasip2/mod.rs
Labels: S-waiting-on-bors, T-libs, O-wasi

#123390 Put basic impls for f16 and f128 behind cfg(not(bootstrap))
  library/core/src/clone.rs
  library/core/src/cmp.rs
  library/core/src/lib.rs
  library/core/src/marker.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#123393 rustc_ast: Update `P<T>` docs to reflect mutable status.
  compiler/rustc_ast/src/ptr.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#123412 Output URLs of CI artifacts to GitHub summary
  src/ci/scripts/upload-artifacts.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#123416 Rollup of 7 pull requests
  compiler/rustc_ast/src/ptr.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_parse/src/parser/expr.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/core/config/flags.rs
  src/ci/scripts/upload-artifacts.sh
  src/doc/unstable-book/src/compiler-flags/external-clangrt.md
  src/doc/unstable-book/src/compiler-flags/sanitizer.md
  src/etc/completions/x.py.fish
  src/etc/completions/x.py.ps1
  src/etc/completions/x.py.sh
  src/etc/completions/x.py.zsh
  tests/ui/match/postfix-match/match-after-as.rs
  tests/ui/match/postfix-match/match-after-as.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, PG-exploit-mitigations

#123209 Add section to sanitizer doc for `-Zexternal-clangrt`
  src/doc/unstable-book/src/compiler-flags/external-clangrt.md
  src/doc/unstable-book/src/compiler-flags/sanitizer.md
Labels: S-waiting-on-bors, PG-exploit-mitigations

#123382 Assert `FnDef` kind
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_middle/src/ty/sty.rs
Labels: T-compiler, S-waiting-on-bors

#123386 Set `CARGO` instead of `PATH` for Rust Clippy
  src/bootstrap/src/core/builder.rs
Labels: T-bootstrap, S-waiting-on-bors

#123394 Postfix match fixes
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/match/postfix-match/match-after-as.rs
  tests/ui/match/postfix-match/match-after-as.stderr
Labels: T-compiler, S-waiting-on-bors

#123415 hir: Drop owner's own item-local id (zero) from parenting tables
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_middle/src/hir/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123301 pattern analysis: fix union handling
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_pattern_analysis/src/constructor.rs
  compiler/rustc_pattern_analysis/src/rustc.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
  tests/ui/pattern/usefulness/unions.rs
  tests/ui/pattern/usefulness/unions.stderr
Labels: T-compiler, S-waiting-on-bors

#123395 More postfix match fixes
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/util/parser.rs
Labels: T-compiler, S-waiting-on-bors

#123419 rustc_index: Add a `ZERO` constant to index types
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/llvm_x86.rs
  compiler/rustc_codegen_cranelift/src/vtable.rs
  compiler/rustc_data_structures/src/graph/dominators/mod.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/hir_id.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/intrinsicck.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_index_macros/src/newtype.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_build/src/build/custom/parse.rs
  compiler/rustc_mir_build/src/build/expr/as_rvalue.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/elaborate_box_derefs.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/source_map/tests.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_type_ir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#123421 Fix target name in NetBSD platform-support doc
  src/doc/rustc/src/platform-support/netbsd.md
Labels: S-waiting-on-bors

#122964 Rename `expose_addr` to `expose_provenance`
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/ty/cast.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/rustc_span/src/symbol.rs
  compiler/stable_mir/src/mir/body.rs
  library/core/src/fmt/mod.rs
  library/core/src/intrinsics/simd.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/portable-simd/crates/core_simd/src/simd/ptr/const_ptr.rs
  library/portable-simd/crates/core_simd/src/simd/ptr/mut_ptr.rs
  library/portable-simd/crates/core_simd/tests/pointers.rs
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/itron/thread.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  src/tools/miri/src/alloc_addresses/mod.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/tests/fail/provenance/ptr_invalid.rs
  src/tools/miri/tests/fail/stacked_borrows/exposed_only_ro.rs
  src/tools/miri/tests/pass/portable-simd-ptrs.rs
  src/tools/miri/tests/pass/ptr_int_from_exposed.rs
  src/tools/miri/tests/pass/stacked-borrows/int-to-ptr.rs
  src/tools/miri/tests/pass/stacked-borrows/unknown-bottom-gc.rs
  tests/mir-opt/const_prop/pointer_expose_provenance.main.GVN.panic-abort.diff
  tests/mir-opt/const_prop/pointer_expose_provenance.main.GVN.panic-unwind.diff
  tests/mir-opt/const_prop/pointer_expose_provenance.rs
  tests/mir-opt/const_prop/reify_fn_ptr.main.GVN.diff
  tests/mir-opt/const_prop/reify_fn_ptr.rs
  tests/mir-opt/dead-store-elimination/provenance_soundness.pointer_to_int.DeadStoreElimination-initial.diff
  tests/mir-opt/dead-store-elimination/provenance_soundness.rs
  tests/mir-opt/simplify_locals.expose_provenance.SimplifyLocals-before-const-prop.diff
  tests/mir-opt/simplify_locals.rs
  tests/ui/lint/lint-strict-provenance-lossy-casts.stderr
  tests/ui/simd/intrinsic/ptr-cast.rs
Labels: T-libs-api, S-waiting-on-bors, I-libs-api-nominated, A-strict-provenance, O-hermit, O-itron

#123291 Move some tests
  src/tools/tidy/src/issues.txt
  src/tools/tidy/src/ui_tests.rs
  tests/ui/closures/issue-1460.rs
  tests/ui/closures/issue-1460.stderr
  tests/ui/fn/issue-1451.rs
  tests/ui/fn/issue-1900.rs
  tests/ui/fn/issue-1900.stderr
  tests/ui/issues/issue-1476.rs
  tests/ui/issues/issue-1476.stderr
  tests/ui/issues/issue-1696.rs
  tests/ui/loops/issue-1962.fixed
  tests/ui/loops/issue-1962.rs
  tests/ui/loops/issue-1962.stderr
  tests/ui/loops/issue-1974.rs
  tests/ui/mismatched_types/issue-1362.rs
  tests/ui/mismatched_types/issue-1362.stderr
  tests/ui/mismatched_types/issue-1448-2.rs
  tests/ui/mismatched_types/issue-1448-2.stderr
  tests/ui/static/issue-1660.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#122619 Fix some unsoundness with PassMode::Cast ABI
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_target/src/abi/call/mod.rs
  tests/auxiliary/rust_test_helpers.c
  tests/codegen/cast-target-abi.rs
  tests/codegen/cffi/ffi-out-of-bounds-loads.rs
  tests/ui/abi/extern/extern-pass-FiveU16s.rs
  tests/ui/abi/extern/extern-return-FiveU16s.rs
Labels: T-compiler, S-waiting-on-bors

#121595 Better reporting on generic argument mismatchs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/async-await/coroutine-desc.stderr
  tests/ui/coercion/coerce-reborrow-multi-arg-fail.stderr
  tests/ui/fn/fn-item-type.stderr
  tests/ui/mismatched_types/generic-mismatch-reporting-issue-116615.rs
  tests/ui/mismatched_types/generic-mismatch-reporting-issue-116615.stderr
Labels: T-compiler, S-waiting-on-bors

#123240 Assert that args are actually compatible with their generics, rather than just their count
  compiler/rustc_hir_analysis/src/hir_ty_lowering/object_safety.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/mod.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_ty_utils/src/opaque_types.rs
  tests/ui/impl-trait/in-trait/span-bug-issue-121457.rs
  tests/ui/impl-trait/in-trait/span-bug-issue-121457.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#123401 Check `x86_64` size assertions on `aarch64`, too
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_infer/src/traits/mod.rs
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/query/plumbing.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
Labels: T-compiler, S-waiting-on-bors

#123440 Rollup of 4 pull requests
  README.md
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_infer/src/traits/mod.rs
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/query/plumbing.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  library/std/src/sys/pal/unix/rand.rs
  tests/ui/feature-gates/feature-gate-f128.e2015.stderr
  tests/ui/feature-gates/feature-gate-f128.e2018.stderr
  tests/ui/feature-gates/feature-gate-f128.rs
  tests/ui/feature-gates/feature-gate-f16.e2015.stderr
  tests/ui/feature-gates/feature-gate-f16.e2018.stderr
  tests/ui/feature-gates/feature-gate-f16.rs
  tests/ui/resolve/primitive-f16-f128-shadowed-mod.rs
  tests/ui/resolve/primitive-f16-f128-shadowed.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, O-unix

#123093 Add a nice header to our README.md
  README.md
Labels: S-waiting-on-bors, A-meta

#123307 Fix f16 and f128 feature gating on different editions
  compiler/rustc_resolve/src/ident.rs
  tests/ui/feature-gates/feature-gate-f128.e2015.stderr
  tests/ui/feature-gates/feature-gate-f128.e2018.stderr
  tests/ui/feature-gates/feature-gate-f128.rs
  tests/ui/feature-gates/feature-gate-f16.e2015.stderr
  tests/ui/feature-gates/feature-gate-f16.e2018.stderr
  tests/ui/feature-gates/feature-gate-f16.rs
  tests/ui/resolve/primitive-f16-f128-shadowed-mod.rs
  tests/ui/resolve/primitive-f16-f128-shadowed.rs
Labels: T-compiler, S-waiting-on-bors

#122356 std::rand: fix dragonflybsd after #121942.
  library/std/src/sys/pal/unix/rand.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#119820 instantiate higher ranked goals outside of candidate selection
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  src/tools/tidy/src/issues.txt
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-1.rs
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-1.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-2.current.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-2.next.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-2.old.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-2.rs
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-project.current.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-project.next.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-project.rs
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-1.rs
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-2.next.stderr
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-2.old.stderr
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-2.rs
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-3.next.stderr
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-3.old.stderr
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-3.rs
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-4-hr-nested.rs
  tests/ui/higher-ranked/trait-bounds/hrtb-doesnt-borrow-self-1.rs
  tests/ui/higher-ranked/trait-bounds/hrtb-doesnt-borrow-self-1.stderr
  tests/ui/higher-ranked/trait-bounds/hrtb-doesnt-borrow-self-2.rs
  tests/ui/higher-ranked/trait-bounds/hrtb-doesnt-borrow-self-2.stderr
  tests/ui/higher-ranked/trait-bounds/hrtb-higher-ranker-supertraits-transitive.stderr
  tests/ui/higher-ranked/trait-bounds/hrtb-higher-ranker-supertraits.rs
  tests/ui/higher-ranked/trait-bounds/hrtb-higher-ranker-supertraits.stderr
  tests/ui/higher-ranked/trait-bounds/issue-30786.stderr
  tests/ui/implied-bounds/issue-100690.rs
  tests/ui/implied-bounds/issue-100690.stderr
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, merged-by-bors, to-announce, perf-regression, T-types

#115538 check `FnDef` return type for WF
  compiler/rustc_trait_selection/src/traits/wf.rs
  tests/ui/fn/fn-item-lifetime-bounds.rs
  tests/ui/proc-macro/bad-projection.rs
  tests/ui/proc-macro/bad-projection.stderr
  tests/ui/wf/wf-fn-def-check-sig-1.rs
  tests/ui/wf/wf-fn-def-check-sig-1.stderr
  tests/ui/wf/wf-fn-def-check-sig-2.rs
  tests/ui/wf/wf-fn-def-check-sig-2.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, T-types

#123431 Stabilize `proc_macro_byte_character` and `proc_macro_c_str_literals`
  library/proc_macro/src/lib.rs
  tests/ui/feature-gates/feature-gate-proc_macro_byte_character.rs
  tests/ui/feature-gates/feature-gate-proc_macro_byte_character.stderr
  tests/ui/feature-gates/feature-gate-proc_macro_c_str_literals.rs
  tests/ui/feature-gates/feature-gate-proc_macro_c_str_literals.stderr
  tests/ui/proc-macro/auxiliary/api/mod.rs
Labels: T-libs-api, S-waiting-on-bors

#123439 coverage: Remove useless constants
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_mir_transform/src/coverage/query.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#123455 Rollup of 9 pull requests
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_transform/src/coverage/query.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_ty_utils/src/layout.rs
  library/proc_macro/src/lib.rs
  library/std/src/sys/pal/windows/stack_overflow.rs
  library/std/src/sys/pal/windows/stack_overflow_uwp.rs
  library/std/src/sys/pal/windows/thread.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/mir-opt/building/match/match_false_edges.main.built.after.mir
  tests/mir-opt/building/match/sort_candidates.constant_eq.SimplifyCfg-initial.after.mir
  tests/mir-opt/building/match/sort_candidates.disjoint_ranges.SimplifyCfg-initial.after.mir
  tests/mir-opt/match_arm_scopes.complicated_match.panic-abort.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/match_arm_scopes.complicated_match.panic-unwind.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/run-make/hir-tree/Makefile
  tests/run-make/hir-tree/input.rs
  tests/ui/extern/issue-95829.stderr
  tests/ui/feature-gates/feature-gate-proc_macro_byte_character.rs
  tests/ui/feature-gates/feature-gate-proc_macro_byte_character.stderr
  tests/ui/feature-gates/feature-gate-proc_macro_c_str_literals.rs
  tests/ui/feature-gates/feature-gate-proc_macro_c_str_literals.stderr
  tests/ui/impl-trait/in-trait/synthetic-hir-has-parent.rs
  tests/ui/impl-trait/in-trait/synthetic-hir-has-parent.stderr
  tests/ui/layout/ice-non-last-unsized-field-issue-121473.rs
  tests/ui/layout/ice-non-last-unsized-field-issue-121473.stderr
  tests/ui/nll/match-cfg-fake-edges.rs
  tests/ui/nll/match-cfg-fake-edges.stderr
  tests/ui/nll/match-cfg-fake-edges2.rs
  tests/ui/nll/match-cfg-fake-edges2.stderr
  tests/ui/parser/fn-header-semantic-fail.rs
  tests/ui/parser/fn-header-semantic-fail.stderr
  tests/ui/parser/no-const-fn-in-extern-block.rs
  tests/ui/parser/no-const-fn-in-extern-block.stderr
  tests/ui/parser/unsafe-foreign-mod-2.stderr
  tests/ui/proc-macro/auxiliary/api/mod.rs
  tests/ui/unpretty/hir-tree.rs
Labels: A-testsuite, O-windows, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, PG-exploit-mitigations

#123212 CFI: Change type transformation to use TypeFolder
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#123218 Add test for getting parent HIR for synthetic HIR node
  tests/ui/impl-trait/in-trait/synthetic-hir-has-parent.rs
  tests/ui/impl-trait/in-trait/synthetic-hir-has-parent.stderr
Labels: T-compiler, S-waiting-on-bors

#123324 match lowering: make false edges more precise
  compiler/rustc_mir_build/src/build/matches/mod.rs
  tests/mir-opt/building/match/match_false_edges.main.built.after.mir
  tests/mir-opt/building/match/sort_candidates.constant_eq.SimplifyCfg-initial.after.mir
  tests/mir-opt/building/match/sort_candidates.disjoint_ranges.SimplifyCfg-initial.after.mir
  tests/mir-opt/match_arm_scopes.complicated_match.panic-abort.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/match_arm_scopes.complicated_match.panic-unwind.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/ui/nll/match-cfg-fake-edges.rs
  tests/ui/nll/match-cfg-fake-edges.stderr
  tests/ui/nll/match-cfg-fake-edges2.rs
  tests/ui/nll/match-cfg-fake-edges2.stderr
Labels: T-compiler, S-waiting-on-bors

#123389 Avoid panicking unnecessarily on startup
  library/std/src/sys/pal/windows/stack_overflow.rs
  library/std/src/sys/pal/windows/stack_overflow_uwp.rs
  library/std/src/sys/pal/windows/thread.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#123397 Fix diagnostic for qualifier in extern block
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  tests/ui/extern/issue-95829.stderr
  tests/ui/parser/fn-header-semantic-fail.rs
  tests/ui/parser/fn-header-semantic-fail.stderr
  tests/ui/parser/no-const-fn-in-extern-block.rs
  tests/ui/parser/no-const-fn-in-extern-block.stderr
  tests/ui/parser/unsafe-foreign-mod-2.stderr
Labels: T-compiler, S-waiting-on-bors

#123377 Only inspect user-written predicates for privacy concerns
  compiler/rustc_ty_utils/src/sig_types.rs
  tests/ui/privacy/generic_struct_field_projection.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors

#121394 some smaller DefiningOpaqueTypes::No -> Yes switches
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  src/librustdoc/clean/blanket_impl.rs
  tests/ui/const-generics/generic_const_exprs/opaque_type.rs
  tests/ui/const-generics/generic_const_exprs/opaque_type.stderr
  tests/ui/const-generics/opaque_types.rs
  tests/ui/const-generics/opaque_types.stderr
  tests/ui/const-generics/opaque_types2.rs
  tests/ui/const-generics/opaque_types2.stderr
  tests/ui/impl-trait/nested_impl_trait.rs
  tests/ui/impl-trait/nested_impl_trait.stderr
  tests/ui/methods/opaque_param_in_ufc.rs
  tests/ui/methods/opaque_param_in_ufc.stderr
  tests/ui/self/arbitrary-self-opaque.rs
  tests/ui/self/arbitrary-self-opaque.stderr
  tests/ui/specialization/min_specialization/impl-on-opaque.rs
  tests/ui/specialization/min_specialization/impl-on-opaque2.rs
  tests/ui/specialization/min_specialization/impl-on-opaque2.stderr
  tests/ui/traits/trait-upcasting/illegal-upcast-from-impl-opaque.current.stderr
  tests/ui/traits/trait-upcasting/illegal-upcast-from-impl-opaque.next.stderr
  tests/ui/traits/trait-upcasting/illegal-upcast-from-impl-opaque.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#123097 Try using a `dyn Debug` trait object instead of a closure
  compiler/rustc_hir/src/definitions.rs
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123484 Rollup of 9 pull requests
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_llvm/llvm-wrapper/CoverageMappingWrapper.cpp
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/traits/solve/inspect.rs
  compiler/rustc_middle/src/traits/solve/inspect/format.rs
  compiler/rustc_middle/src/ty/normalize_erasing_regions.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/commit_if_ok.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/solve/inspect/build.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/mod.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/opaque_types.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/normalize.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/normalize.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_type_ir/src/flags.rs
  compiler/rustc_type_ir/src/visit.rs
  library/core/src/ptr/metadata.rs
  library/core/tests/lib.rs
  library/core/tests/ptr.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/doc/rustdoc/src/what-is-rustdoc.md
  src/librustdoc/html/static/css/noscript.css
  src/librustdoc/html/static/css/rustdoc.css
  src/tools/tidy/src/rustdoc_css_themes.rs
  tests/rustdoc-gui/javascript-disabled.goml
  tests/ui/generic-associated-types/ambig-hr-projection-issue-93340.next.stderr
  tests/ui/generic-associated-types/ambig-hr-projection-issue-93340.old.stderr
  tests/ui/generic-associated-types/ambig-hr-projection-issue-93340.rs
  tests/ui/impl-trait/recursive-coroutine-boxed.next.stderr
  tests/ui/impl-trait/recursive-coroutine-boxed.rs
  tests/ui/sanitizer/cfi-closures.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, PG-exploit-mitigations, WG-trait-system-refactor

#123363 change `NormalizesTo` to fully structurally normalize
  compiler/rustc_middle/src/traits/solve/inspect.rs
  compiler/rustc_middle/src/traits/solve/inspect/format.rs
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/commit_if_ok.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/solve/inspect/build.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/mod.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/opaque_types.rs
  tests/ui/generic-associated-types/ambig-hr-projection-issue-93340.next.stderr
  tests/ui/generic-associated-types/ambig-hr-projection-issue-93340.old.stderr
  tests/ui/generic-associated-types/ambig-hr-projection-issue-93340.rs
  tests/ui/impl-trait/recursive-coroutine-boxed.next.stderr
  tests/ui/impl-trait/recursive-coroutine-boxed.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#123407 Default to light theme if JS is enabled but not working
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/librustdoc/html/static/css/noscript.css
  src/librustdoc/html/static/css/rustdoc.css
  src/tools/tidy/src/rustdoc_css_themes.rs
  tests/rustdoc-gui/javascript-disabled.goml
Labels: A-testsuite, T-rustdoc, T-bootstrap, S-waiting-on-bors, T-infra

#123417 Add Description for cargo in rustdoc documentation
  src/doc/rustdoc/src/what-is-rustdoc.md
Labels: S-waiting-on-bors

#123437 Manually run `clang-format` on `CoverageMappingWrapper.cpp`
  compiler/rustc_llvm/llvm-wrapper/CoverageMappingWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#123454 hir: Use `ItemLocalId::ZERO` in a couple more places
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_middle/src/hir/mod.rs
Labels: T-compiler, S-waiting-on-bors

#123464 Cleanup: Rename `HAS_PROJECTIONS` to `HAS_ALIASES` etc.
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_middle/src/ty/normalize_erasing_regions.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/normalize.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/normalize.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_type_ir/src/flags.rs
  compiler/rustc_type_ir/src/visit.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#123477 do not ICE in `fn forced_ambiguity` if we get an error
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#123478 CFI: Add test for `call_once` addr taken
  tests/ui/sanitizer/cfi-closures.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#123206 Require Pointee::Metadata to be Freeze
  library/core/src/ptr/metadata.rs
  library/core/tests/lib.rs
  library/core/tests/ptr.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#123444 Teach MIR inliner query cycle avoidance about const_eval_select
  compiler/rustc_mir_transform/src/inline/cycle.rs
  tests/ui/mir/const_eval_select_cycle.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123469 remove miri jobserver workaround
  src/tools/miri/cargo-miri/src/phases.rs
Labels: S-waiting-on-bors, merged-by-bors

#122070 Encode dep graph edges directly from the previous graph when promoting
  compiler/rustc_incremental/src/persist/load.rs
  compiler/rustc_incremental/src/persist/save.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/serialized.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#123317 Support running library tests in Miri
  library/alloc/benches/vec_deque_append.rs
  library/alloc/src/lib.miri.rs
  library/core/src/lib.miri.rs
  library/std/src/lib.miri.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/flags.rs
  src/bootstrap/src/utils/render_tests.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  src/etc/completions/x.py.fish
  src/etc/completions/x.py.ps1
  src/etc/completions/x.py.sh
  src/etc/completions/x.py.zsh
  src/tools/miri/README.md
  src/tools/miri/cargo-miri/src/phases.rs
  src/tools/miri/src/helpers.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#123474 Port `run-make/issue-7349` to a codegen test
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/codegen/no-redundant-item-monomorphization.rs
  tests/run-make/issue-7349/Makefile
  tests/run-make/issue-7349/foo.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#123489 handle rustc args properly in bootstrap
  src/bootstrap/src/core/builder.rs
Labels: T-bootstrap, S-waiting-on-bors

#123496 ping on wf changes, remove fixme
  compiler/rustc_trait_selection/src/traits/wf.rs
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, A-meta

#123497 Rollup of 8 pull requests
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/builder.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/miri/tests/pass/async-closure-captures.rs
  src/tools/miri/tests/pass/async-closure-captures.stdout
  src/tools/run-make-support/src/cc.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/run.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  src/tools/tidy/src/deps.rs
  tests/codegen/no-redundant-item-monomorphization.rs
  tests/run-make/arguments-non-c-like-enum/Makefile
  tests/run-make/arguments-non-c-like-enum/rmake.rs
  tests/run-make/issue-7349/Makefile
  tests/run-make/issue-7349/foo.rs
  tests/ui/async-await/async-closures/captures.rs
  tests/ui/async-await/async-closures/captures.run.stdout
  tests/ui/async-await/async-closures/wrong-fn-kind.rs
  tests/ui/async-await/async-closures/wrong-fn-kind.stderr
  tests/ui/coherence/skip-reporting-if-references-err.current.stderr
  tests/ui/coherence/skip-reporting-if-references-err.next.stderr
  tests/ui/coherence/skip-reporting-if-references-err.rs
  tests/ui/feature-gates/feature-gate-ref_pat_everywhere.rs
  tests/ui/feature-gates/feature-gate-ref_pat_everywhere.stderr
  tests/ui/match/ref_pat_everywhere-mutability-mismatch.rs
  tests/ui/match/ref_pat_everywhere-mutability-mismatch.stderr
  tests/ui/match/ref_pat_everywhere.rs
  triagebot.toml
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#123149 Port argument-non-c-like-enum to Rust
  src/tools/compiletest/src/runtest.rs
  src/tools/run-make-support/src/cc.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/run.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/arguments-non-c-like-enum/Makefile
  tests/run-make/arguments-non-c-like-enum/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#123311 Match ergonomics: implement "`&`pat everywhere"
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/feature-gates/feature-gate-ref_pat_everywhere.rs
  tests/ui/feature-gates/feature-gate-ref_pat_everywhere.stderr
  tests/ui/match/ref_pat_everywhere-mutability-mismatch.rs
  tests/ui/match/ref_pat_everywhere-mutability-mismatch.stderr
  tests/ui/match/ref_pat_everywhere.rs
Labels: T-compiler, S-waiting-on-bors, A-patterns, A-edition-2024

#123350 Actually use the inferred `ClosureKind` from signature inference in coroutine-closures
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  src/tools/miri/tests/pass/async-closure-captures.rs
  src/tools/miri/tests/pass/async-closure-captures.stdout
  tests/ui/async-await/async-closures/captures.rs
  tests/ui/async-await/async-closures/captures.run.stdout
  tests/ui/async-await/async-closures/wrong-fn-kind.rs
  tests/ui/async-await/async-closures/wrong-fn-kind.stderr
Labels: T-compiler, S-waiting-on-bors

#122894 Move check for error in impl header outside of reporting
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  tests/ui/coherence/skip-reporting-if-references-err.current.stderr
  tests/ui/coherence/skip-reporting-if-references-err.next.stderr
  tests/ui/coherence/skip-reporting-if-references-err.rs
Labels: T-compiler, S-waiting-on-bors

#122334 Vendor rustc_codegen_gcc
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  src/bootstrap/bootstrap.py
  src/bootstrap/src/core/build_steps/dist.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#122747 Implement T-types suggested logic for perfect non-local impl detection
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/non_local_def.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui/lint/non_local_definitions.rs
  tests/ui/lint/non_local_definitions.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#123487 CFI: Restore typeid_for_instance default behavior
  compiler/rustc_codegen_llvm/src/declare.rs
  compiler/rustc_symbol_mangling/src/typeid.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  tests/codegen/sanitizer/cfi/emit-type-metadata-id-itanium-cxx-abi-method-secondary-typeid.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#123500 Revert removing miri jobserver workaround
  src/tools/miri/cargo-miri/src/phases.rs
Labels: S-waiting-on-bors

#123505 Revert "Use OS thread name by default"
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/itron/thread.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/teeos/thread.rs
  library/std/src/sys/pal/uefi/thread.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unsupported/thread.rs
  library/std/src/sys/pal/wasi/thread.rs
  library/std/src/sys/pal/wasm/atomics/thread.rs
  library/std/src/sys/pal/windows/thread.rs
  library/std/src/sys/pal/xous/thread.rs
  library/std/src/thread/mod.rs
  library/std/src/thread/tests.rs
Labels: O-windows, O-wasm, S-waiting-on-bors, T-libs, O-SGX, O-unix, O-wasi, O-hermit, O-itron

#123509 Add jieyouxu to compiler review rotation and as a reviewer for `tests/run-make`, `src/tools/run-make-support` and `src/tools/compiletest`
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#123514 Fix typo in `compiler/rustc_middle/src/traits/solve/inspect.rs`
  compiler/rustc_middle/src/traits/solve/inspect.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#123515 Use `include` command to reduce code duplication
  tests/rustdoc-gui/anchors.goml
  tests/rustdoc-gui/code-color.goml
  tests/rustdoc-gui/codeblock-tooltip.goml
  tests/rustdoc-gui/docblock-code-block-line-number.goml
  tests/rustdoc-gui/docblock-details.goml
  tests/rustdoc-gui/docblock-table.goml
  tests/rustdoc-gui/headers-color.goml
  tests/rustdoc-gui/headings.goml
  tests/rustdoc-gui/help-page.goml
  tests/rustdoc-gui/highlight-colors.goml
  tests/rustdoc-gui/item-decl-colors.goml
  tests/rustdoc-gui/item-decl-comment-highlighting.goml
  tests/rustdoc-gui/jump-to-def-background.goml
  tests/rustdoc-gui/links-color.goml
  tests/rustdoc-gui/notable-trait.goml
  tests/rustdoc-gui/pocket-menu.goml
  tests/rustdoc-gui/run-on-hover.goml
  tests/rustdoc-gui/rust-logo.goml
  tests/rustdoc-gui/scrape-examples-color.goml
  tests/rustdoc-gui/scrape-examples-toggle.goml
  tests/rustdoc-gui/search-error.goml
  tests/rustdoc-gui/search-filter.goml
  tests/rustdoc-gui/search-form-elements.goml
  tests/rustdoc-gui/search-no-result.goml
  tests/rustdoc-gui/search-reexport.goml
  tests/rustdoc-gui/search-result-color.goml
  tests/rustdoc-gui/search-result-display.goml
  tests/rustdoc-gui/search-tab.goml
  tests/rustdoc-gui/settings.goml
  tests/rustdoc-gui/sidebar-links-color.goml
  tests/rustdoc-gui/sidebar-mobile.goml
  tests/rustdoc-gui/sidebar-source-code-display.goml
  tests/rustdoc-gui/sidebar-source-code.goml
  tests/rustdoc-gui/sidebar.goml
  tests/rustdoc-gui/source-code-page.goml
  tests/rustdoc-gui/stab-badge.goml
  tests/rustdoc-gui/target.goml
  tests/rustdoc-gui/theme-change.goml
  tests/rustdoc-gui/theme-in-history.goml
  tests/rustdoc-gui/toggle-docs.goml
  tests/rustdoc-gui/unsafe-fn.goml
  tests/rustdoc-gui/utils.goml
  tests/rustdoc-gui/warning-block.goml
Labels: T-rustdoc, S-waiting-on-bors

#123159 Fix target-cpu fpu features on Arm R/M-profile
  compiler/rustc_target/src/spec/targets/armebv7r_none_eabihf.rs
  compiler/rustc_target/src/spec/targets/armv7r_none_eabihf.rs
  compiler/rustc_target/src/spec/targets/thumbv7em_none_eabihf.rs
  compiler/rustc_target/src/spec/targets/thumbv8m_main_none_eabihf.rs
Labels: O-Arm, T-compiler, S-waiting-on-bors

#121419 Add aarch64-apple-visionos and aarch64-apple-visionos-sim tier 3 targets
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/base/apple/tests.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos_sim.rs
  library/std/build.rs
  library/std/src/fs/tests.rs
  library/std/src/os/mod.rs
  library/std/src/os/unix/mod.rs
  library/std/src/os/unix/net/mod.rs
  library/std/src/os/unix/net/stream.rs
  library/std/src/os/unix/net/ucred.rs
  library/std/src/os/unix/net/ucred/tests.rs
  library/std/src/os/visionos/fs.rs
  library/std/src/os/visionos/mod.rs
  library/std/src/os/visionos/raw.rs
  library/std/src/sys/pal/unix/args.rs
  library/std/src/sys/pal/unix/env.rs
  library/std/src/sys/pal/unix/fd.rs
  library/std/src/sys/pal/unix/fs.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unix/os.rs
  library/std/src/sys/pal/unix/process/process_unix.rs
  library/std/src/sys/pal/unix/rand.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unix/thread_local_dtor.rs
  library/std/src/sys/pal/unix/thread_parking/mod.rs
  library/std/src/sys/pal/unix/thread_parking/pthread.rs
  library/std/src/sys/pal/unix/time.rs
  library/std/src/sys/personality/gcc.rs
  library/std/src/sys/sync/condvar/pthread.rs
  library/std/src/sys_common/net.rs
  library/std/src/thread/tests.rs
  library/unwind/src/libunwind.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/lib.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/apple-visionos.md
  src/librustdoc/clean/cfg.rs
  src/tools/compiletest/src/raise_fd_limit.rs
  tests/assembly/targets/targets-macho.rs
  tests/ui/check-cfg/well-known-values.stderr
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, A-meta, T-libs, O-unix, O-xros

#123433 Remove rt::init allocation for thread name
  library/std/src/rt.rs
  library/std/src/thread/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#123471 Check def id before calling `match_projection_projections`
  compiler/rustc_trait_selection/src/traits/project.rs
  tests/ui/traits/make-sure-to-filter-projections-by-def-id.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors

#123540 Rollup of 7 pull requests
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_llvm/build.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_target/src/spec/base/msvc.rs
  library/core/src/async_iter/async_iter.rs
  tests/codegen/sanitizer/cfi/emit-type-metadata-id-itanium-cxx-abi-function-types.rs
  tests/codegen/sanitizer/cfi/emit-type-metadata-id-itanium-cxx-abi-trait-types.rs
  tests/ui/intrinsics/incorrect-transmute.rs
  tests/ui/intrinsics/incorrect-transmute.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, PG-exploit-mitigations

#123294 Require LLVM_CONFIG to be set in rustc_llvm/build.rs
  compiler/rustc_llvm/build.rs
Labels: T-compiler, S-waiting-on-bors

#123467 MSVC targets should use COFF as their archive format
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_target/src/spec/base/msvc.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#123498 explaining `DefKind::Field`
  compiler/rustc_hir/src/def.rs
Labels: T-compiler, S-waiting-on-bors

#123519 Improve cfg and check-cfg configuration
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/config/cfg.rs
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, A-meta

#123525 CFI: Don't rewrite ty::Dynamic directly
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  tests/codegen/sanitizer/cfi/emit-type-metadata-id-itanium-cxx-abi-function-types.rs
  tests/codegen/sanitizer/cfi/emit-type-metadata-id-itanium-cxx-abi-trait-types.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#123526 Do not ICE when calling incorrectly defined `transmute` intrinsic
  compiler/rustc_hir_typeck/src/expr.rs
  tests/ui/intrinsics/incorrect-transmute.rs
  tests/ui/intrinsics/incorrect-transmute.stderr
Labels: T-compiler, S-waiting-on-bors

#123528 Hide async_gen_internals from standard library documentation
  library/core/src/async_iter/async_iter.rs
Labels: S-waiting-on-bors, T-libs

#123321 Bump dependencies
  Cargo.lock
  src/ci/docker/host-x86_64/test-various/uefi_qemu_test/Cargo.lock
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#123357 CI: Redirect stderr to stdout to order GHA logs
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#123504 bootstrap: split cargo-miri test into separate Step
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#123545 Rollup of 4 pull requests
  .github/workflows/ci.yml
  library/core/src/cell/once.rs
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/src/panic/location.rs
  library/core/tests/lib.rs
  library/std/src/sync/once_lock.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  src/ci/github-actions/ci.yml
  tests/ui/rfcs/rfc-2091-track-caller/caller-location-fnptr-rt-ctfe-equiv.rs
  tests/ui/rfcs/rfc-2091-track-caller/const-caller-location.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#122291 Stabilize `const_caller_location` and `const_location_fields`
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/src/panic/location.rs
  library/core/tests/lib.rs
  tests/ui/rfcs/rfc-2091-track-caller/caller-location-fnptr-rt-ctfe-equiv.rs
  tests/ui/rfcs/rfc-2091-track-caller/const-caller-location.rs
Labels: T-libs-api, S-waiting-on-bors

#114788 impl get_mut_or_init and get_mut_or_try_init for OnceCell and OnceLock
  library/core/src/cell/once.rs
  library/std/src/sync/once_lock.rs
Labels: T-libs-api, S-waiting-on-bors, S-waiting-on-ACP

#123339 optimize tidy check on `src/tools/tidy/src/issues.txt`
  src/tools/tidy/src/issues.txt
  src/tools/tidy/src/ui_tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#123541 remove miri-test-libstd hacks that are no longer needed
  library/alloc/src/lib.rs
  library/core/src/lib.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#123552 Add missing -Zquery-dep-graph to the spike-neg incr comp tests
  tests/incremental/spike-neg1.rs
  tests/incremental/spike-neg2.rs
Labels: S-waiting-on-bors

#123553 Miri subtree update
  src/tools/miri/.github/workflows/ci.yml
  src/tools/miri/CONTRIBUTING.md
  src/tools/miri/ci/ci.sh
  src/tools/miri/miri-script/src/commands.rs
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/tree_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree/tests.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/unix/fd.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/unix/freebsd/foreign_items.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/src/shims/unix/linux/epoll.rs
  src/tools/miri/src/shims/unix/linux/eventfd.rs
  src/tools/miri/src/shims/unix/linux/fd/epoll.rs
  src/tools/miri/src/shims/unix/linux/fd/event.rs
  src/tools/miri/src/shims/unix/linux/fd/socketpair.rs
  src/tools/miri/src/shims/unix/linux/foreign_items.rs
  src/tools/miri/src/shims/unix/linux/mod.rs
  src/tools/miri/src/shims/unix/macos/foreign_items.rs
  src/tools/miri/src/shims/unix/mod.rs
  src/tools/miri/src/shims/unix/socket.rs
  src/tools/miri/test-cargo-miri/run-test.py
  src/tools/miri/tests/extern-so/libcode.version
  src/tools/miri/tests/extern-so/libtest.map
  src/tools/miri/tests/fail/extern_static.stderr
  src/tools/miri/tests/fail/extern_static_in_const.stderr
  src/tools/miri/tests/fail/extern_static_wrong_size.rs
  src/tools/miri/tests/fail/extern_static_wrong_size.stderr
  src/tools/miri/tests/fail/issue-miri-3288-ice-symbolic-alignment-extern-static.stderr
  src/tools/miri/tests/fail/tree_borrows/spurious_read.rs
  src/tools/miri/tests/ui.rs
Labels: S-waiting-on-bors

#123554 Simplify/cleanup `search-result-color.goml`
  tests/rustdoc-gui/search-result-color.goml
Labels: T-rustdoc, S-waiting-on-bors

#123557 Rollup of 4 pull requests
  library/alloc/src/lib.rs
  library/core/src/lib.rs
  library/std/src/lib.rs
  src/tools/miri/.github/workflows/ci.yml
  src/tools/miri/CONTRIBUTING.md
  src/tools/miri/ci/ci.sh
  src/tools/miri/miri-script/src/commands.rs
  src/tools/miri/rust-version
  src/tools/miri/src/borrow_tracker/tree_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree/tests.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/unix/fd.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/unix/freebsd/foreign_items.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/src/shims/unix/linux/epoll.rs
  src/tools/miri/src/shims/unix/linux/eventfd.rs
  src/tools/miri/src/shims/unix/linux/fd/epoll.rs
  src/tools/miri/src/shims/unix/linux/fd/event.rs
  src/tools/miri/src/shims/unix/linux/fd/socketpair.rs
  src/tools/miri/src/shims/unix/linux/foreign_items.rs
  src/tools/miri/src/shims/unix/linux/mod.rs
  src/tools/miri/src/shims/unix/macos/foreign_items.rs
  src/tools/miri/src/shims/unix/mod.rs
  src/tools/miri/src/shims/unix/socket.rs
  src/tools/miri/test-cargo-miri/run-test.py
  src/tools/miri/tests/extern-so/libcode.version
  src/tools/miri/tests/extern-so/libtest.map
  src/tools/miri/tests/fail/extern_static.stderr
  src/tools/miri/tests/fail/extern_static_in_const.stderr
  src/tools/miri/tests/fail/extern_static_wrong_size.rs
  src/tools/miri/tests/fail/extern_static_wrong_size.stderr
  src/tools/miri/tests/fail/issue-miri-3288-ice-symbolic-alignment-extern-static.stderr
  src/tools/miri/tests/fail/tree_borrows/spurious_read.rs
  src/tools/miri/tests/ui.rs
  tests/incremental/spike-neg1.rs
  tests/incremental/spike-neg2.rs
  tests/rustdoc-gui/search-result-color.goml
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#123576 Rollup of 6 pull requests
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_transform/src/check_alignment.rs
  compiler/rustc_mir_transform/src/instsimplify.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/stable_mir/src/mir/body.rs
  library/core/src/cell.rs
  library/core/src/intrinsics.rs
  library/core/src/sync/atomic.rs
  library/test/src/lib.rs
  src/doc/unstable-book/src/compiler-flags/check-cfg.md
  src/doc/unstable-book/src/compiler-flags/ub-checks.md
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  src/tools/tidy/src/ui_tests.rs
  tests/codegen/ub-checks.rs
  tests/run-make/version/Makefile
  tests/ui/check-cfg/allow-same-level.stderr
  tests/ui/check-cfg/cargo-feature.none.stderr
  tests/ui/check-cfg/cargo-feature.some.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-duplicate.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-multiple.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name.stderr
  tests/ui/check-cfg/compact-names.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/stmt-no-ice.stderr
  tests/ui/check-cfg/well-known-names.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/consts/do-not-ice-on-field-access-of-err-type.rs
  tests/ui/consts/do-not-ice-on-field-access-of-err-type.stderr
  tests/ui/feature-gates/feature-gate-cfg_ub_checks.rs
  tests/ui/feature-gates/feature-gate-cfg_ub_checks.stderr
  tests/ui/precondition-checks/cfg-ub-checks-default.rs
  tests/ui/precondition-checks/cfg-ub-checks-no.rs
  tests/ui/precondition-checks/cfg-ub-checks-yes.rs
  tests/ui/precondition-checks/misaligned-slice.rs
  tests/ui/precondition-checks/null-slice.rs
  tests/ui/precondition-checks/out-of-bounds-get-unchecked.rs
  tests/ui/version/version-info-flags.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#123411 Put checks that detect UB under their own flag below debug_assertions
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_transform/src/check_alignment.rs
  compiler/rustc_mir_transform/src/instsimplify.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_span/src/symbol.rs
  compiler/stable_mir/src/mir/body.rs
  library/core/src/intrinsics.rs
  src/doc/unstable-book/src/compiler-flags/check-cfg.md
  src/doc/unstable-book/src/compiler-flags/ub-checks.md
  tests/codegen/ub-checks.rs
  tests/ui/check-cfg/allow-same-level.stderr
  tests/ui/check-cfg/cargo-feature.none.stderr
  tests/ui/check-cfg/cargo-feature.some.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-duplicate.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-multiple.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name.stderr
  tests/ui/check-cfg/compact-names.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/stmt-no-ice.stderr
  tests/ui/check-cfg/well-known-names.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/feature-gates/feature-gate-cfg_ub_checks.rs
  tests/ui/feature-gates/feature-gate-cfg_ub_checks.stderr
  tests/ui/precondition-checks/cfg-ub-checks-default.rs
  tests/ui/precondition-checks/cfg-ub-checks-no.rs
  tests/ui/precondition-checks/cfg-ub-checks-yes.rs
  tests/ui/precondition-checks/misaligned-slice.rs
  tests/ui/precondition-checks/null-slice.rs
  tests/ui/precondition-checks/out-of-bounds-get-unchecked.rs
Labels: T-compiler, S-waiting-on-bors

#123516 Do not ICE on field access check on expr with `ty::Error`
  compiler/rustc_passes/src/dead.rs
  tests/ui/consts/do-not-ice-on-field-access-of-err-type.rs
  tests/ui/consts/do-not-ice-on-field-access-of-err-type.stderr
Labels: T-compiler, S-waiting-on-bors

#123522 Stabilize const Atomic*::into_inner
  library/core/src/cell.rs
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors, T-libs

#123559 Add a debug asserts call to match_projection_projections to ensure invariant
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors

#123563 Rewrite `version` test run-make as an UI test
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  src/tools/tidy/src/ui_tests.rs
  tests/run-make/version/Makefile
  tests/ui/version/version-info-flags.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#123058 [perf] cache type info for ParamEnv
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/keys.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/impls_ty.rs
  compiler/rustc_middle/src/ty/list.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/visit.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#123556 Remove sharding for VecCache
  compiler/rustc_query_system/src/query/caches.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, perf-regression, perf-regression-triaged

#123579 add some more tests
  tests/ui/const-generics/generic_const_exprs/unknown-alias-defkind-anonconst-ice-116710.rs
  tests/ui/const-generics/generic_const_exprs/unknown-alias-defkind-anonconst-ice-116710.stderr
  tests/ui/generic-const-items/assoc-const-no-infer-ice-115806.rs
  tests/ui/generic-const-items/assoc-const-no-infer-ice-115806.stderr
  tests/ui/impl-trait/failed-to-resolve-instance-ice-105488.rs
  tests/ui/impl-trait/failed-to-resolve-instance-ice-105488.stderr
  tests/ui/impl-trait/failed-to-resolve-instance-ice-123145.rs
  tests/ui/impl-trait/failed-to-resolve-instance-ice-123145.stderr
  tests/ui/layout/base-layout-is-sized-ice-123078.rs
  tests/ui/layout/base-layout-is-sized-ice-123078.stderr
  tests/ui/layout/issue-unsized-tail-restatic-ice-122488.rs
  tests/ui/layout/issue-unsized-tail-restatic-ice-122488.stderr
Labels: T-compiler, S-waiting-on-bors

#123585 Rollup of 4 pull requests
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/targets/arm64_32_apple_watchos.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  tests/rustdoc/primitive/primitive.rs
  tests/ui/const-generics/generic_const_exprs/unknown-alias-defkind-anonconst-ice-116710.rs
  tests/ui/const-generics/generic_const_exprs/unknown-alias-defkind-anonconst-ice-116710.stderr
  tests/ui/generic-const-items/assoc-const-no-infer-ice-115806.rs
  tests/ui/generic-const-items/assoc-const-no-infer-ice-115806.stderr
  tests/ui/impl-trait/failed-to-resolve-instance-ice-105488.rs
  tests/ui/impl-trait/failed-to-resolve-instance-ice-105488.stderr
  tests/ui/impl-trait/failed-to-resolve-instance-ice-123145.rs
  tests/ui/impl-trait/failed-to-resolve-instance-ice-123145.stderr
  tests/ui/layout/base-layout-is-sized-ice-123078.rs
  tests/ui/layout/base-layout-is-sized-ice-123078.stderr
  tests/ui/layout/issue-unsized-tail-restatic-ice-122488.rs
  tests/ui/layout/issue-unsized-tail-restatic-ice-122488.stderr
  tests/ui/linkage-attr/framework.omit.stderr
  tests/ui/linkage-attr/framework.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#123410 Relax framework linking test
  tests/ui/linkage-attr/framework.omit.stderr
  tests/ui/linkage-attr/framework.rs
Labels: T-compiler, S-waiting-on-bors

#123446 Fix incorrect 'llvm_target' value used on watchOS target
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/targets/arm64_32_apple_watchos.rs
Labels: T-compiler, S-waiting-on-bors

#123581 Add `f16` and `f128` to rustdoc's `PrimitiveType`
  src/librustdoc/clean/types.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  tests/rustdoc/primitive/primitive.rs
Labels: T-rustdoc, S-waiting-on-bors, F-f16_and_f128

#123561 Use unchecked_sub in str indexing
  library/core/src/str/traits.rs
  tests/codegen/slice-indexing.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs
