Repository rust-lang/rust, pull requests merged in 2024-01, with the labels that each got.

#119546 Temporarily disable M1 runners on GitHub Actions
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#119476 Pretty-print always-const trait predicates correctly
  compiler/rustc_middle/src/ty/print/pretty.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-generic-method-nonconst.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-generic-method-nonconst.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.stderr
Labels: T-compiler, S-waiting-on-bors, F-const_trait_impl, F-effects

#119477 rustdoc ui: adjust tooltip z-index to be above sidebar
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/tooltip-over-sidebar.goml
Labels: T-rustdoc, beta-nominated, beta-accepted, S-waiting-on-bors

#119479 Remove two unused feature gates from rustc_query_impl
  compiler/rustc_query_impl/src/lib.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors, A-query-system

#119487 Minor improvements in comment on `freshen.rs`
  compiler/rustc_infer/src/infer/freshen.rs
Labels: T-compiler, S-waiting-on-bors

#119494 Deny defaults for higher-ranked generic parameters
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/lib.rs
  tests/ui/closures/issue-112547.rs
  tests/ui/parser/generic-param-default-in-binder.rs
  tests/ui/parser/issue-119042.rs
  tests/ui/traits/non_lifetime_binders/binder-defaults-112547.rs
  tests/ui/traits/non_lifetime_binders/binder-defaults-112547.stderr
  tests/ui/traits/non_lifetime_binders/binder-defaults-118697.rs
  tests/ui/traits/non_lifetime_binders/binder-defaults-118697.stderr
  tests/ui/traits/non_lifetime_binders/binder-defaults-119489.rs
  tests/ui/traits/non_lifetime_binders/binder-defaults-119489.stderr
Labels: T-compiler, S-waiting-on-bors, F-non_lifetime_binders

#119498 Update deadlinks of `strict_provenance` lints
  compiler/rustc_lint_defs/src/builtin.rs
Labels: T-compiler, A-docs, S-waiting-on-bors

#119505 Don't synthesize host effect params for trait associated functions marked const
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_error_codes/src/error_codes/E0379.md
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  tests/ui/consts/const-fn-mismatch.rs
  tests/ui/consts/const-fn-mismatch.stderr
  tests/ui/consts/const-fn-not-in-trait.stderr
  tests/ui/consts/issue-54954.stderr
  tests/ui/feature-gates/feature-gate-min_const_fn.rs
  tests/ui/feature-gates/feature-gate-min_const_fn.stderr
  tests/ui/mismatched_types/const-fn-in-trait.stderr
  tests/ui/parser/fn-header-semantic-fail.rs
  tests/ui/parser/fn-header-semantic-fail.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/trait-fn-const.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/trait-fn-const.stderr
Labels: T-compiler, S-waiting-on-bors, F-const_trait_impl, F-effects

#119510 Report I/O errors from rmeta encoding with emit_fatal
  compiler/rustc_incremental/src/persist/file_format.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
Labels: T-compiler, S-waiting-on-bors

#119512 Mark myself as back from leave
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#119514 coverage: Avoid a query stability hazard in `function_coverage_map`
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
Labels: T-compiler, S-waiting-on-bors

#119523 llvm: Allow `noundef` in codegen tests
  tests/codegen/abi-main-signature-32bit-c-int.rs
  tests/codegen/sparc-struct-abi.rs
Labels: S-waiting-on-bors, llvm-main

#119534 Update `thread_local` examples to use `local_key_cell_methods`
  library/std/src/thread/local.rs
Labels: S-waiting-on-bors, T-libs

#119544 Fix: Properly set vendor in i686-win7-windows-msvc target
  compiler/rustc_target/src/spec/targets/i686_win7_windows_msvc.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#119239 Remove unnecessary arm in `check_expr_yield`
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/src/expr.rs
Labels: T-compiler, S-waiting-on-bors

#119298 suppress change-tracker warnings in CI containers
  src/bootstrap/src/bin/main.rs
  src/ci/run.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#119319 Document that File does not buffer reads/writes
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#119434 rc: Take *const T in is_dangling
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
Labels: S-waiting-on-bors, T-libs

#119444 Rename `TyCtxt::is_closure` to `TyCtxt::is_closure_or_coroutine`
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_const_eval/src/transform/check_consts/mod.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/closure.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_passes/src/upvars.rs
Labels: T-compiler, S-waiting-on-bors

#119474 Update tracking issue of naked_functions
  compiler/rustc_feature/src/unstable.rs
  tests/ui/feature-gates/feature-gate-naked_functions.stderr
Labels: T-compiler, S-waiting-on-bors

#119086 Query panic!() to useful diagnostic
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#119532 Make offset_of field parsing use metavariable which handles any spacing
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  library/core/src/mem/mod.rs
  tests/ui/offset-of/offset-of-arg-count.rs
  tests/ui/offset-of/offset-of-arg-count.stderr
  tests/ui/offset-of/offset-of-builtin.rs
  tests/ui/offset-of/offset-of-builtin.stderr
  tests/ui/offset-of/offset-of-self.rs
  tests/ui/offset-of/offset-of-self.stderr
  tests/ui/offset-of/offset-of-tuple-nested.rs
  tests/ui/offset-of/offset-of-tuple.rs
  tests/ui/offset-of/offset-of-tuple.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, F-offset_of

#119553 stop feed vis when cant access for trait item
  compiler/rustc_resolve/src/late.rs
  tests/ui/privacy/auxiliary/issue-119463-extern.rs
  tests/ui/privacy/issue-119463.rs
  tests/ui/privacy/issue-119463.stderr
Labels: T-compiler, S-waiting-on-bors

#119574 Miri subtree update
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/operator.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/src/shims/unix/mem.rs
  src/tools/miri/test_dependencies/Cargo.lock
  src/tools/miri/test_dependencies/Cargo.toml
  src/tools/miri/tests/compiletest.rs
  src/tools/miri/tests/fail-dep/concurrency/windows_join_detached.rs
  src/tools/miri/tests/fail-dep/concurrency/windows_join_detached.stderr
  src/tools/miri/tests/fail-dep/concurrency/windows_join_main.rs
  src/tools/miri/tests/fail-dep/concurrency/windows_join_main.stderr
  src/tools/miri/tests/fail-dep/concurrency/windows_join_self.rs
  src/tools/miri/tests/fail-dep/concurrency/windows_join_self.stderr
  src/tools/miri/tests/fail/intrinsics/fast_math_both.rs
  src/tools/miri/tests/fail/intrinsics/fast_math_both.stderr
  src/tools/miri/tests/fail/intrinsics/fast_math_first.rs
  src/tools/miri/tests/fail/intrinsics/fast_math_first.stderr
  src/tools/miri/tests/fail/intrinsics/fast_math_result.rs
  src/tools/miri/tests/fail/intrinsics/fast_math_result.stderr
  src/tools/miri/tests/fail/intrinsics/fast_math_second.rs
  src/tools/miri/tests/fail/intrinsics/fast_math_second.stderr
  src/tools/miri/tests/pass-dep/concurrency/windows_condvar_shared.rs
  src/tools/miri/tests/pass-dep/concurrency/windows_condvar_shared.stdout
  src/tools/miri/tests/pass-dep/concurrency/windows_detach_terminated.rs
  src/tools/miri/tests/pass-dep/concurrency/windows_init_once.rs
  src/tools/miri/tests/pass-dep/concurrency/windows_init_once.stdout
  src/tools/miri/tests/pass-dep/concurrency/windows_join_multiple.rs
  src/tools/miri/tests/pass-dep/shims/mmap.rs
  src/tools/miri/tests/pass-dep/tempfile.rs
  src/tools/miri/tests/pass/float_nan.rs
Labels: S-waiting-on-bors

#119184 Switch from using `//~ERROR` annotations with `--error-format` to `error-pattern`
  src/tools/compiletest/src/errors.rs
  src/tools/compiletest/src/runtest.rs
  tests/rustdoc-ui/issues/issue-81662-shortness.rs
  tests/rustdoc-ui/issues/issue-81662-shortness.stdout
  tests/ui/annotate-snippet/missing-type.rs
  tests/ui/annotate-snippet/missing-type.stderr
  tests/ui/annotate-snippet/multispan.rs
  tests/ui/annotate-snippet/multispan.stderr
  tests/ui/diagnostic-width/flag-json.rs
  tests/ui/diagnostic-width/flag-json.stderr
  tests/ui/lint/unused_parens_json_suggestion.fixed
  tests/ui/lint/unused_parens_json_suggestion.rs
  tests/ui/lint/unused_parens_json_suggestion.stderr
  tests/ui/lint/unused_parens_remove_json_suggestion.fixed
  tests/ui/lint/unused_parens_remove_json_suggestion.rs
  tests/ui/lint/unused_parens_remove_json_suggestion.stderr
  tests/ui/proc-macro/inner-attrs.rs
  tests/ui/proc-macro/inner-attrs.stderr
  tests/ui/proc-macro/inner-attrs.stdout
  tests/ui/proc-macro/issue-75930-derive-cfg.rs
  tests/ui/proc-macro/issue-75930-derive-cfg.stderr
  tests/ui/proc-macro/issue-75930-derive-cfg.stdout
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors

#119325 custom mir: make it clear what the return block is
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics/mir.rs
  src/tools/miri/tests/fail/function_calls/arg_inplace_mutate.rs
  src/tools/miri/tests/fail/function_calls/arg_inplace_mutate.stack.stderr
  src/tools/miri/tests/fail/function_calls/arg_inplace_mutate.tree.stderr
  src/tools/miri/tests/fail/function_calls/arg_inplace_observe_after.rs
  src/tools/miri/tests/fail/function_calls/arg_inplace_observe_during.none.stderr
  src/tools/miri/tests/fail/function_calls/arg_inplace_observe_during.rs
  src/tools/miri/tests/fail/function_calls/arg_inplace_observe_during.stack.stderr
  src/tools/miri/tests/fail/function_calls/arg_inplace_observe_during.tree.stderr
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing.none.stderr
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing.rs
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing.stack.stderr
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing.tree.stderr
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing2.rs
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing2.stack.stderr
  src/tools/miri/tests/fail/function_calls/return_pointer_aliasing2.tree.stderr
  src/tools/miri/tests/fail/function_calls/return_pointer_on_unwind.rs
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_caller_arg.rs
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_caller_arg.stderr
  src/tools/miri/tests/pass/function_calls/return_place_on_heap.rs
  tests/mir-opt/building/custom/terminators.rs
  tests/mir-opt/building/custom/unwind_action.rs
  tests/mir-opt/copy-prop/borrowed_local.rs
  tests/mir-opt/copy-prop/calls.rs
  tests/mir-opt/copy-prop/custom_move_arg.rs
  tests/mir-opt/copy-prop/move_projection.rs
  tests/mir-opt/dead-store-elimination/call_arg_copy.rs
  tests/mir-opt/dead-store-elimination/cycle.rs
  tests/mir-opt/gvn.rs
  tests/mir-opt/inline/indirect_destination.rs
  tests/mir-opt/reference_prop.rs
  tests/ui/mir/ssa_call_ret.rs
  tests/ui/mir/validate/critical-edge.rs
  tests/ui/mir/validate/noncleanup-cleanup.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#119391 Use Result::flatten in catch_with_exit_code
  compiler/rustc_driver_impl/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#119431 Support reg_addr register class in s390x inline assembly
  compiler/rustc_codegen_gcc/src/asm.rs
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_target/src/asm/s390x.rs
  src/doc/unstable-book/src/language-features/asm-experimental-arch.md
  tests/assembly/asm/s390x-types.rs
Labels: T-compiler, S-waiting-on-bors

#119475 Remove libtest's dylib
  library/test/Cargo.toml
Labels: S-waiting-on-bors, T-libs

#118704 Promote `riscv32{im|imafc}` targets to tier 2
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv32imac-unknown-none-elf.md
Labels: S-waiting-on-bors

#117636 add test for #117626
  tests/ui/pattern/issue-117626.rs
Labels: T-compiler, S-waiting-on-bors

#119362 Make `derive(Trait)` suggestion more accurate
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/op.rs
  tests/ui/binop/binary-op-suggest-deref.stderr
  tests/ui/issues/issue-62375.stderr
Labels: T-compiler, S-waiting-on-bors

#119397 Recover parentheses in range patterns
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/pat.rs
  tests/ui/half-open-range-patterns/range_pat_interactions2.rs
  tests/ui/half-open-range-patterns/range_pat_interactions2.stderr
  tests/ui/parser/pat-recover-ranges.rs
  tests/ui/parser/pat-recover-ranges.stderr
Labels: A-diagnostics, A-parser, T-compiler, S-waiting-on-bors, A-patterns

#119417 Uplift some miscellaneous coroutine-specific machinery into `check_closure`
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/inherited.rs
  compiler/rustc_hir_typeck/src/lib.rs
  tests/ui/coroutine/gen_block.e2024.stderr
  tests/ui/coroutine/sized-yield.stderr
  tests/ui/feature-gates/feature-gate-gen_blocks.e2024.stderr
Labels: T-compiler, S-waiting-on-bors

#119539 Fix typos
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/fallback.rs
  src/librustdoc/passes/lint/redundant_explicit_links.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#119540 Don't synthesize host effect args inside trait object types
  compiler/rustc_ast_lowering/src/lib.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-trait-bounds-trait-objects.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-trait-bounds-trait-objects.stderr
Labels: T-compiler, S-waiting-on-bors, F-effects

#119555 Add codegen test for RVO on MaybeUninit
  tests/codegen/maybeuninit-rvo.rs
Labels: S-waiting-on-bors

#119569 Rollup of 10 pull requests
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fallback.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/inherited.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/spec/targets/i686_pc_windows_msvc.rs
  compiler/rustc_target/src/spec/targets/x86_64_pc_windows_msvc.rs
  library/std/src/os/unix/net/listener.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/sanity.rs
  src/librustdoc/passes/lint/redundant_explicit_links.rs
  tests/codegen/maybeuninit-rvo.rs
  tests/coverage/macro_name_span.cov-map
  tests/coverage/macro_name_span.coverage
  tests/run-make/sanitizer-cdylib-link/Makefile
  tests/run-make/sanitizer-cdylib-link/program.rs
  tests/run-make/sanitizer-dylib-link/Makefile
  tests/run-make/sanitizer-dylib-link/program.rs
  tests/run-make/sanitizer-staticlib-link/program.rs
  tests/ui/asm/named-asm-labels.rs
  tests/ui/asm/named-asm-labels.stderr
  tests/ui/binop/binary-op-suggest-deref.stderr
  tests/ui/coroutine/gen_block.e2024.stderr
  tests/ui/coroutine/sized-yield.stderr
  tests/ui/feature-gates/feature-gate-gen_blocks.e2024.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions2.rs
  tests/ui/half-open-range-patterns/range_pat_interactions2.stderr
  tests/ui/issues/issue-62375.stderr
  tests/ui/macros/issue-118786.stderr
  tests/ui/parser/issues/issue-68091-unicode-ident-after-if.stderr
  tests/ui/parser/issues/issue-68092-unicode-ident-after-incomplete-expr.stderr
  tests/ui/parser/pat-recover-ranges.rs
  tests/ui/parser/pat-recover-ranges.stderr
  tests/ui/proc-macro/capture-macro-rules-invoke.stdout
  tests/ui/proc-macro/expand-expr.rs
  tests/ui/proc-macro/expand-expr.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-trait-bounds-trait-objects.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-trait-bounds-trait-objects.stderr
  tests/ui/sanitize/badfree.rs
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#119026 std::net::bind using -1 for openbsd which in turn sets it to somaxconn.
  library/std/src/os/unix/net/listener.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#119195 Make named_asm_labels lint not trigger on unicode and trigger on format args
  compiler/rustc_lint/src/builtin.rs
  tests/ui/asm/named-asm-labels.rs
  tests/ui/asm/named-asm-labels.stderr
Labels: T-compiler, S-waiting-on-bors

#119204 macro_rules: Less hacky heuristic for using `tt` metavariable spans
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  tests/coverage/macro_name_span.cov-map
  tests/coverage/macro_name_span.coverage
  tests/ui/macros/issue-118786.stderr
  tests/ui/parser/issues/issue-68091-unicode-ident-after-if.stderr
  tests/ui/parser/issues/issue-68092-unicode-ident-after-incomplete-expr.stderr
  tests/ui/proc-macro/capture-macro-rules-invoke.stdout
  tests/ui/proc-macro/expand-expr.rs
  tests/ui/proc-macro/expand-expr.stderr
Labels: T-compiler, S-waiting-on-bors, perf-regression

#118521 Enable address sanitizer for MSVC targets using INFERASANLIBS linker flag
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/spec/targets/i686_pc_windows_msvc.rs
  compiler/rustc_target/src/spec/targets/x86_64_pc_windows_msvc.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/sanity.rs
  tests/run-make/sanitizer-cdylib-link/Makefile
  tests/run-make/sanitizer-cdylib-link/program.rs
  tests/run-make/sanitizer-dylib-link/Makefile
  tests/run-make/sanitizer-dylib-link/program.rs
  tests/run-make/sanitizer-staticlib-link/program.rs
  tests/ui/sanitize/badfree.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra

#117213 Reorder check_item_type diagnostics so they occur next to the corresponding `check_well_formed` diagnostics
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_middle/src/query/mod.rs
  src/librustdoc/core.rs
  tests/ui/associated-types/associated-types-no-suitable-supertrait.stderr
  tests/ui/associated-types/defaults-cyclic-fail-1.rs
  tests/ui/associated-types/defaults-cyclic-fail-1.stderr
  tests/ui/associated-types/defaults-cyclic-fail-2.rs
  tests/ui/associated-types/defaults-cyclic-fail-2.stderr
  tests/ui/async-await/issue-66312.stderr
  tests/ui/const-generics/issues/issue-83765.rs
  tests/ui/const-generics/issues/issue-83765.stderr
  tests/ui/consts/const-unsized.stderr
  tests/ui/consts/issue-39974.stderr
  tests/ui/generic-associated-types/issue-84931.stderr
  tests/ui/generic-associated-types/unsatisfied-item-lifetime-bound.stderr
  tests/ui/impl-trait/issues/issue-78722-2.stderr
  tests/ui/impl-trait/issues/issue-86800.rs
  tests/ui/impl-trait/issues/issue-86800.stderr
  tests/ui/issues/issue-23122-2.stderr
  tests/ui/layout/issue-84108.stderr
  tests/ui/specialization/min_specialization/issue-79224.stderr
  tests/ui/traits/cycle-cache-err-60010.rs
  tests/ui/traits/cycle-cache-err-60010.stderr
  tests/ui/traits/next-solver/specialization-transmute.rs
  tests/ui/traits/next-solver/specialization-transmute.stderr
  tests/ui/type-alias-impl-trait/generic_underconstrained.stderr
  tests/ui/type-alias-impl-trait/generic_underconstrained2.stderr
  tests/ui/type-alias-impl-trait/issue-53092-2.stderr
  tests/ui/ufcs/ufcs-explicit-self-bad.stderr
  tests/ui/union/union-unsized.mirunsafeck.stderr
  tests/ui/union/union-unsized.thirunsafeck.stderr
  tests/ui/wf/hir-wf-check-erase-regions.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#118861 Set the `in-rust-tree` feature for all rust-analyzer{-proc-macro-srv} steps
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/tools/rust-analyzer/crates/mbe/Cargo.toml
  src/tools/rust-analyzer/crates/proc-macro-srv-cli/Cargo.toml
  src/tools/rust-analyzer/crates/proc-macro-srv-cli/src/main.rs
  src/tools/rust-analyzer/crates/proc-macro-srv/Cargo.toml
  src/tools/rust-analyzer/crates/proc-macro-srv/src/lib.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/bin/main.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#118899 fix(tests): remove check for `echo`
  tests/run-make-fulldeps/hotplug_codegen_backend/Makefile
Labels: S-waiting-on-bors, merged-by-bors

#118991 Separate immediate and in-memory ScalarPair representation
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  tests/codegen/align-byval.rs
  tests/codegen/align-struct.rs
  tests/codegen/function-arguments-noopt.rs
  tests/codegen/function-arguments.rs
  tests/codegen/intrinsics/transmute.rs
  tests/codegen/personality_lifetimes.rs
  tests/codegen/refs.rs
  tests/codegen/scalar-pair-bool.rs
  tests/codegen/slice-iter-nonnull.rs
  tests/codegen/zst-offset.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#119538 Cleanup error handlers: round 5
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_attr/src/session_diagnostics.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_codegen_gcc/src/errors.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_hir_analysis/src/astconv/generics.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/errors/note_and_explain.rs
  compiler/rustc_lint/src/errors.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/non_fmt_panic.rs
  compiler/rustc_macros/src/diagnostics/diagnostic_builder.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_macros/src/diagnostics/utils.rs
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_transform/src/errors.rs
  compiler/rustc_monomorphize/src/errors.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_pattern_analysis/src/lints.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_session/src/errors.rs
  compiler/rustc_symbol_mangling/src/errors.rs
  compiler/rustc_trait_selection/src/errors.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/miri/src/diagnostics.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive-doc-comment-field.stderr
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.rs
  tests/ui-fulldeps/session-diagnostic/diagnostic-derive.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-translation

#119566 Remove `-Zdump-mir-spanview`
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/spanview.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  tests/mir-opt/spanview_block.main.built.after.html
  tests/mir-opt/spanview_block.rs
  tests/mir-opt/spanview_statement.main.built.after.html
  tests/mir-opt/spanview_statement.rs
  tests/mir-opt/spanview_terminator.main.built.after.html
  tests/mir-opt/spanview_terminator.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#119567 Remove `-Zreport-delayed-bugs`.
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors

#119577 Migrate memory overlap check from validator to lint
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/lint.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
  tests/mir-opt/copy-prop/custom_move_arg.f.CopyProp.panic-unwind.diff
  tests/mir-opt/copy-prop/custom_move_arg.rs
  tests/mir-opt/copy-prop/move_projection.f.CopyProp.panic-unwind.diff
  tests/mir-opt/copy-prop/move_projection.rs
  tests/mir-opt/dest-prop/unreachable.f.DestinationPropagation.panic-abort.diff
  tests/mir-opt/dest-prop/unreachable.f.DestinationPropagation.panic-unwind.diff
  tests/mir-opt/dest-prop/unreachable.rs
  tests/ui/mir/lint/assignment-overlap.rs
  tests/ui/mir/lint/call-overlap.rs
Labels: T-compiler, S-waiting-on-bors

#119583 Make `intrinsics::assume` const stable
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/tests/lib.rs
Labels: S-waiting-on-bors, T-libs

#119586 [rustdoc] Fix invalid handling for static method calls in jump to definition feature
  src/librustdoc/html/render/span_map.rs
  tests/rustdoc/check-source-code-urls-to-def.rs
  tests/rustdoc/jump-to-def-doc-links-calls.rs
Labels: T-rustdoc, S-waiting-on-bors

#119588 Move `i586-unknown-netbsd` from tier 2 to tier 3 platform support table
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors

#119601 `Emitter` cleanups
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/tests.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/session.rs
  src/librustdoc/core.rs
  src/librustdoc/doctest.rs
  src/tools/clippy/clippy_lints/src/doc/needless_doctest_main.rs
  src/tools/rustfmt/src/parse/session.rs
  tests/ui/lint/use_suggestion_json.rs
  tests/ui/lint/use_suggestion_json.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#119034 Allow coverage tests to ignore test modes, and to enable color in coverage reports
  src/bootstrap/src/core/build_steps/test.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/cfg.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest.rs
  tests/coverage/color.coverage
  tests/coverage/color.rs
  tests/coverage/ignore_map.coverage
  tests/coverage/ignore_map.rs
  tests/coverage/ignore_run.cov-map
  tests/coverage/ignore_run.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#119148 Tweak suggestions for bare trait used as a type
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_analysis/src/astconv/lint.rs
  compiler/rustc_hir_analysis/src/astconv/object_safety.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  src/tools/clippy/tests/ui/crashes/ice-6251.stderr
  tests/rustdoc-ui/issues/issue-105742.stderr
  tests/ui/feature-gates/feature-gate-unsized_fn_params.stderr
  tests/ui/object-safety/bare-trait-dont-suggest-dyn.fixed
  tests/ui/object-safety/bare-trait-dont-suggest-dyn.rs
  tests/ui/object-safety/bare-trait-dont-suggest-dyn.stderr
  tests/ui/object-safety/object-safety-supertrait-mentions-Self.stderr
  tests/ui/resolve/issue-5035-2.stderr
  tests/ui/traits/bound/not-on-bare-trait-2021.rs
  tests/ui/traits/bound/not-on-bare-trait-2021.stderr
  tests/ui/traits/bound/not-on-bare-trait.rs
  tests/ui/traits/bound/not-on-bare-trait.stderr
  tests/ui/traits/issue-28576.stderr
Labels: T-compiler, S-waiting-on-bors

#119192 Replace a number of FxHashMaps/Sets with stable-iteration-order alternatives
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_data_structures/src/stable_hasher.rs
  compiler/rustc_data_structures/src/unord.rs
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_incremental/src/persist/save.rs
  compiler/rustc_lint/src/foreign_modules.rs
  compiler/rustc_lint/src/non_ascii_idents.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/middle/mod.rs
  compiler/rustc_middle/src/middle/region.rs
  compiler/rustc_middle/src/middle/resolve_bound_vars.rs
  compiler/rustc_middle/src/middle/stability.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_span/src/symbol.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#119506 Use `resolutions(()).effective_visiblities` to avoid cycle errors in `report_object_error`
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  tests/ui/impl-trait/in-trait/cycle-effective-visibilities-during-object-safety.rs
  tests/ui/impl-trait/in-trait/cycle-effective-visibilities-during-object-safety.stderr
Labels: T-compiler, S-waiting-on-bors

#119554 Fix scoping for let chains in match guards
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/print.rs
  compiler/rustc_passes/src/liveness.rs
  src/tools/clippy/clippy_lints/src/entry.rs
  src/tools/clippy/clippy_lints/src/manual_clamp.rs
  src/tools/clippy/clippy_lints/src/matches/collapsible_match.rs
  src/tools/clippy/clippy_lints/src/matches/match_like_matches.rs
  src/tools/clippy/clippy_lints/src/matches/needless_match.rs
  src/tools/clippy/clippy_lints/src/matches/redundant_guards.rs
  src/tools/clippy/clippy_lints/src/matches/redundant_pattern_match.rs
  src/tools/clippy/clippy_lints/src/mixed_read_write_in_expression.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  tests/ui/closures/2229_closure_analysis/issue-88118-2.stderr
  tests/ui/lint/lint-match-arms-2.stderr
  tests/ui/pattern/usefulness/deny-irrefutable-let-patterns.stderr
  tests/ui/rfcs/rfc-2294-if-let-guard/drop-scope.rs
  tests/ui/rfcs/rfc-2294-if-let-guard/scope.rs
  tests/ui/rfcs/rfc-2294-if-let-guard/warns.stderr
  tests/ui/stats/hir-stats.stderr
Labels: T-compiler, S-waiting-on-bors, F-let_chains, F-if_let_guard

#119563 Check yield terminator's resume type in borrowck
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  tests/ui/coroutine/check-resume-ty-lifetimes-2.rs
  tests/ui/coroutine/check-resume-ty-lifetimes-2.stderr
  tests/ui/coroutine/check-resume-ty-lifetimes.rs
  tests/ui/coroutine/check-resume-ty-lifetimes.stderr
Labels: T-compiler, S-waiting-on-bors

#119589 cstore: Remove unnecessary locking from `CrateMetadata`
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
Labels: T-compiler, S-waiting-on-bors

#119622 never patterns: Document behavior of never patterns with macros-by-example
  tests/ui/rfcs/rfc-0000-never_patterns/macros.rs
  tests/ui/rfcs/rfc-0000-never_patterns/parse.rs
Labels: A-macros, T-compiler, S-waiting-on-bors, F-never_patterns

#119151 Hide foreign `#[doc(hidden)]` paths in import suggestions
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  src/tools/clippy/tests/ui/crashes/ice-6252.stderr
  tests/ui/suggestions/auxiliary/hidden-struct.rs
  tests/ui/suggestions/dont-suggest-foreign-doc-hidden.rs
  tests/ui/suggestions/dont-suggest-foreign-doc-hidden.stderr
  tests/ui/type-alias-impl-trait/nested-impl-trait-in-tait.rs
  tests/ui/type-alias-impl-trait/nested-impl-trait-in-tait.stderr
Labels: T-compiler, S-waiting-on-bors, A-suggestion-diagnostics

#119350 Imply outlives-bounds on lazy type aliases
  compiler/rustc_hir_analysis/src/outlives/implicit_infer.rs
  compiler/rustc_hir_analysis/src/outlives/mod.rs
  tests/ui/associated-type-bounds/duplicate.stderr
  tests/ui/lazy-type-alias/implied-outlives-bounds.neg.stderr
  tests/ui/lazy-type-alias/implied-outlives-bounds.rs
Labels: T-compiler, S-waiting-on-bors, T-types, A-implied-bounds, F-lazy_type_alias

#119354 Make `negative_bounds` internal & fix some of its issues
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_analysis/src/astconv/bounds.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  tests/ui/traits/negative-bounds/associated-constraints.rs
  tests/ui/traits/negative-bounds/associated-constraints.stderr
  tests/ui/traits/negative-bounds/opaque-type-unsatisfied-bound.rs
  tests/ui/traits/negative-bounds/opaque-type-unsatisfied-bound.stderr
  tests/ui/traits/negative-bounds/opaque-type-unsatisfied-fn-bound.rs
  tests/ui/traits/negative-bounds/opaque-type-unsatisfied-fn-bound.stderr
  tests/ui/traits/negative-bounds/simple.rs
  tests/ui/traits/negative-bounds/simple.stderr
  tests/ui/traits/negative-bounds/supertrait.rs
  tests/ui/traits/negative-bounds/supertrait.stderr
Labels: T-compiler, S-waiting-on-bors

#119329 Exhaustiveness: Statically enforce revealing of opaques
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_pattern_analysis/src/lib.rs
  compiler/rustc_pattern_analysis/src/lints.rs
  compiler/rustc_pattern_analysis/src/rustc.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#119459 Inline a few utility functions around MIR
  compiler/rustc_data_structures/src/graph/dominators/mod.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/terminator.rs
  compiler/rustc_mir_transform/src/ssa.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119457 rustdoc-search: fix inaccurate type descriptions
  src/librustdoc/html/static/js/externs.js
  src/librustdoc/html/static/js/search.js
Labels: T-rustdoc, S-waiting-on-review

#119468 rustdoc-search: tighter encoding for f index
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/static/js/externs.js
  src/librustdoc/html/static/js/search.js
Labels: T-rustdoc, S-waiting-on-bors

#119628 remove duplicate test
  tests/ui/numbers-arithmetic/overflowing-rsh-6.rs
  tests/ui/numbers-arithmetic/overflowing-rsh-6.stderr
Labels: T-compiler, S-waiting-on-bors

#119638 fix cyle error when suggesting to use associated function instead of constructor
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/resolve/auxiliary/suggest-constructor-cycle-error.rs
  tests/ui/resolve/suggest-constructor-cycle-error.rs
  tests/ui/resolve/suggest-constructor-cycle-error.stderr
Labels: T-compiler, S-waiting-on-bors

#119640 library: Fix warnings in rtstartup
  library/rtstartup/rsbegin.rs
  library/rtstartup/rsend.rs
Labels: S-waiting-on-bors

#119642 library: Fix a symlink test failing on Windows
  library/std/src/fs/tests.rs
Labels: S-waiting-on-bors, T-libs

#119648 Rollup of 9 pull requests
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  library/core/src/future/future.rs
  library/core/src/lib.rs
  library/core/src/marker.rs
  library/core/src/ops/arith.rs
  library/core/src/ops/bit.rs
  library/core/src/ops/index.rs
  library/core/src/panic/unwind_safe.rs
  library/rtstartup/rsbegin.rs
  library/rtstartup/rsend.rs
  library/std/src/fs/tests.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/static/js/externs.js
  src/librustdoc/html/static/js/search.js
  tests/coverage/closure.cov-map
  tests/coverage/inline-dead.cov-map
  tests/coverage/inline-dead.coverage
  tests/rustdoc/synthetic_auto/no-redundancy.rs
  tests/ui/diagnostic_namespace/on_unimplemented/auxiliary/other.rs
  tests/ui/diagnostic_namespace/on_unimplemented/error_is_shown_in_downstream_crates.rs
  tests/ui/diagnostic_namespace/on_unimplemented/error_is_shown_in_downstream_crates.stderr
  tests/ui/numbers-arithmetic/overflowing-rsh-6.rs
  tests/ui/numbers-arithmetic/overflowing-rsh-6.stderr
  tests/ui/proc-macro/meta-macro-hygiene.stdout
  tests/ui/proc-macro/nonterminal-token-hygiene.stdout
  tests/ui/resolve/auxiliary/suggest-constructor-cycle-error.rs
  tests/ui/resolve/suggest-constructor-cycle-error.rs
  tests/ui/resolve/suggest-constructor-cycle-error.stderr
  tests/ui/type-alias-impl-trait/nested-in-anon-const.rs
  tests/ui/type-alias-impl-trait/nested-in-anon-const.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#119208 coverage: Hoist some complex code out of the main span refinement loop
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  tests/coverage/closure.cov-map
  tests/coverage/inline-dead.cov-map
  tests/coverage/inline-dead.coverage
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#119216 Use diagnostic namespace in stdlib
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  library/core/src/future/future.rs
  library/core/src/lib.rs
  library/core/src/marker.rs
  library/core/src/ops/arith.rs
  library/core/src/ops/bit.rs
  library/core/src/ops/index.rs
  library/core/src/panic/unwind_safe.rs
  tests/rustdoc/synthetic_auto/no-redundancy.rs
  tests/ui/diagnostic_namespace/on_unimplemented/auxiliary/other.rs
  tests/ui/diagnostic_namespace/on_unimplemented/error_is_shown_in_downstream_crates.rs
  tests/ui/diagnostic_namespace/on_unimplemented/error_is_shown_in_downstream_crates.stderr
  tests/ui/proc-macro/meta-macro-hygiene.stdout
  tests/ui/proc-macro/nonterminal-token-hygiene.stdout
Labels: T-compiler, S-waiting-on-bors, T-libs

#119414 bootstrap: Move -Clto= setting from Rustc::run to rustc_cargo
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#119420 Handle ForeignItem as TAIT scope.
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  tests/ui/type-alias-impl-trait/nested-in-anon-const.rs
  tests/ui/type-alias-impl-trait/nested-in-anon-const.stderr
Labels: T-compiler, S-waiting-on-bors

#119478 Avoid specialization in the metadata serialization code
  Cargo.lock
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_data_structures/src/sorted_map.rs
  compiler/rustc_data_structures/src/svh.rs
  compiler/rustc_data_structures/src/unord.rs
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_macros/src/lib.rs
  compiler/rustc_macros/src/serialize.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_serialize/tests/opaque.rs
  compiler/rustc_span/src/def_id.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_type_ir/Cargo.toml
  compiler/rustc_type_ir/src/codec.rs
  tests/ui-fulldeps/deriving-global.rs
  tests/ui-fulldeps/deriving-hygiene.rs
  tests/ui-fulldeps/empty-struct-braces-derive.rs
  tests/ui-fulldeps/rustc_encodable_hygiene.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119499 Two small bitset optimisations
  compiler/rustc_index/src/bit_set.rs
  compiler/rustc_mir_transform/src/coroutine.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119531 rustc_span: Optimize syntax context comparisons
  compiler/rustc_expand/src/mbe/quoted.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/non_fmt_panic.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_span/src/source_map/tests.rs
  compiler/rustc_span/src/span_encoding.rs
  src/tools/clippy/clippy_lints/src/casts/unnecessary_cast.rs
  src/tools/clippy/clippy_lints/src/implicit_hasher.rs
  src/tools/clippy/clippy_lints/src/implicit_return.rs
  src/tools/clippy/clippy_lints/src/methods/option_map_unwrap_or.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119595 Fixed ambiguity in hint.rs
  library/core/src/hint.rs
Labels: S-waiting-on-bors, T-libs

#119624 rustc_span: More consistent span combination operations
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  library/core/src/intrinsics/mir.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  tests/ui/anon-params/anon-params-edition-hygiene.rs
  tests/ui/anon-params/anon-params-edition-hygiene.stderr
  tests/ui/anon-params/auxiliary/anon-params-edition-hygiene.rs
  tests/ui/editions/auxiliary/edition-kw-macro-2015.rs
  tests/ui/editions/auxiliary/edition-kw-macro-2018.rs
  tests/ui/editions/edition-keywords-2015-2015-parsing.rs
  tests/ui/editions/edition-keywords-2015-2015.rs
  tests/ui/editions/edition-keywords-2015-2018-parsing.rs
  tests/ui/editions/edition-keywords-2015-2018.rs
  tests/ui/editions/edition-keywords-2018-2015-parsing.rs
  tests/ui/editions/edition-keywords-2018-2015-parsing.stderr
  tests/ui/editions/edition-keywords-2018-2015.rs
  tests/ui/editions/edition-keywords-2018-2018-parsing.rs
  tests/ui/editions/edition-keywords-2018-2018-parsing.stderr
  tests/ui/editions/edition-keywords-2018-2018.rs
  tests/ui/lint/wide_pointer_comparisons.rs
  tests/ui/lint/wide_pointer_comparisons.stderr
  tests/ui/methods/method-on-ambiguous-numeric-type.rs
  tests/ui/methods/method-on-ambiguous-numeric-type.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-libs

#119653 compiler: update Fuchsia sanitizer support.
  compiler/rustc_target/src/spec/targets/x86_64_unknown_fuchsia.rs
Labels: T-compiler, S-waiting-on-bors

#119655 Remove ignore-stage1 that was added when changing error count msg
  tests/ui-fulldeps/dropck-tarena-cycle-checked.rs
  tests/ui-fulldeps/dropck-tarena-cycle-checked.stderr
  tests/ui-fulldeps/dropck-tarena-unsound-drop.rs
  tests/ui-fulldeps/dropck-tarena-unsound-drop.stderr
  tests/ui-fulldeps/internal-lints/span_use_eq_ctxt.rs
  tests/ui-fulldeps/internal-lints/span_use_eq_ctxt.stderr
  tests/ui-fulldeps/pathless-extern-unstable.rs
  tests/ui-fulldeps/pathless-extern-unstable.stderr
  tests/ui-fulldeps/session-diagnostic/enforce_slug_naming.rs
  tests/ui-fulldeps/session-diagnostic/enforce_slug_naming.stderr
Labels: T-compiler, S-waiting-on-bors

#119661 Strip lld-wrapper binaries
  Cargo.toml
Labels: T-bootstrap, S-waiting-on-bors

#119486 pass allow-{dirty,staged} to clippy
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/config/flags.rs
  src/etc/completions/x.py.fish
  src/etc/completions/x.py.ps1
  src/etc/completions/x.py.sh
  src/etc/completions/x.py.zsh
Labels: T-bootstrap, S-waiting-on-bors

#119591 rustc_mir_transform: Make DestinationPropagation stable for queries
  compiler/rustc_data_structures/src/fx.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  tests/mir-opt/dest-prop/copy_propagation_arg.foo.DestinationPropagation.panic-abort.diff
  tests/mir-opt/dest-prop/copy_propagation_arg.foo.DestinationPropagation.panic-unwind.diff
Labels: T-compiler, S-waiting-on-bors

#118781 merge core_panic feature into panic_internals
  library/alloc/src/lib.rs
  library/core/src/lib.rs
  library/core/src/macros/mod.rs
  library/core/src/panic.rs
  library/core/src/panicking.rs
  library/std/src/lib.rs
  library/std/src/panic.rs
  src/doc/unstable-book/src/library-features/core-panic.md
  tests/ui/extern/issue-64655-allow-unwind-when-calling-panic-directly.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#118194 rustdoc: search for tuples and unit by type with `()`
  src/doc/rustdoc/src/read-documentation/search.md
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/parser-errors.js
  tests/rustdoc-js-std/parser-slice-array.js
  tests/rustdoc-js-std/parser-tuple.js
  tests/rustdoc-js-std/parser-weird-queries.js
  tests/rustdoc-js/tuple-unit.js
  tests/rustdoc-js/tuple-unit.rs
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#119599 Rewrite Iterator::position default impl
  library/core/src/iter/traits/iterator.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#119035 Run Miri and mir-opt tests without a target linker
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/sanity.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  tests/mir-opt/remove_never_const.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#119548 Use the current target instead of iterating over all targets
  src/bootstrap/src/core/build_steps/install.rs
Labels: T-bootstrap, S-waiting-on-bors

#119656 document rounding behavior of rint/nearbyint for ties
  library/core/src/intrinsics.rs
Labels: S-waiting-on-bors, T-libs

#119657 Fix typo in docs for slice::split_once, slice::rsplit_once
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#119666 Populate `yield` and `resume` types in MIR body while body is being initialized
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/build/scope.rs
Labels: T-compiler, S-waiting-on-bors

#119679 Ask for rustc version in diagnostic reports, remind users to update their toolchain
  .github/ISSUE_TEMPLATE/diagnostics.yaml
  .github/ISSUE_TEMPLATE/ice.yaml
Labels: S-waiting-on-bors

#119680 Rollup of 6 pull requests
  .github/ISSUE_TEMPLATE/diagnostics.yaml
  .github/ISSUE_TEMPLATE/ice.yaml
  compiler/rustc_const_eval/src/transform/promote_consts.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/unreachable_prop.rs
  library/core/src/intrinsics.rs
  library/core/src/slice/mod.rs
  src/bootstrap/src/core/build_steps/install.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#119252 rustc_mir_transform: Enforce `rustc::potential_query_instability` lint
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/unreachable_prop.rs
Labels: T-compiler, S-waiting-on-bors

#114205 mark vec::IntoIter pointers as `!nonnull`
  library/alloc/src/lib.rs
  library/alloc/src/vec/in_place_collect.rs
  library/alloc/src/vec/into_iter.rs
  library/alloc/src/vec/mod.rs
  library/alloc/src/vec/spec_from_iter.rs
  tests/codegen/vec-iter.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#119556 Reland optimized-compiler-builtins config
  config.example.toml
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/ci/docker/host-x86_64/disabled/dist-x86_64-haiku/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-17/Dockerfile
  src/ci/run.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#119667 Exhaustiveness: remove `Matrix.wildcard_row`
  compiler/rustc_pattern_analysis/src/lints.rs
  compiler/rustc_pattern_analysis/src/pat.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119675 Skip threading over no-op SetDiscriminant.
  compiler/rustc_mir_transform/src/jump_threading.rs
  tests/mir-opt/set_no_discriminant.f.JumpThreading.diff
  tests/mir-opt/set_no_discriminant.generic.JumpThreading.diff
  tests/mir-opt/set_no_discriminant.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119703 Impl trait diagnostic tweaks
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  tests/ui/associated-consts/issue-105330.stderr
  tests/ui/feature-gates/feature-gate-associated_type_bounds.rs
  tests/ui/feature-gates/feature-gate-associated_type_bounds.stderr
  tests/ui/feature-gates/feature-gate-impl_trait_in_fn_trait_return.rs
  tests/ui/feature-gates/feature-gate-impl_trait_in_fn_trait_return.stderr
  tests/ui/impl-trait/issues/issue-54600.rs
  tests/ui/impl-trait/issues/issue-54600.stderr
  tests/ui/impl-trait/issues/issue-54840.rs
  tests/ui/impl-trait/issues/issue-54840.stderr
  tests/ui/impl-trait/issues/issue-58504.rs
  tests/ui/impl-trait/issues/issue-58504.stderr
  tests/ui/impl-trait/issues/issue-58956.rs
  tests/ui/impl-trait/issues/issue-58956.stderr
  tests/ui/impl-trait/issues/issue-70971.rs
  tests/ui/impl-trait/issues/issue-70971.stderr
  tests/ui/impl-trait/issues/issue-79099.rs
  tests/ui/impl-trait/issues/issue-79099.stderr
  tests/ui/impl-trait/issues/issue-83929-impl-trait-in-generic-default.rs
  tests/ui/impl-trait/issues/issue-83929-impl-trait-in-generic-default.stderr
  tests/ui/impl-trait/issues/issue-84919.rs
  tests/ui/impl-trait/issues/issue-84919.stderr
  tests/ui/impl-trait/issues/issue-86642.rs
  tests/ui/impl-trait/issues/issue-86642.stderr
  tests/ui/impl-trait/issues/issue-87295.rs
  tests/ui/impl-trait/issues/issue-87295.stderr
  tests/ui/impl-trait/nested_impl_trait.rs
  tests/ui/impl-trait/nested_impl_trait.stderr
  tests/ui/impl-trait/where-allowed.rs
  tests/ui/impl-trait/where-allowed.stderr
  tests/ui/issues/issue-47715.rs
  tests/ui/issues/issue-47715.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-fn-type.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-fn-type.stderr
  tests/ui/typeck/issue-104513-ice.rs
  tests/ui/typeck/issue-104513-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#119705 Support `~const` in associated functions in trait impls
  compiler/rustc_ast_lowering/src/item.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-impl-trait.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/tilde-const-assoc-fn-in-trait-impl.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/tilde-const-inherent-assoc-const-fn.rs
Labels: T-compiler, S-waiting-on-bors, F-effects

#119708 Unions are not `PointerLike`
  compiler/rustc_target/src/abi/mod.rs
  tests/ui/dyn-star/union.rs
  tests/ui/dyn-star/union.stderr
Labels: T-compiler, S-waiting-on-bors

#119711 Delete unused makefile in tests/ui
  src/tools/tidy/src/ui_tests.rs
  tests/ui/unused-crate-deps/test.mk
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#119722 Rollup of 5 pull requests
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_target/src/abi/mod.rs
  library/core/src/marker.rs
  library/core/src/pin.rs
  src/tools/tidy/src/ui_tests.rs
  tests/ui/associated-consts/issue-105330.stderr
  tests/ui/async-await/pin-needed-to-poll-2.stderr
  tests/ui/closures/coerce-unsafe-closure-to-unsafe-fn-ptr.stderr
  tests/ui/dyn-star/union.rs
  tests/ui/dyn-star/union.stderr
  tests/ui/feature-gates/feature-gate-associated_type_bounds.rs
  tests/ui/feature-gates/feature-gate-associated_type_bounds.stderr
  tests/ui/feature-gates/feature-gate-impl_trait_in_fn_trait_return.rs
  tests/ui/feature-gates/feature-gate-impl_trait_in_fn_trait_return.stderr
  tests/ui/impl-trait/issues/issue-54600.rs
  tests/ui/impl-trait/issues/issue-54600.stderr
  tests/ui/impl-trait/issues/issue-54840.rs
  tests/ui/impl-trait/issues/issue-54840.stderr
  tests/ui/impl-trait/issues/issue-58504.rs
  tests/ui/impl-trait/issues/issue-58504.stderr
  tests/ui/impl-trait/issues/issue-58956.rs
  tests/ui/impl-trait/issues/issue-58956.stderr
  tests/ui/impl-trait/issues/issue-70971.rs
  tests/ui/impl-trait/issues/issue-70971.stderr
  tests/ui/impl-trait/issues/issue-79099.rs
  tests/ui/impl-trait/issues/issue-79099.stderr
  tests/ui/impl-trait/issues/issue-83929-impl-trait-in-generic-default.rs
  tests/ui/impl-trait/issues/issue-83929-impl-trait-in-generic-default.stderr
  tests/ui/impl-trait/issues/issue-84919.rs
  tests/ui/impl-trait/issues/issue-84919.stderr
  tests/ui/impl-trait/issues/issue-86642.rs
  tests/ui/impl-trait/issues/issue-86642.stderr
  tests/ui/impl-trait/issues/issue-87295.rs
  tests/ui/impl-trait/issues/issue-87295.stderr
  tests/ui/impl-trait/nested_impl_trait.rs
  tests/ui/impl-trait/nested_impl_trait.stderr
  tests/ui/impl-trait/where-allowed.rs
  tests/ui/impl-trait/where-allowed.stderr
  tests/ui/issues/issue-47715.rs
  tests/ui/issues/issue-47715.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-impl-trait.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/tilde-const-assoc-fn-in-trait-impl.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/tilde-const-inherent-assoc-const-fn.rs
  tests/ui/self/arbitrary_self_types_pin_needing_borrow.stderr
  tests/ui/suggestions/expected-boxed-future-isnt-pinned.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-fn-type.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-fn-type.stderr
  tests/ui/typeck/issue-104513-ice.rs
  tests/ui/typeck/issue-104513-ice.stderr
  tests/ui/unused-crate-deps/test.mk
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#116129 Rewrite `pin` module documentation to clarify usage and invariants
  library/core/src/marker.rs
  library/core/src/pin.rs
  tests/ui/async-await/pin-needed-to-poll-2.stderr
  tests/ui/closures/coerce-unsafe-closure-to-unsafe-fn-ptr.stderr
  tests/ui/self/arbitrary_self_types_pin_needing_borrow.stderr
  tests/ui/suggestions/expected-boxed-future-isnt-pinned.stderr
Labels: T-libs-api, S-waiting-on-bors, T-libs, has-merge-commits

#119693 macro_rules: Add an expansion-local cache to span marker
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_span/src/hygiene.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119598 Fix a typo in core::ops::Deref's doc
  library/core/src/ops/deref.rs
Labels: S-waiting-on-bors, T-libs

#119660 remove an unnecessary stderr-per-bitwidth
  tests/ui/consts/const-eval/ub-enum.32bit.stderr
  tests/ui/consts/const-eval/ub-enum.rs
  tests/ui/consts/const-eval/ub-enum.stderr
  tests/ui/consts/const-eval/ub-uninhabit.rs
  tests/ui/consts/validate_never_arrays.rs
Labels: T-compiler, S-waiting-on-bors

#119663 tests: Normalize `\r\n` to `\n` in some run-make tests
  tests/run-make/raw-dylib-c/Makefile
  tests/run-make/raw-dylib-inline-cross-dylib/Makefile
  tests/run-make/raw-dylib-link-ordinal/Makefile
Labels: S-waiting-on-bors

#119681 coverage: Anonymize line numbers in branch views
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#119704 Fix two variable binding issues in lint let_underscore
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_lint/src/let_underscore.rs
  compiler/rustc_lint/src/lints.rs
  tests/ui/lint/let_underscore/issue-119696-err-on-fn.rs
  tests/ui/lint/let_underscore/issue-119696-err-on-fn.stderr
  tests/ui/lint/let_underscore/issue-119697-extra-let.rs
  tests/ui/lint/let_underscore/issue-119697-extra-let.stderr
Labels: T-compiler, S-waiting-on-bors

#119725 Add helper for when we want to know if an item has a host param
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_trait_selection/src/traits/util.rs
Labels: T-compiler, S-waiting-on-bors

#119738 Add `riscv32imafc-esp-espidf` tier 3 target for the ESP32-P4.
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/riscv32imafc_esp_espidf.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/esp-idf.md
Labels: T-compiler, S-waiting-on-bors

#119740 Remove crossbeam-channel
  Cargo.lock
  compiler/rustc_expand/Cargo.toml
  compiler/rustc_expand/src/proc_macro.rs
Labels: T-compiler, S-waiting-on-bors

#119754 Rollup of 10 pull requests
  Cargo.lock
  compiler/rustc_codegen_cranelift/src/debuginfo/line_info.rs
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_expand/Cargo.toml
  compiler/rustc_expand/src/proc_macro.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_lint/src/let_underscore.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/riscv32imafc_esp_espidf.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  library/core/src/ops/deref.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/esp-idf.md
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/tests.rs
  tests/coverage/unicode.cov-map
  tests/coverage/unicode.coverage
  tests/coverage/unicode.rs
  tests/debuginfo/collapse-debuginfo-in-non-collapse-macro.rs
  tests/debuginfo/skip_second_statement.rs
  tests/debuginfo/skip_second_statement_collapse.rs
  tests/run-make/raw-dylib-c/Makefile
  tests/run-make/raw-dylib-inline-cross-dylib/Makefile
  tests/run-make/raw-dylib-link-ordinal/Makefile
  tests/ui/consts/const-eval/ub-enum.32bit.stderr
  tests/ui/consts/const-eval/ub-enum.rs
  tests/ui/consts/const-eval/ub-enum.stderr
  tests/ui/consts/const-eval/ub-uninhabit.rs
  tests/ui/consts/validate_never_arrays.rs
  tests/ui/lint/let_underscore/issue-119696-err-on-fn.rs
  tests/ui/lint/let_underscore/issue-119696-err-on-fn.stderr
  tests/ui/lint/let_underscore/issue-119697-extra-let.rs
  tests/ui/lint/let_underscore/issue-119697-extra-let.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#118903 Improved support of collapse_debuginfo attribute for macros.
  compiler/rustc_codegen_cranelift/src/debuginfo/line_info.rs
  compiler/rustc_codegen_ssa/src/mir/debuginfo.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  tests/debuginfo/collapse-debuginfo-in-non-collapse-macro.rs
  tests/debuginfo/skip_second_statement.rs
  tests/debuginfo/skip_second_statement_collapse.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#119033 coverage: `llvm-cov` expects column numbers to be bytes, not code points
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/lib.rs
  tests/coverage/unicode.cov-map
  tests/coverage/unicode.coverage
  tests/coverage/unicode.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#119619 mir-opt and custom target fixes
  src/bootstrap/src/core/build_steps/synthetic_targets.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/tools/compiletest/src/common.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#119632 Fix broken build for ESP IDF due to #119026
  library/std/src/os/unix/net/listener.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#119712 Adding alignment to the cases to test for specific error messages.
  compiler/rustc_parse_format/src/lib.rs
  tests/ui/fmt/format-string-wrong-order.rs
  tests/ui/fmt/format-string-wrong-order.stderr
Labels: T-compiler, S-waiting-on-bors

#119734 Miri subtree update
  Cargo.lock
  src/tools/miri/.github/workflows/ci.yml
  src/tools/miri/.github/workflows/sysroots.yml
  src/tools/miri/Cargo.lock
  src/tools/miri/Cargo.toml
  src/tools/miri/cargo-miri/Cargo.lock
  src/tools/miri/ci/build-all-targets.sh
  src/tools/miri/ci/ci.sh
  src/tools/miri/ci/scrape-targets.py
  src/tools/miri/miri-script/Cargo.lock
  src/tools/miri/miri-script/src/util.rs
  src/tools/miri/rust-version
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree.rs
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/test_dependencies/Cargo.lock
  src/tools/miri/tests/fail/function_pointers/abi_mismatch_array_vs_struct.rs
  src/tools/miri/tests/pass/float.rs
  src/tools/miri/tests/pass/float_nan.rs
  src/tools/miri/tests/pass/intrinsics-math.rs
  src/tools/miri/tests/pass/stacked-borrows/non_scalar_field_retagging.rs
Labels: S-waiting-on-bors

#119760 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  library/core/src/char/convert.rs
  library/std/src/os/unix/net/listener.rs
  src/bootstrap/src/core/build_steps/synthetic_targets.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/tools/compiletest/src/common.rs
  src/tools/miri/.github/workflows/ci.yml
  src/tools/miri/.github/workflows/sysroots.yml
  src/tools/miri/Cargo.lock
  src/tools/miri/Cargo.toml
  src/tools/miri/cargo-miri/Cargo.lock
  src/tools/miri/ci/build-all-targets.sh
  src/tools/miri/ci/ci.sh
  src/tools/miri/ci/scrape-targets.py
  src/tools/miri/miri-script/Cargo.lock
  src/tools/miri/miri-script/src/util.rs
  src/tools/miri/rust-version
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree.rs
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/test_dependencies/Cargo.lock
  src/tools/miri/tests/fail/function_pointers/abi_mismatch_array_vs_struct.rs
  src/tools/miri/tests/pass/float.rs
  src/tools/miri/tests/pass/float_nan.rs
  src/tools/miri/tests/pass/intrinsics-math.rs
  src/tools/miri/tests/pass/stacked-borrows/non_scalar_field_retagging.rs
  tests/ui/coherence/warn-when-cycle-is-error-in-coherence.rs
  tests/ui/coherence/warn-when-cycle-is-error-in-coherence.stderr
  tests/ui/fmt/format-string-wrong-order.rs
  tests/ui/fmt/format-string-wrong-order.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#118979 Use `assert_unsafe_precondition` for `char::from_u32_unchecked`
  library/core/src/char/convert.rs
Labels: S-waiting-on-bors, T-libs

#117744 Add -Zuse-sync-unwind
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, O-unix

#118649 Make inductive cycles in coherence ambiguous always
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/coherence/warn-when-cycle-is-error-in-coherence.rs
  tests/ui/coherence/warn-when-cycle-is-error-in-coherence.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, T-types, WG-trait-system-refactor

#117703 Support async recursive calls (as long as they have indirection)
  compiler/rustc_error_codes/src/error_codes/E0733.md
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_middle/src/query/keys.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/query/plumbing.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_middle/src/values.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/query/config.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  compiler/rustc_query_system/src/values.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  src/librustdoc/html/render/print_item.rs
  src/tools/clippy/clippy_lints/src/copies.rs
  src/tools/clippy/clippy_lints/src/methods/drain_collect.rs
  src/tools/clippy/clippy_lints/src/methods/redundant_as_str.rs
  src/tools/clippy/clippy_lints/src/mut_key.rs
  src/tools/clippy/clippy_lints/src/non_copy_const.rs
  src/tools/clippy/clippy_lints/src/transmute/transmute_int_to_non_zero.rs
  tests/ui/async-await/in-trait/async-recursive-generic.rs
  tests/ui/async-await/in-trait/async-recursive-generic.stderr
  tests/ui/async-await/in-trait/async-recursive.rs
  tests/ui/async-await/in-trait/async-recursive.stderr
  tests/ui/async-await/in-trait/indirect-recursion-issue-112047.rs
  tests/ui/async-await/in-trait/indirect-recursion-issue-112047.stderr
  tests/ui/async-await/mutually-recursive-async-impl-trait-type.rs
  tests/ui/async-await/mutually-recursive-async-impl-trait-type.stderr
  tests/ui/async-await/recursive-async-impl-trait-type.rs
  tests/ui/async-await/recursive-async-impl-trait-type.stderr
  tests/ui/impl-trait/recursive-coroutine-boxed.rs
  tests/ui/impl-trait/recursive-coroutine-indirect.current.stderr
  tests/ui/impl-trait/recursive-coroutine-indirect.next.stderr
  tests/ui/impl-trait/recursive-coroutine-indirect.rs
  tests/ui/impl-trait/recursive-coroutine.current.stderr
  tests/ui/impl-trait/recursive-coroutine.next.stderr
  tests/ui/impl-trait/recursive-impl-trait-type-indirect.rs
  tests/ui/impl-trait/recursive-impl-trait-type-indirect.stderr
  tests/ui/type-alias-impl-trait/indirect-recursion-issue-112047.rs
  tests/ui/type-alias-impl-trait/indirect-recursion-issue-112047.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, A-async-await, merged-by-bors, AsyncAwait-Triaged, S-waiting-on-fcp, A-query-system, WG-async, T-types

#118968 unify query canonicalization mode
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_trait_selection/src/traits/outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/mod.rs
  tests/ui/higher-ranked/trait-bounds/hrtb-cache-issue-54302.stderr
  tests/ui/higher-ranked/trait-bounds/issue-59311.stderr
  tests/ui/nll/issue-54302.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119756 rustdoc-search: reuse individual types in function signatures
  src/librustdoc/html/static/js/search.js
Labels: T-rustdoc, S-waiting-on-bors

#119758 GNU/Hurd: unconditionally use inline stack probes
  compiler/rustc_target/src/spec/targets/i686_unknown_hurd_gnu.rs
Labels: T-compiler, S-waiting-on-bors

#119668 Simplify implementation of MIR promotion
  compiler/rustc_const_eval/src/transform/mod.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
Labels: T-compiler, S-waiting-on-bors

#119699 Merge dead bb pruning and unreachable bb deduplication.
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_transform/src/const_goto.rs
  compiler/rustc_mir_transform/src/deduplicate_blocks.rs
  compiler/rustc_mir_transform/src/early_otherwise_branch.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/match_branches.rs
  compiler/rustc_mir_transform/src/remove_unneeded_drops.rs
  compiler/rustc_mir_transform/src/separate_const_switch.rs
  compiler/rustc_mir_transform/src/simplify.rs
  tests/mir-opt/building/async_await.b-{closure#0}.coroutine_resume.0.mir
  tests/mir-opt/jump_threading.identity.JumpThreading.panic-abort.diff
  tests/mir-opt/jump_threading.identity.JumpThreading.panic-unwind.diff
  tests/mir-opt/jump_threading.rs
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/separate_const_switch.identity.SeparateConstSwitch.diff
  tests/mir-opt/separate_const_switch.too_complex.SeparateConstSwitch.diff
Labels: T-compiler, S-waiting-on-bors, A-mir-opt

#119723 Remove `-Zdont-buffer-diagnostics`.
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors

#119721 `~const` trait and projection bounds do not imply their non-const counterparts
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/assoc-type-const-bound-usage.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/assoc-type-const-bound-usage.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-fns-are-early-bound.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-impl-trait.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-impl-trait.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/project.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/project.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/trait-where-clause-const.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.stderr
Labels: T-compiler, S-waiting-on-bors

#119768 core: panic: fix broken link
  library/core/src/macros/panic.md
Labels: S-waiting-on-bors

#119777 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_driver_impl/src/args.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_analysis/src/bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  library/core/src/macros/panic.md
  library/std/Cargo.toml
  library/std/src/sys/sgx/abi/usercalls/alloc.rs
  src/doc/unstable-book/src/compiler-flags/shell-argfiles.md
  src/tools/tidy/src/deps.rs
  src/tools/tidy/src/ui_tests.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/assoc-type-const-bound-usage.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/assoc-type-const-bound-usage.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-fns-are-early-bound.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-impl-trait.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-impl-trait.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/project.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/project.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/trait-where-clause-const.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.stderr
  tests/ui/shell-argfiles/shell-argfiles-badquotes-windows.rs
  tests/ui/shell-argfiles/shell-argfiles-badquotes-windows.stderr
  tests/ui/shell-argfiles/shell-argfiles-badquotes.args
  tests/ui/shell-argfiles/shell-argfiles-badquotes.rs
  tests/ui/shell-argfiles/shell-argfiles-badquotes.stderr
  tests/ui/shell-argfiles/shell-argfiles-via-argfile-shell.args
  tests/ui/shell-argfiles/shell-argfiles-via-argfile.args
  tests/ui/shell-argfiles/shell-argfiles-via-argfile.rs
  tests/ui/shell-argfiles/shell-argfiles.args
  tests/ui/shell-argfiles/shell-argfiles.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-SGX

#118680 Add support for shell argfiles
  Cargo.lock
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_driver_impl/src/args.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  src/doc/unstable-book/src/compiler-flags/shell-argfiles.md
  src/tools/tidy/src/deps.rs
  src/tools/tidy/src/ui_tests.rs
  tests/ui/shell-argfiles/shell-argfiles-badquotes-windows.rs
  tests/ui/shell-argfiles/shell-argfiles-badquotes-windows.stderr
  tests/ui/shell-argfiles/shell-argfiles-badquotes.args
  tests/ui/shell-argfiles/shell-argfiles-badquotes.rs
  tests/ui/shell-argfiles/shell-argfiles-badquotes.stderr
  tests/ui/shell-argfiles/shell-argfiles-via-argfile-shell.args
  tests/ui/shell-argfiles/shell-argfiles-via-argfile.args
  tests/ui/shell-argfiles/shell-argfiles-via-argfile.rs
  tests/ui/shell-argfiles/shell-argfiles.args
  tests/ui/shell-argfiles/shell-argfiles.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#118241 Making `User<T>` and `User<[T]>` `Send`
  library/std/src/sys/sgx/abi/usercalls/alloc.rs
Labels: S-waiting-on-bors, T-libs, O-SGX

#116846 A more efficient slice comparison implementation for T: !BytewiseEq
  library/core/src/slice/cmp.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#119769 rustdoc: offset generic args of cross-crate trait object types when cleaning
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  tests/rustdoc/inline_cross/auxiliary/default-generic-args.rs
  tests/rustdoc/inline_cross/auxiliary/u_default_generic_args.rs
  tests/rustdoc/inline_cross/default-generic-args.rs
Labels: T-rustdoc, S-waiting-on-bors

#119772 Fix an ICE that occurs after an error has already been reported
  compiler/rustc_transmute/src/layout/tree.rs
  tests/ui/transmutability/structs/repr/transmute_infinitely_recursive_type.rs
  tests/ui/transmutability/structs/repr/transmute_infinitely_recursive_type.stderr
Labels: T-compiler, S-waiting-on-bors

#119782 rint intrinsics: caution against actually trying to check for floating-point exceptions
  library/core/src/intrinsics.rs
Labels: S-waiting-on-bors, T-libs

#119797 Rollup of 4 pull requests
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_error_codes/src/error_codes.rs
  compiler/rustc_error_codes/src/error_codes/E0797.md
  compiler/rustc_transmute/src/layout/tree.rs
  library/core/src/intrinsics.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  tests/rustdoc/inline_cross/auxiliary/default-generic-args.rs
  tests/rustdoc/inline_cross/auxiliary/u_default_generic_args.rs
  tests/rustdoc/inline_cross/default-generic-args.rs
  tests/ui/destructuring-assignment/struct_destructure_fail.stderr
  tests/ui/transmutability/structs/repr/transmute_infinitely_recursive_type.rs
  tests/ui/transmutability/structs/repr/transmute_infinitely_recursive_type.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#106893 Explain base expression for struct update syntax
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_error_codes/src/error_codes.rs
  compiler/rustc_error_codes/src/error_codes/E0797.md
  tests/ui/destructuring-assignment/struct_destructure_fail.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, A-translation

#119688 Exhaustiveness: use an `Option` instead of allocating fictitious patterns
  compiler/rustc_pattern_analysis/src/lints.rs
  compiler/rustc_pattern_analysis/src/pat.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#119790 Fix all_trait* methods to return all traits available in StableMIR
  compiler/rustc_smir/src/rustc_internal/internal.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/lib.rs
  compiler/stable_mir/src/ty.rs
  tests/ui-fulldeps/stable-mir/check_trait_queries.rs
Labels: T-compiler, S-waiting-on-bors

#119803 Silence some follow-up errors [1/x]
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_hir_typeck/src/lib.rs
  tests/ui/type-alias-impl-trait/issue-77179.rs
  tests/ui/type-alias-impl-trait/issue-77179.stderr
Labels: T-compiler, S-waiting-on-bors
