Repository rust-lang/rust, pull requests merged in 2024-06, with the labels that each got.

#125211 Stablize `const_binary_heap_constructor`
  library/alloc/src/collections/binary_heap/mod.rs
Labels: T-libs-api, S-waiting-on-bors, needs-fcp, merged-by-bors

#124577 Stabilize `custom_code_classes_in_docs` feature
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/unstable.rs
  src/doc/rustdoc/src/unstable-features.md
  src/doc/rustdoc/src/write-documentation/documentation-tests.md
  src/librustdoc/doctest.rs
  src/librustdoc/externalfiles.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/markdown/tests.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/markdown.rs
  src/librustdoc/passes/calculate_doc_coverage.rs
  src/librustdoc/passes/check_custom_code_classes.rs
  src/librustdoc/passes/check_doc_test_visibility.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  src/librustdoc/passes/mod.rs
  tests/rustdoc-ui/custom_code_classes_in_docs-warning.rs
  tests/rustdoc-ui/custom_code_classes_in_docs-warning.stderr
  tests/rustdoc-ui/custom_code_classes_in_docs-warning3.rs
  tests/rustdoc-ui/custom_code_classes_in_docs-warning3.stderr
  tests/rustdoc-ui/feature-gate-custom_code_classes_in_docs.rs
  tests/rustdoc-ui/feature-gate-custom_code_classes_in_docs.stderr
  tests/rustdoc-ui/issues/issue-91713.stdout
  tests/rustdoc/custom_code_classes.rs
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#125821 Check index `value <= 0xFFFF_FF00`
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  tests/crashes/121126.rs
  tests/ui/indexing/index-bounds.rs
  tests/ui/indexing/index-bounds.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#123572 Increase vtable layout size
  compiler/rustc_hir_analysis/src/coherence/mod.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/vtable.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  src/tools/clippy/clippy_lints/src/len_zero.rs
  tests/debuginfo/unsized.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged, WG-trait-system-refactor

#125856 include missing submodule on bootstrap
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#125775 Uplift `{Closure,Coroutine,CoroutineClosure}Args` and friends to `rustc_type_ir`
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/cpp_like.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/mod.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_const_eval/src/interpret/discriminant.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/generic_args.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_mir_transform/src/validate.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_type_ir/src/binder.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/predicate.rs
  compiler/rustc_type_ir/src/ty_kind.rs
  compiler/rustc_type_ir/src/ty_kind/closure.rs
  src/tools/clippy/clippy_lints/src/eta_reduction.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#125863 Reject `CVarArgs` in `parse_ty_for_where_clause`
  compiler/rustc_parse/src/parser/ty.rs
  tests/ui/parser/macro/mbe-dotdotdot-may-not-begin-a-type.rs
  tests/ui/parser/variadic-ffi-nested-syntactic-fail.rs
  tests/ui/parser/variadic-ffi-nested-syntactic-fail.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124294 Unroll first iteration of checked_ilog loop
  library/core/src/num/uint_macros.rs
  tests/codegen/checked_ilog.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#125773 Migrate run make cdylib
  src/tools/run-make-support/src/cc.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/cdylib/Makefile
  tests/run-make/cdylib/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#125822 Refactor `--print=check-cfg` test
  tests/run-make/print-check-cfg/rmake.rs
Labels: S-waiting-on-bors, merged-by-bors

#125827 compiletest: split rmake.rs executable from scratch directory
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#125887 Subtree update of `rust-analyzer`
  src/tools/rust-analyzer/Cargo.lock
  src/tools/rust-analyzer/Cargo.toml
  src/tools/rust-analyzer/crates/flycheck/Cargo.toml
  src/tools/rust-analyzer/crates/flycheck/src/command.rs
  src/tools/rust-analyzer/crates/flycheck/src/lib.rs
  src/tools/rust-analyzer/crates/hir-expand/src/db.rs
  src/tools/rust-analyzer/crates/hir-expand/src/files.rs
  src/tools/rust-analyzer/crates/hir-expand/src/lib.rs
  src/tools/rust-analyzer/crates/hir/src/semantics.rs
  src/tools/rust-analyzer/crates/hir/src/semantics/source_to_def.rs
  src/tools/rust-analyzer/crates/hir/src/term_search.rs
  src/tools/rust-analyzer/crates/hir/src/term_search/tactics.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/convert_comment_from_or_to_doc.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/term_search.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/toggle_async_sugar.rs
  src/tools/rust-analyzer/crates/ide-assists/src/lib.rs
  src/tools/rust-analyzer/crates/ide-assists/src/tests/generated.rs
  src/tools/rust-analyzer/crates/ide-completion/src/context/analysis.rs
  src/tools/rust-analyzer/crates/ide-db/src/famous_defs.rs
  src/tools/rust-analyzer/crates/ide/src/goto_declaration.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/global_state.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/main_loop.rs
Labels: S-waiting-on-bors, merged-by-bors

#125849 Migrate `run-make/emit-named-files` to `rmake.rs`
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/emit-named-files/Makefile
  tests/run-make/emit-named-files/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#125851 Add some more specific checks to the MIR validator
  compiler/rustc_mir_transform/src/validate.rs
Labels: T-compiler, S-waiting-on-bors

#125892 Rollup of 3 pull requests
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_mir_transform/src/validate.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/codegen/simd/packed-simd-alignment.rs
  tests/run-make/emit-named-files/Makefile
  tests/run-make/emit-named-files/rmake.rs
  tests/ui/simd/repr_packed.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#125311 Make repr(packed) vectors work with SIMD intrinsics
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  tests/codegen/simd/packed-simd-alignment.rs
  tests/ui/simd/repr_packed.rs
Labels: T-compiler, S-waiting-on-bors

#125577 std::pal::unix::thread fetching min stack size on netbsd.
  library/std/src/sys/pal/unix/thread.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-unix

#125828 Avoid checking the edition as much as possible
  compiler/rustc_parse/src/parser/nonterminal.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#125808 Migrate `run-make/c-link-to-rust-dylib` to `rmake.rs`
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/c-link-to-rust-dylib/Makefile
  tests/run-make/c-link-to-rust-dylib/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#125884 Implement feature `integer_sign_cast`
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#125890 Improve compiletest expected/not found formatting
  src/tools/compiletest/src/errors.rs
  src/tools/compiletest/src/main.rs
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#125896 compiletest: fix outdated rmake.rs comment
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#125898 typo: depending from -> on
  library/core/src/str/pattern.rs
  library/std/src/sys/thread_local/fast_local/mod.rs
Labels: S-waiting-on-bors, T-libs

#125902 Rollup of 6 pull requests
  library/core/src/num/f32.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  library/core/src/str/pattern.rs
  library/core/tests/num/mod.rs
  library/std/src/sys/thread_local/fast_local/mod.rs
  src/tools/compiletest/src/errors.rs
  src/tools/compiletest/src/main.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/c-link-to-rust-dylib/Makefile
  tests/run-make/c-link-to-rust-dylib/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#121062 Change f32::midpoint to upcast to f64
  library/core/src/num/f32.rs
  library/core/tests/num/mod.rs
Labels: S-waiting-on-bors, T-libs

#125057 `rustc_lint` cleanups
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/errors.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/let_underscore.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/methods.rs
  compiler/rustc_lint/src/non_local_def.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_lint/src/passes.rs
  compiler/rustc_lint/src/unused.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#125397 Do not suggest unresolvable builder methods
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/resolve/fn-new-doesnt-exist.rs
  tests/ui/resolve/fn-new-doesnt-exist.stderr
  tests/ui/resolve/suggest-builder-fn.rs
  tests/ui/resolve/suggest-builder-fn.stderr
  tests/ui/suggestions/deref-path-method.stderr
  tests/ui/suggestions/issue-109291.stderr
  tests/ui/ufcs/bad-builder.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#125904 Test codegen for `repr(packed,simd)` -> `repr(simd)`
  tests/codegen/simd/packed-simd.rs
Labels: S-waiting-on-bors, merged-by-bors

#125778 Use parenthetical notation for `Fn` traits
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_const_eval/src/check_consts/ops.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/async-await/async-fn/impl-header.stderr
  tests/ui/closures/closure-expected.stderr
  tests/ui/closures/coerce-unsafe-to-closure.stderr
  tests/ui/consts/fn_trait_refs.stderr
  tests/ui/consts/unstable-const-fn-in-libcore.stderr
  tests/ui/expr/malformed_closure/block_instead_of_closure_in_arg.stderr
  tests/ui/expr/malformed_closure/ruby_style_closure_successful_parse.stderr
  tests/ui/extern/extern-wrong-value-type.stderr
  tests/ui/feature-gates/feature-gate-unboxed-closures-manual-impls.stderr
  tests/ui/fn/fn-trait-formatting.stderr
  tests/ui/fn/issue-39259.stderr
  tests/ui/generic-associated-types/issue-68642-broken-llvm-ir.stderr
  tests/ui/generic-associated-types/issue-68643-broken-mir.stderr
  tests/ui/generic-associated-types/issue-68644-codegen-selection.stderr
  tests/ui/generic-associated-types/issue-68645-codegen-fulfillment.stderr
  tests/ui/impl-trait/normalize-tait-in-const.stderr
  tests/ui/intrinsics/const-eval-select-bad.stderr
  tests/ui/issues/issue-22034.stderr
  tests/ui/issues/issue-23966.stderr
  tests/ui/lifetimes/issue-76168-hr-outlives-3.stderr
  tests/ui/lifetimes/issue-95023.stderr
  tests/ui/mismatched_types/suggest-option-asderef-unfixable.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/fn-traits.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-closure-trait-method-fail.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-closure-trait-method.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-closures.stderr
  tests/ui/traits/associated_type_bound/check-trait-object-bounds-2.stderr
  tests/ui/traits/bound/assoc-fn-bound-root-obligation.rs
  tests/ui/traits/bound/assoc-fn-bound-root-obligation.stderr
  tests/ui/traits/issue-87558.stderr
  tests/ui/traits/next-solver/fn-trait.stderr
  tests/ui/traits/suggest-dereferences/root-obligation.stderr
  tests/ui/type-alias-impl-trait/issue-63279.stderr
  tests/ui/unboxed-closures/unboxed-closures-fnmut-as-fn.stderr
  tests/ui/unboxed-closures/unboxed-closures-unsafe-extern-fn.stderr
  tests/ui/unboxed-closures/unboxed-closures-wrong-abi.stderr
  tests/ui/unboxed-closures/unboxed-closures-wrong-arg-type-extern-fn.stderr
  tests/ui/unsafe/initializing-ranged-via-ctor.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#125864 Opt-in to `FulfillmentError` generation to avoid doing extra work in the new solver
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/dropck.rs
  compiler/rustc_hir_analysis/src/check/entry.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/hir_wf_check.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_hir_typeck/src/typeck_root_ctxt.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/traits/engine.rs
  compiler/rustc_infer/src/traits/mod.rs
  compiler/rustc_infer/src/traits/structural_impls.rs
  compiler/rustc_macros/src/extension.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/layout_test.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/regions.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/normalize.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/misc.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/normalize.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/structural_normalize.rs
  compiler/rustc_traits/src/codegen.rs
  compiler/rustc_traits/src/normalize_projection_ty.rs
  src/tools/clippy/clippy_lints/src/future_not_send.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#125383 Rewrite `emit`, `mixing-formats` and `bare-outfile` `run-make` tests in `rmake.rs` format
  src/tools/run-make-support/src/run.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/bare-outfile/Makefile
  tests/run-make/bare-outfile/rmake.rs
  tests/run-make/emit/Makefile
  tests/run-make/emit/rmake.rs
  tests/run-make/mixing-formats/Makefile
  tests/run-make/mixing-formats/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#122597 Show files produced by `--emit foo` in json artifact notifications
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_mir_transform/src/dump_mir.rs
  src/doc/rustc/src/json.md
  tests/run-make/notify-all-emit-artifacts/lib.rs
  tests/run-make/notify-all-emit-artifacts/rmake.rs
Labels: T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#125380 Make `WHERE_CLAUSES_OBJECT_SAFETY` a regular object safety violation
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/mod.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/lint.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_lint/src/multiple_supertrait_upcastable.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/transform.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  src/librustdoc/clean/types.rs
  src/tools/miri/tests/fail/issue-miri-2432.rs
  src/tools/miri/tests/fail/issue-miri-2432.stderr
  tests/ui/const-generics/generic_const_exprs/object-safety-err-where-bounds.rs
  tests/ui/const-generics/generic_const_exprs/object-safety-err-where-bounds.stderr
  tests/ui/issues/issue-50781.rs
  tests/ui/issues/issue-50781.stderr
  tests/ui/object-safety/issue-106247.rs
  tests/ui/traits/vtable/vtable-vacant.rs
  tests/ui/traits/vtable/vtable-vacant.stderr
  tests/ui/where-clauses/self-in-where-clause-allowed.rs
  tests/ui/where-clauses/self-in-where-clause-allowed.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, T-types, PG-exploit-mitigations, WG-trait-system-refactor

#125629 [BETA] revert leak check changes
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-1.rs
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-1.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-2.current.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-2.next.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-2.old.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-2.rs
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-project.current.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-project.next.stderr
  tests/ui/higher-ranked/leak-check/candidate-from-env-universe-err-project.rs
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-2.next.stderr
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-2.old.stderr
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-2.rs
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-3.old.stderr
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-3.rs
  tests/ui/higher-ranked/trait-bounds/hrtb-higher-ranker-supertraits-transitive.stderr
  tests/ui/higher-ranked/trait-bounds/hrtb-higher-ranker-supertraits.rs
  tests/ui/higher-ranked/trait-bounds/hrtb-higher-ranker-supertraits.stderr
  tests/ui/implied-bounds/issue-100690.rs
  tests/ui/implied-bounds/issue-100690.stderr
Labels: beta-nominated, beta-accepted, T-compiler, S-waiting-on-bors, merged-by-bors

#125919 Remove stray "this"
  library/std/src/sys/pal/unix/fs.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#125960 Rollup of 8 pull requests
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item/refine.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/impl_wf_check.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/typeck_root_ctxt.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/opaque_types.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/normalize.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_traits/src/normalize_projection_ty.rs
  library/core/src/cell/once.rs
  library/std/src/sync/once_lock.rs
  library/std/src/sys/pal/unix/fs.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support/arm-none-eabi.md
  src/doc/rustc/src/platform-support/armv4t-none-eabi.md
  src/doc/unstable-book/src/compiler-flags/print-check-cfg.md
  src/doc/unstable-book/src/language-features/abi-vectorcall.md
  src/tools/clippy/clippy_lints/src/methods/iter_on_single_or_empty_collections.rs
  src/tools/clippy/clippy_lints/src/needless_borrows_for_generic_args.rs
  src/tools/clippy/clippy_lints/src/unit_return_expecting_ord.rs
  src/tools/clippy/clippy_utils/src/ty.rs
  tests/crashes/121134.rs
  tests/crashes/123917.rs
  tests/run-make/print-check-cfg/rmake.rs
  tests/rustdoc-ui/ice-blanket-impl-119792.rs
  tests/ui/const-generics/adt_const_params/transmutable-ice-110969.rs
  tests/ui/const-generics/adt_const_params/transmutable-ice-110969.stderr
  tests/ui/feature-gates/feature-gate-vectorcall.stderr
  tests/ui/lifetimes/noisy-follow-up-erro.rs
  tests/ui/lifetimes/noisy-follow-up-erro.stderr
  tests/ui/polymorphization/abi_mismatch.rs
  tests/ui/polymorphization/abi_mismatch.stderr
  tests/ui/traits/associated_type_bound/116464-invalid-assoc-type-suggestion-in-trait-impl.rs
  tests/ui/traits/associated_type_bound/116464-invalid-assoc-type-suggestion-in-trait-impl.stderr
  tests/ui/traits/generic_param_mismatch_in_unsatisfied_projection.rs
  tests/ui/traits/generic_param_mismatch_in_unsatisfied_projection.stderr
  tests/ui/traits/issue-78372.stderr
  tests/ui/transmutability/issue-101739-2.rs
  tests/ui/transmutability/issue-101739-2.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix, WG-trait-system-refactor

#125608 Avoid follow-up errors if the number of generic parameters already doesn't match
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/impl_wf_check.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  tests/crashes/121134.rs
  tests/crashes/123917.rs
  tests/ui/const-generics/adt_const_params/transmutable-ice-110969.rs
  tests/ui/const-generics/adt_const_params/transmutable-ice-110969.stderr
  tests/ui/lifetimes/noisy-follow-up-erro.rs
  tests/ui/lifetimes/noisy-follow-up-erro.stderr
  tests/ui/polymorphization/abi_mismatch.rs
  tests/ui/polymorphization/abi_mismatch.stderr
  tests/ui/traits/associated_type_bound/116464-invalid-assoc-type-suggestion-in-trait-impl.rs
  tests/ui/traits/associated_type_bound/116464-invalid-assoc-type-suggestion-in-trait-impl.stderr
  tests/ui/traits/generic_param_mismatch_in_unsatisfied_projection.rs
  tests/ui/traits/generic_param_mismatch_in_unsatisfied_projection.stderr
  tests/ui/traits/issue-78372.stderr
  tests/ui/transmutability/issue-101739-2.rs
  tests/ui/transmutability/issue-101739-2.stderr
Labels: T-compiler, S-waiting-on-bors

#125750 Align `Term` methods with `GenericArg` methods, add `Term::expect_*`
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item/refine.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/typeck_root_ctxt.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/opaque_types.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/normalize.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_traits/src/normalize_projection_ty.rs
  src/tools/clippy/clippy_lints/src/methods/iter_on_single_or_empty_collections.rs
  src/tools/clippy/clippy_lints/src/needless_borrows_for_generic_args.rs
  src/tools/clippy/clippy_lints/src/unit_return_expecting_ord.rs
  src/tools/clippy/clippy_utils/src/ty.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#125818 Handle no values cfgs with `--print=check-cfg`
  compiler/rustc_driver_impl/src/lib.rs
  src/doc/unstable-book/src/compiler-flags/print-check-cfg.md
  tests/run-make/print-check-cfg/rmake.rs
Labels: T-compiler, S-waiting-on-bors

#125909 rustdoc: add a regression test for a former blanket impl synthesis ICE
  tests/rustdoc-ui/ice-blanket-impl-119792.rs
Labels: T-rustdoc, S-waiting-on-bors

#125504 Change pedantically incorrect OnceCell/OnceLock wording
  library/core/src/cell/once.rs
  library/std/src/sync/once_lock.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#125690 ARM Target Docs Update
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support/arm-none-eabi.md
  src/doc/rustc/src/platform-support/armv4t-none-eabi.md
Labels: S-waiting-on-bors

#124486 Add tracking issue and unstable book page for `"vectorcall"` ABI
  compiler/rustc_feature/src/unstable.rs
  src/doc/unstable-book/src/language-features/abi-vectorcall.md
  tests/ui/feature-gates/feature-gate-vectorcall.stderr
Labels: T-compiler, S-waiting-on-bors

#125948 rustfmt more tests
  rustfmt.toml
  tests/run-make-fulldeps/hotplug_codegen_backend/the_backend.rs
  tests/run-make-fulldeps/pretty-expanded/input.rs
  tests/run-pass-valgrind/cast-enum-with-dtor.rs
  tests/run-pass-valgrind/cleanup-auto-borrow-obj.rs
  tests/run-pass-valgrind/coerce-match-calls.rs
  tests/run-pass-valgrind/coerce-match.rs
  tests/run-pass-valgrind/down-with-thread-dtors.rs
  tests/run-pass-valgrind/dst-dtor-1.rs
  tests/run-pass-valgrind/dst-dtor-2.rs
  tests/run-pass-valgrind/dst-dtor-3.rs
  tests/run-pass-valgrind/dst-dtor-4.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects-rust-call.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects-rust-call2.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects.rs
  tests/rustdoc-js/assoc-type-backtrack.rs
  tests/rustdoc-js/assoc-type-loop.rs
  tests/rustdoc-js/auxiliary/interner.rs
  tests/rustdoc-js/doc-alias.rs
  tests/rustdoc-js/enum-variant-not-type.rs
  tests/rustdoc-js/foreign-type-path.rs
  tests/rustdoc-js/full-path-function.rs
  tests/rustdoc-js/gat.rs
  tests/rustdoc-js/generics-impl.rs
  tests/rustdoc-js/generics-trait.rs
  tests/rustdoc-js/generics.rs
  tests/rustdoc-js/hof.rs
  tests/rustdoc-js/macro-search.rs
  tests/rustdoc-js/never-search.rs
  tests/rustdoc-js/path-maxeditdistance.rs
  tests/rustdoc-js/prototype.rs
  tests/rustdoc-js/reexport-dedup-macro.rs
  tests/rustdoc-js/reexport-dedup-method.rs
  tests/rustdoc-js/reexport-dedup.rs
  tests/rustdoc-js/reexport.rs
  tests/rustdoc-js/reference.rs
  tests/rustdoc-js/slice-array.rs
  tests/rustdoc-js/struct-like-variant.rs
  tests/rustdoc-js/summaries.rs
  tests/rustdoc-js/tuple-unit.rs
  tests/rustdoc-js/type-parameters.rs
  tests/rustdoc-js/where-clause.rs
  tests/rustdoc-json/lifetime/longest.rs
  tests/rustdoc-json/non_lifetime_binders.rs
  tests/rustdoc-json/output_generics.rs
  tests/rustdoc-json/type/extern.rs
  tests/rustdoc-json/unions/impl.rs
  tests/rustdoc-json/unions/union.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-meta, A-rustdoc-json

#125953 Streamline `nested` calls.
  compiler/rustc_driver_impl/src/pretty.rs
Labels: T-compiler, S-waiting-on-bors

#125959 Reduce `pub` exposure in `rustc_mir_build`
  compiler/rustc_mir_build/src/build/coverageinfo/mcdc.rs
  compiler/rustc_mir_build/src/build/custom/parse.rs
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  compiler/rustc_mir_build/src/build/expr/as_constant.rs
  compiler/rustc_mir_build/src/build/expr/mod.rs
  compiler/rustc_mir_build/src/build/matches/util.rs
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#125967 Split smir `Const` into `TyConst` and `MirConst`
  compiler/rustc_smir/src/rustc_internal/internal.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/rustc_smir/src/rustc_smir/convert/mod.rs
  compiler/rustc_smir/src/rustc_smir/convert/ty.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/mir/body.rs
  compiler/stable_mir/src/mir/pretty.rs
  compiler/stable_mir/src/mir/visit.rs
  compiler/stable_mir/src/ty.rs
  compiler/stable_mir/src/visitor.rs
  tests/ui-fulldeps/stable-mir/check_transform.rs
Labels: T-compiler, S-waiting-on-bors

#125968 Store the types of `ty::Expr` arguments in the `ty::Expr`
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/consts/kind.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/walk.rs
  compiler/rustc_ty_utils/src/consts.rs
  tests/ui/const-generics/generic_const_exprs/eval-privacy.rs
  tests/ui/const-generics/generic_const_exprs/eval-privacy.stderr
  tests/ui/privacy/where-priv-type.rs
  tests/ui/privacy/where-priv-type.stderr
Labels: T-compiler, S-waiting-on-bors

#125667 Silence follow-up errors directly based on error types and regions
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  tests/rustdoc-ui/unable-fulfill-trait.rs
  tests/rustdoc-ui/unable-fulfill-trait.stderr
  tests/ui/associated-inherent-types/issue-109071.rs
  tests/ui/associated-inherent-types/issue-109071.with_gate.stderr
  tests/ui/associated-inherent-types/issue-109299.rs
  tests/ui/associated-inherent-types/issue-109299.stderr
  tests/ui/borrowck/generic_const_early_param.rs
  tests/ui/borrowck/generic_const_early_param.stderr
  tests/ui/const-generics/issues/issue-71381.full.stderr
  tests/ui/const-generics/issues/issue-71381.min.stderr
  tests/ui/const-generics/issues/issue-71381.rs
  tests/ui/const-generics/issues/issue-71611.min.stderr
  tests/ui/const-generics/issues/issue-71611.rs
  tests/ui/const_prop/ice-type-mismatch-when-copying-112824.rs
  tests/ui/const_prop/ice-type-mismatch-when-copying-112824.stderr
  tests/ui/generic-associated-types/gat-trait-path-missing-lifetime.rs
  tests/ui/generic-associated-types/gat-trait-path-missing-lifetime.stderr
  tests/ui/generic-associated-types/issue-70304.rs
  tests/ui/generic-associated-types/issue-70304.stderr
  tests/ui/generic-associated-types/issue-71176.rs
  tests/ui/generic-associated-types/issue-71176.stderr
  tests/ui/generic-associated-types/issue-80433.rs
  tests/ui/generic-associated-types/issue-80433.stderr
  tests/ui/impl-trait/in-trait/bad-item-bound-within-rpitit-2.rs
  tests/ui/impl-trait/in-trait/bad-item-bound-within-rpitit-2.stderr
  tests/ui/impl-trait/issues/issue-67830.rs
  tests/ui/impl-trait/issues/issue-67830.stderr
  tests/ui/impl-trait/issues/issue-88236-2.rs
  tests/ui/impl-trait/issues/issue-88236-2.stderr
  tests/ui/impl-trait/nested-rpit-hrtb.rs
  tests/ui/impl-trait/nested-rpit-hrtb.stderr
  tests/ui/layout/issue-84108.rs
  tests/ui/layout/issue-84108.stderr
  tests/ui/lifetimes/issue-69314.fixed
  tests/ui/lifetimes/issue-69314.rs
  tests/ui/lifetimes/issue-69314.stderr
  tests/ui/lifetimes/unusual-rib-combinations.rs
  tests/ui/lifetimes/unusual-rib-combinations.stderr
  tests/ui/parser/issues/issue-103748-ICE-wrong-braces.rs
  tests/ui/parser/issues/issue-103748-ICE-wrong-braces.stderr
Labels: T-compiler, S-waiting-on-bors

#125717 Refactor `#[diagnostic::do_not_recommend]` support
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui/diagnostic_namespace/do_not_recommend/type_mismatch.current.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/type_mismatch.next.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/type_mismatch.rs
Labels: T-compiler, S-waiting-on-bors

#125795 Improve renaming suggestion for names with leading underscores
  compiler/rustc_resolve/src/diagnostics.rs
  tests/ui/macros/expand-full-no-resolution.stderr
  tests/ui/suggestions/silenced-binding-typo.stderr
Labels: T-compiler, S-waiting-on-bors

#125865 Fix ICE caused by ignoring EffectVars in type inference
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/resolve.rs
  tests/crashes/119830.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/spec-effectvar-ice.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/spec-effectvar-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#123536 Simplify `IntVarValue`/`FloatVarValue`
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/lattice.rs
  compiler/rustc_infer/src/infer/relate/type_relating.rs
  compiler/rustc_middle/src/infer/unify_key.rs
  compiler/rustc_middle/src/ty/error.rs
  compiler/rustc_type_ir/src/ty_kind.rs
  tests/ui/parser/recover/recover-range-pats.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#125426 Update `compiler-builtins` test to not clear essential env vars
  tests/run-make/compiler-builtins/rmake.rs
Labels: S-waiting-on-bors, merged-by-bors

#125917 Create `run-make` `env_var` and `env_var_os` helpers
  src/tools/run-make-support/src/cc.rs
  src/tools/run-make-support/src/clang.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/llvm_readobj.rs
  src/tools/run-make-support/src/run.rs
  src/tools/run-make-support/src/rustc.rs
  src/tools/run-make-support/src/rustdoc.rs
  tests/run-make/compiler-builtins/rmake.rs
  tests/run-make/windows-binary-no-external-deps/rmake.rs
Labels: S-waiting-on-bors

#125927 Ignore `vec_deque_alloc_error::test_shrink_to_unwind` test on non-unwind targets
  library/alloc/tests/vec_deque_alloc_error.rs
Labels: S-waiting-on-bors, T-libs

#125932 Fix typo in the docs of `HashMap::raw_entry_mut`
  library/std/src/collections/hash/map.rs
Labels: S-waiting-on-bors, T-libs

#125944 Update fuchsia maintainers
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: S-waiting-on-bors

#125946 Include trailing commas in wrapped function declarations [RustDoc]
  src/librustdoc/html/format.rs
  tests/rustdoc/async-fn.rs
  tests/rustdoc/decl-line-wrapping-empty-arg-list.decl.html
  tests/rustdoc/decl-trailing-whitespace.declaration.html
  tests/rustdoc/inline_cross/impl_trait.rs
  tests/rustdoc/line-breaks.rs
  tests/rustdoc/reexports-priv.rs
Labels: T-rustdoc, S-waiting-on-bors

#125973 Remove `tests/run-make-fulldeps/pretty-expanded`
  tests/run-make-fulldeps/pretty-expanded/Makefile
  tests/run-make-fulldeps/pretty-expanded/input.rs
Labels: S-waiting-on-bors

#125596 Convert `proc_macro_back_compat` lint to an unconditional error.
  compiler/rustc_expand/messages.ftl
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/errors.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_expand/src/proc_macro.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_lint_defs/src/lib.rs
  tests/ui/proc-macro/pretty-print-hack-show.local.stderr
  tests/ui/proc-macro/pretty-print-hack-show.local.stdout
  tests/ui/proc-macro/pretty-print-hack-show.remapped.stderr
  tests/ui/proc-macro/pretty-print-hack-show.remapped.stdout
Labels: T-compiler, S-waiting-on-bors

#125696 Explain differences between `{Once,Lazy}{Cell,Lock}` types
  library/core/src/cell.rs
  library/std/src/sync/lazy_lock.rs
  library/std/src/sync/mod.rs
  library/std/src/sync/once_lock.rs
Labels: S-waiting-on-bors, T-libs

#106186 Add function `core::iter::chain`
  library/core/src/iter/adapters/chain.rs
  library/core/src/iter/adapters/mod.rs
  library/core/src/iter/mod.rs
  library/core/tests/iter/adapters/chain.rs
  library/core/tests/lib.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs, S-waiting-on-ACP

#125903 rustc_span: Inline some hot functions
  compiler/rustc_span/src/span_encoding.rs
  compiler/rustc_span/src/symbol.rs
Labels: T-compiler, S-waiting-on-bors

#125906 Remove a bunch of redundant args from `report_method_error`
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/issues/issue-28344.stderr
  tests/ui/resolve/issue-82865.stderr
  tests/ui/traits/item-privacy.stderr
Labels: T-compiler, S-waiting-on-bors

#125920 Allow static mut definitions with #[linkage]
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  tests/ui/linkage-attr/linkage-attr-mutable-static.rs
  tests/ui/linkage-attr/linkage-attr-mutable-static.stderr
Labels: T-compiler, S-waiting-on-bors

#125982 Make deleting on LinkedList aware of the allocator
  library/alloc/src/collections/linked_list.rs
  library/alloc/src/collections/linked_list/tests.rs
Labels: S-waiting-on-bors, T-libs

#125995 Use inline const blocks to create arrays of `MaybeUninit`.
  library/core/src/mem/maybe_uninit.rs
Labels: S-waiting-on-bors, T-libs

#125996 Closures are recursively reachable
  compiler/rustc_passes/src/reachable.rs
  tests/ui/cross-crate/auxiliary/static_init_aux.rs
  tests/ui/cross-crate/static-init.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#126003 Add a co-maintainer for the two ARMv4T targets
  src/doc/rustc/src/platform-support/armv4t-none-eabi.md
Labels: S-waiting-on-bors

#126004 Add another test for hidden types capturing lifetimes that outlive but arent mentioned in substs
  tests/ui/impl-trait/alias-liveness/tait-hidden-erased-unsoundness-2.rs
  tests/ui/impl-trait/alias-liveness/tait-hidden-erased-unsoundness-2.stderr
Labels: T-compiler, S-waiting-on-bors

#125683 Rewrite `suspicious-library`, `resolve-rename` and `incr-prev-body-beyond-eof` `run-make` tests in `rmake.rs` format
  src/tools/compiletest/src/header.rs
  src/tools/run-make-support/src/rustc.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/incr-prev-body-beyond-eof/Makefile
  tests/run-make/incr-prev-body-beyond-eof/rmake.rs
  tests/run-make/resolve-rename/Makefile
  tests/run-make/resolve-rename/rmake.rs
  tests/run-make/suspicious-library/Makefile
  tests/run-make/suspicious-library/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#125815 `rustc_parse` top-level cleanups
  compiler/rustc_builtin_macros/src/cfg_eval.rs
  compiler/rustc_builtin_macros/src/cmdline_attrs.rs
  compiler/rustc_builtin_macros/src/source_util.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/module.rs
  compiler/rustc_expand/src/proc_macro.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/tokentrees.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/parser/tests.rs
  src/librustdoc/clean/render_macro_matchers.rs
  src/librustdoc/doctest.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  src/tools/clippy/clippy_lints/src/doc/needless_doctest_main.rs
  src/tools/rustfmt/src/parse/macros/mod.rs
  src/tools/rustfmt/src/parse/parser.rs
  tests/ui-fulldeps/mod_dir_path_canonicalized.rs
  tests/ui-fulldeps/pprust-expr-roundtrip.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#125273 bootstrap: implement new feature `bootstrap-self-test`
  src/bootstrap/Cargo.toml
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/tests.rs
  src/bootstrap/src/core/download.rs
  src/bootstrap/src/core/sanity.rs
Labels: T-bootstrap, S-waiting-on-bors

#125911 delete bootstrap build before switching to bumped rustc
  src/bootstrap/bootstrap.py
Labels: T-bootstrap, S-waiting-on-bors

#125940 std::unix::fs::get_path: using fcntl codepath for netbsd instead.
  library/std/src/sys/pal/unix/fs.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#126022 set `has_unconstrained_ty_var` when generalizing aliases in bivariant contexts
  compiler/rustc_infer/src/infer/relate/generalize.rs
  tests/ui/traits/next-solver/generalize/bivariant-alias.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#126037 Rollup of 10 pull requests
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
  compiler/rustc_error_codes/src/error_codes/E0582.md
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/object_safety.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/tests.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  library/std/src/sys/pal/unix/fs.rs
  src/bootstrap/bootstrap.py
  tests/coverage/closure_macro.cov-map
  tests/coverage/closure_macro_async.cov-map
  tests/ui/impl-header-lifetime-elision/assoc-type.rs
  tests/ui/impl-header-lifetime-elision/assoc-type.stderr
  tests/ui/lifetimes/no_lending_iterators.rs
  tests/ui/lifetimes/no_lending_iterators.stderr
  tests/ui/specialization/dont-drop-upcast-candidate.rs
  tests/ui/specialization/dont-drop-upcast-candidate.stderr
  tests/ui/traits/next-solver/generalize/bivariant-alias.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix, WG-trait-system-refactor

#125407 Detect when user is trying to create a lending `Iterator` and give a custom explanation
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/late.rs
  tests/ui/impl-header-lifetime-elision/assoc-type.rs
  tests/ui/impl-header-lifetime-elision/assoc-type.stderr
  tests/ui/lifetimes/no_lending_iterators.rs
  tests/ui/lifetimes/no_lending_iterators.stderr
Labels: T-compiler, S-waiting-on-bors

#125792 Don't drop `Unsize` candidate in intercrate mode
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  tests/ui/specialization/dont-drop-upcast-candidate.rs
  tests/ui/specialization/dont-drop-upcast-candidate.stderr
Labels: T-compiler, S-waiting-on-bors, T-types

#125819 Various `HirTyLowerer` cleanups
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/object_safety.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
Labels: T-compiler, S-waiting-on-bors

#125861 rustc_codegen_ssa: fix `get_rpath_relative_to_output` panic when lib only contains file name
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
Labels: T-compiler, S-waiting-on-bors

#125921 coverage: Carve out hole spans in a separate early pass
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/tests.rs
  tests/coverage/closure_macro.cov-map
  tests/coverage/closure_macro_async.cov-map
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#125505 Add intra-doc-links to rustc_middle crate-level docs.
  compiler/rustc_middle/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#124746 `rustc --explain E0582` additional example
  compiler/rustc_error_codes/src/error_codes/E0582.md
Labels: T-compiler, S-waiting-on-bors

#126008 Port `tests/run-make-fulldeps/issue-19371` to ui-fulldeps
  src/tools/compiletest/src/header.rs
  tests/run-make-fulldeps/issue-19371/Makefile
  tests/ui-fulldeps/run-compiler-twice.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#126032 Update description of the `IsTerminal` example
  library/std/src/io/stdio.rs
Labels: S-waiting-on-bors, T-libs

#126038 Rollup of 9 pull requests
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  library/std/src/io/stdio.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/thread/mod.rs
  src/ci/docker/run.sh
  src/ci/github-actions/jobs.yml
  src/tools/compiletest/src/header.rs
  src/tools/miri/tests/pass/function_calls/abi_compat.rs
  src/tools/tidy/src/issues.txt
  src/tools/tidy/src/ui_tests.rs
  tests/crashes/124490.rs
  tests/crashes/125013-1.rs
  tests/crashes/125013-2.rs
  tests/run-make-fulldeps/issue-19371/Makefile
  tests/ui-fulldeps/run-compiler-twice.rs
  tests/ui/coherence/orphan-check-opaque-types-not-covering.classic.stderr
  tests/ui/coherence/orphan-check-opaque-types-not-covering.next.stderr
  tests/ui/coherence/orphan-check-opaque-types-not-covering.rs
  tests/ui/imports/cycle-import-in-diff-module-0.rs
  tests/ui/imports/cycle-import-in-diff-module-1.rs
  tests/ui/imports/shadow-glob-module-resolution-1.rs
  tests/ui/imports/shadow-glob-module-resolution-1.stderr
  tests/ui/imports/shadow-glob-module-resolution-2.rs
  tests/ui/imports/shadow-glob-module-resolution-2.stderr
  tests/ui/issues/issue-53498.rs
  tests/ui/privacy/ufc-method-call.different_name.stderr
  tests/ui/privacy/ufc-method-call.rs
  tests/ui/privacy/ufc-method-call.same_name.stderr
  tests/ui/type-alias-impl-trait/coherence.classic.stderr
  tests/ui/type-alias-impl-trait/coherence.next.stderr
  tests/ui/type-alias-impl-trait/coherence.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, O-SGX

#125622 Winnow private method candidates instead of assuming any candidate of the right name will apply
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  src/tools/tidy/src/issues.txt
  src/tools/tidy/src/ui_tests.rs
  tests/ui/issues/issue-53498.rs
  tests/ui/privacy/ufc-method-call.different_name.stderr
  tests/ui/privacy/ufc-method-call.rs
  tests/ui/privacy/ufc-method-call.same_name.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#125648 Remove unused(?) `~/rustsrc` folder from docker script
  src/ci/docker/run.sh
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#125672 Add more ABI test cases to miri (RFC 3391)
  compiler/rustc_const_eval/src/interpret/terminator.rs
  src/tools/miri/tests/pass/function_calls/abi_compat.rs
Labels: T-compiler, S-waiting-on-bors

#125800 Fix `mut` static task queue in SGX target
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/thread/mod.rs
Labels: S-waiting-on-bors, T-libs, O-SGX

#125871 Orphanck[old solver]: Consider opaque types to never cover type parameters
  compiler/rustc_trait_selection/src/traits/coherence.rs
  tests/ui/coherence/orphan-check-opaque-types-not-covering.classic.stderr
  tests/ui/coherence/orphan-check-opaque-types-not-covering.next.stderr
  tests/ui/coherence/orphan-check-opaque-types-not-covering.rs
  tests/ui/type-alias-impl-trait/coherence.classic.stderr
  tests/ui/type-alias-impl-trait/coherence.next.stderr
  tests/ui/type-alias-impl-trait/coherence.rs
Labels: T-compiler, S-waiting-on-bors

#125893 Handle all GVN binops in a single place.
  compiler/rustc_mir_transform/src/gvn.rs
Labels: T-compiler, S-waiting-on-bors

#124840 resolve: mark it undetermined if single import is not has any bindings
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  tests/crashes/124490.rs
  tests/crashes/125013-1.rs
  tests/crashes/125013-2.rs
  tests/ui/imports/cycle-import-in-diff-module-0.rs
  tests/ui/imports/cycle-import-in-diff-module-1.rs
  tests/ui/imports/shadow-glob-module-resolution-1.rs
  tests/ui/imports/shadow-glob-module-resolution-1.stderr
  tests/ui/imports/shadow-glob-module-resolution-2.rs
  tests/ui/imports/shadow-glob-module-resolution-2.stderr
Labels: T-compiler, S-waiting-on-bors

#122505 Don't walk the bodies of free constants for reachability.
  compiler/rustc_middle/src/mir/interpret/queries.rs
  compiler/rustc_passes/src/reachable.rs
  tests/codegen/dont_codegen_private_const_fn_only_used_in_const_eval.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#125925 Don't trigger `unsafe_op_in_unsafe_fn` for deprecated safe fns
  compiler/rustc_mir_build/src/check_unsafety.rs
  tests/ui/rust-2024/unsafe-env.e2021.stderr
  tests/ui/rust-2024/unsafe-env.e2024.stderr
  tests/ui/rust-2024/unsafe-env.rs
Labels: T-compiler, S-waiting-on-bors

#126045 check_expr_struct_fields: taint context with errors if struct definit…
  compiler/rustc_hir_typeck/src/expr.rs
  tests/crashes/124552.rs
  tests/ui/static/duplicated-fields-issue-124464.rs
  tests/ui/static/duplicated-fields-issue-124464.stderr
  tests/ui/static/duplicated-fields-issue-125842.rs
  tests/ui/static/duplicated-fields-issue-125842.stderr
Labels: T-compiler, S-waiting-on-bors

#126048 Fix typos in cargo-specifics.md
  src/doc/rustc/src/check-cfg/cargo-specifics.md
Labels: S-waiting-on-bors

#126056 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/doc/rustc/src/check-cfg/cargo-specifics.md
  src/tools/rustbook/Cargo.toml
  src/tools/rustbook/src/main.rs
  tests/crashes/124552.rs
  tests/ui/derives/derive-hrtb-for-bare-fn-field-with-lifetime.rs
  tests/ui/feature-gates/feature-gate-ref_pat_everywhere.rs
  tests/ui/feature-gates/feature-gate-ref_pat_everywhere.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.stderr
  tests/ui/match/ref_pat_everywhere-fail.rs
  tests/ui/match/ref_pat_everywhere-fail.stderr
  tests/ui/match/ref_pat_everywhere.rs
  tests/ui/pattern/feature-gate-mut_preserve_binding_mode_2024.rs
  tests/ui/pattern/feature-gate-mut_preserve_binding_mode_2024.stderr
  tests/ui/pattern/match_ergonomics_2024.fixed
  tests/ui/pattern/match_ergonomics_2024.rs
  tests/ui/pattern/mut_preserve_binding_mode_2021.rs
  tests/ui/pattern/mut_preserve_binding_mode_2024.rs
  tests/ui/pattern/no_ref_mut_behind_and.rs
  tests/ui/rust-2024/unsafe-env.e2021.stderr
  tests/ui/rust-2024/unsafe-env.e2024.stderr
  tests/ui/rust-2024/unsafe-env.rs
  tests/ui/static/duplicated-fields-issue-124464.rs
  tests/ui/static/duplicated-fields-issue-124464.stderr
  tests/ui/static/duplicated-fields-issue-125842.rs
  tests/ui/static/duplicated-fields-issue-125842.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#125987 When `derive`ing, account for HRTB on `BareFn` fields
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  tests/ui/derives/derive-hrtb-for-bare-fn-field-with-lifetime.rs
Labels: S-waiting-on-bors, T-libs

#125168 Match ergonomics 2024: align implementation with RFC
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/feature-gates/feature-gate-ref_pat_everywhere.rs
  tests/ui/feature-gates/feature-gate-ref_pat_everywhere.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.rs
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail.stderr
  tests/ui/match/ref_pat_everywhere-fail.rs
  tests/ui/match/ref_pat_everywhere-fail.stderr
  tests/ui/match/ref_pat_everywhere.rs
  tests/ui/pattern/feature-gate-mut_preserve_binding_mode_2024.rs
  tests/ui/pattern/feature-gate-mut_preserve_binding_mode_2024.stderr
  tests/ui/pattern/match_ergonomics_2024.fixed
  tests/ui/pattern/match_ergonomics_2024.rs
  tests/ui/pattern/mut_preserve_binding_mode_2021.rs
  tests/ui/pattern/mut_preserve_binding_mode_2024.rs
  tests/ui/pattern/no_ref_mut_behind_and.rs
Labels: T-compiler, S-waiting-on-bors, A-patterns, A-edition-2024

#124731 Add translation support by mdbook-i18n-helpers to bootstrap
  Cargo.lock
  src/bootstrap/src/core/build_steps/doc.rs
  src/tools/rustbook/Cargo.toml
  src/tools/rustbook/src/main.rs
Labels: T-bootstrap, S-waiting-on-bors

#126068 Revert "use `tcx.used_crates(())` more" before it reaches beta
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_metadata/src/dependency_format.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_passes/src/diagnostic_items.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_passes/src/weak_lang_items.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/core.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/passes/collect_trait_impls.rs
  src/librustdoc/scrape_examples.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/miri/src/helpers.rs
  tests/run-make/issue-125484-used-dependencies/dependency.rs
  tests/run-make/issue-125484-used-dependencies/main.rs
  tests/run-make/issue-125484-used-dependencies/rmake.rs
  tests/ui/extern-flag/empty-extern-arg.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#126059 Raise `DEFAULT_MIN_STACK_SIZE` to at least 64KiB
  library/std/src/sys/pal/uefi/thread.rs
  library/std/src/sys/pal/unsupported/thread.rs
  library/std/src/sys/pal/wasi/thread.rs
  library/std/src/sys/pal/wasm/atomics/thread.rs
Labels: O-wasm, S-waiting-on-bors, T-libs, O-wasi

#126064 Migrate `run-make/manual-crate-name` to `rmake.rs`
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/manual-crate-name/Makefile
  tests/run-make/manual-crate-name/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#126072 compiletest: Allow multiple `//@ run-flags:` headers
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/rustdoc-gui-test/src/main.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#126073 Port `tests/run-make-fulldeps/obtain-borrowck` to ui-fulldeps
  tests/run-make-fulldeps/obtain-borrowck/Makefile
  tests/ui-fulldeps/auxiliary/obtain-borrowck-input.rs
  tests/ui-fulldeps/obtain-borrowck.rs
  tests/ui-fulldeps/obtain-borrowck.run.stdout
Labels: T-compiler, S-waiting-on-bors

#126081 Do not use relative paths to Rust source root in run-make tests
  src/tools/run-make-support/src/lib.rs
  tests/run-make/alloc-no-oom-handling/rmake.rs
  tests/run-make/alloc-no-rc/rmake.rs
  tests/run-make/alloc-no-sync/rmake.rs
  tests/run-make/core-no-fp-fmt-parse/rmake.rs
  tests/run-make/core-no-oom-handling/rmake.rs
  tests/run-make/rustdoc-scrape-examples-remap/scrape.rs
  tests/run-make/rustdoc-themes/rmake.rs
Labels: S-waiting-on-bors

#126086 use windows compatible executable name for libcxx-version
  src/bootstrap/src/core/build_steps/tool.rs
Labels: T-bootstrap, S-waiting-on-bors

#126104 Rollup of 12 pull requests
  .github/workflows/ci.yml
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_macros/src/query.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  library/core/src/macros/mod.rs
  library/std/src/sys/pal/uefi/thread.rs
  library/std/src/sys/pal/unsupported/thread.rs
  library/std/src/sys/pal/wasi/thread.rs
  library/std/src/sys/pal/wasm/atomics/thread.rs
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/ci/github-actions/jobs.yml
  src/ci/publish_toolstate.sh
  src/doc/rustc/src/platform-support.md
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/rustdoc-gui-test/src/main.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/codegen/riscv-abi/call-llvm-intrinsics.rs
  tests/codegen/riscv-abi/riscv64-lp64d-abi.rs
  tests/codegen/riscv-abi/riscv64-lp64f-lp64d-abi.rs
  tests/run-make-fulldeps/obtain-borrowck/Makefile
  tests/run-make/alloc-no-oom-handling/rmake.rs
  tests/run-make/alloc-no-rc/rmake.rs
  tests/run-make/alloc-no-sync/rmake.rs
  tests/run-make/core-no-fp-fmt-parse/rmake.rs
  tests/run-make/core-no-oom-handling/rmake.rs
  tests/run-make/manual-crate-name/Makefile
  tests/run-make/manual-crate-name/rmake.rs
  tests/run-make/rustdoc-scrape-examples-remap/scrape.rs
  tests/run-make/rustdoc-themes/rmake.rs
  tests/ui-fulldeps/auxiliary/obtain-borrowck-input.rs
  tests/ui-fulldeps/obtain-borrowck.rs
  tests/ui-fulldeps/obtain-borrowck.run.stdout
  tests/ui/debuginfo/debuginfo-emit-llvm-ir-and-split-debuginfo.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, O-wasm, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, A-query-system, O-wasi

#126033 CI: fix publishing of toolstate history
  .github/workflows/ci.yml
  src/ci/github-actions/jobs.yml
  src/ci/publish_toolstate.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#126034 Clarify our tier 1 Windows Server support
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors

#126035 Some minor query system cleanups
  compiler/rustc_macros/src/query.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-query-system

#126051 Clarify an `x fmt` error.
  src/bootstrap/src/core/build_steps/format.rs
Labels: T-bootstrap, S-waiting-on-bors

#125220 Repair several `riscv64gc-unknown-linux-gnu` codegen tests
  tests/codegen/riscv-abi/call-llvm-intrinsics.rs
  tests/codegen/riscv-abi/riscv64-lp64d-abi.rs
  tests/codegen/riscv-abi/riscv64-lp64f-lp64d-abi.rs
  tests/ui/debuginfo/debuginfo-emit-llvm-ir-and-split-debuginfo.rs
Labels: T-compiler, S-waiting-on-bors

#126096 [RFC-2011] Allow `core_intrinsics` when activated
  compiler/rustc_builtin_macros/src/assert/context.rs
  library/core/src/macros/mod.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#125928 Stabilize order of MonoItems in CGUs and disallow query_instability lint for rustc_monomorphize
  compiler/rustc_middle/src/mir/mono.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#126098 Remove `same-lib-two-locations-no-panic` run-make test
  tests/run-make/same-lib-two-locations-no-panic/bar.rs
  tests/run-make/same-lib-two-locations-no-panic/foo.rs
  tests/run-make/same-lib-two-locations-no-panic/rmake.rs
Labels: S-waiting-on-bors

#126101 Revert "Disallow ambiguous attributes on expressions" on nightly
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  src/tools/clippy/tests/ui/cfg_attr_rustfmt.fixed
  src/tools/clippy/tests/ui/cfg_attr_rustfmt.rs
  src/tools/rustfmt/tests/source/attrib.rs
  src/tools/rustfmt/tests/target/attrib.rs
  tests/pretty/ast-stmt-expr-attr.rs
  tests/pretty/stmt_expr_attributes.rs
  tests/ui/lint/unused/unused-doc-comments-edge-cases.rs
  tests/ui/lint/unused/unused-doc-comments-edge-cases.stderr
  tests/ui/parser/attribute/attr-binary-expr-ambigous.fixed
  tests/ui/parser/attribute/attr-binary-expr-ambigous.rs
  tests/ui/parser/attribute/attr-binary-expr-ambigous.stderr
  tests/ui/proc-macro/issue-81555.rs
Labels: T-compiler, S-waiting-on-bors

#126103 Improve Docs for `hir::Impl` and `hir::ImplItem`
  compiler/rustc_hir/src/hir.rs
Labels: T-compiler, S-waiting-on-bors

#126040 Don't warn on fields in the `unreachable_pub` lint
  compiler/rustc_lint/src/builtin.rs
  tests/ui/lint/unreachable_pub.rs
  tests/ui/lint/unreachable_pub.stderr
Labels: T-compiler, S-waiting-on-bors

#126099 Crate loader cleanups
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_session/src/filesearch.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors

#125606 Size optimize int formatting
  library/core/src/fmt/num.rs
Labels: S-waiting-on-bors, T-libs

#125724 Uplift `Relate`/`TypeRelation` into `rustc_next_trait_solver`
  Cargo.lock
  compiler/rustc_borrowck/src/constraints/mod.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_infer/Cargo.toml
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/outlives/test_type_match.rs
  compiler/rustc_infer/src/infer/region_constraints/leak_check.rs
  compiler/rustc_infer/src/infer/relate/_match.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_infer/src/infer/relate/glb.rs
  compiler/rustc_infer/src/infer/relate/higher_ranked.rs
  compiler/rustc_infer/src/infer/relate/lattice.rs
  compiler/rustc_infer/src/infer/relate/lub.rs
  compiler/rustc_infer/src/infer/relate/mod.rs
  compiler/rustc_infer/src/infer/relate/type_relating.rs
  compiler/rustc_middle/Cargo.toml
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/traits/query.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/ty/adt.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/error.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_next_trait_solver/Cargo.toml
  compiler/rustc_next_trait_solver/src/resolve.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/error.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/macros.rs
  compiler/rustc_type_ir/src/predicate.rs
  compiler/rustc_type_ir/src/relate.rs
  compiler/rustc_type_ir/src/solve.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#125918 Revert: create const block bodies in typeck via query feeding
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_const_eval/src/const_eval/fn_queries.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir/src/stable_hash_impls.rs
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/cx/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_passes/src/check_const.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_passes/src/loops.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/late.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/tests/ui/arithmetic_side_effects.stderr
  tests/codegen/sanitizer/cfi/emit-type-metadata-id-itanium-cxx-abi-paths.rs
  tests/mir-opt/building/custom/consts.consts.built.after.mir
  tests/pretty/stmt_expr_attributes.rs
  tests/ui/inline-const/const_block_pat_liveness.rs
  tests/ui/lint/non-local-defs/consts.stderr
  tests/ui/unpretty/expanded-exhaustive.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, PG-exploit-mitigations

#125798 rustdoc: Refactor doctest collection and running code
  src/librustdoc/doctest.rs
  src/librustdoc/doctest/make.rs
  src/librustdoc/doctest/markdown.rs
  src/librustdoc/doctest/rust.rs
  src/librustdoc/doctest/tests.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/lib.rs
  src/librustdoc/markdown.rs
  src/librustdoc/passes/check_doc_test_visibility.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, A-doctests, merged-by-bors

#126030 Update `./x fmt` command in library/std/src/sys/pal/windows/c/README.md
  library/std/src/sys/pal/windows/c/README.md
Labels: O-windows, S-waiting-on-bors, T-libs

#126047 Simplify the rayon calls in the installer
  src/tools/rust-installer/src/compression.rs
Labels: T-bootstrap, S-waiting-on-bors

#126052 More `rustc_parse` cleanups
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/mut_visit/tests.rs
  compiler/rustc_parse/src/parser/path.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_parse/src/validate_attr.rs
Labels: T-compiler, S-waiting-on-bors

#126077 Revert "Use the HIR instead of mir_keys for determining whether something will have a MIR body."
  compiler/rustc_mir_transform/src/lib.rs
  tests/ui-fulldeps/stable-mir/check_instance.rs
Labels: T-compiler, S-waiting-on-bors

#126089 Stabilize Option::take_if
  compiler/rustc_trait_selection/src/lib.rs
  library/core/src/option.rs
Labels: T-libs-api, relnotes, S-waiting-on-bors, T-libs

#126112 Clean up source root in run-make tests
  src/tools/compiletest/src/runtest.rs
  src/tools/run-make-support/src/lib.rs
  tests/run-make/CURRENT_RUSTC_VERSION/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#126119 Improve docs for using custom paths with `--emit`
  src/doc/rustc/src/command-line-arguments.md
Labels: S-waiting-on-bors

#125572 Detect pub structs never constructed and unused associated constants
  compiler/rustc_passes/src/dead.rs
  tests/codegen-units/item-collection/generic-impl.rs
  tests/codegen-units/item-collection/overloaded-operators.rs
  tests/ui/coherence/re-rebalance-coherence.rs
  tests/ui/const-generics/defaults/repr-c-issue-82792.rs
  tests/ui/const-generics/generic_const_exprs/associated-consts.rs
  tests/ui/const-generics/transparent-maybeunit-array-wrapper.rs
  tests/ui/derives/clone-debug-dead-code-in-the-same-struct.rs
  tests/ui/derives/clone-debug-dead-code-in-the-same-struct.stderr
  tests/ui/issues/issue-5708.rs
  tests/ui/lint/dead-code/lint-dead-code-1.rs
  tests/ui/lint/dead-code/lint-dead-code-1.stderr
  tests/ui/lint/dead-code/unused-assoc-const.rs
  tests/ui/lint/dead-code/unused-assoc-const.stderr
  tests/ui/lint/dead-code/unused-pub-struct.rs
  tests/ui/lint/dead-code/unused-pub-struct.stderr
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.fixed
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.rs
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.stderr
  tests/ui/pub/pub-ident-struct-4.fixed
  tests/ui/pub/pub-ident-struct-4.rs
  tests/ui/pub/pub-ident-struct-4.stderr
  tests/ui/regions/regions-issue-21422.rs
  tests/ui/structs-enums/newtype-struct-with-dtor.rs
  tests/ui/structs-enums/uninstantiable-struct.rs
  tests/ui/suggestions/derive-clone-for-eq.fixed
  tests/ui/suggestions/derive-clone-for-eq.rs
  tests/ui/suggestions/derive-clone-for-eq.stderr
  tests/ui/suggestions/option-content-move.fixed
  tests/ui/suggestions/option-content-move.rs
  tests/ui/suggestions/option-content-move.stderr
  tests/ui/traits/object/generics.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#125781 prefer `compile::stream_cargo` for building tools
  src/bootstrap/src/core/build_steps/tool.rs
Labels: T-bootstrap, S-waiting-on-bors

#124214 Parse unsafe attributes
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/cmdline_attrs.rs
  compiler/rustc_builtin_macros/src/derive.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/lib.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_span/src/symbol.rs
  src/librustdoc/clean/cfg/tests.rs
  tests/ui/attributes/unsafe/cfg-unsafe-attributes.rs
  tests/ui/attributes/unsafe/derive-unsafe-attributes.rs
  tests/ui/attributes/unsafe/derive-unsafe-attributes.stderr
  tests/ui/attributes/unsafe/double-unsafe-attributes.rs
  tests/ui/attributes/unsafe/double-unsafe-attributes.stderr
  tests/ui/attributes/unsafe/unsafe-attributes.rs
  tests/ui/attributes/unsafe/unsafe-safe-attribute.rs
  tests/ui/attributes/unsafe/unsafe-safe-attribute.stderr
  tests/ui/attributes/unsafe/unsafe-safe-attribute_diagnostic.rs
  tests/ui/attributes/unsafe/unsafe-safe-attribute_diagnostic.stderr
  tests/ui/feature-gates/feature-gate-unsafe-attributes.rs
  tests/ui/feature-gates/feature-gate-unsafe-attributes.stderr
Labels: T-compiler, S-waiting-on-bors

#124012 Stabilize `binary_heap_as_slice`
  library/alloc/src/collections/binary_heap/mod.rs
  library/alloc/tests/lib.rs
Labels: T-libs-api, S-waiting-on-bors

#126114 Set version number to 1.81.0
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#125951 Stabilize `error_in_core`
  library/alloc/src/lib.rs
  library/core/src/error.rs
  library/core/tests/lib.rs
  library/std/src/lib.rs
  src/tools/clippy/tests/ui/std_instead_of_core.fixed
  src/tools/clippy/tests/ui/std_instead_of_core.rs
  src/tools/clippy/tests/ui/std_instead_of_core.stderr
Labels: T-libs-api, S-waiting-on-bors, T-libs

#125998 std::unix::fs::get_mode implementation for illumos/solaris.
  library/std/src/sys/pal/unix/fs.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#126057 Make html rendered by rustdoc allow searching non-English identifier / alias
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/js/externs.js
  src/librustdoc/html/static/js/search.js
  src/tools/rustdoc-gui/.eslintrc.js
  src/tools/rustdoc-js/.eslintrc.js
  tests/rustdoc-js-std/parser-errors.js
  tests/rustdoc-js/basic.js
  tests/rustdoc-js/doc-alias.js
  tests/rustdoc-js/doc-alias.rs
  tests/rustdoc-js/non-english-identifier.js
  tests/rustdoc-js/non-english-identifier.rs
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#126065 mark binding undetermined if target name exist and not obtained
  compiler/rustc_resolve/src/ident.rs
  tests/ui/imports/cycle-import-in-std-1.rs
  tests/ui/imports/cycle-import-in-std-1.stderr
  tests/ui/imports/cycle-import-in-std-2.rs
  tests/ui/imports/cycle-import-in-std-2.stderr
Labels: T-compiler, S-waiting-on-bors

#126105 Add debugging utils and comments to Fuchsia scripts
  src/ci/docker/host-x86_64/x86_64-gnu-integration/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-integration/build-fuchsia.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#126138 Fix typo in docs for std::pin
  library/core/src/pin.rs
Labels: S-waiting-on-bors, T-libs

#126144 Rollup of 6 pull requests
  compiler/rustc_resolve/src/ident.rs
  library/alloc/src/lib.rs
  library/core/src/error.rs
  library/core/src/pin.rs
  library/core/tests/lib.rs
  library/std/src/lib.rs
  library/std/src/sys/pal/unix/fs.rs
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-integration/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-integration/build-fuchsia.sh
  src/librustdoc/html/static/.eslintrc.js
  src/librustdoc/html/static/js/externs.js
  src/librustdoc/html/static/js/search.js
  src/tools/clippy/tests/ui/std_instead_of_core.fixed
  src/tools/clippy/tests/ui/std_instead_of_core.rs
  src/tools/clippy/tests/ui/std_instead_of_core.stderr
  src/tools/rustdoc-gui/.eslintrc.js
  src/tools/rustdoc-js/.eslintrc.js
  tests/rustdoc-js-std/parser-errors.js
  tests/rustdoc-js/basic.js
  tests/rustdoc-js/doc-alias.js
  tests/rustdoc-js/doc-alias.rs
  tests/rustdoc-js/non-english-identifier.js
  tests/rustdoc-js/non-english-identifier.rs
  tests/ui/imports/cycle-import-in-std-1.rs
  tests/ui/imports/cycle-import-in-std-1.stderr
  tests/ui/imports/cycle-import-in-std-2.rs
  tests/ui/imports/cycle-import-in-std-2.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, O-unix

#126111 Port `tests/run-make-fulldeps/hotplug_codegen_backend` to ui-fulldeps
  src/doc/unstable-book/src/compiler-flags/codegen-backend.md
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  tests/run-make-fulldeps/README.md
  tests/run-make-fulldeps/hotplug_codegen_backend/Makefile
  tests/run-make-fulldeps/hotplug_codegen_backend/some_crate.rs
  tests/ui-fulldeps/codegen-backend/auxiliary/the_backend.rs
  tests/ui-fulldeps/codegen-backend/hotplug.bindep.stdout
  tests/ui-fulldeps/codegen-backend/hotplug.dep.stdout
  tests/ui-fulldeps/codegen-backend/hotplug.normal.stdout
  tests/ui-fulldeps/codegen-backend/hotplug.rs
  tests/ui/io-checks/non-ice-error-on-worker-io-fail.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#126116 CI: remove `Setup Python` action
  .github/workflows/ci.yml
Labels: S-waiting-on-bors, merged-by-bors

#125966 Implement `os_string_pathbuf_leak`
  library/std/src/ffi/os_str.rs
  library/std/src/ffi/os_str/tests.rs
  library/std/src/path.rs
  library/std/src/path/tests.rs
  library/std/src/sys/os_str/bytes.rs
  library/std/src/sys/os_str/wtf8.rs
  library/std/src/sys_common/wtf8.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#126132 config.example.toml: minor improves
  config.example.toml
Labels: T-bootstrap, S-waiting-on-bors
