Repository rust-lang/rust, pull requests merged in 2024-12, with the labels that each got.

#133365 Make `compare_impl_item` into a query
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item/refine.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_ty_utils/src/instance.rs
  tests/crashes/119701.rs
  tests/crashes/121127.rs
  tests/crashes/121411.rs
  tests/crashes/129075.rs
  tests/crashes/129127.rs
  tests/crashes/129214.rs
  tests/crashes/131294-2.rs
  tests/crashes/131294.rs
  tests/ui/const-generics/issues/issue-83765.stderr
  tests/ui/impl-trait/in-trait/refine-cycle.rs
  tests/ui/traits/const-traits/eval-bad-signature.rs
  tests/ui/traits/const-traits/eval-bad-signature.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#133499 Respect verify-llvm-ir option in the backend
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  tests/crashes/109681.rs
  tests/crashes/34127.rs
  tests/ui/linkage-attr/common-linkage-non-zero-init.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#133515 fix: hurd build, stat64.st_fsid was renamed to st_dev
  library/Cargo.lock
  library/std/Cargo.toml
  library/std/src/os/hurd/fs.rs
  library/std/src/sys/pal/unix/os.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#133622 update link to "C++ Exceptions under the hood" blog
  library/panic_unwind/src/gcc.rs
  library/std/src/sys/personality/gcc.rs
Labels: S-waiting-on-bors, T-libs

#133660 Do not create trait object type if missing associated types
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  tests/crashes/131668.rs
  tests/ui/associated-type-bounds/overlaping-bound-suggestion.rs
  tests/ui/associated-type-bounds/overlaping-bound-suggestion.stderr
  tests/ui/async-await/async-fn/dyn-pos.rs
  tests/ui/async-await/async-fn/dyn-pos.stderr
  tests/ui/dyn-compatibility/missing-assoc-type.rs
  tests/ui/dyn-compatibility/missing-assoc-type.stderr
  tests/ui/issues/issue-21950.rs
  tests/ui/issues/issue-21950.stderr
  tests/ui/issues/issue-28344.rs
  tests/ui/issues/issue-28344.stderr
  tests/ui/suggestions/trait-hidden-method.rs
  tests/ui/suggestions/trait-hidden-method.stderr
Labels: T-compiler, S-waiting-on-bors

#133689 Fixed typos by changing `happend` to `happened`
  compiler/rustc_lint/messages.ftl
  tests/ui/lint/reference_casting.stderr
Labels: T-compiler, S-waiting-on-bors

#133694 Rollup of 8 pull requests
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_span/src/symbol.rs
  library/Cargo.lock
  library/core/src/ops/control_flow.rs
  library/panic_unwind/src/gcc.rs
  library/std/Cargo.toml
  library/std/src/os/hurd/fs.rs
  library/std/src/path.rs
  library/std/src/sys/pal/teeos/mod.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unix/os.rs
  library/std/src/sys/pal/unix/sync/condvar.rs
  library/std/src/sys/pal/unix/sync/mod.rs
  library/std/src/sys/pal/unix/sync/mutex.rs
  library/std/src/sys/personality/gcc.rs
  library/std/src/sys/sync/condvar/pthread.rs
  library/std/src/sys/sync/condvar/sgx.rs
  library/std/src/sys/sync/mutex/pthread.rs
  library/std/src/sys/sync/mutex/sgx.rs
  library/std/src/sys/sync/once_box.rs
  library/std/src/sys/sync/thread_parking/pthread.rs
  tests/crashes/131668.rs
  tests/ui/associated-type-bounds/all-generics-lookup.rs
  tests/ui/associated-type-bounds/overlaping-bound-suggestion.rs
  tests/ui/associated-type-bounds/overlaping-bound-suggestion.stderr
  tests/ui/async-await/async-fn/dyn-pos.rs
  tests/ui/async-await/async-fn/dyn-pos.stderr
  tests/ui/dyn-compatibility/missing-assoc-type.rs
  tests/ui/dyn-compatibility/missing-assoc-type.stderr
  tests/ui/issues/issue-21950.rs
  tests/ui/issues/issue-21950.stderr
  tests/ui/issues/issue-28344.rs
  tests/ui/issues/issue-28344.stderr
  tests/ui/lint/reference_casting.stderr
  tests/ui/suggestions/trait-hidden-method.rs
  tests/ui/suggestions/trait-hidden-method.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#128184 std: refactor `pthread`-based synchronization
  library/std/src/sys/pal/teeos/mod.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unix/sync/condvar.rs
  library/std/src/sys/pal/unix/sync/mod.rs
  library/std/src/sys/pal/unix/sync/mutex.rs
  library/std/src/sys/sync/condvar/pthread.rs
  library/std/src/sys/sync/condvar/sgx.rs
  library/std/src/sys/sync/mutex/pthread.rs
  library/std/src/sys/sync/mutex/sgx.rs
  library/std/src/sys/sync/once_box.rs
  library/std/src/sys/sync/thread_parking/pthread.rs
Labels: S-waiting-on-bors, T-libs, O-SGX, O-unix, A-atomic

#132047 Robustify and genericize return-type-notation resolution in `resolve_bound_vars`
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/lib.rs
  tests/ui/associated-type-bounds/all-generics-lookup.rs
Labels: T-compiler, S-waiting-on-bors, F-return_type_notation

#133602 fix: fix codeblocks in `PathBuf` example
  library/std/src/path.rs
Labels: S-waiting-on-bors, T-libs

#133686 Add diagnostic item for `std::ops::ControlFlow`
  compiler/rustc_span/src/symbol.rs
  library/core/src/ops/control_flow.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#132390 bootstrap: show diagnostics relative to rustc src dir
  src/bootstrap/bootstrap.py
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/cargo.rs
  tests/ui/extern/extern-types-field-offset.run.stderr
  tests/ui/extern/extern-types-size_of_val.align.run.stderr
  tests/ui/extern/extern-types-size_of_val.size.run.stderr
  tests/ui/panics/panic-in-cleanup.run.stderr
  tests/ui/panics/panic-in-ffi.run.stderr
  tests/ui/process/println-with-broken-pipe.run.stderr
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#132974 Properly pass linker arguments that contain commas
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/linker/tests.rs
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
Labels: T-compiler, S-waiting-on-bors

#133403 Make `adjust_fulfillment_errors` work with `HostEffectPredicate` and `const_conditions`
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_hir_typeck/src/place_op.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/consts/const-block-const-bound.stderr
  tests/ui/consts/constifconst-call-in-const-position.stderr
  tests/ui/consts/fn_trait_refs.stderr
  tests/ui/impl-trait/normalize-tait-in-const.stderr
  tests/ui/traits/const-traits/assoc-type-const-bound-usage-fail-2.stderr
  tests/ui/traits/const-traits/assoc-type-const-bound-usage-fail.stderr
  tests/ui/traits/const-traits/call-const-closure.stderr
  tests/ui/traits/const-traits/call-const-in-tilde-const.stderr
  tests/ui/traits/const-traits/call-const-trait-method-fail.stderr
  tests/ui/traits/const-traits/call-generic-method-nonconst.stderr
  tests/ui/traits/const-traits/const-default-method-bodies.stderr
  tests/ui/traits/const-traits/const-drop-bound.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.precise.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.rs
  tests/ui/traits/const-traits/const-drop-fail.stock.stderr
  tests/ui/traits/const-traits/const-opaque.no.stderr
  tests/ui/traits/const-traits/cross-crate.gatednc.stderr
  tests/ui/traits/const-traits/default-method-body-is-const-body-checking.stderr
  tests/ui/traits/const-traits/default-method-body-is-const-same-trait-ck.stderr
  tests/ui/traits/const-traits/effects/minicore-fn-fail.stderr
  tests/ui/traits/const-traits/effects/no-explicit-const-params.stderr
  tests/ui/traits/const-traits/specializing-constness-2.stderr
  tests/ui/traits/const-traits/super-traits-fail-2.yn.stderr
  tests/ui/traits/const-traits/super-traits-fail-2.yy.stderr
  tests/ui/traits/const-traits/super-traits-fail-3.yn.stderr
  tests/ui/traits/const-traits/tilde-const-and-const-params.stderr
  tests/ui/traits/const-traits/trait-where-clause-const.stderr
  tests/ui/traits/const-traits/unsatisfied-const-trait-bound.stderr
Labels: T-compiler, S-waiting-on-bors

#133482 Only error raw lifetime followed by `\'` in edition 2021+
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_parse/src/lexer/mod.rs
  tests/ui/lifetimes/raw/immediately-followed-by-lt.e2021.stderr
  tests/ui/lifetimes/raw/immediately-followed-by-lt.rs
Labels: T-compiler, S-waiting-on-bors

#133595 Do not emit `missing_doc_code_examples` rustdoc lint on module and a few other items
  src/doc/rustdoc/src/unstable-features.md
  src/librustdoc/passes/check_doc_test_visibility.rs
  tests/rustdoc-ui/coverage/doc-examples-json.stdout
  tests/rustdoc-ui/coverage/doc-examples.stdout
  tests/rustdoc-ui/coverage/json.stdout
  tests/rustdoc-ui/lints/check.rs
  tests/rustdoc-ui/lints/check.stderr
  tests/rustdoc-ui/lints/doc-without-codeblock.rs
  tests/rustdoc-ui/lints/doc-without-codeblock.stderr
  tests/rustdoc-ui/lints/lint-missing-doc-code-example.rs
  tests/rustdoc-ui/lints/lint-missing-doc-code-example.stderr
  tests/rustdoc-ui/show-coverage-json.stdout
  tests/rustdoc-ui/show-coverage.stdout
Labels: T-rustdoc, S-waiting-on-bors

#133669 Move some functions out of const_swap feature gate
  library/core/src/ptr/mod.rs
  library/core/src/slice/mod.rs
  library/core/tests/lib.rs
  library/core/tests/ptr.rs
  tests/ui/consts/missing_span_in_backtrace.rs
Labels: S-waiting-on-bors, T-libs

#133674 Fix chaining `carrying_add`s
  library/core/src/num/uint_macros.rs
  tests/assembly/x86_64-bigint-add.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#133691 Check let source before suggesting annotation
  compiler/rustc_hir_typeck/src/fallback.rs
  tests/ui/never_type/lint-breaking-2024-assign-underscore.fixed
  tests/ui/never_type/lint-breaking-2024-assign-underscore.rs
  tests/ui/never_type/lint-breaking-2024-assign-underscore.stderr
Labels: T-compiler, S-waiting-on-bors

#133345 Stop cloning `Context` so much
  src/librustdoc/formats/renderer.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/sidebar.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/json/mod.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#133546 [beta] Revert r-a completions breakage
  src/tools/rust-analyzer/crates/ide-completion/src/config.rs
  src/tools/rust-analyzer/crates/ide-completion/src/lib.rs
  src/tools/rust-analyzer/crates/ide-completion/src/tests.rs
  src/tools/rust-analyzer/crates/ide/src/lib.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/config.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/handlers/request.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/integrated_benchmarks.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/lsp/capabilities.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/lsp/ext.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/lsp/to_proto.rs
  src/tools/rust-analyzer/docs/dev/lsp-extensions.md
Labels: S-waiting-on-bors, T-release, merged-by-bors

#133712 rust_analyzer_settings: force use of 'nightly' toolchain
  src/bootstrap/src/core/build_steps/setup.rs
  src/etc/rust_analyzer_settings.json
Labels: T-bootstrap, S-waiting-on-bors

#133566 fast-reject: add cache
  compiler/rustc_type_ir/src/fast_reject.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#133589 Remove `hir::ArrayLen`
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_lints/src/large_stack_arrays.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_lints/src/zero_repeat_side_effects.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/clippy/tests/ui/author/repeat.stdout
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#133672 Remove a bunch of unnecessary const stability noise
  library/alloc/src/collections/binary_heap/mod.rs
  library/alloc/src/lib.rs
  library/alloc/tests/lib.rs
  library/core/src/cell.rs
  library/core/src/lib.rs
  library/core/src/num/nonzero.rs
  library/core/src/num/uint_macros.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/unique.rs
  library/core/src/slice/mod.rs
  library/core/tests/lib.rs
  library/proc_macro/src/lib.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#133678 Stabilize `ptr::fn_addr_eq`
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, T-libs

#133727 Update mailmap
  .mailmap
Labels: S-waiting-on-bors, A-meta

#133728 Rollup of 4 pull requests
  .mailmap
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  library/alloc/src/collections/binary_heap/mod.rs
  library/alloc/src/lib.rs
  library/alloc/tests/lib.rs
  library/core/src/cell.rs
  library/core/src/lib.rs
  library/core/src/num/nonzero.rs
  library/core/src/num/uint_macros.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/unique.rs
  library/core/src/slice/mod.rs
  library/core/tests/lib.rs
  library/proc_macro/src/lib.rs
  library/std/src/lib.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_lints/src/large_stack_arrays.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_lints/src/zero_repeat_side_effects.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/clippy/tests/ui/author/repeat.stdout
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, CI-spurious-fail-msvc

#133626 check local cache even if global is usable
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#133739 Re-add myself to rotation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#133744 Fix typo README.md
  tests/ui/README.md
Labels: T-compiler, T-bootstrap, S-waiting-on-bors

#133751 remove `Ty::is_copy_modulo_regions`
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/drop_forget_useless.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_build/src/build/expr/as_operand.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_transform/src/validate.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_ty_utils/src/needs_drop.rs
  src/tools/clippy/clippy_lints/src/methods/manual_inspect.rs
  src/tools/clippy/clippy_lints/src/question_mark.rs
  src/tools/clippy/clippy_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#133757 `impl Default for EarlyDiagCtxt`
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors

#133760 Rollup of 13 pull requests
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/util/parser.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/drop_forget_useless.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_build/src/build/expr/as_operand.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
  compiler/rustc_mir_transform/src/validate.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_ty_utils/src/needs_drop.rs
  library/core/src/slice/mod.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
  src/tools/clippy/clippy_lints/src/loops/single_element_loop.rs
  src/tools/clippy/clippy_lints/src/matches/manual_utils.rs
  src/tools/clippy/clippy_lints/src/methods/manual_inspect.rs
  src/tools/clippy/clippy_lints/src/neg_multiply.rs
  src/tools/clippy/clippy_lints/src/question_mark.rs
  src/tools/clippy/clippy_lints/src/redundant_slicing.rs
  src/tools/clippy/clippy_lints/src/transmute/transmutes_expressible_as_ptr_casts.rs
  src/tools/clippy/clippy_utils/src/ty.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/directive-list.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/runtest.rs
  tests/rustdoc-json/impls/trait-for-dyn-trait.rs
  tests/rustdoc-json/statics/extern.rs
  tests/rustdoc-json/statics/statics.rs
  tests/ui-fulldeps/pprust-parenthesis-insertion.rs
  tests/ui/README.md
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, A-rustdoc-json, A-compiletest

#133603 Eliminate magic numbers from expression precedence
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/util/parser.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/stmt.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
  src/tools/clippy/clippy_lints/src/loops/single_element_loop.rs
  src/tools/clippy/clippy_lints/src/matches/manual_utils.rs
  src/tools/clippy/clippy_lints/src/neg_multiply.rs
  src/tools/clippy/clippy_lints/src/redundant_slicing.rs
  src/tools/clippy/clippy_lints/src/transmute/transmutes_expressible_as_ptr_casts.rs
Labels: A-pretty, A-parser, T-compiler, S-waiting-on-bors

#133715 rustdoc-json: Include safety of `static`s
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  tests/rustdoc-json/statics/extern.rs
  tests/rustdoc-json/statics/statics.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#133721 rustdoc-json: Add test for `impl Trait for dyn Trait`
  tests/rustdoc-json/impls/trait-for-dyn-trait.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#133725 Remove `//@ compare-output-lines-by-subset`
  src/tools/compiletest/src/directive-list.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#133730 Add pretty-printer parenthesis insertion test
  tests/ui-fulldeps/pprust-parenthesis-insertion.rs
Labels: A-pretty, T-compiler, S-waiting-on-bors

#133736 Add `needs-target-has-atomic` directive
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/directive-list.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/compiletest/src/header/tests.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-compiletest

#133743 Fix docs for `<[T]>::as_array`.
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#133745 Remove static HashSet for default IDs list
  src/librustdoc/html/markdown.rs
Labels: T-rustdoc, S-waiting-on-bors

#133749 mir validator: don't store mir phase
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
  compiler/rustc_mir_transform/src/validate.rs
Labels: T-compiler, S-waiting-on-bors

#133747 build `rustc` with 1 CGU on `aarch64-apple-darwin`
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#131713 Stabilize `const_maybe_uninit_write`
  library/core/src/mem/maybe_uninit.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#133535 show forbidden_lint_groups in future-compat reports
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/lint/forbid-group-group-2.stderr
  tests/ui/lint/forbid-group-member.stderr
  tests/ui/lint/issue-70819-dont-override-forbid-in-same-scope.stderr
  tests/ui/lint/outer-forbid.stderr
Labels: T-compiler, S-waiting-on-bors

#133610 Move `Const::{from_anon_const,try_from_lit}` to hir_ty_lowering
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/collect/dump.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_middle/src/ty/consts.rs
  tests/crashes/121429.rs
  tests/ui/attributes/dump_def_parents.rs
  tests/ui/attributes/dump_def_parents.stderr
  tests/ui/const-generics/issues/cg-in-dyn-issue-128176.rs
  tests/ui/const-generics/issues/issue-83765.stderr
Labels: T-compiler, S-waiting-on-bors, A-const-generics

#133701 Use c"lit" for CStrings without unwrap
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_error_codes/src/error_codes/E0060.md
  library/alloc/src/ffi/c_str.rs
  library/alloc/src/ffi/c_str/tests.rs
  library/alloc/src/rc/tests.rs
  library/alloc/src/sync/tests.rs
  library/std/src/sys/pal/unix/process/process_common.rs
  src/tools/miri/tests/pass-dep/libc/libc-fs-symlink.rs
  src/tools/miri/tests/pass-dep/libc/libc-fs-with-isolation.rs
  src/tools/miri/tests/pass-dep/libc/libc-mem.rs
  src/tools/rust-analyzer/crates/profile/src/memory_usage.rs
  tests/run-make/libtest-thread-limit/rmake.rs
  tests/ui/process/env-funky-keys.rs
Labels: T-compiler, S-waiting-on-bors, T-libs, O-unix, A-run-make

#133704 fix ICE when promoted has layout size overflow
  compiler/rustc_const_eval/src/const_eval/error.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  tests/crashes/125476.rs
  tests/ui/const-generics/generic_const_exprs/unevaluated-const-ice-119731.stderr
  tests/ui/consts/const-integer-bool-ops.stderr
  tests/ui/consts/const-mut-refs/issue-76510.stderr
  tests/ui/consts/const-tup-index-span.stderr
  tests/ui/consts/issue-54954.stderr
  tests/ui/consts/missing_assoc_const_type2.stderr
  tests/ui/consts/promoted_running_out_of_memory_issue-130687.stderr
  tests/ui/consts/promoted_size_overflow.rs
  tests/ui/consts/promoted_size_overflow.stderr
  tests/ui/consts/uninhabited-const-issue-61744.rs
  tests/ui/consts/uninhabited-const-issue-61744.stderr
  tests/ui/enum-discriminant/issue-41394.stderr
  tests/ui/explicit-tail-calls/ctfe-id-unlimited.return.stderr
  tests/ui/layout/base-layout-is-sized-ice-123078.stderr
  tests/ui/limits/issue-55878.stderr
  tests/ui/resolve/generic-params-from-outer-item-in-const-item.default.stderr
  tests/ui/resolve/generic-params-from-outer-item-in-const-item.generic_const_items.stderr
  tests/ui/resolve/issue-50599.stderr
  tests/ui/rfcs/rfc-2497-if-let-chains/avoid-invalid-mir.stderr
  tests/ui/self/arbitrary-self-from-method-substs-ice.stderr
  tests/ui/type/type-dependent-def-issue-49241.stderr
Labels: T-compiler, S-waiting-on-bors

#133705 add "profiler" and "optimized-compiler-builtins" option coverage for ci-rustc
  src/bootstrap/src/core/config/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#133710 Reducing `target_feature` check-cfg merge conflicts
  src/tools/compiletest/src/header.rs
  tests/ui/check-cfg/and-more-diagnostic.rs
  tests/ui/check-cfg/and-more-diagnostic.stderr
  tests/ui/check-cfg/mix.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/target_feature.rs
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-compiletest

#133732 Fix `-Zdump-mir-dataflow`
  compiler/rustc_mir_dataflow/src/framework/cursor.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/mod.rs
  compiler/rustc_mir_dataflow/src/framework/results.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  tests/mir-opt/dataflow.main.maybe_init.borrowck.dot
  tests/mir-opt/dataflow.rs
Labels: T-compiler, S-waiting-on-bors

#133746 Change `AttrArgs::Eq` to a struct variant
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_resolve/src/rustdoc.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_lints/src/attrs/should_panic_without_expect.rs
  src/tools/clippy/clippy_lints/src/doc/include_in_doc_without_cfg.rs
  src/tools/clippy/clippy_lints/src/large_include_file.rs
  src/tools/clippy/clippy_utils/src/ast_utils.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#133763 Fix `f16::midpoint` const feature gate
  library/core/src/num/f16.rs
Labels: S-waiting-on-bors, T-libs

#133321 Get rid of HIR const checker
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/check_consts/ops.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/util/call_kind.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_const.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/lib.rs
  tests/ui/coercion/coerce-loop-issue-122561.rs
  tests/ui/coercion/coerce-loop-issue-122561.stderr
  tests/ui/consts/const-fn-error.rs
  tests/ui/consts/const-fn-error.stderr
  tests/ui/consts/const-for-feature-gate.rs
  tests/ui/consts/const-for-feature-gate.stderr
  tests/ui/consts/const-for.rs
  tests/ui/consts/const-for.stderr
  tests/ui/consts/const-try-feature-gate.rs
  tests/ui/consts/const-try-feature-gate.stderr
  tests/ui/consts/const-try.rs
  tests/ui/consts/const-try.stderr
  tests/ui/consts/control-flow/loop.rs
  tests/ui/consts/control-flow/loop.stderr
  tests/ui/consts/control-flow/try.rs
  tests/ui/consts/control-flow/try.stderr
  tests/ui/consts/try-operator.stderr
  tests/ui/issues/issue-50582.rs
  tests/ui/issues/issue-50582.stderr
  tests/ui/issues/issue-50585.rs
  tests/ui/issues/issue-50585.stderr
  tests/ui/never_type/issue-52443.rs
  tests/ui/never_type/issue-52443.stderr
  tests/ui/traits/const-traits/hir-const-check.rs
  tests/ui/traits/const-traits/hir-const-check.stderr
  tests/ui/traits/const-traits/ice-126148-failed-to-normalize.rs
  tests/ui/traits/const-traits/ice-126148-failed-to-normalize.stderr
  tests/ui/traits/const-traits/trait-default-body-stability.stderr
  tests/ui/traits/default-method/rustc_must_implement_one_of_misuse.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#132723 Unify `sysroot_target_{bin,lib}dir` handling
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#133041 Print name of env var in `--print=deployment-target`
  compiler/rustc_codegen_ssa/src/back/apple.rs
  compiler/rustc_driver_impl/src/lib.rs
  tests/run-make/apple-deployment-target/rmake.rs
  tests/run-make/apple-sdk-version/rmake.rs
  tests/ui/print-request/macos-target.rs
  tests/ui/print-request/macos-target.stdout
Labels: T-compiler, S-waiting-on-bors, O-apple, A-run-make

#133325 Reimplement `~const` trait specialization
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  tests/ui/traits/const-traits/overlap-const-with-nonconst.min_spec.stderr
  tests/ui/traits/const-traits/overlap-const-with-nonconst.rs
  tests/ui/traits/const-traits/overlap-const-with-nonconst.spec.stderr
  tests/ui/traits/const-traits/specialization/const-default-bound-non-const-specialized-bound.stderr
  tests/ui/traits/const-traits/specialization/const-default-impl-non-const-specialized-impl.min_spec.stderr
  tests/ui/traits/const-traits/specialization/const-default-impl-non-const-specialized-impl.rs
  tests/ui/traits/const-traits/specialization/const-default-impl-non-const-specialized-impl.spec.stderr
  tests/ui/traits/const-traits/specialization/const-default-impl-non-const-specialized-impl.stderr
  tests/ui/traits/const-traits/specializing-constness.rs
  tests/ui/traits/const-traits/specializing-constness.stderr
Labels: T-compiler, S-waiting-on-bors

#133395 Add simd_relaxed_fma intrinsic
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics/simd.rs
  tests/ui/simd/intrinsic/float-math-pass.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#133517 Deeply normalize when computing implied outlives bounds
  compiler/rustc_data_structures/src/obligation_forest/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_infer/src/traits/engine.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/normalize.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  tests/ui/higher-ranked/structually-relate-aliases.rs
  tests/ui/higher-ranked/structually-relate-aliases.stderr
  tests/ui/impl-trait/in-trait/alias-bounds-when-not-wf.stderr
  tests/ui/traits/next-solver/issue-118950-root-region.rs
  tests/ui/traits/next-solver/issue-118950-root-region.stderr
  tests/ui/traits/next-solver/normalize-in-implied_outlives_bounds.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#133785 Add const evaluation error UI test.
  tests/ui/consts/const-eval-fail-too-big.rs
  tests/ui/consts/const-eval-fail-too-big.stderr
Labels: T-compiler, S-waiting-on-bors

#133788 Rollup of 6 pull requests
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/back/apple.rs
  compiler/rustc_data_structures/src/obligation_forest/mod.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/impl_wf_check/min_specialization.rs
  compiler/rustc_infer/src/traits/engine.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/normalize.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  library/core/src/intrinsics/simd.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  tests/run-make/apple-deployment-target/rmake.rs
  tests/run-make/apple-sdk-version/rmake.rs
  tests/ui/consts/const-eval-fail-too-big.rs
  tests/ui/consts/const-eval-fail-too-big.stderr
  tests/ui/higher-ranked/structually-relate-aliases.rs
  tests/ui/higher-ranked/structually-relate-aliases.stderr
  tests/ui/impl-trait/in-trait/alias-bounds-when-not-wf.stderr
  tests/ui/print-request/macos-target.rs
  tests/ui/print-request/macos-target.stdout
  tests/ui/simd/intrinsic/float-math-pass.rs
  tests/ui/traits/const-traits/overlap-const-with-nonconst.min_spec.stderr
  tests/ui/traits/const-traits/overlap-const-with-nonconst.rs
  tests/ui/traits/const-traits/overlap-const-with-nonconst.spec.stderr
  tests/ui/traits/const-traits/specialization/const-default-bound-non-const-specialized-bound.stderr
  tests/ui/traits/const-traits/specialization/const-default-impl-non-const-specialized-impl.min_spec.stderr
  tests/ui/traits/const-traits/specialization/const-default-impl-non-const-specialized-impl.rs
  tests/ui/traits/const-traits/specialization/const-default-impl-non-const-specialized-impl.spec.stderr
  tests/ui/traits/const-traits/specialization/const-default-impl-non-const-specialized-impl.stderr
  tests/ui/traits/const-traits/specializing-constness.rs
  tests/ui/traits/const-traits/specializing-constness.stderr
  tests/ui/traits/next-solver/issue-118950-root-region.rs
  tests/ui/traits/next-solver/issue-118950-root-region.stderr
  tests/ui/traits/next-solver/normalize-in-implied_outlives_bounds.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor, A-run-make

#104342 Require `type_map::stub` callers to supply file information
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/cpp_like.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/mod.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/native.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/type_map.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  src/doc/unstable-book/src/compiler-flags/debug_info_type_line_numbers.md
  tests/codegen/issues/issue-98678-async.rs
  tests/codegen/issues/issue-98678-closure-coroutine.rs
  tests/codegen/issues/issue-98678-enum.rs
  tests/codegen/issues/issue-98678-struct-union.rs
Labels: A-debuginfo, T-compiler, S-waiting-on-bors, merged-by-bors, WG-debugging

#133545 Lint against Symbol::intern on a string literal
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_codegen_cranelift/src/driver/jit.rs
  compiler/rustc_codegen_cranelift/src/lib.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_session/src/output.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
  src/bootstrap/src/core/builder/cargo.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors

#133558 Structurally resolve in `probe_adt`
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  tests/crashes/132320.rs
  tests/ui/traits/next-solver/typeck/structurally-resolve-in-probe_adt.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#133696 stabilize const_collections_with_hasher and build_hasher_default_const_new
  library/core/src/hash/mod.rs
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
  library/std/src/lib.rs
  src/bootstrap/src/core/build_steps/test.rs
Labels: T-bootstrap, S-waiting-on-bors, T-libs

#133753 Reduce false positives on some common cases from if-let-rescope lint
  compiler/rustc_lint/src/if_let_rescope.rs
  tests/ui/drop/lint-if-let-rescope.fixed
  tests/ui/drop/lint-if-let-rescope.rs
  tests/ui/drop/lint-if-let-rescope.stderr
Labels: T-compiler, S-waiting-on-bors

#133762 stabilize const_{size,align}_of_val
  library/core/src/alloc/layout.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/mem/mod.rs
  library/core/tests/lib.rs
  tests/ui/consts/const-size_of_val-align_of_val-extern-type.rs
  tests/ui/consts/const-size_of_val-align_of_val-extern-type.stderr
  tests/ui/consts/const-size_of_val-align_of_val.rs
Labels: S-waiting-on-bors, T-libs

#133777 document -Zrandomize-layout in the unstable book
  src/doc/unstable-book/src/compiler-flags/randomize-layout.md
Labels: A-docs, S-waiting-on-bors, -Zrandomize-layout

#133779 Use correct `hir_id` for array const arg infers
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  tests/ui/const-generics/generic_arg_infer/array-repeat-expr-lib.rs
Labels: T-compiler, S-waiting-on-bors

#133796 Update the definition of `borrowing_sub`
  library/core/src/num/uint_macros.rs
  tests/assembly/x86_64-bigint-helpers.rs
Labels: S-waiting-on-bors, T-libs

#132937 a release operation synchronizes with an acquire operation
  library/std/src/thread/mod.rs
Labels: A-docs, S-waiting-on-bors, T-libs, A-atomic

#133681 improve TagEncoding::Niche docs, sanity check, and UB checks
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/interpret/discriminant.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/layout/invariant.rs
  src/tools/miri/tests/fail/enum-untagged-variant-invalid-encoding.rs
  src/tools/miri/tests/fail/enum-untagged-variant-invalid-encoding.stderr
  tests/crashes/126267.rs
  tests/ui/transmutability/uninhabited.rs
  tests/ui/transmutability/uninhabited.stderr
Labels: T-compiler, S-waiting-on-bors

#133726 Add `core::arch::breakpoint` and test
  compiler/rustc_error_codes/src/error_codes/E0622.md
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  library/core/src/arch.rs
  library/core/src/intrinsics/mod.rs
  src/tools/miri/tests/fail/breakpoint.rs
  src/tools/miri/tests/fail/breakpoint.stderr
  tests/assembly/breakpoint.rs
  tests/ui/error-codes/E0622.rs
  tests/ui/error-codes/E0622.stderr
Labels: T-libs-api, S-waiting-on-bors, T-libs

#133768 Remove `generic_associated_types_extended` feature gate
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/crashes/131538.rs
  tests/ui/feature-gates/feature-gate-generic_associated_types_extended.rs
  tests/ui/feature-gates/feature-gate-generic_associated_types_extended.stderr
  tests/ui/generic-associated-types/extended/lending_iterator.rs
  tests/ui/generic-associated-types/extended/lending_iterator.stderr
  tests/ui/generic-associated-types/extended/lending_iterator_2.rs
  tests/ui/generic-associated-types/extended/lending_iterator_2.stderr
  tests/ui/generic-associated-types/gat-in-trait-path.rs
  tests/ui/generic-associated-types/gat-in-trait-path.stderr
  tests/ui/generic-associated-types/issue-67510-pass.rs
  tests/ui/generic-associated-types/issue-67510-pass.stderr
  tests/ui/generic-associated-types/issue-76535.rs
  tests/ui/generic-associated-types/issue-76535.stderr
  tests/ui/generic-associated-types/issue-78671.rs
  tests/ui/generic-associated-types/issue-78671.stderr
  tests/ui/generic-associated-types/issue-79422.rs
  tests/ui/generic-associated-types/issue-79422.stderr
  tests/ui/generic-associated-types/trait-objects.rs
  tests/ui/generic-associated-types/trait-objects.stderr
Labels: T-compiler, S-waiting-on-bors

#133811 [AIX] change AIX default codemodel=large
  compiler/rustc_target/src/spec/base/aix.rs
Labels: T-compiler, relnotes, S-waiting-on-bors, O-aix

#133812 Update wasm-component-ld to 0.5.11
  Cargo.lock
  src/tools/wasm-component-ld/Cargo.toml
Labels: S-waiting-on-bors

#133813 compiletest: explain that UI tests are expected not to compile by default
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#133818 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/interpret/discriminant.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_error_codes/src/error_codes/E0622.md
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_target/src/spec/base/aix.rs
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/layout/invariant.rs
  library/core/src/arch.rs
  library/core/src/intrinsics/mod.rs
  library/std/src/thread/mod.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/miri/tests/fail/breakpoint.rs
  src/tools/miri/tests/fail/breakpoint.stderr
  src/tools/miri/tests/fail/enum-untagged-variant-invalid-encoding.rs
  src/tools/miri/tests/fail/enum-untagged-variant-invalid-encoding.stderr
  src/tools/wasm-component-ld/Cargo.toml
  tests/assembly/breakpoint.rs
  tests/crashes/126267.rs
  tests/crashes/131538.rs
  tests/ui/error-codes/E0622.rs
  tests/ui/error-codes/E0622.stderr
  tests/ui/feature-gates/feature-gate-generic_associated_types_extended.rs
  tests/ui/feature-gates/feature-gate-generic_associated_types_extended.stderr
  tests/ui/generic-associated-types/extended/lending_iterator.rs
  tests/ui/generic-associated-types/extended/lending_iterator.stderr
  tests/ui/generic-associated-types/extended/lending_iterator_2.rs
  tests/ui/generic-associated-types/extended/lending_iterator_2.stderr
  tests/ui/generic-associated-types/gat-in-trait-path.rs
  tests/ui/generic-associated-types/gat-in-trait-path.stderr
  tests/ui/generic-associated-types/issue-67510-pass.rs
  tests/ui/generic-associated-types/issue-67510-pass.stderr
  tests/ui/generic-associated-types/issue-76535.rs
  tests/ui/generic-associated-types/issue-76535.stderr
  tests/ui/generic-associated-types/issue-78671.rs
  tests/ui/generic-associated-types/issue-78671.stderr
  tests/ui/generic-associated-types/issue-79422.rs
  tests/ui/generic-associated-types/issue-79422.stderr
  tests/ui/generic-associated-types/trait-objects.rs
  tests/ui/generic-associated-types/trait-objects.stderr
  tests/ui/transmutability/uninhabited.rs
  tests/ui/transmutability/uninhabited.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-compiletest

#133651 Update `NonZero` and `NonNull` to not field-project (per MCP#807)
  library/core/src/num/nonzero.rs
  library/core/src/ptr/non_null.rs
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.slice_iter_generic_is_empty.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.slice_iter_generic_is_empty.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-unwind.mir
Labels: S-waiting-on-bors, T-libs

#133764 rustdoc: Rename `set_back_info` to `restore_module_data`.
  src/librustdoc/formats/renderer.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/json/mod.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#133784 Fix MutVisitor's default implementations to visit Stmt's and BinOp's spans
  compiler/rustc_ast/src/mut_visit.rs
  tests/ui-fulldeps/pprust-parenthesis-insertion.rs
Labels: T-compiler, S-waiting-on-bors

#133798 stop replacing bivariant args with `'static` when computing closure requirements
  compiler/rustc_borrowck/src/region_infer/mod.rs
  tests/ui/nll/closure-requirements/thread_scope_correct_implied_bound.rs
  tests/ui/nll/closure-requirements/thread_scope_incorrect_implied_bound.rs
  tests/ui/nll/closure-requirements/thread_scope_incorrect_implied_bound.stderr
  tests/ui/nll/ty-outlives/projection-implied-bounds.rs
  tests/ui/nll/ty-outlives/projection-implied-bounds.stderr
Labels: T-compiler, S-waiting-on-bors, T-types

#133804 Improve code for FileName retrieval in rustdoc
  src/librustdoc/html/sources.rs
Labels: T-rustdoc, S-waiting-on-bors

#133817 Use `eprintln` instead of `println` in bootstrap/compiletest/tidy
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/core/build_steps/suggest.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/flags.rs
  src/bootstrap/src/core/download.rs
  src/bootstrap/src/core/sanity.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/cc_detect.rs
  src/bootstrap/src/utils/helpers.rs
  src/bootstrap/src/utils/metrics.rs
  src/bootstrap/src/utils/render_tests.rs
  src/bootstrap/src/utils/tarball.rs
  src/tools/compiletest/src/compute_diff.rs
  src/tools/compiletest/src/debuggers.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/codegen_units.rs
  src/tools/compiletest/src/runtest/debuginfo.rs
  src/tools/compiletest/src/runtest/rustdoc_json.rs
  src/tools/compiletest/src/runtest/ui.rs
  src/tools/compiletest/src/util.rs
  src/tools/tidy/src/error_codes.rs
  src/tools/tidy/src/features.rs
  src/tools/tidy/src/unstable_book.rs
  src/tools/tidy/src/x_version.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#133737 Include LLDB and GDB visualizers in MSVC distribution
  src/bootstrap/src/core/build_steps/dist.rs
Labels: T-bootstrap, S-waiting-on-bors

#133774 Make CoercePointee errors translatable
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/deriving/coerce_pointee.rs
  tests/ui/deriving/deriving-coerce-pointee-neg.rs
  tests/ui/deriving/deriving-coerce-pointee-neg.stderr
Labels: T-compiler, S-waiting-on-bors, F-derive_smart_pointer

#133831 Don't try and handle unfed `type_of` on anon consts
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  tests/ui/const-generics/issues/cg-in-dyn-issue-128176.rs
  tests/ui/coroutine/coroutine-in-orphaned-anon-const.rs
  tests/ui/coroutine/coroutine-in-orphaned-anon-const.stderr
  tests/ui/traits/bound/unknown-assoc-with-const-arg.rs
  tests/ui/traits/bound/unknown-assoc-with-const-arg.stderr
Labels: T-compiler, S-waiting-on-bors

#133847 Remove `-Zshow-span`.
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_ast_passes/src/lib.rs
  compiler/rustc_ast_passes/src/show_span.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
Labels: T-compiler, S-waiting-on-bors

#133849 coverage: Use a separate counter type and simplification step during counter creation
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/counters/tests.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  tests/coverage/abort.cov-map
  tests/coverage/assert.cov-map
  tests/coverage/async.cov-map
  tests/coverage/branch/guard.cov-map
  tests/coverage/branch/if.cov-map
  tests/coverage/branch/lazy-boolean.cov-map
  tests/coverage/branch/match-arms.cov-map
  tests/coverage/branch/no-mir-spans.cov-map
  tests/coverage/branch/while.cov-map
  tests/coverage/closure_macro.cov-map
  tests/coverage/closure_macro_async.cov-map
  tests/coverage/condition/conditions.cov-map
  tests/coverage/conditions.cov-map
  tests/coverage/continue.cov-map
  tests/coverage/coroutine.cov-map
  tests/coverage/inline-dead.cov-map
  tests/coverage/inline.cov-map
  tests/coverage/issue-84561.cov-map
  tests/coverage/lazy_boolean.cov-map
  tests/coverage/loops_branches.cov-map
  tests/coverage/mcdc/condition-limit.cov-map
  tests/coverage/mcdc/if.cov-map
  tests/coverage/mcdc/inlined_expressions.cov-map
  tests/coverage/mcdc/nested_if.cov-map
  tests/coverage/mcdc/non_control_flow.cov-map
  tests/coverage/nested_loops.cov-map
  tests/coverage/overflow.cov-map
  tests/coverage/panic_unwind.cov-map
  tests/coverage/simple_match.cov-map
  tests/coverage/try_error_result.cov-map
  tests/coverage/unicode.cov-map
  tests/coverage/unused.cov-map
  tests/coverage/while_early_ret.cov-map
  tests/coverage/yield.cov-map
  tests/mir-opt/coverage/branch_match_arms.main.InstrumentCoverage.diff
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#133850 Avoid `opaque type not constrained` errors in the presence of other errors
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_metadata/src/rmeta/table.rs
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/norm-before-method-resolution-opaque-type.next.stderr
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/norm-before-method-resolution-opaque-type.old.stderr
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/norm-before-method-resolution-opaque-type.rs
  tests/ui/impl-trait/issues/issue-86800.rs
  tests/ui/impl-trait/issues/issue-86800.stderr
  tests/ui/impl-trait/recursive-type-alias-impl-trait-declaration-too-subtle.rs
  tests/ui/impl-trait/recursive-type-alias-impl-trait-declaration-too-subtle.stderr
  tests/ui/impl-trait/two_tait_defining_each_other2.current.stderr
  tests/ui/impl-trait/two_tait_defining_each_other2.rs
  tests/ui/self/arbitrary-self-opaque.rs
  tests/ui/self/arbitrary-self-opaque.stderr
  tests/ui/type-alias-impl-trait/bad-tait-no-substs.rs
  tests/ui/type-alias-impl-trait/bad-tait-no-substs.stderr
  tests/ui/type-alias-impl-trait/const_generic_type.infer.stderr
  tests/ui/type-alias-impl-trait/const_generic_type.no_infer.stderr
  tests/ui/type-alias-impl-trait/const_generic_type.rs
  tests/ui/type-alias-impl-trait/hkl_forbidden4.rs
  tests/ui/type-alias-impl-trait/hkl_forbidden4.stderr
  tests/ui/type-alias-impl-trait/nested-tait-inference3.rs
  tests/ui/type-alias-impl-trait/nested-tait-inference3.stderr
  tests/ui/type-alias-impl-trait/no_inferrable_concrete_type.rs
  tests/ui/type-alias-impl-trait/no_inferrable_concrete_type.stderr
Labels: T-compiler, S-waiting-on-bors

#133851 Stop git from merging generated files
  .gitattributes
Labels: S-waiting-on-bors

#133856 Update sysinfo version to 0.33.0
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/src/utils/metrics.rs
Labels: T-bootstrap, S-waiting-on-bors

#133828 Make sure to record deps from cached task in new solver on first run
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/query/plumbing.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/search_graph/mod.rs
  tests/incremental/track-deps-in-new-solver.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, CI-spurious-fail-msvc

#133843 Do not emit empty suggestion
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/suggestions/semi-suggestion-when-stmt-and-expr-span-equal.rs
  tests/ui/suggestions/semi-suggestion-when-stmt-and-expr-span-equal.stderr
Labels: T-compiler, S-waiting-on-bors

#133863 Rename `core_pattern_type` and `core_pattern_types` lib feature gates to `pattern_type_macro`
  library/core/src/lib.rs
  library/core/src/pat.rs
  library/std/src/lib.rs
  src/tools/rust-analyzer/crates/ide-db/src/generated/lints.rs
  tests/codegen/pattern_type_symbols.rs
  tests/ui/type/pattern_types/bad_const_generics_args_on_const_param.rs
  tests/ui/type/pattern_types/bad_pat.rs
  tests/ui/type/pattern_types/bad_pat.stderr
  tests/ui/type/pattern_types/const_generics.rs
  tests/ui/type/pattern_types/derives.rs
  tests/ui/type/pattern_types/derives.stderr
  tests/ui/type/pattern_types/feature-gate-pattern_types.rs
  tests/ui/type/pattern_types/feature-gate-pattern_types.stderr
  tests/ui/type/pattern_types/feature-gate-pattern_types2.rs
  tests/ui/type/pattern_types/missing-is.rs
  tests/ui/type/pattern_types/range_patterns.rs
  tests/ui/type/pattern_types/range_patterns.stderr
  tests/ui/type/pattern_types/range_patterns_inherent_impls.rs
  tests/ui/type/pattern_types/range_patterns_inherent_impls.stderr
  tests/ui/type/pattern_types/range_patterns_trait_impls.rs
  tests/ui/type/pattern_types/range_patterns_trait_impls2.rs
  tests/ui/type/pattern_types/range_patterns_trait_impls2.stderr
  tests/ui/type/pattern_types/range_patterns_unusable.rs
  tests/ui/type/pattern_types/range_patterns_unusable.stderr
  tests/ui/type/pattern_types/range_patterns_unusable_math.rs
  tests/ui/type/pattern_types/range_patterns_unusable_math.stderr
  tests/ui/type/pattern_types/range_patterns_usage.rs
  tests/ui/type/pattern_types/unimplemented_pat.rs
  tests/ui/type/pattern_types/unimplemented_pat.stderr
  tests/ui/unpretty/expanded-exhaustive.rs
  tests/ui/unpretty/expanded-exhaustive.stdout
Labels: T-compiler, S-waiting-on-bors, T-libs

#133872 No need to create placeholders for GAT args in confirm_object_candidate
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
Labels: T-compiler, S-waiting-on-bors

#133874 `fn_sig_for_fn_abi` should return a `ty::FnSig`, no need for a binder
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_ty_utils/src/abi.rs
Labels: T-compiler, S-waiting-on-bors

#133890 Add a new test ui/incoherent-inherent-impls/no-other-unrelated-errors to check E0116 does not cause unrelated errors
  tests/ui/incoherent-inherent-impls/no-other-unrelated-errors.rs
  tests/ui/incoherent-inherent-impls/no-other-unrelated-errors.stderr
Labels: T-compiler, S-waiting-on-bors

#133892 Revert #133817
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/core/build_steps/suggest.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/flags.rs
  src/bootstrap/src/core/download.rs
  src/bootstrap/src/core/sanity.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/cc_detect.rs
  src/bootstrap/src/utils/helpers.rs
  src/bootstrap/src/utils/metrics.rs
  src/bootstrap/src/utils/render_tests.rs
  src/bootstrap/src/utils/tarball.rs
  src/tools/compiletest/src/compute_diff.rs
  src/tools/compiletest/src/debuggers.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/codegen_units.rs
  src/tools/compiletest/src/runtest/debuginfo.rs
  src/tools/compiletest/src/runtest/rustdoc_json.rs
  src/tools/compiletest/src/runtest/ui.rs
  src/tools/compiletest/src/util.rs
  src/tools/tidy/src/error_codes.rs
  src/tools/tidy/src/features.rs
  src/tools/tidy/src/unstable_book.rs
  src/tools/tidy/src/x_version.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#118833 Add lint against function pointer comparisons
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/types.rs
  library/core/tests/ptr.rs
  src/tools/clippy/clippy_lints/src/declared_lints.rs
  src/tools/clippy/clippy_lints/src/deprecated_lints.rs
  src/tools/clippy/clippy_lints/src/lib.rs
  src/tools/clippy/clippy_lints/src/unnamed_address.rs
  src/tools/clippy/tests/ui/fn_address_comparisons.rs
  src/tools/clippy/tests/ui/fn_address_comparisons.stderr
  src/tools/clippy/tests/ui/rename.fixed
  src/tools/clippy/tests/ui/rename.rs
  src/tools/clippy/tests/ui/rename.stderr
  src/tools/miri/tests/pass/function_pointers.rs
  src/tools/miri/tests/pass/issues/issue-91636.rs
  tests/ui/binop/binary-op-on-fn-ptr-eq.rs
  tests/ui/box/unit/unique-ffi-symbols.rs
  tests/ui/consts/const-extern-function.rs
  tests/ui/cross-crate/const-cross-crate-extern.rs
  tests/ui/extern/extern-compare-with-return-type.rs
  tests/ui/extern/extern-take-value.rs
  tests/ui/function-pointer/function-pointer-comparison-issue-54685.rs
  tests/ui/issues/issue-54696.rs
  tests/ui/lint/fn-ptr-comparisons-weird.rs
  tests/ui/lint/fn-ptr-comparisons-weird.stderr
  tests/ui/lint/fn-ptr-comparisons.fixed
  tests/ui/lint/fn-ptr-comparisons.rs
  tests/ui/lint/fn-ptr-comparisons.stderr
  tests/ui/mir/validate/issue-95978-validator-lifetime-comparison.rs
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#122161 Fix suggestion when shorthand `self` has erroneous type
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/parser/typed-self-param.rs
  tests/ui/parser/typed-self-param.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#127565 Teach rustc about the Xtensa VaListImpl
  compiler/rustc_codegen_llvm/src/va_arg.rs
  library/core/Cargo.toml
  library/core/src/ffi/va_list.rs
Labels: T-compiler, S-waiting-on-bors, T-libs, O-xtensa

#133844 clarify simd_relaxed_fma non-determinism
  library/core/src/intrinsics/simd.rs
Labels: S-waiting-on-bors, T-libs

#133867 Fix "std" support status of some tier 3 targets
  compiler/rustc_target/src/spec/targets/armv4t_unknown_linux_gnueabi.rs
  compiler/rustc_target/src/spec/targets/armv5te_unknown_linux_uclibceabi.rs
  compiler/rustc_target/src/spec/targets/m68k_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/mips64_openwrt_linux_musl.rs
  compiler/rustc_target/src/spec/targets/mipsisa32r6_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/mipsisa32r6el_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/mipsisa64r6_unknown_linux_gnuabi64.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_openbsd.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/riscv64_linux_android.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_fuchsia.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/s390x_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/thumbv7neon_unknown_linux_musleabihf.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_linux_none.rs
  src/doc/rustc/src/platform-support.md
Labels: T-compiler, S-waiting-on-bors

#133882 Improve comments for the default backtrace printer
  library/std/src/sys/backtrace.rs
Labels: S-waiting-on-bors, T-libs

#133888 Improve bootstrap job objects
  src/bootstrap/bootstrap.py
  src/bootstrap/src/utils/job.rs
Labels: T-bootstrap, S-waiting-on-bors

#133898 skip `setup::Hook` on non-git sources
  src/bootstrap/src/core/build_steps/setup.rs
Labels: T-bootstrap, S-waiting-on-bors

#133905 Rollup of 6 pull requests
  compiler/rustc_codegen_llvm/src/va_arg.rs
  compiler/rustc_target/src/spec/targets/armv4t_unknown_linux_gnueabi.rs
  compiler/rustc_target/src/spec/targets/armv5te_unknown_linux_uclibceabi.rs
  compiler/rustc_target/src/spec/targets/m68k_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/mips64_openwrt_linux_musl.rs
  compiler/rustc_target/src/spec/targets/mipsisa32r6_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/mipsisa32r6el_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/mipsisa64r6_unknown_linux_gnuabi64.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_openbsd.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/riscv64_linux_android.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_fuchsia.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/s390x_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/thumbv7neon_unknown_linux_musleabihf.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_linux_none.rs
  library/core/Cargo.toml
  library/core/src/ffi/va_list.rs
  library/core/src/intrinsics/simd.rs
  library/std/src/sys/backtrace.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/utils/job.rs
  src/doc/rustc/src/platform-support.md
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, CI-spurious-fail-msvc

#132155 Always display first line of impl blocks even when collapsed
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/markdown/footnotes.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/docblock-table-overflow.goml
  tests/rustdoc-gui/impl-block-doc.goml
  tests/rustdoc-gui/impl-doc.goml
  tests/rustdoc-gui/item-info-overflow.goml
  tests/rustdoc-gui/source-code-page-code-scroll.goml
  tests/rustdoc-gui/src/test_docs/lib.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra, disposition-merge, finished-final-comment-period, to-announce, T-rustdoc-frontend

#133256 CI: use free runners for i686-gnu jobs
  src/ci/docker/host-x86_64/i686-gnu-nopt/Dockerfile
  src/ci/docker/host-x86_64/i686-gnu/Dockerfile
  src/ci/docker/run.sh
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#133607 implement checks for tail calls
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/check_tail_calls.rs
  compiler/rustc_mir_build/src/lib.rs
  tests/ui/explicit-tail-calls/become-macro.rs
  tests/ui/explicit-tail-calls/become-operator.fixed
  tests/ui/explicit-tail-calls/become-operator.rs
  tests/ui/explicit-tail-calls/become-operator.stderr
  tests/ui/explicit-tail-calls/become-outside.rs
  tests/ui/explicit-tail-calls/become-uncallable.fixed
  tests/ui/explicit-tail-calls/become-uncallable.rs
  tests/ui/explicit-tail-calls/become-uncallable.stderr
  tests/ui/explicit-tail-calls/closure.fixed
  tests/ui/explicit-tail-calls/closure.rs
  tests/ui/explicit-tail-calls/closure.stderr
  tests/ui/explicit-tail-calls/constck.rs
  tests/ui/explicit-tail-calls/ctfe-arg-bad-borrow.rs
  tests/ui/explicit-tail-calls/ctfe-arg-good-borrow.rs
  tests/ui/explicit-tail-calls/ctfe-arg-move.rs
  tests/ui/explicit-tail-calls/ctfe-collatz-multi-rec.rs
  tests/ui/explicit-tail-calls/ctfe-id-unlimited.rs
  tests/ui/explicit-tail-calls/ctfe-tail-call-panic.rs
  tests/ui/explicit-tail-calls/drop-order.rs
  tests/ui/explicit-tail-calls/in-closure.rs
  tests/ui/explicit-tail-calls/in-closure.stderr
  tests/ui/explicit-tail-calls/return-lifetime-sub.rs
  tests/ui/explicit-tail-calls/return-mismatches.rs
  tests/ui/explicit-tail-calls/signature-mismatch.rs
  tests/ui/explicit-tail-calls/signature-mismatch.stderr
  tests/ui/explicit-tail-calls/unsafeck.rs
Labels: T-compiler, S-waiting-on-bors, F-explicit_tail_calls, A-THIR

#133821 Replace black with ruff in `tidy`
  library/core/src/unicode/printable.py
  src/bootstrap/bootstrap.py
  src/bootstrap/bootstrap_test.py
  src/bootstrap/configure.py
  src/ci/cpu-usage-over-time.py
  src/ci/docker/host-x86_64/test-various/uefi_qemu_test/run.py
  src/ci/docker/scripts/android-sdk-manager.py
  src/ci/docker/scripts/fuchsia-test-runner.py
  src/ci/github-actions/calculate-job-matrix.py
  src/ci/scripts/upload-build-metrics.py
  src/etc/dec2flt_table.py
  src/etc/gdb_load_rust_pretty_printers.py
  src/etc/gdb_lookup.py
  src/etc/gdb_providers.py
  src/etc/generate-deriving-span-tests.py
  src/etc/generate-keyword-tests.py
  src/etc/htmldocck.py
  src/etc/lldb_batchmode.py
  src/etc/lldb_providers.py
  src/etc/rust_types.py
  src/tools/publish_toolstate.py
  src/tools/tidy/config/black.toml
  src/tools/tidy/config/requirements.in
  src/tools/tidy/config/requirements.txt
  src/tools/tidy/config/ruff.toml
  src/tools/tidy/src/ext_tool_checks.rs
  tests/debuginfo/auxiliary/dependency-with-embedded-visualizers.py
  tests/debuginfo/embedded-visualizer-point.py
  tests/debuginfo/embedded-visualizer.py
  x.py
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, A-python

#133827 CI: rfl: move job forward to Linux v6.13-rc1
  src/ci/docker/scripts/rfl-build.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, A-rust-for-linux

#133910 Normalize target-cpus.rs stdout test for LLVM changes
  tests/ui/codegen/target-cpus.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, llvm-main, A-compiletest

#133921 Adapt codegen tests for NUW inference
  tests/codegen/emcripten-catch-unwind.rs
  tests/codegen/issues/issue-118306.rs
  tests/codegen/issues/issue-122805.rs
  tests/codegen/slice-iter-nonnull.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#133936 Avoid fetching the anon const hir node that is already available
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
Labels: T-compiler, S-waiting-on-bors

#133559 Structurally resolve in `adjust_for_branches`
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/expectation.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/impl-trait/auto-trait-selection-freeze.next.stderr
  tests/ui/impl-trait/auto-trait-selection.next.stderr
  tests/ui/traits/next-solver/typeck/resolve-expectations.rs
  tests/ui/traits/next-solver/typeck/structurally-resolve-in-resolve_for_branch.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, WG-trait-system-refactor

#133931 Only allow PassMode::Direct for aggregates on wasm when using the C ABI
  compiler/rustc_ty_utils/src/abi.rs
Labels: T-compiler, S-waiting-on-bors

#130777 rust_for_linux: -Zreg-struct-return commandline flag for X86 (#116973)
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_session/messages.ftl
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/callconv/mod.rs
  compiler/rustc_target/src/callconv/x86.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/unstable-book/src/compiler-flags/reg-struct-return.md
  tests/codegen/reg-struct-return.rs
  tests/ui/invalid-compile-flags/reg-struct-return/requires-x86.aarch64.stderr
  tests/ui/invalid-compile-flags/reg-struct-return/requires-x86.rs
  tests/ui/invalid-compile-flags/reg-struct-return/requires-x86.x86_64.stderr
Labels: T-compiler, S-waiting-on-bors, A-ABI, A-CLI, O-x86_32, A-rust-for-linux

#133211 Extend Miri to correctly pass mutable pointers through FFI
  compiler/rustc_const_eval/src/const_eval/dummy_machine.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/allocation/provenance_map.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  src/tools/miri/src/alloc_addresses/mod.rs
  src/tools/miri/src/borrow_tracker/mod.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/mod.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/native_lib.rs
  src/tools/miri/tests/native-lib/pass/ptr_read_access.rs
  src/tools/miri/tests/native-lib/pass/ptr_write_access.rs
  src/tools/miri/tests/native-lib/ptr_read_access.c
  src/tools/miri/tests/native-lib/ptr_write_access.c
  src/tools/miri/tests/ui.rs
Labels: T-compiler, S-waiting-on-bors

#133790 Improve documentation for Vec::extend_from_within
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#133956 Sync cg clif 2024 12 06
  compiler/rustc_codegen_cranelift/Cargo.lock
  compiler/rustc_codegen_cranelift/Cargo.toml
  compiler/rustc_codegen_cranelift/build_system/abi_cafe.rs
  compiler/rustc_codegen_cranelift/build_system/bench.rs
  compiler/rustc_codegen_cranelift/build_system/build_backend.rs
  compiler/rustc_codegen_cranelift/build_system/build_sysroot.rs
  compiler/rustc_codegen_cranelift/build_system/main.rs
  compiler/rustc_codegen_cranelift/build_system/path.rs
  compiler/rustc_codegen_cranelift/build_system/prepare.rs
  compiler/rustc_codegen_cranelift/build_system/tests.rs
  compiler/rustc_codegen_cranelift/build_system/utils.rs
  compiler/rustc_codegen_cranelift/example/std_example.rs
  compiler/rustc_codegen_cranelift/patches/0022-coretests-Disable-not-compiling-tests.patch
  compiler/rustc_codegen_cranelift/patches/0027-coretests-128bit-atomic-operations.patch
  compiler/rustc_codegen_cranelift/patches/0029-stdlib-Disable-f16-and-f128-in-compiler-builtins.patch
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/rustc-clif.rs
  compiler/rustc_codegen_cranelift/scripts/setup_rust_fork.sh
  compiler/rustc_codegen_cranelift/scripts/test_bootstrap.sh
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/codegen_i128.rs
  compiler/rustc_codegen_cranelift/src/config.rs
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_cranelift/src/driver/jit.rs
  compiler/rustc_codegen_cranelift/src/inline_asm.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_cranelift/src/lib.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, A-codegen, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-cranelift, has-merge-commits, CI-spurious-fail-msvc

#133089 Stabilize noop_waker
  library/alloc/src/task.rs
  library/core/src/task/wake.rs
  library/core/tests/lib.rs
  src/tools/miri/tests/pass/async-closure-captures.rs
  src/tools/miri/tests/pass/async-closure-drop.rs
  src/tools/miri/tests/pass/async-closure.rs
  src/tools/miri/tests/pass/async-drop.rs
  src/tools/miri/tests/pass/async-fn.rs
  src/tools/miri/tests/pass/dyn-star.rs
  src/tools/miri/tests/pass/future-self-referential.rs
  src/tools/miri/tests/pass/issues/issue-miri-2068.rs
  src/tools/miri/tests/pass/move-data-across-await-point.rs
  tests/coverage/async.cov-map
  tests/coverage/async.coverage
  tests/coverage/async.rs
  tests/coverage/async2.cov-map
  tests/coverage/async2.coverage
  tests/coverage/async2.rs
  tests/coverage/async_block.cov-map
  tests/coverage/async_block.coverage
  tests/coverage/async_block.rs
  tests/coverage/auxiliary/executor.rs
  tests/coverage/await_ready.cov-map
  tests/coverage/await_ready.coverage
  tests/coverage/await_ready.rs
  tests/coverage/closure_macro_async.cov-map
  tests/coverage/closure_macro_async.coverage
  tests/coverage/closure_macro_async.rs
  tests/crashes/124020.rs
  tests/mir-opt/async_closure_shims.rs
  tests/ui/async-await/async-closures/auxiliary/block-on.rs
  tests/ui/async-await/async-closures/inline-body.rs
  tests/ui/async-await/async-closures/mangle.rs
  tests/ui/async-await/async-drop.rs
  tests/ui/async-await/async-fn/auxiliary/block-on.rs
  tests/ui/async-await/for-await-consumes-iter.rs
  tests/ui/async-await/for-await-passthrough.rs
  tests/ui/async-await/for-await.rs
  tests/ui/async-await/in-trait/async-default-fn-overridden.rs
  tests/ui/async-await/in-trait/dont-project-to-specializable-projection.rs
  tests/ui/async-await/in-trait/dont-project-to-specializable-projection.stderr
  tests/ui/coroutine/async-gen-yield-ty-is-unit.rs
  tests/ui/coroutine/async_gen_fn_iter.rs
  tests/ui/dyn-star/dispatch-on-pin-mut.rs
  tests/ui/layout/post-mono-layout-cycle-2.rs
  tests/ui/sanitizer/cfi/coroutine.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, PG-exploit-mitigations, CI-spurious-fail-mingw

#118159 Implementation of `fmt::FormattingOptions`
  library/alloc/src/fmt.rs
  library/alloc/src/lib.rs
  library/alloc/src/string.rs
  library/core/src/fmt/float.rs
  library/core/src/fmt/mod.rs
  library/core/tests/fmt/mod.rs
  library/core/tests/lib.rs
  library/std/src/lib.rs
  library/std/src/panicking.rs
  tests/mir-opt/funky_arms.float_to_exponential_common.GVN.panic-abort.diff
  tests/mir-opt/funky_arms.float_to_exponential_common.GVN.panic-unwind.diff
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#133897 Remove a lit_to_const call
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#133875 handle `--json-output` properly
  src/bootstrap/src/core/build_steps/test.rs
Labels: T-bootstrap, S-waiting-on-bors

#133934 Do not implement unsafe auto traits for types with unsafe fields
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
  tests/ui/unsafe-fields/auto-traits.current.stderr
  tests/ui/unsafe-fields/auto-traits.next.stderr
  tests/ui/unsafe-fields/auto-traits.rs
  tests/ui/unsafe-fields/auxiliary/unsafe-fields-crate-dep.rs
  tests/ui/unsafe-fields/unsafe-fields-crate.rs
  tests/ui/unsafe-fields/unsafe-fields-crate.stderr
  tests/ui/unsafe-fields/unsafe-fields-parse.rs
  tests/ui/unsafe-fields/unsafe-fields-parse.stderr
  tests/ui/unsafe-fields/unsafe-fields.rs
  tests/ui/unsafe-fields/unsafe-fields.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#133954 Hide errors whose suggestions would contain error constants or types
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_mir_build/src/thir/constant.rs
  tests/crashes/123809.rs
  tests/ui/associated-consts/assoc-const-eq-ambiguity.stderr
  tests/ui/wf/ice-hir-wf-check-anon-const-issue-122989.rs
  tests/ui/wf/ice-hir-wf-check-anon-const-issue-122989.stderr
Labels: T-compiler, S-waiting-on-bors

#133960 rustdoc: remove eq for clean::Attributes
  src/librustdoc/clean/types.rs
Labels: T-rustdoc, S-waiting-on-bors

#133978 Rollup of 7 pull requests
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/thir/constant.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/interner.rs
  library/core/src/iter/traits/collect.rs
  library/core/tests/iter/traits/iterator.rs
  library/std/src/io/error.rs
  library/std/src/io/error/repr_bitpacked.rs
  library/std/src/sys/pal/teeos/mod.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/windows/mod.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/librustdoc/clean/types.rs
  src/tools/miri/src/shims/io_error.rs
  tests/crashes/123809.rs
  tests/ui/associated-consts/assoc-const-eq-ambiguity.stderr
  tests/ui/unsafe-fields/auto-traits.current.stderr
  tests/ui/unsafe-fields/auto-traits.next.stderr
  tests/ui/unsafe-fields/auto-traits.rs
  tests/ui/unsafe-fields/auxiliary/unsafe-fields-crate-dep.rs
  tests/ui/unsafe-fields/unsafe-fields-crate.rs
  tests/ui/unsafe-fields/unsafe-fields-crate.stderr
  tests/ui/unsafe-fields/unsafe-fields-parse.rs
  tests/ui/unsafe-fields/unsafe-fields-parse.stderr
  tests/ui/unsafe-fields/unsafe-fields.rs
  tests/ui/unsafe-fields/unsafe-fields.stderr
  tests/ui/wf/ice-hir-wf-check-anon-const-issue-122989.rs
  tests/ui/wf/ice-hir-wf-check-anon-const-issue-122989.stderr
Labels: O-windows, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix, WG-trait-system-refactor, CI-spurious-fail-msvc

#130209 Stabilize `std::io::ErrorKind::CrossesDevices`
  library/std/src/io/error.rs
Labels: T-libs-api, S-waiting-on-bors

#132187 Add Extend impls for tuples of arity 1 through 12
  library/core/src/iter/traits/collect.rs
  library/core/tests/iter/traits/iterator.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#133861 Add allocate_bytes and refactor allocate_str in InterpCx for raw byte…
  compiler/rustc_const_eval/src/interpret/place.rs
Labels: T-compiler, S-waiting-on-bors

#134033 Rollup of 7 pull requests
  RELEASES.md
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/hidden_unicode_codepoints.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  library/std/src/thread/local.rs
  tests/crashes/131451.rs
  tests/incremental/circular-dependencies.rs
  tests/run-make/crate-loading-crate-depends-on-itself/foo.stderr
  tests/run-make/crate-loading/multiple-dep-versions-1.rs
  tests/run-make/crate-loading/multiple-dep-versions-2.rs
  tests/run-make/crate-loading/multiple-dep-versions-3.rs
  tests/run-make/crate-loading/multiple-dep-versions.rs
  tests/run-make/crate-loading/multiple-dep-versions.stderr
  tests/ui/extern/extern-C-non-FFI-safe-arg-ice-52334.stderr
  tests/ui/extern/extern-C-str-arg-ice-80125.stderr
  tests/ui/lint/extern-C-fnptr-lints-slices.rs
  tests/ui/lint/extern-C-fnptr-lints-slices.stderr
  tests/ui/lint/lint-ctypes-73249-2.stderr
  tests/ui/lint/lint-ctypes-94223.stderr
  tests/ui/lint/lint-ctypes-cstr.rs
  tests/ui/lint/lint-ctypes-cstr.stderr
  tests/ui/lint/lint-ctypes-fn.rs
  tests/ui/lint/lint-ctypes-fn.stderr
  tests/ui/lint/lint-ctypes.rs
  tests/ui/lint/lint-ctypes.stderr
  tests/ui/mismatched_types/similar_paths_primitive.rs
  tests/ui/mismatched_types/similar_paths_primitive.stderr
  tests/ui/rust-2024/gen-kw.e2015.stderr
  tests/ui/rust-2024/gen-kw.e2018.stderr
  tests/ui/rust-2024/gen-kw.rs
  tests/ui/type/auxiliary/crate_a1.rs
  tests/ui/type/auxiliary/crate_a2.rs
  tests/ui/type/type-mismatch-same-crate-name.rs
  tests/ui/type/type-mismatch-same-crate-name.stderr
Labels: T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup, T-libs, A-run-make

#131669 lint: change help for pointers to dyn types in FFI
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/types.rs
  tests/ui/extern/extern-C-non-FFI-safe-arg-ice-52334.stderr
  tests/ui/extern/extern-C-str-arg-ice-80125.stderr
  tests/ui/lint/extern-C-fnptr-lints-slices.rs
  tests/ui/lint/extern-C-fnptr-lints-slices.stderr
  tests/ui/lint/lint-ctypes-73249-2.stderr
  tests/ui/lint/lint-ctypes-94223.stderr
  tests/ui/lint/lint-ctypes-cstr.rs
  tests/ui/lint/lint-ctypes-cstr.stderr
  tests/ui/lint/lint-ctypes-fn.rs
  tests/ui/lint/lint-ctypes-fn.stderr
  tests/ui/lint/lint-ctypes.rs
  tests/ui/lint/lint-ctypes.stderr
Labels: T-compiler, S-waiting-on-bors

#133976 Removed Unnecessary Spaces From RELEASES.md
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#133134 Don't use a SyntheticProvider for literally every type
  src/etc/lldb_commands
Labels: S-waiting-on-bors, merged-by-bors

#133424 Parse guard patterns
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/nonterminal.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/path.rs
  compiler/rustc_passes/src/input_stats.rs
  compiler/rustc_span/src/symbol.rs
  src/tools/clippy/clippy_lints/src/unnested_or_patterns.rs
  src/tools/rustfmt/src/patterns.rs
  src/tools/rustfmt/tests/target/guard_patterns.rs
  tests/ui/feature-gates/feature-gate-guard-patterns.rs
  tests/ui/feature-gates/feature-gate-guard-patterns.stderr
  tests/ui/parser/issues/issue-72373.rs
  tests/ui/parser/issues/issue-72373.stderr
  tests/ui/parser/misspelled-keywords/ref.stderr
  tests/ui/parser/pat-lt-bracket-7.rs
  tests/ui/parser/pat-lt-bracket-7.stderr
  tests/ui/parser/recover/recover-pat-exprs.rs
  tests/ui/parser/recover/recover-pat-exprs.stderr
  tests/ui/parser/recover/recover-pat-wildcards.rs
  tests/ui/parser/recover/recover-pat-wildcards.stderr
  tests/ui/pattern/bindings-after-at/nested-type-ascription-syntactically-invalid.stderr
  tests/ui/pattern/rfc-3637-guard-patterns/macro-rules.rs
Labels: T-compiler, S-waiting-on-bors

#133733 compiletest: show the difference between the normalized output and the actual output for lines which didn't match
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/coverage.rs
  src/tools/compiletest/src/runtest/ui.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#133993 Fix: typo in E0751 error explanation
  compiler/rustc_error_codes/src/error_codes/E0751.md
Labels: T-compiler, S-waiting-on-bors

#134013 Adds new intrinsic declaration
  library/core/src/intrinsics/mod.rs
Labels: S-waiting-on-bors, T-libs

#134020 Remove unnecessary `int_type_width_signed` function
  compiler/rustc_codegen_llvm/src/intrinsic.rs
Labels: T-compiler, S-waiting-on-bors

#134024 Advent of `tests/ui` (misc cleanups and improvements) [2/N]
  tests/ui/assign-imm-local-twice.rs
  tests/ui/assoc-lang-items.rs
  tests/ui/assoc-oddities-3.rs
  tests/ui/atomic-from-mut-not-available.rs
  tests/ui/borrowck/assign-imm-local-twice.fixed
  tests/ui/borrowck/assign-imm-local-twice.rs
  tests/ui/borrowck/assign-imm-local-twice.stderr
  tests/ui/codegen/assign-expr-unit-type.rs
  tests/ui/lang-items/assoc-lang-items.rs
  tests/ui/lang-items/assoc-lang-items.stderr
  tests/ui/parser/assoc/assoc-oddities-3.rs
  tests/ui/stdlib-unit-tests/atomic-from-mut-not-available.alignment_matches.stderr
  tests/ui/stdlib-unit-tests/atomic-from-mut-not-available.alignment_mismatch.stderr
  tests/ui/stdlib-unit-tests/atomic-from-mut-not-available.rs
Labels: T-compiler, S-waiting-on-bors

#134038 deps: Update psm
  Cargo.lock
Labels: S-waiting-on-bors

#134039 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_error_codes/src/error_codes/E0751.md
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/nonterminal.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/path.rs
  compiler/rustc_passes/src/input_stats.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics/mod.rs
  src/tools/clippy/clippy_lints/src/unnested_or_patterns.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/coverage.rs
  src/tools/compiletest/src/runtest/ui.rs
  src/tools/rustfmt/src/patterns.rs
  src/tools/rustfmt/tests/target/guard_patterns.rs
  tests/ui/assign-imm-local-twice.rs
  tests/ui/assoc-lang-items.rs
  tests/ui/assoc-oddities-3.rs
  tests/ui/atomic-from-mut-not-available.rs
  tests/ui/borrowck/assign-imm-local-twice.fixed
  tests/ui/borrowck/assign-imm-local-twice.rs
  tests/ui/borrowck/assign-imm-local-twice.stderr
  tests/ui/codegen/assign-expr-unit-type.rs
  tests/ui/feature-gates/feature-gate-guard-patterns.rs
  tests/ui/feature-gates/feature-gate-guard-patterns.stderr
  tests/ui/lang-items/assoc-lang-items.rs
  tests/ui/lang-items/assoc-lang-items.stderr
  tests/ui/parser/assoc/assoc-oddities-3.rs
  tests/ui/parser/issues/issue-72373.rs
  tests/ui/parser/issues/issue-72373.stderr
  tests/ui/parser/misspelled-keywords/ref.stderr
  tests/ui/parser/pat-lt-bracket-7.rs
  tests/ui/parser/pat-lt-bracket-7.stderr
  tests/ui/parser/recover/recover-pat-exprs.rs
  tests/ui/parser/recover/recover-pat-exprs.stderr
  tests/ui/parser/recover/recover-pat-wildcards.rs
  tests/ui/parser/recover/recover-pat-wildcards.stderr
  tests/ui/pattern/bindings-after-at/nested-type-ascription-syntactically-invalid.stderr
  tests/ui/pattern/rfc-3637-guard-patterns/macro-rules.rs
  tests/ui/stdlib-unit-tests/atomic-from-mut-not-available.alignment_matches.stderr
  tests/ui/stdlib-unit-tests/atomic-from-mut-not-available.alignment_mismatch.stderr
  tests/ui/stdlib-unit-tests/atomic-from-mut-not-available.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-compiletest

#133567 A bunch of cleanups
  compiler/rustc_codegen_cranelift/src/lib.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/traits/backend.rs
  compiler/rustc_driver_impl/src/args.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_driver_impl/src/pretty.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_incremental/src/persist/fs.rs
  compiler/rustc_incremental/src/persist/load.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_middle/src/query/plumbing.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_span/src/lib.rs
  src/librustdoc/core.rs
  src/librustdoc/doctest.rs
  src/librustdoc/lib.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  src/librustdoc/scrape_examples.rs
  src/tools/clippy/src/driver.rs
  src/tools/miri/src/bin/miri.rs
  src/tools/rustfmt/src/parse/session.rs
  tests/ui-fulldeps/codegen-backend/auxiliary/the_backend.rs
  tests/ui-fulldeps/compiler-calls.rs
  tests/ui-fulldeps/obtain-borrowck.rs
  tests/ui-fulldeps/run-compiler-twice.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-query-system

#133789 Add doc alias 'then_with' for `then` method on `bool`
  library/core/src/bool.rs
Labels: S-waiting-on-bors, T-libs

#133880 Expand home_dir docs
  library/std/src/env.rs
Labels: S-waiting-on-bors, T-libs

#134036 crash tests: use individual mir opts instead of mir-opt-level where easily possible
  tests/crashes/121363.rs
  tests/crashes/128094.rs
  tests/crashes/129095.rs
  tests/crashes/129109.rs
  tests/crashes/130970.rs
  tests/crashes/131347.rs
  tests/crashes/131507.rs
Labels: T-compiler, S-waiting-on-bors
