Repository rust-lang/rust, pull requests merged in 2024-02, with the labels that each got.

#120617 Bump to 1.78
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#120626 [beta] initial branch of 1.77
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  library/alloc/src/slice.rs
  library/alloc/src/vec/cow.rs
  library/core/src/array/mod.rs
  library/core/src/intrinsics.rs
  library/core/src/mem/mod.rs
  library/core/src/net/mod.rs
  library/core/src/ops/range.rs
  library/core/src/slice/iter.rs
  library/core/src/slice/mod.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/fs.rs
  library/std/src/sync/mutex.rs
  library/std/src/sync/rwlock.rs
  src/ci/channel
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#120627 [stable] Prepare 1.76.0 release
  RELEASES.md
  src/ci/channel
Labels: A-testsuite, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#120543 CI: Use ninja on apple builders
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
  src/ci/scripts/install-ninja.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#120566 coverage: Use normal `edition:` headers in coverage tests
  tests/coverage/bad_counter_ids.cov-map
  tests/coverage/bad_counter_ids.coverage
  tests/coverage/bad_counter_ids.rs
  tests/coverage/closure_macro.coverage
  tests/coverage/closure_macro.rs
  tests/coverage/fn_sig_into_try.coverage
  tests/coverage/fn_sig_into_try.rs
  tests/coverage/issue-93054.cov-map
  tests/coverage/issue-93054.coverage
  tests/coverage/issue-93054.rs
  tests/coverage/long_and_wide.coverage
  tests/coverage/long_and_wide.rs
  tests/coverage/sort_groups.coverage
  tests/coverage/sort_groups.rs
  tests/coverage/trivial.coverage
  tests/coverage/trivial.rs
  tests/coverage/unreachable.coverage
  tests/coverage/unreachable.rs
Labels: S-waiting-on-bors, A-code-coverage

#120570 Suggest changing type to const parameters if we encounter a type in the trait bound position
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/resolve/change-ty-to-const-param-sugg-0.rs
  tests/ui/resolve/change-ty-to-const-param-sugg-0.stderr
  tests/ui/resolve/change-ty-to-const-param-sugg-1.rs
  tests/ui/resolve/change-ty-to-const-param-sugg-1.stderr
Labels: T-compiler, S-waiting-on-bors

#120573 Remove `BorrowckErrors::tainted_by_errors`
  compiler/rustc_borrowck/src/borrowck_errors.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  compiler/rustc_borrowck/src/diagnostics/outlives_suggestion.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
Labels: T-compiler, S-waiting-on-bors

#120592 Remove unnecessary `.to_string()`/`.as_str()`s
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
Labels: T-compiler, S-waiting-on-bors

#120610 hir: Remove the generic type parameter from `MaybeOwned`
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/query/erase.rs
Labels: T-compiler, S-waiting-on-bors

#120616 Fix ICE on field access on a tainted type after const-eval failure
  compiler/rustc_passes/src/dead.rs
  tests/ui/consts/const-eval/field-access-after-const-eval-fail-in-ty.rs
  tests/ui/consts/const-eval/field-access-after-const-eval-fail-in-ty.stderr
Labels: T-compiler, S-waiting-on-bors

#120562 Revert unsound libcore changes
  library/core/src/lib.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  tests/codegen/pow_of_two.rs
Labels: S-waiting-on-bors, T-libs

#120571 Miscellaneous diagnostics cleanups
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_const_eval/src/const_eval/error.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_errors/src/snippet.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_infer/src/infer/error_reporting/note_and_explain.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/terminator.rs
  compiler/rustc_mir_transform/src/const_prop.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui-fulldeps/session-diagnostic/enforce_slug_naming.rs
  tests/ui-fulldeps/session-diagnostic/enforce_slug_naming.stderr
Labels: T-compiler, S-waiting-on-bors

#119543 add avx512fp16 to x86 target features
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors

#120004 Release notes for 1.76
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#120484 Avoid ICE when is_val_statically_known is not of a supported type
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  tests/codegen/is_val_statically_known.rs
Labels: T-compiler, S-waiting-on-bors

#120516 pattern_analysis: cleanup manual impls
  compiler/rustc_pattern_analysis/src/constructor.rs
  compiler/rustc_pattern_analysis/src/pat.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
Labels: T-compiler, S-waiting-on-bors

#120517 never patterns: It is correct to lower `!` to `_`.
  compiler/rustc_pattern_analysis/src/rustc.rs
Labels: T-compiler, S-waiting-on-bors, F-never_patterns

#120523 Improve `io::Read::read_buf_exact` error case
  library/std/src/io/mod.rs
Labels: S-waiting-on-bors, T-libs

#120528 Store SHOULD_CAPTURE as AtomicU8
  library/std/src/panic.rs
Labels: S-waiting-on-bors, T-libs

#120529 Update data layouts in custom target tests for LLVM 18
  tests/run-make/rust-lld-custom-target/custom-target.json
  tests/run-make/rustdoc-target-spec-json-path/target.json
  tests/run-make/target-specs/my-awesome-platform.json
  tests/run-make/target-specs/my-x86_64-unknown-linux-gnu-platform.json
Labels: S-waiting-on-bors, llvm-main

#120531 Remove a bunch of `has_errors` checks that have no meaningful or the wrong effect
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui/closures/issue-78720.rs
  tests/ui/closures/issue-78720.stderr
  tests/ui/const-generics/defaults/rp_impl_trait_fail.rs
  tests/ui/const-generics/defaults/rp_impl_trait_fail.stderr
  tests/ui/const-generics/generic_const_exprs/issue-62504.full.stderr
  tests/ui/const-generics/generic_const_exprs/issue-62504.min.stderr
  tests/ui/const-generics/generic_const_exprs/issue-62504.rs
  tests/ui/consts/issue-104609.rs
  tests/ui/consts/issue-104609.stderr
  tests/ui/generic-const-items/parameter-defaults.stderr
  tests/ui/inference/need_type_info/type-alias.rs
  tests/ui/inference/need_type_info/type-alias.stderr
  tests/ui/parser/issues/issue-89574.rs
  tests/ui/parser/issues/issue-89574.stderr
  tests/ui/parser/missing-closing-angle-bracket-eq-constraint.stderr
  tests/ui/traits/next-solver/specialization-transmute.rs
  tests/ui/traits/next-solver/specialization-transmute.stderr
  tests/ui/typeck/issue-104510-ice.rs
  tests/ui/typeck/issue-104510-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#120533 Correct paths for hexagon-unknown-none-elf platform doc
  src/doc/rustc/src/platform-support/hexagon-unknown-none-elf.md
Labels: T-compiler, S-waiting-on-bors

#120624 Rollup of 8 pull requests
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_pattern_analysis/src/constructor.rs
  compiler/rustc_pattern_analysis/src/pat.rs
  compiler/rustc_pattern_analysis/src/rustc.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  library/std/src/io/mod.rs
  library/std/src/panic.rs
  src/doc/rustc/src/platform-support/hexagon-unknown-none-elf.md
  tests/codegen/is_val_statically_known.rs
  tests/run-make/rust-lld-custom-target/custom-target.json
  tests/run-make/rustdoc-target-spec-json-path/target.json
  tests/run-make/target-specs/my-awesome-platform.json
  tests/run-make/target-specs/my-x86_64-unknown-linux-gnu-platform.json
  tests/ui/closures/issue-78720.rs
  tests/ui/closures/issue-78720.stderr
  tests/ui/const-generics/defaults/rp_impl_trait_fail.rs
  tests/ui/const-generics/defaults/rp_impl_trait_fail.stderr
  tests/ui/const-generics/generic_const_exprs/issue-62504.full.stderr
  tests/ui/const-generics/generic_const_exprs/issue-62504.min.stderr
  tests/ui/const-generics/generic_const_exprs/issue-62504.rs
  tests/ui/consts/issue-104609.rs
  tests/ui/consts/issue-104609.stderr
  tests/ui/generic-const-items/parameter-defaults.stderr
  tests/ui/inference/need_type_info/type-alias.rs
  tests/ui/inference/need_type_info/type-alias.stderr
  tests/ui/parser/issues/issue-89574.rs
  tests/ui/parser/issues/issue-89574.stderr
  tests/ui/parser/missing-closing-angle-bracket-eq-constraint.stderr
  tests/ui/traits/next-solver/specialization-transmute.rs
  tests/ui/traits/next-solver/specialization-transmute.stderr
  tests/ui/typeck/issue-104510-ice.rs
  tests/ui/typeck/issue-104510-ice.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#120473 Only suggest removal of `as_*` and `to_` conversion methods on E0308
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/suggestions/only-suggest-removal-of-conversion-method-calls.fixed
  tests/ui/suggestions/only-suggest-removal-of-conversion-method-calls.rs
  tests/ui/suggestions/only-suggest-removal-of-conversion-method-calls.stderr
Labels: T-compiler, S-waiting-on-bors

#120540 add test for try-block-in-match-arm
  tests/ui/try-block/try-block-in-match-arm.rs
Labels: T-compiler, S-waiting-on-bors

#120547 `#![feature(inline_const_pat)]` is no longer incomplete
  compiler/rustc_feature/src/unstable.rs
  tests/ui/consts/invalid-inline-const-in-match-arm.rs
  tests/ui/consts/invalid-inline-const-in-match-arm.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions0.rs
  tests/ui/inline-const/const-match-pat-generic.rs
  tests/ui/inline-const/const-match-pat-generic.stderr
  tests/ui/inline-const/const-match-pat-inference.rs
  tests/ui/inline-const/const-match-pat-lifetime-err.rs
  tests/ui/inline-const/const-match-pat-lifetime-err.stderr
  tests/ui/inline-const/const-match-pat-lifetime.rs
  tests/ui/inline-const/const-match-pat-range.rs
  tests/ui/inline-const/const-match-pat.rs
  tests/ui/inline-const/pat-match-fndef.rs
  tests/ui/inline-const/pat-match-fndef.stderr
  tests/ui/inline-const/pat-unsafe-err.rs
  tests/ui/inline-const/pat-unsafe-err.stderr
  tests/ui/inline-const/pat-unsafe.rs
  tests/ui/inline-const/pat-unsafe.stderr
  tests/ui/lint/dead-code/anon-const-in-pat.rs
  tests/ui/match/issue-112438.rs
  tests/ui/match/validate-range-endpoints.rs
  tests/ui/match/validate-range-endpoints.stderr
  tests/ui/pattern/non-structural-match-types.rs
  tests/ui/pattern/non-structural-match-types.stderr
  tests/ui/unsafe/const_pat_in_layout_restricted.rs
Labels: T-compiler, S-waiting-on-bors, F-inline_const_pat

#120552 Correctly check `never_type` feature gating
  compiler/rustc_ast_passes/src/feature_gate.rs
  tests/ui/feature-gates/feature-gate-never_type.rs
  tests/ui/feature-gates/feature-gate-never_type.stderr
  tests/ui/never_type/never-type-in-nested-fn-decl.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#120555 put pnkfelix (me) back on the review queue.
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#120556 Improve the diagnostics for unused generic parameters
  compiler/rustc_error_codes/src/error_codes/E0091.md
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/errors.rs
  tests/ui/const-generics/generic_arg_infer/infer-arg-test.stderr
  tests/ui/const-generics/issue-46511.stderr
  tests/ui/const-generics/issues/issue-67375.min.stderr
  tests/ui/const-generics/issues/issue-67945-1.min.stderr
  tests/ui/const-generics/issues/issue-67945-3.min.stderr
  tests/ui/const-generics/issues/issue-67945-4.min.stderr
  tests/ui/const-generics/unused-type-param-suggestion.rs
  tests/ui/const-generics/unused-type-param-suggestion.stderr
  tests/ui/enum-discriminant/issue-70453-generics-in-discr-ice.stderr
  tests/ui/enum/issue-67945-1.stderr
  tests/ui/enum/issue-67945-2.stderr
  tests/ui/error-codes/E0091.stderr
  tests/ui/error-codes/E0392.stderr
  tests/ui/inner-static-type-parameter.stderr
  tests/ui/issues/issue-17904-2.stderr
  tests/ui/issues/issue-17994.rs
  tests/ui/issues/issue-17994.stderr
  tests/ui/issues/issue-20413.stderr
  tests/ui/issues/issue-30236.rs
  tests/ui/issues/issue-30236.stderr
  tests/ui/issues/issue-31910.stderr
  tests/ui/issues/issue-34373.stderr
  tests/ui/issues/issue-36299.stderr
  tests/ui/issues/issue-37534.stderr
  tests/ui/lang-items/lang-item-generic-requirements.stderr
  tests/ui/lazy-type-alias/unused-generic-parameters.rs
  tests/ui/lazy-type-alias/unused-generic-parameters.stderr
  tests/ui/lifetimes/issue-64173-unused-lifetimes.stderr
  tests/ui/parser/item-free-type-bounds-semantic-fail.rs
  tests/ui/parser/item-free-type-bounds-semantic-fail.stderr
  tests/ui/regions/region-bounds-on-objects-and-type-parameters.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/tilde-const-invalid-places.stderr
  tests/ui/self/self_type_keyword.stderr
  tests/ui/tag-type-args.stderr
  tests/ui/variance/variance-regions-unused-direct.stderr
  tests/ui/variance/variance-regions-unused-indirect.stderr
  tests/ui/variance/variance-unused-region-param.stderr
  tests/ui/variance/variance-unused-type-param.stderr
Labels: T-compiler, S-waiting-on-bors

#119759 Add FileCheck annotations to dataflow-const-prop tests
  tests/mir-opt/dataflow-const-prop/array_index.rs
  tests/mir-opt/dataflow-const-prop/boolean_identities.rs
  tests/mir-opt/dataflow-const-prop/cast.rs
  tests/mir-opt/dataflow-const-prop/checked.rs
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.rs
  tests/mir-opt/dataflow-const-prop/enum.constant.DataflowConstProp.32bit.diff
  tests/mir-opt/dataflow-const-prop/enum.constant.DataflowConstProp.64bit.diff
  tests/mir-opt/dataflow-const-prop/enum.multiple.DataflowConstProp.32bit.diff
  tests/mir-opt/dataflow-const-prop/enum.multiple.DataflowConstProp.64bit.diff
  tests/mir-opt/dataflow-const-prop/enum.rs
  tests/mir-opt/dataflow-const-prop/enum.simple.DataflowConstProp.32bit.diff
  tests/mir-opt/dataflow-const-prop/enum.simple.DataflowConstProp.64bit.diff
  tests/mir-opt/dataflow-const-prop/enum.statics.DataflowConstProp.32bit.diff
  tests/mir-opt/dataflow-const-prop/enum.statics.DataflowConstProp.64bit.diff
  tests/mir-opt/dataflow-const-prop/if.rs
  tests/mir-opt/dataflow-const-prop/inherit_overflow.rs
  tests/mir-opt/dataflow-const-prop/issue_81605.rs
  tests/mir-opt/dataflow-const-prop/large_array_index.rs
  tests/mir-opt/dataflow-const-prop/mult_by_zero.rs
  tests/mir-opt/dataflow-const-prop/offset_of.rs
  tests/mir-opt/dataflow-const-prop/ref_without_sb.rs
  tests/mir-opt/dataflow-const-prop/repeat.rs
  tests/mir-opt/dataflow-const-prop/repr_transparent.rs
  tests/mir-opt/dataflow-const-prop/self_assign.rs
  tests/mir-opt/dataflow-const-prop/self_assign_add.rs
  tests/mir-opt/dataflow-const-prop/sibling_ptr.rs
  tests/mir-opt/dataflow-const-prop/slice_len.rs
  tests/mir-opt/dataflow-const-prop/struct.main.DataflowConstProp.32bit.diff
  tests/mir-opt/dataflow-const-prop/struct.main.DataflowConstProp.64bit.diff
  tests/mir-opt/dataflow-const-prop/struct.rs
  tests/mir-opt/dataflow-const-prop/terminator.rs
  tests/mir-opt/dataflow-const-prop/tuple.rs
Labels: S-waiting-on-bors

#120323 On E0277 be clearer about implicit `Sized` bounds on type params and assoc types
  compiler/rustc_hir_analysis/src/astconv/bounds.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/incremental/hashes/trait_defs.rs
  tests/ui/associated-types/defaults-wf.stderr
  tests/ui/associated-types/issue-20005.stderr
  tests/ui/associated-types/trait-with-supertraits-needing-sized-self.stderr
  tests/ui/closures/issue-111932.stderr
  tests/ui/coroutine/sized-yield.stderr
  tests/ui/dst/dst-sized-trait-param.stderr
  tests/ui/extern/extern-types-unsized.stderr
  tests/ui/generic-associated-types/issue-88287.stderr
  tests/ui/generics/issue-61631-default-type-param-can-reference-self-in-trait.stderr
  tests/ui/impl-trait/in-trait/wf-bounds.stderr
  tests/ui/issues/issue-10412.stderr
  tests/ui/issues/issue-18919.stderr
  tests/ui/issues/issue-20433.stderr
  tests/ui/issues/issue-23281.stderr
  tests/ui/issues/issue-87199.stderr
  tests/ui/iterators/collect-into-slice.rs
  tests/ui/iterators/collect-into-slice.stderr
  tests/ui/malformed/do-not-ice-on-note_and_explain.stderr
  tests/ui/methods/issues/issue-61525.stderr
  tests/ui/object-safety/object-safety-supertrait-mentions-Self.stderr
  tests/ui/range/range-1.stderr
  tests/ui/str/str-mut-idx.stderr
  tests/ui/suggestions/adt-param-with-implicit-sized-bound.stderr
  tests/ui/suggestions/bound-suggestions.stderr
  tests/ui/suggestions/issue-84973-blacklist.stderr
  tests/ui/suggestions/issue-85943-no-suggest-unsized-indirection-in-where-clause.stderr
  tests/ui/suggestions/issue-85945-check-where-clause-before-suggesting-unsized.stderr
  tests/ui/suggestions/removal-of-multiline-trait-bound-in-where-clause.stderr
  tests/ui/trait-bounds/unsized-bound.stderr
  tests/ui/traits/bad-sized.stderr
  tests/ui/traits/issue-28576.stderr
  tests/ui/traits/issue-85360-eval-obligation-ice.rs
  tests/ui/traits/issue-85360-eval-obligation-ice.stderr
  tests/ui/traits/mutual-recursion-issue-75860.stderr
  tests/ui/traits/next-solver/overflow/recursive-self-normalization-2.stderr
  tests/ui/traits/next-solver/overflow/recursive-self-normalization.stderr
  tests/ui/traits/suggest-where-clause.stderr
  tests/ui/unsized/unsized-bare-typaram.stderr
  tests/ui/unsized/unsized-enum.stderr
  tests/ui/unsized/unsized-inherent-impl-self-type.stderr
  tests/ui/unsized/unsized-struct.stderr
  tests/ui/unsized/unsized-trait-impl-self-type.stderr
  tests/ui/unsized/unsized-trait-impl-trait-arg.stderr
  tests/ui/unsized/unsized3.stderr
  tests/ui/unsized/unsized7.stderr
  tests/ui/wf/hir-wf-canonicalized.stderr
  tests/ui/wf/wf-fn-where-clause.stderr
  tests/ui/wf/wf-impl-self-type.stderr
Labels: T-compiler, S-waiting-on-bors

#120497 Move predicate, region, and const stuff into their own modules in middle
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/predicate.rs
  compiler/rustc_middle/src/ty/region.rs
  compiler/rustc_middle/src/ty/sty.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#120569 coverage: Improve handling of function/closure spans
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  tests/coverage/closure_macro.cov-map
  tests/coverage/closure_macro.coverage
  tests/coverage/closure_macro.rs
  tests/coverage/closure_macro_async.cov-map
  tests/coverage/closure_macro_async.coverage
  tests/coverage/closure_macro_async.rs
  tests/coverage/coverage_attr_closure.cov-map
  tests/coverage/coverage_attr_closure.coverage
  tests/coverage/coverage_attr_closure.rs
  tests/coverage/macro_in_closure.cov-map
  tests/coverage/macro_in_closure.coverage
  tests/coverage/macro_in_closure.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#120572 Update libc to 0.2.153
  Cargo.lock
  library/std/Cargo.toml
Labels: S-waiting-on-bors, T-libs

#120587 miri: normalize struct tail in ABI compat check
  compiler/rustc_const_eval/src/interpret/terminator.rs
  src/tools/miri/tests/pass/issues/issue-miri-3282-struct-tail-normalize.rs
Labels: T-compiler, S-waiting-on-bors

#120607 fix #120603 by adding a check in default_read_buf
  library/std/src/io/mod.rs
  library/std/src/io/tests.rs
Labels: S-waiting-on-bors, T-libs

#120641 rustdoc: trait.impl, type.impl: sort impls to make it not depend on serialization order
  src/librustdoc/html/render/write_shared.rs
Labels: T-rustdoc, S-waiting-on-bors

#120458 Document `&CStr` to `CString` conversion
  library/alloc/src/ffi/c_str.rs
Labels: S-waiting-on-bors, T-libs

#119481 Clarify ambiguity in select_nth_unstable docs
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#119600 Remove outdated references to librustc_middle
  compiler/rustc_const_eval/src/const_eval/error.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_error_codes/src/error_codes/E0264.md
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/tests.rs
Labels: C-cleanup, T-compiler, S-waiting-on-bors

#120657 Remove unused struct
  library/std/src/sys/pal/sgx/net.rs
  library/std/src/sys/pal/teeos/net.rs
  library/std/src/sys/pal/xous/net/mod.rs
Labels: S-waiting-on-bors, T-libs, O-SGX

#120661 target: default to the medium code model on LoongArch targets
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_none.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_none_softfloat.rs
Labels: T-compiler, S-waiting-on-author

#120671 Rollup of 8 pull requests
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/ty/consts/int.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_none.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_none_softfloat.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/riscv64_linux_android.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_musl.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/src/task.rs
  library/core/src/array/equality.rs
  library/core/src/cmp.rs
  library/core/src/slice/cmp.rs
  library/core/src/task/mod.rs
  library/core/src/task/wake.rs
  library/std/src/sys/pal/sgx/net.rs
  library/std/src/sys/pal/teeos/net.rs
  library/std/src/sys/pal/xous/net/mod.rs
  src/tools/clippy/tests/ui/expect_tool_lint_rfc_2383.rs
  src/tools/clippy/tests/ui/expect_tool_lint_rfc_2383.stderr
  tests/rustdoc-ui/lints/expect-tool-lint-rfc-2383.rs
  tests/rustdoc-ui/lints/expect-tool-lint-rfc-2383.stderr
  tests/ui/array-slice-vec/vec-matching-autoslice.rs
  tests/ui/binding/match-range.rs
  tests/ui/consts/too_generic_eval_ice.stderr
  tests/ui/half-open-range-patterns/half-open-range-pats-exhaustive-fail.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-exhaustive-fail.stderr
  tests/ui/half-open-range-patterns/half-open-range-pats-semantics.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-thir-lower-empty.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-thir-lower-empty.stderr
  tests/ui/lint/issue-86600-lint-twice.rs
  tests/ui/lint/issue-86600-lint-twice.stderr
  tests/ui/lint/rfc-2383-lint-reason/expect_tool_lint_rfc_2383.rs
  tests/ui/lint/rfc-2383-lint-reason/expect_tool_lint_rfc_2383.stderr
  tests/ui/match/issue-41255.rs
  tests/ui/match/issue-41255.stderr
  tests/ui/match/match-float.rs
  tests/ui/parser/issues/issue-7222.rs
  tests/ui/pattern/usefulness/floats.rs
  tests/ui/pattern/usefulness/floats.stderr
  tests/ui/pattern/usefulness/non-exhaustive-match.rs
  tests/ui/pattern/usefulness/non-exhaustive-match.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-6804-nan-match.rs
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-6804-nan-match.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-6804.rs
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-6804.stderr
  tests/ui/union/union-pat-refutability.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-SGX

#120384 Use `<T, U>` for array/slice equality `impl`s
  library/core/src/array/equality.rs
  library/core/src/slice/cmp.rs
  tests/ui/consts/too_generic_eval_ice.stderr
Labels: A-docs, S-waiting-on-bors, T-libs

#120518 riscv only supports split_debuginfo=off for now
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/riscv64_linux_android.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_musl.rs
Labels: T-compiler, S-waiting-on-bors

#116284 make matching on NaN a hard error, and remove the rest of illegal_floating_point_literal_pattern
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/ty/consts/int.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  src/tools/clippy/tests/ui/expect_tool_lint_rfc_2383.rs
  src/tools/clippy/tests/ui/expect_tool_lint_rfc_2383.stderr
  tests/rustdoc-ui/lints/expect-tool-lint-rfc-2383.rs
  tests/rustdoc-ui/lints/expect-tool-lint-rfc-2383.stderr
  tests/ui/array-slice-vec/vec-matching-autoslice.rs
  tests/ui/binding/match-range.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-exhaustive-fail.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-exhaustive-fail.stderr
  tests/ui/half-open-range-patterns/half-open-range-pats-semantics.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-thir-lower-empty.rs
  tests/ui/half-open-range-patterns/half-open-range-pats-thir-lower-empty.stderr
  tests/ui/lint/issue-86600-lint-twice.rs
  tests/ui/lint/issue-86600-lint-twice.stderr
  tests/ui/lint/rfc-2383-lint-reason/expect_tool_lint_rfc_2383.rs
  tests/ui/lint/rfc-2383-lint-reason/expect_tool_lint_rfc_2383.stderr
  tests/ui/match/issue-41255.rs
  tests/ui/match/issue-41255.stderr
  tests/ui/match/match-float.rs
  tests/ui/parser/issues/issue-7222.rs
  tests/ui/pattern/usefulness/floats.rs
  tests/ui/pattern/usefulness/floats.stderr
  tests/ui/pattern/usefulness/non-exhaustive-match.rs
  tests/ui/pattern/usefulness/non-exhaustive-match.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-6804-nan-match.rs
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-6804-nan-match.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-6804.rs
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-6804.stderr
  tests/ui/union/union-pat-refutability.rs
Labels: T-lang, S-waiting-on-bors

#115386 PartialEq, PartialOrd: update and synchronize handling of transitive chains
  library/core/src/cmp.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#113833 `std::error::Error` -> Trait Implementations: lifetimes consistency improvement
  library/alloc/src/boxed.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#120313 pattern_analysis: Gracefully abort on type incompatibility
  compiler/rustc_pattern_analysis/src/constructor.rs
  compiler/rustc_pattern_analysis/src/lib.rs
  compiler/rustc_pattern_analysis/src/pat_column.rs
  compiler/rustc_pattern_analysis/src/rustc.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#120392 Introduce support for `async` bound modifier on `Fn*` traits
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/async-await/async-fn/dyn-pos.rs
  tests/ui/async-await/async-fn/dyn-pos.stderr
  tests/ui/async-await/async-fn/edition-2015-not-async-bound.rs
  tests/ui/async-await/async-fn/edition-2015.rs
  tests/ui/async-await/async-fn/edition-2015.stderr
  tests/ui/async-await/async-fn/impl-header.rs
  tests/ui/async-await/async-fn/impl-header.stderr
  tests/ui/async-await/async-fn/impl-trait.rs
  tests/ui/async-await/async-fn/method-call-pos.rs
  tests/ui/async-await/async-fn/method-call-pos.stderr
  tests/ui/async-await/async-fn/not-a-trait.rs
  tests/ui/async-await/async-fn/not-a-trait.stderr
  tests/ui/async-await/async-fn/sugar.rs
  tests/ui/async-await/async-fn/wrong-trait.rs
  tests/ui/async-await/async-fn/wrong-trait.stderr
  tests/ui/stats/hir-stats.stderr
Labels: T-compiler, S-waiting-on-bors, A-async-await, merged-by-bors, perf-regression, WG-async

#120326 Actually abort in -Zpanic-abort-tests
  Cargo.lock
  library/test/Cargo.toml
  library/test/src/helpers/exit_code.rs
  library/test/src/helpers/mod.rs
  library/test/src/lib.rs
  library/test/src/test_result.rs
  tests/ui/test-attrs/test-panic-abort-nocapture.rs
  tests/ui/test-attrs/test-panic-abort-nocapture.run.stderr
  tests/ui/test-attrs/test-panic-abort.rs
  tests/ui/test-attrs/test-panic-abort.run.stdout
Labels: S-waiting-on-bors, A-libtest, merged-by-bors, T-libs

#120368 llvm-wrapper: remove llvm 12 hack
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#120575 Simplify codegen diagnostic handling
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  src/tools/rustfmt/src/parse/session.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#120597 Suggest `[tail @ ..]` on `[..tail]` and `[...tail]` where `tail` is unresolved
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/pattern/range-pattern-meant-to-be-slice-rest-pattern.rs
  tests/ui/pattern/range-pattern-meant-to-be-slice-rest-pattern.stderr
Labels: T-compiler, S-waiting-on-bors

#120602 rustc_monomorphize: fix outdated comment in partition
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors

#120609 hir: Stop keeping prefixes for most of `use` list stems
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
Labels: T-compiler, S-waiting-on-bors

#120631 Emit a diagnostic for invalid target options
  compiler/rustc_codegen_llvm/messages.ftl
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
Labels: T-compiler, S-waiting-on-bors

#120632 For E0223, suggest associated functions that are similar to the path
  compiler/rustc_hir_analysis/src/astconv/errors.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  tests/ui/suggestions/issue-109195.rs
  tests/ui/suggestions/issue-109195.stderr
Labels: T-compiler, S-waiting-on-bors

#120670 cleanup effect var handling
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/mod.rs
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_middle/src/infer/unify_key.rs
Labels: T-compiler, S-waiting-on-bors

#120520 Some cleanups around diagnostic levels.
  compiler/rustc_error_messages/src/lib.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  tests/ui/impl-trait/equality-in-canonical-query.clone.stderr
  tests/ui/type-alias-impl-trait/rpit_tait_equality_in_canonical_query.current.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#117905 revert stabilization of const_intrinsic_copy
  library/core/src/intrinsics.rs
  library/core/src/lib.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/tests/lib.rs
  tests/ui/consts/const-eval/raw-pointer-ub.rs
Labels: T-lang, T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, T-libs

#120513 Normalize type outlives obligations in NLL for new solver
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/outlives/mod.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_trait_selection/src/regions.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  tests/ui/traits/next-solver/normalize-region-obligations.rs
  tests/ui/traits/next-solver/normalize-type-outlives-in-param-env.rs
  tests/ui/traits/next-solver/normalize-type-outlives.rs
  tests/ui/traits/next-solver/specialization-transmute.rs
  tests/ui/traits/next-solver/specialization-transmute.stderr
Labels: T-compiler, S-waiting-on-bors

#120707 Don't expect early-bound region to be local when reporting errors in RPITIT well-formedness
  compiler/rustc_middle/src/ty/context.rs
  tests/ui/async-await/in-trait/auxiliary/bad-region.rs
  tests/ui/async-await/in-trait/bad-region.rs
  tests/ui/async-await/in-trait/bad-region.stderr
Labels: T-compiler, S-waiting-on-bors

#119939 Improve 'generic param from outer item' error for `Self` and inside `static`/`const` items
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/error-codes/E0401.stderr
  tests/ui/inner-static-type-parameter.stderr
  tests/ui/resolve/generic-params-from-outer-item-in-const-item.default.stderr
  tests/ui/resolve/generic-params-from-outer-item-in-const-item.generic_const_items.stderr
  tests/ui/resolve/issue-12796.rs
  tests/ui/resolve/issue-12796.stderr
  tests/ui/resolve/issue-65025-extern-static-parent-generics.stderr
  tests/ui/resolve/issue-65035-static-with-parent-generics.stderr
  tests/ui/resolve/use-self-in-inner-fn.rs
  tests/ui/resolve/use-self-in-inner-fn.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#120331 pattern_analysis: use a plain `Vec` in `DeconstructedPat`
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_pattern_analysis/src/errors.rs
  compiler/rustc_pattern_analysis/src/lib.rs
  compiler/rustc_pattern_analysis/src/pat.rs
  compiler/rustc_pattern_analysis/src/pat_column.rs
  compiler/rustc_pattern_analysis/src/rustc.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
Labels: T-compiler, S-waiting-on-bors

#120396 Account for unbounded type param receiver in suggestions
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/traits/method-on-unbounded-type-param.rs
  tests/ui/traits/method-on-unbounded-type-param.stderr
Labels: T-compiler, S-waiting-on-bors

#120423 update indirect structural match lints to match RFC and to show up for dependencies
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_const_eval/src/transform/check_consts/qualifs.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  tests/ui/closures/2229_closure_analysis/match/match-edge-cases_1.stderr
  tests/ui/consts/const_in_pattern/accept_structural.rs
  tests/ui/consts/const_in_pattern/custom-eq-branch-pass.rs
  tests/ui/consts/const_in_pattern/custom-eq-branch-warn.rs
  tests/ui/consts/const_in_pattern/custom-eq-branch-warn.stderr
  tests/ui/consts/const_in_pattern/issue-34784-match-on-non-int-raw-ptr.stderr
  tests/ui/consts/const_in_pattern/issue-44333.stderr
  tests/ui/consts/const_in_pattern/issue-73431.stderr
  tests/ui/consts/const_in_pattern/reject_non_structural.rs
  tests/ui/consts/const_in_pattern/reject_non_structural.stderr
  tests/ui/consts/const_in_pattern/warn_corner_cases.rs
  tests/ui/consts/const_in_pattern/warn_corner_cases.stderr
  tests/ui/consts/issue-89088.stderr
  tests/ui/pattern/usefulness/const-partial_eq-fallback-ice.stderr
  tests/ui/pattern/usefulness/consts-opaque.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/cant-hide-behind-doubly-indirect-embedded.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/cant-hide-behind-doubly-indirect-param.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/cant-hide-behind-indirect-struct-embedded.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/cant-hide-behind-indirect-struct-param.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/fn-ptr-is-structurally-matchable.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-62307-match-ref-ref-forbidden-without-eq.rs
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-62307-match-ref-ref-forbidden-without-eq.stderr
  tests/ui/rfcs/rfc-1445-restrict-constants-in-patterns/issue-63479-match-fnptr.stderr
Labels: T-lang, T-compiler, S-waiting-on-bors

#120435 Suggest name value cfg when only value is used for check-cfg
  compiler/rustc_lint/src/context/diagnostics.rs
  tests/ui/check-cfg/cfg-value-for-cfg-name-duplicate.rs
  tests/ui/check-cfg/cfg-value-for-cfg-name-duplicate.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-multiple.rs
  tests/ui/check-cfg/cfg-value-for-cfg-name-multiple.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name.rs
  tests/ui/check-cfg/cfg-value-for-cfg-name.stderr
Labels: T-compiler, S-waiting-on-bors

#120502 Remove `ffi_returns_twice` feature
  compiler/rustc_codegen_gcc/src/attributes.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_error_codes/src/error_codes/E0724.md
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_llvm/llvm-wrapper/LLVMWrapper.h
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_middle/src/middle/codegen_fn_attrs.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  src/tools/tidy/src/ui_tests.rs
  tests/codegen/cffi/ffi-returns-twice.rs
  tests/ui/feature-gates/feature-gate-ffi_returns_twice.rs
  tests/ui/feature-gates/feature-gate-ffi_returns_twice.stderr
  tests/ui/ffi_returns_twice.rs
  tests/ui/ffi_returns_twice.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#120527 Switch OwnedStore handle count to AtomicU32
  library/proc_macro/src/bridge/client.rs
  library/proc_macro/src/bridge/handle.rs
  library/proc_macro/src/bridge/mod.rs
Labels: S-waiting-on-bors, merged-by-bors

#120060 Use the same mir-opt bless targets on all platforms
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/tools/compiletest/src/runtest.rs
  tests/mir-opt/async_closure_shims.rs
  tests/mir-opt/fn_ptr_shim.rs
  tests/mir-opt/inline/cycle.g.Inline.panic-abort.diff
  tests/mir-opt/inline/cycle.g.Inline.panic-unwind.diff
  tests/mir-opt/inline/cycle.rs
  tests/mir-opt/inline/inline_cycle_generic.main.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_cycle_generic.main.Inline.panic-unwind.diff
  tests/mir-opt/issue_99325.main.built.after.32bit.mir
  tests/mir-opt/issue_99325.main.built.after.64bit.mir
  tests/mir-opt/retag.rs
  tests/mir-opt/slice_drop_shim.rs
  tests/mir-opt/unusual_item_types.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#120633 pattern_analysis: gather up place-relevant info
  compiler/rustc_pattern_analysis/src/usefulness.rs
Labels: T-compiler, S-waiting-on-bors

#120664 Add parallel rustc ui tests
  src/tools/tidy/src/ui_tests.rs
  tests/ui/parallel-rustc/cache-after-waiting-issue-111528.rs
  tests/ui/parallel-rustc/cache-after-waiting-issue-111528.stderr
  tests/ui/parallel-rustc/export-symbols-deadlock-issue-118205-2.rs
  tests/ui/parallel-rustc/export-symbols-deadlock-issue-118205.rs
  tests/ui/parallel-rustc/hello_world.rs
  tests/ui/parallel-rustc/read-stolen-value-issue-111520.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#120726 Don't use bashism in checktools.sh
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#120733 MirPass: make name more const
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/util/common.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
Labels: T-compiler, S-waiting-on-bors

#120735 Remove some `unchecked_claim_error_was_emitted` calls
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_span/src/lib.rs
  src/librustdoc/config.rs
  src/librustdoc/lib.rs
  src/librustdoc/scrape_examples.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#120746 Record coroutine kind in coroutine generics
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_middle/src/ty/instance.rs
  tests/ui/coroutine/polymorphize-args.rs
Labels: T-compiler, S-waiting-on-bors

#120748 Rollup of 13 pull requests
  compiler/rustc_codegen_llvm/src/mono_item.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/diagnostic_builder.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/util/common.rs
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/armv8r_none_eabihf.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_linux_gnu.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/arm-none-eabi.md
  src/doc/rustc/src/platform-support/armv8r-none-eabihf.md
  src/doc/unstable-book/src/compiler-flags/direct-access-external-data.md
  src/librustdoc/config.rs
  src/librustdoc/lib.rs
  src/librustdoc/scrape_examples.rs
  src/tools/build-manifest/src/main.rs
  src/tools/tidy/src/ui_tests.rs
  tests/assembly/targets/targets-elf.rs
  tests/codegen/direct-access-external-data.rs
  tests/mir-opt/remove_storage_markers.rs
  tests/mir-opt/simplify_if.rs
  tests/mir-opt/sroa/lifetimes.rs
  tests/mir-opt/sroa/structs.rs
  tests/ui/binding/irrefutable-if-let-without-else.fixed
  tests/ui/binding/irrefutable-if-let-without-else.rs
  tests/ui/binding/irrefutable-if-let-without-else.stderr
  tests/ui/coroutine/polymorphize-args.rs
  tests/ui/lint/future-incompat-json-test.stderr
  tests/ui/parallel-rustc/cache-after-waiting-issue-111528.rs
  tests/ui/parallel-rustc/cache-after-waiting-issue-111528.stderr
  tests/ui/parallel-rustc/export-symbols-deadlock-issue-118205-2.rs
  tests/ui/parallel-rustc/export-symbols-deadlock-issue-118205.rs
  tests/ui/parallel-rustc/hello_world.rs
  tests/ui/parallel-rustc/read-stolen-value-issue-111520.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup

#120302 various const interning cleanups
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/interpret/intern.rs
Labels: T-compiler, S-waiting-on-bors

#120455 Add FileCheck annotations to MIR-opt SROA tests
  tests/mir-opt/remove_storage_markers.rs
  tests/mir-opt/simplify_if.rs
  tests/mir-opt/sroa/lifetimes.rs
  tests/mir-opt/sroa/structs.rs
Labels: S-waiting-on-bors

#120470 Mark "unused binding" suggestion as maybe incorrect
  compiler/rustc_passes/src/errors.rs
  tests/ui/lint/future-incompat-json-test.stderr
Labels: T-compiler, S-waiting-on-bors

#120479 Suggest turning `if let` into irrefutable `let` if appropriate
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/expr.rs
  tests/ui/binding/irrefutable-if-let-without-else.fixed
  tests/ui/binding/irrefutable-if-let-without-else.rs
  tests/ui/binding/irrefutable-if-let-without-else.stderr
Labels: T-compiler, S-waiting-on-bors

#120564 coverage: Split out counter increment sites from BCB node/edge counters
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#119162 Add unstable `-Z direct-access-external-data` cmdline flag for `rustc`
  compiler/rustc_codegen_llvm/src/mono_item.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_linux_gnu.rs
  src/doc/unstable-book/src/compiler-flags/direct-access-external-data.md
  tests/codegen/direct-access-external-data.rs
Labels: T-compiler, S-waiting-on-bors

#110482 Add armv8r-none-eabihf target for the Cortex-R52.
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/armv8r_none_eabihf.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/arm-none-eabi.md
  src/doc/rustc/src/platform-support/armv8r-none-eabihf.md
  src/tools/build-manifest/src/main.rs
  tests/assembly/targets/targets-elf.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra

#120381 Reconstify `Add`
  compiler/rustc_middle/src/ty/diagnostics.rs
  library/core/src/ops/arith.rs
  tests/ui/suggestions/invalid-bin-op.stderr
  tests/ui/ufcs/ufcs-qpath-self-mismatch.stderr
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#120521 Make `NonZero` constructors generic.
  library/core/src/num/nonzero.rs
  tests/ui/print_type_sizes/niche-filling.rs
  tests/ui/print_type_sizes/niche-filling.stdout
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#120558 Stop bailing out from compilation just because there were incoherent traits
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  library/core/src/primitive_docs.rs
  tests/ui/associated-consts/issue-105330.rs
  tests/ui/associated-consts/issue-105330.stderr
  tests/ui/async-await/in-trait/coherence-constrained.rs
  tests/ui/async-await/in-trait/coherence-constrained.stderr
  tests/ui/coherence/associated-type2.rs
  tests/ui/coherence/associated-type2.stderr
  tests/ui/coherence/coherence-blanket-conflicts-with-specific-multidispatch.rs
  tests/ui/coherence/coherence-blanket-conflicts-with-specific-multidispatch.stderr
  tests/ui/coherence/coherence-orphan.rs
  tests/ui/coherence/coherence-orphan.stderr
  tests/ui/coherence/deep-bad-copy-reason.rs
  tests/ui/coherence/deep-bad-copy-reason.stderr
  tests/ui/coherence/occurs-check/opaques.next.stderr
  tests/ui/coherence/occurs-check/opaques.rs
  tests/ui/error-codes/E0117.rs
  tests/ui/error-codes/E0117.stderr
  tests/ui/error-codes/E0120.rs
  tests/ui/error-codes/E0374.rs
  tests/ui/error-codes/E0374.stderr
  tests/ui/error-codes/E0375.rs
  tests/ui/error-codes/E0375.stderr
  tests/ui/issues/issue-67535.rs
  tests/ui/issues/issue-67535.stderr
  tests/ui/marker_trait_attr/override-item-on-marker-trait.rs
  tests/ui/marker_trait_attr/override-item-on-marker-trait.stderr
  tests/ui/specialization/specialization-default-items-drop-coherence.next.stderr
  tests/ui/specialization/specialization-default-items-drop-coherence.rs
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-3.fixed
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-3.rs
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-3.stderr
  tests/ui/suggestions/missing-bound-in-derive-copy-impl.rs
  tests/ui/suggestions/missing-bound-in-derive-copy-impl.stderr
  tests/ui/traits/issue-50480.rs
  tests/ui/traits/issue-50480.stderr
  tests/ui/traits/issue-78372.rs
  tests/ui/traits/issue-78372.stderr
  tests/ui/traits/next-solver/coherence/trait_ref_is_knowable-norm-overflow.rs
  tests/ui/traits/next-solver/coherence/trait_ref_is_knowable-norm-overflow.stderr
  tests/ui/traits/next-solver/issue-118950-root-region.rs
  tests/ui/traits/next-solver/issue-118950-root-region.stderr
  tests/ui/typeck/typeck_type_placeholder_item.rs
  tests/ui/typeck/typeck_type_placeholder_item.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#120579 Prevent running some code if it is already in the map
  src/librustdoc/clean/inline.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, perf-regression

#120688 GVN: also turn moves into copies with projections
  compiler/rustc_mir_transform/src/gvn.rs
  tests/mir-opt/gvn_copy_moves.fn0.GVN.diff
  tests/mir-opt/gvn_copy_moves.rs
  tests/mir-opt/separate_const_switch.identity.SeparateConstSwitch.diff
Labels: T-compiler, S-waiting-on-bors, A-mir-opt

#120702 docs: also check the inline stmt during redundant link check
  src/librustdoc/clean/mod.rs
  src/librustdoc/passes/lint/redundant_explicit_links.rs
  tests/rustdoc-ui/issues/issue-120444-1.rs
  tests/rustdoc-ui/issues/issue-120444-1.stderr
  tests/rustdoc-ui/issues/issue-120444-2.rs
  tests/rustdoc-ui/issues/issue-120444-2.stderr
Labels: T-rustdoc, S-waiting-on-bors

#120727 exhaustiveness: Prefer "`0..MAX` not covered" to "`_` not covered"
  compiler/rustc_pattern_analysis/src/usefulness.rs
  tests/ui/pattern/usefulness/empty-match-check-notes.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/empty-match-check-notes.normal.stderr
  tests/ui/pattern/usefulness/empty-match-check-notes.rs
  tests/ui/pattern/usefulness/empty-match.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/empty-match.normal.stderr
  tests/ui/pattern/usefulness/empty-match.rs
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, A-exhaustiveness-checking

#120734 Add `SubdiagnosticMessageOp` as a trait alias.
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/errors/note_and_explain.rs
  compiler/rustc_lint/src/errors.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_macros/src/diagnostics/subdiagnostic.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_pattern_analysis/src/errors.rs
  compiler/rustc_trait_selection/src/errors.rs
  tests/ui-fulldeps/internal-lints/diagnostics.rs
  tests/ui-fulldeps/internal-lints/diagnostics.stderr
Labels: T-compiler, S-waiting-on-bors, A-translation

#120739 improve pretty printing for associated items in trait objects
  compiler/rustc_middle/src/traits/util.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  tests/ui/traits/object/pretty.rs
  tests/ui/traits/object/pretty.stderr
  tests/ui/wf/hir-wf-canonicalized.rs
  tests/ui/wf/hir-wf-canonicalized.stderr
Labels: T-compiler, S-waiting-on-bors

#120103 Make it so that async-fn-in-trait is compatible with a concrete future in implementation
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/errors.rs
  tests/ui/async-await/in-trait/async-example-desugared-boxed.rs
  tests/ui/async-await/in-trait/async-example-desugared-boxed.stderr
  tests/ui/async-await/in-trait/async-example-desugared-manual.rs
  tests/ui/async-await/in-trait/async-example-desugared-manual.stderr
  tests/ui/async-await/in-trait/fn-not-async-err.rs
  tests/ui/async-await/in-trait/fn-not-async-err.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, S-waiting-on-fcp, to-announce

#120206 hir: Make sure all `HirId`s have corresponding HIR `Node`s
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/entry.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/structured_errors/wrong_number_of_generic_args.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/rvalue_scopes.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/loops.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  src/librustdoc/html/render/span_map.rs
  src/tools/clippy/clippy_lints/src/absolute_paths.rs
  src/tools/clippy/clippy_lints/src/casts/cast_slice_different_sizes.rs
  src/tools/clippy/clippy_lints/src/casts/unnecessary_cast.rs
  src/tools/clippy/clippy_lints/src/derivable_impls.rs
  src/tools/clippy/clippy_lints/src/empty_drop.rs
  src/tools/clippy/clippy_lints/src/escape.rs
  src/tools/clippy/clippy_lints/src/explicit_write.rs
  src/tools/clippy/clippy_lints/src/index_refutable_slice.rs
  src/tools/clippy/clippy_lints/src/len_zero.rs
  src/tools/clippy/clippy_lints/src/loops/same_item_push.rs
  src/tools/clippy/clippy_lints/src/manual_rem_euclid.rs
  src/tools/clippy/clippy_lints/src/methods/filter_next.rs
  src/tools/clippy/clippy_lints/src/methods/option_map_unwrap_or.rs
  src/tools/clippy/clippy_lints/src/min_ident_chars.rs
  src/tools/clippy/clippy_lints/src/mixed_read_write_in_expression.rs
  src/tools/clippy/clippy_lints/src/non_copy_const.rs
  src/tools/clippy/clippy_lints/src/same_name_method.rs
  src/tools/clippy/clippy_lints/src/self_named_constructors.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#120214 match lowering: consistently lower bindings deepest-first
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  tests/mir-opt/early_otherwise_branch.opt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt2.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt3.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_3_element_tuple.opt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_68867.try_sum.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_noopt.noopt1.EarlyOtherwiseBranch.diff
  tests/ui/pattern/bindings-after-at/bind-by-copy.rs
  tests/ui/pattern/bindings-after-at/borrowck-move-and-move.rs
  tests/ui/pattern/bindings-after-at/borrowck-move-and-move.stderr
  tests/ui/pattern/bindings-after-at/borrowck-pat-by-move-and-ref-inverse.rs
  tests/ui/pattern/bindings-after-at/borrowck-pat-by-move-and-ref-inverse.stderr
  tests/ui/pattern/bindings-after-at/borrowck-pat-by-move-and-ref.rs
  tests/ui/pattern/bindings-after-at/borrowck-pat-by-move-and-ref.stderr
  tests/ui/pattern/bindings-after-at/borrowck-pat-ref-mut-and-ref.rs
  tests/ui/pattern/bindings-after-at/borrowck-pat-ref-mut-and-ref.stderr
  tests/ui/pattern/bindings-after-at/borrowck-pat-ref-mut-twice.rs
  tests/ui/pattern/bindings-after-at/borrowck-pat-ref-mut-twice.stderr
Labels: T-compiler, S-waiting-on-bors, F-bindings_after_at

#119592 resolve: Unload speculatively resolved crates before freezing cstore
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/extern-flag/empty-extern-arg.stderr
Labels: T-compiler, S-waiting-on-bors

#120544 Introduce `enter_forall` to supercede `instantiate_binder_with_placeholders`
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/relate/higher_ranked.rs
  compiler/rustc_infer/src/infer/relate/nll.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/region_kind.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#120750 No need to take `ImplTraitContext` by ref
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/block.rs
  compiler/rustc_ast_lowering/src/delegation.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_lowering/src/path.rs
Labels: T-compiler, S-waiting-on-bors

#120769 make future diffs minimal
  src/bootstrap/src/core/builder.rs
Labels: T-bootstrap, S-waiting-on-bors

#120772 Remove myself from review rotation.
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#120775 Make `min_exhaustive_patterns` match `exhaustive_patterns` better
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  tests/ui/closures/2229_closure_analysis/run_pass/multivariant.min_exhaustive_patterns.stderr
  tests/ui/closures/2229_closure_analysis/run_pass/multivariant.rs
  tests/ui/pattern/usefulness/always-inhabited-union-ref.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/always-inhabited-union-ref.min_exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/always-inhabited-union-ref.rs
  tests/ui/pattern/usefulness/match-privately-empty.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/match-privately-empty.min_exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/match-privately-empty.rs
  tests/ui/pattern/usefulness/slice_of_empty.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/slice_of_empty.min_exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/slice_of_empty.rs
  tests/ui/rfcs/rfc-0000-never_patterns/typeck.rs
  tests/ui/rfcs/rfc-0000-never_patterns/unreachable.rs
  tests/ui/uninhabited/uninhabited-irrefutable.exhaustive_patterns.stderr
  tests/ui/uninhabited/uninhabited-irrefutable.min_exhaustive_patterns.stderr
  tests/ui/uninhabited/uninhabited-irrefutable.rs
Labels: T-compiler, S-waiting-on-bors, F-exhaustive_patterns

#120778 Deduplicate `tcx.instance_mir(instance)` calls in `try_instance_mir`
  compiler/rustc_mir_transform/src/inline.rs
Labels: T-compiler, S-waiting-on-bors

#120782 Fix mir pass ICE in the presence of other errors
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_mir_transform/src/abort_unwinding_calls.rs
Labels: T-compiler, S-waiting-on-bors

#120783 Add release note for new ambiguous_wide_pointer_comparisons lint
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#120801 Avoid ICE in drop recursion check in case of invalid drop impls
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/lints.rs
  tests/ui/drop/recursion-check-on-erroneous-impl.rs
  tests/ui/drop/recursion-check-on-erroneous-impl.stderr
Labels: T-compiler, S-waiting-on-bors

#120807 Rollup of 9 pull requests
  RELEASES.md
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/block.rs
  compiler/rustc_ast_lowering/src/delegation.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/src/astconv/bounds.rs
  compiler/rustc_hir_analysis/src/astconv/generics.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/mem_categorization.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/ty/_match.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  compiler/rustc_mir_build/src/lints.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_transform/src/abort_unwinding_calls.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_pattern_analysis/src/lints.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  src/bootstrap/src/core/builder.rs
  tests/ui/closures/2229_closure_analysis/run_pass/multivariant.min_exhaustive_patterns.stderr
  tests/ui/closures/2229_closure_analysis/run_pass/multivariant.rs
  tests/ui/drop/recursion-check-on-erroneous-impl.rs
  tests/ui/drop/recursion-check-on-erroneous-impl.stderr
  tests/ui/pattern/usefulness/always-inhabited-union-ref.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/always-inhabited-union-ref.min_exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/always-inhabited-union-ref.rs
  tests/ui/pattern/usefulness/match-privately-empty.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/match-privately-empty.min_exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/match-privately-empty.rs
  tests/ui/pattern/usefulness/slice_of_empty.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/slice_of_empty.min_exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/slice_of_empty.rs
  tests/ui/rfcs/rfc-0000-never_patterns/typeck.rs
  tests/ui/rfcs/rfc-0000-never_patterns/unreachable.rs
  tests/ui/uninhabited/uninhabited-irrefutable.exhaustive_patterns.stderr
  tests/ui/uninhabited/uninhabited-irrefutable.min_exhaustive_patterns.stderr
  tests/ui/uninhabited/uninhabited-irrefutable.rs
  triagebot.toml
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors, rollup, A-meta, A-query-system, WG-trait-system-refactor

#120590 Remove unused args from functions
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_analysis/src/astconv/bounds.rs
  compiler/rustc_hir_analysis/src/astconv/generics.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/mem_categorization.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/ty/_match.rs
  compiler/rustc_mir_transform/src/const_prop_lint.rs
  compiler/rustc_pattern_analysis/src/lints.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system, WG-trait-system-refactor

#120238 Always check the result of `pthread_mutex_lock`
  library/std/src/sys/pal/unix/locks/pthread_mutex.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-unix

#120809 Use `transmute_unchecked` in `NonZero::new`.
  library/core/src/num/nonzero.rs
Labels: S-waiting-on-bors, T-libs

#120817 Fix more `ty::Error` ICEs in MIR passes
  compiler/rustc_const_eval/src/transform/validate.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  tests/ui/async-await/async-closures/tainted-body.rs
  tests/ui/async-await/async-closures/tainted-body.stderr
  tests/ui/mir/validate/error-body.rs
  tests/ui/mir/validate/error-body.stderr
Labels: T-compiler, S-waiting-on-bors

#120828 Fix `ErrorGuaranteed` unsoundness with stash/steal.
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_interface/src/passes.rs
Labels: T-compiler, S-waiting-on-bors

#120831 Startup objects disappearing from sysroot
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#120308 core/time: avoid divisions in Duration::new
  library/core/src/time.rs
Labels: S-waiting-on-bors, T-libs

#120704 A drive-by rewrite of `give_region_a_name()`
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
Labels: T-compiler, S-waiting-on-bors

#113671 Make privacy visitor use types more (instead of HIR)
  Cargo.lock
  compiler/rustc_privacy/Cargo.toml
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_ty_utils/src/lib.rs
  compiler/rustc_ty_utils/src/sig_types.rs
  tests/ui/dyn-keyword/dyn-2018-edition-lint.rs
  tests/ui/dyn-keyword/dyn-2018-edition-lint.stderr
  tests/ui/impl-trait/fresh-lifetime-from-bare-trait-obj-114664.rs
  tests/ui/impl-trait/fresh-lifetime-from-bare-trait-obj-114664.stderr
  tests/ui/lint/force-warn/allowed-group-warn-by-default-lint.rs
  tests/ui/lint/force-warn/allowed-group-warn-by-default-lint.stderr
  tests/ui/lint/force-warn/cap-lints-allow.rs
  tests/ui/lint/force-warn/cap-lints-allow.stderr
  tests/ui/lint/force-warn/lint-group-allowed-cli-warn-by-default-lint.rs
  tests/ui/lint/force-warn/lint-group-allowed-cli-warn-by-default-lint.stderr
  tests/ui/lint/force-warn/lint-group-allowed-lint-group.rs
  tests/ui/lint/force-warn/lint-group-allowed-lint-group.stderr
  tests/ui/lint/force-warn/lint-group-allowed-warn-by-default-lint.rs
  tests/ui/lint/force-warn/lint-group-allowed-warn-by-default-lint.stderr
  tests/ui/lint/lint-stability-deprecated.rs
  tests/ui/lint/lint-stability-deprecated.stderr
  tests/ui/object-safety/assoc_type_bounds_sized_unnecessary.rs
  tests/ui/object-safety/assoc_type_bounds_sized_unnecessary.stderr
  tests/ui/privacy/associated-item-privacy-trait.stderr
  tests/ui/privacy/associated-item-privacy-type-binding.stderr
  tests/ui/privacy/private-type-in-interface.stderr
  tests/ui/privacy/projections.rs
  tests/ui/privacy/projections.stderr
  tests/ui/privacy/projections2.rs
  tests/ui/privacy/projections2.stderr
  tests/ui/privacy/struct-field-type.rs
  tests/ui/privacy/struct-field-type.stderr
  tests/ui/suggestions/issue-61963.rs
  tests/ui/suggestions/issue-61963.stderr
  tests/ui/type-alias-enum-variants/enum-variant-priority-lint-ambiguous_associated_items.rs
  tests/ui/type-alias-enum-variants/enum-variant-priority-lint-ambiguous_associated_items.stderr
Labels: T-compiler, S-waiting-on-bors

#120676 Bump bootstrap compiler to just-built 1.77 beta
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_index_macros/src/lib.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_middle/src/lib.rs
  library/alloc/src/slice.rs
  library/alloc/src/vec/cow.rs
  library/core/src/array/mod.rs
  library/core/src/async_iter/async_iter.rs
  library/core/src/intrinsics.rs
  library/core/src/intrinsics/mir.rs
  library/core/src/lib.rs
  library/core/src/marker.rs
  library/core/src/mem/mod.rs
  library/core/src/net/mod.rs
  library/core/src/num/nonzero.rs
  library/core/src/ops/async_function.rs
  library/core/src/ops/coroutine.rs
  library/core/src/ops/range.rs
  library/core/src/option.rs
  library/core/src/slice/iter.rs
  library/core/src/slice/mod.rs
  library/core/src/tuple.rs
  library/core/tests/lib.rs
  library/panic_unwind/src/seh.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/fs.rs
  library/std/src/lib.rs
  library/std/src/panicking.rs
  library/std/src/sync/mutex.rs
  library/std/src/sync/rwlock.rs
  library/std/src/sys/pal/common/thread_local/fast_local.rs
  library/std/src/sys/pal/common/thread_local/static_local.rs
  library/std/src/sys/pal/unix/thread_local_dtor.rs
  library/std/src/thread/local.rs
  src/bootstrap/src/lib.rs
  src/stage0.json
  src/tools/coverage-dump/src/covfun.rs
  src/tools/miri/src/lib.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors, T-libs, O-unix

#120776 Move path implementations into `sys`
  library/std/src/sys/mod.rs
  library/std/src/sys/pal/hermit/mod.rs
  library/std/src/sys/pal/sgx/mod.rs
  library/std/src/sys/pal/solid/mod.rs
  library/std/src/sys/pal/teeos/mod.rs
  library/std/src/sys/pal/uefi/mod.rs
  library/std/src/sys/pal/uefi/path.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unsupported/mod.rs
  library/std/src/sys/pal/wasi/mod.rs
  library/std/src/sys/pal/wasm/mod.rs
  library/std/src/sys/pal/windows/fs.rs
  library/std/src/sys/pal/windows/mod.rs
  library/std/src/sys/pal/xous/mod.rs
  library/std/src/sys/pal/zkvm/mod.rs
  library/std/src/sys/path/mod.rs
  library/std/src/sys/path/sgx.rs
  library/std/src/sys/path/unix.rs
  library/std/src/sys/path/unsupported_backslash.rs
  library/std/src/sys/path/windows.rs
  library/std/src/sys/path/windows/tests.rs
Labels: O-windows, O-wasm, S-waiting-on-bors, T-libs, O-SGX, O-unix, O-wasi, O-hermit, O-solid

#120790 better error message on download CI LLVM failure
  src/bootstrap/src/core/download.rs
Labels: T-bootstrap, S-waiting-on-bors

#120815 Improve `Option::inspect` docs
  library/core/src/option.rs
  library/core/src/result.rs
Labels: S-waiting-on-bors, T-libs

#120822 Emit more specific diagnostics when enums fail to cast with `as`
  compiler/rustc_hir_typeck/src/cast.rs
  tests/ui/cast/enum-to-numeric-cast.rs
  tests/ui/cast/enum-to-numeric-cast.stderr
  tests/ui/cast/issue-88621.stderr
  tests/ui/tag-variant-cast-non-nullary.stderr
Labels: T-compiler, S-waiting-on-bors

#120827 Print image input file and checksum in CI only
  src/ci/docker/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#120836 hide impls if trait bound is proven from env
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  tests/ui/traits/next-solver/cycles/fixpoint-rerun-all-cycle-heads.rs
  tests/ui/traits/next-solver/cycles/fixpoint-rerun-all-cycle-heads.stderr
  tests/ui/traits/next-solver/env-shadows-impls/ambig-env-no-shadow.rs
  tests/ui/traits/next-solver/env-shadows-impls/discard-impls-shadowed-by-env-1.rs
  tests/ui/traits/next-solver/env-shadows-impls/discard-impls-shadowed-by-env-2.rs
  tests/ui/traits/next-solver/env-shadows-impls/discard-impls-shadowed-by-env-3.rs
  tests/ui/traits/next-solver/env-shadows-impls/normalizes_to_ignores_unnormalizable_candidate.rs
  tests/ui/traits/next-solver/env-shadows-impls/normalizes_to_ignores_unnormalizable_candidate.stderr
  tests/ui/traits/next-solver/env-shadows-impls/param-candidate-shadows-project.rs
  tests/ui/traits/next-solver/env-shadows-impls/param-candidate-shadows-project.stderr
  tests/ui/traits/next-solver/generalize/occurs-check-nested-alias.next.stderr
  tests/ui/traits/next-solver/normalize-param-env-2.rs
  tests/ui/traits/next-solver/normalize-param-env-2.stderr
  tests/ui/traits/next-solver/normalize-param-env-4.next.stderr
  tests/ui/traits/next-solver/normalize-param-env-4.rs
  tests/ui/traits/next-solver/normalizes_to_ignores_unnormalizable_candidate.rs
  tests/ui/traits/next-solver/param-candidate-doesnt-shadow-project.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#120844 Build DebugInfo for async closures
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  tests/codegen/async-closure-debug.rs
  tests/ui/async-await/async-closures/async-fn-mut-for-async-fn.rs
  tests/ui/async-await/async-closures/async-fn-once-for-async-fn.rs
Labels: T-compiler, S-waiting-on-bors

#120851 Remove duplicate release note
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#120354 improve normalization of `Pointee::Metadata`
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  tests/ui/traits/pointee-normalize-equate.rs
Labels: T-compiler, S-waiting-on-bors, T-types, WG-trait-system-refactor

#120351 Implement SystemTime for UEFI
  library/std/src/sys/pal/uefi/helpers.rs
  library/std/src/sys/pal/uefi/mod.rs
  library/std/src/sys/pal/uefi/tests.rs
  library/std/src/sys/pal/uefi/time.rs
Labels: S-waiting-on-bors, T-libs

#120846 Update jobserver-rs to 0.1.28
  Cargo.lock
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_data_structures/Cargo.toml
  compiler/rustc_data_structures/src/jobserver.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, stable-nominated

#120850 ast_lowering: Fix regression in `use ::{}` imports.
  compiler/rustc_ast_lowering/src/item.rs
  tests/ui/imports/empty-import-prefix-pass-2015.rs
  tests/ui/imports/empty-import-prefix-pass.rs
Labels: T-compiler, S-waiting-on-bors

#120853 Avoid a collection and iteration on empty passes
  compiler/rustc_lint/src/late.rs
Labels: T-compiler, S-waiting-on-bors

#120584 For a rigid projection, recursively look at the self type's item bounds to fix the `associated_type_bounds` feature
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  tests/ui/associated-type-bounds/bad-bounds-on-assoc-in-trait.rs
  tests/ui/associated-type-bounds/bad-bounds-on-assoc-in-trait.stderr
  tests/ui/associated-type-bounds/bounds-on-assoc-in-trait.rs
  tests/ui/associated-type-bounds/bounds-on-assoc-in-trait.stderr
  tests/ui/associated-type-bounds/duplicate.rs
  tests/ui/associated-type-bounds/duplicate.stderr
  tests/ui/associated-type-bounds/higher-ranked.rs
  tests/ui/associated-type-bounds/nested-bounds-dont-eliminate-alias-bounds.rs
  tests/ui/associated-types/hr-associated-type-bound-object.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.current.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.next.stderr
  tests/ui/async-await/return-type-notation/normalizing-self-auto-trait-issue-109924.rs
  tests/ui/feature-gates/feature-gate-associated_type_bounds.rs
  tests/ui/feature-gates/feature-gate-associated_type_bounds.stderr
  tests/ui/generic-associated-types/bugs/issue-88460.rs
  tests/ui/generic-associated-types/bugs/issue-88460.stderr
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/issue-90950.rs
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/issue-90950.stderr
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/norm-before-method-resolution.rs
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/norm-before-method-resolution.stderr
Labels: S-waiting-on-bors, T-types, WG-trait-system-refactor

#120596 [rustdoc] Correctly generate path for non-local items in source code pages
  src/librustdoc/clean/inline.rs
  src/librustdoc/formats/item_type.rs
  src/librustdoc/html/format.rs
  tests/rustdoc/jump-to-non-local-method.rs
Labels: T-rustdoc, S-waiting-on-bors

#120629 Move some test files
  src/tools/tidy/src/ui_tests.rs
  tests/ui/async-await/issue-65634-raw-ident-suggestion.edition2015.stderr
  tests/ui/async-await/issue-65634-raw-ident-suggestion.edition2018.stderr
  tests/ui/async-await/issue-65634-raw-ident-suggestion.rs
  tests/ui/binop/issue-62375.rs
  tests/ui/binop/issue-62375.stderr
  tests/ui/codegen/issue-82833-slice-miscompile.rs
  tests/ui/coercion/issue-26905-rpass.rs
  tests/ui/coercion/issue-26905.rs
  tests/ui/coercion/issue-26905.stderr
  tests/ui/extern-mod-syntax.rs
  tests/ui/extern/issue-16250.rs
  tests/ui/extern/issue-16250.stderr
  tests/ui/extern/issue-47725.rs
  tests/ui/extern/issue-47725.stderr
  tests/ui/issues/issue-3878.rs
  tests/ui/macros/auxiliary/hello_macro.rs
  tests/ui/macros/issue-46438.rs
  tests/ui/macros/issue-46438.stderr
  tests/ui/macros/macro-quote-test.rs
  tests/ui/pattern/issue-28992-empty.rs
  tests/ui/pattern/issue-28992-empty.stderr
  tests/ui/privacy/auxiliary/private-trait-xc.rs
  tests/ui/privacy/issue-11593.rs
  tests/ui/privacy/issue-11593.stderr
  tests/ui/traits/issue-33096.rs
  tests/ui/traits/issue-40085.rs
  tests/ui/traits/issue-58344.rs
  tests/ui/typeck/issue-16338.rs
  tests/ui/typeck/issue-16338.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#120721 fix `llvm_out` to use the correct LLVM root
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#120712 Harmonize `AsyncFn` implementations, make async closures conditionally impl `Fn*` traits
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_infer/src/traits/error_reporting/mod.rs
  compiler/rustc_trait_selection/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_ty_utils/src/instance.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/core/src/ops/async_function.rs
  tests/ui/async-await/async-closures/is-not-fn.rs
  tests/ui/async-await/async-closures/is-not-fn.stderr
  tests/ui/async-await/async-closures/once.rs
  tests/ui/async-await/async-closures/refd.rs
  tests/ui/async-await/async-fn/dyn-pos.stderr
  tests/ui/async-await/async-fn/simple.rs
  tests/ui/did_you_mean/bad-assoc-ty.stderr
  tests/ui/generic-associated-types/gat-in-trait-path.base.stderr
  tests/ui/generic-associated-types/issue-79422.base.stderr
  tests/ui/wf/wf-unsafe-trait-obj-match.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, WG-trait-system-refactor

#120771 Use `ensure` when the result of the query is not needed beyond its `Result`ness
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#120823 Clarify that atomic and regular integers can differ in alignment
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors, T-libs

#120859 Loosen an assertion to account for stashed errors.
  compiler/rustc_hir_analysis/src/check/check.rs
  tests/ui/typeck/issue-120856.rs
  tests/ui/typeck/issue-120856.stderr
Labels: T-compiler, S-waiting-on-bors

#120865 Turn the "no saved object file in work product" ICE into a translatable fatal error
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/errors.rs
Labels: T-compiler, S-waiting-on-bors

#120866 Remove unnecessary `#![feature(min_specialization)]`
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_passes/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#120870 Allow restricted trait impls under `#[allow_internal_unstable(min_specialization)]`
  compiler/rustc_ast/src/lib.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir/src/lib.rs
  compiler/rustc_hir_analysis/src/coherence/mod.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_mir_build/src/lib.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_trait_selection/src/lib.rs
  tests/ui/specialization/min_specialization/allow_internal_unstable.rs
Labels: T-compiler, S-waiting-on-bors

#120877 Rollup of 8 pull requests
  compiler/rustc_ast/src/lib.rs
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir/src/lib.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/coherence/mod.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_mir_build/src/lib.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_passes/src/lib.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_trait_selection/src/lib.rs
  library/core/src/str/mod.rs
  library/core/src/sync/atomic.rs
  tests/ui/array-slice-vec/check-static-mut-slices.rs
  tests/ui/associated-type-bounds/assoc-type-eq-with-dyn-atb-fail.rs
  tests/ui/associated-type-bounds/assoc-type-eq-with-dyn-atb-fail.stderr
  tests/ui/associated-type-bounds/bad-universal-in-dyn-in-where-clause.rs
  tests/ui/associated-type-bounds/bad-universal-in-dyn-in-where-clause.stderr
  tests/ui/associated-type-bounds/bad-universal-in-impl-sig.rs
  tests/ui/associated-type-bounds/bad-universal-in-impl-sig.stderr
  tests/ui/associated-type-bounds/duplicate.rs
  tests/ui/associated-type-bounds/duplicate.stderr
  tests/ui/associated-type-bounds/dyn-impl-trait-type.rs
  tests/ui/associated-type-bounds/dyn-impl-trait-type.stderr
  tests/ui/associated-type-bounds/dyn-rpit-and-let.rs
  tests/ui/associated-type-bounds/dyn-rpit-and-let.stderr
  tests/ui/associated-type-bounds/elision.rs
  tests/ui/associated-type-bounds/elision.stderr
  tests/ui/associated-type-bounds/fn-dyn-apit.rs
  tests/ui/associated-type-bounds/inside-adt.rs
  tests/ui/associated-type-bounds/inside-adt.stderr
  tests/ui/associated-type-bounds/issue-104916.rs
  tests/ui/associated-type-bounds/issue-104916.stderr
  tests/ui/consts/const-address-of-mut.rs
  tests/ui/consts/const-address-of-mut.stderr
  tests/ui/consts/miri_unleashed/mutable_references_err.32bit.stderr
  tests/ui/consts/miri_unleashed/mutable_references_err.64bit.stderr
  tests/ui/consts/static-mut-refs.rs
  tests/ui/consts/static_mut_containing_mut_ref2.rs
  tests/ui/consts/static_mut_containing_mut_ref2.stock.stderr
  tests/ui/feature-gates/feature-gate-associated_type_bounds.rs
  tests/ui/feature-gates/feature-gate-associated_type_bounds.stderr
  tests/ui/specialization/min_specialization/allow_internal_unstable.rs
  tests/ui/typeck/issue-120856.rs
  tests/ui/typeck/issue-120856.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#120719 Remove support for `associated_type_bound` nested in `dyn` types
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/lib.rs
  tests/ui/associated-type-bounds/assoc-type-eq-with-dyn-atb-fail.rs
  tests/ui/associated-type-bounds/assoc-type-eq-with-dyn-atb-fail.stderr
  tests/ui/associated-type-bounds/bad-universal-in-dyn-in-where-clause.rs
  tests/ui/associated-type-bounds/bad-universal-in-dyn-in-where-clause.stderr
  tests/ui/associated-type-bounds/bad-universal-in-impl-sig.rs
  tests/ui/associated-type-bounds/bad-universal-in-impl-sig.stderr
  tests/ui/associated-type-bounds/duplicate.rs
  tests/ui/associated-type-bounds/duplicate.stderr
  tests/ui/associated-type-bounds/dyn-impl-trait-type.rs
  tests/ui/associated-type-bounds/dyn-impl-trait-type.stderr
  tests/ui/associated-type-bounds/dyn-rpit-and-let.rs
  tests/ui/associated-type-bounds/dyn-rpit-and-let.stderr
  tests/ui/associated-type-bounds/elision.rs
  tests/ui/associated-type-bounds/elision.stderr
  tests/ui/associated-type-bounds/fn-dyn-apit.rs
  tests/ui/associated-type-bounds/inside-adt.rs
  tests/ui/associated-type-bounds/inside-adt.stderr
  tests/ui/associated-type-bounds/issue-104916.rs
  tests/ui/associated-type-bounds/issue-104916.stderr
  tests/ui/feature-gates/feature-gate-associated_type_bounds.rs
  tests/ui/feature-gates/feature-gate-associated_type_bounds.stderr
Labels: T-compiler, S-waiting-on-bors

#120764 Add documentation on `str::starts_with`
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#117614 static mut: allow mutable reference to arbitrary types, not just slices and arrays
  compiler/rustc_const_eval/src/transform/check_consts/check.rs
  tests/ui/array-slice-vec/check-static-mut-slices.rs
  tests/ui/consts/const-address-of-mut.rs
  tests/ui/consts/const-address-of-mut.stderr
  tests/ui/consts/miri_unleashed/mutable_references_err.32bit.stderr
  tests/ui/consts/miri_unleashed/mutable_references_err.64bit.stderr
  tests/ui/consts/static-mut-refs.rs
  tests/ui/consts/static_mut_containing_mut_ref2.rs
  tests/ui/consts/static_mut_containing_mut_ref2.stock.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, S-waiting-on-fcp, to-announce

#117206 Enable MIR JumpThreading by default
  compiler/rustc_mir_transform/src/const_goto.rs
  compiler/rustc_mir_transform/src/jump_threading.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/separate_const_switch.rs
  tests/coverage/closure.cov-map
  tests/coverage/issue-84561.cov-map
  tests/coverage/try_error_result.cov-map
  tests/coverage/yield.cov-map
  tests/mir-opt/const_goto.issue_77355_opt.ConstGoto.diff
  tests/mir-opt/const_goto.rs
  tests/mir-opt/const_goto_const_eval_fail.f.ConstGoto.diff
  tests/mir-opt/const_goto_const_eval_fail.f.JumpThreading.diff
  tests/mir-opt/const_goto_const_eval_fail.rs
  tests/mir-opt/const_goto_storage.match_nested_if.ConstGoto.diff
  tests/mir-opt/const_goto_storage.rs
  tests/mir-opt/pre-codegen/checked_ops.step_forward.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/loops.int_range.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/matches_macro.issue_77355_opt.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/matches_macro.rs
  tests/mir-opt/pre-codegen/range_iter.forward_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/range_iter.forward_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.range_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.range_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/try_identity.new.PreCodegen.after.mir
  tests/mir-opt/separate_const_switch.identity.JumpThreading.diff
  tests/mir-opt/separate_const_switch.rs
  tests/mir-opt/separate_const_switch.too_complex.JumpThreading.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt, perf-regression, perf-regression-triaged

#120232 Add support for custom JSON targets when using build-std.
  library/profiler_builtins/build.rs
  library/std/build.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#120405 Fold pointer operations in GVN
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/gvn.rs
  tests/mir-opt/const_prop/slice_len.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/const_prop/slice_len.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/const_prop/slice_len.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/const_prop/slice_len.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/const_prop/slice_len.rs
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.DataflowConstProp.32bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.DataflowConstProp.32bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.DataflowConstProp.64bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.DataflowConstProp.64bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.rs
  tests/mir-opt/gvn.rs
  tests/mir-opt/gvn.wide_ptr_integer.GVN.panic-abort.diff
  tests/mir-opt/gvn.wide_ptr_integer.GVN.panic-unwind.diff
  tests/mir-opt/gvn.wide_ptr_ops.GVN.panic-abort.diff
  tests/mir-opt/gvn.wide_ptr_ops.GVN.panic-unwind.diff
  tests/mir-opt/gvn.wide_ptr_provenance.GVN.panic-abort.diff
  tests/mir-opt/gvn.wide_ptr_provenance.GVN.panic-unwind.diff
  tests/mir-opt/gvn.wide_ptr_same_provenance.GVN.panic-abort.diff
  tests/mir-opt/gvn.wide_ptr_same_provenance.GVN.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-unwind.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt, perf-regression

#120914 Downgrade xcode
  .github/workflows/ci.yml
  src/ci/github-actions/ci.yml
  src/ci/scripts/select-xcode.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors
