Repository rust-lang/rust, pull requests merged in 2024-08, with the labels that each got.

#127567 std: implement the `once_wait` feature
  library/std/src/sync/once.rs
  library/std/src/sync/once/tests.rs
  library/std/src/sync/once_lock.rs
  library/std/src/sys/sync/once/futex.rs
  library/std/src/sys/sync/once/no_threads.rs
  library/std/src/sys/sync/once/queue.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs, A-atomic

#128162 Cleanup sys module to match house style
  library/std/src/pipe/tests.rs
  library/std/src/sys/anonymous_pipe/mod.rs
  library/std/src/sys/anonymous_pipe/unix.rs
  library/std/src/sys/anonymous_pipe/unsupported.rs
  library/std/src/sys/anonymous_pipe/windows.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/pal/windows/pipe.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#128296 Update target-spec metadata for loongarch64 targets
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_none.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_none_softfloat.rs
Labels: T-compiler, S-waiting-on-bors

#128443 Properly mark loop as diverging if it has no breaks
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  tests/ui/async-await/unreachable-lint-2.rs
  tests/ui/async-await/unreachable-lint-2.stderr
Labels: T-compiler, relnotes, S-waiting-on-bors

#128449 Temporarily switch `ambiguous_negative_literals` lint to allow
  compiler/rustc_lint/src/precedence.rs
  tests/ui/lint/negative_literals.rs
  tests/ui/lint/negative_literals.stderr
Labels: T-compiler, S-waiting-on-bors

#128452 derive(SmartPointer): require pointee to be maybe sized
  compiler/rustc_builtin_macros/src/deriving/smart_ptr.rs
  tests/ui/deriving/deriving-smart-pointer-neg.rs
  tests/ui/deriving/deriving-smart-pointer-neg.stderr
Labels: T-compiler, S-waiting-on-bors

#128469 Rollup of 6 pull requests
  compiler/rustc_builtin_macros/src/deriving/smart_ptr.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_lint/src/precedence.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_none.rs
  compiler/rustc_target/src/spec/targets/loongarch64_unknown_none_softfloat.rs
  library/std/src/pipe/tests.rs
  library/std/src/sync/once.rs
  library/std/src/sync/once/tests.rs
  library/std/src/sync/once_lock.rs
  library/std/src/sys/anonymous_pipe/mod.rs
  library/std/src/sys/anonymous_pipe/unix.rs
  library/std/src/sys/anonymous_pipe/unsupported.rs
  library/std/src/sys/anonymous_pipe/windows.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/pal/windows/pipe.rs
  library/std/src/sys/sync/once/futex.rs
  library/std/src/sys/sync/once/no_threads.rs
  library/std/src/sys/sync/once/queue.rs
  tests/ui/async-await/unreachable-lint-2.rs
  tests/ui/async-await/unreachable-lint-2.stderr
  tests/ui/deriving/deriving-smart-pointer-neg.rs
  tests/ui/deriving/deriving-smart-pointer-neg.stderr
  tests/ui/lint/negative_literals.rs
  tests/ui/lint/negative_literals.stderr
Labels: O-windows, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#123813 Add `REDUNDANT_IMPORTS` lint for new redundant import detection
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/imports/redundant-import-extern-prelude.rs
  tests/ui/imports/redundant-import-extern-prelude.stderr
  tests/ui/imports/redundant-import-issue-121915-2015.rs
  tests/ui/imports/redundant-import-issue-121915-2015.stderr
  tests/ui/imports/redundant-import-lang-prelude-attr.rs
  tests/ui/imports/redundant-import-lang-prelude-attr.stderr
  tests/ui/imports/redundant-import-lang-prelude.rs
  tests/ui/imports/redundant-import-lang-prelude.stderr
  tests/ui/imports/suggest-remove-issue-121315.rs
  tests/ui/imports/suggest-remove-issue-121315.stderr
  tests/ui/lint/unused/issue-59896.rs
  tests/ui/lint/unused/issue-59896.stderr
  tests/ui/lint/use-redundant/use-redundant-glob-parent.rs
  tests/ui/lint/use-redundant/use-redundant-glob-parent.stderr
  tests/ui/lint/use-redundant/use-redundant-glob.rs
  tests/ui/lint/use-redundant/use-redundant-glob.stderr
  tests/ui/lint/use-redundant/use-redundant-issue-71450.rs
  tests/ui/lint/use-redundant/use-redundant-issue-71450.stderr
  tests/ui/lint/use-redundant/use-redundant-prelude-rust-2015.rs
  tests/ui/lint/use-redundant/use-redundant-prelude-rust-2015.stderr
  tests/ui/lint/use-redundant/use-redundant-prelude-rust-2021.rs
  tests/ui/lint/use-redundant/use-redundant-prelude-rust-2021.stderr
  tests/ui/lint/use-redundant/use-redundant.rs
  tests/ui/lint/use-redundant/use-redundant.stderr
Labels: T-lang, S-waiting-on-bors

#126697 [RFC] mbe: consider the `_` in 2024 an expression
  compiler/rustc_parse/src/parser/nonterminal.rs
  tests/ui/macros/expr_2024_underscore_expr.edi2021.stderr
  tests/ui/macros/expr_2024_underscore_expr.edi2024.stderr
  tests/ui/macros/expr_2024_underscore_expr.rs
Labels: T-compiler, S-waiting-on-bors

#127159 match lowering: Hide `Candidate` from outside the lowering algorithm
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/util.rs
  tests/mir-opt/building/match/match_false_edges.full_tested_match.built.after.mir
  tests/mir-opt/building/match/match_false_edges.full_tested_match2.built.after.mir
  tests/mir-opt/building/match/match_false_edges.main.built.after.mir
  tests/mir-opt/building/match/sort_candidates.constant_eq.SimplifyCfg-initial.after.mir
  tests/mir-opt/building/match/sort_candidates.disjoint_ranges.SimplifyCfg-initial.after.mir
  tests/mir-opt/coverage/branch_match_arms.main.InstrumentCoverage.diff
  tests/mir-opt/deduplicate_blocks.is_line_doc_comment_2.DeduplicateBlocks.panic-abort.diff
  tests/mir-opt/deduplicate_blocks.is_line_doc_comment_2.DeduplicateBlocks.panic-unwind.diff
  tests/mir-opt/early_otherwise_branch.opt2.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt3.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt4.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_3_element_tuple.opt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_3_element_tuple.opt2.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_68867.try_sum.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_noopt.noopt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/jump_threading.dfa.JumpThreading.panic-abort.diff
  tests/mir-opt/jump_threading.dfa.JumpThreading.panic-unwind.diff
  tests/mir-opt/jump_threading.rs
  tests/mir-opt/match_arm_scopes.complicated_match.panic-abort.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/match_arm_scopes.complicated_match.panic-unwind.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/matches_reduce_branches.match_i128_u128.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_i16_i8.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_i8_i16.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_i8_i16_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i16_fallback.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_u16.MatchBranchSimplification.diff
  tests/mir-opt/or_pattern.shortcut_second_or.SimplifyCfg-initial.after.mir
  tests/mir-opt/or_pattern.single_switchint.SimplifyCfg-initial.after.mir
  tests/mir-opt/single_use_consts.match_const.SingleUseConsts.panic-abort.diff
  tests/mir-opt/single_use_consts.match_const.SingleUseConsts.panic-unwind.diff
  tests/mir-opt/single_use_consts.match_const_debug.SingleUseConsts.panic-abort.diff
  tests/mir-opt/single_use_consts.match_const_debug.SingleUseConsts.panic-unwind.diff
  tests/mir-opt/uninhabited_fallthrough_elimination.eliminate_fallthrough.UnreachableEnumBranching.diff
  tests/mir-opt/uninhabited_fallthrough_elimination.keep_fallthrough.UnreachableEnumBranching.diff
  tests/mir-opt/unreachable_enum_branching.byref.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.byref.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t1.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t1.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t3.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t3.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4_unreachable_default.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4_unreachable_default.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4_unreachable_default_2.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t4_unreachable_default_2.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t5_unreachable_default.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.otherwise_t5_unreachable_default.UnreachableEnumBranching.panic-unwind.diff
  tests/mir-opt/unreachable_enum_branching.rs
  tests/mir-opt/unreachable_enum_branching.simple.UnreachableEnumBranching.panic-abort.diff
  tests/mir-opt/unreachable_enum_branching.simple.UnreachableEnumBranching.panic-unwind.diff
  tests/ui/stable-mir-print/basic_function.stdout
Labels: T-compiler, S-waiting-on-bors

#128244 Peel off explicit (or implicit) deref before suggesting clone on move error in borrowck, remove some hacks
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  tests/ui/associated-types/associated-types-outlives.stderr
  tests/ui/augmented-assignments.rs
  tests/ui/augmented-assignments.stderr
  tests/ui/binop/binop-move-semantics.stderr
  tests/ui/borrowck/borrow-tuple-fields.stderr
  tests/ui/borrowck/borrowck-bad-nested-calls-move.stderr
  tests/ui/borrowck/borrowck-field-sensitivity.stderr
  tests/ui/borrowck/borrowck-issue-48962.stderr
  tests/ui/borrowck/borrowck-loan-blocks-move-cc.stderr
  tests/ui/borrowck/borrowck-loan-blocks-move.stderr
  tests/ui/borrowck/borrowck-move-from-subpath-of-borrowed-path.stderr
  tests/ui/borrowck/borrowck-move-mut-base-ptr.stderr
  tests/ui/borrowck/borrowck-move-subcomponent.stderr
  tests/ui/borrowck/borrowck-multiple-captures.stderr
  tests/ui/borrowck/borrowck-overloaded-index-move-index.stderr
  tests/ui/borrowck/borrowck-unary-move.stderr
  tests/ui/borrowck/clone-on-ref.stderr
  tests/ui/borrowck/issue-101119.stderr
  tests/ui/btreemap/btreemap_dropck.stderr
  tests/ui/dropck/drop-with-active-borrows-1.stderr
  tests/ui/error-codes/E0504.stderr
  tests/ui/error-codes/E0505.stderr
  tests/ui/fn/implied-bounds-unnorm-associated-type-4.stderr
  tests/ui/fn/implied-bounds-unnorm-associated-type-5.stderr
  tests/ui/fn/implied-bounds-unnorm-associated-type.stderr
  tests/ui/moves/move-fn-self-receiver.stderr
  tests/ui/nll/closure-access-spans.stderr
  tests/ui/nll/issue-27282-move-match-input-into-guard.stderr
  tests/ui/nll/issue-27282-move-ref-mut-into-guard.fixed
  tests/ui/nll/issue-27282-move-ref-mut-into-guard.rs
  tests/ui/nll/issue-27282-move-ref-mut-into-guard.stderr
  tests/ui/nll/issue-27282-mutation-in-guard.stderr
  tests/ui/nll/issue-52059-report-when-borrow-and-drop-conflict.stderr
  tests/ui/nll/match-guards-always-borrow.fixed
  tests/ui/nll/match-guards-always-borrow.rs
  tests/ui/nll/match-guards-always-borrow.stderr
  tests/ui/nll/polonius/polonius-smoke-test.stderr
  tests/ui/pattern/bindings-after-at/borrowck-pat-ref-mut-and-ref.stderr
  tests/ui/span/send-is-not-static-std-sync.stderr
  tests/ui/suggestions/borrow-for-loop-head.stderr
  tests/ui/try-block/try-block-bad-lifetime.stderr
  tests/ui/unop/unop-move-semantics.stderr
  tests/ui/variance/variance-issue-20533.stderr
Labels: T-compiler, S-waiting-on-bors

#128431 Add myself as VxWorks target maintainer for reference
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/vxworks.md
Labels: S-waiting-on-bors

#128438 Add special-case for [T, 0] in dropck_outlives
  compiler/rustc_trait_selection/src/traits/query/dropck_outlives.rs
  tests/ui/dropck/dropck-empty-array.rs
Labels: T-compiler, S-waiting-on-bors

#128457 Fix docs for OnceLock::get_mut_or_init
  library/std/src/sync/once_lock.rs
Labels: S-waiting-on-bors, T-libs

#128416 android: Remove libstd hacks for unsupported Android APIs
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/sys/pal/mod.rs
  library/std/src/sys/pal/unix/android.rs
  library/std/src/sys/pal/unix/mod.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#128437 improve bootstrap to allow selecting llvm tools individually
  src/bootstrap/src/core/build_steps/dist.rs
Labels: T-bootstrap, S-waiting-on-bors

#128450 Create COFF archives for non-LLVM backends
  compiler/rustc_codegen_ssa/src/back/archive.rs
Labels: T-compiler, S-waiting-on-bors

#128458 Emit an error if `#[optimize]` is applied to an incompatible item
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  tests/ui/attributes/optimize.rs
  tests/ui/attributes/optimize.stderr
Labels: T-compiler, S-waiting-on-bors

#128477 Finish blessing `coverage/mcdc` tests after LLVM 19 upgrade
  tests/coverage/mcdc/condition-limit.coverage
  tests/coverage/mcdc/if.coverage
  tests/coverage/mcdc/inlined_expressions.coverage
  tests/coverage/mcdc/nested_if.coverage
  tests/coverage/mcdc/non_control_flow.coverage
Labels: S-waiting-on-bors

#128478 Ignore `use` declaration reformatting in `.git-blame-ignore-revs`.
  .git-blame-ignore-revs
Labels: S-waiting-on-bors, A-meta

#128481 Rollup of 6 pull requests
  .git-blame-ignore-revs
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/sys/pal/mod.rs
  library/std/src/sys/pal/unix/android.rs
  library/std/src/sys/pal/unix/mod.rs
  src/bootstrap/src/core/build_steps/dist.rs
  tests/coverage/mcdc/condition-limit.coverage
  tests/coverage/mcdc/if.coverage
  tests/coverage/mcdc/inlined_expressions.coverage
  tests/coverage/mcdc/nested_if.coverage
  tests/coverage/mcdc/non_control_flow.coverage
  tests/ui/attributes/optimize.rs
  tests/ui/attributes/optimize.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, O-unix

#127543 More unsafe attr verification
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/cfg.rs
  compiler/rustc_builtin_macros/src/cfg_accessible.rs
  compiler/rustc_builtin_macros/src/derive.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_builtin_macros/src/util.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/validate_attr.rs
  tests/ui/attributes/unsafe/derive-unsafe-attributes.rs
  tests/ui/attributes/unsafe/derive-unsafe-attributes.stderr
  tests/ui/attributes/unsafe/double-unsafe-attributes.stderr
  tests/ui/attributes/unsafe/extraneous-unsafe-attributes.rs
  tests/ui/attributes/unsafe/extraneous-unsafe-attributes.stderr
  tests/ui/attributes/unsafe/proc-unsafe-attributes.rs
  tests/ui/attributes/unsafe/proc-unsafe-attributes.stderr
  tests/ui/attributes/unsafe/unsafe-attributes.rs
  tests/ui/attributes/unsafe/unsafe-safe-attribute.stderr
  tests/ui/attributes/unsafe/unsafe-safe-attribute_diagnostic.stderr
Labels: T-compiler, S-waiting-on-author, merged-by-bors

#127490 Add target page for riscv64gc-unknown-linux-gnu
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv64gc-unknown-linux-gnu.md
Labels: S-waiting-on-bors

#128433 fix(hermit): `deny(unsafe_op_in_unsafe_fn)`
  library/std/src/os/hermit/mod.rs
  library/std/src/sys/pal/hermit/alloc.rs
  library/std/src/sys/pal/hermit/fd.rs
  library/std/src/sys/pal/hermit/fs.rs
  library/std/src/sys/pal/hermit/mod.rs
  library/std/src/sys/pal/hermit/os.rs
  library/std/src/sys/pal/hermit/thread.rs
Labels: S-waiting-on-bors, T-libs, O-hermit

#128482 interpret: on a signed deref check, mention the right pointer in the error
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/ty/consts/int.rs
  compiler/rustc_middle/src/ty/util.rs
  src/tools/miri/src/alloc_addresses/mod.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/mod.rs
  src/tools/miri/src/concurrency/data_race.rs
  src/tools/miri/src/concurrency/weak_memory.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/unix/env.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/src/shims/unix/linux/mem.rs
  src/tools/miri/tests/fail-dep/libc/affinity.stderr
  src/tools/miri/tests/fail/both_borrows/issue-miri-1050-1.stack.stderr
  src/tools/miri/tests/fail/both_borrows/issue-miri-1050-1.tree.stderr
  src/tools/miri/tests/fail/dangling_pointers/out_of_bounds_project.stderr
  src/tools/miri/tests/fail/intrinsics/out_of_bounds_ptr_1.rs
  src/tools/miri/tests/fail/intrinsics/out_of_bounds_ptr_2.stderr
  src/tools/miri/tests/fail/intrinsics/ptr_offset_from_different_ints.stderr
  src/tools/miri/tests/fail/intrinsics/ptr_offset_int_plus_ptr.rs
  src/tools/miri/tests/fail/intrinsics/ptr_offset_out_of_bounds.rs
  src/tools/miri/tests/fail/intrinsics/ptr_offset_out_of_bounds.stderr
  src/tools/miri/tests/fail/intrinsics/ptr_offset_out_of_bounds_neg.rs
  src/tools/miri/tests/fail/intrinsics/ptr_offset_out_of_bounds_neg.stderr
  src/tools/miri/tests/fail/intrinsics/ptr_offset_overflow.rs
  src/tools/miri/tests/fail/intrinsics/ptr_offset_overflow.stderr
  tests/ui/const-ptr/forbidden_slices.stderr
  tests/ui/consts/const-compare-bytes-ub.stderr
  tests/ui/consts/const-eval/raw-pointer-ub.stderr
  tests/ui/consts/const-eval/ub-nonnull.stderr
  tests/ui/consts/offset_from_ub.rs
  tests/ui/consts/offset_from_ub.stderr
  tests/ui/consts/offset_ub.rs
  tests/ui/consts/offset_ub.stderr
Labels: T-compiler, S-waiting-on-bors

#128496 Fix removed `box_syntax` diagnostic if source isn't available
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/parser/removed-syntax/removed-syntax-box.stderr
Labels: T-compiler, S-waiting-on-bors

#128497 fix dropck documentation for `[T;0]` special-case
  library/core/src/ops/drop.rs
Labels: S-waiting-on-bors, T-libs

#128499 chore: refactor backtrace formatting
  library/std/src/error.rs
Labels: S-waiting-on-bors, T-libs

#127276 rustdoc: Remove OpaqueTy
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/fold.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/formats/item_type.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/json/mod.rs
  src/librustdoc/passes/stripper.rs
  src/librustdoc/visit.rs
  src/rustdoc-json-types/lib.rs
  src/tools/jsondoclint/src/item_kind.rs
  src/tools/jsondoclint/src/validator.rs
  tests/rustdoc-json/impl-trait-in-assoc-type.rs
  tests/rustdoc/type-alias/impl_trait_in_assoc_type.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#128147 migrate fmt-write-bloat to rmake
  src/tools/run-make-support/src/env.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/symbols.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/fmt-write-bloat/Makefile
  tests/run-make/fmt-write-bloat/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#126818 Better handle suggestions for the already present code and fix some suggestions
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  src/tools/clippy/clippy_lints/src/unnecessary_wraps.rs
  src/tools/clippy/tests/ui/unnecessary_literal_unwrap.stderr
  src/tools/clippy/tests/ui/unnecessary_wraps.stderr
  tests/ui/const-generics/generic_const_exprs/issue-105608.stderr
  tests/ui/imports/issue-55884-2.stderr
  tests/ui/lint/wide_pointer_comparisons.stderr
  tests/ui/privacy/issue-75907.stderr
  tests/ui/privacy/privacy5.stderr
  tests/ui/span/issue-42234-unknown-receiver-type.full.stderr
  tests/ui/suggestions/recover-missing-turbofish-surrounding-angle-braket.stderr
Labels: T-compiler, S-waiting-on-bors

#128436 Update sysinfo version to 0.31.2
  Cargo.lock
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/src/utils/metrics.rs
  src/tools/opt-dist/Cargo.toml
Labels: T-compiler, T-bootstrap, S-waiting-on-bors

#128453 raw_eq: using it on bytes with provenance is not UB (outside const-eval)
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  library/core/src/intrinsics.rs
  src/tools/miri/tests/fail/intrinsics/raw_eq_on_ptr.rs
  src/tools/miri/tests/fail/intrinsics/raw_eq_on_ptr.stderr
  tests/ui/intrinsics/intrinsic-raw_eq-const-bad.rs
  tests/ui/intrinsics/intrinsic-raw_eq-const-bad.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#128491 [`macro_metavar_expr_concat`] Dogfooding
  library/std/src/lib.rs
  library/std/src/sys/pal/unix/weak.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#128494 MIR required_consts, mentioned_items: ensure we do not forget to fill these lists
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/custom/mod.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/mentioned_items.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/required_consts.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_monomorphize/src/collector.rs
Labels: T-compiler, S-waiting-on-bors

#128521 rustdoc: Remove dead opaque_tys rendering logic
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/js/main.js
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors

#128529 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/build/custom/mod.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/mentioned_items.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/required_consts.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_monomorphize/src/collector.rs
  library/core/src/intrinsics.rs
  library/std/src/lib.rs
  library/std/src/sys/pal/unix/weak.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/src/utils/metrics.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/js/main.js
  src/tools/clippy/clippy_lints/src/unnecessary_wraps.rs
  src/tools/clippy/tests/ui/unnecessary_literal_unwrap.stderr
  src/tools/clippy/tests/ui/unnecessary_wraps.stderr
  src/tools/miri/tests/fail/intrinsics/raw_eq_on_ptr.rs
  src/tools/miri/tests/fail/intrinsics/raw_eq_on_ptr.stderr
  src/tools/opt-dist/Cargo.toml
  tests/ui/const-generics/generic_const_exprs/issue-105608.stderr
  tests/ui/imports/issue-55884-2.stderr
  tests/ui/intrinsics/intrinsic-raw_eq-const-bad.rs
  tests/ui/intrinsics/intrinsic-raw_eq-const-bad.stderr
  tests/ui/lint/wide_pointer_comparisons.stderr
  tests/ui/privacy/issue-75907.stderr
  tests/ui/privacy/privacy5.stderr
  tests/ui/span/issue-42234-unknown-receiver-type.full.stderr
  tests/ui/suggestions/recover-missing-turbofish-surrounding-angle-braket.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#128254 Rewrite binary search implementation
  library/core/src/slice/mod.rs
  library/core/tests/slice.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#128352 Migrate `cross-lang-lto` `run-make` test to rmake
  src/tools/run-make-support/src/external_deps/llvm.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/cross-lang-lto/Makefile
  tests/run-make/cross-lang-lto/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#127926 Migrate `foreign-double-unwind`, `issue-36710` and `foreign-exceptions` `run-make` tests to rmake
  src/tools/run-make-support/src/external_deps/c_build.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/cpp-global-destructors/foo.cpp
  tests/run-make/cpp-global-destructors/foo.rs
  tests/run-make/cpp-global-destructors/rmake.rs
  tests/run-make/foreign-double-unwind/Makefile
  tests/run-make/foreign-double-unwind/rmake.rs
  tests/run-make/foreign-exceptions/Makefile
  tests/run-make/foreign-exceptions/rmake.rs
  tests/run-make/issue-36710/Makefile
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#128361 Migrate `link-cfg` and `rustdoc-default-output` `run-make` tests to rmake
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/issue-88756-default-output/Makefile
  tests/run-make/issue-88756-default-output/README.md
  tests/run-make/issue-88756-default-output/x.rs
  tests/run-make/link-cfg/Makefile
  tests/run-make/link-cfg/rmake.rs
  tests/run-make/rustdoc-default-output/output-default.stdout
  tests/run-make/rustdoc-default-output/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#128528 Finish removing `has_cpuid`
  library/std/src/lib.rs
  library/std/src/sys/pal/uefi/time.rs
  src/tools/rustfmt/tests/source/cfg_if/detect/os/x86.rs
  src/tools/rustfmt/tests/target/cfg_if/detect/os/x86.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#128356 Migrate `cross-lang-lto-clang` and `cross-lang-lto-pgo-smoketest` `run-make` tests to rmake
  src/tools/run-make-support/src/external_deps/clang.rs
  src/tools/run-make-support/src/external_deps/llvm.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/cross-lang-lto-clang/Makefile
  tests/run-make/cross-lang-lto-clang/rmake.rs
  tests/run-make/cross-lang-lto-pgo-smoketest-clang/clib.c
  tests/run-make/cross-lang-lto-pgo-smoketest-clang/cmain.c
  tests/run-make/cross-lang-lto-pgo-smoketest-clang/main.rs
  tests/run-make/cross-lang-lto-pgo-smoketest-clang/rmake.rs
  tests/run-make/cross-lang-lto-pgo-smoketest-clang/rustlib.rs
  tests/run-make/cross-lang-lto-pgo-smoketest/Makefile
  tests/run-make/cross-lang-lto-riscv-abi/rmake.rs
  tests/run-make/wasm-override-linker/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#126704 Added SHA512, SM3, SM4 target-features and `sha512_sm_x86` feature gate
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  library/core/src/arch.rs
  library/core/src/lib.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/feature-gates/feature-gate-sha512_sm_x86.rs
  tests/ui/feature-gates/feature-gate-sha512_sm_x86.stderr
Labels: T-compiler, S-waiting-on-bors, A-simd, A-target-feature

#128161 nested aux-build in tests/rustdoc/ tests
  src/tools/compiletest/src/command-list.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/coverage.rs
  tests/rustdoc/cross-crate-info/cargo-transitive-no-index/auxiliary/q.rs
  tests/rustdoc/cross-crate-info/cargo-transitive-no-index/auxiliary/t.rs
  tests/rustdoc/cross-crate-info/cargo-transitive-no-index/s.rs
  tests/rustdoc/cross-crate-info/cargo-transitive/auxiliary/q.rs
  tests/rustdoc/cross-crate-info/cargo-transitive/auxiliary/t.rs
  tests/rustdoc/cross-crate-info/cargo-transitive/s.rs
  tests/rustdoc/cross-crate-info/cargo-two-no-index/auxiliary/f.rs
  tests/rustdoc/cross-crate-info/cargo-two-no-index/e.rs
  tests/rustdoc/cross-crate-info/cargo-two/auxiliary/f.rs
  tests/rustdoc/cross-crate-info/cargo-two/e.rs
  tests/rustdoc/cross-crate-info/index-on-last/auxiliary/f.rs
  tests/rustdoc/cross-crate-info/index-on-last/e.rs
  tests/rustdoc/cross-crate-info/kitchen-sink/auxiliary/q.rs
  tests/rustdoc/cross-crate-info/kitchen-sink/auxiliary/r.rs
  tests/rustdoc/cross-crate-info/kitchen-sink/auxiliary/s.rs
  tests/rustdoc/cross-crate-info/kitchen-sink/auxiliary/t.rs
  tests/rustdoc/cross-crate-info/kitchen-sink/i.rs
  tests/rustdoc/cross-crate-info/single-crate-baseline/q.rs
  tests/rustdoc/cross-crate-info/single-crate-no-index/q.rs
  tests/rustdoc/cross-crate-info/transitive/auxiliary/q.rs
  tests/rustdoc/cross-crate-info/transitive/auxiliary/t.rs
  tests/rustdoc/cross-crate-info/transitive/s.rs
  tests/rustdoc/cross-crate-info/two/auxiliary/f.rs
  tests/rustdoc/cross-crate-info/two/e.rs
  tests/rustdoc/cross-crate-info/working-dir-examples/q.rs
  tests/rustdoc/cross-crate-info/write-docs-somewhere-else/auxiliary/f.rs
  tests/rustdoc/cross-crate-info/write-docs-somewhere-else/e.rs
Labels: A-testsuite, T-rustdoc, T-bootstrap, S-waiting-on-bors

#128303 Enable `std::io::copy` specialisation for `std::pipe::{PipeReader, PipeWriter}`
  library/std/src/sys/pal/unix/kernel_copy.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#128368 Formatting tweaks
  compiler/rustc_lint/src/macro_expr_fragment_specifier_2024_migration.rs
  library/std/src/lib.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/windows/net.rs
Labels: O-windows, T-compiler, S-waiting-on-bors, T-libs, O-SGX

#128483 Still more `cfg` cleanups
  compiler/rustc_builtin_macros/src/cfg_eval.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/stmt.rs
Labels: T-compiler, S-waiting-on-bors

#128557 chore: use shorthand initializer
  compiler/rustc_builtin_macros/src/alloc_error_handler.rs
  compiler/rustc_query_system/src/query/job.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#127586 Add `#[must_use]` to some `into_raw*` functions.
  library/alloc/src/boxed.rs
  library/alloc/src/rc.rs
  library/alloc/src/string.rs
  library/alloc/src/vec/mod.rs
  library/std/src/os/fd/raw.rs
  library/std/src/os/solid/io.rs
  library/std/src/os/windows/io/raw.rs
  library/std/src/sys/pal/windows/process.rs
  library/std/src/sys/pal/windows/stdio.rs
Labels: O-windows, S-waiting-on-bors, T-libs, O-solid

#128370 linker: Pass fewer search directories to the linker
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_session/src/filesearch.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#127324 Simplify match based on the cast result of `IntToInt`
  Cargo.lock
  compiler/rustc_mir_transform/Cargo.toml
  compiler/rustc_mir_transform/src/match_branches.rs
  tests/mir-opt/matches_reduce_branches.match_i128_u128.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_i16_i8.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_i8_i16.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_i8_i16_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_sext_i8_i16.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_sext_i8_i16_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_sext_i8_u16.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_sext_i8_u16_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_trunc_i16_i8.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_trunc_i16_i8_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_trunc_i16_u8.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_trunc_i16_u8_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_trunc_u16_i8.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_trunc_u16_i8_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_trunc_u16_u8.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_trunc_u16_u8_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i16.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i16_2.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i16_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i16_fallback.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i8.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i8_2.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i8_2_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i8_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i8_failed_len_1.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i8_failed_len_2.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_i8_fallback.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_u16.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_u8_u16_2.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_zext_u8_i16.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_zext_u8_i16_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_zext_u8_u16.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.match_zext_u8_u16_failed.MatchBranchSimplification.diff
  tests/mir-opt/matches_reduce_branches.rs
  tests/mir-opt/matches_u8.exhaustive_match.MatchBranchSimplification.diff
  tests/mir-opt/matches_u8.exhaustive_match_i8.MatchBranchSimplification.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#127921 Stabilize unsafe extern blocks (RFC 3484)
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_parse/src/parser/mod.rs
  tests/rustdoc/unsafe-extern-blocks.rs
  tests/ui/feature-gates/feature-gate-unsafe-extern-blocks.rs
  tests/ui/feature-gates/feature-gate-unsafe-extern-blocks.stderr
  tests/ui/lint/unsafe_code/unsafe-extern-blocks.rs
  tests/ui/lint/unsafe_code/unsafe-extern-blocks.stderr
  tests/ui/parser/unsafe-foreign-mod-2.rs
  tests/ui/parser/unsafe-foreign-mod-2.stderr
  tests/ui/parser/unsafe-foreign-mod.rs
  tests/ui/parser/unsafe-foreign-mod.stderr
  tests/ui/rust-2024/safe-outside-extern.rs
  tests/ui/rust-2024/safe-outside-extern.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items-unsafe.edition2021.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items-unsafe.edition2024.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items-unsafe.rs
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items.edition2024.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-items.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-unsafe-on-unadorned-extern-block.edition2021.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-unsafe-on-unadorned-extern-block.edition2024.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-unsafe-on-unadorned-extern-block.rs
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-extern-suggestion.fixed
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-extern-suggestion.rs
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-extern-suggestion.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-items.edition2021.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-items.edition2024.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-items.rs
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-on-extern-block-issue-126756.fixed
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-on-extern-block-issue-126756.rs
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-on-extern-block-issue-126756.stderr
  tests/ui/unpretty/expanded-exhaustive.rs
  tests/ui/unpretty/expanded-exhaustive.stdout
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, F-unsafe_extern_blocks

#128283 bootstrap: fix bug preventing the use of custom targets
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/sanity.rs
Labels: T-bootstrap, S-waiting-on-bors

#128530 Implement `UncheckedIterator` directly for `RepeatN`
  library/core/src/iter/sources/repeat_n.rs
  tests/codegen/iter-repeat-n-trivial-drop.rs
Labels: S-waiting-on-bors, T-libs

#128551 chore: refactor backtrace style in panic
  library/std/src/panic.rs
Labels: S-waiting-on-bors, T-libs

#128573 Simplify `body` usage in rustdoc
  src/librustdoc/html/static/js/main.js
Labels: T-rustdoc, S-waiting-on-bors

#128581 Assert that all attributes are actually checked via `CheckAttrVisitor` and aren't accidentally usable on completely unrelated HIR nodes
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  tests/ui/coroutine/invalid_attr_usage.rs
  tests/ui/coroutine/invalid_attr_usage.stderr
Labels: T-compiler, S-waiting-on-bors

#128603 Update run-make/used to use `any_symbol_contains`
  tests/run-make/used/rmake.rs
  tests/run-make/used/used.rs
Labels: S-waiting-on-bors, A-run-make

#128614 Rollup of 7 pull requests
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  library/core/src/iter/sources/repeat_n.rs
  library/std/src/panic.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/sanity.rs
  src/librustdoc/html/static/js/main.js
  tests/codegen/iter-repeat-n-trivial-drop.rs
  tests/run-make/used/rmake.rs
  tests/run-make/used/used.rs
  tests/rustdoc/unsafe-extern-blocks.rs
  tests/ui/coroutine/invalid_attr_usage.rs
  tests/ui/coroutine/invalid_attr_usage.stderr
  tests/ui/feature-gates/feature-gate-unsafe-extern-blocks.rs
  tests/ui/feature-gates/feature-gate-unsafe-extern-blocks.stderr
  tests/ui/lint/unsafe_code/unsafe-extern-blocks.rs
  tests/ui/lint/unsafe_code/unsafe-extern-blocks.stderr
  tests/ui/parser/unsafe-foreign-mod-2.rs
  tests/ui/parser/unsafe-foreign-mod-2.stderr
  tests/ui/parser/unsafe-foreign-mod.rs
  tests/ui/parser/unsafe-foreign-mod.stderr
  tests/ui/rust-2024/safe-outside-extern.rs
  tests/ui/rust-2024/safe-outside-extern.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items-unsafe.edition2021.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items-unsafe.edition2024.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items-unsafe.rs
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items.edition2024.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/extern-items.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-impl-trait.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-items.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.rs
  tests/ui/rust-2024/unsafe-extern-blocks/safe-trait.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-unsafe-on-unadorned-extern-block.edition2021.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-unsafe-on-unadorned-extern-block.edition2024.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/safe-unsafe-on-unadorned-extern-block.rs
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-extern-suggestion.fixed
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-extern-suggestion.rs
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-extern-suggestion.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-items.edition2021.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-items.edition2024.stderr
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-items.rs
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-on-extern-block-issue-126756.fixed
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-on-extern-block-issue-126756.rs
  tests/ui/rust-2024/unsafe-extern-blocks/unsafe-on-extern-block-issue-126756.stderr
  tests/ui/unpretty/expanded-exhaustive.rs
  tests/ui/unpretty/expanded-exhaustive.stdout
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-run-make

#128441 Delegation: second attempt to improve perf
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/delegation.rs
  compiler/rustc_middle/src/hir/map/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#127877 Migrate `print-target-list` to `rmake` and `print-calling-convention` to ui-test
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/print-calling-conventions/Makefile
  tests/run-make/print-cfg/rmake.rs
  tests/run-make/print-check-cfg/rmake.rs
  tests/run-make/print-target-list/Makefile
  tests/run-make/print-target-list/rmake.rs
  tests/run-make/print-to-output/rmake.rs
  tests/run-make/rustdoc-scrape-examples-macros/rmake.rs
  tests/ui/print-calling-conventions.rs
  tests/ui/print-calling-conventions.stdout
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#128526 time.rs: remove "Basic usage text"
  library/core/src/time.rs
Labels: S-waiting-on-bors, T-libs

#128531 Miri: add a flag to do recursive validity checking
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  src/tools/miri/README.md
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/intrinsics/mod.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/tests/fail/validity/recursive-validity-ref-bool.rs
  src/tools/miri/tests/fail/validity/recursive-validity-ref-bool.stderr
Labels: T-compiler, S-waiting-on-bors

#128589 allow setting `link-shared` and `static-libstdcpp` with CI LLVM
  src/bootstrap/src/core/config/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#128620 Update rinja version to 0.3.0
  Cargo.lock
  src/librustdoc/Cargo.toml
Labels: T-rustdoc, S-waiting-on-bors

#128634 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  library/core/src/time.rs
  src/bootstrap/src/core/config/config.rs
  src/librustdoc/Cargo.toml
  src/librustdoc/clean/types.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/tools/miri/README.md
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/intrinsics/mod.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/tests/fail/validity/recursive-validity-ref-bool.rs
  src/tools/miri/tests/fail/validity/recursive-validity-ref-bool.stderr
  tests/ui/asm/parse-error.rs
  tests/ui/asm/parse-error.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#128305 improve error message when `global_asm!` uses `asm!` operands
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/errors.rs
  tests/ui/asm/parse-error.rs
  tests/ui/asm/parse-error.stderr
Labels: T-compiler, S-waiting-on-bors

#128578 rustdoc: Cleanup `CacheBuilder` code for building search index
  src/librustdoc/clean/types.rs
  src/librustdoc/formats/cache.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-search

#128615 rustdoc: make the hover trail for doc anchors a bit bigger
  src/librustdoc/html/static/css/rustdoc.css
Labels: S-waiting-on-bors, T-rustdoc-frontend

#128544 Check divergence value first before doing span operations in `warn_if_unreachable`
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#128534 Move the standard library to a separate workspace
  .gitignore
  Cargo.lock
  Cargo.toml
  library/Cargo.lock
  library/Cargo.toml
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/vendor.rs
  src/bootstrap/src/core/metadata.rs
  src/tools/tidy/src/deps.rs
  src/tools/tidy/src/edition.rs
  tests/ui/extern/extern-types-field-offset.run.stderr
  tests/ui/extern/extern-types-size_of_val.align.run.stderr
  tests/ui/extern/extern-types-size_of_val.size.run.stderr
  tests/ui/hygiene/panic-location.run.stderr
  tests/ui/panics/panic-in-cleanup.run.stderr
  tests/ui/panics/panic-in-ffi.run.stderr
  tests/ui/process/println-with-broken-pipe.run.stderr
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#128606 Revert recent changes to dead code analysis (beta flavor)
  compiler/rustc_passes/src/dead.rs
  library/core/src/default.rs
  tests/codegen-units/item-collection/generic-impl.rs
  tests/codegen-units/item-collection/overloaded-operators.rs
  tests/ui-fulldeps/deriving-global.rs
  tests/ui-fulldeps/deriving-hygiene.rs
  tests/ui/coherence/re-rebalance-coherence.rs
  tests/ui/const-generics/cross_crate_complex.rs
  tests/ui/const-generics/defaults/repr-c-issue-82792.rs
  tests/ui/const-generics/generic_const_exprs/associated-consts.rs
  tests/ui/const-generics/issues/issue-86535-2.rs
  tests/ui/const-generics/issues/issue-86535.rs
  tests/ui/const-generics/transparent-maybeunit-array-wrapper.rs
  tests/ui/derives/clone-debug-dead-code-in-the-same-struct.rs
  tests/ui/derives/clone-debug-dead-code-in-the-same-struct.stderr
  tests/ui/generic-associated-types/missing-bounds.fixed
  tests/ui/generic-associated-types/missing-bounds.rs
  tests/ui/generic-associated-types/missing-bounds.stderr
  tests/ui/impl-trait/extra-impl-in-trait-impl.fixed
  tests/ui/impl-trait/extra-impl-in-trait-impl.rs
  tests/ui/impl-trait/extra-impl-in-trait-impl.stderr
  tests/ui/issues/issue-5708.rs
  tests/ui/lint/dead-code/allow-unconstructed-pub-struct.rs
  tests/ui/lint/dead-code/issue-59003.rs
  tests/ui/lint/dead-code/lint-dead-code-1.rs
  tests/ui/lint/dead-code/lint-dead-code-1.stderr
  tests/ui/lint/dead-code/lint-unused-adt-appeared-in-pattern.rs
  tests/ui/lint/dead-code/lint-unused-adt-appeared-in-pattern.stderr
  tests/ui/lint/dead-code/not-lint-used-adt-appeared-in-pattern.rs
  tests/ui/lint/dead-code/unused-adt-impl-pub-trait-with-assoc-const.rs
  tests/ui/lint/dead-code/unused-adt-impl-pub-trait-with-assoc-const.stderr
  tests/ui/lint/dead-code/unused-assoc-const.rs
  tests/ui/lint/dead-code/unused-assoc-const.stderr
  tests/ui/lint/dead-code/unused-pub-struct.rs
  tests/ui/lint/dead-code/unused-pub-struct.stderr
  tests/ui/lint/dead-code/unused-struct-derive-default.rs
  tests/ui/lint/dead-code/unused-struct-derive-default.stderr
  tests/ui/lint/dead-code/unused-trait-with-assoc-ty.rs
  tests/ui/lint/dead-code/unused-trait-with-assoc-ty.stderr
  tests/ui/parser/issues/issue-105366.fixed
  tests/ui/parser/issues/issue-105366.rs
  tests/ui/parser/issues/issue-105366.stderr
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.fixed
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.rs
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.stderr
  tests/ui/pattern/issue-22546.rs
  tests/ui/pattern/issue-22546.stderr
  tests/ui/pub/pub-ident-struct-4.fixed
  tests/ui/pub/pub-ident-struct-4.rs
  tests/ui/pub/pub-ident-struct-4.stderr
  tests/ui/regions/regions-issue-21422.rs
  tests/ui/structs-enums/newtype-struct-with-dtor.rs
  tests/ui/structs-enums/uninstantiable-struct.rs
  tests/ui/suggestions/derive-clone-for-eq.fixed
  tests/ui/suggestions/derive-clone-for-eq.rs
  tests/ui/suggestions/derive-clone-for-eq.stderr
  tests/ui/suggestions/option-content-move.fixed
  tests/ui/suggestions/option-content-move.rs
  tests/ui/suggestions/option-content-move.stderr
  tests/ui/traits/object/generics.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#127655 turn `invalid_type_param_default` into a `FutureReleaseErrorReportInDeps`
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/feature-gates/feature-gate-default_type_parameter_fallback.stderr
  tests/ui/impl-trait/where-allowed.stderr
  tests/ui/issues/issue-26812.rs
  tests/ui/issues/issue-26812.stderr
  tests/ui/lifetimes/unusual-rib-combinations.stderr
  tests/ui/type-inference/unbounded-type-param-in-fn-with-assoc-type.stderr
  tests/ui/type/default_type_parameter_in_fn_or_impl.rs
  tests/ui/type/default_type_parameter_in_fn_or_impl.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, S-waiting-on-fcp, to-announce, T-types

#127907 built-in derive: remove BYTE_SLICE_IN_PACKED_STRUCT_WITH_DERIVE hack and lint
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/derives/deriving-with-repr-packed.rs
  tests/ui/derives/deriving-with-repr-packed.stderr
  tests/ui/deriving/deriving-all-codegen.rs
  tests/ui/deriving/deriving-all-codegen.stderr
  tests/ui/deriving/deriving-all-codegen.stdout
Labels: T-compiler, S-waiting-on-bors

#127974 force compiling std from source if modified
  config.example.toml
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#128309 Implement cursors for `BTreeSet`
  library/alloc/src/collections/btree/set.rs
Labels: S-waiting-on-bors, T-libs

#128500 Add test for updating enum discriminant through pointer
  tests/codegen/issues/issue-122600-ptr-discriminant-update.rs
Labels: S-waiting-on-bors

#128623 Do not fire unhandled attribute assertion on multi-segment `AttributeType::Normal` attributes with builtin attribute as first segment
  compiler/rustc_passes/src/check_attr.rs
  tests/ui/attributes/check-builtin-attr-ice.rs
  tests/ui/attributes/check-builtin-attr-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#128672 Rollup of 6 pull requests
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_passes/src/check_attr.rs
  config.example.toml
  library/alloc/src/collections/btree/set.rs
  src/bootstrap/src/core/build_steps/compile.rs
  tests/codegen/issues/issue-122600-ptr-discriminant-update.rs
  tests/ui/attributes/check-builtin-attr-ice.rs
  tests/ui/attributes/check-builtin-attr-ice.stderr
  tests/ui/derives/deriving-with-repr-packed.rs
  tests/ui/derives/deriving-with-repr-packed.stderr
  tests/ui/deriving/deriving-all-codegen.rs
  tests/ui/deriving/deriving-all-codegen.stderr
  tests/ui/deriving/deriving-all-codegen.stdout
  tests/ui/feature-gates/feature-gate-default_type_parameter_fallback.stderr
  tests/ui/impl-trait/where-allowed.stderr
  tests/ui/issues/issue-26812.rs
  tests/ui/issues/issue-26812.stderr
  tests/ui/lifetimes/unusual-rib-combinations.stderr
  tests/ui/type-inference/unbounded-type-param-in-fn-with-assoc-type.stderr
  tests/ui/type/default_type_parameter_in_fn_or_impl.rs
  tests/ui/type/default_type_parameter_in_fn_or_impl.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#128607 Use `object` in `run-make/symbols-visibility`
  tests/run-make/symbol-visibility/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#128609 Remove unnecessary constants from flt2dec dragon
  library/core/src/num/flt2dec/strategy/dragon.rs
Labels: S-waiting-on-bors, T-libs

#128619 Correct the const stabilization of `<[T]>::last_chunk`
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#128660 tests: more crashes
  tests/crashes/128094.rs
  tests/crashes/128176.rs
  tests/crashes/128190.rs
  tests/crashes/128327.rs
  tests/crashes/128346.rs
  tests/crashes/128621-2.rs
  tests/crashes/128621.rs
Labels: S-waiting-on-bors

#128673 Rollup of 8 pull requests
  compiler/rustc_resolve/src/imports.rs
  library/core/src/num/flt2dec/strategy/dragon.rs
  library/core/src/slice/mod.rs
  library/std/src/sys/pal/unix/thread.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/json/conversions.rs
  src/tools/run-make-support/src/external_deps/c_build.rs
  src/tools/run-make-support/src/external_deps/cc.rs
  src/tools/run-make-support/src/external_deps/cygpath.rs
  src/tools/run-make-support/src/external_deps/mod.rs
  tests/crashes/128094.rs
  tests/crashes/128176.rs
  tests/crashes/128190.rs
  tests/crashes/128327.rs
  tests/crashes/128346.rs
  tests/crashes/128621-2.rs
  tests/crashes/128621.rs
  tests/run-make/symbol-visibility/rmake.rs
  tests/rustdoc-js/self-is-not-generic.js
  tests/rustdoc-js/self-is-not-generic.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix, A-rustdoc-json, A-run-make

#128026 std::thread: available_parallelism implementation for vxWorks proposal.
  library/std/src/sys/pal/unix/thread.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#128471 rustdoc: Fix handling of `Self` type in search index and refactor its representation
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/simplify.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/json/conversions.rs
  tests/rustdoc-js/self-is-not-generic.js
  tests/rustdoc-js/self-is-not-generic.rs
Labels: T-rustdoc, S-waiting-on-bors, A-type-based-search, A-rustdoc-search, A-rustdoc-json

#128611 run-make: Remove cygpath
  src/tools/run-make-support/src/external_deps/c_build.rs
  src/tools/run-make-support/src/external_deps/cc.rs
  src/tools/run-make-support/src/external_deps/cygpath.rs
  src/tools/run-make-support/src/external_deps/mod.rs
Labels: S-waiting-on-bors, A-run-make

#128630 docs(resolve): more explain about `target`
  compiler/rustc_resolve/src/imports.rs
Labels: T-compiler, S-waiting-on-bors

#117468 Stabilize Wasm relaxed SIMD
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/target-feature/implicit-features-cli.rs
  tests/ui/target-feature/implicit-features.rs
  tests/ui/target-feature/wasm-relaxed-simd.rs
Labels: T-lang, T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#127095 Migrate `reproducible-build-2` and `stable-symbol-names` `run-make` tests to rmake
  src/tools/run-make-support/src/external_deps/llvm.rs
  src/tools/run-make-support/src/fs.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/reproducible-build-2/Makefile
  tests/run-make/reproducible-build-2/rmake.rs
  tests/run-make/stable-symbol-names/Makefile
  tests/run-make/stable-symbol-names/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#124336 Enforce supertrait outlives obligations hold when confirming impl
  compiler/rustc_next_trait_solver/src/solve/assembly/structural_traits.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/inherent.rs
  tests/ui/fn/implied-bounds-unnorm-associated-type-5.rs
  tests/ui/fn/implied-bounds-unnorm-associated-type-5.stderr
  tests/ui/static/static-lifetime.rs
  tests/ui/static/static-lifetime.stderr
  tests/ui/wf/wf-in-where-clause-static.current.stderr
  tests/ui/wf/wf-in-where-clause-static.next.stderr
  tests/ui/wf/wf-in-where-clause-static.rs
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, T-types, WG-trait-system-refactor

#128385 rustdoc-json: discard non-local inherent impls for primitives
  src/librustdoc/formats/cache.rs
  src/librustdoc/json/mod.rs
  tests/rustdoc-json/the_smallest.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#128559 Don't re-elaborated already elaborated caller bounds in method probe
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_type_ir/src/elaborate.rs
Labels: T-compiler, S-waiting-on-bors

#128631 handle crates when they are not specified for std docs
  src/bootstrap/src/core/build_steps/doc.rs
Labels: T-bootstrap, S-waiting-on-bors

#128664 Add `Debug` impls to API types in `rustc_codegen_ssa`
  compiler/rustc_codegen_ssa/src/common.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
Labels: T-compiler, S-waiting-on-bors

#128686 fix the invalid argument type
  src/bootstrap/src/utils/helpers.rs
Labels: T-bootstrap, S-waiting-on-bors

#128689 Rollup of 5 pull requests
  compiler/rustc_codegen_ssa/src/common.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_type_ir/src/elaborate.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/utils/helpers.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/json/mod.rs
  tests/rustdoc-json/the_smallest.rs
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-rustdoc-json

#128699 Miri subtree update
  Cargo.lock
  src/tools/miri/Cargo.lock
  src/tools/miri/Cargo.toml
  src/tools/miri/README.md
  src/tools/miri/cargo-miri/Cargo.lock
  src/tools/miri/cargo-miri/Cargo.toml
  src/tools/miri/miri-script/src/commands.rs
  src/tools/miri/rust-version
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/borrow_tracker/stacked_borrows/mod.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/time.rs
  src/tools/miri/src/shims/unix/env.rs
  src/tools/miri/src/shims/unix/fd.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/unix/fs.rs
  src/tools/miri/src/shims/unix/linux/epoll.rs
  src/tools/miri/src/shims/unix/linux/eventfd.rs
  src/tools/miri/src/shims/unix/linux/foreign_items.rs
  src/tools/miri/src/shims/unix/socket.rs
  src/tools/miri/src/shims/unix/sync.rs
  src/tools/miri/src/shims/unix/thread.rs
  src/tools/miri/src/shims/windows/env.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/test_dependencies/Cargo.lock
  src/tools/miri/tests/fail-dep/tokio/sleep.stderr
  src/tools/miri/tests/fail/miri_start_wrong_sig.rs
  src/tools/miri/tests/fail/miri_start_wrong_sig.stderr
  src/tools/miri/tests/fail/no_main.rs
  src/tools/miri/tests/fail/no_main.stderr
  src/tools/miri/tests/pass-dep/libc/libc-fs-flock.rs
  src/tools/miri/tests/pass/miri_start.rs
  src/tools/miri/tests/pass/miri_start.stdout
  src/tools/miri/tests/ui.rs
Labels: S-waiting-on-bors, merged-by-bors

#122049 Promote riscv64gc-unknown-linux-musl to tier 2
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_musl.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv64gc-unknown-linux-musl.md
  src/tools/build-manifest/src/main.rs
Labels: A-testsuite, relnotes, S-waiting-on-bors, T-infra

#128580 Use `ParamEnv::reveal_all` in CFI
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/mod.rs
  tests/ui/sanitizer/cfi-can-reveal-opaques.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#128688 custom MIR: add support for tail calls
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics/mir.rs
  tests/mir-opt/building/custom/terminators.rs
  tests/mir-opt/building/custom/terminators.tail_call.built.after.mir
Labels: T-compiler, S-waiting-on-bors, T-libs

#128694 Normalize when equating `dyn` tails in MIR borrowck
  compiler/rustc_borrowck/src/type_check/mod.rs
  tests/crashes/128621-2.rs
  tests/ui/cast/dyn-tails-need-normalization.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#128697 interpret: move nullary-op evaluation into operator.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  src/tools/miri/src/intrinsics/mod.rs
  tests/ui/const-generics/generic_const_exprs/issue-80742.stderr
Labels: T-compiler, S-waiting-on-bors

#128707 Rollup of 5 pull requests
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_mir_build/src/build/custom/parse/instruction.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/mod.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_musl.rs
  library/core/src/intrinsics/mir.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv64gc-unknown-linux-musl.md
  src/tools/build-manifest/src/main.rs
  src/tools/miri/src/intrinsics/mod.rs
  tests/crashes/128621-2.rs
  tests/mir-opt/building/custom/terminators.rs
  tests/mir-opt/building/custom/terminators.tail_call.built.after.mir
  tests/ui/cast/dyn-tails-need-normalization.rs
  tests/ui/const-generics/generic_const_exprs/issue-80742.stderr
  tests/ui/sanitizer/cfi-can-reveal-opaques.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, PG-exploit-mitigations

#125558 Tweak type inference for `const` operands in inline asm
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_typeck/src/lib.rs
  tests/ui/asm/aarch64/type-check-2.rs
  tests/ui/asm/aarch64/type-check-2.stderr
  tests/ui/asm/invalid-const-operand.rs
  tests/ui/asm/invalid-const-operand.stderr
  tests/ui/asm/invalid-sym-operand.rs
  tests/ui/asm/invalid-sym-operand.stderr
  tests/ui/asm/type-check-1.rs
  tests/ui/asm/type-check-1.stderr
  tests/ui/asm/x86_64/type-check-2.rs
  tests/ui/asm/x86_64/type-check-2.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, S-experimental

#128200 Change output normalization logic to be linear against size of output
  compiler/rustc_errors/src/emitter.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#126804 On short error format, append primary span label to message
  compiler/rustc_errors/src/emitter.rs
  tests/rustdoc-ui/issues/issue-81662-shortness.rs
  tests/rustdoc-ui/issues/issue-81662-shortness.stdout
  tests/ui/json/json-bom-plus-crlf-multifile.stderr
  tests/ui/json/json-bom-plus-crlf.stderr
  tests/ui/json/json-short.stderr
  tests/ui/short-error-format.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#128245 Migrate `cdylib-dylib-linkage` `run-make` test to rmake
  src/tools/run-make-support/src/artifact_names.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/path_helpers.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/cdylib-dylib-linkage/Makefile
  tests/run-make/cdylib-dylib-linkage/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#128635 Prepare Rust 1.80.1 point release
  RELEASES.md
  compiler/rustc_mir_transform/src/jump_threading.rs
  compiler/rustc_passes/src/dead.rs
  src/ci/github-actions/jobs.yml
  src/version
  tests/codegen-units/item-collection/generic-impl.rs
  tests/codegen-units/item-collection/overloaded-operators.rs
  tests/mir-opt/jump_threading.floats.JumpThreading.panic-abort.diff
  tests/mir-opt/jump_threading.floats.JumpThreading.panic-unwind.diff
  tests/mir-opt/jump_threading.rs
  tests/ui/coherence/re-rebalance-coherence.rs
  tests/ui/const-generics/defaults/repr-c-issue-82792.rs
  tests/ui/const-generics/generic_const_exprs/associated-consts.rs
  tests/ui/const-generics/transparent-maybeunit-array-wrapper.rs
  tests/ui/derives/clone-debug-dead-code-in-the-same-struct.rs
  tests/ui/derives/clone-debug-dead-code-in-the-same-struct.stderr
  tests/ui/issues/issue-5708.rs
  tests/ui/lint/dead-code/allow-unconstructed-pub-struct.rs
  tests/ui/lint/dead-code/lint-dead-code-1.rs
  tests/ui/lint/dead-code/lint-dead-code-1.stderr
  tests/ui/lint/dead-code/unused-assoc-const.rs
  tests/ui/lint/dead-code/unused-assoc-const.stderr
  tests/ui/lint/dead-code/unused-pub-struct.rs
  tests/ui/lint/dead-code/unused-pub-struct.stderr
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.fixed
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.rs
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.stderr
  tests/ui/pub/pub-ident-struct-4.fixed
  tests/ui/pub/pub-ident-struct-4.rs
  tests/ui/pub/pub-ident-struct-4.stderr
  tests/ui/regions/regions-issue-21422.rs
  tests/ui/structs-enums/newtype-struct-with-dtor.rs
  tests/ui/structs-enums/uninstantiable-struct.rs
  tests/ui/suggestions/derive-clone-for-eq.fixed
  tests/ui/suggestions/derive-clone-for-eq.rs
  tests/ui/suggestions/derive-clone-for-eq.stderr
  tests/ui/suggestions/option-content-move.fixed
  tests/ui/suggestions/option-content-move.rs
  tests/ui/suggestions/option-content-move.stderr
  tests/ui/traits/object/generics.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#128369 rustc_lint: make `let-underscore-lock` translatable
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/let_underscore.rs
  compiler/rustc_lint/src/lints.rs
Labels: T-compiler, S-waiting-on-bors

#128377 Fix ICE Caused by Incorrectly Delaying E0107
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  tests/ui/associated-type-bounds/name-same-as-generic-type-issue-128249.rs
  tests/ui/associated-type-bounds/name-same-as-generic-type-issue-128249.stderr
Labels: T-compiler, S-waiting-on-bors

#128517 Fallback to string formatting if source is not available for lint
  compiler/rustc_lint/src/types.rs
Labels: T-compiler, S-waiting-on-bors

#128685 Remove the root Cargo.lock from the rust-src component
  src/bootstrap/src/core/build_steps/dist.rs
Labels: T-bootstrap, S-waiting-on-bors

#128693 rustdoc-search: account for numeric disambiguators on impls
  src/librustdoc/html/static/js/main.js
  tests/rustdoc-gui/search-result-impl-disambiguation.goml
  tests/rustdoc-gui/src/lib2/another_mod/mod.rs
Labels: S-waiting-on-bors, T-rustdoc-frontend

#128720 Pass the right `ParamEnv` to `might_permit_raw_init_strict`
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  src/tools/clippy/tests/ui/uninit_vec.rs
  src/tools/clippy/tests/ui/uninit_vec.stderr
Labels: T-compiler, S-waiting-on-bors

#128736 Fix rustdoc missing handling of remap-path-prefix option
  src/librustdoc/core.rs
  tests/rustdoc-ui/remap-path-prefix-lint.rs
  tests/rustdoc-ui/remap-path-prefix-lint.stderr
Labels: T-rustdoc, S-waiting-on-bors

#128748 Rollup of 7 pull requests
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/let_underscore.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/types.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/librustdoc/core.rs
  src/librustdoc/html/static/js/main.js
  src/tools/clippy/tests/ui/uninit_vec.rs
  src/tools/clippy/tests/ui/uninit_vec.stderr
  tests/rustdoc-gui/search-result-impl-disambiguation.goml
  tests/rustdoc-gui/src/lib2/another_mod/mod.rs
  tests/rustdoc-ui/remap-path-prefix-lint.rs
  tests/rustdoc-ui/remap-path-prefix-lint.stderr
  tests/ui/associated-type-bounds/name-same-as-generic-type-issue-128249.rs
  tests/ui/associated-type-bounds/name-same-as-generic-type-issue-128249.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#124944 On trait bound mismatch, detect multiple crate versions in dep tree
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  tests/run-make/crate-loading/multiple-dep-versions-1.rs
  tests/run-make/crate-loading/multiple-dep-versions-2.rs
  tests/run-make/crate-loading/multiple-dep-versions.rs
  tests/run-make/crate-loading/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#125048 PinCoerceUnsized trait into core
  compiler/rustc_span/src/symbol.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/alloc/tests/arc.rs
  library/alloc/tests/boxed.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/rc.rs
  library/core/src/cell.rs
  library/core/src/pin.rs
  library/core/src/ptr/non_null.rs
  library/core/src/ptr/unique.rs
  library/core/tests/pin.rs
  library/std/src/lib.rs
  library/std/src/sys/pal/sgx/abi/usercalls/alloc.rs
Labels: T-lang, T-compiler, S-waiting-on-bors, T-libs, O-SGX, F-derive_smart_pointer

#128406 implement BufReader::peek
  library/std/src/io/buffered/bufreader.rs
  library/std/src/io/buffered/bufreader/buffer.rs
Labels: S-waiting-on-bors, T-libs, F-bufreader_peek

#128539 Forbid unused unsafe in vxworks-specific std modules
  library/std/src/os/vxworks/mod.rs
  library/std/src/sys/pal/unix/process/process_vxworks.rs
Labels: S-waiting-on-bors, T-libs, O-unix, O-vxworks

#128687 interpret: refactor function call handling to be better-abstracted
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/mod.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/stack.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  src/tools/miri/src/concurrency/thread.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/panic.rs
  src/tools/miri/src/shims/tls.rs
  src/tools/miri/src/shims/unix/thread.rs
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_create_too_few_args.rs
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_create_too_few_args.stderr
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_create_too_many_args.rs
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_create_too_many_args.stderr
  src/tools/miri/tests/fail/function_calls/check_callback_abi.rs
  src/tools/miri/tests/fail/function_calls/check_callback_abi.stderr
  src/tools/miri/tests/pass/alloc-access-tracking.rs
Labels: T-compiler, S-waiting-on-bors

#128692 Add a triagebot mention for `library/Cargo.lock`
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#128710 Don't ICE when getting an input file name's stem fails
  compiler/rustc_session/src/config.rs
  tests/run-make/dos-device-input/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#128718 Consider `cfg_attr` checked by `CheckAttrVisitor`
  compiler/rustc_passes/src/check_attr.rs
  tests/ui/attributes/check-cfg_attr-ice.rs
  tests/ui/attributes/check-cfg_attr-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#128751 std::thread: set_name implementation proposal for vxWorks.
  library/std/src/sys/pal/unix/thread.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#128761 Rollup of 9 pull requests
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/mod.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/stack.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/alloc/tests/arc.rs
  library/alloc/tests/boxed.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/rc.rs
  library/core/src/cell.rs
  library/core/src/pin.rs
  library/core/src/ptr/non_null.rs
  library/core/src/ptr/unique.rs
  library/core/tests/pin.rs
  library/std/src/io/buffered/bufreader.rs
  library/std/src/io/buffered/bufreader/buffer.rs
  library/std/src/lib.rs
  library/std/src/os/vxworks/mod.rs
  library/std/src/sys/pal/sgx/abi/usercalls/alloc.rs
  library/std/src/sys/pal/unix/process/process_vxworks.rs
  library/std/src/sys/pal/unix/thread.rs
  src/tools/miri/src/concurrency/thread.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/panic.rs
  src/tools/miri/src/shims/tls.rs
  src/tools/miri/src/shims/unix/thread.rs
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_create_too_few_args.rs
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_create_too_few_args.stderr
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_create_too_many_args.rs
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_create_too_many_args.stderr
  src/tools/miri/tests/fail/function_calls/check_callback_abi.rs
  src/tools/miri/tests/fail/function_calls/check_callback_abi.stderr
  src/tools/miri/tests/pass/alloc-access-tracking.rs
  tests/run-make/crate-loading/multiple-dep-versions-1.rs
  tests/run-make/crate-loading/multiple-dep-versions-2.rs
  tests/run-make/crate-loading/multiple-dep-versions.rs
  tests/run-make/crate-loading/rmake.rs
  tests/run-make/dos-device-input/rmake.rs
  tests/ui/attributes/check-cfg_attr-ice.rs
  tests/ui/attributes/check-cfg_attr-ice.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, O-SGX, O-unix, A-run-make

#128107 Migrate `raw-dylib-alt-calling-convention`, `raw-dylib-c` and `redundant-libs` `run-make` tests to rmake
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/raw-dylib-alt-calling-convention/Makefile
  tests/run-make/raw-dylib-alt-calling-convention/rmake.rs
  tests/run-make/raw-dylib-c/Makefile
  tests/run-make/raw-dylib-c/rmake.rs
  tests/run-make/redundant-libs/Makefile
  tests/run-make/redundant-libs/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-run-make

#128362 add test for symbol visibility of `#[naked]` functions
  tests/run-make/naked-symbol-visibility/a_rust_dylib.rs
  tests/run-make/naked-symbol-visibility/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#128417 Add `f16` and `f128` math functions
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  library/core/src/intrinsics.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/primitive_docs.rs
  library/std/build.rs
  library/std/src/f128.rs
  library/std/src/f128/tests.rs
  library/std/src/f16.rs
  library/std/src/f16/tests.rs
  library/std/src/macros.rs
  library/std/src/sys/cmath.rs
Labels: T-compiler, S-waiting-on-bors, T-libs, O-unix, F-f16_and_f128

#128638 run-make: enable msvc for `link-dedup`
  tests/run-make/link-dedup/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#128647 Enable msvc for link-args-order
  tests/run-make/link-args-order/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#128649 run-make: Enable msvc for `no-duplicate-libs` and `zero-extend-abi-param-passing`
  src/tools/run-make-support/src/external_deps/c_build.rs
  src/tools/run-make-support/src/external_deps/cc.rs
  src/tools/run-make-support/src/lib.rs
  tests/run-make/no-duplicate-libs/main.rs
  tests/run-make/no-duplicate-libs/rmake.rs
  tests/run-make/zero-extend-abi-param-passing/param_passing.rs
  tests/run-make/zero-extend-abi-param-passing/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#128766 Trivial grammar fix in const keyword docs
  library/std/src/keyword_docs.rs
Labels: S-waiting-on-bors, T-libs

#128768 Rollup of 7 pull requests
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  library/core/src/intrinsics.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/primitive_docs.rs
  library/std/build.rs
  library/std/src/f128.rs
  library/std/src/f128/tests.rs
  library/std/src/f16.rs
  library/std/src/f16/tests.rs
  library/std/src/keyword_docs.rs
  library/std/src/macros.rs
  library/std/src/sys/cmath.rs
  src/tools/run-make-support/src/external_deps/c_build.rs
  src/tools/run-make-support/src/external_deps/cc.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/link-args-order/rmake.rs
  tests/run-make/link-dedup/rmake.rs
  tests/run-make/naked-symbol-visibility/a_rust_dylib.rs
  tests/run-make/naked-symbol-visibility/rmake.rs
  tests/run-make/no-duplicate-libs/main.rs
  tests/run-make/no-duplicate-libs/rmake.rs
  tests/run-make/raw-dylib-alt-calling-convention/Makefile
  tests/run-make/raw-dylib-alt-calling-convention/rmake.rs
  tests/run-make/raw-dylib-c/Makefile
  tests/run-make/raw-dylib-c/rmake.rs
  tests/run-make/redundant-libs/Makefile
  tests/run-make/redundant-libs/rmake.rs
  tests/run-make/zero-extend-abi-param-passing/param_passing.rs
  tests/run-make/zero-extend-abi-param-passing/rmake.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-run-make

#128196 Migrate `cross-lang-lto-upstream-rlibs`, `long-linker-command-lines` and `long-linker-command-lines-cmd-exe` `run-make` tests to rmake
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/cross-lang-lto-upstream-rlibs/Makefile
  tests/run-make/cross-lang-lto-upstream-rlibs/rmake.rs
  tests/run-make/long-linker-command-lines-cmd-exe/Makefile
  tests/run-make/long-linker-command-lines-cmd-exe/foo.rs
  tests/run-make/long-linker-command-lines-cmd-exe/rmake.rs
  tests/run-make/long-linker-command-lines/Makefile
  tests/run-make/long-linker-command-lines/foo.rs
  tests/run-make/long-linker-command-lines/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make

#128527 More information for fully-qualified suggestion when there are multiple impls
  compiler/rustc_trait_selection/src/error_reporting/traits/ambiguity.rs
  tests/ui/error-codes/E0283.stderr
  tests/ui/error-codes/E0790.stderr
Labels: T-compiler, S-waiting-on-bors

#128753 Don't arbitrarily choose one upper bound for hidden captured region error message
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  tests/ui/impl-trait/in-trait/cannot-capture-intersection.rs
  tests/ui/impl-trait/in-trait/cannot-capture-intersection.stderr
  tests/ui/impl-trait/multiple-lifetimes/ordinary-bounds-unrelated.stderr
  tests/ui/impl-trait/multiple-lifetimes/ordinary-bounds-unsuited.stderr
  tests/ui/suggestions/lifetimes/explicit-lifetime-suggestion-in-proper-span-issue-121267.stderr
Labels: T-compiler, S-waiting-on-bors

#128783 Rollup of 9 pull requests
  Cargo.lock
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_codegen_cranelift/src/archive.rs
  compiler/rustc_codegen_gcc/src/archive.rs
  compiler/rustc_codegen_llvm/messages.ftl
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_codegen_llvm/src/callee.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/common.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/ambiguity.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/doc/rustc/src/platform-support/vxworks.md
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/pgo-gen-lto/Makefile
  tests/run-make/pgo-gen-lto/rmake.rs
  tests/run-make/rust-lld/rmake.rs
  tests/run-make/simd-ffi/Makefile
  tests/run-make/simd-ffi/rmake.rs
  tests/ui/error-codes/E0283.stderr
  tests/ui/error-codes/E0790.stderr
  tests/ui/impl-trait/in-trait/cannot-capture-intersection.rs
  tests/ui/impl-trait/in-trait/cannot-capture-intersection.stderr
  tests/ui/impl-trait/multiple-lifetimes/ordinary-bounds-unrelated.stderr
  tests/ui/impl-trait/multiple-lifetimes/ordinary-bounds-unsuited.stderr
  tests/ui/suggestions/lifetimes/explicit-lifetime-suggestion-in-proper-span-issue-121267.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-run-make

#128656 Enable msvc for run-make/rust-lld
  tests/run-make/rust-lld/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#128683 bootstrap: clear miri's ui test deps when rustc changes
  src/bootstrap/src/core/build_steps/test.rs
Labels: T-bootstrap, S-waiting-on-bors

#128758 Specify a minimum supported version for VxWorks
  src/doc/rustc/src/platform-support/vxworks.md
Labels: S-waiting-on-bors

#126158 Disallow setting some built-in cfg via the command-line
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_session/src/parse.rs
  tests/assembly/x86-return-float.rs
  tests/codegen/aarch64-struct-align-128.rs
  tests/codegen/cold-call-declare-and-call.rs
  tests/codegen/default-requires-uwtable.rs
  tests/codegen/instrument-coverage/testprog.rs
  tests/codegen/repr/transparent-sysv64.rs
  tests/debuginfo/thread-names.rs
  tests/ui/cfg/disallowed-cli-cfgs-allow.rs
  tests/ui/cfg/disallowed-cli-cfgs.debug_assertions_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.overflow_checks_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.panic_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.proc_macro_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.relocation_model_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.rs
  tests/ui/cfg/disallowed-cli-cfgs.sanitize_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.sanitizer_cfi_generalize_pointers_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.sanitizer_cfi_normalize_integers_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_abi_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_arch_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_endian_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_env_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_family_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_feature_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_has_atomic_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_has_atomic_equal_alignment_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_has_atomic_load_store_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_os_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_pointer_width_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_thread_local_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.target_vendor_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.test_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.ub_checks_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.unix_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.windows_.stderr
Labels: T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#128221 Add implied target features to target_feature attribute
  compiler/rustc_codegen_gcc/src/attributes.rs
  compiler/rustc_codegen_gcc/src/gcc_util.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_middle/src/middle/codegen_fn_attrs.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_target/src/target_features.rs
  tests/codegen/sse42-implies-crc32.rs
  tests/codegen/target-feature-overrides.rs
  tests/codegen/tied-features-strength.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.stderr
  tests/ui/target-feature/asm-implied-features-issue-128125.rs
  tests/ui/target-feature/implied-features.rs
Labels: T-compiler, S-waiting-on-bors

#128261 impl `Default` for collection iterators that don't already have it
  library/alloc/src/collections/binary_heap/mod.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/vec_deque/iter.rs
  library/alloc/src/collections/vec_deque/iter_mut.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#128679 codegen: better centralize function declaration attribute computation
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/callee.rs
  compiler/rustc_codegen_llvm/src/declare.rs
  compiler/rustc_codegen_llvm/src/mono_item.rs
Labels: T-compiler, S-waiting-on-bors

#128755 Integrate crlf directly into related test file instead via of .gitattributes
  tests/rustdoc-ui/intra-doc/.gitattributes
  tests/rustdoc-ui/intra-doc/warning-crlf.rs
Labels: T-rustdoc, S-waiting-on-bors

#128772 rustc_codegen_ssa: Set architecture for object crate for 32-bit SPARC
  compiler/rustc_codegen_ssa/src/back/metadata.rs
Labels: T-compiler, S-waiting-on-bors

#128782 unused_parens: do not lint against parens around &raw
  compiler/rustc_lint/src/unused.rs
  tests/ui/lint/lint-unnecessary-parens.fixed
  tests/ui/lint/lint-unnecessary-parens.rs
  tests/ui/lint/lint-unnecessary-parens.stderr
Labels: T-compiler, S-waiting-on-bors, L-unused_parens
