Repository rust-lang/rust, pull requests merged in 2024-10, with the labels that each got.

#130877 rustc_target: Add RISC-V atomic-related features
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors, O-riscv, A-target-feature

#130966 make ptr metadata functions callable from stable const fn
  library/core/src/intrinsics.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/metadata.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/mod.rs
  tests/ui/consts/auxiliary/unstable_but_const_stable.rs
  tests/ui/consts/unstable-const-stable.rs
  tests/ui/consts/unstable-const-stable.stderr
Labels: T-lang, S-waiting-on-bors, T-libs, I-lang-easy-decision

#131078 Rollup of 5 pull requests
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_target/src/target_features.rs
  library/alloc/src/boxed.rs
  library/alloc/src/ffi/c_str.rs
  library/alloc/src/sync.rs
  library/core/src/intrinsics.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/metadata.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/mod.rs
  library/std/build.rs
  library/std/src/collections/hash/map/tests.rs
  library/std/src/collections/hash/set/tests.rs
  library/std/src/env/tests.rs
  library/std/src/fs.rs
  library/std/src/io/buffered/tests.rs
  library/std/src/io/error/repr_bitpacked.rs
  library/std/src/io/stdio/tests.rs
  library/std/src/net/ip_addr.rs
  library/std/src/net/socket_addr.rs
  library/std/src/net/tcp.rs
  library/std/src/net/tcp/tests.rs
  library/std/src/net/udp.rs
  library/std/src/net/udp/tests.rs
  library/std/src/path/tests.rs
  library/std/src/process.rs
  library/std/src/sync/barrier/tests.rs
  library/std/src/sync/condvar/tests.rs
  library/std/src/sync/lazy_lock/tests.rs
  library/std/src/sync/mpsc/mod.rs
  library/std/src/sync/mutex.rs
  library/std/src/sync/once.rs
  library/std/src/sync/once_lock/tests.rs
  library/std/src/sync/reentrant_lock.rs
  library/std/src/sync/rwlock.rs
  library/std/src/sys/pal/wasip2/mod.rs
  library/std/src/sys/pal/wasip2/net.rs
  library/std/src/sys_common/io.rs
  library/std/src/sys_common/mod.rs
  library/std/src/thread/local.rs
  library/std/src/thread/mod.rs
  library/std/tests/create_dir_all_bare.rs
  library/std/tests/process_spawning.rs
  library/std/tests/thread.rs
  src/bootstrap/src/lib.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/consts/auxiliary/unstable_but_const_stable.rs
  tests/ui/consts/unstable-const-stable.rs
  tests/ui/consts/unstable-const-stable.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-wasi

#129638 Hook up std::net to wasi-libc on wasm32-wasip2 target
  library/std/src/collections/hash/map/tests.rs
  library/std/src/collections/hash/set/tests.rs
  library/std/src/env/tests.rs
  library/std/src/fs.rs
  library/std/src/io/buffered/tests.rs
  library/std/src/io/stdio/tests.rs
  library/std/src/net/ip_addr.rs
  library/std/src/net/socket_addr.rs
  library/std/src/net/tcp.rs
  library/std/src/net/tcp/tests.rs
  library/std/src/net/udp.rs
  library/std/src/net/udp/tests.rs
  library/std/src/path/tests.rs
  library/std/src/process.rs
  library/std/src/sync/barrier/tests.rs
  library/std/src/sync/condvar/tests.rs
  library/std/src/sync/lazy_lock/tests.rs
  library/std/src/sync/mpsc/mod.rs
  library/std/src/sync/mutex.rs
  library/std/src/sync/once.rs
  library/std/src/sync/once_lock/tests.rs
  library/std/src/sync/reentrant_lock.rs
  library/std/src/sync/rwlock.rs
  library/std/src/sys/pal/wasip2/mod.rs
  library/std/src/sys/pal/wasip2/net.rs
  library/std/src/sys_common/io.rs
  library/std/src/sys_common/mod.rs
  library/std/src/thread/local.rs
  library/std/src/thread/mod.rs
  library/std/tests/create_dir_all_bare.rs
  library/std/tests/process_spawning.rs
  library/std/tests/thread.rs
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, T-libs, O-wasi

#130914 Mark some more types as having insignificant dtor
  library/alloc/src/boxed.rs
  library/alloc/src/ffi/c_str.rs
  library/alloc/src/sync.rs
  library/std/src/io/error/repr_bitpacked.rs
Labels: S-waiting-on-bors, T-libs

#130961 Enable `f16` tests on x86 Apple platforms
  library/std/build.rs
Labels: S-waiting-on-bors, T-libs, F-f16_and_f128

#130587 Add `field@` and `variant@` doc-link disambiguators
  src/doc/rustdoc/src/write-documentation/linking-to-items-by-name.md
  src/librustdoc/passes/collect_intra_doc_links.rs
  tests/rustdoc-ui/intra-doc/disambiguator-mismatch.rs
  tests/rustdoc-ui/intra-doc/disambiguator-mismatch.stderr
  tests/rustdoc-ui/intra-doc/field-ice.rs
  tests/rustdoc-ui/intra-doc/field-ice.stderr
  tests/rustdoc-ui/intra-doc/issue-108653-associated-items.stderr
  tests/rustdoc/intra-doc/field.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#131076 rustdoc: rewrite stability inheritance as a doc pass
  compiler/rustc_attr/src/builtin.rs
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/passes/mod.rs
  src/librustdoc/passes/propagate_stability.rs
  tests/rustdoc-ui/issues/issue-91713.stdout
  tests/rustdoc/stability.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#129972 Stabilize expr_2021 fragment specifier in all editions
  compiler/rustc_expand/src/mbe/macro_check.rs
  compiler/rustc_expand/src/mbe/quoted.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/unstable.rs
  tests/ui/lint/unused/unused-macro-with-bad-frag-spec.stderr
  tests/ui/macros/expr_2021.rs
  tests/ui/macros/expr_2021_cargo_fix_edition.fixed
  tests/ui/macros/expr_2021_cargo_fix_edition.rs
  tests/ui/macros/expr_2021_cargo_fix_edition.stderr
  tests/ui/macros/expr_2021_inline_const.edi2021.stderr
  tests/ui/macros/expr_2021_inline_const.edi2024.stderr
  tests/ui/macros/expr_2021_inline_const.rs
  tests/ui/macros/expr_2024_underscore_expr.edi2021.stderr
  tests/ui/macros/expr_2024_underscore_expr.edi2024.stderr
  tests/ui/macros/expr_2024_underscore_expr.rs
  tests/ui/macros/feature-gate-expr_fragment_specifier_2024.rs
  tests/ui/macros/feature-gate-expr_fragment_specifier_2024.stderr
  tests/ui/macros/invalid-fragment-specifier.stderr
  tests/ui/macros/issue-21356.stderr
  tests/ui/macros/macro-missing-fragment.e2024.stderr
  tests/ui/macros/metavar_cross_edition_recursive_macros.rs
Labels: T-lang, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#130959 Enable `f16` tests on non-GNU Windows
  library/std/build.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, F-f16_and_f128

#126839 Add multi-producer, multi-consumer channel (mpmc)
  library/std/src/lib.rs
  library/std/src/sync/mod.rs
  library/std/src/sync/mpmc/error.rs
  library/std/src/sync/mpmc/mod.rs
  library/std/src/sync/mpmc/tests.rs
  tests/ui/const-generics/issues/issue-82956.stderr
  tests/ui/issues/issue-12041.stderr
  tests/ui/lint/use_suggestion_json.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#131042 Instantiate binders in `supertrait_vtable_slot`
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  tests/ui/traits/trait-upcasting/higher-ranked-upcasting-ok.rs
Labels: T-compiler, S-waiting-on-bors

#131079 Update wasm-component-ld to 0.5.9
  Cargo.lock
  src/tools/wasm-component-ld/Cargo.toml
Labels: S-waiting-on-bors

#131085 make test_lots_of_insertions test take less long in Miri
  library/std/src/collections/hash/map/tests.rs
Labels: S-waiting-on-bors, T-libs

#131088 add fixme to remove LLVM_ENABLE_TERMINFO when minimal llvm version is 19
  src/bootstrap/src/core/build_steps/llvm.rs
Labels: T-bootstrap, S-waiting-on-bors

#131098 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_codegen_gcc/src/asm.rs
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/asm/mod.rs
  compiler/rustc_target/src/asm/s390x.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  library/std/src/collections/hash/map/tests.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/doc/unstable-book/src/language-features/asm-experimental-arch.md
  src/tools/wasm-component-ld/Cargo.toml
  tests/codegen/asm-s390x-clobbers.rs
  tests/ui/traits/trait-upcasting/higher-ranked-upcasting-ok.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#130005 Replace -Z default-hidden-visibility with -Z default-visibility
  compiler/rustc_codegen_gcc/src/allocator.rs
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/declare.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/mir/mono.rs
  compiler/rustc_monomorphize/src/partitioning.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/spec/mod.rs
  src/doc/unstable-book/src/compiler-flags/default-hidden-visibility.md
  src/doc/unstable-book/src/compiler-flags/default-visibility.md
  tests/codegen/default-visibility.rs
Labels: T-compiler, S-waiting-on-bors

#130229 ptr::add/sub: do not claim equivalence with `offset(c as isize)`
  library/core/src/intrinsics.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
Labels: T-libs-api, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, S-waiting-on-fcp, to-announce

#130773 Update Unicode escapes in `/library/core/src/char/methods.rs`
  library/core/src/char/methods.rs
Labels: S-waiting-on-bors, T-libs

#130933 rustdoc: lists items that contain multiple paragraphs are more clear
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-bors

#131111 Rollup of 4 pull requests
  compiler/rustc_codegen_gcc/src/allocator.rs
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_codegen_llvm/src/declare.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/mir/mono.rs
  compiler/rustc_monomorphize/src/partitioning.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/spec/mod.rs
  library/core/src/char/methods.rs
  library/core/src/intrinsics.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  src/doc/unstable-book/src/compiler-flags/default-hidden-visibility.md
  src/doc/unstable-book/src/compiler-flags/default-visibility.md
  src/librustdoc/html/static/css/rustdoc.css
  tests/codegen/default-visibility.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#128204 Small optimization for integers Display implementation
  library/core/src/fmt/num.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#131070 Unpin `cc` and upgrade to the latest version
  Cargo.lock
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_llvm/Cargo.toml
Labels: T-compiler, relnotes, S-waiting-on-bors, merged-by-bors

#130829 Add `[Option<T>; N]::transpose`
  library/core/src/option.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#131108 Revert #131060 "Drop conditionally applied cargo `-Zon-broken-pipe=kill` flags"
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/tool.rs
Labels: T-bootstrap, S-waiting-on-bors

#131121 A couple of fixes for dataflow graphviz dumps
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_mir_dataflow/src/framework/engine.rs
Labels: T-compiler, S-waiting-on-bors

#131117 Update helper docs display disable option
  src/bootstrap/configure.py
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#131016 Apple: Do not specify an SDK version in `rlib` object files
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/mod.rs
  tests/run-make/apple-sdk-version/foo.rs
  tests/run-make/apple-sdk-version/rmake.rs
Labels: T-compiler, S-waiting-on-bors, O-apple, A-run-make

#131140 Handle `rustc_hir_analysis` cases of `potential_query_instability` lint
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/inherent_impls_overlap.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/generic-associated-types/self-outlives-lint.stderr
Labels: T-compiler, S-waiting-on-bors

#131141 mpmc doctest: make sure main thread waits for child threads
  library/std/src/sync/mpmc/mod.rs
Labels: S-waiting-on-bors, T-libs

#131150 only query `params_in_repr` if def kind is adt
  compiler/rustc_middle/src/values.rs
  tests/crashes/128327.rs
  tests/ui/infinite/auxiliary/alias.rs
  tests/ui/infinite/infinite-assoc.rs
  tests/ui/infinite/infinite-assoc.stderr
Labels: T-compiler, S-waiting-on-bors

#131151 Replace zero-width whitespace with a visible `\` in the PR template
  .github/pull_request_template.md
Labels: S-waiting-on-bors

#131152 Improve const traits diagnostics for new desugaring
  compiler/rustc_middle/src/macros.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_type_ir/src/predicate.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/assoc-type-const-bound-usage-0.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/assoc-type-const-bound-usage-1.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-const-trait-method-fail.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-const-trait-method-fail.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-generic-method-nonconst.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-generic-method-nonconst.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-default-method-bodies.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-default-method-bodies.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-fns-are-early-bound.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/cross-crate.gatednc.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/default-method-body-is-const-same-trait-ck.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/default-method-body-is-const-same-trait-ck.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-2.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-2.yn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-2.yy.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-3.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-3.yn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/trait-where-clause-const.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.stderr
Labels: T-compiler, S-waiting-on-bors

#131158 Rollup of 7 pull requests
  .github/pull_request_template.md
  Cargo.lock
  compiler/rustc_codegen_cranelift/src/unsize.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/inherent_impls_overlap.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_middle/src/macros.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_middle/src/values.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_type_ir/src/predicate.rs
  library/std/src/sync/mpmc/mod.rs
  tests/crashes/128327.rs
  tests/run-make/apple-sdk-version/foo.rs
  tests/run-make/apple-sdk-version/rmake.rs
  tests/ui/codegen/sub-principals-in-codegen.rs
  tests/ui/generic-associated-types/self-outlives-lint.stderr
  tests/ui/infinite/auxiliary/alias.rs
  tests/ui/infinite/infinite-assoc.rs
  tests/ui/infinite/infinite-assoc.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/assoc-type-const-bound-usage-0.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/assoc-type-const-bound-usage-1.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-const-trait-method-fail.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-const-trait-method-fail.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-generic-method-nonconst.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/call-generic-method-nonconst.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-default-method-bodies.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-default-method-bodies.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/const-fns-are-early-bound.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/cross-crate.gatednc.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/default-method-body-is-const-same-trait-ck.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/default-method-body-is-const-same-trait-ck.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-2.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-2.yn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-2.yy.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-3.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/super-traits-fail-3.yn.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/trait-where-clause-const.stderr
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/unsatisfied-const-trait-bound.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-apple, A-run-make

#130821 add caching to most type folders, rm region uniquification
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/type_relating.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_next_trait_solver/src/canonicalizer.rs
  compiler/rustc_next_trait_solver/src/resolve.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_type_ir/src/data_structures/delayed_map.rs
  compiler/rustc_type_ir/src/data_structures/mod.rs
  tests/ui/traits/next-solver/overflow/coherence-alias-hang-with-region.rs
  tests/ui/traits/next-solver/overflow/coherence-alias-hang.rs
  tests/ui/traits/next-solver/overflow/nalgebra-hang.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, WG-trait-system-refactor

#131006 interpret: always enable write_immediate sanity checks
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#131148 Update hashbrown to 0.15 and adjust some methods
  compiler/rustc_session/src/config/cfg.rs
  library/Cargo.lock
  library/std/Cargo.toml
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
  tests/rustdoc-js-std/path-ordering.js
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#127912 std: make `thread::current` available in all `thread_local!` destructors
  library/std/src/rt.rs
  library/std/src/sys/pal/hermit/mod.rs
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/sync/rwlock/queue.rs
  library/std/src/sys/thread_local/guard/apple.rs
  library/std/src/sys/thread_local/guard/key.rs
  library/std/src/sys/thread_local/guard/solid.rs
  library/std/src/sys/thread_local/guard/windows.rs
  library/std/src/sys/thread_local/key/xous.rs
  library/std/src/sys/thread_local/mod.rs
  library/std/src/sys/thread_local/native/mod.rs
  library/std/src/sys/thread_local/os.rs
  library/std/src/sys/thread_local/statik.rs
  library/std/src/thread/current.rs
  library/std/src/thread/local/tests.rs
  library/std/src/thread/mod.rs
  src/tools/miri/tests/fail/tail_calls/cc-mismatch.stderr
  src/tools/miri/tests/pass/backtrace/backtrace-api-v0.stderr
  src/tools/miri/tests/pass/backtrace/backtrace-api-v1.stderr
  src/tools/miri/tests/pass/backtrace/backtrace-global-alloc.stderr
  src/tools/miri/tests/pass/backtrace/backtrace-std.stderr
Labels: S-waiting-on-bors, A-thread-locals, merged-by-bors, T-libs, O-hermit

#126930 Add unstable support for outputting file checksums for use in cargo
  Cargo.lock
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/lib.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_query_system/src/ich/impls_syntax.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/Cargo.toml
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_span/src/source_map/tests.rs
  compiler/rustc_span/src/tests.rs
  src/tools/tidy/src/deps.rs
  tests/run-make/checksum-freshness/expected.d
  tests/run-make/checksum-freshness/foo.rs
  tests/run-make/checksum-freshness/lib.rs
  tests/run-make/checksum-freshness/rmake.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-query-system, A-run-make

#131166 Fix `target_vendor` for `aarch64-nintendo-switch-freestanding`
  compiler/rustc_target/src/spec/targets/aarch64_nintendo_switch_freestanding.rs
Labels: T-compiler, S-waiting-on-bors

#131185 Rollup of 3 pull requests
  Cargo.lock
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/lib.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_query_system/src/ich/impls_syntax.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/Cargo.toml
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_span/src/source_map/tests.rs
  compiler/rustc_span/src/tests.rs
  compiler/rustc_target/src/spec/targets/aarch64_nintendo_switch_freestanding.rs
  src/tools/tidy/src/deps.rs
  tests/run-make/checksum-freshness/expected.d
  tests/run-make/checksum-freshness/foo.rs
  tests/run-make/checksum-freshness/lib.rs
  tests/run-make/checksum-freshness/rmake.rs
  tests/ui/pattern/at-in-struct-patterns.rs
  tests/ui/pattern/at-in-struct-patterns.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-query-system, A-run-make

#128711 impl `Default` for `HashMap`/`HashSet` iterators that don't already have it
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors

#131163 Add `get_line` confusable to `Stdin::read_line()`
  library/std/src/io/stdio.rs
  tests/ui/attributes/rustc_confusables_std_cases.rs
  tests/ui/attributes/rustc_confusables_std_cases.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#131173 Fix `target_abi` in SOLID targets
  compiler/rustc_target/src/spec/targets/armv7a_kmc_solid_asp3_eabi.rs
  compiler/rustc_target/src/spec/targets/armv7a_kmc_solid_asp3_eabihf.rs
Labels: T-compiler, S-waiting-on-bors

#131196 Rollup of 3 pull requests
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_target/src/spec/targets/armv7a_kmc_solid_asp3_eabi.rs
  compiler/rustc_target/src/spec/targets/armv7a_kmc_solid_asp3_eabihf.rs
  library/std/src/io/stdio.rs
  src/librustdoc/doctest.rs
  src/librustdoc/doctest/rust.rs
  tests/ui/attributes/rustc_confusables_std_cases.rs
  tests/ui/attributes/rustc_confusables_std_cases.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#130419 Streamline `HirCollector`
  compiler/rustc_ast_passes/src/ast_validation.rs
  src/librustdoc/doctest.rs
  src/librustdoc/doctest/rust.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#131145 Handle `rustc_metadata` cases of `rustc::potential_query_instability` lint
  compiler/rustc_metadata/src/lib.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_resolve/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#131024 Don't give method suggestions when method probe fails due to bad implementation of `Deref`
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/methods/dont-suggest-import-on-deref-err.rs
  tests/ui/methods/dont-suggest-import-on-deref-err.stderr
Labels: T-compiler, S-waiting-on-bors

#131112 TransmuteFrom: Gracefully handle unnormalized types and normalization errors
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/mod.rs
  compiler/rustc_transmute/src/layout/tree.rs
  tests/crashes/125881.rs
  tests/crashes/126377.rs
  tests/crashes/130413.rs
  tests/ui/transmutability/assoc-bound.rs
  tests/ui/transmutability/assoc-bound.stderr
Labels: T-compiler, S-waiting-on-bors

#131176 .gitignore files for nix
  .gitignore
Labels: S-waiting-on-bors

#131183 Refactoring to `OpaqueTyOrigin`
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item/refine.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_lint/src/impl_trait_overcaptures.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/static_impl_trait.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/region.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_ty_utils/src/assoc.rs
  compiler/rustc_ty_utils/src/opaque_types.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  src/tools/clippy/clippy_lints/src/extra_unused_type_parameters.rs
  src/tools/clippy/clippy_lints/src/len_zero.rs
  src/tools/clippy/clippy_lints/src/lifetimes.rs
  src/tools/clippy/clippy_lints/src/manual_async_fn.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#131187 Avoid ICE in coverage builds with bad `#[coverage(..)]` attributes
  compiler/rustc_mir_transform/src/coverage/query.rs
  tests/crashes/127880.rs
  tests/ui/coverage-attr/bad-attr-ice.feat.stderr
  tests/ui/coverage-attr/bad-attr-ice.nofeat.stderr
  tests/ui/coverage-attr/bad-attr-ice.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#131192 Handle `rustc_query_impl` cases of `rustc::potential_query_instability` lint
  compiler/rustc_query_impl/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#131197 Avoid emptiness check in `PeekMut::pop`
  library/alloc/src/collections/binary_heap/mod.rs
  tests/codegen/binary-heap-peek-mut-pop-no-panic.rs
Labels: S-waiting-on-bors, T-libs

#131215 Rollup of 7 pull requests
  .gitignore
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item/refine.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_lint/src/impl_trait_overcaptures.rs
  compiler/rustc_lint/src/opaque_hidden_inferred_bound.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_mir_transform/src/coverage/query.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_privacy/src/lib.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/static_impl_trait.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/region.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/mod.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_ty_utils/src/assoc.rs
  compiler/rustc_ty_utils/src/opaque_types.rs
  library/alloc/src/collections/binary_heap/mod.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  src/tools/clippy/clippy_lints/src/extra_unused_type_parameters.rs
  src/tools/clippy/clippy_lints/src/len_zero.rs
  src/tools/clippy/clippy_lints/src/lifetimes.rs
  src/tools/clippy/clippy_lints/src/manual_async_fn.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  tests/codegen/binary-heap-peek-mut-pop-no-panic.rs
  tests/crashes/125881.rs
  tests/crashes/126377.rs
  tests/crashes/127880.rs
  tests/crashes/130413.rs
  tests/ui/coverage-attr/bad-attr-ice.feat.stderr
  tests/ui/coverage-attr/bad-attr-ice.nofeat.stderr
  tests/ui/coverage-attr/bad-attr-ice.rs
  tests/ui/methods/dont-suggest-import-on-deref-err.rs
  tests/ui/methods/dont-suggest-import-on-deref-err.stderr
  tests/ui/transmutability/assoc-bound.rs
  tests/ui/transmutability/assoc-bound.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-query-system

#131191 Merge `glb` and `lub` modules
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/glb.rs
  compiler/rustc_infer/src/infer/relate/lattice.rs
  compiler/rustc_infer/src/infer/relate/lub.rs
  compiler/rustc_infer/src/infer/relate/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#131201 Disable jump threading `UnOp::Not` for non-bool
  compiler/rustc_mir_transform/src/jump_threading.rs
  tests/mir-opt/jump_threading.bitwise_not.JumpThreading.panic-abort.diff
  tests/mir-opt/jump_threading.bitwise_not.JumpThreading.panic-unwind.diff
  tests/mir-opt/jump_threading.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, stable-nominated, merged-by-bors

#131228 remove blank issue template
  .github/ISSUE_TEMPLATE/blank_issue.md
Labels: S-waiting-on-bors, merged-by-bors

#131224 rustdoc: prevent ctors from resolving
  compiler/rustc_resolve/src/lib.rs
  tests/rustdoc-ui/intra-doc/disambiguator-mismatch.rs
  tests/rustdoc-ui/intra-doc/disambiguator-mismatch.stderr
  tests/rustdoc-ui/intra-doc/value-ctor.rs
  tests/rustdoc-ui/intra-doc/value-ctor.stderr
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#131232 Week off of reviews to focus on docs
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#131034 Implement RFC3695 Allow boolean literals as cfg predicates
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_attr/messages.ftl
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_attr/src/session_diagnostics.rs
  compiler/rustc_builtin_macros/src/cfg.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_session/src/cstore.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented.rs
  src/doc/unstable-book/src/language-features/cfg-boolean-literals.md
  src/librustdoc/clean/cfg.rs
  src/librustdoc/clean/cfg/tests.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/visit_ast.rs
  tests/rustdoc-ui/cfg-boolean-literal.rs
  tests/ui/cfg/raw-true-false.rs
  tests/ui/cfg/true-false.rs
  tests/ui/feature-gates/feature-gate-cfg-boolean-literals.rs
  tests/ui/feature-gates/feature-gate-cfg-boolean-literals.stderr
  tests/ui/macros/cfg.rs
  tests/ui/macros/cfg.stderr
Labels: T-compiler, S-waiting-on-bors

#131202 Use wide pointers consistenly across the compiler
  compiler/rustc_codegen_cranelift/example/std_example.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/types.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/utils.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_error_codes/src/error_codes/E0607.md
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/expectation.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/ty/adjustment.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_target/src/abi/mod.rs
  compiler/rustc_ty_utils/src/abi.rs
  compiler/stable_mir/src/mir/body.rs
  tests/ui/cast/fat-ptr-cast.stderr
  tests/ui/consts/slice_elem_ty_mismatch_in_unsizing_cast.stderr
  tests/ui/error-codes/E0607.stderr
  tests/ui/error-festival.stderr
  tests/ui/issues/issue-31511.rs
  tests/ui/issues/issue-31511.stderr
  tests/ui/mismatched_types/cast-rfc0401.stderr
Labels: T-compiler, S-waiting-on-bors

#131230 Enable `--no-sandbox` option by default for rustdoc GUI tests
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/tools/rustdoc-gui/tester.js
  tests/rustdoc-gui/README.md
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#130157 Stabilize `const_float_classify`
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/types.rs
  library/core/src/lib.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  tests/ui/float/classify-runtime-const.rs
  tests/ui/float/conv-bits-runtime-const.rs
  tests/ui/lint/invalid-nan-comparison.stderr
Labels: T-libs-api, T-compiler, S-waiting-on-bors, merged-by-bors, S-waiting-on-fcp, T-libs

#130453 Add x86_64-unknown-trusty as tier 3 target
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_trusty.rs
  src/doc/rustc/src/platform-support.md
  tests/assembly/targets/targets-elf.rs
Labels: T-compiler, S-waiting-on-bors

#130518 Stabilize the `map`/`value` methods on `ControlFlow`
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_metadata/src/lib.rs
  compiler/rustc_trait_selection/src/lib.rs
  library/core/src/ops/control_flow.rs
  library/core/src/ops/mod.rs
  src/tools/clippy/clippy_lints/src/lib.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  tests/mir-opt/jump_threading.rs
  tests/mir-opt/separate_const_switch.rs
  tests/ui-fulldeps/stable-mir/check_abi.rs
  tests/ui-fulldeps/stable-mir/check_allocation.rs
  tests/ui-fulldeps/stable-mir/check_attribute.rs
  tests/ui-fulldeps/stable-mir/check_def_ty.rs
  tests/ui-fulldeps/stable-mir/check_defs.rs
  tests/ui-fulldeps/stable-mir/check_foreign.rs
  tests/ui-fulldeps/stable-mir/check_instance.rs
  tests/ui-fulldeps/stable-mir/check_item_kind.rs
  tests/ui-fulldeps/stable-mir/check_trait_queries.rs
  tests/ui-fulldeps/stable-mir/check_transform.rs
  tests/ui-fulldeps/stable-mir/check_ty_fold.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
  tests/ui-fulldeps/stable-mir/projections.rs
  tests/ui-fulldeps/stable-mir/smir_internal.rs
  tests/ui-fulldeps/stable-mir/smir_serde.rs
  tests/ui-fulldeps/stable-mir/smir_visitor.rs
  tests/ui/try-trait/bad-interconversion.rs
  tests/ui/try-trait/bad-interconversion.stderr
  tests/ui/try-trait/try-operator-custom.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, S-waiting-on-fcp, to-announce

#131116 Increase Stack Size for AIX
  compiler/rustc_data_structures/src/stack.rs
Labels: T-compiler, S-waiting-on-bors

#131171 Fix `target_env` in `avr-unknown-gnu-atmega328`
  compiler/rustc_target/src/spec/base/avr_gnu.rs
Labels: T-compiler, S-waiting-on-bors

#131174 Fix `target_abi` in `sparc-unknown-none-elf`
  compiler/rustc_target/src/spec/targets/sparc_unknown_none_elf.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors, O-SPARC

#131177 Stabilize 5 `const_mut_refs`-dependent API
  library/core/src/cell.rs
  library/core/src/lib.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/mod.rs
  library/core/src/str/converts.rs
  library/core/src/str/mod.rs
  library/core/tests/lib.rs
Labels: S-waiting-on-bors, S-waiting-on-fcp, T-libs

#131238 Remove mw from triagebot.toml
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#131240 Fix typo in csky-unknown-linux-gnuabiv2.md
  src/doc/rustc/src/platform-support/csky-unknown-linux-gnuabiv2.md
Labels: S-waiting-on-bors

#131257 [rustdoc] Fix list margins
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/list-margins.goml
  tests/rustdoc-gui/src/test_docs/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#131264 Fix some `pub(crate)` that were undetected bc of `#[instrument]`
  compiler/rustc_borrowck/src/renumber.rs
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/encode.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/transform.rs
  compiler/rustc_transmute/src/maybe_transmutable/mod.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#129517 Compute array length from type for unconditional panic lint.
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  src/tools/clippy/tests/ui-toml/unwrap_used/unwrap_used.fixed
  src/tools/clippy/tests/ui-toml/unwrap_used/unwrap_used.rs
  src/tools/clippy/tests/ui-toml/unwrap_used/unwrap_used.stderr
  src/tools/clippy/tests/ui/get_unwrap.fixed
  src/tools/clippy/tests/ui/get_unwrap.rs
  src/tools/clippy/tests/ui/get_unwrap.stderr
  tests/ui/lint/unconditional_panic_promoted.rs
  tests/ui/lint/unconditional_panic_promoted.stderr
Labels: T-compiler, S-waiting-on-bors

#130367 Check elaborated projections from dyn don't mention unconstrained late bound lifetimes
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_middle/src/ty/predicate.rs
  compiler/rustc_type_ir/src/elaborate.rs
  compiler/rustc_type_ir/src/inherent.rs
  tests/ui/traits/object/elaborated-predicates-unconstrained-late-bound.rs
  tests/ui/traits/object/elaborated-predicates-unconstrained-late-bound.stderr
  tests/ui/traits/object/pretty.rs
  tests/ui/traits/object/pretty.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, T-types

#130403 Stabilize `const_slice_from_raw_parts_mut`
  library/alloc/tests/lib.rs
  library/core/src/lib.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/raw.rs
Labels: S-waiting-on-bors, needs-fcp, T-libs

#130633 Add support for reborrowing pinned method receivers
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/prelude_edition_lints.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_middle/src/ty/sty.rs
  tests/ui/async-await/pin-reborrow-self.rs
  tests/ui/feature-gates/feature-gate-pin_ergonomics.rs
  tests/ui/feature-gates/feature-gate-pin_ergonomics.stderr
Labels: T-compiler, S-waiting-on-bors

#131105 update `Literal`'s intro
  library/proc_macro/src/lib.rs
Labels: S-waiting-on-bors

#131194 Fix needless_lifetimes in stable_mir
  compiler/stable_mir/src/mir/visit.rs
Labels: T-compiler, S-waiting-on-bors

#131260 rustdoc: cleaner errors on disambiguator/namespace mismatches
  src/librustdoc/passes/collect_intra_doc_links.rs
  tests/rustdoc-ui/intra-doc/disambiguator-mismatch.stderr
  tests/rustdoc-ui/intra-doc/errors.rs
  tests/rustdoc-ui/intra-doc/errors.stderr
  tests/rustdoc-ui/intra-doc/issue-110495-suffix-with-space.stderr
  tests/rustdoc-ui/intra-doc/weird-syntax.stderr
Labels: T-rustdoc, S-waiting-on-bors

#131267 Stabilize `BufRead::skip_until`
  library/std/src/io/mod.rs
Labels: S-waiting-on-bors, T-libs

#131273 Account for `impl Trait {` when `impl Trait for Type {` was intended
  compiler/rustc_hir_analysis/src/hir_ty_lowering/lint.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  tests/ui/traits/missing-for-type-in-impl.e2015.stderr
  tests/ui/traits/missing-for-type-in-impl.e2021.stderr
  tests/ui/traits/missing-for-type-in-impl.rs
Labels: T-compiler, S-waiting-on-bors

#131275 Rollup of 9 pull requests
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/lint.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/prelude_edition_lints.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_middle/src/ty/predicate.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_type_ir/src/elaborate.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/stable_mir/src/mir/visit.rs
  library/alloc/tests/lib.rs
  library/core/src/lib.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/raw.rs
  library/proc_macro/src/lib.rs
  library/std/src/io/mod.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/clippy/tests/ui-toml/unwrap_used/unwrap_used.fixed
  src/tools/clippy/tests/ui-toml/unwrap_used/unwrap_used.rs
  src/tools/clippy/tests/ui-toml/unwrap_used/unwrap_used.stderr
  src/tools/clippy/tests/ui/get_unwrap.fixed
  src/tools/clippy/tests/ui/get_unwrap.rs
  src/tools/clippy/tests/ui/get_unwrap.stderr
  tests/rustdoc-ui/intra-doc/disambiguator-mismatch.stderr
  tests/rustdoc-ui/intra-doc/errors.rs
  tests/rustdoc-ui/intra-doc/errors.stderr
  tests/rustdoc-ui/intra-doc/issue-110495-suffix-with-space.stderr
  tests/rustdoc-ui/intra-doc/weird-syntax.stderr
  tests/ui/async-await/pin-reborrow-self.rs
  tests/ui/feature-gates/feature-gate-pin_ergonomics.rs
  tests/ui/feature-gates/feature-gate-pin_ergonomics.stderr
  tests/ui/lint/unconditional_panic_promoted.rs
  tests/ui/lint/unconditional_panic_promoted.stderr
  tests/ui/traits/missing-for-type-in-impl.e2015.stderr
  tests/ui/traits/missing-for-type-in-impl.e2021.stderr
  tests/ui/traits/missing-for-type-in-impl.rs
  tests/ui/traits/object/elaborated-predicates-unconstrained-late-bound.rs
  tests/ui/traits/object/elaborated-predicates-unconstrained-late-bound.stderr
  tests/ui/traits/object/pretty.rs
  tests/ui/traits/object/pretty.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#130428 Stabilize `const_slice_split_at_mut` and `const_slice_first_last_chunk`
  library/core/src/lib.rs
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, S-waiting-on-fcp, T-libs

#131094 std: replace `LazyBox` with `OnceBox`
  library/std/src/sys/sync/condvar/mod.rs
  library/std/src/sys/sync/condvar/pthread.rs
  library/std/src/sys/sync/condvar/sgx.rs
  library/std/src/sys/sync/condvar/teeos.rs
  library/std/src/sys/sync/mod.rs
  library/std/src/sys/sync/mutex/mod.rs
  library/std/src/sys/sync/mutex/pthread.rs
  library/std/src/sys/sync/mutex/sgx.rs
  library/std/src/sys/sync/once_box.rs
  library/std/src/sys/sync/rwlock/teeos.rs
  library/std/src/sys_common/lazy_box.rs
  library/std/src/sys_common/mod.rs
Labels: S-waiting-on-bors, T-libs, A-atomic

#131256 move f16/f128 const fn under f16/f128 feature gate
  library/core/src/lib.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  src/tools/clippy/tests/ui/transmute_float_to_int.fixed
  src/tools/clippy/tests/ui/transmute_float_to_int.rs
  tests/ui/float/classify-runtime-const.rs
  tests/ui/float/conv-bits-runtime-const.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#131278 remove outdated contribution direction
  src/bootstrap/README.md
Labels: T-bootstrap, S-waiting-on-bors

#131188 Do not copy libstd dynamic library to sysroot
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/core/build_steps/compile.rs
  tests/ui/command/command-current-dir.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#131221 Update compiler-builtins to 0.1.132
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#130555 Initial support for riscv32{e|em|emc}_unknown_none_elf
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/riscv32e_unknown_none_elf.rs
  compiler/rustc_target/src/spec/targets/riscv32em_unknown_none_elf.rs
  compiler/rustc_target/src/spec/targets/riscv32emc_unknown_none_elf.rs
  src/bootstrap/src/core/sanity.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv32-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32e-unknown-none-elf.md
  tests/assembly/targets/targets-elf.rs
  tests/ui/abi/riscv32e-registers.riscv32e.stderr
  tests/ui/abi/riscv32e-registers.riscv32em.stderr
  tests/ui/abi/riscv32e-registers.riscv32emc.stderr
  tests/ui/abi/riscv32e-registers.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, O-riscv

#131280 Handle `rustc_interface` cases of `rustc::potential_query_instability` lint
  compiler/rustc_interface/src/passes.rs
Labels: T-compiler, S-waiting-on-bors

#131281 make Cell unstably const
  library/core/src/cell.rs
Labels: S-waiting-on-bors, proposed-final-comment-period, disposition-merge, T-libs

#131285 clarify semantics of ConstantIndex MIR projection
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/stable_mir/src/mir/body.rs
Labels: T-compiler, S-waiting-on-bors

#131299 fix typo in 'lang item with track_caller' message
  compiler/rustc_passes/messages.ftl
  tests/ui/panic-handler/panic-handler-with-track-caller.stderr
Labels: T-compiler, S-waiting-on-bors

#131302 Rollup of 5 pull requests
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/riscv32e_unknown_none_elf.rs
  compiler/rustc_target/src/spec/targets/riscv32em_unknown_none_elf.rs
  compiler/rustc_target/src/spec/targets/riscv32emc_unknown_none_elf.rs
  compiler/stable_mir/src/mir/body.rs
  library/core/src/cell.rs
  src/bootstrap/src/core/sanity.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/riscv32-unknown-none-elf.md
  src/doc/rustc/src/platform-support/riscv32e-unknown-none-elf.md
  tests/assembly/targets/targets-elf.rs
  tests/ui/abi/riscv32e-registers.riscv32e.stderr
  tests/ui/abi/riscv32e-registers.riscv32em.stderr
  tests/ui/abi/riscv32e-registers.riscv32emc.stderr
  tests/ui/abi/riscv32e-registers.rs
  tests/ui/panic-handler/panic-handler-with-track-caller.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#130540 Add a Lint for Pointer to Integer Transmutes in Consts
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_mir_transform/messages.ftl
  compiler/rustc_mir_transform/src/check_undefined_transmutes.rs
  compiler/rustc_mir_transform/src/errors.rs
  compiler/rustc_mir_transform/src/lib.rs
  library/core/src/ptr/mod.rs
  src/tools/clippy/tests/ui/transmutes_expressible_as_ptr_casts.fixed
  src/tools/clippy/tests/ui/transmutes_expressible_as_ptr_casts.rs
  tests/ui/consts/const-eval/ptr-to-int-transmute-in-consts-issue-87525.rs
  tests/ui/consts/const-eval/ptr-to-int-transmute-in-consts-issue-87525.stderr
Labels: T-lang, T-compiler, S-waiting-on-bors, merged-by-bors

#131314 Update `compiler-builtins` to 0.1.133
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#131075 bootstrap: Consolidate editor setup into ./x setup editor & add support for vim, emacs & helix
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/core/build_steps/setup/tests.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/flags.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/etc/completions/x.py.sh
  src/etc/rust_analyzer_eglot.el
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#129392 Do not consider match/let/ref of place that evaluates to `!` to diverge, disallow coercions from them too
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  src/tools/miri/tests/pass/underscore_pattern.rs
  tests/mir-opt/uninhabited_enum.process_never.SimplifyLocals-final.after.mir
  tests/mir-opt/uninhabited_enum.process_void.SimplifyLocals-final.after.mir
  tests/mir-opt/uninhabited_enum.rs
  tests/mir-opt/uninhabited_not_read.main.SimplifyLocals-final.after.mir
  tests/mir-opt/uninhabited_not_read.rs
  tests/ui/closures/2229_closure_analysis/match/pattern-matching-should-fail.stderr
  tests/ui/never_type/diverging-place-match.rs
  tests/ui/never_type/diverging-place-match.stderr
  tests/ui/raw-ref-op/never-place-isnt-diverging.rs
  tests/ui/raw-ref-op/never-place-isnt-diverging.stderr
  tests/ui/reachable/expr_assign.stderr
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, F-never_type, to-announce, T-types

#131279 update "build/host" symlink comment
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#131312 On function and method calls in patterns, link to the book
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/half-open-range-patterns/range_pat_interactions1.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions2.stderr
  tests/ui/parser/bad-name.stderr
  tests/ui/parser/issues/issue-24197.stderr
  tests/ui/parser/issues/issue-24375.stderr
  tests/ui/parser/pat-lt-bracket-5.stderr
  tests/ui/parser/pat-lt-bracket-6.stderr
  tests/ui/parser/pat-ranges-3.stderr
  tests/ui/parser/recover/recover-pat-exprs.stderr
  tests/ui/parser/recover/recover-pat-issues.stderr
  tests/ui/parser/recover/recover-pat-lets.stderr
  tests/ui/parser/recover/recover-pat-ranges.stderr
  tests/ui/parser/recover/recover-pat-wildcards.stderr
  tests/ui/resolve/issue-10200.rs
  tests/ui/resolve/issue-10200.stderr
  tests/ui/sized/ensure-overriding-bindings-in-pattern-with-ty-err-doesnt-ice.stderr
Labels: T-compiler, S-waiting-on-bors

#131315 bootstrap: add `std_features` config
  config.example.toml
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/tests.rs
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#131316 Fix typo in primitive_docs.rs
  library/core/src/primitive_docs.rs
Labels: S-waiting-on-bors, T-libs

#131320 Rollup of 5 pull requests
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  config.example.toml
  library/core/src/primitive_docs.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/tests.rs
  src/bootstrap/src/lib.rs
  src/tools/miri/tests/pass/underscore_pattern.rs
  tests/mir-opt/uninhabited_enum.process_never.SimplifyLocals-final.after.mir
  tests/mir-opt/uninhabited_enum.process_void.SimplifyLocals-final.after.mir
  tests/mir-opt/uninhabited_enum.rs
  tests/mir-opt/uninhabited_not_read.main.SimplifyLocals-final.after.mir
  tests/mir-opt/uninhabited_not_read.rs
  tests/ui/closures/2229_closure_analysis/match/pattern-matching-should-fail.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions1.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions2.stderr
  tests/ui/never_type/diverging-place-match.rs
  tests/ui/never_type/diverging-place-match.stderr
  tests/ui/parser/bad-name.stderr
  tests/ui/parser/issues/issue-24197.stderr
  tests/ui/parser/issues/issue-24375.stderr
  tests/ui/parser/pat-lt-bracket-5.stderr
  tests/ui/parser/pat-lt-bracket-6.stderr
  tests/ui/parser/pat-ranges-3.stderr
  tests/ui/parser/recover/recover-pat-exprs.stderr
  tests/ui/parser/recover/recover-pat-issues.stderr
  tests/ui/parser/recover/recover-pat-lets.stderr
  tests/ui/parser/recover/recover-pat-ranges.stderr
  tests/ui/parser/recover/recover-pat-wildcards.stderr
  tests/ui/raw-ref-op/never-place-isnt-diverging.rs
  tests/ui/raw-ref-op/never-place-isnt-diverging.stderr
  tests/ui/reachable/expr_assign.stderr
  tests/ui/resolve/issue-10200.rs
  tests/ui/resolve/issue-10200.stderr
  tests/ui/sized/ensure-overriding-bindings-in-pattern-with-ty-err-doesnt-ice.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#131259 Handle `librustdoc` cases of `rustc::potential_query_instability` lint
  compiler/rustc_resolve/src/rustdoc.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/config.rs
  src/librustdoc/core.rs
  src/librustdoc/doctest.rs
  src/librustdoc/doctest/runner.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/highlight/tests.rs
  src/librustdoc/html/layout.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/render/span_map.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_trait_impls.rs
  src/librustdoc/scrape_examples.rs
  src/librustdoc/theme.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#129670 Make deprecated_cfg_attr_crate_type_name a hard error
  compiler/rustc_expand/messages.ftl
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/errors.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_lint_defs/src/lib.rs
  tests/ui/cfg/crate-attributes-using-cfg_attr.rs
  tests/ui/cfg/crate-attributes-using-cfg_attr.stderr
  tests/ui/cfg/future-compat-crate-attributes-using-cfg_attr.stderr
Labels: T-lang, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce

#131001 add clarity for custom path installation
  INSTALL.md
Labels: T-bootstrap, S-waiting-on-bors

#131307 Android: Debug assertion after setting thread name
  library/std/src/sys/pal/unix/thread.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#131322 Update out-dated link
  compiler/rustc_driver_impl/README.md
Labels: T-compiler, S-waiting-on-bors

#131335 grammar fix
  library/core/src/intrinsics/mir.rs
Labels: S-waiting-on-bors, T-libs

#131337 Rollup of 4 pull requests
  INSTALL.md
  compiler/rustc_driver_impl/README.md
  library/core/src/intrinsics/mir.rs
  library/std/src/sys/pal/unix/thread.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#128651 add `naked_asm!` macro for use in `#[naked]` functions
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/polonius/loan_invalidations.rs
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_codegen_cranelift/example/mini_core.rs
  compiler/rustc_codegen_cranelift/example/mini_core_hello_world.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_error_codes/src/error_codes/E0787.md
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/terminator.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/print.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/naked_functions.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  src/tools/rustfmt/src/parse/macros/asm.rs
  tests/assembly/aarch64-naked-fn-no-bti-prolog.rs
  tests/assembly/x86_64-naked-fn-no-cet-prolog.rs
  tests/codegen/cffi/c-variadic-naked.rs
  tests/codegen/naked-asan.rs
  tests/codegen/naked-fn/aligned.rs
  tests/codegen/naked-fn/naked-functions.rs
  tests/codegen/naked-fn/naked-nocoverage.rs
  tests/codegen/naked-fn/naked-noinline.rs
  tests/crashes/124375.rs
  tests/run-make/naked-symbol-visibility/a_rust_dylib.rs
  tests/ui/asm/naked-functions-ffi.rs
  tests/ui/asm/naked-functions-instruction-set.rs
  tests/ui/asm/naked-functions-testattrs.rs
  tests/ui/asm/naked-functions-unused.aarch64.stderr
  tests/ui/asm/naked-functions-unused.rs
  tests/ui/asm/naked-functions-unused.x86_64.stderr
  tests/ui/asm/naked-functions.rs
  tests/ui/asm/naked-functions.stderr
  tests/ui/asm/naked-invalid-attr.rs
  tests/ui/asm/naked-invalid-attr.stderr
  tests/ui/asm/naked-with-invalid-repr-attr.rs
  tests/ui/asm/naked-with-invalid-repr-attr.stderr
  tests/ui/asm/named-asm-labels.rs
  tests/ui/asm/named-asm-labels.stderr
  tests/ui/feature-gates/feature-gate-naked_functions.rs
  tests/ui/feature-gates/feature-gate-naked_functions.stderr
  tests/ui/rfcs/rfc-2091-track-caller/error-with-naked.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, A-run-make

#131068 Don't use Immediate::offset to transmute pointers to integers
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_mir_transform/src/gvn.rs
  tests/coverage/closure_macro.cov-map
  tests/coverage/closure_macro_async.cov-map
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#128399 liballoc: introduce String, Vec const-slicing
  library/alloc/src/lib.rs
  library/alloc/src/raw_vec.rs
  library/alloc/src/string.rs
  library/alloc/src/vec/mod.rs
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-unwind.mir
  tests/ui/consts/issue-94675.rs
  tests/ui/consts/issue-94675.stderr
Labels: T-libs-api, S-waiting-on-bors

#131308 enable f16 and f128 on windows-gnullvm targets
  library/std/build.rs
Labels: S-waiting-on-bors, T-libs

#131325 coverage: Multiple small tweaks to counter creation
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#131345 Rollup of 3 pull requests
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  library/alloc/src/lib.rs
  library/alloc/src/raw_vec.rs
  library/alloc/src/string.rs
  library/alloc/src/vec/mod.rs
  library/std/build.rs
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-unwind.mir
  tests/ui/consts/issue-94675.rs
  tests/ui/consts/issue-94675.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#131235 Rename `NestedMetaItem` to `MetaItemInner`
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/mod.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_builtin_macros/src/cfg.rs
  compiler/rustc_builtin_macros/src/derive.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_incremental/src/persist/dirty_clean.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_mir_dataflow/src/framework/engine.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/macros.rs
  compiler/rustc_session/src/cstore.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented.rs
  src/librustdoc/clean/cfg.rs
  src/librustdoc/clean/cfg/tests.rs
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_lints/src/attrs/allow_attributes_without_reason.rs
  src/tools/clippy/clippy_lints/src/attrs/blanket_clippy_restriction_lints.rs
  src/tools/clippy/clippy_lints/src/attrs/mod.rs
  src/tools/clippy/clippy_lints/src/attrs/non_minimal_cfg.rs
  src/tools/clippy/clippy_lints/src/attrs/useless_attribute.rs
  src/tools/clippy/clippy_lints/src/attrs/utils.rs
  src/tools/clippy/clippy_lints/src/cfg_not_test.rs
  src/tools/clippy/clippy_lints/src/returns.rs
  src/tools/rustfmt/src/attr.rs
  src/tools/rustfmt/src/overflow.rs
  src/tools/rustfmt/src/skip.rs
  src/tools/rustfmt/src/spanned.rs
  src/tools/rustfmt/src/utils.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#131331 Revert "warn_old_master_branch" check
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/sanity.rs
  src/tools/build_helper/src/git.rs
Labels: T-bootstrap, S-waiting-on-bors

#131344 Avoid `&Lrc<T>` in various places
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_errors/src/tests.rs
  compiler/rustc_errors/src/translation.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map/tests.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  src/tools/clippy/clippy_utils/src/source.rs
  src/tools/rustfmt/src/parse/session.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-translation

#131346 Restrict `ignore-mode-*` directives
  src/tools/compiletest/src/command-list.rs
  src/tools/compiletest/src/header/cfg.rs
  src/tools/compiletest/src/header/tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#131353 Add documentation for `runtest::check_rustdoc_test_option` method
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#131354 Rollup of 4 pull requests
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_errors/src/tests.rs
  compiler/rustc_errors/src/translation.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map/tests.rs
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/sanity.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  src/tools/build_helper/src/git.rs
  src/tools/clippy/clippy_utils/src/source.rs
  src/tools/compiletest/src/command-list.rs
  src/tools/compiletest/src/header/cfg.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/rustfmt/src/parse/session.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-translation

#131351 Remove valgrind test suite and support from compiletest, bootstrap and opt-dist
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/main.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/incremental.rs
  src/tools/compiletest/src/runtest/valgrind.rs
  src/tools/opt-dist/src/tests.rs
  tests/run-pass-valgrind/cast-enum-with-dtor.rs
  tests/run-pass-valgrind/cleanup-auto-borrow-obj.rs
  tests/run-pass-valgrind/cleanup-stdin.rs
  tests/run-pass-valgrind/coerce-match-calls.rs
  tests/run-pass-valgrind/coerce-match.rs
  tests/run-pass-valgrind/down-with-thread-dtors.rs
  tests/run-pass-valgrind/dst-dtor-1.rs
  tests/run-pass-valgrind/dst-dtor-2.rs
  tests/run-pass-valgrind/dst-dtor-3.rs
  tests/run-pass-valgrind/dst-dtor-4.rs
  tests/run-pass-valgrind/exit-flushes.rs
  tests/run-pass-valgrind/issue-44800.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects-rust-call.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects-rust-call2.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects.rs
  tests/run-pass-valgrind/unsized-locals/long-live-the-unsized-temporary.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#131367 Mark Boxy as on vacation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#131372 Rollup of 7 pull requests
  compiler/rustc_borrowck/src/consumers.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/find_use.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/values.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/deriving/smart_ptr.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_fs_util/src/lib.rs
  compiler/rustc_serialize/src/opaque.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/utils/shared_helpers.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/main.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/incremental.rs
  src/tools/compiletest/src/runtest/valgrind.rs
  src/tools/opt-dist/src/tests.rs
  tests/run-pass-valgrind/cast-enum-with-dtor.rs
  tests/run-pass-valgrind/cleanup-auto-borrow-obj.rs
  tests/run-pass-valgrind/cleanup-stdin.rs
  tests/run-pass-valgrind/coerce-match-calls.rs
  tests/run-pass-valgrind/coerce-match.rs
  tests/run-pass-valgrind/down-with-thread-dtors.rs
  tests/run-pass-valgrind/dst-dtor-1.rs
  tests/run-pass-valgrind/dst-dtor-2.rs
  tests/run-pass-valgrind/dst-dtor-3.rs
  tests/run-pass-valgrind/dst-dtor-4.rs
  tests/run-pass-valgrind/exit-flushes.rs
  tests/run-pass-valgrind/issue-44800.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects-rust-call.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects-rust-call2.rs
  tests/run-pass-valgrind/unsized-locals/by-value-trait-objects.rs
  tests/run-pass-valgrind/unsized-locals/long-live-the-unsized-temporary.rs
  tests/ui/deriving/deriving-smart-pointer-neg.rs
  tests/ui/deriving/deriving-smart-pointer-neg.stderr
  triagebot.toml
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#128721 Don't allow the `#[pointee]` attribute where it doesn't belong
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/deriving/smart_ptr.rs
  compiler/rustc_builtin_macros/src/errors.rs
  tests/ui/deriving/deriving-smart-pointer-neg.rs
  tests/ui/deriving/deriving-smart-pointer-neg.stderr
Labels: T-compiler, S-waiting-on-bors, F-derive_smart_pointer

#130479 skip in-tree compiler build for llvm-bitcode-linker if ci-rustc is on
  src/bootstrap/src/core/build_steps/tool.rs
Labels: T-bootstrap, S-waiting-on-bors

#130899 Couple of changes to make it easier to compile rustc for wasm
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_fs_util/src/lib.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/utils/shared_helpers.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors

#131225 `rustc_borrowck` memory management tweaks
  compiler/rustc_borrowck/src/consumers.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/find_use.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/values.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
Labels: T-compiler, S-waiting-on-bors

#131359 Fix used_underscore_binding in rustc_serialize
  compiler/rustc_serialize/src/opaque.rs
Labels: T-compiler, S-waiting-on-bors

#131343 Remove `CombineFields`
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/lattice.rs
  compiler/rustc_infer/src/infer/relate/mod.rs
  compiler/rustc_infer/src/infer/relate/type_relating.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#130251 Add precondition checks to ptr::offset, ptr::add, ptr::sub
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  tests/codegen/option-as-slice.rs
  tests/mir-opt/pre-codegen/slice_iter.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#130824 Add missing module flags for `-Zfunction-return=thunk-extern`
  compiler/rustc_codegen_llvm/src/context.rs
  tests/codegen/function-return.rs
Labels: T-compiler, S-waiting-on-bors, A-rust-for-linux

#131355 Add tests for some old fixed issues
  src/tools/run-make-support/src/macros.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  src/tools/tidy/src/issues.txt
  tests/run-make/emit-to-stdout/Makefile
  tests/run-make/emit-to-stdout/rmake.rs
  tests/ui/consts/large-zst-array-77062.rs
  tests/ui/traits/assoc-type-hrtb-normalization-30472.rs
  tests/ui/traits/fn-pointer/hrtb-assoc-fn-traits-28994.rs
  tests/ui/traits/hrtb-related-type-params-30867.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-run-make

#131370 rustdoc: improve `<wbr>`-insertion for SCREAMING_CAMEL_CASE
  src/librustdoc/html/escape.rs
  src/librustdoc/html/escape/tests.rs
Labels: T-rustdoc, S-waiting-on-bors

#131379 Fix utf8-bom test
  tests/ui/utf8-bom.rs
Labels: T-compiler, S-waiting-on-bors

#131385 Un-vacation myself
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#131170 Fix `target_vendor` in non-IDF Xtensa ESP32 targets
  compiler/rustc_target/src/spec/targets/xtensa_esp32_none_elf.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s2_none_elf.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s3_none_elf.rs
Labels: T-compiler, S-waiting-on-bors

#126733 [Coverage][MCDC] Adapt mcdc to llvm 19
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/ffi.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/CoverageMappingWrapper.cpp
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_mir_build/src/build/coverageinfo.rs
  compiler/rustc_mir_build/src/build/coverageinfo/mcdc.rs
  compiler/rustc_mir_transform/messages.ftl
  compiler/rustc_mir_transform/src/coverage/mappings.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/errors.rs
  tests/coverage/mcdc/condition-limit.cov-map
  tests/coverage/mcdc/condition-limit.coverage
  tests/coverage/mcdc/condition-limit.rs
  tests/coverage/mcdc/if.cov-map
  tests/coverage/mcdc/if.coverage
  tests/coverage/mcdc/if.rs
  tests/coverage/mcdc/inlined_expressions.cov-map
  tests/coverage/mcdc/inlined_expressions.coverage
  tests/coverage/mcdc/inlined_expressions.rs
  tests/coverage/mcdc/nested_if.cov-map
  tests/coverage/mcdc/nested_if.coverage
  tests/coverage/mcdc/nested_if.rs
  tests/coverage/mcdc/non_control_flow.cov-map
  tests/coverage/mcdc/non_control_flow.coverage
  tests/coverage/mcdc/non_control_flow.rs
  tests/ui/instrument-coverage/mcdc-condition-limit.bad.stderr
  tests/ui/instrument-coverage/mcdc-condition-limit.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#131368 [rustdoc] Remove intra-doc links dead code
  src/librustdoc/html/markdown.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#131404 Rollup of 3 pull requests
  .mailmap
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_infer/src/infer/outlives/env.rs
  compiler/rustc_infer/src/infer/outlives/mod.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/region_constraints/leak_check.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_infer/src/infer/type_variable.rs
  compiler/rustc_infer/src/traits/project.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/test-auxillary/known_legacy_directive.rs
  src/tools/compiletest/src/header/tests.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#131348 More `rustc_infer` cleanups
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_infer/src/infer/outlives/env.rs
  compiler/rustc_infer/src/infer/outlives/mod.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/region_constraints/leak_check.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_infer/src/infer/type_variable.rs
  compiler/rustc_infer/src/traits/project.rs
Labels: T-compiler, S-waiting-on-bors

#131392 Drop compiletest legacy directive check
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/test-auxillary/known_legacy_directive.rs
  src/tools/compiletest/src/header/tests.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#131395 Add a mailmap entry for bjorn3
  .mailmap
Labels: S-waiting-on-bors, A-meta

#122709 use precompiled rustc for non-dist builders
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/tests.rs
  src/bootstrap/src/core/download.rs
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/ci/docker/host-x86_64/x86_64-fuchsia/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/ci/docker/run.sh
  src/ci/github-actions/jobs.yml
  src/ci/run.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#131400 Simplify the compiletest directives for ignoring coverage-test modes
  src/tools/compiletest/src/command-list.rs
  src/tools/compiletest/src/header/cfg.rs
  src/tools/compiletest/src/header/tests.rs
  tests/coverage/color.coverage
  tests/coverage/color.rs
  tests/coverage/ignore_map.coverage
  tests/coverage/ignore_map.rs
  tests/coverage/ignore_run.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#131408 Remove unneeded argument of `LinkCollector::verify_disambiguator`
  src/librustdoc/passes/collect_intra_doc_links.rs
Labels: T-rustdoc, S-waiting-on-bors

#131412 Rollup of 3 pull requests
  src/ci/docker/scripts/rfl-build.sh
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/compiletest/src/command-list.rs
  src/tools/compiletest/src/header/cfg.rs
  src/tools/compiletest/src/header/tests.rs
  tests/coverage/color.coverage
  tests/coverage/color.rs
  tests/coverage/ignore_map.coverage
  tests/coverage/ignore_map.rs
  tests/coverage/ignore_run.rs
Labels: A-testsuite, T-rustdoc, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup
