Repository rust-lang/rust, pull requests merged in 2024-09, with the labels that each got.

#129758 [beta] backports
  compiler/rustc_infer/messages.ftl
  compiler/rustc_infer/src/errors/mod.rs
  compiler/rustc_infer/src/infer/need_type_info.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_mir_transform/src/inline/cycle.rs
  compiler/rustc_span/src/symbol.rs
  src/ci/scripts/select-xcode.sh
  src/ci/scripts/upload-artifacts.sh
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/markdown/tests.rs
  tests/rustdoc-ui/doctest/doctest-no-run-invalid-langstring-124577.rs
  tests/rustdoc-ui/doctest/doctest-no-run-invalid-langstring-124577.stdout
  tests/ui/inference/detect-old-time-version-format_description-parse.rs
  tests/ui/inference/detect-old-time-version-format_description-parse.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors

#129790 Bump to 1.83
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#128641 refactor: standardize duplicate processes in parser
  library/core/src/net/parser.rs
Labels: S-waiting-on-bors, T-libs

#129207 Lint that warns when an elided lifetime ends up being a named lifetime
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/lifetime_collector.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  library/alloc/src/string.rs
  library/core/src/fmt/rt.rs
  src/tools/clippy/tests/ui/needless_lifetimes.stderr
  src/tools/clippy/tests/ui/ptr_arg.stderr
  src/tools/rust-analyzer/crates/hir-def/src/attr.rs
  src/tools/rust-analyzer/crates/hir-def/src/body.rs
  tests/ui/async-await/issues/issue-63388-1.rs
  tests/ui/async-await/issues/issue-63388-1.stderr
  tests/ui/const-generics/type-dependent/issue-71348.full.stderr
  tests/ui/const-generics/type-dependent/issue-71348.min.stderr
  tests/ui/const-generics/type-dependent/issue-71348.rs
  tests/ui/consts/min_const_fn/min_const_fn.rs
  tests/ui/consts/min_const_fn/min_const_fn.stderr
  tests/ui/generics/generic-no-mangle.fixed
  tests/ui/generics/generic-no-mangle.rs
  tests/ui/impl-trait/impl-fn-hrtb-bounds.rs
  tests/ui/impl-trait/impl-fn-hrtb-bounds.stderr
  tests/ui/impl-trait/impl-fn-predefined-lifetimes.rs
  tests/ui/impl-trait/impl-fn-predefined-lifetimes.stderr
  tests/ui/impl-trait/rpit-assoc-pair-with-lifetime.rs
  tests/ui/impl-trait/rpit-assoc-pair-with-lifetime.stderr
  tests/ui/lifetimes/lifetime-elision-return-type-requires-explicit-lifetime.rs
  tests/ui/lifetimes/lifetime-elision-return-type-requires-explicit-lifetime.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-using-impl-3.rs
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-using-impl-3.stderr
  tests/ui/lint/elided-named-lifetimes/example-from-issue48686.rs
  tests/ui/lint/elided-named-lifetimes/example-from-issue48686.stderr
  tests/ui/lint/elided-named-lifetimes/missing-lifetime-kind.rs
  tests/ui/lint/elided-named-lifetimes/missing-lifetime-kind.stderr
  tests/ui/lint/elided-named-lifetimes/not-tied-to-crate.rs
  tests/ui/lint/elided-named-lifetimes/not-tied-to-crate.stderr
  tests/ui/lint/elided-named-lifetimes/static.rs
  tests/ui/lint/elided-named-lifetimes/static.stderr
  tests/ui/object-lifetime/object-lifetime-default-elision.rs
  tests/ui/object-lifetime/object-lifetime-default-elision.stderr
  tests/ui/self/elision/ignore-non-reference-lifetimes.rs
  tests/ui/self/elision/ignore-non-reference-lifetimes.stderr
  tests/ui/self/elision/lt-ref-self-async.fixed
  tests/ui/self/elision/lt-ref-self-async.rs
  tests/ui/self/self_lifetime-async.rs
  tests/ui/self/self_lifetime-async.stderr
  tests/ui/self/self_lifetime.rs
  tests/ui/self/self_lifetime.stderr
  tests/ui/suggestions/impl-trait-missing-lifetime-gated.rs
  tests/ui/suggestions/impl-trait-missing-lifetime-gated.stderr
  tests/ui/suggestions/lifetimes/missing-lifetimes-in-signature.rs
  tests/ui/suggestions/lifetimes/missing-lifetimes-in-signature.stderr
  tests/ui/type-alias-impl-trait/missing_lifetime_bound.rs
  tests/ui/type-alias-impl-trait/missing_lifetime_bound.stderr
Labels: A-lint, T-lang, T-compiler, S-waiting-on-bors, A-translation

#129493 Create opaque definitions in resolver.
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/late.rs
  tests/mir-opt/building/async_await.b-{closure#0}.coroutine_resume.0.mir
  tests/ui/coroutine/print/coroutine-print-verbose-1.stderr
  tests/ui/nll/ty-outlives/impl-trait-captures.stderr
Labels: T-compiler, S-waiting-on-bors

#129619 Update stacker to 0.1.17
  Cargo.lock
  compiler/rustc_data_structures/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#129672 Make option-like-enum.rs UB-free and portable
  tests/debuginfo/option-like-enum.rs
Labels: S-waiting-on-bors

#129780 add crashtests for several old unfixed ICEs
  tests/crashes/117460.rs
  tests/crashes/119095.rs
  tests/crashes/126443.rs
  tests/crashes/128097.rs
Labels: S-waiting-on-bors

#129832 Remove stray dot in `std::char::from_u32_unchecked` documentation
  library/core/src/char/mod.rs
Labels: S-waiting-on-bors, T-libs

#128495 core: use `compare_bytes` for more slice element types
  library/core/src/slice/cmp.rs
  src/tools/miri/tests/fail/uninit/uninit_alloc_diagnostic.stderr
  src/tools/miri/tests/fail/uninit/uninit_alloc_diagnostic_with_provenance.stderr
Labels: S-waiting-on-bors, T-libs

#127897 add `aarch64_unknown_nto_qnx700` target - QNX 7.0 support for aarch64le
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_nto_qnx700.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_nto_qnx710.rs
  library/std/Cargo.toml
  library/std/src/sys/pal/unix/fs.rs
  library/std/src/sys/pal/unix/process/process_unix.rs
  library/unwind/src/lib.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/nto-qnx.md
  tests/assembly/targets/targets-elf.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs, O-unix, O-neutrino

#127313 Rewrite lint_expectations in a single pass.
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_lint/src/expect.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_middle/src/lint.rs
  tests/ui/error-codes/E0602.stderr
  tests/ui/lint/cli-unknown-force-warn.stderr
  tests/ui/lint/lint-removed-cmdline-deny.stderr
  tests/ui/lint/lint-removed-cmdline.stderr
  tests/ui/lint/lint-renamed-cmdline-deny.stderr
  tests/ui/lint/lint-renamed-cmdline.stderr
  tests/ui/lint/lint-unexported-no-mangle.stderr
  tests/ui/lint/lint-unknown-lint-cmdline-deny.stderr
  tests/ui/lint/lint-unknown-lint-cmdline.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#129854 Revert "Auto merge of #127537 - veluca93:struct_tf, r=BoxyUwU"
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/middle/codegen_fn_attrs.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  src/doc/unstable-book/src/language-features/struct-target-features.md
  tests/assembly/struct-target-features.rs
  tests/ui/feature-gates/feature-gate-struct-target-features.rs
  tests/ui/feature-gates/feature-gate-struct-target-features.stderr
  tests/ui/target-feature/struct-target-features.rs
  tests/ui/target-feature/struct-target-features.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#129063 Apply size optimizations to panic machinery and some cold functions
  library/Cargo.toml
  library/alloc/src/alloc.rs
  library/alloc/src/lib.rs
  library/alloc/src/raw_vec.rs
  library/alloc/src/vec/mod.rs
  library/core/src/lib.rs
  library/core/src/panicking.rs
  library/std/src/lib.rs
  library/std/src/panicking.rs
  library/std/src/sync/once_lock.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#129873 Rollup of 9 pull requests
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_mir_transform/src/add_moves_for_packed_drops.rs
  compiler/rustc_mir_transform/src/check_packed_ref.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_next_trait_solver/src/lib.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_target/src/spec/targets/riscv64imac_unknown_nuttx_elf.rs
  compiler/rustc_type_ir/src/lib.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/set.rs
  library/core/src/array/mod.rs
  library/core/src/future/async_drop.rs
  library/core/src/hint.rs
  library/core/src/intrinsics/mir.rs
  library/core/src/macros/mod.rs
  library/core/src/primitive_docs.rs
  library/std/build.rs
  library/std/src/io/tests.rs
  library/std/src/rt.rs
  library/std/src/sync/mpmc/list.rs
  library/std/src/sys/pal/uefi/process.rs
  library/std/src/sys/pal/unix/net.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  tests/run-make/rustdoc-output-stdout/rmake.rs
  tests/rustdoc-gui/deref-block.goml
  tests/rustdoc-gui/src/lib2/lib.rs
  tests/ui-fulldeps/internal-lints/import-of-type-ir-inherent.rs
  tests/ui-fulldeps/internal-lints/import-of-type-ir-inherent.stderr
  tests/ui/async-await/async-closures/mac-body.rs
  triagebot.toml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, O-unix, WG-trait-system-refactor, A-run-make

#129678 Deny imports of `rustc_type_ir::inherent` outside of type ir + new trait solver
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_next_trait_solver/src/lib.rs
  compiler/rustc_type_ir/src/lib.rs
  tests/ui-fulldeps/internal-lints/import-of-type-ir-inherent.rs
  tests/ui-fulldeps/internal-lints/import-of-type-ir-inherent.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#129738 `rustc_mir_transform` cleanups
  compiler/rustc_mir_transform/src/add_moves_for_packed_drops.rs
  compiler/rustc_mir_transform/src/check_packed_ref.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#129804 Fixed some typos in the standard library documentation/comments
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/set.rs
  library/core/src/array/mod.rs
  library/core/src/future/async_drop.rs
  library/core/src/intrinsics/mir.rs
  library/core/src/macros/mod.rs
  library/std/build.rs
  library/std/src/io/tests.rs
  library/std/src/rt.rs
  library/std/src/sync/mpmc/list.rs
  library/std/src/sys/pal/uefi/process.rs
  library/std/src/sys/pal/unix/net.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#129843 Mark myself as on vacation for triagebot
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#127474 doc: Make block of inline Deref methods foldable
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/deref-block.goml
  tests/rustdoc-gui/src/lib2/lib.rs
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, T-rustdoc-frontend

#129317 Use equality when relating formal and expected type in arg checking
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/coercion/constrain-expectation-in-arg.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#129901 [stable] Prepare Rust 1.81.0
  RELEASES.md
  src/ci/channel
Labels: A-testsuite, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#129748 Box validity: update for new zero-sized rules
  library/alloc/src/boxed.rs
Labels: S-waiting-on-bors, T-libs

#129829 Make decoding non-optional `LazyArray` panic if not set
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
Labels: T-compiler, S-waiting-on-bors

#129856 compiler_fence documentation: emphasize synchronization, not reordering
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors, T-libs

#129868 Remove kobzol vacation status
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#129875 chore: Fix typos in 'compiler' (batch 1)
  compiler/rustc_ast_lowering/src/delegation.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/stack.rs
  compiler/rustc_data_structures/src/base_n.rs
  compiler/rustc_data_structures/src/graph/scc/mod.rs
  compiler/rustc_data_structures/src/hashes.rs
  compiler/rustc_data_structures/src/sync/worker_local.rs
  compiler/rustc_error_codes/src/error_codes/E0582.md
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_errors/src/markdown/parse.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_lint/src/non_local_def.rs
  compiler/rustc_lint/src/unused.rs
Labels: T-compiler, S-waiting-on-bors

#129877 chore: Fix typos in 'compiler' (batch 2)
  compiler/rustc_lint/src/context/diagnostics/check_cfg.rs
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_transform/src/dead_store_elimination.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_mir_transform/src/match_branches.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/ref_prop.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_pattern_analysis/src/constructor.rs
  compiler/rustc_pattern_analysis/tests/exhaustiveness.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/rustdoc.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/transform.rs
  compiler/rustc_serialize/src/opaque.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system, PG-exploit-mitigations, WG-trait-system-refactor

#129878 chore: Fix typos in 'compiler' (batch 3)
  compiler/rustc_symbol_mangling/src/hashed.rs
  compiler/rustc_target/src/abi/call/xtensa.rs
  compiler/rustc_target/src/spec/base/windows_msvc.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip2.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_transmute/src/maybe_transmutable/mod.rs
  compiler/rustc_type_ir/src/binder.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/relate.rs
  compiler/rustc_type_ir/src/solve/mod.rs
  compiler/stable_mir/src/abi.rs
  compiler/stable_mir/src/ty.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#129890 Remove stray word in a comment
  library/std/src/sync/once_lock.rs
Labels: S-waiting-on-bors, T-libs

#129892 Clarify language around ptrs in slice::raw
  library/core/src/slice/raw.rs
Labels: A-docs, S-waiting-on-bors, T-libs, A-slice, A-zst

#129905 mailmap: add new email for davidtwco
  .mailmap
Labels: S-waiting-on-bors, A-meta

#129906 mailmapper?
  .mailmap
Labels: S-waiting-on-bors, A-meta

#129907 Fix compile error in solid's remove_dir_all
  library/std/src/sys/pal/solid/fs.rs
Labels: S-waiting-on-bors, T-libs, O-solid

#129152 custom/external clippy support for bootstrapping
  config.example.toml
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/utils/change_tracker.rs
Labels: T-bootstrap, S-waiting-on-bors

#129311 don't copy `.rustc-dev-contents` from CI rustc
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#129800 Move the Windows remove_dir_all impl into a module and make it more race resistant
  library/std/src/sys/pal/windows/api.rs
  library/std/src/sys/pal/windows/c/bindings.txt
  library/std/src/sys/pal/windows/c/windows_sys.rs
  library/std/src/sys/pal/windows/fs.rs
  library/std/src/sys/pal/windows/fs/remove_dir_all.rs
Labels: O-windows, S-waiting-on-bors, T-libs, A-run-make

#129860 update `object` dependency to remove duplicate `wasmparser`
  Cargo.lock
Labels: S-waiting-on-bors

#129885 chore: remove repetitive words
  library/core/src/mem/transmutability.rs
  library/std/src/sync/reentrant_lock.rs
Labels: T-compiler, S-waiting-on-bors, T-libs, A-run-make

#129913 Add missing read_buf stub for x86_64-unknown-l4re-uclibc
  library/std/src/sys/pal/unix/l4re.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#129916 process.rs: remove "Basic usage" text where not useful
  library/std/src/process.rs
Labels: S-waiting-on-bors, T-libs

#129917 Fix parsing of beta version in dry-run mode
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#129922 Rollup of 8 pull requests
  Cargo.lock
  config.example.toml
  library/core/src/mem/transmutability.rs
  library/std/src/process.rs
  library/std/src/sync/reentrant_lock.rs
  library/std/src/sys/pal/unix/l4re.rs
  library/std/src/sys/pal/windows/api.rs
  library/std/src/sys/pal/windows/c/bindings.txt
  library/std/src/sys/pal/windows/c/windows_sys.rs
  library/std/src/sys/pal/windows/fs.rs
  library/std/src/sys/pal/windows/fs/remove_dir_all.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/change_tracker.rs
Labels: O-windows, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#129902 [beta] Prepare Rust 1.82.0
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  library/alloc/src/boxed.rs
  library/alloc/src/collections/binary_heap/mod.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/vec_deque/iter.rs
  library/alloc/src/collections/vec_deque/iter_mut.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/core/src/future/ready.rs
  library/core/src/iter/adapters/take.rs
  library/core/src/iter/mod.rs
  library/core/src/iter/sources.rs
  library/core/src/iter/sources/repeat_n.rs
  library/core/src/iter/traits/iterator.rs
  library/core/src/num/error.rs
  library/core/src/num/mod.rs
  library/core/src/option.rs
  library/core/src/slice/mod.rs
  library/core/src/str/iter.rs
  library/core/src/task/wake.rs
  library/std/src/thread/mod.rs
  src/bootstrap/src/lib.rs
  src/ci/channel
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#129356 Update x86_64-linux host compiler to LLVM 19 rc 3
  src/ci/docker/host-x86_64/dist-x86_64-linux/build-clang.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors, perf-regression

#129960 [stable] Fix CVE-2024-43402
  RELEASES.md
  library/std/src/sys/pal/windows/mod.rs
  library/std/src/sys/pal/windows/process.rs
  library/std/src/sys/path/windows.rs
  tests/ui/std/windows-bat-args.rs
Labels: O-windows, T-compiler, S-waiting-on-bors, T-release, merged-by-bors, T-libs

#129962 [nightly] Fix CVE-2024-43402
  library/std/src/sys/pal/windows/mod.rs
  library/std/src/sys/pal/windows/process.rs
  library/std/src/sys/path/windows.rs
  tests/ui/std/windows-bat-args.rs
Labels: O-windows, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#129961 [beta] Fix CVE-2024-43402
  library/std/src/sys/pal/windows/mod.rs
  library/std/src/sys/pal/windows/process.rs
  library/std/src/sys/path/windows.rs
  tests/ui/std/windows-bat-args.rs
Labels: O-windows, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#129630 Document the broken C ABI of `wasm32-unknown-unknown`
  src/doc/rustc/src/platform-support/wasm32-unknown-unknown.md
Labels: S-waiting-on-bors

#129863 update comment regarding TargetOptions.features
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors

#129896 do not attempt to prove unknowable goals
  compiler/rustc_next_trait_solver/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_type_ir/src/solve/mod.rs
  tests/ui/coherence/normalize-for-errors.next.stderr
  tests/ui/coherence/normalize-for-errors.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#129926 Move `SanityCheck` and `MirPass`
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/util/common.rs
  compiler/rustc_mir_dataflow/src/rustc_peek.rs
  compiler/rustc_mir_transform/src/abort_unwinding_calls.rs
  compiler/rustc_mir_transform/src/add_call_guards.rs
  compiler/rustc_mir_transform/src/add_moves_for_packed_drops.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/add_subtyping_projections.rs
  compiler/rustc_mir_transform/src/check_alignment.rs
  compiler/rustc_mir_transform/src/check_const_item_mutation.rs
  compiler/rustc_mir_transform/src/check_packed_ref.rs
  compiler/rustc_mir_transform/src/cleanup_post_borrowck.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/ctfe_limit.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/dead_store_elimination.rs
  compiler/rustc_mir_transform/src/deduplicate_blocks.rs
  compiler/rustc_mir_transform/src/deref_separator.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/dump_mir.rs
  compiler/rustc_mir_transform/src/early_otherwise_branch.rs
  compiler/rustc_mir_transform/src/elaborate_box_derefs.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/function_item_references.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/instsimplify.rs
  compiler/rustc_mir_transform/src/jump_threading.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_mir_transform/src/large_enums.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  compiler/rustc_mir_transform/src/lower_slice_len.rs
  compiler/rustc_mir_transform/src/match_branches.rs
  compiler/rustc_mir_transform/src/mentioned_items.rs
  compiler/rustc_mir_transform/src/multiple_return_terminators.rs
  compiler/rustc_mir_transform/src/nrvo.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
  compiler/rustc_mir_transform/src/prettify.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/ref_prop.rs
  compiler/rustc_mir_transform/src/remove_noop_landing_pads.rs
  compiler/rustc_mir_transform/src/remove_place_mention.rs
  compiler/rustc_mir_transform/src/remove_storage_markers.rs
  compiler/rustc_mir_transform/src/remove_uninit_drops.rs
  compiler/rustc_mir_transform/src/remove_unneeded_drops.rs
  compiler/rustc_mir_transform/src/remove_zsts.rs
  compiler/rustc_mir_transform/src/reveal_all.rs
  compiler/rustc_mir_transform/src/sanity_check.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_mir_transform/src/simplify_branches.rs
  compiler/rustc_mir_transform/src/simplify_comparison_integral.rs
  compiler/rustc_mir_transform/src/single_use_consts.rs
  compiler/rustc_mir_transform/src/sroa.rs
  compiler/rustc_mir_transform/src/unreachable_enum_branching.rs
  compiler/rustc_mir_transform/src/unreachable_prop.rs
  compiler/rustc_mir_transform/src/validate.rs
Labels: T-compiler, S-waiting-on-bors

#129928 rustc_driver_impl: remove some old dead logic
  compiler/rustc_driver_impl/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#129930 include 1.80.1 release notes on master
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#127692 Suggest `impl Trait` for References to Bare Trait in Function Header
  compiler/rustc_hir_analysis/src/hir_ty_lowering/lint.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/dyn-keyword/dyn-2021-edition-error.stderr
  tests/ui/object-safety/reference-to-bare-trait-in-fn-inputs-and-outputs-issue-125139.rs
  tests/ui/object-safety/reference-to-bare-trait-in-fn-inputs-and-outputs-issue-125139.stderr
Labels: T-compiler, S-waiting-on-bors

#128701 Don't Suggest Labeling `const` and `unsafe` Blocks
  compiler/rustc_passes/src/loops.rs
  tests/ui/inline-const/break-inside-inline-const-issue-128604.rs
  tests/ui/inline-const/break-inside-inline-const-issue-128604.stderr
  tests/ui/unsafe/break-inside-unsafe-block-issue-128604.rs
  tests/ui/unsafe/break-inside-unsafe-block-issue-128604.stderr
Labels: T-compiler, S-waiting-on-bors

#101339 enable -Zrandomize-layout in debug CI builds
  Cargo.lock
  compiler/rustc/Cargo.toml
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_index/Cargo.toml
  compiler/rustc_index/src/lib.rs
  compiler/rustc_middle/Cargo.toml
  compiler/rustc_middle/src/query/plumbing.rs
  compiler/rustc_middle/src/ty/mod.rs
  config.example.toml
  library/alloc/Cargo.toml
  library/alloc/src/collections/btree/node/tests.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
  src/ci/docker/host-x86_64/x86_64-gnu-llvm-17/Dockerfile
  src/tools/compiletest/src/command-list.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/compiletest/src/lib.rs
  tests/codegen/issues/issue-86106.rs
  tests/codegen/mem-replace-big-type.rs
  tests/codegen/slice-iter-nonnull.rs
  tests/codegen/vecdeque-drain.rs
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.rs
  tests/ui/stats/hir-stats.rs
  tests/ui/structs-enums/type-sizes.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, T-libs, -Zrandomize-layout

#120736 rustdoc: add header map to the table of contents
  src/doc/not_found.md
  src/librustdoc/clean/types.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/sidebar.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/settings.js
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/html/templates/sidebar.html
  src/librustdoc/html/toc.rs
  src/librustdoc/html/toc/tests.rs
  src/librustdoc/markdown.rs
  tests/rustdoc-gui/sidebar-modnav-position.goml
  tests/rustdoc-gui/sidebar.goml
  tests/rustdoc/sidebar/module.rs
  tests/rustdoc/sidebar/sidebar-all-page.rs
  tests/rustdoc/sidebar/sidebar-items.rs
  tests/rustdoc/sidebar/sidebar-link-generation.rs
  tests/rustdoc/sidebar/sidebar-links-to-foreign-impl.rs
  tests/rustdoc/sidebar/top-toc-html.rs
  tests/rustdoc/sidebar/top-toc-idmap.rs
  tests/rustdoc/sidebar/top-toc-nil.rs
  tests/rustdoc/strip-enum-variant.no-not-shown.html
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, T-rustdoc-frontend

#127021 Add target support for RTEMS Arm
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/armv7_rtems_eabihf.rs
  library/core/Cargo.toml
  library/core/src/ffi/mod.rs
  library/panic_unwind/Cargo.toml
  library/panic_unwind/src/lib.rs
  library/std/Cargo.toml
  library/std/build.rs
  library/std/src/os/mod.rs
  library/std/src/os/rtems/fs.rs
  library/std/src/os/rtems/mod.rs
  library/std/src/os/rtems/raw.rs
  library/std/src/os/unix/mod.rs
  library/std/src/sys/pal/unix/args.rs
  library/std/src/sys/pal/unix/env.rs
  library/std/src/sys/pal/unix/fs.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unix/os.rs
  library/std/src/sys/pal/unix/process/process_unix.rs
  library/std/src/sys/personality/mod.rs
  library/unwind/Cargo.toml
  library/unwind/src/lib.rs
  src/bootstrap/src/core/sanity.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/armv7-rtems-eabihf.md
  tests/assembly/targets/targets-elf.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: O-Arm, T-compiler, T-bootstrap, S-waiting-on-bors, T-libs, O-unix

#128928 CI: rfl: add more tools and steps
  src/ci/docker/scripts/rfl-build.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#129584 warn the user if the upstream master branch is old
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/sanity.rs
  src/tools/build_helper/src/git.rs
Labels: T-bootstrap, S-waiting-on-bors

#129752 Make supertrait and implied predicates queries defaulted
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
Labels: T-compiler, S-waiting-on-bors

#129918 Update docs of `missing_abi` lint
  compiler/rustc_lint_defs/src/builtin.rs
Labels: A-lint, T-compiler, A-docs, S-waiting-on-bors

#129919 Stabilize `waker_getters`
  library/core/src/task/wake.rs
  library/core/tests/lib.rs
  library/core/tests/waker.rs
Labels: S-waiting-on-bors, T-libs

#129925 remove deprecated option `rust.split-debuginfo`
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/utils/change_tracker.rs
Labels: T-bootstrap, S-waiting-on-bors

#128820 fix: get llvm type of global val
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#129720 Simplify DestProp memory management
  compiler/rustc_mir_transform/src/dest_prop.rs
Labels: T-compiler, S-waiting-on-bors

#129796 Unify scraped examples with other code examples
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/html/static/css/noscript.css
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/scrape-examples.js
  src/librustdoc/html/templates/scraped_source.html
  src/librustdoc/html/templates/source.html
  tests/rustdoc-gui/code-example-buttons.goml
  tests/rustdoc-gui/docblock-code-block-line-number.goml
  tests/rustdoc-gui/scrape-examples-button-focus.goml
  tests/rustdoc-gui/scrape-examples-color.goml
  tests/rustdoc-gui/scrape-examples-layout.goml
  tests/rustdoc-gui/src/theme_css/custom-theme.css
Labels: T-rustdoc, S-waiting-on-bors

#129938 Elaborate on deriving vs implementing `Copy`
  library/core/src/marker.rs
Labels: S-waiting-on-bors, T-libs

#129973 run_make_support: rename `Command::stdin` to `stdin_buf` and add `std{in,out,err}` config helpers
  src/tools/run-make-support/src/command.rs
  src/tools/run-make-support/src/external_deps/llvm.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/run-make-support/src/external_deps/rustdoc.rs
  src/tools/run-make-support/src/lib.rs
  tests/run-make/clear-error-blank-output/rmake.rs
  tests/run-make/comment-section/rmake.rs
  tests/run-make/compile-stdin/rmake.rs
  tests/run-make/libtest-junit/rmake.rs
  tests/run-make/llvm-ident/rmake.rs
  tests/run-make/llvm-outputs/rmake.rs
  tests/run-make/no-builtins-attribute/rmake.rs
  tests/run-make/pgo-branch-weights/rmake.rs
  tests/run-make/pgo-indirect-call-promotion/rmake.rs
  tests/run-make/pgo-use/rmake.rs
  tests/run-make/separate-link/rmake.rs
  tests/run-make/static-pie/rmake.rs
  tests/run-make/stdin-rustc/rmake.rs
  tests/run-make/stdin-rustdoc/rmake.rs
  tests/run-make/sysroot-crates-are-unstable/rmake.rs
  tests/run-make/unknown-mod-stdin/rmake.rs
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/rmake.rs
Labels: S-waiting-on-bors, A-run-make

#129028 `impl_trait_overcaptures`: Don't worry about uncaptured contravariant lifetimes if they outlive a captured lifetime
  compiler/rustc_lint/src/impl_trait_overcaptures.rs
  compiler/rustc_lint/src/lib.rs
  tests/ui/impl-trait/precise-capturing/overcaptures-2024-but-fine.rs
Labels: T-compiler, S-waiting-on-bors

#129471 [rustdoc] Sort impl associated items by kinds and then by appearance
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/sidebar.rs
  tests/rustdoc/impl-associated-items-order.rs
  tests/rustdoc/impl-associated-items-sidebar.rs
Labels: S-waiting-on-bors, T-rustdoc-frontend

#121614 Don't emit `expect`/`assume` in opt-level=0
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/mir/statement.rs
  tests/codegen/intrinsics/likely.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#129999 Rollup of 11 pull requests
  RELEASES.md
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_data_structures/src/steal.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/ptr/mod.rs
  library/core/src/time.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/lib.rs
  src/tools/lint-docs/src/lib.rs
  src/tools/lint-docs/src/main.rs
  src/tools/rust-analyzer/crates/hir-expand/src/inert_attr_macro.rs
  tests/ui-fulldeps/internal-lints/query_completeness.rs
  tests/ui-fulldeps/internal-lints/query_completeness.stderr
  tests/ui/asm/const-refs-to-static.rs
  tests/ui/asm/const-refs-to-static.stderr
  tests/ui/consts/missing_assoc_const_type.rs
  tests/ui/consts/missing_assoc_const_type.stderr
  tests/ui/static/missing-type.rs
  tests/ui/static/missing-type.stderr
  tests/ui/type-alias-impl-trait/taint.rs
  tests/ui/type-alias-impl-trait/taint.stderr
  triagebot.toml
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors, rollup, A-meta, T-libs

#128919 Add an internal lint that warns when accessing untracked data
  compiler/rustc_data_structures/src/steal.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_span/src/symbol.rs
  src/tools/rust-analyzer/crates/hir-expand/src/inert_attr_macro.rs
  tests/ui-fulldeps/internal-lints/query_completeness.rs
  tests/ui-fulldeps/internal-lints/query_completeness.stderr
Labels: T-compiler, S-waiting-on-bors

#129472 fix ICE when `asm_const` and `const_refs_to_static` are combined
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  tests/ui/asm/const-refs-to-static.rs
  tests/ui/asm/const-refs-to-static.stderr
  tests/ui/consts/missing_assoc_const_type.rs
  tests/ui/consts/missing_assoc_const_type.stderr
  tests/ui/static/missing-type.rs
  tests/ui/static/missing-type.stderr
  tests/ui/type-alias-impl-trait/taint.rs
  tests/ui/type-alias-impl-trait/taint.stderr
Labels: T-compiler, S-waiting-on-bors

#129653 clarify that addr_of creates read-only pointers
  library/core/src/ptr/mod.rs
Labels: T-lang, S-waiting-on-bors, T-libs

#129775 bootstrap: Try to track down why `initial_libdir` sometimes fails
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#129939 explain why Rvalue::Len still exists
  compiler/rustc_middle/src/mir/syntax.rs
Labels: T-compiler, S-waiting-on-bors

#129942 copy rustc rustlib artifacts from ci-rustc
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#129943 use the bootstrapped compiler for `test-float-parse` test
  src/bootstrap/src/core/build_steps/test.rs
Labels: T-bootstrap, S-waiting-on-bors

#129944 Add compat note for trait solver change
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#129947 Add digit separators in `Duration` examples
  library/core/src/time.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#129955 Temporarily remove fmease from the review rotation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#129957 forward linker option to lint-docs
  src/bootstrap/src/core/build_steps/doc.rs
  src/tools/lint-docs/src/lib.rs
  src/tools/lint-docs/src/main.rs
Labels: A-linkage, A-cross, T-bootstrap, S-waiting-on-bors, C-bug

#129781 Make `./x.py <cmd> compiler/<crate>` aware of the crate's features
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/clippy.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/metadata.rs
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#129963 Inaccurate `{Path,OsStr}::to_string_lossy()` documentation
  library/std/src/ffi/os_str.rs
  library/std/src/path.rs
Labels: S-waiting-on-bors, T-libs

#129969 Make `Ty::boxed_ty` return an `Option`
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_hir_typeck/src/method/prelude_edition_lints.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_lint/src/shadowed_into_iter.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_transform/src/elaborate_box_derefs.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/lib.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  src/tools/clippy/clippy_lints/src/escape.rs
  src/tools/clippy/clippy_lints/src/methods/mod.rs
  src/tools/clippy/clippy_lints/src/methods/utils.rs
  src/tools/clippy/clippy_lints/src/unnecessary_box_returns.rs
  src/tools/clippy/clippy_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#129995 Remove wasm32-wasip2's tier 2 status from release notes
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#130013 coverage: Count await when the Future is immediately ready
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  compiler/rustc_mir_transform/src/coverage/unexpand.rs
  tests/coverage/async.cov-map
  tests/coverage/async.coverage
  tests/coverage/await_ready.cov-map
  tests/coverage/await_ready.coverage
  tests/coverage/await_ready.rs
Labels: T-compiler, S-waiting-on-bors

#128776 Use `DeepRejectCtxt` to quickly reject `ParamEnv` candidates
  compiler/rustc_hir_analysis/src/coherence/inherent_impls.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/fast_reject.rs
  compiler/rustc_middle/src/ty/trait_def.rs
  compiler/rustc_next_trait_solver/src/solve/normalizes_to/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/note_and_explain.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/specialize/specialization_graph.rs
  compiler/rustc_type_ir/src/fast_reject.rs
  src/librustdoc/html/render/write_shared.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#129341 Apple: Refactor deployment target version parsing
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/base/apple/tests.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_tvos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_tvos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_watchos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_watchos_sim.rs
  compiler/rustc_target/src/spec/targets/arm64_32_apple_watchos.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_ios.rs
  compiler/rustc_target/src/spec/targets/armv7k_apple_watchos.rs
  compiler/rustc_target/src/spec/targets/armv7s_apple_ios.rs
  compiler/rustc_target/src/spec/targets/i386_apple_ios.rs
  compiler/rustc_target/src/spec/targets/i686_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_ios.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_tvos.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_watchos_sim.rs
  compiler/rustc_target/src/spec/targets/x86_64h_apple_darwin.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, O-apple

#128871 bypass linker configuration and cross target check for specific commands
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/utils/cc_detect.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#129614 Adjust doc comment of Condvar::wait_while
  library/std/src/sync/condvar.rs
Labels: S-waiting-on-bors, T-libs

#129987 Don't store region in `CapturedPlace`
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_middle/src/ty/closure.rs
Labels: C-cleanup, S-waiting-on-bors

#130054 Add missing quotation marks
  tests/ui/const-generics/invariant.rs
Labels: T-compiler, S-waiting-on-bors

#129468 [testsuite][cleanup] Remove all usages of `dont_merge` hack to avoid function merging
  tests/assembly/asm/aarch64-modifiers.rs
  tests/assembly/asm/aarch64-types.rs
  tests/assembly/asm/arm-modifiers.rs
  tests/assembly/asm/arm-types.rs
  tests/assembly/asm/hexagon-types.rs
  tests/assembly/asm/loongarch-type.rs
  tests/assembly/asm/mips-types.rs
  tests/assembly/asm/powerpc-types.rs
  tests/assembly/asm/riscv-types.rs
  tests/assembly/asm/s390x-types.rs
  tests/assembly/asm/x86-modifiers.rs
  tests/assembly/asm/x86-types.rs
Labels: S-waiting-on-bors

#129840 Implement suggestions for `elided_named_lifetimes`
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_resolve/src/late.rs
  tests/ui/lint/elided-named-lifetimes/example-from-issue48686.stderr
  tests/ui/lint/elided-named-lifetimes/not-tied-to-crate.stderr
  tests/ui/lint/elided-named-lifetimes/static.stderr
Labels: A-lint, T-compiler, S-waiting-on-bors

#129891 Do not request sanitizers for naked functions
  compiler/rustc_codegen_llvm/src/attributes.rs
  tests/codegen/naked-asan.rs
Labels: T-compiler, S-waiting-on-bors

#129899 Add Suggestions for Misspelled Keywords
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/parser/extern-crate-unexpected-token.stderr
  tests/ui/parser/issues/issue-70549-resolve-after-recovered-self-ctor.stderr
  tests/ui/parser/misspelled-keywords/assoc-type.rs
  tests/ui/parser/misspelled-keywords/assoc-type.stderr
  tests/ui/parser/misspelled-keywords/async-move.rs
  tests/ui/parser/misspelled-keywords/async-move.stderr
  tests/ui/parser/misspelled-keywords/const-fn.rs
  tests/ui/parser/misspelled-keywords/const-fn.stderr
  tests/ui/parser/misspelled-keywords/const-generics.rs
  tests/ui/parser/misspelled-keywords/const-generics.stderr
  tests/ui/parser/misspelled-keywords/const.rs
  tests/ui/parser/misspelled-keywords/const.stderr
  tests/ui/parser/misspelled-keywords/for-loop.rs
  tests/ui/parser/misspelled-keywords/for-loop.stderr
  tests/ui/parser/misspelled-keywords/hrdt.rs
  tests/ui/parser/misspelled-keywords/hrdt.stderr
  tests/ui/parser/misspelled-keywords/impl-block.rs
  tests/ui/parser/misspelled-keywords/impl-block.stderr
  tests/ui/parser/misspelled-keywords/impl-return.rs
  tests/ui/parser/misspelled-keywords/impl-return.stderr
  tests/ui/parser/misspelled-keywords/impl-trait-for.rs
  tests/ui/parser/misspelled-keywords/impl-trait-for.stderr
  tests/ui/parser/misspelled-keywords/impl-trait.rs
  tests/ui/parser/misspelled-keywords/impl-trait.stderr
  tests/ui/parser/misspelled-keywords/let-else.rs
  tests/ui/parser/misspelled-keywords/let-else.stderr
  tests/ui/parser/misspelled-keywords/let-mut.rs
  tests/ui/parser/misspelled-keywords/let-mut.stderr
  tests/ui/parser/misspelled-keywords/let.rs
  tests/ui/parser/misspelled-keywords/let.stderr
  tests/ui/parser/misspelled-keywords/match.rs
  tests/ui/parser/misspelled-keywords/match.stderr
  tests/ui/parser/misspelled-keywords/mod.rs
  tests/ui/parser/misspelled-keywords/mod.stderr
  tests/ui/parser/misspelled-keywords/pub-fn.rs
  tests/ui/parser/misspelled-keywords/pub-fn.stderr
  tests/ui/parser/misspelled-keywords/ref.rs
  tests/ui/parser/misspelled-keywords/ref.stderr
  tests/ui/parser/misspelled-keywords/return.rs
  tests/ui/parser/misspelled-keywords/return.stderr
  tests/ui/parser/misspelled-keywords/static-mut.rs
  tests/ui/parser/misspelled-keywords/static-mut.stderr
  tests/ui/parser/misspelled-keywords/static.rs
  tests/ui/parser/misspelled-keywords/static.stderr
  tests/ui/parser/misspelled-keywords/struct.rs
  tests/ui/parser/misspelled-keywords/struct.stderr
  tests/ui/parser/misspelled-keywords/unsafe-fn.rs
  tests/ui/parser/misspelled-keywords/unsafe-fn.stderr
  tests/ui/parser/misspelled-keywords/use.rs
  tests/ui/parser/misspelled-keywords/use.stderr
  tests/ui/parser/misspelled-keywords/where-clause.rs
  tests/ui/parser/misspelled-keywords/where-clause.stderr
  tests/ui/parser/misspelled-keywords/while-loop.rs
  tests/ui/parser/misspelled-keywords/while-loop.stderr
  tests/ui/parser/misspelled-keywords/while-without-identifiers.rs
  tests/ui/parser/misspelled-keywords/while-without-identifiers.stderr
Labels: T-compiler, S-waiting-on-bors

#129940 s390x: Fix a regression related to backchain feature
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  tests/assembly/s390x-backchain-toggle.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, C-bug, O-SystemZ, A-target-feature

#126161 Delegation: support generics in associated delegation items
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/delegation.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/need_type_info.rs
  tests/ui/delegation/generics/impl-to-free-fn-pass.rs
  tests/ui/delegation/generics/impl-to-trait-method.rs
  tests/ui/delegation/generics/impl-to-trait-method.stderr
  tests/ui/delegation/generics/impl-trait-to-trait-method-pass.rs
  tests/ui/delegation/generics/inherent-impl-to-trait-method-pass.rs
  tests/ui/delegation/generics/trait-method-to-other-pass.rs
  tests/ui/delegation/ice-issue-124347.rs
  tests/ui/delegation/ice-issue-124347.stderr
  tests/ui/delegation/not-supported.rs
  tests/ui/delegation/not-supported.stderr
  tests/ui/delegation/unsupported.rs
  tests/ui/delegation/unsupported.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, F-fn_delegation

#129941 Bump boostrap compiler to new beta
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_llvm/src/lib.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_transmute/src/layout/nfa.rs
  compiler/rustc_type_ir/src/fold.rs
  library/alloc/src/boxed.rs
  library/alloc/src/collections/binary_heap/mod.rs
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/vec_deque/into_iter.rs
  library/alloc/src/collections/vec_deque/iter.rs
  library/alloc/src/collections/vec_deque/iter_mut.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/core/src/arch.rs
  library/core/src/cell.rs
  library/core/src/clone.rs
  library/core/src/default.rs
  library/core/src/future/ready.rs
  library/core/src/intrinsics.rs
  library/core/src/iter/adapters/take.rs
  library/core/src/iter/mod.rs
  library/core/src/iter/sources.rs
  library/core/src/iter/sources/repeat_n.rs
  library/core/src/iter/traits/iterator.rs
  library/core/src/lib.rs
  library/core/src/marker.rs
  library/core/src/mem/manually_drop.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/mem/mod.rs
  library/core/src/mem/transmutability.rs
  library/core/src/num/error.rs
  library/core/src/num/mod.rs
  library/core/src/option.rs
  library/core/src/pin.rs
  library/core/src/slice/mod.rs
  library/core/src/str/iter.rs
  library/core/src/task/wake.rs
  library/core/src/tuple.rs
  library/core/tests/lib.rs
  library/panic_unwind/src/seh.rs
  library/std/src/env.rs
  library/std/src/lib.rs
  library/std/src/os/unix/process.rs
  library/std/src/thread/mod.rs
  src/stage0
  src/tools/miri/src/eval.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors, T-libs, O-unix, WG-trait-system-refactor

#130046 str: make as_mut_ptr and as_bytes_mut unstably const
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#130047 Win: Add dbghelp to the list of import libraries
  library/windows_targets/src/lib.rs
Labels: O-windows, beta-nominated, S-waiting-on-bors, T-libs

#126452 Implement raw lifetimes and labels (`'r#ident`)
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/nonterminal.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/ty.rs
  src/librustdoc/html/highlight.rs
  src/tools/rust-analyzer/crates/parser/src/lexed_str.rs
  src/tools/rustfmt/src/expr.rs
  src/tools/rustfmt/src/macros.rs
  src/tools/rustfmt/src/types.rs
  src/tools/rustfmt/tests/target/raw-lifetimes.rs
  tests/ui/lexer/prefixed-lifetime.rs
  tests/ui/lexer/prefixed-lifetime.stderr
  tests/ui/lifetimes/raw/gen-lt.e2024.stderr
  tests/ui/lifetimes/raw/gen-lt.rs
  tests/ui/lifetimes/raw/lifetimes-eq.rs
  tests/ui/lifetimes/raw/macro-lt.rs
  tests/ui/lifetimes/raw/multiple-prefixes.rs
  tests/ui/lifetimes/raw/multiple-prefixes.stderr
  tests/ui/lifetimes/raw/prim-lt.rs
  tests/ui/lifetimes/raw/simple.rs
  tests/ui/lifetimes/raw/static-lt.rs
  tests/ui/lifetimes/raw/three-tokens.rs
  tests/ui/rust-2024/gen-kw.e2015.stderr
  tests/ui/rust-2024/gen-kw.e2018.stderr
  tests/ui/rust-2024/gen-kw.rs
Labels: T-compiler, S-waiting-on-bors

#129555 stabilize const_float_bits_conv
  library/core/src/lib.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  src/tools/clippy/clippy_lints/src/transmute/mod.rs
  src/tools/clippy/clippy_lints/src/transmute/transmute_float_to_int.rs
  src/tools/clippy/clippy_lints/src/transmute/transmute_int_to_float.rs
  src/tools/clippy/clippy_lints/src/transmute/transmute_num_to_bytes.rs
  src/tools/clippy/tests/ui/transmute.rs
  src/tools/clippy/tests/ui/transmute.stderr
  src/tools/clippy/tests/ui/transmute_float_to_int.fixed
  src/tools/clippy/tests/ui/transmute_float_to_int.rs
  src/tools/clippy/tests/ui/transmute_float_to_int.stderr
  tests/ui/consts/const-float-bits-conv.rs
  tests/ui/consts/const-float-classify.rs
  tests/ui/consts/const-float-classify.stderr
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#129594 explain the options bootstrap passes to curl
  src/bootstrap/bootstrap.py
  src/bootstrap/src/core/download.rs
Labels: T-bootstrap, S-waiting-on-bors

#129677 Don't build by-move body when async closure is tainted
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  tests/ui/async-await/async-closures/tainted-body-2.rs
  tests/ui/async-await/async-closures/tainted-body-2.stderr
Labels: T-compiler, S-waiting-on-bors

#129847 Do not call query to compute coroutine layout for synthetic body of async closure
  compiler/rustc_mir_transform/src/validate.rs
  tests/ui/async-await/async-closures/validate-synthetic-body.rs
Labels: T-compiler, S-waiting-on-bors

#129869 add a few more crashtests
  tests/crashes/123629.rs
  tests/crashes/127033.rs
  tests/crashes/129372.rs
Labels: S-waiting-on-bors

#130009 rustdoc-search: allow trailing `Foo ->` arg search
  src/librustdoc/html/static/js/externs.js
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/parser-errors.js
  tests/rustdoc-js-std/parser-returned.js
  tests/rustdoc-js/never-search.js
Labels: T-rustdoc, S-waiting-on-bors

#130059 Remove the unused `llvm-skip-rebuild` option from x.py
  src/bootstrap/src/core/config/flags.rs
  src/etc/completions/x.py.fish
  src/etc/completions/x.py.ps1
  src/etc/completions/x.py.sh
  src/etc/completions/x.py.zsh
Labels: T-bootstrap, S-waiting-on-bors

#129313 Supress niches in coroutines to avoid aliasing violations
  compiler/rustc_ty_utils/src/layout.rs
  src/tools/miri/tests/pass/async-niche-aliasing.rs
  tests/ui/async-await/async-drop.rs
  tests/ui/async-await/future-sizes/async-awaiting-fut.stdout
  tests/ui/coroutine/discriminant.rs
  tests/ui/coroutine/niche-in-coroutine.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#129346 Fix double handling in `collect_tokens`
  Cargo.lock
  compiler/rustc_index/src/interval.rs
  compiler/rustc_parse/Cargo.toml
  compiler/rustc_parse/src/parser/attr_wrapper.rs
  compiler/rustc_parse/src/parser/mod.rs
  tests/crashes/129166.rs
  tests/ui/conditional-compilation/invalid-node-range-issue-129166.rs
  tests/ui/conditional-compilation/invalid-node-range-issue-129166.stderr
  tests/ui/proc-macro/macro-rules-derive-cfg.rs
  tests/ui/proc-macro/macro-rules-derive-cfg.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#130072 Split x86_64-msvc-ext into two jobs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#129019 Break into the debugger (if attached) on panics (Windows, Linux, macOS, FreeBSD)
  library/std/src/panicking.rs
  library/std/src/sys/dbg.rs
  library/std/src/sys/mod.rs
Labels: O-windows, O-linux, O-macos, O-freebsd, S-waiting-on-bors, merged-by-bors, T-libs, perf-regression, perf-regression-triaged

#130002 better implementation of signed div_floor/ceil
  library/core/src/num/int_macros.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#130036 Correctly handle stability of `#[diagnostic]` attributes
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/lib.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#130045 [beta] bump stage0
  src/stage0
Labels: T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors

#129788 detect incompatible CI LLVM options more precisely
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/download.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#119229 Update mingw-w64 + GNU toolchain
  src/ci/scripts/install-mingw.sh
  tests/debuginfo/by-value-non-immediate-argument.rs
  tests/debuginfo/method-on-enum.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#128345 added support for GNU/Hurd on x86_64
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_hurd_gnu.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/hurd.md
  tests/assembly/targets/targets-elf.rs
Labels: T-compiler, S-waiting-on-bors

#129876 Use sysroot crates maximally in `rustc_codegen_gcc`.
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_codegen_gcc/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#130034 Fix enabling wasm-component-ld to match other tools
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/lib.rs
  src/tools/wasm-component-ld/README.md
Labels: T-bootstrap, S-waiting-on-bors

#130048 run-make-support: Add llvm-pdbutil
  src/tools/run-make-support/src/external_deps/llvm.rs
Labels: O-windows, S-waiting-on-bors, A-run-make

#130068 Test codegen when setting deployment target
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/targets.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/apple-deployment-target/foo.rs
  tests/run-make/apple-deployment-target/rmake.rs
  tests/run-make/macos-deployment-target/Makefile
  tests/run-make/macos-deployment-target/with_deployment_target.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, O-apple, A-run-make

#130070 Rename variant `AddrOfRegion` of `RegionVariableOrigin` to `BorrowRegion`
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/region.rs
Labels: T-compiler, S-waiting-on-bors

#130087 remove 'const' from 'Option::iter'
  library/core/src/option.rs
Labels: S-waiting-on-bors, T-libs

#130090 make Result::copied unstably const
  library/core/src/option.rs
  library/core/src/result.rs
Labels: S-waiting-on-bors, const-hack, T-libs

#130092 Fixes typo in wasm32-wasip2 doc comment
  compiler/rustc_target/src/spec/targets/wasm32_wasip2.rs
Labels: T-compiler, S-waiting-on-bors

#130107 const: make ptr.is_null() stop execution on ambiguity
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  tests/ui/consts/const-ptr-is-null.rs
  tests/ui/consts/const-ptr-is-null.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#130115 Remove needless returns detected by clippy in libraries
  library/alloc/src/collections/vec_deque/iter.rs
  library/alloc/src/collections/vec_deque/iter_mut.rs
  library/alloc/src/vec/in_place_collect.rs
  library/alloc/src/vec/into_iter.rs
  library/core/src/ptr/metadata.rs
  library/core/src/str/pattern.rs
  library/std/src/sys/pal/unix/linux/pidfd.rs
  library/std/src/sys/pal/wasi/fs.rs
  library/std/src/sys/pal/wasi/helpers.rs
Labels: S-waiting-on-bors, T-libs, O-unix, O-wasi

#130135 Do not skip linker configuration for `check` builds
  src/bootstrap/src/core/builder.rs
  src/bootstrap/src/utils/cc_detect.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#128939 Distribute rustc_codegen_cranelift for Windows
  compiler/rustc_codegen_cranelift/Readme.md
  src/bootstrap/src/core/build_steps/dist.rs
  src/ci/github-actions/jobs.yml
Labels: T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, A-cranelift

#130022 Dataflow/borrowck lifetime cleanups
  compiler/rustc_borrowck/src/borrowck_errors.rs
  compiler/rustc_borrowck/src/dataflow.rs
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/diagnostics/outlives_suggestion.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/prefixes.rs
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_borrowck/src/used_muts.rs
  compiler/rustc_mir_dataflow/src/impls/initialized.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
Labels: T-compiler, S-waiting-on-bors

#130064 fix ICE in CMSE type validation
  compiler/rustc_hir_analysis/src/hir_ty_lowering/cmse.rs
  tests/ui/cmse-nonsecure/cmse-nonsecure-call/generics.rs
  tests/ui/cmse-nonsecure/cmse-nonsecure-call/generics.stderr
Labels: T-compiler, S-waiting-on-bors

#130067 Remove redundant check in `symlink_hard_link` test
  library/std/src/fs/tests.rs
Labels: O-macos, S-waiting-on-bors, T-libs

#130131 Print a helpful message if any tests were skipped for being up-to-date
  src/bootstrap/src/utils/render_tests.rs
  src/tools/compiletest/src/lib.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#129789 rustdoc: use strategic boxing to shrink `clean::Item`
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/fold.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/formats/item_type.rs
  src/librustdoc/formats/mod.rs
  src/librustdoc/formats/renderer.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/render/sidebar.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/json/conversions.rs
  src/librustdoc/json/import_finder.rs
  src/librustdoc/json/mod.rs
  src/librustdoc/passes/calculate_doc_coverage.rs
  src/librustdoc/passes/check_doc_test_visibility.rs
  src/librustdoc/passes/collect_trait_impls.rs
  src/librustdoc/passes/propagate_doc_cfg.rs
  src/librustdoc/passes/strip_aliased_non_local.rs
  src/librustdoc/passes/strip_hidden.rs
  src/librustdoc/passes/stripper.rs
  src/librustdoc/visit.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json, perf-regression

#128316 Stabilize most of `io_error_more`
  library/std/src/io/error.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#129337 rustdoc rfc#3662 changes under unstable flags
  src/librustdoc/config.rs
  src/librustdoc/core.rs
  src/librustdoc/doctest.rs
  src/librustdoc/doctest/markdown.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/render/write_shared/tests.rs
  src/librustdoc/lib.rs
  tests/run-make/rustdoc-default-output/output-default.stdout
  tests/rustdoc/merge-cross-crate-info/cargo-transitive-read-write/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/cargo-transitive-read-write/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/cargo-transitive-read-write/sierra.rs
  tests/rustdoc/merge-cross-crate-info/kitchen-sink-separate-dirs/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/kitchen-sink-separate-dirs/auxiliary/romeo.rs
  tests/rustdoc/merge-cross-crate-info/kitchen-sink-separate-dirs/auxiliary/sierra.rs
  tests/rustdoc/merge-cross-crate-info/kitchen-sink-separate-dirs/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/kitchen-sink-separate-dirs/indigo.rs
  tests/rustdoc/merge-cross-crate-info/no-merge-separate/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/no-merge-separate/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/no-merge-separate/sierra.rs
  tests/rustdoc/merge-cross-crate-info/no-merge-write-anyway/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/no-merge-write-anyway/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/no-merge-write-anyway/sierra.rs
  tests/rustdoc/merge-cross-crate-info/overwrite-but-include/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/overwrite-but-include/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/overwrite-but-include/sierra.rs
  tests/rustdoc/merge-cross-crate-info/overwrite-but-separate/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/overwrite-but-separate/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/overwrite-but-separate/sierra.rs
  tests/rustdoc/merge-cross-crate-info/overwrite/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/overwrite/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/overwrite/sierra.rs
  tests/rustdoc/merge-cross-crate-info/single-crate-finalize/quebec.rs
  tests/rustdoc/merge-cross-crate-info/single-crate-read-write/quebec.rs
  tests/rustdoc/merge-cross-crate-info/single-crate-write-anyway/quebec.rs
  tests/rustdoc/merge-cross-crate-info/single-merge-none-useless-write/quebec.rs
  tests/rustdoc/merge-cross-crate-info/transitive-finalize/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/transitive-finalize/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/transitive-finalize/sierra.rs
  tests/rustdoc/merge-cross-crate-info/transitive-merge-none/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/transitive-merge-none/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/transitive-merge-none/sierra.rs
  tests/rustdoc/merge-cross-crate-info/transitive-merge-read-write/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/transitive-merge-read-write/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/transitive-merge-read-write/sierra.rs
  tests/rustdoc/merge-cross-crate-info/transitive-no-info/auxiliary/quebec.rs
  tests/rustdoc/merge-cross-crate-info/transitive-no-info/auxiliary/tango.rs
  tests/rustdoc/merge-cross-crate-info/transitive-no-info/sierra.rs
  tests/rustdoc/merge-cross-crate-info/two-separate-out-dir/auxiliary/foxtrot.rs
  tests/rustdoc/merge-cross-crate-info/two-separate-out-dir/echo.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-run-make

#130025 Also emit `missing_docs` lint with `--test` to fulfil expectations
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_span/src/symbol.rs
  library/alloc/src/slice.rs
  library/alloc/src/string.rs
  library/std/src/io/buffered/bufreader.rs
  tests/pretty/tests-are-sorted.pp
  tests/ui/lint/lint-missing-doc-crate.rs
  tests/ui/lint/lint-missing-doc-crate.stderr
  tests/ui/lint/lint-missing-doc-expect.rs
  tests/ui/lint/lint-missing-doc-test.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#130173 rustdoc: add two regression tests
  tests/rustdoc-ui/projection-as-union-type-error.rs
  tests/rustdoc-ui/projection-as-union-type-error.stderr
  tests/rustdoc-ui/recursive-type-alias-impl-trait-declaration-too-subtle-2.rs
Labels: T-rustdoc, S-waiting-on-bors

#130175 `rustc_mir_transform` cleanups 3
  compiler/rustc_mir_transform/src/add_call_guards.rs
  compiler/rustc_mir_transform/src/add_moves_for_packed_drops.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/add_subtyping_projections.rs
  compiler/rustc_mir_transform/src/check_const_item_mutation.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/deduce_param_attrs.rs
  compiler/rustc_mir_transform/src/deduplicate_blocks.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/early_otherwise_branch.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/ffi_unwind_calls.rs
  compiler/rustc_mir_transform/src/function_item_references.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/instsimplify.rs
  compiler/rustc_mir_transform/src/jump_threading.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_mir_transform/src/large_enums.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/lower_slice_len.rs
  compiler/rustc_mir_transform/src/match_branches.rs
  compiler/rustc_mir_transform/src/mentioned_items.rs
  compiler/rustc_mir_transform/src/post_drop_elaboration.rs
  compiler/rustc_mir_transform/src/prettify.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/ref_prop.rs
  compiler/rustc_mir_transform/src/remove_noop_landing_pads.rs
  compiler/rustc_mir_transform/src/remove_uninit_drops.rs
  compiler/rustc_mir_transform/src/required_consts.rs
  compiler/rustc_mir_transform/src/reveal_all.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_mir_transform/src/simplify_comparison_integral.rs
  compiler/rustc_mir_transform/src/unreachable_enum_branching.rs
  compiler/rustc_mir_transform/src/unreachable_prop.rs
  compiler/rustc_mir_transform/src/validate.rs
Labels: T-compiler, S-waiting-on-bors

#130184 coverage: Clean up terminology in counter creation
  compiler/rustc_mir_transform/src/coverage/counters.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#130185 abi/compatibility test: remove tests inside repr(C) wrappers
  tests/ui/abi/compatibility.rs
Labels: T-compiler, S-waiting-on-bors

#130200 Rollup of 5 pull requests
  compiler/rustc_mir_transform/src/add_call_guards.rs
  compiler/rustc_mir_transform/src/add_moves_for_packed_drops.rs
  compiler/rustc_mir_transform/src/add_retag.rs
  compiler/rustc_mir_transform/src/add_subtyping_projections.rs
  compiler/rustc_mir_transform/src/check_const_item_mutation.rs
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_mir_transform/src/coverage/counters.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/deduce_param_attrs.rs
  compiler/rustc_mir_transform/src/deduplicate_blocks.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/early_otherwise_branch.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/ffi_unwind_calls.rs
  compiler/rustc_mir_transform/src/function_item_references.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/inline.rs
  compiler/rustc_mir_transform/src/instsimplify.rs
  compiler/rustc_mir_transform/src/jump_threading.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_mir_transform/src/large_enums.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/lower_slice_len.rs
  compiler/rustc_mir_transform/src/match_branches.rs
  compiler/rustc_mir_transform/src/mentioned_items.rs
  compiler/rustc_mir_transform/src/post_drop_elaboration.rs
  compiler/rustc_mir_transform/src/prettify.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/ref_prop.rs
  compiler/rustc_mir_transform/src/remove_noop_landing_pads.rs
  compiler/rustc_mir_transform/src/remove_uninit_drops.rs
  compiler/rustc_mir_transform/src/required_consts.rs
  compiler/rustc_mir_transform/src/reveal_all.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_mir_transform/src/simplify_comparison_integral.rs
  compiler/rustc_mir_transform/src/unreachable_enum_branching.rs
  compiler/rustc_mir_transform/src/unreachable_prop.rs
  compiler/rustc_mir_transform/src/validate.rs
  src/bootstrap/mk/Makefile.in
  tests/rustdoc-ui/projection-as-union-type-error.rs
  tests/rustdoc-ui/projection-as-union-type-error.stderr
  tests/rustdoc-ui/recursive-type-alias-impl-trait-declaration-too-subtle-2.rs
  tests/ui/abi/compatibility.rs
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup

#130143 miri-test-libstd: add missing BOOTSTRAP_ARGS
  src/bootstrap/mk/Makefile.in
Labels: T-bootstrap, S-waiting-on-bors

#129975 rustdoc: unify the short-circuit on all lints
  src/librustdoc/passes/lint.rs
  src/librustdoc/passes/lint/bare_urls.rs
  src/librustdoc/passes/lint/check_code_block_syntax.rs
  src/librustdoc/passes/lint/html_tags.rs
  src/librustdoc/passes/lint/redundant_explicit_links.rs
  src/librustdoc/passes/lint/unescaped_backticks.rs
  src/librustdoc/passes/lint/unportable_markdown.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, perf-regression
