Repository rust-lang/rust, pull requests merged in 2024-05, with the labels that each got.

#124356 Cleanup: Replace item names referencing GitHub issues or error codes with something more meaningful
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/tests.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/specialization_graph.rs
  compiler/rustc_ty_utils/src/ty.rs
  tests/ui/async-await/inference_var_self_argument.rs
  tests/ui/async-await/inference_var_self_argument.stderr
  tests/ui/async-await/issue-66312.stderr
  tests/ui/feature-gates/feature-gate-dispatch-from-dyn-cell.rs
  tests/ui/feature-gates/feature-gate-dispatch-from-dyn-cell.stderr
  tests/ui/issues/issue-56806.stderr
  tests/ui/self/arbitrary-self-opaque.rs
  tests/ui/self/arbitrary-self-opaque.stderr
  tests/ui/span/issue-27522.stderr
  tests/ui/suggestions/object-unsafe-trait-should-use-where-sized.stderr
  tests/ui/traits/issue-78372.rs
  tests/ui/traits/issue-78372.stderr
  tests/ui/ufcs/ufcs-explicit-self-bad.stderr
Labels: C-cleanup, T-compiler, S-waiting-on-bors, merged-by-bors

#124491 Use `target_vendor = "apple"` instead of `target_os = "..."`
  library/core/src/ffi/mod.rs
  library/std/src/fs/tests.rs
  library/std/src/os/unix/net/mod.rs
  library/std/src/os/unix/net/stream.rs
  library/std/src/os/unix/net/ucred.rs
  library/std/src/os/unix/net/ucred/tests.rs
  library/std/src/sys/pal/unix/args.rs
  library/std/src/sys/pal/unix/fs.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unix/os.rs
  library/std/src/sys/pal/unix/process/process_unix.rs
  library/std/src/sys/pal/unix/rand.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unix/thread_local_dtor.rs
  library/std/src/sys/pal/unix/thread_parking/mod.rs
  library/std/src/sys/pal/unix/thread_parking/pthread.rs
  library/std/src/sys/pal/unix/time.rs
  library/std/src/sys/sync/condvar/pthread.rs
  library/std/src/sys_common/net.rs
  library/std/src/thread/tests.rs
  src/tools/compiletest/src/raise_fd_limit.rs
Labels: A-testsuite, O-macos, O-ios, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs, O-unix, O-watchos, O-tvos, O-visionos

#124539 Consider inner modules to be local in the `non_local_definitions` lint
  compiler/rustc_lint/src/non_local_def.rs
  tests/ui/lint/non-local-defs/module_as_local.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#122427 Normalize bootstrap_out path
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#124542 Add diagnostic item for `std::iter::Iterator::enumerate`
  compiler/rustc_span/src/symbol.rs
  library/core/src/iter/traits/iterator.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#124566 fix `NormalizesTo` proof tree issue
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  tests/ui/specialization/specialization-overlap-projection.current.stderr
  tests/ui/specialization/specialization-overlap-projection.next.stderr
  tests/ui/specialization/specialization-overlap-projection.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124590 Rollup of 2 pull requests
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  library/core/src/iter/traits/iterator.rs
  tests/ui/specialization/specialization-overlap-projection.current.stderr
  tests/ui/specialization/specialization-overlap-projection.next.stderr
  tests/ui/specialization/specialization-overlap-projection.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#121564 rustc: document the jobserver
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/jobserver.md
  src/tools/tidy/src/style.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#124404 Arm bare-metal target doc changes
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/arm-none-eabi.md
  src/doc/rustc/src/platform-support/armeb-unknown-linux-gnueabi.md
  src/doc/rustc/src/platform-support/armv4t-none-eabi.md
  src/doc/rustc/src/platform-support/armv5te-none-eabi.md
  src/doc/rustc/src/platform-support/armv6k-nintendo-3ds.md
  src/doc/rustc/src/platform-support/armv7-unknown-linux-uclibceabi.md
  src/doc/rustc/src/platform-support/armv7-unknown-linux-uclibceabihf.md
  src/doc/rustc/src/platform-support/armv7r-none-eabi.md
  src/doc/rustc/src/platform-support/armv8r-none-eabihf.md
  src/doc/rustc/src/platform-support/thumbv6m-none-eabi.md
  src/doc/rustc/src/platform-support/thumbv7em-none-eabi.md
  src/doc/rustc/src/platform-support/thumbv7m-none-eabi.md
  src/doc/rustc/src/platform-support/thumbv8m.base-none-eabi.md
  src/doc/rustc/src/platform-support/thumbv8m.main-none-eabi.md
Labels: S-waiting-on-bors, merged-by-bors

#124529 Rewrite select (in the new solver) to use a `ProofTreeVisitor`
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  tests/ui/traits/dyn-any-prefer-vtable.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#123939 Add a lint against never type fallback affecting unsafe code
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/unord.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/fallback.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.rs
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124419 Document never type fallback in `!`'s docs
  library/core/src/primitive_docs.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#124597 Use an explicit x86-64 cpu in tests that are sensitive to it
  tests/assembly/simd-intrinsic-mask-reduce.rs
  tests/assembly/x86_64-floating-point-clamp.rs
  tests/codegen/target-feature-inline-closure.rs
  tests/ui/asm/x86_64/target-feature-attr.rs
  tests/ui/asm/x86_64/target-feature-attr.stderr
  tests/ui/consts/const-eval/const_fn_target_feature.rs
  tests/ui/consts/const-eval/const_fn_target_feature.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.stderr
  tests/ui/sse2.rs
Labels: T-compiler, S-waiting-on-bors

#124617 Rollup of 3 pull requests
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/non_local_def.rs
  compiler/rustc_metadata/src/errors.rs
  tests/assembly/simd-intrinsic-mask-reduce.rs
  tests/assembly/x86_64-floating-point-clamp.rs
  tests/codegen/target-feature-inline-closure.rs
  tests/rustdoc-ui/doctest/non_local_defs.rs
  tests/rustdoc-ui/doctest/non_local_defs.stderr
  tests/rustdoc-ui/doctest/non_local_defs.stdout
  tests/ui/asm/x86_64/target-feature-attr.rs
  tests/ui/asm/x86_64/target-feature-attr.stderr
  tests/ui/consts/const-eval/const_fn_target_feature.rs
  tests/ui/consts/const-eval/const_fn_target_feature.stderr
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.rs
  tests/ui/rfcs/rfc-2396-target_feature-11/safe-calls.stderr
  tests/ui/sse2.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#124568 Adjust `#[macro_export]`/doctest help suggestion for non_local_defs lint
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint/src/non_local_def.rs
  tests/rustdoc-ui/doctest/non_local_defs.rs
  tests/rustdoc-ui/doctest/non_local_defs.stderr
  tests/rustdoc-ui/doctest/non_local_defs.stdout
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#124582 always print nice 'std not found' error when std is not found
  compiler/rustc_metadata/src/errors.rs
Labels: T-compiler, S-waiting-on-bors

#124579 Align: add bytes_usize and bits_usize
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_transmute/src/layout/tree.rs
Labels: T-compiler, S-waiting-on-bors

#124622 Cleanup: Rid the `rmake` test runners of `extern crate run_make_support;`
  tests/run-make/CURRENT_RUSTC_VERSION/rmake.rs
  tests/run-make/a-b-a-linker-guard/rmake.rs
  tests/run-make/arguments-non-c-like-enum/rmake.rs
  tests/run-make/artifact-incr-cache-no-obj/rmake.rs
  tests/run-make/artifact-incr-cache/rmake.rs
  tests/run-make/compiler-builtins/rmake.rs
  tests/run-make/core-no-fp-fmt-parse/rmake.rs
  tests/run-make/cross-lang-lto-riscv-abi/rmake.rs
  tests/run-make/exit-code/rmake.rs
  tests/run-make/issue-107495-archive-permissions/rmake.rs
  tests/run-make/no-input-file/rmake.rs
  tests/run-make/non-unicode-env/rmake.rs
  tests/run-make/non-unicode-in-incremental-dir/rmake.rs
  tests/run-make/print-cfg/rmake.rs
  tests/run-make/print-native-static-libs/rmake.rs
  tests/run-make/print-to-output/rmake.rs
  tests/run-make/repr128-dwarf/rmake.rs
  tests/run-make/rust-lld-custom-target/rmake.rs
  tests/run-make/rust-lld/rmake.rs
  tests/run-make/rustdoc-test-args/rmake.rs
  tests/run-make/wasm-abi/rmake.rs
  tests/run-make/wasm-custom-section/rmake.rs
  tests/run-make/wasm-custom-sections-opt/rmake.rs
  tests/run-make/wasm-export-all-symbols/rmake.rs
  tests/run-make/wasm-import-module/rmake.rs
  tests/run-make/wasm-panic-small/rmake.rs
  tests/run-make/wasm-spurious-import/rmake.rs
  tests/run-make/wasm-stringify-ints-small/rmake.rs
  tests/run-make/wasm-symbols-different-module/rmake.rs
  tests/run-make/wasm-symbols-not-exported/rmake.rs
  tests/run-make/wasm-symbols-not-imported/rmake.rs
Labels: C-cleanup, S-waiting-on-bors

#124623 shallow resolve in orphan check
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124624 Use `tcx.types.unit` instead of `Ty::new_unit(tcx)`
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_lint/src/unit_bindings.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/cx/mod.rs
  compiler/rustc_mir_dataflow/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  compiler/rustc_trait_selection/src/traits/object_safety.rs
  compiler/rustc_ty_utils/src/abi.rs
  src/tools/miri/src/machine.rs
Labels: T-compiler, S-waiting-on-bors

#124627 interpret: hide some reexports in rustdoc
  compiler/rustc_const_eval/src/interpret/mod.rs
  src/tools/miri/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#124138 Ignore LLVM ABI in dlltool tests since those targets don't use dlltool
  src/tools/compiletest/src/header/needs.rs
  tests/run-make/raw-dylib-cross-compilation/Makefile
  tests/ui/rfcs/rfc-2627-raw-dylib/dlltool-failed.rs
  tests/ui/rfcs/rfc-2627-raw-dylib/invalid-dlltool.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#124414 remove extraneous note on `UnableToRunDsymutil` diagnostic
  compiler/rustc_codegen_ssa/src/errors.rs
Labels: T-compiler, S-waiting-on-bors

#124616 [beta] bump to released compiler
  src/stage0.json
Labels: T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors

#124594 run-make-support: preserve tooks.mk behavior for EXTRACXXFLAGS
  src/tools/run-make-support/src/cc.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#124604 library/std: Remove unused `gimli-symbolize` feature
  library/std/Cargo.toml
Labels: S-waiting-on-bors, T-libs

#124607 `rustc_expand` cleanups
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_expand/src/mbe.rs
  compiler/rustc_expand/src/mbe/diagnostics.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_expand/src/placeholders.rs
Labels: T-compiler, S-waiting-on-bors

#124609 variable-precision float operations can differ depending on optimization levels
  library/std/src/f32.rs
  library/std/src/f64.rs
Labels: S-waiting-on-bors, T-libs

#124610 Tweak `consts_may_unify`
  compiler/rustc_middle/src/ty/fast_reject.rs
Labels: T-compiler, S-waiting-on-bors

#124626 const_eval_select: add tracking issue
  library/core/src/intrinsics.rs
Labels: S-waiting-on-bors, T-libs

#124637 AST pretty: Use `builtin_syntax` for type ascription
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
Labels: A-pretty, T-compiler, S-waiting-on-bors

#123480 deref patterns: impl `DerefPure` for more std types
  library/alloc/src/borrow.rs
  library/core/src/cell.rs
  library/core/src/mem/manually_drop.rs
  library/core/src/pin.rs
Labels: S-waiting-on-bors, T-libs, F-deref_patterns

#124612 Add support for inputing via stdin with run-make-support
  src/tools/run-make-support/src/cc.rs
  src/tools/run-make-support/src/clang.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/llvm_readobj.rs
  src/tools/run-make-support/src/rustc.rs
  src/tools/run-make-support/src/rustdoc.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/stdin-non-utf8/Makefile
  tests/run-make/stdin-non-utf8/non-utf8
  tests/run-make/stdin-rustc/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#124613 Allow fmt to run on rmake.rs test files
  rustfmt.toml
  src/bootstrap/src/core/build_steps/format.rs
  tests/run-make/CURRENT_RUSTC_VERSION/rmake.rs
  tests/run-make/compiler-builtins/rmake.rs
  tests/run-make/exit-code/rmake.rs
  tests/run-make/print-native-static-libs/rmake.rs
  tests/run-make/print-to-output/rmake.rs
  tests/run-make/wasm-custom-sections-opt/rmake.rs
  tests/run-make/wasm-export-all-symbols/rmake.rs
  tests/run-make/wasm-import-module/rmake.rs
Labels: T-bootstrap, S-waiting-on-bors, A-meta

#124649 Fix HorizonOS build broken by #124210
  library/std/src/sys/pal/unix/fs.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#124660 Rollup of 6 pull requests
  compiler/rustc_hir_analysis/src/autoderef.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_infer/src/traits/mod.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  compiler/rustc_traits/src/codegen.rs
  library/std/src/sys/pal/unix/fs.rs
  rustfmt.toml
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/sanity.rs
  src/tools/run-make-support/src/cc.rs
  src/tools/run-make-support/src/clang.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/llvm_readobj.rs
  src/tools/run-make-support/src/rustc.rs
  src/tools/run-make-support/src/rustdoc.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/CURRENT_RUSTC_VERSION/rmake.rs
  tests/run-make/compiler-builtins/rmake.rs
  tests/run-make/exit-code/rmake.rs
  tests/run-make/print-native-static-libs/rmake.rs
  tests/run-make/print-to-output/rmake.rs
  tests/run-make/stdin-non-utf8/Makefile
  tests/run-make/stdin-non-utf8/non-utf8
  tests/run-make/stdin-rustc/rmake.rs
  tests/run-make/wasm-custom-sections-opt/rmake.rs
  tests/run-make/wasm-export-all-symbols/rmake.rs
  tests/run-make/wasm-import-module/rmake.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, O-unix, WG-trait-system-refactor

#124461 handle the targets that are missing in stage0
  src/bootstrap/src/core/sanity.rs
Labels: T-bootstrap, S-waiting-on-bors

#124492 Generalize `adjust_from_tcx` for `Allocation`
  compiler/rustc_middle/src/mir/interpret/allocation.rs
Labels: T-compiler, S-waiting-on-bors

#124588 Use `ObligationCtxt` in favor of `TraitEngine` in many more places
  compiler/rustc_hir_analysis/src/autoderef.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_infer/src/traits/mod.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  compiler/rustc_traits/src/codegen.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124555 coverage: Clean up creation of MC/DC condition bitmaps
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_abi/src/tests.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/traits/coverageinfo.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#124593 Describe and use CStr literals in CStr and CString docs
  library/alloc/src/ffi/c_str.rs
  library/core/src/ffi/c_str.rs
Labels: S-waiting-on-bors, T-libs

#124630 CI: remove `env-x86_64-apple-tests` YAML anchor
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#124675 Rollup of 7 pull requests
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_abi/src/tests.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/traits/coverageinfo.rs
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_resolve/src/diagnostics.rs
  library/alloc/src/ffi/c_str.rs
  library/core/src/ffi/c_str.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/time.rs
  library/std/src/alloc.rs
  src/ci/github-actions/jobs.yml
  tests/ui/span/suggestion-raw-68962.rs
  tests/ui/span/suggestion-raw-68962.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#124510 Add raw identifier in a typo suggestion
  compiler/rustc_resolve/src/diagnostics.rs
  tests/ui/span/suggestion-raw-68962.rs
  tests/ui/span/suggestion-raw-68962.stderr
Labels: T-compiler, S-waiting-on-bors

#123815 Fix cannot usage in time.rs
  library/core/src/time.rs
Labels: S-waiting-on-bors, T-libs

#122492 Implement ptr_as_ref_unchecked
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
Labels: S-waiting-on-bors, T-libs

#123602 Account for immutably borrowed locals in MIR copy-prop and GVN
  compiler/rustc_mir_transform/src/copy_prop.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/normalize_array_len.rs
  compiler/rustc_mir_transform/src/ref_prop.rs
  compiler/rustc_mir_transform/src/ssa.rs
  tests/coverage/issue-83601.cov-map
  tests/coverage/issue-84561.cov-map
  tests/crashes/111883.rs
  tests/mir-opt/copy-prop/borrowed_local.borrowed.CopyProp.panic-abort.diff
  tests/mir-opt/copy-prop/borrowed_local.borrowed.CopyProp.panic-unwind.diff
  tests/mir-opt/copy-prop/borrowed_local.compare_address.CopyProp.panic-abort.diff
  tests/mir-opt/copy-prop/borrowed_local.compare_address.CopyProp.panic-unwind.diff
  tests/mir-opt/copy-prop/borrowed_local.non_freeze.CopyProp.panic-abort.diff
  tests/mir-opt/copy-prop/borrowed_local.non_freeze.CopyProp.panic-unwind.diff
  tests/mir-opt/copy-prop/borrowed_local.rs
  tests/mir-opt/gvn.borrowed.GVN.panic-abort.diff
  tests/mir-opt/gvn.borrowed.GVN.panic-unwind.diff
  tests/mir-opt/gvn.fn_pointers.GVN.panic-abort.diff
  tests/mir-opt/gvn.fn_pointers.GVN.panic-unwind.diff
  tests/mir-opt/gvn.non_freeze.GVN.panic-abort.diff
  tests/mir-opt/gvn.non_freeze.GVN.panic-unwind.diff
  tests/mir-opt/gvn.rs
  tests/mir-opt/gvn.slices.GVN.panic-abort.diff
  tests/mir-opt/gvn.slices.GVN.panic-unwind.diff
  tests/mir-opt/gvn_uninhabited.f.GVN.panic-abort.diff
  tests/mir-opt/gvn_uninhabited.f.GVN.panic-unwind.diff
  tests/mir-opt/pre-codegen/slice_filter.variant_a-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/reference_prop.reference_propagation.ReferencePropagation.diff
  tests/mir-opt/reference_prop.reference_propagation_const_ptr.ReferencePropagation.diff
  tests/mir-opt/reference_prop.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt, perf-regression

#124401 Some hir cleanups
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_lint/src/pass_by_value.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_mir_build/src/build/mod.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  tests/ui/stats/hir-stats.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors

#124648 Trim crate graph
  Cargo.lock
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_hir_typeck/Cargo.toml
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_privacy/Cargo.toml
  compiler/rustc_query_system/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, A-query-system

#124656 release notes 1.78: add link to interior-mut breaking change
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#124658 Migrate `run-make/doctests-keep-binaries` to new rmake.rs format
  src/tools/run-make-support/src/lib.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/doctests-keep-binaries/Makefile
  tests/run-make/doctests-keep-binaries/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#124678 Stabilize `split_at_checked`
  library/core/src/lib.rs
  library/core/src/slice/mod.rs
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#124687 Make `Bounds.clauses` private
  compiler/rustc_hir_analysis/src/bounds.rs
Labels: T-compiler, S-waiting-on-bors

#124418 Use a proof tree visitor to refine the `Obligation` for error reporting in new solver
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_middle/src/traits/solve/inspect/format.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/mod.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  tests/ui/coherence/occurs-check/opaques.next.stderr
  tests/ui/for/issue-20605.next.stderr
  tests/ui/higher-ranked/leak-check/leak-check-in-selection-3.next.stderr
  tests/ui/traits/next-solver/auto-with-drop_tracking_mir.fail.stderr
  tests/ui/traits/next-solver/auto-with-drop_tracking_mir.rs
  tests/ui/traits/next-solver/builtin-fn-must-return-sized.rs
  tests/ui/traits/next-solver/builtin-fn-must-return-sized.stderr
  tests/ui/traits/next-solver/coherence/coherence-fulfill-overflow.stderr
  tests/ui/traits/next-solver/cycles/coinduction/fixpoint-exponential-growth.stderr
  tests/ui/traits/next-solver/cycles/coinduction/incompleteness-unstable-result.rs
  tests/ui/traits/next-solver/cycles/coinduction/incompleteness-unstable-result.stderr
  tests/ui/traits/next-solver/cycles/double-cycle-inductive-coinductive.stderr
  tests/ui/traits/next-solver/cycles/inductive-fixpoint-hang.stderr
  tests/ui/traits/next-solver/cycles/inductive-not-on-stack.rs
  tests/ui/traits/next-solver/cycles/inductive-not-on-stack.stderr
  tests/ui/traits/next-solver/cycles/mixed-cycles-1.rs
  tests/ui/traits/next-solver/cycles/mixed-cycles-1.stderr
  tests/ui/traits/next-solver/cycles/mixed-cycles-2.rs
  tests/ui/traits/next-solver/cycles/mixed-cycles-2.stderr
  tests/ui/traits/next-solver/env-shadows-impls/param-candidate-shadows-project.rs
  tests/ui/traits/next-solver/env-shadows-impls/param-candidate-shadows-project.stderr
  tests/ui/traits/next-solver/more-object-bound.rs
  tests/ui/traits/next-solver/more-object-bound.stderr
  tests/ui/traits/next-solver/normalize/two-projection-param-candidates-are-ambiguous.rs
  tests/ui/traits/next-solver/normalize/two-projection-param-candidates-are-ambiguous.stderr
  tests/ui/traits/next-solver/object-unsafety.rs
  tests/ui/traits/next-solver/object-unsafety.stderr
  tests/ui/traits/next-solver/overflow/exponential-trait-goals.rs
  tests/ui/traits/next-solver/overflow/exponential-trait-goals.stderr
  tests/ui/traits/next-solver/overflow/global-cache.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124681 zkvm: fix run_tests
  library/test/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#124562 Use Server 2022 in CI for mingw jobs
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#124293 Let miri and const eval execute intrinsics' fallback bodies
  compiler/rustc_const_eval/src/const_eval/dummy_machine.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_resolve/src/macros.rs
  library/core/src/intrinsics.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/intrinsics/atomic.rs
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/tests/fail/intrinsic_fallback_checks_ub.rs
  src/tools/miri/tests/fail/intrinsic_fallback_checks_ub.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#124677 Set non-leaf frame pointers on Fuchsia targets
  compiler/rustc_target/src/spec/base/fuchsia.rs
Labels: T-compiler, S-waiting-on-bors, O-fuchsia

#124692 We do not coerce `&mut &mut T -> *mut mut T`
  tests/ui/coercion/mut-mut-wont-coerce.rs
  tests/ui/coercion/mut-mut-wont-coerce.stderr
Labels: T-compiler, S-waiting-on-bors

#124698 Rewrite `rustdoc-determinism` test in Rust
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/rustdoc-determinism/Makefile
  tests/run-make/rustdoc-determinism/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#124700 Remove an unnecessary cast
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#124701 Docs: suggest `uN::checked_sub` instead of check-then-unchecked
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#124703 Rollup of 8 pull requests
  compiler/rustc_const_eval/src/const_eval/dummy_machine.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_resolve/src/macros.rs
  compiler/rustc_target/src/spec/base/fuchsia.rs
  library/core/src/intrinsics.rs
  library/core/src/num/uint_macros.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/teeos/mod.rs
  library/std/src/sys/pal/uefi/mod.rs
  library/std/src/sys/pal/unix/thread_parking.rs
  library/std/src/sys/pal/unix/thread_parking/mod.rs
  library/std/src/sys/pal/unsupported/mod.rs
  library/std/src/sys/pal/wasi/mod.rs
  library/std/src/sys/pal/wasip2/mod.rs
  library/std/src/sys/pal/wasm/mod.rs
  library/std/src/sys/pal/windows/mod.rs
  library/std/src/sys/pal/xous/mod.rs
  library/std/src/sys/pal/zkvm/mod.rs
  library/std/src/sys/sync/mod.rs
  library/std/src/sys/sync/thread_parking/darwin.rs
  library/std/src/sys/sync/thread_parking/futex.rs
  library/std/src/sys/sync/thread_parking/id.rs
  library/std/src/sys/sync/thread_parking/mod.rs
  library/std/src/sys/sync/thread_parking/pthread.rs
  library/std/src/sys/sync/thread_parking/unsupported.rs
  library/std/src/sys/sync/thread_parking/windows.rs
  library/std/src/sys/sync/thread_parking/xous.rs
  library/std/src/sys_common/mod.rs
  library/std/src/thread/mod.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/intrinsics/atomic.rs
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/tests/fail/intrinsic_fallback_checks_ub.rs
  src/tools/miri/tests/fail/intrinsic_fallback_checks_ub.stderr
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/rustdoc-determinism/Makefile
  tests/run-make/rustdoc-determinism/rmake.rs
  tests/ui/coercion/mut-mut-wont-coerce.rs
  tests/ui/coercion/mut-mut-wont-coerce.stderr
Labels: A-testsuite, O-windows, T-compiler, T-bootstrap, O-wasm, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-SGX, O-unix, O-wasi

#124159 Move thread parking to `sys::sync`
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/teeos/mod.rs
  library/std/src/sys/pal/uefi/mod.rs
  library/std/src/sys/pal/unix/thread_parking.rs
  library/std/src/sys/pal/unix/thread_parking/mod.rs
  library/std/src/sys/pal/unsupported/mod.rs
  library/std/src/sys/pal/wasi/mod.rs
  library/std/src/sys/pal/wasip2/mod.rs
  library/std/src/sys/pal/wasm/mod.rs
  library/std/src/sys/pal/windows/mod.rs
  library/std/src/sys/pal/xous/mod.rs
  library/std/src/sys/pal/zkvm/mod.rs
  library/std/src/sys/sync/mod.rs
  library/std/src/sys/sync/thread_parking/darwin.rs
  library/std/src/sys/sync/thread_parking/futex.rs
  library/std/src/sys/sync/thread_parking/id.rs
  library/std/src/sys/sync/thread_parking/mod.rs
  library/std/src/sys/sync/thread_parking/pthread.rs
  library/std/src/sys/sync/thread_parking/unsupported.rs
  library/std/src/sys/sync/thread_parking/windows.rs
  library/std/src/sys/sync/thread_parking/xous.rs
  library/std/src/sys_common/mod.rs
  library/std/src/thread/mod.rs
Labels: O-windows, O-wasm, S-waiting-on-bors, T-libs, O-SGX, O-unix, O-wasi

#123356 Reduce code size of `thread::set_current`
  library/std/src/thread/mod.rs
Labels: S-waiting-on-bors, T-libs

#124704 Fix ignored tests for formatting
  rustfmt.toml
Labels: S-waiting-on-bors, merged-by-bors, A-meta

#124699 Use `unchecked_sub` in `split_at`
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#124715 interpret, miri: uniform treatments of intrinsics/functions with and without return block
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/shims/alloc.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/intrinsics/atomic.rs
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/src/shims/mod.rs
  src/tools/miri/src/shims/panic.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/unix/freebsd/foreign_items.rs
  src/tools/miri/src/shims/unix/linux/foreign_items.rs
  src/tools/miri/src/shims/unix/macos/foreign_items.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/src/shims/x86/aesni.rs
  src/tools/miri/src/shims/x86/avx.rs
  src/tools/miri/src/shims/x86/avx2.rs
  src/tools/miri/src/shims/x86/mod.rs
  src/tools/miri/src/shims/x86/sse.rs
  src/tools/miri/src/shims/x86/sse2.rs
  src/tools/miri/src/shims/x86/sse3.rs
  src/tools/miri/src/shims/x86/sse41.rs
  src/tools/miri/src/shims/x86/ssse3.rs
Labels: T-compiler, S-waiting-on-bors

#124716 Rollup of 4 pull requests
  compiler/rustc_ast/src/entry.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/entry.rs
  compiler/rustc_passes/src/errors.rs
  library/core/src/slice/mod.rs
  library/std/src/io/cursor.rs
  library/std/src/io/impls.rs
  library/std/src/io/mod.rs
  library/std/src/process.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/shims/alloc.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/intrinsics/atomic.rs
  src/tools/miri/src/shims/intrinsics/mod.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  src/tools/miri/src/shims/mod.rs
  src/tools/miri/src/shims/panic.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/unix/freebsd/foreign_items.rs
  src/tools/miri/src/shims/unix/linux/foreign_items.rs
  src/tools/miri/src/shims/unix/macos/foreign_items.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/src/shims/x86/aesni.rs
  src/tools/miri/src/shims/x86/avx.rs
  src/tools/miri/src/shims/x86/avx2.rs
  src/tools/miri/src/shims/x86/mod.rs
  src/tools/miri/src/shims/x86/sse.rs
  src/tools/miri/src/shims/x86/sse2.rs
  src/tools/miri/src/shims/x86/sse3.rs
  src/tools/miri/src/shims/x86/sse41.rs
  src/tools/miri/src/shims/x86/ssse3.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#124584 Various improvements to entrypoint code
  compiler/rustc_ast/src/entry.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/entry.rs
  compiler/rustc_passes/src/errors.rs
Labels: T-compiler, S-waiting-on-bors

#122441 Improve several `Read` implementations
  library/std/src/io/cursor.rs
  library/std/src/io/impls.rs
  library/std/src/io/mod.rs
  library/std/src/process.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#124690 Only consider ambiguous goals when finding best obligation for ambiguities
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  tests/ui/traits/next-solver/cycles/coinduction/incompleteness-unstable-result.rs
  tests/ui/traits/next-solver/cycles/coinduction/incompleteness-unstable-result.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124713 Update Cargo specific diagnostics in check-cfg
  compiler/rustc_lint/src/context/diagnostics/check_cfg.rs
  tests/ui/check-cfg/cargo-feature.none.stderr
  tests/ui/check-cfg/cargo-feature.some.stderr
  tests/ui/check-cfg/diagnotics.cargo.stderr
Labels: T-compiler, S-waiting-on-bors, F-check-cfg

#124717 Implement `do_not_recommend` in the new solver
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  tests/ui/diagnostic_namespace/do_not_recommend/simple.current.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/simple.next.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/simple.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124718 Record impl args in the proof tree
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  tests/ui/traits/next-solver/diagnostics/point-at-failing-nested.rs
  tests/ui/traits/next-solver/diagnostics/point-at-failing-nested.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124720 interpret: Drop: always evaluate place
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
Labels: T-compiler, S-waiting-on-bors

#124721 library/std: Fix build for NetBSD targets with 32-bit `c_long`
  library/std/src/sys/pal/unix/thread_parking.rs
Labels: O-netbsd, S-waiting-on-bors, T-libs, O-unix

#124723 Use correct Hermit links in The `rustc` Book
  src/doc/rustc/src/platform-support/hermit.md
Labels: S-waiting-on-bors, O-hermit

#124726 Rollup of 10 pull requests
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_lint/src/context/diagnostics/check_cfg.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  config.example.toml
  library/std/src/sys/pal/unix/thread_parking.rs
  src/bootstrap/Cargo.toml
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/ci/docker/run.sh
  src/doc/rustc/src/platform-support/hermit.md
  tests/ui/check-cfg/cargo-feature.none.stderr
  tests/ui/check-cfg/cargo-feature.some.stderr
  tests/ui/check-cfg/diagnotics.cargo.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/simple.current.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/simple.next.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/simple.rs
  tests/ui/traits/next-solver/cycles/coinduction/incompleteness-unstable-result.rs
  tests/ui/traits/next-solver/cycles/coinduction/incompleteness-unstable-result.stderr
  tests/ui/traits/next-solver/diagnostics/point-at-failing-nested.rs
  tests/ui/traits/next-solver/diagnostics/point-at-failing-nested.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, O-unix, WG-trait-system-refactor

#124501 add support to override lldb binary path for ./x test
  config.example.toml
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/utils/change_tracker.rs
Labels: T-bootstrap, S-waiting-on-bors

#124573 add a reference link to the comment of the "cc" and "cmake".
  src/bootstrap/Cargo.toml
Labels: T-bootstrap, S-waiting-on-bors

#124663 Enable reusing CI Docker cache when running CI images locally
  src/ci/docker/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#124606 Stop `llvm.expect`ing assert terminators
  compiler/rustc_codegen_ssa/src/mir/block.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124631 CI: enable arbitrary try builds
  .github/workflows/ci.yml
  src/ci/github-actions/calculate-job-matrix.py
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#122253 Support Result<T, E> across FFI when niche optimization can be used
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_span/src/symbol.rs
  src/doc/unstable-book/src/language-features/result-ffi-guarantees.md
  tests/ui/feature-gates/feature-gate-result_ffi_guarantees.rs
  tests/ui/feature-gates/feature-gate-result_ffi_guarantees.stderr
  tests/ui/lint/lint-ctypes-enum.rs
  tests/ui/lint/lint-ctypes-enum.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124458 Implement lldb formattter for "clang encoded" enums (LLDB 18.1+)
  src/etc/lldb_lookup.py
  src/etc/lldb_providers.py
  src/etc/rust_types.py
  tests/debuginfo/borrowed-enum.rs
  tests/debuginfo/coroutine-objects.rs
  tests/debuginfo/enum-thinlto.rs
  tests/debuginfo/issue-57822.rs
  tests/debuginfo/msvc-pretty-enums.rs
  tests/debuginfo/struct-style-enum.rs
  tests/debuginfo/tuple-style-enum.rs
  tests/debuginfo/unique-enum.rs
Labels: S-waiting-on-bors, merged-by-bors

#124494 Fix unwinding on 32-bit watchOS ARM
  library/std/src/sys/personality/dwarf/eh.rs
  library/std/src/sys/personality/gcc.rs
  library/unwind/src/libunwind.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs, O-watchos

#123892 Document That `f16` And `f128` Hardware Support is Limited
  library/core/src/primitive_docs.rs
Labels: A-docs, S-waiting-on-bors, merged-by-bors, T-libs, F-f16_and_f128

#124711 Migrate `run-make/doctests-runtool` to rmake
  src/tools/run-make-support/src/rustdoc.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/doctests-runtool/Makefile
  tests/run-make/doctests-runtool/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#124725 Meta: Enable the brand new triagebot transfer command
  triagebot.toml
Labels: S-waiting-on-bors, merged-by-bors, A-meta

#123125 Remove suggestion about iteration count in coerce
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/coercion/coerce-loop-issue-122561.rs
  tests/ui/coercion/coerce-loop-issue-122561.stderr
  tests/ui/did_you_mean/compatible-variants.stderr
  tests/ui/for-loop-while/break-while-condition.stderr
  tests/ui/issues/issue-27042.stderr
  tests/ui/issues/issue-50585.stderr
  tests/ui/typeck/issue-100285.rs
  tests/ui/typeck/issue-100285.stderr
  tests/ui/typeck/issue-98982.rs
  tests/ui/typeck/issue-98982.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124748 Fix unwinding on 32-bit watchOS ARM (v2)
  library/std/src/sys/personality/dwarf/eh.rs
  library/std/src/sys/personality/gcc.rs
  library/unwind/src/libunwind.rs
Labels: S-waiting-on-bors, T-libs, O-watchos

#124668 Fix bootstrap panic when build from tarball
  src/bootstrap/src/core/builder.rs
Labels: beta-nominated, T-bootstrap, S-waiting-on-bors

#124736 compiler: upgrade time from 0.3.34 to 0.3.36
  Cargo.lock
  compiler/rustc_driver_impl/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#124750 Document That `f16` And `f128` Hardware Support is Limited (v2)
  library/core/src/primitive_docs.rs
Labels: A-docs, S-waiting-on-bors, T-libs, F-f16_and_f128

#124148 rustdoc-search: search for references
  src/doc/rustdoc/src/read-documentation/search.md
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/parser-reference.js
  tests/rustdoc-js/reference.js
  tests/rustdoc-js/reference.rs
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#124603 coverage: Split out MC/DC mappings from `BcbMappingKind`
  compiler/rustc_mir_transform/src/coverage/mappings.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#124146 Triagebot: Rename `macos` ping group to `apple`
  triagebot.toml
Labels: O-macos, O-ios, S-waiting-on-bors, merged-by-bors, A-meta, O-watchos, O-tvos, O-visionos

#124747 Support Result<T, E> across FFI when niche optimization can be used (v2)
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_span/src/symbol.rs
  src/doc/unstable-book/src/language-features/result-ffi-guarantees.md
  tests/ui/feature-gates/feature-gate-result_ffi_guarantees.rs
  tests/ui/feature-gates/feature-gate-result_ffi_guarantees.stderr
  tests/ui/lint/lint-ctypes-enum.rs
  tests/ui/lint/lint-ctypes-enum.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124638 Move some tests from `rustc_expand` to `rustc_parse`.
  Cargo.lock
  compiler/rustc_expand/Cargo.toml
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_expand/src/parse/tests.rs
  compiler/rustc_parse/Cargo.toml
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/mut_visit/tests.rs
  compiler/rustc_parse/src/parser/tests.rs
  compiler/rustc_parse/src/parser/tokenstream/tests.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124742 Add `rustfmt` cfg to well known cfgs list
  compiler/rustc_session/src/config/cfg.rs
  src/doc/rustc/src/check-cfg.md
  tests/ui/check-cfg/allow-same-level.stderr
  tests/ui/check-cfg/cargo-feature.none.stderr
  tests/ui/check-cfg/cargo-feature.some.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-duplicate.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-multiple.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name.stderr
  tests/ui/check-cfg/compact-names.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/stmt-no-ice.stderr
  tests/ui/check-cfg/well-known-names.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors

#124765 [rustdoc] Fix bad color for setting cog in ayu theme
  src/librustdoc/html/static/css/noscript.css
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/settings-button.goml
  tests/rustdoc-gui/settings.goml
  tests/rustdoc-gui/src/theme_css/custom-theme.css
Labels: T-rustdoc, S-waiting-on-bors

#124768 [resubmission] Meta: Enable the brand new triagebot transfer command
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#124784 Rollup of 3 pull requests
  compiler/rustc_session/src/config/cfg.rs
  src/doc/rustc/src/check-cfg.md
  src/librustdoc/html/static/css/noscript.css
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/settings-button.goml
  tests/rustdoc-gui/settings.goml
  tests/rustdoc-gui/src/theme_css/custom-theme.css
  tests/ui/check-cfg/allow-same-level.stderr
  tests/ui/check-cfg/cargo-feature.none.stderr
  tests/ui/check-cfg/cargo-feature.some.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-duplicate.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-multiple.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name.stderr
  tests/ui/check-cfg/compact-names.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/stmt-no-ice.stderr
  tests/ui/check-cfg/well-known-names.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
  triagebot.toml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#124497 Move some stdlib tests from `tests/ui` to `library/std/tests`
  library/std/tests/builtin-clone.rs
  library/std/tests/eq-multidispatch.rs
  library/std/tests/istr.rs
  library/std/tests/log-knows-the-names-of-variants-in-std.rs
  library/std/tests/minmax-stability-issue-23687.rs
  library/std/tests/seq-compare.rs
  library/std/tests/slice-from-array-issue-113238.rs
  library/std/tests/type-name-unsized.rs
  library/std/tests/volatile-fat-ptr.rs
  src/tools/tidy/src/issues.txt
  tests/ui/stdlib-unit-tests/eq-multidispatch.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#124753 Migrate `run-make/rustdoc-error-lines` to new `rmake.rs`
  src/tools/run-make-support/src/cc.rs
  src/tools/run-make-support/src/clang.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/llvm_readobj.rs
  src/tools/run-make-support/src/rustc.rs
  src/tools/run-make-support/src/rustdoc.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/CURRENT_RUSTC_VERSION/rmake.rs
  tests/run-make/doctests-runtool/Makefile
  tests/run-make/doctests-runtool/rmake.rs
  tests/run-make/exit-code/rmake.rs
  tests/run-make/repr128-dwarf/rmake.rs
  tests/run-make/rustdoc-determinism/rmake.rs
  tests/run-make/rustdoc-error-lines/Makefile
  tests/run-make/rustdoc-error-lines/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#123850 Add constants for f16 and f128
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  tests/ui/resolve/issue-50599.stderr
  tests/ui/resolve/issue-73427.stderr
  tests/ui/resolve/privacy-enum-ctor.stderr
Labels: S-waiting-on-bors, merged-by-bors, T-libs, F-f16_and_f128

#124808 Use `super_fold` in `RegionsToStatic` visitor
  compiler/rustc_next_trait_solver/src/canonicalizer.rs
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.rs
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.stderr
  tests/ui/traits/next-solver/canonical/effect-var.rs
  tests/ui/traits/next-solver/canonical/int-var-eq-in-response.rs
  tests/ui/traits/next-solver/canonical/ty-var-eq-in-response.rs
Labels: T-compiler, S-waiting-on-bors

#124811 Rollup of 4 pull requests
  compiler/rustc_next_trait_solver/src/canonicalizer.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  library/std/src/fs.rs
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.rs
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.stderr
  tests/ui/traits/next-solver/canonical/effect-var.rs
  tests/ui/traits/next-solver/canonical/int-var-eq-in-response.rs
  tests/ui/traits/next-solver/canonical/ty-var-eq-in-response.rs
  tests/ui/traits/next-solver/diagnostics/where-clause-doesnt-apply.rs
  tests/ui/traits/next-solver/diagnostics/where-clause-doesnt-apply.stderr
  tests/ui/traits/normalize-supertrait.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#124520 Document that `create_dir_all` calls `mkdir`/`CreateDirW` multiple times
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#124724 Prefer lower vtable candidates in select in new solver
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  tests/ui/traits/normalize-supertrait.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124771 Don't consider candidates with no failing where clauses when refining obligation causes in new solver
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  tests/ui/traits/next-solver/diagnostics/where-clause-doesnt-apply.rs
  tests/ui/traits/next-solver/diagnostics/where-clause-doesnt-apply.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124209 Make check-cfg docs more user-friendly
  src/doc/rustc/src/check-cfg.md
  src/doc/rustc/src/command-line-arguments.md
Labels: S-waiting-on-bors, merged-by-bors, F-check-cfg

#124759 Record impl args in the proof tree in new solver
  compiler/rustc_middle/src/traits/solve/inspect.rs
  compiler/rustc_middle/src/traits/solve/inspect/format.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/select.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/solve/inspect/build.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  tests/ui/traits/next-solver/select-alias-bound-as-param.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124809 borrowck: prepopulate opaque storage more eagerly
  compiler/rustc_borrowck/src/consumers.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/renumber.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  tests/ui/impl-trait/dyn-trait-elided-two-inputs-ref-assoc.rs
  tests/ui/impl-trait/in-trait/placeholder-implied-bounds.rs
  tests/ui/impl-trait/issues/issue-105826.rs
  tests/ui/traits/trait-upcasting/illegal-upcast-from-impl-opaque.next.stderr
  tests/ui/traits/trait-upcasting/illegal-upcast-from-impl-opaque.rs
  tests/ui/traits/trait-upcasting/upcast-defining-opaque.current.stderr
  tests/ui/traits/trait-upcasting/upcast-defining-opaque.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124830 Adjust dbg.value/dbg.declare checks for LLVM update
  tests/codegen/debug-fndef-size.rs
  tests/codegen/debuginfo-constant-locals.rs
  tests/codegen/inline-debuginfo.rs
  tests/codegen/sroa-fragment-debuginfo.rs
Labels: S-waiting-on-bors, merged-by-bors, llvm-main

#124813 Adjust 64-bit ARM data layouts for LLVM update
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_tvos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_tvos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_watchos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_watchos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_be_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/aarch64_be_unknown_linux_gnu_ilp32.rs
  compiler/rustc_target/src/spec/targets/aarch64_be_unknown_netbsd.rs
  compiler/rustc_target/src/spec/targets/aarch64_kmc_solid_asp3.rs
  compiler/rustc_target/src/spec/targets/aarch64_linux_android.rs
  compiler/rustc_target/src/spec/targets/aarch64_nintendo_switch_freestanding.rs
  compiler/rustc_target/src/spec/targets/aarch64_pc_windows_gnullvm.rs
  compiler/rustc_target/src/spec/targets/aarch64_pc_windows_msvc.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_fuchsia.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_hermit.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_illumos.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_linux_gnu_ilp32.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_linux_ohos.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_netbsd.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_none.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_none_softfloat.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_nto_qnx710.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_openbsd.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_redox.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_teeos.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_uefi.rs
  compiler/rustc_target/src/spec/targets/aarch64_uwp_windows_msvc.rs
  compiler/rustc_target/src/spec/targets/aarch64_wrs_vxworks.rs
  compiler/rustc_target/src/spec/targets/arm64_32_apple_watchos.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_ios.rs
  compiler/rustc_target/src/spec/targets/arm64ec_pc_windows_msvc.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, llvm-main

#122504 Update cc crate for bootstrap to v1.0.97
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/core/sanity.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/helpers.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#124781 Implement lldb formatter for "clang encoded" enums (LLDB 18.1+) (V3)
  src/etc/lldb_lookup.py
  src/etc/lldb_providers.py
  src/etc/rust_types.py
  tests/debuginfo/borrowed-enum.rs
  tests/debuginfo/coroutine-objects.rs
  tests/debuginfo/enum-thinlto.rs
  tests/debuginfo/issue-57822.rs
  tests/debuginfo/msvc-pretty-enums.rs
  tests/debuginfo/struct-style-enum.rs
  tests/debuginfo/tuple-style-enum.rs
  tests/debuginfo/unique-enum.rs
Labels: S-waiting-on-bors, merged-by-bors

#124828 f16::is_sign_{positive,negative} were feature-gated on f128
  library/core/src/num/f16.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#124836 Correct the const stabilization of `last_chunk` for slices
  library/core/src/slice/mod.rs
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#123332 never patterns: lower never patterns to `Unreachable` in MIR
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/test.rs
  compiler/rustc_mir_build/src/build/matches/util.rs
  tests/crashes/120421.rs
  tests/mir-opt/building/match/never_patterns.opt1.SimplifyCfg-initial.after.mir
  tests/mir-opt/building/match/never_patterns.opt2.SimplifyCfg-initial.after.mir
  tests/mir-opt/building/match/never_patterns.opt3.SimplifyCfg-initial.after.mir
  tests/mir-opt/building/match/never_patterns.rs
  tests/ui/rfcs/rfc-0000-never_patterns/check.rs
  tests/ui/rfcs/rfc-0000-never_patterns/check.stderr
  tests/ui/rfcs/rfc-0000-never_patterns/check_place_is_initialized.rs
  tests/ui/rfcs/rfc-0000-never_patterns/check_place_is_initialized.stderr
  tests/ui/rfcs/rfc-0000-never_patterns/typeck.rs
  tests/ui/rfcs/rfc-0000-never_patterns/use-bindings.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, F-never_patterns

#124832 narrow down visibilities in `rustc_parse::lexer`
  compiler/rustc_parse/src/lexer/diagnostics.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
Labels: T-compiler, S-waiting-on-bors

#124842 replace another Option<Span> by DUMMY_SP
  compiler/rustc_const_eval/src/const_eval/error.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
Labels: T-compiler, S-waiting-on-bors

#124846 Don't ICE when we cannot eval a const to a valtree in the new solver
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.rs
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124849 Rollup of 5 pull requests
  compiler/rustc_const_eval/src/const_eval/error.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_parse/src/lexer/diagnostics.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/inspect/build.rs
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/html/templates/page.html
  src/tools/html-checker/main.rs
  tests/rustdoc-gui/javascript-disabled.goml
  tests/rustdoc-gui/sidebar-source-code-display.goml
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.rs
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.stderr
  tests/ui/traits/next-solver/generalize/hr-alias-non-hr-alias-self-ty-1.rs
  tests/ui/traits/next-solver/generalize/hr-alias-non-hr-alias-self-ty-2.rs
  tests/ui/traits/next-solver/generalize/hr-alias-universe-lowering-ambiguity.rs
  tests/ui/traits/next-solver/generalize/occurs-check-nested-alias.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#124738 rustdoc: dedup search form HTML
  src/librustdoc/html/static/js/storage.js
  src/librustdoc/html/templates/page.html
  src/tools/html-checker/main.rs
  tests/rustdoc-gui/javascript-disabled.goml
  tests/rustdoc-gui/sidebar-source-code-display.goml
Labels: T-rustdoc, S-waiting-on-bors

#124827 generalize hr alias: avoid unconstrainable infer vars
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_trait_selection/src/solve/inspect/build.rs
  tests/ui/traits/next-solver/generalize/hr-alias-non-hr-alias-self-ty-1.rs
  tests/ui/traits/next-solver/generalize/hr-alias-non-hr-alias-self-ty-2.rs
  tests/ui/traits/next-solver/generalize/hr-alias-universe-lowering-ambiguity.rs
  tests/ui/traits/next-solver/generalize/occurs-check-nested-alias.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#124219 Do not ICE on `AnonConst`s in `diagnostic_hir_wf_check`
  compiler/rustc_hir_analysis/src/hir_wf_check.rs
  tests/crashes/122989.rs
  tests/ui/wf/ice-hir-wf-check-anon-const-issue-122989.rs
  tests/ui/wf/ice-hir-wf-check-anon-const-issue-122989.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124223 coverage: Branch coverage support for let-else and if-let
  compiler/rustc_mir_build/src/build/coverageinfo.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  tests/coverage/branch/if-let.cov-map
  tests/coverage/branch/if-let.coverage
  tests/coverage/branch/let-else.cov-map
  tests/coverage/branch/let-else.coverage
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#124683 Do not ICE on foreign malformed `diagnostic::on_unimplemented`
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  tests/ui/diagnostic_namespace/auxiliary/bad_on_unimplemented.rs
  tests/ui/diagnostic_namespace/on_unimplemented_ice.rs
  tests/ui/diagnostic_namespace/on_unimplemented_ice.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors, stable-nominated, merged-by-bors

#124779 Improve `rustc_parse::Parser`'s debuggability
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_parse/src/parser/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124695 Fuchsia test runner: fixup script
  src/ci/docker/scripts/fuchsia-test-runner.py
  src/doc/rustc/src/platform-support/fuchsia.md
Labels: A-testsuite, S-waiting-on-bors, T-infra, O-fuchsia, merged-by-bors

#124838 next_power_of_two: add a doctest to show what happens on 0
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#124879 Rollup of 4 pull requests
  library/core/src/num/uint_macros.rs
  library/std/src/fs.rs
  library/std/src/os/unix/net/listener.rs
  library/std/src/sys/pal/unix/alloc.rs
  library/std/src/sys/pal/unix/fd.rs
  library/std/src/sys/pal/unix/fs.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unix/net.rs
Labels: S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#124782 add note about `AlreadyExists` to `create_new`
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#124788 Convert instances of `target_os = "macos"` to `target_vendor = "apple"`
  library/std/src/os/unix/net/listener.rs
  library/std/src/sys/pal/unix/alloc.rs
  library/std/src/sys/pal/unix/fd.rs
  library/std/src/sys/pal/unix/fs.rs
  library/std/src/sys/pal/unix/mod.rs
Labels: S-waiting-on-bors, T-libs, O-unix, O-apple

#124470 std::net: Socket::new_raw now set to SO_NOSIGPIPE on freebsd.
  library/std/src/sys/pal/unix/net.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#124858 rustc: Some small changes for the wasm32-wasip2 target
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip2.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#124761 Fix insufficient logic when searching for the underlying allocation
  compiler/rustc_lint/src/reference_casting.rs
  tests/ui/lint/reference_casting.rs
Labels: T-compiler, S-waiting-on-bors

#124795 Avoid a cast in `ptr::slice_from_raw_parts(_mut)`
  library/core/src/ptr/mod.rs
  tests/mir-opt/inline/inline_shims.drop.Inline.panic-abort.diff
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_index.slice_get_unchecked_mut_range.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_index.slice_ptr_get_unchecked_range.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_index.slice_ptr_get_unchecked_range.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-unwind.mir
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#124775 crashes: add lastest batch of crash tests
  tests/crashes/124436.rs
  tests/crashes/124440.rs
  tests/crashes/124464.rs
  tests/crashes/124490.rs
  tests/crashes/124552.rs
  tests/crashes/124563.rs
  tests/crashes/124583.rs
  tests/crashes/124702.rs
  tests/crashes/124751.rs
Labels: S-waiting-on-bors

#124869 Make sure we don't deny macro vars w keyword names
  compiler/rustc_lint/src/builtin.rs
  tests/ui/rust-2018/async-ident.fixed
  tests/ui/rust-2018/async-ident.rs
  tests/ui/rust-2018/async-ident.stderr
  tests/ui/rust-2024/gen-kw-in-macro.rs
  tests/ui/rust-2024/gen-kw.e2015.stderr
  tests/ui/rust-2024/gen-kw.e2018.stderr
  tests/ui/rust-2024/gen-kw.rs
Labels: T-compiler, S-waiting-on-bors

#124876 Simplify `use crate::rustc_foo::bar` occurrences.
  compiler/rustc_codegen_gcc/src/debuginfo.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/inspect_obligations.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_mir_transform/src/large_enums.rs
  compiler/rustc_query_impl/src/plumbing.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/externalfiles.rs
  src/librustdoc/html/format.rs
  src/tools/clippy/clippy_lints/src/manual_assert.rs
  src/tools/clippy/clippy_lints/src/methods/iter_overeager_cloned.rs
  src/tools/clippy/clippy_lints/src/redundant_closure_call.rs
  src/tools/clippy/clippy_lints/src/semicolon_if_nothing_returned.rs
  src/tools/miri/src/shims/x86/avx2.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-query-system

#124892 Update cc crate to v1.0.97
  Cargo.lock
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_llvm/Cargo.toml
  library/profiler_builtins/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#124903 Ignore empty RUSTC_WRAPPER in bootstrap
  src/bootstrap/src/bin/rustc.rs
Labels: T-bootstrap, S-waiting-on-bors

#124909 Reapply the part of #124548 that bors forgot
  compiler/rustc_middle/src/ty/layout.rs
Labels: T-compiler, S-waiting-on-review, S-waiting-on-bors

#124587 Generic `NonZero` post-stabilization changes.
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/stable_mir/src/abi.rs
  library/core/src/iter/adapters/step_by.rs
  library/core/src/num/nonzero.rs
  src/tools/build-manifest/src/main.rs
  src/tools/clippy/clippy_lints/src/transmute/eager_transmute.rs
  src/tools/clippy/clippy_lints/src/transmute/mod.rs
  src/tools/clippy/clippy_lints/src/transmute/transmute_int_to_non_zero.rs
  src/tools/clippy/lintcheck/src/config.rs
  src/tools/clippy/tests/ui/arithmetic_side_effects.rs
  src/tools/clippy/tests/ui/eager_transmute.fixed
  src/tools/clippy/tests/ui/eager_transmute.rs
  src/tools/clippy/tests/ui/eager_transmute.stderr
  src/tools/clippy/tests/ui/transmute_int_to_non_zero.fixed
  src/tools/clippy/tests/ui/transmute_int_to_non_zero.rs
  src/tools/clippy/tests/ui/transmute_int_to_non_zero.stderr
  src/tools/miri/tests/fail/enum-set-discriminant-niche-variant-wrong.rs
  src/tools/miri/tests/fail/function_pointers/abi_mismatch_repr_C.rs
  src/tools/miri/tests/fail/function_pointers/abi_mismatch_repr_C.stderr
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_callee_ret.rs
  src/tools/miri/tests/fail/validity/cast_fn_ptr_invalid_caller_arg.rs
  src/tools/miri/tests/pass/function_calls/abi_compat.rs
  src/tools/miri/tests/pass/shims/available-parallelism-miri-num-cpus.rs
  src/tools/miri/tests/ui.rs
  tests/ui-fulldeps/stable-mir/check_abi.rs
  tests/ui/mismatched_types/non_zero_assigned_something.rs
  tests/ui/mismatched_types/non_zero_assigned_something.stderr
  tests/ui/type/pattern_types/range_patterns_usage.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#123344 Remove braces when fixing a nested use tree into a single item
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/late.rs
  src/tools/clippy/clippy_lints/src/single_component_path_imports.rs
  src/tools/clippy/clippy_lints/src/unnecessary_self_imports.rs
  src/tools/clippy/clippy_lints/src/unsafe_removed_from_name.rs
  src/tools/clippy/clippy_utils/src/ast_utils.rs
  src/tools/rustfmt/src/imports.rs
  tests/ui/suggestions/unused-imports.fixed
  tests/ui/suggestions/unused-imports.rs
  tests/ui/suggestions/unused-imports.stderr
Labels: T-compiler, S-waiting-on-bors

#124793 Implement `as_chunks` with `split_at_unchecked`
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs
