Repository rust-lang/rust, pull requests merged in 2024-03, with the labels that each got.

#121753 Add proper cfg to keep only one AlignmentEnum definition for different target_pointer_widths
  library/core/src/ptr/alignment.rs
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/pre-codegen/issue_117368_print_invalid_constant.main.GVN.64bit.panic-unwind.diff
Labels: S-waiting-on-bors, T-libs

#121806 add const test for ptr::metadata
  tests/ui/consts/const-eval/ub-wide-ptr.rs
  tests/ui/consts/const-eval/ub-wide-ptr.stderr
Labels: T-compiler, S-waiting-on-bors

#121326 Detect empty leading where clauses on type aliases
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_parse/src/parser/item.rs
  src/tools/rustfmt/src/items.rs
  tests/ui/lazy-type-alias/leading-where-clause.fixed
  tests/ui/lazy-type-alias/leading-where-clause.rs
  tests/ui/lazy-type-alias/leading-where-clause.stderr
  tests/ui/where-clauses/where-clause-placement-assoc-type-in-impl.fixed
  tests/ui/where-clauses/where-clause-placement-assoc-type-in-impl.rs
  tests/ui/where-clauses/where-clause-placement-assoc-type-in-impl.stderr
Labels: T-compiler, S-waiting-on-bors

#121464 rustc: Fix wasm64 metadata object files
  Cargo.lock
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#114016 Delete architecture-specific memchr code in std::sys
  library/std/src/io/buffered/linewritershim.rs
  library/std/src/io/mod.rs
  library/std/src/sys/pal/hermit/memchr.rs
  library/std/src/sys/pal/hermit/mod.rs
  library/std/src/sys/pal/hermit/os.rs
  library/std/src/sys/pal/sgx/memchr.rs
  library/std/src/sys/pal/sgx/mod.rs
  library/std/src/sys/pal/solid/memchr.rs
  library/std/src/sys/pal/solid/mod.rs
  library/std/src/sys/pal/solid/os.rs
  library/std/src/sys/pal/teeos/mod.rs
  library/std/src/sys/pal/uefi/mod.rs
  library/std/src/sys/pal/unix/memchr.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unix/os.rs
  library/std/src/sys/pal/unsupported/common.rs
  library/std/src/sys/pal/wasi/os.rs
  library/std/src/sys/pal/windows/memchr.rs
  library/std/src/sys/pal/windows/mod.rs
  library/std/src/sys/pal/zkvm/mod.rs
  library/std/src/sys_common/memchr.rs
  library/std/src/sys_common/memchr/tests.rs
  library/std/src/sys_common/mod.rs
Labels: O-windows, S-waiting-on-bors, merged-by-bors, T-libs, O-SGX, O-unix, O-wasi, O-hermit, O-solid

#121728 Add stubs in IR and ABI for `f16` and `f128`
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/mod.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/traits/type_.rs
  compiler/rustc_const_eval/src/interpret/operator.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/build/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_pattern_analysis/src/rustc.rs
  compiler/rustc_smir/src/rustc_smir/convert/ty.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_target/src/abi/call/loongarch.rs
  compiler/rustc_target/src/abi/call/mod.rs
  compiler/rustc_target/src/abi/call/riscv.rs
  compiler/rustc_target/src/abi/call/x86_64.rs
  compiler/rustc_trait_selection/src/solve/assembly/mod.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_type_ir/src/ty_kind.rs
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_lints/src/float_literal.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  src/tools/miri/src/shims/intrinsics/simd.rs
  tests/ui/parser/f16-f128.rs
  tests/ui/parser/f16-f128.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor, F-f16_and_f128

#121462 Combine `Sub` and `Equate`
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_infer/src/infer/outlives/test_type_match.rs
  compiler/rustc_infer/src/infer/relate/combine.rs
  compiler/rustc_infer/src/infer/relate/equate.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_infer/src/infer/relate/glb.rs
  compiler/rustc_infer/src/infer/relate/higher_ranked.rs
  compiler/rustc_infer/src/infer/relate/lattice.rs
  compiler/rustc_infer/src/infer/relate/lub.rs
  compiler/rustc_infer/src/infer/relate/mod.rs
  compiler/rustc_infer/src/infer/relate/sub.rs
  compiler/rustc_infer/src/infer/relate/type_relating.rs
  compiler/rustc_middle/src/ty/_match.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui/traits/negative-bounds/opaque-type-unsatisfied-bound.rs
  tests/ui/traits/negative-bounds/opaque-type-unsatisfied-bound.stderr
  tests/ui/traits/negative-bounds/opaque-type-unsatisfied-fn-bound.rs
  tests/ui/traits/negative-bounds/opaque-type-unsatisfied-fn-bound.stderr
  tests/ui/type-alias-impl-trait/itiat-allow-nested-closures.bad.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, WG-trait-system-refactor

#120264 test: enable `unpacked-lto` tests
  tests/run-make/split-debuginfo/Makefile
Labels: S-waiting-on-bors, merged-by-bors

#113026 Introduce `run-make` V2 infrastructure, a `run_make_support` library and port over 2 tests as example
  Cargo.lock
  Cargo.toml
  src/bootstrap/src/core/build_steps/test.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/run-make-support/Cargo.toml
  src/tools/run-make-support/src/lib.rs
  tests/run-make/CURRENT_RUSTC_VERSION/Makefile
  tests/run-make/CURRENT_RUSTC_VERSION/rmake.rs
  tests/run-make/a-b-a-linker-guard/Makefile
  tests/run-make/a-b-a-linker-guard/rmake.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#121850 Make `ZeroablePrimitive` trait unsafe.
  library/core/src/num/nonzero.rs
Labels: S-waiting-on-author, S-waiting-on-bors, T-libs

#121853 normalizes-to: handle negative impls
  compiler/rustc_trait_selection/src/solve/normalizes_to/mod.rs
  tests/ui/traits/negative-impls/negative-impl-normalizes-to.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#121859 Rollup of 12 pull requests
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/astconv/lint.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_symbol_mangling/src/typeid.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_trait_selection/src/solve/normalizes_to/mod.rs
  library/core/src/num/nonzero.rs
  library/std/src/sync/mutex.rs
  src/tools/tidy/src/iter_header.rs
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
  src/tools/tidy/src/target_specific_tests.rs
  src/tools/tidy/src/tests_revision_unpaired_stdout_stderr.rs
  src/tools/tidy/src/walk.rs
  tests/mir-opt/building/logical_or_in_conditional.test_complex.built.after.mir
  tests/mir-opt/building/logical_or_in_conditional.test_or.built.after.mir
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.current.stderr
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.next.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.current_with.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.current_without.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.next_with.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.next_without.stderr
  tests/ui/async-await/return-type-notation/issue-110963-early.current.stderr
  tests/ui/async-await/return-type-notation/issue-110963-early.next.stderr
  tests/ui/async-await/return-type-notation/issue-110963-late.current.stderr
  tests/ui/async-await/return-type-notation/super-method-bound.current.stderr
  tests/ui/async-await/return-type-notation/supertrait-bound.current.stderr
  tests/ui/async-await/return-type-notation/supertrait-bound.next.stderr
  tests/ui/async-await/return-type-notation/ty-or-ct-params.current.stderr
  tests/ui/async-await/return-type-notation/ty-or-ct-params.next.stderr
  tests/ui/borrowck/borrowck-uninit.rs
  tests/ui/borrowck/borrowck-uninit.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.cfg_current.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.cfg_next.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.no_current.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.no_next.stderr
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/issue-71955.migrate.stderr
  tests/ui/imports/unused-imports-in-test-module.stderr
  tests/ui/issues/issue-40510-captured-variable-return/issue-40510-1.migrate.stderr
  tests/ui/issues/issue-40510-captured-variable-return/issue-40510-3.migrate.stderr
  tests/ui/lub-glb/old-lub-glb-hr-noteq1.baseleak.stderr
  tests/ui/lub-glb/old-lub-glb-hr-noteq1.basenoleak.stderr
  tests/ui/traits/negative-impls/negative-impl-normalizes-to.rs
  tests/ui/type/clarify-error-for-generics-with-default-issue-120785.rs
  tests/ui/type/clarify-error-for-generics-with-default-issue-120785.stderr
  tests/ui/typeck/invalid-stashed-level-issue-121812.rs
  tests/ui/typeck/invalid-stashed-level-issue-121812.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#121736 Remove `Mutex::unlock` Function
  library/std/src/sync/mutex.rs
Labels: S-waiting-on-bors, T-libs

#121784 Make the success arms of `if lhs || rhs` meet up in a separate block
  compiler/rustc_mir_build/src/build/matches/mod.rs
  tests/mir-opt/building/logical_or_in_conditional.test_complex.built.after.mir
  tests/mir-opt/building/logical_or_in_conditional.test_or.built.after.mir
Labels: T-compiler, S-waiting-on-bors

#121818 CFI: Remove unused `typeid_for_fnsig`
  compiler/rustc_symbol_mangling/src/typeid.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#121819 Handle stashing of delayed bugs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/src/astconv/lint.rs
  tests/ui/typeck/invalid-stashed-level-issue-121812.rs
  tests/ui/typeck/invalid-stashed-level-issue-121812.stderr
Labels: T-compiler, S-waiting-on-bors

#121828 Remove unused fluent messages
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_parse/messages.ftl
  compiler/rustc_resolve/messages.ftl
Labels: T-compiler, S-waiting-on-bors

#121831 Fix typo in comment
  compiler/rustc_mir_transform/src/known_panics_lint.rs
Labels: T-compiler, S-waiting-on-bors

#121416 Improve error messages for generics with default parameters
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_middle/src/ty/generics.rs
  tests/ui/type/clarify-error-for-generics-with-default-issue-120785.rs
  tests/ui/type/clarify-error-for-generics-with-default-issue-120785.stderr
Labels: T-compiler, S-waiting-on-bors

#121475 Add tidy check for .stderr/.stdout files for non-existent test revisions
  src/tools/tidy/src/iter_header.rs
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
  src/tools/tidy/src/target_specific_tests.rs
  src/tools/tidy/src/tests_revision_unpaired_stdout_stderr.rs
  src/tools/tidy/src/walk.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.current.stderr
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.next.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.current_with.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.current_without.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.next_with.stderr
  tests/ui/associated-type-bounds/return-type-notation/basic.next_without.stderr
  tests/ui/async-await/return-type-notation/issue-110963-early.current.stderr
  tests/ui/async-await/return-type-notation/issue-110963-early.next.stderr
  tests/ui/async-await/return-type-notation/issue-110963-late.current.stderr
  tests/ui/async-await/return-type-notation/super-method-bound.current.stderr
  tests/ui/async-await/return-type-notation/supertrait-bound.current.stderr
  tests/ui/async-await/return-type-notation/supertrait-bound.next.stderr
  tests/ui/async-await/return-type-notation/ty-or-ct-params.current.stderr
  tests/ui/async-await/return-type-notation/ty-or-ct-params.next.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.cfg_current.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.cfg_next.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.no_current.stderr
  tests/ui/feature-gates/feature-gate-return_type_notation.no_next.stderr
  tests/ui/higher-ranked/trait-bounds/normalize-under-binder/issue-71955.migrate.stderr
  tests/ui/issues/issue-40510-captured-variable-return/issue-40510-1.migrate.stderr
  tests/ui/issues/issue-40510-captured-variable-return/issue-40510-3.migrate.stderr
  tests/ui/lub-glb/old-lub-glb-hr-noteq1.baseleak.stderr
  tests/ui/lub-glb/old-lub-glb-hr-noteq1.basenoleak.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#121580 make unused_imports less assertive in test modules
  compiler/rustc_lint/src/context/diagnostics.rs
  tests/ui/imports/unused-imports-in-test-module.stderr
Labels: T-compiler, S-waiting-on-bors

#120646 Fix incorrect suggestion for uninitialized binding in pattern
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  tests/ui/borrowck/borrowck-uninit.rs
  tests/ui/borrowck/borrowck-uninit.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#121706 match lowering: Remove hacky branch in sort_candidate
  compiler/rustc_mir_build/src/build/matches/test.rs
Labels: T-compiler, S-waiting-on-bors

#121730 Add profiling support to AIX
  compiler/rustc_codegen_ssa/src/back/linker.rs
  library/profiler_builtins/build.rs
Labels: T-compiler, S-waiting-on-bors

#121750 match lowering: Separate the `bool` case from other integers in `TestKind`
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/test.rs
  tests/mir-opt/match_arm_scopes.complicated_match.panic-abort.SimplifyCfg-initial.after-ElaborateDrops.after.diff
  tests/mir-opt/match_arm_scopes.complicated_match.panic-unwind.SimplifyCfg-initial.after-ElaborateDrops.after.diff
Labels: T-compiler, S-waiting-on-bors

#121803 Never say "`Trait` is implemented for `{type error}`"
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui/associated-consts/issue-105330.stderr
Labels: T-compiler, S-waiting-on-bors

#121811 Move sanitizer ui tests to sanitizer directory
  src/tools/tidy/src/issues.txt
  tests/ui/sanitizer/address.rs
  tests/ui/sanitizer/badfree.rs
  tests/ui/sanitizer/cfg-kasan.rs
  tests/ui/sanitizer/cfg.rs
  tests/ui/sanitizer/cfi-canonical-jump-tables-requires-cfi.rs
  tests/ui/sanitizer/cfi-canonical-jump-tables-requires-cfi.stderr
  tests/ui/sanitizer/cfi-generalize-pointers-attr-cfg.rs
  tests/ui/sanitizer/cfi-generalize-pointers-requires-cfi.rs
  tests/ui/sanitizer/cfi-generalize-pointers-requires-cfi.stderr
  tests/ui/sanitizer/cfi-invalid-attr-cfi-encoding.rs
  tests/ui/sanitizer/cfi-invalid-attr-cfi-encoding.stderr
  tests/ui/sanitizer/cfi-is-incompatible-with-kcfi.aarch64.stderr
  tests/ui/sanitizer/cfi-is-incompatible-with-kcfi.rs
  tests/ui/sanitizer/cfi-is-incompatible-with-kcfi.x86_64.stderr
  tests/ui/sanitizer/cfi-normalize-integers-attr-cfg.rs
  tests/ui/sanitizer/cfi-normalize-integers-requires-cfi.rs
  tests/ui/sanitizer/cfi-normalize-integers-requires-cfi.stderr
  tests/ui/sanitizer/cfi-requires-lto.rs
  tests/ui/sanitizer/cfi-requires-lto.stderr
  tests/ui/sanitizer/cfi-with-rustc-lto-requires-single-codegen-unit.rs
  tests/ui/sanitizer/cfi-with-rustc-lto-requires-single-codegen-unit.stderr
  tests/ui/sanitizer/crt-static.rs
  tests/ui/sanitizer/crt-static.stderr
  tests/ui/sanitizer/hwaddress.rs
  tests/ui/sanitizer/incompatible.rs
  tests/ui/sanitizer/incompatible.stderr
  tests/ui/sanitizer/inline-always.rs
  tests/ui/sanitizer/inline-always.stderr
  tests/ui/sanitizer/issue-111184-cfi-coroutine-witness.rs
  tests/ui/sanitizer/issue-114275-cfi-const-expr-in-arry-len.rs
  tests/ui/sanitizer/issue-72154-address-lifetime-markers.rs
  tests/ui/sanitizer/leak.rs
  tests/ui/sanitizer/memory-eager.rs
  tests/ui/sanitizer/memory-passing.rs
  tests/ui/sanitizer/memory.rs
  tests/ui/sanitizer/new-llvm-pass-manager-thin-lto.rs
  tests/ui/sanitizer/split-lto-unit-requires-lto.rs
  tests/ui/sanitizer/split-lto-unit-requires-lto.stderr
  tests/ui/sanitizer/thread.rs
  tests/ui/sanitizer/unsupported-target.rs
  tests/ui/sanitizer/unsupported-target.stderr
  tests/ui/sanitizer/use-after-scope.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, PG-exploit-mitigations

#121824 Implement missing ABI structures in StableMIR
  compiler/rustc_smir/src/rustc_smir/convert/abi.rs
  compiler/stable_mir/src/abi.rs
  compiler/stable_mir/src/error.rs
  compiler/stable_mir/src/target.rs
  compiler/stable_mir/src/ty.rs
  tests/ui-fulldeps/stable-mir/check_abi.rs
Labels: T-compiler, S-waiting-on-bors

#121497 `-Znext-solver=coherence`: suggest increasing recursion limit
  compiler/rustc_infer/src/traits/mod.rs
  compiler/rustc_infer/src/traits/structural_impls.rs
  compiler/rustc_middle/src/traits/solve.rs
  compiler/rustc_trait_selection/src/solve/alias_relate.rs
  compiler/rustc_trait_selection/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/search_graph.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/specialization_graph.rs
  tests/ui/higher-ranked/trait-bounds/issue-95230.next.stderr
  tests/ui/lazy-type-alias/inherent-impls-overflow.next.stderr
  tests/ui/traits/next-solver/alias-bound-unsound.stderr
  tests/ui/traits/next-solver/coherence-fulfill-overflow.stderr
  tests/ui/traits/next-solver/coherence/trait_ref_is_knowable-norm-overflow.stderr
  tests/ui/traits/next-solver/cycles/coinduction/fixpoint-exponential-growth.stderr
  tests/ui/traits/next-solver/cycles/double-cycle-inductive-coinductive.stderr
  tests/ui/traits/next-solver/cycles/inductive-fixpoint-hang.stderr
  tests/ui/traits/next-solver/cycles/inductive-not-on-stack.stderr
  tests/ui/traits/next-solver/cycles/mixed-cycles-1.stderr
  tests/ui/traits/next-solver/cycles/mixed-cycles-2.stderr
  tests/ui/traits/next-solver/normalize-param-env-2.stderr
  tests/ui/traits/next-solver/normalize-param-env-4.next.stderr
  tests/ui/traits/next-solver/overflow/exponential-trait-goals.stderr
  tests/ui/traits/next-solver/overflow/recursion-limit-zero-issue-115351.rs
  tests/ui/traits/next-solver/overflow/recursion-limit-zero-issue-115351.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#121634 Clarify behavior of slice prefix/suffix operations in case of equality
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#120305 Delete line if suggestion would replace it with an empty line
  compiler/rustc_errors/src/json.rs
  src/tools/clippy/tests/ui/derivable_impls.fixed
  src/tools/clippy/tests/ui/empty_drop.fixed
  src/tools/clippy/tests/ui/must_use_unit.fixed
  src/tools/clippy/tests/ui/single_component_path_imports.fixed
  tests/ui/associated-types/impl-wf-cycle-6.fixed
  tests/ui/generics/generic-no-mangle.fixed
  tests/ui/imports/issue-52891.fixed
  tests/ui/imports/unused-import-issue-87973.fixed
  tests/ui/lazy-type-alias/leading-where-clause.fixed
  tests/ui/lint/suggestions.fixed
  tests/ui/lint/unused/import_remove_line.fixed
  tests/ui/lint/unused/import_remove_line.rs
  tests/ui/lint/unused/import_remove_line.stderr
  tests/ui/resolve/resolve-conflict-import-vs-import.fixed
  tests/ui/rust-2018/extern-crate-idiomatic-in-2018.fixed
  tests/ui/rust-2018/issue-54400-unused-extern-crate-attr-span.fixed
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#121153 Suggest removing superfluous semicolon when statements used as expression
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_infer/src/infer/error_reporting/mod.rs
  compiler/rustc_infer/src/infer/error_reporting/suggest.rs
  tests/ui/inference/stmts-as-exp-105431.rs
  tests/ui/inference/stmts-as-exp-105431.stderr
Labels: T-compiler, S-waiting-on-bors

#111505 Made `INVALID_DOC_ATTRIBUTES` lint deny by default
  compiler/rustc_lint_defs/src/builtin.rs
  tests/rustdoc-ui/doc-include-suggestion.rs
  tests/rustdoc-ui/doc-include-suggestion.stderr
  tests/rustdoc-ui/doctest/doc-test-attr.rs
  tests/rustdoc-ui/doctest/doc-test-attr.stderr
  tests/rustdoc-ui/lints/doc-attr.rs
  tests/rustdoc-ui/lints/doc-attr.stderr
  tests/rustdoc-ui/lints/doc-spotlight.fixed
  tests/rustdoc-ui/lints/doc-spotlight.rs
  tests/rustdoc-ui/lints/doc-spotlight.stderr
  tests/rustdoc-ui/lints/doc_cfg_hide.rs
  tests/rustdoc-ui/lints/doc_cfg_hide.stderr
  tests/rustdoc-ui/lints/invalid-doc-attr.rs
  tests/rustdoc-ui/lints/invalid-doc-attr.stderr
  tests/ui/attributes/doc-attr.rs
  tests/ui/attributes/doc-attr.stderr
  tests/ui/attributes/doc-test-literal.rs
  tests/ui/attributes/doc-test-literal.stderr
  tests/ui/future-incompatible-lint-group.rs
  tests/ui/future-incompatible-lint-group.stderr
  tests/ui/repr/invalid_repr_list_help.rs
  tests/ui/repr/invalid_repr_list_help.stderr
  tests/ui/rustdoc/deny-invalid-doc-attrs.rs
  tests/ui/rustdoc/deny-invalid-doc-attrs.stderr
  tests/ui/rustdoc/doc-primitive.rs
  tests/ui/rustdoc/doc-primitive.stderr
  tests/ui/rustdoc/doc-test-attr.rs
  tests/ui/rustdoc/doc-test-attr.stderr
Labels: T-rustdoc, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, A-edition-2024

#121657 Detect more cases of `=` to `:` typo
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/stmt.rs
  tests/ui/const-generics/bad-const-generic-exprs.stderr
  tests/ui/issues/issue-34334.stderr
  tests/ui/parser/better-expected.stderr
  tests/ui/parser/issues/issue-84117.stderr
  tests/ui/parser/missing-closing-angle-bracket-eq-constraint.stderr
  tests/ui/parser/nested-missing-closing-angle-bracket.stderr
  tests/ui/parser/recover/recover-colon-instead-of-eq-in-local.rs
  tests/ui/parser/recover/recover-colon-instead-of-eq-in-local.stderr
  tests/ui/parser/removed-syntax/removed-syntax-fn-sigil.stderr
  tests/ui/pattern/bindings-after-at/nested-type-ascription-syntactically-invalid.stderr
  tests/ui/stats/hir-stats.stderr
  tests/ui/type/type-ascription-instead-of-initializer.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#121864 Don't grab variances in `TypeRelating` relation if we're invariant
  compiler/rustc_infer/src/infer/relate/type_relating.rs
  tests/ui/associated-inherent-types/variance-computation-requires-equality.rs
  tests/ui/associated-inherent-types/variance-computation-requires-equality.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, T-types

#121815 Move `gather_comments`.
  Cargo.lock
  compiler/rustc_ast/src/util/comments.rs
  compiler/rustc_ast_pretty/Cargo.toml
  compiler/rustc_ast_pretty/src/pprust/state.rs
Labels: T-compiler, S-waiting-on-bors

#121835 Move `HandleStore` into `server.rs`.
  library/proc_macro/src/bridge/client.rs
  library/proc_macro/src/bridge/mod.rs
  library/proc_macro/src/bridge/server.rs
  library/proc_macro/src/bridge/symbol.rs
Labels: S-waiting-on-bors

#121847 Remove hidden use of Global
  library/alloc/src/collections/btree/map.rs
Labels: S-waiting-on-bors, T-libs

#121861 Use the guaranteed precision of a couple of float functions in docs
  library/std/src/f32.rs
  library/std/src/f64.rs
Labels: S-waiting-on-bors, T-libs

#121875 Account for unmet T: !Copy in E0277 message
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/traits/negative-bounds/simple.stderr
Labels: T-compiler, S-waiting-on-bors

#121890 Rollup of 9 pull requests
  Cargo.lock
  compiler/rustc_ast/src/util/comments.rs
  compiler/rustc_ast_pretty/Cargo.toml
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_error_codes/src/error_codes/E0716.md
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  compiler/rustc_mir_build/src/build/matches/util.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  library/alloc/src/collections/btree/map.rs
  library/proc_macro/src/bridge/client.rs
  library/proc_macro/src/bridge/mod.rs
  library/proc_macro/src/bridge/server.rs
  library/proc_macro/src/bridge/symbol.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  library/std/src/fs.rs
  tests/ui/traits/negative-bounds/simple.stderr
  tests/ui/traits/on_unimplemented_long_types.rs
  tests/ui/traits/on_unimplemented_long_types.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#121715 match lowering: pre-simplify or-patterns too
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  compiler/rustc_mir_build/src/build/matches/util.rs
Labels: T-compiler, S-waiting-on-bors

#121739 Display short types for unimplemented trait
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/on_unimplemented.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/type_err_ctxt_ext.rs
  tests/ui/traits/on_unimplemented_long_types.rs
  tests/ui/traits/on_unimplemented_long_types.stderr
Labels: T-compiler, S-waiting-on-bors

#120684 Update E0716.md for clarity
  compiler/rustc_error_codes/src/error_codes/E0716.md
Labels: T-compiler, S-waiting-on-bors

#109263 fix typo in documentation for std::fs::Permissions
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#121758 Move thread local implementation to `sys`
  library/std/src/sys/mod.rs
  library/std/src/sys/pal/common/mod.rs
  library/std/src/sys/thread_local/fast_local.rs
  library/std/src/sys/thread_local/mod.rs
  library/std/src/sys/thread_local/os_local.rs
  library/std/src/sys/thread_local/static_local.rs
  library/std/src/thread/mod.rs
Labels: S-waiting-on-bors, T-libs

#121759 attempt to further clarify addr_of docs
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, T-libs

#121855 Correctly generate item info of trait items
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc/trait-item-info.rs
Labels: T-rustdoc, S-waiting-on-bors

#121888 style library/core/src/error.rs
  library/core/src/error.rs
Labels: S-waiting-on-bors, T-libs

#121892 The ordinary lowering of `thir::ExprKind::Let` is unreachable
  compiler/rustc_mir_build/src/build/expr/into.rs
Labels: T-compiler, S-waiting-on-bors

#121895 avoid collecting into vecs in some places
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#121904 Rollup of 7 pull requests
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_hir_analysis/src/astconv/mod.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  library/core/src/error.rs
  library/core/src/ptr/mod.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/pal/common/mod.rs
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/itron/thread.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/teeos/thread.rs
  library/std/src/sys/pal/uefi/thread.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unsupported/thread.rs
  library/std/src/sys/pal/wasi/thread.rs
  library/std/src/sys/pal/windows/c.rs
  library/std/src/sys/pal/windows/c/bindings.txt
  library/std/src/sys/pal/windows/c/windows_sys.rs
  library/std/src/sys/pal/windows/thread.rs
  library/std/src/sys/pal/xous/thread.rs
  library/std/src/sys/thread_local/fast_local.rs
  library/std/src/sys/thread_local/mod.rs
  library/std/src/sys/thread_local/os_local.rs
  library/std/src/sys/thread_local/static_local.rs
  library/std/src/sys_common/thread_info.rs
  library/std/src/thread/mod.rs
  library/std/src/thread/tests.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  tests/rustdoc/trait-item-info.rs
Labels: O-windows, T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-SGX, O-unix, WG-trait-system-refactor, O-wasi, O-hermit, O-itron

#121666 Use the OS thread name by default if `THREAD_INFO` has not been initialized
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/itron/thread.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/teeos/thread.rs
  library/std/src/sys/pal/uefi/thread.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unsupported/thread.rs
  library/std/src/sys/pal/wasi/thread.rs
  library/std/src/sys/pal/windows/c.rs
  library/std/src/sys/pal/windows/c/bindings.txt
  library/std/src/sys/pal/windows/c/windows_sys.rs
  library/std/src/sys/pal/windows/thread.rs
  library/std/src/sys/pal/xous/thread.rs
  library/std/src/sys_common/thread_info.rs
  library/std/src/thread/tests.rs
Labels: O-windows, S-waiting-on-bors, T-libs, O-SGX, O-unix, O-wasi, O-hermit, O-itron

#121914 Rollup of 5 pull requests
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_const_eval/src/util/compare_types.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_linux_gnu.rs
  library/alloc/src/task.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/task.rs
  src/bootstrap/configure.py
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/src/core/build_steps/llvm.rs
  src/doc/unstable-book/src/compiler-flags/sanitizer.md
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_lints/src/approx_const.rs
  src/tools/clippy/clippy_lints/src/float_literal.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/tidy/src/ui_tests.rs
  tests/codegen/sanitizer/dataflow-instrument-functions.rs
  tests/mir-opt/early_otherwise_branch.opt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt2.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt3.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_3_element_tuple.opt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_68867.try_sum.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_noopt.noopt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/exponential_or.match_tuple.SimplifyCfg-initial.after.mir
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/impl-trait/hidden-type-is-opaque-2.default.stderr
  tests/ui/impl-trait/hidden-type-is-opaque-2.next.stderr
  tests/ui/impl-trait/hidden-type-is-opaque-2.rs
  tests/ui/pattern/bindings-after-at/bind-by-copy-or-pat.rs
  tests/ui/pattern/bindings-after-at/bind-by-copy-or-pat.stderr
  tests/ui/sanitizer/dataflow-abilist.txt
  tests/ui/sanitizer/dataflow.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#121622 Preserve same vtable pointer when cloning raw waker, to fix Waker::will_wake
  library/alloc/src/task.rs
  library/alloc/tests/lib.rs
  library/alloc/tests/task.rs
Labels: S-waiting-on-bors, T-libs

#121716 match lowering: Lower bindings in a predictable order
  compiler/rustc_mir_build/src/build/matches/mod.rs
  compiler/rustc_mir_build/src/build/matches/simplify.rs
  tests/mir-opt/early_otherwise_branch.opt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt2.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt3.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_3_element_tuple.opt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_68867.try_sum.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_noopt.noopt1.EarlyOtherwiseBranch.diff
  tests/mir-opt/exponential_or.match_tuple.SimplifyCfg-initial.after.mir
  tests/ui/pattern/bindings-after-at/bind-by-copy-or-pat.rs
  tests/ui/pattern/bindings-after-at/bind-by-copy-or-pat.stderr
Labels: T-compiler, S-waiting-on-bors

#121731 Now that inlining, mir validation and const eval all use reveal-all, we won't be constraining hidden types here anymore
  compiler/rustc_const_eval/src/util/compare_types.rs
  tests/ui/impl-trait/hidden-type-is-opaque-2.default.stderr
  tests/ui/impl-trait/hidden-type-is-opaque-2.next.stderr
  tests/ui/impl-trait/hidden-type-is-opaque-2.rs
Labels: T-compiler, S-waiting-on-bors

#121841 `f16` and `f128` step 2: intrinsics
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_symbol_mangling/src/typeid/typeid_itanium_cxx_abi.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_lints/src/approx_const.rs
  src/tools/clippy/clippy_lints/src/float_literal.rs
  src/tools/clippy/clippy_utils/src/consts.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, WG-trait-system-refactor, F-f16_and_f128

#120761 Add initial support for DataFlowSanitizer
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_session/src/options.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_linux_gnu.rs
  src/bootstrap/configure.py
  src/bootstrap/download-ci-llvm-stamp
  src/bootstrap/src/core/build_steps/llvm.rs
  src/doc/unstable-book/src/compiler-flags/sanitizer.md
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/tidy/src/ui_tests.rs
  tests/codegen/sanitizer/dataflow-instrument-functions.rs
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/sanitizer/dataflow-abilist.txt
  tests/ui/sanitizer/dataflow.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, PG-exploit-mitigations

#121856 Cleanup windows `abort_internal`
  library/panic_abort/src/lib.rs
  library/std/src/sys/pal/windows/c/bindings.txt
  library/std/src/sys/pal/windows/c/windows_sys.rs
  library/std/src/sys/pal/windows/mod.rs
Labels: O-windows, S-waiting-on-bors, merged-by-bors, T-libs

#121877 On tests that specify `--color=always` emit SVG file with stderr output
  Cargo.lock
  src/tools/compiletest/Cargo.toml
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/tidy/src/ui_tests.rs
  tests/ui/diagnostic-flags/colored-session-opt-error.rs
  tests/ui/diagnostic-flags/colored-session-opt-error.stderr
  tests/ui/diagnostic-flags/colored-session-opt-error.svg
  tests/ui/error-emitter/highlighting.not-windows.stderr
  tests/ui/error-emitter/highlighting.rs
  tests/ui/error-emitter/highlighting.svg
  tests/ui/error-emitter/highlighting.windows.stderr
  tests/ui/error-emitter/highlighting.windows.svg
  tests/ui/error-emitter/multiline-multipart-suggestion.not-windows.stderr
  tests/ui/error-emitter/multiline-multipart-suggestion.rs
  tests/ui/error-emitter/multiline-multipart-suggestion.svg
  tests/ui/error-emitter/multiline-multipart-suggestion.windows.stderr
  tests/ui/error-emitter/multiline-multipart-suggestion.windows.svg
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#121903 Remove underscore from QNX target file name
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/aarch64_unknown_nto_qnx710.rs
  tests/assembly/targets/targets-elf.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#121933 Add missing get_name for wasm::thread.
  library/std/src/sys/pal/wasm/atomics/thread.rs
Labels: O-wasm, S-waiting-on-bors, T-libs

#121934 rustc_log: expose tracing-tree "wraparound" in an env var
  compiler/rustc_log/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#121763 Update outdated LLVM comment
  compiler/rustc_codegen_llvm/src/llvm_util.rs
Labels: C-cleanup, A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors

#121665 Always generate GEP i8 / ptradd for struct offsets
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_llvm/src/va_arg.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
  compiler/rustc_codegen_ssa/src/traits/type_.rs
  tests/codegen/align-struct.rs
  tests/codegen/i128-x86-align.rs
  tests/codegen/issues/issue-105386-ub-in-debuginfo.rs
  tests/codegen/issues/issue-121719-common-field-offset.rs
  tests/codegen/zst-offset.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#121935 library/ptr: mention that ptr::without_provenance is equivalent to deriving from the null ptr
  library/core/src/ptr/mod.rs
Labels: S-waiting-on-bors, T-libs

#121945 Run some ui-fulldeps tests on stage 1 again
  tests/ui-fulldeps/hash-stable-is-unstable.rs
  tests/ui-fulldeps/hash-stable-is-unstable.stderr
  tests/ui-fulldeps/pathless-extern-unstable.rs
  tests/ui-fulldeps/pathless-extern-unstable.stderr
Labels: T-compiler, S-waiting-on-bors

#121955 Rollup of 5 pull requests
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_resolve/src/late.rs
  library/core/src/ptr/mod.rs
  src/tools/tidy/src/issues.txt
  src/tools/tidy/src/ui_tests.rs
  tests/ui-fulldeps/hash-stable-is-unstable.rs
  tests/ui-fulldeps/hash-stable-is-unstable.stderr
  tests/ui-fulldeps/pathless-extern-unstable.rs
  tests/ui-fulldeps/pathless-extern-unstable.stderr
  tests/ui/associated-types/issue-26262.rs
  tests/ui/associated-types/issue-26262.stderr
  tests/ui/codegen/issue-27859.rs
  tests/ui/deriving/issue-18738.rs
  tests/ui/drop/issue-23611-enum-swap-in-drop.rs
  tests/ui/drop/issue-23611-enum-swap-in-drop.stderr
  tests/ui/dyn-keyword/issue-5153.rs
  tests/ui/dyn-keyword/issue-5153.stderr
  tests/ui/inference/issue-3743.rs
  tests/ui/lint/lint-non-snake-case-crate-2.stderr
  tests/ui/lint/lint-non-snake-case-crate-bin.rs
  tests/ui/lint/lint-non-snake-case-crate-bin2.rs
  tests/ui/lint/lint-non-snake-case-crate-bin3.rs
  tests/ui/lint/lint-non-snake-case-crate-cdylib.rs
  tests/ui/lint/lint-non-snake-case-crate-cdylib.stderr
  tests/ui/lint/lint-non-snake-case-crate-dylib.rs
  tests/ui/lint/lint-non-snake-case-crate-dylib.stderr
  tests/ui/lint/lint-non-snake-case-crate-lib.rs
  tests/ui/lint/lint-non-snake-case-crate-lib.stderr
  tests/ui/lint/lint-non-snake-case-crate-proc-macro.rs
  tests/ui/lint/lint-non-snake-case-crate-proc-macro.stderr
  tests/ui/lint/lint-non-snake-case-crate-rlib.rs
  tests/ui/lint/lint-non-snake-case-crate-rlib.stderr
  tests/ui/lint/lint-non-snake-case-crate-staticlib.rs
  tests/ui/lint/lint-non-snake-case-crate-staticlib.stderr
  tests/ui/lint/lint-qualification.fixed
  tests/ui/lint/lint-qualification.rs
  tests/ui/lint/lint-qualification.stderr
  tests/ui/loops/issue-43162.rs
  tests/ui/loops/issue-43162.stderr
  tests/ui/macros/issue-30007.rs
  tests/ui/macros/issue-30007.stderr
  tests/ui/macros/issue-6596-2.rs
  tests/ui/macros/issue-6596-2.stderr
  tests/ui/match/issue-36401.rs
  tests/ui/match/issue-37598.rs
  tests/ui/methods/issue-19521.rs
  tests/ui/methods/issue-19521.stderr
  tests/ui/methods/issue-7950.rs
  tests/ui/methods/issue-7950.stderr
  tests/ui/process/issue-30490.rs
  tests/ui/static/issue-24446.rs
  tests/ui/static/issue-24446.stderr
  tests/ui/std/issue-3563-3.rs
  tests/ui/std/issue-3563-3.stderr
  tests/ui/traits/issue-15155.rs
  tests/ui/traits/issue-21837.rs
  tests/ui/traits/issue-21837.stderr
  tests/ui/traits/issue-33187.rs
  tests/ui/traits/issue-3979-generics.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#121248 Move some tests
  src/tools/tidy/src/issues.txt
  src/tools/tidy/src/ui_tests.rs
  tests/ui/associated-types/issue-26262.rs
  tests/ui/associated-types/issue-26262.stderr
  tests/ui/codegen/issue-27859.rs
  tests/ui/deriving/issue-18738.rs
  tests/ui/drop/issue-23611-enum-swap-in-drop.rs
  tests/ui/drop/issue-23611-enum-swap-in-drop.stderr
  tests/ui/dyn-keyword/issue-5153.rs
  tests/ui/dyn-keyword/issue-5153.stderr
  tests/ui/inference/issue-3743.rs
  tests/ui/loops/issue-43162.rs
  tests/ui/loops/issue-43162.stderr
  tests/ui/macros/issue-30007.rs
  tests/ui/macros/issue-30007.stderr
  tests/ui/macros/issue-6596-2.rs
  tests/ui/macros/issue-6596-2.stderr
  tests/ui/match/issue-36401.rs
  tests/ui/match/issue-37598.rs
  tests/ui/methods/issue-19521.rs
  tests/ui/methods/issue-19521.stderr
  tests/ui/methods/issue-7950.rs
  tests/ui/methods/issue-7950.stderr
  tests/ui/process/issue-30490.rs
  tests/ui/static/issue-24446.rs
  tests/ui/static/issue-24446.stderr
  tests/ui/std/issue-3563-3.rs
  tests/ui/std/issue-3563-3.stderr
  tests/ui/traits/issue-15155.rs
  tests/ui/traits/issue-21837.rs
  tests/ui/traits/issue-21837.stderr
  tests/ui/traits/issue-33187.rs
  tests/ui/traits/issue-3979-generics.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#121528 Consider middle segments of paths in `unused_qualifications`
  compiler/rustc_resolve/src/late.rs
  tests/ui/lint/lint-qualification.fixed
  tests/ui/lint/lint-qualification.rs
  tests/ui/lint/lint-qualification.stderr
Labels: T-compiler, S-waiting-on-bors

#120585 Promote OpenHarmony targets to tier 2
  .github/workflows/ci.yml
  src/ci/docker/host-x86_64/dist-ohos/Dockerfile
  src/ci/docker/scripts/ohos-sdk.sh
  src/ci/docker/scripts/ohos/aarch64-unknown-linux-ohos-clang++.sh
  src/ci/docker/scripts/ohos/aarch64-unknown-linux-ohos-clang.sh
  src/ci/docker/scripts/ohos/armv7-unknown-linux-ohos-clang++.sh
  src/ci/docker/scripts/ohos/armv7-unknown-linux-ohos-clang.sh
  src/ci/docker/scripts/ohos/x86_64-unknown-linux-ohos-clang++.sh
  src/ci/docker/scripts/ohos/x86_64-unknown-linux-ohos-clang.sh
  src/ci/github-actions/ci.yml
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/openharmony.md
  src/tools/build-manifest/src/main.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#121912 Properly deal with GATs when looking for method chains to point at
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/typeck/method-chain-gats.rs
  tests/ui/typeck/method-chain-gats.stderr
Labels: T-compiler, S-waiting-on-bors

#121927 Add a proper `with_no_queries` to printing
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_query_impl/src/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#121964 Rollup of 3 pull requests
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_trait_selection/src/lib.rs
  compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs
  tests/ui/macros/defined-later-issue-121061-2.rs
  tests/ui/macros/defined-later-issue-121061-2.stderr
  tests/ui/macros/defined-later-issue-121061.rs
  tests/ui/macros/defined-later-issue-121061.stderr
  tests/ui/typeck/method-chain-gats.rs
  tests/ui/typeck/method-chain-gats.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-query-system

#121130 Suggest moving definition if non-found macro_rules! is defined later
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  tests/ui/macros/defined-later-issue-121061-2.rs
  tests/ui/macros/defined-later-issue-121061-2.stderr
  tests/ui/macros/defined-later-issue-121061.rs
  tests/ui/macros/defined-later-issue-121061.stderr
Labels: T-compiler, relnotes, S-waiting-on-bors

#120468 Add a new `wasm32-wasip1` target to rustc
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasi.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip1.rs
  config.example.toml
  src/bootstrap/src/core/build_steps/compile.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/ci/docker/host-x86_64/dist-various-2/build-wasi-toolchain.sh
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/wasm32-wasip1.md
  src/tools/build-manifest/src/main.rs
  src/tools/compiletest/src/header/tests.rs
  tests/assembly/stack-protector/stack-protector-target-support.rs
  tests/assembly/targets/targets-elf.rs
  tests/ui/abi/compatibility.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#121994 Update platform-support.md with supported musl version
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors

#121683 Fix LVI tests after frame pointers are enabled by default
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/cmake_plus_one_cxx_global_asm.checks
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/print.with_frame_pointers.checks
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/print.without_frame_pointers.checks
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/script.sh
Labels: S-waiting-on-bors

#121703 Add a way to add constructors for `rustc_type_ir` types
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/region.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_next_trait_solver/src/canonicalizer.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/lib.rs
  compiler/rustc_type_ir/src/new.rs
Labels: T-compiler, S-waiting-on-bors

#121732 Improve assert_matches! documentation
  library/core/src/macros/mod.rs
Labels: S-waiting-on-bors, T-libs

#121928 Extract an arguments struct for `Builder::then_else_break`
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_mir_build/src/build/matches/mod.rs
Labels: T-compiler, S-waiting-on-bors

#121939 Small enhancement to description of From trait
  library/core/src/convert/mod.rs
Labels: S-waiting-on-bors, T-libs

#121968 Don't run test_get_os_named_thread on win7
  library/std/src/thread/tests.rs
Labels: S-waiting-on-bors, T-libs

#121977 Doc: Fix incorrect reference to integer in Atomic{Ptr,Bool}::as_ptr.
  library/core/src/sync/atomic.rs
Labels: S-waiting-on-bors, T-libs

#120976 constify a couple thread_local statics
  compiler/rustc_data_structures/src/sync/worker_local.rs
  compiler/rustc_errors/src/markdown/term.rs
  library/proc_macro/src/bridge/client.rs
  library/proc_macro/src/bridge/server.rs
Labels: T-compiler, S-waiting-on-bors

#120675 Add a scheme for moving away from `extern "rust-intrinsic"` entirely
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/intrinsic.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_dataflow/src/rustc_peek.rs
  compiler/rustc_mir_transform/src/cross_crate_inline.rs
  compiler/rustc_mir_transform/src/instsimplify.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_mir_transform/src/lower_intrinsics.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_ty_utils/src/instance.rs
  library/core/src/intrinsics.rs
  src/doc/unstable-book/src/language-features/intrinsics.md
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  tests/ui/intrinsics/always-gets-overridden.rs
  tests/ui/intrinsics/not-overridden.rs
  tests/ui/intrinsics/not-overridden.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#121001 perf: improve write_fmt to handle simple strings
  library/core/src/fmt/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#121913 Don't panic when waiting on poisoned queries
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#121987 pattern analysis: abort on arity mismatch
  compiler/rustc_pattern_analysis/src/usefulness.rs
Labels: T-compiler, S-waiting-on-bors

#121993 Avoid using unnecessary queries when printing the query stack in panics
  compiler/rustc_query_impl/src/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#121997 interpret/cast: make more matches on FloatTy properly exhaustive
  compiler/rustc_const_eval/src/interpret/cast.rs
Labels: T-compiler, S-waiting-on-bors

#121664 Adjust error `yield`/`await` lowering
  compiler/rustc_ast_lowering/src/expr.rs
  tests/ui/async-await/async-outside-of-await-issue-121096.rs
  tests/ui/async-await/async-outside-of-await-issue-121096.stderr
Labels: T-compiler, S-waiting-on-bors

#121838 Use the correct logic for nested impl trait in assoc types
  compiler/rustc_ty_utils/src/opaque_types.rs
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field3.rs
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field3.stderr
Labels: T-compiler, S-waiting-on-bors

#121213 Add an example to demonstrate how Rc::into_inner works
  library/alloc/src/rc.rs
Labels: S-waiting-on-bors, T-libs

#121262 Add vector time complexity
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#121287 Clarify/add `must_use` message for Rc/Arc/Weak::into_raw.
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
Labels: S-waiting-on-bors, T-libs

#121138 Add ASCII fast-path for `char::is_grapheme_extended`
  library/core/src/char/methods.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#121992 tidy: split dots in filename not the entire path when checking for stray stdout/stderr files
  src/tools/tidy/src/tests_revision_unpaired_stdout_stderr.rs
  tests/rustdoc/invalid$crate$name.rs
  tests/ui/command/need-crate-arg-ignore-tidy$x.rs
  tests/ui/command/need-crate-arg-ignore-tidy$x.stderr
  tests/ui/meta/dir.with.dots/test.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#121428 net: Don't use checked arithmetic when parsing numbers with known max digits
  library/core/benches/lib.rs
  library/core/benches/net/addr_parser.rs
  library/core/benches/net/mod.rs
  library/core/src/net/parser.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#121846 only compare ambiguity item that have hard error
  compiler/rustc_resolve/src/imports.rs
  tests/ui/imports/unresolved-seg-after-ambiguous.rs
  tests/ui/imports/unresolved-seg-after-ambiguous.stderr
Labels: T-compiler, S-waiting-on-bors

#121961 add test for #78894 #71450
  tests/ui/lint/use-redundant/use-redundant-issue-71450.rs
  tests/ui/lint/use-redundant/use-redundant-issue-71450.stderr
  tests/ui/lint/use-redundant/use-redundant-issue-78894.rs
  tests/ui/lint/use-redundant/use-redundant-issue-78894.stderr
Labels: T-compiler, S-waiting-on-bors

#121975 hir_analysis: enums return `None` in `find_field`
  compiler/rustc_hir_analysis/src/collect.rs
  tests/ui/union/unnamed-fields/unnamed-enum-field-issue-121757.rs
  tests/ui/union/unnamed-fields/unnamed-enum-field-issue-121757.stderr
Labels: T-compiler, S-waiting-on-bors

#121978 Fix duplicated path in the "not found dylib" error
  compiler/rustc_metadata/src/creader.rs
  tests/ui/codegen/duplicated-path-in-error.rs
  tests/ui/codegen/duplicated-path-in-error.stderr
Labels: T-compiler, S-waiting-on-bors

#121991 Merge impl_trait_in_assoc_types_defined_by query back into `opaque_types_defined_by`
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_ty_utils/src/opaque_types.rs
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field2.rs
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field2.stderr
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field3.rs
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field3.stderr
Labels: T-compiler, S-waiting-on-bors

#122041 Rollup of 8 pull requests
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_driver_impl/messages.ftl
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_driver_impl/src/session_diagnostics.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_ty_utils/src/opaque_types.rs
  src/tools/rustfmt/src/parse/session.rs
  src/tools/rustfmt/tests/rustfmt/main.rs
  src/tools/rustfmt/tests/target/issue_6082.rs
  tests/ui/check-cfg/mix.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/codegen/duplicated-path-in-error.rs
  tests/ui/codegen/duplicated-path-in-error.stderr
  tests/ui/imports/unresolved-seg-after-ambiguous.rs
  tests/ui/imports/unresolved-seg-after-ambiguous.stderr
  tests/ui/lint/use-redundant/use-redundant-issue-71450.rs
  tests/ui/lint/use-redundant/use-redundant-issue-71450.stderr
  tests/ui/lint/use-redundant/use-redundant-issue-78894.rs
  tests/ui/lint/use-redundant/use-redundant-issue-78894.stderr
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field2.rs
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field2.stderr
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field3.rs
  tests/ui/type-alias-impl-trait/hidden_behind_struct_field3.stderr
  tests/ui/union/unnamed-fields/unnamed-enum-field-issue-121757.rs
  tests/ui/union/unnamed-fields/unnamed-enum-field-issue-121757.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#121301 errors: share `SilentEmitter` between rustc and rustfmt
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_session/src/parse.rs
  src/tools/rustfmt/src/parse/session.rs
  src/tools/rustfmt/tests/rustfmt/main.rs
  src/tools/rustfmt/tests/target/issue_6082.rs
Labels: T-compiler, S-waiting-on-bors

#121658 Hint user to update nightly on ICEs produced from outdated nightly
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_driver_impl/messages.ftl
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_driver_impl/src/session_diagnostics.rs
Labels: T-compiler, S-waiting-on-bors

#121202 Limit the number of names and values in check-cfg diagnostics
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_session/src/options.rs
  tests/ui/check-cfg/mix.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors, F-check-cfg

#121744 Stop using Bubble in coherence and instead emulate it with an intercrate check
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
Labels: T-compiler, S-waiting-on-bors

#121829 Dummy tweaks (attempt 2)
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_expand/src/base.rs
Labels: T-compiler, S-waiting-on-bors

#121857 Implement async closure signature deduction
  compiler/rustc_hir_typeck/src/closure.rs
  tests/ui/async-await/async-closures/signature-deduction.rs
Labels: T-compiler, S-waiting-on-bors

#121894 const_eval_select: make it safe but be careful with what we expose on stable for now
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  library/alloc/src/alloc.rs
  library/core/src/ffi/c_str.rs
  library/core/src/intrinsics.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/panicking.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/slice/index.rs
  library/core/src/str/mod.rs
  tests/ui/intrinsics/const-eval-select-backtrace.rs
  tests/ui/intrinsics/const-eval-select-backtrace.run.stderr
  tests/ui/intrinsics/const-eval-select-stability.rs
  tests/ui/intrinsics/const-eval-select-x86_64.rs
  tests/ui/intrinsics/const-eval-select.rs
  tests/ui/rfcs/rfc-2632-const-trait-impl/effects/minicore.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#122014 Change some attributes to only_local.
  compiler/rustc_feature/src/builtin_attrs.rs
Labels: T-compiler, S-waiting-on-bors

#122016 will_wake tests fail on Miri and that is expected
  library/alloc/tests/task.rs
Labels: S-waiting-on-bors, T-libs

#122018 only set noalias on Box with the global allocator
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_codegen_cranelift/example/mini_core.rs
  compiler/rustc_codegen_cranelift/src/unsize.rs
  compiler/rustc_codegen_gcc/example/mini_core.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/terminator.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_ty_utils/src/abi.rs
  library/alloc/src/alloc.rs
  library/alloc/src/boxed.rs
  tests/codegen/function-arguments.rs
  tests/ui/abi/compatibility.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#121065 Add basic i18n guidance for `Display`
  library/core/src/fmt/mod.rs
Labels: S-waiting-on-bors, T-libs

#119455 Embed length of offset/position into Span tag byte
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#121679 stricter hidden type wf-check [based on #115008]
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_infer/src/infer/opaque_types.rs
  compiler/rustc_ty_utils/src/implied_bounds.rs
  tests/ui/closures/issue-78720.rs
  tests/ui/closures/issue-78720.stderr
  tests/ui/impl-trait/issues/issue-86800.rs
  tests/ui/impl-trait/issues/issue-86800.stderr
  tests/ui/impl-trait/recursive-coroutine-boxed.next.stderr
  tests/ui/impl-trait/recursive-coroutine-boxed.rs
  tests/ui/impl-trait/wf-check-hidden-type.rs
  tests/ui/impl-trait/wf-check-hidden-type.stderr
  tests/ui/lifetimes/issue-76168-hr-outlives-3.rs
  tests/ui/lifetimes/issue-76168-hr-outlives-3.stderr
  tests/ui/traits/non_lifetime_binders/type-match-with-late-bound.stderr
  tests/ui/type-alias-impl-trait/issue-90400-2.stderr
  tests/ui/type-alias-impl-trait/wf-check-definition-site.rs
  tests/ui/type-alias-impl-trait/wf-nested.fail.stderr
  tests/ui/type-alias-impl-trait/wf-nested.pass.stderr
  tests/ui/type-alias-impl-trait/wf-nested.pass_sound.stderr
  tests/ui/type-alias-impl-trait/wf-nested.rs
  tests/ui/type-alias-impl-trait/wf-nested.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#121967 Replace libLLVM symlink with linker script
  src/bootstrap/src/core/build_steps/dist.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#122038 Fix linting paths with qself in `unused_qualifications`
  compiler/rustc_resolve/src/late.rs
  tests/ui/lint/lint-qualification.fixed
  tests/ui/lint/lint-qualification.rs
  tests/ui/lint/lint-qualification.stderr
Labels: T-compiler, S-waiting-on-bors

#122051 cleanup: remove zero-offset GEP
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
Labels: T-compiler, S-waiting-on-bors

#121959 Removing absolute path in proc-macro
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors

#121190 avoid overlapping privacy suggestion for single nested imports
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/imports/append-import-suggestion.rs
  tests/ui/imports/append-import-suggestion.stderr
Labels: T-compiler, S-waiting-on-bors

#121382 Rework `untranslatable_diagnostic` lint
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_attr/src/builtin.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_const_eval/src/transform/check_consts/ops.rs
  compiler/rustc_driver_impl/src/args.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/lib.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_expand/src/tests.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/internal.rs
  compiler/rustc_lint/src/let_underscore.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/check_const.rs
  compiler/rustc_passes/src/entry.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_session/src/search_paths.rs
  compiler/rustc_session/src/session.rs
  src/tools/rust-analyzer/crates/hir-ty/src/layout.rs
  src/tools/rustfmt/src/parse/session.rs
  tests/ui-fulldeps/internal-lints/diagnostics.rs
  tests/ui-fulldeps/internal-lints/diagnostics.stderr
Labels: T-compiler, S-waiting-on-bors

#117199 Change the documented implicit value of `-C instrument-coverage` to `=yes`
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  src/doc/rustc/src/instrument-coverage.md
  tests/ui/instrument-coverage/bad-value.bad.stderr
  tests/ui/instrument-coverage/bad-value.blank.stderr
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#113518 bootstrap/libtest: print test name eagerly on failure even with `verbose-tests=false` / `--quiet`
  library/test/src/formatters/terse.rs
  src/bootstrap/src/utils/render_tests.rs
  tests/ui/test-attrs/terse.rs
  tests/ui/test-attrs/terse.run.stdout
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-libs

#122061 Clarify FatalErrorHandler
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  tests/ui/linkage-attr/common-linkage-non-zero-init.stderr
Labels: T-compiler, S-waiting-on-bors

#122062 Explicitly assign constructed C++ classes
  compiler/rustc_llvm/llvm-wrapper/CoverageMappingWrapper.cpp
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_llvm/llvm-wrapper/SymbolWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#122072 Refer to "slice" instead of "vector" in Ord and PartialOrd trait impl of slices
  library/core/src/slice/cmp.rs
Labels: S-waiting-on-bors, T-libs

#122088 Remove unnecessary fixme on new thread stack size
  library/std/src/sys/pal/windows/thread.rs
  library/std/src/thread/tests.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#122094 Remove outdated footnote "missing-stack-probe" in platform-support
  src/doc/rustc/src/platform-support.md
Labels: S-waiting-on-bors

#122107 Temporarily make allow-by-default the `non_local_definitions` lint
  compiler/rustc_lint/src/non_local_def.rs
  tests/ui/lint/non_local_definitions.rs
  tests/ui/lint/non_local_definitions.stderr
  tests/ui/proc-macro/nested-macro-rules.rs
  tests/ui/proc-macro/nested-macro-rules.stderr
  tests/ui/proc-macro/nested-macro-rules.stdout
Labels: T-compiler, S-waiting-on-bors

#122015 Add better explanation for `rustc_index::IndexVec`
  compiler/rustc_index/src/vec.rs
Labels: T-compiler, S-waiting-on-bors

#122113 Rollup of 9 pull requests
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_mir_build/src/build/expr/into.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_target/src/target_features.rs
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
  compiler/rustc_ty_utils/src/assoc.rs
  config.example.toml
  library/core/src/array/mod.rs
  library/std/src/thread/tests.rs
  src/bootstrap/bootstrap.py
  src/bootstrap/configure.py
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/download.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/tools/build_helper/src/git.rs
  tests/ui/abi/compatibility.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/impl-trait/in-trait/rpitit-cycle-in-generics-of.rs
  tests/ui/imports/auxiliary/aux-issue-121915.rs
  tests/ui/imports/redundant-import-issue-121915-2015.rs
  tests/ui/imports/redundant-import-issue-121915-2015.stderr
  tests/ui/imports/redundant-import-issue-121915.rs
  tests/ui/imports/redundant-import-issue-121915.stderr
  tests/ui/imports/suggest-remove-issue-121315.rs
  tests/ui/imports/suggest-remove-issue-121315.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#121958 Fix redundant import errors for preload extern crate
  compiler/rustc_lint/src/context/diagnostics.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/imports.rs
  tests/ui/imports/auxiliary/aux-issue-121915.rs
  tests/ui/imports/redundant-import-issue-121915-2015.rs
  tests/ui/imports/redundant-import-issue-121915-2015.stderr
  tests/ui/imports/redundant-import-issue-121915.rs
  tests/ui/imports/redundant-import-issue-121915.stderr
  tests/ui/imports/suggest-remove-issue-121315.rs
  tests/ui/imports/suggest-remove-issue-121315.stderr
Labels: T-compiler, S-waiting-on-bors

#121976 Add an option to have an external download/bootstrap cache
  config.example.toml
  src/bootstrap/bootstrap.py
  src/bootstrap/configure.py
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/download.rs
  src/bootstrap/src/utils/change_tracker.rs
Labels: T-bootstrap, S-waiting-on-bors

#122022 loongarch: add frecipe and relax target feature
  compiler/rustc_target/src/target_features.rs
  tests/ui/abi/compatibility.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors

#122026 Do not try to format removed files
  src/bootstrap/src/core/build_steps/format.rs
  src/tools/build_helper/src/git.rs
Labels: T-bootstrap, S-waiting-on-bors

#122027 Uplift some feeding out of `associated_type_for_impl_trait_in_impl` and into queries
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_ty_utils/src/assoc.rs
  tests/ui/impl-trait/in-trait/rpitit-cycle-in-generics-of.rs
Labels: T-compiler, S-waiting-on-bors

#122063 Make the lowering of `thir::ExprKind::If` easier to follow
  compiler/rustc_mir_build/src/build/expr/into.rs
Labels: T-compiler, S-waiting-on-bors

#122074 Add missing PartialOrd trait implementation doc for array
  library/core/src/array/mod.rs
Labels: S-waiting-on-bors, T-libs

#122082 remove outdated fixme comment
  compiler/rustc_trait_selection/src/solve/trait_goals.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#122091 Note why we're using a new thread in `test_get_os_named_thread`
  library/std/src/thread/tests.rs
Labels: S-waiting-on-bors, T-libs

#121866 Modify opt-dist logic for finding LLVM artifacts
  src/tools/opt-dist/src/utils/artifact_size.rs
Labels: S-waiting-on-bors, merged-by-bors

#122104 Rust is a proper name: rust → Rust
  library/alloc/src/raw_vec.rs
  library/core/src/arch.rs
  library/core/src/macros/mod.rs
  library/core/src/ptr/alignment.rs
  library/core/src/slice/mod.rs
  library/core/src/sync/exclusive.rs
  library/std/src/ffi/os_str.rs
  library/std/src/lib.rs
  library/std/src/sys/pal/hermit/time.rs
  library/std/src/time.rs
  library/test/src/formatters/terse.rs
  library/test/src/types.rs
Labels: S-waiting-on-bors, T-libs, O-hermit

#122110 Make `x t miri` respect `MIRI_TEMP`
  src/tools/miri/tests/compiletest.rs
  src/tools/miri/tests/pass/shims/fs.rs
Labels: S-waiting-on-bors

#122115 Cancel parsing ever made during recovery
  compiler/rustc_parse/src/parser/stmt.rs
  tests/ui/parser/recover/recover-colon-instead-of-eq-in-local.rs
  tests/ui/parser/recover/recover-colon-instead-of-eq-in-local.stderr
Labels: T-compiler, S-waiting-on-bors

#122129 Set `RustcDocs` to only run on host
  src/bootstrap/src/core/build_steps/dist.rs
Labels: T-bootstrap, S-waiting-on-bors

#122114 Make not finding core a fatal error
  compiler/rustc_metadata/src/locator.rs
  tests/ui/crate-loading/missing-std.stderr
  tests/ui/issues/issue-37131.stderr
  tests/ui/issues/issue-49851/compiler-builtins-error.rs
  tests/ui/issues/issue-49851/compiler-builtins-error.stderr
Labels: T-compiler, S-waiting-on-bors
