Repository rust-lang/rust, pull requests merged in 2025-10, with the labels that each got.

#143069 Add fast-path for accessing the current thread id
  library/std/src/thread/current.rs
  library/std/src/thread/mod.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#146518 Improve the documentation around `ZERO_AR_DATE`
  compiler/rustc_target/src/spec/base/apple/mod.rs
Labels: T-compiler, A-docs, S-waiting-on-bors, O-apple, A-linkers

#146596 Add a dummy codegen backend
  compiler/rustc_interface/src/util.rs
Labels: T-compiler, S-waiting-on-bors

#146617 Don’t suggest foreign `doc(hidden)` types in "the following other types implement trait" diagnostics
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  tests/ui/proc-macro/quote/not-quotable.stderr
  tests/ui/suggestions/auxiliary/hidden-struct.rs
  tests/ui/suggestions/dont-suggest-foreign-doc-hidden.rs
  tests/ui/suggestions/dont-suggest-foreign-doc-hidden.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#146635 cg_llvm: Stop using `as_c_char_ptr` for coverage-related bindings
  compiler/rustc_codegen_llvm/src/coverageinfo/llvm_cov.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#147184 Fix the bevy implied bounds hack for the next solver
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  tests/ui/implied-bounds/bevy_world_query.rs
Labels: T-compiler, S-waiting-on-bors

#147198 Rollup of 6 pull requests
  compiler/rustc_codegen_llvm/src/coverageinfo/llvm_cov.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  library/std/src/thread/current.rs
  library/std/src/thread/mod.rs
  tests/ui/implied-bounds/bevy_world_query.rs
  tests/ui/proc-macro/quote/not-quotable.stderr
  tests/ui/suggestions/auxiliary/hidden-struct.rs
  tests/ui/suggestions/dont-suggest-foreign-doc-hidden.rs
  tests/ui/suggestions/dont-suggest-foreign-doc-hidden.stderr
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-apple

#146593 Allow specifying multiple bounds for same associated item, except in trait objects
  compiler/rustc_error_codes/src/error_codes/E0719.md
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_trait.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  tests/ui/associated-type-bounds/duplicate-bound-err.rs
  tests/ui/associated-type-bounds/duplicate-bound-err.stderr
  tests/ui/associated-type-bounds/duplicate-bound.rs
  tests/ui/associated-type-bounds/duplicate.rs
  tests/ui/associated-type-bounds/duplicate.stderr
  tests/ui/associated-types/associated-types-overridden-binding-2.stderr
  tests/ui/associated-types/associated-types-overridden-binding.stderr
  tests/ui/error-codes/E0719.rs
  tests/ui/error-codes/E0719.stderr
Labels: T-lang, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce, I-lang-radar

#147195 iter repeat: add tests for new count and last behavior
  library/coretests/tests/iter/sources.rs
Labels: S-waiting-on-bors, T-libs

#147204 Refactor ArrayWindows to use a slice
  library/core/src/slice/iter.rs
Labels: S-waiting-on-bors, T-libs

#147219 Add proper error handling for closure in impl
  compiler/rustc_hir_analysis/src/coherence/inherent_impls.rs
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  tests/ui/closures/impl-closure-147146.rs
  tests/ui/closures/impl-closure-147146.stderr
Labels: T-compiler, S-waiting-on-bors

#147226 include `outer_inclusive_binder` of pattern types
  compiler/rustc_type_ir/src/flags.rs
  tests/ui/type/pattern_types/const_generics.rs
  tests/ui/type/pattern_types/transmute.current.stderr
  tests/ui/type/pattern_types/transmute.next.stderr
  tests/ui/type/pattern_types/transmute.rs
Labels: T-compiler, S-waiting-on-bors

#147230 Fix typo in 'unfulfilled_lint_expectation' to plural
  src/doc/rustc/src/lints/levels.md
Labels: S-waiting-on-bors

#147235 Rollup of 8 pull requests
  compiler/rustc_error_codes/src/error_codes/E0719.md
  compiler/rustc_hir_analysis/src/coherence/inherent_impls.rs
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_trait.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_type_ir/src/flags.rs
  library/core/src/slice/iter.rs
  library/coretests/tests/iter/sources.rs
  src/doc/rustc/src/lints/levels.md
  src/etc/lldb_providers.py
  tests/ui/associated-type-bounds/duplicate-bound-err.rs
  tests/ui/associated-type-bounds/duplicate-bound-err.stderr
  tests/ui/associated-type-bounds/duplicate-bound.rs
  tests/ui/associated-type-bounds/duplicate.rs
  tests/ui/associated-type-bounds/duplicate.stderr
  tests/ui/associated-types/associated-types-overridden-binding-2.stderr
  tests/ui/associated-types/associated-types-overridden-binding.stderr
  tests/ui/closures/impl-closure-147146.rs
  tests/ui/closures/impl-closure-147146.stderr
  tests/ui/coroutine/handle_opaques_before_coroutines.rs
  tests/ui/error-codes/E0719.rs
  tests/ui/error-codes/E0719.stderr
  tests/ui/type/pattern_types/const_generics.rs
  tests/ui/type/pattern_types/transmute.current.stderr
  tests/ui/type/pattern_types/transmute.next.stderr
  tests/ui/type/pattern_types/transmute.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#147177 [DebugInfo] Fix MSVC tuple child creation
  src/etc/lldb_providers.py
Labels: S-waiting-on-bors

#147202 Swap order of `resolve_coroutine_interiors` and `handle_opaque_type_uses`
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/lib.rs
  tests/ui/coroutine/handle_opaques_before_coroutines.rs
Labels: T-compiler, S-waiting-on-bors

#147055 Turn ProjectionElem::Subtype into CastKind::Subtype
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/places_conflict.rs
  compiler/rustc_borrowck/src/prefixes.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_cranelift/src/value_and_place.rs
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/check_consts/qualifs.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/builder/expr/as_place.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_transform/src/add_subtyping_projections.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/validate.rs
  compiler/rustc_public/src/mir/body.rs
  compiler/rustc_public/src/mir/visit.rs
  compiler/rustc_public/src/unstable/convert/internal.rs
  compiler/rustc_public/src/unstable/convert/stable/mir.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  tests/crashes/120016.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-clippy

#147233 Initialize llvm submodule if not already the case to run citool
  src/ci/citool/Cargo.toml
  src/ci/citool/src/main.rs
  src/ci/citool/src/utils.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra, A-CI

#147225 Don't enable shared memory by default with Wasm atomics
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_target/src/spec/targets/wasm32_wali_linux_musl.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip1_threads.rs
Labels: T-compiler, S-waiting-on-bors

#147196 Test: Ambigious bindings in same namespace with the same res
  tests/ui/imports/auxiliary/same-res-ambigious-extern-fail.rs
  tests/ui/imports/auxiliary/same-res-ambigious-extern-macro.rs
  tests/ui/imports/auxiliary/same-res-ambigious-extern.rs
  tests/ui/imports/same-res-ambigious.fail.stderr
  tests/ui/imports/same-res-ambigious.nightly-fail.stderr
  tests/ui/imports/same-res-ambigious.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, I-lang-radar

#147231 Extending `#[rustc_force_inline]` to be applicable to inherent methods
  compiler/rustc_attr_parsing/src/attributes/inline.rs
  tests/mir-opt/inline/forced_closure_inherent.caller-{closure#0}.ForceInline.panic-abort.diff
  tests/mir-opt/inline/forced_closure_inherent.caller-{closure#0}.ForceInline.panic-unwind.diff
  tests/mir-opt/inline/forced_closure_inherent.rs
  tests/mir-opt/inline/forced_inherent.caller.ForceInline.panic-abort.diff
  tests/mir-opt/inline/forced_inherent.caller.ForceInline.panic-unwind.diff
  tests/mir-opt/inline/forced_inherent.rs
  tests/mir-opt/inline/forced_inherent_ambiguous.caller.ForceInline.panic-abort.diff
  tests/mir-opt/inline/forced_inherent_ambiguous.caller.ForceInline.panic-unwind.diff
  tests/mir-opt/inline/forced_inherent_ambiguous.rs
  tests/mir-opt/inline/forced_inherent_async.caller.ForceInline.panic-abort.diff
  tests/mir-opt/inline/forced_inherent_async.caller.ForceInline.panic-unwind.diff
  tests/mir-opt/inline/forced_inherent_async.rs
  tests/mir-opt/inline/forced_inherent_dead_code.caller.ForceInline.panic-abort.diff
  tests/mir-opt/inline/forced_inherent_dead_code.caller.ForceInline.panic-unwind.diff
  tests/mir-opt/inline/forced_inherent_dead_code.rs
  tests/ui/force-inlining/inherent.rs
  tests/ui/force-inlining/inherent.stderr
  tests/ui/force-inlining/invalid.rs
  tests/ui/force-inlining/invalid.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors

#145898 If a trait item appears in rustdoc search, hide the corrosponding impl items
  src/ci/docker/host-x86_64/pr-check-2/Dockerfile
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/static/js/rustdoc.d.ts
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-gui/search-result-color.goml
  tests/rustdoc-gui/search-tab.goml
  tests/rustdoc-gui/sidebar.goml
  tests/rustdoc-js-std/asrawfd.js
  tests/rustdoc-js-std/quoted.js
  tests/rustdoc-js-std/trait-unbox.js
  tests/rustdoc-js/trait-methods.js
  tests/rustdoc-js/trait-methods.rs
Labels: A-testsuite, T-rustdoc, relnotes, S-waiting-on-bors, T-infra, merged-by-bors, A-rustdoc-search, A-CI, T-rustdoc-frontend

#143613 Fix backtraces with `-C panic=abort` on linux; emit unwind tables by default
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/spec/base/android.rs
  compiler/rustc_target/src/spec/base/linux.rs
  compiler/rustc_target/src/spec/targets/arm_unknown_linux_gnueabihf.rs
  tests/run-make/panic-abort-eh_frame/rmake.rs
  tests/ui/panics/panic-abort-backtrace-without-debuginfo.rs
Labels: T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, A-run-make

#147299 Don't normalize higher-ranked assumptions if they're not used
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/ui/async-await/higher-ranked-normalize-assumptions-2.rs
  tests/ui/async-await/higher-ranked-normalize-assumptions.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, stable-nominated, A-async-await, merged-by-bors, T-types, A-higher-ranked

#147245 only replace the intended comma in pattern suggestions
  compiler/rustc_parse/src/parser/diagnostics.rs
  tests/ui/did_you_mean/issue-48492-tuple-destructure-missing-parens.stderr
  tests/ui/feature-gates/feature-gate-never_patterns.stderr
  tests/ui/parser/match-arm-without-body.rs
  tests/ui/parser/match-arm-without-body.stderr
  tests/ui/suggestions/only-replace-intended-coma-not-all-in-pattern.fixed
  tests/ui/suggestions/only-replace-intended-coma-not-all-in-pattern.rs
  tests/ui/suggestions/only-replace-intended-coma-not-all-in-pattern.stderr
Labels: T-compiler, S-waiting-on-bors

#147269 Add regression test for 123953
  tests/ui/associated-types/projection-dyn-associated-type.rs
  tests/ui/associated-types/projection-dyn-associated-type.stderr
Labels: T-compiler, S-waiting-on-bors

#147277 Extract common logic for iterating over features
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_lint/src/builtin.rs
Labels: T-compiler, S-waiting-on-bors

#147300 Add xtensa arch to object file creation
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors

#147308 Rollup of 5 pull requests
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_target/src/spec/mod.rs
  src/librustdoc/doctest.rs
  tests/rustdoc-ui/doctest/check-attr-test.rs
  tests/rustdoc-ui/doctest/check-attr-test.stderr
  tests/rustdoc-ui/doctest/failed-doctest-extra-semicolon-on-item.rs
  tests/rustdoc-ui/doctest/failed-doctest-extra-semicolon-on-item.stderr
  tests/rustdoc-ui/doctest/main-alongside-stmts.rs
  tests/rustdoc-ui/doctest/main-alongside-stmts.stderr
  tests/rustdoc-ui/doctest/main-alongside-stmts.stdout
  tests/rustdoc-ui/doctest/standalone-warning-2024.rs
  tests/rustdoc-ui/doctest/standalone-warning-2024.stderr
  tests/rustdoc-ui/doctest/test-compile-fail1.rs
  tests/rustdoc-ui/doctest/test-compile-fail1.stderr
  tests/rustdoc-ui/doctest/test-compile-fail2.rs
  tests/rustdoc-ui/doctest/test-compile-fail2.stderr
  tests/rustdoc-ui/doctest/test-compile-fail3.rs
  tests/rustdoc-ui/doctest/test-compile-fail3.stderr
  tests/rustdoc-ui/doctest/unstable-opts-143930.rs
  tests/rustdoc-ui/doctest/unstable-opts-143930.stdout
  tests/rustdoc-ui/doctest/unstable-opts-147276.crate_attr.stdout
  tests/rustdoc-ui/doctest/unstable-opts-147276.normal.stderr
  tests/rustdoc-ui/doctest/unstable-opts-147276.rs
  tests/rustdoc-ui/doctest/warn-main-not-called.rs
  tests/rustdoc-ui/doctest/warn-main-not-called.stderr
  tests/ui/associated-types/projection-dyn-associated-type.rs
  tests/ui/associated-types/projection-dyn-associated-type.stderr
  tests/ui/did_you_mean/issue-48492-tuple-destructure-missing-parens.stderr
  tests/ui/feature-gates/feature-gate-never_patterns.stderr
  tests/ui/parser/match-arm-without-body.rs
  tests/ui/parser/match-arm-without-body.stderr
  tests/ui/suggestions/only-replace-intended-coma-not-all-in-pattern.fixed
  tests/ui/suggestions/only-replace-intended-coma-not-all-in-pattern.rs
  tests/ui/suggestions/only-replace-intended-coma-not-all-in-pattern.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#147323 Fix top level ui tests check in tidy
  src/tools/tidy/src/ui_tests.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, A-tidy

#147315 bless autodiff batching test
  tests/codegen-llvm/autodiff/batched.rs
Labels: T-compiler, S-waiting-on-bors

#147340 Rollup of 10 pull requests
  compiler/rustc_attr_parsing/src/attributes/codegen_attrs.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_hir/src/attrs/data_structures.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/search_graph/global_cache.rs
  compiler/rustc_type_ir/src/search_graph/mod.rs
  library/alloc/src/lib.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/core/src/cell.rs
  library/core/src/mem/mod.rs
  library/core/src/tuple.rs
  library/core/src/unicode/printable.rs
  library/core/src/unicode/unicode_data.rs
  library/std/src/keyword_docs.rs
  library/std/src/num/f128.rs
  library/std/src/num/f16.rs
  library/std/src/num/f32.rs
  library/std/src/num/f64.rs
  library/std/src/os/unix/net/datagram.rs
  library/std/src/os/unix/net/listener.rs
  library/std/src/os/unix/net/stream.rs
  library/std/src/sys/net/connection/socket/hermit.rs
  library/std/src/sys/net/connection/socket/mod.rs
  library/std/src/sys/net/connection/socket/solid.rs
  library/std/src/sys/net/connection/socket/unix.rs
  library/std/src/sys/net/connection/socket/wasip2.rs
  library/std/src/sys/net/connection/socket/windows.rs
  library/std/src/sys/pal/windows/mod.rs
  src/tools/compiletest/src/directives/needs.rs
  tests/codegen-llvm/autodiff/batched.rs
  tests/ui/consts/std/conjure_zst.rs
  tests/ui/consts/std/conjure_zst.stderr
  tests/ui/delegation/unsupported.current.stderr
  tests/ui/delegation/unsupported.next.stderr
  tests/ui/delegation/unsupported.rs
Labels: A-testsuite, O-windows, A-attributes, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix, A-compiletest

#142670 Document fully-qualified syntax in `as`' keyword doc
  library/std/src/keyword_docs.rs
Labels: S-waiting-on-bors, T-libs

#145685 add CloneFromCell and Cell::get_cloned
  library/alloc/src/lib.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/core/src/cell.rs
  library/core/src/tuple.rs
Labels: S-waiting-on-bors, T-libs

#146330 Bump unicode_data and printables to version 17.0.0
  library/core/src/unicode/printable.rs
  library/core/src/unicode/unicode_data.rs
Labels: S-waiting-on-bors, T-libs

#146451 Fix atan2 inaccuracy in documentation
  library/std/src/num/f128.rs
  library/std/src/num/f16.rs
  library/std/src/num/f32.rs
  library/std/src/num/f64.rs
Labels: S-waiting-on-bors, T-libs

#146479 add mem::conjure_zst
  library/core/src/mem/mod.rs
  tests/ui/consts/std/conjure_zst.rs
  tests/ui/consts/std/conjure_zst.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#147117 interpret `#[used]` as `#[used(compiler)]` on illumos
  compiler/rustc_attr_parsing/src/attributes/codegen_attrs.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_hir/src/attrs/data_structures.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#147190 std: `sys::net` cleanups
  library/std/src/os/unix/net/datagram.rs
  library/std/src/os/unix/net/listener.rs
  library/std/src/os/unix/net/stream.rs
  library/std/src/sys/net/connection/socket/hermit.rs
  library/std/src/sys/net/connection/socket/mod.rs
  library/std/src/sys/net/connection/socket/solid.rs
  library/std/src/sys/net/connection/socket/unix.rs
  library/std/src/sys/net/connection/socket/wasip2.rs
  library/std/src/sys/net/connection/socket/windows.rs
  library/std/src/sys/pal/windows/mod.rs
Labels: O-windows, S-waiting-on-bors, T-libs, O-unix

#147251 Do not assert that a change in global cache only happens when concurrent
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/search_graph/global_cache.rs
  compiler/rustc_type_ir/src/search_graph/mod.rs
  tests/ui/delegation/unsupported.current.stderr
  tests/ui/delegation/unsupported.next.stderr
  tests/ui/delegation/unsupported.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#147280 Return to needs-llvm-components being info-only
  src/tools/compiletest/src/directives/needs.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#147293 Avoid getting `dep_dep_node` unnecessarily.
  compiler/rustc_query_system/src/dep_graph/graph.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#147288 compiletest: Make `DirectiveLine` responsible for name/value splitting
  src/tools/compiletest/src/directives.rs
  src/tools/compiletest/src/directives/auxiliary.rs
  src/tools/compiletest/src/directives/cfg.rs
  src/tools/compiletest/src/directives/line.rs
  src/tools/compiletest/src/directives/needs.rs
  src/tools/compiletest/src/directives/tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#147310 Mark `PatternTypo` suggestion as maybe incorrect
  compiler/rustc_passes/src/errors.rs
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, A-suggestion-diagnostics, D-invalid-suggestion

#147320 Avoid to suggest pattern match on the similarly named in fn signature
  compiler/rustc_passes/src/liveness.rs
  tests/ui/fn/invalid-sugg-for-unused-fn-arg-147303.rs
  tests/ui/fn/invalid-sugg-for-unused-fn-arg-147303.stderr
  tests/ui/lint/non-snake-case/lint-uppercase-variables.stderr
Labels: T-compiler, S-waiting-on-bors

#147328 Implement non-poisoning `Mutex::with_mut`, `RwLock::with` and `RwLock::with_mut`
  library/std/src/sync/nonpoison/mutex.rs
  library/std/src/sync/nonpoison/rwlock.rs
  library/std/tests/sync/mutex.rs
  library/std/tests/sync/rwlock.rs
Labels: S-waiting-on-bors, T-libs

#147337 Make `fmt::Write` a diagnostic item
  compiler/rustc_span/src/symbol.rs
  library/core/src/fmt/mod.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#147349 Improve the advice given by panic_immediate_abort
  library/core/src/panicking.rs
Labels: S-waiting-on-bors, T-libs

#147363 Rollup of 7 pull requests
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/fmt/mod.rs
  library/core/src/panicking.rs
  library/std/src/sync/nonpoison/mutex.rs
  library/std/src/sync/nonpoison/rwlock.rs
  library/std/tests/sync/mutex.rs
  library/std/tests/sync/rwlock.rs
  src/doc/rustc/src/platform-support/wasm32-unknown-unknown.md
  src/doc/rustc/src/platform-support/wasm32-wasip1.md
  src/doc/rustc/src/platform-support/wasm32-wasip2.md
  src/doc/rustc/src/platform-support/wasm32v1-none.md
  src/tools/compiletest/src/directives.rs
  src/tools/compiletest/src/directives/auxiliary.rs
  src/tools/compiletest/src/directives/cfg.rs
  src/tools/compiletest/src/directives/line.rs
  src/tools/compiletest/src/directives/needs.rs
  src/tools/compiletest/src/directives/tests.rs
  tests/ui/fn/invalid-sugg-for-unused-fn-arg-147303.rs
  tests/ui/fn/invalid-sugg-for-unused-fn-arg-147303.stderr
  tests/ui/lint/non-snake-case/lint-uppercase-variables.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-compiletest

#147367 Trivial code cleanup in resolve
  compiler/rustc_resolve/src/imports.rs
Labels: T-compiler, S-waiting-on-bors

#147377 don't make empty ident when printing `'` ident from `extern "'"`
  compiler/rustc_span/src/symbol.rs
  tests/ui/extern/extern-single-quote-issue-147365.rs
  tests/ui/extern/extern-single-quote-issue-147365.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#144477 GVN: Use a VnIndex in Address projection.
  compiler/rustc_mir_transform/src/gvn.rs
  tests/mir-opt/gvn.dereference_indexing.GVN.panic-abort.diff
  tests/mir-opt/gvn.dereference_indexing.GVN.panic-unwind.diff
  tests/mir-opt/gvn.rs
  tests/mir-opt/gvn_repeat.index_place.GVN.diff
  tests/mir-opt/gvn_repeat.repeat_local.GVN.diff
  tests/mir-opt/gvn_repeat.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt, A-mir-opt-GVN

#147099 Refactor remove_noop_landing_pads in two loops.
  compiler/rustc_mir_transform/src/remove_noop_landing_pads.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#147396 Fluent tidy improvements
  src/tools/tidy/src/fluent_alphabetical.rs
Labels: T-bootstrap, S-waiting-on-bors, A-run-make, A-tidy

#147165 test: Subtract code_offset from width for ui_testing
  compiler/rustc_errors/src/emitter.rs
  src/tools/clippy/tests/ui/option_env_unwrap.stderr
  src/tools/clippy/tests/ui/too_long_first_doc_paragraph.stderr
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_join_joined.stderr
  src/tools/miri/tests/fail-dep/concurrency/libc_pthread_join_main.stderr
  src/tools/miri/tests/fail/data_race/dealloc_read_race1.stderr
  src/tools/miri/tests/fail/data_race/dealloc_read_race_stack.stderr
  src/tools/miri/tests/fail/data_race/dealloc_write_race1.stderr
  src/tools/miri/tests/fail/data_race/dealloc_write_race_stack.stderr
  src/tools/miri/tests/fail/intrinsics/copy_unaligned.stderr
  src/tools/miri/tests/fail/intrinsics/simd-float-to-int.stderr
  src/tools/miri/tests/fail/stacked_borrows/retag_data_race_read.stderr
  tests/ui/async-await/async-drop/ex-ice1.stderr
  tests/ui/cast/func-pointer-issue-140491.stderr
  tests/ui/consts/offset_ub.stderr
  tests/ui/deprecation/deprecation-lint.stderr
  tests/ui/diagnostic-width/non-1-width-unicode-multiline-label.ascii.stderr
  tests/ui/diagnostic-width/non-1-width-unicode-multiline-label.rs
  tests/ui/diagnostic-width/non-1-width-unicode-multiline-label.unicode.stderr
  tests/ui/diagnostic-width/non-whitespace-trimming-2.ascii.stderr
  tests/ui/diagnostic-width/non-whitespace-trimming-2.rs
  tests/ui/diagnostic-width/non-whitespace-trimming-2.unicode.stderr
  tests/ui/diagnostic-width/non-whitespace-trimming-unicode.rs
  tests/ui/diagnostic-width/non-whitespace-trimming-unicode.stderr
  tests/ui/diagnostic-width/non-whitespace-trimming.rs
  tests/ui/diagnostic-width/non-whitespace-trimming.stderr
  tests/ui/diagnostic-width/tabs-trimming.rs
  tests/ui/lint/lint-stability-deprecated.stderr
  tests/ui/parser/raw/too-many-hash.stderr
  tests/ui/pattern/usefulness/empty-match.exhaustive_patterns.stderr
  tests/ui/pattern/usefulness/empty-match.normal.stderr
  tests/ui/simd/not-out-of-bounds.stderr
  tests/ui/transmutability/alignment/align-fail.stderr
Labels: T-compiler, S-waiting-on-bors, T-clippy

#147354 Fix wrong span for hightlight for duplicated diff lines
  compiler/rustc_errors/src/emitter.rs
  tests/ui/argument-suggestions/wrong-highlight-span-extra-arguments-147070.rs
  tests/ui/argument-suggestions/wrong-highlight-span-extra-arguments-147070.svg
Labels: T-compiler, S-waiting-on-bors

#147395 Improve diagnostics: update note and add help message
  compiler/rustc_expand/messages.ftl
  compiler/rustc_expand/src/errors.rs
  tests/ui/directory_ownership/file-mod-restriction.rs
  tests/ui/directory_ownership/file-mod-restriction.stderr
  tests/ui/directory_ownership/macro-expanded-mod.rs
  tests/ui/directory_ownership/macro-expanded-mod.stderr
  tests/ui/directory_ownership/non-inline-mod-restriction.rs
  tests/ui/directory_ownership/non-inline-mod-restriction.stderr
Labels: T-compiler, S-waiting-on-bors

#147413 don't panic on extern with just multiple quotes in the name
  compiler/rustc_span/src/symbol.rs
  tests/ui/extern/extern-only-quotes-issue-147365.rs
  tests/ui/extern/extern-only-quotes-issue-147365.stderr
  tests/ui/extern/extern-single-quote-issue-147365.stderr
Labels: T-compiler, S-waiting-on-bors

#145943 stdlib docs: document lifetime extension for `format_args!`'s arguments
  library/core/src/macros/mod.rs
Labels: S-waiting-on-bors, T-libs

#146865 kcfi: only reify trait methods when dyn-compatible
  compiler/rustc_middle/src/ty/instance.rs
  tests/codegen-llvm/sanitizer/kcfi/fn-ptr-reify-shim.rs
  tests/codegen-llvm/sanitizer/kcfi/naked-function.rs
  tests/ui/sanitizer/kcfi-c-variadic.rs
Labels: T-compiler, S-waiting-on-bors, A-sanitizers, F-c_variadic, PG-exploit-mitigations

#147205 Add a new `wasm32-wasip3` target to Rust
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/wasm32_wasip3.rs
  library/std/Cargo.toml
  library/std/src/os/mod.rs
  library/std/src/sys/args/mod.rs
  library/std/src/sys/net/connection/mod.rs
  library/std/src/sys/net/connection/socket/mod.rs
  library/std/src/sys/pal/mod.rs
  library/std/src/sys/random/mod.rs
  library/std/src/sys/stdio/mod.rs
  library/std/src/sys/thread/mod.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/wasm32-wasip3.md
  tests/assembly-llvm/targets/targets-elf.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-libs

#147398 Fix; correct placement of type inference error for method calls
  compiler/rustc_hir_typeck/src/method/probe.rs
  tests/ui/autoref-autoderef/deref-ambiguity-becomes-nonambiguous.stderr
  tests/ui/closures/deduce-signature/obligation-with-leaking-placeholders.next.stderr
  tests/ui/impl-trait/hidden-type-is-opaque-2.default.stderr
  tests/ui/impl-trait/hidden-type-is-opaque-2.next.stderr
  tests/ui/inference/need_type_info/incompat-call-after-qualified-path-0.stderr
  tests/ui/inference/need_type_info/incompat-call-after-qualified-path-1.stderr
  tests/ui/issues/issue-20261.stderr
  tests/ui/issues/issue-2151.stderr
  tests/ui/lazy-type-alias-impl-trait/branches3.stderr
  tests/ui/methods/call_method_unknown_pointee.stderr
  tests/ui/methods/call_method_unknown_referent.stderr
  tests/ui/proc-macro/quote/not-repeatable.stderr
  tests/ui/repeat-expr/copy-inference-side-effects-are-lazy.stderr
  tests/ui/span/issue-42234-unknown-receiver-type.stderr
  tests/ui/type-alias-impl-trait/closures_in_branches.stderr
  tests/ui/type-inference/regression-issue-81317.stderr
  tests/ui/typeck/issue-13853.stderr
Labels: T-compiler, S-waiting-on-bors

#147410 Update `S-waiting-on-team` refs to new `S-waiting-on-{team}` labels
  rust-bors.toml
Labels: S-waiting-on-bors

#147422 collect-license-metadata: Print a diff of the expected output
  Cargo.lock
  src/tools/collect-license-metadata/Cargo.toml
  src/tools/collect-license-metadata/src/main.rs
Labels: S-waiting-on-bors

#147431 compiletest: Read the whole test file before parsing directives
  src/tools/compiletest/src/directives.rs
  src/tools/compiletest/src/directives/tests.rs
  src/tools/compiletest/src/lib.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#147433 Fix doc comment
  compiler/rustc_middle/src/thir.rs
Labels: T-compiler, S-waiting-on-bors

#147322 cg_llvm: Consistently import `llvm::Type` and `llvm::Value`
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/builder/autodiff.rs
  compiler/rustc_codegen_llvm/src/callee.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/gdb.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/declare.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/llvm/diagnostic.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_llvm/src/va_arg.rs
  compiler/rustc_codegen_llvm/src/value.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, F-autodiff

#147423 `DepNodeColor` tweaks
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  compiler/rustc_query_system/src/dep_graph/serialized.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#146385 rustdoc-search: redesign throbber to be less distracting
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-gui/search-throbber.goml
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-search, T-rustdoc-frontend

#147390 Use globals instead of metadata for std::autodiff
  compiler/rustc_codegen_llvm/src/builder/autodiff.rs
  tests/ui/autodiff/autodiff_illegal.rs
  tests/ui/autodiff/autodiff_illegal.stderr
  tests/ui/autodiff/incremental.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, F-autodiff

#147445 sort attribute targets for more consistent error messages
  compiler/rustc_attr_parsing/src/target_checking.rs
  tests/ui/asm/naked-invalid-attr.stderr
  tests/ui/attributes/attr-on-mac-call.stderr
  tests/ui/attributes/linkage.stderr
  tests/ui/attributes/malformed-static-align.stderr
  tests/ui/coverage-attr/allowed-positions.stderr
  tests/ui/coverage-attr/name-value.stderr
  tests/ui/coverage-attr/word-only.stderr
  tests/ui/deprecation/deprecation-sanity.stderr
  tests/ui/extern/extern-no-mangle.stderr
  tests/ui/feature-gates/feature-gate-allow-internal-unstable-struct.stderr
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs-error.stderr
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  tests/ui/invalid/invalid-debugger-visualizer-target.stderr
  tests/ui/issues/issue-32782.stderr
  tests/ui/lint/unused/unused-attr-macro-rules.stderr
  tests/ui/lint/unused/unused_attributes-must_use.stderr
  tests/ui/lint/warn-unused-inline-on-fn-prototypes.stderr
  tests/ui/macros/issue-68060.stderr
  tests/ui/target-feature/invalid-attribute.stderr
  tests/ui/where-clauses/unsupported_attribute.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#147448 collect-license-metadata: update submodules before running
  src/bootstrap/src/core/build_steps/run.rs
Labels: T-bootstrap, S-waiting-on-bors

#147451 fix panic with extra-const-ub-checks
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  tests/ui/consts/extra-const-ub/detect-extra-ub.rs
  tests/ui/consts/extra-const-ub/detect-extra-ub.with_flag.stderr
Labels: T-compiler, S-waiting-on-bors

#147466 Rollup of 5 pull requests
  compiler/rustc_attr_parsing/src/target_checking.rs
  compiler/rustc_codegen_llvm/src/builder/autodiff.rs
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  src/bootstrap/src/core/build_steps/run.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-gui/search-throbber.goml
  tests/ui/asm/naked-invalid-attr.stderr
  tests/ui/attributes/attr-on-mac-call.stderr
  tests/ui/attributes/linkage.stderr
  tests/ui/attributes/malformed-static-align.stderr
  tests/ui/autodiff/autodiff_illegal.rs
  tests/ui/autodiff/autodiff_illegal.stderr
  tests/ui/autodiff/incremental.rs
  tests/ui/consts/extra-const-ub/detect-extra-ub.rs
  tests/ui/consts/extra-const-ub/detect-extra-ub.with_flag.stderr
  tests/ui/coverage-attr/allowed-positions.stderr
  tests/ui/coverage-attr/name-value.stderr
  tests/ui/coverage-attr/word-only.stderr
  tests/ui/deprecation/deprecation-sanity.stderr
  tests/ui/extern/extern-no-mangle.stderr
  tests/ui/feature-gates/feature-gate-allow-internal-unstable-struct.stderr
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs-error.stderr
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  tests/ui/invalid/invalid-debugger-visualizer-target.stderr
  tests/ui/issues/issue-32782.stderr
  tests/ui/lint/unused/unused-attr-macro-rules.stderr
  tests/ui/lint/unused/unused_attributes-must_use.stderr
  tests/ui/lint/warn-unused-inline-on-fn-prototypes.stderr
  tests/ui/macros/issue-68060.stderr
  tests/ui/target-feature/invalid-attribute.stderr
  tests/ui/where-clauses/unsupported_attribute.stderr
Labels: A-LLVM, T-rustdoc, A-attributes, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-rustdoc-search, T-rustdoc-frontend, F-autodiff
