Repository rust-lang/rust, pull requests merged in 2025-02, with the labels that each got.

#135768 tests: Port `symbol-mangling-hashed` to rmake.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/symbols.rs
  src/tools/run-make-support/src/targets.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/symbol-mangling-hashed/Makefile
  tests/run-make/symbol-mangling-hashed/b_bin.rs
  tests/run-make/symbol-mangling-hashed/b_dylib.rs
  tests/run-make/symbol-mangling-hashed/default_bin.rs
  tests/run-make/symbol-mangling-hashed/default_dylib.rs
  tests/run-make/symbol-mangling-hashed/hashed_dylib.rs
  tests/run-make/symbol-mangling-hashed/hashed_rlib.rs
  tests/run-make/symbol-mangling-hashed/rmake.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-run-make, A-tidy

#136163 Fix off-by-one error causing slice::sort to abort the program
  library/core/src/slice/sort/stable/drift.rs
  library/core/src/slice/sort/stable/mod.rs
  library/core/src/slice/sort/stable/quicksort.rs
  tests/ui/array-slice-vec/driftsort-off-by-one-issue-136103.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#136314 Use proper type when applying deref adjustment in const
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  tests/crashes/135210.rs
  tests/ui/traits/const-traits/enforce-deref-on-adjust.rs
Labels: T-compiler, S-waiting-on-bors

#136351 Add documentation for derive(CoercePointee)
  library/core/src/marker.rs
Labels: S-waiting-on-bors, T-libs, F-derive_coerce_pointee

#136371 Rollup of 7 pull requests
  RELEASES.md
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/fulfill/derive_errors.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  library/core/src/marker.rs
  library/core/src/slice/sort/stable/drift.rs
  library/core/src/slice/sort/stable/mod.rs
  library/core/src/slice/sort/stable/quicksort.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/operator.rs
  src/tools/miri/tests/pass/float.rs
  tests/crashes/135210.rs
  tests/ui/array-slice-vec/driftsort-off-by-one-issue-136103.rs
  tests/ui/associated-inherent-types/bugs/wf-check-skipped.next.stderr
  tests/ui/const-generics/issues/issue-88119.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/as_expression.next.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/as_expression.rs
  tests/ui/impl-trait/in-trait/alias-bounds-when-not-wf.stderr
  tests/ui/liveness/liveness-unused.rs
  tests/ui/liveness/liveness-unused.stderr
  tests/ui/traits/const-traits/enforce-deref-on-adjust.rs
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.stderr
  tests/ui/traits/next-solver/specialization-transmute.stderr
  tests/ui/typeck/issue-114918/const-in-impl-fn-return-type.next.stderr
  tests/ui/union/union-derive-eq.next.stderr
  tests/ui/wf/wf-normalization-sized.next.stderr
  tests/ui/wf/wf-trait-fn-arg.next.stderr
  tests/ui/wf/wf-trait-fn-ret.next.stderr
  tests/ui/wf/wf-trait-fn-where-clause.next.stderr
Labels: T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#135840 omit unused args warnings for intrinsics without body
  compiler/rustc_passes/src/liveness.rs
  tests/ui/liveness/liveness-unused.rs
  tests/ui/liveness/liveness-unused.stderr
Labels: T-compiler, S-waiting-on-bors

#135900 Manually walk into WF obligations in `BestObligation` proof tree visitor
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/fulfill/derive_errors.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/implied_outlives_bounds.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  tests/ui/associated-inherent-types/bugs/wf-check-skipped.next.stderr
  tests/ui/const-generics/issues/issue-88119.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/as_expression.next.stderr
  tests/ui/diagnostic_namespace/do_not_recommend/as_expression.rs
  tests/ui/impl-trait/in-trait/alias-bounds-when-not-wf.stderr
  tests/ui/traits/next-solver/canonical/const-region-infer-to-static-in-binder.stderr
  tests/ui/traits/next-solver/specialization-transmute.stderr
  tests/ui/typeck/issue-114918/const-in-impl-fn-return-type.next.stderr
  tests/ui/union/union-derive-eq.next.stderr
  tests/ui/wf/wf-normalization-sized.next.stderr
  tests/ui/wf/wf-trait-fn-arg.next.stderr
  tests/ui/wf/wf-trait-fn-ret.next.stderr
  tests/ui/wf/wf-trait-fn-where-clause.next.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#136266 fix broken release notes id
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#136348 miri: make float min/max non-deterministic
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/operator.rs
  src/tools/miri/tests/pass/float.rs
Labels: T-compiler, S-waiting-on-bors

#136136 ci: use ubuntu 24 on free runners
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#135684 docs: Documented Send and Sync requirements for Mutex + MutexGuard
  library/std/src/sync/poison/mutex.rs
Labels: S-waiting-on-bors, T-libs

#136307 Implement all mix/max functions in a (hopefully) more optimization amendable way
  library/core/src/cmp.rs
Labels: S-waiting-on-bors, T-libs

#136360 Stabilize `once_wait`
  library/std/src/sync/once_lock.rs
  library/std/src/sync/poison/once.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#136364 document that ptr cmp is unsigned
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
Labels: S-waiting-on-bors, T-libs

#136374 Add link attribute for Enzyme's LLVMRust FFI
  compiler/rustc_codegen_llvm/src/llvm/enzyme_ffi.rs
Labels: T-compiler, S-waiting-on-bors

#130514 Implement MIR lowering for unsafe binders
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/places_conflict.rs
  compiler/rustc_borrowck/src/polonius/legacy/loan_invalidations.rs
  compiler/rustc_borrowck/src/prefixes.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_const_eval/src/check_consts/qualifs.rs
  compiler/rustc_const_eval/src/check_consts/resolver.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/tcx.rs
  compiler/rustc_middle/src/mir/type_foldable.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/builder/expr/as_place.rs
  compiler/rustc_mir_build/src/builder/expr/as_rvalue.rs
  compiler/rustc_mir_build/src/builder/expr/category.rs
  compiler/rustc_mir_build/src/builder/expr/into.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/print.rs
  compiler/rustc_mir_dataflow/src/impls/borrowed_locals.rs
  compiler/rustc_mir_dataflow/src/move_paths/abs_domain.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/validate.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_ty_utils/src/consts.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  tests/ui/unsafe-binders/expr.rs
  tests/ui/unsafe-binders/expr.stderr
  tests/ui/unsafe-binders/mismatch.rs
  tests/ui/unsafe-binders/mismatch.stderr
  tests/ui/unsafe-binders/moves.rs
  tests/ui/unsafe-binders/moves.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, S-experimental, A-rustdoc-json, PG-exploit-mitigations, WG-trait-system-refactor

#136238 ci: refactor how directories are removed in free-disk-space disk
  src/ci/scripts/free-disk-space.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#133266 ci: fix explanation why LLVM download is disabled for windows-gnu
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#136133 Fix sentence in process::abort
  library/std/src/process.rs
Labels: S-waiting-on-bors, T-libs

#136279 Rename `tcx.ensure()` to `tcx.ensure_ok()`, and improve the associated docs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_driver_impl/src/pretty.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/coherence/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/impl_wf_check.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_lint/src/late.rs
  compiler/rustc_macros/src/query.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/mir/interpret/queries.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/query/plumbing.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_build/src/builder/mod.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/ambiguity.rs
  compiler/rustc_trait_selection/src/traits/specialize/mod.rs
  compiler/rustc_trait_selection/src/traits/specialize/specialization_graph.rs
  compiler/rustc_ty_utils/src/instance.rs
  src/librustdoc/core.rs
  src/tools/clippy/clippy_lints/src/ctfe.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#136328 Rework "long type names" printing logic
  compiler/rustc_borrowck/messages.ftl
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  compiler/rustc_borrowck/src/session_diagnostics.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_middle/src/ty/error.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/need_type_info.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/note.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/region.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/ambiguity.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/overflow.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/coercion/coerce-expect-unsized-ascribed.stderr
  tests/ui/diagnostic-width/E0271.ascii.stderr
  tests/ui/diagnostic-width/E0271.rs
  tests/ui/diagnostic-width/E0271.unicode.stderr
  tests/ui/diagnostic-width/long-E0308.ascii.stderr
  tests/ui/diagnostic-width/long-E0308.unicode.stderr
  tests/ui/diagnostic-width/long-e0277.rs
  tests/ui/diagnostic-width/long-e0277.stderr
  tests/ui/diagnostic-width/non-copy-type-moved.stderr
  tests/ui/diagnostic-width/secondary-label-with-long-type.rs
  tests/ui/diagnostic-width/secondary-label-with-long-type.stderr
  tests/ui/higher-ranked/trait-bounds/hang-on-deeply-nested-dyn.stderr
  tests/ui/suggestions/box-future-wrong-output.stderr
  tests/ui/suggestions/expected-boxed-future-isnt-pinned.stderr
  tests/ui/suggestions/issue-107860.stderr
  tests/ui/traits/ice-with-dyn-pointee-errors.stderr
  tests/ui/traits/object/pretty.stderr
  tests/ui/traits/on_unimplemented_long_types.stderr
  tests/ui/typeck/issue-107775.stderr
  tests/ui/typeck/return_type_containing_closure.rs
  tests/ui/typeck/return_type_containing_closure.stderr
Labels: T-compiler, S-waiting-on-bors

#136358 `#[optimize(none)]` implies `#[inline(never)]`
  compiler/rustc_mir_transform/src/inline.rs
  tests/codegen/issues/issue-136329-optnone-noinline.rs
Labels: T-compiler, S-waiting-on-bors

#136368 Make comma separated lists of anything easier to make for errors
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_privacy/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#136412 Tweak fn pointer suggestion span
  compiler/rustc_trait_selection/src/error_reporting/infer/suggest.rs
  compiler/rustc_trait_selection/src/errors.rs
  tests/ui/fn/fn-pointer-mismatch.stderr
  tests/ui/force-inlining/cast.stderr
Labels: T-compiler, S-waiting-on-bors

#134272 Remove rustc_encodable_decodable feature
  compiler/rustc_builtin_macros/src/deriving/debug.rs
  compiler/rustc_builtin_macros/src/deriving/decodable.rs
  compiler/rustc_builtin_macros/src/deriving/default.rs
  compiler/rustc_builtin_macros/src/deriving/encodable.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/deriving/generic/ty.rs
  compiler/rustc_builtin_macros/src/deriving/mod.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/macros/mod.rs
  library/core/src/prelude/mod.rs
  library/std/src/prelude/mod.rs
  tests/ui/derives/rustc-decodable-issue-123156.rs
  tests/ui/derives/rustc-decodable-issue-123156.stderr
  tests/ui/feature-gates/feature-gate-rustc_encodable_decodable.rs
  tests/ui/feature-gates/feature-gate-rustc_encodable_decodable.stderr
Labels: T-libs-api, T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#136283 Update encode_utf16 to mention it is native endian
  library/alloc/src/string.rs
  library/core/src/char/methods.rs
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#136394 Clean up MonoItem::instantiation_mode
  compiler/rustc_middle/src/mir/mono.rs
Labels: T-compiler, S-waiting-on-bors

#136402 diagnostics: fix borrowck suggestions for if/while let conditionals
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  tests/ui/borrowck/already-borrowed-as-mutable-if-let-133941.rs
  tests/ui/borrowck/already-borrowed-as-mutable-if-let-133941.stderr
Labels: T-compiler, S-waiting-on-bors

#136415 Highlight clarifying information in "expected/found" error
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  tests/ui/error-emitter/E0308-clarification.rs
  tests/ui/error-emitter/E0308-clarification.svg
  tests/ui/impl-trait/impl-trait-in-macro.stderr
  tests/ui/impl-trait/universal-two-impl-traits.stderr
Labels: T-compiler, S-waiting-on-bors

#136434 rustc_allowed_through_unstable_modules: require deprecation message
  compiler/rustc_attr_data_structures/src/stability.rs
  compiler/rustc_attr_parsing/src/attributes/stability.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_passes/src/stability.rs
  library/core/src/intrinsics/mod.rs
  src/librustdoc/clean/types.rs
  tests/rustdoc/inline_local/fully-stable-path-is-better.rs
  tests/rustdoc/stability.rs
  tests/ui/error-codes/E0789.rs
  tests/ui/stability-attribute/allowed-through-unstable.rs
  tests/ui/stability-attribute/allowed-through-unstable.stderr
  tests/ui/stability-attribute/auxiliary/allowed-through-unstable-core.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-libs

#136425 Move `rustc_middle::infer::unify_key`
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_infer/src/infer/snapshot/fudge.rs
  compiler/rustc_infer/src/infer/snapshot/undo_log.rs
  compiler/rustc_infer/src/infer/unify_key.rs
  compiler/rustc_middle/src/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#136426 Explain why we retroactively change a static initializer to have a different type
  compiler/rustc_codegen_llvm/src/consts.rs
Labels: T-compiler, S-waiting-on-bors

#136445 Couple of cleanups to DiagCtxt and EarlyDiagCtxt
  compiler/rustc_driver_impl/src/args.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/parse.rs
  compiler/rustc_session/src/session.rs
  src/doc/rustc-dev-guide/examples/rustc-interface-getting-diagnostics.rs
  src/librustdoc/lib.rs
  src/tools/clippy/src/driver.rs
  src/tools/miri/src/bin/miri.rs
  src/tools/rustfmt/src/parse/session.rs
  tests/ui-fulldeps/obtain-borrowck.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-rustc-dev-guide

#136145 Test validity of pattern types
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/errors/pattern_types.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  tests/ui/type/pattern_types/chars.rs
  tests/ui/type/pattern_types/nested.rs
  tests/ui/type/pattern_types/nested.stderr
  tests/ui/type/pattern_types/pattern_type_mismatch.rs
  tests/ui/type/pattern_types/pattern_type_mismatch.stderr
  tests/ui/type/pattern_types/reverse_range.rs
  tests/ui/type/pattern_types/reverse_range.stderr
  tests/ui/type/pattern_types/validity.rs
  tests/ui/type/pattern_types/validity.stderr
Labels: T-compiler, S-waiting-on-bors

#136339 CompileTest: Add Directives to Ignore `arm-unknown-*` Targets
  src/tools/compiletest/src/directive-list.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#136403 Fix malformed error annotations in a UI test
  tests/ui/typeck/path-to-method-sugg-unresolved-expr.rs
Labels: T-compiler, S-waiting-on-bors

#136414 Shorten error message for callable with wrong return type
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  tests/ui/async-await/async-closures/is-not-fn.current.stderr
  tests/ui/async-await/async-closures/is-not-fn.next.stderr
  tests/ui/async-await/async-closures/is-not-fn.rs
  tests/ui/async-await/dont-ice-for-type-mismatch-in-closure-in-async.stderr
  tests/ui/async-await/issue-98634.rs
  tests/ui/async-await/issue-98634.stderr
  tests/ui/closures/return-type-doesnt-match-bound.rs
  tests/ui/closures/return-type-doesnt-match-bound.stderr
  tests/ui/higher-ranked/trait-bounds/issue-62203-hrtb-ice.rs
  tests/ui/higher-ranked/trait-bounds/issue-62203-hrtb-ice.stderr
  tests/ui/intrinsics/const-eval-select-bad.rs
  tests/ui/intrinsics/const-eval-select-bad.stderr
  tests/ui/lint/issue-106991.rs
  tests/ui/lint/issue-106991.stderr
  tests/ui/never_type/fallback-closure-wrap.fallback.stderr
  tests/ui/never_type/fallback-closure-wrap.rs
  tests/ui/suggestions/dont-suggest-boxing-async-closure-body.rs
  tests/ui/suggestions/dont-suggest-boxing-async-closure-body.stderr
  tests/ui/type-alias-impl-trait/issue-98604.rs
  tests/ui/type-alias-impl-trait/issue-98604.stderr
  tests/ui/type-alias-impl-trait/issue-98608.rs
  tests/ui/type-alias-impl-trait/issue-98608.stderr
Labels: T-compiler, S-waiting-on-bors

#133138 Target modifiers (special marked options) are recorded in metainfo
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_metadata/messages.ftl
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/lib.rs
  compiler/rustc_session/src/options.rs
  src/librustdoc/config.rs
  tests/ui/target_modifiers/auxiliary/default_reg_struct_return.rs
  tests/ui/target_modifiers/auxiliary/wrong_regparm.rs
  tests/ui/target_modifiers/auxiliary/wrong_regparm_and_ret.rs
  tests/ui/target_modifiers/defaults_check.error.stderr
  tests/ui/target_modifiers/defaults_check.rs
  tests/ui/target_modifiers/incompatible_regparm.allow_no_value.stderr
  tests/ui/target_modifiers/incompatible_regparm.error_generated.stderr
  tests/ui/target_modifiers/incompatible_regparm.rs
  tests/ui/target_modifiers/two_flags.rs
  tests/ui/target_modifiers/two_flags.unknown_allowed.stderr
Labels: A-metadata, T-compiler, S-waiting-on-bors, merged-by-bors, CI-spurious-fail-msvc

#136413 fix autodiff compile time regression
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_monomorphize/src/partitioning.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#136352 Add a couple of missing `ensure_sufficient_stacks`
  compiler/rustc_mir_build/src/check_tail_calls.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors

#136356 Docs for f16 and f128: correct a typo and add details
  library/core/src/primitive_docs.rs
Labels: S-waiting-on-bors, T-libs

#136404 Remove a footgun-y feature / relic of the past from the compiletest DSL
  src/tools/compiletest/src/header.rs
  tests/assembly/small_data_threshold.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#136432 LTA: Actually check where-clauses for well-formedness at the def site
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  tests/ui/lazy-type-alias/def-site-param-defaults-wf.rs
  tests/ui/lazy-type-alias/def-site-param-defaults-wf.stderr
  tests/ui/lazy-type-alias/def-site-predicates-wf.rs
  tests/ui/lazy-type-alias/def-site-predicates-wf.stderr
Labels: T-compiler, S-waiting-on-bors, F-lazy_type_alias

#136441 [`compiletest`-related cleanups 1/7] Cleanup `is_rustdoc` logic and remove a useless path join in rustdoc-json runtest logic
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/rustdoc_json.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#136455 Remove some `Clone` bounds and derives.
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_type_ir/src/fold.rs
  compiler/rustc_type_ir/src/visit.rs
Labels: T-compiler, S-waiting-on-bors

#136464 Remove hook calling via `TyCtxtAt`.
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/util/caller_location.rs
  compiler/rustc_incremental/src/lib.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_middle/src/hooks/mod.rs
  compiler/rustc_mir_transform/src/coverage/query.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_query_impl/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#136467 override default config profile on tarballs
  src/bootstrap/src/core/config/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#136146 Explicitly choose x86 softfloat/hardfloat ABI
  compiler/rustc_target/src/spec/json.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/i686_unknown_uefi.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_none.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_uefi.rs
  compiler/rustc_target/src/target_features.rs
  src/ci/docker/scripts/rfl-build.sh
  tests/ui/target-feature/forbidden-hardfloat-target-feature-attribute.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-attribute.stderr
  tests/ui/target-feature/forbidden-hardfloat-target-feature-cfg.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag-disable-implied.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag-disable-neon.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag-disable.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag.stderr
  tests/ui/target-feature/forbidden-target-feature-attribute.rs
  tests/ui/target-feature/forbidden-target-feature-attribute.stderr
  tests/ui/target-feature/forbidden-target-feature-cfg.rs
  tests/ui/target-feature/forbidden-target-feature-flag-disable.rs
  tests/ui/target-feature/forbidden-target-feature-flag-disable.stderr
  tests/ui/target-feature/forbidden-target-feature-flag.rs
  tests/ui/target-feature/forbidden-target-feature-flag.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, CI-spurious-fail-msvc

#136483 ci: move dist-x86_64-msvc to windows 2025
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#136411 Omit argument names from function pointers that do not have argument names
  src/librustdoc/clean/mod.rs
  src/librustdoc/html/format.rs
  tests/rustdoc/assoc-consts.rs
  tests/rustdoc/fn-pointer-arg-name.rs
  tests/rustdoc/inherent-projections.rs
  tests/rustdoc/macro-higher-kinded-function.rs
Labels: T-rustdoc, S-waiting-on-bors

#136484 Notes on types/traits used for in-memory query caching
  compiler/rustc_data_structures/src/vec_cache.rs
  compiler/rustc_middle/src/query/keys.rs
  compiler/rustc_query_system/src/query/caches.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#136493 platform-support: document CPU baseline for x86-32 targets
  src/doc/rustc/src/platform-support.md
Labels: T-compiler, S-waiting-on-bors

#136289 OnceCell & OnceLock docs: Using (un)initialized consistently
  library/core/src/cell/once.rs
  library/std/src/sync/once_lock.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#136299 Ignore NLL boring locals in polonius diagnostics
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/polonius/dump.rs
  compiler/rustc_borrowck/src/polonius/liveness_constraints.rs
  compiler/rustc_borrowck/src/polonius/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  src/tools/tidy/src/issues.txt
  tests/ui/nll/get_default.legacy.stderr
  tests/ui/nll/get_default.nll.stderr
  tests/ui/nll/get_default.polonius.stderr
  tests/ui/nll/get_default.rs
  tests/ui/nll/issue-46589.nll.stderr
  tests/ui/nll/issue-46589.rs
  tests/ui/nll/polonius/assignment-kills-loans.rs
  tests/ui/nll/polonius/assignment-to-differing-field.legacy.stderr
  tests/ui/nll/polonius/assignment-to-differing-field.polonius.stderr
  tests/ui/nll/polonius/assignment-to-differing-field.rs
  tests/ui/nll/polonius/call-kills-loans.rs
  tests/ui/nll/polonius/issue-46589.rs
  tests/ui/nll/polonius/location-insensitive-scopes-liveness.rs
  tests/ui/nll/polonius/polonius-smoke-test.legacy.stderr
  tests/ui/nll/polonius/polonius-smoke-test.polonius.stderr
  tests/ui/nll/polonius/polonius-smoke-test.rs
  tests/ui/nll/polonius/storagedead-kills-loans.rs
  tests/ui/nll/polonius/subset-relations.legacy.stderr
  tests/ui/nll/polonius/subset-relations.polonius.stderr
  tests/ui/nll/polonius/subset-relations.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, A-tidy

#136430 Use the type-level constant value `ty::Value` where needed
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/consts/valtree.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_symbol_mangling/src/v0.rs
Labels: T-compiler, S-waiting-on-bors

#136476 Remove generic `//@ ignore-{wasm,wasm32,emscripten}` in tests
  tests/ui/lifetimes/tail-expr-lock-poisoning.rs
  tests/ui/panics/issue-47429-short-backtraces.rs
  tests/ui/panics/issue-47429-short-backtraces.run.stderr
  tests/ui/panics/runtime-switch.rs
  tests/ui/panics/runtime-switch.run.stderr
  tests/ui/panics/short-ice-remove-middle-frames-2.rs
  tests/ui/panics/short-ice-remove-middle-frames-2.run.stderr
  tests/ui/panics/short-ice-remove-middle-frames.rs
  tests/ui/panics/short-ice-remove-middle-frames.run.stderr
  tests/ui/test-attrs/test-panic-abort-disabled.rs
  tests/ui/test-attrs/test-panic-abort-nocapture.rs
  tests/ui/test-attrs/test-panic-abort-nocapture.run.stderr
  tests/ui/test-attrs/test-panic-abort.rs
  tests/ui/test-attrs/test-panic-abort.run.stdout
Labels: A-testsuite, T-compiler, S-waiting-on-bors

#134807 fix(rustdoc): always use a channel when linking to doc.rust-lang.org
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/core.rs
  src/librustdoc/html/layout.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/templates/type_layout.html
  src/librustdoc/html/templates/type_layout_size.html
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  tests/rustdoc/type-layout.rs
Labels: T-rustdoc, S-waiting-on-bors

#135836 bootstrap: only build `crt{begin,end}.o` when compiling to MUSL
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/config/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#136022 Port ui/simd tests to use the intrinsic macro
  tests/ui/simd/array-trait.rs
  tests/ui/simd/array-type.rs
  tests/ui/simd/generics.rs
  tests/ui/simd/intrinsic/float-math-pass.rs
  tests/ui/simd/intrinsic/generic-arithmetic-2.rs
  tests/ui/simd/intrinsic/generic-arithmetic-2.stderr
  tests/ui/simd/intrinsic/generic-arithmetic-pass.rs
  tests/ui/simd/intrinsic/generic-arithmetic-saturating-2.rs
  tests/ui/simd/intrinsic/generic-arithmetic-saturating-2.stderr
  tests/ui/simd/intrinsic/generic-arithmetic-saturating-pass.rs
  tests/ui/simd/intrinsic/generic-as.rs
  tests/ui/simd/intrinsic/generic-bitmask-pass.rs
  tests/ui/simd/intrinsic/generic-bitmask.rs
  tests/ui/simd/intrinsic/generic-bitmask.stderr
  tests/ui/simd/intrinsic/generic-bswap-byte.rs
  tests/ui/simd/intrinsic/generic-cast-pass.rs
  tests/ui/simd/intrinsic/generic-cast-pointer-width.rs
  tests/ui/simd/intrinsic/generic-cast.rs
  tests/ui/simd/intrinsic/generic-cast.stderr
  tests/ui/simd/intrinsic/generic-comparison-pass.rs
  tests/ui/simd/intrinsic/generic-comparison.rs
  tests/ui/simd/intrinsic/generic-comparison.stderr
  tests/ui/simd/intrinsic/generic-elements-pass.rs
  tests/ui/simd/intrinsic/generic-elements.rs
  tests/ui/simd/intrinsic/generic-elements.stderr
  tests/ui/simd/intrinsic/generic-gather-pass.rs
  tests/ui/simd/intrinsic/generic-reduction-pass.rs
  tests/ui/simd/intrinsic/generic-reduction.rs
  tests/ui/simd/intrinsic/generic-reduction.stderr
  tests/ui/simd/intrinsic/generic-select-pass.rs
  tests/ui/simd/intrinsic/generic-select.rs
  tests/ui/simd/intrinsic/generic-select.stderr
  tests/ui/simd/intrinsic/generic-shuffle.rs
  tests/ui/simd/intrinsic/inlining-issue67557-ice.rs
  tests/ui/simd/intrinsic/inlining-issue67557.rs
  tests/ui/simd/intrinsic/issue-85855.rs
  tests/ui/simd/intrinsic/issue-85855.stderr
  tests/ui/simd/intrinsic/ptr-cast.rs
  tests/ui/simd/issue-105439.rs
  tests/ui/simd/issue-39720.rs
  tests/ui/simd/issue-85915-simd-ptrs.rs
  tests/ui/simd/issue-89193.rs
  tests/ui/simd/masked-load-store-build-fail.rs
  tests/ui/simd/masked-load-store-build-fail.stderr
  tests/ui/simd/masked-load-store-check-fail.rs
  tests/ui/simd/masked-load-store-check-fail.stderr
  tests/ui/simd/masked-load-store.rs
  tests/ui/simd/monomorphize-shuffle-index.generic.stderr
  tests/ui/simd/monomorphize-shuffle-index.rs
  tests/ui/simd/repr_packed.rs
  tests/ui/simd/shuffle.rs
  tests/ui/simd/simd-bitmask-notpow2.rs
  tests/ui/simd/simd-bitmask.rs
Labels: T-compiler, S-waiting-on-bors

#136309 set rustc dylib on manually constructed rustc command
  src/bootstrap/src/core/builder/cargo.rs
Labels: T-bootstrap, S-waiting-on-bors

#136462 mir_build: Simplify `lower_pattern_range_endpoint`
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
Labels: T-compiler, S-waiting-on-bors

#134814 Add `kl` and `widekl` target features, and the feature gate
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/feature-gates/feature-gate-keylocker_x86.rs
  tests/ui/feature-gates/feature-gate-keylocker_x86.stderr
Labels: O-x86_64, T-compiler, S-waiting-on-bors, A-target-feature, O-x86_32

#134777 Enable more tests on Windows
  tests/codegen/debug-column.rs
  tests/codegen/force-no-unwind-tables.rs
  tests/codegen/thread-local.rs
  tests/crashes/132981.rs
  tests/rustdoc-ui/doctest/relative-path-include-bytes-132203.rs
  tests/ui-fulldeps/stable-mir/check_abi.rs
  tests/ui-fulldeps/stable-mir/check_allocation.rs
  tests/ui-fulldeps/stable-mir/check_attribute.rs
  tests/ui-fulldeps/stable-mir/check_binop.rs
  tests/ui-fulldeps/stable-mir/check_crate_defs.rs
  tests/ui-fulldeps/stable-mir/check_def_ty.rs
  tests/ui-fulldeps/stable-mir/check_defs.rs
  tests/ui-fulldeps/stable-mir/check_foreign.rs
  tests/ui-fulldeps/stable-mir/check_instance.rs
  tests/ui-fulldeps/stable-mir/check_intrinsics.rs
  tests/ui-fulldeps/stable-mir/check_item_kind.rs
  tests/ui-fulldeps/stable-mir/check_normalization.rs
  tests/ui-fulldeps/stable-mir/check_trait_queries.rs
  tests/ui-fulldeps/stable-mir/check_transform.rs
  tests/ui-fulldeps/stable-mir/check_ty_fold.rs
  tests/ui-fulldeps/stable-mir/compilation-result.rs
  tests/ui-fulldeps/stable-mir/crate-info.rs
  tests/ui-fulldeps/stable-mir/projections.rs
  tests/ui-fulldeps/stable-mir/smir_internal.rs
  tests/ui-fulldeps/stable-mir/smir_serde.rs
  tests/ui-fulldeps/stable-mir/smir_visitor.rs
  tests/ui/abi/abi-sysv64-arg-passing.rs
  tests/ui/abi/large-byval-align.rs
  tests/ui/feature-gates/feature-gate-cfg-target-thread-local.rs
  tests/ui/inference/issue-71584.rs
  tests/ui/linkage-attr/linkage-attr-does-not-panic-llvm-issue-33992.rs
  tests/ui/linkage-attr/propagate-generic-issue-18804/main.rs
  tests/ui/logging-only-prints-once.rs
  tests/ui/lto/weak-works.rs
  tests/ui/parser/mod_file_not_exist.rs
  tests/ui/parser/mod_file_not_exist.stderr
  tests/ui/suggestions/missing-lifetime-specifier.rs
  tests/ui/suggestions/missing-lifetime-specifier.stderr
  tests/ui/threads-sendsync/spawning-with-debug.rs
  tests/ui/threads-sendsync/thread-local-extern-static.rs
  tests/ui/traits/issue-77982.rs
  tests/ui/traits/issue-77982.stderr
  tests/ui/typeck/issue-43189.rs
  tests/ui/typeck/issue-43189.stderr
  tests/ui/typeck/issue-46112.rs
  tests/ui/typeck/issue-46112.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, A-run-make

#135844 Add new tool for dumping feature status based on tidy
  Cargo.lock
  Cargo.toml
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/run.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/mod.rs
  src/tools/features-status-dump/Cargo.toml
  src/tools/features-status-dump/src/main.rs
  src/tools/tidy/Cargo.toml
  src/tools/tidy/src/features.rs
  src/tools/tidy/src/features/version.rs
Labels: T-bootstrap, S-waiting-on-bors, A-tidy

#136167 Implement unstable `new_range` feature
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/range.rs
  library/std/src/lib.rs
  src/doc/unstable-book/src/language-features/new-range.md
  tests/mir-opt/pre-codegen/range_iter.inclusive_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/range_iter.inclusive_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/range_iter.range_inclusive_iter_next.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/range_iter.range_inclusive_iter_next.PreCodegen.after.panic-unwind.mir
  tests/ui/const-generics/std/const-generics-range.full.stderr
  tests/ui/const-generics/std/const-generics-range.min.stderr
  tests/ui/const-generics/std/const-generics-range.rs
  tests/ui/feature-gates/feature-gate-new_range.rs
  tests/ui/feature-gates/feature-gate-new_range.stderr
  tests/ui/issues/issue-76191.stderr
  tests/ui/mismatched_types/closure-arg-type-mismatch-issue-45727.current.fixed
  tests/ui/mismatched_types/closure-arg-type-mismatch-issue-45727.next.stderr
  tests/ui/mismatched_types/closure-arg-type-mismatch-issue-45727.rs
  tests/ui/never_type/issue-52443.stderr
  tests/ui/new-range/disabled.rs
  tests/ui/new-range/enabled.rs
  tests/ui/range/issue-54505-no-literals.stderr
  tests/ui/range/issue-54505.stderr
  tests/ui/range/range-1.stderr
  tests/ui/suggestions/unnecessary_dot_for_floating_point_literal.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#136334 Extract `core::ffi` primitives to a separate (internal) module
  library/core/src/ffi/mod.rs
  library/core/src/ffi/primitives.rs
  src/tools/tidy/src/pal.rs
Labels: T-bootstrap, S-waiting-on-bors, T-libs, A-tidy

#136398 add UnsafeCell direct access APIs
  library/core/src/cell.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#136465 Some `rustc_middle` cleanups
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/traits/query.rs
  compiler/rustc_query_system/src/dep_graph/dep_node.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#136479 std::fs: further simplify dirent64 handling
  library/std/src/sys/pal/unix/fs.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#136504 Fix last compare-mode false negatives in tests
  tests/ui/crate-loading/crateresolve1.rs
  tests/ui/crate-loading/crateresolve2.rs
  tests/ui/diagnostic-width/E0271.ascii.stderr
  tests/ui/diagnostic-width/E0271.rs
  tests/ui/diagnostic-width/E0271.unicode.stderr
  tests/ui/error-codes/E0462.rs
  tests/ui/error-codes/E0464.rs
  tests/ui/error-codes/E0523.rs
  tests/ui/json/json-multiple.rs
  tests/ui/json/json-options.rs
Labels: T-compiler, S-waiting-on-bors

#136511 Add `cast_signed` and `cast_unsigned` methods for `NonZero` types
  library/core/src/num/nonzero.rs
Labels: T-libs-api, S-waiting-on-bors

#136518 Add note about `FnPtr` trait being exposed as public bound
  library/core/src/marker.rs
Labels: S-waiting-on-bors, T-libs

#136534 Rollup of 6 pull requests
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/traits/query.rs
  compiler/rustc_query_system/src/dep_graph/dep_node.rs
  library/core/src/cell.rs
  library/core/src/marker.rs
  library/core/src/num/nonzero.rs
  library/std/src/sys/pal/unix/fs.rs
  tests/ui/crate-loading/crateresolve1.rs
  tests/ui/crate-loading/crateresolve2.rs
  tests/ui/diagnostic-width/E0271.ascii.stderr
  tests/ui/diagnostic-width/E0271.rs
  tests/ui/diagnostic-width/E0271.unicode.stderr
  tests/ui/error-codes/E0462.rs
  tests/ui/error-codes/E0464.rs
  tests/ui/error-codes/E0523.rs
  tests/ui/json/json-multiple.rs
  tests/ui/json/json-options.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-query-system, O-unix

#135760 Add `unchecked_disjoint_bitor` per ACP373
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/mir/intrinsic.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics/fallback.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/lib.rs
  library/core/src/num/uint_macros.rs
  src/tools/miri/tests/fail/intrinsics/disjoint_bitor.rs
  src/tools/miri/tests/fail/intrinsics/disjoint_bitor.stderr
  tests/codegen/bigint-helpers.rs
  tests/codegen/intrinsics/disjoint_bitor.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#136284 Allow using named consts in pattern types
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_driver_impl/src/pretty.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/errors/pattern_types.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_passes/src/hir_id_validator.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  tests/ui/type/pattern_types/assoc_const.default.stderr
  tests/ui/type/pattern_types/assoc_const.rs
  tests/ui/type/pattern_types/bad_const_generics_args_on_const_param.rs
  tests/ui/type/pattern_types/bad_const_generics_args_on_const_param.stderr
  tests/ui/type/pattern_types/bad_pat.rs
  tests/ui/type/pattern_types/bad_pat.stderr
  tests/ui/type/pattern_types/const_block.rs
  tests/ui/type/pattern_types/const_block.stderr
  tests/ui/type/pattern_types/free_const.rs
  tests/ui/type/pattern_types/nested.rs
  tests/ui/type/pattern_types/nested.stderr
  tests/ui/type/pattern_types/pattern_type_mismatch.rs
  tests/ui/type/pattern_types/pattern_type_mismatch.stderr
  tests/ui/type/pattern_types/unimplemented_pat.rs
  tests/ui/type/pattern_types/unimplemented_pat.stderr
Labels: T-compiler, S-waiting-on-bors

#136497 Report generic mismatches when calling bodyless trait functions
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/crashes/135124.rs
  tests/ui/fn/error-recovery-mismatch.rs
  tests/ui/fn/error-recovery-mismatch.stderr
  tests/ui/fn/param-mismatch-trait-fn.rs
  tests/ui/fn/param-mismatch-trait-fn.stderr
  tests/ui/methods/issues/issue-61525.stderr
  tests/ui/suggestions/trait-with-missing-associated-type-restriction.stderr
  tests/ui/traits/issue-52893.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#136520 Remove unnecessary layout assertions for object-safe receivers
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
  tests/crashes/125810.rs
  tests/crashes/90110.rs
  tests/ui/self/dispatch-from-dyn-layout-2.rs
  tests/ui/self/dispatch-from-dyn-layout-3.rs
  tests/ui/self/dispatch-from-dyn-layout.rs
Labels: T-compiler, S-waiting-on-bors

#136526 mir_build: Rename `thir::cx::Cx` to `ThirBuildCx` and remove `UserAnnotatedTyHelpers`
  compiler/rustc_mir_build/src/thir/cx/block.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/cx/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_build/src/thir/util.rs
Labels: T-compiler, S-waiting-on-bors

#136115 Shard AllocMap Lock
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression-triaged

#136244 librustdoc: create a helper for separating elements of an iterator instead of implementing it multiple times
  src/librustdoc/clean/cfg.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/joined.rs
  src/librustdoc/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#136509 Add tests for nested macro_rules edition behavior
  tests/ui/editions/auxiliary/nested_macro_rules_dep_2021.rs
  tests/ui/editions/auxiliary/nested_macro_rules_dep_2024.rs
  tests/ui/editions/nested-macro-rules-edition.e2021.stderr
  tests/ui/editions/nested-macro-rules-edition.rs
Labels: T-compiler, S-waiting-on-bors

#136263 rustdoc: clean up a bunch of ts-expected-error declarations in main
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/rustdoc.d.ts
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/storage.js
Labels: T-rustdoc, S-waiting-on-bors

#136375 cg_llvm: Replace some DIBuilder wrappers with LLVM-C API bindings (part 1)
  compiler/rustc_codegen_llvm/src/debuginfo/create_scope_map.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/debuginfo/namespace.rs
  compiler/rustc_codegen_llvm/src/debuginfo/utils.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#136392 bootstrap: add wrapper macros for `feature = "tracing"`-gated `tracing` macros
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/mod.rs
  src/bootstrap/src/utils/tracing.rs
Labels: T-bootstrap, S-waiting-on-bors, A-bootstrap-tracing

#136396 rustdoc-json-types: Document that crate name isn't package name.
  src/rustdoc-json-types/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#136405 rustdoc-book: Clean up section on `--output-format`
  src/doc/rustdoc/src/unstable-features.md
Labels: T-rustdoc, A-docs, S-waiting-on-bors

#136502 Mark `std::fmt::from_fn` as `#[must_use]`
  library/core/src/fmt/builders.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#136253 rustdoc: run css and html minifier at build instead of runtime
  src/librustdoc/Cargo.toml
  src/librustdoc/build.rs
  src/librustdoc/config.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/html/static_files.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors

#136304 Reject negative literals for unsigned or char types in pattern ranges and literals
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/type/pattern_types/signed_ranges.rs
  tests/ui/type/pattern_types/signed_ranges.stderr
Labels: T-compiler, S-waiting-on-bors

#136536 Rename and Move some UI tests to more suitable subdirs
  src/tools/tidy/src/issues.txt
  src/tools/tidy/src/ui_tests.rs
  tests/ui/codegen/StackColoring-not-blowup-stack-issue-40883.rs
  tests/ui/enum/closure-in-enum-issue-48838.rs
  tests/ui/enum/closure-in-enum-issue-48838.stderr
  tests/ui/enum/enum-inside-enum-issue-40350.rs
  tests/ui/expr/if/if-let-no-match-guards-issue-41272.rs
  tests/ui/lexer/floating-point-0e10-issue-40408.rs
  tests/ui/macros/const-expr-invocations-issue-40136.rs
  tests/ui/macros/macros-in-trait-positions-issue-40845.rs
  tests/ui/macros/macros-in-trait-positions-issue-40845.stderr
  tests/ui/match/enum-and-break-in-match-issue-41213.rs
  tests/ui/suggestions/for-loop-missing-in.fixed
  tests/ui/suggestions/for-loop-missing-in.rs
  tests/ui/suggestions/for-loop-missing-in.stderr
  tests/ui/trait-bounds/deep-level-Send-bound-check-issue-40827.rs
  tests/ui/trait-bounds/deep-level-Send-bound-check-issue-40827.stderr
  tests/ui/typeck/coercion-check-for-addition-issue-40610.rs
  tests/ui/typeck/coercion-check-for-addition-issue-40610.stderr
  tests/ui/typeck/coercion-check-for-indexing-expression-issue-40861.rs
  tests/ui/typeck/coercion-check-for-indexing-expression-issue-40861.stderr
  tests/ui/typeck/unsized-rvalue-issue-41139.rs
  tests/ui/typeck/unsized-rvalue-issue-41139.stderr
  tests/ui/wf/range-expr-root-of-constant-issue-40749.rs
  tests/ui/wf/range-expr-root-of-constant-issue-40749.stderr
  tests/ui/while/while-let-scope-issue-40235.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, A-tidy

#136537 Update `compiler-builtins` to 0.1.145
  compiler/rustc_codegen_cranelift/patches/0029-stdlib-Disable-f16-and-f128-in-compiler-builtins.patch
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, T-libs

#136555 Rename `slice::take...` methods to `split_off...`
  library/core/src/ops/mod.rs
  library/core/src/ops/range.rs
  library/core/src/slice/mod.rs
  library/coretests/tests/slice.rs
Labels: S-waiting-on-bors, T-libs

#132547 cg_gcc: Directly use rustc_abi instead of reexports
  compiler/rustc_codegen_gcc/src/abi.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_gcc/src/context.rs
  compiler/rustc_codegen_gcc/src/debuginfo.rs
  compiler/rustc_codegen_gcc/src/declare.rs
  compiler/rustc_codegen_gcc/src/int.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_gcc/src/type_.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
Labels: T-compiler, S-waiting-on-bors, A-gcc

#135572 tests: Port `split-debuginfo` to rmake.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/run-make-support/src/fs.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/path_helpers.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  tests/run-make/split-debuginfo/Makefile
  tests/run-make/split-debuginfo/rmake.rs
Labels: A-testsuite, A-debuginfo, T-compiler, T-bootstrap, S-waiting-on-bors, A-run-make, A-tidy

#135964 Make cenum_impl_drop_cast a hard error
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  tests/mir-opt/building/enum_cast.droppy.built.after.mir
  tests/mir-opt/building/enum_cast.rs
  tests/ui/cenum_impl_drop_cast.rs
  tests/ui/cenum_impl_drop_cast.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#136154 Use +secure-plt for powerpc-unknown-linux-gnu{,spe}
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_gnuspe.rs
Labels: T-compiler, O-PowerPC, S-waiting-on-bors, O-linux-gnu

#136418 uefi: process: Add support for command environment variables
  library/std/src/sys/pal/uefi/process.rs
Labels: S-waiting-on-bors, T-libs

#136449 std: move network code into `sys`
  library/std/src/net/socket_addr.rs
  library/std/src/net/tcp.rs
  library/std/src/net/udp.rs
  library/std/src/os/fd/net.rs
  library/std/src/os/hermit/io/net.rs
  library/std/src/os/solid/io.rs
  library/std/src/os/windows/io/raw.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/net/connection/sgx.rs
  library/std/src/sys/net/connection/socket.rs
  library/std/src/sys/net/connection/socket/hermit.rs
  library/std/src/sys/net/connection/socket/solid.rs
  library/std/src/sys/net/connection/socket/tests.rs
  library/std/src/sys/net/connection/socket/unix.rs
  library/std/src/sys/net/connection/socket/wasip2.rs
  library/std/src/sys/net/connection/socket/windows.rs
  library/std/src/sys/net/connection/unsupported.rs
  library/std/src/sys/net/connection/wasip1.rs
  library/std/src/sys/net/connection/xous/dns.rs
  library/std/src/sys/net/connection/xous/mod.rs
  library/std/src/sys/net/connection/xous/tcplistener.rs
  library/std/src/sys/net/connection/xous/tcpstream.rs
  library/std/src/sys/net/connection/xous/udp.rs
  library/std/src/sys/net/mod.rs
  library/std/src/sys/pal/hermit/mod.rs
  library/std/src/sys/pal/sgx/mod.rs
  library/std/src/sys/pal/solid/error.rs
  library/std/src/sys/pal/solid/mod.rs
  library/std/src/sys/pal/teeos/mod.rs
  library/std/src/sys/pal/teeos/net.rs
  library/std/src/sys/pal/uefi/mod.rs
  library/std/src/sys/pal/unix/l4re.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/unsupported/mod.rs
  library/std/src/sys/pal/wasi/mod.rs
  library/std/src/sys/pal/wasip2/mod.rs
  library/std/src/sys/pal/wasm/mod.rs
  library/std/src/sys/pal/windows/mod.rs
  library/std/src/sys/pal/xous/mod.rs
  library/std/src/sys/pal/zkvm/mod.rs
  library/std/src/sys_common/mod.rs
  tests/ui/inference/issue-72616.stderr
Labels: O-windows, O-wasm, S-waiting-on-bors, T-libs, O-SGX, O-unix, O-wasi, O-hermit, O-solid

#136517 implement inherent str constructors
  library/core/src/str/mod.rs
  tests/ui/suggestions/suggest-std-when-using-type.fixed
  tests/ui/suggestions/suggest-std-when-using-type.rs
  tests/ui/suggestions/suggest-std-when-using-type.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#136567 Arbitrary self types v2: recursion test
  tests/ui/self/arbitrary_self_type_infinite_recursion.rs
  tests/ui/self/arbitrary_self_type_infinite_recursion.stderr
Labels: T-compiler, S-waiting-on-bors

#136265 rustdoc: use ThinVec for generic arg parts
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/json/conversions.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, A-rustdoc-json

#136409 Use `widening_mul` instead of a separate function
  library/core/src/fmt/num.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#136269 Pass spans around new solver
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_infer/src/infer/context.rs
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/probe.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/fulfill/derive_errors.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/relate/solver_relating.rs
  tests/ui/traits/next-solver/specialization-transmute.rs
  tests/ui/traits/next-solver/specialization-transmute.stderr
  tests/ui/traits/next-solver/unsound-region-obligation.rs
  tests/ui/traits/next-solver/unsound-region-obligation.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#136550 Fix `rustc_hidden_type_of_opaques` for RPITITs with no default body
  compiler/rustc_hir_analysis/src/collect/dump.rs
  tests/ui/impl-trait/in-trait/dump.rs
  tests/ui/impl-trait/in-trait/dump.stderr
Labels: T-compiler, S-waiting-on-bors

#136558 Document minimum supported host tooling on macOS
  src/doc/rustc/src/platform-support/apple-darwin.md
Labels: O-macos, T-compiler, S-waiting-on-bors

#136563 Clean up `Trivial*Impls` macros
  compiler/rustc_middle/src/infer/canonical.rs
  compiler/rustc_middle/src/mir/basic_blocks.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/type_foldable.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/traits/select.rs
  compiler/rustc_middle/src/ty/abstract_const.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_type_ir/src/macros.rs
Labels: T-compiler, S-waiting-on-bors

#136566 Fix link in from_fn.rs
  library/core/src/iter/sources/from_fn.rs
Labels: S-waiting-on-bors, T-libs

#136573 Document why some "type mismatches" exist
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
Labels: T-compiler, S-waiting-on-bors

#136583 Only highlight unmatchable parameters at the definition site
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  tests/ui/argument-suggestions/basic.stderr
  tests/ui/argument-suggestions/complex.stderr
  tests/ui/argument-suggestions/extra_arguments.stderr
  tests/ui/argument-suggestions/invalid_arguments.stderr
  tests/ui/argument-suggestions/issue-100478.stderr
  tests/ui/argument-suggestions/issue-101097.stderr
  tests/ui/argument-suggestions/issue-109425.stderr
  tests/ui/argument-suggestions/issue-109831.stderr
  tests/ui/argument-suggestions/issue-96638.stderr
  tests/ui/argument-suggestions/issue-97197.stderr
  tests/ui/argument-suggestions/issue-97484.stderr
  tests/ui/argument-suggestions/missing_arguments.stderr
  tests/ui/argument-suggestions/mixed_cases.stderr
  tests/ui/argument-suggestions/permuted_arguments.stderr
  tests/ui/argument-suggestions/suggest-better-removing-issue-126246.stderr
  tests/ui/argument-suggestions/swapped_arguments.stderr
  tests/ui/error-codes/E0061.stderr
  tests/ui/issues/issue-4935.stderr
  tests/ui/methods/method-call-err-msg.stderr
  tests/ui/mismatched_types/generic-mismatch-reporting-issue-116615.stderr
  tests/ui/not-enough-arguments.stderr
  tests/ui/span/issue-34264.stderr
  tests/ui/span/missing-unit-argument.stderr
  tests/ui/traits/next-solver/diagnostics/coerce-in-may-coerce.stderr
  tests/ui/type/type-check/point-at-inference-4.rs
  tests/ui/type/type-check/point-at-inference-4.stderr
  tests/ui/typeck/remove-extra-argument.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#136587 Update browser-ui-test version to `0.20.2`
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/tools/rustdoc-gui/tester.js
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#136590 Implement RustcInternal for RawPtrKind
  compiler/rustc_smir/src/rustc_internal/internal.rs
Labels: T-compiler, S-waiting-on-bors

#136591 Add `rustc_hir_pretty::expr_to_string` function
  compiler/rustc_hir_pretty/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#136595 Fix `unreachable_pub` lint for hermit target
  library/panic_unwind/src/hermit.rs
Labels: S-waiting-on-bors, T-libs

#136611 cg_llvm: Remove the `mod llvm_` hack, which should no longer be necessary
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm/mod.rs
Labels: T-compiler, S-waiting-on-bors

#133932 Avoid using make_direct_deprecated() in extern "ptx-kernel"
  compiler/rustc_target/src/callconv/nvptx64.rs
  compiler/rustc_ty_utils/src/abi.rs
  tests/assembly/nvptx-kernel-abi/nvptx-kernel-args-abi-v7.rs
Labels: T-compiler, O-NVPTX, S-waiting-on-bors, A-ABI

#136585 implement `eat_until` leveraging memchr in lexer
  Cargo.lock
  compiler/rustc_lexer/Cargo.toml
  compiler/rustc_lexer/src/cursor.rs
  compiler/rustc_lexer/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#136073 Always compute coroutine layout for eagerly emitting recursive layout errors
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/ty/util.rs
  tests/ui/async-await/in-trait/indirect-recursion-issue-112047.rs
  tests/ui/async-await/in-trait/indirect-recursion-issue-112047.stderr
  tests/ui/force-inlining/deny-async.rs
  tests/ui/force-inlining/deny-async.stderr
  tests/ui/impl-trait/recursive-coroutine-indirect.current.stderr
  tests/ui/impl-trait/recursive-coroutine-indirect.next.stderr
  tests/ui/impl-trait/recursive-coroutine-indirect.rs
  tests/ui/type-alias-impl-trait/indirect-recursion-issue-112047.rs
  tests/ui/type-alias-impl-trait/indirect-recursion-issue-112047.stderr
Labels: T-compiler, S-waiting-on-bors, perf-regression

#136235 Pretty print pattern type values with transmute if they don't satisfy their pattern
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_const_eval/src/util/mod.rs
  compiler/rustc_middle/src/hooks/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  tests/mir-opt/pattern_types.main.PreCodegen.after.mir
  tests/mir-opt/pattern_types.rs
Labels: T-compiler, S-waiting-on-bors

#136311 Ensure that we never try to monomorphize the upcasting or vtable calls of impossible dyn types
  compiler/rustc_trait_selection/src/traits/vtable.rs
  tests/ui/traits/trait-upcasting/mono-impossible.rs
Labels: T-compiler, S-waiting-on-bors, A-rustc-dev-guide

#136315 Use short ty string for binop and unop errors
  compiler/rustc_hir_typeck/src/op.rs
  tests/ui/diagnostic-width/binop.rs
  tests/ui/diagnostic-width/binop.stderr
Labels: T-compiler, S-waiting-on-bors

#136435 Simplify some code for lowering THIR patterns
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/builder/matches/match_pair.rs
  compiler/rustc_mir_build/src/builder/matches/mod.rs
  compiler/rustc_mir_build/src/builder/matches/simplify.rs
  compiler/rustc_mir_build/src/builder/matches/test.rs
  compiler/rustc_mir_build/src/builder/matches/util.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_build/src/thir/print.rs
  compiler/rustc_ty_utils/src/consts.rs
Labels: T-compiler, S-waiting-on-bors

#136630 Change two std process tests to not output to std{out,err}, and fix test suite stat reset in bootstrap CI test rendering
  library/std/src/process/tests.rs
  src/bootstrap/src/utils/render_tests.rs
Labels: T-bootstrap, S-waiting-on-bors, T-libs

#136636 Couple of minor cleanups to the diagnostic infrastructure
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_parse/src/parser/tests.rs
  compiler/rustc_session/src/session.rs
Labels: T-compiler, S-waiting-on-bors

#136069 Simplify slice indexing in next trait solver
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#136152 Stabilize `map_many_mut` feature
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_session/src/lib.rs
  library/std/src/collections/hash/map.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#136219 Misc. `rustc_hir` cleanups 🧹
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#136580 Couple of changes to run rustc in miri
  compiler/rustc_data_structures/src/memmap.rs
  compiler/rustc_data_structures/src/stack.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/emitter.rs
Labels: T-compiler, S-waiting-on-bors

#133925 disallow `repr()` on invalid items
  compiler/rustc_passes/src/check_attr.rs
  tests/crashes/132391.rs
  tests/ui/feature-gates/feature-gate-fn_align.rs
  tests/ui/feature-gates/feature-gate-fn_align.stderr
  tests/ui/repr/attr-usage-repr.rs
  tests/ui/repr/attr-usage-repr.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, I-lang-easy-decision

#136450 Don't reset cast kind without also updating the operand in `simplify_cast` in GVN
  compiler/rustc_mir_transform/src/gvn.rs
  tests/mir-opt/dont_reset_cast_kind_without_updating_operand.rs
  tests/mir-opt/dont_reset_cast_kind_without_updating_operand.test.GVN.panic-abort.diff
  tests/mir-opt/dont_reset_cast_kind_without_updating_operand.test.GVN.panic-unwind.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#136647 ci: use ubuntu 22 for free arm runners
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#135973 fix tail call checks wrt `#[track_caller]`
  compiler/rustc_mir_build/src/check_tail_calls.rs
  tests/crashes/134336.rs
  tests/ui/explicit-tail-calls/become-trait-fn.rs
  tests/ui/explicit-tail-calls/callee_is_track_caller.rs
  tests/ui/explicit-tail-calls/caller_is_track_caller.rs
  tests/ui/explicit-tail-calls/caller_is_track_caller.stderr
Labels: T-compiler, S-waiting-on-bors, F-explicit_tail_calls

#136191 compiler: replace few consts arrays with statics to remove const dupes
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/target_features.rs
Labels: T-compiler, S-waiting-on-bors

#136565 compiler: Clean up weird `rustc_abi` reexports
  compiler/rustc_abi/src/callconv.rs
  compiler/rustc_abi/src/callconv/reg.rs
  compiler/rustc_abi/src/extern_abi.rs
  compiler/rustc_abi/src/layout/ty.rs
  compiler/rustc_target/src/asm/mod.rs
  compiler/rustc_target/src/callconv/aarch64.rs
  compiler/rustc_target/src/callconv/amdgpu.rs
  compiler/rustc_target/src/callconv/arm.rs
  compiler/rustc_target/src/callconv/loongarch.rs
  compiler/rustc_target/src/callconv/mips.rs
  compiler/rustc_target/src/callconv/mips64.rs
  compiler/rustc_target/src/callconv/mod.rs
  compiler/rustc_target/src/callconv/nvptx64.rs
  compiler/rustc_target/src/callconv/powerpc64.rs
  compiler/rustc_target/src/callconv/riscv.rs
  compiler/rustc_target/src/callconv/s390x.rs
  compiler/rustc_target/src/callconv/sparc.rs
  compiler/rustc_target/src/callconv/sparc64.rs
  compiler/rustc_target/src/callconv/wasm.rs
  compiler/rustc_target/src/callconv/x86.rs
  compiler/rustc_target/src/callconv/x86_64.rs
  compiler/rustc_target/src/callconv/xtensa.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_target/src/spec/base/aix.rs
  compiler/rustc_target/src/spec/base/bpf.rs
  compiler/rustc_target/src/spec/base/xtensa.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors

#136582 Revert "CI: build FreeBSD artifacts on FreeBSD 13.4"
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-freebsd/Dockerfile
  src/ci/docker/scripts/freebsd-toolchain.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#136627 MIR validation: add comment explaining the limitations of CfgChecker
  compiler/rustc_mir_transform/src/validate.rs
Labels: T-compiler, S-waiting-on-bors

#136634 Stabilise `Cursor::{get_mut, set_position}` in `const` scenarios.
  library/std/src/io/cursor.rs
Labels: T-libs-api, S-waiting-on-bors

#136643 ping me for attribute-related changes
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#136644 Add `rustc_hir_pretty::item_to_string` function
  compiler/rustc_hir_pretty/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#136684 Rollup of 8 pull requests
  compiler/rustc_abi/src/callconv.rs
  compiler/rustc_abi/src/callconv/reg.rs
  compiler/rustc_abi/src/extern_abi.rs
  compiler/rustc_abi/src/layout/ty.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_mir_build/src/check_tail_calls.rs
  compiler/rustc_mir_transform/src/validate.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
  compiler/rustc_target/src/asm/mod.rs
  compiler/rustc_target/src/callconv/aarch64.rs
  compiler/rustc_target/src/callconv/amdgpu.rs
  compiler/rustc_target/src/callconv/arm.rs
  compiler/rustc_target/src/callconv/loongarch.rs
  compiler/rustc_target/src/callconv/mips.rs
  compiler/rustc_target/src/callconv/mips64.rs
  compiler/rustc_target/src/callconv/mod.rs
  compiler/rustc_target/src/callconv/nvptx64.rs
  compiler/rustc_target/src/callconv/powerpc64.rs
  compiler/rustc_target/src/callconv/riscv.rs
  compiler/rustc_target/src/callconv/s390x.rs
  compiler/rustc_target/src/callconv/sparc.rs
  compiler/rustc_target/src/callconv/sparc64.rs
  compiler/rustc_target/src/callconv/wasm.rs
  compiler/rustc_target/src/callconv/x86.rs
  compiler/rustc_target/src/callconv/x86_64.rs
  compiler/rustc_target/src/callconv/xtensa.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_target/src/spec/base/aix.rs
  compiler/rustc_target/src/spec/base/bpf.rs
  compiler/rustc_target/src/spec/base/xtensa.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/target_features.rs
  library/std/src/io/cursor.rs
  src/ci/docker/host-x86_64/dist-various-2/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-freebsd/Dockerfile
  src/ci/docker/scripts/freebsd-toolchain.sh
  tests/crashes/134336.rs
  tests/ui/explicit-tail-calls/become-trait-fn.rs
  tests/ui/explicit-tail-calls/callee_is_track_caller.rs
  tests/ui/explicit-tail-calls/caller_is_track_caller.rs
  tests/ui/explicit-tail-calls/caller_is_track_caller.stderr
  triagebot.toml
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-meta, T-libs

#136598 Fix suggestion for `dependency_on_unit_never_type_fallback` involving closures + format args expansions
  compiler/rustc_hir_typeck/src/fallback.rs
  tests/ui/never_type/dont-suggest-turbofish-from-expansion.rs
  tests/ui/never_type/dont-suggest-turbofish-from-expansion.stderr
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.e2015.stderr
  tests/ui/never_type/lint-never-type-fallback-flowing-into-unsafe.e2024.stderr
Labels: T-compiler, S-waiting-on-bors

#136653 Remove dead code from rustc_codegen_llvm and the LLVM wrapper
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#136664 replace one `.map_or(true, ...)` with `.is_none_or(...)`
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#135940 Update toolstate maintainers
  src/tools/publish_toolstate.py
Labels: S-waiting-on-bors

#135945 Remove some unnecessary parens in `assert!` conditions
  library/alloc/tests/str.rs
  library/coretests/tests/bool.rs
  library/coretests/tests/ptr.rs
  library/std/tests/istr.rs
  library/std/tests/seq-compare.rs
  src/tools/miri/tests/pass/binops.rs
  tests/ui/binding/expr-match-generic.rs
  tests/ui/binding/expr-match.rs
  tests/ui/binop/binops.rs
  tests/ui/binop/structured-compare.rs
  tests/ui/cfg/conditional-compile.rs
  tests/ui/expr/block.rs
  tests/ui/expr/if/expr-if.rs
  tests/ui/for-loop-while/break.rs
  tests/ui/for-loop-while/while-cont.rs
  tests/ui/for-loop-while/while-loop-constraints-2.rs
  tests/ui/generics/generic-tag-match.rs
  tests/ui/iterators/iter-range.rs
  tests/ui/macros/syntax-extension-source-utils.rs
  tests/ui/numbers-arithmetic/arith-unsigned.rs
  tests/ui/numbers-arithmetic/float-nan.rs
  tests/ui/numbers-arithmetic/float2.rs
  tests/ui/numbers-arithmetic/floatlits.rs
  tests/ui/structs-enums/class-impl-very-parameterized-trait.rs
  tests/ui/structs-enums/class-implement-trait-cross-crate.rs
  tests/ui/structs-enums/class-implement-traits.rs
  tests/ui/structs-enums/classes-cross-crate.rs
  tests/ui/structs-enums/classes.rs
  tests/ui/structs-enums/tag.rs
  tests/ui/tail-cps.rs
  tests/ui/weird-exprs.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#136577 Pattern Migration 2024: try to suggest eliding redundant binding modifiers
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/experimental/ref-binding-on-inh-ref-errors.classic2024.stderr
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/experimental/ref-binding-on-inh-ref-errors.rs
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/experimental/ref-binding-on-inh-ref-errors.stable2021.stderr
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/experimental/ref-binding-on-inh-ref-errors.structural2024.stderr
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/migration_lint.fixed
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/migration_lint.rs
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/migration_lint.stderr
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/min_match_ergonomics_fail.rs
  tests/ui/pattern/rfc-3627-match-ergonomics-2024/min_match_ergonomics_fail.stderr
Labels: A-diagnostics, beta-nominated, T-compiler, S-waiting-on-bors, A-patterns, A-edition-2024

#136588 Don't install msys2 in CI
  .github/workflows/ci.yml
Labels: S-waiting-on-bors, merged-by-bors

#136554 Add `opt_alias_variances` and use it in outlives code
  compiler/rustc_borrowck/src/type_check/opaque_types.rs
  compiler/rustc_infer/src/infer/outlives/for_liveness.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/outlives.rs
  compiler/rustc_type_ir/src/predicate.rs
  compiler/rustc_type_ir/src/relate.rs
  tests/ui/impl-trait/precise-capturing/rpitit-outlives-2.rs
  tests/ui/impl-trait/precise-capturing/rpitit-outlives.rs
Labels: T-compiler, S-waiting-on-bors

#136556 [AIX] Update tests/ui/wait-forked-but-failed-child.rs to accomodate exiting and idle processes.
  tests/ui/wait-forked-but-failed-child.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#136635 Remove outdated `base_port` calculation in std net test
  library/std/src/net/test.rs
Labels: S-waiting-on-bors, T-libs

#136713 Rollup of 7 pull requests
  compiler/rustc_borrowck/src/type_check/opaque_types.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_infer/src/infer/outlives/for_liveness.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/outlives.rs
  compiler/rustc_type_ir/src/predicate.rs
  compiler/rustc_type_ir/src/relate.rs
  library/std/src/net/test.rs
  library/std/src/process/tests.rs
  library/std/src/sys/net/connection/uefi/mod.rs
  library/std/src/sys/net/mod.rs
  src/bootstrap/src/core/build_steps/doc.rs
  tests/ui/impl-trait/precise-capturing/rpitit-outlives-2.rs
  tests/ui/impl-trait/precise-capturing/rpitit-outlives.rs
  tests/ui/process/win-creation-flags.rs
  tests/ui/process/win-proc-thread-attributes.rs
  tests/ui/self/arbitrary_self_types_dispatch_to_vtable.rs
  tests/ui/wait-forked-but-failed-child.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs
