Repository rust-lang/rust, pull requests merged in 2025-04, with the labels that each got.

#139182 [stable] Prepare Rust 1.86.0
  RELEASES.md
  src/ci/channel
Labels: A-testsuite, S-waiting-on-bors, T-infra, T-release, merged-by-bors

#139185 [beta] Prepare Rust 1.87.0
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  library/alloc/src/boxed.rs
  library/alloc/src/collections/linked_list.rs
  library/alloc/src/string.rs
  library/alloc/src/vec/extract_if.rs
  library/alloc/src/vec/mod.rs
  library/core/src/char/methods.rs
  library/core/src/net/socket_addr.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/mod.rs
  library/core/src/num/nonzero.rs
  library/core/src/num/uint_macros.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/mod.rs
  library/core/src/str/converts.rs
  library/core/src/str/mod.rs
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
  library/std/src/ffi/mod.rs
  library/std/src/ffi/os_str.rs
  library/std/src/io/error.rs
  library/std/src/io/mod.rs
  library/std/src/io/pipe.rs
  library/std/src/os/fd/owned.rs
  library/std/src/os/fd/raw.rs
  library/std/src/os/windows/io/handle.rs
  library/std/src/os/windows/io/raw.rs
  library/std/src/process.rs
  src/ci/channel
Labels: A-testsuite, O-windows, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, T-libs

#138426 Fix `armv7-sony-vita-newlibeabihf` LLVM target triple
  compiler/rustc_target/src/spec/targets/armv7_sony_vita_newlibeabihf.rs
Labels: T-compiler, S-waiting-on-bors

#139039 Reduce kw::Empty usage, part 4
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/symbol.rs
  src/tools/clippy/clippy_lints/src/significant_drop_tightening.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#139151 tidy: properly check for orphaned unstable_book pages
  src/doc/unstable-book/src/library-features/c-variadic.md
  src/tools/tidy/src/unstable_book.rs
Labels: T-bootstrap, S-waiting-on-bors, A-tidy

#139179 Remove me from vacation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#139181 Fix invalid link in docs
  compiler/rustc_middle/src/ty/mod.rs
Labels: T-compiler, S-waiting-on-bors

#139194 Rollup of 7 pull requests
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/spec/targets/armv7_sony_vita_newlibeabihf.rs
  src/doc/unstable-book/src/library-features/c-variadic.md
  src/tools/clippy/clippy_lints/src/significant_drop_tightening.rs
  src/tools/tidy/src/unstable_book.rs
  tests/ui/codegen/equal-pointers-unequal/as-cast/print3.rs
  tests/ui/codegen/equal-pointers-unequal/exposed-provenance/print3.rs
  tests/ui/codegen/equal-pointers-unequal/strict-provenance/print3.rs
  tests/ui/resolve/auxiliary/macro_helpers.rs
  tests/ui/resolve/prelude-order.rs
  tests/ui/resolve/prelude-order.stderr
  triagebot.toml
Labels: A-attributes, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, A-tidy

#138840 rustc_resolve: Test the order that preludes are resolved
  tests/ui/resolve/auxiliary/macro_helpers.rs
  tests/ui/resolve/prelude-order.rs
  tests/ui/resolve/prelude-order.stderr
Labels: T-compiler, S-waiting-on-bors

#139176 Remove fragile equal-pointers-unequal/*/print3.rs tests.
  tests/ui/codegen/equal-pointers-unequal/as-cast/print3.rs
  tests/ui/codegen/equal-pointers-unequal/exposed-provenance/print3.rs
  tests/ui/codegen/equal-pointers-unequal/strict-provenance/print3.rs
Labels: T-compiler, S-waiting-on-bors

#138740 Move `ast::Item::ident` into `ast::ItemKind`
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/delegation.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_builtin_macros/src/alloc_error_handler.rs
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/assert/context.rs
  compiler/rustc_builtin_macros/src/autodiff.rs
  compiler/rustc_builtin_macros/src/deriving/clone.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_ord.rs
  compiler/rustc_builtin_macros/src/deriving/coerce_pointee.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_builtin_macros/src/global_allocator.rs
  compiler/rustc_builtin_macros/src/proc_macro_harness.rs
  compiler/rustc_builtin_macros/src/standard_library_imports.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/placeholders.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/tests.rs
  compiler/rustc_passes/src/lang_items.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/effective_visibilities.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  src/librustdoc/doctest/make.rs
  src/tools/clippy/clippy_lints/src/crate_in_macro_def.rs
  src/tools/clippy/clippy_lints/src/doc/needless_doctest_main.rs
  src/tools/clippy/clippy_lints/src/duplicate_mod.rs
  src/tools/clippy/clippy_lints/src/empty_line_after.rs
  src/tools/clippy/clippy_lints/src/empty_with_brackets.rs
  src/tools/clippy/clippy_lints/src/field_scoped_visibility_modifiers.rs
  src/tools/clippy/clippy_lints/src/multiple_bound_locations.rs
  src/tools/clippy/clippy_lints/src/partial_pub_fields.rs
  src/tools/clippy/clippy_lints/src/single_component_path_imports.rs
  src/tools/clippy/clippy_utils/src/ast_utils/mod.rs
  src/tools/rustfmt/src/expr.rs
  src/tools/rustfmt/src/items.rs
  src/tools/rustfmt/src/macros.rs
  src/tools/rustfmt/src/modules.rs
  src/tools/rustfmt/src/patterns.rs
  src/tools/rustfmt/src/reorder.rs
  src/tools/rustfmt/src/types.rs
  src/tools/rustfmt/src/visitor.rs
  tests/ui/custom_test_frameworks/full.rs
  tests/ui/stats/input-stats.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#137535 Introduce `-Zembed-metadata` to allow omitting full metadata from rlibs and dylibs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_metadata/messages.ftl
  compiler/rustc_metadata/src/errors.rs
  compiler/rustc_metadata/src/fs.rs
  compiler/rustc_metadata/src/locator.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_session/src/options.rs
  src/doc/unstable-book/src/compiler-flags/embed-metadata.md
  src/tools/rust-analyzer/crates/proc-macro-srv/src/dylib/version.rs
  tests/run-make/embed-metadata/dep1.rs
  tests/run-make/embed-metadata/foo.rs
  tests/run-make/embed-metadata/rmake.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-run-make

#138492 remove `feature(inline_const_pat)`
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/pat.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/num/int_macros.rs
  library/coretests/tests/num/uint_macros.rs
  src/doc/unstable-book/src/language-features/inline-const-pat.md
  src/tools/clippy/clippy_lints/src/matches/redundant_guards.rs
  src/tools/rustfmt/tests/source/pattern.rs
  src/tools/rustfmt/tests/target/pattern.rs
  src/tools/tidy/src/issues.txt
  tests/pretty/stmt_expr_attributes.rs
  tests/ui/consts/invalid-inline-const-in-match-arm.rs
  tests/ui/consts/invalid-inline-const-in-match-arm.stderr
  tests/ui/feature-gates/feature-gate-inline_const_pat.rs
  tests/ui/feature-gates/feature-gate-inline_const_pat.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions0.rs
  tests/ui/half-open-range-patterns/range_pat_interactions1.rs
  tests/ui/half-open-range-patterns/range_pat_interactions1.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions2.rs
  tests/ui/half-open-range-patterns/range_pat_interactions2.stderr
  tests/ui/half-open-range-patterns/range_pat_interactions3.rs
  tests/ui/half-open-range-patterns/range_pat_interactions3.stderr
  tests/ui/inline-const/collect-scopes-in-pat.rs
  tests/ui/inline-const/const-block-pat-liveness.rs
  tests/ui/inline-const/const-match-pat-generic.rs
  tests/ui/inline-const/const-match-pat-generic.stderr
  tests/ui/inline-const/const-match-pat-inference.rs
  tests/ui/inline-const/const-match-pat-lifetime-err.rs
  tests/ui/inline-const/const-match-pat-lifetime-err.stderr
  tests/ui/inline-const/const-match-pat-lifetime.rs
  tests/ui/inline-const/const-match-pat-range.rs
  tests/ui/inline-const/const-match-pat.rs
  tests/ui/inline-const/in-pat-recovery.rs
  tests/ui/inline-const/in-pat-recovery.stderr
  tests/ui/inline-const/pat-match-fndef.rs
  tests/ui/inline-const/pat-match-fndef.stderr
  tests/ui/inline-const/pat-unsafe-err.rs
  tests/ui/inline-const/pat-unsafe-err.stderr
  tests/ui/inline-const/pat-unsafe.rs
  tests/ui/inline-const/pat-unsafe.stderr
  tests/ui/lint/dead-code/anon-const-in-pat.rs
  tests/ui/match/issue-112438.rs
  tests/ui/match/validate-range-endpoints.rs
  tests/ui/match/validate-range-endpoints.stderr
  tests/ui/parser/issues/issue-24375.stderr
  tests/ui/parser/recover/recover-pat-exprs.stderr
  tests/ui/parser/recover/recover-pat-issues.stderr
  tests/ui/parser/recover/recover-pat-lets.stderr
  tests/ui/parser/recover/recover-pat-ranges.stderr
  tests/ui/parser/recover/recover-pat-wildcards.stderr
  tests/ui/pattern/non-structural-match-types.rs
  tests/ui/pattern/non-structural-match-types.stderr
  tests/ui/type/pattern_types/const_block.rs
  tests/ui/unsafe/const_pat_in_layout_restricted.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-tidy

#138790 Note potential but private items in show_candidates
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/imports.rs
  tests/ui/imports/glob-resolve1.stderr
  tests/ui/imports/issue-4366-2.stderr
  tests/ui/imports/issue-4366.stderr
  tests/ui/imports/show-private-items-issue-138626.rs
  tests/ui/imports/show-private-items-issue-138626.stderr
  tests/ui/privacy/privacy-ns1.stderr
  tests/ui/privacy/privacy-ns2.stderr
  tests/ui/resolve/issue-21221-1.stderr
  tests/ui/unresolved/unresolved-import.rs
  tests/ui/unresolved/unresolved-import.stderr
Labels: T-compiler, S-waiting-on-bors

#139002 Add release notes for 1.86.0
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#139022 increment depth of nested obligations
  compiler/rustc_trait_selection/src/traits/effects.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/ui/infinite/infinite-autoderef.stderr
  tests/ui/occurs-check-2.rs
  tests/ui/occurs-check-2.stderr
  tests/ui/occurs-check-3.stderr
  tests/ui/occurs-check.stderr
  tests/ui/traits/mutual-recursion-issue-75860.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-1.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-1.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-2.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-2.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-3.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-3.stderr
Labels: T-compiler, S-waiting-on-bors

#139129 Add tests for slice bounds check optimization
  tests/codegen/slice-last-elements-optimization.rs
Labels: T-compiler, S-waiting-on-bors

#139188 PassWrapper: adapt for llvm/llvm-project@94122d58fc77079a291a3d008914…
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  tests/codegen/cast-target-abi.rs
  tests/codegen/cffi/ffi-out-of-bounds-loads.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#139193 Feed HIR for by-move coroutine body def, since the inliner tries to read its attrs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  tests/crashes/134335.rs
  tests/ui/async-await/async-closures/by-move-body-inlined-attrs.rs
Labels: T-compiler, S-waiting-on-bors

#139202 Improve docs of ValTreeKind
  compiler/rustc_middle/src/ty/consts/valtree.rs
Labels: T-compiler, S-waiting-on-bors

#139220 Rollup of 8 pull requests
  RELEASES.md
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_middle/src/ty/consts/valtree.rs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_trait_selection/src/traits/effects.rs
  compiler/rustc_trait_selection/src/traits/fulfill.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/codegen/cast-target-abi.rs
  tests/codegen/cffi/ffi-out-of-bounds-loads.rs
  tests/codegen/slice-last-elements-optimization.rs
  tests/crashes/134335.rs
  tests/rustdoc-json/attrs/automatically_derived.rs
  tests/ui/async-await/async-closures/by-move-body-inlined-attrs.rs
  tests/ui/imports/glob-resolve1.stderr
  tests/ui/imports/issue-4366-2.stderr
  tests/ui/imports/issue-4366.stderr
  tests/ui/imports/show-private-items-issue-138626.rs
  tests/ui/imports/show-private-items-issue-138626.stderr
  tests/ui/infinite/infinite-autoderef.stderr
  tests/ui/occurs-check-2.rs
  tests/ui/occurs-check-2.stderr
  tests/ui/occurs-check-3.stderr
  tests/ui/occurs-check.stderr
  tests/ui/privacy/privacy-ns1.stderr
  tests/ui/privacy/privacy-ns2.stderr
  tests/ui/resolve/issue-21221-1.stderr
  tests/ui/traits/mutual-recursion-issue-75860.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-1.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-1.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-2.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-2.stderr
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-3.rs
  tests/ui/type-alias-impl-trait/type-alias-impl-trait-with-cycle-error-3.stderr
  tests/ui/unresolved/unresolved-import.rs
  tests/ui/unresolved/unresolved-import.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup, A-rustdoc-json

#110406 rustdoc-json: Add test for #[automatically_derived] attribute
  tests/rustdoc-json/attrs/automatically_derived.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#138478 Remove `NtExpr` and `NtLiteral`
  compiler/rustc_ast/src/ast_traits.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/nonterminal.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/ty.rs
  tests/ui/attributes/dont-dup-expr-attrs.rs
  tests/ui/attributes/inner-attr-metavar.rs
  tests/ui/attributes/nonterminal-expansion.rs
  tests/ui/attributes/nonterminal-expansion.stderr
  tests/ui/conditional-compilation/cfg-attr-syntax-validation.rs
  tests/ui/conditional-compilation/cfg-attr-syntax-validation.stderr
  tests/ui/macros/nonterminal-matching.rs
  tests/ui/macros/nonterminal-matching.stderr
  tests/ui/parser/extern-abi-from-mac-literal-frag.rs
  tests/ui/parser/float-field-interpolated.rs
  tests/ui/parser/float-field-interpolated.stderr
  tests/ui/parser/macro/trait-non-item-macros.rs
  tests/ui/parser/macro/trait-non-item-macros.stderr
  tests/ui/proc-macro/macro-rules-derive-cfg.stdout
  tests/ui/rfcs/rfc-2294-if-let-guard/feature-gate.rs
  tests/ui/rfcs/rfc-2294-if-let-guard/feature-gate.stderr
  tests/ui/rfcs/rfc-2497-if-let-chains/disallowed-positions.feature.stderr
  tests/ui/rfcs/rfc-2497-if-let-chains/disallowed-positions.no_feature.stderr
  tests/ui/rfcs/rfc-2497-if-let-chains/disallowed-positions.nothing.stderr
  tests/ui/rfcs/rfc-2497-if-let-chains/disallowed-positions.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#135295 Check empty SIMD vector in inline asm
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  tests/crashes/134334.rs
  tests/ui/simd/empty-simd-vector-in-operand.rs
  tests/ui/simd/empty-simd-vector-in-operand.stderr
Labels: T-compiler, S-waiting-on-bors

#138823 rustc_target: RISC-V: add base `I`-related important extensions
  compiler/rustc_target/src/spec/targets/riscv32_wrs_vxworks.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/riscv64_linux_android.rs
  compiler/rustc_target/src/spec/targets/riscv64_wrs_vxworks.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_fuchsia.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_hermit.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_netbsd.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_none_elf.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_nuttx_elf.rs
  compiler/rustc_target/src/spec/targets/riscv64gc_unknown_openbsd.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/target_feature.stderr
Labels: T-compiler, S-waiting-on-bors, O-riscv, A-target-feature

#138913 Remove even more instances of @ts-expect-error from search.js
  src/librustdoc/html/static/js/rustdoc.d.ts
  src/librustdoc/html/static/js/search.js
  src/librustdoc/html/static/js/storage.js
  src/tools/rustdoc-js/tester.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-search, T-rustdoc-frontend

#139102 coverage: Avoid splitting spans during span extraction/refinement
  compiler/rustc_mir_transform/src/coverage/mappings.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  compiler/rustc_mir_transform/src/lib.rs
  tests/coverage/abort.cov-map
  tests/coverage/assert-ne.cov-map
  tests/coverage/assert-ne.coverage
  tests/coverage/assert-ne.rs
  tests/coverage/assert_not.cov-map
  tests/coverage/async_block.cov-map
  tests/coverage/async_block.coverage
  tests/coverage/async_closure.cov-map
  tests/coverage/async_closure.coverage
  tests/coverage/attr/off-on-sandwich.cov-map
  tests/coverage/bad_counter_ids.cov-map
  tests/coverage/branch/guard.cov-map
  tests/coverage/branch/if-let.cov-map
  tests/coverage/branch/if.cov-map
  tests/coverage/branch/lazy-boolean.cov-map
  tests/coverage/branch/let-else.cov-map
  tests/coverage/branch/match-arms.cov-map
  tests/coverage/branch/match-trivial.cov-map
  tests/coverage/branch/while.cov-map
  tests/coverage/closure.cov-map
  tests/coverage/closure.coverage
  tests/coverage/closure_macro.cov-map
  tests/coverage/closure_macro_async.cov-map
  tests/coverage/condition/conditions.cov-map
  tests/coverage/coroutine.cov-map
  tests/coverage/holes.cov-map
  tests/coverage/holes.coverage
  tests/coverage/inline-dead.cov-map
  tests/coverage/inline.cov-map
  tests/coverage/issue-83601.cov-map
  tests/coverage/issue-84561.cov-map
  tests/coverage/issue-84561.coverage
  tests/coverage/loop-break.cov-map
  tests/coverage/loops_branches.cov-map
  tests/coverage/macro_name_span.cov-map
  tests/coverage/mcdc/non_control_flow.cov-map
  tests/coverage/no_cov_crate.cov-map
  tests/coverage/panic_unwind.cov-map
  tests/coverage/sort_groups.cov-map
  tests/coverage/try_error_result.cov-map
  tests/coverage/try_error_result.coverage
  tests/coverage/unicode.cov-map
  tests/coverage/unicode.coverage
  tests/coverage/unreachable.cov-map
  tests/coverage/yield.cov-map
  tests/mir-opt/coverage/branch_match_arms.main.InstrumentCoverage.diff
  tests/mir-opt/coverage/instrument_coverage.main.InstrumentCoverage.diff
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#139208 fix dead link netbsd.md
  src/doc/rustc/src/platform-support/netbsd.md
Labels: T-compiler, S-waiting-on-bors

#138003 Add the new `amx` target features and the `movrs` target feature
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/feature-gates/feature-gate-movrs_target_feature.rs
  tests/ui/feature-gates/feature-gate-movrs_target_feature.stderr
Labels: O-x86_64, T-compiler, S-waiting-on-bors, A-target-feature, O-x86_32

#138848 Update dependencies
  Cargo.lock
  library/Cargo.lock
  src/tools/rustbook/Cargo.lock
  src/tools/tidy/src/deps.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, A-tidy

#139178 Remove cjgillot from automated review assignment
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#139184 Add unstable `--print=crate-root-lint-levels`
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
  compiler/rustc_session/src/config.rs
  src/doc/unstable-book/src/compiler-flags/print-crate-root-lint-levels.md
  tests/run-make/print-crate-root-lint-levels/lib.rs
  tests/run-make/print-crate-root-lint-levels/rmake.rs
  tests/run-make/rustc-help/help-v.stdout
  tests/run-make/rustc-help/help.stdout
  tests/ui/invalid-compile-flags/print-without-arg.stderr
  tests/ui/invalid-compile-flags/print.stderr
  tests/ui/print-request/print-lints-help.stderr
  tests/ui/print-request/stability.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#139215 Add `opt-level = "s"` for more std symbolication crates
  library/Cargo.toml
Labels: S-waiting-on-bors

#139239 Remove `aux_build` run-make rustc helpers
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/run-make-support/src/lib.rs
  tests/run-make/CURRENT_RUSTC_VERSION/rmake.rs
  tests/run-make/issue-107495-archive-permissions/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#139260 Add dianqk to codegen reviewers
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#139269 Rollup of 6 pull requests
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/dep_graph/mod.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  src/tools/miri/src/concurrency/data_race.rs
  tests/ui/consts/const_in_pattern/arrays-and-slices.rs
  tests/ui/consts/const_in_pattern/arrays-and-slices.stderr
  tests/ui/coverage-attr/name-value.stderr
  tests/ui/coverage-attr/word-only.stderr
  tests/ui/fn/bad-turbofish-hints-issue-121901.rs
  tests/ui/fn/bad-turbofish-hints-issue-121901.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, A-query-system

#138992 literal pattern lowering: use the pattern's type instead of the literal's in `const_to_pat`
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  tests/ui/consts/const_in_pattern/arrays-and-slices.rs
  tests/ui/consts/const_in_pattern/arrays-and-slices.stderr
Labels: T-compiler, S-waiting-on-bors

#139211 interpret: add a version of run_for_validation for &self
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  src/tools/miri/src/concurrency/data_race.rs
Labels: T-compiler, S-waiting-on-bors

#139235 `AstValidator` tweaks
  compiler/rustc_ast_passes/src/ast_validation.rs
  tests/ui/coverage-attr/name-value.stderr
  tests/ui/coverage-attr/word-only.stderr
Labels: T-compiler, S-waiting-on-bors

#139237 Add a dep kind for use of the anon node with zero dependencies
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/dep_graph/mod.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#139264 Fix two incorrect turbofish suggestions
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/fn/bad-turbofish-hints-issue-121901.rs
  tests/ui/fn/bad-turbofish-hints-issue-121901.stderr
Labels: T-compiler, S-waiting-on-bors

#139234 Misc query tweaks
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_mir_build/src/builder/mod.rs
  compiler/rustc_mir_transform/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#137738 Make slice iterator constructors unstably const
  library/core/src/slice/iter.rs
  library/core/src/slice/mod.rs
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-unwind.mir
Labels: T-libs-api, S-waiting-on-bors, merged-by-bors

#139145 slice: Remove some uses of unsafe in first/last chunk methods
  library/core/src/slice/mod.rs
  tests/codegen/slice-split-at.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#139149 unstable book: document import_trait_associated_functions
  src/doc/unstable-book/src/language-features/import-trait-associated-functions.md
Labels: S-waiting-on-bors

#139273 Apply requested API changes to `cell_update`
  library/core/src/cell.rs
  library/coretests/tests/cell.rs
Labels: S-waiting-on-bors, T-libs

#139282 rustdoc: make settings checkboxes always square
  src/librustdoc/html/static/css/rustdoc.css
Labels: T-rustdoc, S-waiting-on-author, T-rustdoc-frontend

#139283 Rustc dev guide subtree update
  src/doc/rustc-dev-guide/.github/workflows/ci.yml
  src/doc/rustc-dev-guide/book.toml
  src/doc/rustc-dev-guide/ci/date-check/src/main.rs
  src/doc/rustc-dev-guide/examples/rustc-driver-example.rs
  src/doc/rustc-dev-guide/examples/rustc-driver-interacting-with-the-ast.rs
  src/doc/rustc-dev-guide/examples/rustc-interface-example.rs
  src/doc/rustc-dev-guide/examples/rustc-interface-getting-diagnostics.rs
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/rustfmt.toml
  src/doc/rustc-dev-guide/src/SUMMARY.md
  src/doc/rustc-dev-guide/src/appendix/code-index.md
  src/doc/rustc-dev-guide/src/building/how-to-build-and-run.md
  src/doc/rustc-dev-guide/src/building/prerequisites.md
  src/doc/rustc-dev-guide/src/const-eval.md
  src/doc/rustc-dev-guide/src/diagnostics.md
  src/doc/rustc-dev-guide/src/name-resolution.md
  src/doc/rustc-dev-guide/src/notification-groups/fuchsia.md
  src/doc/rustc-dev-guide/src/param_env/param_env_acquisition.md
  src/doc/rustc-dev-guide/src/param_env/param_env_construction_internals.md
  src/doc/rustc-dev-guide/src/param_env/param_env_summary.md
  src/doc/rustc-dev-guide/src/param_env/param_env_what_is_it.md
  src/doc/rustc-dev-guide/src/rustc-driver/getting-diagnostics.md
  src/doc/rustc-dev-guide/src/rustc-driver/remarks-on-perma-unstable-features.md
  src/doc/rustc-dev-guide/src/rustdoc-internals/rustdoc-test-suite.md
  src/doc/rustc-dev-guide/src/rustdoc.md
  src/doc/rustc-dev-guide/src/tests/codegen-backend-tests/cg_clif.md
  src/doc/rustc-dev-guide/src/tests/codegen-backend-tests/cg_gcc.md
  src/doc/rustc-dev-guide/src/tests/codegen-backend-tests/intro.md
  src/doc/rustc-dev-guide/src/tests/ecosystem-test-jobs/fuchsia.md
  src/doc/rustc-dev-guide/src/tests/ecosystem-test-jobs/rust-for-linux.md
  src/doc/rustc-dev-guide/src/tests/ecosystem.md
  src/doc/rustc-dev-guide/src/tests/intro.md
  src/doc/rustc-dev-guide/src/tests/ui.md
  src/doc/rustc-dev-guide/src/traits/caching.md
  src/doc/rustc-dev-guide/src/traits/resolution.md
  src/doc/rustc-dev-guide/src/ty_module/binders.md
  src/doc/rustc-dev-guide/src/typing_parameter_envs.md
Labels: S-waiting-on-bors, A-rustc-dev-guide

#139294 Fix the `f16`/`f128` feature gates on integer literals
  compiler/rustc_ast_passes/src/feature_gate.rs
  tests/ui/feature-gates/feature-gate-f128.e2015.stderr
  tests/ui/feature-gates/feature-gate-f128.e2018.stderr
  tests/ui/feature-gates/feature-gate-f128.rs
  tests/ui/feature-gates/feature-gate-f16.e2015.stderr
  tests/ui/feature-gates/feature-gate-f16.e2018.stderr
  tests/ui/feature-gates/feature-gate-f16.rs
Labels: T-compiler, S-waiting-on-bors

#139301 Rollup of 7 pull requests
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_parse/src/parser/token_type.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/cell.rs
  library/core/src/slice/mod.rs
  library/coretests/tests/cell.rs
  src/doc/rustc-dev-guide/.github/workflows/ci.yml
  src/doc/rustc-dev-guide/book.toml
  src/doc/rustc-dev-guide/ci/date-check/src/main.rs
  src/doc/rustc-dev-guide/examples/rustc-driver-example.rs
  src/doc/rustc-dev-guide/examples/rustc-driver-interacting-with-the-ast.rs
  src/doc/rustc-dev-guide/examples/rustc-interface-example.rs
  src/doc/rustc-dev-guide/examples/rustc-interface-getting-diagnostics.rs
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/rustfmt.toml
  src/doc/rustc-dev-guide/src/SUMMARY.md
  src/doc/rustc-dev-guide/src/appendix/code-index.md
  src/doc/rustc-dev-guide/src/building/how-to-build-and-run.md
  src/doc/rustc-dev-guide/src/building/prerequisites.md
  src/doc/rustc-dev-guide/src/const-eval.md
  src/doc/rustc-dev-guide/src/diagnostics.md
  src/doc/rustc-dev-guide/src/name-resolution.md
  src/doc/rustc-dev-guide/src/notification-groups/fuchsia.md
  src/doc/rustc-dev-guide/src/param_env/param_env_acquisition.md
  src/doc/rustc-dev-guide/src/param_env/param_env_construction_internals.md
  src/doc/rustc-dev-guide/src/param_env/param_env_summary.md
  src/doc/rustc-dev-guide/src/param_env/param_env_what_is_it.md
  src/doc/rustc-dev-guide/src/rustc-driver/getting-diagnostics.md
  src/doc/rustc-dev-guide/src/rustc-driver/remarks-on-perma-unstable-features.md
  src/doc/rustc-dev-guide/src/rustdoc-internals/rustdoc-test-suite.md
  src/doc/rustc-dev-guide/src/rustdoc.md
  src/doc/rustc-dev-guide/src/tests/codegen-backend-tests/cg_clif.md
  src/doc/rustc-dev-guide/src/tests/codegen-backend-tests/cg_gcc.md
  src/doc/rustc-dev-guide/src/tests/codegen-backend-tests/intro.md
  src/doc/rustc-dev-guide/src/tests/ecosystem-test-jobs/fuchsia.md
  src/doc/rustc-dev-guide/src/tests/ecosystem-test-jobs/rust-for-linux.md
  src/doc/rustc-dev-guide/src/tests/ecosystem.md
  src/doc/rustc-dev-guide/src/tests/intro.md
  src/doc/rustc-dev-guide/src/tests/ui.md
  src/doc/rustc-dev-guide/src/traits/caching.md
  src/doc/rustc-dev-guide/src/traits/resolution.md
  src/doc/rustc-dev-guide/src/ty_module/binders.md
  src/doc/rustc-dev-guide/src/typing_parameter_envs.md
  src/doc/unstable-book/src/language-features/import-trait-associated-functions.md
  src/librustdoc/html/static/css/rustdoc.css
  tests/codegen/slice-split-at.rs
  tests/ui/feature-gates/feature-gate-f128.e2015.stderr
  tests/ui/feature-gates/feature-gate-f128.e2018.stderr
  tests/ui/feature-gates/feature-gate-f128.rs
  tests/ui/feature-gates/feature-gate-f16.e2015.stderr
  tests/ui/feature-gates/feature-gate-f16.e2018.stderr
  tests/ui/feature-gates/feature-gate-f16.rs
  tests/ui/feature-gates/feature-gate-super-let.rs
  tests/ui/feature-gates/feature-gate-super-let.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, T-rustdoc-frontend, A-rustc-dev-guide

#139080 Experimental feature gate for `super let`
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_parse/src/parser/token_type.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/feature-gates/feature-gate-super-let.rs
  tests/ui/feature-gates/feature-gate-super-let.stderr
Labels: T-lang, S-waiting-on-bors, I-lang-nominated

#132527 gvn: Invalid dereferences for all non-local mutations
  compiler/rustc_data_structures/src/fx.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/ssa.rs
  tests/codegen/clone_as_copy.rs
  tests/codegen/try_question_mark_nop.rs
  tests/coverage/issue-84561.cov-map
  tests/mir-opt/const_prop/control_flow_simplification.hello.GVN.panic-abort.diff
  tests/mir-opt/const_prop/control_flow_simplification.hello.GVN.panic-unwind.diff
  tests/mir-opt/const_prop/read_immutable_static.main.GVN.diff
  tests/mir-opt/const_prop/read_immutable_static.rs
  tests/mir-opt/const_prop/ref_deref.main.GVN.diff
  tests/mir-opt/const_prop/ref_deref_project.main.GVN.diff
  tests/mir-opt/const_prop/ref_deref_project.rs
  tests/mir-opt/const_prop/slice_len.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/const_prop/slice_len.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/const_prop/slice_len.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/const_prop/slice_len.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/const_prop/slice_len.rs
  tests/mir-opt/const_prop/transmute.undef_union_as_integer.GVN.32bit.diff
  tests/mir-opt/const_prop/transmute.undef_union_as_integer.GVN.64bit.diff
  tests/mir-opt/dest-prop/union.main.DestinationPropagation.panic-abort.diff
  tests/mir-opt/dest-prop/union.main.DestinationPropagation.panic-unwind.diff
  tests/mir-opt/gvn.borrowed.GVN.panic-abort.diff
  tests/mir-opt/gvn.borrowed.GVN.panic-unwind.diff
  tests/mir-opt/gvn.fn_pointers.GVN.panic-abort.diff
  tests/mir-opt/gvn.fn_pointers.GVN.panic-unwind.diff
  tests/mir-opt/gvn.rs
  tests/mir-opt/gvn.slices.GVN.panic-abort.diff
  tests/mir-opt/gvn.slices.GVN.panic-unwind.diff
  tests/mir-opt/gvn_clone.rs
  tests/mir-opt/gvn_clone.{impl#0}-clone.GVN.diff
  tests/mir-opt/gvn_copy_aggregate.rs
  tests/mir-opt/gvn_uninhabited.f.GVN.panic-abort.diff
  tests/mir-opt/gvn_uninhabited.f.GVN.panic-unwind.diff
  tests/mir-opt/pre-codegen/clone_as_copy.rs
  tests/mir-opt/pre-codegen/deref_nested_borrows.rs
  tests/mir-opt/pre-codegen/no_inlined_clone.{impl#0}-clone.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_filter.variant_a-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/slice_filter.variant_b-{closure#0}.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/try_identity.old.PreCodegen.after.mir
  tests/mir-opt/simplify_aggregate_to_copy_miscompile.foo.GVN.diff
  tests/mir-opt/simplify_aggregate_to_copy_miscompile.rs
  tests/mir-opt/simplify_aggregate_to_copy_miscompile.set_discriminant.GVN.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-mir-opt, perf-regression

#138017 Tighten up assignment operator representations.
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/util/parser.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/builder/expr/stmt.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_parse/src/parser/expr.rs
  src/tools/clippy/clippy_lints/src/format_push_string.rs
  src/tools/clippy/clippy_lints/src/implicit_saturating_add.rs
  src/tools/clippy/clippy_lints/src/implicit_saturating_sub.rs
  src/tools/clippy/clippy_lints/src/loops/utils.rs
  src/tools/clippy/clippy_lints/src/missing_asserts_for_indexing.rs
  src/tools/clippy/clippy_lints/src/mixed_read_write_in_expression.rs
  src/tools/clippy/clippy_lints/src/operators/arithmetic_side_effects.rs
  src/tools/clippy/clippy_lints/src/operators/mod.rs
  src/tools/clippy/clippy_lints/src/suspicious_trait_impl.rs
  src/tools/clippy/clippy_lints/src/swap.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  src/tools/clippy/clippy_utils/src/sugg.rs
  src/tools/rustfmt/src/expr.rs
Labels: T-compiler, S-waiting-on-bors

#138462 Dedup `&mut *` reborrow suggestion in loops
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  tests/ui/borrowck/mut-borrow-in-loop-2.stderr
Labels: A-diagnostics, A-borrow-checker, T-compiler, S-waiting-on-bors, A-suggestion-diagnostics, D-papercut

#138610 impl !PartialOrd for HirId
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_errors/src/annotate_snippet_emitter_writer.rs
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/json.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir/src/hir_id.rs
  compiler/rustc_hir/src/lib.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_lint/src/non_ascii_idents.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_middle/src/lint.rs
  compiler/rustc_middle/src/middle/stability.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_mir_build/src/builder/expr/as_place.rs
  compiler/rustc_mir_build/src/builder/mod.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_pattern_analysis/src/lints.rs
  compiler/rustc_session/src/config.rs
  src/librustdoc/passes/calculate_doc_coverage.rs
  src/librustdoc/passes/check_doc_test_visibility.rs
  src/tools/clippy/clippy_lints/src/booleans.rs
  src/tools/clippy/clippy_lints/src/disallowed_script_idents.rs
  src/tools/clippy/clippy_lints/src/duplicate_mod.rs
  src/tools/clippy/clippy_lints/src/lib.rs
  src/tools/clippy/clippy_lints/src/macro_use.rs
  src/tools/clippy/clippy_lints/src/module_style.rs
  src/tools/clippy/clippy_lints/src/raw_strings.rs
  src/tools/clippy/clippy_lints/src/returns.rs
  src/tools/clippy/clippy_utils/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#138767 Allow boolean literals in `check-cfg`
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_interface/src/interface.rs
  tests/ui/cfg/raw-true-false.rs
  tests/ui/check-cfg/invalid-arguments.boolean.stderr
  tests/ui/check-cfg/invalid-arguments.boolean_after_values.stderr
  tests/ui/check-cfg/invalid-arguments.rs
Labels: T-compiler, S-waiting-on-bors, S-waiting-on-MCP

#139068 io: Avoid marking some bytes as uninit
  library/std/src/io/buffered/bufreader/buffer.rs
  library/std/src/io/copy.rs
Labels: S-waiting-on-bors, T-libs

#139255 Remove unused variables generated in merged doctests
  src/librustdoc/doctest/runner.rs
Labels: T-rustdoc, S-waiting-on-bors

#139270 Add a mailmap entry for myself
  .mailmap
Labels: S-waiting-on-bors, A-meta

#139303 Put Noratrieb on vacation
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#139312 add Marco Ieni to mailmap
  .mailmap
Labels: S-waiting-on-bors, A-meta

#120706 Initial support for auto traits with default bounds
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/structural_traits.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/interner.rs
  tests/ui/traits/default_auto_traits/backward-compatible-lazy-bounds-pass.rs
  tests/ui/traits/default_auto_traits/default-bounds.rs
  tests/ui/traits/default_auto_traits/default-bounds.stderr
  tests/ui/traits/default_auto_traits/extern-types.current.stderr
  tests/ui/traits/default_auto_traits/extern-types.next.stderr
  tests/ui/traits/default_auto_traits/extern-types.rs
  tests/ui/traits/default_auto_traits/maybe-bounds-in-dyn-traits.rs
  tests/ui/traits/default_auto_traits/maybe-bounds-in-dyn-traits.stderr
  tests/ui/traits/default_auto_traits/maybe-bounds-in-traits.rs
  tests/ui/traits/default_auto_traits/maybe-bounds-in-traits.stderr
Labels: A-testsuite, T-lang, T-compiler, T-bootstrap, S-waiting-on-bors, A-async-await, merged-by-bors, AsyncAwait-Triaged, T-libs, perf-regression, WG-async, WG-trait-system-refactor

#139287 Folder experiment: Monomorphize region resolver
  compiler/rustc_type_ir/src/fold.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#139354 Rollup of 8 pull requests
  .mailmap
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/mod.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/mono_item.rs
  compiler/rustc_codegen_llvm/src/va_arg.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_codegen_ssa/src/back/mod.rs
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_target/src/asm/aarch64.rs
  compiler/rustc_target/src/asm/arm.rs
  compiler/rustc_target/src/callconv/mod.rs
  compiler/rustc_target/src/callconv/x86.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/json.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/mod.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/ty_kind.rs
  library/std/src/sys/pal/windows/pipe.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/executor.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/lib.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/linker.rs
  tests/run-make/rust-lld-by-default-beta-stable/rmake.rs
  tests/run-make/rust-lld-by-default-nightly/rmake.rs
  tests/run-make/rust-lld-custom-target/rmake.rs
  tests/run-make/rust-lld/rmake.rs
  tests/ui/const-generics/const-param-has-ty-goal-in-error-implies.rs
  tests/ui/const-generics/const-param-has-ty-goal-in-error-implies.stderr
  tests/ui/drop/nonsense-drop-impl-issue-139278.rs
  tests/ui/drop/nonsense-drop-impl-issue-139278.stderr
  tests/ui/linking/link-self-contained-consistency.many.stderr
  tests/ui/linking/link-self-contained-consistency.one.stderr
  tests/ui/linking/link-self-contained-consistency.rs
Labels: A-testsuite, O-windows, A-attributes, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, O-apple, A-compiletest, A-run-make

#138949 Rename `is_like_osx` to `is_like_darwin`
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_cranelift/src/debuginfo/mod.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/mono_item.rs
  compiler/rustc_codegen_llvm/src/va_arg.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_codegen_ssa/src/back/mod.rs
  compiler/rustc_codegen_ssa/src/back/rpath.rs
  compiler/rustc_codegen_ssa/src/back/rpath/tests.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_target/src/asm/aarch64.rs
  compiler/rustc_target/src/asm/arm.rs
  compiler/rustc_target/src/callconv/mod.rs
  compiler/rustc_target/src/callconv/x86.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/json.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors, O-apple

#139295 Remove creation of duplicate `AnonPipe`
  library/std/src/sys/pal/windows/pipe.rs
Labels: O-windows, S-waiting-on-bors, T-libs

#139313 Deduplicate some `rustc_middle` function bodies by calling the `rustc_type_ir` equivalent
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/ty_kind.rs
Labels: T-compiler, S-waiting-on-bors

#139317 compiletest: Encapsulate all of the code that touches libtest
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/executor.rs
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/lib.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#139322 Add helper function for checking LLD usage to `run-make-support`
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/linker.rs
  tests/run-make/rust-lld-by-default-beta-stable/rmake.rs
  tests/run-make/rust-lld-by-default-nightly/rmake.rs
  tests/run-make/rust-lld-custom-target/rmake.rs
  tests/run-make/rust-lld/rmake.rs
  tests/ui/linking/link-self-contained-consistency.many.stderr
  tests/ui/linking/link-self-contained-consistency.one.stderr
  tests/ui/linking/link-self-contained-consistency.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#139335 Pass correct param-env to `error_implies`
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/mod.rs
  tests/ui/const-generics/const-param-has-ty-goal-in-error-implies.rs
  tests/ui/const-generics/const-param-has-ty-goal-in-error-implies.stderr
Labels: T-compiler, S-waiting-on-bors

#139342 Add a mailmap entry for myself
  .mailmap
Labels: S-waiting-on-bors, A-meta

#139349 adt_destructor: sanity-check returned item
  compiler/rustc_middle/src/ty/util.rs
  tests/ui/drop/nonsense-drop-impl-issue-139278.rs
  tests/ui/drop/nonsense-drop-impl-issue-139278.stderr
Labels: T-compiler, S-waiting-on-bors

#139213 Run coretests and alloctests with cg_clif in CI
  compiler/rustc_codegen_cranelift/build_system/tests.rs
  compiler/rustc_codegen_cranelift/build_system/utils.rs
  compiler/rustc_codegen_cranelift/config.txt
  library/alloc/Cargo.toml
  library/coretests/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-cranelift, T-libs

#137869 Demote i686-pc-windows-gnu to Tier 2
  compiler/rustc_target/src/spec/targets/i686_pc_windows_gnu.rs
  src/bootstrap/mk/Makefile.in
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  src/ci/github-actions/jobs.yml
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/windows-gnu.md
  src/doc/rustc/src/platform-support/windows-gnullvm.md
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#139041 Remove `rustc_middle::ty::util::ExplicitSelf`.
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_middle/src/ty/util.rs
Labels: T-compiler, S-waiting-on-bors

#139328 Fix 2024 edition doctest panic output
  src/librustdoc/doctest/runner.rs
  tests/rustdoc-ui/doctest/edition-2024-error-output.rs
  tests/rustdoc-ui/doctest/edition-2024-error-output.stdout
Labels: T-rustdoc, beta-nominated, S-waiting-on-bors, stable-nominated

#139339 unstable book: document tait
  src/doc/unstable-book/src/language-features/type-alias-impl-trait.md
Labels: S-waiting-on-bors

#139348 AsyncDestructor: replace fields with impl_did
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/significant_drop_order.rs
  compiler/rustc_middle/src/ty/util.rs
Labels: T-compiler, S-waiting-on-bors, F-async_drop

#139353 Fix `Debug` impl for `LateParamRegionKind`.
  compiler/rustc_middle/src/ty/structural_impls.rs
  tests/ui/nll/ty-outlives/impl-trait-captures.stderr
Labels: T-compiler, S-waiting-on-bors

#139366 ToSocketAddrs: fix typo
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  library/std/src/net/socket_addr.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#139374 Use the span of the whole bound when the diagnostic talks about a bound
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  tests/ui/consts/const-block-const-bound.stderr
  tests/ui/traits/const-traits/assoc-type.current.stderr
  tests/ui/traits/const-traits/assoc-type.next.stderr
  tests/ui/traits/const-traits/call-generic-method-nonconst.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.precise.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.new_precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.new_stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.old_precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.old_stock.stderr
  tests/ui/traits/const-traits/const-opaque.no.stderr
  tests/ui/traits/const-traits/default-method-body-is-const-body-checking.stderr
  tests/ui/traits/const-traits/item-bound-entailment-fails.stderr
  tests/ui/traits/const-traits/minicore-fn-fail.stderr
  tests/ui/traits/const-traits/predicate-entailment-fails.stderr
  tests/ui/traits/const-traits/trait-where-clause-const.stderr
  tests/ui/traits/const-traits/unsatisfied-const-trait-bound.stderr
Labels: T-compiler, S-waiting-on-bors

#139378 Use target-agnostic LLD flags in bootstrap for `use-lld`
  src/bootstrap/src/utils/helpers.rs
Labels: T-bootstrap, S-waiting-on-bors

#139384 Add `compiletest` adhoc_group for `r? compiletest`
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#139390 Rollup of 9 pull requests
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/significant_drop_order.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/util.rs
  library/std/src/net/socket_addr.rs
  src/bootstrap/src/utils/helpers.rs
  src/doc/unstable-book/src/language-features/type-alias-impl-trait.md
  src/librustdoc/doctest/runner.rs
  tests/rustdoc-ui/doctest/edition-2024-error-output.rs
  tests/rustdoc-ui/doctest/edition-2024-error-output.stdout
  tests/ui/consts/const-block-const-bound.stderr
  tests/ui/nll/ty-outlives/impl-trait-captures.stderr
  tests/ui/traits/const-traits/assoc-type.current.stderr
  tests/ui/traits/const-traits/assoc-type.next.stderr
  tests/ui/traits/const-traits/call-generic-method-nonconst.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.precise.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.new_precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.new_stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.old_precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.old_stock.stderr
  tests/ui/traits/const-traits/const-opaque.no.stderr
  tests/ui/traits/const-traits/default-method-body-is-const-body-checking.stderr
  tests/ui/traits/const-traits/item-bound-entailment-fails.stderr
  tests/ui/traits/const-traits/minicore-fn-fail.stderr
  tests/ui/traits/const-traits/predicate-entailment-fails.stderr
  tests/ui/traits/const-traits/trait-where-clause-const.stderr
  tests/ui/traits/const-traits/unsatisfied-const-trait-bound.stderr
  triagebot.toml
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#136457 Expose algebraic floating point intrinsics
  library/core/src/intrinsics/mod.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/primitive_docs.rs
  library/std/src/lib.rs
  library/std/tests/floats/f128.rs
  library/std/tests/floats/f16.rs
  library/std/tests/floats/f32.rs
  library/std/tests/floats/f64.rs
  library/std/tests/floats/lib.rs
  src/tools/miri/src/intrinsics/mod.rs
  tests/codegen/float/algebraic.rs
  tests/codegen/float_math.rs
Labels: S-waiting-on-bors, T-libs

#137880 Autodiff batching
  compiler/rustc_ast/src/expand/autodiff_attrs.rs
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/autodiff.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/builder/autodiff.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/llvm/enzyme_ffi.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  tests/codegen/autodiff.rs
  tests/codegen/autodiffv.rs
  tests/pretty/autodiff_forward.pp
  tests/pretty/autodiff_forward.rs
  tests/pretty/autodiff_reverse.pp
  tests/ui/autodiff/autodiff_illegal.rs
  tests/ui/autodiff/autodiff_illegal.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors, F-autodiff, F-batching

#137897 fix pthread-based tls on apple targets
  library/std/src/sys/thread_local/mod.rs
  library/std/tests/thread_local/lib.rs
  library/std/tests/thread_local/tests.rs
  tests/run-make/apple-slow-tls/rmake.rs
  tests/run-make/apple-slow-tls/tls_test/Cargo.toml
  tests/run-make/apple-slow-tls/tls_test/src/main.rs
Labels: T-compiler, S-waiting-on-bors, T-libs, A-run-make

#138546 Add integer to string formatting tests
  library/alloctests/tests/lib.rs
  library/alloctests/tests/num.rs
Labels: S-waiting-on-bors, T-libs

#138826 StableMIR: Add `associated_items`.
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/convert/ty.rs
  compiler/stable_mir/src/compiler_interface.rs
  compiler/stable_mir/src/crate_def.rs
  compiler/stable_mir/src/lib.rs
  compiler/stable_mir/src/mir/pretty.rs
  compiler/stable_mir/src/ty.rs
  tests/ui-fulldeps/stable-mir/check_assoc_items.rs
Labels: T-compiler, S-waiting-on-bors

#139274 Rustdoc: typecheck settings.js
  src/librustdoc/html/static/js/main.js
  src/librustdoc/html/static/js/rustdoc.d.ts
  src/librustdoc/html/static/js/settings.js
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#139285 use lower case to match other error messages
  compiler/rustc_session/src/config.rs
  compiler/rustc_target/src/spec/mod.rs
  tests/run-make/target-specs/rmake.rs
  tests/ui/errors/wrong-target-spec.rs
  tests/ui/errors/wrong-target-spec.stderr
Labels: T-compiler, S-waiting-on-bors, A-run-make

#139341 Apply `Recovery::Forbidden` when reparsing pasted macro fragments.
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  tests/crashes/137874.rs
  tests/ui/associated-consts/issue-93835.rs
  tests/ui/associated-consts/issue-93835.stderr
  tests/ui/macros/failed-to-reparse-issue-137874.rs
  tests/ui/macros/failed-to-reparse-issue-137874.stderr
Labels: T-compiler, S-waiting-on-bors

#139389 make `Arguments::as_statically_known_str` doc(hidden)
  library/core/src/fmt/mod.rs
Labels: beta-nominated, S-waiting-on-bors, T-libs

#138024 Allow optimizing out `panic_bounds_check` in Unicode checks.
  library/core/src/unicode/unicode_data.rs
  src/tools/unicode-table-generator/src/range_search.rs
  src/tools/unicode-table-generator/src/skiplist.rs
  tests/codegen/char-escape-debug-no-bounds-check.rs
Labels: S-waiting-on-bors, T-libs

#138950 replace extra_filename with strict version hash in metrics file names
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors

#139281 hygiene: Avoid recursion in syntax context decoding
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_middle/src/ty/parameterized.rs
  compiler/rustc_span/src/hygiene.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#139292 Folder experiment: Micro-optimize RegionEraserVisitor
  compiler/rustc_middle/src/ty/erase_regions.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#139360 [beta] bump stage0
  src/stage0
Labels: T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors

#139319 StableMIR: Prepare for refactoring
  Cargo.lock
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/lib.rs
  compiler/rustc_smir/src/rustc_internal/internal.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_internal/pretty.rs
  compiler/rustc_smir/src/rustc_smir/alloc.rs
  compiler/rustc_smir/src/rustc_smir/builder.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/convert/abi.rs
  compiler/rustc_smir/src/rustc_smir/convert/error.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/rustc_smir/src/rustc_smir/convert/mod.rs
  compiler/rustc_smir/src/rustc_smir/convert/ty.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/abi.rs
  compiler/rustc_smir/src/stable_mir/compiler_interface.rs
  compiler/rustc_smir/src/stable_mir/crate_def.rs
  compiler/rustc_smir/src/stable_mir/error.rs
  compiler/rustc_smir/src/stable_mir/mir.rs
  compiler/rustc_smir/src/stable_mir/mir/alloc.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  compiler/rustc_smir/src/stable_mir/mir/mono.rs
  compiler/rustc_smir/src/stable_mir/mir/pretty.rs
  compiler/rustc_smir/src/stable_mir/mir/visit.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/target.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  compiler/rustc_smir/src/stable_mir/visitor.rs
  compiler/stable_mir/Cargo.toml
  compiler/stable_mir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#139417 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_smir/Cargo.toml
  compiler/rustc_smir/src/lib.rs
  compiler/rustc_smir/src/rustc_internal/internal.rs
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_internal/pretty.rs
  compiler/rustc_smir/src/rustc_smir/alloc.rs
  compiler/rustc_smir/src/rustc_smir/builder.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/convert/abi.rs
  compiler/rustc_smir/src/rustc_smir/convert/error.rs
  compiler/rustc_smir/src/rustc_smir/convert/mir.rs
  compiler/rustc_smir/src/rustc_smir/convert/mod.rs
  compiler/rustc_smir/src/rustc_smir/convert/ty.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/abi.rs
  compiler/rustc_smir/src/stable_mir/compiler_interface.rs
  compiler/rustc_smir/src/stable_mir/crate_def.rs
  compiler/rustc_smir/src/stable_mir/error.rs
  compiler/rustc_smir/src/stable_mir/mir.rs
  compiler/rustc_smir/src/stable_mir/mir/alloc.rs
  compiler/rustc_smir/src/stable_mir/mir/body.rs
  compiler/rustc_smir/src/stable_mir/mir/mono.rs
  compiler/rustc_smir/src/stable_mir/mir/pretty.rs
  compiler/rustc_smir/src/stable_mir/mir/visit.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/target.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  compiler/rustc_smir/src/stable_mir/visitor.rs
  compiler/stable_mir/Cargo.toml
  compiler/stable_mir/src/lib.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/std/src/sys/thread_local/mod.rs
  library/std/src/sys/thread_local/no_threads.rs
  tests/ui/codegen/mono-impossible-drop.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#138797 Fix `ProvenVia` for global where clauses
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  tests/ui/codegen/mono-impossible-drop.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#139121 Rename internal module from `statik` to `no_threads`
  library/std/src/sys/thread_local/mod.rs
  library/std/src/sys/thread_local/no_threads.rs
Labels: S-waiting-on-bors, T-libs

#139404 Small smir cleanup
  compiler/rustc_smir/src/rustc_smir/alloc.rs
Labels: T-compiler, S-waiting-on-bors

#136877 Fix missing const for inherent pointer `replace` methods
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#139411 In `simplify_repeated_aggregate`, don't test first element against itself
  compiler/rustc_mir_transform/src/instsimplify.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#139123 tidy: Fix paths to `coretests` and `alloctests`
  library/core/src/fmt/mod.rs
  library/coretests/tests/str.rs
  src/tools/tidy/src/unit_tests.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-libs, A-tidy

#139347 Only build `rust_test_helpers` for `{incremental,ui}` test suites
  src/bootstrap/src/core/build_steps/test.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#139438 Prevent a test from seeing forbidden numbers in the rustc version
  tests/codegen/issues/issue-122600-ptr-discriminant-update.rs
Labels: T-compiler, S-waiting-on-bors

#139443 Rollup of 3 pull requests
  library/core/src/fmt/mod.rs
  library/coretests/tests/str.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/tools/tidy/src/unit_tests.rs
  tests/codegen/issues/issue-122600-ptr-discriminant-update.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-tidy

#138947 Refactor Apple version handling in the compiler
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/back/apple.rs
  compiler/rustc_codegen_ssa/src/back/apple/tests.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_codegen_ssa/src/back/mod.rs
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_session/messages.ftl
  compiler/rustc_session/src/errors.rs
  compiler/rustc_session/src/session.rs
  compiler/rustc_target/src/lib.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/base/apple/tests.rs
  compiler/rustc_target/src/spec/base/mod.rs
  compiler/rustc_target/src/spec/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, O-apple

#138562 Optimize slice {Chunks,Windows}::nth
  library/core/src/slice/iter.rs
Labels: S-waiting-on-bors, T-libs

#138876 Trusty: Implement `write_vectored` for stdio
  library/std/src/sys/io/io_slice/iovec.rs
  library/std/src/sys/io/mod.rs
  library/std/src/sys/stdio/trusty.rs
Labels: S-waiting-on-bors, T-libs

#139072 Add `slice::align_to_uninit_mut`
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#139367 Add `*_value` methods to proc_macro lib
  Cargo.lock
  compiler/rustc_ast/Cargo.toml
  compiler/rustc_ast/src/util/literal.rs
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_lexer/src/unescape.rs
  compiler/rustc_lexer/src/unescape/tests.rs
  compiler/rustc_parse/Cargo.toml
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unescape_error_reporting.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse_format/Cargo.toml
  compiler/rustc_parse_format/src/lib.rs
  library/Cargo.lock
  library/proc_macro/Cargo.toml
  library/proc_macro/src/lib.rs
  src/bootstrap/src/lib.rs
  src/tools/rust-analyzer/Cargo.lock
  src/tools/rust-analyzer/Cargo.toml
  src/tools/rust-analyzer/crates/parser/Cargo.toml
  src/tools/rust-analyzer/crates/parser/src/lexed_str.rs
  src/tools/rust-analyzer/crates/syntax/Cargo.toml
  src/tools/rust-analyzer/crates/syntax/src/ast/token_ext.rs
  src/tools/rust-analyzer/crates/syntax/src/lib.rs
  src/tools/rust-analyzer/crates/syntax/src/validation.rs
  src/tools/tidy/src/deps.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, A-tidy

#139391 Check if merged attributes list is empty in expr
  compiler/rustc_ast_lowering/src/expr.rs
  tests/ui/attributes/invalid-reprs.rs
  tests/ui/attributes/invalid-reprs.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#139414 Fix typo in `RawList`'s documentation
  compiler/rustc_middle/src/ty/generic_args.rs
Labels: T-compiler, S-waiting-on-bors

#139452 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_ast/Cargo.toml
  compiler/rustc_ast/src/util/literal.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_lexer/src/lib.rs
  compiler/rustc_lexer/src/unescape.rs
  compiler/rustc_lexer/src/unescape/tests.rs
  compiler/rustc_middle/src/ty/generic_args.rs
  compiler/rustc_parse/Cargo.toml
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unescape_error_reporting.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse_format/Cargo.toml
  compiler/rustc_parse_format/src/lib.rs
  library/Cargo.lock
  library/core/src/slice/iter.rs
  library/core/src/slice/mod.rs
  library/proc_macro/Cargo.toml
  library/proc_macro/src/lib.rs
  library/std/src/sys/io/io_slice/iovec.rs
  library/std/src/sys/io/mod.rs
  library/std/src/sys/stdio/trusty.rs
  src/bootstrap/src/lib.rs
  src/tools/rust-analyzer/Cargo.lock
  src/tools/rust-analyzer/Cargo.toml
  src/tools/rust-analyzer/crates/parser/Cargo.toml
  src/tools/rust-analyzer/crates/parser/src/lexed_str.rs
  src/tools/rust-analyzer/crates/syntax/Cargo.toml
  src/tools/rust-analyzer/crates/syntax/src/ast/token_ext.rs
  src/tools/rust-analyzer/crates/syntax/src/lib.rs
  src/tools/rust-analyzer/crates/syntax/src/validation.rs
  src/tools/tidy/src/deps.rs
  tests/ui/attributes/invalid-reprs.rs
  tests/ui/attributes/invalid-reprs.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-tidy

#138951 Replace last `usize` -> `ptr` transmute in `alloc` with strict provenance API
  library/alloc/src/lib.rs
  library/alloc/src/raw_vec/mod.rs
  library/alloctests/lib.rs
  library/core/src/alloc/layout.rs
  library/core/src/ptr/unique.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#138766 coverage: Deal with unused functions and their names in one place
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen/covfun.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen/unused.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-code-coverage

#139456 style guide: add let-chain rules
  src/doc/style-guide/src/expressions.md
Labels: S-waiting-on-bors, T-style

#139467 More trivial tweaks
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_passes/src/liveness.rs
Labels: T-compiler, S-waiting-on-bors

#138314 fix usage of `autodiff` macro with inner functions
  compiler/rustc_builtin_macros/src/autodiff.rs
  tests/pretty/autodiff_forward.pp
  tests/pretty/autodiff_forward.rs
Labels: T-compiler, S-waiting-on-bors, F-autodiff

#139426 Make the UnifyKey and UnifyValue imports non-nightly
  Cargo.lock
  compiler/rustc_type_ir/Cargo.toml
  compiler/rustc_type_ir/src/data_structures/mod.rs
  compiler/rustc_type_ir/src/ty_kind.rs
Labels: T-compiler, S-waiting-on-bors

#139431 Remove LLVM 18 inline ASM span fallback
  compiler/rustc_codegen_llvm/src/back/write.rs
Labels: T-compiler, S-waiting-on-bors

#139035 Add new `PatKind::Missing` variants
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_mir_build/src/builder/matches/match_pair.rs
  compiler/rustc_mir_build/src/builder/matches/mod.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_build/src/thir/print.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_passes/src/input_stats.rs
  compiler/rustc_passes/src/liveness.rs
  compiler/rustc_pattern_analysis/src/rustc.rs
  compiler/rustc_resolve/src/late.rs
  src/librustdoc/clean/utils.rs
  src/tools/clippy/clippy_lints/src/equatable_if_let.rs
  src/tools/clippy/clippy_lints/src/matches/match_same_arms.rs
  src/tools/clippy/clippy_lints/src/matches/single_match.rs
  src/tools/clippy/clippy_lints/src/unnested_or_patterns.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_utils/src/ast_utils/mod.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/rustfmt/src/items.rs
  src/tools/rustfmt/src/patterns.rs
  tests/ui/macros/stringify.rs
  tests/ui/unpretty/expanded-exhaustive.rs
  tests/ui/unpretty/expanded-exhaustive.stdout
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#139108 Simplify `thir::PatKind::ExpandedConstant`
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_mir_build/src/builder/custom/parse/instruction.rs
  compiler/rustc_mir_build/src/builder/matches/match_pair.rs
  compiler/rustc_mir_build/src/check_unsafety.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_mir_build/src/thir/print.rs
Labels: T-compiler, S-waiting-on-bors

#139112 Implement `super let`
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/block.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_parse/src/parser/stmt.rs
  tests/ui/feature-gates/feature-gate-super-let.rs
  tests/ui/feature-gates/feature-gate-super-let.stderr
  tests/ui/stats/input-stats.stderr
  tests/ui/super-let.borrowck.stderr
  tests/ui/super-let.rs
Labels: T-compiler, S-waiting-on-bors

#139365 Default auto traits: fix perf
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
Labels: T-compiler, S-waiting-on-bors

#139397 coverage: Build the CGU's global file table as late as possible
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen/covfun.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen/unused.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#139461 Stop calling `source_span` query in significant drop order code
  compiler/rustc_middle/src/ty/significant_drop_order.rs
  tests/ui/drop/drop-order-comparisons.e2021.stderr
  tests/ui/drop/lint-if-let-rescope-gated.edition2021.stderr
  tests/ui/drop/lint-if-let-rescope-with-macro.stderr
  tests/ui/drop/lint-if-let-rescope.stderr
  tests/ui/drop/lint-tail-expr-drop-order.stderr
  tests/ui/drop/tail_expr_drop_order-on-coroutine-unwind.stderr
Labels: T-compiler, S-waiting-on-bors

#139465 add sret handling for scalar autodiff
  compiler/rustc_ast/src/expand/autodiff_attrs.rs
  compiler/rustc_codegen_llvm/src/builder/autodiff.rs
  tests/codegen/autodiff/batched.rs
  tests/codegen/autodiff/scalar.rs
  tests/codegen/autodiff/sret.rs
Labels: T-compiler, S-waiting-on-bors, F-autodiff

#139466 Trivial tweaks to stop tracking source span directly
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_hir_typeck/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#133781 Do not visit whole crate to compute `lints_that_dont_need_to_run`.
  compiler/rustc_lint/src/levels.rs
  compiler/rustc_middle/src/query/mod.rs
  tests/ui/attributes/unsafe/proc-unsafe-attributes.rs
  tests/ui/attributes/unsafe/proc-unsafe-attributes.stderr
  tests/ui/deduplicate-diagnostics.duplicate.stderr
  tests/ui/deduplicate-diagnostics.rs
  tests/ui/tool-attributes/tool_lints.rs
  tests/ui/tool-attributes/tool_lints.stderr
  tests/ui/tool-attributes/unknown-lint-tool-name.rs
  tests/ui/tool-attributes/unknown-lint-tool-name.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#139490 Update some comment/docs related to "extern intrinsic" removal
  library/core/src/intrinsics/mod.rs
  src/doc/unstable-book/src/language-features/intrinsics.md
  src/tools/rust-analyzer/crates/ide/src/hover/tests.rs
Labels: S-waiting-on-bors, T-libs

#139525 Rollup of 10 pull requests
  Cargo.lock
  bootstrap.example.toml
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_hir_analysis/src/hir_wf_check.rs
  compiler/rustc_hir_analysis/src/outlives/implicit_infer.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  library/core/src/intrinsics/mod.rs
  src/bootstrap/defaults/bootstrap.dist.toml
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/bootstrap/src/utils/proc_macro_deps.rs
  src/ci/citool/tests/test-jobs.yml
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/ci/github-actions/jobs.yml
  src/doc/unstable-book/src/language-features/intrinsics.md
  src/librustdoc/Cargo.toml
  src/librustdoc/askama.toml
  src/librustdoc/html/layout.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/sidebar.rs
  src/librustdoc/html/render/type_layout.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/html/templates/STYLE.md
  src/tools/generate-copyright/Cargo.toml
  src/tools/generate-copyright/src/main.rs
  src/tools/rust-analyzer/crates/ide/src/hover/tests.rs
  tests/codegen/enum/enum-match.rs
  tests/codegen/enum/enum-two-variants-match.rs
  tests/ui/dyn-compatibility/trait-alias-self-projection.rs
  tests/ui/dyn-compatibility/trait-alias-self-projection.stderr
  tests/ui/implied-bounds/overflow.rs
  tests/ui/implied-bounds/overflow.stderr
  tests/ui/macros/failed-to-reparse-issue-139445.rs
  tests/ui/macros/failed-to-reparse-issue-139445.stderr
  tests/ui/macros/no-close-delim-issue-139248.rs
  tests/ui/macros/no-close-delim-issue-139248.stderr
  tests/ui/structs/default-field-values/failures.rs
  tests/ui/structs/default-field-values/failures.stderr
  tests/ui/traits/dyn-drop-principal-with-projections.rs
  tests/ui/traits/non_lifetime_binders/diagnostic-hir-wf-check.rs
  tests/ui/traits/non_lifetime_binders/diagnostic-hir-wf-check.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, T-rustdoc-frontend

#138676 Implement overflow for infinite implied lifetime bounds
  compiler/rustc_hir_analysis/src/outlives/implicit_infer.rs
  tests/ui/implied-bounds/overflow.rs
  tests/ui/implied-bounds/overflow.stderr
Labels: T-compiler, S-waiting-on-bors

#139024 Make error message for missing fields with `..` and without `..` more consistent
  compiler/rustc_hir_typeck/src/expr.rs
  tests/ui/structs/default-field-values/failures.rs
  tests/ui/structs/default-field-values/failures.stderr
Labels: T-compiler, S-waiting-on-bors

#139098 Tell LLVM about impossible niche tags
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  tests/codegen/enum/enum-match.rs
  tests/codegen/enum/enum-two-variants-match.rs
Labels: T-compiler, S-waiting-on-bors

#139124 compiler: report error when trait object type param reference self
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  tests/ui/dyn-compatibility/trait-alias-self-projection.rs
  tests/ui/dyn-compatibility/trait-alias-self-projection.stderr
Labels: T-compiler, S-waiting-on-bors

#139321 Update to new rinja version (askama)
  Cargo.lock
  src/bootstrap/src/utils/proc_macro_deps.rs
  src/librustdoc/Cargo.toml
  src/librustdoc/askama.toml
  src/librustdoc/html/layout.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/sidebar.rs
  src/librustdoc/html/render/type_layout.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/html/templates/STYLE.md
  src/tools/generate-copyright/Cargo.toml
  src/tools/generate-copyright/src/main.rs
Labels: T-rustdoc, T-bootstrap, S-waiting-on-bors, T-rustdoc-frontend

#139346 Don't construct preds w escaping bound vars in `diagnostic_hir_wf_check`
  compiler/rustc_hir_analysis/src/hir_wf_check.rs
  tests/ui/traits/non_lifetime_binders/diagnostic-hir-wf-check.rs
  tests/ui/traits/non_lifetime_binders/diagnostic-hir-wf-check.stderr
Labels: T-compiler, S-waiting-on-bors

#139386 make it possible to use stage0 libtest on compiletest
  bootstrap.example.toml
  src/bootstrap/defaults/bootstrap.dist.toml
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/ci/citool/tests/test-jobs.yml
  src/ci/docker/host-x86_64/mingw-check/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-tools/Dockerfile
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#139421 Fix trait upcasting to dyn type with no principal when there are projections
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/ui/traits/dyn-drop-principal-with-projections.rs
Labels: T-compiler, S-waiting-on-bors

#139464 Allow for reparsing failure when reparsing a pasted metavar.
  compiler/rustc_parse/src/parser/mod.rs
  tests/ui/macros/failed-to-reparse-issue-139445.rs
  tests/ui/macros/failed-to-reparse-issue-139445.stderr
  tests/ui/macros/no-close-delim-issue-139248.rs
  tests/ui/macros/no-close-delim-issue-139248.stderr
Labels: T-compiler, S-waiting-on-bors

#138499 borrowck typeck children together with their root
  compiler/rustc_borrowck/src/consumers.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/opaque_types.rs
  compiler/rustc_borrowck/src/polonius/dump.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/root_cx.rs
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_mir_transform/src/lib.rs
  tests/ui/pattern/non-structural-match-types-cycle-err.rs
  tests/ui/pattern/non-structural-match-types-cycle-err.stderr
  tests/ui/pattern/non-structural-match-types.rs
  tests/ui/pattern/non-structural-match-types.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-tidy

#139476 rm `RegionInferenceContext::var_infos`
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/polonius/dump.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#139500 document panic behavior of Vec::resize and Vec::resize_with
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#139509 clean: remove Deref<Target=RegionKind> impl for Region and use `.kind()`
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_borrowck/src/type_check/opaque_types.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/constrained_generic_params.rs
  compiler/rustc_hir_analysis/src/outlives/utils.rs
  compiler/rustc_hir_analysis/src/variance/constraints.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/freshen.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/outlives/env.rs
  compiler/rustc_infer/src/infer/outlives/for_liveness.rs
  compiler/rustc_infer/src/infer/region_constraints/leak_check.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_infer/src/infer/relate/generalize.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/impl_trait_overcaptures.rs
  compiler/rustc_middle/src/ty/erase_regions.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_middle/src/ty/opaque_types.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/region.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/util.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/region.rs
  compiler/rustc_trait_selection/src/errors/note_and_explain.rs
  compiler/rustc_trait_selection/src/opaque_types.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_ty_utils/src/implied_bounds.rs
  src/librustdoc/clean/auto_trait.rs
  src/librustdoc/clean/mod.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#139504 add missing word in doc comment
  src/bootstrap/src/core/builder/mod.rs
Labels: T-bootstrap, S-waiting-on-bors

#139520 compiletest maintenance: sort deps and drop dep on `anyhow`
  Cargo.lock
  src/tools/compiletest/Cargo.toml
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest
