Repository rust-lang/rust, pull requests merged in 2025-08, with the labels that each got.

#144446 Optimize region constraints
  compiler/rustc_borrowck/src/diagnostics/bound_region_errors.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_infer/src/infer/outlives/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/leak_check.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/traits/auto_trait.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/custom.rs
  compiler/rustc_traits/src/coroutine_witnesses.rs
  src/librustdoc/clean/auto_trait.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#144683 Simplify library dependencies on `compiler-builtins`
  library/Cargo.lock
  library/panic_abort/Cargo.toml
  library/panic_unwind/Cargo.toml
  library/rustc-std-workspace-core/README.md
  library/std/Cargo.toml
  library/std/src/sys/pal/uefi/helpers.rs
  library/unwind/Cargo.toml
  src/bootstrap/src/core/builder/tests.rs
Labels: T-bootstrap, S-waiting-on-bors, T-libs

#144691 Extend `is_case_difference` to handle digit-letter confusables
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  src/tools/clippy/tests/ui/match_str_case_mismatch.stderr
  tests/ui/error-codes/E0423.stderr
  tests/ui/lint/lint-non-uppercase-usages.stderr
  tests/ui/parser/item-kw-case-mismatch.stderr
  tests/ui/parser/kw-in-trait-bounds.stderr
  tests/ui/parser/misspelled-keywords/hrdt.stderr
  tests/ui/parser/misspelled-keywords/impl-return.stderr
  tests/ui/parser/misspelled-keywords/static.stderr
  tests/ui/parser/misspelled-keywords/struct.stderr
  tests/ui/parser/recover/recover-fn-trait-from-fn-kw.stderr
  tests/ui/parser/typod-const-in-const-param-def.stderr
  tests/ui/suggestions/assoc-ct-for-assoc-method.stderr
  tests/ui/suggestions/bool_typo_err_suggest.stderr
  tests/ui/suggestions/case-difference-suggestions.rs
  tests/ui/suggestions/case-difference-suggestions.stderr
  tests/ui/suggestions/incorrect-variant-literal.svg
Labels: T-compiler, S-waiting-on-bors, T-clippy

#144700 rustdoc-json: Move `#[macro_export]` from `Other` to it's own variant
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  tests/rustdoc-json/attrs/macro_export.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#144751 Add correct dynamic_lib_extension for aix
  src/tools/run-make-support/src/artifact_names.rs
Labels: S-waiting-on-bors, A-run-make

#144757 Ping Muscraft when emitter change
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#144759 triagebot: Label `compiler-builtins` T-libs
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#144768 Rollup of 7 pull requests
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  library/Cargo.lock
  library/panic_abort/Cargo.toml
  library/panic_unwind/Cargo.toml
  library/rustc-std-workspace-core/README.md
  library/std/Cargo.toml
  library/std/src/sys/pal/uefi/helpers.rs
  library/unwind/Cargo.toml
  src/bootstrap/src/core/builder/tests.rs
  src/librustdoc/html/format.rs
  src/librustdoc/json/conversions.rs
  src/rustdoc-json-types/lib.rs
  src/tools/clippy/tests/ui/match_str_case_mismatch.stderr
  src/tools/run-make-support/src/artifact_names.rs
  tests/rustdoc-json/attrs/macro_export.rs
  tests/rustdoc/reexport/auxiliary/wrap-unnamable-type.rs
  tests/rustdoc/reexport/wrapped-unnamble-type-143222.rs
  tests/ui/error-codes/E0423.stderr
  tests/ui/lint/lint-non-uppercase-usages.stderr
  tests/ui/parser/item-kw-case-mismatch.stderr
  tests/ui/parser/kw-in-trait-bounds.stderr
  tests/ui/parser/misspelled-keywords/hrdt.stderr
  tests/ui/parser/misspelled-keywords/impl-return.stderr
  tests/ui/parser/misspelled-keywords/static.stderr
  tests/ui/parser/misspelled-keywords/struct.stderr
  tests/ui/parser/recover/recover-fn-trait-from-fn-kw.stderr
  tests/ui/parser/typod-const-in-const-param-def.stderr
  tests/ui/suggestions/assoc-ct-for-assoc-method.stderr
  tests/ui/suggestions/bool_typo_err_suggest.stderr
  tests/ui/suggestions/case-difference-suggestions.rs
  tests/ui/suggestions/case-difference-suggestions.stderr
  tests/ui/suggestions/incorrect-variant-literal.svg
  triagebot.toml
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, A-rustdoc-json, A-run-make, T-rustdoc-frontend, T-clippy

#144410 Make tier 3 musl targets link dynamically by default
  compiler/rustc_target/src/spec/targets/hexagon_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/mips64_unknown_linux_muslabi64.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_muslspe.rs
  compiler/rustc_target/src/spec/targets/riscv32gc_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/s390x_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/thumbv7neon_unknown_linux_musleabihf.rs
Labels: T-compiler, relnotes, S-waiting-on-bors

#144708 Add tracing to step.rs and friends
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/interpret/util.rs
Labels: T-compiler, S-waiting-on-bors

#144730 Create a typed wrapper for codegen backends in bootstrap
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/install.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/toml/rust.rs
  src/bootstrap/src/core/config/toml/target.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/build_stamp.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-bootstrap-stamp

#144771 Remove some noisy triagebot pings for myself
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#144772 add unsupported_calling_conventions to lint list
  compiler/rustc_lint_defs/src/builtin.rs
Labels: beta-nominated, beta-accepted, T-compiler, S-waiting-on-bors

#144458 Remove the witness type from coroutine *args* (without actually removing the type)
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_middle/src/ty/generic_args.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/structural_traits.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/traits/query/dropck_outlives.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_ty_utils/src/needs_drop.rs
  compiler/rustc_type_ir/src/flags.rs
  compiler/rustc_type_ir/src/ty_kind/closure.rs
  tests/mir-opt/building/async_await.b-{closure#0}.coroutine_resume.0.mir
  tests/ui/async-await/async-closures/def-path.stderr
  tests/ui/async-await/higher-ranked-auto-trait-6.no_assumptions.stderr
  tests/ui/async-await/issue-70818.rs
  tests/ui/async-await/issue-70818.stderr
  tests/ui/async-await/issue-86507.stderr
  tests/ui/coroutine/clone-impl-async.rs
  tests/ui/coroutine/clone-impl-async.stderr
  tests/ui/coroutine/clone-impl-static.stderr
  tests/ui/coroutine/clone-impl.rs
  tests/ui/coroutine/clone-impl.stderr
  tests/ui/coroutine/print/coroutine-print-verbose-2.stderr
  tests/ui/coroutine/print/coroutine-print-verbose-3.stderr
  tests/ui/coroutine/ref-upvar-not-send.stderr
  tests/ui/impl-trait/issues/issue-55872-2.rs
  tests/ui/impl-trait/issues/issue-55872-2.stderr
  tests/ui/impl-trait/issues/issue-55872-3.rs
  tests/ui/impl-trait/issues/issue-55872-3.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#144479 Perform check_private_in_public by module.
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_privacy/src/lib.rs
  tests/ui/privacy/private-in-public-warn.stderr
  tests/ui/privacy/projections.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#129183 Detect more `cfg`d out items in resolution errors
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/cfg/both-true-false.stderr
  tests/ui/cfg/cfg-version/syntax.stderr
  tests/ui/cfg/cmdline-false.stderr
  tests/ui/cfg/diagnostics-cross-crate.rs
  tests/ui/cfg/diagnostics-cross-crate.stderr
  tests/ui/cfg/diagnostics-reexport-2.stderr
  tests/ui/cfg/diagnostics-reexport.rs
  tests/ui/cfg/diagnostics-reexport.stderr
  tests/ui/cfg/diagnostics-same-crate.rs
  tests/ui/cfg/diagnostics-same-crate.stderr
  tests/ui/cfg/nested-cfg-attr-conditional-compilation.rs
  tests/ui/cfg/nested-cfg-attr-conditional-compilation.stderr
  tests/ui/conditional-compilation/test-cfg.rs
  tests/ui/conditional-compilation/test-cfg.stderr
  tests/ui/macros/builtin-std-paths-fail.stderr
  tests/ui/macros/macro-inner-attributes.stderr
  tests/ui/macros/macro-outer-attributes.stderr
  tests/ui/rustdoc/cfg-rustdoc.rs
  tests/ui/rustdoc/cfg-rustdoc.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#144800 [beta] backports
  compiler/rustc_lint_defs/src/builtin.rs
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/itron/thread.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/teeos/thread.rs
  library/std/src/sys/pal/uefi/thread.rs
  library/std/src/sys/pal/unix/stack_overflow.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unsupported/thread.rs
  library/std/src/sys/pal/wasi/thread.rs
  library/std/src/sys/pal/wasm/atomics/thread.rs
  library/std/src/sys/pal/windows/thread.rs
  library/std/src/sys/pal/xous/thread.rs
  library/std/src/thread/mod.rs
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_lints/src/format_args.rs
  src/tools/clippy/clippy_lints/src/methods/manual_is_variant_and.rs
  src/tools/clippy/clippy_lints/src/methods/mod.rs
  src/tools/clippy/clippy_lints/src/methods/return_and_then.rs
  src/tools/clippy/clippy_lints/src/methods/swap_with_temporary.rs
  src/tools/clippy/tests/ui/manual_is_variant_and.fixed
  src/tools/clippy/tests/ui/manual_is_variant_and.rs
  src/tools/clippy/tests/ui/manual_is_variant_and.stderr
  src/tools/clippy/tests/ui/return_and_then.fixed
  src/tools/clippy/tests/ui/return_and_then.rs
  src/tools/clippy/tests/ui/return_and_then.stderr
  src/tools/clippy/tests/ui/swap_with_temporary.fixed
  src/tools/clippy/tests/ui/swap_with_temporary.rs
  src/tools/clippy/tests/ui/swap_with_temporary.stderr
  tests/rustdoc/constant/const-trait-and-impl-methods.rs
  tests/ui/runtime/out-of-stack.rs
Labels: O-windows, T-rustdoc, T-compiler, O-wasm, S-waiting-on-bors, merged-by-bors, T-libs, O-SGX, O-unix, O-wasi, O-hermit, O-itron, T-rustdoc-frontend, T-clippy

#144774 Bump to 1.91
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#144395 update fortanix tests
  tests/assembly-llvm/x86_64-fortanix-unknown-sgx-lvi-generic-load.rs
  tests/assembly-llvm/x86_64-fortanix-unknown-sgx-lvi-generic-ret.rs
  tests/assembly-llvm/x86_64-fortanix-unknown-sgx-lvi-inline-assembly.rs
  tests/run-make/x86_64-fortanix-unknown-sgx-lvi/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#144614 Fortify RemoveUnneededDrops test.
  tests/mir-opt/remove_unneeded_drops.cannot_opt_generic.RemoveUnneededDrops.diff
  tests/mir-opt/remove_unneeded_drops.cannot_opt_generic.RemoveUnneededDrops.panic-abort.diff
  tests/mir-opt/remove_unneeded_drops.cannot_opt_generic.RemoveUnneededDrops.panic-unwind.diff
  tests/mir-opt/remove_unneeded_drops.dont_opt.RemoveUnneededDrops.diff
  tests/mir-opt/remove_unneeded_drops.dont_opt.RemoveUnneededDrops.panic-abort.diff
  tests/mir-opt/remove_unneeded_drops.dont_opt.RemoveUnneededDrops.panic-unwind.diff
  tests/mir-opt/remove_unneeded_drops.opt.RemoveUnneededDrops.diff
  tests/mir-opt/remove_unneeded_drops.opt.RemoveUnneededDrops.panic-abort.diff
  tests/mir-opt/remove_unneeded_drops.opt.RemoveUnneededDrops.panic-unwind.diff
  tests/mir-opt/remove_unneeded_drops.opt_generic_copy.RemoveUnneededDrops.diff
  tests/mir-opt/remove_unneeded_drops.opt_generic_copy.RemoveUnneededDrops.panic-abort.diff
  tests/mir-opt/remove_unneeded_drops.opt_generic_copy.RemoveUnneededDrops.panic-unwind.diff
  tests/mir-opt/remove_unneeded_drops.rs
Labels: T-compiler, S-waiting-on-bors

#144703 [test][AIX] ignore extern_weak linkage test
  tests/ui/linkage-attr/propagate-generic-issue-18804/main.rs
Labels: T-compiler, S-waiting-on-bors

#144756 detect infinite recursion with tail calls in ctfe
  compiler/rustc_mir_transform/src/ctfe_limit.rs
  tests/ui/explicit-tail-calls/infinite-recursion-in-ctfe.rs
  tests/ui/explicit-tail-calls/infinite-recursion-in-ctfe.stderr
Labels: T-compiler, S-waiting-on-bors, F-explicit_tail_calls

#144766 Add human readable name "Cygwin"
  src/librustdoc/clean/cfg.rs
Labels: T-rustdoc, S-waiting-on-bors

#144786 Cleanup the definition of `group_type`
  compiler/rustc_attr_parsing/src/context.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#144796 Add my previous commit name to .mailmap
  .mailmap
Labels: S-waiting-on-bors, A-meta

#144797 Update safety comment for new_unchecked in niche_types
  library/core/src/num/niche_types.rs
Labels: S-waiting-on-bors, T-libs

#144803 rustc-dev-guide subtree update
  src/doc/rustc-dev-guide/.github/workflows/rustc-pull.yml
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/src/SUMMARY.md
  src/doc/rustc-dev-guide/src/solve/candidate-preference.md
  src/doc/rustc-dev-guide/src/tests/directives.md
  src/doc/rustc-dev-guide/src/tests/docker.md
  src/doc/rustc-dev-guide/triagebot.toml
Labels: S-waiting-on-bors, A-rustc-dev-guide

#132748 get rid of some false negatives in rustdoc::broken_intra_doc_links
  compiler/rustc_mir_transform/src/elaborate_drop.rs
  compiler/rustc_thread_pool/src/sleep/mod.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  tests/rustdoc-ui/disambiguator-endswith-named-suffix.rs
  tests/rustdoc-ui/disambiguator-endswith-named-suffix.stderr
  tests/rustdoc-ui/intra-doc/bad-intra-doc.rs
  tests/rustdoc-ui/intra-doc/bad-intra-doc.stderr
  tests/rustdoc-ui/intra-doc/weird-syntax.rs
  tests/rustdoc-ui/intra-doc/weird-syntax.stderr
  tests/rustdoc-ui/lints/redundant_explicit_links-utf8.rs
  tests/rustdoc-ui/lints/redundant_explicit_links-utf8.stderr
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#143360 loop match: error on `#[const_continue]` outside `#[loop_match]`
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/src/loops.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  tests/ui/loop-match/const-continue-to-block.rs
  tests/ui/loop-match/const-continue-to-block.stderr
  tests/ui/loop-match/invalid.rs
  tests/ui/loop-match/invalid.stderr
Labels: T-compiler, S-waiting-on-bors, F-loop_match

#143771 Constify some more `Result` functions
  library/core/src/result.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/result.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#144185 Document guarantees of poisoning
  library/std/src/sync/once_lock.rs
  library/std/src/sync/poison.rs
  library/std/src/sync/poison/mutex.rs
  library/std/src/sync/poison/once.rs
  library/std/src/sync/poison/rwlock.rs
Labels: A-concurrency, T-libs-api, S-waiting-on-bors, T-libs, A-panic

#144478 Improve formatting of doc code blocks
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_middle/src/hir/map.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_mir_build/src/builder/expr/as_operand.rs
  compiler/rustc_mir_dataflow/src/impls/initialized.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_thread_pool/src/scope/mod.rs
  library/alloc/src/string.rs
  library/alloc/src/vec/mod.rs
  library/core/src/cell.rs
  library/core/src/hint.rs
  library/core/src/iter/mod.rs
  library/core/src/iter/traits/iterator.rs
  library/core/src/macros/mod.rs
  library/core/src/marker.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/primitive_docs.rs
  library/core/src/result.rs
  library/std/src/path.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#144747 compiletest: Improve diagnostics for line annotation mismatches 2
  src/tools/compiletest/src/runtest.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#144782 Properly pass path to staged `rustc` to `compiletest` self-tests
  src/bootstrap/src/core/build_steps/test.rs
  src/tools/compiletest/src/directives/tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#144677 Improve bound const handling
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/collect/item_bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_infer/src/infer/canonical/canonicalizer.rs
  compiler/rustc_infer/src/infer/canonical/instantiate.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/relate/higher_ranked.rs
  compiler/rustc_middle/src/ty/consts.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/fold.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/typeck_results.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_type_ir/src/binder.rs
  compiler/rustc_type_ir/src/inherent.rs
  compiler/rustc_type_ir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#144070 Implement `hash_map` macro
  library/std/src/lib.rs
  library/std/src/macros.rs
Labels: S-waiting-on-bors, T-libs

#144790 Multiple bounds checking elision failures
  tests/codegen-llvm/bounds-check-elision-slice-min.rs
Labels: T-compiler, S-waiting-on-bors

#144805 compiletest: Preliminary cleanup of `ProcRes` printing/unwinding
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/rustdoc.rs
  src/tools/compiletest/src/runtest/rustdoc_json.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#144808 `Interner` arg to `EarlyBinder` does not affect auto traits
  compiler/rustc_type_ir/src/binder.rs
Labels: T-compiler, S-waiting-on-bors

#144816 Update E0562 to account for the new impl trait positions
  compiler/rustc_error_codes/src/error_codes/E0562.md
Labels: T-compiler, S-waiting-on-bors

#144822 Return a struct with named fields from `hash_owner_nodes`
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors

#144824 Updated test links in compiler
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
Labels: T-compiler, S-waiting-on-bors, A-rustc-dev-guide

#144829 Use full flag name in strip command for Darwin
  compiler/rustc_codegen_ssa/src/back/link.rs
Labels: T-compiler, S-waiting-on-bors

#144851 Forbid tail calling intrinsics
  compiler/rustc_mir_build/src/check_tail_calls.rs
  tests/ui/explicit-tail-calls/intrinsics.rs
  tests/ui/explicit-tail-calls/intrinsics.stderr
Labels: T-compiler, S-waiting-on-bors, F-explicit_tail_calls

#142205 Mark `slice::swap_with_slice` unstably const
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#144694 Distinguish prepending and replacing self ty in predicates
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/typeck_root_ctxt.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/mod.rs
  compiler/rustc_next_trait_solver/src/solve/effect_goals.rs
  compiler/rustc_next_trait_solver/src/solve/normalizes_to/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/region.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_type_ir/src/predicate.rs
  compiler/rustc_type_ir/src/ty_kind.rs
  src/tools/clippy/clippy_lints/src/needless_borrows_for_generic_args.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor, T-clippy

#144875 Add some pre-codegen MIR tests for debug mode
  tests/mir-opt/pre-codegen/derived_ord_debug.rs
  tests/mir-opt/pre-codegen/derived_ord_debug.{impl#0}-partial_cmp.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/derived_ord_debug.{impl#0}-partial_cmp.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/derived_ord_debug.{impl#1}-cmp.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/derived_ord_debug.{impl#1}-cmp.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/option_bubble_debug.option_direct.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/option_bubble_debug.option_direct.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/option_bubble_debug.option_traits.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/option_bubble_debug.option_traits.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/option_bubble_debug.rs
Labels: T-compiler, S-waiting-on-bors

#144895 [stable] Prepare rust 1.89.0
  RELEASES.md
  src/ci/channel
Labels: A-testsuite, S-waiting-on-bors, T-infra, T-release, merged-by-bors, A-CI

#144893 GCC backend subtree update
  compiler/rustc_codegen_gcc/build_system/src/abi_test.rs
  compiler/rustc_codegen_gcc/build_system/src/fuzz.rs
  compiler/rustc_codegen_gcc/patches/0001-Add-stdarch-Cargo.toml-for-testing.patch
  compiler/rustc_codegen_gcc/rust-toolchain
  compiler/rustc_codegen_gcc/src/allocator.rs
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_gcc/src/int.rs
  compiler/rustc_codegen_gcc/src/intrinsic/archs.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_gcc/tests/failing-lto-tests.txt
  compiler/rustc_codegen_gcc/tests/failing-run-make-tests.txt
  compiler/rustc_codegen_gcc/tests/failing-ui-tests.txt
  compiler/rustc_codegen_gcc/tools/cspell_dicts/rustc_codegen_gcc.txt
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#144898 [beta] Prepare Rust 1.90.0
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  library/alloc/src/ffi/c_str.rs
  library/core/src/ffi/c_str.rs
  library/core/src/num/uint_macros.rs
  library/core/src/slice/mod.rs
  library/std/src/num/f32.rs
  library/std/src/num/f64.rs
  src/ci/channel
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, T-libs, A-CI

#144467 rustdoc template font links only emit `crossorigin` when needed
  src/librustdoc/html/layout.rs
  src/librustdoc/html/layout/tests.rs
  src/librustdoc/html/templates/page.html
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#144741 fix: Error on illegal `[const]`s inside blocks within legal positions
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  tests/ui/traits/const-traits/conditionally-const-in-anon-const.rs
  tests/ui/traits/const-traits/conditionally-const-in-anon-const.stderr
  tests/ui/traits/const-traits/conditionally-const-in-struct-args.rs
  tests/ui/traits/const-traits/conditionally-const-invalid-places.stderr
Labels: T-compiler, S-waiting-on-bors, PG-const-traits

#144776 `Printer` cleanups
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/util/type_name.rs
  compiler/rustc_lint/src/context.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/error.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/need_type_info.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/placeholder_error.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/note_and_explain.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/overflow.rs
Labels: T-compiler, S-waiting-on-bors

#144779 Implement debugging output of the bootstrap Step graph into a DOT file
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/mod.rs
  src/bootstrap/src/utils/step_graph.rs
  src/doc/rustc-dev-guide/src/building/bootstrapping/debugging-bootstrap.md
Labels: T-bootstrap, S-waiting-on-bors, A-rustc-dev-guide

#144813 Add a tidy check to prevent adding UI tests directly under `tests/ui/`
  src/tools/tidy/src/ui_tests.rs
Labels: T-bootstrap, S-waiting-on-bors, A-tidy

#144852 Rename `rust_panic_without_hook` to `resume_unwind`
  library/std/src/panic.rs
  library/std/src/panicking.rs
Labels: S-waiting-on-bors, T-libs

#144866 Remove `SHOULD_EMIT_LINTS` in favor of `should_emit`
  compiler/rustc_attr_parsing/src/context.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#144872 Document Poisoning in `LazyCell` and `LazyLock`
  library/core/src/cell/lazy.rs
  library/std/src/sync/lazy_lock.rs
  library/std/src/sync/poison.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#144877 coverage: Various small cleanups
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen/covfun.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_mir_transform/src/coverage/mappings.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  tests/coverage/branch/no-mir-spans.cov-map
  tests/coverage/branch/no-mir-spans.coverage
  tests/coverage/branch/no-mir-spans.rs
  tests/ui/instrument-coverage/coverage-options.bad.stderr
Labels: A-LLVM, T-compiler, S-waiting-on-bors, A-code-coverage

#144890 Add `InterpCx::project_fields`
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/interpret/visitor.rs
  compiler/rustc_const_eval/src/lib.rs
  compiler/rustc_const_eval/src/util/caller_location.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
Labels: T-compiler, S-waiting-on-bors

#144894 Delete `tests/ui/threads-sendsync/tcp-stress.rs`
  tests/ui/threads-sendsync/tcp-stress.rs
Labels: S-waiting-on-bors, T-libs

#144920 Dont print arg span in MIR dump for tail call
  compiler/rustc_middle/src/mir/pretty.rs
  tests/mir-opt/building/custom/terminators.tail_call.built.after.mir
  tests/mir-opt/tail_call_drops.f_with_arg.ElaborateDrops.panic-abort.diff
  tests/mir-opt/tail_call_drops.f_with_arg.ElaborateDrops.panic-unwind.diff
  tests/mir-opt/tail_call_drops.f_with_arg.built.after.panic-abort.mir
  tests/mir-opt/tail_call_drops.f_with_arg.built.after.panic-unwind.mir
Labels: T-compiler, S-waiting-on-bors

#144548 Rehome 21 `tests/ui/issues/` tests to other subdirectories under `tests/ui/`
  tests/ui/associated-consts/constant-trait-item-reference-selection-26095.rs
  tests/ui/attributes/cold-attribute-application-54044.rs
  tests/ui/attributes/cold-attribute-application-54044.stderr
  tests/ui/autoref-autoderef/autoderef-vec-box-fn-36786.rs
  tests/ui/borrowck/borrow-checker-lifetime-error-46471.rs
  tests/ui/borrowck/borrow-checker-lifetime-error-46471.stderr
  tests/ui/borrowck/string-borrowing-pattern-matching-11869.rs
  tests/ui/cast/u8-to-char-cast-9918.rs
  tests/ui/codegen/llvm-miscompile-metadata-invalidation-36023.rs
  tests/ui/coherence/impl-coherence-error-for-undefined-type-18058.rs
  tests/ui/coherence/impl-coherence-error-for-undefined-type-18058.stderr
  tests/ui/const-generics/trait-resolution-error-with-const-generics-77919.rs
  tests/ui/const-generics/trait-resolution-error-with-const-generics-77919.stderr
  tests/ui/drop/destructor-run-for-expression-4734.rs
  tests/ui/generics/unnecessary-path-disambiguator-36116.rs
  tests/ui/inference/collection-type-copy-behavior-12909.rs
  tests/ui/issues/auxiliary/issue-25185-2.rs
  tests/ui/issues/issue-25185.rs
  tests/ui/issues/issue-32655.rs
  tests/ui/issues/issue-32655.stderr
  tests/ui/iterators/iterator-type-inference-sum-15673.rs
  tests/ui/linking/auxiliary/aux-25185-1.rs
  tests/ui/linking/auxiliary/aux-25185-2.rs
  tests/ui/linking/rlib-to-dylib-native-deps-inclusion-25185.rs
  tests/ui/macros/invalid-assignment-in-macro-26093.rs
  tests/ui/macros/invalid-assignment-in-macro-26093.stderr
  tests/ui/pattern/unit-pattern-matching-in-function-argument-7519.rs
  tests/ui/type-alias/missing-associated-type-in-trait-object-22434.rs
  tests/ui/type-alias/missing-associated-type-in-trait-object-22434.stderr
  tests/ui/typeck/incorrect-self-type-in-trait-impl-48276.rs
  tests/ui/typeck/incorrect-self-type-in-trait-impl-48276.stderr
  tests/ui/typeck/parenthesized-type-parameters-error-32995.rs
  tests/ui/typeck/parenthesized-type-parameters-error-32995.stderr
  tests/ui/unboxed-closures/self-param-space-conflict-in-unboxed-closure-18685.rs
Labels: T-compiler, S-waiting-on-bors

#144817 Properly reject tail calls to `&FnPtr` or `&FnDef`
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_mir_build/src/check_tail_calls.rs
  tests/ui/explicit-tail-calls/callee_is_ref.fixed
  tests/ui/explicit-tail-calls/callee_is_ref.rs
  tests/ui/explicit-tail-calls/callee_is_ref.stderr
  tests/ui/explicit-tail-calls/callee_is_weird.rs
  tests/ui/explicit-tail-calls/callee_is_weird.stderr
Labels: T-compiler, S-waiting-on-bors, F-explicit_tail_calls

#144867 Use `as_array` in PartialEq for arrays
  library/core/src/array/equality.rs
Labels: S-waiting-on-bors, T-libs

#143679 Preserve the .debug_gdb_scripts section
  compiler/rustc_codegen_gcc/src/debuginfo.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/debuginfo/gdb.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_ssa/src/traits/debuginfo.rs
  src/tools/compiletest/src/directives/directive_names.rs
  tests/codegen-llvm/gdb_debug_script_load.rs
  tests/debuginfo/embedded-visualizer.rs
  tests/run-make/symbols-all-mangled/rmake.rs
Labels: A-LLVM, A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-compiletest, A-run-make

#144509 Add release notes for 1.89.0
  RELEASES.md
Labels: S-waiting-on-bors, T-release, merged-by-bors

#144917 Enforce tail call type is related to body return type in borrowck
  compiler/rustc_borrowck/src/type_check/mod.rs
  tests/ui/explicit-tail-calls/ret-ty-borrowck-constraints.rs
  tests/ui/explicit-tail-calls/ret-ty-borrowck-constraints.stderr
Labels: T-compiler, S-waiting-on-bors, F-explicit_tail_calls

#144948 we only merge candidates for trait and normalizes-to goals
  compiler/rustc_next_trait_solver/src/solve/assembly/mod.rs
  compiler/rustc_next_trait_solver/src/solve/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#144970 rustdoc: fix caching of intra-doc links on reexports
  src/librustdoc/clean/types.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  tests/rustdoc/intra-doc/macro-caching-144965.rs
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#144972 add code example showing that file_prefix treats dotfiles as the name of a file, not an extension
  library/std/src/path.rs
Labels: S-waiting-on-bors, T-libs

#144975 `File::set_times`: Update documentation and example to support setting timestamps on directories
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#144977 Fortify generic param default checks
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  tests/ui/const-generics/defaults/default-on-impl.rs
  tests/ui/const-generics/defaults/default-on-impl.stderr
  tests/ui/const-generics/generic_const_exprs/issue-105257.rs
  tests/ui/const-generics/generic_const_exprs/issue-105257.stderr
  tests/ui/const-generics/min_const_generics/default_function_param.rs
  tests/ui/const-generics/min_const_generics/default_function_param.stderr
  tests/ui/generic-associated-types/type-param-defaults.rs
  tests/ui/generic-associated-types/type-param-defaults.stderr
  tests/ui/generic-const-items/parameter-defaults.rs
  tests/ui/generic-const-items/parameter-defaults.stderr
  tests/ui/generics/generic-extern.rs
  tests/ui/generics/generic-extern.stderr
  tests/ui/generics/invalid-type-param-default.rs
  tests/ui/generics/invalid-type-param-default.stderr
  tests/ui/generics/overlapping-errors-span-issue-123861.rs
  tests/ui/generics/overlapping-errors-span-issue-123861.stderr
  tests/ui/impl-trait/where-allowed.rs
  tests/ui/impl-trait/where-allowed.stderr
  tests/ui/issues/issue-26812.rs
  tests/ui/issues/issue-26812.stderr
  tests/ui/lifetimes/unusual-rib-combinations.rs
  tests/ui/lifetimes/unusual-rib-combinations.stderr
  tests/ui/missing/missing-items/missing-type-parameter2.rs
  tests/ui/missing/missing-items/missing-type-parameter2.stderr
  tests/ui/type-inference/unbounded-type-param-in-fn-with-assoc-type.stderr
  tests/ui/type/default_type_parameter_in_fn_or_impl.rs
  tests/ui/type/default_type_parameter_in_fn_or_impl.stderr
  tests/ui/wf/ice-hir-wf-check-anon-const-issue-122199.rs
  tests/ui/wf/ice-hir-wf-check-anon-const-issue-122199.stderr
Labels: T-compiler, S-waiting-on-bors

#144996 simplifycfg: Mark as changed when start is modified in collapse goto chain
  compiler/rustc_mir_transform/src/simplify.rs
Labels: T-compiler, S-waiting-on-bors

#144998 mir: Do not modify NonUse in `super_projection_elem`
  compiler/rustc_middle/src/mir/visit.rs
Labels: T-compiler, S-waiting-on-bors

#145000 Remove unneeded `stage` parameter when setting up stdlib Cargo
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/clippy.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/test.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#145008 Fix rustdoc scrape examples crash
  src/librustdoc/config.rs
  src/librustdoc/scrape_examples.rs
  tests/run-make/rustdoc-scrape-examples-paths/foo/Cargo.toml
  tests/run-make/rustdoc-scrape-examples-paths/foo/examples/complex.rs
  tests/run-make/rustdoc-scrape-examples-paths/foo/examples/tester.rs
  tests/run-make/rustdoc-scrape-examples-paths/foo/src/lib.rs
  tests/run-make/rustdoc-scrape-examples-paths/rmake.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-run-make

#144195 Parser: Recover from attributes applied to types and generic args
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/path.rs
  compiler/rustc_parse/src/parser/ty.rs
  tests/ui/parser/attribute-on-empty.rs
  tests/ui/parser/attribute-on-empty.stderr
  tests/ui/parser/attribute-on-type.fixed
  tests/ui/parser/attribute-on-type.rs
  tests/ui/parser/attribute-on-type.stderr
  tests/ui/parser/issues/issue-103143.rs
  tests/ui/parser/issues/issue-103143.stderr
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.fixed
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.rs
  tests/ui/parser/recover/recover-where-clause-before-tuple-struct-body-0.stderr
Labels: T-compiler, S-waiting-on-bors

#144794 Port `#[coroutine]` to the new attribute system
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_attr_parsing/src/attributes/body.rs
  compiler/rustc_attr_parsing/src/attributes/mod.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_hir/src/attrs/data_structures.rs
  compiler/rustc_hir/src/attrs/encode_cross_crate.rs
  compiler/rustc_passes/src/check_attr.rs
  tests/ui/attributes/malformed-attrs.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#144835 Anonymize binders in tail call sig
  compiler/rustc_mir_build/src/check_tail_calls.rs
  tests/ui/explicit-tail-calls/higher-ranked-arg.rs
Labels: T-compiler, S-waiting-on-bors

#144861 Stabilize `panic_payload_as_str` feature
  library/std/src/panic.rs
Labels: T-libs-api, S-waiting-on-bors

#144956 Gate const trait syntax
  compiler/rustc_parse/src/parser/item.rs
  tests/ui/traits/const-traits/feature-gate.rs
  tests/ui/traits/const-traits/feature-gate.stock.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors, PG-const-traits

#145014 Revert "Preserve the .debug_gdb_scripts section"
  compiler/rustc_codegen_gcc/src/debuginfo.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/debuginfo/gdb.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_ssa/src/traits/debuginfo.rs
  src/tools/compiletest/src/directives/directive_names.rs
  tests/codegen-llvm/gdb_debug_script_load.rs
  tests/debuginfo/embedded-visualizer.rs
  tests/run-make/symbols-all-mangled/rmake.rs
Labels: A-LLVM, A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-compiletest, A-run-make

#144601 Allow `cargo fix` to partially apply `mismatched_lifetime_syntaxes`
  compiler/rustc_lint/src/lifetime_syntax.rs
  compiler/rustc_lint/src/lints.rs
Labels: T-compiler, S-waiting-on-bors

#145033 Reimplement `print_region` in `type_name.rs`.
  compiler/rustc_const_eval/src/util/type_name.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
  tests/ui/type/type-name-basic.rs
Labels: T-compiler, S-waiting-on-bors

#145040 rustc-dev-guide subtree update
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/src/offload/installation.md
  src/doc/rustc-dev-guide/src/overview.md
  src/doc/rustc-dev-guide/src/tests/running.md
Labels: S-waiting-on-bors, A-rustc-dev-guide

#137831 Tweak auto trait errors
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  tests/ui/auto-traits/assoc-ty.current.stderr
  tests/ui/auto-traits/assoc-ty.next.stderr
  tests/ui/auto-traits/auto-trait-validation.fixed
  tests/ui/auto-traits/auto-trait-validation.rs
  tests/ui/auto-traits/auto-trait-validation.stderr
  tests/ui/auto-traits/bad-generics-on-dyn.stderr
  tests/ui/auto-traits/has-arguments.stderr
  tests/ui/auto-traits/issue-117789.stderr
  tests/ui/auto-traits/issue-23080-2.current.stderr
  tests/ui/auto-traits/issue-23080-2.next.stderr
  tests/ui/auto-traits/issue-23080.stderr
  tests/ui/auto-traits/issue-84075.stderr
  tests/ui/auto-traits/typeck-auto-trait-no-supertraits-2.stderr
  tests/ui/auto-traits/typeck-auto-trait-no-supertraits.stderr
  tests/ui/methods/issues/issue-105732.stderr
  tests/ui/traits/inductive-overflow/supertrait-auto-trait.stderr
Labels: T-compiler, S-waiting-on-bors

#144369 Upgrade semicolon_in_expressions_from_macros from warn to deny
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/lint/semicolon-in-expressions-from-macros/warn-semicolon-in-expressions-from-macros.rs
  tests/ui/lint/semicolon-in-expressions-from-macros/warn-semicolon-in-expressions-from-macros.stderr
  tests/ui/macros/lint-trailing-macro-call.rs
  tests/ui/macros/lint-trailing-macro-call.stderr
  tests/ui/macros/macro-context.rs
  tests/ui/macros/macro-context.stderr
  tests/ui/macros/macro-in-expression-context.fixed
  tests/ui/macros/macro-in-expression-context.rs
  tests/ui/macros/macro-in-expression-context.stderr
Labels: A-lints, A-macros, T-lang, relnotes, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce

#144650 Additional tce tests
  tests/crashes/144293-indirect-ops-llvm.rs
  tests/ui/explicit-tail-calls/drop-order.rs
  tests/ui/explicit-tail-calls/indexer.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, F-explicit_tail_calls

#144682 Stabilize `strict_overflow_ops`
  compiler/rustc_const_eval/src/lib.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  src/tools/miri/src/lib.rs
  src/tools/rust-analyzer/crates/ide-db/src/generated/lints.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#138689 add nvptx_target_feature
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/target_features.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  library/core/src/lib.rs
  src/doc/rustc/src/platform-support/nvptx64-nvidia-cuda.md
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/target-feature/gate.rs
  tests/ui/target-feature/gate.stderr
  tests/ui/target-feature/implied-features-nvptx.rs
Labels: A-LLVM, T-compiler, O-NVPTX, S-waiting-on-bors, T-libs, A-target-feature

#143028 emit `StorageLive` and schedule `StorageDead` for `let`-`else`'s bindings after matching
  compiler/rustc_mir_build/src/builder/block.rs
  compiler/rustc_mir_build/src/builder/matches/mod.rs
  tests/mir-opt/building/issue_101867.main.built.after.mir
  tests/mir-opt/building/user_type_annotations.let_else.built.after.mir
  tests/ui/dropck/let-else-more-permissive.rs
  tests/ui/dropck/let-else-more-permissive.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, to-announce, needs-crater, I-lang-radar

#143807 Pass -Werror when building the LLVM wrapper
  compiler/rustc_llvm/build.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors

#144705 compiler-builtins: plumb LSE support for aarch64 on linux/gnu when optimized-compiler-builtins not enabled
  library/compiler-builtins/compiler-builtins/src/aarch64_linux.rs
  library/std/src/sys/configure_builtins.rs
  library/std/src/sys/mod.rs
Labels: S-waiting-on-bors, T-libs, WG-trait-system-refactor, A-compiler-builtins, T-clippy

#144857 Port `#[allow_internal_unsafe]` to the new attribute system
  compiler/rustc_attr_parsing/src/attributes/macro_attrs.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_hir/src/attrs/data_structures.rs
  compiler/rustc_hir/src/attrs/encode_cross_crate.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  tests/ui/attributes/malformed-attrs.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#144900 Stabilize `unsigned_signed_diff` feature
  library/core/src/num/uint_macros.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#144903 Rename `begin_panic_handler` to `panic_handler`
  library/std/src/panicking.rs
  src/tools/miri/tests/fail/function_calls/exported_symbol_bad_unwind2.both.stderr
  src/tools/miri/tests/fail/function_calls/exported_symbol_bad_unwind2.definition.stderr
  src/tools/miri/tests/fail/panic/abort_unwind.stderr
  src/tools/miri/tests/fail/panic/double_panic.stderr
  src/tools/miri/tests/fail/panic/panic_abort1.stderr
  src/tools/miri/tests/fail/panic/panic_abort2.stderr
  src/tools/miri/tests/fail/panic/panic_abort3.stderr
  src/tools/miri/tests/fail/panic/panic_abort4.stderr
  src/tools/miri/tests/fail/ptr_swap_nonoverlapping.stderr
  src/tools/miri/tests/fail/terminate-terminator.stderr
  src/tools/miri/tests/fail/unwind-action-terminate.stderr
  src/tools/miri/tests/panic/panic1.stderr
Labels: S-waiting-on-bors, T-libs

#145007 Fix build/doc/test of error index generator
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#145018 Derive `Hash` for rustc_public types
  compiler/rustc_public/src/mir/body.rs
  compiler/rustc_public/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#145045 doc(library): Fix Markdown in `Iterator::by_ref`
  library/core/src/iter/traits/iterator.rs
Labels: S-waiting-on-bors, T-libs

#145046 Fix doc comment of File::try_lock and File::try_lock_shared
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#144764 [codegen] assume the tag, not the relative discriminant
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  tests/codegen-llvm/enum/enum-discriminant-eq.rs
  tests/codegen-llvm/enum/enum-match.rs
Labels: T-compiler, S-waiting-on-bors

#144807 Streamline config in bootstrap
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/toml/dist.rs
  src/bootstrap/src/core/config/toml/gcc.rs
  src/bootstrap/src/core/config/toml/install.rs
  src/bootstrap/src/core/config/toml/llvm.rs
  src/bootstrap/src/core/config/toml/mod.rs
  src/bootstrap/src/core/config/toml/rust.rs
  src/bootstrap/src/core/config/toml/target.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/exec.rs
Labels: T-bootstrap, S-waiting-on-bors

#144899 Print CGU reuse statistics in `-Zprint-mono-items`
  compiler/rustc_codegen_ssa/src/assert_module_sources.rs
Labels: T-compiler, S-waiting-on-bors

#144909 Add new `test::print_merged_doctests_times` used by rustdoc to display more detailed time information
  library/test/src/console.rs
  library/test/src/formatters/json.rs
  library/test/src/formatters/junit.rs
  library/test/src/formatters/mod.rs
  library/test/src/formatters/pretty.rs
  library/test/src/formatters/terse.rs
  library/test/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#144912 Resolver: introduce a conditionally mutable Resolver for (non-)speculative resolution.
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
Labels: T-compiler, S-waiting-on-bors

#144931 [win][arm64ec] Fix msvc-wholearchive for Arm64EC
  src/tools/run-make-support/src/external_deps/c_cxx_compiler/extras.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/targets.rs
  tests/run-make/msvc-wholearchive/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#144999 coverage: Remove all unstable support for MC/DC instrumentation
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/ffi.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/llvm_cov.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen/covfun.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/traits/coverageinfo.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_llvm/llvm-wrapper/CoverageMappingWrapper.cpp
  compiler/rustc_middle/src/mir/coverage.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/builder/coverageinfo.rs
  compiler/rustc_mir_build/src/builder/coverageinfo/mcdc.rs
  compiler/rustc_mir_build/src/builder/expr/into.rs
  compiler/rustc_mir_build/src/builder/matches/mod.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_transform/messages.ftl
  compiler/rustc_mir_transform/src/check_inline.rs
  compiler/rustc_mir_transform/src/coverage/mappings.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/query.rs
  compiler/rustc_mir_transform/src/coverage/spans/from_mir.rs
  compiler/rustc_mir_transform/src/errors.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_session/src/session.rs
  src/doc/unstable-book/src/compiler-flags/coverage-options.md
  tests/coverage/mcdc/condition-limit.cov-map
  tests/coverage/mcdc/condition-limit.coverage
  tests/coverage/mcdc/condition-limit.rs
  tests/coverage/mcdc/if.cov-map
  tests/coverage/mcdc/if.coverage
  tests/coverage/mcdc/if.rs
  tests/coverage/mcdc/inlined_expressions.cov-map
  tests/coverage/mcdc/inlined_expressions.coverage
  tests/coverage/mcdc/inlined_expressions.rs
  tests/coverage/mcdc/nested_if.cov-map
  tests/coverage/mcdc/nested_if.coverage
  tests/coverage/mcdc/nested_if.rs
  tests/coverage/mcdc/non_control_flow.cov-map
  tests/coverage/mcdc/non_control_flow.coverage
  tests/coverage/mcdc/non_control_flow.rs
  tests/ui/instrument-coverage/coverage-options.bad.stderr
  tests/ui/instrument-coverage/coverage-options.rs
  tests/ui/instrument-coverage/mcdc-condition-limit.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, A-code-coverage, F-coverage-mcdc

#145009 A couple small changes for rust-analyzer next-solver work
  compiler/rustc_middle/src/ty/predicate.rs
  compiler/rustc_type_ir/src/const_kind.rs
  compiler/rustc_type_ir/src/predicate.rs
Labels: T-compiler, S-waiting-on-bors

#145030 GVN: Do not flatten derefs with ProjectionElem::Index.
  compiler/rustc_mir_transform/src/gvn.rs
  tests/mir-opt/gvn.dereference_indexing.GVN.panic-abort.diff
  tests/mir-opt/gvn.dereference_indexing.GVN.panic-unwind.diff
  tests/mir-opt/gvn.rs
Labels: T-compiler, S-waiting-on-bors

#145042 stdarch subtree update
  library/stdarch/.github/workflows/rustc-pull.yml
  library/stdarch/Cargo.lock
  library/stdarch/ci/docker/loongarch64-unknown-linux-gnu/Dockerfile
  library/stdarch/crates/core_arch/src/loongarch64/lasx/generated.rs
  library/stdarch/crates/core_arch/src/loongarch64/lasx/types.rs
  library/stdarch/crates/core_arch/src/loongarch64/lsx/generated.rs
  library/stdarch/crates/core_arch/src/loongarch64/lsx/types.rs
  library/stdarch/crates/core_arch/src/s390x/vector.rs
  library/stdarch/crates/core_arch/src/x86/sse2.rs
  library/stdarch/crates/intrinsic-test/Cargo.toml
  library/stdarch/crates/intrinsic-test/src/arm/argument.rs
  library/stdarch/crates/intrinsic-test/src/arm/compile.rs
  library/stdarch/crates/intrinsic-test/src/arm/intrinsic.rs
  library/stdarch/crates/intrinsic-test/src/arm/json_parser.rs
  library/stdarch/crates/intrinsic-test/src/arm/mod.rs
  library/stdarch/crates/intrinsic-test/src/arm/types.rs
  library/stdarch/crates/intrinsic-test/src/common/argument.rs
  library/stdarch/crates/intrinsic-test/src/common/compare.rs
  library/stdarch/crates/intrinsic-test/src/common/compile_c.rs
  library/stdarch/crates/intrinsic-test/src/common/constraint.rs
  library/stdarch/crates/intrinsic-test/src/common/gen_c.rs
  library/stdarch/crates/intrinsic-test/src/common/gen_rust.rs
  library/stdarch/crates/intrinsic-test/src/common/intrinsic_helpers.rs
  library/stdarch/crates/intrinsic-test/src/common/mod.rs
  library/stdarch/crates/intrinsic-test/src/common/write_file.rs
  library/stdarch/crates/stdarch-gen-arm/Cargo.toml
  library/stdarch/crates/stdarch-gen-loongarch/src/main.rs
  library/stdarch/examples/connect5.rs
  library/stdarch/rust-version
Labels: S-waiting-on-bors, T-libs

#145047 move `type_check` out of `compute_regions`
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
Labels: T-compiler, S-waiting-on-bors

#145051 Prevent name collisions with internal implementation details
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  tests/codegen-llvm/sanitizer/cfi/external_weak_symbols.rs
  tests/ui/linkage-attr/linkage-detect-extern-generated-name-collision.rs
  tests/ui/linkage-attr/linkage-detect-extern-generated-name-collision.stderr
  tests/ui/linkage-attr/linkage-detect-local-generated-name-collision.rs
  tests/ui/linkage-attr/linkage-detect-local-generated-name-collision.stderr
Labels: A-LLVM, T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#145053 Add a lot of NLL `known-bug` tests
  tests/ui/nll/polonius/filtering-lending-iterator-issue-92985.nll.stderr
  tests/ui/nll/polonius/filtering-lending-iterator-issue-92985.rs
  tests/ui/nll/polonius/iterating-updating-cursor-issue-108704.nll.stderr
  tests/ui/nll/polonius/iterating-updating-cursor-issue-108704.rs
  tests/ui/nll/polonius/iterating-updating-cursor-issue-57165.nll.stderr
  tests/ui/nll/polonius/iterating-updating-cursor-issue-57165.rs
  tests/ui/nll/polonius/iterating-updating-cursor-issue-63908.nll.stderr
  tests/ui/nll/polonius/iterating-updating-cursor-issue-63908.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-112087.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-112087.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-123839.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-123839.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-124070.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-124070.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-124254.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-124254.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-21906.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-21906.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-51526.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-51526.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-51545.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-51545.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-54663.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-54663.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-58787.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-58787.rs
  tests/ui/nll/polonius/nll-problem-case-3-issue-68934.nll.stderr
  tests/ui/nll/polonius/nll-problem-case-3-issue-68934.rs
Labels: T-compiler, S-waiting-on-bors

#145055 Move metadata symbol export from exported_non_generic_symbols to exported_symbols
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
Labels: T-compiler, S-waiting-on-bors

#145057 Clean up some resolved test regressions of const trait removals in std
  library/coretests/tests/char.rs
  library/coretests/tests/convert.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/nonzero.rs
  library/coretests/tests/num/const_from.rs
  library/coretests/tests/option.rs
  tests/ui/traits/const-traits/const-and-non-const-impl.rs
  tests/ui/traits/const-traits/const-and-non-const-impl.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#145068 Readd myself to review queue
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#145070 Add minimal `armv7a-vex-v5` tier three target
  compiler/rustc_target/src/spec/abi_map.rs
  compiler/rustc_target/src/spec/json.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/armv7a_vex_v5.rs
  compiler/rustc_target/src/spec/targets/armv7a_vex_v5_linker_script.ld
  src/bootstrap/src/core/sanity.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/armv7a-vex-v5.md
  tests/assembly-llvm/targets/targets-elf.rs
  tests/ui/check-cfg/cfg-crate-features.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors

#144914 Add support for `ty::Instance` path shortening in diagnostics
  compiler/rustc_middle/messages.ftl
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_middle/src/ty/error.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_monomorphize/messages.ftl
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/errors.rs
  tests/ui/consts/const-eval/issue-85155.stderr
  tests/ui/consts/required-consts/collect-in-dead-drop.noopt.stderr
  tests/ui/consts/required-consts/collect-in-dead-drop.opt.stderr
  tests/ui/consts/required-consts/collect-in-dead-fn-behind-opaque-type.noopt.stderr
  tests/ui/consts/required-consts/collect-in-dead-fn-behind-opaque-type.opt.stderr
  tests/ui/consts/required-consts/collect-in-dead-move.noopt.stderr
  tests/ui/consts/required-consts/collect-in-dead-move.opt.stderr
  tests/ui/consts/required-consts/collect-in-dead-vtable.noopt.stderr
  tests/ui/consts/required-consts/collect-in-dead-vtable.opt.stderr
  tests/ui/infinite/infinite-instantiation-struct-tail-ice-114484.rs
  tests/ui/infinite/infinite-instantiation-struct-tail-ice-114484.stderr
  tests/ui/infinite/infinite-instantiation.rs
  tests/ui/infinite/infinite-instantiation.stderr
  tests/ui/issues/issue-37311-type-length-limit/issue-37311.rs
  tests/ui/issues/issue-37311-type-length-limit/issue-37311.stderr
  tests/ui/issues/issue-8727.rs
  tests/ui/issues/issue-8727.stderr
  tests/ui/limits/type-length-limit-enforcement.rs
  tests/ui/limits/type-length-limit-enforcement.stderr
  tests/ui/recursion/recursion.rs
  tests/ui/recursion/recursion.stderr
  tests/ui/recursion/recursive-impl-trait-iterator-by-ref-67552.rs
  tests/ui/recursion/recursive-impl-trait-iterator-by-ref-67552.stderr
Labels: T-compiler, S-waiting-on-bors

#139451 Add `target_env = "macabi"` and `target_env = "sim"`
  compiler/rustc_codegen_ssa/src/back/apple.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_metadata/src/native_libs.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/base/apple/tests.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_tvos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_tvos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_watchos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_watchos_sim.rs
  compiler/rustc_target/src/spec/targets/arm64_32_apple_watchos.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_ios.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_tvos.rs
  compiler/rustc_target/src/spec/targets/armv7k_apple_watchos.rs
  compiler/rustc_target/src/spec/targets/armv7s_apple_ios.rs
  compiler/rustc_target/src/spec/targets/i386_apple_ios.rs
  compiler/rustc_target/src/spec/targets/i686_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_ios.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_tvos.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_watchos_sim.rs
  compiler/rustc_target/src/spec/targets/x86_64h_apple_darwin.rs
  src/doc/rustc/src/platform-support/apple-ios-macabi.md
  src/doc/rustc/src/platform-support/apple-ios.md
  src/tools/compiletest/src/directives/tests.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, O-apple, A-compiletest

#145086 Revert "Port `#[allow_internal_unsafe]` to the new attribute system"
  compiler/rustc_attr_parsing/src/attributes/macro_attrs.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_hir/src/attrs/data_structures.rs
  compiler/rustc_hir/src/attrs/encode_cross_crate.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  tests/ui/attributes/malformed-attrs.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors

#145082 Fix some bad formatting in `-Zmacro-stats` output.
  compiler/rustc_interface/src/passes.rs
  tests/ui/stats/macro-stats.rs
  tests/ui/stats/macro-stats.stderr
Labels: T-compiler, S-waiting-on-bors

#145124 Recover `for PAT = EXPR {}`
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/suggestions/for-loop-missing-in.fixed
  tests/ui/suggestions/for-loop-missing-in.rs
  tests/ui/suggestions/for-loop-missing-in.stderr
Labels: T-compiler, S-waiting-on-bors

#144823 coverage: Extract HIR-related helper code out of the main module
  compiler/rustc_mir_transform/src/coverage/hir_info.rs
  compiler/rustc_mir_transform/src/coverage/mappings.rs
  compiler/rustc_mir_transform/src/coverage/mod.rs
  compiler/rustc_mir_transform/src/coverage/spans.rs
Labels: T-compiler, S-waiting-on-bors, A-code-coverage

#144883 Remove unneeded `drop_in_place` calls
  compiler/rustc_mir_transform/src/remove_unneeded_drops.rs
  tests/mir-opt/remove_unneeded_drop_in_place.rs
  tests/mir-opt/remove_unneeded_drop_in_place.slice_in_place.RemoveUnneededDrops.diff
Labels: T-compiler, S-waiting-on-bors

#144923 Move several more float tests to floats/mod.rs
  library/coretests/tests/floats/f128.rs
  library/coretests/tests/floats/f16.rs
  library/coretests/tests/floats/f32.rs
  library/coretests/tests/floats/f64.rs
  library/coretests/tests/floats/mod.rs
Labels: S-waiting-on-bors, T-libs

#144988 Add annotations to the graphviz region graph on region origins
  compiler/rustc_borrowck/src/handle_placeholders.rs
  compiler/rustc_borrowck/src/region_infer/graphviz.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/renumber.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_infer/src/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#145027 Optimize `char::is_alphanumeric`
  library/core/src/char/methods.rs
Labels: S-waiting-on-bors, T-libs

#145050 add member constraints tests
  tests/ui/impl-trait/member-constraints/apply_member_constraint-no-req-eq.rs
  tests/ui/impl-trait/member-constraints/incomplete-constraint.rs
  tests/ui/impl-trait/member-constraints/min-choice-reject-ambiguous.rs
  tests/ui/impl-trait/member-constraints/min-choice-reject-ambiguous.stderr
  tests/ui/impl-trait/member-constraints/min-choice.rs
  tests/ui/impl-trait/member-constraints/nested-impl-trait-fail.rs
  tests/ui/impl-trait/member-constraints/nested-impl-trait-fail.stderr
  tests/ui/impl-trait/member-constraints/nested-impl-trait-pass.rs
  tests/ui/impl-trait/member-constraints/reject-choice-due-to-prev-constraint.rs
  tests/ui/impl-trait/no-anonymize-regions.rs
Labels: T-compiler, S-waiting-on-bors

#145083 Fix cross-compilation of Cargo
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#141658 rustdoc search: prefer stable items in search results
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/search_index.rs
  src/librustdoc/html/static/js/rustdoc.d.ts
  src/librustdoc/html/static/js/search.js
  tests/rustdoc-js-std/core-transmute.js
  tests/rustdoc-js-std/transmute-fail.js
  tests/rustdoc-js-std/transmute.js
  tests/rustdoc-js/sort-stability.js
  tests/rustdoc-js/sort-stability.rs
Labels: T-rustdoc, relnotes, S-waiting-on-bors, A-rustdoc-search, T-rustdoc-frontend

#145104 [beta] bump stage0
  src/stage0
Labels: T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors

#144787 Refactor codegen backends in bootstrap
  bootstrap.example.toml
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/install.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/toml/rust.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#144873 Implement `stability_implications` without a visitor.
  compiler/rustc_hir/src/def.rs
  compiler/rustc_passes/src/stability.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#145144 Stop using uadd.with.overflow
  compiler/rustc_codegen_llvm/src/builder.rs
  tests/assembly-llvm/x86_64-bigint-helpers.rs
  tests/codegen-llvm/bigint-helpers.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors

#145130 improve "Documentation problem" issue template.
  .github/ISSUE_TEMPLATE/documentation.yaml
Labels: S-waiting-on-bors

#145145 some `derive_more` refactors
  compiler/rustc_next_trait_solver/src/solve/inspect/build.rs
  compiler/rustc_type_ir/src/binder.rs
  compiler/rustc_type_ir/src/canonical.rs
  compiler/rustc_type_ir/src/const_kind.rs
  compiler/rustc_type_ir/src/error.rs
  compiler/rustc_type_ir/src/generic_arg.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/opaque_ty.rs
  compiler/rustc_type_ir/src/pattern.rs
  compiler/rustc_type_ir/src/predicate.rs
  compiler/rustc_type_ir/src/predicate_kind.rs
  compiler/rustc_type_ir/src/region_kind.rs
  compiler/rustc_type_ir/src/relate.rs
  compiler/rustc_type_ir/src/solve/inspect.rs
  compiler/rustc_type_ir/src/solve/mod.rs
  compiler/rustc_type_ir/src/ty_kind.rs
  compiler/rustc_type_ir/src/ty_kind/closure.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#145147 rename `TraitRef::from_method` to `from_assoc`
  compiler/rustc_const_eval/src/check_consts/ops.rs
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/generic_args.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/transform.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_type_ir/src/predicate.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#145191 `suggest_borrow_generic_arg`: use the correct generic args
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  tests/ui/moves/use-correct-generic-args-in-borrow-suggest.rs
  tests/ui/moves/use-correct-generic-args-in-borrow-suggest.stderr
Labels: T-compiler, S-waiting-on-bors

#144739 Use new public libtest `ERROR_EXIT_CODE` constant in rustdoc
  src/librustdoc/doctest.rs
Labels: T-rustdoc, S-waiting-on-bors

#145089 Improve error output when a command fails in bootstrap
  src/bootstrap/src/utils/exec.rs
Labels: T-bootstrap, S-waiting-on-bors

#145112 [win][arm64ec] Partial fix for raw-dylib-link-ordinal on Arm64EC
  tests/run-make/raw-dylib-link-ordinal/exporter.def
  tests/run-make/raw-dylib-link-ordinal/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#145129 [win][arm64ec] Add `/machine:arm64ec` when linking LLVM as Arm64EC
  src/bootstrap/src/core/build_steps/llvm.rs
Labels: T-bootstrap, S-waiting-on-bors

#145135 Stabilize `duration_constructors_lite` feature
  library/core/src/time.rs
  library/coretests/tests/lib.rs
  src/doc/unstable-book/src/library-features/duration-constructors-lite.md
  src/doc/unstable-book/src/library-features/duration-constructors.md
Labels: T-libs-api, S-waiting-on-bors, T-libs

#145156 Override custom Cargo `build-dir` in bootstrap
  src/bootstrap/src/core/builder/cargo.rs
Labels: T-bootstrap, S-waiting-on-bors

#145160 Change days-threshold to 28 in [behind-upstream]
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#145187 Fix an unstable feature comment that wasn't a doc comment
  compiler/rustc_feature/src/unstable.rs
Labels: T-compiler, S-waiting-on-bors

#145162 `{BTree,Hash}Map`: add "`Entry` API" section heading
  library/alloc/src/collections/btree/map.rs
  library/std/src/collections/hash/map.rs
Labels: S-waiting-on-bors, T-libs

#141624 unstable-book: Add stubs for environment variables; document some of the important ones
  src/doc/unstable-book/src/compiler-environment-variables/COLORTERM.md
  src/doc/unstable-book/src/compiler-environment-variables/QNX_TARGET.md
  src/doc/unstable-book/src/compiler-environment-variables/SDKROOT.md
  src/doc/unstable-book/src/compiler-environment-variables/TERM.md
  src/doc/unstable-book/src/compiler-flags/terminal-urls.md
  src/tools/tidy/src/features.rs
  src/tools/tidy/src/unstable_book.rs
  src/tools/unstable-book-gen/src/main.rs
  src/tools/unstable-book-gen/src/stub-env-var.md
Labels: T-bootstrap, S-waiting-on-bors, A-tidy

#144544 Start reporting future breakage for `ILL_FORMED_ATTRIBUTE_INPUT` in dependencies
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/attributes/lint_on_root.stderr
  tests/ui/attributes/malformed-attrs.stderr
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs-error.stderr
  tests/ui/link-native-libs/link-attr-validation-early.stderr
  tests/ui/macros/issue-111749.stderr
  tests/ui/malformed/malformed-regressions.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, to-announce, I-lang-radar
