Repository rust-lang/rust, pull requests merged in 2025-05, with the labels that each got.

#121909 Drop AST on a separate thread and prefetch `hir_crate`
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_data_structures/src/sync/parallel.rs
  compiler/rustc_interface/src/passes.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#140145 Add a jobserver proxy to ensure at least one token is always held
  compiler/rustc_data_structures/src/jobserver.rs
  compiler/rustc_data_structures/src/marker.rs
  compiler/rustc_interface/src/interface.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_query_impl/src/plumbing.rs
  compiler/rustc_query_system/src/query/job.rs
  compiler/rustc_query_system/src/query/mod.rs
  compiler/rustc_query_system/src/query/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#138522 shared-generics: Do not share instantiations that contain local-only types
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#139965 Decouple SCC annotations from SCCs
  compiler/rustc_borrowck/src/constraints/mod.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_data_structures/src/graph/scc/mod.rs
  compiler/rustc_data_structures/src/graph/scc/tests.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#140420 rustdoc: Fix doctest heuristic for main fn wrapping
  src/librustdoc/doctest/make.rs
  tests/rustdoc-ui/doctest/auxiliary/items.rs
  tests/rustdoc-ui/doctest/auxiliary/macro-after-main.rs
  tests/rustdoc-ui/doctest/macro-after-main.rs
  tests/rustdoc-ui/doctest/macro-after-main.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.fail.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.pass.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.rs
  tests/rustdoc-ui/doctest/main-alongside-stmts.rs
  tests/rustdoc-ui/doctest/main-alongside-stmts.stdout
  tests/rustdoc-ui/doctest/test-main-alongside-exprs.rs
  tests/rustdoc-ui/doctest/test-main-alongside-exprs.stdout
Labels: T-rustdoc, beta-nominated, S-waiting-on-bors

#140460 Fix handling of LoongArch target features not supported by LLVM 19
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/abi/compatibility.rs
  tests/ui/asm/loongarch/bad-reg.loongarch64_lp64d.stderr
  tests/ui/asm/loongarch/bad-reg.loongarch64_lp64s.stderr
  tests/ui/asm/loongarch/bad-reg.rs
Labels: T-compiler, S-waiting-on-bors

#140538 rustc-dev-guide subtree update
  src/doc/rustc-dev-guide/.github/workflows/ci.yml
  src/doc/rustc-dev-guide/josh-sync/src/sync.rs
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/src/SUMMARY.md
  src/doc/rustc-dev-guide/src/building/bootstrapping/intro.md
  src/doc/rustc-dev-guide/src/building/bootstrapping/what-bootstrapping-does.md
  src/doc/rustc-dev-guide/src/compiler-src.md
  src/doc/rustc-dev-guide/src/guides/editions.md
  src/doc/rustc-dev-guide/src/normalization.md
  src/doc/rustc-dev-guide/src/solve/normalization.md
  src/doc/rustc-dev-guide/src/solve/significant-changes.md
  src/doc/rustc-dev-guide/triagebot.toml
Labels: S-waiting-on-bors, A-rustc-dev-guide

#140544 Clean up "const" situation in format_args!().
  compiler/rustc_const_eval/src/check_consts/ops.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/fmt/mod.rs
  library/core/src/fmt/rt.rs
  tests/mir-opt/sroa/lifetimes.foo.ScalarReplacementOfAggregates.diff
  tests/pretty/issue-4264.pp
  tests/ui/consts/const-eval/format.stderr
Labels: C-cleanup, T-compiler, S-waiting-on-bors, A-const-eval, T-libs, A-fmt

#140552 allow `#[rustc_std_internal_symbol]` in combination with `#[naked]`
  compiler/rustc_passes/src/check_attr.rs
  tests/ui/asm/naked-functions.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#140556 Improve error output in case `nodejs` or `npm` is not installed for rustdoc-gui test suite
  src/tools/rustdoc-gui-test/src/config.rs
Labels: A-testsuite, T-rustdoc, T-bootstrap, S-waiting-on-bors

#140565 Rollup of 12 pull requests
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_const_eval/src/check_consts/ops.rs
  compiler/rustc_error_codes/src/error_codes/E0207.md
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  library/core/src/alloc/mod.rs
  library/core/src/fmt/mod.rs
  library/core/src/fmt/rt.rs
  library/core/src/intrinsics/simd.rs
  library/core/src/iter/traits/iterator.rs
  library/core/src/macros/mod.rs
  library/core/src/num/diy_float.rs
  library/core/src/num/flt2dec/strategy/grisu.rs
  library/std/src/fs.rs
  src/doc/rustc-dev-guide/.github/workflows/ci.yml
  src/doc/rustc-dev-guide/josh-sync/src/sync.rs
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/src/SUMMARY.md
  src/doc/rustc-dev-guide/src/building/bootstrapping/intro.md
  src/doc/rustc-dev-guide/src/building/bootstrapping/what-bootstrapping-does.md
  src/doc/rustc-dev-guide/src/compiler-src.md
  src/doc/rustc-dev-guide/src/guides/editions.md
  src/doc/rustc-dev-guide/src/normalization.md
  src/doc/rustc-dev-guide/src/solve/normalization.md
  src/doc/rustc-dev-guide/src/solve/significant-changes.md
  src/doc/rustc-dev-guide/triagebot.toml
  src/librustdoc/doctest/make.rs
  src/tools/miri/src/intrinsics/simd.rs
  src/tools/miri/tests/fail/intrinsics/simd-select-bitmask-invalid.rs
  src/tools/miri/tests/fail/intrinsics/simd-select-bitmask-invalid.stderr
  src/tools/miri/tests/pass/intrinsics/portable-simd.rs
  src/tools/rustdoc-gui-test/src/config.rs
  tests/mir-opt/sroa/lifetimes.foo.ScalarReplacementOfAggregates.diff
  tests/pretty/issue-4264.pp
  tests/rustdoc-ui/doctest/auxiliary/items.rs
  tests/rustdoc-ui/doctest/auxiliary/macro-after-main.rs
  tests/rustdoc-ui/doctest/macro-after-main.rs
  tests/rustdoc-ui/doctest/macro-after-main.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.fail.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.pass.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.rs
  tests/rustdoc-ui/doctest/main-alongside-stmts.rs
  tests/rustdoc-ui/doctest/main-alongside-stmts.stdout
  tests/rustdoc-ui/doctest/test-main-alongside-exprs.rs
  tests/rustdoc-ui/doctest/test-main-alongside-exprs.stdout
  tests/ui/abi/compatibility.rs
  tests/ui/asm/loongarch/bad-reg.loongarch64_lp64d.stderr
  tests/ui/asm/loongarch/bad-reg.loongarch64_lp64s.stderr
  tests/ui/asm/loongarch/bad-reg.rs
  tests/ui/asm/naked-functions.rs
  tests/ui/consts/const-eval/format.stderr
Labels: A-testsuite, T-rustdoc, A-attributes, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-rustc-dev-guide

#139780 docs: Add example to `Iterator::take` with `by_ref`
  library/core/src/iter/traits/iterator.rs
Labels: S-waiting-on-bors, T-libs

#139802 Fix some grammar errors and hyperlinks in doc for `trait Allocator`
  library/core/src/alloc/mod.rs
Labels: S-waiting-on-bors, T-libs

#140034 simd_select_bitmask: the 'padding' bits in the mask are just ignored
  library/core/src/intrinsics/simd.rs
  src/tools/miri/src/intrinsics/simd.rs
  src/tools/miri/tests/fail/intrinsics/simd-select-bitmask-invalid.rs
  src/tools/miri/tests/fail/intrinsics/simd-select-bitmask-invalid.stderr
  src/tools/miri/tests/pass/intrinsics/portable-simd.rs
Labels: S-waiting-on-bors, T-libs

#140062 std: mention `remove_dir_all` can emit `DirectoryNotEmpty` when concurrently written into
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#139186 Refactor `diy_float`
  library/core/src/num/diy_float.rs
  library/core/src/num/flt2dec/strategy/grisu.rs
Labels: S-waiting-on-bors, T-libs

#139883 crashes: more tests
  tests/crashes/138156.rs
  tests/crashes/138240.rs
  tests/crashes/138265.rs
  tests/crashes/138266.rs
  tests/crashes/138359.rs
  tests/crashes/138361.rs
  tests/crashes/138510.rs
  tests/crashes/138534.rs
  tests/crashes/138564.rs
  tests/crashes/138707.rs
  tests/crashes/138738.rs
  tests/crashes/139089.rs
  tests/crashes/139120.rs
  tests/crashes/139381.rs
  tests/crashes/139387.rs
  tests/crashes/139409.rs
  tests/crashes/139462.rs
  tests/crashes/139556.rs
  tests/crashes/139570.rs
  tests/crashes/139596.rs
  tests/crashes/139659.rs
  tests/crashes/139738.rs
  tests/crashes/139815.rs
  tests/crashes/139817.rs
  tests/crashes/139825.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#138872 rustc_target: RISC-V `Zfinx` is incompatible with `{ILP32,LP64}[FD]` ABIs
  compiler/rustc_target/src/target_features.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-attribute-e-d.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-attribute-e-d.stderr
  tests/ui/target-feature/forbidden-hardfloat-target-feature-attribute-f-zfinx.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-attribute-f-zfinx.stderr
Labels: T-compiler, S-waiting-on-bors, O-riscv, A-target-feature

#139847 Delegate to inner `vec::IntoIter` from `env::ArgsOs`
  library/std/src/env.rs
  library/std/src/lib.rs
  library/std/src/sys/args/common.rs
  library/std/src/sys/args/sgx.rs
  library/std/src/sys/args/unsupported.rs
Labels: S-waiting-on-bors, T-libs

#140197 Document breaking out of a named code block
  library/std/src/keyword_docs.rs
Labels: S-waiting-on-bors, T-libs

#140430 Improve test coverage of HIR pretty printing.
  tests/ui/unpretty/exhaustive-asm.expanded.stdout
  tests/ui/unpretty/exhaustive-asm.hir.stdout
  tests/ui/unpretty/exhaustive-asm.rs
  tests/ui/unpretty/exhaustive.expanded.stdout
  tests/ui/unpretty/exhaustive.hir.stderr
  tests/ui/unpretty/exhaustive.hir.stdout
  tests/ui/unpretty/exhaustive.rs
  tests/ui/unpretty/interpolation-expanded.rs
  tests/ui/unpretty/interpolation-expanded.stdout
Labels: T-compiler, S-waiting-on-bors

#140507 rustc_target: RISC-V: feature addition batch 3
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/target_feature.stderr
Labels: T-compiler, S-waiting-on-bors, O-riscv, A-target-feature

#139206 std: use the address of `errno` to identify threads in `unique_thread_exit`
  library/std/src/sys/exit_guard.rs
  library/std/src/sys/pal/unix/os.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#137474 pretty-print: Print shebang at the top of the output
  compiler/rustc_ast_pretty/src/pprust/state.rs
  tests/pretty/shebang-at-top.pp
  tests/pretty/shebang-at-top.rs
Labels: T-compiler, S-waiting-on-bors

#140406 perf: delay checking of `#[rustc_no_implicit_autorefs]` in autoref lint
  compiler/rustc_lint/src/autorefs.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#140485 Optimize the codegen for `Span::from_expansion`
  compiler/rustc_span/src/span_encoding.rs
Labels: T-compiler, S-waiting-on-bors

#140519 Use select in projection lookup in `report_projection_error`
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  tests/ui/associated-types/mismatch-two-relevant-impls.rs
  tests/ui/associated-types/mismatch-two-relevant-impls.stderr
Labels: T-compiler, S-waiting-on-bors

#140536 Rename `*Guard::try_map` to `filter_map`.
  library/std/src/sync/poison/mutex.rs
  library/std/src/sync/poison/rwlock.rs
  library/std/tests/sync/mutex.rs
  library/std/tests/sync/rwlock.rs
Labels: S-waiting-on-bors, T-libs

#140550 Stabilize `select_unpredictable`
  library/core/src/hint.rs
  library/coretests/tests/lib.rs
  tests/codegen/intrinsics/select_unpredictable.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#140563 extend the list of registered dylibs on `test::prepare_cargo_test`
  src/bootstrap/src/core/build_steps/test.rs
Labels: A-testsuite, beta-nominated, beta-accepted, T-bootstrap, S-waiting-on-bors

#140572 Add useful comments on `ExprKind::If` variants.
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_middle/src/thir.rs
Labels: T-compiler, S-waiting-on-bors

#140574 Add regression test for 133065
  tests/ui/traits/trait-impl-self-mismatch.rs
  tests/ui/traits/trait-impl-self-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#140442 mono collector: Reduce # of locking while walking the graph
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_monomorphize/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#140592 [beta] backports
  compiler/rustc_codegen_ssa/src/back/link.rs
  library/core/src/fmt/rt.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/librustdoc/doctest/make.rs
  tests/rustdoc-ui/doctest/auxiliary/items.rs
  tests/rustdoc-ui/doctest/failed-doctest-extra-semicolon-on-item.rs
  tests/rustdoc-ui/doctest/failed-doctest-extra-semicolon-on-item.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.fail.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.pass.stdout
  tests/rustdoc-ui/doctest/main-alongside-macro-calls.rs
  tests/rustdoc-ui/doctest/main-alongside-stmts.rs
  tests/rustdoc-ui/doctest/main-alongside-stmts.stdout
  tests/ui/consts/const-eval/format.rs
  tests/ui/consts/const-eval/format.stderr
  tests/ui/linking/cdylib-no-mangle.rs
  tests/ui/linking/executable-no-mangle-strip.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#140505 linker: Quote symbol names in .def files
  compiler/rustc_codegen_ssa/src/back/linker.rs
  tests/ui/linking/weird-export-names.rs
Labels: T-compiler, S-waiting-on-bors

#140534 PassWrapper: adapt for llvm/llvm-project@f137c3d592e96330e450a8fd63ef…
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, llvm-main

#140546 Remove backtrace dep from anyhow in features status dump tool
  Cargo.lock
  src/tools/features-status-dump/Cargo.toml
Labels: S-waiting-on-bors

#140548 Emit user type annotations for free consts in pattern position
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  tests/ui/generic-const-items/user_type_annotations_pattern.rs
  tests/ui/generic-const-items/user_type_annotations_pattern.stderr
Labels: T-compiler, S-waiting-on-bors

#140564 Use present indicative tense in std::io::pipe() API docs
  library/std/src/io/pipe.rs
Labels: S-waiting-on-bors, T-libs

#140568 Add regression test for #140545
  tests/ui/impl-trait/non-defining-uses/double-wrap-with-defining-use.rs
  tests/ui/impl-trait/non-defining-uses/double-wrap-with-defining-use.stderr
Labels: T-compiler, S-waiting-on-bors

#140606 Improve hir pretty printing
  compiler/rustc_ast_pretty/src/pp.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_hir_pretty/src/lib.rs
  tests/pretty/hir-delegation.pp
  tests/rustdoc-json/attrs/automatically_derived.rs
  tests/rustdoc-json/attrs/export_name_2021.rs
  tests/rustdoc-json/attrs/export_name_2024.rs
  tests/rustdoc-json/attrs/must_use.rs
  tests/rustdoc-json/attrs/no_mangle_2021.rs
  tests/rustdoc-json/attrs/no_mangle_2024.rs
  tests/rustdoc-json/attrs/non_exhaustive.rs
  tests/rustdoc-json/keyword_private.rs
  tests/ui-fulldeps/stable-mir/check_attribute.rs
  tests/ui/unpretty/exhaustive-asm.hir.stdout
  tests/ui/unpretty/exhaustive.hir.stdout
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-rustdoc-json

#140608 Rollup of 8 pull requests
  Cargo.lock
  compiler/rustc_ast_pretty/src/pp.rs
  compiler/rustc_ast_pretty/src/pprust/state/expr.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  library/std/src/fs.rs
  library/std/src/fs/tests.rs
  library/std/src/io/pipe.rs
  library/std/src/sys/fs/hermit.rs
  library/std/src/sys/fs/solid.rs
  library/std/src/sys/fs/uefi.rs
  library/std/src/sys/fs/unix.rs
  library/std/src/sys/fs/unsupported.rs
  library/std/src/sys/fs/wasi.rs
  library/std/src/sys/fs/windows.rs
  src/tools/features-status-dump/Cargo.toml
  tests/pretty/hir-delegation.pp
  tests/rustdoc-json/attrs/automatically_derived.rs
  tests/rustdoc-json/attrs/export_name_2021.rs
  tests/rustdoc-json/attrs/export_name_2024.rs
  tests/rustdoc-json/attrs/must_use.rs
  tests/rustdoc-json/attrs/no_mangle_2021.rs
  tests/rustdoc-json/attrs/no_mangle_2024.rs
  tests/rustdoc-json/attrs/non_exhaustive.rs
  tests/rustdoc-json/keyword_private.rs
  tests/ui-fulldeps/stable-mir/check_attribute.rs
  tests/ui/generic-const-items/user_type_annotations_pattern.rs
  tests/ui/generic-const-items/user_type_annotations_pattern.stderr
  tests/ui/impl-trait/non-defining-uses/double-wrap-with-defining-use.rs
  tests/ui/impl-trait/non-defining-uses/double-wrap-with-defining-use.stderr
  tests/ui/linking/weird-export-names.rs
  tests/ui/unpretty/exhaustive-asm.hir.stdout
  tests/ui/unpretty/exhaustive.hir.stdout
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-rustdoc-json

#139343 Change signature of File::try_lock and File::try_lock_shared
  library/std/src/fs.rs
  library/std/src/fs/tests.rs
  library/std/src/sys/fs/hermit.rs
  library/std/src/sys/fs/solid.rs
  library/std/src/sys/fs/uefi.rs
  library/std/src/sys/fs/unix.rs
  library/std/src/sys/fs/unsupported.rs
  library/std/src/sys/fs/wasi.rs
  library/std/src/sys/fs/windows.rs
Labels: S-waiting-on-bors, T-libs

#140464 Use a closure instead of three chained iterators
  compiler/rustc_middle/src/mir/terminator.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/jump_threading.rs
  compiler/rustc_mir_transform/src/prettify.rs
  compiler/rustc_mir_transform/src/remove_noop_landing_pads.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_mir_transform/src/simplify.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#140576 Remove fragile equal-pointers-unequal tests.
  tests/ui/codegen/equal-pointers-unequal/as-cast/basic.rs
  tests/ui/codegen/equal-pointers-unequal/as-cast/function.rs
  tests/ui/codegen/equal-pointers-unequal/as-cast/print.rs
  tests/ui/codegen/equal-pointers-unequal/exposed-provenance/basic.rs
  tests/ui/codegen/equal-pointers-unequal/exposed-provenance/function.rs
  tests/ui/codegen/equal-pointers-unequal/exposed-provenance/print.rs
  tests/ui/codegen/equal-pointers-unequal/strict-provenance/basic.rs
  tests/ui/codegen/equal-pointers-unequal/strict-provenance/function.rs
  tests/ui/codegen/equal-pointers-unequal/strict-provenance/print.rs
Labels: T-compiler, S-waiting-on-bors

#140582 Update sysinfo to `0.35.0` in bootstrap and `tools/opt-dist`
  Cargo.lock
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/tools/opt-dist/Cargo.toml
Labels: T-bootstrap, S-waiting-on-bors

#140595 doc(std): fix typo lchown -> lchmod
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs

#140597 zkvm: remove schmerik as target maintainer
  src/doc/rustc/src/platform-support/riscv32im-risc0-zkvm-elf.md
Labels: S-waiting-on-bors

#140604 yet another small borrowck cleanup
  compiler/rustc_borrowck/src/region_infer/reverse_sccs.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
Labels: T-compiler, S-waiting-on-bors

#140613 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_borrowck/src/region_infer/reverse_sccs.rs
  compiler/rustc_borrowck/src/type_check/free_region_relations.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_error_codes/src/error_codes/E0253.md
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  library/std/src/fs.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/doc/rustc/src/platform-support/riscv32im-risc0-zkvm-elf.md
  src/tools/opt-dist/Cargo.toml
  tests/ui/codegen/equal-pointers-unequal/as-cast/basic.rs
  tests/ui/codegen/equal-pointers-unequal/as-cast/function.rs
  tests/ui/codegen/equal-pointers-unequal/as-cast/print.rs
  tests/ui/codegen/equal-pointers-unequal/exposed-provenance/basic.rs
  tests/ui/codegen/equal-pointers-unequal/exposed-provenance/function.rs
  tests/ui/codegen/equal-pointers-unequal/exposed-provenance/print.rs
  tests/ui/codegen/equal-pointers-unequal/strict-provenance/basic.rs
  tests/ui/codegen/equal-pointers-unequal/strict-provenance/function.rs
  tests/ui/codegen/equal-pointers-unequal/strict-provenance/print.rs
  tests/ui/error-codes/E0253.rs
  tests/ui/error-codes/E0253.stderr
  tests/ui/feature-gates/feature-gate-import-trait-associated-functions.rs
  tests/ui/feature-gates/feature-gate-import-trait-associated-functions.stderr
  tests/ui/imports/issue-30560.rs
  tests/ui/imports/issue-30560.stderr
  tests/ui/target-feature/abi-incompatible-target-feature-attribute.riscv.stderr
  tests/ui/target-feature/abi-incompatible-target-feature-attribute.rs
  tests/ui/target-feature/abi-incompatible-target-feature-attribute.x86.stderr
  tests/ui/target-feature/abi-incompatible-target-feature-flag-enable.riscv.stderr
  tests/ui/target-feature/abi-incompatible-target-feature-flag-enable.rs
  tests/ui/target-feature/abi-incompatible-target-feature-flag-enable.x86.stderr
  tests/ui/target-feature/abi-irrelevant-target-feature-flag-disable.rs
  tests/ui/target-feature/abi-irrelevant-target-feature-flag-disable.stderr
  tests/ui/target-feature/abi-required-target-feature-attribute.rs
  tests/ui/target-feature/abi-required-target-feature-flag-disable.aarch64.stderr
  tests/ui/target-feature/abi-required-target-feature-flag-disable.loongarch.stderr
  tests/ui/target-feature/abi-required-target-feature-flag-disable.riscv.stderr
  tests/ui/target-feature/abi-required-target-feature-flag-disable.rs
  tests/ui/target-feature/abi-required-target-feature-flag-disable.x86-implied.stderr
  tests/ui/target-feature/abi-required-target-feature-flag-disable.x86.stderr
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag-disable-implied.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag-disable-neon.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag-disable.rs
  tests/ui/target-feature/forbidden-hardfloat-target-feature-flag.rs
  tests/ui/use/import_trait_associated_item_bad.rs
  tests/ui/use/import_trait_associated_item_bad.stderr
  tests/ui/use/import_trait_associated_item_glob.rs
  tests/ui/use/use-from-trait-xc.rs
  tests/ui/use/use-from-trait-xc.stderr
  tests/ui/use/use-from-trait.rs
  tests/ui/use/use-from-trait.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#138712 resolve: Support imports of associated types and glob imports from traits
  compiler/rustc_error_codes/src/error_codes/E0253.md
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/error-codes/E0253.rs
  tests/ui/error-codes/E0253.stderr
  tests/ui/feature-gates/feature-gate-import-trait-associated-functions.rs
  tests/ui/feature-gates/feature-gate-import-trait-associated-functions.stderr
  tests/ui/imports/issue-30560.rs
  tests/ui/imports/issue-30560.stderr
  tests/ui/use/import_trait_associated_item_bad.rs
  tests/ui/use/import_trait_associated_item_bad.stderr
  tests/ui/use/import_trait_associated_item_glob.rs
  tests/ui/use/use-from-trait-xc.rs
  tests/ui/use/use-from-trait-xc.stderr
  tests/ui/use/use-from-trait.rs
  tests/ui/use/use-from-trait.stderr
Labels: T-compiler, S-waiting-on-bors

#140535 Update hashbrown dependency to unblock ExtractIf improvements
  Cargo.lock
Labels: S-waiting-on-bors, merged-by-bors

#139675 Add the AVX10 target features
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/and-more-diagnostic.rs
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/feature-gates/feature-gate-avx10_target_feature.rs
  tests/ui/feature-gates/feature-gate-avx10_target_feature.stderr
Labels: O-x86_64, T-compiler, S-waiting-on-bors, A-SIMD, A-target-feature, O-x86_32

#140286 Check if format argument is identifier to avoid error err-emit
  compiler/rustc_parse_format/src/lib.rs
  tests/ui/parser/issues/invalid-parse-format-issue-139104.rs
  tests/ui/parser/issues/invalid-parse-format-issue-139104.stderr
Labels: T-compiler, S-waiting-on-bors

#140456 Fix test simd/extract-insert-dyn on s390x
  tests/codegen/simd/extract-insert-dyn.rs
Labels: T-compiler, S-waiting-on-bors

#140551 Move some tests out of tests/ui
  src/tools/tidy/src/issues.txt
  tests/ui/attributes/no_link/auxiliary/empty-crate-1.rs
  tests/ui/attributes/no_link/auxiliary/empty-crate-2.rs
  tests/ui/attributes/no_link/auxiliary/no_link-crate.rs
  tests/ui/attributes/no_link/multiple-crates-and-no_link.rs
  tests/ui/attributes/no_link/no-link-unknown-crate.rs
  tests/ui/attributes/no_link/no-link-unknown-crate.stderr
  tests/ui/auxiliary/inner_static.rs
  tests/ui/auxiliary/issue-13560-3.rs
  tests/ui/cross-crate/auxiliary/inline-cross-crate.rs
  tests/ui/cross-crate/auxiliary/llvm-miscompile-MarkValue-MaybeLive.rs
  tests/ui/cross-crate/inline-cross-crate.rs
  tests/ui/cross-crate/llvm-miscompile-MarkValue-MaybeLive.rs
  tests/ui/impl-privacy-xc-1.rs
  tests/ui/inner-static.rs
  tests/ui/issue-13560.rs
  tests/ui/issue-18502.rs
  tests/ui/issue-24106.rs
  tests/ui/issue-76387-llvm-miscompile.rs
  tests/ui/macros/auxiliary/fancy-panic.rs
  tests/ui/macros/non-fmt-panic.fixed
  tests/ui/macros/non-fmt-panic.rs
  tests/ui/macros/non-fmt-panic.stderr
  tests/ui/no-link-unknown-crate.rs
  tests/ui/pattern/auxiliary/cross-crate-enum-pattern.rs
  tests/ui/pattern/cross-crate-enum-pattern.rs
  tests/ui/privacy/auxiliary/impl-privacy-cross-crate-1.rs
  tests/ui/privacy/auxiliary/impl-privacy-cross-crate-2.rs
  tests/ui/privacy/impl-privacy-cross-crate-1.rs
  tests/ui/privacy/impl-privacy-cross-crate-2.rs
  tests/ui/privacy/impl-privacy-xc-2.rs
  tests/ui/statics/auxiliary/inner_static.rs
  tests/ui/statics/inner-static.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, A-tidy

#140588 Adjust some ui tests re. target-dependent errors
  tests/ui/cfg/cfg_false_no_std-2.rs
  tests/ui/debuginfo/debuginfo-type-name-layout-ice-94961-2.rs
  tests/ui/panic-runtime/two-panic-runtimes.rs
  tests/ui/panic-runtime/want-abort-got-unwind.rs
  tests/ui/panic-runtime/want-abort-got-unwind2.rs
Labels: T-compiler, S-waiting-on-bors

#140617 Report the `unsafe_attr_outside_unsafe` lint at the closest node
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_parse/src/validate_attr.rs
  tests/ui/rust-2024/unsafe-attributes/unsafe-attributes-allow.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#140626 allow `#[rustfmt::skip]` in combination with `#[naked]`
  compiler/rustc_passes/src/check_attr.rs
  tests/ui/asm/naked-functions.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#140633 Rollup of 7 pull requests
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  src/tools/tidy/src/issues.txt
  tests/codegen/simd/extract-insert-dyn.rs
  tests/ui/asm/naked-functions.rs
  tests/ui/attributes/no_link/auxiliary/empty-crate-1.rs
  tests/ui/attributes/no_link/auxiliary/empty-crate-2.rs
  tests/ui/attributes/no_link/auxiliary/no_link-crate.rs
  tests/ui/attributes/no_link/multiple-crates-and-no_link.rs
  tests/ui/attributes/no_link/no-link-unknown-crate.rs
  tests/ui/attributes/no_link/no-link-unknown-crate.stderr
  tests/ui/auxiliary/inner_static.rs
  tests/ui/auxiliary/issue-13560-3.rs
  tests/ui/cfg/cfg_false_no_std-2.rs
  tests/ui/check-cfg/and-more-diagnostic.rs
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/cross-crate/auxiliary/inline-cross-crate.rs
  tests/ui/cross-crate/auxiliary/llvm-miscompile-MarkValue-MaybeLive.rs
  tests/ui/cross-crate/inline-cross-crate.rs
  tests/ui/cross-crate/llvm-miscompile-MarkValue-MaybeLive.rs
  tests/ui/debuginfo/debuginfo-type-name-layout-ice-94961-2.rs
  tests/ui/feature-gates/feature-gate-avx10_target_feature.rs
  tests/ui/feature-gates/feature-gate-avx10_target_feature.stderr
  tests/ui/impl-privacy-xc-1.rs
  tests/ui/inner-static.rs
  tests/ui/issue-13560.rs
  tests/ui/issue-18502.rs
  tests/ui/issue-24106.rs
  tests/ui/issue-76387-llvm-miscompile.rs
  tests/ui/macros/auxiliary/fancy-panic.rs
  tests/ui/macros/non-fmt-panic.fixed
  tests/ui/macros/non-fmt-panic.rs
  tests/ui/macros/non-fmt-panic.stderr
  tests/ui/no-link-unknown-crate.rs
  tests/ui/panic-runtime/two-panic-runtimes.rs
  tests/ui/panic-runtime/want-abort-got-unwind.rs
  tests/ui/panic-runtime/want-abort-got-unwind2.rs
  tests/ui/parser/issues/invalid-parse-format-issue-139104.rs
  tests/ui/parser/issues/invalid-parse-format-issue-139104.stderr
  tests/ui/pattern/auxiliary/cross-crate-enum-pattern.rs
  tests/ui/pattern/cross-crate-enum-pattern.rs
  tests/ui/privacy/auxiliary/impl-privacy-cross-crate-1.rs
  tests/ui/privacy/auxiliary/impl-privacy-cross-crate-2.rs
  tests/ui/privacy/impl-privacy-cross-crate-1.rs
  tests/ui/privacy/impl-privacy-cross-crate-2.rs
  tests/ui/privacy/impl-privacy-xc-2.rs
  tests/ui/rust-2024/unsafe-attributes/unsafe-attributes-allow.rs
  tests/ui/statics/auxiliary/inner_static.rs
  tests/ui/statics/inner-static.rs
Labels: A-attributes, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-tidy

#140580 Don't name variables from external macros in borrow errors.
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  tests/ui/derives/deriving-with-repr-packed-move-errors.rs
  tests/ui/derives/deriving-with-repr-packed-move-errors.stderr
  tests/ui/derives/deriving-with-repr-packed.rs
  tests/ui/derives/deriving-with-repr-packed.stderr
  tests/ui/macros/auxiliary/return_from_external_macro.rs
  tests/ui/macros/return_from_external_macro.rs
  tests/ui/macros/return_from_external_macro.stderr
  tests/ui/pin-macro/lifetime_errors_on_promotion_misusage.rs
  tests/ui/pin-macro/lifetime_errors_on_promotion_misusage.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#140619 Small adjustments to `check_attribute_safety` to make the logic more obvious
  compiler/rustc_expand/src/config.rs
  compiler/rustc_parse/src/validate_attr.rs
  tests/ui/rust-2024/unsafe-attributes/auxiliary/safe_attr.rs
  tests/ui/rust-2024/unsafe-attributes/safe-proc-macro-attribute.rs
  tests/ui/rust-2024/unsafe-attributes/safe-proc-macro-attribute.unknown_attr.stderr
Labels: T-compiler, S-waiting-on-bors

#140625 Suggest `retain_mut` over `retain` as `Vec::extract_if` alternative
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#140630 Async drop source info fix for proxy-drop-coroutine
  compiler/rustc_middle/src/ty/mod.rs
Labels: T-compiler, S-waiting-on-bors, F-async_drop

#140646 Rollup of 6 pull requests
  compiler/rustc_expand/src/config.rs
  compiler/rustc_log/src/lib.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_parse/src/validate_attr.rs
  library/alloc/src/vec/mod.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/ptr/mod.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/ptr.rs
  src/librustdoc/lib.rs
  tests/codegen/const-vector.rs
  tests/ui/consts/missing_span_in_backtrace.rs
  tests/ui/consts/missing_span_in_backtrace.stderr
  tests/ui/rust-2024/unsafe-attributes/auxiliary/safe_attr.rs
  tests/ui/rust-2024/unsafe-attributes/safe-proc-macro-attribute.rs
  tests/ui/rust-2024/unsafe-attributes/safe-proc-macro-attribute.unknown_attr.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#135734 Correct `extract_if` sample equivalent.
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#140307 Refactor rustc_on_unimplemented's filter parser
  Cargo.lock
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/messages.ftl
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented_condition.rs
  compiler/rustc_trait_selection/src/errors.rs
  tests/ui/on-unimplemented/bad-annotation.rs
  tests/ui/on-unimplemented/bad-annotation.stderr
Labels: T-compiler, S-waiting-on-bors

#140644 Revert "Avoid unused clones in Cloned<I> and Copied<I>"
  library/core/src/iter/adapters/cloned.rs
  library/core/src/iter/adapters/copied.rs
Labels: S-waiting-on-bors, T-libs

#140648 Update `compiler-builtins` to 0.1.157
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
Labels: S-waiting-on-bors, T-libs

#140650 Rollup of 4 pull requests
  Cargo.lock
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/messages.ftl
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented_condition.rs
  compiler/rustc_trait_selection/src/errors.rs
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/alloc/src/vec/mod.rs
  library/core/src/iter/adapters/cloned.rs
  library/core/src/iter/adapters/copied.rs
  library/std/Cargo.toml
  tests/ui/on-unimplemented/bad-annotation.rs
  tests/ui/on-unimplemented/bad-annotation.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#140080 mir-opt: Use one MirPatch in MatchBranchSimplification
  compiler/rustc_mir_transform/src/match_branches.rs
Labels: T-compiler, S-waiting-on-bors

#140115 mir-opt: execute MatchBranchSimplification after GVN
  compiler/rustc_mir_transform/src/lib.rs
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shl_unsigned_smaller.Inline.panic-unwind.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.Inline.panic-abort.diff
  tests/mir-opt/inline/unchecked_shifts.unchecked_shr_signed_bigger.Inline.panic-unwind.diff
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.Inline.panic-abort.diff
  tests/mir-opt/inline/unwrap_unchecked.unwrap_unchecked.Inline.panic-unwind.diff
  tests/mir-opt/instsimplify/ub_check.unwrap_unchecked.InstSimplify-after-simplifycfg.diff
  tests/mir-opt/issues/issue_75439.foo.MatchBranchSimplification.diff
  tests/mir-opt/pre-codegen/matchbr.match1.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/matchbr.rs
  tests/mir-opt/simplify_locals_fixedpoint.foo.SimplifyLocals-final.panic-abort.diff
  tests/mir-opt/simplify_locals_fixedpoint.foo.SimplifyLocals-final.panic-unwind.diff
Labels: T-compiler, S-waiting-on-bors

#140357 bypass linker configuration and cross target check on `x check`
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/utils/cc_detect.rs
  src/bootstrap/src/utils/cc_detect/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#140374 Resolve instance for SymFn in global/naked asm
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_llvm/src/coverageinfo/mapgen/unused.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/naked_asm.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_lint/src/foreign_modules.rs
  compiler/rustc_middle/src/middle/exported_symbols.rs
  compiler/rustc_middle/src/mir/interpret/queries.rs
  compiler/rustc_middle/src/mir/mono.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_smir/src/rustc_smir/builder.rs
  compiler/rustc_symbol_mangling/src/test.rs
  compiler/rustc_ty_utils/src/instance.rs
  src/tools/clippy/clippy_lints/src/non_copy_const.rs
  tests/ui/asm/global-asm-mono-sym-fn.rs
  tests/ui/asm/naked-asm-mono-sym-fn.rs
Labels: T-compiler, S-waiting-on-bors

#140559 Removing rustc_type_ir in the rustc_infer codebase
  Cargo.lock
  compiler/rustc_infer/src/infer/context.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_infer/src/infer/relate/mod.rs
  compiler/rustc_infer/src/infer/relate/type_relating.rs
  compiler/rustc_infer/src/infer/resolve.rs
  compiler/rustc_infer/src/infer/snapshot/fudge.rs
  compiler/rustc_infer/src/traits/util.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/src/solve/delegate.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#140605 `fn check_opaque_type_parameter_valid` defer error
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_trait_selection/src/opaque_types.rs
Labels: T-compiler, S-waiting-on-bors

#140636 implement `PanicTracker` to track `t` panics
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/helpers.rs
Labels: T-bootstrap, S-waiting-on-bors

#140661 Make `-Zfixed-x18` into a target modifier
  compiler/rustc_session/src/options.rs
  tests/ui/target_modifiers/auxiliary/fixed_x18.rs
  tests/ui/target_modifiers/incompatible_fixedx18.error_generated.stderr
  tests/ui/target_modifiers/incompatible_fixedx18.rs
Labels: T-compiler, S-waiting-on-bors, F-target_modifiers

#140670 calculate step duration in a panic-safe way
  src/bootstrap/src/core/builder/mod.rs
Labels: T-bootstrap, S-waiting-on-bors

#140672 Deeply normalize in the new solver in WF
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  tests/ui/associated-inherent-types/bugs/wf-check-skipped.next.stderr
  tests/ui/associated-inherent-types/bugs/wf-check-skipped.rs
  tests/ui/lazy-type-alias/inherent-impls-overflow.current.stderr
  tests/ui/lazy-type-alias/inherent-impls-overflow.next.stderr
  tests/ui/lazy-type-alias/inherent-impls-overflow.rs
  tests/ui/traits/next-solver/dont-ice-on-bad-transmute-in-typeck.stderr
  tests/ui/traits/next-solver/issue-118950-root-region.rs
  tests/ui/traits/next-solver/issue-118950-root-region.stderr
  tests/ui/traits/next-solver/non-wf-in-coerce-pointers.stderr
  tests/ui/wf/check-wf-of-normalized-signature.rs
  tests/ui/wf/wf-normalization-sized.next.stderr
  tests/ui/wf/wf-normalization-sized.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#131160 Handle `rustc_middle` cases of `rustc::potential_query_instability` lint
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/query/on_disk_cache.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_resolve/src/lib.rs
  src/tools/clippy/clippy_lints/src/wildcard_imports.rs
  src/tools/clippy/tests/ui/wildcard_imports.fixed
  src/tools/clippy/tests/ui/wildcard_imports.stderr
  src/tools/clippy/tests/ui/wildcard_imports_2021.edition2018.fixed
  src/tools/clippy/tests/ui/wildcard_imports_2021.edition2018.stderr
  src/tools/clippy/tests/ui/wildcard_imports_2021.edition2021.fixed
  src/tools/clippy/tests/ui/wildcard_imports_2021.edition2021.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#139550 Fix `-Zremap-path-scope` rmeta handling
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/source_map.rs
  compiler/rustc_span/src/source_map/tests.rs
  tests/run-make/remap-path-prefix-dwarf/rmake.rs
  tests/run-make/remap-path-prefix-dwarf/src/print_value.rs
  tests/run-make/remap-path-prefix-dwarf/src/some_value.rs
  tests/run-make/remap-path-prefix/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#139764 Consistent trait bounds for ExtractIf Debug impls
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/set.rs
  library/alloc/src/collections/linked_list.rs
  library/alloc/src/vec/extract_if.rs
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
  tests/rustdoc-js-std/path-maxeditdistance.js
Labels: T-libs-api, final-comment-period, S-waiting-on-bors, disposition-merge, A-rustdoc-search, T-rustdoc-frontend

#139773 Implement `Iterator::last` for `vec::IntoIter`
  library/alloc/src/vec/into_iter.rs
  library/std/src/sys/args/common.rs
  src/tools/clippy/tests/ui/double_ended_iterator_last.fixed
  src/tools/clippy/tests/ui/double_ended_iterator_last.rs
  src/tools/clippy/tests/ui/double_ended_iterator_last.stderr
  src/tools/clippy/tests/ui/double_ended_iterator_last_unfixable.rs
  src/tools/clippy/tests/ui/double_ended_iterator_last_unfixable.stderr
Labels: S-waiting-on-bors, T-libs

#140393 std: get rid of `sys_common::process`
  library/std/src/process.rs
  library/std/src/sys/process/env.rs
  library/std/src/sys/process/mod.rs
  library/std/src/sys/process/uefi.rs
  library/std/src/sys/process/unix/common.rs
  library/std/src/sys/process/unix/fuchsia.rs
  library/std/src/sys/process/unix/unix.rs
  library/std/src/sys/process/unix/unsupported.rs
  library/std/src/sys/process/unix/vxworks.rs
  library/std/src/sys/process/unsupported.rs
  library/std/src/sys/process/windows.rs
  library/std/src/sys_common/mod.rs
Labels: S-waiting-on-bors, T-libs

#140532 Fix RustAnalyzer discovery of rustc's `stable_mir` crate
  Cargo.lock
  compiler/rustc_driver_impl/Cargo.toml
  compiler/rustc_driver_impl/src/pretty.rs
  compiler/stable_mir/Cargo.toml
  compiler/stable_mir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#140598 Steer docs to `utf8_chunks` and `Iterator::take`
  library/core/src/iter/traits/iterator.rs
  library/core/src/str/lossy.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#140634 Use more accurate ELF flags on MIPS
  compiler/rustc_codegen_ssa/src/back/metadata.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/mips64_openwrt_linux_musl.rs
  compiler/rustc_target/src/spec/targets/mips64_unknown_linux_gnuabi64.rs
  compiler/rustc_target/src/spec/targets/mips64_unknown_linux_muslabi64.rs
  compiler/rustc_target/src/spec/targets/mips64el_unknown_linux_gnuabi64.rs
  compiler/rustc_target/src/spec/targets/mips64el_unknown_linux_muslabi64.rs
  compiler/rustc_target/src/spec/targets/mipsisa64r6_unknown_linux_gnuabi64.rs
  compiler/rustc_target/src/spec/targets/mipsisa64r6el_unknown_linux_gnuabi64.rs
Labels: T-compiler, S-waiting-on-bors

#140678 Be a bit more relaxed about not yet constrained infer vars in closure upvar analysis
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  tests/crashes/131758.rs
  tests/ui/closures/opaque-upvar.rs
  tests/ui/unboxed-closures/arg-constrained-after-closure-inference.rs
Labels: T-compiler, S-waiting-on-bors

#140561 Do not gather local all together at the beginning of typeck
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/check.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/gather_locals.rs
  compiler/rustc_hir_typeck/src/lib.rs
  tests/ui/async-await/async-closures/def-path.stderr
  tests/ui/closures/print/closure-print-generic-trim-off-verbose-2.stderr
  tests/ui/closures/print/closure-print-generic-verbose-2.stderr
  tests/ui/const-generics/const-arg-in-const-arg.min.stderr
  tests/ui/const-generics/generic_const_exprs/dependence_lint.gce.stderr
  tests/ui/const-generics/invalid-enum.stderr
  tests/ui/dyn-compatibility/mention-correct-dyn-incompatible-trait.stderr
  tests/ui/issues/issue-18959.rs
  tests/ui/issues/issue-18959.stderr
  tests/ui/lint/bare-trait-objects-path.stderr
  tests/ui/methods/disambiguate-multiple-blanket-impl.stderr
  tests/ui/methods/disambiguate-multiple-impl.stderr
  tests/ui/methods/disambiguate-multiple-trait-2.stderr
  tests/ui/methods/disambiguate-multiple-trait.stderr
  tests/ui/stability-attribute/generics-default-stability.stderr
  tests/ui/stability-attribute/suggest-vec-allocator-api.stderr
  tests/ui/traits/bound/on-structs-and-enums-locals.stderr
  tests/ui/traits/bound/on-structs-and-enums-xc1.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#140632 add a test for issue rust-lang/rust#81317
  tests/ui/type-inference/regression-issue-81317.rs
  tests/ui/type-inference/regression-issue-81317.stderr
Labels: T-compiler, S-waiting-on-bors

#140658 `deref_patterns`: let string and byte string literal patterns peel references and smart pointers before matching
  compiler/rustc_hir_typeck/src/pat.rs
  src/doc/unstable-book/src/language-features/deref-patterns.md
  tests/ui/pattern/deref-patterns/byte-string-type-errors.rs
  tests/ui/pattern/deref-patterns/byte-string-type-errors.stderr
  tests/ui/pattern/deref-patterns/const-pats-do-not-mislead-inference.rs
  tests/ui/pattern/deref-patterns/const-pats-do-not-mislead-inference.stable.stderr
  tests/ui/pattern/deref-patterns/needs-gate.rs
  tests/ui/pattern/deref-patterns/needs-gate.stderr
  tests/ui/pattern/deref-patterns/strings.rs
  tests/ui/pattern/deref-patterns/typeck_fail.rs
  tests/ui/pattern/deref-patterns/typeck_fail.stderr
Labels: T-compiler, S-waiting-on-bors

#140681 Don't ignore compiler stderr in `lib-defaults.rs`
  tests/ui/abi/lib-defaults.rs
  tests/ui/link-native-libs/lib-defaults.rs
Labels: T-compiler, S-waiting-on-bors

#140702 Rollup of 4 pull requests
  compiler/rustc_hir_typeck/src/pat.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/doc/unstable-book/src/language-features/deref-patterns.md
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/sidebar.goml
  tests/ui/abi/lib-defaults.rs
  tests/ui/link-native-libs/lib-defaults.rs
  tests/ui/pattern/deref-patterns/byte-string-type-errors.rs
  tests/ui/pattern/deref-patterns/byte-string-type-errors.stderr
  tests/ui/pattern/deref-patterns/const-pats-do-not-mislead-inference.rs
  tests/ui/pattern/deref-patterns/const-pats-do-not-mislead-inference.stable.stderr
  tests/ui/pattern/deref-patterns/needs-gate.rs
  tests/ui/pattern/deref-patterns/needs-gate.stderr
  tests/ui/pattern/deref-patterns/strings.rs
  tests/ui/pattern/deref-patterns/typeck_fail.rs
  tests/ui/pattern/deref-patterns/typeck_fail.stderr
  tests/ui/type-inference/regression-issue-81317.rs
  tests/ui/type-inference/regression-issue-81317.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-rustdoc-frontend

#140135 Unify sidebar buttons to use the same image
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/librustdoc/html/static/css/rustdoc.css
  tests/rustdoc-gui/sidebar.goml
Labels: A-testsuite, S-waiting-on-bors, T-infra, disposition-merge, finished-final-comment-period, to-announce, T-rustdoc-frontend

#140692 Rename `graph::implementation::Graph` to `LinkedGraph`
  compiler/rustc_data_structures/src/graph/linked_graph/mod.rs
  compiler/rustc_data_structures/src/graph/linked_graph/tests.rs
  compiler/rustc_data_structures/src/graph/mod.rs
  compiler/rustc_incremental/src/assert_dep_graph.rs
  compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs
  compiler/rustc_query_system/src/dep_graph/query.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#140703 Handle PR not found in post-merge workflow
  .github/workflows/post-merge.yml
Labels: S-waiting-on-bors

#136183 Update iterator.rs to use arrays by value
  library/core/src/iter/traits/iterator.rs
Labels: S-waiting-on-bors, T-libs

#140514 Stabilize proc_macro::Span::{file, local_file}.
  library/proc_macro/src/lib.rs
Labels: T-libs-api, final-comment-period, S-waiting-on-bors, disposition-merge, needs-fcp, merged-by-bors, S-waiting-on-fcp, A-proc-macros

#139534 Added support for `apxf` target feature
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/feature-gates/feature-gate-apx-target-feature.rs
  tests/ui/feature-gates/feature-gate-apx-target-feature.stderr
Labels: T-compiler, S-waiting-on-bors

#140419 Move `in_external_macro` to `SyntaxContext`
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#140483 Comment on `Rc` abort-guard strategy without naming unrelated fn
  library/alloc/src/rc.rs
Labels: S-waiting-on-bors, T-libs

#140607 support duplicate entries in the opaque_type_storage
  Cargo.lock
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/table.rs
  compiler/rustc_infer/src/infer/snapshot/undo_log.rs
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/src/solve/delegate.rs
  tests/ui/traits/next-solver/opaques/duplicate-opaque-type-entries.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#140656 collect all Fuchsia bindings into the `fuchsia` module
  library/std/src/sys/pal/unix/fuchsia.rs
  library/std/src/sys/pal/unix/futex.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/process/unix/fuchsia.rs
  library/std/src/sys/sync/mutex/fuchsia.rs
Labels: S-waiting-on-bors, O-fuchsia, T-libs, O-unix

#140668 Implement `VecDeque::truncate_front()`
  library/alloc/src/collections/vec_deque/mod.rs
  library/alloctests/tests/lib.rs
  library/alloctests/tests/vec_deque.rs
Labels: S-waiting-on-bors, T-libs

#140709 rustdoc: remove unportable markdown lint and old parser
  Cargo.lock
  src/librustdoc/Cargo.toml
  src/librustdoc/lint.rs
  src/librustdoc/passes/lint.rs
  src/librustdoc/passes/lint/unportable_markdown.rs
  tests/rustdoc-ui/unportable-markdown.rs
  tests/rustdoc-ui/unportable-markdown.stderr
Labels: T-rustdoc, S-waiting-on-bors

#140713 Structurally resolve in `check_ref_cast` in new solver
  compiler/rustc_hir_typeck/src/cast.rs
  tests/ui/cast/cast-alias-of-array-to-element.rs
Labels: T-compiler, S-waiting-on-bors

#140726 Rollup of 9 pull requests
  Cargo.lock
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/_match.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_infer/src/infer/canonical/query_response.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/table.rs
  compiler/rustc_infer/src/infer/snapshot/undo_log.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/target_features.rs
  compiler/rustc_trait_selection/Cargo.toml
  compiler/rustc_trait_selection/src/solve/delegate.rs
  library/alloc/src/collections/vec_deque/mod.rs
  library/alloc/src/rc.rs
  library/alloctests/tests/lib.rs
  library/alloctests/tests/vec_deque.rs
  library/core/src/macros/mod.rs
  library/std/src/sys/pal/unix/fuchsia.rs
  library/std/src/sys/pal/unix/futex.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/process/unix/fuchsia.rs
  library/std/src/sys/sync/mutex/fuchsia.rs
  src/librustdoc/Cargo.toml
  src/librustdoc/lint.rs
  src/librustdoc/passes/lint.rs
  src/librustdoc/passes/lint/unportable_markdown.rs
  src/tools/lint-docs/src/lib.rs
  tests/rustdoc-ui/unportable-markdown.rs
  tests/rustdoc-ui/unportable-markdown.stderr
  tests/ui/cast/cast-alias-of-array-to-element.rs
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/feature-gates/bench.rs
  tests/ui/feature-gates/bench.stderr
  tests/ui/feature-gates/feature-gate-apx-target-feature.rs
  tests/ui/feature-gates/feature-gate-apx-target-feature.stderr
  tests/ui/lint/expansion-time.rs
  tests/ui/lint/expansion-time.stderr
  tests/ui/traits/next-solver/opaques/duplicate-opaque-type-entries.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix, WG-trait-system-refactor

#134273 de-stabilize bench attribute
  compiler/rustc_lint_defs/src/builtin.rs
  library/core/src/macros/mod.rs
  src/tools/lint-docs/src/lib.rs
  tests/ui/feature-gates/bench.rs
  tests/ui/feature-gates/bench.stderr
  tests/ui/lint/expansion-time.rs
  tests/ui/lint/expansion-time.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, I-lang-radar

#137995 Remove duplicate impl of string unescape from parse_format
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_parse_format/src/tests.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/on_unimplemented_format.rs
  src/tools/rust-analyzer/crates/hir-def/src/expr_store/lower/asm.rs
  src/tools/rust-analyzer/crates/hir-def/src/hir/format_args.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#140719 fix typo in autorefs lint doc example
  compiler/rustc_lint/src/autorefs.rs
Labels: T-compiler, S-waiting-on-bors

#140724 Update `compiler-builtins` to 0.1.158
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
Labels: S-waiting-on-bors

#139518 Stabilize precise capture syntax in style guide
  src/doc/style-guide/src/nightly.md
  src/doc/style-guide/src/types.md
Labels: S-waiting-on-bors, T-style

#139758 Use thread local dep graph encoding
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_data_structures/src/sync/parallel.rs
  compiler/rustc_incremental/src/persist/save.rs
  compiler/rustc_query_system/src/dep_graph/graph.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  compiler/rustc_query_system/src/dep_graph/serialized.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, perf-regression

#140590 borrowck nested items in dead code
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/root_cx.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_ty_utils/src/lib.rs
  compiler/rustc_ty_utils/src/nested_bodies.rs
  compiler/rustc_ty_utils/src/stalled_generators.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/interner.rs
  tests/ui/nll/nested-bodies-in-dead-code.rs
  tests/ui/nll/nested-bodies-in-dead-code.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#140234 Separate dataflow analysis and results
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_mir_dataflow/src/framework/cursor.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/mod.rs
  compiler/rustc_mir_dataflow/src/framework/results.rs
  compiler/rustc_mir_dataflow/src/framework/tests.rs
  compiler/rustc_mir_dataflow/src/framework/visitor.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_mir_dataflow/src/points.rs
  compiler/rustc_mir_dataflow/src/rustc_peek.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/lint_tail_expr_drop_order.rs
  src/doc/rustc-dev-guide/src/mir/dataflow.md
Labels: T-compiler, S-waiting-on-bors, A-rustc-dev-guide

#140614 Correct warning message in restricted visibility
  compiler/rustc_middle/src/ty/mod.rs
  tests/ui/imports/reexports.stderr
  tests/ui/pub/pub-restricted-warning.rs
  tests/ui/pub/pub-restricted-warning.stderr
Labels: T-compiler, S-waiting-on-bors

#140671 Parser: Recover error from named params while parse_path
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/path.rs
  tests/ui/fn/fn-trait-use-named-params-issue-140169.rs
  tests/ui/fn/fn-trait-use-named-params-issue-140169.stderr
  tests/ui/parser/diagnostics-parenthesized-type-arguments-ice-issue-122345.rs
  tests/ui/parser/diagnostics-parenthesized-type-arguments-ice-issue-122345.stderr
  tests/ui/parser/issues/issue-103748-ICE-wrong-braces.rs
  tests/ui/parser/issues/issue-103748-ICE-wrong-braces.stderr
Labels: T-compiler, S-waiting-on-bors

#140700 Don't crash on error codes passed to `--explain` which exceed our internal limit of 9999
  compiler/rustc_driver_impl/src/lib.rs
  tests/ui/explain/basic.rs
  tests/ui/explain/basic.stdout
  tests/ui/explain/error-with-no-explanation.rs
  tests/ui/explain/error-with-no-explanation.stderr
  tests/ui/explain/invalid-error-code.rs
  tests/ui/explain/invalid-error-code.stderr
  tests/ui/explain/no-E-prefix.rs
  tests/ui/explain/no-E-prefix.stdout
  tests/ui/explain/overflow-error-code.rs
  tests/ui/explain/overflow-error-code.stderr
Labels: T-compiler, S-waiting-on-bors

#140706 [rustdoc] Ensure that temporary doctest folder is correctly removed even if doctests failed
  library/test/src/lib.rs
  src/librustdoc/doctest.rs
  src/librustdoc/doctest/markdown.rs
  tests/run-make/rustdoc-tempdir-removal/compile-error.rs
  tests/run-make/rustdoc-tempdir-removal/rmake.rs
  tests/run-make/rustdoc-tempdir-removal/run-error.rs
Labels: T-rustdoc, S-waiting-on-bors, T-libs, A-run-make

#140741 add armv5te-unknown-linux-gnueabi target maintainer
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/armv5te-unknown-linux-gnueabi.md
Labels: S-waiting-on-bors

#140745 run-make-support: set rustc dylib path for cargo wrapper
  src/tools/run-make-support/src/external_deps/cargo.rs
Labels: S-waiting-on-bors, A-run-make

#140751 Rollup of 8 pull requests
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_mir_dataflow/src/framework/cursor.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_dataflow/src/framework/mod.rs
  compiler/rustc_mir_dataflow/src/framework/results.rs
  compiler/rustc_mir_dataflow/src/framework/tests.rs
  compiler/rustc_mir_dataflow/src/framework/visitor.rs
  compiler/rustc_mir_dataflow/src/lib.rs
  compiler/rustc_mir_dataflow/src/points.rs
  compiler/rustc_mir_dataflow/src/rustc_peek.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/lint_tail_expr_drop_order.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/path.rs
  library/std/src/sys/process/unix/mod.rs
  library/test/src/lib.rs
  src/doc/rustc-dev-guide/src/mir/dataflow.md
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/armv5te-unknown-linux-gnueabi.md
  src/librustdoc/doctest.rs
  src/librustdoc/doctest/markdown.rs
  src/tools/run-make-support/src/external_deps/cargo.rs
  tests/run-make/rustdoc-tempdir-removal/compile-error.rs
  tests/run-make/rustdoc-tempdir-removal/rmake.rs
  tests/run-make/rustdoc-tempdir-removal/run-error.rs
  tests/ui/explain/basic.rs
  tests/ui/explain/basic.stdout
  tests/ui/explain/error-with-no-explanation.rs
  tests/ui/explain/error-with-no-explanation.stderr
  tests/ui/explain/invalid-error-code.rs
  tests/ui/explain/invalid-error-code.stderr
  tests/ui/explain/no-E-prefix.rs
  tests/ui/explain/no-E-prefix.stdout
  tests/ui/explain/overflow-error-code.rs
  tests/ui/explain/overflow-error-code.stderr
  tests/ui/fn/fn-trait-use-named-params-issue-140169.rs
  tests/ui/fn/fn-trait-use-named-params-issue-140169.stderr
  tests/ui/imports/reexports.stderr
  tests/ui/parser/diagnostics-parenthesized-type-arguments-ice-issue-122345.rs
  tests/ui/parser/diagnostics-parenthesized-type-arguments-ice-issue-122345.stderr
  tests/ui/parser/issues/issue-103748-ICE-wrong-braces.rs
  tests/ui/parser/issues/issue-103748-ICE-wrong-braces.stderr
  tests/ui/pub/pub-restricted-warning.rs
  tests/ui/pub/pub-restricted-warning.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-run-make, A-rustc-dev-guide

#140106 allow deref patterns to participate in exhaustiveness analysis
  compiler/rustc_pattern_analysis/messages.ftl
  compiler/rustc_pattern_analysis/src/constructor.rs
  compiler/rustc_pattern_analysis/src/errors.rs
  compiler/rustc_pattern_analysis/src/rustc.rs
  compiler/rustc_pattern_analysis/src/usefulness.rs
  src/doc/unstable-book/src/language-features/deref-patterns.md
  src/tools/rust-analyzer/crates/hir-ty/src/diagnostics/match_check/pat_analysis.rs
  tests/ui/pattern/deref-patterns/bindings.rs
  tests/ui/pattern/deref-patterns/closure_capture.rs
  tests/ui/pattern/deref-patterns/deref-box.rs
  tests/ui/pattern/deref-patterns/implicit-cow-deref.rs
  tests/ui/pattern/deref-patterns/usefulness/empty-types.rs
  tests/ui/pattern/deref-patterns/usefulness/empty-types.stderr
  tests/ui/pattern/deref-patterns/usefulness/mixed-constructors.rs
  tests/ui/pattern/deref-patterns/usefulness/mixed-constructors.stderr
  tests/ui/pattern/deref-patterns/usefulness/non-exhaustive.rs
  tests/ui/pattern/deref-patterns/usefulness/non-exhaustive.stderr
  tests/ui/pattern/deref-patterns/usefulness/unreachable-patterns.rs
  tests/ui/pattern/deref-patterns/usefulness/unreachable-patterns.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#140260 Only prefer param-env candidates if they remain non-global after norm
  compiler/rustc_borrowck/src/type_check/opaque_types.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_infer/src/infer/outlives/for_liveness.rs
  compiler/rustc_lint/src/impl_trait_overcaptures.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/visit.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/mod.rs
  compiler/rustc_next_trait_solver/src/solve/effect_goals.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/normalizes_to/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
  compiler/rustc_ty_utils/src/ty.rs
  compiler/rustc_type_ir/src/binder.rs
  compiler/rustc_type_ir/src/solve/mod.rs
  compiler/rustc_type_ir/src/ty_kind/closure.rs
  compiler/rustc_type_ir/src/visit.rs
  src/tools/clippy/clippy_utils/src/ty/mod.rs
  tests/ui/traits/next-solver/global-param-env-after-norm.rs
  tests/ui/traits/next-solver/normalize/normalize-param-env-4.next.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#140523 Better error message for late/early lifetime param mismatch
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  tests/ui/borrowck/regions-bound-missing-bound-in-impl.rs
  tests/ui/borrowck/regions-bound-missing-bound-in-impl.stderr
  tests/ui/error-codes/E0195.rs
  tests/ui/error-codes/E0195.stderr
  tests/ui/trait-bounds/impl-missing-where-clause-lifetimes-from-trait.stderr
Labels: T-compiler, S-waiting-on-bors

#140641 detect additional uses of opaques after writeback
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/opaque_types.rs
  compiler/rustc_hir_typeck/src/typeck_root_ctxt.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/context.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/mod.rs
  compiler/rustc_infer/src/infer/opaque_types/table.rs
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/probe.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#140711 Do not discard constraints on overflow if there was candidate ambiguity
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/mod.rs
  compiler/rustc_trait_selection/src/solve/fulfill/derive_errors.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_type_ir/src/solve/mod.rs
  tests/ui/traits/next-solver/overflow-plus-ambiguity-normalizes-to-response.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#140762 rustdoc-json: Remove newlines from attributes
  src/librustdoc/clean/types.rs
  tests/rustdoc-json/attrs/automatically_derived.rs
  tests/rustdoc-json/attrs/export_name_2021.rs
  tests/rustdoc-json/attrs/export_name_2024.rs
  tests/rustdoc-json/attrs/must_use.rs
  tests/rustdoc-json/attrs/no_mangle_2021.rs
  tests/rustdoc-json/attrs/no_mangle_2024.rs
  tests/rustdoc-json/attrs/non_exhaustive.rs
  tests/rustdoc-json/keyword_private.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#140764 style: Never break within a nullary function call `func()` or a unit literal `()`
  src/doc/style-guide/src/editions.md
  src/doc/style-guide/src/expressions.md
Labels: S-waiting-on-bors, I-style-nominated, T-style

#140769 Add `DefPathData::OpaqueLifetime` to avoid conflicts for remapped opaque lifetimes
  compiler/rustc_hir/src/definitions.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/encode.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  tests/ui/type-alias-impl-trait/lifetime-def-path-conflict-40731.rs
  tests/ui/type-alias-impl-trait/lifetime-def-path-conflict-40731.stderr
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#140773 triagebot: Better message for changes to `tests/rustdoc-json`
  triagebot.toml
Labels: T-rustdoc, S-waiting-on-bors, A-meta, A-rustdoc-json

#140579 Remove estebank from automated review assignment
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#140732 make it possible to run in-tree rustfmt with `x run rustfmt`
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/build_steps/run.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/utils/change_tracker.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#140755 [win][arm64] Disable various DebugInfo tests that don't work on Arm64 Windows
  src/tools/compiletest/src/directive-list.rs
  tests/debuginfo/step-into-match.rs
  tests/debuginfo/type-names.rs
  tests/ui/runtime/backtrace-debuginfo.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-compiletest

#140758 [win][arm64] Disable MSVC Linker 'Arm Hazard' warning
  compiler/rustc_target/src/spec/targets/aarch64_pc_windows_msvc.rs
Labels: T-compiler, S-waiting-on-bors

#140736 trait selection: check `&` before suggest remove deref
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/traits/suggest-remove-deref-issue-140166.rs
  tests/ui/traits/suggest-remove-deref-issue-140166.stderr
Labels: T-compiler, S-waiting-on-bors

#140756 [arm64] Pointer auth test should link with C static library statically
  tests/run-make/pointer-auth-link-with-c/test.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#140759 [win][arm64] Disable std::fs tests that require symlinks
  library/std/src/fs/tests.rs
Labels: S-waiting-on-bors, T-libs

#140797 Rollup of 5 pull requests
  compiler/rustc_target/src/spec/targets/aarch64_pc_windows_msvc.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  library/std/src/fs/tests.rs
  src/tools/compiletest/src/directive-list.rs
  tests/debuginfo/step-into-match.rs
  tests/debuginfo/type-names.rs
  tests/run-make/pointer-auth-link-with-c/test.rs
  tests/ui/runtime/backtrace-debuginfo.rs
  tests/ui/traits/suggest-remove-deref-issue-140166.rs
  tests/ui/traits/suggest-remove-deref-issue-140166.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-compiletest, A-run-make

#140786 Do not deny warnings in "fast" try builds
  Cargo.lock
  src/doc/rustc-dev-guide/src/tests/ci.md
  src/tools/opt-dist/Cargo.toml
  src/tools/opt-dist/src/environment.rs
  src/tools/opt-dist/src/exec.rs
  src/tools/opt-dist/src/main.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs, A-rustc-dev-guide

#140095 Eliminate `word_and_empty` methods.
  compiler/rustc_attr_parsing/src/attributes/allow_unstable.rs
  compiler/rustc_attr_parsing/src/attributes/deprecation.rs
  compiler/rustc_attr_parsing/src/attributes/repr.rs
  compiler/rustc_attr_parsing/src/attributes/stability.rs
  compiler/rustc_attr_parsing/src/parser.rs
  compiler/rustc_attr_parsing/src/session_diagnostics.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#140341 Clarify black_box warning a bit
  library/core/src/hint.rs
Labels: S-waiting-on-bors, T-libs

#140684 Only include `dyn Trait<Assoc = ...>` associated type bounds for `Self: Sized` associated types if they are provided
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_middle/src/ty/sty.rs
  tests/ui/traits/object/constrain-via-unnecessary-bound.rs
  tests/ui/traits/object/constrain-via-unnecessary-bound.stderr
  tests/ui/traits/object/pretty.stderr
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#140707 Structurally normalize in range pattern checking in HIR typeck
  compiler/rustc_hir_typeck/src/pat.rs
  tests/ui/pattern/normalize-ty-in-range.rs
Labels: T-compiler, S-waiting-on-bors

#140716 Improve `-Zremap-path-scope` tests with dependency
  tests/ui/errors/auxiliary/file-debuginfo.rs
  tests/ui/errors/auxiliary/file-diag.rs
  tests/ui/errors/auxiliary/file-macro.rs
  tests/ui/errors/auxiliary/file.rs
  tests/ui/errors/auxiliary/trait-debuginfo.rs
  tests/ui/errors/auxiliary/trait-diag.rs
  tests/ui/errors/auxiliary/trait-macro.rs
  tests/ui/errors/auxiliary/trait.rs
  tests/ui/errors/remap-path-prefix-diagnostics.not-diag-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.only-debuginfo-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.only-diag-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.only-macro-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.rs
  tests/ui/errors/remap-path-prefix-diagnostics.with-debuginfo-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.with-diag-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.with-macro-in-deps.stderr
  tests/ui/errors/remap-path-prefix-macro.normal.run.stdout
  tests/ui/errors/remap-path-prefix-macro.not-macro-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.only-debuginfo-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.only-diag-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.only-macro-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.rs
  tests/ui/errors/remap-path-prefix-macro.with-debuginfo-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.with-diag-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.with-macro-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.with-macro-scope.run.stdout
  tests/ui/errors/remap-path-prefix-macro.without-macro-scope.run.stdout
Labels: T-compiler, S-waiting-on-bors

#140800 Make `rustdoc-tempdir-removal` run-make tests work on other platforms than linux
  tests/run-make/rustdoc-tempdir-removal/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#140802 Add release notes for 1.87.0
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#140811 Enable triagebot note functionality for rust-lang/rust
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#140818 Rollup of 8 pull requests
  RELEASES.md
  compiler/rustc_attr_parsing/src/attributes/allow_unstable.rs
  compiler/rustc_attr_parsing/src/attributes/deprecation.rs
  compiler/rustc_attr_parsing/src/attributes/repr.rs
  compiler/rustc_attr_parsing/src/attributes/stability.rs
  compiler/rustc_attr_parsing/src/parser.rs
  compiler/rustc_attr_parsing/src/session_diagnostics.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/dyn_compatibility.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_middle/src/ty/sty.rs
  library/core/src/hint.rs
  tests/run-make/rustdoc-tempdir-removal/rmake.rs
  tests/ui/errors/auxiliary/file-debuginfo.rs
  tests/ui/errors/auxiliary/file-diag.rs
  tests/ui/errors/auxiliary/file-macro.rs
  tests/ui/errors/auxiliary/file.rs
  tests/ui/errors/auxiliary/trait-debuginfo.rs
  tests/ui/errors/auxiliary/trait-diag.rs
  tests/ui/errors/auxiliary/trait-macro.rs
  tests/ui/errors/auxiliary/trait.rs
  tests/ui/errors/remap-path-prefix-diagnostics.not-diag-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.only-debuginfo-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.only-diag-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.only-macro-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.rs
  tests/ui/errors/remap-path-prefix-diagnostics.with-debuginfo-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.with-diag-in-deps.stderr
  tests/ui/errors/remap-path-prefix-diagnostics.with-macro-in-deps.stderr
  tests/ui/errors/remap-path-prefix-macro.normal.run.stdout
  tests/ui/errors/remap-path-prefix-macro.not-macro-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.only-debuginfo-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.only-diag-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.only-macro-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.rs
  tests/ui/errors/remap-path-prefix-macro.with-debuginfo-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.with-diag-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.with-macro-in-deps.run.stdout
  tests/ui/errors/remap-path-prefix-macro.with-macro-scope.run.stdout
  tests/ui/errors/remap-path-prefix-macro.without-macro-scope.run.stdout
  tests/ui/pattern/normalize-ty-in-range.rs
  tests/ui/traits/object/constrain-via-unnecessary-bound.rs
  tests/ui/traits/object/constrain-via-unnecessary-bound.stderr
  tests/ui/traits/object/pretty.stderr
  triagebot.toml
Labels: A-attributes, T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup, A-meta, T-libs, A-run-make
