Repository rust-lang/rust, pull requests merged in 2025-06, with the labels that each got.

#141072 Stabilize feature `result_flattening`
  compiler/rustc_driver_impl/src/lib.rs
  library/core/src/result.rs
  src/tools/clippy/tests/ui/map_flatten.rs
  src/tools/clippy/tests/ui/map_flatten_fixable.fixed
  src/tools/clippy/tests/ui/map_flatten_fixable.rs
  src/tools/clippy/tests/ui/map_flatten_fixable.stderr
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#141215 std: clarify Clone trait documentation about duplication semantics
  library/core/src/clone.rs
Labels: T-libs-api, S-waiting-on-bors

#141277 Miri CI: test aarch64-apple-darwin in PRs instead of the x86_64 target
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#141521 Add `const` support for float rounding methods
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/num/mod.rs
  library/std/src/lib.rs
  library/std/src/num/f32.rs
  library/std/src/num/f64.rs
  src/tools/miri/src/intrinsics/mod.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#141812 Fix "consider borrowing" for else-if
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/typeck/consider-borrowing-141810-1.rs
  tests/ui/typeck/consider-borrowing-141810-1.stderr
  tests/ui/typeck/consider-borrowing-141810-2.rs
  tests/ui/typeck/consider-borrowing-141810-2.stderr
  tests/ui/typeck/consider-borrowing-141810-3.rs
  tests/ui/typeck/consider-borrowing-141810-3.stderr
  tests/ui/typeck/consider-borrowing-141810-4.rs
  tests/ui/typeck/consider-borrowing-141810-4.stderr
Labels: T-compiler, S-waiting-on-bors

#141832 library: explain TOCTOU races in `fs::remove_dir_all`
  library/std/src/fs.rs
Labels: S-waiting-on-bors, T-libs, A-io

#141842 Rollup of 6 pull requests
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  library/core/src/clone.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/result.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/num/mod.rs
  library/std/src/fs.rs
  library/std/src/lib.rs
  library/std/src/num/f32.rs
  library/std/src/num/f64.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/checktools.sh
  src/ci/github-actions/jobs.yml
  src/tools/clippy/tests/ui/map_flatten.rs
  src/tools/clippy/tests/ui/map_flatten_fixable.fixed
  src/tools/clippy/tests/ui/map_flatten_fixable.rs
  src/tools/clippy/tests/ui/map_flatten_fixable.stderr
  src/tools/miri/src/intrinsics/mod.rs
  tests/ui/typeck/consider-borrowing-141810-1.rs
  tests/ui/typeck/consider-borrowing-141810-1.stderr
  tests/ui/typeck/consider-borrowing-141810-2.rs
  tests/ui/typeck/consider-borrowing-141810-2.stderr
  tests/ui/typeck/consider-borrowing-141810-3.rs
  tests/ui/typeck/consider-borrowing-141810-3.stderr
  tests/ui/typeck/consider-borrowing-141810-4.rs
  tests/ui/typeck/consider-borrowing-141810-4.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs

#141725 Avoid over-counting of `UsePath` in the HIR stats.
  compiler/rustc_passes/src/input_stats.rs
  tests/ui/stats/input-stats.rs
  tests/ui/stats/input-stats.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#141730 cstore: Use IndexSet as backing store for postorder dependencies
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#141860 Miri subtree update
  src/tools/miri/cargo-miri/src/phases.rs
  src/tools/miri/ci/ci.sh
  src/tools/miri/miri-script/src/commands.rs
  src/tools/miri/rust-version
  src/tools/miri/src/alloc/alloc_bytes.rs
  src/tools/miri/src/alloc/isolated_alloc.rs
  src/tools/miri/src/alloc/mod.rs
  src/tools/miri/src/alloc_addresses/mod.rs
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/diagnostics.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/mod.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/perms.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree.rs
  src/tools/miri/src/borrow_tracker/tree_borrows/tree/tests.rs
  src/tools/miri/src/concurrency/thread.rs
  src/tools/miri/src/diagnostics.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/range_map.rs
  src/tools/miri/src/shims/files.rs
  src/tools/miri/src/shims/unix/fd.rs
  src/tools/miri/src/shims/unix/unnamed_socket.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/src/shims/windows/handle.rs
  src/tools/miri/tests/fail-dep/libc/fcntl_fsetfl_while_blocking.rs
  src/tools/miri/tests/fail-dep/libc/fcntl_fsetfl_while_blocking.stderr
  src/tools/miri/tests/fail-dep/libc/unsupported_incomplete_function.stderr
  src/tools/miri/tests/fail/alloc/no_global_allocator.stderr
  src/tools/miri/tests/fail/tree_borrows/cell-inside-struct.rs
  src/tools/miri/tests/fail/tree_borrows/cell-inside-struct.stderr
  src/tools/miri/tests/fail/unsupported_foreign_function.stderr
  src/tools/miri/tests/many-seeds/reentrant-lock.rs
  src/tools/miri/tests/native-lib/fail/function_not_in_so.stderr
  src/tools/miri/tests/native-lib/fail/private_function.stderr
  src/tools/miri/tests/pass-dep/libc/libc-pipe.rs
  src/tools/miri/tests/pass-dep/libc/libc-socketpair.rs
  src/tools/miri/tests/pass-dep/tokio/file-io.rs
  src/tools/miri/tests/pass/both_borrows/basic_aliasing_model.rs
  src/tools/miri/tests/pass/shims/fs.rs
  src/tools/miri/tests/pass/tree_borrows/cell-alternate-writes.stderr
  src/tools/miri/tests/pass/tree_borrows/cell-lazy-write-to-surrounding.rs
Labels: S-waiting-on-bors, merged-by-bors

#141224 terminology: allocated object → allocation
  library/core/src/ffi/c_str.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/primitive_docs.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/docs/add.md
  library/core/src/ptr/docs/offset.md
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/raw.rs
  tests/ui/const-ptr/allowed_slices.rs
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#141622 implement `va_arg` for `powerpc`
  compiler/rustc_codegen_llvm/src/va_arg.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, F-c_variadic

#141666 source_span_for_markdown_range: fix utf8 violation
  compiler/rustc_resolve/src/rustdoc.rs
  compiler/rustc_resolve/src/rustdoc/tests.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#141789 Exclude `CARGO_HOME` from `generate-copyright` in-tree determination
  src/bootstrap/src/core/build_steps/run.rs
  src/tools/generate-copyright/src/cargo_metadata.rs
  src/tools/generate-copyright/src/main.rs
Labels: T-bootstrap, S-waiting-on-bors

#141823 Drive-by refactor: use `OnceCell` for the reverse region SCC graph
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/region_infer/reverse_sccs.rs
Labels: T-compiler, S-waiting-on-bors

#141846 Fix TLS model on bootstrap for cygwin
  src/bootstrap/src/core/builder/cargo.rs
Labels: T-bootstrap, S-waiting-on-bors

#141852 resolve if-let-chain FIXME on bootstrap
  src/bootstrap/src/core/build_steps/tool.rs
Labels: T-bootstrap, S-waiting-on-bors

#141869 Rollup of 9 pull requests
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types.rs
  compiler/rustc_borrowck/src/region_infer/reverse_sccs.rs
  compiler/rustc_codegen_llvm/src/va_arg.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_resolve/src/rustdoc.rs
  compiler/rustc_resolve/src/rustdoc/tests.rs
  compiler/rustc_session/src/filesearch.rs
  library/core/src/ffi/c_str.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/primitive_docs.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/docs/add.md
  library/core/src/ptr/docs/offset.md
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/raw.rs
  src/bootstrap/src/core/build_steps/run.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/tools/generate-copyright/src/cargo_metadata.rs
  src/tools/generate-copyright/src/main.rs
  tests/ui/associated-type-bounds/return-type-notation/path-missing.stderr
  tests/ui/associated-types/associated-type-tuple-struct-construction.rs
  tests/ui/associated-types/associated-type-tuple-struct-construction.stderr
  tests/ui/associated-types/tuple-struct-expr-pat.fixed
  tests/ui/associated-types/tuple-struct-expr-pat.rs
  tests/ui/associated-types/tuple-struct-expr-pat.stderr
  tests/ui/const-ptr/allowed_slices.rs
  tests/ui/delegation/bad-resolve.stderr
  tests/ui/delegation/glob-non-fn.stderr
  tests/ui/namespace/namespace-mix.stderr
  tests/ui/resolve/tuple-struct-alias.stderr
  tests/ui/ufcs/ufcs-partially-resolved.stderr
Labels: A-LLVM, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#140370 Improve diagnostics for usage of qualified paths within tuple struct exprs/pats
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/associated-type-bounds/return-type-notation/path-missing.stderr
  tests/ui/associated-types/associated-type-tuple-struct-construction.rs
  tests/ui/associated-types/associated-type-tuple-struct-construction.stderr
  tests/ui/associated-types/tuple-struct-expr-pat.fixed
  tests/ui/associated-types/tuple-struct-expr-pat.rs
  tests/ui/associated-types/tuple-struct-expr-pat.stderr
  tests/ui/delegation/bad-resolve.stderr
  tests/ui/delegation/glob-non-fn.stderr
  tests/ui/namespace/namespace-mix.stderr
  tests/ui/resolve/tuple-struct-alias.stderr
  tests/ui/ufcs/ufcs-partially-resolved.stderr
Labels: T-compiler, S-waiting-on-bors

#141834 Add unimplemented `current_dll_path()` for WASI
  compiler/rustc_session/src/filesearch.rs
Labels: T-compiler, S-waiting-on-bors

#141760 Improve intrinsic handling in cg_ssa (part 2)
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/mir/intrinsic.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors

#141773 Merge coroutine obligation checking into borrowck parallel loop
  compiler/rustc_interface/src/passes.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#119899 redesign stage 0 std
  compiler/rustc_data_structures/src/flock.rs
  compiler/rustc_data_structures/src/lib.rs
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_span/src/analyze_source_file.rs
  compiler/rustc_span/src/lib.rs
  src/bootstrap/defaults/bootstrap.library.toml
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/clippy.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/format.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/build_steps/perf.rs
  src/bootstrap/src/core/build_steps/setup.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/download.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/ci/citool/src/jobs.rs
  src/ci/citool/tests/jobs.rs
  src/ci/citool/tests/test-jobs.yml
  src/ci/docker/host-x86_64/mingw-check-1/Dockerfile
  src/ci/docker/host-x86_64/mingw-check-1/check-default-config-profiles.sh
  src/ci/docker/host-x86_64/mingw-check-1/reuse-requirements.in
  src/ci/docker/host-x86_64/mingw-check-1/reuse-requirements.txt
  src/ci/docker/host-x86_64/mingw-check-1/validate-error-codes.sh
  src/ci/docker/host-x86_64/mingw-check-1/validate-toolstate.sh
  src/ci/docker/host-x86_64/mingw-check-2/Dockerfile
  src/ci/docker/host-x86_64/mingw-check-tidy/Dockerfile
  src/ci/docker/host-x86_64/x86_64-gnu-nopt/Dockerfile
  src/ci/github-actions/jobs.yml
  src/doc/rustc-dev-guide/src/building/bootstrapping/what-bootstrapping-does.md
  src/doc/rustc-dev-guide/src/building/how-to-build-and-run.md
  src/doc/rustc-dev-guide/src/building/new-target.md
  src/doc/rustc-dev-guide/src/building/suggested.md
  src/doc/rustc-dev-guide/src/tests/ci.md
  src/tools/miri/src/concurrency/mod.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/shims/unix/fs.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, A-rustc-dev-guide

#141750 Warn when gold was used as the linker
  compiler/rustc_codegen_ssa/src/back/link.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#141210 tools-aux ci runner: also cross-test doctests in Miri
  src/bootstrap/mk/Makefile.in
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#140715 Clarify &mut-methods' docs on sync::OnceLock
  library/std/src/sync/once_lock.rs
Labels: S-waiting-on-bors, T-libs

#141554 Improve documentation for codegen options
  src/doc/rustc/src/codegen-options/index.md
Labels: S-waiting-on-bors

#141843 Add `visit_id` to ast `Visitor`
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/delegation.rs
  compiler/rustc_lint/src/early.rs
  compiler/rustc_resolve/src/late.rs
Labels: T-compiler, S-waiting-on-bors

#141881 Subtree update of `rust-analyzer`
  src/tools/rust-analyzer/crates/hir-expand/src/files.rs
  src/tools/rust-analyzer/crates/hir-expand/src/lib.rs
  src/tools/rust-analyzer/crates/hir-expand/src/prettify_macro_expansion_.rs
  src/tools/rust-analyzer/crates/hir/src/semantics.rs
  src/tools/rust-analyzer/crates/hir/src/source_analyzer.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/auto_import.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/convert_bool_to_enum.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/convert_named_struct_to_tuple_struct.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/convert_tuple_struct_to_named_struct.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/extract_function.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/replace_qualified_name_with_use.rs
  src/tools/rust-analyzer/crates/ide-assists/src/handlers/unqualify_method_call.rs
  src/tools/rust-analyzer/crates/ide-db/src/imports/insert_use.rs
  src/tools/rust-analyzer/crates/ide-db/src/imports/insert_use/tests.rs
  src/tools/rust-analyzer/crates/ide-db/src/search.rs
  src/tools/rust-analyzer/crates/ide-db/src/source_change.rs
  src/tools/rust-analyzer/crates/ide-diagnostics/src/handlers/json_is_not_rust.rs
  src/tools/rust-analyzer/crates/ide/src/goto_definition.rs
  src/tools/rust-analyzer/crates/ide/src/goto_type_definition.rs
  src/tools/rust-analyzer/crates/ide/src/highlight_related.rs
  src/tools/rust-analyzer/crates/ide/src/hover.rs
  src/tools/rust-analyzer/crates/ide/src/lib.rs
  src/tools/rust-analyzer/crates/ide/src/references.rs
  src/tools/rust-analyzer/crates/ide/src/rename.rs
  src/tools/rust-analyzer/crates/ide/src/syntax_highlighting.rs
  src/tools/rust-analyzer/crates/mbe/src/tests.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/handlers/dispatch.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/lsp/from_proto.rs
  src/tools/rust-analyzer/crates/span/src/lib.rs
  src/tools/rust-analyzer/crates/syntax-bridge/src/prettify_macro_expansion.rs
  src/tools/rust-analyzer/crates/syntax/src/ted.rs
  src/tools/rust-analyzer/crates/vfs/src/vfs_path.rs
  src/tools/rust-analyzer/xtask/src/codegen.rs
Labels: S-waiting-on-bors

#141898 [rustdoc-json] Implement PartialOrd and Ord for rustdoc_types::Id
  src/rustdoc-json-types/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#141921 Disable f64 minimum/maximum tests for arm 32
  library/core/src/num/f64.rs
Labels: S-waiting-on-bors, T-libs

#141930 Enable triagebot `[concern]` functionality
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#141949 move `test-float-parse` tool into `src/tools` dir
  Cargo.toml
  library/core/src/num/dec2flt/mod.rs
  src/bootstrap/mk/Makefile.in
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/clippy.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/tools/test-float-parse/Cargo.lock
  src/tools/test-float-parse/Cargo.toml
  src/tools/test-float-parse/README.md
  src/tools/test-float-parse/src/gen_/exhaustive.rs
  src/tools/test-float-parse/src/gen_/exponents.rs
  src/tools/test-float-parse/src/gen_/fuzz.rs
  src/tools/test-float-parse/src/gen_/integers.rs
  src/tools/test-float-parse/src/gen_/long_fractions.rs
  src/tools/test-float-parse/src/gen_/many_digits.rs
  src/tools/test-float-parse/src/gen_/sparse.rs
  src/tools/test-float-parse/src/gen_/spot_checks.rs
  src/tools/test-float-parse/src/gen_/subnorm.rs
  src/tools/test-float-parse/src/lib.rs
  src/tools/test-float-parse/src/main.rs
  src/tools/test-float-parse/src/traits.rs
  src/tools/test-float-parse/src/ui.rs
  src/tools/test-float-parse/src/validate.rs
  src/tools/test-float-parse/src/validate/tests.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-libs, A-tidy

#136942 Use ccache for stage0 tool builds
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/tool.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, A-rustc-dev-guide

#141833 `tests/ui`: A New Order [2/N]
  tests/ui/autoref-autoderef/autoderef-vec-to-slice-by-value.rs
  tests/ui/bogus-tag.rs
  tests/ui/borrow-by-val-method-receiver.rs
  tests/ui/higher-ranked/higher-ranked-invalid-bounds.rs
  tests/ui/higher-ranked/higher-ranked-invalid-bounds.stderr
  tests/ui/numbers-arithmetic/bitwise-ops-platform.rs
  tests/ui/pattern/pattern-match-arc-move.rs
  tests/ui/pattern/pattern-match-invalid-variant.rs
  tests/ui/pattern/pattern-match-invalid-variant.stderr
Labels: T-compiler, S-waiting-on-bors

#141861 Switch `x86_64-msvc-{1,2}` back to Windows Server 2025 images
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, A-CI

#141914 redesign stage 0 std follow-ups
  src/bootstrap/defaults/bootstrap.library.toml
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
  src/ci/docker/host-x86_64/mingw-check-2/Dockerfile
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#141918 Deconstruct values in the THIR visitor
  compiler/rustc_middle/src/thir/visit.rs
Labels: T-compiler, S-waiting-on-bors

#141931 Deconstruct values in the THIR visitor
  compiler/rustc_hir/src/intravisit.rs
Labels: T-compiler, S-waiting-on-bors

#141956 Remove two trait methods from cg_ssa
  compiler/rustc_codegen_gcc/src/debuginfo.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_ssa/src/traits/debuginfo.rs
  compiler/rustc_codegen_ssa/src/traits/intrinsic.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#141724 fix(#141141): When expanding `PartialEq`, check equality of scalar types first.
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_builtin_macros/src/deriving/cmp/partial_eq.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  tests/ui/deriving/deriving-all-codegen.rs
  tests/ui/deriving/deriving-all-codegen.stdout
Labels: T-compiler, S-waiting-on-bors

#137725 Add `iter` macro
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_borrowck/src/type_check/input_output.rs
  compiler/rustc_builtin_macros/src/iter.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_const_eval/src/check_consts/ops.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/src/closure.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_trait_selection/messages.ftl
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/errors.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  library/core/src/iter/mod.rs
  library/core/src/iter/sources.rs
  library/core/src/iter/sources/generator.rs
  src/tools/miri/tests/pass/iter_macro.rs
  tests/ui/coroutine/const_gen_fn.rs
  tests/ui/coroutine/const_gen_fn.stderr
  tests/ui/coroutine/gen_block.none.stderr
  tests/ui/feature-gates/feature-gate-coroutines.e2024.stderr
  tests/ui/feature-gates/feature-gate-coroutines.none.stderr
  tests/ui/feature-gates/feature-gate-yield-expr.stderr
  tests/ui/iterators/generator.rs
  tests/ui/iterators/generator_args.rs
  tests/ui/iterators/generator_capture.rs
  tests/ui/iterators/generator_capture_.rs
  tests/ui/iterators/generator_capture_.stderr
  tests/ui/iterators/generator_capture_fail.rs
  tests/ui/iterators/generator_capture_fail.stderr
  tests/ui/iterators/generator_capture_fnonce.rs
  tests/ui/iterators/generator_capture_no_lend.rs
  tests/ui/iterators/generator_returned_from_fn.rs
  tests/ui/iterators/generator_returned_from_fn.stderr
  tests/ui/iterators/iter-macro-not-async-closure-simplified.narrow.stderr
  tests/ui/iterators/iter-macro-not-async-closure-simplified.rs
  tests/ui/iterators/iter-macro-not-async-closure-simplified.wide.stderr
  tests/ui/iterators/iter-macro-not-async-closure.narrow.stderr
  tests/ui/iterators/iter-macro-not-async-closure.rs
  tests/ui/iterators/iter-macro-not-async-closure.stderr
  tests/ui/suggestions/unnamable-types.rs
  tests/ui/type-alias-impl-trait/issue-53678-coroutine-and-const-fn.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#141925 Remove bootstrap cfgs from library/
  library/alloc/Cargo.toml
  library/alloc/src/lib.rs
  library/alloctests/Cargo.toml
  library/core/Cargo.toml
  library/core/src/intrinsics/mod.rs
  library/core/src/lib.rs
  library/core/src/macros/mod.rs
  library/core/src/pin.rs
  library/core/src/slice/index.rs
  library/core/src/sync/atomic.rs
  library/coretests/tests/num/mod.rs
  library/std/Cargo.toml
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#141943 Remove pre-expansion AST stats.
  compiler/rustc_interface/src/passes.rs
  tests/ui/stats/input-stats.stderr
Labels: T-compiler, S-waiting-on-bors

#141945 Remove `Path::is_ident`.
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_parse/src/parser/expr.rs
Labels: T-compiler, S-waiting-on-bors

#141957 Add missing `dyn` keywords to tests that do not test for them Part 2
  tests/ui/issues/auxiliary/issue-11224.rs
  tests/ui/issues/auxiliary/issue-13507.rs
  tests/ui/issues/auxiliary/issue-17662.rs
  tests/ui/issues/auxiliary/issue-2380.rs
  tests/ui/issues/auxiliary/issue-25467.rs
  tests/ui/issues/auxiliary/issue-34796-aux.rs
  tests/ui/issues/auxiliary/issue-38226-aux.rs
  tests/ui/issues/auxiliary/issue-8401.rs
  tests/ui/issues/issue-34373.rs
  tests/ui/issues/issue-34373.stderr
  tests/ui/lifetimes/auxiliary/lifetime_bound_will_change_warning_lib.rs
  tests/ui/parser/bounds-obj-parens.rs
  tests/ui/parser/trailing-plus-in-bounds.rs
  tests/ui/regions/region-object-lifetime-1.rs
  tests/ui/regions/region-object-lifetime-3.rs
Labels: T-compiler, S-waiting-on-bors

#141569 Replace ad-hoc ABI "adjustments" with an `AbiMap` to `CanonAbi`
  compiler/rustc_abi/src/canon_abi.rs
  compiler/rustc_abi/src/extern_abi.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_gcc/src/abi.rs
  compiler/rustc_codegen_gcc/src/int.rs
  compiler/rustc_codegen_llvm/src/abi.rs
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_monomorphize/src/mono_checks/abi_check.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/mod.rs
  compiler/rustc_smir/src/rustc_smir/convert/abi.rs
  compiler/rustc_target/src/callconv/arm.rs
  compiler/rustc_target/src/callconv/mod.rs
  compiler/rustc_target/src/json.rs
  compiler/rustc_target/src/spec/abi_map.rs
  compiler/rustc_target/src/spec/json.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_uefi.rs
  compiler/rustc_ty_utils/src/abi.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/shims/aarch64.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/unix/android/foreign_items.rs
  src/tools/miri/src/shims/unix/android/thread.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/unix/freebsd/foreign_items.rs
  src/tools/miri/src/shims/unix/linux/foreign_items.rs
  src/tools/miri/src/shims/unix/linux_like/syscall.rs
  src/tools/miri/src/shims/unix/macos/foreign_items.rs
  src/tools/miri/src/shims/unix/solarish/foreign_items.rs
  src/tools/miri/src/shims/wasi/foreign_items.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/src/shims/x86/aesni.rs
  src/tools/miri/src/shims/x86/avx.rs
  src/tools/miri/src/shims/x86/avx2.rs
  src/tools/miri/src/shims/x86/bmi.rs
  src/tools/miri/src/shims/x86/gfni.rs
  src/tools/miri/src/shims/x86/mod.rs
  src/tools/miri/src/shims/x86/sha.rs
  src/tools/miri/src/shims/x86/sse.rs
  src/tools/miri/src/shims/x86/sse2.rs
  src/tools/miri/src/shims/x86/sse3.rs
  src/tools/miri/src/shims/x86/sse41.rs
  src/tools/miri/src/shims/x86/sse42.rs
  src/tools/miri/src/shims/x86/ssse3.rs
  tests/ui/abi/sysv64-zst.stderr
Labels: A-LLVM, T-compiler, S-waiting-on-bors, A-target-specs, A-ABI, PG-exploit-mitigations, A-targets, O-apple

#141652 Rework `collect_and_apply` to not rely on size hint for optimization
  compiler/rustc_type_ir/src/interner.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#142000 bootstrap: don't symlink source dir into stage0 sysroot
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#142002 redesign stage 0 std follow-ups part2
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/mod.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#141893 remove `f16: From<u16>`
  library/core/src/convert/num.rs
Labels: S-waiting-on-bors, T-libs, F-f16_and_f128

#141939 exact_div: add tests
  library/coretests/tests/lib.rs
  library/coretests/tests/num/int_macros.rs
  library/coretests/tests/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#141959 Add more missing 2015 edition directives
  tests/ui/issues/issue-10806.rs
  tests/ui/issues/issue-12729.rs
  tests/ui/issues/issue-13105.rs
  tests/ui/issues/issue-13775.rs
  tests/ui/issues/issue-15774.rs
  tests/ui/issues/issue-34074.rs
  tests/ui/issues/issue-50571.fixed
  tests/ui/issues/issue-50571.rs
  tests/ui/issues/issue-50571.stderr
  tests/ui/issues/issue-86756.rs
  tests/ui/issues/issue-86756.stderr
  tests/ui/lexer/lex-bad-str-literal-as-char-3.rs
  tests/ui/lexer/lex-bad-str-literal-as-char-3.rust2015.stderr
  tests/ui/lexer/lex-bad-str-literal-as-char-3.rust2018.stderr
  tests/ui/lexer/lex-bad-str-literal-as-char-3.rust2021.stderr
  tests/ui/lifetimes/bare-trait-object-borrowck.rs
  tests/ui/lifetimes/bare-trait-object.rs
  tests/ui/lint/bare-trait-objects-path.rs
  tests/ui/lint/bare-trait-objects-path.stderr
  tests/ui/lint/lint-pre-expansion-extern-module.rs
  tests/ui/lint/lint-qualification.fixed
  tests/ui/lint/lint-qualification.rs
  tests/ui/lint/lint-qualification.stderr
  tests/ui/lint/use-redundant/use-redundant-prelude-rust-2015.rs
  tests/ui/lint/use-redundant/use-redundant-prelude-rust-2015.stderr
  tests/ui/macros/try-macro.rs
  tests/ui/parser/dyn-trait-compatibility.rs
  tests/ui/parser/dyn-trait-compatibility.stderr
  tests/ui/parser/extern-crate-async.rs
  tests/ui/parser/fn-field-parse-error-ice.rs
  tests/ui/parser/fn-field-parse-error-ice.stderr
  tests/ui/parser/issues/issue-114219.rs
  tests/ui/parser/issues/issue-114219.stderr
  tests/ui/parser/recover-hrtb-before-dyn-impl-kw.rs
  tests/ui/parser/recover-hrtb-before-dyn-impl-kw.stderr
  tests/ui/proc-macro/trait-fn-args-2015.rs
Labels: T-compiler, S-waiting-on-bors

#142007 Improve some `Visitor` comments.
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_middle/src/thir/visit.rs
Labels: T-compiler, S-waiting-on-bors

#141271 Streamline some attr parsing APIs
  compiler/rustc_attr_parsing/src/attributes/allow_unstable.rs
  compiler/rustc_attr_parsing/src/attributes/deprecation.rs
  compiler/rustc_attr_parsing/src/attributes/repr.rs
  compiler/rustc_attr_parsing/src/attributes/stability.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_attr_parsing/src/parser.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#141570 Fix incorrect eq_unspanned in TokenStream
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_parse/src/parser/tokenstream/tests.rs
  src/tools/clippy/clippy_utils/src/ast_utils/mod.rs
Labels: T-compiler, S-waiting-on-bors

#141924 Lightly tweak docs for BTree{Map,Set}::extract_if
  library/alloc/src/collections/btree/map.rs
  library/alloc/src/collections/btree/set.rs
Labels: S-waiting-on-bors, T-libs

#141309 x86 (32/64): go back to passing SIMD vectors by-ptr
  compiler/rustc_monomorphize/src/mono_checks/abi_check.rs
  compiler/rustc_target/src/callconv/mod.rs
  tests/codegen/abi-x86-sse.rs
  tests/codegen/simd-intrinsic/simd-intrinsic-transmute-array.rs
  tests/codegen/simd/packed-simd.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors

#141890 Add link to correct documentation in htmldocck.py
  src/etc/htmldocck.py
Labels: T-rustdoc, S-waiting-on-bors

#142005 Change `tag_field` to `FieldIdx` in `Variants::Multiple`
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/layout/coroutine.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_codegen_cranelift/src/discriminant.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/cpp_like.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/native.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/place.rs
  compiler/rustc_const_eval/src/interpret/discriminant.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_smir/src/rustc_smir/convert/abi.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_ty_utils/src/layout.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#142017 Fix incorrect use of "recommend" over "recommended"
  src/doc/rustc/src/codegen-options/index.md
Labels: S-waiting-on-bors

#142024 Don't refer to 'this tail expression' in expansion.
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/never_type/feature-gate-never_type_fallback.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#142025 Don't refer to 'local binding' in extern macro.
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  tests/ui/macros/return_from_external_macro.rs
  tests/ui/macros/return_from_external_macro.stderr
Labels: A-diagnostics, T-compiler, S-waiting-on-bors

#141932 Fix for async drop inside async gen fn
  compiler/rustc_mir_transform/src/coroutine/drop.rs
  tests/ui/async-await/async-drop/assign-incompatible-types.rs
Labels: T-compiler, S-waiting-on-bors

#141960 Use non-2015 edition paths in tests that do not test for their resolution
  tests/ui/issues/issue-20427.rs
  tests/ui/issues/issue-28983.rs
  tests/ui/issues/issue-31776.rs
  tests/ui/issues/issue-32797.rs
  tests/ui/issues/issue-41053.rs
  tests/ui/issues/issue-47364.rs
  tests/ui/issues/issue-50187.rs
  tests/ui/issues/issue-50761.rs
  tests/ui/issues/issue-6936.rs
  tests/ui/issues/issue-6936.stderr
  tests/ui/issues/issue-7663.rs
  tests/ui/lint/lint-directives-on-use-items-issue-10534.rs
  tests/ui/lint/lint-directives-on-use-items-issue-10534.stderr
  tests/ui/lint/lint-missing-doc.rs
  tests/ui/lint/lint-unnecessary-import-braces.rs
  tests/ui/lint/lint-unnecessary-import-braces.stderr
  tests/ui/lint/unused/lint-unused-imports.rs
  tests/ui/lint/unused/lint-unused-imports.stderr
  tests/ui/macros/macro-pub-matcher.rs
  tests/ui/macros/paths-in-macro-invocations.rs
  tests/ui/moves/issue-34721.fixed
  tests/ui/moves/issue-34721.rs
  tests/ui/namespace/namespaced-enum-glob-import-no-impls.rs
  tests/ui/pattern/issue-14221.rs
  tests/ui/pattern/issue-22546.rs
  tests/ui/pattern/issue-6449.rs
  tests/ui/pattern/missing_lifetime.rs
  tests/ui/pattern/usefulness/uninhabited.rs
  tests/ui/privacy/auxiliary/pub_use_mods_xcrate.rs
  tests/ui/privacy/crate-private-reexport.rs
  tests/ui/privacy/crate-private-reexport.stderr
  tests/ui/privacy/issue-30079.rs
  tests/ui/privacy/issue-30079.stderr
  tests/ui/privacy/issue-46209-private-enum-variant-reexport.rs
  tests/ui/privacy/legacy-ctor-visibility.rs
  tests/ui/privacy/privacy-in-paths.rs
  tests/ui/privacy/privacy-in-paths.stderr
  tests/ui/privacy/privacy-ufcs.rs
  tests/ui/privacy/privacy-ufcs.stderr
  tests/ui/privacy/privacy1.rs
  tests/ui/privacy/privacy1.stderr
  tests/ui/privacy/privacy2.rs
  tests/ui/privacy/privacy2.stderr
  tests/ui/privacy/private-inferred-type-1.rs
  tests/ui/privacy/restricted/lookup-ignores-private.rs
  tests/ui/privacy/restricted/private-in-public.rs
  tests/ui/privacy/restricted/struct-literal-field.rs
  tests/ui/proc-macro/crate-var.rs
  tests/ui/proc-macro/helper-attr-blocked-by-import.rs
  tests/ui/proc-macro/issue-50493.rs
  tests/ui/proc-macro/issue-50493.stderr
  tests/ui/proc-macro/issue-53481.rs
  tests/ui/pub/pub-reexport-priv-extern-crate.rs
  tests/ui/pub/pub-reexport-priv-extern-crate.stderr
  tests/ui/pub/pub-restricted.rs
  tests/ui/pub/pub-restricted.stderr
  tests/ui/recursion/auxiliary/recursive_reexports.rs
  tests/ui/recursion_limit/issue-40003.rs
Labels: T-compiler, S-waiting-on-bors

#141968 Run wfcheck in one big loop instead of per module
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_middle/src/query/mod.rs
  src/librustdoc/core.rs
  tests/ui/impl-trait/in-assoc-type-unconstrained.stderr
  tests/ui/impl-trait/recursive-type-alias-impl-trait-declaration-too-subtle.stderr
  tests/ui/privacy/privacy3.stderr
  tests/ui/type-alias-impl-trait/constrain_inputs.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#141969 Triagebot: Remove `assign.users_on_vacation`
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#141985 Ensure query keys are printed with reduced queries
  compiler/rustc_middle/src/dep_graph/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_query_system/src/dep_graph/dep_node.rs
  compiler/rustc_query_system/src/dep_graph/mod.rs
  tests/incremental/print-dep-node-cycle.rs
  tests/ui/transmutability/structs/repr/transmute_infinitely_recursive_type.stderr
Labels: T-compiler, S-waiting-on-bors, A-query-system

#141999 Visit the ident in `PreciseCapturingNonLifetimeArg`.
  compiler/rustc_hir/src/intravisit.rs
Labels: T-compiler, S-waiting-on-bors

#141777 Do not run PGO/BOLT in x64 Linux alt builds
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/ci/docker/host-x86_64/dist-x86_64-linux/dist-alt.sh
  src/ci/docker/host-x86_64/dist-x86_64-linux/dist.sh
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#141965 `tests/ui`: A New Order [3/N]
  tests/ui/break-diverging-value.rs
  tests/ui/cancel-clean-via-immediate-rvalue-ref.rs
  tests/ui/cannot-mutate-captured-non-mut-var.rs
  tests/ui/closures/closure-immut-capture-error.rs
  tests/ui/closures/closure-immut-capture-error.stderr
  tests/ui/codegen/rvalue-mut-ref-box-drop.rs
  tests/ui/loops/loop-break-never-type-mismatch.rs
  tests/ui/loops/loop-break-never-type-mismatch.stderr
  tests/ui/traits/clone-unwind-rc-cleanup.rs
  tests/ui/traits/copy-trait-implicit-copy.rs
Labels: T-compiler, S-waiting-on-bors

#140638 UnsafePinned: also include the effects of UnsafeCell
  library/core/src/pin/unsafe_pinned.rs
  src/tools/miri/tests/fail/async-shared-mutable.rs
  src/tools/miri/tests/fail/async-shared-mutable.stack.stderr
  src/tools/miri/tests/fail/async-shared-mutable.tree.stderr
  src/tools/miri/tests/pass/both_borrows/unsafe_pinned.rs
Labels: S-waiting-on-bors, T-libs, I-lang-radar

#141938 update rust offload bootstrap
  src/bootstrap/src/core/build_steps/llvm.rs
Labels: T-bootstrap, S-waiting-on-bors, F-gpu_offload

#141709 jsondocck: Refactor directive handling
  src/tools/jsondocck/src/config.rs
  src/tools/jsondocck/src/directive.rs
  src/tools/jsondocck/src/error.rs
  src/tools/jsondocck/src/main.rs
Labels: C-cleanup, T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#141974 `tests/ui`: A New Order [4/N]
  tests/ui/char.rs
  tests/ui/class-cast-to-trait.rs
  tests/ui/class-cast-to-trait.stderr
  tests/ui/class-method-missing.rs
  tests/ui/class-method-missing.stderr
  tests/ui/cleanup-rvalue-for-scope.rs
  tests/ui/drop/for-expr-temporary-drop-scope.rs
  tests/ui/enum/enum-drop-cast-error.rs
  tests/ui/enum/enum-drop-cast-error.stderr
  tests/ui/privacy/trait-object-method-error.rs
  tests/ui/privacy/trait-object-method-error.stderr
  tests/ui/traits/trait-impl-missing-method.rs
  tests/ui/traits/trait-impl-missing-method.stderr
Labels: T-compiler, S-waiting-on-bors

#141989 rustdoc-json-type: Depend on `serde` and `serde_derive` seperately
  Cargo.lock
  src/rustdoc-json-types/Cargo.toml
  src/rustdoc-json-types/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#142015 Report the actual item that evaluation failed for
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  tests/ui/consts/miri_unleashed/assoc_const.stderr
  tests/ui/consts/uninhabited-const-issue-61744.rs
  tests/ui/consts/uninhabited-const-issue-61744.stderr
Labels: T-compiler, S-waiting-on-bors

#142026 bootstrap: Fix file permissions when dereferencing symlinks
  src/bootstrap/src/lib.rs
Labels: T-bootstrap, S-waiting-on-bors

#142032 Fix parsing of frontmatters with inner hyphens
  compiler/rustc_lexer/src/lib.rs
  tests/ui/frontmatter/frontmatter-inner-hyphens-1.rs
  tests/ui/frontmatter/frontmatter-inner-hyphens-2.rs
Labels: T-compiler, S-waiting-on-bors

#140872 Make #[used(linker)] the default on ELF too
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
Labels: A-linkage, A-LLVM, A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors, F-used_with_arg

#141272 modularize the config module bootstrap
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/flags.rs
  src/bootstrap/src/core/config/mod.rs
  src/bootstrap/src/core/config/target_selection.rs
  src/bootstrap/src/core/config/tests.rs
  src/bootstrap/src/core/config/toml/build.rs
  src/bootstrap/src/core/config/toml/change_id.rs
  src/bootstrap/src/core/config/toml/dist.rs
  src/bootstrap/src/core/config/toml/gcc.rs
  src/bootstrap/src/core/config/toml/install.rs
  src/bootstrap/src/core/config/toml/llvm.rs
  src/bootstrap/src/core/config/toml/mod.rs
  src/bootstrap/src/core/config/toml/rust.rs
  src/bootstrap/src/core/config/toml/target.rs
  src/bootstrap/src/core/download.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#141774 Change per-module naked fn checks to happen during typeck instead
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/naked_functions.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#141800 bootstrap: build std sans leaf frame pointers
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#141471 unsafe keyword docs: emphasize that an unsafe fn in a trait does not get to choose its safety contract
  library/std/src/keyword_docs.rs
Labels: S-waiting-on-bors, T-libs

#142043 Verbose suggestion to make param `const`
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  tests/ui/const-generics/early/invalid-const-arguments.stderr
  tests/ui/const-generics/kind_mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#142086 duduplicate more AST visitor methods
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_passes/src/lang_items.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/def_collector.rs
Labels: T-compiler, S-waiting-on-bors

#142103 Update `InterpCx::project_field` to take `FieldIdx`
  compiler/rustc_abi/src/layout/ty.rs
  compiler/rustc_codegen_cranelift/src/inline_asm.rs
  compiler/rustc_codegen_cranelift/src/vtable.rs
  compiler/rustc_codegen_ssa/src/mir/block.rs
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_const_eval/src/interpret/cast.rs
  compiler/rustc_const_eval/src/interpret/discriminant.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_const_eval/src/interpret/visitor.rs
  compiler/rustc_const_eval/src/util/caller_location.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_typeck/src/inline_asm.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/jump_threading.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/shims/backtrace.rs
  src/tools/miri/src/shims/unix/env.rs
  src/tools/miri/src/shims/unix/freebsd/sync.rs
  src/tools/miri/src/shims/unix/linux_like/epoll.rs
  src/tools/miri/src/shims/x86/mod.rs
Labels: T-compiler, S-waiting-on-bors

#142105 remove extraneous text
  library/alloc/src/slice.rs
  library/alloc/src/str.rs
  library/core/src/num/nonzero.rs
Labels: S-waiting-on-bors, T-libs

#142112 fix typo
  compiler/rustc_middle/src/ty/typeck_results.rs
Labels: T-compiler, S-waiting-on-bors

#142113 Reduce confusion of some drop order tests
  tests/ui/drop/issue-2735-2.rs
  tests/ui/drop/issue-2735-3.rs
  tests/ui/drop/issue-2735.rs
  tests/ui/drop/issue-979.rs
Labels: T-compiler, S-waiting-on-bors

#142114 Compute number of digits instead of relying on constant value for u128 display code
  library/core/src/fmt/num.rs
Labels: S-waiting-on-bors, T-libs

#142118 rustc_lexer: typo fix + small cleanups
  compiler/rustc_lexer/src/cursor.rs
  compiler/rustc_lexer/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#140418 Reexport types from `c_size_t` in `std`
  library/std/src/ffi/mod.rs
Labels: S-waiting-on-bors, T-libs

#141603 Reduce `ast::ptr::P` to a typedef of `Box`
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/ptr.rs
  compiler/rustc_builtin_macros/src/deriving/mod.rs
  compiler/rustc_builtin_macros/src/pattern_type.rs
  compiler/rustc_builtin_macros/src/proc_macro_harness.rs
  compiler/rustc_builtin_macros/src/test.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/ty.rs
  src/tools/clippy/clippy_lints/src/unnested_or_patterns.rs
  src/tools/rustfmt/src/modules.rs
  src/tools/rustfmt/src/parse/macros/cfg_if.rs
Labels: T-compiler, S-waiting-on-bors

#141910 Fix `create-docs-artifacts.sh` with new bors
  src/ci/scripts/create-doc-artifacts.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#142045 Make obligation cause code suggestions verbose
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/async-await/debug-ice-attempted-to-add-with-overflow.stderr
  tests/ui/async-await/drop-track-bad-field-in-fru.stderr
  tests/ui/async-await/issue-101715.stderr
  tests/ui/async-await/unnecessary-await.stderr
  tests/ui/consts/const-blocks/fn-call-in-non-const.stderr
  tests/ui/consts/const-blocks/trait-error.stderr
  tests/ui/consts/const-fn-in-vec.stderr
  tests/ui/coroutine/unresolved-ct-var.stderr
  tests/ui/repeat-expr/copy-check-when-count-inferred-later.stderr
  tests/ui/type-alias-impl-trait/constrain_in_projection2.next.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#142076 Check documentation of bootstrap in PR CI
  src/ci/docker/host-x86_64/mingw-check-2/Dockerfile
Labels: A-testsuite, S-waiting-on-bors, T-infra

#142110 Add solaris targets to build-manifest
  src/tools/build-manifest/src/main.rs
Labels: S-waiting-on-bors

#142142 Rollup of 8 pull requests
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_middle/src/lib.rs
  compiler/rustc_middle/src/mir/mono.rs
  compiler/rustc_monomorphize/src/partitioning.rs
  compiler/rustc_target/src/spec/base/apple/mod.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios_macabi.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_ios_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_tvos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_tvos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_visionos_sim.rs
  compiler/rustc_target/src/spec/targets/aarch64_apple_watchos_sim.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_ios.rs
  compiler/rustc_target/src/spec/targets/arm64e_apple_tvos.rs
  compiler/rustc_target/src/spec/targets/i686_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/x86_64_apple_darwin.rs
  compiler/rustc_target/src/spec/targets/x86_64h_apple_darwin.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  library/coretests/tests/floats/mod.rs
  library/coretests/tests/num/mod.rs
  library/std/src/ffi/os_str.rs
  library/std/src/path.rs
  library/std/tests/path.rs
  src/ci/docker/host-x86_64/mingw-check-2/Dockerfile
  src/tools/build-manifest/src/main.rs
  tests/ui/async-await/debug-ice-attempted-to-add-with-overflow.stderr
  tests/ui/async-await/drop-track-bad-field-in-fru.stderr
  tests/ui/async-await/issue-101715.stderr
  tests/ui/async-await/unnecessary-await.stderr
  tests/ui/cast/cast-to-slice.stderr
  tests/ui/cast/cast-to-unsized-trait-object-suggestion.stderr
  tests/ui/coercion/issue-73886.stderr
  tests/ui/coercion/non-primitive-cast-135412.stderr
  tests/ui/consts/const-blocks/fn-call-in-non-const.stderr
  tests/ui/consts/const-blocks/trait-error.stderr
  tests/ui/consts/const-eval/const-eval-overflow-4b.stderr
  tests/ui/consts/const-fn-in-vec.stderr
  tests/ui/coroutine/unresolved-ct-var.stderr
  tests/ui/error-codes/E0604.stderr
  tests/ui/error-codes/E0620.stderr
  tests/ui/error-emitter/error-festival.stderr
  tests/ui/issues/issue-16048.stderr
  tests/ui/issues/issue-17441.stderr
  tests/ui/mismatched_types/cast-rfc0401.stderr
  tests/ui/nonscalar-cast.stderr
  tests/ui/repeat-expr/copy-check-when-count-inferred-later.stderr
  tests/ui/tag-variant-cast-non-nullary.stderr
  tests/ui/type-alias-impl-trait/constrain_in_projection2.next.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, O-apple

#137992 Stabilise `os_string_pathbuf_leak`
  library/std/src/ffi/os_str.rs
  library/std/src/path.rs
  library/std/tests/path.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#141857 coretests: move float tests from num to floats module and use a more flexible macro to generate them
  library/coretests/tests/floats/mod.rs
  library/coretests/tests/num/mod.rs
Labels: S-waiting-on-bors, T-libs

#142131 Make cast suggestions verbose
  compiler/rustc_hir_typeck/src/cast.rs
  tests/ui/cast/cast-to-slice.stderr
  tests/ui/cast/cast-to-unsized-trait-object-suggestion.stderr
  tests/ui/coercion/issue-73886.stderr
  tests/ui/coercion/non-primitive-cast-135412.stderr
  tests/ui/consts/const-eval/const-eval-overflow-4b.stderr
  tests/ui/error-codes/E0604.stderr
  tests/ui/error-codes/E0620.stderr
  tests/ui/error-emitter/error-festival.stderr
  tests/ui/issues/issue-16048.stderr
  tests/ui/issues/issue-17441.stderr
  tests/ui/mismatched_types/cast-rfc0401.stderr
  tests/ui/nonscalar-cast.stderr
  tests/ui/tag-variant-cast-non-nullary.stderr
Labels: T-compiler, S-waiting-on-bors

#141917 bootstrap: Remove `rustc_snapshot_libdir` from PATH in one more place
  src/bootstrap/src/core/build_steps/tool.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#141950 Move coroutine_by_move_body_def_id into the big check_crate body owner loop
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_interface/src/passes.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#142065 Stabilize `const_eq_ignore_ascii_case`
  library/core/src/slice/ascii.rs
  library/core/src/str/mod.rs
  src/tools/rust-analyzer/crates/ide-db/src/generated/lints.rs
Labels: S-waiting-on-bors, T-libs

#142140 compiler: Sort and doc ExternAbi variants
  compiler/rustc_abi/src/extern_abi.rs
Labels: T-compiler, S-waiting-on-bors

#142148 compiler: Treat ForceWarning as a Warning for diagnostic level
  compiler/rustc_errors/src/lib.rs
  tests/ui/lint/force-warn/ice-free.rs
  tests/ui/lint/force-warn/ice-free.stderr
Labels: T-compiler, S-waiting-on-bors

#142154 get rid of spurious cfg(bootstrap)
  library/core/src/iter/sources/generator.rs
Labels: S-waiting-on-bors, T-libs

#142088 Filter out universals and lifetimes from `stalled_vars`
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_trait_selection/src/solve/fulfill/derive_errors.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, WG-trait-system-refactor

#142095 Simplify and optimize `VecCache`'s `SlotIndex::from_index`
  compiler/rustc_data_structures/src/vec_cache.rs
  compiler/rustc_data_structures/src/vec_cache/tests.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#141700 Atomic intrinsics : use const generic ordering, part 2
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_codegen_ssa/src/mir/intrinsic.rs
  compiler/rustc_error_codes/src/error_codes/E0092.md
  compiler/rustc_error_codes/src/error_codes/E0093.md
  compiler/rustc_error_codes/src/error_codes/E0622.md
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/sync/atomic.rs
  library/panic_unwind/src/seh.rs
  src/tools/miri/src/intrinsics/atomic.rs
  tests/run-make/atomic-lock-free/atomic_lock_free.rs
  tests/ui/error-codes/E0092.rs
  tests/ui/error-codes/E0092.stderr
  tests/ui/feature-gates/feature-gated-feature-in-macro-arg.stderr
  tests/ui/intrinsics/auxiliary/cci_intrinsic.rs
  tests/ui/intrinsics/intrinsic-atomics-cc.rs
  tests/ui/intrinsics/intrinsic-atomics.rs
  tests/ui/intrinsics/intrinsic-inline-cc.rs
  tests/ui/intrinsics/non-integer-atomic.rs
  tests/ui/intrinsics/non-integer-atomic.stderr
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, A-query-system, A-run-make

#142162 UnsafePinned: update get() docs and signature to allow shared mutation
  library/core/src/cell.rs
  library/core/src/pin/unsafe_pinned.rs
Labels: S-waiting-on-bors, T-libs

#142183 Added test for 30904
  tests/ui/unboxed-closures/fn-traits-hrtb-coercion.rs
  tests/ui/unboxed-closures/fn-traits-hrtb-coercion.stderr
Labels: T-compiler, S-waiting-on-bors

#142210 Run `mingw-check-tidy` on auto builds
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#142193 add tests for pattern binding drop order edge cases
  tests/ui/drop/or-pattern-drop-order.rs
  tests/ui/dropck/eager-by-ref-binding-for-guards.rs
  tests/ui/dropck/eager-by-ref-binding-for-guards.stderr
  tests/ui/dropck/let-else-more-permissive.rs
  tests/ui/dropck/let-else-more-permissive.stderr
Labels: T-compiler, S-waiting-on-bors

#142242 Rollup of 7 pull requests
  .github/workflows/ci.yml
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_ty_utils/src/ty.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/std/src/num/f128.rs
  library/std/src/num/f16.rs
  library/std/src/os/android/net.rs
  library/std/src/os/linux/net.rs
  library/std/src/os/net/linux_ext/mod.rs
  library/std/src/os/net/linux_ext/tcp.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/tests.rs
  src/ci/citool/src/jobs.rs
  src/ci/citool/src/main.rs
  src/ci/citool/tests/jobs.rs
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/src/SUMMARY.md
  src/doc/rustc-dev-guide/src/building/bootstrapping/debugging-bootstrap.md
  src/doc/rustc-dev-guide/src/getting-started.md
  src/doc/rustc-dev-guide/src/notification-groups/about.md
  src/doc/rustc-dev-guide/src/notification-groups/cleanup-crew.md
  src/doc/rustc-dev-guide/src/notification-groups/llvm.md
  src/doc/rustc-dev-guide/src/rustdoc-internals.md
  src/doc/rustc-dev-guide/src/rustdoc-internals/rustdoc-gui-test-suite.md
  src/doc/rustc-dev-guide/src/rustdoc-internals/rustdoc-json-test-suite.md
  src/doc/rustc-dev-guide/src/rustdoc-internals/rustdoc-test-suite.md
  src/doc/rustc-dev-guide/src/rustdoc.md
  src/doc/rustc-dev-guide/src/tests/compiletest.md
  src/doc/rustc-dev-guide/src/tests/directives.md
  src/doc/rustc-dev-guide/src/tests/ui.md
  src/doc/rustc-dev-guide/triagebot.toml
  tests/ui/drop/or-pattern-drop-order.rs
  tests/ui/dropck/eager-by-ref-binding-for-guards.rs
  tests/ui/dropck/eager-by-ref-binding-for-guards.stderr
  tests/ui/dropck/let-else-more-permissive.rs
  tests/ui/dropck/let-else-more-permissive.stderr
Labels: A-testsuite, O-linux, O-android, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, A-rustc-dev-guide

#142192 De-duplicate f16 & f128 doctest attributes
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/std/src/num/f128.rs
  library/std/src/num/f16.rs
Labels: S-waiting-on-bors, T-libs

#142222 Dont make `ObligationCtxt`s with diagnostics unnecessarily
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_ty_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#142228 rustc-dev-guide subtree update
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/src/SUMMARY.md
  src/doc/rustc-dev-guide/src/building/bootstrapping/debugging-bootstrap.md
  src/doc/rustc-dev-guide/src/getting-started.md
  src/doc/rustc-dev-guide/src/notification-groups/about.md
  src/doc/rustc-dev-guide/src/notification-groups/cleanup-crew.md
  src/doc/rustc-dev-guide/src/notification-groups/llvm.md
  src/doc/rustc-dev-guide/src/rustdoc-internals.md
  src/doc/rustc-dev-guide/src/rustdoc-internals/rustdoc-gui-test-suite.md
  src/doc/rustc-dev-guide/src/rustdoc-internals/rustdoc-json-test-suite.md
  src/doc/rustc-dev-guide/src/rustdoc-internals/rustdoc-test-suite.md
  src/doc/rustc-dev-guide/src/rustdoc.md
  src/doc/rustc-dev-guide/src/tests/compiletest.md
  src/doc/rustc-dev-guide/src/tests/directives.md
  src/doc/rustc-dev-guide/src/tests/ui.md
  src/doc/rustc-dev-guide/triagebot.toml
Labels: S-waiting-on-bors, A-rustc-dev-guide

#142231 Run `calculate_matrix` job on `master` to cache citool builds
  .github/workflows/ci.yml
  src/ci/citool/src/jobs.rs
  src/ci/citool/src/main.rs
  src/ci/citool/tests/jobs.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra

#142232 add `Cargo.lock` to CI-rustc allowed list for non-CI env
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#141993 Use the in-tree `compiler-builtins` for the sysroot
  Cargo.lock
  compiler/rustc_codegen_gcc/build_system/build_sysroot/Cargo.toml
  library/Cargo.lock
  library/Cargo.toml
  library/alloc/Cargo.toml
  library/compiler-builtins/compiler-builtins/Cargo.toml
  library/compiler-builtins/compiler-builtins/build.rs
  library/compiler-builtins/compiler-builtins/src/aarch64_linux.rs
  library/compiler-builtins/compiler-builtins/src/arm_linux.rs
  library/compiler-builtins/compiler-builtins/src/mem/x86_64.rs
  library/panic_abort/Cargo.toml
  library/panic_unwind/Cargo.toml
  library/rustc-std-workspace-core/Cargo.toml
  library/rustc-std-workspace-core/lib.rs
  library/std/Cargo.toml
  library/unwind/Cargo.toml
  src/tools/miri/cargo-miri/Cargo.lock
  src/tools/miri/cargo-miri/Cargo.toml
  tests/run-make/linker-warning/short-error.txt
Labels: T-bootstrap, S-waiting-on-bors, T-libs, rla-silenced, A-run-make, A-tidy, A-compiler-builtins

#140767 Stabilize `sha512`, `sm3` and `sm4` for x86
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_target/src/target_features.rs
  library/core/src/lib.rs
  tests/ui/feature-gates/feature-gate-sha512_sm_x86.rs
  tests/ui/feature-gates/feature-gate-sha512_sm_x86.stderr
Labels: O-x86_64, T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, A-target-feature, O-x86_32

#141001 Make NonZero<char> possible
  library/core/src/num/niche_types.rs
  library/core/src/num/nonzero.rs
  library/coretests/tests/num/mod.rs
  library/coretests/tests/num/niche_types.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#142208 Always consider `const _` items as live for dead code analysis
  compiler/rustc_passes/src/dead.rs
  tests/ui/lint/dead-code/const-underscore-issue-142104.rs
Labels: T-compiler, S-waiting-on-bors

#142238 stabilize nonnull_provenance
  library/alloc/src/lib.rs
  library/alloctests/lib.rs
  library/core/src/ptr/non_null.rs
  library/std/src/lib.rs
Labels: S-waiting-on-bors, T-libs

#142253 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_codegen_gcc/build_system/build_sysroot/Cargo.toml
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_target/src/target_features.rs
  library/Cargo.lock
  library/Cargo.toml
  library/alloc/Cargo.toml
  library/alloc/src/lib.rs
  library/alloctests/lib.rs
  library/compiler-builtins/compiler-builtins/Cargo.toml
  library/compiler-builtins/compiler-builtins/build.rs
  library/compiler-builtins/compiler-builtins/src/aarch64_linux.rs
  library/compiler-builtins/compiler-builtins/src/arm_linux.rs
  library/compiler-builtins/compiler-builtins/src/mem/x86_64.rs
  library/core/src/lib.rs
  library/core/src/num/niche_types.rs
  library/core/src/num/nonzero.rs
  library/core/src/ptr/non_null.rs
  library/coretests/tests/num/mod.rs
  library/coretests/tests/num/niche_types.rs
  library/panic_abort/Cargo.toml
  library/panic_unwind/Cargo.toml
  library/rustc-std-workspace-core/Cargo.toml
  library/rustc-std-workspace-core/lib.rs
  library/std/Cargo.toml
  library/std/src/lib.rs
  library/unwind/Cargo.toml
  src/tools/miri/cargo-miri/Cargo.lock
  src/tools/miri/cargo-miri/Cargo.toml
  tests/run-make/linker-warning/short-error.txt
  tests/ui/feature-gates/feature-gate-sha512_sm_x86.rs
  tests/ui/feature-gates/feature-gate-sha512_sm_x86.stderr
  tests/ui/lint/dead-code/const-underscore-issue-142104.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-run-make, A-compiler-builtins

#141485 mir-opt: Do not create storage marks in EarlyOtherwiseBranch
  compiler/rustc_mir_transform/src/early_otherwise_branch.rs
  tests/mir-opt/early_otherwise_branch.opt3.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt4.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.opt5.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch.rs
  tests/mir-opt/early_otherwise_branch.target_self.EarlyOtherwiseBranch.diff
  tests/mir-opt/early_otherwise_branch_3_element_tuple.opt2.EarlyOtherwiseBranch.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#142271 compiler: fn ptrs should hit different lints based on ABI
  compiler/rustc_hir_analysis/src/check/check.rs
  tests/ui/abi/unsupported.aarch64.stderr
  tests/ui/abi/unsupported.arm.stderr
  tests/ui/abi/unsupported.i686.stderr
  tests/ui/abi/unsupported.riscv32.stderr
  tests/ui/abi/unsupported.riscv64.stderr
  tests/ui/abi/unsupported.rs
  tests/ui/abi/unsupported.x64.stderr
  tests/ui/abi/unsupported.x64_win.stderr
Labels: T-compiler, S-waiting-on-bors

#140372 Exhaustively handle parsed attributes in CheckAttr
  compiler/rustc_attr_data_structures/src/attributes.rs
  compiler/rustc_passes/src/check_attr.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#141883 Remove check_mod_loops query and run the checks per-body instead
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/loops.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_passes/src/lib.rs
  tests/ui/async-await/async-block-control-flow-static-semantics.stderr
  tests/ui/inline-const/break-inside-inline-const-issue-128604.rs
  tests/ui/inline-const/break-inside-inline-const-issue-128604.stderr
  tests/ui/inline-const/cross-const-control-flow-125846.stderr
  tests/ui/loops/issue-43162.stderr
  tests/ui/track-diagnostics/track.stderr
  tests/ui/typeck/issue-114529-illegal-break-with-value.stderr
  tests/ui/unsafe/break-inside-unsafe-block-issue-128604.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#142090 Make root vars more stable
  compiler/rustc_infer/src/infer/type_variable.rs
  compiler/rustc_infer/src/infer/unify_key.rs
  compiler/rustc_type_ir/src/ty_kind.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#141942 Implement representation options to smir
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/convert/abi.rs
  compiler/rustc_smir/src/stable_mir/abi.rs
  compiler/rustc_smir/src/stable_mir/compiler_interface.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  tests/ui-fulldeps/stable-mir/check_abi.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#142344 Revert "add `Cargo.lock` to CI-rustc allowed list for non-CI env"
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/tests.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#142324 Remove unneeded `FunctionCx` from some codegen methods
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
Labels: T-compiler, S-waiting-on-bors

#142328 feat: Add `bit_width` for unsigned integer types
  library/core/src/num/uint_macros.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#142358 Rollup of 9 pull requests
  .github/workflows/ci.yml
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/errors.rs
  compiler/rustc_ty_utils/src/ty.rs
  library/core/src/num/uint_macros.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/num/uint_macros.rs
  src/bootstrap/src/core/config/toml/target.rs
  src/build_helper/src/lib.rs
  src/build_helper/src/targets.rs
  src/doc/rustc-dev-guide/src/tests/directives.md
  src/doc/rustc/src/platform-support/loongarch-none.md
  src/tools/compiletest/src/directive-list.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/compiletest/src/header/tests.rs
  tests/debuginfo/type-names.rs
  tests/incremental/hashes/trait_defs.rs
  tests/run-make/cpp-global-destructors/rmake.rs
  tests/run-make/export-executable-symbols/rmake.rs
  tests/run-make/incr-foreign-head-span/rmake.rs
  tests/run-make/incr-prev-body-beyond-eof/rmake.rs
  tests/run-make/incr-test-moved-file/rmake.rs
  tests/run-make/moved-src-dir-fingerprint-ice/rmake.rs
  tests/rustdoc-json/fn_pointer/abi.rs
  tests/rustdoc-json/fns/abi.rs
  tests/rustdoc-json/methods/abi.rs
  tests/rustdoc-json/vectorcall.rs
  tests/ui/async-await/async-closures/without-precise-captures-we-are-powerless.stderr
  tests/ui/async-await/issues/issue-63388-1.stderr
  tests/ui/impl-trait/must_outlive_least_region_or_bound.stderr
  tests/ui/issues/issue-13058.stderr
  tests/ui/issues/issue-14285.stderr
  tests/ui/issues/issue-15034.stderr
  tests/ui/issues/issue-3154.stderr
  tests/ui/issues/issue-40288-2.stderr
  tests/ui/lifetimes/lifetime-errors/42701_one_named_and_one_anonymous.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-early-bound-in-struct.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-2.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-3.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-using-impl-2.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-using-impl-3.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else.stderr
  tests/ui/lifetimes/lifetime-errors/ex2a-push-one-existing-name-2.stderr
  tests/ui/lifetimes/lifetime-errors/ex2a-push-one-existing-name-early-bound.stderr
  tests/ui/lifetimes/lifetime-errors/ex2a-push-one-existing-name.stderr
  tests/ui/lifetimes/noisy-follow-up-erro.stderr
  tests/ui/object-lifetime/object-lifetime-default-from-box-error.stderr
  tests/ui/regions/regions-glb-free-free.stderr
  tests/ui/regions/regions-infer-at-fn-not-param.stderr
  tests/ui/suggestions/lifetimes/missing-lifetimes-in-signature.stderr
  tests/ui/variance/variance-trait-matching.stderr
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, A-rustdoc-json, A-compiletest, A-run-make, A-rustc-dev-guide

#141967 Configure bootstrap backport nominations through triagebot
  triagebot.toml
Labels: T-bootstrap, S-waiting-on-bors, A-meta

#142042 Make E0621 missing lifetime suggestion verbose
  compiler/rustc_trait_selection/src/errors.rs
  tests/ui/async-await/async-closures/without-precise-captures-we-are-powerless.stderr
  tests/ui/async-await/issues/issue-63388-1.stderr
  tests/ui/impl-trait/must_outlive_least_region_or_bound.stderr
  tests/ui/issues/issue-13058.stderr
  tests/ui/issues/issue-14285.stderr
  tests/ui/issues/issue-15034.stderr
  tests/ui/issues/issue-3154.stderr
  tests/ui/issues/issue-40288-2.stderr
  tests/ui/lifetimes/lifetime-errors/42701_one_named_and_one_anonymous.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-early-bound-in-struct.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-2.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-3.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-using-impl-2.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else-using-impl-3.stderr
  tests/ui/lifetimes/lifetime-errors/ex1-return-one-existing-name-if-else.stderr
  tests/ui/lifetimes/lifetime-errors/ex2a-push-one-existing-name-2.stderr
  tests/ui/lifetimes/lifetime-errors/ex2a-push-one-existing-name-early-bound.stderr
  tests/ui/lifetimes/lifetime-errors/ex2a-push-one-existing-name.stderr
  tests/ui/lifetimes/noisy-follow-up-erro.stderr
  tests/ui/object-lifetime/object-lifetime-default-from-box-error.stderr
  tests/ui/regions/regions-glb-free-free.stderr
  tests/ui/regions/regions-infer-at-fn-not-param.stderr
  tests/ui/suggestions/lifetimes/missing-lifetimes-in-signature.stderr
  tests/ui/variance/variance-trait-matching.stderr
Labels: T-compiler, S-waiting-on-bors

#142272 tests: Change ABIs in tests to more future-resilient ones
  tests/debuginfo/type-names.rs
  tests/incremental/hashes/trait_defs.rs
  tests/rustdoc-json/fn_pointer/abi.rs
  tests/rustdoc-json/fns/abi.rs
  tests/rustdoc-json/methods/abi.rs
  tests/rustdoc-json/vectorcall.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-rustdoc-json

#142282 Only run `citool` tests on the `auto` branch
  .github/workflows/ci.yml
Labels: S-waiting-on-bors

#142297 Implement `//@ needs-target-std` compiletest directive
  src/bootstrap/src/core/config/toml/target.rs
  src/build_helper/src/lib.rs
  src/build_helper/src/targets.rs
  src/doc/rustc-dev-guide/src/tests/directives.md
  src/tools/compiletest/src/directive-list.rs
  src/tools/compiletest/src/header/needs.rs
  src/tools/compiletest/src/header/tests.rs
  tests/run-make/cpp-global-destructors/rmake.rs
  tests/run-make/export-executable-symbols/rmake.rs
  tests/run-make/incr-foreign-head-span/rmake.rs
  tests/run-make/incr-prev-body-beyond-eof/rmake.rs
  tests/run-make/incr-test-moved-file/rmake.rs
  tests/run-make/moved-src-dir-fingerprint-ice/rmake.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-compiletest, A-run-make, A-rustc-dev-guide

#142298 Make loongarch-none target maintainers more easily pingable
  src/doc/rustc/src/platform-support/loongarch-none.md
Labels: S-waiting-on-bors

#142306 Dont unwrap and re-wrap typing envs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_ty_utils/src/ty.rs
Labels: T-compiler, S-waiting-on-bors

#136594 Faster fmt::Display of 128-bit integers, without unsafe pointer
  library/core/src/fmt/num.rs
  library/coretests/tests/fmt/num.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#142040 transmutability: shift abstraction boundary
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_transmute/src/layout/dfa.rs
  compiler/rustc_transmute/src/layout/mod.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_transmute/src/layout/tree/tests.rs
  compiler/rustc_transmute/src/lib.rs
  compiler/rustc_transmute/src/maybe_transmutable/mod.rs
  compiler/rustc_transmute/src/maybe_transmutable/query_context.rs
  compiler/rustc_transmute/src/maybe_transmutable/tests.rs
  tests/ui/transmutability/references/reject_extension.stderr
  tests/ui/transmutability/references/unit-to-u8.stderr
  tests/ui/transmutability/references/unsafecell.rs
  tests/ui/transmutability/references/unsafecell.stderr
Labels: T-compiler, S-waiting-on-bors

#142157 rustc_resolve: Improve `resolve_const_param_in_non_trivial_anon_const` wording
  compiler/rustc_resolve/messages.ftl
  tests/ui/const-generics/const-arg-in-const-arg.min.stderr
  tests/ui/const-generics/defaults/complex-generic-default-expr.min.stderr
  tests/ui/const-generics/early/const_arg_trivial_macro_expansion-4.stderr
  tests/ui/const-generics/early/macro_rules-braces.stderr
  tests/ui/const-generics/early/trivial-const-arg-macro-nested-braces-2.stderr
  tests/ui/const-generics/early/trivial-const-arg-macro-nested-braces.stderr
  tests/ui/const-generics/early/trivial-const-arg-nested-braces.stderr
  tests/ui/const-generics/generic_const_exprs/array-size-in-generic-struct-param.min.stderr
  tests/ui/const-generics/generic_const_exprs/bad-multiply.stderr
  tests/ui/const-generics/generic_const_exprs/feature-gate-generic_const_exprs.stderr
  tests/ui/const-generics/generic_const_exprs/issue-72787.min.stderr
  tests/ui/const-generics/generic_const_exprs/issue-72819-generic-in-const-eval.min.stderr
  tests/ui/const-generics/generic_const_exprs/trivial-anon-const-use-cases.full.stderr
  tests/ui/const-generics/generic_const_exprs/trivial-anon-const-use-cases.min.stderr
  tests/ui/const-generics/generic_const_exprs/trivial-anon-const-use-cases.rs
  tests/ui/const-generics/issues/issue-68366.min.stderr
  tests/ui/const-generics/issues/issue-76701-ty-param-in-const.stderr
  tests/ui/const-generics/issues/issue-80375.stderr
  tests/ui/const-generics/legacy-const-generics-bad.stderr
  tests/ui/const-generics/min_const_generics/complex-expression.stderr
  tests/ui/const-generics/repeat_expr_hack_gives_right_generics.stderr
Labels: T-compiler, S-waiting-on-bors

#142217 `tests/ui`: A New Order [10/N]
  tests/ui/box/empty-alloc-deref-rvalue.rs
  tests/ui/derives/copy-drop-mutually-exclusive.rs
  tests/ui/derives/copy-drop-mutually-exclusive.stderr
  tests/ui/empty-allocation-rvalue-non-null.rs
  tests/ui/empty-type-parameter-list.rs
  tests/ui/error-should-say-copy-not-pod.rs
  tests/ui/error-should-say-copy-not-pod.stderr
  tests/ui/explicit-i-suffix.rs
  tests/ui/ext-nonexistent.rs
  tests/ui/ext-nonexistent.stderr
  tests/ui/fact.rs
  tests/ui/generics/empty-generic-brackets-equiv.rs
  tests/ui/generics/empty-generic-brackets-equiv.stderr
  tests/ui/macros/nested-macro-expansion.rs
  tests/ui/resolve/nonexistent-macro.rs
  tests/ui/resolve/nonexistent-macro.stderr
  tests/ui/stability-attribute/auxiliary/pub-and-stability.rs
  tests/ui/stability-attribute/stability-privacy-interaction.rs
  tests/ui/stability-attribute/stability-privacy-interaction.stderr
Labels: T-compiler, S-waiting-on-bors

#142219 `tests/ui`: A New Order [11/N]
  tests/ui/cfg/cfg-false-use-item.rs
  tests/ui/drop/explicit-drop-call-error.fixed
  tests/ui/drop/explicit-drop-call-error.rs
  tests/ui/drop/explicit-drop-call-error.stderr
  tests/ui/fmt/format-macro-no-std.rs
  tests/ui/fun-indirect-call.rs
  tests/ui/future-incompatible-lint-group.rs
  tests/ui/global-scope.rs
  tests/ui/hello.rs
  tests/ui/include-macros/parent_dir.rs
  tests/ui/include-macros/parent_dir.stderr
  tests/ui/lint/future-incompatible-lint-group.rs
  tests/ui/lint/future-incompatible-lint-group.stderr
  tests/ui/methods/inherent-methods-same-name.rs
  tests/ui/modules/impl-cross-module.rs
  tests/ui/resolve/global-scope-resolution.rs
Labels: T-compiler, S-waiting-on-bors

#142261 use correct edition when warning for unsafe attributes
  compiler/rustc_parse/src/validate_attr.rs
  tests/ui/editions/unsafe-attr-edition-span.e2024.stderr
  tests/ui/editions/unsafe-attr-edition-span.rs
Labels: T-compiler, S-waiting-on-bors
