Repository rust-lang/rust, pull requests merged in 2025-07, with the labels that each got.

#143140 give Pointer::into_parts a more scary name and offer a safer alternative
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_mir_transform/src/gvn.rs
  src/tools/miri/src/alloc_addresses/mod.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/provenance_gc.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/unix/mem.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#143175 Make combining LLD with external LLVM config a hard error
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/tools/opt-dist/src/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#143180 Use `tracing-forest` instead of `tracing-tree` for bootstrap tracing
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/src/bin/main.rs
Labels: T-bootstrap, S-waiting-on-bors

#143223 Improve macro stats printing
  compiler/rustc_interface/src/passes.rs
  tests/ui/stats/macro-stats.rs
  tests/ui/stats/macro-stats.stderr
Labels: T-compiler, S-waiting-on-bors

#143228 Handle build scripts better in `-Zmacro-stats` output.
  compiler/rustc_interface/src/passes.rs
Labels: T-compiler, S-waiting-on-bors

#143229 [COMPILETEST-UNTANGLE 1/N] Move some some early config checks to the lib and move the compiletest binary
  src/tools/compiletest/Cargo.toml
  src/tools/compiletest/src/bin/main.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/main.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#143013 Split exported_symbols for generic and non-generic symbols
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_codegen_ssa/src/back/symbol_export.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/helpers.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#143269 bootstrap: make comment more clear
  src/bootstrap/src/core/build_steps/tool.rs
Labels: T-bootstrap, S-waiting-on-bors

#142978 Add new self-profiling event to cheaply aggregate query cache hit counts
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_query_impl/src/profiling_support.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system

#143194 fix bitcast of single-element SIMD vectors
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  tests/codegen/transmute-scalar.rs
Labels: T-compiler, S-waiting-on-bors

#143231 Suggest use another lifetime specifier instead of underscore lifetime
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  tests/ui/error-codes/E0637.stderr
  tests/ui/underscore-lifetime/in-binder.stderr
  tests/ui/underscore-lifetime/underscore-lifetime-binders.stderr
Labels: T-compiler, S-waiting-on-bors

#143232 [COMPILETEST-UNTANGLE 3/N] Use "directives" consistently within compiletest
  src/tools/compiletest/src/directive-list.rs
  src/tools/compiletest/src/directives.rs
  src/tools/compiletest/src/directives/auxiliary.rs
  src/tools/compiletest/src/directives/cfg.rs
  src/tools/compiletest/src/directives/needs.rs
  src/tools/compiletest/src/directives/test-auxillary/error_annotation.rs
  src/tools/compiletest/src/directives/test-auxillary/known_directive.rs
  src/tools/compiletest/src/directives/test-auxillary/not_rs.Makefile
  src/tools/compiletest/src/directives/test-auxillary/unknown_directive.rs
  src/tools/compiletest/src/directives/tests.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/debuginfo.rs
  src/tools/compiletest/src/runtest/ui.rs
  src/tools/rustdoc-gui-test/src/main.rs
Labels: A-testsuite, T-rustdoc, T-bootstrap, S-waiting-on-bors, A-compiletest

#143258 Don't recompute `DisambiguatorState` for every RPITIT in trait definition
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_ty_utils/src/assoc.rs
Labels: T-compiler, S-waiting-on-bors

#143274 ci: support optional jobs
  src/ci/citool/src/jobs.rs
  src/ci/citool/src/jobs/tests.rs
  src/ci/citool/tests/test-jobs.yml
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#143337 Rollup of 9 pull requests
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_openbsd.rs
  compiler/rustc_target/src/spec/targets/powerpc64_wrs_vxworks.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_linux_musl.rs
  compiler/rustc_ty_utils/src/assoc.rs
  library/alloc/src/vec/mod.rs
  library/std/src/fs.rs
  library/std/src/path.rs
  src/ci/citool/src/jobs.rs
  src/ci/citool/src/jobs/tests.rs
  src/ci/citool/tests/test-jobs.yml
  src/ci/docker/host-aarch64/aarch64-gnu/Dockerfile
  src/ci/github-actions/jobs.yml
  src/tools/compiletest/src/directive-list.rs
  src/tools/compiletest/src/directives.rs
  src/tools/compiletest/src/directives/auxiliary.rs
  src/tools/compiletest/src/directives/cfg.rs
  src/tools/compiletest/src/directives/needs.rs
  src/tools/compiletest/src/directives/test-auxillary/error_annotation.rs
  src/tools/compiletest/src/directives/test-auxillary/known_directive.rs
  src/tools/compiletest/src/directives/test-auxillary/not_rs.Makefile
  src/tools/compiletest/src/directives/test-auxillary/unknown_directive.rs
  src/tools/compiletest/src/directives/tests.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/debuginfo.rs
  src/tools/compiletest/src/runtest/ui.rs
  src/tools/rustdoc-gui-test/src/main.rs
  tests/codegen/transmute-scalar.rs
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/error-codes/E0637.stderr
  tests/ui/underscore-lifetime/in-binder.stderr
  tests/ui/underscore-lifetime/underscore-lifetime-binders.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, A-compiletest

#141847 Explain `TOCTOU` on the top of `std::fs`, and reference it in functions
  library/std/src/fs.rs
  library/std/src/path.rs
Labels: S-waiting-on-bors, T-libs

#142138 Add `Vec::into_chunks`
  library/alloc/src/vec/mod.rs
Labels: S-waiting-on-bors, T-libs

#142321 Expose elf abi on ppc64 targets
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_linux_musl.rs
  compiler/rustc_target/src/spec/targets/powerpc64_unknown_openbsd.rs
  compiler/rustc_target/src/spec/targets/powerpc64_wrs_vxworks.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_freebsd.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_linux_gnu.rs
  compiler/rustc_target/src/spec/targets/powerpc64le_unknown_linux_musl.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors, S-waiting-on-MCP

#142886 ci: aarch64-gnu: Stop skipping `panic_abort_doc_tests`
  src/ci/docker/host-aarch64/aarch64-gnu/Dockerfile
Labels: A-testsuite, S-waiting-on-bors, T-infra

#138340 Remove some unsized tuple impls now that we don't support unsizing tuples anymore
  library/core/src/fmt/mod.rs
  library/core/src/hash/mod.rs
  library/core/src/ops/range.rs
  library/core/src/tuple.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period

#141219 Change `{Box,Arc,Rc,Weak}::into_raw` to only work with `A = Global`
  library/alloc/src/boxed.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/alloc/src/vec/mod.rs
Labels: A-allocators, A-MIR, S-waiting-on-bors, A-miri, T-libs, A-box

#142212 bootstrap: validate `rust.codegen-backends` & `target.<triple>.codegen-backends`
  src/bootstrap/src/core/config/toml/rust.rs
  src/bootstrap/src/core/config/toml/target.rs
Labels: T-bootstrap, S-waiting-on-bors

#142237 Detect more cases of unused_parens around types
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  library/core/src/error.rs
  tests/ui/lint/lint-unnecessary-parens.fixed
  tests/ui/lint/lint-unnecessary-parens.rs
  tests/ui/lint/lint-unnecessary-parens.stderr
  tests/ui/lint/unused/issue-105061-should-lint.rs
  tests/ui/lint/unused/issue-105061-should-lint.stderr
  tests/ui/lint/unused/unused-parens-trait-obj.edition2018.fixed
  tests/ui/lint/unused/unused-parens-trait-obj.edition2018.stderr
  tests/ui/lint/unused/unused-parens-trait-obj.rs
  tests/ui/sanitizer/cfi/closures.rs
  tests/ui/traits/dyn-trait.rs
  tests/ui/traits/impl-2.rs
Labels: T-compiler, S-waiting-on-bors, T-libs, PG-exploit-mitigations

#142964 Attribute rework: a parser for single attributes without arguments
  compiler/rustc_attr_parsing/src/attributes/codegen_attrs.rs
  compiler/rustc_attr_parsing/src/attributes/lint_helpers.rs
  compiler/rustc_attr_parsing/src/attributes/loop_match.rs
  compiler/rustc_attr_parsing/src/attributes/mod.rs
  compiler/rustc_attr_parsing/src/attributes/semantics.rs
  compiler/rustc_attr_parsing/src/attributes/stability.rs
  compiler/rustc_attr_parsing/src/context.rs
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143070 Rewrite `macro_rules!` parser to not use the MBE engine itself
  compiler/rustc_expand/src/mbe/diagnostics.rs
  compiler/rustc_expand/src/mbe/macro_check.rs
  compiler/rustc_expand/src/mbe/macro_parser.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_span/src/symbol.rs
  tests/ui/attributes/crate-type-macro-empty.rs
  tests/ui/attributes/crate-type-macro-empty.stderr
  tests/ui/macros/missing-semi.stderr
  tests/ui/parser/issues/issue-7970b.rs
  tests/ui/parser/issues/issue-7970b.stderr
  tests/ui/parser/macros-no-semicolon-items.rs
  tests/ui/parser/macros-no-semicolon-items.stderr
Labels: T-compiler, S-waiting-on-bors, perf-regression

#143235 Assemble const bounds via normal item bounds in old solver too
  compiler/rustc_trait_selection/src/traits/effects.rs
  tests/ui/traits/const-traits/const-via-item-bound.rs
Labels: T-compiler, S-waiting-on-bors

#143261 Feed `explicit_predicates_of` instead of `predicates_of`
  compiler/rustc_macros/src/query.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#143276 loop match: handle opaque patterns
  compiler/rustc_middle/src/thir.rs
  compiler/rustc_middle/src/thir/visit.rs
  compiler/rustc_mir_build/src/builder/expr/into.rs
  compiler/rustc_mir_build/src/builder/matches/mod.rs
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/check_match.rs
  compiler/rustc_mir_build/src/thir/print.rs
  tests/ui/loop-match/invalid.rs
  tests/ui/loop-match/invalid.stderr
  tests/ui/thir-print/thir-tree-loop-match.stdout
Labels: T-compiler, S-waiting-on-bors

#143306 Add `track_caller` attributes to trace origin of Clippy lints
  compiler/rustc_lint/src/context.rs
  src/tools/clippy/clippy_utils/src/diagnostics.rs
  src/tools/clippy/tests/ui/track-diagnostics-clippy.rs
  src/tools/clippy/tests/ui/track-diagnostics-clippy.stderr
Labels: T-compiler, S-waiting-on-bors

#131923 Derive `Copy` and `Hash` for `IntErrorKind`
  library/core/src/num/error.rs
Labels: T-libs-api, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, Libs-Small

#143321 byte-addresses memory -> byte-addressed memory
  library/core/src/ffi/c_char.md
Labels: S-waiting-on-bors, T-libs

#143350 Rollup of 9 pull requests
  bootstrap.example.toml
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/allocation/provenance_map.rs
  compiler/rustc_mir_transform/src/check_enums.rs
  library/core/src/ffi/c_char.md
  library/core/src/intrinsics/mod.rs
  library/core/src/mem/maybe_uninit.rs
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/toml/build.rs
  src/bootstrap/src/utils/cache/tests.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/librustdoc/html/static/css/rustdoc.css
  src/tools/miri/src/alloc_addresses/mod.rs
  src/tools/miri/src/intrinsics/mod.rs
  src/tools/miri/src/shims/native_lib/mod.rs
  src/tools/miri/tests/fail-dep/libc/libc-read-and-uninit-premature-eof.rs
  src/tools/miri/tests/fail-dep/libc/libc-read-and-uninit-premature-eof.stderr
  src/tools/miri/tests/fail/intrinsics/uninit_uninhabited_type.rs
  src/tools/miri/tests/fail/intrinsics/uninit_uninhabited_type.stderr
  src/tools/miri/tests/fail/intrinsics/zero_fn_ptr.rs
  src/tools/miri/tests/fail/intrinsics/zero_fn_ptr.stderr
  src/tools/miri/tests/fail/validity/uninit_float.stderr
  src/tools/miri/tests/fail/validity/uninit_integer.stderr
  src/tools/miri/tests/fail/validity/uninit_raw_ptr.stderr
  tests/rustdoc-gui/docblock-code-block-line-number.goml
  tests/rustdoc-gui/scrape-examples-button-focus.goml
  tests/rustdoc-gui/source-code-wrapping.goml
  tests/ui/mir/enum/negative_discr_break.rs
  tests/ui/mir/enum/negative_discr_ok.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, T-rustdoc-frontend

#143038 avoid suggesting traits from private dependencies
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  library/rustc-std-workspace-core/Cargo.toml
  src/librustdoc/clean/blanket_impl.rs
  src/librustdoc/core.rs
  tests/ui/typeck/auxiliary/private-dep.rs
  tests/ui/typeck/auxiliary/public-dep.rs
  tests/ui/typeck/dont-suggest-private-dependencies.rs
  tests/ui/typeck/dont-suggest-private-dependencies.stderr
Labels: beta-nominated, beta-accepted, S-waiting-on-bors, T-libs, I-libs-nominated

#141831 rustdoc: fix attrs of locally reexported foreign items
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  tests/rustdoc/reexport/extern-135092.rs
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#143364 don't include `.md` in title
  src/doc/rustc/src/SUMMARY.md
Labels: S-waiting-on-bors

#143369 Various refactorings to the metadata loader
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/locator.rs
Labels: T-compiler, S-waiting-on-bors

#143379 Post {beta,stable}-accepted notifications to compiler/bootstrap backport zulip channels on `{beta,stable}-accepted` label application
  triagebot.toml
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, A-meta

#143384 Update browser-ui-test version to `0.21.1`
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/tools/rustdoc-gui/tester.js
Labels: A-testsuite, T-rustdoc, S-waiting-on-bors, T-infra

#143390 Rollup of 5 pull requests
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/locator.rs
  src/ci/docker/host-x86_64/x86_64-gnu-tools/browser-ui-test.version
  src/doc/rustc/src/SUMMARY.md
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  src/tools/rustdoc-gui/tester.js
  tests/rustdoc/reexport/extern-135092.rs
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-meta, T-rustdoc-frontend

#142890 MIR inliner maintains unused var_debug_info
  compiler/rustc_mir_transform/src/inline.rs
  tests/mir-opt/inline_var_debug_info_kept.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#143381 rustdoc: don't treat methods under const impls or traits as const
  src/librustdoc/clean/types.rs
  tests/rustdoc/constant/const-trait-and-impl-methods.rs
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#143407 Rollup of 11 pull requests
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_builtin_macros/src/deriving/coerce_pointee.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/check_unused.rs
  compiler/rustc_hir_analysis/src/coherence/mod.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/hir_wf_check.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_analysis/src/outlives/mod.rs
  compiler/rustc_hir_analysis/src/variance/mod.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/traits/query/type_op/prove_predicate.rs
  compiler/rustc_trait_selection/src/traits/util.rs
  compiler/rustc_traits/src/codegen.rs
  library/core/src/array/mod.rs
  library/core/src/bool.rs
  library/core/src/cmp.rs
  library/core/src/num/f64.rs
  library/core/src/num/uint_macros.rs
  library/coretests/tests/bool.rs
  library/coretests/tests/lib.rs
  src/bootstrap/src/core/build_steps/clean.rs
  src/doc/rustc-dev-guide/src/solve/opaque-types.md
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_utils/src/ast_utils/mod.rs
  src/tools/rustfmt/src/spanned.rs
  src/tools/rustfmt/src/types.rs
  tests/rustdoc/constant/const-trait-and-impl-methods.rs
  tests/ui/traits/negative-bounds/negative-sized.rs
  tests/ui/traits/negative-bounds/negative-sized.stderr
Labels: A-LLVM, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, T-rustdoc-frontend, A-rustc-dev-guide

#143247 Avoid depending on forever-red DepNode when encoding metadata.
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_resolve/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#143417 bump termize dep
  Cargo.lock
  compiler/rustc_errors/Cargo.toml
  compiler/rustc_session/Cargo.toml
Labels: T-compiler, S-waiting-on-bors

#140643 Refactor StableMIR
  compiler/rustc_smir/src/rustc_internal/mod.rs
  compiler/rustc_smir/src/rustc_smir/alloc.rs
  compiler/rustc_smir/src/rustc_smir/bridge.rs
  compiler/rustc_smir/src/rustc_smir/builder.rs
  compiler/rustc_smir/src/rustc_smir/context.rs
  compiler/rustc_smir/src/rustc_smir/context/impls.rs
  compiler/rustc_smir/src/rustc_smir/context/mod.rs
  compiler/rustc_smir/src/rustc_smir/context/traits.rs
  compiler/rustc_smir/src/rustc_smir/convert/error.rs
  compiler/rustc_smir/src/rustc_smir/mod.rs
  compiler/rustc_smir/src/stable_mir/abi.rs
  compiler/rustc_smir/src/stable_mir/alloc.rs
  compiler/rustc_smir/src/stable_mir/compiler_interface.rs
  compiler/rustc_smir/src/stable_mir/error.rs
  compiler/rustc_smir/src/stable_mir/mir/alloc.rs
  compiler/rustc_smir/src/stable_mir/mir/mono.rs
  compiler/rustc_smir/src/stable_mir/mir/pretty.rs
  compiler/rustc_smir/src/stable_mir/mod.rs
  compiler/rustc_smir/src/stable_mir/ty.rs
  compiler/rustc_smir/src/stable_mir/unstable/convert/internal.rs
  compiler/rustc_smir/src/stable_mir/unstable/convert/mod.rs
  compiler/rustc_smir/src/stable_mir/unstable/convert/stable/abi.rs
  compiler/rustc_smir/src/stable_mir/unstable/convert/stable/mir.rs
  compiler/rustc_smir/src/stable_mir/unstable/convert/stable/mod.rs
  compiler/rustc_smir/src/stable_mir/unstable/convert/stable/ty.rs
  compiler/rustc_smir/src/stable_mir/unstable/mod.rs
Labels: T-compiler, S-waiting-on-bors

#143308 Remove `PointerLike` trait
  compiler/rustc_abi/src/layout/ty.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/core/src/cell.rs
  library/core/src/marker.rs
  library/core/src/pin/unsafe_pinned.rs
  library/core/src/ptr/non_null.rs
  tests/ui/traits/next-solver/pointer-like.rs
  tests/ui/traits/next-solver/pointer-like.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, WG-trait-system-refactor

#143387 Make __rust_alloc_error_handler_should_panic a function
  compiler/rustc_codegen_cranelift/src/allocator.rs
  compiler/rustc_codegen_gcc/src/allocator.rs
  compiler/rustc_codegen_llvm/src/allocator.rs
  compiler/rustc_session/src/config.rs
  library/alloc/src/alloc.rs
  library/std/src/alloc.rs
  src/tools/miri/src/shims/extern_static.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/tests/pass/alloc-access-tracking.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, T-libs

#143400 Port `#[rustc_pass_by_value]` to the new attribute system
  compiler/rustc_attr_data_structures/src/attributes.rs
  compiler/rustc_attr_data_structures/src/encode_cross_crate.rs
  compiler/rustc_attr_parsing/src/attributes/lint_helpers.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_lint/src/pass_by_value.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_passes/src/check_attr.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#114669 Make metadata a workproduct and reuse it
  Cargo.lock
  compiler/rustc_interface/src/queries.rs
  compiler/rustc_metadata/Cargo.toml
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_middle/src/dep_graph/dep_node.rs
  compiler/rustc_middle/src/dep_graph/mod.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_query_impl/src/plumbing.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-query-system, perf-regression

#139598 Remove `Symbol` from `Named` variant of `BoundRegionKind`/`LateParamRegionKind`
  compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_errors.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/polonius/dump.rs
  compiler/rustc_borrowck/src/region_infer/graphviz.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_borrowck/src/type_check/relate_tys.rs
  compiler/rustc_borrowck/src/universal_regions.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_infer/src/infer/region_constraints/mod.rs
  compiler/rustc_lint/src/impl_trait_overcaptures.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/region.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_smir/src/stable_mir/unstable/convert/internal.rs
  compiler/rustc_smir/src/stable_mir/unstable/convert/stable/ty.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/named_anon_conflict.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/placeholder_error.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/placeholder_relation.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/static_impl_trait.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/trait_impl_difference.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/util.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/region.rs
  compiler/rustc_trait_selection/src/errors/note_and_explain.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/utils.rs
  tests/ui/coherence/occurs-check/associated-type.next.stderr
  tests/ui/coherence/occurs-check/associated-type.old.stderr
  tests/ui/higher-ranked/structually-relate-aliases.stderr
  tests/ui/nll/ty-outlives/impl-trait-captures.stderr
  tests/ui/traits/next-solver/issue-118950-root-region.stderr
  tests/ui/traits/non_lifetime_binders/placeholders-dont-outlive-static.bad.stderr
  tests/ui/traits/non_lifetime_binders/placeholders-dont-outlive-static.good.stderr
  tests/ui/traits/non_lifetime_binders/placeholders-dont-outlive-static.rs
  tests/ui/traits/non_lifetime_binders/type-match-with-late-bound.stderr
  tests/ui/where-clauses/higher-ranked-fn-type.verbose.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, WG-trait-system-refactor

#143040 Add `const Rem`
  library/core/src/ops/arith.rs
Labels: S-waiting-on-bors, T-libs

#143291 codegen_ssa: replace a Result by an Either
  compiler/rustc_codegen_ssa/src/mir/operand.rs
Labels: T-compiler, S-waiting-on-bors

#143445 move `va_copy`, `va_arg` and `va_end` to `core::intrinsics`
  library/core/src/ffi/va_list.rs
  library/core/src/intrinsics/mod.rs
Labels: S-waiting-on-bors, T-libs

#143447 [COMPILETEST-UNTANGLE 4/N] Improve compiletest config documentation
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/debuggers.rs
  src/tools/compiletest/src/executor.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/debuginfo.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#143496 Rollup of 3 pull requests
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  library/core/src/ffi/va_list.rs
  library/core/src/intrinsics/mod.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/debuggers.rs
  src/tools/compiletest/src/executor.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/debuginfo.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-compiletest

#142732 Canonicalize input ty/ct infer/placeholder in the root universe
  compiler/rustc_next_trait_solver/src/canonicalizer.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#143238 Port `#[ignore]` to the new attribute parsing infrastructure
  compiler/rustc_attr_data_structures/src/attributes.rs
  compiler/rustc_attr_data_structures/src/encode_cross_crate.rs
  compiler/rustc_attr_parsing/src/attributes/mod.rs
  compiler/rustc_attr_parsing/src/attributes/test_attrs.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_passes/src/check_attr.rs
  tests/ui/attributes/malformed-attrs.rs
  tests/ui/attributes/malformed-attrs.stderr
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  tests/ui/lint/unused/unused-attr-duplicate.stderr
  tests/ui/malformed/malformed-regressions.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143441 Stop using `Key` trait unnecessarily
  compiler/rustc_const_eval/src/const_eval/mod.rs
  compiler/rustc_lint/src/map_unit_fn.rs
  tests/ui/lint/lint_map_unit_fn.stderr
Labels: T-compiler, S-waiting-on-bors

#143478 Miri subtree update
  Cargo.lock
  src/tools/miri/.github/workflows/ci.yml
  src/tools/miri/.github/workflows/setup/action.yml
  src/tools/miri/CONTRIBUTING.md
  src/tools/miri/Cargo.lock
  src/tools/miri/Cargo.toml
  src/tools/miri/README.md
  src/tools/miri/ci/ci.sh
  src/tools/miri/etc/rust_analyzer_helix.toml
  src/tools/miri/miri
  src/tools/miri/miri-script/src/commands.rs
  src/tools/miri/miri.bat
  src/tools/miri/rust-version
  src/tools/miri/rustfmt.toml
  src/tools/miri/src/bin/log/mod.rs
  src/tools/miri/src/bin/log/setup.rs
  src/tools/miri/src/bin/log/tracing_chrome.rs
  src/tools/miri/src/bin/miri.rs
  src/tools/miri/src/concurrency/data_race.rs
  src/tools/miri/src/concurrency/init_once.rs
  src/tools/miri/src/concurrency/mod.rs
  src/tools/miri/src/concurrency/sync.rs
  src/tools/miri/src/concurrency/thread.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/lib.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/env.rs
  src/tools/miri/src/shims/extern_static.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/src/shims/time.rs
  src/tools/miri/src/shims/unix/env.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/src/shims/unix/freebsd/foreign_items.rs
  src/tools/miri/src/shims/unix/linux/foreign_items.rs
  src/tools/miri/src/shims/unix/linux_like/sync.rs
  src/tools/miri/src/shims/unix/linux_like/syscall.rs
  src/tools/miri/src/shims/unix/macos/foreign_items.rs
  src/tools/miri/src/shims/unix/macos/sync.rs
  src/tools/miri/src/shims/unix/sync.rs
  src/tools/miri/src/shims/windows/foreign_items.rs
  src/tools/miri/src/shims/windows/handle.rs
  src/tools/miri/src/shims/windows/sync.rs
  src/tools/miri/tests/fail-dep/concurrency/windows_thread_invalid.rs
  src/tools/miri/tests/fail-dep/concurrency/windows_thread_invalid.stderr
  src/tools/miri/tests/native-lib/pass/ptr_read_access.rs
  src/tools/miri/tests/native-lib/pass/ptr_write_access.rs
  src/tools/miri/tests/native-lib/pass/scalar_arguments.rs
  src/tools/miri/tests/native-lib/scalar_arguments.c
  src/tools/miri/tests/pass-dep/concurrency/linux-futex.rs
  src/tools/miri/tests/pass-dep/shims/gettid.rs
  src/tools/miri/tests/pass/alloc-access-tracking.rs
  src/tools/miri/tests/pass/float.rs
  src/tools/miri/tests/ui.rs
Labels: S-waiting-on-bors

#143486 remove armv5te-unknown-linux-gnueabi target maintainer
  src/doc/rustc/src/platform-support/armv5te-unknown-linux-gnueabi.md
Labels: S-waiting-on-bors

#143489 Complete rustc_ast::mut_visit for spans.
  compiler/rustc_ast/src/visit.rs
Labels: T-compiler, S-waiting-on-bors

#143494 Remove yields_in_scope from the scope tree.
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_middle/src/middle/region.rs
  compiler/rustc_mir_build/src/builder/expr/as_rvalue.rs
Labels: T-compiler, S-waiting-on-bors

#143354 Port streaming commands in bootstrap to `BootstrapCommand` and remove `as_command_mut`
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/utils/exec.rs
  src/bootstrap/src/utils/render_tests.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#143252 Rewrite empty attribute lint for new attribute parser
  compiler/rustc_attr_data_structures/src/attributes.rs
  compiler/rustc_attr_data_structures/src/encode_cross_crate.rs
  compiler/rustc_attr_data_structures/src/lints.rs
  compiler/rustc_attr_parsing/messages.ftl
  compiler/rustc_attr_parsing/src/attributes/codegen_attrs.rs
  compiler/rustc_attr_parsing/src/attributes/repr.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_attr_parsing/src/lints.rs
  compiler/rustc_attr_parsing/src/session_diagnostics.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_macros/src/print_attribute.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_passes/src/check_attr.rs
  src/librustdoc/clean/types.rs
  src/tools/clippy/clippy_lints/src/arbitrary_source_item_ordering.rs
  src/tools/clippy/clippy_lints/src/attrs/repr_attributes.rs
  src/tools/clippy/clippy_lints/src/default_union_representation.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  tests/pretty/hir-lifetimes.pp
  tests/pretty/hir-pretty-attr.pp
  tests/ui/attributes/malformed-attrs.rs
  tests/ui/attributes/malformed-attrs.stderr
  tests/ui/empty/empty-attributes.stderr
  tests/ui/repr/repr-empty-packed.stderr
  tests/ui/unpretty/deprecated-attr.stdout
  tests/ui/unpretty/exhaustive.hir.stdout
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143492 Use `object` crate from crates.io to fix windows build error
  compiler/rustc_codegen_gcc/Cargo.lock
  compiler/rustc_codegen_gcc/Cargo.toml
  compiler/rustc_codegen_gcc/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#143514 Organize macro tests a bit more
  tests/ui/async-await/async-fn/macro-async-trait-bound-theoretical-regression.rs
  tests/ui/async-await/async-fn/macro-async-trait-bound-theoretical-regression.stderr
  tests/ui/parser/macro/break-in-unlabeled-block-in-macro.rs
  tests/ui/parser/macro/break-in-unlabeled-block-in-macro.stderr
  tests/ui/parser/macro/do-not-suggest-semicolon-between-macro-without-exclamation-mark-and-array.rs
  tests/ui/parser/macro/do-not-suggest-semicolon-between-macro-without-exclamation-mark-and-array.stderr
  tests/ui/parser/macro/extern-abi-from-mac-literal-frag.rs
  tests/ui/parser/macro/lit-err-in-macro.rs
  tests/ui/parser/macro/lit-err-in-macro.stderr
  tests/ui/parser/macro/macro-bad-delimiter-ident.rs
  tests/ui/parser/macro/macro-bad-delimiter-ident.stderr
  tests/ui/parser/macro/macro-bare-trait-object-maybe-trait-bound.rs
  tests/ui/parser/macro/macro-braces-dot-question.rs
  tests/ui/parser/macro/macro-dotdotdot-may-not-begin-a-type.rs
  tests/ui/parser/macro/macro-keyword.rs
  tests/ui/parser/macro/macro-keyword.stderr
  tests/ui/parser/macro/macro-mismatched-delim-brace-paren.rs
  tests/ui/parser/macro/macro-mismatched-delim-brace-paren.stderr
  tests/ui/parser/macro/macro-mismatched-delim-paren-brace.rs
  tests/ui/parser/macro/macro-mismatched-delim-paren-brace.stderr
  tests/ui/parser/macro/macro-missing-right-paren.rs
  tests/ui/parser/macro/macro-missing-right-paren.stderr
  tests/ui/parser/macro/macros-no-semicolon-items.rs
  tests/ui/parser/macro/macros-no-semicolon-items.stderr
  tests/ui/parser/macro/macros-no-semicolon.rs
  tests/ui/parser/macro/macros-no-semicolon.stderr
  tests/ui/parser/macro/misspelled-macro-rules.fixed
  tests/ui/parser/macro/misspelled-macro-rules.rs
  tests/ui/parser/macro/misspelled-macro-rules.stderr
  tests/ui/parser/macro/pub-method-macro.rs
  tests/ui/parser/macro/pub-method-macro.stderr
  tests/ui/parser/macro/semi-after-closure-in-macro.rs
  tests/ui/parser/macro/trailing-question-in-macro-type.rs
  tests/ui/parser/macro/trailing-question-in-macro-type.stderr
  tests/ui/traits/const-traits/macro-bare-trait-objects-const-trait-bounds.rs
  tests/ui/traits/const-traits/macro-bare-trait-objects-const-trait-bounds.stderr
  tests/ui/traits/const-traits/macro-const-trait-bound-theoretical-regression.rs
  tests/ui/traits/const-traits/macro-const-trait-bound-theoretical-regression.stderr
  tests/ui/traits/const-traits/macro-dyn-const-2015.rs
Labels: T-compiler, S-waiting-on-bors

#143518 rustc_builtin_macros: Make sure registered attributes stay sorted
  compiler/rustc_builtin_macros/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#141829 Specialize sleep_until implementation for unix (except mac)
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/itron/thread.rs
  library/std/src/sys/pal/sgx/thread.rs
  library/std/src/sys/pal/teeos/thread.rs
  library/std/src/sys/pal/uefi/thread.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unix/time.rs
  library/std/src/sys/pal/unsupported/thread.rs
  library/std/src/sys/pal/wasi/thread.rs
  library/std/src/sys/pal/wasm/atomics/thread.rs
  library/std/src/sys/pal/windows/thread.rs
  library/std/src/sys/pal/xous/thread.rs
  library/std/src/thread/mod.rs
  library/std/src/time.rs
  library/std/tests/thread.rs
  src/tools/miri/src/shims/time.rs
  src/tools/miri/src/shims/unix/foreign_items.rs
  src/tools/miri/tests/pass-dep/libc/libc-time.rs
  src/tools/miri/tests/pass/shims/time.rs
Labels: O-windows, O-wasm, S-waiting-on-bors, merged-by-bors, T-libs, O-SGX, O-unix, O-wasi, O-hermit, O-itron

#143206 Align attr fixes
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  tests/assembly/naked-functions/wasm32.rs
  tests/codegen/align-fn.rs
  tests/codegen/min-function-alignment.rs
  tests/codegen/naked-fn/aligned.rs
  tests/codegen/naked-fn/min-function-alignment.rs
  tests/ui/attributes/fn-align-dyn.rs
  tests/ui/attributes/malformed-fn-align.rs
  tests/ui/attributes/malformed-fn-align.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors, F-fn_align

#143236 Stabilize `mixed_integer_ops_unsigned_sub`
  library/core/src/num/uint_macros.rs
Labels: S-waiting-on-bors, T-libs

#143344 Port `#[path]` to the new attribute parsing infrastructure
  compiler/rustc_attr_data_structures/src/attributes.rs
  compiler/rustc_attr_data_structures/src/encode_cross_crate.rs
  compiler/rustc_attr_parsing/src/attributes/mod.rs
  compiler/rustc_attr_parsing/src/attributes/path.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_passes/src/check_attr.rs
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs-error.stderr
  tests/ui/lint/unused/unused-attr-duplicate.stderr
  tests/ui/lint/unused/unused-attr-macro-rules.stderr
  tests/ui/resolve/path-attr-in-const-block.rs
  tests/ui/resolve/path-attr-in-const-block.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143359 Link to 2024 edition page for `!` fallback changes
  library/core/src/primitive_docs.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#143456 mbe: Change `unused_macro_rules` to a `DenseBitSet`
  Cargo.lock
  compiler/rustc_resolve/Cargo.toml
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
Labels: A-macros, T-compiler, S-waiting-on-bors

#143529 Renamed retain_mut to retain on LinkedList as mentioned in the ACP
  library/alloc/src/collections/linked_list.rs
Labels: S-waiting-on-bors, T-libs

#143535 Remove duplicate word
  compiler/rustc_attr_data_structures/src/attributes.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143544 compiler: rename BareFn to FnPtr
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/util/classify.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_hir/src/def.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/resolve_bound_vars.rs
  compiler/rustc_hir_analysis/src/errors/wrong_number_of_generic_args.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/cmse.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/input_stats.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/nice_region_error/find_anon_type.rs
  src/librustdoc/clean/mod.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
  src/tools/clippy/clippy_lints/src/lifetimes.rs
  src/tools/clippy/clippy_lints/src/types/type_complexity.rs
  src/tools/clippy/clippy_utils/src/ast_utils/mod.rs
  src/tools/clippy/clippy_utils/src/check_proc_macro.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/rustfmt/src/types.rs
Labels: T-rustdoc, A-attributes, T-compiler, S-waiting-on-bors

#143552 lib: more eagerly return `self.len()` from `ceil_char_boundary`
  library/core/src/str/mod.rs
Labels: S-waiting-on-bors, T-libs

#143415 Get rid of build-powerpc64le-toolchain.sh
  src/ci/docker/host-x86_64/dist-powerpc64le-linux-gnu/Dockerfile
  src/ci/docker/host-x86_64/dist-powerpc64le-linux-gnu/powerpc64le-unknown-linux-gnu.defconfig
  src/ci/docker/host-x86_64/dist-powerpc64le-linux-musl/Dockerfile
  src/ci/docker/scripts/build-powerpc64le-toolchain.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#143464 Make tests/ui/abi/debug.rs cross-compile
  tests/ui/abi/debug.generic.stderr
  tests/ui/abi/debug.riscv64.stderr
  tests/ui/abi/debug.rs
Labels: T-compiler, S-waiting-on-bors

#143482 Fix short linker error output
  compiler/rustc_codegen_ssa/src/errors.rs
  tests/run-make/linker-warning/bar.rs
  tests/run-make/linker-warning/foo.rs
  tests/run-make/linker-warning/main.rs
  tests/run-make/linker-warning/rmake.rs
  tests/run-make/linker-warning/short-error.txt
Labels: T-compiler, S-waiting-on-bors, A-run-make

#143528 interpret: rename StackPopCleanup
  compiler/rustc_const_eval/src/const_eval/eval_queries.rs
  compiler/rustc_const_eval/src/interpret/call.rs
  compiler/rustc_const_eval/src/interpret/mod.rs
  compiler/rustc_const_eval/src/interpret/stack.rs
  src/tools/miri/src/concurrency/thread.rs
  src/tools/miri/src/eval.rs
  src/tools/miri/src/helpers.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/panic.rs
  src/tools/miri/src/shims/tls.rs
Labels: T-compiler, S-waiting-on-bors

#143551 Dont resolve instance of root in `mir_callgraph_cyclic`
  compiler/rustc_mir_transform/src/inline/cycle.rs
  tests/mir-opt/inline_default_trait_body.Trait-a.Inline.panic-abort.diff
  tests/mir-opt/inline_default_trait_body.Trait-a.Inline.panic-unwind.diff
  tests/mir-opt/inline_default_trait_body.Trait-b.Inline.panic-abort.diff
  tests/mir-opt/inline_default_trait_body.Trait-b.Inline.panic-unwind.diff
  tests/mir-opt/inline_default_trait_body.rs
Labels: T-compiler, S-waiting-on-bors

#143558 mbe: Refactors and function extractions in `compile_declarative_macro`
  compiler/rustc_expand/src/mbe/macro_rules.rs
Labels: A-macros, T-compiler, S-waiting-on-bors

#143563 std: fix typo in `std::path`
  library/std/src/path.rs
Labels: S-waiting-on-bors, T-libs

#143564 compiler: Deduplicate `must_emit_unwind_tables()` comments
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_session/src/session.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#143577 Disable download-rustc for library profile
  src/bootstrap/defaults/bootstrap.library.toml
  src/bootstrap/src/utils/change_tracker.rs
Labels: T-bootstrap, S-waiting-on-bors

#143182 Allow custom default address spaces and parse `p-` specifications in the datalayout string
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_ast_lowering/src/format.rs
  compiler/rustc_codegen_cranelift/src/abi/mod.rs
  compiler/rustc_codegen_cranelift/src/abi/pass_mode.rs
  compiler/rustc_codegen_cranelift/src/common.rs
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/consts.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/intrinsic/simd.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/type_.rs
  compiler/rustc_codegen_llvm/src/va_arg.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/meth.rs
  compiler/rustc_codegen_ssa/src/mir/naked_asm.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_errors/messages.ftl
  compiler/rustc_errors/src/diagnostic_impls.rs
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/allocation/provenance_map.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/interpret/pointer.rs
  compiler/rustc_middle/src/mir/interpret/value.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/consts/int.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/vtable.rs
  compiler/rustc_mir_build/src/thir/constant.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_smir/src/alloc.rs
  compiler/rustc_smir/src/context/impls.rs
  compiler/rustc_target/src/callconv/loongarch.rs
  compiler/rustc_target/src/callconv/mips.rs
  compiler/rustc_target/src/callconv/mod.rs
  compiler/rustc_target/src/callconv/riscv.rs
  compiler/rustc_target/src/callconv/sparc.rs
  compiler/rustc_target/src/callconv/x86.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_ty_utils/src/layout.rs
  src/tools/clippy/clippy_lints/src/casts/fn_to_numeric_cast.rs
  src/tools/clippy/clippy_lints/src/casts/fn_to_numeric_cast_with_truncation.rs
  src/tools/clippy/clippy_lints/src/casts/utils.rs
  src/tools/clippy/clippy_lints/src/enum_clike.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  src/tools/rust-analyzer/crates/hir-ty/src/layout.rs
  src/tools/rust-analyzer/crates/hir-ty/src/layout/target.rs
  src/tools/rust-analyzer/crates/hir-ty/src/mir/eval.rs
Labels: A-LLVM, T-compiler, S-waiting-on-author, merged-by-bors

#132469 Do not suggest borrow that is already there in fully-qualified call
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.fixed
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.rs
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.stderr
Labels: T-compiler, S-waiting-on-bors

#143340 awhile -> a while where appropriate
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  library/std/src/sync/mpmc/mod.rs
  library/std/src/sync/mpsc.rs
  src/tools/rust-analyzer/crates/ide/src/file_structure.rs
  tests/ui/process/core-run-destroy.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, T-libs

#143438 Fix the link in `rustdoc.md`
  src/doc/rustdoc.md
Labels: T-rustdoc, S-waiting-on-bors

#143539 Regression tests for repr ICEs
  tests/ui/attributes/malformed-reprs.rs
  tests/ui/attributes/malformed-reprs.stderr
Labels: T-compiler, S-waiting-on-bors

#143566 Fix `x86_64-unknown-netbsd` platform support page
  src/doc/rustc/src/platform-support/netbsd.md
Labels: T-compiler, O-netbsd, S-waiting-on-bors

#143572 Remove unused allow attrs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm/enzyme_ffi.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_lint/src/early/diagnostics.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_query_impl/src/lib.rs
  src/librustdoc/json/conversions.rs
Labels: A-LLVM, T-rustdoc, T-compiler, S-waiting-on-bors, A-query-system, A-rustdoc-json, F-autodiff

#143583 `loop_match`: fix 'no terminator on block'
  compiler/rustc_mir_build/src/builder/scope.rs
  tests/ui/loop-match/panic-in-const.rs
  tests/ui/loop-match/panic-in-const.stderr
Labels: T-compiler, S-waiting-on-bors

#143584 make `Machine::load_mir` infallible
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
Labels: T-compiler, S-waiting-on-bors

#143591 Fix missing words in future tracking issue
  .github/ISSUE_TEMPLATE/tracking_issue_future.md
Labels: S-waiting-on-bors

#143601 Rollup of 9 pull requests
  .github/ISSUE_TEMPLATE/tracking_issue_future.md
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm/enzyme_ffi.rs
  compiler/rustc_const_eval/src/const_eval/machine.rs
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_infer/src/lib.rs
  compiler/rustc_lint/src/early/diagnostics.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_middle/src/arena.rs
  compiler/rustc_mir_build/src/builder/scope.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_query_impl/src/lib.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  library/std/src/sync/mpmc/mod.rs
  library/std/src/sync/mpsc.rs
  src/doc/rustc/src/platform-support/netbsd.md
  src/doc/rustdoc.md
  src/librustdoc/json/conversions.rs
  src/tools/rust-analyzer/crates/ide/src/file_structure.rs
  tests/ui/attributes/malformed-reprs.rs
  tests/ui/attributes/malformed-reprs.stderr
  tests/ui/loop-match/panic-in-const.rs
  tests/ui/loop-match/panic-in-const.stderr
  tests/ui/process/core-run-destroy.rs
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.fixed
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.rs
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.stderr
Labels: A-LLVM, T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-query-system, A-rustdoc-json, F-autodiff

#143433 Add `ty_span` query
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/query/mod.rs
  tests/ui/const-generics/defaults/wfness.stderr
  tests/ui/issues/issue-7364.stderr
  tests/ui/static/issue-24446.stderr
  tests/ui/statics/issue-17718-static-sync.stderr
  tests/ui/statics/unsizing-wfcheck-issue-127299.stderr
  tests/ui/type/type-check-defaults.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#142098 Implement `int_format_into` feature
  library/alloc/src/string.rs
  library/alloctests/tests/lib.rs
  library/alloctests/tests/num.rs
  library/core/src/fmt/mod.rs
  library/core/src/fmt/num.rs
  library/core/src/fmt/num_buffer.rs
Labels: S-waiting-on-bors, T-libs

#143570 consider nested cases for duplicate RPITIT
  compiler/rustc_ty_utils/src/assoc.rs
  tests/ui/impl-trait/in-trait/rpitit-duplicate-associated-fn-with-nested.rs
  tests/ui/impl-trait/in-trait/rpitit-duplicate-associated-fn-with-nested.stderr
  tests/ui/impl-trait/in-trait/rpitit-duplicate-associated-fn.rs
  tests/ui/impl-trait/in-trait/rpitit-duplicate-associated-fn.stderr
Labels: T-compiler, S-waiting-on-bors

#143586 Fix wrong cache event query key
  compiler/rustc_data_structures/src/profiling.rs
Labels: T-compiler, S-waiting-on-bors

#143589 const-block-as-pattern: do not refer to no-longer-existing nightly feature
  compiler/rustc_parse/src/parser/mod.rs
  tests/ui/inline-const/in-pat-recovery.rs
  tests/ui/inline-const/in-pat-recovery.stderr
Labels: T-compiler, S-waiting-on-bors

#143608 Fix in std::String docs
  library/alloc/src/string.rs
Labels: S-waiting-on-bors, T-libs

#143621 Rollup of 7 pull requests
  compiler/rustc_data_structures/src/profiling.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/adjust_fulfillment_errors.rs
  compiler/rustc_middle/src/traits/select.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_ty_utils/src/assoc.rs
  library/alloc/src/string.rs
  library/alloctests/tests/lib.rs
  library/alloctests/tests/num.rs
  library/core/src/fmt/mod.rs
  library/core/src/fmt/num.rs
  library/core/src/fmt/num_buffer.rs
  tests/ui/associated-type-bounds/dedup-normalized-2-higher-ranked.current.stderr
  tests/ui/const-generics/infer/issue-77092.stderr
  tests/ui/impl-trait/auto-trait-selection-freeze.old.stderr
  tests/ui/impl-trait/auto-trait-selection.old.stderr
  tests/ui/impl-trait/in-trait/rpitit-duplicate-associated-fn-with-nested.rs
  tests/ui/impl-trait/in-trait/rpitit-duplicate-associated-fn-with-nested.stderr
  tests/ui/impl-trait/in-trait/rpitit-duplicate-associated-fn.rs
  tests/ui/impl-trait/in-trait/rpitit-duplicate-associated-fn.stderr
  tests/ui/inline-const/in-pat-recovery.rs
  tests/ui/inline-const/in-pat-recovery.stderr
  tests/ui/trait-bounds/false-span-in-trait-bound-label.rs
  tests/ui/trait-bounds/false-span-in-trait-bound-label.stderr
  tests/ui/traits/inheritance/repeated-supertrait-ambig.stderr
  tests/ui/traits/multidispatch-convert-ambig-dest.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#143540 Simplify num formatting helpers
  library/core/src/num/fmt.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#134628 Make `Default` const and add some `const Default` impls
  library/alloc/src/lib.rs
  library/alloc/src/string.rs
  library/alloc/src/vec/mod.rs
  library/core/src/cell.rs
  library/core/src/default.rs
  library/core/src/iter/sources/empty.rs
  library/core/src/marker.rs
  library/core/src/option.rs
  library/core/src/ptr/alignment.rs
  library/core/src/slice/mod.rs
  library/core/src/str/mod.rs
  src/tools/clippy/clippy_utils/src/visitors.rs
  tests/ui/consts/rustc-impl-const-stability.rs
  tests/ui/consts/rustc-impl-const-stability.stderr
  tests/ui/lint/dead-code/unused-struct-derive-default.rs
  tests/ui/specialization/const_trait_impl.rs
  tests/ui/specialization/const_trait_impl.stderr
  tests/ui/traits/const-traits/const-traits-alloc.rs
  tests/ui/traits/const-traits/const-traits-core.rs
  tests/ui/traits/const-traits/const_derives/derive-const-gate.rs
  tests/ui/traits/const-traits/const_derives/derive-const-gate.stderr
  tests/ui/traits/const-traits/const_derives/derive-const-non-const-type.rs
  tests/ui/traits/const-traits/const_derives/derive-const-non-const-type.stderr
  tests/ui/traits/const-traits/const_derives/derive-const-use.rs
  tests/ui/traits/const-traits/const_derives/derive-const-use.stderr
  tests/ui/traits/const-traits/std-impl-gate.gated.stderr
  tests/ui/traits/const-traits/std-impl-gate.rs
  tests/ui/traits/const-traits/std-impl-gate.stock.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, F-const_trait_impl, T-libs, F-default_field_values

#143402 Port several linking (linkage?) related attributes the new attribute system
  compiler/rustc_attr_data_structures/src/attributes.rs
  compiler/rustc_attr_data_structures/src/encode_cross_crate.rs
  compiler/rustc_attr_parsing/src/attributes/link_attrs.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/check_export.rs
  tests/ui/attributes/malformed-attrs.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143555 Don't mark `#[target_feature]` safe fns as unsafe in rustdoc JSON.
  src/librustdoc/json/conversions.rs
  tests/rustdoc-json/attrs/target_feature.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#143593 Port #[rustc_dummy]
  compiler/rustc_attr_data_structures/src/attributes.rs
  compiler/rustc_attr_data_structures/src/encode_cross_crate.rs
  compiler/rustc_attr_parsing/src/attributes/dummy.rs
  compiler/rustc_attr_parsing/src/attributes/mod.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_passes/src/check_attr.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143600 Update intro blurb in `wasm32-wasip1` docs
  src/doc/rustc/src/platform-support/wasm32-wasip1.md
Labels: S-waiting-on-bors

#143603 Clarify the meaning of `AttributeOrder::KeepFirst` and `AttributeOrder::KeepLast`
  compiler/rustc_attr_parsing/src/attributes/mod.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143620 fix: Remove newline from multiple crate versions note
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
Labels: T-compiler, S-waiting-on-bors

#143622 Add target maintainer information for mips64-unknown-linux-muslabi64
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/mips64-unknown-linux-muslabi64.md
Labels: S-waiting-on-bors

#143645 Rollup of 7 pull requests
  compiler/rustc_attr_data_structures/src/attributes.rs
  compiler/rustc_attr_data_structures/src/encode_cross_crate.rs
  compiler/rustc_attr_parsing/src/attributes/dummy.rs
  compiler/rustc_attr_parsing/src/attributes/link_attrs.rs
  compiler/rustc_attr_parsing/src/attributes/mod.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_parse/src/validate_attr.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/check_export.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/mips64-unknown-linux-muslabi64.md
  src/doc/rustc/src/platform-support/wasm32-wasip1.md
  src/librustdoc/json/conversions.rs
  tests/rustdoc-json/attrs/target_feature.rs
  tests/ui/attributes/malformed-attrs.stderr
Labels: T-rustdoc, A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-rustdoc-json

#142707 Apply effects to `otherwise` edge in dataflow analysis
  compiler/rustc_mir_dataflow/src/drop_flag_effects.rs
  compiler/rustc_mir_dataflow/src/framework/direction.rs
  compiler/rustc_mir_dataflow/src/framework/mod.rs
  compiler/rustc_mir_dataflow/src/impls/initialized.rs
  compiler/rustc_mir_transform/src/elaborate_drops.rs
  compiler/rustc_mir_transform/src/remove_uninit_drops.rs
  tests/mir-opt/otherwise_drops.result_ok.ElaborateDrops.diff
  tests/mir-opt/otherwise_drops.rs
  tests/mir-opt/sroa/lifetimes.foo.ScalarReplacementOfAggregates.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#142357 Simplify LLVM bitcode linker in bootstrap and add tests for it
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/utils/tests/mod.rs
Labels: T-bootstrap, S-waiting-on-bors

#143499 Don't call `predicates_of` on a dummy obligation cause's body id
  compiler/rustc_trait_selection/src/error_reporting/traits/ambiguity.rs
  tests/ui/traits/error-reporting/ambiguity-in-dropck-err-reporting.rs
  tests/ui/traits/error-reporting/ambiguity-in-dropck-err-reporting.stderr
Labels: T-compiler, S-waiting-on-bors

#143520 Fix perf regression caused by tracing
  compiler/rustc_const_eval/src/interpret/eval_context.rs
  compiler/rustc_const_eval/src/interpret/machine.rs
  compiler/rustc_const_eval/src/interpret/mod.rs
  compiler/rustc_const_eval/src/interpret/util.rs
  src/tools/miri/src/machine.rs
Labels: T-compiler, S-waiting-on-bors, perf-regression

#143606 configure.py: Write last key in each section
  src/bootstrap/configure.py
Labels: T-bootstrap, S-waiting-on-bors

#143177 Remove false label when `self` resolve failure does not relate to macro
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/error-codes/E0424.stderr
  tests/ui/resolve/false-self-in-macro-issue-143134.rs
  tests/ui/resolve/false-self-in-macro-issue-143134.stderr
  tests/ui/resolve/suggestions/auxiliary/suggest-constructor-cycle-error.rs
  tests/ui/resolve/suggestions/suggest-builder-fn.rs
  tests/ui/resolve/suggestions/suggest-builder-fn.stderr
  tests/ui/resolve/suggestions/suggest-constructor-cycle-error.rs
  tests/ui/resolve/suggestions/suggest-constructor-cycle-error.stderr
  tests/ui/resolve/suggestions/suggest-import-without-clobbering-attrs.fixed
  tests/ui/resolve/suggestions/suggest-import-without-clobbering-attrs.rs
  tests/ui/resolve/suggestions/suggest-import-without-clobbering-attrs.stderr
  tests/ui/resolve/suggestions/suggest-path-for-tuple-struct.rs
  tests/ui/resolve/suggestions/suggest-path-for-tuple-struct.stderr
  tests/ui/resolve/suggestions/suggest-path-instead-of-mod-dot-item.rs
  tests/ui/resolve/suggestions/suggest-path-instead-of-mod-dot-item.stderr
Labels: T-compiler, S-waiting-on-bors

#143426 clippy fix: indentation
  library/core/src/alloc/layout.rs
  library/core/src/cell.rs
  library/core/src/error.rs
  library/core/src/fmt/mod.rs
  library/core/src/marker.rs
  library/core/src/ops/drop.rs
  library/core/src/option.rs
  library/core/src/pin.rs
Labels: S-waiting-on-bors, T-libs

#142789 Make TypeId const comparable
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_span/src/symbol.rs
  compiler/stable_mir/src/mir/alloc.rs
  compiler/stable_mir/src/unstable/convert/stable/mir.rs
  library/core/Cargo.toml
  library/core/src/any.rs
  library/core/src/intrinsics/mod.rs
  library/coretests/tests/any.rs
  library/std/Cargo.toml
  library/sysroot/Cargo.toml
  tests/codegen/error-provide.rs
  tests/ui/const-generics/issues/issue-90318.rs
  tests/ui/const-generics/issues/issue-90318.stderr
  tests/ui/consts/const_cmp_type_id.rs
  tests/ui/consts/const_cmp_type_id.stderr
  tests/ui/consts/const_transmute_type_id.rs
  tests/ui/consts/const_transmute_type_id.stderr
  tests/ui/consts/const_transmute_type_id2.rs
  tests/ui/consts/const_transmute_type_id2.stderr
  tests/ui/consts/const_transmute_type_id3.rs
  tests/ui/consts/const_transmute_type_id3.stderr
  tests/ui/consts/const_transmute_type_id4.rs
  tests/ui/consts/const_transmute_type_id4.stderr
  tests/ui/consts/issue-73976-monomorphic.rs
  tests/ui/consts/issue-73976-monomorphic.stderr
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, perf-regression

#143502 Let `rvalue_creates_operand` return true for *all* `Rvalue::Aggregate`s
  compiler/rustc_codegen_ssa/src/mir/analyze.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  tests/codegen/enum/enum-aggregate.rs
  tests/codegen/simd/aggregate-simd.rs
  tests/codegen/union-aggregate.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#143538 Instantiate auto trait/`Copy`/`Clone`/`Sized` before computing constituent types binder
  compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: S-waiting-on-bors, merged-by-bors, perf-regression, T-types

#143405 Update the `compiler-builtins` subtree
  library/compiler-builtins/.github/workflows/main.yaml
  library/compiler-builtins/builtins-test-intrinsics/build.rs
  library/compiler-builtins/builtins-test/benches/float_cmp.rs
  library/compiler-builtins/builtins-test/build.rs
  library/compiler-builtins/builtins-test/tests/conv.rs
  library/compiler-builtins/builtins-test/tests/div_rem.rs
  library/compiler-builtins/ci/run.sh
  library/compiler-builtins/compiler-builtins/build.rs
  library/compiler-builtins/compiler-builtins/configure.rs
  library/compiler-builtins/compiler-builtins/src/aarch64.rs
  library/compiler-builtins/compiler-builtins/src/arm.rs
  library/compiler-builtins/compiler-builtins/src/int/udiv.rs
  library/compiler-builtins/compiler-builtins/src/lib.rs
  library/compiler-builtins/compiler-builtins/src/probestack.rs
  library/compiler-builtins/compiler-builtins/src/x86.rs
  library/compiler-builtins/compiler-builtins/src/x86_64.rs
  library/compiler-builtins/crates/josh-sync/Cargo.toml
  library/compiler-builtins/crates/josh-sync/src/sync.rs
  library/compiler-builtins/crates/libm-macros/src/lib.rs
  library/compiler-builtins/crates/symbol-check/src/main.rs
  library/compiler-builtins/etc/thumbv7em-none-eabi-renamed.json
  library/compiler-builtins/libm-test/benches/icount.rs
  library/compiler-builtins/libm-test/tests/u256.rs
  library/compiler-builtins/libm-test/tests/z_extensive/run.rs
  library/compiler-builtins/libm/configure.rs
  library/compiler-builtins/libm/src/math/support/big.rs
  library/compiler-builtins/libm/src/math/support/big/tests.rs
  library/compiler-builtins/libm/src/math/support/int_traits.rs
  library/compiler-builtins/thumbv6m-linux-eabi.json
  library/compiler-builtins/thumbv7em-linux-eabi.json
  library/compiler-builtins/thumbv7em-linux-eabihf.json
  library/compiler-builtins/thumbv7m-linux-eabi.json
  library/compiler-builtins/triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-compiler-builtins

#143696 Add opaque TypeId handles for CTFE
  compiler/rustc_codegen_cranelift/src/constant.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_const_eval/messages.ftl
  compiler/rustc_const_eval/src/errors.rs
  compiler/rustc_const_eval/src/interpret/intrinsics.rs
  compiler/rustc_const_eval/src/interpret/memory.rs
  compiler/rustc_const_eval/src/interpret/projection.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_middle/src/mir/interpret/error.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_passes/src/reachable.rs
  compiler/rustc_span/src/symbol.rs
  compiler/stable_mir/src/mir/alloc.rs
  compiler/stable_mir/src/unstable/convert/stable/mir.rs
  library/core/Cargo.toml
  library/core/src/any.rs
  library/core/src/intrinsics/mod.rs
  library/coretests/tests/any.rs
  library/std/Cargo.toml
  library/sysroot/Cargo.toml
  tests/codegen/error-provide.rs
  tests/ui/const-generics/issues/issue-90318.rs
  tests/ui/const-generics/issues/issue-90318.stderr
  tests/ui/consts/const_cmp_type_id.rs
  tests/ui/consts/const_cmp_type_id.stderr
  tests/ui/consts/const_transmute_type_id.rs
  tests/ui/consts/const_transmute_type_id.stderr
  tests/ui/consts/const_transmute_type_id2.rs
  tests/ui/consts/const_transmute_type_id2.stderr
  tests/ui/consts/const_transmute_type_id3.rs
  tests/ui/consts/const_transmute_type_id3.stderr
  tests/ui/consts/const_transmute_type_id4.rs
  tests/ui/consts/const_transmute_type_id4.stderr
  tests/ui/consts/issue-73976-monomorphic.rs
  tests/ui/consts/issue-73976-monomorphic.stderr
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs

#142950 mbe: Rework diagnostics for metavariable expressions
  compiler/rustc_expand/messages.ftl
  compiler/rustc_expand/src/errors.rs
  compiler/rustc_expand/src/mbe/metavar_expr.rs
  tests/ui/macros/metavar-expressions/syntax-errors.rs
  tests/ui/macros/metavar-expressions/syntax-errors.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, F-macro_metavar_expr, A-tidy

#136906 Add checking for unnecessary delims in closure body
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  library/core/src/unicode/unicode_data.rs
  src/tools/clippy/clippy_lints/src/unused_async.rs
  src/tools/clippy/clippy_utils/src/ty/mod.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/rust-analyzer/crates/rust-analyzer/src/cli/scip.rs
  src/tools/test-float-parse/src/lib.rs
  src/tools/unicode-table-generator/src/range_search.rs
  tests/ui/async-await/issues/issue-54752-async-block.rs
  tests/ui/async-await/issues/issue-54752-async-block.stderr
  tests/ui/lint/unused/closure-body-issue-136741.fixed
  tests/ui/lint/unused/closure-body-issue-136741.rs
  tests/ui/lint/unused/closure-body-issue-136741.stderr
Labels: A-testsuite, T-lang, T-bootstrap, S-waiting-on-bors, proposed-final-comment-period, disposition-merge, A-compiletest, T-rustdoc-frontend, S-waiting-on-concerns, I-lang-radar, P-lang-drag-2

#143652 docs: document trait upcasting rules in `Unsize` trait
  library/core/src/marker.rs
Labels: S-waiting-on-bors, T-libs

#143657 Resolver: refact macro map into external and local maps
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_resolve/src/macros.rs
Labels: T-compiler, S-waiting-on-bors

#143659 Use "Innermost" & "Outermost" terminology for `AttributeOrder`
  compiler/rustc_attr_parsing/src/attributes/codegen_attrs.rs
  compiler/rustc_attr_parsing/src/attributes/deprecation.rs
  compiler/rustc_attr_parsing/src/attributes/dummy.rs
  compiler/rustc_attr_parsing/src/attributes/inline.rs
  compiler/rustc_attr_parsing/src/attributes/link_attrs.rs
  compiler/rustc_attr_parsing/src/attributes/mod.rs
  compiler/rustc_attr_parsing/src/attributes/must_use.rs
  compiler/rustc_attr_parsing/src/attributes/path.rs
  compiler/rustc_attr_parsing/src/attributes/rustc_internal.rs
  compiler/rustc_attr_parsing/src/attributes/test_attrs.rs
  compiler/rustc_attr_parsing/src/attributes/traits.rs
  compiler/rustc_attr_parsing/src/attributes/transparency.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#143668 Fix VxWorks build errors
  library/std/src/sys/fs/unix.rs
  library/std/src/sys/pal/unix/thread.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#143675 improve lint doc text
  compiler/rustc_lint/src/types.rs
Labels: T-compiler, S-waiting-on-bors

#143683 Assorted `run-make-support` maintenance
  Cargo.lock
  src/tools/run-make-support/CHANGELOG.md
  src/tools/run-make-support/Cargo.toml
  src/tools/run-make-support/src/artifact_names.rs
  src/tools/run-make-support/src/external_deps/c_build.rs
  src/tools/run-make-support/src/external_deps/c_cxx_compiler/cc.rs
  src/tools/run-make-support/src/external_deps/c_cxx_compiler/extras.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/linker.rs
  src/tools/run-make-support/src/targets.rs
  tests/run-make/archive-duplicate-names/rmake.rs
  tests/run-make/c-link-to-rust-dylib/rmake.rs
  tests/run-make/c-unwind-abi-catch-lib-panic/rmake.rs
  tests/run-make/cdylib-dylib-linkage/rmake.rs
  tests/run-make/cdylib/rmake.rs
  tests/run-make/compiler-rt-works-on-mingw/rmake.rs
  tests/run-make/link-args-order/rmake.rs
  tests/run-make/link-dedup/rmake.rs
  tests/run-make/native-link-modifier-bundle/rmake.rs
  tests/run-make/native-link-modifier-whole-archive/rmake.rs
  tests/run-make/pointer-auth-link-with-c/rmake.rs
  tests/run-make/print-native-static-libs/rmake.rs
  tests/run-make/raw-dylib-alt-calling-convention/rmake.rs
  tests/run-make/raw-dylib-import-name-type/rmake.rs
  tests/run-make/raw-dylib-inline-cross-dylib/rmake.rs
  tests/run-make/raw-dylib-link-ordinal/rmake.rs
  tests/run-make/raw-dylib-stdcall-ordinal/rmake.rs
  tests/run-make/rlib-format-packed-bundled-libs/rmake.rs
  tests/run-make/split-debuginfo/rmake.rs
  tests/run-make/static-dylib-by-default/rmake.rs
  tests/run-make/staticlib-dylib-linkage/rmake.rs
  tests/run-make/symbol-visibility/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#143706 triagebot.toml: ping lolbinarycat if tidy extra checks were modified
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#143525 Add profiler to bootstrap command
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/exec.rs
  src/bootstrap/src/utils/render_tests.rs
  src/doc/rustc-dev-guide/src/building/bootstrapping/debugging-bootstrap.md
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, A-rustc-dev-guide

#143446 use `--dynamic-list` for exporting executable symbols
  compiler/rustc_codegen_ssa/src/back/linker.rs
  tests/ui/linking/export-executable-symbols.rs
Labels: T-compiler, S-waiting-on-bors

#143590 Fix weird rustdoc output when single and glob reexport conflict on a name
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  tests/rustdoc/reexport/merge-glob-and-non-glob.rs
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#143599 emit `.att_syntax` when global/naked asm use that option
  compiler/rustc_codegen_llvm/src/asm.rs
  tests/assembly/emit-intel-att-syntax.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#143651 Win: Use exceptions with empty data for SEH panic exception copies instead of a new panic
  library/panic_unwind/src/seh.rs
Labels: S-waiting-on-bors, T-libs

#143665 [rustdoc-json] Add tests for `#[doc(hidden)]` handling of items.
  tests/rustdoc-json/visibility/doc_hidden_default.rs
  tests/rustdoc-json/visibility/doc_hidden_documented.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json, T-rustdoc-frontend

#143746 Rollup of 9 pull requests
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_trait_selection/src/traits/effects.rs
  library/compiler-builtins/compiler-builtins/Cargo.toml
  library/core/src/intrinsics/mod.rs
  library/core/src/ops/function.rs
  library/panic_unwind/src/seh.rs
  library/sysroot/Cargo.toml
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/utils/tests/mod.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/visit_ast.rs
  tests/assembly/emit-intel-att-syntax.rs
  tests/rustdoc-json/visibility/doc_hidden_default.rs
  tests/rustdoc-json/visibility/doc_hidden_documented.rs
  tests/rustdoc/reexport/merge-glob-and-non-glob.rs
  tests/ui/consts/fn_trait_refs.stderr
  tests/ui/consts/unstable-const-fn-in-libcore.stderr
  tests/ui/impl-trait/normalize-tait-in-const.stderr
  tests/ui/intrinsics/const-eval-select-bad.rs
  tests/ui/intrinsics/const-eval-select-bad.stderr
  tests/ui/linking/export-executable-symbols.rs
  tests/ui/traits/const-traits/call.rs
  tests/ui/traits/const-traits/call.stderr
  tests/ui/traits/const-traits/const-closure-parse-not-item.stderr
  tests/ui/traits/const-traits/const-closure-trait-method-fail.stderr
  tests/ui/traits/const-traits/const-closure-trait-method.rs
  tests/ui/traits/const-traits/const-closure-trait-method.stderr
  tests/ui/traits/const-traits/const-closures.rs
  tests/ui/traits/const-traits/const-closures.stderr
  tests/ui/traits/const-traits/const_closure-const_trait_impl-ice-113381.rs
  tests/ui/traits/const-traits/const_closure-const_trait_impl-ice-113381.stderr
  tests/ui/traits/const-traits/ice-112822-expected-type-for-param.rs
  tests/ui/traits/const-traits/ice-112822-expected-type-for-param.stderr
  tests/ui/traits/const-traits/ice-123664-unexpected-bound-var.rs
  tests/ui/traits/const-traits/ice-123664-unexpected-bound-var.stderr
  tests/ui/traits/const-traits/non-const-op-const-closure-non-const-outer.rs
  tests/ui/traits/const-traits/non-const-op-const-closure-non-const-outer.stderr
Labels: A-LLVM, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-rustdoc-json, T-rustdoc-frontend, A-compiler-builtins

#143642 stdarch subtree update
  library/stdarch/Cargo.lock
  library/stdarch/README.md
  library/stdarch/crates/core_arch/Cargo.toml
  library/stdarch/crates/core_arch/src/aarch64/neon/generated.rs
  library/stdarch/crates/core_arch/src/arm_shared/mod.rs
  library/stdarch/crates/core_arch/src/arm_shared/neon/generated.rs
  library/stdarch/crates/core_arch/src/arm_shared/neon/mod.rs
  library/stdarch/crates/core_arch/src/lib.rs
  library/stdarch/crates/core_arch/src/powerpc/altivec.rs
  library/stdarch/crates/core_arch/src/powerpc/macros.rs
  library/stdarch/crates/core_arch/src/s390x/macros.rs
  library/stdarch/crates/core_arch/src/s390x/vector.rs
  library/stdarch/crates/core_arch/src/wasm32/simd128.rs
  library/stdarch/crates/core_arch/src/x86/avx.rs
  library/stdarch/crates/core_arch/src/x86/avx512f.rs
  library/stdarch/crates/core_arch/src/x86/avx512fp16.rs
  library/stdarch/crates/core_arch/src/x86/avx512vbmi2.rs
  library/stdarch/crates/core_arch/src/x86/kl.rs
  library/stdarch/crates/core_arch/src/x86/mod.rs
  library/stdarch/crates/core_arch/src/x86/sha.rs
  library/stdarch/crates/core_arch/src/x86_64/cmpxchg16b.rs
  library/stdarch/crates/intrinsic-test/src/common/compare.rs
  library/stdarch/crates/intrinsic-test/src/common/gen_c.rs
  library/stdarch/crates/intrinsic-test/src/common/gen_rust.rs
  library/stdarch/crates/simd-test-macro/src/lib.rs
  library/stdarch/crates/std_detect/src/detect/arch/x86.rs
  library/stdarch/crates/std_detect/src/detect/os/linux/riscv.rs
  library/stdarch/crates/stdarch-gen-arm/spec/neon/aarch64.spec.yml
  library/stdarch/crates/stdarch-gen-arm/spec/neon/arm_shared.spec.yml
  library/stdarch/josh-sync.toml
  library/stdarch/rust-version
Labels: S-waiting-on-bors, T-libs

#143707 Fix `--skip-std-check-if-no-download-rustc`
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#143722 Make some "safe" llvm ops actually sound
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/builder/autodiff.rs
  compiler/rustc_codegen_llvm/src/consts.rs
  compiler/rustc_codegen_llvm/src/llvm/mod.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, F-autodiff

#143728 Resolve refactor: extraction of `finalize_module_binding` and `single_import_can_define_name`
  compiler/rustc_resolve/src/ident.rs
Labels: T-compiler, S-waiting-on-bors

#143742 Rework borrowing suggestions to use `Expr` instead of just `Span`
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/consts/const-size_of_val-align_of_val-extern-type.stderr
  tests/ui/extern/unsized-extern-derefmove.stderr
  tests/ui/impl-trait/in-trait/default-body-type-err-2.stderr
  tests/ui/inference/deref-suggestion.stderr
  tests/ui/repeat-expr/typo-in-repeat-expr-issue-80173.stderr
  tests/ui/self/arbitrary_self_types_generic_over_receiver.stderr
  tests/ui/static/bad-const-type.stderr
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.fixed
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.rs
  tests/ui/suggestions/dont-suggest-borrowing-existing-borrow.stderr
  tests/ui/suggestions/issue-52820.stderr
  tests/ui/suggestions/issue-53692.stderr
  tests/ui/suggestions/issue-59819.stderr
  tests/ui/suggestions/issue-83943.stderr
  tests/ui/suggestions/only-suggest-removal-of-conversion-method-calls.stderr
  tests/ui/switched-expectations.stderr
  tests/ui/typeck/conversion-methods.stderr
Labels: T-compiler, S-waiting-on-bors

#143744 Properly track the depth when expanding free alias types
  compiler/rustc_middle/src/ty/util.rs
  tests/ui/lazy-type-alias/deep-expansion.rs
Labels: T-compiler, S-waiting-on-bors, F-lazy_type_alias

#140136 Add an aarch64-msvc build running on ARM64 Windows
  .github/workflows/ci.yml
  src/ci/github-actions/jobs.yml
  src/ci/scripts/install-clang.sh
  src/ci/scripts/install-rust.sh
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, PG-exploit-mitigations, A-compiletest, A-run-make

#142911 Remove support for dynamic allocas
  compiler/rustc_codegen_gcc/src/builder.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/mir/mod.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/mir/statement.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  library/core/src/mem/mod.rs
  tests/ui/unsized-locals/unsized-exprs-rpass.rs
  tests/ui/unsized-locals/unsized-exprs.stderr
  tests/ui/unsized-locals/unsized-non-place-exprs.rs
  tests/ui/unsized-locals/unsized-non-place-exprs.stderr
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors
