Repository rust-lang/rust, pull requests merged in 2025-09, with the labels that each got.

#145663 Enforce in bootstrap that test must have stage at least 1 (except for compiletest)
  compiler/rustc_lint_defs/src/builtin.rs
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/ci/docker/host-x86_64/tidy/Dockerfile
  src/tools/lint-docs/src/lib.rs
  src/tools/lint-docs/src/main.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, A-CI

#145421 `dump_mir` cleanups
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/polonius/dump.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_mir_build/src/builder/mod.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  compiler/rustc_mir_transform/src/coroutine/drop.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/lint_tail_expr_drop_order.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
  compiler/rustc_mir_transform/src/shim.rs
Labels: T-compiler, S-waiting-on-bors

#146042 Detect negative literal inferred to unsigned integer
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/suggestions/negative-literal-infered-to-unsigned.rs
  tests/ui/suggestions/negative-literal-infered-to-unsigned.stderr
Labels: T-compiler, S-waiting-on-bors

#146072 Rollup of 6 pull requests
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/polonius/dump.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_mir_build/src/builder/mod.rs
  compiler/rustc_mir_dataflow/src/framework/graphviz.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_mir_transform/src/coroutine/by_move_body.rs
  compiler/rustc_mir_transform/src/coroutine/drop.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  compiler/rustc_mir_transform/src/lint_tail_expr_drop_order.rs
  compiler/rustc_mir_transform/src/pass_manager.rs
  compiler/rustc_mir_transform/src/shim.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  library/core/src/ops/range.rs
  library/std/tests/floats/f32.rs
  tests/ui/async-await/dont-suggest-await-on-method-return-mismatch.stderr
  tests/ui/privacy/private-field-ty-err.stderr
  tests/ui/suggestions/negative-literal-infered-to-unsigned.rs
  tests/ui/suggestions/negative-literal-infered-to-unsigned.stderr
  tests/ui/typeck/suggest-method-name-with-maybe-ty-mismatch-146008.rs
  tests/ui/typeck/suggest-method-name-with-maybe-ty-mismatch-146008.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#145968 Add `Bound::copied`
  library/core/src/ops/range.rs
Labels: S-waiting-on-bors, T-libs

#146004 resolve: Refactor `struct ExternPreludeEntry`
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#146046 Suggest method name with maybe ty mismatch
  compiler/rustc_hir_typeck/src/method/mod.rs
  tests/ui/async-await/dont-suggest-await-on-method-return-mismatch.stderr
  tests/ui/privacy/private-field-ty-err.stderr
  tests/ui/typeck/suggest-method-name-with-maybe-ty-mismatch-146008.rs
  tests/ui/typeck/suggest-method-name-with-maybe-ty-mismatch-146008.stderr
Labels: T-compiler, S-waiting-on-bors

#146051 Change std f32 test to pass under Miri
  library/std/tests/floats/f32.rs
Labels: S-waiting-on-bors, T-libs

#143290 pub async fn impl is monomorphized when func itself is monomorphized
  compiler/rustc_monomorphize/src/collector.rs
  tests/codegen-llvm/async-fn-debug-awaitee-field.rs
  tests/codegen-units/item-collection/async-fn-impl.rs
  tests/codegen-units/item-collection/opaque-return-impls.rs
  tests/coverage/async.cov-map
  tests/coverage/async.coverage
  tests/coverage/async.rs
  tests/ui/async-await/future-sizes/async-awaiting-fut.rs
  tests/ui/async-await/future-sizes/async-awaiting-fut.stdout
  tests/ui/async-await/future-sizes/large-arg.rs
  tests/ui/async-await/future-sizes/large-arg.stdout
  tests/ui/print_type_sizes/async.rs
  tests/ui/print_type_sizes/async.stdout
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#145721 Update to ar_archive_writer 0.5
  Cargo.lock
  compiler/rustc_codegen_llvm/src/back/archive.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_codegen_ssa/src/back/archive.rs
  compiler/rustc_llvm/llvm-wrapper/SymbolWrapper.cpp
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors

#144066 stabilize c-style varargs for sysv64, win64, efiapi, aapcs
  compiler/rustc_abi/src/extern_abi.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/lib.rs
  library/std/src/lib.rs
  src/doc/unstable-book/src/language-features/extended-varargs-abi-support.md
  tests/codegen-llvm/cffi/c-variadic-ffi.rs
  tests/ui/abi/unsupported-varargs-fnptr.rs
  tests/ui/abi/unsupported-varargs-fnptr.stderr
  tests/ui/c-variadic/feature-gate-extended_varargs_abi_support.rs
  tests/ui/c-variadic/feature-gate-extended_varargs_abi_support.stderr
  tests/ui/c-variadic/issue-86053-1.rs
  tests/ui/c-variadic/issue-86053-1.stderr
  tests/ui/c-variadic/same-program-multiple-abis-arm.rs
  tests/ui/c-variadic/same-program-multiple-abis-x86_64.rs
  tests/ui/cmse-nonsecure/cmse-nonsecure-entry/generics.rs
  tests/ui/cmse-nonsecure/cmse-nonsecure-entry/generics.stderr
  tests/ui/feature-gates/feature-gate-c_variadic.rs
  tests/ui/feature-gates/feature-gate-c_variadic.stderr
  tests/ui/mir/issue-83499-input-output-iteration-ice.rs
  tests/ui/mir/issue-83499-input-output-iteration-ice.stderr
  tests/ui/parser/variadic-ffi-semantic-restrictions.rs
  tests/ui/parser/variadic-ffi-semantic-restrictions.stderr
Labels: T-lang, T-compiler, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, I-lang-radar

#146034 Update target spec metadata of Arm64EC Windows and Trusty targets
  compiler/rustc_target/src/spec/targets/aarch64_unknown_trusty.rs
  compiler/rustc_target/src/spec/targets/arm64ec_pc_windows_msvc.rs
  compiler/rustc_target/src/spec/targets/armv7_unknown_trusty.rs
  compiler/rustc_target/src/spec/targets/x86_64_unknown_trusty.rs
Labels: T-compiler, S-waiting-on-bors

#146064 Add compiler error when trying to use concat metavar expr in repetitions
  compiler/rustc_expand/src/mbe/transcribe.rs
  tests/crashes/140479.rs
  tests/ui/macros/macro-metavar-expr-concat/in-repetition.rs
  tests/ui/macros/macro-metavar-expr-concat/in-repetition.stderr
Labels: T-compiler, S-waiting-on-bors, F-macro_metavar_expr_concat

#146070 rustdoc-search: skip loading unneeded fnData
  src/librustdoc/html/static/js/rustdoc.d.ts
  src/librustdoc/html/static/js/search.js
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-search, T-rustdoc-frontend

#146088 constify impl Try for ControlFlow
  library/core/src/ops/control_flow.rs
Labels: S-waiting-on-bors, T-libs

#146089 fix a constness ordering bug in rustfmt
  src/tools/rustfmt/src/items.rs
Labels: S-waiting-on-bors, T-rustfmt

#146091 fix rustdoc `render_call_locations` panicking because of default span `DUMMY_SP` pointing at non local-source file
  src/librustdoc/html/render/mod.rs
  tests/rustdoc-gui/scrape-examples-ice-links.goml
  tests/rustdoc-gui/sidebar-source-code.goml
  tests/rustdoc-gui/src/scrape_examples_ice/Cargo.lock
  tests/rustdoc-gui/src/scrape_examples_ice/Cargo.toml
  tests/rustdoc-gui/src/scrape_examples_ice/empty.html
  tests/rustdoc-gui/src/scrape_examples_ice/examples/bar.rs
  tests/rustdoc-gui/src/scrape_examples_ice/src/lib.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-run-make, T-rustdoc-frontend

#146094 Make `Parser::parse_for_head` public for rustfmt usage
  compiler/rustc_parse/src/parser/expr.rs
Labels: T-compiler, S-waiting-on-bors

#146102 Remove dead code stemming from an old effects desugaring
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_middle/src/ty/generics.rs
  compiler/rustc_public/src/unstable/convert/stable/ty.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/json/conversions.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-rustdoc-json

#146115 Add maintainer for VxWorks
  src/doc/rustc/src/platform-support/vxworks.md
Labels: S-waiting-on-bors

#146116 Adjust issue-118306.rs test after LLVM change
  tests/codegen-llvm/issues/issue-118306.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#146117 Fix search index generation
  src/librustdoc/formats/item_type.rs
Labels: T-rustdoc, S-waiting-on-bors

#146118 improve process::abort rendering in Miri backtraces
  library/std/src/panicking.rs
  library/std/src/process.rs
  library/std/src/sys/pal/unix/mod.rs
  library/std/src/sys/pal/windows/mod.rs
  src/tools/miri/tests/fail/alloc/alloc_error_handler.rs
  src/tools/miri/tests/fail/alloc/alloc_error_handler.stderr
  src/tools/miri/tests/fail/function_calls/exported_symbol_bad_unwind2.both.stderr
  src/tools/miri/tests/fail/function_calls/exported_symbol_bad_unwind2.definition.stderr
  src/tools/miri/tests/fail/function_calls/exported_symbol_bad_unwind2.extern_block.stderr
  src/tools/miri/tests/fail/function_calls/exported_symbol_bad_unwind2.rs
  src/tools/miri/tests/fail/panic/abort_unwind.rs
  src/tools/miri/tests/fail/panic/abort_unwind.stderr
  src/tools/miri/tests/fail/panic/double_panic.rs
  src/tools/miri/tests/fail/panic/double_panic.stderr
  src/tools/miri/tests/fail/panic/panic_abort1.rs
  src/tools/miri/tests/fail/panic/panic_abort1.stderr
  src/tools/miri/tests/fail/panic/panic_abort2.rs
  src/tools/miri/tests/fail/panic/panic_abort2.stderr
  src/tools/miri/tests/fail/panic/panic_abort3.rs
  src/tools/miri/tests/fail/panic/panic_abort3.stderr
  src/tools/miri/tests/fail/panic/panic_abort4.rs
  src/tools/miri/tests/fail/panic/panic_abort4.stderr
  src/tools/miri/tests/fail/ptr_swap_nonoverlapping.rs
  src/tools/miri/tests/fail/ptr_swap_nonoverlapping.stderr
  src/tools/miri/tests/fail/terminate-terminator.rs
  src/tools/miri/tests/fail/terminate-terminator.stderr
  src/tools/miri/tests/fail/unwind-action-terminate.rs
  src/tools/miri/tests/fail/unwind-action-terminate.stderr
Labels: O-windows, S-waiting-on-bors, T-libs, O-unix

#146076 Consolidate staging for compiletest steps in bootstrap
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/lib.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, merged-by-bors

#146120 Correct typo in `rustc_errors` comment
  compiler/rustc_errors/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#146127 Rename `ToolRustc` to `ToolRustcPrivate`
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/clippy.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/build_steps/run.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/lib.rs
  src/doc/rustc-dev-guide/src/building/bootstrapping/writing-tools-in-bootstrap.md
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-rustc-dev-guide

#146136 docs(std): add missing closing code block fences in doc comments
  library/core/src/iter/adapters/chain.rs
  library/core/src/num/int_macros.rs
  library/core/src/num/uint_macros.rs
  library/core/src/ops/range.rs
  library/core/src/ptr/mut_ptr.rs
  library/portable-simd/crates/core_simd/src/simd/num/int.rs
  library/portable-simd/crates/core_simd/src/simd/num/uint.rs
Labels: S-waiting-on-bors, T-libs

#146140 compiletest: cygwin follows windows in using PATH for dynamic libraries
  src/tools/compiletest/src/util.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest, O-cygwin

#146150 fix(rustdoc): match rustc `--emit` precedence
  src/librustdoc/config.rs
  tests/run-make/rustdoc-dep-info/rmake.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-run-make

#146172 triagebot: configure some pings when certain attributes are used
  src/tools/tidy/src/triagebot.rs
  triagebot.toml
Labels: T-bootstrap, S-waiting-on-bors, A-meta, A-tidy

#143725 core: add Peekable::next_if_map
  library/core/src/iter/adapters/peekable.rs
  library/coretests/tests/iter/adapters/peekable.rs
  library/coretests/tests/lib.rs
Labels: S-waiting-on-bors, T-libs

#145682 Promote aarch64-pc-windows-msvc to Tier 1
  compiler/rustc_target/src/spec/targets/aarch64_pc_windows_msvc.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/windows-msvc.md
Labels: T-compiler, relnotes, T-bootstrap, S-waiting-on-bors, O-aarch64-pc-windows-msvc

#146192 Rollup of 5 pull requests
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_target/src/spec/targets/aarch64_pc_windows_msvc.rs
  compiler/rustc_type_ir/src/interner.rs
  compiler/rustc_type_ir/src/solve/inspect.rs
  library/core/src/intrinsics/fallback.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/lib.rs
  library/core/src/num/mod.rs
  library/core/src/num/uint_macros.rs
  library/coretests/tests/lib.rs
  library/coretests/tests/num/uint_macros.rs
  library/std/src/lib.rs
  src/bootstrap/Cargo.lock
  src/bootstrap/Cargo.toml
  src/bootstrap/src/core/build_steps/llvm.rs
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/windows-msvc.md
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/executor.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/output_capture.rs
  src/tools/compiletest/src/runtest.rs
  src/tools/compiletest/src/runtest/codegen_units.rs
  src/tools/compiletest/src/runtest/compute_diff.rs
  src/tools/compiletest/src/runtest/crashes.rs
  src/tools/compiletest/src/runtest/debuginfo.rs
  src/tools/compiletest/src/runtest/incremental.rs
  src/tools/compiletest/src/runtest/mir_opt.rs
  src/tools/compiletest/src/runtest/rustdoc_json.rs
  src/tools/compiletest/src/runtest/ui.rs
  src/tools/miri/tests/fail/intrinsics/funnel_shl.rs
  src/tools/miri/tests/fail/intrinsics/funnel_shl.stderr
  src/tools/miri/tests/fail/intrinsics/funnel_shr.rs
  src/tools/miri/tests/fail/intrinsics/funnel_shr.stderr
  src/tools/miri/tests/pass/intrinsics/integer.rs
Labels: A-LLVM, A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, WG-trait-system-refactor, A-compiletest

#145976 Add bootstrap.toml option to control debug breaking on ICEs on windows
  bootstrap.example.toml
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/toml/rust.rs
  src/bootstrap/src/utils/change_tracker.rs
Labels: T-bootstrap, S-waiting-on-bors

#146194 fix path str eq
  library/std/src/path.rs
  library/std/tests/path.rs
Labels: S-waiting-on-bors, T-libs

#146197 triagebot: fix rustc_allow_const_fn_unstable matcher
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#146205 Rollup of 4 pull requests
  bootstrap.example.toml
  library/std/src/path.rs
  library/std/tests/path.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/core/config/toml/rust.rs
  src/bootstrap/src/utils/change_tracker.rs
  src/tools/tidy/src/extra_checks/mod.rs
  triagebot.toml
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, A-tidy

#146151 fixes auto-run js checks in tidy
  src/tools/tidy/src/extra_checks/mod.rs
Labels: T-bootstrap, S-waiting-on-bors, A-tidy

#144737 resolve: Avoid finalizing extern prelude entries more than once
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/lib.rs
  tests/ui/crate-loading/invalid-rlib.rs
  tests/ui/crate-loading/invalid-rlib.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#146044 Suggest parentheses when `match` or `if` expression in binop is parsed as statement
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/parser/expr-as-stmt-2.rs
  tests/ui/parser/expr-as-stmt-2.stderr
  tests/ui/parser/expr-as-stmt.fixed
  tests/ui/parser/expr-as-stmt.rs
  tests/ui/parser/expr-as-stmt.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#146121 fix: Filter suggestion parts that match existing code
  compiler/rustc_errors/src/diagnostic.rs
  compiler/rustc_errors/src/emitter.rs
  compiler/rustc_errors/src/lib.rs
  src/tools/clippy/tests/ui/bool_assert_comparison.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-clippy

#138944 Add `__isPlatformVersionAtLeast` and `__isOSVersionAtLeast` symbols
  compiler/rustc_symbol_mangling/src/v0.rs
  library/std/src/lib.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/platform_version/darwin/core_foundation.rs
  library/std/src/sys/platform_version/darwin/mod.rs
  library/std/src/sys/platform_version/darwin/public_extern.rs
  library/std/src/sys/platform_version/darwin/tests.rs
  library/std/src/sys/platform_version/mod.rs
  tests/run-make/apple-c-available-links/foo.c
  tests/run-make/apple-c-available-links/main.rs
  tests/run-make/apple-c-available-links/rmake.rs
  triagebot.toml
Labels: A-linkage, S-waiting-on-bors, A-meta, T-libs, O-apple, A-run-make

#139113 unstable book: in a sanitizer example, check the code
  src/doc/unstable-book/src/compiler-flags/sanitizer.md
Labels: S-waiting-on-bors, PG-exploit-mitigations

#145735 style-guide: Document absence of trailing whitespace
  src/doc/style-guide/src/README.md
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, T-style

#146041 tidy: --bless now makes escheck run with --fix
  src/tools/tidy/src/extra_checks/mod.rs
  src/tools/tidy/src/extra_checks/rustdoc_js.rs
Labels: T-bootstrap, S-waiting-on-bors, A-tidy

#146144 compiler: Apply target features to the entry function
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/context.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#146225 Simplify `{f16, f32, f64, f128}::midpoint()`
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
Labels: S-waiting-on-bors, T-libs, A-floating-point

#146234 change file-is-generated doc comment to inner
  library/core/src/unicode/unicode_data.rs
  src/tools/unicode-table-generator/src/main.rs
Labels: S-waiting-on-bors, T-libs

#146241 rustc_infer: change top-level doc comment to inner
  compiler/rustc_infer/src/infer/context.rs
Labels: T-compiler, S-waiting-on-bors

#146242 Ensure that `--html-after-content` option is used to check `scrape_examples_ice` rustdoc GUI test
  tests/rustdoc-gui/scrape-examples-ice-links.goml
  tests/rustdoc-gui/src/scrape_examples_ice/empty.html
  tests/rustdoc-gui/src/scrape_examples_ice/extra.html
  tests/rustdoc-gui/src/scrape_examples_ice/src/lib.rs
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#146243 remove couple of redundant clones
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_mir_transform/src/coverage/expansion.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#146250 Bump stage0 rustfmt
  src/stage0
Labels: T-bootstrap, S-waiting-on-bors, T-release

#146255 Rollup of 11 pull requests
  compiler/rustc_codegen_llvm/src/attributes.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_infer/src/infer/context.rs
  compiler/rustc_mir_transform/src/coverage/expansion.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  library/core/src/num/f128.rs
  library/core/src/num/f16.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/unicode/unicode_data.rs
  library/std/src/lib.rs
  library/std/src/sys/mod.rs
  library/std/src/sys/platform_version/darwin/core_foundation.rs
  library/std/src/sys/platform_version/darwin/mod.rs
  library/std/src/sys/platform_version/darwin/public_extern.rs
  library/std/src/sys/platform_version/darwin/tests.rs
  library/std/src/sys/platform_version/mod.rs
  src/doc/style-guide/src/README.md
  src/doc/unstable-book/src/compiler-flags/sanitizer.md
  src/stage0
  src/tools/tidy/src/extra_checks/mod.rs
  src/tools/tidy/src/extra_checks/rustdoc_js.rs
  src/tools/unicode-table-generator/src/main.rs
  tests/run-make/apple-c-available-links/foo.c
  tests/run-make/apple-c-available-links/main.rs
  tests/run-make/apple-c-available-links/rmake.rs
  tests/rustdoc-gui/scrape-examples-ice-links.goml
  tests/rustdoc-gui/src/scrape_examples_ice/empty.html
  tests/rustdoc-gui/src/scrape_examples_ice/extra.html
  tests/rustdoc-gui/src/scrape_examples_ice/src/lib.rs
  triagebot.toml
Labels: A-LLVM, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors, rollup, A-meta, T-libs, T-style, PG-exploit-mitigations, A-run-make, T-rustdoc-frontend, A-tidy

#146071 clean up some old const trait impl syntax
  library/core/src/borrow.rs
  library/core/src/clone.rs
  library/core/src/cmp.rs
  library/core/src/cmp/bytewise.rs
  library/core/src/convert/mod.rs
  library/core/src/default.rs
  library/core/src/intrinsics/fallback.rs
  library/core/src/marker.rs
  library/core/src/ops/arith.rs
  library/core/src/ops/bit.rs
  library/core/src/ops/deref.rs
  library/core/src/ops/drop.rs
  library/core/src/ops/function.rs
  library/core/src/ops/index.rs
  library/core/src/ops/try_trait.rs
  library/core/src/option.rs
  library/core/src/pat.rs
  library/core/src/slice/cmp.rs
  library/core/src/slice/index.rs
  library/core/src/str/traits.rs
  tests/ui/traits/const-traits/constructor-const-fn.rs
  tests/ui/traits/const-traits/reservation-impl-ice.rs
  tests/ui/traits/const-traits/reservation-impl-ice.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, PG-const-traits

#146263 Fix `bump-stage0` build failure, and check-build `bump-stage0` in CI
  Cargo.lock
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/builder/mod.rs
  src/ci/docker/host-x86_64/pr-check-2/Dockerfile
  src/tools/bump-stage0/Cargo.toml
  src/tools/bump-stage0/src/main.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, A-CI

#146266 miri std tests: skip all of sys::
  src/bootstrap/mk/Makefile.in
Labels: T-bootstrap, S-waiting-on-bors

#146267 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_log/Cargo.toml
  compiler/rustc_log/src/lib.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lib.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/lib.rs
  src/bootstrap/mk/Makefile.in
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/builder/mod.rs
  src/ci/docker/host-x86_64/pr-check-2/Dockerfile
  src/tools/bump-stage0/Cargo.toml
  src/tools/bump-stage0/src/main.rs
  tests/run-make/multiline-args-value/cfg-frontmatter.stderr
  tests/run-make/multiline-args-value/cfg-shebang.stderr
  tests/run-make/multiline-args-value/check-cfg-frontmatter.stderr
  tests/run-make/multiline-args-value/check-cfg-shebang.stderr
  tests/run-make/multiline-args-value/rmake.rs
  tests/ui/const-generics/failing_goal_with_repeat_expr_anon_const.stderr
  tests/ui/traits/bound/suggest-complex-bound-on-method.fixed
  tests/ui/traits/bound/suggest-complex-bound-on-method.rs
  tests/ui/traits/bound/suggest-complex-bound-on-method.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-CI, A-run-make

#146232 Make the allocator shim participate in LTO again
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_ssa/src/back/lto.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  tests/ui/lto/lto-global-allocator.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors

#139524 Add socket extensions for cygwin
  library/std/src/os/cygwin/mod.rs
  library/std/src/os/cygwin/net.rs
  library/std/src/os/mod.rs
  library/std/src/os/net/linux_ext/mod.rs
  library/std/src/os/net/mod.rs
  library/std/src/os/unix/net/addr.rs
  library/std/src/os/unix/net/ancillary.rs
  library/std/src/os/unix/net/datagram.rs
  library/std/src/os/unix/net/mod.rs
  library/std/src/os/unix/net/stream.rs
  library/std/src/os/unix/net/tests.rs
  library/std/src/sys/net/connection/socket/unix.rs
Labels: S-waiting-on-bors, T-libs, O-unix, O-cygwin

#145940 single buffer for exponent fmt of integers
  library/core/src/fmt/num.rs
  library/coretests/benches/fmt.rs
Labels: S-waiting-on-bors, S-waiting-on-perf, T-libs

#146206 identity uses are ok, even if there are no defining uses
  compiler/rustc_borrowck/src/region_infer/opaque_types/mod.rs
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.current.stderr
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.next.stderr
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.rs
Labels: T-compiler, S-waiting-on-bors

#146272 Update comment for `-Werror` on LLVM builds
  compiler/rustc_llvm/build.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#146280 Make `LetChainsPolicy` public for rustfmt usage
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
Labels: T-compiler, S-waiting-on-bors

#146282 Rollup of 5 pull requests
  compiler/rustc_borrowck/src/region_infer/opaque_types/mod.rs
  compiler/rustc_llvm/build.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  library/core/src/fmt/num.rs
  library/coretests/benches/fmt.rs
  library/std/src/os/cygwin/mod.rs
  library/std/src/os/cygwin/net.rs
  library/std/src/os/mod.rs
  library/std/src/os/net/linux_ext/mod.rs
  library/std/src/os/net/mod.rs
  library/std/src/os/unix/net/addr.rs
  library/std/src/os/unix/net/ancillary.rs
  library/std/src/os/unix/net/datagram.rs
  library/std/src/os/unix/net/mod.rs
  library/std/src/os/unix/net/stream.rs
  library/std/src/os/unix/net/tests.rs
  library/std/src/sys/net/connection/socket/unix.rs
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.current.stderr
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.next.stderr
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, O-unix

#146200 Simplify rustdoc-gui tester by calling directly browser-ui-test
  package-lock.json
  package.json
  src/tools/rustdoc-gui-test/src/main.rs
  src/tools/rustdoc-gui/.eslintrc.js
  src/tools/rustdoc-gui/tester.js
  src/tools/tidy/src/extra_checks/rustdoc_js.rs
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-bootstrap, S-waiting-on-bors, A-meta, A-tidy

#146236 gpu offload: change suspicious map into filter
  compiler/rustc_codegen_llvm/src/builder/gpu_offload.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#146240 DynamicConfig: use canonical clone impl
  compiler/rustc_query_impl/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#146251 rustc_middle: clippy fixes
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/ty/codec.rs
Labels: T-compiler, S-waiting-on-bors

#146285 Rollup of 4 pull requests
  compiler/rustc_codegen_llvm/src/builder/gpu_offload.rs
  compiler/rustc_middle/src/mir/consts.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_query_impl/src/lib.rs
  package-lock.json
  package.json
  src/tools/rustdoc-gui-test/src/main.rs
  src/tools/rustdoc-gui/.eslintrc.js
  src/tools/rustdoc-gui/tester.js
  src/tools/tidy/src/extra_checks/rustdoc_js.rs
  triagebot.toml
Labels: A-LLVM, A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, A-query-system, A-tidy

#146271 lint ImproperCTypes: refactor linting architecture (part 1)
  Cargo.lock
  compiler/rustc_lint/Cargo.toml
  compiler/rustc_lint/src/foreign_modules.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_lint/src/types/improper_ctypes.rs
  tests/ui/lint/improper-ctypes/allow-phantomdata-in-ffi.rs
  tests/ui/lint/improper-ctypes/lint-113436-1.rs
  tests/ui/lint/improper-ctypes/lint-113436-1.stderr
  tests/ui/lint/improper-ctypes/lint-73249-2.rs
  tests/ui/lint/improper-ctypes/lint-73249-2.stderr
  tests/ui/lint/improper-ctypes/lint-73249-3.rs
  tests/ui/lint/improper-ctypes/lint-73249-3.stderr
  tests/ui/lint/improper-ctypes/lint-73249-5.rs
  tests/ui/lint/improper-ctypes/lint-73249-5.stderr
  tests/ui/lint/improper-ctypes/lint-73251-1.rs
  tests/ui/lint/improper-ctypes/lint-73251-1.stderr
  tests/ui/lint/improper-ctypes/lint-73251-2.rs
  tests/ui/lint/improper-ctypes/lint-73251-2.stderr
  tests/ui/lint/improper-ctypes/lint-94223.rs
  tests/ui/lint/improper-ctypes/lint-94223.stderr
  tests/ui/lint/improper-ctypes/lint-cstr.rs
  tests/ui/lint/improper-ctypes/lint-cstr.stderr
  tests/ui/lint/improper-ctypes/lint-ctypes.rs
  tests/ui/lint/improper-ctypes/lint-ctypes.stderr
  tests/ui/lint/improper-ctypes/lint-enum.rs
  tests/ui/lint/improper-ctypes/lint-enum.stderr
  tests/ui/lint/improper-ctypes/lint-fn.rs
  tests/ui/lint/improper-ctypes/lint-fn.stderr
  tests/ui/lint/improper-ctypes/lint-non-recursion-limit.rs
  tests/ui/lint/improper-ctypes/lint-option-nonnull-unsized.rs
  tests/ui/lint/improper-ctypes/lint-option-nonnull-unsized.stderr
  tests/ui/lint/improper-ctypes/mustpass-113436.rs
  tests/ui/lint/improper-ctypes/mustpass-113900.rs
  tests/ui/lint/improper-ctypes/mustpass-134060.rs
  tests/ui/lint/improper-ctypes/mustpass-134060.stderr
  tests/ui/lint/improper-ctypes/mustpass-66202.rs
  tests/ui/lint/improper-ctypes/mustpass-73249-1.rs
  tests/ui/lint/improper-ctypes/mustpass-73249-4.rs
  tests/ui/lint/improper-ctypes/mustpass-73249.rs
  tests/ui/lint/improper-ctypes/mustpass-73251.rs
  tests/ui/lint/improper-ctypes/mustpass-73747.rs
  tests/ui/lint/improper-ctypes/repr-rust-is-undefined.rs
  tests/ui/lint/improper-ctypes/repr-rust-is-undefined.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#146290 Revert "Add LSX accelerated implementation for source file analysis"
  compiler/rustc_span/src/analyze_source_file.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#146292 Rollup of 2 pull requests
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/lint_tail_expr_drop_order.rs
  compiler/rustc_mir_transform/src/simplify.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_span/src/analyze_source_file.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#146216 Miri: non-deterministic floating point operations in foreign_items
  library/core/src/num/f32.rs
  library/std/src/num/f128.rs
  library/std/src/num/f16.rs
  library/std/src/num/f32.rs
  library/std/src/num/f64.rs
  library/std/tests/floats/f32.rs
  src/tools/miri/src/intrinsics/mod.rs
  src/tools/miri/src/math.rs
  src/tools/miri/src/shims/foreign_items.rs
  src/tools/miri/tests/pass/float.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#146289 GVN: Allow reusing aggregates if LHS is not a simple local.
  compiler/rustc_mir_transform/src/gvn.rs
  tests/mir-opt/gvn_overlapping.fields.GVN.diff
  tests/mir-opt/gvn_overlapping.rs
  tests/mir-opt/gvn_overlapping.stable_projection.GVN.diff
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#146148 Add amdgpu test for addrspacecasting global vars and the gpu-kernel calling convention
  tests/auxiliary/minicore.rs
  tests/codegen-llvm/amdgpu-addrspacecast.rs
  tests/codegen-llvm/gpu-kernel-abi.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-test-infra-minicore

#146170 fix: offline rustdoc html missing favicon
  src/bootstrap/src/core/build_steps/doc.rs
  src/doc/favicon.inc
  src/doc/redirect.inc
Labels: T-bootstrap, S-waiting-on-bors

#146209 Misc LTO cleanups
  compiler/rustc_codegen_gcc/src/back/lto.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/traits/write.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#146269 feat(std): emulate flock for solaris via fcntl
  library/std/src/fs/tests.rs
  library/std/src/sys/fs/unix.rs
Labels: S-waiting-on-bors, T-libs

#145541 Reimplement DestinationPropagation according to live ranges.
  compiler/rustc_index/src/interval.rs
  compiler/rustc_mir_dataflow/src/impls/liveness.rs
  compiler/rustc_mir_dataflow/src/impls/mod.rs
  compiler/rustc_mir_dataflow/src/points.rs
  compiler/rustc_mir_transform/src/dest_prop.rs
  tests/mir-opt/dest-prop/cycle.main.DestinationPropagation.panic-abort.diff
  tests/mir-opt/dest-prop/cycle.main.DestinationPropagation.panic-unwind.diff
  tests/mir-opt/dest-prop/dead_stores_79191.f.DestinationPropagation.after.panic-abort.mir
  tests/mir-opt/dest-prop/dead_stores_79191.f.DestinationPropagation.after.panic-unwind.mir
  tests/mir-opt/dest-prop/dead_stores_better.f.DestinationPropagation.after.panic-abort.mir
  tests/mir-opt/dest-prop/dead_stores_better.f.DestinationPropagation.after.panic-unwind.mir
  tests/mir-opt/nrvo_miscompile_111005.rs
  tests/mir-opt/pre-codegen/clone_as_copy.enum_clone_as_copy.PreCodegen.after.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#145910 Ignore intrinsic calls in cross-crate-inlining cost model
  compiler/rustc_mir_transform/src/cross_crate_inline.rs
  tests/assembly-llvm/breakpoint.rs
  tests/assembly-llvm/simd/reduce-fadd-unordered.rs
  tests/codegen-llvm/cross-crate-inlining/auxiliary/leaf.rs
  tests/codegen-llvm/cross-crate-inlining/leaf-inlining.rs
  tests/codegen-llvm/default-visibility.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#146173 Don't include ASCII characters in Unicode tables
  library/alloc/src/str.rs
  library/core/src/char/methods.rs
  library/core/src/unicode/unicode_data.rs
  src/tools/unicode-table-generator/src/cascading_map.rs
  src/tools/unicode-table-generator/src/main.rs
  src/tools/unicode-table-generator/src/raw_emitter.rs
  src/tools/unicode-table-generator/src/skiplist.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#146188 Update tracing and fix binary regression
  Cargo.lock
  compiler/rustc_log/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#146018 compiler: Add Windows resources to rustc-main and rustc_driver
  Cargo.lock
  compiler/rustc/Cargo.toml
  compiler/rustc/build.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_driver/Cargo.toml
  compiler/rustc_driver/build.rs
  compiler/rustc_llvm/Cargo.toml
  compiler/rustc_windows_rc/Cargo.toml
  compiler/rustc_windows_rc/rustc.rc.in
  compiler/rustc_windows_rc/src/lib.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: A-LLVM, O-windows, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#146184 In the rustc_llvm build script, don't consider arm64* to be 32-bit
  compiler/rustc_llvm/build.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#145717 rename erase_regions to erase_and_anonymize_regions
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/opaque_types/mod.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_const_eval/src/interpret/traits.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/orphan.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/inline_asm.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/outlives/test_type_match.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_lint/src/deref_into_dyn_supertrait.rs
  compiler/rustc_lint/src/for_loops_over_fallibles.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/mir/interpret/queries.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/abstract_const.rs
  compiler/rustc_middle/src/ty/erase_regions.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/normalize_erasing_regions.rs
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_middle/src/ty/vtable.rs
  compiler/rustc_mir_build/src/check_tail_calls.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_dataflow/src/value_analysis.rs
  compiler/rustc_mir_transform/src/add_subtyping_projections.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
  compiler/rustc_symbol_mangling/src/test.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/note_and_explain.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
  compiler/rustc_trait_selection/src/traits/mod.rs
  compiler/rustc_trait_selection/src/traits/query/dropck_outlives.rs
  compiler/rustc_traits/src/codegen.rs
  compiler/rustc_traits/src/normalize_erasing_regions.rs
  compiler/rustc_transmute/src/layout/mod.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_ty_utils/src/instance.rs
  compiler/rustc_type_ir/src/visit.rs
  src/tools/clippy/clippy_lints/src/dereference.rs
  src/tools/clippy/clippy_lints/src/loops/explicit_iter_loop.rs
  src/tools/clippy/clippy_lints/src/only_used_in_recursion.rs
  src/tools/clippy/clippy_lints/src/transmute/transmute_ref_to_ref.rs
  src/tools/clippy/clippy_lints/src/transmute/transmute_undefined_repr.rs
  src/tools/clippy/clippy_lints/src/useless_conversion.rs
  src/tools/clippy/clippy_utils/src/ty/mod.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor, T-clippy

#145463 Reject invalid literal suffixes in tuple indexing, tuple struct indexing, and struct field name position
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  src/tools/tidy/src/issues.txt
  tests/ui/parser/auxiliary/tuple-index-suffix-proc-macro-aux.rs
  tests/ui/parser/issues/issue-59418.rs
  tests/ui/parser/issues/issue-59418.stderr
  tests/ui/parser/tuple-index-suffix-proc-macro.rs
  tests/ui/parser/tuple-index-suffix-proc-macro.stderr
  tests/ui/parser/tuple-index-suffix.rs
  tests/ui/parser/tuple-index-suffix.stderr
Labels: A-grammar, A-parser, T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, needs-fcp, A-proc-macros, to-announce, I-lang-nominated, A-tidy, I-lang-radar, P-lang-drag-1

#145929 fix APITIT being treated as a normal generic parameter in suggestions
  compiler/rustc_hir_analysis/src/check/mod.rs
  tests/ui/suggestions/apitit-unimplemented-method.rs
  tests/ui/suggestions/apitit-unimplemented-method.stderr
  tests/ui/suggestions/auxiliary/dep.rs
Labels: T-compiler, S-waiting-on-bors

#146001 Update getopts to remove unicode-width dependency
  Cargo.lock
  library/Cargo.lock
  library/test/Cargo.toml
  src/tools/tidy/src/deps.rs
Labels: T-bootstrap, S-waiting-on-bors, T-libs, A-tidy

#146365 triagebot: warn about #[rustc_intrinsic_const_stable_indirect]
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#146366 add approx_delta to all gamma tests
  library/std/tests/floats/f32.rs
Labels: S-waiting-on-bors, T-libs

#146373 fix comments about trait solver cycle heads
  compiler/rustc_type_ir/src/search_graph/mod.rs
  compiler/rustc_type_ir/src/search_graph/stack.rs
Labels: T-compiler, S-waiting-on-bors

#146375 Rollup of 6 pull requests
  Cargo.lock
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_type_ir/src/search_graph/mod.rs
  compiler/rustc_type_ir/src/search_graph/stack.rs
  library/Cargo.lock
  library/std/tests/floats/f32.rs
  library/test/Cargo.toml
  src/tools/tidy/src/deps.rs
  src/tools/tidy/src/issues.txt
  tests/ui/parser/auxiliary/tuple-index-suffix-proc-macro-aux.rs
  tests/ui/parser/issues/issue-59418.rs
  tests/ui/parser/issues/issue-59418.stderr
  tests/ui/parser/tuple-index-suffix-proc-macro.rs
  tests/ui/parser/tuple-index-suffix-proc-macro.stderr
  tests/ui/parser/tuple-index-suffix.rs
  tests/ui/parser/tuple-index-suffix.stderr
  tests/ui/suggestions/apitit-unimplemented-method.rs
  tests/ui/suggestions/apitit-unimplemented-method.stderr
  tests/ui/suggestions/auxiliary/dep.rs
  triagebot.toml
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, A-tidy

#146350 [beta] backports
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_trait_selection/src/traits/vtable.rs
  library/std/src/sys/fs/unix.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/llvm.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/vendor.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  tests/ui/methods/missing-bound-on-tuple.rs
  tests/ui/methods/missing-bound-on-tuple.stderr
  tests/ui/methods/tuple-suggestions-issue-142488.rs
  tests/ui/methods/tuple-suggestions-issue-142488.stderr
  tests/ui/traits/vtable/empty-supertrait-with-nonempty-supersupertrait.dump.stderr
  tests/ui/traits/vtable/empty-supertrait-with-nonempty-supersupertrait.rs
  tests/ui/traits/vtable/multiple-auto.rs
  tests/ui/traits/vtable/multiple-auto.stderr
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, T-libs

#146389 Convert `no_std` and `no_core` to the new attribute infrastructure
  compiler/rustc_attr_parsing/src/attributes/crate_level.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_hir/src/attrs/data_structures.rs
  compiler/rustc_hir/src/attrs/encode_cross_crate.rs
  compiler/rustc_passes/src/check_attr.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  tests/ui/attributes/malformed-no-std.rs
  tests/ui/attributes/malformed-no-std.stderr
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs.rs
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  tests/ui/lint/unused/unused-attr-duplicate.stderr
  tests/ui/unpretty/exhaustive.hir.stdout
Labels: A-attributes, T-compiler, S-waiting-on-bors, T-clippy

#146403 sort array trait implementation suggestions correctly
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  tests/ui/consts/missing-larger-array-impl.stderr
  tests/ui/suggestions/issue-71394-no-from-impl.stderr
Labels: T-compiler, S-waiting-on-bors

#146452 Improve `alloc::Layout` coverage
  library/coretests/tests/alloc.rs
Labels: S-waiting-on-bors, T-libs

#146477 Improve `core::char` coverage
  library/coretests/tests/char.rs
  library/coretests/tests/lib.rs
Labels: S-waiting-on-bors, T-libs

#146481 Improve `core::hash` coverage
  library/coretests/tests/hash/mod.rs
Labels: S-waiting-on-bors, T-libs

#146494 Rollup of 5 pull requests
  compiler/rustc_attr_parsing/src/attributes/crate_level.rs
  compiler/rustc_attr_parsing/src/context.rs
  compiler/rustc_hir/src/attrs/data_structures.rs
  compiler/rustc_hir/src/attrs/encode_cross_crate.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  library/coretests/tests/alloc.rs
  library/coretests/tests/char.rs
  library/coretests/tests/hash/mod.rs
  library/coretests/tests/lib.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  tests/ui/attributes/malformed-no-std.rs
  tests/ui/attributes/malformed-no-std.stderr
  tests/ui/consts/missing-larger-array-impl.stderr
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs.rs
  tests/ui/feature-gates/issue-43106-gating-of-builtin-attrs.stderr
  tests/ui/lint/unused/unused-attr-duplicate.stderr
  tests/ui/suggestions/issue-71394-no-from-impl.stderr
  tests/ui/unpretty/exhaustive.hir.stdout
Labels: A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, T-clippy

#146394 ci: Increase `rust.debuginfo-level-tests` to `2` in `x86_64-gnu-debug` job
  src/ci/docker/host-x86_64/x86_64-gnu-debug/Dockerfile
  tests/ui/async-await/future-sizes/async-awaiting-fut.rs
  tests/ui/async-await/future-sizes/large-arg.rs
  tests/ui/consts/required-consts/collect-in-promoted-const.noopt.stderr
  tests/ui/consts/required-consts/collect-in-promoted-const.opt.stderr
  tests/ui/consts/required-consts/collect-in-promoted-const.rs
  tests/ui/print_type_sizes/async.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors, A-CI

#145186 Make `AssocItem` aware of its impl kind
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_codegen_ssa/src/codegen_attrs.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_metadata/src/rmeta/encoder.rs
  compiler/rustc_metadata/src/rmeta/mod.rs
  compiler/rustc_metadata/src/rmeta/parameterized.rs
  compiler/rustc_metadata/src/rmeta/table.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_middle/src/ty/assoc.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/instance.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_passes/src/dead.rs
  compiler/rustc_passes/src/stability.rs
  compiler/rustc_public/src/ty.rs
  compiler/rustc_public/src/unstable/convert/stable/ty.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/transform.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/note_and_explain.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/region.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/call_kind.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/traits/specialize/specialization_graph.rs
  compiler/rustc_ty_utils/src/assoc.rs
  compiler/rustc_ty_utils/src/implied_bounds.rs
  compiler/rustc_ty_utils/src/opaque_types.rs
  compiler/rustc_ty_utils/src/ty.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/clippy/clippy_lints/src/disallowed_macros.rs
  src/tools/clippy/clippy_lints/src/functions/renamed_function_params.rs
  src/tools/clippy/clippy_lints/src/manual_async_fn.rs
  src/tools/clippy/clippy_lints/src/min_ident_chars.rs
  src/tools/clippy/clippy_lints/src/missing_const_for_fn.rs
  src/tools/clippy/clippy_lints/src/missing_doc.rs
  src/tools/clippy/clippy_lints/src/missing_inline.rs
  src/tools/clippy/clippy_lints/src/missing_trait_methods.rs
  src/tools/clippy/clippy_lints/src/only_used_in_recursion.rs
  src/tools/clippy/clippy_lints/src/use_self.rs
  src/tools/clippy/clippy_utils/src/check_proc_macro.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  tests/ui/const-generics/generic_const_exprs/post-analysis-user-facing-param-env.rs
  tests/ui/const-generics/generic_const_exprs/post-analysis-user-facing-param-env.stderr
Labels: A-LLVM, T-rustdoc, A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors, PG-exploit-mitigations, T-clippy

#113095 Document `become` keyword
  library/std/src/keyword_docs.rs
Labels: S-waiting-on-bors, T-libs

#146159 Some hygiene doc improvements
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#146171 tidy: check that error messages don't start with a capitalized letter
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_passes/messages.ftl
  src/tools/tidy/src/fluent_lowercase.rs
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
  tests/ui/linkage-attr/raw-dylib/windows/dlltool-failed.rs
  tests/ui/linkage-attr/raw-dylib/windows/dlltool-failed.stderr
Labels: T-bootstrap, S-waiting-on-bors, A-tidy

#146473 Revert "Constify SystemTime methods"
  library/std/src/lib.rs
  library/std/src/sys/pal/hermit/time.rs
  library/std/src/sys/pal/sgx/time.rs
  library/std/src/sys/pal/solid/time.rs
  library/std/src/sys/pal/uefi/time.rs
  library/std/src/sys/pal/unix/time.rs
  library/std/src/sys/pal/unsupported/time.rs
  library/std/src/sys/pal/wasip1/time.rs
  library/std/src/sys/pal/wasip2/time.rs
  library/std/src/sys/pal/windows/time.rs
  library/std/src/sys/pal/xous/time.rs
  library/std/src/time.rs
Labels: O-windows, S-waiting-on-bors, T-libs, O-SGX, O-unix, O-wasi, O-hermit, O-solid

#146506 Fix small typo in check-cfg.md
  src/doc/rustc/src/check-cfg.md
Labels: S-waiting-on-bors

#146517 fix Condvar::wait_timeout docs
  library/std/src/sync/nonpoison/condvar.rs
  library/std/src/sync/poison/condvar.rs
Labels: S-waiting-on-bors, T-libs

#146521 document `core::ffi::VaArgSafe`
  library/core/src/ffi/va_list.rs
  tests/codegen-llvm/cffi/c-variadic-inline.rs
  tests/ui/c-variadic/naked.rs
  tests/ui/explicit-tail-calls/c-variadic.rs
  tests/ui/explicit-tail-calls/c-variadic.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, F-c_variadic, F-explicit_tail_calls

#146507 Bump version to 1.92.0
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#145881 Move more early buffered lints to dyn lint diagnostics
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/asm.rs
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_builtin_macros/src/source_util.rs
  compiler/rustc_builtin_macros/src/test_harness.rs
  compiler/rustc_builtin_macros/src/util.rs
  compiler/rustc_expand/messages.ftl
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/errors.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/mbe/macro_check.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_interface/messages.ftl
  compiler/rustc_interface/src/errors.rs
  compiler/rustc_interface/src/util.rs
  compiler/rustc_lint/messages.ftl
  compiler/rustc_lint/src/early/diagnostics.rs
  compiler/rustc_lint/src/lints.rs
  compiler/rustc_lint_defs/src/lib.rs
  compiler/rustc_resolve/messages.ftl
  compiler/rustc_resolve/src/check_unused.rs
  compiler/rustc_resolve/src/diagnostics.rs
  compiler/rustc_resolve/src/errors.rs
  compiler/rustc_resolve/src/ident.rs
  compiler/rustc_resolve/src/imports.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_resolve/src/macros.rs
  tests/ui/macros/issue-61053-duplicate-binder.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#146543 [stable] 1.90.0 stable release
  RELEASES.md
  src/ci/channel
Labels: A-testsuite, S-waiting-on-bors, T-infra, T-release, merged-by-bors, A-CI

#146533 Note some previous attempts to change the Default impl for `[T; 0]`
  library/core/src/array/mod.rs
Labels: S-waiting-on-bors, T-libs

#146559 Fix typo in error message
  compiler/rustc_middle/messages.ftl
  tests/ui/consts/const_refs_to_static_fail.stderr
  tests/ui/consts/const_refs_to_static_fail_invalid.stderr
  tests/ui/consts/miri_unleashed/const_refers_to_static.stderr
  tests/ui/consts/miri_unleashed/const_refers_to_static_cross_crate.stderr
Labels: T-compiler, S-waiting-on-bors

#146599 replace some `#[const_trait]` with `const trait`
  library/core/src/cmp.rs
Labels: S-waiting-on-bors, T-libs

#146601 compiletest: Make `./x test --test-args ...` work again
  src/tools/compiletest/src/executor.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#146608 improve internal bootstrap docs
  src/bootstrap/README.md
  src/bootstrap/src/core/build_steps/tool.rs
Labels: T-bootstrap, S-waiting-on-bors

#146609 bootstrap: lower verbosity of cargo to one less than bootstrap's
  src/bootstrap/bootstrap.py
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/cargo.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#145095 Migrate `UnsizedConstParamTy` to unstable impl of `ConstParamTy_`
  compiler/rustc_builtin_macros/src/deriving/bounds.rs
  compiler/rustc_builtin_macros/src/lib.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/coherence/builtin.rs
  compiler/rustc_infer/src/traits/engine.rs
  compiler/rustc_trait_selection/src/traits/misc.rs
  library/core/src/marker.rs
  library/core/src/mem/transmutability.rs
  library/core/src/tuple.rs
  tests/ui/const-generics/adt_const_params/auxiliary/unsized_const_param.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_bad.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_bad.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_dyn_compatibility.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_dyn_compatibility.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_generic_bounds_do_not_hold.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_generic_bounds_do_not_hold.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_good.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_bad_field.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_bad_field.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_no_structural_eq.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_no_structural_eq.stderr
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_union.rs
  tests/ui/const-generics/adt_const_params/const_param_ty_impl_union.stderr
  tests/ui/const-generics/adt_const_params/nested_bad_const_param_ty.rs
  tests/ui/const-generics/adt_const_params/nested_bad_const_param_ty.stderr
  tests/ui/const-generics/adt_const_params/non_valtreeable_const_arg-2.stderr
  tests/ui/const-generics/adt_const_params/reference_pointee_is_const_param-1.rs
  tests/ui/const-generics/adt_const_params/reference_pointee_is_const_param-1.stderr
  tests/ui/const-generics/adt_const_params/reference_pointee_is_const_param-2.rs
  tests/ui/const-generics/adt_const_params/reference_pointee_is_const_param-2.stderr
  tests/ui/const-generics/adt_const_params/trait_objects_as_a_const_generic.rs
  tests/ui/const-generics/adt_const_params/trait_objects_as_a_const_generic.stderr
  tests/ui/const-generics/adt_const_params/unsized_field-1.rs
  tests/ui/const-generics/adt_const_params/unsized_field-1.stderr
  tests/ui/const-generics/adt_const_params/unsized_field-2.rs
  tests/ui/const-generics/adt_const_params/unsized_field-2.stderr
  tests/ui/const-generics/adt_const_params/unsizing-wfcheck-issue-126272.rs
  tests/ui/const-generics/adt_const_params/unsizing-wfcheck-issue-126272.stderr
  tests/ui/const-generics/const-param-with-additional-obligations.rs
  tests/ui/const-generics/generic_const_parameter_types/no_const_param_ty_bound.stderr
  tests/ui/const-generics/issue-66451.rs
  tests/ui/const-generics/issues/issue-63322-forbid-dyn.full.stderr
  tests/ui/const-generics/slice-const-param-mismatch.adt_const_params.stderr
  tests/ui/const-generics/slice-const-param.rs
  tests/ui/const-generics/transmute-const-param-static-reference.adt_const_params.stderr
  tests/ui/const-generics/transmute-const-param-static-reference.rs
  tests/ui/const-generics/unsized_const_params/symbol_mangling_v0_str.rs
  tests/ui/feature-gates/feature-gate-adt_const_params.rs
  tests/ui/feature-gates/feature-gate-adt_const_params.stderr
  tests/ui/layout/thaw-transmute-invalid-enum.rs
  tests/ui/layout/thaw-transmute-invalid-enum.stderr
  tests/ui/symbol-names/const-generics-structural-demangling.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#145960 Split `FnCtxt::report_args_error` into subfunctions
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
Labels: T-compiler, S-waiting-on-bors

#146466 llvm-wrapper: other cleanup
  compiler/rustc_llvm/build.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_llvm/src/lib.rs
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#146574 compiletest: Enable new-output-capture by default
  src/tools/compiletest/src/lib.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#138271 Keep space if arg does not follow punctuation when lint unused parens
  compiler/rustc_lint/src/unused.rs
  tests/ui/lint/unused_parens_follow_ident.fixed
  tests/ui/lint/unused_parens_follow_ident.rs
  tests/ui/lint/unused_parens_follow_ident.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#146618 Do not run ui test if options specific to LLVM are used when another codegen backend is used
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/directives/needs.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#146474 Improve `core::ascii` coverage
  library/coretests/tests/ascii.rs
Labels: S-waiting-on-bors, T-libs

#146605 Bump rustfix 0.8.1 -> 0.8.7
  Cargo.lock
  tests/ui/associated-types/associated-types-for-unimpl-trait.fixed
  tests/ui/lifetimes/issue-105507.fixed
  tests/ui/parser/expr-as-stmt.fixed
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-2.fixed
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-3.fixed
  tests/ui/suggestions/trait-impl-bound-suggestions.fixed
Labels: T-compiler, S-waiting-on-bors

#146611 bootstrap: emit hint if a config key is used in the wrong section
  src/bootstrap/src/core/config/config.rs
Labels: T-bootstrap, S-waiting-on-bors

#146650 Rollup of 5 pull requests
  Cargo.lock
  compiler/rustc_hir_analysis/src/check/mod.rs
  library/coretests/tests/ascii.rs
  src/bootstrap/src/core/config/config.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/directives/needs.rs
  tests/ui/associated-types/associated-types-for-unimpl-trait.fixed
  tests/ui/lifetimes/issue-105507.fixed
  tests/ui/parser/expr-as-stmt.fixed
  tests/ui/suggestions/apitit-unimplemented-method.rs
  tests/ui/suggestions/apitit-unimplemented-method.stderr
  tests/ui/suggestions/auxiliary/dep.rs
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-2.fixed
  tests/ui/suggestions/missing-bound-in-derive-copy-impl-3.fixed
  tests/ui/suggestions/trait-impl-bound-suggestions.fixed
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-compiletest

#145071 Update the minimum external LLVM to 20
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/traits/builder.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  src/bootstrap/src/core/build_steps/llvm.rs
  src/ci/docker/README.md
  src/ci/docker/host-aarch64/aarch64-gnu-llvm-19/Dockerfile
  src/ci/docker/host-aarch64/aarch64-gnu-llvm-20/Dockerfile
  src/ci/github-actions/jobs.yml
  tests/assembly-llvm/riscv-soft-abi-with-float-features.rs
  tests/assembly-llvm/x86_64-bigint-helpers.rs
  tests/assembly-llvm/x86_64-cmp.rs
  tests/codegen-llvm/comparison-operators-2-struct.rs
  tests/codegen-llvm/comparison-operators-2-tuple.rs
  tests/codegen-llvm/enum/enum-aggregate.rs
  tests/codegen-llvm/enum/enum-discriminant-eq.rs
  tests/codegen-llvm/integer-cmp.rs
  tests/codegen-llvm/intrinsics/three_way_compare.rs
  tests/codegen-llvm/issues/and-masked-comparison-131162.rs
  tests/codegen-llvm/issues/issue-101082.rs
  tests/codegen-llvm/issues/issue-129795.rs
  tests/codegen-llvm/issues/iter-max-no-unwrap-failed-129583.rs
  tests/codegen-llvm/issues/looping-over-ne-bytes-133528.rs
  tests/codegen-llvm/option-niche-eq.rs
  tests/codegen-llvm/slice-last-elements-optimization.rs
  tests/codegen-llvm/swap-small-types.rs
  tests/codegen-llvm/try_question_mark_nop.rs
  tests/codegen-llvm/union-aggregate.rs
  tests/ui/abi/sparcv8plus-llvm19.rs
  tests/ui/abi/sparcv8plus-llvm19.sparc.stderr
  tests/ui/abi/sparcv8plus-llvm19.sparc_cpu_v9.stderr
  tests/ui/abi/sparcv8plus-llvm19.sparc_cpu_v9_feature_v8plus.stderr
  tests/ui/abi/sparcv8plus-llvm19.sparc_feature_v8plus.stderr
  tests/ui/abi/sparcv8plus-llvm19.sparcv8plus.stderr
  tests/ui/abi/sparcv8plus.rs
  tests/ui/abi/sparcv8plus.sparc.stderr
  tests/ui/abi/sparcv8plus.sparc_cpu_v9.stderr
  tests/ui/abi/sparcv8plus.sparc_cpu_v9_feature_v8plus.stderr
  tests/ui/abi/sparcv8plus.sparc_feature_v8plus.stderr
  tests/ui/abi/sparcv8plus.sparcv8plus.stderr
  tests/ui/asm/loongarch/bad-reg.loongarch32_ilp32d.stderr
  tests/ui/asm/loongarch/bad-reg.loongarch32_ilp32s.stderr
  tests/ui/asm/loongarch/bad-reg.loongarch64_lp64d.stderr
  tests/ui/asm/loongarch/bad-reg.loongarch64_lp64s.stderr
  tests/ui/asm/loongarch/bad-reg.rs
Labels: A-LLVM, A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, A-CI

#145181 remove FIXME block from `has_significant_drop`, it never encounters inference variables
  compiler/rustc_middle/src/ty/util.rs
  tests/ui/type-inference/has_sigdrop.rs
Labels: T-compiler, S-waiting-on-bors

#146410 Iterator repeat: no infinite loop for `last` and `count`
  library/core/src/iter/sources/repeat.rs
Labels: relnotes, S-waiting-on-bors, T-libs

#146460 Add tidy readme
  src/doc/rustc-dev-guide/src/tests/intro.md
  src/tools/tidy/Readme.md
Labels: T-bootstrap, S-waiting-on-bors, A-tidy, A-rustc-dev-guide

#146552 StateTransform: Do not renumber resume local.
  compiler/rustc_middle/src/mir/mod.rs
  compiler/rustc_middle/src/mir/query.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  tests/mir-opt/async_drop_live_dead.a-{closure#0}.coroutine_drop_async.0.panic-abort.mir
  tests/mir-opt/async_drop_live_dead.a-{closure#0}.coroutine_drop_async.0.panic-unwind.mir
  tests/mir-opt/building/async_await.a-{closure#0}.coroutine_resume.0.mir
  tests/mir-opt/building/async_await.b-{closure#0}.coroutine_resume.0.mir
  tests/mir-opt/building/coroutine.main-{closure#0}.StateTransform.after.mir
  tests/mir-opt/building/coroutine.main-{closure#1}.StateTransform.after.mir
  tests/mir-opt/building/coroutine.rs
  tests/mir-opt/coroutine_drop_cleanup.main-{closure#0}.coroutine_drop.0.panic-abort.mir
  tests/mir-opt/coroutine_drop_cleanup.main-{closure#0}.coroutine_drop.0.panic-unwind.mir
  tests/mir-opt/coroutine_tiny.main-{closure#0}.coroutine_resume.0.mir
  tests/mir-opt/inline_coroutine_body.run2-{closure#0}.Inline.panic-abort.diff
  tests/mir-opt/inline_coroutine_body.run2-{closure#0}.Inline.panic-unwind.diff
  tests/ui/rustc_public-ir-print/async-closure.rs
  tests/ui/rustc_public-ir-print/async-closure.stdout
Labels: T-compiler, S-waiting-on-bors

#146564 Remove Rvalue::Len again.
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/polonius/legacy/loan_invalidations.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_codegen_cranelift/src/base.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/check_consts/check.rs
  compiler/rustc_const_eval/src/check_consts/qualifs.rs
  compiler/rustc_const_eval/src/check_consts/resolver.rs
  compiler/rustc_const_eval/src/interpret/step.rs
  compiler/rustc_middle/src/mir/pretty.rs
  compiler/rustc_middle/src/mir/statement.rs
  compiler/rustc_middle/src/mir/syntax.rs
  compiler/rustc_middle/src/mir/visit.rs
  compiler/rustc_mir_build/src/builder/custom/parse/instruction.rs
  compiler/rustc_mir_build/src/builder/expr/as_place.rs
  compiler/rustc_mir_build/src/builder/matches/test.rs
  compiler/rustc_mir_dataflow/src/impls/borrowed_locals.rs
  compiler/rustc_mir_dataflow/src/move_paths/builder.rs
  compiler/rustc_mir_transform/src/dataflow_const_prop.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/known_panics_lint.rs
  compiler/rustc_mir_transform/src/promote_consts.rs
  compiler/rustc_mir_transform/src/validate.rs
  compiler/rustc_public/src/unstable/convert/stable/mir.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/intrinsics/mir.rs
  src/tools/clippy/clippy_utils/src/qualify_min_const_fn.rs
  tests/mir-opt/building/custom/arrays.arrays.built.after.mir
  tests/mir-opt/building/custom/arrays.rs
  tests/mir-opt/building/match/array_len.const_array_len.built.after.panic-abort.mir
  tests/mir-opt/building/match/array_len.const_array_len.built.after.panic-unwind.mir
  tests/mir-opt/building/match/array_len.rs
  tests/mir-opt/building/match/array_len.slice_len.built.after.panic-abort.mir
  tests/mir-opt/building/match/array_len.slice_len.built.after.panic-unwind.mir
  tests/mir-opt/dataflow-const-prop/slice_len.main.DataflowConstProp.32bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/slice_len.main.DataflowConstProp.32bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/slice_len.main.DataflowConstProp.64bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/slice_len.main.DataflowConstProp.64bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/slice_len.rs
  tests/mir-opt/gvn.array_len.GVN.panic-abort.diff
  tests/mir-opt/gvn.array_len.GVN.panic-unwind.diff
  tests/mir-opt/instsimplify/combine_array_len.norm2.InstSimplify-after-simplifycfg.panic-abort.diff
  tests/mir-opt/instsimplify/combine_array_len.norm2.InstSimplify-after-simplifycfg.panic-unwind.diff
  tests/mir-opt/instsimplify/combine_array_len.normN.InstSimplify-after-simplifycfg.panic-abort.diff
  tests/mir-opt/instsimplify/combine_array_len.normN.InstSimplify-after-simplifycfg.panic-unwind.diff
  tests/mir-opt/instsimplify/combine_array_len.rs
  tests/mir-opt/issue_76432.test.SimplifyComparisonIntegral.panic-abort.diff
  tests/mir-opt/issue_76432.test.SimplifyComparisonIntegral.panic-unwind.diff
  tests/mir-opt/lower_array_len.array_len_raw.GVN.panic-abort.diff
  tests/mir-opt/lower_array_len.array_len_raw.GVN.panic-unwind.diff
  tests/mir-opt/lower_array_len.array_len_reborrow.GVN.panic-abort.diff
  tests/mir-opt/lower_array_len.array_len_reborrow.GVN.panic-unwind.diff
  tests/mir-opt/reference_prop.debuginfo.ReferencePropagation.diff
Labels: T-compiler, S-waiting-on-bors, T-libs, T-clippy

#146581 Detect attempt to use var-args in closure
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/ty.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/need_type_info.rs
  tests/ui/c-variadic/no-closure.rs
  tests/ui/c-variadic/no-closure.stderr
Labels: T-compiler, S-waiting-on-bors

#146631 cg_llvm: Replace some DIBuilder wrappers with LLVM-C API bindings (part 3)
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/type_map.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#146259 Suggest removing Box::new instead of unboxing it
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  tests/ui/coercion/coerce-block-tail.stderr
  tests/ui/coercion/coerce-box-new-to-unboxed.rs
  tests/ui/coercion/coerce-box-new-to-unboxed.stderr
Labels: T-compiler, S-waiting-on-bors

#146588 tests/run-make: Update list of statically linked musl targets
  tests/run-make/musl-default-linking/rmake.rs
Labels: T-compiler, S-waiting-on-bors, O-musl, A-run-make

#142807 libtest: expose --fail-fast as an unstable command-line option
  library/test/src/cli.rs
  src/doc/rustc/src/tests/index.md
Labels: S-waiting-on-bors, A-libtest, T-testing-devex

#146645 Cleanup `FnDecl::inner_full_print`
  src/librustdoc/display.rs
  src/librustdoc/html/format.rs
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#146673 cg_llvm: Replace some DIBuilder wrappers with LLVM-C API bindings (part 4)
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/cpp_like.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: A-LLVM, T-compiler, S-waiting-on-bors

#146694 Remove ImplSubject
  compiler/rustc_infer/src/infer/at.rs
  compiler/rustc_middle/src/hir/mod.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/relate.rs
  src/librustdoc/html/render/mod.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-rustdoc-frontend

#142544 Prevent ABI changes affect EnzymeAD
  compiler/rustc_codegen_llvm/src/builder/autodiff.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  tests/codegen-llvm/autodiff/abi_handling.rs
  tests/ui/autodiff/zst.rs
Labels: A-LLVM, A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors, F-autodiff

#145993 `-Znext-solver` allow `ExprKind::Call` for not-yet defined opaques
  compiler/rustc_hir_analysis/src/autoderef.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/mod.rs
  compiler/rustc_hir_typeck/src/op.rs
  compiler/rustc_hir_typeck/src/opaque_types.rs
  compiler/rustc_hir_typeck/src/place_op.rs
  compiler/rustc_infer/src/infer/context.rs
  compiler/rustc_infer/src/infer/mod.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/mod.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/canonical.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/mod.rs
  compiler/rustc_next_trait_solver/src/solve/search_graph.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/solve/fulfill/derive_errors.rs
  compiler/rustc_trait_selection/src/solve/inspect/analyse.rs
  compiler/rustc_trait_selection/src/solve/select.rs
  compiler/rustc_trait_selection/src/traits/coherence.rs
  compiler/rustc_trait_selection/src/traits/query/evaluate_obligation.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/solve/mod.rs
  tests/ui/impl-trait/non-defining-uses/ambiguous-ops.current.stderr
  tests/ui/impl-trait/non-defining-uses/ambiguous-ops.rs
  tests/ui/impl-trait/non-defining-uses/call-expr-incorrect-choice-diagnostics.current.stderr
  tests/ui/impl-trait/non-defining-uses/call-expr-incorrect-choice-diagnostics.next.stderr
  tests/ui/impl-trait/non-defining-uses/call-expr-incorrect-choice-diagnostics.rs
  tests/ui/impl-trait/non-defining-uses/deref-constrains-self-ty.current.stderr
  tests/ui/impl-trait/non-defining-uses/deref-constrains-self-ty.rs
  tests/ui/impl-trait/non-defining-uses/double-wrap-with-defining-use.current.stderr
  tests/ui/impl-trait/non-defining-uses/double-wrap-with-defining-use.rs
  tests/ui/impl-trait/non-defining-uses/function-call-on-infer.rs
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.current.stderr
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.next.stderr
  tests/ui/impl-trait/non-defining-uses/ice-issue-146191.rs
  tests/ui/impl-trait/non-defining-uses/impl-deref-function-call.rs
  tests/ui/impl-trait/non-defining-uses/shex_compat-regression-test.rs
  tests/ui/impl-trait/two_tait_defining_each_other2.next.stderr
  tests/ui/impl-trait/two_tait_defining_each_other2.rs
  tests/ui/inference/return-block-type-inference-15965.stderr
  tests/ui/unboxed-closures/unboxed-closures-failed-recursive-fn-2.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, WG-trait-system-refactor

#146487 Improve `core::num` coverage
  library/coretests/tests/num/mod.rs
Labels: S-waiting-on-bors, T-libs

#146717 Clean up universe evaluation during type test evaluation
  compiler/rustc_borrowck/src/handle_placeholders.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#146723 Include patch in release notes
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#146727 Rollup of 6 pull requests
  RELEASES.md
  compiler/rustc_ast_passes/messages.ftl
  compiler/rustc_ast_passes/src/ast_validation.rs
  compiler/rustc_ast_passes/src/errors.rs
  compiler/rustc_borrowck/src/handle_placeholders.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/type_check/canonical.rs
  compiler/rustc_const_eval/src/const_eval/valtrees.rs
  compiler/rustc_hir_typeck/src/expectation.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_middle/src/error.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/layout.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_trait_selection/src/traits/dyn_compatibility.rs
  compiler/rustc_trait_selection/src/traits/project.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/ty.rs
  library/coretests/tests/num/mod.rs
  tests/ui/c-variadic/inherent-method.rs
  tests/ui/c-variadic/not-async.rs
  tests/ui/c-variadic/not-async.stderr
  tests/ui/c-variadic/not-dyn-compatible.rs
  tests/ui/c-variadic/not-dyn-compatible.stderr
  tests/ui/c-variadic/trait-method.rs
  tests/ui/c-variadic/unsupported-abi.rs
  tests/ui/c-variadic/unsupported-abi.stderr
  tests/ui/did_you_mean/recursion_limit_deref.rs
  tests/ui/did_you_mean/recursion_limit_deref.stderr
  tests/ui/feature-gates/feature-gate-c_variadic.rs
  tests/ui/feature-gates/feature-gate-c_variadic.stderr
  tests/ui/infinite/infinite-instantiation-struct-tail-ice-114484.rs
  tests/ui/infinite/infinite-instantiation-struct-tail-ice-114484.stderr
  tests/ui/infinite/infinite-struct.rs
  tests/ui/infinite/infinite-struct.stderr
  tests/ui/invalid/issue-114435-layout-type-err.rs
  tests/ui/lifetimes/lifetime-errors/ex3-both-anon-regions-one-is-struct-5.rs
  tests/ui/lifetimes/lifetime-errors/ex3-both-anon-regions-one-is-struct-5.stderr
  tests/ui/parser/variadic-ffi-semantic-restrictions.rs
  tests/ui/parser/variadic-ffi-semantic-restrictions.stderr
  tests/ui/traits/solver-cycles/129541-recursive-struct.rs
Labels: T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup, T-libs

#137122 Specialize `Iterator::eq{_by}` for `TrustedLen` iterators
  library/core/src/iter/traits/iterator.rs
Labels: S-waiting-on-bors, disposition-merge, finished-final-comment-period, merged-by-bors, T-libs, to-announce

#146687 [beta] Revert "compiler: Add Windows resources to rustc-main and rustc_driver"
  Cargo.lock
  compiler/rustc/Cargo.toml
  compiler/rustc/build.rs
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_driver/Cargo.toml
  compiler/rustc_driver/build.rs
  compiler/rustc_llvm/Cargo.toml
  compiler/rustc_windows_rc/Cargo.toml
  compiler/rustc_windows_rc/rustc.rc.in
  compiler/rustc_windows_rc/src/lib.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: A-LLVM, beta-nominated, beta-accepted, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors

#146691 std: Fix WASI implementation of `remove_dir_all`
  library/std/src/sys/fs/wasi.rs
Labels: S-waiting-on-bors, T-libs
