Repository rust-lang/rust, pull requests merged in 2025-03, with the labels that each got.

#137517 Remove `NtPat`, `NtMeta`, and `NtPath`
  compiler/rustc_ast/src/ast_traits.rs
  compiler/rustc_ast/src/attr/mod.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_attr_parsing/src/parser.rs
  compiler/rustc_expand/src/mbe/transcribe.rs
  compiler/rustc_parse/messages.ftl
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/nonterminal.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/path.rs
  tests/ui/attributes/nonterminal-expansion.rs
  tests/ui/attributes/nonterminal-expansion.stderr
  tests/ui/conditional-compilation/cfg-attr-syntax-validation.rs
  tests/ui/conditional-compilation/cfg-attr-syntax-validation.stderr
  tests/ui/imports/import-prefix-macro-2.rs
  tests/ui/imports/import-prefix-macro-2.stderr
  tests/ui/macros/nonterminal-matching.rs
  tests/ui/macros/nonterminal-matching.stderr
  tests/ui/macros/trace_faulty_macros.rs
  tests/ui/macros/trace_faulty_macros.stderr
  tests/ui/parser/attribute/attr-bad-meta-4.rs
  tests/ui/parser/attribute/attr-bad-meta-4.stderr
  tests/ui/parser/attribute/attr-unquoted-ident.rs
  tests/ui/parser/attribute/attr-unquoted-ident.stderr
  tests/ui/parser/issues/issue-65122-mac-invoc-in-mut-patterns.rs
  tests/ui/parser/issues/issue-65122-mac-invoc-in-mut-patterns.stderr
  tests/ui/parser/mut-patterns.rs
  tests/ui/parser/mut-patterns.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#137017 Don't error when adding a staticlib with bitcode files compiled by newer LLVM
  compiler/rustc_codegen_llvm/src/back/archive.rs
  tests/run-make/staticlib-broken-bitcode/rmake.rs
  tests/run-make/staticlib-broken-bitcode/rust_lib.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#137197 Update some comparison codegen tests now that they pass in LLVM20
  library/core/src/cmp.rs
  tests/codegen/comparison-operators-2-struct.rs
  tests/codegen/comparison-operators-2-tuple.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#137540 Fix (more) test directives that were accidentally ignored
  tests/run-make/rustdoc-scrape-examples-macros/src/lib.rs
  tests/run-make/rustdoc-scrape-examples-multiple/src/lib.rs
  tests/run-make/rustdoc-scrape-examples-ordering/src/lib.rs
  tests/run-make/rustdoc-scrape-examples-remap/src/lib.rs
  tests/run-make/rustdoc-scrape-examples-test/src/lib.rs
  tests/run-make/rustdoc-scrape-examples-whitespace/src/lib.rs
  tests/run-make/rustdoc-themes/foo.rs
  tests/run-make/rustdoc-with-out-dir-option/src/lib.rs
  tests/run-make/rustdoc-with-output-option/src/lib.rs
  tests/run-make/rustdoc-with-short-out-dir-option/src/lib.rs
  tests/rustdoc-ui/unused-extern-crate.rs
  tests/rustdoc/auxiliary/panic-item.rs
  tests/rustdoc/unused-extern-crate.rs
  tests/ui/inline-const/collect-scopes-in-pat.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-run-make, T-rustdoc-frontend

#137673 Fix Windows `Command` search path bug
  library/std/src/sys/pal/windows/process.rs
  tests/ui/process/win-command-child-path.rs
Labels: O-windows, T-compiler, S-waiting-on-bors, T-libs

#137693 Re-enable `--generate-link-to-defintion` for tools internal rustdoc
  src/bootstrap/src/core/build_steps/doc.rs
Labels: T-bootstrap, S-waiting-on-bors

#137770 Fix sized constraint for unsafe binder
  compiler/rustc_ty_utils/src/ty.rs
  tests/ui/unsafe-binders/binder-sized-crit.rs
  tests/ui/unsafe-binders/binder-sized-crit.stderr
Labels: T-compiler, S-waiting-on-bors

#134943 Add FileCheck annotations to mir-opt/issues
  tests/mir-opt/issues/issue_75439.rs
Labels: T-compiler, S-waiting-on-bors

#137676 linker: Fix escaping style for response files on Windows
  compiler/rustc_codegen_ssa/src/back/link.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/utils/helpers.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors

#137045 Defer repeat expr `Copy` checks to end of type checking
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/typeck_root_ctxt.rs
  tests/ui/consts/const-fn-in-vec.rs
  tests/ui/consts/const-fn-in-vec.stderr
  tests/ui/repeat-expr/copy-check-deferred-after-fallback.rs
  tests/ui/repeat-expr/copy-check-deferred-after-fallback.stderr
  tests/ui/repeat-expr/copy-check-deferred-before-fallback.rs
  tests/ui/repeat-expr/copy-inference-side-effects-are-lazy.gai.stderr
  tests/ui/repeat-expr/copy-inference-side-effects-are-lazy.rs
  tests/ui/repeat-expr/copy-inference-side-effects.rs
  tests/ui/repeat-expr/dont-require-copy-on-infer.rs
  tests/ui/repeat-expr/no-conservative-copy-impl-requirement.rs
  tests/ui/repeat-expr/no-conservative-copy-impl-requirement.stderr
Labels: T-compiler, S-waiting-on-bors

#137686 Handle asm const similar to inline const
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_resolve/src/def_collector.rs
  tests/crashes/117877.rs
  tests/ui/asm/const-resolve-error.rs
  tests/ui/asm/const-resolve-error.stderr
  tests/ui/asm/fail-const-eval-issue-121099.rs
  tests/ui/asm/fail-const-eval-issue-121099.stderr
  tests/ui/asm/invalid-const-operand.stderr
Labels: T-compiler, S-waiting-on-bors

#137689 Use `Binder<Vec<Ty>>` instead of `Vec<Binder<Ty>>` in both solvers for sized/auto traits/etc.
  compiler/rustc_infer/src/infer/relate/higher_ranked.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/structural_traits.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/interner.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#137718 Use original command for showing sccache stats
  src/ci/run.sh
Labels: A-testsuite, S-waiting-on-bors, T-infra

#137730 checked_ilog tests: deal with a bit of float imprecision
  library/coretests/tests/num/int_log.rs
Labels: S-waiting-on-bors, T-libs

#137735 Update E0133 docs for 2024 edition
  compiler/rustc_error_codes/src/error_codes/E0133.md
Labels: T-compiler, S-waiting-on-bors

#137742 unconditionally lower match arm even if it's unneeded for never pattern in match
  compiler/rustc_ast_lowering/src/expr.rs
  tests/ui/never_type/unused_trait_in_never_pattern_body.rs
  tests/ui/never_type/unused_trait_in_never_pattern_body.stderr
Labels: T-compiler, S-waiting-on-bors

#137771 Tweak incorrect ABI suggestion and make suggestion verbose
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/item.rs
  tests/ui/abi/riscv-discoverability-guidance.riscv32.stderr
  tests/ui/abi/riscv-discoverability-guidance.riscv64.stderr
  tests/ui/suggestions/abi-typo.stderr
Labels: T-compiler, S-waiting-on-bors

#137838 Rollup of 9 pull requests
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/asm.rs
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_error_codes/src/error_codes/E0133.md
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/intrinsicck.rs
  compiler/rustc_hir_analysis/src/collect/generics_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/typeck_root_ctxt.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_infer/src/infer/relate/higher_ranked.rs
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_middle/src/ty/util.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/structural_traits.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
  compiler/rustc_type_ir/src/infer_ctxt.rs
  compiler/rustc_type_ir/src/interner.rs
  library/coretests/tests/num/int_log.rs
  src/ci/run.sh
  tests/crashes/117877.rs
  tests/ui/abi/riscv-discoverability-guidance.riscv32.stderr
  tests/ui/abi/riscv-discoverability-guidance.riscv64.stderr
  tests/ui/asm/const-resolve-error.rs
  tests/ui/asm/const-resolve-error.stderr
  tests/ui/asm/fail-const-eval-issue-121099.rs
  tests/ui/asm/fail-const-eval-issue-121099.stderr
  tests/ui/asm/invalid-const-operand.stderr
  tests/ui/consts/const-fn-in-vec.rs
  tests/ui/consts/const-fn-in-vec.stderr
  tests/ui/never_type/unused_trait_in_never_pattern_body.rs
  tests/ui/never_type/unused_trait_in_never_pattern_body.stderr
  tests/ui/repeat-expr/copy-check-deferred-after-fallback.rs
  tests/ui/repeat-expr/copy-check-deferred-after-fallback.stderr
  tests/ui/repeat-expr/copy-check-deferred-before-fallback.rs
  tests/ui/repeat-expr/copy-inference-side-effects-are-lazy.gai.stderr
  tests/ui/repeat-expr/copy-inference-side-effects-are-lazy.rs
  tests/ui/repeat-expr/copy-inference-side-effects.rs
  tests/ui/repeat-expr/dont-require-copy-on-infer.rs
  tests/ui/repeat-expr/no-conservative-copy-impl-requirement.rs
  tests/ui/repeat-expr/no-conservative-copy-impl-requirement.stderr
  tests/ui/suggestions/abi-typo.stderr
  tests/ui/suggestions/partialeq_suggest_swap_on_e0277.rs
  tests/ui/suggestions/partialeq_suggest_swap_on_e0277.stderr
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#137171 Suggest swapping equality on E0277
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/suggestions/partialeq_suggest_swap_on_e0277.rs
  tests/ui/suggestions/partialeq_suggest_swap_on_e0277.stderr
Labels: T-compiler, S-waiting-on-bors

#133250 The embedded bitcode should always be prepared for LTO/ThinLTO
  compiler/rustc_codegen_gcc/src/back/lto.rs
  compiler/rustc_codegen_gcc/src/base.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/base.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/back/write.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_codegen_ssa/src/lib.rs
  compiler/rustc_codegen_ssa/src/traits/write.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_session/src/config.rs
  tests/codegen/overaligned-constant.rs
  tests/codegen/uninit-consts.rs
  tests/run-make/pgo-embed-bc-lto/interesting.rs
  tests/run-make/pgo-embed-bc-lto/main.rs
  tests/run-make/pgo-embed-bc-lto/opaque.rs
  tests/run-make/pgo-embed-bc-lto/rmake.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, A-LTO, perf-regression, A-run-make

#137390 tests: fix up new test for nocapture -> capture(none) change
  tests/codegen/uninhabited-transparent-return-abi.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#137719 Add missing case explanation for doc inlined re-export of doc hidden item
  src/doc/rustdoc/src/write-documentation/re-exports.md
Labels: T-rustdoc, S-waiting-on-bors

#137763 Use `mk_ty_from_kind` a bit less, clean up lifetime handling in borrowck
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_middle/src/ty/codec.rs
  compiler/rustc_middle/src/ty/sty.rs
Labels: T-compiler, S-waiting-on-bors

#137769 Do not yeet `unsafe<>` from type when formatting unsafe binder
  src/tools/rustfmt/src/types.rs
  src/tools/rustfmt/tests/source/unsafe-binders.rs
  src/tools/rustfmt/tests/target/unsafe-binders.rs
Labels: S-waiting-on-bors

#137776 Some `rustc_transmute` cleanups
  Cargo.lock
  compiler/rustc_next_trait_solver/src/delegate.rs
  compiler/rustc_next_trait_solver/src/solve/eval_ctxt/mod.rs
  compiler/rustc_next_trait_solver/src/solve/trait_goals.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/solve/delegate.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  compiler/rustc_transmute/Cargo.toml
  compiler/rustc_transmute/src/layout/dfa.rs
  compiler/rustc_transmute/src/layout/nfa.rs
  compiler/rustc_transmute/src/layout/tree.rs
  compiler/rustc_transmute/src/lib.rs
  compiler/rustc_transmute/src/maybe_transmutable/mod.rs
  compiler/rustc_transmute/src/maybe_transmutable/tests.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#137800 Remove `ParamEnv::without_caller_bounds`
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_trait_selection/src/traits/select/mod.rs
Labels: T-compiler, S-waiting-on-bors

#137807 Fully qualify `Result` in generated doctest code
  src/librustdoc/doctest/make.rs
  src/librustdoc/doctest/tests.rs
Labels: T-rustdoc, S-waiting-on-bors

#137818 tests: adapt for LLVM 21 changes
  tests/codegen/issues/issue-114312.rs
Labels: T-compiler, S-waiting-on-bors

#137822 Update query normalizer docs to not position it as the greatest pioneer in the space of normalization
  compiler/rustc_trait_selection/src/traits/query/normalize.rs
Labels: T-compiler, S-waiting-on-bors

#137824 Tweak invalid RTN errors
  compiler/rustc_ast_lowering/messages.ftl
  compiler/rustc_ast_lowering/src/errors.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/path.rs
  compiler/rustc_parse/src/errors.rs
  compiler/rustc_parse/src/parser/path.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.rs
  tests/ui/associated-type-bounds/return-type-notation/bad-inputs-and-output.stderr
  tests/ui/suggestions/let-binding-init-expr-as-ty.stderr
Labels: T-compiler, S-waiting-on-bors

#137830 Fix link failure on AVR (incompatible ISA error)
  compiler/rustc_codegen_ssa/src/back/metadata.rs
Labels: T-compiler, S-waiting-on-bors

#137837 Update `const_conditions` and `explicit_implied_const_bounds` docs
  compiler/rustc_hir_analysis/src/collect/predicates_of.rs
  compiler/rustc_middle/src/query/mod.rs
Labels: T-compiler, S-waiting-on-bors

#137840 triagebot: only ping me for constck
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#137804 rename BackendRepr::Vector → SimdVector
  compiler/rustc_abi/src/callconv.rs
  compiler/rustc_abi/src/layout.rs
  compiler/rustc_abi/src/layout/ty.rs
  compiler/rustc_abi/src/lib.rs
  compiler/rustc_codegen_cranelift/src/abi/pass_mode.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs
  compiler/rustc_codegen_cranelift/src/value_and_place.rs
  compiler/rustc_codegen_gcc/src/intrinsic/mod.rs
  compiler/rustc_codegen_gcc/src/type_of.rs
  compiler/rustc_codegen_llvm/src/asm.rs
  compiler/rustc_codegen_llvm/src/intrinsic.rs
  compiler/rustc_codegen_llvm/src/type_of.rs
  compiler/rustc_codegen_ssa/src/mir/naked_asm.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_const_eval/src/interpret/validity.rs
  compiler/rustc_const_eval/src/util/check_validity_requirement.rs
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_monomorphize/src/mono_checks/abi_check.rs
  compiler/rustc_smir/src/rustc_smir/convert/abi.rs
  compiler/rustc_target/src/callconv/loongarch.rs
  compiler/rustc_target/src/callconv/mod.rs
  compiler/rustc_target/src/callconv/riscv.rs
  compiler/rustc_target/src/callconv/s390x.rs
  compiler/rustc_target/src/callconv/x86.rs
  compiler/rustc_target/src/callconv/x86_64.rs
  compiler/rustc_target/src/callconv/x86_win64.rs
  compiler/rustc_target/src/callconv/xtensa.rs
  compiler/rustc_ty_utils/src/abi.rs
  compiler/rustc_ty_utils/src/layout.rs
  compiler/rustc_ty_utils/src/layout/invariant.rs
  src/tools/rust-analyzer/crates/hir-ty/src/layout.rs
Labels: T-compiler, S-waiting-on-bors

#137809 Use correct error message casing for `io::const_error`s
  library/std/src/io/error.rs
  library/std/src/os/windows/io/socket.rs
  library/std/src/sys/net/connection/xous/tcplistener.rs
  library/std/src/sys/net/connection/xous/tcpstream.rs
  library/std/src/sys/net/connection/xous/udp.rs
  library/std/src/sys/pal/hermit/thread.rs
  library/std/src/sys/pal/uefi/helpers.rs
  library/std/src/sys/pal/uefi/os.rs
  library/std/src/sys/pal/uefi/process.rs
  library/std/src/sys/pal/uefi/stdio.rs
  library/std/src/sys/pal/unix/os.rs
  library/std/src/sys/pal/unix/process/process_fuchsia.rs
  library/std/src/sys/pal/unix/process/process_unix.rs
  library/std/src/sys/pal/unix/thread.rs
  library/std/src/sys/pal/unix/time.rs
  library/std/src/sys/pal/windows/fs.rs
  library/test/src/formatters/junit.rs
Labels: O-windows, S-waiting-on-bors, T-libs, O-unix, O-hermit

#137828 Fix inaccurate `std::intrinsics::simd` documentation
  library/core/src/intrinsics/simd.rs
Labels: S-waiting-on-bors, T-libs

#136864 Rewrite the `ci.py` script in Rust
  .github/workflows/ci.yml
  src/ci/citool/Cargo.lock
  src/ci/citool/Cargo.toml
  src/ci/citool/README.md
  src/ci/citool/src/main.rs
  src/ci/citool/tests/jobs.rs
  src/ci/citool/tests/test-jobs.yml
  src/ci/docker/README.md
  src/ci/github-actions/ci.py
  src/ci/github-actions/jobs.yml
  src/doc/rustc-dev-guide/src/building/optimized-build.md
  src/doc/rustc-dev-guide/src/tests/ci.md
  src/doc/rustc-dev-guide/src/tests/docker.md
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors, A-rustc-dev-guide

#137425 `librustdoc`: return `impl fmt::Display` in more places instead of writing to strings
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/context.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/write_shared.rs
Labels: T-rustdoc, S-waiting-on-bors, merged-by-bors, T-rustdoc-frontend

#137704 Optimize empty provenance range checks.
  compiler/rustc_data_structures/src/sorted_map.rs
  compiler/rustc_middle/src/mir/interpret/allocation/provenance_map.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#137375 Minor internal comments fix for `BufRead::read_line`
  library/std/src/io/mod.rs
Labels: S-waiting-on-bors, T-libs

#137641 More precisely document `Global::deallocate()`'s safety.
  library/alloc/src/alloc.rs
Labels: A-allocators, S-waiting-on-bors, T-libs

#137755 doc: update Wasmtime flags
  src/doc/rustc/src/platform-support/wasm32-wasip1-threads.md
  src/doc/rustc/src/platform-support/wasm64-unknown-unknown.md
Labels: S-waiting-on-bors

#137851 improve `simd_select` error message when used with invalid mask type
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/errors.rs
  tests/ui/simd/intrinsic/generic-gather.rs
  tests/ui/simd/intrinsic/generic-gather.stderr
  tests/ui/simd/intrinsic/generic-select.rs
  tests/ui/simd/intrinsic/generic-select.stderr
Labels: T-compiler, S-waiting-on-bors

#137860 rustc_target: Add msync target feature and enable it on powerpcspe targets
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_gnuspe.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_muslspe.rs
  compiler/rustc_target/src/target_features.rs
  tests/ui/check-cfg/target_feature.stderr
Labels: T-compiler, O-PowerPC, S-waiting-on-bors, A-target-feature

#137871 fix `RangeBounds::is_empty` documentation
  library/core/src/ops/range.rs
Labels: S-waiting-on-bors, T-libs

#137873 Disable `f16` on Aarch64 without `neon`
  library/std/build.rs
Labels: S-waiting-on-bors, T-libs

#137876 Adjust triagebot.toml entries for `rustc_mir_build/src/builder/`
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#137883 edit mailmap
  .mailmap
Labels: S-waiting-on-bors, A-meta

#137886 `name()` and `trimmed_name()` for `stable_mir::crate_def::DefId`
  compiler/stable_mir/src/crate_def.rs
  compiler/stable_mir/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#137900 Rollup of 10 pull requests
  .mailmap
  compiler/rustc_codegen_ssa/messages.ftl
  compiler/rustc_codegen_ssa/src/errors.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_gnuspe.rs
  compiler/rustc_target/src/spec/targets/powerpc_unknown_linux_muslspe.rs
  compiler/rustc_target/src/target_features.rs
  compiler/stable_mir/src/crate_def.rs
  compiler/stable_mir/src/lib.rs
  library/alloc/src/alloc.rs
  library/core/src/ops/range.rs
  library/std/build.rs
  library/std/src/io/mod.rs
  src/doc/rustc/src/platform-support/wasm32-wasip1-threads.md
  src/doc/rustc/src/platform-support/wasm64-unknown-unknown.md
  tests/ui/check-cfg/target_feature.stderr
  tests/ui/simd/intrinsic/generic-gather.rs
  tests/ui/simd/intrinsic/generic-gather.stderr
  tests/ui/simd/intrinsic/generic-select.rs
  tests/ui/simd/intrinsic/generic-select.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#137945 Skip Rust for Linux in CI temporarily
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#137103 {json|html}docck: catch and error on deprecated syntax
  src/etc/htmldocck.py
  src/tools/jsondocck/src/main.rs
Labels: T-rustdoc, S-waiting-on-bors, A-rustdoc-json

#137632 rustdoc: when merging target features, keep the highest stability
  compiler/rustc_codegen_ssa/src/target_features.rs
  tests/rustdoc-ui/target-feature-stability.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors

#137684 Add rustdoc support for `--emit=dep-info[=path]`
  src/librustdoc/config.rs
  src/librustdoc/core.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/lib.rs
  src/tools/run-make-support/src/external_deps/rustdoc.rs
  tests/run-make/rustdoc-default-output/output-default.stdout
  tests/run-make/rustdoc-dep-info/bar.rs
  tests/run-make/rustdoc-dep-info/doc.md
  tests/run-make/rustdoc-dep-info/foo.rs
  tests/run-make/rustdoc-dep-info/lib.rs
  tests/run-make/rustdoc-dep-info/rmake.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, A-run-make

#137794 make qnx pass a test
  tests/ui/attributes/auxiliary/used_pre_main_constructor.rs
Labels: T-compiler, S-waiting-on-bors

#137826 test(codegen): add looping_over_ne_bytes test for #133528
  tests/codegen/issues/looping-over-ne-bytes-133528.rs
Labels: T-compiler, S-waiting-on-bors

#137914 Rollup of 6 pull requests
  compiler/rustc_codegen_ssa/src/target_features.rs
  src/etc/htmldocck.py
  src/librustdoc/config.rs
  src/librustdoc/core.rs
  src/librustdoc/html/render/write_shared.rs
  src/librustdoc/lib.rs
  src/tools/jsondocck/src/main.rs
  src/tools/run-make-support/src/external_deps/rustdoc.rs
  tests/codegen/issues/looping-over-ne-bytes-133528.rs
  tests/run-make/rustdoc-default-output/output-default.stdout
  tests/run-make/rustdoc-dep-info/bar.rs
  tests/run-make/rustdoc-dep-info/doc.md
  tests/run-make/rustdoc-dep-info/foo.rs
  tests/run-make/rustdoc-dep-info/lib.rs
  tests/run-make/rustdoc-dep-info/rmake.rs
  tests/rustdoc-ui/target-feature-stability.rs
  tests/ui/attributes/auxiliary/used_pre_main_constructor.rs
  tests/ui/target_modifiers/auxiliary/default_reg_struct_return.rs
  tests/ui/target_modifiers/auxiliary/wrong_regparm.rs
  tests/ui/target_modifiers/auxiliary/wrong_regparm_and_ret.rs
  tests/ui/target_modifiers/defaults_check.error.stderr
  tests/ui/target_modifiers/defaults_check.rs
  tests/ui/target_modifiers/incompatible_regparm.error_generated.stderr
  tests/ui/target_modifiers/incompatible_regparm.rs
  tests/ui/target_modifiers/two_flags.rs
  tests/ui/target_modifiers/two_flags.unknown_allowed.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-rustdoc-json, A-run-make, T-rustdoc-frontend

#137801 tests: Unignore target modifier tests on all platforms
  tests/ui/target_modifiers/auxiliary/default_reg_struct_return.rs
  tests/ui/target_modifiers/auxiliary/wrong_regparm.rs
  tests/ui/target_modifiers/auxiliary/wrong_regparm_and_ret.rs
  tests/ui/target_modifiers/defaults_check.error.stderr
  tests/ui/target_modifiers/defaults_check.rs
  tests/ui/target_modifiers/incompatible_regparm.error_generated.stderr
  tests/ui/target_modifiers/incompatible_regparm.rs
  tests/ui/target_modifiers/two_flags.rs
  tests/ui/target_modifiers/two_flags.unknown_allowed.stderr
Labels: T-compiler, S-waiting-on-bors

#137525 Simplify parallelization in test-float-parse
  src/etc/test-float-parse/src/gen/exhaustive.rs
  src/etc/test-float-parse/src/gen/fuzz.rs
  src/etc/test-float-parse/src/gen/sparse.rs
  src/etc/test-float-parse/src/lib.rs
  src/etc/test-float-parse/src/traits.rs
  src/etc/test-float-parse/src/ui.rs
  src/etc/test-float-parse/src/validate.rs
Labels: S-waiting-on-bors

#137618 Skip `tidy` in pre-push hook if the user is deleting a remote branch
  src/etc/pre-push.sh
Labels: S-waiting-on-bors

#137849 Revert "Remove Win SDK 10.0.26100.0 from CI"
  .github/workflows/ci.yml
Labels: S-waiting-on-bors, T-infra

#137862 ensure we always print all --print options in help
  compiler/rustc_session/src/config.rs
  tests/run-make/rustc-help/help-v.stdout
  tests/run-make/rustc-help/help.stdout
  tests/ui/invalid-compile-flags/print-without-arg.stderr
Labels: T-compiler, S-waiting-on-bors, A-run-make

#137927 Rollup of 9 pull requests
  .github/workflows/ci.yml
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/ast_traits.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_builtin_macros/src/deriving/coerce_pointee.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/placeholders.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir/src/target.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_session/src/config.rs
  compiler/rustc_span/src/symbol.rs
  library/core/src/marker/variance.rs
  src/etc/pre-push.sh
  src/etc/test-float-parse/src/gen/exhaustive.rs
  src/etc/test-float-parse/src/gen/fuzz.rs
  src/etc/test-float-parse/src/gen/sparse.rs
  src/etc/test-float-parse/src/lib.rs
  src/etc/test-float-parse/src/traits.rs
  src/etc/test-float-parse/src/ui.rs
  src/etc/test-float-parse/src/validate.rs
  src/tools/clippy/clippy_utils/src/ast_utils/mod.rs
  src/tools/rustfmt/src/spanned.rs
  src/tools/rustfmt/src/types.rs
  src/tools/rustfmt/tests/target/cfg_attribute_in_where.rs
  tests/assembly/stack-protector/stack-protector-heuristics-effect.rs
  tests/run-make/rustc-help/help-v.stdout
  tests/run-make/rustc-help/help.stdout
  tests/ui/feature-gates/feature-gate-where_clause_attrs.a.stderr
  tests/ui/feature-gates/feature-gate-where_clause_attrs.b.stderr
  tests/ui/feature-gates/feature-gate-where_clause_attrs.rs
  tests/ui/invalid-compile-flags/print-without-arg.stderr
  tests/ui/parser/bounds-lifetime-where.rs
  tests/ui/parser/bounds-lifetime-where.stderr
  tests/ui/parser/issues/misplaced-return-type-where-in-next-line-issue-126311.stderr
  tests/ui/parser/ranges-precedence.rs
  tests/ui/stats/input-stats.stderr
  tests/ui/where-clauses/cfg_attribute.a.stderr
  tests/ui/where-clauses/cfg_attribute.b.stderr
  tests/ui/where-clauses/cfg_attribute.rs
  tests/ui/where-clauses/unsupported_attribute.rs
  tests/ui/where-clauses/unsupported_attribute.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-run-make

#132388 Implement `#[cfg]` in `where` clauses
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/ast_traits.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/item.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_ast_pretty/src/pprust/state/item.rs
  compiler/rustc_builtin_macros/src/deriving/coerce_pointee.rs
  compiler/rustc_builtin_macros/src/deriving/generic/mod.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/expand.rs
  compiler/rustc_expand/src/placeholders.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir/src/target.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_parse/src/parser/generics.rs
  compiler/rustc_passes/messages.ftl
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_passes/src/errors.rs
  compiler/rustc_resolve/src/build_reduced_graph.rs
  compiler/rustc_resolve/src/def_collector.rs
  compiler/rustc_span/src/symbol.rs
  src/tools/clippy/clippy_utils/src/ast_utils/mod.rs
  src/tools/rustfmt/src/spanned.rs
  src/tools/rustfmt/src/types.rs
  src/tools/rustfmt/tests/target/cfg_attribute_in_where.rs
  tests/ui/feature-gates/feature-gate-where_clause_attrs.a.stderr
  tests/ui/feature-gates/feature-gate-where_clause_attrs.b.stderr
  tests/ui/feature-gates/feature-gate-where_clause_attrs.rs
  tests/ui/parser/bounds-lifetime-where.rs
  tests/ui/parser/bounds-lifetime-where.stderr
  tests/ui/parser/issues/misplaced-return-type-where-in-next-line-issue-126311.stderr
  tests/ui/stats/input-stats.stderr
  tests/ui/where-clauses/cfg_attribute.a.stderr
  tests/ui/where-clauses/cfg_attribute.b.stderr
  tests/ui/where-clauses/cfg_attribute.rs
  tests/ui/where-clauses/unsupported_attribute.rs
  tests/ui/where-clauses/unsupported_attribute.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors

#136938 Remove `:` from `stack-protector-heuristics-effect.rs` Filecheck Pattern
  tests/assembly/stack-protector/stack-protector-heuristics-effect.rs
Labels: T-compiler, S-waiting-on-bors

#137054 Make phantom variance markers transparent
  library/core/src/marker/variance.rs
Labels: T-libs-api, S-waiting-on-bors

#137741 Stop using `hash_raw_entry` in `CodegenCx::const_str`
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/lib.rs
Labels: T-compiler, S-waiting-on-bors

#134900 Fix parsing of ranges after unary operators
  compiler/rustc_parse/src/parser/expr.rs
  tests/ui/parser/ranges-precedence.rs
Labels: A-parser, T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, I-lang-easy-decision

#135767 Future incompatibility warning `unsupported_fn_ptr_calling_conventions`: Also warn in dependencies
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/abi/unsupported.aarch64.stderr
  tests/ui/abi/unsupported.arm.stderr
  tests/ui/abi/unsupported.i686.stderr
  tests/ui/abi/unsupported.riscv32.stderr
  tests/ui/abi/unsupported.riscv64.stderr
  tests/ui/abi/unsupported.x64.stderr
  tests/ui/c-variadic/variadic-ffi-2.rs
  tests/ui/c-variadic/variadic-ffi-2.stderr
  tests/ui/cmse-nonsecure/cmse-nonsecure-call/gate_test.stderr
  tests/ui/feature-gates/feature-gate-abi_gpu_kernel.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce, I-lang-easy-decision

#137852 Remove layouting dead code for non-array SIMD types.
  compiler/rustc_ty_utils/messages.ftl
  compiler/rustc_ty_utils/src/errors.rs
  compiler/rustc_ty_utils/src/layout.rs
  src/tools/rust-analyzer/crates/hir-ty/src/layout.rs
Labels: T-compiler, S-waiting-on-bors

#137863 Fix pretty printing of unsafe binders
  compiler/rustc_middle/src/ty/print/pretty.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  tests/ui/unsafe-binders/type-mismatch.rs
  tests/ui/unsafe-binders/type-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#137882 do not build additional stage on compiler paths
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#137894 Revert "store ScalarPair via memset when one side is undef and the other side can be memset"
  compiler/rustc_codegen_gcc/src/common.rs
  compiler/rustc_codegen_llvm/src/common.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_ssa/src/mir/operand.rs
  compiler/rustc_codegen_ssa/src/mir/rvalue.rs
  compiler/rustc_codegen_ssa/src/traits/consts.rs
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  tests/codegen/slice-init.rs
Labels: T-compiler, S-waiting-on-bors

#137902 Make `ast::TokenKind` more like `lexer::TokenKind`
  compiler/rustc_ast/src/token.rs
  compiler/rustc_ast/src/tokenstream.rs
  compiler/rustc_ast/src/util/parser.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_expand/src/config.rs
  compiler/rustc_expand/src/mbe/macro_check.rs
  compiler/rustc_expand/src/mbe/macro_rules.rs
  compiler/rustc_expand/src/mbe/quoted.rs
  compiler/rustc_expand/src/proc_macro_server.rs
  compiler/rustc_parse/src/lexer/mod.rs
  compiler/rustc_parse/src/lexer/unicode_chars.rs
  compiler/rustc_parse/src/parser/attr.rs
  compiler/rustc_parse/src/parser/diagnostics.rs
  compiler/rustc_parse/src/parser/expr.rs
  compiler/rustc_parse/src/parser/item.rs
  compiler/rustc_parse/src/parser/mod.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_parse/src/parser/path.rs
  compiler/rustc_parse/src/parser/stmt.rs
  compiler/rustc_parse/src/parser/tests.rs
  compiler/rustc_parse/src/parser/token_type.rs
  compiler/rustc_parse/src/parser/ty.rs
  src/librustdoc/clean/render_macro_matchers.rs
  src/tools/rustfmt/src/macros.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#137922 A few cleanups after the removal of `cfg(not(parallel))`
  compiler/rustc_data_structures/src/sharded.rs
  compiler/rustc_data_structures/src/sync.rs
  compiler/rustc_interface/src/passes.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_middle/src/mir/basic_blocks.rs
  compiler/rustc_monomorphize/src/collector.rs
  compiler/rustc_query_system/src/query/caches.rs
  src/doc/rustc-dev-guide/src/parallel-rustc.md
  src/tools/clippy/clippy_utils/src/macros.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system, A-rustc-dev-guide

#137939 fix order on shl impl
  library/core/src/ops/bit.rs
Labels: S-waiting-on-bors, T-libs

#137946 Fix docker run-local docs
  src/ci/docker/README.md
Labels: A-testsuite, S-waiting-on-bors, T-infra

#137955 Always allow rustdoc-json tests to contain long lines
  src/tools/tidy/src/style.rs
  tests/rustdoc-json/enums/discriminant/limits.rs
  tests/rustdoc-json/enums/discriminant/num_underscore_and_suffix.rs
  tests/rustdoc-json/enums/discriminant/only_some_have_discriminant.rs
  tests/rustdoc-json/enums/discriminant/struct.rs
  tests/rustdoc-json/enums/discriminant/tuple.rs
  tests/rustdoc-json/enums/kind.rs
  tests/rustdoc-json/fn_pointer/abi.rs
  tests/rustdoc-json/fn_pointer/generics.rs
  tests/rustdoc-json/fn_pointer/qualifiers.rs
  tests/rustdoc-json/fns/abi.rs
  tests/rustdoc-json/fns/async_return.rs
  tests/rustdoc-json/fns/generic_args.rs
  tests/rustdoc-json/fns/generic_returns.rs
  tests/rustdoc-json/fns/generics.rs
  tests/rustdoc-json/generic-associated-types/gats.rs
  tests/rustdoc-json/impl-trait-in-assoc-type.rs
  tests/rustdoc-json/lifetime/longest.rs
  tests/rustdoc-json/lifetime/outlives.rs
  tests/rustdoc-json/lifetime/outlives_in_param.rs
  tests/rustdoc-json/lifetime/outlives_in_where.rs
  tests/rustdoc-json/methods/abi.rs
  tests/rustdoc-json/non_lifetime_binders.rs
  tests/rustdoc-json/path_name.rs
  tests/rustdoc-json/reexport/doc_inline_external_crate.rs
  tests/rustdoc-json/reexport/export_extern_crate_as_self.rs
  tests/rustdoc-json/reexport/private_twice_one_inline.rs
  tests/rustdoc-json/reexport/private_two_names.rs
  tests/rustdoc-json/reexport/same_type_reexported_more_than_once.rs
  tests/rustdoc-json/return_private.rs
  tests/rustdoc-json/statics/extern.rs
  tests/rustdoc-json/structs/with_primitives.rs
  tests/rustdoc-json/trait_alias.rs
  tests/rustdoc-json/traits/private_supertrait.rs
  tests/rustdoc-json/traits/self.rs
  tests/rustdoc-json/traits/supertrait.rs
  tests/rustdoc-json/traits/trait_alias.rs
  tests/rustdoc-json/type/dyn.rs
  tests/rustdoc-json/type/fn_lifetime.rs
  tests/rustdoc-json/type/generic_default.rs
  tests/rustdoc-json/type/hrtb.rs
  tests/rustdoc-json/type/inherent_associated_type.rs
  tests/rustdoc-json/type/inherent_associated_type_bound.rs
  tests/rustdoc-json/type/inherent_associated_type_projections.rs
Labels: T-rustdoc, T-bootstrap, S-waiting-on-bors, A-rustdoc-json, A-tidy

#137958 triagebot.toml: Don't label `test/rustdoc-json` as A-rustdoc-search
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#135186 mgca: Lower all const paths as `ConstArgKind::Path`
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/bounds.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/generics.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/mod.rs
  compiler/rustc_middle/src/ty/assoc.rs
  compiler/rustc_passes/src/check_attr.rs
  compiler/rustc_resolve/src/late.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/ui/associated-inherent-types/issue-109299-1.stderr
  tests/ui/associated-inherent-types/not-found-self-type-differs-shadowing-trait-item.shadowed.stderr
  tests/ui/associated-inherent-types/not-found-self-type-differs.stderr
  tests/ui/associated-inherent-types/not-found-unsatisfied-bounds-0.stderr
  tests/ui/associated-inherent-types/not-found-unsatisfied-bounds-1.stderr
  tests/ui/associated-inherent-types/not-found-unsatisfied-bounds-in-multiple-impls.stderr
  tests/ui/const-generics/mgca/ambiguous-assoc-const.rs
  tests/ui/const-generics/mgca/ambiguous-assoc-const.stderr
  tests/ui/const-generics/mgca/assoc-const-without-type_const.rs
  tests/ui/const-generics/mgca/assoc-const-without-type_const.stderr
  tests/ui/const-generics/mgca/assoc-const.rs
  tests/ui/const-generics/mgca/bad-type_const-syntax.rs
  tests/ui/const-generics/mgca/bad-type_const-syntax.stderr
  tests/ui/const-generics/mgca/inherent-const-gating.rs
  tests/ui/const-generics/mgca/inherent-const-gating.stderr
  tests/ui/feature-gates/feature-gate-min-generic-const-args.rs
  tests/ui/feature-gates/feature-gate-min-generic-const-args.stderr
Labels: A-attributes, T-compiler, S-waiting-on-bors, merged-by-bors, A-const-generics, F-min_generic_const_args

#137077 Postprocess bootstrap metrics into GitHub job summary
  .github/workflows/ci.yml
  src/bootstrap/src/utils/metrics.rs
  src/build_helper/src/metrics.rs
  src/ci/citool/Cargo.lock
  src/ci/citool/Cargo.toml
  src/ci/citool/src/main.rs
  src/ci/citool/src/metrics.rs
  src/tools/opt-dist/src/metrics.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, A-rustc-dev-guide

#137373 Compile run-make-support and run-make tests with the bootstrap compiler
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest/run_make.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/run-make-support/src/external_deps/rustdoc.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/run.rs
  src/tools/run-make-support/src/util.rs
  tests/run-make/a-b-a-linker-guard/rmake.rs
  tests/run-make/rustdoc-default-output/rmake.rs
  tests/run-make/version-verbose-commit-hash/rmake.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, A-compiletest, A-run-make, CI-spurious-fail-mingw, A-rustc-dev-guide

#137634 Update `compiler-builtins` to 0.1.149
  compiler/rustc_codegen_cranelift/patches/0029-stdlib-Disable-f16-and-f128-in-compiler-builtins.patch
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, T-libs

#137667 Add `dist::Gcc` build step
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/builder/mod.rs
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/tools/opt-dist/src/main.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra

#137722 `librustdoc`: 2024 edition! 🎊
  compiler/rustc_data_structures/src/captures.rs
  compiler/rustc_data_structures/src/lib.rs
  src/librustdoc/Cargo.toml
  src/librustdoc/clean/cfg.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/type_layout.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/rustdoc/Cargo.toml
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#137947 Do not install rustup on Rust for Linux job
  src/ci/docker/scripts/rfl-build.sh
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#138021 Rollup of 6 pull requests
  .github/workflows/ci.yml
  compiler/rustc_codegen_cranelift/patches/0029-stdlib-Disable-f16-and-f128-in-compiler-builtins.patch
  compiler/rustc_data_structures/src/captures.rs
  compiler/rustc_data_structures/src/lib.rs
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/utils/metrics.rs
  src/build_helper/src/metrics.rs
  src/ci/citool/Cargo.lock
  src/ci/citool/Cargo.toml
  src/ci/citool/src/main.rs
  src/ci/citool/src/metrics.rs
  src/ci/docker/host-x86_64/dist-x86_64-linux/Dockerfile
  src/ci/docker/scripts/rfl-build.sh
  src/ci/github-actions/jobs.yml
  src/librustdoc/Cargo.toml
  src/librustdoc/clean/cfg.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/html/format.rs
  src/librustdoc/html/render/mod.rs
  src/librustdoc/html/render/print_item.rs
  src/librustdoc/html/render/type_layout.rs
  src/librustdoc/html/sources.rs
  src/librustdoc/lib.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/tools/compiletest/src/common.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest/run_make.rs
  src/tools/opt-dist/src/main.rs
  src/tools/opt-dist/src/metrics.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/run-make-support/src/external_deps/rustdoc.rs
  src/tools/run-make-support/src/lib.rs
  src/tools/run-make-support/src/run.rs
  src/tools/run-make-support/src/util.rs
  src/tools/rustdoc/Cargo.toml
  tests/run-make/a-b-a-linker-guard/rmake.rs
  tests/run-make/rustdoc-default-output/rmake.rs
  tests/run-make/version-verbose-commit-hash/rmake.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, A-compiletest, A-run-make, T-rustdoc-frontend

#136764 Make `ptr_cast_add_auto_to_object` lint into hard error
  compiler/rustc_error_codes/src/error_codes/E0804.md
  compiler/rustc_error_codes/src/lib.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/cast.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_lint/src/lib.rs
  compiler/rustc_lint_defs/src/builtin.rs
  tests/ui/cast/ptr-to-trait-obj-add-auto.rs
  tests/ui/cast/ptr-to-trait-obj-add-auto.stderr
  tests/ui/lint/removed-lints/README.md
  tests/ui/lint/removed-lints/ptr_cast_add_auto_to_object.rs
  tests/ui/lint/removed-lints/ptr_cast_add_auto_to_object.stderr
Labels: T-lang, S-waiting-on-bors, disposition-merge, finished-final-comment-period, to-announce

#137240 Slightly reformat `std::fs::remove_dir_all` error docs
  library/std/src/fs.rs
Labels: A-docs, S-waiting-on-bors, T-libs

#137298 Check signature WF when lowering MIR body
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_analysis/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_mir_transform/src/lib.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/crashes/129095.rs
  tests/crashes/132960.rs
  tests/crashes/134654.rs
  tests/crashes/135128.rs
  tests/crashes/135570.rs
  tests/rustdoc-ui/issues/issue-79494.rs
  tests/rustdoc-ui/issues/issue-79494.stderr
  tests/rustdoc-ui/track-diagnostics.rs
  tests/rustdoc-ui/track-diagnostics.stderr
  tests/ui/const-generics/generic_const_exprs/unevaluated-const-ice-119731.stderr
  tests/ui/consts/const-slice-array-deref.stderr
  tests/ui/consts/const-unsized.stderr
  tests/ui/consts/const_refs_to_static-ice-121413.stderr
  tests/ui/consts/dont-ctfe-unsized-initializer.rs
  tests/ui/consts/dont-ctfe-unsized-initializer.stderr
  tests/ui/consts/issue-39974.stderr
  tests/ui/extern/issue-36122-accessing-externed-dst.stderr
  tests/ui/issues/issue-54410.stderr
  tests/ui/layout/issue-84108.stderr
  tests/ui/static/issue-24446.stderr
  tests/ui/statics/unsized_type2.stderr
  tests/ui/trait-bounds/ice-unsized-tuple-const-issue-121443.stderr
  tests/ui/type-alias-impl-trait/issue-53092-2.rs
  tests/ui/type-alias-impl-trait/issue-53092-2.stderr
  tests/ui/wf/wf-normalization-sized.next.stderr
Labels: T-compiler, S-waiting-on-bors

#137463 [illumos] attempt to use posix_spawn to spawn processes
  library/Cargo.lock
  library/std/Cargo.toml
  library/std/src/sys/pal/unix/process/process_unix.rs
Labels: S-waiting-on-bors, T-libs, O-unix

#137679 Various coretests improvements
  library/coretests/tests/slice.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/metadata.rs
  src/bootstrap/src/lib.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-libs

#137731 Resume one waiter at once in deadlock handler
  compiler/rustc_query_system/src/query/job.rs
Labels: T-compiler, S-waiting-on-bors, A-query-system

#137875 mir_build: Integrate "simplification" steps into match-pair-tree creation
  compiler/rustc_mir_build/src/builder/matches/match_pair.rs
  compiler/rustc_mir_build/src/builder/matches/mod.rs
  compiler/rustc_mir_build/src/builder/matches/simplify.rs
  compiler/rustc_mir_build/src/builder/matches/test.rs
  compiler/rustc_mir_build/src/builder/matches/util.rs
Labels: T-compiler, S-waiting-on-bors

#136662 Count char width at most once in `Formatter::pad`
  library/core/src/fmt/mod.rs
Labels: S-waiting-on-bors, T-libs

#136798 Added documentation for flushing per #74348
  library/std/src/io/stdio.rs
Labels: S-waiting-on-bors, T-libs

#136977 Upload Datadog metrics with citool
  .github/workflows/ci.yml
  src/ci/citool/Cargo.lock
  src/ci/citool/Cargo.toml
  src/ci/citool/src/cpu_usage.rs
  src/ci/citool/src/datadog.rs
  src/ci/citool/src/main.rs
  src/ci/citool/src/utils.rs
  src/ci/package-lock.json
  src/ci/package.json
  src/ci/scripts/upload-build-metrics.py
Labels: A-testsuite, S-waiting-on-bors, T-infra, A-rustc-dev-guide

#137569 Stabilize `string_extend_from_within`
  library/alloc/src/string.rs
Labels: relnotes, S-waiting-on-bors, T-libs

#134063 dec2flt: Clean up float parsing modules
  library/core/src/num/dec2flt/common.rs
  library/core/src/num/dec2flt/decimal.rs
  library/core/src/num/dec2flt/decimal_seq.rs
  library/core/src/num/dec2flt/float.rs
  library/core/src/num/dec2flt/lemire.rs
  library/core/src/num/dec2flt/mod.rs
  library/core/src/num/dec2flt/number.rs
  library/core/src/num/dec2flt/parse.rs
  library/core/src/num/dec2flt/slow.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/coretests/tests/num/dec2flt/decimal.rs
  library/coretests/tests/num/dec2flt/decimal_seq.rs
  library/coretests/tests/num/dec2flt/float.rs
  library/coretests/tests/num/dec2flt/lemire.rs
  library/coretests/tests/num/dec2flt/mod.rs
  library/coretests/tests/num/dec2flt/parse.rs
  src/etc/test-float-parse/src/traits.rs
Labels: S-waiting-on-bors, T-libs

#136581 Retire the legacy `Makefile`-based `run-make` test infra
  src/doc/rustc-dev-guide/src/tests/compiletest.md
  src/doc/rustc-dev-guide/src/tests/directives.md
  src/doc/rustc-dev-guide/src/tests/running.md
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/tests.rs
  src/tools/compiletest/src/lib.rs
  src/tools/compiletest/src/runtest/run_make.rs
  src/tools/run-make-support/src/artifact_names.rs
  src/tools/run-make-support/src/external_deps/c_cxx_compiler/cc.rs
  src/tools/run-make-support/src/external_deps/c_cxx_compiler/extras.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  src/tools/tidy/src/allowed_run_make_makefiles.txt
  src/tools/tidy/src/lib.rs
  src/tools/tidy/src/main.rs
  src/tools/tidy/src/run_make_tests.rs
  tests/run-make/README.md
  tests/run-make/tools.mk
  triagebot.toml
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-meta, A-compiletest, A-run-make, A-tidy, A-test-infra, A-rustc-dev-guide

#137907 Inline `FnOnce`/`FnMut`/`Fn` shims once again
  compiler/rustc_mir_transform/src/inline.rs
  tests/mir-opt/inline/dont_ice_on_generic_rust_call.call.Inline.panic-abort.diff
  tests/mir-opt/inline/dont_ice_on_generic_rust_call.call.Inline.panic-unwind.diff
  tests/mir-opt/inline/dont_ice_on_generic_rust_call.rs
  tests/mir-opt/inline/inline_box_fn.call.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_box_fn.call.Inline.panic-unwind.diff
  tests/mir-opt/inline/inline_box_fn.rs
  tests/mir-opt/inline/inline_cycle.two.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_cycle.two.Inline.panic-unwind.diff
  tests/mir-opt/inline/inline_diverging.h.Inline.panic-abort.diff
  tests/mir-opt/inline/inline_diverging.h.Inline.panic-unwind.diff
  tests/mir-opt/inline/inline_diverging.rs
  tests/mir-opt/inline/issue_78442.bar.Inline.panic-abort.diff
  tests/mir-opt/inline/issue_78442.bar.Inline.panic-unwind.diff
  tests/mir-opt/inline/issue_78442.rs
  tests/mir-opt/inline_fn_call_for_fn_def.rs
  tests/mir-opt/inline_fn_call_for_fn_def.test.Inline.diff
  tests/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.32bit.panic-abort.mir
  tests/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.32bit.panic-unwind.mir
  tests/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.64bit.panic-abort.mir
  tests/mir-opt/issues/issue_59352.num_to_digit.PreCodegen.after.64bit.panic-unwind.mir
  tests/mir-opt/issues/issue_59352.rs
  tests/mir-opt/pre-codegen/loops.mapped.PreCodegen.after.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression

#138039 handle forced compiler and revert #137476
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  src/bootstrap/src/lib.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors

#137637 Check dyn flavor before registering upcast goal on wide pointer cast in MIR typeck
  compiler/rustc_borrowck/src/type_check/mod.rs
  tests/ui/traits/trait-upcasting/dyn-to-dyn-star.rs
Labels: T-compiler, S-waiting-on-bors

#137758 fix usage of ty decl macro fragments in attributes
  compiler/rustc_attr_parsing/src/parser.rs
  tests/ui/attributes/decl_macro_ty_in_attr_macro.rs
Labels: A-attributes, T-compiler, S-waiting-on-bors

#137798 ci: use ubuntu 24 on arm large runner
  src/ci/github-actions/jobs.yml
Labels: A-testsuite, S-waiting-on-bors, T-infra

#137820 Clarify why InhabitedPredicate::instantiate_opt exists
  compiler/rustc_middle/src/ty/inhabitedness/inhabited_predicate.rs
Labels: T-compiler, S-waiting-on-bors

#137834 rustc_fluent_macro: use CARGO_CRATE_NAME instead of CARGO_PKG_NAME
  compiler/rustc_fluent_macro/src/fluent.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#137868 Add minimal platform support documentation for powerpc-unknown-linux-gnuspe
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/powerpc-unknown-linux-gnuspe.md
  src/doc/rustc/src/platform-support/powerpc-unknown-linux-muslspe.md
Labels: O-PowerPC, S-waiting-on-bors

#137910 Improve error message for `AsyncFn` trait failure for RPIT
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/traits/select/confirmation.rs
  tests/ui/async-await/async-closures/kind-due-to-rpit.rs
  tests/ui/async-await/async-closures/kind-due-to-rpit.stderr
Labels: T-compiler, S-waiting-on-bors

#138038 Update `compiler-builtins` to 0.1.151
  compiler/rustc_codegen_cranelift/patches/0029-stdlib-Disable-f16-and-f128-in-compiler-builtins.patch
  library/Cargo.lock
  library/alloc/Cargo.toml
  library/std/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, T-libs

#135733 Implement `&pin const self` and `&pin mut self` sugars
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_parse/src/parser/item.rs
  src/tools/rustfmt/src/items.rs
  src/tools/rustfmt/tests/source/pin_sugar.rs
  src/tools/rustfmt/tests/target/pin_sugar.rs
  tests/pretty/pin-ergonomics.rs
  tests/ui/async-await/pin-ergonomics/sugar-self.rs
  tests/ui/feature-gates/feature-gate-pin_ergonomics.rs
  tests/ui/feature-gates/feature-gate-pin_ergonomics.stderr
Labels: T-compiler, S-waiting-on-bors

#135895 Document workings of successors more clearly
  library/core/src/iter/sources/successors.rs
Labels: S-waiting-on-bors, T-libs

#136922 Pattern types: Avoid having to handle an Option for range ends in the type system or the HIR
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir/src/lang_items.rs
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/errors/pattern_types.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_analysis/src/variance/constraints.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_lint/src/types.rs
  compiler/rustc_middle/src/ty/flags.rs
  compiler/rustc_middle/src/ty/pattern.rs
  compiler/rustc_middle/src/ty/relate.rs
  compiler/rustc_middle/src/ty/structural_impls.rs
  compiler/rustc_middle/src/ty/walk.rs
  compiler/rustc_smir/src/rustc_internal/internal.rs
  compiler/rustc_smir/src/rustc_smir/convert/ty.rs
  compiler/rustc_span/src/hygiene.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  compiler/rustc_trait_selection/src/traits/wf.rs
  compiler/rustc_ty_utils/src/layout.rs
  library/core/src/pat.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  tests/codegen/pattern_type_symbols.rs
  tests/mir-opt/pattern_types.main.PreCodegen.after.mir
  tests/mir-opt/pattern_types.rs
  tests/ui/lint/clashing-extern-fn.stderr
  tests/ui/type/pattern_types/nested.rs
  tests/ui/type/pattern_types/nested.stderr
  tests/ui/type/pattern_types/range_patterns.stderr
  tests/ui/type/pattern_types/range_patterns_unusable.stderr
  tests/ui/type/pattern_types/range_patterns_unusable_math.rs
  tests/ui/type/pattern_types/range_patterns_unusable_math.stderr
  tests/ui/type/pattern_types/reverse_range.rs
  tests/ui/type/pattern_types/reverse_range.stderr
  tests/ui/type/pattern_types/validity.rs
Labels: T-compiler, S-waiting-on-bors

#137303 Remove `MaybeForgetReturn` suggestion
  compiler/rustc_errors/src/lib.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/ambiguity.rs
  tests/ui/inference/issue-86094-suggest-add-return-to-coerce-ret-ty.stderr
  tests/ui/return/tail-expr-as-potential-return.rs
  tests/ui/return/tail-expr-as-potential-return.stderr
Labels: T-compiler, S-waiting-on-bors

#137327 Undeprecate env::home_dir
  library/std/src/env.rs
Labels: T-libs-api, relnotes, S-waiting-on-bors

#137358 Match Ergonomics 2024: add context and examples to the unstable book
  src/doc/unstable-book/src/language-features/ref-pat-eat-one-layer-2024-structural.md
  src/doc/unstable-book/src/language-features/ref-pat-eat-one-layer-2024.md
Labels: S-waiting-on-bors

#137534 [rustdoc] hide item that is not marked as doc(inline) and whose src is doc(hidden)
  src/librustdoc/passes/strip_hidden.rs
  tests/rustdoc/doc-hidden-reexports-109449.rs
  tests/rustdoc/doc-hidden-source.rs
  tests/rustdoc/inline_cross/inline_hidden.rs
  tests/rustdoc/reexport-attr-merge.rs
  tests/rustdoc/reexport-doc-hidden-inside-private.rs
  tests/rustdoc/reexport-doc-hidden.rs
  tests/rustdoc/reexport-hidden-macro.rs
  tests/rustdoc/reexport-of-doc-hidden.rs
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#137565 Try to point of macro expansion from resolver and method errors if it involves macro var
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/errors.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/errors.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_span/src/lib.rs
  tests/ui/associated-types/ident-from-macro-expansion.rs
  tests/ui/associated-types/ident-from-macro-expansion.stderr
  tests/ui/hygiene/generate-mod.stderr
  tests/ui/hygiene/globs.stderr
  tests/ui/macros/macro-parameter-span.stderr
  tests/ui/macros/rfc-3086-metavar-expr/syntax-errors.stderr
  tests/ui/methods/ident-from-macro-expansion.rs
  tests/ui/methods/ident-from-macro-expansion.stderr
  tests/ui/structs/ident-from-macro-expansion.rs
  tests/ui/structs/ident-from-macro-expansion.stderr
Labels: T-compiler, S-waiting-on-bors

#137643 Add DWARF test case for non-C-like `repr128` enums
  tests/run-make/repr128-dwarf/main.rs
  tests/run-make/repr128-dwarf/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#137744 Re-add `Clone`-derive on `Thir`
  compiler/rustc_middle/src/thir.rs
Labels: T-compiler, S-waiting-on-bors

#137764 Ensure that negative auto impls are always applicable
  compiler/rustc_data_structures/src/marker.rs
  compiler/rustc_hir_analysis/src/check/always_applicable.rs
  compiler/rustc_hir_analysis/src/check/mod.rs
  compiler/rustc_hir_analysis/src/coherence/mod.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  library/core/src/convert/mod.rs
  tests/rustdoc/impl-parts-crosscrate.rs
  tests/rustdoc/impl-parts.rs
  tests/ui/coherence/coherence-conflicting-negative-trait-impl.rs
  tests/ui/coherence/coherence-conflicting-negative-trait-impl.stderr
  tests/ui/coherence/coherence-impl-trait-for-marker-trait-negative.stderr
  tests/ui/coherence/coherence-orphan.rs
  tests/ui/coherence/coherence-overlap-negative-impls.rs
  tests/ui/issues/issue-106755.rs
  tests/ui/issues/issue-106755.stderr
  tests/ui/specialization/defaultimpl/validation.rs
  tests/ui/specialization/defaultimpl/validation.stderr
  tests/ui/specialization/specialization-overlap-negative.rs
  tests/ui/specialization/specialization-overlap-negative.stderr
  tests/ui/traits/negative-impls/negated-auto-traits-validity-error.rs
  tests/ui/traits/negative-impls/negated-auto-traits-validity-error.stderr
  tests/ui/traits/negative-impls/negated-auto-traits-validity.rs
Labels: T-compiler, S-waiting-on-bors, T-libs, T-rustdoc-frontend

#137772 Fix char count in `Display` for `ByteStr`
  library/core/src/bstr.rs
Labels: S-waiting-on-bors, T-libs

#137802 miri native-call support: all previously exposed provenance is accessible to the callee
  compiler/rustc_const_eval/src/interpret/memory.rs
  src/tools/miri/src/alloc_addresses/mod.rs
  src/tools/miri/src/machine.rs
  src/tools/miri/src/shims/native_lib.rs
  src/tools/miri/tests/native-lib/pass/ptr_write_access.rs
  src/tools/miri/tests/native-lib/ptr_read_access.c
  src/tools/miri/tests/native-lib/ptr_write_access.c
  src/tools/miri/tests/native-lib/scalar_arguments.c
Labels: T-compiler, S-waiting-on-bors

#137805 adjust Layout debug printing to match the internal field name
  compiler/rustc_abi/src/lib.rs
  tests/ui/abi/c-zst.aarch64-darwin.stderr
  tests/ui/abi/c-zst.powerpc-linux.stderr
  tests/ui/abi/c-zst.s390x-linux.stderr
  tests/ui/abi/c-zst.sparc64-linux.stderr
  tests/ui/abi/c-zst.x86_64-linux.stderr
  tests/ui/abi/c-zst.x86_64-pc-windows-gnu.stderr
  tests/ui/abi/debug.stderr
  tests/ui/abi/sysv64-zst.stderr
  tests/ui/layout/debug.stderr
  tests/ui/layout/hexagon-enum.stderr
  tests/ui/layout/issue-96158-scalarpair-payload-might-be-uninit.stderr
  tests/ui/layout/issue-96185-overaligned-enum.stderr
  tests/ui/layout/thumb-enum.stderr
  tests/ui/layout/zero-sized-array-enum-niche.stderr
  tests/ui/repr/repr-c-dead-variants.aarch64-unknown-linux-gnu.stderr
  tests/ui/repr/repr-c-dead-variants.armebv7r-none-eabi.stderr
  tests/ui/repr/repr-c-dead-variants.i686-pc-windows-msvc.stderr
  tests/ui/repr/repr-c-dead-variants.x86_64-unknown-linux-gnu.stderr
  tests/ui/repr/repr-c-int-dead-variants.stderr
  tests/ui/type/pattern_types/range_patterns.stderr
Labels: T-compiler, S-waiting-on-bors

#137808 Do not require that unsafe fields lack drop glue
  compiler/rustc_hir_analysis/messages.ftl
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_hir_analysis/src/errors.rs
  library/core/src/marker.rs
  tests/ui/unsafe-fields/unsafe-fields.rs
  tests/ui/unsafe-fields/unsafe-fields.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs

#137920 interpret/provenance_map: consistently use range_is_empty
  compiler/rustc_middle/src/mir/interpret/allocation.rs
  compiler/rustc_middle/src/mir/interpret/allocation/provenance_map.rs
Labels: T-compiler, S-waiting-on-bors

#138046 trim channel value in `get_closest_merge_commit`
  src/build_helper/src/git.rs
Labels: T-bootstrap, S-waiting-on-bors

#138053 Increase the max. custom try jobs requested to `20`
  src/ci/citool/src/main.rs
Labels: A-testsuite, S-waiting-on-bors, T-infra

#138061 triagebot: add a `compiler_leads` ad-hoc group
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#138064 Remove - from xtensa targets cpu names
  compiler/rustc_target/src/spec/targets/xtensa_esp32s2_espidf.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s2_none_elf.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s3_espidf.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s3_none_elf.rs
Labels: T-compiler, S-waiting-on-bors, O-xtensa

#138075 Use final path segment for diagnostic
  compiler/rustc_hir_typeck/src/demand.rs
  tests/ui/typeck/issue-84768.stderr
  tests/ui/ufcs/ufcs-qpath-self-mismatch.stderr
Labels: T-compiler, S-waiting-on-bors

#138078 Don't display bootstrap changelog warnings in --dry-run mode
  src/bootstrap/src/bin/main.rs
Labels: T-bootstrap, S-waiting-on-bors

#138081 Move `yield` expressions behind their own feature gate
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_feature/src/unstable.rs
  tests/ui/coroutine/gen_block.e2024.stderr
  tests/ui/coroutine/gen_block.none.stderr
  tests/ui/coroutine/gen_block.rs
  tests/ui/feature-gates/feature-gate-coroutines.e2024.stderr
  tests/ui/feature-gates/feature-gate-coroutines.none.stderr
  tests/ui/feature-gates/feature-gate-yield-expr.rs
  tests/ui/feature-gates/feature-gate-yield-expr.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, PG-exploit-mitigations, WG-trait-system-refactor

#138090 `librustdoc`: flatten nested ifs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/config.rs
  src/librustdoc/doctest/rust.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/span_map.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_trait_impls.rs
  src/librustdoc/passes/lint/html_tags.rs
  src/librustdoc/passes/lint/unportable_markdown.rs
  src/librustdoc/visit_lib.rs
Labels: T-rustdoc, S-waiting-on-bors, T-rustdoc-frontend

#138092 Re-add `DynSend` and `DynSync` impls for `TyCtxt`
  compiler/rustc_middle/src/ty/context.rs
Labels: T-compiler, S-waiting-on-bors

#138094 a small borrowck cleanup
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  tests/ui/error-codes/E0582.stderr
  tests/ui/higher-ranked/trait-bounds/hrtb-just-for-static.stderr
  tests/ui/nll/issue-97997.rs
  tests/ui/nll/issue-97997.stderr
  tests/ui/type-alias-impl-trait/implied_lifetime_wf_check3.stderr
  tests/ui/type-alias-impl-trait/implied_lifetime_wf_check4_static.stderr
Labels: T-compiler, S-waiting-on-bors

#138103 Git ignore citool's target directory
  .gitignore
Labels: S-waiting-on-bors

#138105 Fix broken link to Miri intrinsics in documentation
  library/core/src/intrinsics/mod.rs
Labels: S-waiting-on-bors, T-libs

#138108 Mention me (WaffleLapkin) when changes to `rustc_codegen_ssa` occur
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#138117 [llvm/PassWrapper] use `size_t` when building arg strings
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#138127 Rollup of 17 pull requests
  .gitignore
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_borrowck/src/type_check/constraint_conversion.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_middle/src/ty/context.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s2_espidf.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s2_none_elf.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s3_espidf.rs
  compiler/rustc_target/src/spec/targets/xtensa_esp32s3_none_elf.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/slice/mod.rs
  src/bootstrap/src/bin/main.rs
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/utils/job.rs
  src/build_helper/src/git.rs
  src/ci/citool/src/main.rs
  src/librustdoc/clean/inline.rs
  src/librustdoc/clean/mod.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/config.rs
  src/librustdoc/doctest/rust.rs
  src/librustdoc/formats/cache.rs
  src/librustdoc/html/highlight.rs
  src/librustdoc/html/markdown.rs
  src/librustdoc/html/render/span_map.rs
  src/librustdoc/passes/collect_intra_doc_links.rs
  src/librustdoc/passes/collect_trait_impls.rs
  src/librustdoc/passes/lint/html_tags.rs
  src/librustdoc/passes/lint/unportable_markdown.rs
  src/librustdoc/visit_lib.rs
  src/tools/compiletest/src/raise_fd_limit.rs
  tests/run-make/unstable-feature-usage-metrics/rmake.rs
  tests/ui/coroutine/gen_block.e2024.stderr
  tests/ui/coroutine/gen_block.none.stderr
  tests/ui/coroutine/gen_block.rs
  tests/ui/error-codes/E0582.stderr
  tests/ui/feature-gates/feature-gate-coroutines.e2024.stderr
  tests/ui/feature-gates/feature-gate-coroutines.none.stderr
  tests/ui/feature-gates/feature-gate-yield-expr.rs
  tests/ui/feature-gates/feature-gate-yield-expr.stderr
  tests/ui/higher-ranked/trait-bounds/hrtb-just-for-static.stderr
  tests/ui/nll/issue-97997.rs
  tests/ui/nll/issue-97997.stderr
  tests/ui/type-alias-impl-trait/implied_lifetime_wf_check3.stderr
  tests/ui/type-alias-impl-trait/implied_lifetime_wf_check4_static.stderr
  tests/ui/typeck/issue-84768.stderr
  tests/ui/ufcs/ufcs-qpath-self-mismatch.stderr
  triagebot.toml
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, A-meta, T-libs, A-compiletest, A-run-make, T-rustdoc-frontend

#137827 Add timestamp to unstable feature usage metrics
  compiler/rustc_feature/src/unstable.rs
  tests/run-make/unstable-feature-usage-metrics/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#138098 Stabilize feature `const_copy_from_slice`
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#138041 bootstrap and compiletest: Use `size_of_val` from the prelude instead of imported
  src/bootstrap/src/bin/rustc.rs
  src/bootstrap/src/utils/job.rs
  src/tools/compiletest/src/raise_fd_limit.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, A-compiletest

#137107 Override default `Write` methods for cursor-like types
  library/std/src/io/cursor.rs
  library/std/src/io/impls.rs
Labels: S-waiting-on-bors, T-libs

#137777 Specialize `OsString::push` and `OsString as From` for UTF-8
  library/std/src/ffi/os_str.rs
  library/std/src/sys/os_str/bytes.rs
  library/std/src/sys/os_str/wtf8.rs
Labels: S-waiting-on-bors, T-libs

#137832 Fix crash in BufReader::peek()
  library/std/src/io/buffered/bufreader.rs
  library/std/src/io/buffered/bufreader/buffer.rs
Labels: S-waiting-on-bors, T-libs

#137904 Improve the generic MIR in the default `PartialOrd::le` and friends
  library/core/src/cmp.rs
  tests/mir-opt/pre-codegen/derived_ord.demo_le.PreCodegen.after.mir
  tests/mir-opt/pre-codegen/derived_ord.rs
  tests/mir-opt/pre-codegen/derived_ord.{impl#0}-partial_cmp.PreCodegen.after.mir
Labels: T-compiler, S-waiting-on-bors, T-libs

#138125 Simplify `printf` and shell format suggestions
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_builtin_macros/src/format_foreign.rs
Labels: T-compiler, S-waiting-on-bors

#138129 Stabilize const_char_classify, const_sockaddr_setters
  library/core/src/char/methods.rs
  library/core/src/net/socket_addr.rs
Labels: S-waiting-on-bors, T-libs
