Repository rust-lang/rust, pull requests merged in 2025-01, with the labels that each got.

#132474 Add more mailmap entries
  .mailmap
Labels: S-waiting-on-bors, A-meta

#133486 borrowck diagnostics: make `add_move_error_suggestions` use the HIR rather than `SourceMap`
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  tests/ui/issues/issue-12567.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail2.stderr
  tests/ui/moves/do-not-suggest-removing-wrong-ref-pattern-issue-132806.fixed
  tests/ui/moves/do-not-suggest-removing-wrong-ref-pattern-issue-132806.rs
  tests/ui/moves/do-not-suggest-removing-wrong-ref-pattern-issue-132806.stderr
  tests/ui/nll/move-errors.stderr
  tests/ui/pattern/deref-patterns/cant_move_out_of_pattern.stderr
  tests/ui/suggestions/dont-suggest-ref/simple.rs
  tests/ui/suggestions/dont-suggest-ref/simple.stderr
  tests/ui/suggestions/option-content-move-from-tuple-match.stderr
Labels: T-compiler, S-waiting-on-bors

#134861 Add GUI test for item info elements color
  tests/rustdoc-gui/item-info.goml
Labels: T-rustdoc, S-waiting-on-bors

#134968 Print how to rebless Python formatting in tidy
  src/tools/tidy/src/ext_tool_checks.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors

#134971 chore: fix typos
  tests/rustdoc/type-alias/deeply-nested-112515.rs
  tests/ui/duplicate/multiple-types-with-same-name-and-derive.rs
  tests/ui/incoherent-inherent-impls/no-other-unrelated-errors.rs
  tests/ui/indexing/indexing-spans-caller-location.rs
  tests/ui/inference/need_type_info/issue-107745-avoid-expr-from-macro-expansion.rs
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#134972 add .mailmap entry for myself
  .mailmap
Labels: S-waiting-on-bors, A-meta

#134974 Revert #119515 single line where clause style guide
  src/doc/style-guide/src/editions.md
  src/doc/style-guide/src/items.md
Labels: S-waiting-on-bors, T-style

#134975 Revert style guide rhs break
  src/doc/style-guide/src/editions.md
  src/doc/style-guide/src/expressions.md
Labels: S-waiting-on-bors, T-style

#134988 Rollup of 8 pull requests
  .mailmap
  compiler/rustc_borrowck/src/diagnostics/move_errors.rs
  src/doc/style-guide/src/editions.md
  src/doc/style-guide/src/expressions.md
  src/doc/style-guide/src/items.md
  src/tools/tidy/src/ext_tool_checks.rs
  tests/rustdoc-gui/item-info.goml
  tests/rustdoc/type-alias/deeply-nested-112515.rs
  tests/ui/duplicate/multiple-types-with-same-name-and-derive.rs
  tests/ui/incoherent-inherent-impls/no-other-unrelated-errors.rs
  tests/ui/indexing/indexing-spans-caller-location.rs
  tests/ui/inference/need_type_info/issue-107745-avoid-expr-from-macro-expansion.rs
  tests/ui/issues/issue-12567.stderr
  tests/ui/match/ref_pat_eat_one_layer_2024/ref_pat_eat_one_layer_2024_fail2.stderr
  tests/ui/moves/do-not-suggest-removing-wrong-ref-pattern-issue-132806.fixed
  tests/ui/moves/do-not-suggest-removing-wrong-ref-pattern-issue-132806.rs
  tests/ui/moves/do-not-suggest-removing-wrong-ref-pattern-issue-132806.stderr
  tests/ui/nll/move-errors.stderr
  tests/ui/pattern/deref-patterns/cant_move_out_of_pattern.stderr
  tests/ui/suggestions/dont-suggest-ref/simple.rs
  tests/ui/suggestions/dont-suggest-ref/simple.stderr
  tests/ui/suggestions/option-content-move-from-tuple-match.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-style

#134945 Some small nits to the borrowck suggestions for mutating a map through index
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  tests/ui/borrowck/index-mut-help.stderr
  tests/ui/btreemap/btreemap-index-mut-2.stderr
  tests/ui/btreemap/btreemap-index-mut.stderr
  tests/ui/hashmap/hashmap-index-mut.stderr
  tests/ui/issues/issue-41726.stderr
Labels: T-compiler, S-waiting-on-bors

#134950 bootstrap: Overhaul and simplify the `tool_check_step!` macro
  src/bootstrap/src/core/build_steps/check.rs
Labels: T-bootstrap, S-waiting-on-bors

#134979 Provide structured suggestion for `impl Default` of type where all fields have defaults
  compiler/rustc_lint/src/default_could_be_derived.rs
  tests/ui/structs/manual-default-impl-could-be-derived.stderr
Labels: T-compiler, S-waiting-on-bors, F-default_field_values

#134992 Rollup of 6 pull requests
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_driver_impl/src/signal_handler.rs
  compiler/rustc_lint/src/default_could_be_derived.rs
  compiler/rustc_parse_format/src/lib.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  library/panic_unwind/src/seh.rs
  src/bootstrap/src/core/build_steps/check.rs
  tests/ui/borrowck/index-mut-help.stderr
  tests/ui/btreemap/btreemap-index-mut-2.stderr
  tests/ui/btreemap/btreemap-index-mut.stderr
  tests/ui/fmt/suggest-wrongly-order-format-parameter.fixed
  tests/ui/fmt/suggest-wrongly-order-format-parameter.rs
  tests/ui/fmt/suggest-wrongly-order-format-parameter.stderr
  tests/ui/hashmap/hashmap-index-mut.stderr
  tests/ui/issues/issue-41726.stderr
  tests/ui/no_send-rc.stderr
  tests/ui/structs/manual-default-impl-could-be-derived.stderr
  tests/ui/suggestions/issue-84973-blacklist.stderr
  tests/ui/traits/suggest-dereferences/deref-argument.fixed
  tests/ui/traits/suggest-dereferences/deref-argument.rs
  tests/ui/traits/suggest-dereferences/deref-argument.stderr
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#131439 Remove allowing static_mut_refs lint
  compiler/rustc_driver_impl/src/signal_handler.rs
  library/panic_unwind/src/seh.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#133292 E0277: suggest dereferencing function arguments in more cases
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  tests/ui/no_send-rc.stderr
  tests/ui/suggestions/issue-84973-blacklist.stderr
  tests/ui/traits/suggest-dereferences/deref-argument.fixed
  tests/ui/traits/suggest-dereferences/deref-argument.rs
  tests/ui/traits/suggest-dereferences/deref-argument.stderr
Labels: T-compiler, S-waiting-on-bors

#134877 add suggestion for wrongly ordered format parameters
  compiler/rustc_builtin_macros/messages.ftl
  compiler/rustc_builtin_macros/src/errors.rs
  compiler/rustc_builtin_macros/src/format.rs
  compiler/rustc_parse_format/src/lib.rs
  tests/ui/fmt/suggest-wrongly-order-format-parameter.fixed
  tests/ui/fmt/suggest-wrongly-order-format-parameter.rs
  tests/ui/fmt/suggest-wrongly-order-format-parameter.stderr
Labels: T-compiler, S-waiting-on-bors

#134969 char to_digit: avoid unnecessary casts to u64
  library/core/src/char/methods.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#134964 Run Python formatting check in tidy on CI
  src/ci/docker/host-x86_64/mingw-check-tidy/Dockerfile
  src/ci/scripts/upload-build-metrics.py
Labels: A-testsuite, S-waiting-on-bors, T-infra, merged-by-bors

#134080 Avoid use of LFS64 symbols on Emscripten
  library/std/src/os/emscripten/fs.rs
  library/std/src/os/emscripten/raw.rs
  library/std/src/sys/pal/unix/fd.rs
  library/std/src/sys/pal/unix/fs.rs
Labels: S-waiting-on-review, merged-by-bors, T-libs, O-unix, CI-spurious-fail-msvc

#134967 handle submodules automatically on `doc` steps
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/utils/helpers.rs
  src/bootstrap/src/utils/helpers/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#134973 Fix typos
  src/librustdoc/html/markdown/footnotes.rs
  src/librustdoc/html/render/sorted_template.rs
  src/librustdoc/html/static/js/search.js
  src/tools/rust-installer/install-template.sh
  src/tools/tidy/src/deps.rs
  src/tools/tidy/src/ext_tool_checks.rs
Labels: A-testsuite, T-rustdoc, T-bootstrap, S-waiting-on-bors

#134984 `ObligationCause` construction tweaks in typeck
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
Labels: T-compiler, S-waiting-on-bors

#134985 Remove qualification of `std::cmp::Ordering` in `Ord` doc
  library/core/src/cmp.rs
Labels: S-waiting-on-bors, T-libs

#135000 Fix ICE when opaque captures a duplicated/invalid lifetime
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  tests/crashes/132766.rs
  tests/ui/impl-trait/captured-invalid-lifetime.rs
  tests/ui/impl-trait/captured-invalid-lifetime.stderr
  tests/ui/stats/input-stats.stderr
Labels: T-compiler, S-waiting-on-bors

#135005 Rollup of 5 pull requests
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_typeck/src/callee.rs
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/checks.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/probe.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  library/core/src/cmp.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/utils/helpers.rs
  src/bootstrap/src/utils/helpers/tests.rs
  src/librustdoc/html/markdown/footnotes.rs
  src/librustdoc/html/render/sorted_template.rs
  src/librustdoc/html/static/js/search.js
  src/tools/rust-installer/install-template.sh
  src/tools/tidy/src/deps.rs
  src/tools/tidy/src/ext_tool_checks.rs
  tests/crashes/132766.rs
  tests/ui/impl-trait/captured-invalid-lifetime.rs
  tests/ui/impl-trait/captured-invalid-lifetime.stderr
  tests/ui/stats/input-stats.stderr
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#130060 Autodiff Upstreaming - rustc_codegen_llvm changes
  compiler/rustc_ast/src/expand/autodiff_attrs.rs
  compiler/rustc_codegen_gcc/src/lib.rs
  compiler/rustc_codegen_llvm/messages.ftl
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/write.rs
  compiler/rustc_codegen_llvm/src/builder.rs
  compiler/rustc_codegen_llvm/src/builder/autodiff.rs
  compiler/rustc_codegen_llvm/src/context.rs
  compiler/rustc_codegen_llvm/src/declare.rs
  compiler/rustc_codegen_llvm/src/errors.rs
  compiler/rustc_codegen_llvm/src/lib.rs
  compiler/rustc_codegen_llvm/src/llvm/enzyme_ffi.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_codegen_llvm/src/llvm/mod.rs
  compiler/rustc_codegen_ssa/src/back/lto.rs
  compiler/rustc_codegen_ssa/src/traits/write.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, F-autodiff, CI-spurious-x86_64-apple-SIGSEGV-SIGILL

#135009 Fix doc for missing Box allocator consistency
  library/alloc/src/boxed.rs
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#135023 bootstrap: flip `compile::Rustc` vs `compile::Assemble`
  src/bootstrap/src/core/builder/mod.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#135014 bootstrap: Overhaul and simplify the `tool_extended!` macro
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/build_steps/tool.rs
  src/bootstrap/src/core/builder/mod.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors, CI-spurious-fail-msvc

#135016 Ping me for rustc-dev-guide subtree changes on this repo
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#135029 Update mailmap
  .mailmap
Labels: S-waiting-on-bors, A-meta

#135040 Rollup of 5 pull requests
  .mailmap
  compiler/rustc_codegen_llvm/src/builder.rs
  src/bootstrap/src/core/build_steps/format.rs
  triagebot.toml
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta

#135048 [beta] backports
  Cargo.lock
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_llvm/Cargo.toml
  compiler/rustc_mir_build/src/build/scope.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  library/alloc/src/ffi/mod.rs
  library/core/src/ffi/mod.rs
  library/core/src/ptr/const_ptr.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/std/src/ffi/mod.rs
  src/librustdoc/doctest/make.rs
  src/tools/run-make-support/src/external_deps/rustc.rs
  tests/mir-opt/tail_expr_drop_order_unwind.method_1.ElaborateDrops.after.panic-abort.mir
  tests/mir-opt/tail_expr_drop_order_unwind.method_1.ElaborateDrops.after.panic-unwind.mir
  tests/mir-opt/tail_expr_drop_order_unwind.rs
  tests/run-make/crate-loading-crate-depends-on-itself/foo-current.rs
  tests/run-make/crate-loading-crate-depends-on-itself/foo-prev.rs
  tests/run-make/crate-loading-crate-depends-on-itself/foo.stderr
  tests/run-make/crate-loading-crate-depends-on-itself/rmake.rs
  tests/run-make/crate-loading/multiple-dep-versions.stderr
  tests/run-make/crate-loading/rmake.rs
  tests/rustdoc-ui/doctest/comment-in-attr-134221-2.rs
  tests/rustdoc-ui/doctest/comment-in-attr-134221-2.stdout
  tests/rustdoc-ui/doctest/comment-in-attr-134221.rs
  tests/rustdoc-ui/doctest/comment-in-attr-134221.stdout
  tests/ui/drop/tail_expr_drop_order-on-coroutine-unwind.rs
  tests/ui/drop/tail_expr_drop_order-on-coroutine-unwind.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, T-libs, A-run-make

#134692 Move some things to `std::sync::poison` and reexport them in `std::sync`
  library/std/src/sync/barrier.rs
  library/std/src/sync/lazy_lock.rs
  library/std/src/sync/mod.rs
  library/std/src/sync/once_lock.rs
  library/std/src/sync/poison.rs
  library/std/src/sync/poison/condvar.rs
  library/std/src/sync/poison/condvar/tests.rs
  library/std/src/sync/poison/mutex.rs
  library/std/src/sync/poison/mutex/tests.rs
  library/std/src/sync/poison/once.rs
  library/std/src/sync/poison/once/tests.rs
  library/std/src/sync/poison/rwlock.rs
  library/std/src/sync/poison/rwlock/tests.rs
  library/std/src/sys/sync/once/futex.rs
  library/std/src/sys/sync/once/no_threads.rs
  library/std/src/sys/sync/once/queue.rs
  tests/debuginfo/mutex.rs
  tests/debuginfo/rwlock-read.rs
  tests/debuginfo/rwlock-write.rs
  tests/ui/traits/const-traits/span-bug-issue-121418.stderr
  tests/ui/typeck/assign-non-lval-derefmut.stderr
Labels: S-waiting-on-bors, merged-by-bors, T-libs

#131729 Make the `test` cfg a userspace check-cfg
  compiler/rustc_session/src/config/cfg.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/lib.rs
  src/doc/rustc/src/check-cfg.md
  src/tools/compiletest/src/runtest.rs
  tests/ui/check-cfg/allow-same-level.stderr
  tests/ui/check-cfg/cargo-build-script.stderr
  tests/ui/check-cfg/cargo-feature.none.stderr
  tests/ui/check-cfg/cargo-feature.some.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-duplicate.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-multiple.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name.stderr
  tests/ui/check-cfg/compact-names.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names-values.rs
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/exhaustive-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-values.rs
  tests/ui/check-cfg/exhaustive-values.without_names.stderr
  tests/ui/check-cfg/mix.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/no-expected-values.empty.stderr
  tests/ui/check-cfg/no-expected-values.mixed.stderr
  tests/ui/check-cfg/no-expected-values.simple.stderr
  tests/ui/check-cfg/raw-keywords.edition2015.stderr
  tests/ui/check-cfg/raw-keywords.edition2021.stderr
  tests/ui/check-cfg/report-in-external-macros.cargo.stderr
  tests/ui/check-cfg/report-in-external-macros.rustc.stderr
  tests/ui/check-cfg/stmt-no-ice.stderr
  tests/ui/check-cfg/unexpected-cfg-name.rs
  tests/ui/check-cfg/unexpected-cfg-name.stderr
  tests/ui/check-cfg/well-known-names.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
Labels: A-testsuite, T-compiler, relnotes, T-bootstrap, S-waiting-on-bors, F-check-cfg, A-compiletest

#134241 more concrete source url of std docs [V2]
  library/std/src/lib.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs

#135042 taint fcx on selection errors during unsizing
  compiler/rustc_hir_typeck/src/coercion.rs
  tests/crashes/130521.rs
  tests/ui/dyn-compatibility/taint-const-eval.curr.stderr
  tests/ui/dyn-compatibility/taint-const-eval.dyn_compatible_for_dispatch.stderr
  tests/ui/dyn-compatibility/taint-const-eval.rs
Labels: T-compiler, S-waiting-on-bors

#135049 Remove unused fields from RepeatElementCopy obligation
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
Labels: T-compiler, S-waiting-on-bors

#135059 Rollup of 4 pull requests
  compiler/rustc_hir_typeck/src/coercion.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  library/std/src/lib.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/lib.rs
  src/doc/rustc/src/check-cfg.md
  src/tools/compiletest/src/runtest.rs
  tests/crashes/130521.rs
  tests/ui/check-cfg/allow-same-level.stderr
  tests/ui/check-cfg/cargo-build-script.stderr
  tests/ui/check-cfg/cargo-feature.none.stderr
  tests/ui/check-cfg/cargo-feature.some.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-duplicate.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name-multiple.stderr
  tests/ui/check-cfg/cfg-value-for-cfg-name.stderr
  tests/ui/check-cfg/compact-names.stderr
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/exhaustive-names-values.rs
  tests/ui/check-cfg/exhaustive-names.stderr
  tests/ui/check-cfg/exhaustive-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-values.rs
  tests/ui/check-cfg/exhaustive-values.without_names.stderr
  tests/ui/check-cfg/mix.rs
  tests/ui/check-cfg/mix.stderr
  tests/ui/check-cfg/no-expected-values.empty.stderr
  tests/ui/check-cfg/no-expected-values.mixed.stderr
  tests/ui/check-cfg/no-expected-values.simple.stderr
  tests/ui/check-cfg/raw-keywords.edition2015.stderr
  tests/ui/check-cfg/raw-keywords.edition2021.stderr
  tests/ui/check-cfg/report-in-external-macros.cargo.stderr
  tests/ui/check-cfg/report-in-external-macros.rustc.stderr
  tests/ui/check-cfg/stmt-no-ice.stderr
  tests/ui/check-cfg/unexpected-cfg-name.rs
  tests/ui/check-cfg/unexpected-cfg-name.stderr
  tests/ui/check-cfg/well-known-names.stderr
  tests/ui/check-cfg/well-known-values.rs
  tests/ui/check-cfg/well-known-values.stderr
  tests/ui/dyn-compatibility/taint-const-eval.curr.stderr
  tests/ui/dyn-compatibility/taint-const-eval.dyn_compatible_for_dispatch.stderr
  tests/ui/dyn-compatibility/taint-const-eval.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-compiletest

#135063 Bump version to 1.86.0
  src/version
Labels: S-waiting-on-bors, T-release, merged-by-bors

#135034 Pass objcopy args for stripping on OSX
  compiler/rustc_codegen_ssa/src/back/link.rs
  tests/run-make/strip/hello.rs
  tests/run-make/strip/rmake.rs
Labels: beta-nominated, beta-accepted, T-compiler, S-waiting-on-review, merged-by-bors, A-run-make, CI-spurious-fail-msvc

#134965 Make Boxy UwU
  .mailmap
Labels: S-waiting-on-bors, A-meta

#135007 Some type-outlives computation tweaks
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
Labels: T-compiler, S-waiting-on-bors

#135036 run-make-support: adjust assertion printing, add some basic sanity checks
  src/tools/run-make-support/src/assertion_helpers.rs
  src/tools/run-make-support/src/assertion_helpers/mod.rs
  src/tools/run-make-support/src/assertion_helpers/tests.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, A-run-make

#135043 rustdoc: treat `allowed_through_unstable_modules` as deprecation
  src/librustdoc/clean/types.rs
  src/librustdoc/passes/propagate_stability.rs
  tests/rustdoc-js-std/core-transmute.js
  tests/rustdoc-js-std/transmute-fail.js
  tests/rustdoc-js-std/transmute.js
Labels: T-rustdoc, S-waiting-on-bors

#135044 Improve infer (`_`) suggestions in `const`s and `static`s
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_ty_utils/src/sig_types.rs
  tests/ui/array-slice-vec/suggest-array-length.fixed
  tests/ui/array-slice-vec/suggest-array-length.rs
  tests/ui/array-slice-vec/suggest-array-length.stderr
  tests/ui/async-await/issues/issue-95307.rs
  tests/ui/async-await/issues/issue-95307.stderr
  tests/ui/const-generics/generic_arg_infer/in-signature.stderr
  tests/ui/consts/issue-104768.rs
  tests/ui/consts/issue-104768.stderr
  tests/ui/error-codes/E0121.stderr
  tests/ui/feature-gates/feature-gate-generic_arg_infer.normal.stderr
  tests/ui/feature-gates/feature-gate-generic_arg_infer.rs
  tests/ui/generic-const-items/assoc-const-missing-type.rs
  tests/ui/generic-const-items/assoc-const-missing-type.stderr
  tests/ui/macros/issue-69396-const-no-type-in-macro.rs
  tests/ui/macros/issue-69396-const-no-type-in-macro.stderr
  tests/ui/parser/issues/issue-89574.rs
  tests/ui/parser/issues/issue-89574.stderr
  tests/ui/suggestions/unnamable-types.rs
  tests/ui/suggestions/unnamable-types.stderr
  tests/ui/typeck/issue-79040.rs
  tests/ui/typeck/issue-79040.stderr
  tests/ui/typeck/typeck_type_placeholder_item.rs
  tests/ui/typeck/typeck_type_placeholder_item.stderr
  tests/ui/typeck/typeck_type_placeholder_item_help.stderr
Labels: T-compiler, S-waiting-on-bors

#135058 refactor bootstrap path resolution
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#135086 Rollup of 7 pull requests
  .mailmap
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_analysis/src/collect.rs
  compiler/rustc_hir_analysis/src/collect/type_of.rs
  compiler/rustc_hir_analysis/src/collect/type_of/opaque.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_infer/src/infer/outlives/obligations.rs
  compiler/rustc_infer/src/infer/outlives/verify.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_target/src/spec/targets/armv7_rtems_eabihf.rs
  compiler/rustc_ty_utils/src/sig_types.rs
  library/panic_unwind/src/lib.rs
  library/std/src/sys/personality/mod.rs
  library/unwind/src/lib.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  src/librustdoc/clean/types.rs
  src/librustdoc/passes/propagate_stability.rs
  src/tools/run-make-support/src/assertion_helpers.rs
  src/tools/run-make-support/src/assertion_helpers/mod.rs
  src/tools/run-make-support/src/assertion_helpers/tests.rs
  tests/rustdoc-js-std/core-transmute.js
  tests/rustdoc-js-std/transmute-fail.js
  tests/rustdoc-js-std/transmute.js
  tests/ui/array-slice-vec/suggest-array-length.fixed
  tests/ui/array-slice-vec/suggest-array-length.rs
  tests/ui/array-slice-vec/suggest-array-length.stderr
  tests/ui/async-await/issues/issue-95307.rs
  tests/ui/async-await/issues/issue-95307.stderr
  tests/ui/const-generics/generic_arg_infer/in-signature.stderr
  tests/ui/consts/issue-104768.rs
  tests/ui/consts/issue-104768.stderr
  tests/ui/error-codes/E0121.stderr
  tests/ui/feature-gates/feature-gate-generic_arg_infer.normal.stderr
  tests/ui/feature-gates/feature-gate-generic_arg_infer.rs
  tests/ui/generic-const-items/assoc-const-missing-type.rs
  tests/ui/generic-const-items/assoc-const-missing-type.stderr
  tests/ui/macros/issue-69396-const-no-type-in-macro.rs
  tests/ui/macros/issue-69396-const-no-type-in-macro.stderr
  tests/ui/parser/issues/issue-89574.rs
  tests/ui/parser/issues/issue-89574.stderr
  tests/ui/suggestions/unnamable-types.rs
  tests/ui/suggestions/unnamable-types.stderr
  tests/ui/typeck/issue-79040.rs
  tests/ui/typeck/issue-79040.stderr
  tests/ui/typeck/typeck_type_placeholder_item.rs
  tests/ui/typeck/typeck_type_placeholder_item.stderr
  tests/ui/typeck/typeck_type_placeholder_item_help.stderr
Labels: T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs, A-run-make

#133420 Switch rtems target to panic unwind
  compiler/rustc_target/src/spec/targets/armv7_rtems_eabihf.rs
  library/panic_unwind/src/lib.rs
  library/std/src/sys/personality/mod.rs
  library/unwind/src/lib.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#135067 Bump cc in the compiler
  Cargo.lock
  compiler/rustc_codegen_ssa/Cargo.toml
  compiler/rustc_llvm/Cargo.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#133964 core: implement `bool::select_unpredictable`
  library/core/src/bool.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/slice/mod.rs
  tests/codegen/bool-select-unpredictable.rs
Labels: T-libs-api, S-waiting-on-bors

#135001 Allow using self-contained LLD in bootstrap
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/utils/helpers.rs
Labels: T-bootstrap, S-waiting-on-bors

#135055 Report impl method has stricter requirements even when RPITIT inference gets in the way
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  tests/ui/associated-types/remove-invalid-type-bound-suggest-issue-127555.rs
  tests/ui/associated-types/remove-invalid-type-bound-suggest-issue-127555.stderr
  tests/ui/impl-trait/in-trait/false-positive-predicate-entailment-error.current.stderr
  tests/ui/impl-trait/in-trait/false-positive-predicate-entailment-error.rs
  tests/ui/impl-trait/in-trait/mismatched-where-clauses.rs
  tests/ui/impl-trait/in-trait/mismatched-where-clauses.stderr
  tests/ui/impl-trait/in-trait/return-dont-satisfy-bounds.rs
  tests/ui/impl-trait/in-trait/return-dont-satisfy-bounds.stderr
  tests/ui/impl-trait/in-trait/rpitit-hidden-types-self-implied-wf-via-param.rs
  tests/ui/impl-trait/in-trait/rpitit-hidden-types-self-implied-wf-via-param.stderr
Labels: T-compiler, S-waiting-on-bors

#135064 const-in-pattern: test that the PartialEq impl does not need to be const
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  tests/ui/traits/const-traits/pattern-custom-partial-eq.rs
Labels: T-compiler, S-waiting-on-bors

#135066 bootstrap: support `./x check run-make-support`
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/builder/mod.rs
Labels: T-bootstrap, S-waiting-on-bors

#135069 remove unused function params
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#135084 Update carrying_mul_add test to tolerate `nuw`
  tests/codegen/intrinsics/carrying_mul_add.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#135095 Rollup of 7 pull requests
  compiler/rustc_hir_analysis/src/check/compare_impl_item.rs
  compiler/rustc_middle/src/ty/diagnostics.rs
  compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs
  compiler/rustc_mir_transform/src/coroutine.rs
  compiler/rustc_trait_selection/src/error_reporting/infer/mod.rs
  library/core/src/bool.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/slice/mod.rs
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/utils/helpers.rs
  tests/codegen/bool-select-unpredictable.rs
  tests/codegen/intrinsics/carrying_mul_add.rs
  tests/ui/associated-types/remove-invalid-type-bound-suggest-issue-127555.rs
  tests/ui/associated-types/remove-invalid-type-bound-suggest-issue-127555.stderr
  tests/ui/impl-trait/in-trait/false-positive-predicate-entailment-error.current.stderr
  tests/ui/impl-trait/in-trait/false-positive-predicate-entailment-error.rs
  tests/ui/impl-trait/in-trait/mismatched-where-clauses.rs
  tests/ui/impl-trait/in-trait/mismatched-where-clauses.stderr
  tests/ui/impl-trait/in-trait/return-dont-satisfy-bounds.rs
  tests/ui/impl-trait/in-trait/return-dont-satisfy-bounds.stderr
  tests/ui/impl-trait/in-trait/rpitit-hidden-types-self-implied-wf-via-param.rs
  tests/ui/impl-trait/in-trait/rpitit-hidden-types-self-implied-wf-via-param.stderr
  tests/ui/traits/const-traits/pattern-custom-partial-eq.rs
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#133955 Pass the arch rather than full target name to windows_registry::find_tool
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/back/linker.rs
Labels: T-compiler, O-windows-msvc, S-waiting-on-bors, merged-by-bors

#135096 bootstrap: correctly handle doc paths within submodules
  src/bootstrap/src/core/build_steps/doc.rs
  src/bootstrap/src/utils/helpers.rs
  src/bootstrap/src/utils/helpers/tests.rs
Labels: T-bootstrap, S-waiting-on-bors, merged-by-bors

#135046 turn rustc_box into an intrinsic
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_hir_analysis/src/check/intrinsic.rs
  compiler/rustc_mir_build/messages.ftl
  compiler/rustc_mir_build/src/errors.rs
  compiler/rustc_mir_build/src/thir/cx/expr.rs
  compiler/rustc_span/src/symbol.rs
  library/alloc/src/alloc.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/alloc/src/macros.rs
  src/tools/clippy/tests/ui-toml/disallowed_macros/disallowed_macros.stderr
  tests/mir-opt/box_expr.rs
  tests/mir-opt/building/uniform_array_move_out.rs
  tests/mir-opt/const_prop/boxes.rs
  tests/mir-opt/issue_62289.rs
  tests/ui/attributes/rustc-box.rs
  tests/ui/attributes/rustc-box.stderr
  tests/ui/coroutine/issue-105084.rs
  tests/ui/coroutine/issue-105084.stderr
  tests/ui/lint/unused/unused-allocation.rs
  tests/ui/lint/unused/unused-allocation.stderr
  tests/ui/macros/vec-macro-in-pattern.rs
  tests/ui/macros/vec-macro-in-pattern.stderr
  tests/ui/unpretty/box.rs
  tests/ui/unpretty/box.stdout
Labels: T-compiler, S-waiting-on-bors, T-libs

#135061 crashes: add latest batch of tests
  tests/crashes/134336.rs
  tests/crashes/134355.rs
  tests/crashes/134479.rs
  tests/crashes/134587.rs
  tests/crashes/134615.rs
  tests/crashes/134641.rs
  tests/crashes/134654.rs
  tests/crashes/134838.rs
  tests/crashes/134905.rs
  tests/crashes/135020.rs
  tests/crashes/135039.rs
Labels: T-compiler, S-waiting-on-bors

#135070 std: sync to dep versions of backtrace
  library/Cargo.lock
  library/std/Cargo.toml
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, T-bootstrap, S-waiting-on-bors, T-libs

#135088 Force code generation in assembly generation smoke-tests
  tests/assembly/targets/targets-elf.rs
  tests/assembly/targets/targets-macho.rs
Labels: T-compiler, S-waiting-on-bors, llvm-main

#135094 bootstrap: If dir_is_empty fails, show the non-existent directory path
  src/bootstrap/src/utils/helpers.rs
Labels: T-bootstrap, S-waiting-on-bors

#133990 [Debuginfo] Force enum `DISCR_*` to `static const u64` to allow for inspection via LLDB
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/cpp_like.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#135104 do not in-place-iterate over flatmap/flatten
  library/alloc/tests/vec.rs
  library/core/src/iter/adapters/flatten.rs
Labels: beta-nominated, S-waiting-on-bors, T-libs

#135110 library: fix adler{ -> 2}.debug
  library/Cargo.toml
Labels: S-waiting-on-bors

#135113 Rollup of 4 pull requests
  library/Cargo.toml
  library/alloc/tests/vec.rs
  library/core/src/iter/adapters/flatten.rs
  library/std/src/sys/pal/windows/os.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/uwp-windows-msvc.md
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/tests.rs
Labels: A-testsuite, O-windows, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, A-compiletest

#134925 deny usage of special FileCheck prefixes as revision names
  src/tools/compiletest/src/header.rs
  src/tools/compiletest/src/header/tests.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, A-compiletest

#134996 Add UWP (msvc) target support page
  library/std/src/sys/pal/windows/os.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/uwp-windows-msvc.md
Labels: O-windows, S-waiting-on-bors, T-libs

#135074 Target: Add mips mti baremetal support
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/mips_mti_none_elf.rs
  compiler/rustc_target/src/spec/targets/mipsel_mti_none_elf.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/mips-mti-none-elf.md
  src/tools/build-manifest/src/main.rs
  tests/assembly/targets/targets-elf.rs
  tests/ui/check-cfg/exhaustive-names-values.empty_cfg.stderr
  tests/ui/check-cfg/exhaustive-names-values.feature.stderr
  tests/ui/check-cfg/exhaustive-names-values.full.stderr
  tests/ui/check-cfg/well-known-values.stderr
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#135125 Subtree sync for rustc_codegen_cranelift
  compiler/rustc_codegen_cranelift/.github/workflows/main.yml
  compiler/rustc_codegen_cranelift/Cargo.lock
  compiler/rustc_codegen_cranelift/Cargo.toml
  compiler/rustc_codegen_cranelift/build_system/bench.rs
  compiler/rustc_codegen_cranelift/build_system/config.rs
  compiler/rustc_codegen_cranelift/build_system/main.rs
  compiler/rustc_codegen_cranelift/build_system/path.rs
  compiler/rustc_codegen_cranelift/config.txt
  compiler/rustc_codegen_cranelift/patches/bcryptprimitives.rs
  compiler/rustc_codegen_cranelift/rust-toolchain
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_codegen_cranelift/src/driver/aot.rs
  compiler/rustc_codegen_cranelift/src/driver/jit.rs
  compiler/rustc_codegen_cranelift/src/inline_asm.rs
  compiler/rustc_codegen_cranelift/src/intrinsics/simd.rs
  compiler/rustc_codegen_cranelift/src/lib.rs
  src/tools/tidy/src/deps.rs
Labels: A-testsuite, A-codegen, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-cranelift, has-merge-commits

#135127 rustc-dev-guide subtree update
  src/doc/rustc-dev-guide/README.md
  src/doc/rustc-dev-guide/josh-sync/Cargo.lock
  src/doc/rustc-dev-guide/josh-sync/Cargo.toml
  src/doc/rustc-dev-guide/josh-sync/README.md
  src/doc/rustc-dev-guide/josh-sync/src/main.rs
  src/doc/rustc-dev-guide/josh-sync/src/sync.rs
  src/doc/rustc-dev-guide/rust-version
  src/doc/rustc-dev-guide/src/SUMMARY.md
  src/doc/rustc-dev-guide/src/early-late-bound-params/early-late-bound-implementation-nuances.md
  src/doc/rustc-dev-guide/src/early-late-bound-params/turbofishing-and-early-late-bound.md
  src/doc/rustc-dev-guide/src/early_late_parameters.md
  src/doc/rustc-dev-guide/src/external-repos.md
  src/doc/rustc-dev-guide/src/generic_parameters_summary.md
  src/doc/rustc-dev-guide/src/method-lookup.md
  src/doc/rustc-dev-guide/src/solve/normalization.md
  src/doc/rustc-dev-guide/src/solve/opaque-types.md
  src/doc/rustc-dev-guide/src/tests/compiletest.md
  src/doc/rustc-dev-guide/src/tests/directives.md
  src/doc/rustc-dev-guide/src/traits/chalk.md
  src/doc/rustc-dev-guide/src/ty_module/early_binder.md
Labels: S-waiting-on-bors, merged-by-bors, A-rustc-dev-guide

#135115 cg_llvm: Use constants for DWARF opcodes, instead of FFI calls
  Cargo.lock
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/debuginfo/dwarf_const.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/cpp_like.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
Labels: T-compiler, S-waiting-on-bors

#135118 Clarified the documentation on `core::iter::from_fn` and `core::iter::successors`
  library/core/src/iter/sources/from_fn.rs
  library/core/src/iter/sources/successors.rs
Labels: S-waiting-on-bors, T-libs

#135121 Mark `slice::reverse` unstably const
  library/core/src/slice/mod.rs
Labels: S-waiting-on-bors, T-libs

#135140 Rollup of 3 pull requests
  Cargo.lock
  compiler/rustc_codegen_llvm/Cargo.toml
  compiler/rustc_codegen_llvm/src/debuginfo/dwarf_const.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs
  compiler/rustc_codegen_llvm/src/debuginfo/metadata/enums/cpp_like.rs
  compiler/rustc_codegen_llvm/src/debuginfo/mod.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/RustWrapper.cpp
  library/core/src/iter/sources/from_fn.rs
  library/core/src/iter/sources/successors.rs
  library/core/src/slice/mod.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#135085 add m68k-unknown-none-elf target
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/m68k_unknown_none_elf.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/m68k-unknown-none-elf.md
  src/tools/build-manifest/src/main.rs
  tests/assembly/targets/targets-elf.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, A-compiletest

#135111 Add doc aliases for `libm` and IEEE names
  library/std/src/f128.rs
  library/std/src/f16.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
Labels: S-waiting-on-bors, T-libs, CI-spurious-fail-mingw

#135129 triagebot: label `src/doc/rustc-dev-guide` changes with `A-rustc-dev-guide`
  triagebot.toml
Labels: S-waiting-on-bors, A-meta, A-rustc-dev-guide

#135132 dev guide ping group and set adhoc reviewers to compiler
  triagebot.toml
Labels: S-waiting-on-bors, A-meta, A-rustc-dev-guide

#135145 Mention `unnameable_types` in `unreachable_pub` documentation.
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint_defs/src/builtin.rs
Labels: T-compiler, S-waiting-on-bors

#135147 A few borrowck tweaks to improve 2024 edition migration lints
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_middle/src/util/find_self_call.rs
  tests/ui/lifetimes/tail-expr-in-nested-expr.stderr
  tests/ui/lint/lint-const-item-mutation.stderr
  tests/ui/moves/move-deref-coercion.stderr
  tests/ui/no-capture-arc.stderr
  tests/ui/no-reuse-move-arc.stderr
Labels: T-compiler, S-waiting-on-bors

#135150 move footnote to ordinary comment
  compiler/rustc_hir_analysis/src/impl_wf_check.rs
Labels: T-compiler, S-waiting-on-bors

#135151 Rollup of 6 pull requests
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_hir_analysis/src/impl_wf_check.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_lint_defs/src/builtin.rs
  compiler/rustc_middle/src/util/find_self_call.rs
  library/std/src/f128.rs
  library/std/src/f16.rs
  library/std/src/f32.rs
  library/std/src/f64.rs
  tests/ui/lifetimes/tail-expr-in-nested-expr.stderr
  tests/ui/lint/lint-const-item-mutation.stderr
  tests/ui/moves/move-deref-coercion.stderr
  tests/ui/no-capture-arc.stderr
  tests/ui/no-reuse-move-arc.stderr
  triagebot.toml
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, A-meta, T-libs

#135112 Merge the intrinsic and user tests for `select_unpredictable`
  tests/codegen/bool-select-unpredictable.rs
  tests/codegen/intrinsics/select_unpredictable.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors

#134742 Use `PostBorrowckAnalysis` in `check_coroutine_obligations`
  compiler/rustc_hir_analysis/src/check/check.rs
  tests/ui/coroutine/issue-52304.rs
Labels: T-compiler, S-waiting-on-bors

#134771 Report correct `SelectionError` for `ConstArgHasType` in new solver fulfill
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  tests/ui/typeck/issue-114918/const-in-impl-fn-return-type.current.stderr
  tests/ui/typeck/issue-114918/const-in-impl-fn-return-type.next.stderr
  tests/ui/typeck/issue-114918/const-in-impl-fn-return-type.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#134951 Suppress host effect predicates if underlying trait doesn't hold
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  tests/ui/traits/const-traits/double-error-for-unimplemented-trait.rs
  tests/ui/traits/const-traits/double-error-for-unimplemented-trait.stderr
Labels: T-compiler, S-waiting-on-bors

#135097 bootstrap: Consolidate coverage test suite steps into a single step
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
Labels: T-bootstrap, S-waiting-on-bors

#135146 Don't enable anyhow's `backtrace` feature in opt-dist
  Cargo.lock
  src/tools/opt-dist/Cargo.toml
Labels: S-waiting-on-bors

#135153 chore: remove redundant words in comment
  library/std/src/ffi/os_str.rs
  library/std/src/pipe.rs
  library/std/src/sync/poison/mutex.rs
  src/ci/docker/host-x86_64/dist-riscv64-linux/patches/gcc/8.5.0/0002-hidden-jump-target.patch
  tests/ui/duplicate/multiple-types-with-same-name-and-derive.rs
Labels: A-testsuite, T-compiler, S-waiting-on-bors, T-infra, T-libs

#135157 Move the has_errors check in rustdoc back to after TyCtxt is created
  src/librustdoc/lib.rs
Labels: T-rustdoc, S-waiting-on-bors

#135172 Rollup of 7 pull requests
  Cargo.lock
  compiler/rustc_hir_analysis/src/check/check.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  library/std/src/ffi/os_str.rs
  library/std/src/pipe.rs
  library/std/src/sync/poison/mutex.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/builder/tests.rs
  src/ci/docker/host-x86_64/dist-riscv64-linux/patches/gcc/8.5.0/0002-hidden-jump-target.patch
  src/librustdoc/lib.rs
  src/tools/opt-dist/Cargo.toml
  tests/ui/coroutine/issue-52304.rs
  tests/ui/duplicate/multiple-types-with-same-name-and-derive.rs
  tests/ui/traits/const-traits/double-error-for-unimplemented-trait.rs
  tests/ui/traits/const-traits/double-error-for-unimplemented-trait.stderr
  tests/ui/typeck/issue-114918/const-in-impl-fn-return-type.current.stderr
  tests/ui/typeck/issue-114918/const-in-impl-fn-return-type.next.stderr
  tests/ui/typeck/issue-114918/const-in-impl-fn-return-type.rs
Labels: A-testsuite, T-rustdoc, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, rollup, T-libs, WG-trait-system-refactor

#135162 Prepare Rust 1.84.0 stable release
  .github/workflows/ci.yml
  RELEASES.md
  compiler/rustc_codegen_ssa/src/back/link.rs
  src/build_helper/src/git.rs
  src/ci/channel
  src/ci/scripts/setup-upstream-remote.sh
  src/ci/shared.sh
  tests/run-make/strip/hello.rs
  tests/run-make/strip/rmake.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, T-release, merged-by-bors, A-run-make

#131830 Add support for wasm exception handling to Emscripten target
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_passes/src/weak_lang_items.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/symbol.rs
  library/panic_unwind/Cargo.toml
  library/panic_unwind/src/lib.rs
  library/unwind/Cargo.toml
  library/unwind/src/lib.rs
  src/doc/unstable-book/src/compiler-flags/emscripten-wasm-eh.md
  tests/codegen/emscripten-catch-unwind-js-eh.rs
  tests/codegen/emscripten-catch-unwind-wasm-eh.rs
  tests/ui/cfg/disallowed-cli-cfgs.emscripten_wasm_eh_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.rs
  tests/ui/feature-gates/feature-gate-cfg-emscripten-wasm-eh.rs
  tests/ui/feature-gates/feature-gate-cfg-emscripten-wasm-eh.stderr
Labels: T-compiler, S-waiting-on-bors, T-libs, A-ABI, O-emscripten

#132345 Improve diagnostics for `HostEffectPredicate` in the new solver
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/predicate.rs
  compiler/rustc_next_trait_solver/src/solve/effect_goals.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/traits/effects.rs
  compiler/rustc_type_ir/src/binder.rs
  compiler/rustc_type_ir/src/solve/mod.rs
  tests/ui/const-generics/issues/issue-88119.stderr
  tests/ui/traits/const-traits/assoc-type-const-bound-usage-fail-2.current.stderr
  tests/ui/traits/const-traits/assoc-type-const-bound-usage-fail-2.next.stderr
  tests/ui/traits/const-traits/assoc-type-const-bound-usage-fail-2.rs
  tests/ui/traits/const-traits/item-bound-entailment-fails.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#134744 Don't ice on bad transmute in typeck in new solver
  compiler/rustc_hir_typeck/src/intrinsicck.rs
  tests/ui/traits/next-solver/dont-ice-on-bad-transmute-in-typeck.rs
  tests/ui/traits/next-solver/dont-ice-on-bad-transmute-in-typeck.stderr
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#135090 Suggest to replace tuple constructor through projection
  compiler/rustc_hir_typeck/src/method/suggest.rs
  tests/ui/associated-types/invalid-ctor.fixed
  tests/ui/associated-types/invalid-ctor.rs
  tests/ui/associated-types/invalid-ctor.stderr
Labels: T-compiler, S-waiting-on-bors

#135116 rustdoc: Fix mismatched capitalization in sidebar
  src/librustdoc/html/render/sidebar.rs
  tests/rustdoc/type-alias/deref-32077.rs
Labels: T-rustdoc, S-waiting-on-bors

#135126 mark deprecated option as deprecated in rustc_session to remove copypasta and small refactor
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_session/src/options.rs
  tests/ui/deprecation/deprecated_ar.rs
  tests/ui/deprecation/deprecated_ar.stderr
  tests/ui/deprecation/deprecated_inline_threshold.bad_val.stderr
  tests/ui/deprecation/deprecated_inline_threshold.good_val.stderr
  tests/ui/deprecation/deprecated_inline_threshold.no_val.stderr
  tests/ui/deprecation/deprecated_inline_threshold.rs
  tests/ui/deprecation/deprecated_inline_threshold.stderr
  tests/ui/deprecation/deprecated_no_stack_check_opt.rs
  tests/ui/deprecation/deprecated_no_stack_check_opt.stderr
Labels: T-compiler, S-waiting-on-bors

#135139 [generic_assert] Constify methods used by the formatting system
  library/core/src/fmt/mod.rs
  library/core/src/fmt/rt.rs
  tests/ui/consts/const-eval/format.rs
  tests/ui/consts/const-eval/format.stderr
Labels: S-waiting-on-bors, T-libs

#135170 Update triagebot.toml: celinval vacation is over
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#135183 Rollup of 9 pull requests
  RELEASES.md
  compiler/rustc_codegen_llvm/src/llvm_util.rs
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_codegen_ssa/src/base.rs
  compiler/rustc_driver_impl/src/lib.rs
  compiler/rustc_feature/src/builtin_attrs.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir_typeck/src/intrinsicck.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_interface/src/tests.rs
  compiler/rustc_middle/src/traits/mod.rs
  compiler/rustc_middle/src/ty/predicate.rs
  compiler/rustc_next_trait_solver/src/solve/effect_goals.rs
  compiler/rustc_passes/src/weak_lang_items.rs
  compiler/rustc_session/src/config/cfg.rs
  compiler/rustc_session/src/options.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/suggestions.rs
  compiler/rustc_trait_selection/src/solve/fulfill.rs
  compiler/rustc_trait_selection/src/traits/effects.rs
  compiler/rustc_type_ir/src/binder.rs
  compiler/rustc_type_ir/src/solve/mod.rs
  library/core/src/fmt/mod.rs
  library/core/src/fmt/rt.rs
  library/panic_unwind/Cargo.toml
  library/panic_unwind/src/lib.rs
  library/unwind/Cargo.toml
  library/unwind/src/lib.rs
  src/doc/unstable-book/src/compiler-flags/emscripten-wasm-eh.md
  src/librustdoc/html/render/sidebar.rs
  tests/codegen/emscripten-catch-unwind-js-eh.rs
  tests/codegen/emscripten-catch-unwind-wasm-eh.rs
  tests/rustdoc/type-alias/deref-32077.rs
  tests/ui/associated-types/invalid-ctor.fixed
  tests/ui/associated-types/invalid-ctor.rs
  tests/ui/associated-types/invalid-ctor.stderr
  tests/ui/cfg/disallowed-cli-cfgs.emscripten_wasm_eh_.stderr
  tests/ui/cfg/disallowed-cli-cfgs.rs
  tests/ui/const-generics/issues/issue-88119.stderr
  tests/ui/consts/const-eval/format.rs
  tests/ui/consts/const-eval/format.stderr
  tests/ui/deprecation/deprecated_ar.rs
  tests/ui/deprecation/deprecated_ar.stderr
  tests/ui/deprecation/deprecated_inline_threshold.bad_val.stderr
  tests/ui/deprecation/deprecated_inline_threshold.good_val.stderr
  tests/ui/deprecation/deprecated_inline_threshold.no_val.stderr
  tests/ui/deprecation/deprecated_inline_threshold.rs
  tests/ui/deprecation/deprecated_inline_threshold.stderr
  tests/ui/deprecation/deprecated_no_stack_check_opt.rs
  tests/ui/deprecation/deprecated_no_stack_check_opt.stderr
  tests/ui/feature-gates/feature-gate-cfg-emscripten-wasm-eh.rs
  tests/ui/feature-gates/feature-gate-cfg-emscripten-wasm-eh.stderr
  tests/ui/traits/const-traits/assoc-type-const-bound-usage-fail-2.current.stderr
  tests/ui/traits/const-traits/assoc-type-const-bound-usage-fail-2.next.stderr
  tests/ui/traits/const-traits/assoc-type-const-bound-usage-fail-2.rs
  tests/ui/traits/const-traits/item-bound-entailment-fails.stderr
  tests/ui/traits/next-solver/dont-ice-on-bad-transmute-in-typeck.rs
  tests/ui/traits/next-solver/dont-ice-on-bad-transmute-in-typeck.stderr
  triagebot.toml
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, T-release, merged-by-bors, rollup, A-meta, T-libs, WG-trait-system-refactor

#134568 Release notes for 1.84.0
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#135081 bootstrap: Build jemalloc with support for 64K pages
  src/bootstrap/src/core/build_steps/compile.rs
Labels: T-bootstrap, S-waiting-on-bors

#135174 [AIX] Port test case run-make/reproducible-build
  tests/run-make/reproducible-build/rmake.rs
Labels: T-compiler, S-waiting-on-bors, A-run-make

#135177 llvm: Ignore error value that is always false
  compiler/rustc_codegen_gcc/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
Labels: T-compiler, S-waiting-on-bors, llvm-main

#135182 Transmute from NonNull to pointer when elaborating a box deref (MCP807)
  compiler/rustc_mir_transform/src/elaborate_box_derefs.rs
  tests/mir-opt/box_expr.rs
  tests/mir-opt/const_prop/boxes.main.GVN.panic-abort.diff
  tests/mir-opt/const_prop/boxes.main.GVN.panic-unwind.diff
  tests/mir-opt/const_prop/transmute.unreachable_box.GVN.32bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_box.GVN.64bit.diff
  tests/mir-opt/dataflow-const-prop/transmute.unreachable_box.DataflowConstProp.32bit.diff
  tests/mir-opt/dataflow-const-prop/transmute.unreachable_box.DataflowConstProp.64bit.diff
  tests/mir-opt/lower_intrinsics.transmute_to_box_uninhabited.LowerIntrinsics.panic-abort.diff
  tests/mir-opt/lower_intrinsics.transmute_to_box_uninhabited.LowerIntrinsics.panic-unwind.diff
  tests/mir-opt/retag.box_to_raw_mut.SimplifyCfg-pre-optimizations.after.panic-abort.mir
  tests/mir-opt/retag.box_to_raw_mut.SimplifyCfg-pre-optimizations.after.panic-unwind.mir
Labels: T-compiler, S-waiting-on-bors

#135187 apply a workaround fix for the release roadblock
  src/build_helper/src/git.rs
Labels: T-bootstrap, S-waiting-on-bors

#135189 Remove workaround from pull request template
  .github/pull_request_template.md
Labels: S-waiting-on-bors

#135193 don't bless `proc_macro_deps.rs` unless it's necessary
  src/tools/tidy/src/deps.rs
Labels: T-bootstrap, S-waiting-on-bors, A-tidy

#135198 Avoid naming variables `str`
  compiler/rustc_borrowck/src/region_infer/values.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_log/src/lib.rs
  compiler/rustc_macros/src/symbols.rs
  library/std/src/process.rs
  library/std/src/sys/pal/windows/process.rs
  library/std/src/sys_common/wtf8.rs
  src/tools/compiletest/src/compute_diff.rs
Labels: A-testsuite, O-windows, T-compiler, T-bootstrap, S-waiting-on-bors, T-libs, A-compiletest

#135199 Eliminate an unnecessary `Symbol::to_string`; use `as_str`
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/encode.rs
Labels: T-compiler, S-waiting-on-bors, PG-exploit-mitigations

#135202 Rollup of 9 pull requests
  .github/pull_request_template.md
  compiler/rustc_borrowck/src/region_infer/values.rs
  compiler/rustc_codegen_gcc/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/back/lto.rs
  compiler/rustc_codegen_llvm/src/llvm/ffi.rs
  compiler/rustc_const_eval/src/interpret/operand.rs
  compiler/rustc_const_eval/src/interpret/place.rs
  compiler/rustc_lint/src/nonstandard_style.rs
  compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp
  compiler/rustc_log/src/lib.rs
  compiler/rustc_macros/src/symbols.rs
  compiler/rustc_mir_transform/src/elaborate_box_derefs.rs
  compiler/rustc_sanitizers/src/cfi/typeid/itanium_cxx_abi/encode.rs
  library/std/src/process.rs
  library/std/src/sys/pal/windows/process.rs
  library/std/src/sys_common/wtf8.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/build_helper/src/git.rs
  src/tools/compiletest/src/compute_diff.rs
  src/tools/tidy/src/deps.rs
  tests/mir-opt/box_expr.rs
  tests/mir-opt/const_prop/boxes.main.GVN.panic-abort.diff
  tests/mir-opt/const_prop/boxes.main.GVN.panic-unwind.diff
  tests/mir-opt/const_prop/transmute.unreachable_box.GVN.32bit.diff
  tests/mir-opt/const_prop/transmute.unreachable_box.GVN.64bit.diff
  tests/mir-opt/dataflow-const-prop/transmute.unreachable_box.DataflowConstProp.32bit.diff
  tests/mir-opt/dataflow-const-prop/transmute.unreachable_box.DataflowConstProp.64bit.diff
  tests/mir-opt/lower_intrinsics.transmute_to_box_uninhabited.LowerIntrinsics.panic-abort.diff
  tests/mir-opt/lower_intrinsics.transmute_to_box_uninhabited.LowerIntrinsics.panic-unwind.diff
  tests/mir-opt/retag.box_to_raw_mut.SimplifyCfg-pre-optimizations.after.panic-abort.mir
  tests/mir-opt/retag.box_to_raw_mut.SimplifyCfg-pre-optimizations.after.panic-unwind.mir
  tests/run-make/reproducible-build/rmake.rs
Labels: A-testsuite, O-windows, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, T-libs, PG-exploit-mitigations, A-compiletest, A-run-make

#133810 remove unnecessary `eval_verify_bound`
  compiler/rustc_borrowck/src/region_infer/mod.rs
Labels: T-compiler, S-waiting-on-bors

#134745 Normalize each signature input/output in `typeck_with_fallback` with its own span
  compiler/rustc_hir_typeck/src/lib.rs
  tests/ui/associated-types/associated-types-for-unimpl-trait.stderr
  tests/ui/associated-types/associated-types-no-suitable-bound.stderr
  tests/ui/associated-types/associated-types-no-suitable-supertrait-2.stderr
  tests/ui/associated-types/associated-types-no-suitable-supertrait.stderr
  tests/ui/associated-types/issue-59324.stderr
  tests/ui/auto-traits/issue-83857-ub.stderr
  tests/ui/error-codes/E0229.stderr
  tests/ui/issues/issue-18611.stderr
  tests/ui/issues/issue-35570.stderr
  tests/ui/proc-macro/bad-projection.stderr
  tests/ui/regions/regions-implied-bounds-projection-gap-hr-1.rs
  tests/ui/regions/regions-implied-bounds-projection-gap-hr-1.stderr
  tests/ui/specialization/min_specialization/issue-79224.stderr
  tests/ui/type-alias-impl-trait/generic_underconstrained.stderr
  tests/ui/type-alias-impl-trait/generic_underconstrained2.stderr
Labels: T-compiler, S-waiting-on-bors

#134989 Lower Guard Patterns to HIR.
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_passes/src/input_stats.rs
  src/librustdoc/clean/utils.rs
  src/tools/clippy/clippy_lints/src/equatable_if_let.rs
  src/tools/clippy/clippy_lints/src/matches/match_same_arms.rs
  src/tools/clippy/clippy_lints/src/matches/single_match.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  tests/ui/feature-gates/feature-gate-guard-patterns.rs
  tests/ui/feature-gates/feature-gate-guard-patterns.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors

#135149 Use a post-monomorphization typing env when mangling components that come from impls
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  tests/ui/symbol-names/normalize-in-param-env.rs
Labels: T-compiler, S-waiting-on-bors

#135171 rustdoc: use stable paths as preferred canonical paths
  src/librustdoc/formats/cache.rs
  tests/rustdoc/inline_local/fully-stable-path-is-better.rs
Labels: T-rustdoc, S-waiting-on-bors

#135200 rustfmt: drop nightly-gating of the `--style-edition` flag registration
  src/tools/rustfmt/src/bin/main.rs
Labels: S-waiting-on-bors, A-rustfmt

#135218 Rollup of 6 pull requests
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_hir_typeck/src/lib.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_middle/src/ty/print/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_passes/src/input_stats.rs
  compiler/rustc_symbol_mangling/src/legacy.rs
  compiler/rustc_symbol_mangling/src/v0.rs
  src/librustdoc/clean/utils.rs
  src/librustdoc/formats/cache.rs
  src/tools/clippy/clippy_lints/src/equatable_if_let.rs
  src/tools/clippy/clippy_lints/src/matches/match_same_arms.rs
  src/tools/clippy/clippy_lints/src/matches/single_match.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/rustfmt/src/bin/main.rs
  tests/rustdoc/inline_local/fully-stable-path-is-better.rs
  tests/ui/associated-types/associated-types-for-unimpl-trait.stderr
  tests/ui/associated-types/associated-types-no-suitable-bound.stderr
  tests/ui/associated-types/associated-types-no-suitable-supertrait-2.stderr
  tests/ui/associated-types/associated-types-no-suitable-supertrait.stderr
  tests/ui/associated-types/issue-59324.stderr
  tests/ui/auto-traits/issue-83857-ub.stderr
  tests/ui/error-codes/E0229.stderr
  tests/ui/feature-gates/feature-gate-guard-patterns.rs
  tests/ui/feature-gates/feature-gate-guard-patterns.stderr
  tests/ui/issues/issue-18611.stderr
  tests/ui/issues/issue-35570.stderr
  tests/ui/proc-macro/bad-projection.stderr
  tests/ui/regions/regions-implied-bounds-projection-gap-hr-1.rs
  tests/ui/regions/regions-implied-bounds-projection-gap-hr-1.stderr
  tests/ui/specialization/min_specialization/issue-79224.stderr
  tests/ui/symbol-names/normalize-in-param-env.rs
  tests/ui/type-alias-impl-trait/generic_underconstrained.stderr
  tests/ui/type-alias-impl-trait/generic_underconstrained2.stderr
Labels: T-rustdoc, T-compiler, S-waiting-on-bors, merged-by-bors, rollup

#133057 Impl String::into_chars
  library/alloc/src/string.rs
Labels: S-waiting-on-bors, T-libs

#134920 Convert typeck constraints in location-sensitive polonius
  compiler/rustc_borrowck/src/borrow_set.rs
  compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/path_utils.rs
  compiler/rustc_borrowck/src/polonius/legacy/loan_invalidations.rs
  compiler/rustc_borrowck/src/polonius/mod.rs
  compiler/rustc_borrowck/src/polonius/typeck_constraints.rs
  compiler/rustc_borrowck/src/util/collect_writes.rs
  compiler/rustc_borrowck/src/util/mod.rs
  compiler/rustc_middle/src/mir/statement.rs
Labels: T-compiler, S-waiting-on-bors

#134389 Condvar: implement wait_timeout for targets without threads
  library/std/src/sys/sync/condvar/no_threads.rs
Labels: T-libs-api, S-waiting-on-bors, T-libs, I-libs-api-nominated

#135163 Prepare 1.85 beta release
  compiler/rustc_codegen_ssa/src/back/link.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  library/alloc/src/boxed.rs
  library/core/src/alloc/layout.rs
  library/core/src/hash/mod.rs
  library/core/src/iter/traits/collect.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/mem/mod.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/num/mod.rs
  library/core/src/num/nonzero.rs
  library/core/src/ops/async_function.rs
  library/core/src/prelude/mod.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/mod.rs
  library/core/src/task/wake.rs
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
  library/std/src/env.rs
  library/std/src/io/error.rs
  library/std/src/prelude/common.rs
  library/std/src/prelude/mod.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/ci/channel
  src/doc/rustc/src/check-cfg.md
  src/etc/installer/msi/rust.wxs
  src/tools/rustfmt/src/bin/main.rs
  tests/run-make/strip/hello.rs
  tests/run-make/strip/rmake.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, T-infra, merged-by-bors, T-libs, A-run-make

#134523 Run borrowck tests on BIDs and emit tail-expr-drop-order lints for violations
  compiler/rustc_borrowck/messages.ftl
  compiler/rustc_borrowck/src/diagnostics/explain_borrow.rs
  compiler/rustc_borrowck/src/diagnostics/mod.rs
  compiler/rustc_borrowck/src/diagnostics/region_name.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/session_diagnostics.rs
  compiler/rustc_mir_build/src/builder/scope.rs
  compiler/rustc_mir_transform/src/lint_tail_expr_drop_order.rs
  tests/mir-opt/tail_expr_drop_order_unwind.method_1.ElaborateDrops.after.panic-abort.mir
  tests/mir-opt/tail_expr_drop_order_unwind.method_1.ElaborateDrops.after.panic-unwind.mir
  tests/ui/drop/lint-tail-expr-drop-order-borrowck.rs
  tests/ui/drop/lint-tail-expr-drop-order-borrowck.stderr
  tests/ui/drop/lint-tail-expr-drop-order.rs
  tests/ui/drop/lint-tail-expr-drop-order.stderr
  tests/ui/drop/tail_expr_drop_order-on-coroutine-unwind.stderr
  tests/ui/drop/tail_expr_drop_order-on-recursive-boxed-fut.rs
  tests/ui/drop/tail_expr_drop_order-on-thread-local.rs
Labels: beta-nominated, T-compiler, S-waiting-on-bors, merged-by-bors, L-tail_expr_drop_order

#134228 Exhaustively handle expressions in patterns
  compiler/rustc_ast/src/ast.rs
  compiler/rustc_ast/src/mut_visit.rs
  compiler/rustc_ast/src/visit.rs
  compiler/rustc_ast_lowering/src/expr.rs
  compiler/rustc_ast_lowering/src/index.rs
  compiler/rustc_ast_lowering/src/lib.rs
  compiler/rustc_ast_lowering/src/pat.rs
  compiler/rustc_ast_pretty/src/pprust/state.rs
  compiler/rustc_expand/src/base.rs
  compiler/rustc_expand/src/build.rs
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir/src/intravisit.rs
  compiler/rustc_hir_analysis/src/check/region.rs
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_hir_pretty/src/lib.rs
  compiler/rustc_hir_typeck/src/expr.rs
  compiler/rustc_hir_typeck/src/expr_use_visitor.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/_impl.rs
  compiler/rustc_hir_typeck/src/method/confirm.rs
  compiler/rustc_hir_typeck/src/method/suggest.rs
  compiler/rustc_hir_typeck/src/pat.rs
  compiler/rustc_hir_typeck/src/upvar.rs
  compiler/rustc_hir_typeck/src/writeback.rs
  compiler/rustc_lint/src/unused.rs
  compiler/rustc_middle/src/hir/map/mod.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_parse/src/parser/pat.rs
  compiler/rustc_passes/src/input_stats.rs
  src/librustdoc/clean/utils.rs
  src/tools/clippy/clippy_lints/src/default_numeric_fallback.rs
  src/tools/clippy/clippy_lints/src/equatable_if_let.rs
  src/tools/clippy/clippy_lints/src/len_zero.rs
  src/tools/clippy/clippy_lints/src/manual_is_ascii_check.rs
  src/tools/clippy/clippy_lints/src/manual_range_patterns.rs
  src/tools/clippy/clippy_lints/src/matches/match_bool.rs
  src/tools/clippy/clippy_lints/src/matches/match_same_arms.rs
  src/tools/clippy/clippy_lints/src/matches/match_str_case_mismatch.rs
  src/tools/clippy/clippy_lints/src/matches/needless_match.rs
  src/tools/clippy/clippy_lints/src/matches/overlapping_arms.rs
  src/tools/clippy/clippy_lints/src/matches/redundant_pattern_match.rs
  src/tools/clippy/clippy_lints/src/matches/single_match.rs
  src/tools/clippy/clippy_lints/src/string_patterns.rs
  src/tools/clippy/clippy_lints/src/unnested_or_patterns.rs
  src/tools/clippy/clippy_lints/src/utils/author.rs
  src/tools/clippy/clippy_utils/src/ast_utils/mod.rs
  src/tools/clippy/clippy_utils/src/consts.rs
  src/tools/clippy/clippy_utils/src/hir_utils.rs
  src/tools/clippy/clippy_utils/src/lib.rs
  src/tools/clippy/tests/ui/author/if.stdout
  src/tools/clippy/tests/ui/author/loop.stdout
  src/tools/clippy/tests/ui/author/matches.stdout
  src/tools/clippy/tests/ui/author/struct.stdout
  src/tools/rustfmt/src/patterns.rs
  tests/ui/macros/stringify.rs
  tests/ui/pattern/patkind-litrange-no-expr.rs
  tests/ui/unpretty/expanded-exhaustive.rs
  tests/ui/unpretty/expanded-exhaustive.stdout
  tests/ui/unpretty/unpretty-expr-fn-arg.stdout
Labels: T-compiler, S-waiting-on-bors

#135194 triagebot: mark tidy changes with a more specific `A-tidy` label
  triagebot.toml
Labels: S-waiting-on-bors, A-meta

#135222 Ensure that we don't try to access fields on a non-struct pattern type
  compiler/rustc_resolve/src/late/diagnostics.rs
  tests/ui/pattern/struct-pattern-on-non-struct-resolve-error.rs
  tests/ui/pattern/struct-pattern-on-non-struct-resolve-error.stderr
  tests/ui/pattern/struct-pattern-with-missing-fields-resolve-error.rs
  tests/ui/pattern/struct-pattern-with-missing-fields-resolve-error.stderr
Labels: T-compiler, S-waiting-on-bors

#135250 A couple simple borrowck cleanups
  compiler/rustc_borrowck/src/consumers.rs
  compiler/rustc_borrowck/src/lib.rs
  compiler/rustc_borrowck/src/nll.rs
  compiler/rustc_borrowck/src/polonius/legacy/accesses.rs
  compiler/rustc_borrowck/src/polonius/legacy/facts.rs
  compiler/rustc_borrowck/src/polonius/legacy/loan_invalidations.rs
  compiler/rustc_borrowck/src/polonius/legacy/loan_kills.rs
  compiler/rustc_borrowck/src/polonius/legacy/location.rs
  compiler/rustc_borrowck/src/polonius/legacy/mod.rs
  compiler/rustc_borrowck/src/region_infer/mod.rs
  compiler/rustc_borrowck/src/region_infer/values.rs
  compiler/rustc_borrowck/src/type_check/liveness/local_use_map.rs
  compiler/rustc_borrowck/src/type_check/liveness/mod.rs
  compiler/rustc_borrowck/src/type_check/liveness/trace.rs
  compiler/rustc_borrowck/src/type_check/mod.rs
Labels: T-compiler, S-waiting-on-bors

#135252 Fix release notes link
  RELEASES.md
Labels: S-waiting-on-bors, T-release

#135253 Revert #131365
  src/bootstrap/src/core/build_steps/dist.rs
  src/etc/installer/msi/rust.wxs
Labels: T-bootstrap, S-waiting-on-bors

#128110 Suggest Replacing Comma with Semicolon in Incorrect Repeat Expressions
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_trait_selection/src/infer.rs
  tests/ui/repeat-expr/typo-in-repeat-expr-issue-80173.rs
  tests/ui/repeat-expr/typo-in-repeat-expr-issue-80173.stderr
Labels: T-compiler, S-waiting-on-bors

#134609 Add new `{x86_64,i686}-win7-windows-gnu` targets
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/i686_win7_windows_gnu.rs
  compiler/rustc_target/src/spec/targets/x86_64_win7_windows_gnu.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/win7-windows-gnu.md
  src/doc/rustc/src/platform-support/win7-windows-msvc.md
  tests/assembly/targets/targets-pe.rs
Labels: T-compiler, S-waiting-on-bors

#134875 Implement `const Destruct` in old solver
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/structural_traits.rs
  compiler/rustc_trait_selection/src/traits/effects.rs
  tests/ui/consts/fn_trait_refs.stderr
  tests/ui/consts/promoted_const_call.stderr
  tests/ui/impl-trait/normalize-tait-in-const.stderr
  tests/ui/traits/const-traits/const-drop-bound.rs
  tests/ui/traits/const-traits/const-drop-bound.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.precise.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.new_precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.new_stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.old_precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.old_stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.rs
Labels: T-compiler, S-waiting-on-bors, WG-trait-system-refactor

#135231 bootstrap: Add more comments to some of the test steps
  src/bootstrap/src/core/build_steps/test.rs
Labels: T-bootstrap, S-waiting-on-bors

#135256 Move `mod cargo` below the import statements
  src/bootstrap/src/core/builder/mod.rs
Labels: T-bootstrap, S-waiting-on-bors

#135277 Rollup of 6 pull requests
  compiler/rustc_hir/src/hir.rs
  compiler/rustc_hir_typeck/messages.ftl
  compiler/rustc_hir_typeck/src/demand.rs
  compiler/rustc_hir_typeck/src/errors.rs
  compiler/rustc_hir_typeck/src/fn_ctxt/suggestions.rs
  compiler/rustc_middle/src/ty/mod.rs
  compiler/rustc_middle/src/ty/sty.rs
  compiler/rustc_next_trait_solver/src/solve/assembly/structural_traits.rs
  compiler/rustc_target/src/spec/mod.rs
  compiler/rustc_target/src/spec/targets/i686_win7_windows_gnu.rs
  compiler/rustc_target/src/spec/targets/x86_64_win7_windows_gnu.rs
  compiler/rustc_trait_selection/src/infer.rs
  compiler/rustc_trait_selection/src/traits/effects.rs
  src/bootstrap/src/core/build_steps/test.rs
  src/bootstrap/src/core/builder/mod.rs
  src/doc/rustc/src/SUMMARY.md
  src/doc/rustc/src/platform-support.md
  src/doc/rustc/src/platform-support/win7-windows-gnu.md
  src/doc/rustc/src/platform-support/win7-windows-msvc.md
  src/tools/replace-version-placeholder/src/main.rs
  tests/assembly/targets/targets-pe.rs
  tests/ui/consts/fn_trait_refs.stderr
  tests/ui/consts/promoted_const_call.stderr
  tests/ui/impl-trait/normalize-tait-in-const.stderr
  tests/ui/repeat-expr/typo-in-repeat-expr-issue-80173.rs
  tests/ui/repeat-expr/typo-in-repeat-expr-issue-80173.stderr
  tests/ui/traits/const-traits/const-drop-bound.rs
  tests/ui/traits/const-traits/const-drop-bound.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.precise.stderr
  tests/ui/traits/const-traits/const-drop-fail-2.stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.new_precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.new_stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.old_precise.stderr
  tests/ui/traits/const-traits/const-drop-fail.old_stock.stderr
  tests/ui/traits/const-traits/const-drop-fail.rs
Labels: A-testsuite, T-compiler, T-bootstrap, S-waiting-on-bors, merged-by-bors, rollup, WG-trait-system-refactor

#133324 [mir-opt] GVN some more transmute cases
  compiler/rustc_mir_transform/src/gvn.rs
  compiler/rustc_mir_transform/src/instsimplify.rs
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.DataflowConstProp.32bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.DataflowConstProp.32bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.DataflowConstProp.64bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.DataflowConstProp.64bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.GVN.32bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.GVN.32bit.panic-unwind.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.GVN.64bit.panic-abort.diff
  tests/mir-opt/dataflow-const-prop/default_boxed_slice.main.GVN.64bit.panic-unwind.diff
  tests/mir-opt/gvn.aggregate_struct_then_transmute.GVN.panic-abort.diff
  tests/mir-opt/gvn.aggregate_struct_then_transmute.GVN.panic-unwind.diff
  tests/mir-opt/gvn.rs
  tests/mir-opt/gvn.transmute_then_cast_pointer.GVN.panic-abort.diff
  tests/mir-opt/gvn.transmute_then_cast_pointer.GVN.panic-unwind.diff
  tests/mir-opt/gvn.transmute_then_transmute_again.GVN.panic-abort.diff
  tests/mir-opt/gvn.transmute_then_transmute_again.GVN.panic-unwind.diff
  tests/mir-opt/inline/inline_shims.drop.Inline.panic-abort.diff
  tests/mir-opt/inline/issue_58867_inline_as_ref_as_mut.b.Inline.after.mir
  tests/mir-opt/inline/issue_58867_inline_as_ref_as_mut.d.Inline.after.mir
  tests/mir-opt/inline/unsized_argument.caller.Inline.diff
  tests/mir-opt/instsimplify/combine_transmutes.adt_transmutes.InstSimplify-after-simplifycfg.diff
  tests/mir-opt/instsimplify/combine_transmutes.keep_transparent_transmute.InstSimplify-after-simplifycfg.diff
  tests/mir-opt/instsimplify/combine_transmutes.rs
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.enumerated_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.forward_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/slice_iter.reverse_loop.PreCodegen.after.panic-unwind.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-abort.mir
  tests/mir-opt/pre-codegen/vec_deref.vec_deref_to_slice.PreCodegen.after.panic-unwind.mir
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, perf-regression, perf-regression-triaged

#135212 Remove outdated information in the `unreachable_pub` lint description
  compiler/rustc_lint/src/builtin.rs
Labels: T-compiler, S-waiting-on-bors

#135225 Explicitly build proc macro test with panic=unwind
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  tests/ui/invalid-compile-flags/crate-type-flag.rs
Labels: T-compiler, S-waiting-on-bors

#135242 add missing provenance APIs on NonNull
  library/core/src/ptr/non_null.rs
Labels: S-waiting-on-bors, T-libs

#135247 Add a list of symbols for stable standard library crates
  compiler/rustc_expand/src/config.rs
  compiler/rustc_hir_typeck/src/method/prelude_edition_lints.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
Labels: T-compiler, S-waiting-on-bors

#135269 Remove some unnecessary `.into()` calls
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_parse/src/parser/tests.rs
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/std/src/thread/mod.rs
Labels: T-compiler, S-waiting-on-bors, T-libs

#135279 Rollup of 5 pull requests
  compiler/rustc_codegen_cranelift/scripts/test_rustc_tests.sh
  compiler/rustc_expand/src/config.rs
  compiler/rustc_hir_analysis/src/check/wfcheck.rs
  compiler/rustc_hir_typeck/src/method/prelude_edition_lints.rs
  compiler/rustc_lint/src/builtin.rs
  compiler/rustc_parse/src/parser/tests.rs
  compiler/rustc_span/src/lib.rs
  compiler/rustc_span/src/symbol.rs
  compiler/rustc_trait_selection/src/error_reporting/traits/fulfillment_errors.rs
  compiler/rustc_trait_selection/src/traits/const_evaluatable.rs
  library/alloc/src/rc.rs
  library/alloc/src/sync.rs
  library/core/src/ptr/non_null.rs
  library/std/src/thread/mod.rs
  tests/ui/invalid-compile-flags/crate-type-flag.rs
Labels: T-compiler, S-waiting-on-bors, merged-by-bors, rollup, T-libs

#135268 Master bootstrap update
  compiler/rustc_ast/src/util/comments/tests.rs
  compiler/rustc_ast_passes/src/feature_gate.rs
  compiler/rustc_feature/src/accepted.rs
  compiler/rustc_feature/src/removed.rs
  compiler/rustc_feature/src/unstable.rs
  compiler/rustc_hir/src/tests.rs
  compiler/rustc_lint/src/tests.rs
  compiler/rustc_metadata/src/creader.rs
  compiler/rustc_metadata/src/rmeta/decoder.rs
  compiler/rustc_parse/src/parser/tests.rs
  compiler/rustc_parse/src/parser/tokenstream/tests.rs
  compiler/rustc_resolve/src/late/diagnostics.rs
  compiler/rustc_span/src/edit_distance/tests.rs
  library/alloc/src/boxed.rs
  library/alloc/src/lib.rs
  library/core/src/alloc/layout.rs
  library/core/src/arch.rs
  library/core/src/future/async_drop.rs
  library/core/src/hash/mod.rs
  library/core/src/intrinsics/mod.rs
  library/core/src/intrinsics/simd.rs
  library/core/src/iter/traits/collect.rs
  library/core/src/lib.rs
  library/core/src/marker.rs
  library/core/src/mem/maybe_uninit.rs
  library/core/src/mem/mod.rs
  library/core/src/mem/transmutability.rs
  library/core/src/num/f32.rs
  library/core/src/num/f64.rs
  library/core/src/num/mod.rs
  library/core/src/num/nonzero.rs
  library/core/src/ops/arith.rs
  library/core/src/ops/async_function.rs
  library/core/src/ops/deref.rs
  library/core/src/ops/drop.rs
  library/core/src/prelude/mod.rs
  library/core/src/ptr/metadata.rs
  library/core/src/ptr/mod.rs
  library/core/src/ptr/mut_ptr.rs
  library/core/src/ptr/non_null.rs
  library/core/src/slice/mod.rs
  library/core/src/task/wake.rs
  library/core/tests/ptr.rs
  library/std/src/collections/hash/map.rs
  library/std/src/collections/hash/set.rs
  library/std/src/env.rs
  library/std/src/io/error.rs
  library/std/src/prelude/common.rs
  library/std/src/prelude/mod.rs
  src/bootstrap/src/core/build_steps/check.rs
  src/bootstrap/src/core/build_steps/compile.rs
  src/bootstrap/src/core/build_steps/dist.rs
  src/bootstrap/src/core/build_steps/install.rs
  src/bootstrap/src/core/builder/cargo.rs
  src/bootstrap/src/core/builder/mod.rs
  src/bootstrap/src/core/config/config.rs
  src/bootstrap/src/lib.rs
  src/doc/rustc/src/check-cfg.md
  src/stage0
Labels: T-compiler, T-bootstrap, S-waiting-on-bors, T-release, merged-by-bors, T-libs

#134898 Make it easier to run CI jobs locally
  .github/workflows/ci.yml
  src/ci/docker/README.md
  src/ci/github-actions/ci.py
  src/ci/github-actions/jobs.yml
  src/doc/rustc-dev-guide/src/building/optimized-build.md
  src/doc/rustc-dev-guide/src/tests/ci.md
  src/doc/rustc-dev-guide/src/tests/docker.md
Labels: A-testsuite, S-waiting-on-bors, T-infra, A-rustc-dev-guide

#135195 Make `lit_to_mir_constant` and `lit_to_const` infallible
  compiler/rustc_hir_analysis/src/hir_ty_lowering/mod.rs
  compiler/rustc_middle/src/mir/interpret/mod.rs
  compiler/rustc_middle/src/query/erase.rs
  compiler/rustc_middle/src/query/mod.rs
  compiler/rustc_mir_build/src/builder/expr/as_constant.rs
  compiler/rustc_mir_build/src/thir/constant.rs
  compiler/rustc_mir_build/src/thir/pattern/mod.rs
  compiler/rustc_ty_utils/src/consts.rs
  tests/crashes/114317.rs
  tests/crashes/126182.rs
  tests/ui/const-generics/generic_const_exprs/lit_type_mismatch.rs
  tests/ui/const-generics/generic_const_exprs/lit_type_mismatch.stderr
  tests/ui/const-generics/min_const_generics/invalid-patterns.32bit.stderr
  tests/ui/const-generics/min_const_generics/invalid-patterns.64bit.stderr
  tests/ui/repeat-expr/repeat_count.stderr
Labels: T-compiler, S-waiting-on-bors
